<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ACC_CLUBBING_GROUP" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.ACC_CLUBBING_GROUPVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="CLUBBING_CODE" property="CLUBBING_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <result column="ADDITIONAL_REFERENCE" property="ADDITIONAL_REFERENCE" />
    <result column="BRIEF_DESC_ENG" property="BRIEF_DESC_ENG" />
    <result column="LONG_DESC_ENG" property="LONG_DESC_ENG" />
    <result column="BRIEF_DESC_AR" property="BRIEF_DESC_AR" />
    <result column="LONG_DESC_AR" property="LONG_DESC_AR" />
    <result column="MAX_ALLOWED_CIF_NO" property="MAX_ALLOWED_CIF_NO" />
    <result column="MAX_ALLOWED_ACC_NO" property="MAX_ALLOWED_ACC_NO" />
    <result column="COMMENTS" property="COMMENTS" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="CREATED_DATE" property="CREATED_DATE" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="MODIFIED_DATE" property="MODIFIED_DATE" />
    <result column="DELETED_BY" property="DELETED_BY" />
    <result column="DATE_DELETED" property="DATE_DELETED" />
    <result column="CLUBBING_OVERDRAFT_ACC" property="CLUBBING_OVERDRAFT_ACC" />
    <result column="DEBIT_RATE_GROUP_DEPOSIT_YN" property="DEBIT_RATE_GROUP_DEPOSIT_YN" />
  </resultMap>
  <sql id="Base_Column_List" >
    CLUBBING_CODE, COMP_CODE, ADDITIONAL_REFERENCE, BRIEF_DESC_ENG, LONG_DESC_ENG, 
    BRIEF_DESC_AR, LONG_DESC_AR, MAX_ALLOWED_CIF_NO, MAX_ALLOWED_ACC_NO, COMMENTS, CREATED_BY, 
    CREATED_DATE, MODIFIED_BY, MODIFIED_DATE, DELETED_BY, DATE_DELETED, CLUBBING_OVERDRAFT_ACC, 
    DEBIT_RATE_GROUP_DEPOSIT_YN
  </sql>
  <select id="selectACC_CLUBBING_GROUP" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.ACC_CLUBBING_GROUPVOKey" >
    select 
    <include refid="Base_Column_List" />
    from ACC_CLUBBING_GROUP
    where CLUBBING_CODE = #{CLUBBING_CODE}
      and COMP_CODE = #{COMP_CODE}
  </select>
  <delete id="deleteACC_CLUBBING_GROUP" parameterType="com.path.dbmaps.vo.ACC_CLUBBING_GROUPVOKey" >
    delete from ACC_CLUBBING_GROUP
    where CLUBBING_CODE = #{CLUBBING_CODE}
      and COMP_CODE = #{COMP_CODE}
  </delete>
  <insert id="insertACC_CLUBBING_GROUP" parameterType="com.path.dbmaps.vo.ACC_CLUBBING_GROUPVO" >
    insert into ACC_CLUBBING_GROUP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="CLUBBING_CODE != null and CLUBBING_CODE != emptyBigDecimalValue" >
        CLUBBING_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="ADDITIONAL_REFERENCE != null and !&quot;&quot;.equals(ADDITIONAL_REFERENCE)" >
        ADDITIONAL_REFERENCE,
      </if>
      <if test="BRIEF_DESC_ENG != null and !&quot;&quot;.equals(BRIEF_DESC_ENG)" >
        BRIEF_DESC_ENG,
      </if>
      <if test="LONG_DESC_ENG != null and !&quot;&quot;.equals(LONG_DESC_ENG)" >
        LONG_DESC_ENG,
      </if>
      <if test="BRIEF_DESC_AR != null and !&quot;&quot;.equals(BRIEF_DESC_AR)" >
        BRIEF_DESC_AR,
      </if>
      <if test="LONG_DESC_AR != null and !&quot;&quot;.equals(LONG_DESC_AR)" >
        LONG_DESC_AR,
      </if>
      <if test="MAX_ALLOWED_CIF_NO != null and MAX_ALLOWED_CIF_NO != emptyBigDecimalValue" >
        MAX_ALLOWED_CIF_NO,
      </if>
      <if test="MAX_ALLOWED_ACC_NO != null and MAX_ALLOWED_ACC_NO != emptyBigDecimalValue" >
        MAX_ALLOWED_ACC_NO,
      </if>
      <if test="COMMENTS != null and !&quot;&quot;.equals(COMMENTS)" >
        COMMENTS,
      </if>
      <if test="CREATED_BY != null and !&quot;&quot;.equals(CREATED_BY)" >
        CREATED_BY,
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE,
      </if>
      <if test="MODIFIED_BY != null and !&quot;&quot;.equals(MODIFIED_BY)" >
        MODIFIED_BY,
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE,
      </if>
      <if test="DELETED_BY != null and !&quot;&quot;.equals(DELETED_BY)" >
        DELETED_BY,
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED,
      </if>
      <if test="CLUBBING_OVERDRAFT_ACC != null and !&quot;&quot;.equals(CLUBBING_OVERDRAFT_ACC)" >
        CLUBBING_OVERDRAFT_ACC,
      </if>
      <if test="DEBIT_RATE_GROUP_DEPOSIT_YN != null and !&quot;&quot;.equals(DEBIT_RATE_GROUP_DEPOSIT_YN)" >
        DEBIT_RATE_GROUP_DEPOSIT_YN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="CLUBBING_CODE != null and CLUBBING_CODE != emptyBigDecimalValue" >
        #{CLUBBING_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="ADDITIONAL_REFERENCE != null and !&quot;&quot;.equals(ADDITIONAL_REFERENCE)" >
        #{ADDITIONAL_REFERENCE},
      </if>
      <if test="BRIEF_DESC_ENG != null and !&quot;&quot;.equals(BRIEF_DESC_ENG)" >
        #{BRIEF_DESC_ENG},
      </if>
      <if test="LONG_DESC_ENG != null and !&quot;&quot;.equals(LONG_DESC_ENG)" >
        #{LONG_DESC_ENG},
      </if>
      <if test="BRIEF_DESC_AR != null and !&quot;&quot;.equals(BRIEF_DESC_AR)" >
        #{BRIEF_DESC_AR},
      </if>
      <if test="LONG_DESC_AR != null and !&quot;&quot;.equals(LONG_DESC_AR)" >
        #{LONG_DESC_AR},
      </if>
      <if test="MAX_ALLOWED_CIF_NO != null and MAX_ALLOWED_CIF_NO != emptyBigDecimalValue" >
        #{MAX_ALLOWED_CIF_NO},
      </if>
      <if test="MAX_ALLOWED_ACC_NO != null and MAX_ALLOWED_ACC_NO != emptyBigDecimalValue" >
        #{MAX_ALLOWED_ACC_NO},
      </if>
      <if test="COMMENTS != null and !&quot;&quot;.equals(COMMENTS)" >
        #{COMMENTS},
      </if>
      <if test="CREATED_BY != null and !&quot;&quot;.equals(CREATED_BY)" >
        #{CREATED_BY},
      </if>
      <if test="CREATED_DATE != null" >
        #{CREATED_DATE},
      </if>
      <if test="MODIFIED_BY != null and !&quot;&quot;.equals(MODIFIED_BY)" >
        #{MODIFIED_BY},
      </if>
      <if test="MODIFIED_DATE != null" >
        #{MODIFIED_DATE},
      </if>
      <if test="DELETED_BY != null and !&quot;&quot;.equals(DELETED_BY)" >
        #{DELETED_BY},
      </if>
      <if test="DATE_DELETED != null" >
        #{DATE_DELETED},
      </if>
      <if test="CLUBBING_OVERDRAFT_ACC != null and !&quot;&quot;.equals(CLUBBING_OVERDRAFT_ACC)" >
        #{CLUBBING_OVERDRAFT_ACC},
      </if>
      <if test="DEBIT_RATE_GROUP_DEPOSIT_YN != null and !&quot;&quot;.equals(DEBIT_RATE_GROUP_DEPOSIT_YN)" >
        #{DEBIT_RATE_GROUP_DEPOSIT_YN},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateACC_CLUBBING_GROUP" >
    update ACC_CLUBBING_GROUP
    <set >
      <if test="ADDITIONAL_REFERENCE != null" >
        <choose >
          <when test="ADDITIONAL_REFERENCE.equals(&quot;&quot;)" >
            ADDITIONAL_REFERENCE = NULL ,
          </when>
          <otherwise >
            ADDITIONAL_REFERENCE = #{ADDITIONAL_REFERENCE},
          </otherwise>
        </choose>
      </if>
      <if test="BRIEF_DESC_ENG != null" >
        <choose >
          <when test="BRIEF_DESC_ENG.equals(&quot;&quot;)" >
            BRIEF_DESC_ENG = NULL ,
          </when>
          <otherwise >
            BRIEF_DESC_ENG = #{BRIEF_DESC_ENG},
          </otherwise>
        </choose>
      </if>
      <if test="LONG_DESC_ENG != null" >
        <choose >
          <when test="LONG_DESC_ENG.equals(&quot;&quot;)" >
            LONG_DESC_ENG = NULL ,
          </when>
          <otherwise >
            LONG_DESC_ENG = #{LONG_DESC_ENG},
          </otherwise>
        </choose>
      </if>
      <if test="BRIEF_DESC_AR != null" >
        <choose >
          <when test="BRIEF_DESC_AR.equals(&quot;&quot;)" >
            BRIEF_DESC_AR = NULL ,
          </when>
          <otherwise >
            BRIEF_DESC_AR = #{BRIEF_DESC_AR},
          </otherwise>
        </choose>
      </if>
      <if test="LONG_DESC_AR != null" >
        <choose >
          <when test="LONG_DESC_AR.equals(&quot;&quot;)" >
            LONG_DESC_AR = NULL ,
          </when>
          <otherwise >
            LONG_DESC_AR = #{LONG_DESC_AR},
          </otherwise>
        </choose>
      </if>
      <if test="MAX_ALLOWED_CIF_NO != null" >
        <choose >
          <when test="MAX_ALLOWED_CIF_NO == emptyBigDecimalValue" >
            MAX_ALLOWED_CIF_NO = NULL ,
          </when>
          <otherwise >
            MAX_ALLOWED_CIF_NO = #{MAX_ALLOWED_CIF_NO},
          </otherwise>
        </choose>
      </if>
      <if test="MAX_ALLOWED_ACC_NO != null" >
        <choose >
          <when test="MAX_ALLOWED_ACC_NO == emptyBigDecimalValue" >
            MAX_ALLOWED_ACC_NO = NULL ,
          </when>
          <otherwise >
            MAX_ALLOWED_ACC_NO = #{MAX_ALLOWED_ACC_NO},
          </otherwise>
        </choose>
      </if>
      <if test="COMMENTS != null" >
        <choose >
          <when test="COMMENTS.equals(&quot;&quot;)" >
            COMMENTS = NULL ,
          </when>
          <otherwise >
            COMMENTS = #{COMMENTS},
          </otherwise>
        </choose>
      </if>
      <if test="CREATED_BY != null" >
        <choose >
          <when test="CREATED_BY.equals(&quot;&quot;)" >
            CREATED_BY = NULL ,
          </when>
          <otherwise >
            CREATED_BY = #{CREATED_BY},
          </otherwise>
        </choose>
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE = #{CREATED_DATE},
      </if>
      <if test="MODIFIED_BY != null" >
        <choose >
          <when test="MODIFIED_BY.equals(&quot;&quot;)" >
            MODIFIED_BY = NULL ,
          </when>
          <otherwise >
            MODIFIED_BY = #{MODIFIED_BY},
          </otherwise>
        </choose>
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE = #{MODIFIED_DATE},
      </if>
      <if test="DELETED_BY != null" >
        <choose >
          <when test="DELETED_BY.equals(&quot;&quot;)" >
            DELETED_BY = NULL ,
          </when>
          <otherwise >
            DELETED_BY = #{DELETED_BY},
          </otherwise>
        </choose>
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED = #{DATE_DELETED},
      </if>
      <if test="CLUBBING_OVERDRAFT_ACC != null" >
        <choose >
          <when test="CLUBBING_OVERDRAFT_ACC.equals(&quot;&quot;)" >
            CLUBBING_OVERDRAFT_ACC = NULL ,
          </when>
          <otherwise >
            CLUBBING_OVERDRAFT_ACC = #{CLUBBING_OVERDRAFT_ACC},
          </otherwise>
        </choose>
      </if>
      <if test="DEBIT_RATE_GROUP_DEPOSIT_YN != null" >
        <choose >
          <when test="DEBIT_RATE_GROUP_DEPOSIT_YN.equals(&quot;&quot;)" >
            DEBIT_RATE_GROUP_DEPOSIT_YN = NULL ,
          </when>
          <otherwise >
            DEBIT_RATE_GROUP_DEPOSIT_YN = #{DEBIT_RATE_GROUP_DEPOSIT_YN},
          </otherwise>
        </choose>
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and CLUBBING_CODE = #{CLUBBING_CODE}
      and COMP_CODE = #{COMP_CODE}
  </sql>
  <update id="updateACC_CLUBBING_GROUP" parameterType="com.path.dbmaps.vo.ACC_CLUBBING_GROUPVO" >
    <include refid="sql_updateACC_CLUBBING_GROUP" />
  </update>
</mapper>