<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ACC_NV_ADVICE" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.ACC_NV_ADVICEVO" >
    <id column="ADVICE_ID" property="ADVICE_ID" />
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <result column="PRINTING_LEVEL" property="PRINTING_LEVEL" />
    <result column="ENG_REP_ID" property="ENG_REP_ID" />
    <result column="ENG_ARG_ID" property="ENG_ARG_ID" />
    <result column="ARAB_REP_ID" property="ARAB_REP_ID" />
    <result column="ARAB_ARG_ID" property="ARAB_ARG_ID" />
    <result column="ENG_MESSAGE" property="ENG_MESSAGE" />
    <result column="ARAB_MESSAGE" property="ARAB_MESSAGE" />
    <result column="ENG_REP_ID_NCOPIES" property="ENG_REP_ID_NCOPIES" />
    <result column="ARAB_REP_ID_NCOPIES" property="ARAB_REP_ID_NCOPIES" />
  </resultMap>
  <sql id="Base_Column_List" >
    ADVICE_ID, BRANCH_CODE, COMP_CODE, PRINTING_LEVEL, ENG_REP_ID, ENG_ARG_ID, ARAB_REP_ID, 
    ARAB_ARG_ID, ENG_MESSAGE, ARAB_MESSAGE,ENG_REP_ID_NCOPIES,ARAB_REP_ID_NCOPIES
  </sql>
  <select id="selectACC_NV_ADVICE" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.ACC_NV_ADVICEVOKey" >
    select 
    <include refid="Base_Column_List" />
    from ACC_NV_ADVICE
    where ADVICE_ID = #{ADVICE_ID}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
  </select>
  <delete id="deleteACC_NV_ADVICE" parameterType="com.path.dbmaps.vo.ACC_NV_ADVICEVOKey" >
    delete from ACC_NV_ADVICE
    where ADVICE_ID = #{ADVICE_ID}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
  </delete>
  <insert id="insertACC_NV_ADVICE" parameterType="com.path.dbmaps.vo.ACC_NV_ADVICEVO" >
    insert into ACC_NV_ADVICE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ADVICE_ID != null and ADVICE_ID != emptyBigDecimalValue" >
        ADVICE_ID,
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="PRINTING_LEVEL != null" >
        PRINTING_LEVEL,
      </if>
      <if test="ENG_REP_ID != null and ENG_REP_ID != emptyBigDecimalValue" >
        ENG_REP_ID,
      </if>
      <if test="ENG_ARG_ID != null and ENG_ARG_ID != emptyBigDecimalValue" >
        ENG_ARG_ID,
      </if>
      <if test="ARAB_REP_ID != null and ARAB_REP_ID != emptyBigDecimalValue" >
        ARAB_REP_ID,
      </if>
      <if test="ARAB_ARG_ID != null and ARAB_ARG_ID != emptyBigDecimalValue" >
        ARAB_ARG_ID,
      </if>
      <if test="ENG_MESSAGE != null" >
        ENG_MESSAGE,
      </if>
      <if test="ARAB_MESSAGE != null" >
        ARAB_MESSAGE,
      </if>
      <if test="ENG_REP_ID_NCOPIES != null and ENG_REP_ID_NCOPIES != emptyBigDecimalValue" >
        ENG_REP_ID_NCOPIES,
      </if>
     <if test="ARAB_REP_ID_NCOPIES != null and ARAB_REP_ID_NCOPIES != emptyBigDecimalValue" >
        ARAB_REP_ID_NCOPIES,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ADVICE_ID != null and ADVICE_ID != emptyBigDecimalValue" >
        #{ADVICE_ID},
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="PRINTING_LEVEL != null" >
        #{PRINTING_LEVEL},
      </if>
      <if test="ENG_REP_ID != null and ENG_REP_ID != emptyBigDecimalValue" >
        #{ENG_REP_ID},
      </if>
      <if test="ENG_ARG_ID != null and ENG_ARG_ID != emptyBigDecimalValue" >
        #{ENG_ARG_ID},
      </if>
      <if test="ARAB_REP_ID != null and ARAB_REP_ID != emptyBigDecimalValue" >
        #{ARAB_REP_ID},
      </if>
      <if test="ARAB_ARG_ID != null and ARAB_ARG_ID != emptyBigDecimalValue" >
        #{ARAB_ARG_ID},
      </if>
      <if test="ENG_MESSAGE != null" >
        #{ENG_MESSAGE},
      </if>
      <if test="ARAB_MESSAGE != null" >
        #{ARAB_MESSAGE},
      </if>
      <if test="ENG_REP_ID_NCOPIES != null and ENG_REP_ID_NCOPIES != emptyBigDecimalValue" >
        #{ENG_REP_ID_NCOPIES},
      </if>
      <if test="ARAB_REP_ID_NCOPIES != null and ARAB_REP_ID_NCOPIES != emptyBigDecimalValue" >
        #{ARAB_REP_ID_NCOPIES},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateACC_NV_ADVICE" >
    update ACC_NV_ADVICE
    <set >
      <if test="PRINTING_LEVEL != null" >
        PRINTING_LEVEL = #{PRINTING_LEVEL},
      </if>
      <if test="ENG_REP_ID != null" >
        <choose >
          <when test="ENG_REP_ID == emptyBigDecimalValue" >
            ENG_REP_ID = NULL ,
          </when>
          <otherwise >
            ENG_REP_ID = #{ENG_REP_ID},
          </otherwise>
        </choose>
      </if>
      <if test="ENG_ARG_ID != null" >
        <choose >
          <when test="ENG_ARG_ID == emptyBigDecimalValue" >
            ENG_ARG_ID = NULL ,
          </when>
          <otherwise >
            ENG_ARG_ID = #{ENG_ARG_ID},
          </otherwise>
        </choose>
      </if>
      <if test="ARAB_REP_ID != null" >
        <choose >
          <when test="ARAB_REP_ID == emptyBigDecimalValue" >
            ARAB_REP_ID = NULL ,
          </when>
          <otherwise >
            ARAB_REP_ID = #{ARAB_REP_ID},
          </otherwise>
        </choose>
      </if>
      <if test="ARAB_ARG_ID != null" >
        <choose >
          <when test="ARAB_ARG_ID == emptyBigDecimalValue" >
            ARAB_ARG_ID = NULL ,
          </when>
          <otherwise >
            ARAB_ARG_ID = #{ARAB_ARG_ID},
          </otherwise>
        </choose>
      </if>
      <if test="ENG_MESSAGE != null" >
        ENG_MESSAGE = #{ENG_MESSAGE},
      </if>
      <if test="ARAB_MESSAGE != null" >
        ARAB_MESSAGE = #{ARAB_MESSAGE},
      </if>
      <if test="ENG_REP_ID_NCOPIES != null" >
        <choose >
          <when test="ENG_REP_ID_NCOPIES == emptyBigDecimalValue" >
            ENG_REP_ID_NCOPIES = NULL ,
          </when>
          <otherwise >
            ENG_REP_ID_NCOPIES = #{ENG_REP_ID_NCOPIES},
          </otherwise>
        </choose>
      </if>
      <if test="ARAB_REP_ID_NCOPIES != null" >
        <choose >
          <when test="ARAB_REP_ID_NCOPIES == emptyBigDecimalValue" >
            ARAB_REP_ID_NCOPIES = NULL ,
          </when>
          <otherwise >
            ARAB_REP_ID_NCOPIES = #{ARAB_REP_ID_NCOPIES},
          </otherwise>
        </choose>
      </if>
    </set>
    where ADVICE_ID = #{ADVICE_ID}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
  </sql>
  <update id="updateACC_NV_ADVICE" parameterType="com.path.dbmaps.vo.ACC_NV_ADVICEVO" >
    <include refid="sql_updateACC_NV_ADVICE" />
  </update>
</mapper>