<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AMF_EXTENDED" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.AMF_EXTENDEDVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="CIF_SUB_NO" property="CIF_SUB_NO" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="CURRENCY_CODE" property="CURRENCY_CODE" />
    <id column="GL_CODE" property="GL_CODE" />
    <id column="SL_NO" property="SL_NO" />
    <result column="CLOSING_TRS_NO" property="CLOSING_TRS_NO" />
    <result column="CLOSING_TRS_BR" property="CLOSING_TRS_BR" />
    <result column="RESET_RATE_MATURITY" property="RESET_RATE_MATURITY" />
    <result column="APP_TAX_CAP_REV" property="APP_TAX_CAP_REV" />
    <result column="TAX_RATE_CAP_REV" property="TAX_RATE_CAP_REV" />
    <result column="ADVANCE_PROFIT" property="ADVANCE_PROFIT" />
    <result column="ADVANCE_PROFIT_PERCENTAGE" property="ADVANCE_PROFIT_PERCENTAGE" />
    <result column="ADVANCE_PROFIT_YN" property="ADVANCE_PROFIT_YN" />
    <result column="DEDUCTION_METHOD" property="DEDUCTION_METHOD" />
    <result column="DEDUCTION_PERIODICITY" property="DEDUCTION_PERIODICITY" />
    <result column="DORMANT_DATE" property="DORMANT_DATE" />
    <result column="DATE_POSTED_CHARGE" property="DATE_POSTED_CHARGE" />
    <result column="PROFIT_CHARGE_BAL" property="PROFIT_CHARGE_BAL" />
    <result column="REASON_CHANGE_STATUS" property="REASON_CHANGE_STATUS" />
    <result column="DEBIT_ACCRUALS_GRACE_PRD" property="DEBIT_ACCRUALS_GRACE_PRD" />
    <result column="FULL_NAME_ARAB" property="FULL_NAME_ARAB" />
    <result column="FULL_NAME_ENG" property="FULL_NAME_ENG" />
    <result column="CV_HUNTING_BLOCK" property="CV_HUNTING_BLOCK" />
    <result column="FC_HUNTING_BLOCK" property="FC_HUNTING_BLOCK" />
    <result column="REJECTION_REASON" property="REJECTION_REASON" />
    <result column="IJARA_ENDING_PERIODICITY" property="IJARA_ENDING_PERIODICITY" />
    <result column="NEXT_PROFIT_DECL_DATE" property="NEXT_PROFIT_DECL_DATE" />
    <result column="PROFIT_DECL_AMOUNT" property="PROFIT_DECL_AMOUNT" />
    <result column="PROFIT_DECL_DATE" property="PROFIT_DECL_DATE" />
    <result column="PROFIT_DECL_PERIOD_FRQ" property="PROFIT_DECL_PERIOD_FRQ" />
    <result column="PROFIT_DECL_PERIOD_NO" property="PROFIT_DECL_PERIOD_NO" />
    <result column="PSR_AMOUNT" property="PSR_AMOUNT" />
    <result column="PSR_RATE" property="PSR_RATE" />
    <result column="OLD_PSR_AMOUNT" property="OLD_PSR_AMOUNT" />
    <result column="PROFIT_DECL_PERIOD_FREQ" property="PROFIT_DECL_PERIOD_FREQ" />
    <result column="IJARAH_ASSET_VALUE" property="IJARAH_ASSET_VALUE" />
    <result column="EXPRESS_CASH_PDATE" property="EXPRESS_CASH_PDATE" />
    <result column="EXEMPT_FULL_CHARGE_WAIVER_YN" property="EXEMPT_FULL_CHARGE_WAIVER_YN" />
    <result column="CREATED_BRANCH" property="CREATED_BRANCH" />
    <result column="ORIGIN_DR_PT_RATE" property="ORIGIN_DR_PT_RATE" />
    <result column="ORIGIN_CR_PT_RATE" property="ORIGIN_CR_PT_RATE" /> 
    <result column="ACC_TIER_NO" property="ACC_TIER_NO" />
    <result column="SUB_STATUS" property="SUB_STATUS" />
    <result column="ADVANCE_PROFIT_PAY_YN" property="ADVANCE_PROFIT_PAY_YN" />
    <result column="ADVANCE_PROFIT_PAY_ADJUST" property="ADVANCE_PROFIT_PAY_ADJUST" />
    <result column="ADVANCE_PROFIT_PAY_BR" property="ADVANCE_PROFIT_PAY_BR" />
    <result column="ADVANCE_PROFIT_PAY_CY" property="ADVANCE_PROFIT_PAY_CY" />
    <result column="ADVANCE_PROFIT_PAY_GL" property="ADVANCE_PROFIT_PAY_GL" />
    <result column="ADVANCE_PROFIT_PAY_CIF" property="ADVANCE_PROFIT_PAY_CIF" />
    <result column="ADVANCE_PROFIT_PAY_SL" property="ADVANCE_PROFIT_PAY_SL" />
    <result column="EXEMPTED_FROM_FILER_EXPIRY_DTE" property="EXEMPTED_FROM_FILER_EXPIRY_DTE" />
    <result column="EXEMPTED_FROM_FILER_REASON" property="EXEMPTED_FROM_FILER_REASON" />
    <result column="EXEMPTED_FROM_FILER_TAX_YN" property="EXEMPTED_FROM_FILER_TAX_YN" />
    <result column="EXEMPTED_FROM_VAT_YN" property="EXEMPTED_FROM_VAT_YN" />
    <result column="EXEMPTED_FROM_ZAKAT_YN" property="EXEMPTED_FROM_ZAKAT_YN" />
    <result column="ZAKAT_EXEMPTION_REASON" property="ZAKAT_EXEMPTION_REASON" />
    <result column="NET_RETURN_RATE" property="NET_RETURN_RATE" />
    <result column="DISTIBUTION_PERIODICITY" property="DISTIBUTION_PERIODICITY" />
    <result column="PT_ACCOUNT_SIGN" property="PT_ACCOUNT_SIGN" />
    <result column="PT_ACCRUED_COLLECTION_FEE" property="PT_ACCRUED_COLLECTION_FEE" />
    <result column="PT_ACCRUED_COMMISSION_CAPITAL" property="PT_ACCRUED_COMMISSION_CAPITAL" />
    <result column="PT_ACCRUED_MAX_OVERDRAW_PERC" property="PT_ACCRUED_MAX_OVERDRAW_PERC" />
    <result column="PT_ACCRUED_TAX_PERC" property="PT_ACCRUED_TAX_PERC" />
    <result column="PT_DEBIT_METHOD" property="PT_DEBIT_METHOD" />
    <result column="PT_DEBIT_METHOD_DAYS" property="PT_DEBIT_METHOD_DAYS" />
    <result column="ACC_RENEWAL_AFFECT" property="ACC_RENEWAL_AFFECT" />
    <result column="RENEW_SAME_ACC_YN" property="RENEW_SAME_ACC_YN" />
    <result column="REFUND_BR" property="REFUND_BR" />
    <result column="REFUND_CY" property="REFUND_CY" />
    <result column="REFUND_GL" property="REFUND_GL" />
    <result column="REFUND_CIF" property="REFUND_CIF" />
    <result column="REFUND_SL" property="REFUND_SL" />
    <result column="FACILITY_LINK_DATE" property="FACILITY_LINK_DATE" />
    <result column="ESTATEMENT_PWD_PROTECTED_YN" property="ESTATEMENT_PWD_PROTECTED_YN" />
    <result column="UPDATE_BILLS" property="UPDATE_BILLS" />
    <result column="DUES_SETTLE_ACC_GL" property="DUES_SETTLE_ACC_GL" />
    <result column="DUES_SETTLE_ACC_SL" property="DUES_SETTLE_ACC_SL" /> 
    <result column="SUSPENSE_ACC_GL" property="SUSPENSE_ACC_GL" />
    <result column="SUSPENSE_ACC_SL" property="SUSPENSE_ACC_SL" />
    <result column="GENERATE_QR_CODE_YN" property="GENERATE_QR_CODE_YN" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, CIF_SUB_NO, COMP_CODE, CURRENCY_CODE, GL_CODE, SL_NO, CLOSING_TRS_NO, 
    CLOSING_TRS_BR, RESET_RATE_MATURITY, APP_TAX_CAP_REV, TAX_RATE_CAP_REV, ADVANCE_PROFIT, 
    ADVANCE_PROFIT_PERCENTAGE, ADVANCE_PROFIT_YN, DEDUCTION_METHOD, DEDUCTION_PERIODICITY, 
    DORMANT_DATE, DATE_POSTED_CHARGE, PROFIT_CHARGE_BAL, REASON_CHANGE_STATUS, DEBIT_ACCRUALS_GRACE_PRD, 
    FULL_NAME_ARAB, FULL_NAME_ENG, CV_HUNTING_BLOCK, FC_HUNTING_BLOCK, REJECTION_REASON, 
    IJARA_ENDING_PERIODICITY, NEXT_PROFIT_DECL_DATE, PROFIT_DECL_AMOUNT, PROFIT_DECL_DATE, 
    PROFIT_DECL_PERIOD_FRQ, PROFIT_DECL_PERIOD_NO, PSR_AMOUNT, PSR_RATE, OLD_PSR_AMOUNT, 
    PROFIT_DECL_PERIOD_FREQ, IJARAH_ASSET_VALUE, EXPRESS_CASH_PDATE, EXEMPT_FULL_CHARGE_WAIVER_YN, CREATED_BRANCH,
    ORIGIN_CR_PT_RATE, ORIGIN_DR_PT_RATE, SUB_STATUS, ADVANCE_PROFIT_PAY_YN, ADVANCE_PROFIT_PAY_ADJUST, ADVANCE_PROFIT_PAY_BR, ADVANCE_PROFIT_PAY_CY,
    ADVANCE_PROFIT_PAY_GL, ADVANCE_PROFIT_PAY_CIF, ADVANCE_PROFIT_PAY_SL, EXEMPTED_FROM_FILER_EXPIRY_DTE, EXEMPTED_FROM_FILER_REASON, EXEMPTED_FROM_FILER_TAX_YN,
    EXEMPTED_FROM_VAT_YN,EXEMPTED_FROM_ZAKAT_YN,ZAKAT_EXEMPTION_REASON,NET_RETURN_RATE,
    FULL_NAME_ARAB, FULL_NAME_ENG, CV_HUNTING_BLOCK, FC_HUNTING_BLOCK, DISTIBUTION_PERIODICITY, 
    PT_ACCOUNT_SIGN, PT_ACCRUED_COLLECTION_FEE, PT_ACCRUED_COMMISSION_CAPITAL, PT_ACCRUED_MAX_OVERDRAW_PERC, 
    PT_ACCRUED_TAX_PERC, PT_DEBIT_METHOD, PT_DEBIT_METHOD_DAYS, ACC_RENEWAL_AFFECT, RENEW_SAME_ACC_YN,
    REFUND_BR, REFUND_CY, REFUND_GL, REFUND_CIF, REFUND_SL, FACILITY_LINK_DATE, ESTATEMENT_PWD_PROTECTED_YN,
    UPDATE_BILLS, DUES_SETTLE_ACC_GL, DUES_SETTLE_ACC_SL, SUSPENSE_ACC_GL , SUSPENSE_ACC_SL, GENERATE_QR_CODE_YN 
  </sql>
  <select id="selectAMF_EXTENDED" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.AMF_EXTENDEDVOKey" >
    select 
    <include refid="Base_Column_List" />
    from AMF_EXTENDED
    where BRANCH_CODE = #{BRANCH_CODE}
      and CIF_SUB_NO = #{CIF_SUB_NO}
      and COMP_CODE = #{COMP_CODE}
      and CURRENCY_CODE = #{CURRENCY_CODE}
      and GL_CODE = #{GL_CODE}
      and SL_NO = #{SL_NO}
  </select>
  <delete id="deleteAMF_EXTENDED" parameterType="com.path.dbmaps.vo.AMF_EXTENDEDVOKey" >
    delete from AMF_EXTENDED
    where BRANCH_CODE = #{BRANCH_CODE}
      and CIF_SUB_NO = #{CIF_SUB_NO}
      and COMP_CODE = #{COMP_CODE}
      and CURRENCY_CODE = #{CURRENCY_CODE}
      and GL_CODE = #{GL_CODE}
      and SL_NO = #{SL_NO}
  </delete>
  <insert id="insertAMF_EXTENDED" parameterType="com.path.dbmaps.vo.AMF_EXTENDEDVO" >
    insert into AMF_EXTENDED
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="CIF_SUB_NO != null and CIF_SUB_NO != emptyBigDecimalValue" >
        CIF_SUB_NO,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        CURRENCY_CODE,
      </if>
      <if test="GL_CODE != null and GL_CODE != emptyBigDecimalValue" >
        GL_CODE,
      </if>
      <if test="SL_NO != null and SL_NO != emptyBigDecimalValue" >
        SL_NO,
      </if>
      <if test="CLOSING_TRS_NO != null and CLOSING_TRS_NO != emptyBigDecimalValue" >
        CLOSING_TRS_NO,
      </if>
      <if test="CLOSING_TRS_BR != null and CLOSING_TRS_BR != emptyBigDecimalValue" >
        CLOSING_TRS_BR,
      </if>
      <if test="RESET_RATE_MATURITY != null" >
        RESET_RATE_MATURITY,
      </if>
      <if test="APP_TAX_CAP_REV != null" >
        APP_TAX_CAP_REV,
      </if>
      <if test="TAX_RATE_CAP_REV != null and TAX_RATE_CAP_REV != emptyBigDecimalValue" >
        TAX_RATE_CAP_REV,
      </if>
      <if test="ADVANCE_PROFIT != null" >
        ADVANCE_PROFIT,
      </if>
      <if test="ADVANCE_PROFIT_PERCENTAGE != null and ADVANCE_PROFIT_PERCENTAGE != emptyBigDecimalValue" >
        ADVANCE_PROFIT_PERCENTAGE,
      </if>
      <if test="ADVANCE_PROFIT_YN != null" >
        ADVANCE_PROFIT_YN,
      </if>
      <if test="DEDUCTION_METHOD != null" >
        DEDUCTION_METHOD,
      </if>
      <if test="DEDUCTION_PERIODICITY != null and DEDUCTION_PERIODICITY != emptyBigDecimalValue" >
        DEDUCTION_PERIODICITY,
      </if>
      <if test="DORMANT_DATE != null" >
        DORMANT_DATE,
      </if>
      <if test="DATE_POSTED_CHARGE != null" >
        DATE_POSTED_CHARGE,
      </if>
      <if test="PROFIT_CHARGE_BAL != null and PROFIT_CHARGE_BAL != emptyBigDecimalValue" >
        PROFIT_CHARGE_BAL,
      </if>
      <if test="REASON_CHANGE_STATUS != null" >
        REASON_CHANGE_STATUS,
      </if>
      <if test="DEBIT_ACCRUALS_GRACE_PRD != null and DEBIT_ACCRUALS_GRACE_PRD != emptyBigDecimalValue" >
        DEBIT_ACCRUALS_GRACE_PRD,
      </if>
      <if test="FULL_NAME_ARAB != null" >
        FULL_NAME_ARAB,
      </if>
      <if test="FULL_NAME_ENG != null" >
        FULL_NAME_ENG,
      </if>
      <if test="CV_HUNTING_BLOCK != null and CV_HUNTING_BLOCK != emptyBigDecimalValue" >
        CV_HUNTING_BLOCK,
      </if>
      <if test="FC_HUNTING_BLOCK != null and FC_HUNTING_BLOCK != emptyBigDecimalValue" >
        FC_HUNTING_BLOCK,
      </if>
      <if test="DISTIBUTION_PERIODICITY != null" >
        DISTIBUTION_PERIODICITY,
      </if>
      <if test="PT_ACCOUNT_SIGN != null" >
        PT_ACCOUNT_SIGN,
      </if>
      <if test="PT_ACCRUED_COLLECTION_FEE != null and PT_ACCRUED_COLLECTION_FEE != emptyBigDecimalValue" >
        PT_ACCRUED_COLLECTION_FEE,
      </if>
      <if test="PT_ACCRUED_COMMISSION_CAPITAL != null and PT_ACCRUED_COMMISSION_CAPITAL != emptyBigDecimalValue" >
        PT_ACCRUED_COMMISSION_CAPITAL,
      </if>
      <if test="PT_ACCRUED_MAX_OVERDRAW_PERC != null and PT_ACCRUED_MAX_OVERDRAW_PERC != emptyBigDecimalValue" >
        PT_ACCRUED_MAX_OVERDRAW_PERC,
      </if>
      <if test="PT_ACCRUED_TAX_PERC != null and PT_ACCRUED_TAX_PERC != emptyBigDecimalValue" >
        PT_ACCRUED_TAX_PERC,
      </if>
      <if test="PT_DEBIT_METHOD != null" >
        PT_DEBIT_METHOD,
      </if>
      <if test="PT_DEBIT_METHOD_DAYS != null" >
        PT_DEBIT_METHOD_DAYS,
      </if>
      <if test="ACC_RENEWAL_AFFECT != null" >
        ACC_RENEWAL_AFFECT,
      </if>
      <if test="RENEW_SAME_ACC_YN != null" >
        RENEW_SAME_ACC_YN,
      </if>
      <if test="REFUND_BR != null and REFUND_BR != emptyBigDecimalValue" >
        REFUND_BR,
      </if>
	  <if test="REFUND_CY != null and REFUND_CY != emptyBigDecimalValue" >
        REFUND_CY,
      </if>
	  <if test="REFUND_GL != null and REFUND_GL != emptyBigDecimalValue" >
        REFUND_GL,
      </if>
	  <if test="REFUND_CIF != null and REFUND_CIF != emptyBigDecimalValue" >
        REFUND_CIF,
      </if>
	  <if test="REFUND_SL != null and REFUND_SL != emptyBigDecimalValue" >
        REFUND_SL,
      </if>
	  <if test="FACILITY_LINK_DATE != null" >
        FACILITY_LINK_DATE,
      </if>
      <if test="ESTATEMENT_PWD_PROTECTED_YN != null" >
        ESTATEMENT_PWD_PROTECTED_YN,
      </if>
      <if test="UPDATE_BILLS != null" >
        UPDATE_BILLS,
      </if>
	  <if test="DUES_SETTLE_ACC_GL != null and DUES_SETTLE_ACC_GL != emptyBigDecimalValue" >
        DUES_SETTLE_ACC_GL,
      </if> 
	  <if test="DUES_SETTLE_ACC_SL != null and DUES_SETTLE_ACC_SL != emptyBigDecimalValue" >
        DUES_SETTLE_ACC_SL,
      </if>  
	  <if test="SUSPENSE_ACC_GL != null and SUSPENSE_ACC_GL != emptyBigDecimalValue" >
        SUSPENSE_ACC_GL,
      </if> 
	  <if test="SUSPENSE_ACC_SL != null and SUSPENSE_ACC_SL != emptyBigDecimalValue" >
        SUSPENSE_ACC_SL,
      </if>
      <if test="GENERATE_QR_CODE_YN != null" >
        GENERATE_QR_CODE_YN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="CIF_SUB_NO != null and CIF_SUB_NO != emptyBigDecimalValue" >
        #{CIF_SUB_NO},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        #{CURRENCY_CODE},
      </if>
      <if test="GL_CODE != null and GL_CODE != emptyBigDecimalValue" >
        #{GL_CODE},
      </if>
      <if test="SL_NO != null and SL_NO != emptyBigDecimalValue" >
        #{SL_NO},
      </if>
      <if test="CLOSING_TRS_NO != null and CLOSING_TRS_NO != emptyBigDecimalValue" >
        #{CLOSING_TRS_NO},
      </if>
      <if test="CLOSING_TRS_BR != null and CLOSING_TRS_BR != emptyBigDecimalValue" >
        #{CLOSING_TRS_BR},
      </if>
      <if test="RESET_RATE_MATURITY != null" >
        #{RESET_RATE_MATURITY},
      </if>
      <if test="APP_TAX_CAP_REV != null" >
        #{APP_TAX_CAP_REV},
      </if>
      <if test="TAX_RATE_CAP_REV != null and TAX_RATE_CAP_REV != emptyBigDecimalValue" >
        #{TAX_RATE_CAP_REV},
      </if>
      <if test="ADVANCE_PROFIT != null" >
        #{ADVANCE_PROFIT},
      </if>
      <if test="ADVANCE_PROFIT_PERCENTAGE != null and ADVANCE_PROFIT_PERCENTAGE != emptyBigDecimalValue" >
        #{ADVANCE_PROFIT_PERCENTAGE},
      </if>
      <if test="ADVANCE_PROFIT_YN != null" >
        #{ADVANCE_PROFIT_YN},
      </if>
      <if test="DEDUCTION_METHOD != null" >
        #{DEDUCTION_METHOD},
      </if>
      <if test="DEDUCTION_PERIODICITY != null and DEDUCTION_PERIODICITY != emptyBigDecimalValue" >
        #{DEDUCTION_PERIODICITY},
      </if>
      <if test="DORMANT_DATE != null" >
        #{DORMANT_DATE},
      </if>
      <if test="DATE_POSTED_CHARGE != null" >
        #{DATE_POSTED_CHARGE},
      </if>
      <if test="PROFIT_CHARGE_BAL != null and PROFIT_CHARGE_BAL != emptyBigDecimalValue" >
        #{PROFIT_CHARGE_BAL},
      </if>
      <if test="REASON_CHANGE_STATUS != null" >
        #{REASON_CHANGE_STATUS},
      </if>
      <if test="DEBIT_ACCRUALS_GRACE_PRD != null and DEBIT_ACCRUALS_GRACE_PRD != emptyBigDecimalValue" >
        #{DEBIT_ACCRUALS_GRACE_PRD},
      </if>
      <if test="FULL_NAME_ARAB != null" >
        #{FULL_NAME_ARAB},
      </if>
      <if test="FULL_NAME_ENG != null" >
        #{FULL_NAME_ENG},
      </if>
      <if test="CV_HUNTING_BLOCK != null and CV_HUNTING_BLOCK != emptyBigDecimalValue" >
        #{CV_HUNTING_BLOCK},
      </if>
      <if test="FC_HUNTING_BLOCK != null and FC_HUNTING_BLOCK != emptyBigDecimalValue" >
        #{FC_HUNTING_BLOCK},
      </if>
      <if test="DISTIBUTION_PERIODICITY != null" >
        #{DISTIBUTION_PERIODICITY},
      </if>
      <if test="PT_ACCOUNT_SIGN != null" >
        #{PT_ACCOUNT_SIGN},
      </if>
      <if test="PT_ACCRUED_COLLECTION_FEE != null and PT_ACCRUED_COLLECTION_FEE != emptyBigDecimalValue" >
        #{PT_ACCRUED_COLLECTION_FEE},
      </if>
      <if test="PT_ACCRUED_COMMISSION_CAPITAL != null and PT_ACCRUED_COMMISSION_CAPITAL != emptyBigDecimalValue" >
        #{PT_ACCRUED_COMMISSION_CAPITAL},
      </if>
      <if test="PT_ACCRUED_MAX_OVERDRAW_PERC != null and PT_ACCRUED_MAX_OVERDRAW_PERC != emptyBigDecimalValue" >
        #{PT_ACCRUED_MAX_OVERDRAW_PERC},
      </if>
      <if test="PT_ACCRUED_TAX_PERC != null and PT_ACCRUED_TAX_PERC != emptyBigDecimalValue" >
        #{PT_ACCRUED_TAX_PERC},
      </if>
      <if test="PT_DEBIT_METHOD != null" >
        #{PT_DEBIT_METHOD},
      </if>
      <if test="PT_DEBIT_METHOD_DAYS != null" >
        #{PT_DEBIT_METHOD_DAYS},
      </if>
      <if test="ACC_RENEWAL_AFFECT != null" >
        #{ACC_RENEWAL_AFFECT},
      </if>
      <if test="RENEW_SAME_ACC_YN != null" >
        #{RENEW_SAME_ACC_YN},
      </if>
      <if test="REFUND_BR != null and REFUND_BR != emptyBigDecimalValue" >
        #{REFUND_BR},
      </if>	  
	  <if test="REFUND_CY != null and REFUND_CY != emptyBigDecimalValue" >
        #{REFUND_CY},
      </if>	  
	  <if test="REFUND_GL != null and REFUND_GL != emptyBigDecimalValue" >
        #{REFUND_GL},
      </if>	  
	  <if test="REFUND_CIF != null and REFUND_CIF != emptyBigDecimalValue" >
        #{REFUND_CIF},
      </if>	  
	  <if test="REFUND_SL != null and REFUND_SL != emptyBigDecimalValue" >
        #{REFUND_SL},
      </if>
	  <if test="FACILITY_LINK_DATE != null" >
        #{FACILITY_LINK_DATE},
      </if>
      <if test="ESTATEMENT_PWD_PROTECTED_YN != null" >
        #{ESTATEMENT_PWD_PROTECTED_YN},
      </if>
      <if test="UPDATE_BILLS != null" >
        #{UPDATE_BILLS},
      </if>    
	  <if test="DUES_SETTLE_ACC_GL != null and DUES_SETTLE_ACC_GL != emptyBigDecimalValue" >
        #{DUES_SETTLE_ACC_GL},
      </if> 
	  <if test="DUES_SETTLE_ACC_SL != null and DUES_SETTLE_ACC_SL != emptyBigDecimalValue" >
        #{DUES_SETTLE_ACC_SL},
      </if>
	  <if test="SUSPENSE_ACC_GL != null and SUSPENSE_ACC_GL != emptyBigDecimalValue" >
        #{SUSPENSE_ACC_GL},
      </if> 
	  <if test="SUSPENSE_ACC_SL != null and SUSPENSE_ACC_SL != emptyBigDecimalValue" >
        #{SUSPENSE_ACC_SL},
      </if>
      <if test="GENERATE_QR_CODE_YN != null" >
        #{GENERATE_QR_CODE_YN},
      </if> 
    </trim>
  </insert>
  <sql id="sql_updateAMF_EXTENDED" >
    update AMF_EXTENDED
    <set >
      <if test="CLOSING_TRS_NO != null" >
        <choose >
          <when test="CLOSING_TRS_NO == emptyBigDecimalValue" >
            CLOSING_TRS_NO = NULL ,
          </when>
          <otherwise >
            CLOSING_TRS_NO = #{CLOSING_TRS_NO},
          </otherwise>
        </choose>
      </if>
      <if test="CLOSING_TRS_BR != null" >
        <choose >
          <when test="CLOSING_TRS_BR == emptyBigDecimalValue" >
            CLOSING_TRS_BR = NULL ,
          </when>
          <otherwise >
            CLOSING_TRS_BR = #{CLOSING_TRS_BR},
          </otherwise>
        </choose>
      </if>
      <if test="RESET_RATE_MATURITY != null" >
        RESET_RATE_MATURITY = #{RESET_RATE_MATURITY},
      </if>
      <if test="APP_TAX_CAP_REV != null" >
        APP_TAX_CAP_REV = #{APP_TAX_CAP_REV},
      </if>
      <if test="TAX_RATE_CAP_REV != null" >
        <choose >
          <when test="TAX_RATE_CAP_REV == emptyBigDecimalValue" >
            TAX_RATE_CAP_REV = NULL ,
          </when>
          <otherwise >
            TAX_RATE_CAP_REV = #{TAX_RATE_CAP_REV},
          </otherwise>
        </choose>
      </if>
      <if test="ADVANCE_PROFIT != null" >
        ADVANCE_PROFIT = #{ADVANCE_PROFIT},
      </if>
      <if test="ADVANCE_PROFIT_PERCENTAGE != null" >
        <choose >
          <when test="ADVANCE_PROFIT_PERCENTAGE == emptyBigDecimalValue" >
            ADVANCE_PROFIT_PERCENTAGE = NULL ,
          </when>
          <otherwise >
            ADVANCE_PROFIT_PERCENTAGE = #{ADVANCE_PROFIT_PERCENTAGE},
          </otherwise>
        </choose>
      </if>
      <if test="ADVANCE_PROFIT_YN != null" >
        ADVANCE_PROFIT_YN = #{ADVANCE_PROFIT_YN},
      </if>
      <if test="DEDUCTION_METHOD != null" >
        DEDUCTION_METHOD = #{DEDUCTION_METHOD},
      </if>
      <if test="DEDUCTION_PERIODICITY != null" >
        <choose >
          <when test="DEDUCTION_PERIODICITY == emptyBigDecimalValue" >
            DEDUCTION_PERIODICITY = NULL ,
          </when>
          <otherwise >
            DEDUCTION_PERIODICITY = #{DEDUCTION_PERIODICITY},
          </otherwise>
        </choose>
      </if>
      <if test="DORMANT_DATE != null" >
        DORMANT_DATE = #{DORMANT_DATE},
      </if>
      <if test="DATE_POSTED_CHARGE != null" >
        DATE_POSTED_CHARGE = #{DATE_POSTED_CHARGE},
      </if>
      <if test="PROFIT_CHARGE_BAL != null" >
        <choose >
          <when test="PROFIT_CHARGE_BAL == emptyBigDecimalValue" >
            PROFIT_CHARGE_BAL = NULL ,
          </when>
          <otherwise >
            PROFIT_CHARGE_BAL = #{PROFIT_CHARGE_BAL},
          </otherwise>
        </choose>
      </if>
      <if test="REASON_CHANGE_STATUS != null" >
        REASON_CHANGE_STATUS = #{REASON_CHANGE_STATUS},
      </if>
      <if test="DEBIT_ACCRUALS_GRACE_PRD != null" >
        <choose >
          <when test="DEBIT_ACCRUALS_GRACE_PRD == emptyBigDecimalValue" >
            DEBIT_ACCRUALS_GRACE_PRD = NULL ,
          </when>
          <otherwise >
            DEBIT_ACCRUALS_GRACE_PRD = #{DEBIT_ACCRUALS_GRACE_PRD},
          </otherwise>
        </choose>
      </if>
      <if test="FULL_NAME_ARAB != null" >
        FULL_NAME_ARAB = #{FULL_NAME_ARAB},
      </if>
      <if test="FULL_NAME_ENG != null" >
        FULL_NAME_ENG = #{FULL_NAME_ENG},
      </if>
      <if test="CV_HUNTING_BLOCK != null" >
        <choose >
          <when test="CV_HUNTING_BLOCK == emptyBigDecimalValue" >
            CV_HUNTING_BLOCK = NULL ,
          </when>
          <otherwise >
            CV_HUNTING_BLOCK = #{CV_HUNTING_BLOCK},
          </otherwise>
        </choose>
      </if>
      <if test="FC_HUNTING_BLOCK != null" >
        <choose >
          <when test="FC_HUNTING_BLOCK == emptyBigDecimalValue" >
            FC_HUNTING_BLOCK = NULL ,
          </when>
          <otherwise >
            FC_HUNTING_BLOCK = #{FC_HUNTING_BLOCK},
          </otherwise>
        </choose>
      </if>
      <if test="DISTIBUTION_PERIODICITY != null" >
        DISTIBUTION_PERIODICITY = #{DISTIBUTION_PERIODICITY},
      </if>
      <if test="PT_ACCOUNT_SIGN != null" >
        PT_ACCOUNT_SIGN = #{PT_ACCOUNT_SIGN},
      </if>
       <if test="PT_ACCRUED_COLLECTION_FEE != null" >
        <choose >
          <when test="PT_ACCRUED_COLLECTION_FEE == emptyBigDecimalValue" >
            PT_ACCRUED_COLLECTION_FEE = NULL ,
          </when>
          <otherwise >
            PT_ACCRUED_COLLECTION_FEE = #{PT_ACCRUED_COLLECTION_FEE},
          </otherwise>
        </choose>
      </if>
       <if test="PT_ACCRUED_COMMISSION_CAPITAL != null" >
        <choose >
          <when test="PT_ACCRUED_COMMISSION_CAPITAL == emptyBigDecimalValue" >
            PT_ACCRUED_COMMISSION_CAPITAL = NULL ,
          </when>
          <otherwise >
            PT_ACCRUED_COMMISSION_CAPITAL = #{PT_ACCRUED_COMMISSION_CAPITAL},
          </otherwise>
        </choose>
      </if>
       <if test="PT_ACCRUED_MAX_OVERDRAW_PERC != null" >
        <choose >
          <when test="PT_ACCRUED_MAX_OVERDRAW_PERC == emptyBigDecimalValue" >
            PT_ACCRUED_MAX_OVERDRAW_PERC = NULL ,
          </when>
          <otherwise >
            PT_ACCRUED_MAX_OVERDRAW_PERC = #{PT_ACCRUED_MAX_OVERDRAW_PERC},
          </otherwise>
        </choose>
      </if>
       <if test="PT_ACCRUED_TAX_PERC != null" >
        <choose >
          <when test="PT_ACCRUED_TAX_PERC == emptyBigDecimalValue" >
            PT_ACCRUED_TAX_PERC = NULL ,
          </when>
          <otherwise >
            PT_ACCRUED_TAX_PERC = #{PT_ACCRUED_TAX_PERC},
          </otherwise>
        </choose>
      </if>
      <if test="PT_DEBIT_METHOD != null" >
        PT_DEBIT_METHOD = #{PT_DEBIT_METHOD},
      </if>
      <if test="PT_DEBIT_METHOD_DAYS != null" >
        PT_DEBIT_METHOD_DAYS = #{PT_DEBIT_METHOD_DAYS},
      </if>
      <if test="ACC_RENEWAL_AFFECT != null" >
        ACC_RENEWAL_AFFECT = #{ACC_RENEWAL_AFFECT},
      </if>
      <if test="RENEW_SAME_ACC_YN != null" >
        RENEW_SAME_ACC_YN = #{RENEW_SAME_ACC_YN},
      </if>      
         <if test="REFUND_BR != null" >
        <choose >
          <when test="REFUND_BR == emptyBigDecimalValue" >
            REFUND_BR = NULL ,
          </when>
          <otherwise >
            REFUND_BR = #{REFUND_BR},
          </otherwise>
        </choose>
      </if>	  
	   <if test="REFUND_CY != null" >
        <choose >
          <when test="REFUND_CY == emptyBigDecimalValue" >
            REFUND_CY = NULL ,
          </when>
          <otherwise >
            REFUND_CY = #{REFUND_CY},
          </otherwise>
        </choose>
      </if>	  
	   <if test="REFUND_GL != null" >
        <choose >
          <when test="REFUND_GL == emptyBigDecimalValue" >
            REFUND_GL = NULL ,
          </when>
          <otherwise >
            REFUND_GL = #{REFUND_GL},
          </otherwise>
        </choose>
      </if>	  
	   <if test="REFUND_CIF != null" >
        <choose >
          <when test="REFUND_CIF == emptyBigDecimalValue" >
            REFUND_CIF = NULL ,
          </when>
          <otherwise >
            REFUND_CIF = #{REFUND_CIF},
          </otherwise>
        </choose>
      </if>	  
	   <if test="REFUND_SL != null" >
        <choose >
          <when test="REFUND_SL == emptyBigDecimalValue" >
            REFUND_SL = NULL ,
          </when>
          <otherwise >
            REFUND_SL = #{REFUND_SL},
          </otherwise>
        </choose>
      </if>
      <if test="FACILITY_LINK_DATE != null" >
        FACILITY_LINK_DATE = #{FACILITY_LINK_DATE},
      </if>
       <if test="ESTATEMENT_PWD_PROTECTED_YN != null" >
        ESTATEMENT_PWD_PROTECTED_YN = #{ESTATEMENT_PWD_PROTECTED_YN},
      </if>      
      <if test="UPDATE_BILLS != null" >
        UPDATE_BILLS = #{UPDATE_BILLS},
      </if> 
      <if test="DUES_SETTLE_ACC_GL != null" >
        <choose >
          <when test="DUES_SETTLE_ACC_GL == emptyBigDecimalValue" >
            DUES_SETTLE_ACC_GL = NULL ,
          </when>
          <otherwise >
            DUES_SETTLE_ACC_GL = #{DUES_SETTLE_ACC_GL},
          </otherwise>
        </choose>
      </if>     
      <if test="DUES_SETTLE_ACC_SL != null" >
        <choose >
          <when test="DUES_SETTLE_ACC_SL == emptyBigDecimalValue" >
            DUES_SETTLE_ACC_SL = NULL ,
          </when>
          <otherwise >
            DUES_SETTLE_ACC_SL = #{DUES_SETTLE_ACC_SL},
          </otherwise>
        </choose>
      </if>   
      <if test="SUSPENSE_ACC_GL != null" >
        <choose >
          <when test="SUSPENSE_ACC_GL == emptyBigDecimalValue" >
            SUSPENSE_ACC_GL = NULL ,
          </when>
          <otherwise >
            SUSPENSE_ACC_GL = #{SUSPENSE_ACC_GL},
          </otherwise>
        </choose>
      </if>     
       <if test="SUSPENSE_ACC_SL != null" >
        <choose >
          <when test="SUSPENSE_ACC_SL == emptyBigDecimalValue" >
            SUSPENSE_ACC_SL = NULL ,
          </when>
          <otherwise >
            SUSPENSE_ACC_SL = #{SUSPENSE_ACC_SL},
          </otherwise>
        </choose>
      </if>
      <if test="GENERATE_QR_CODE_YN != null" >
        GENERATE_QR_CODE_YN = #{GENERATE_QR_CODE_YN},
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and CIF_SUB_NO = #{CIF_SUB_NO}
      and COMP_CODE = #{COMP_CODE}
      and CURRENCY_CODE = #{CURRENCY_CODE}
      and GL_CODE = #{GL_CODE}
      and SL_NO = #{SL_NO}
  </sql>
  <update id="updateAMF_EXTENDED" parameterType="com.path.dbmaps.vo.AMF_EXTENDEDVO" >
    <include refid="sql_updateAMF_EXTENDED" />
  </update>
</mapper>