<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AMF_DRAWDOWNS" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.AMF_DRAWDOWNSVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="CIF_SUB_NO" property="CIF_SUB_NO" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="CURRENCY_CODE" property="CURRENCY_CODE" />
    <id column="GL_CODE" property="GL_CODE" />
    <id column="LINE_NO" property="LINE_NO" />
    <id column="SL_NO" property="SL_NO" />
    <result column="UTILIZATION_ORDER" property="UTILIZATION_ORDER" />
    <result column="DD_BR" property="DD_BR" />
    <result column="DD_NO" property="DD_NO" />
    <result column="INVST_BR" property="INVST_BR" />
    <result column="INVST_CY" property="INVST_CY" />
    <result column="INVST_GL" property="INVST_GL" />
    <result column="INVST_CIF" property="INVST_CIF" />
    <result column="INVST_SL" property="INVST_SL" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, CIF_SUB_NO, COMP_CODE, CURRENCY_CODE, GL_CODE, LINE_NO, SL_NO, UTILIZATION_ORDER, 
    DD_BR, DD_NO, INVST_BR, INVST_CY, INVST_GL, INVST_CIF, INVST_SL
  </sql>
  <select id="selectAMF_DRAWDOWNS" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.AMF_DRAWDOWNSVOKey" >
    select 
    <include refid="Base_Column_List" />
    from AMF_DRAWDOWNS
    where BRANCH_CODE = #{BRANCH_CODE}
      and CIF_SUB_NO = #{CIF_SUB_NO}
      and COMP_CODE = #{COMP_CODE}
      and CURRENCY_CODE = #{CURRENCY_CODE}
      and GL_CODE = #{GL_CODE}
      and LINE_NO = #{LINE_NO}
      and SL_NO = #{SL_NO}
  </select>
  <delete id="deleteAMF_DRAWDOWNS" parameterType="com.path.dbmaps.vo.AMF_DRAWDOWNSVOKey" >
    delete from AMF_DRAWDOWNS
    where BRANCH_CODE = #{BRANCH_CODE}
      and CIF_SUB_NO = #{CIF_SUB_NO}
      and COMP_CODE = #{COMP_CODE}
      and CURRENCY_CODE = #{CURRENCY_CODE}
      and GL_CODE = #{GL_CODE}
      and LINE_NO = #{LINE_NO}
      and SL_NO = #{SL_NO}
  </delete>
  <insert id="insertAMF_DRAWDOWNS" parameterType="com.path.dbmaps.vo.AMF_DRAWDOWNSVO" >
    insert into AMF_DRAWDOWNS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="CIF_SUB_NO != null and CIF_SUB_NO != emptyBigDecimalValue" >
        CIF_SUB_NO,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        CURRENCY_CODE,
      </if>
      <if test="GL_CODE != null and GL_CODE != emptyBigDecimalValue" >
        GL_CODE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="SL_NO != null and SL_NO != emptyBigDecimalValue" >
        SL_NO,
      </if>
      <if test="UTILIZATION_ORDER != null and UTILIZATION_ORDER != emptyBigDecimalValue" >
        UTILIZATION_ORDER,
      </if>
      <if test="DD_BR != null and DD_BR != emptyBigDecimalValue" >
        DD_BR,
      </if>
      <if test="DD_NO != null and DD_NO != emptyBigDecimalValue" >
        DD_NO,
      </if>
      <if test="INVST_BR != null and INVST_BR != emptyBigDecimalValue" >
        INVST_BR,
      </if>
      <if test="INVST_CY != null and INVST_CY != emptyBigDecimalValue" >
        INVST_CY,
      </if>
      <if test="INVST_GL != null and INVST_GL != emptyBigDecimalValue" >
        INVST_GL,
      </if>
      <if test="INVST_CIF != null and INVST_CIF != emptyBigDecimalValue" >
        INVST_CIF,
      </if>
      <if test="INVST_SL != null and INVST_SL != emptyBigDecimalValue" >
        INVST_SL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="CIF_SUB_NO != null and CIF_SUB_NO != emptyBigDecimalValue" >
        #{CIF_SUB_NO},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        #{CURRENCY_CODE},
      </if>
      <if test="GL_CODE != null and GL_CODE != emptyBigDecimalValue" >
        #{GL_CODE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="SL_NO != null and SL_NO != emptyBigDecimalValue" >
        #{SL_NO},
      </if>
      <if test="UTILIZATION_ORDER != null and UTILIZATION_ORDER != emptyBigDecimalValue" >
        #{UTILIZATION_ORDER},
      </if>
      <if test="DD_BR != null and DD_BR != emptyBigDecimalValue" >
        #{DD_BR},
      </if>
      <if test="DD_NO != null and DD_NO != emptyBigDecimalValue" >
        #{DD_NO},
      </if>
      <if test="INVST_BR != null and INVST_BR != emptyBigDecimalValue" >
        #{INVST_BR},
      </if>
      <if test="INVST_CY != null and INVST_CY != emptyBigDecimalValue" >
        #{INVST_CY},
      </if>
      <if test="INVST_GL != null and INVST_GL != emptyBigDecimalValue" >
        #{INVST_GL},
      </if>
      <if test="INVST_CIF != null and INVST_CIF != emptyBigDecimalValue" >
        #{INVST_CIF},
      </if>
      <if test="INVST_SL != null and INVST_SL != emptyBigDecimalValue" >
        #{INVST_SL},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateAMF_DRAWDOWNS" >
    update AMF_DRAWDOWNS
    <set >
      <if test="UTILIZATION_ORDER != null" >
        <choose >
          <when test="UTILIZATION_ORDER == emptyBigDecimalValue" >
            UTILIZATION_ORDER = NULL ,
          </when>
          <otherwise >
            UTILIZATION_ORDER = #{UTILIZATION_ORDER},
          </otherwise>
        </choose>
      </if>
      <if test="DD_BR != null" >
        <choose >
          <when test="DD_BR == emptyBigDecimalValue" >
            DD_BR = NULL ,
          </when>
          <otherwise >
            DD_BR = #{DD_BR},
          </otherwise>
        </choose>
      </if>
      <if test="DD_NO != null" >
        <choose >
          <when test="DD_NO == emptyBigDecimalValue" >
            DD_NO = NULL ,
          </when>
          <otherwise >
            DD_NO = #{DD_NO},
          </otherwise>
        </choose>
      </if>
      <if test="INVST_BR != null" >
        <choose >
          <when test="INVST_BR == emptyBigDecimalValue" >
            INVST_BR = NULL ,
          </when>
          <otherwise >
            INVST_BR = #{INVST_BR},
          </otherwise>
        </choose>
      </if>
      <if test="INVST_CY != null" >
        <choose >
          <when test="INVST_CY == emptyBigDecimalValue" >
            INVST_CY = NULL ,
          </when>
          <otherwise >
            INVST_CY = #{INVST_CY},
          </otherwise>
        </choose>
      </if>
      <if test="INVST_GL != null" >
        <choose >
          <when test="INVST_GL == emptyBigDecimalValue" >
            INVST_GL = NULL ,
          </when>
          <otherwise >
            INVST_GL = #{INVST_GL},
          </otherwise>
        </choose>
      </if>
      <if test="INVST_CIF != null" >
        <choose >
          <when test="INVST_CIF == emptyBigDecimalValue" >
            INVST_CIF = NULL ,
          </when>
          <otherwise >
            INVST_CIF = #{INVST_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="INVST_SL != null" >
        <choose >
          <when test="INVST_SL == emptyBigDecimalValue" >
            INVST_SL = NULL ,
          </when>
          <otherwise >
            INVST_SL = #{INVST_SL},
          </otherwise>
        </choose>
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and CIF_SUB_NO = #{CIF_SUB_NO}
      and COMP_CODE = #{COMP_CODE}
      and CURRENCY_CODE = #{CURRENCY_CODE}
      and GL_CODE = #{GL_CODE}
      and LINE_NO = #{LINE_NO}
      and SL_NO = #{SL_NO}
  </sql>
  <update id="updateAMF_DRAWDOWNS" parameterType="com.path.dbmaps.vo.AMF_DRAWDOWNSVO" >
    <include refid="sql_updateAMF_DRAWDOWNS" />
  </update>
</mapper>