<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AMF_ADDRESS" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.AMF_ADDRESSVO" >
    <id column="ACC_BR" property="ACC_BR" />
    <id column="ACC_CIF" property="ACC_CIF" />
    <id column="ACC_CY" property="ACC_CY" />
    <id column="ACC_GL" property="ACC_GL" />
    <id column="ACC_SL" property="ACC_SL" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NO" property="LINE_NO" />
    <result column="ADDRESS_DESC" property="ADDRESS_DESC" />
    <result column="ADDRESS1_ENG" property="ADDRESS1_ENG" />
    <result column="ADDRESS2_ENG" property="ADDRESS2_ENG" />
    <result column="ADDRESS3_ENG" property="ADDRESS3_ENG" />
    <result column="ADDRESS4_ENG" property="ADDRESS4_ENG" />
    <result column="ADDRESS1_ARAB" property="ADDRESS1_ARAB" />
    <result column="ADDRESS2_ARAB" property="ADDRESS2_ARAB" />
    <result column="ADDRESS3_ARAB" property="ADDRESS3_ARAB" />
    <result column="ADDRESS4_ARAB" property="ADDRESS4_ARAB" />
    <result column="PRINT_STAT" property="PRINT_STAT" />
    <result column="CONTACT_NAME" property="CONTACT_NAME" />
    <result column="CONTACT_NAME_ARAB" property="CONTACT_NAME_ARAB" />
    <result column="STREET_DETAILS_ENG" property="STREET_DETAILS_ENG" />
    <result column="CITY_ENG" property="CITY_ENG" />
    <result column="GOVERNERATE_ENG" property="GOVERNERATE_ENG" />
    <result column="STREET_DETAILS_ARAB" property="STREET_DETAILS_ARAB" />
    <result column="CITY_ARAB" property="CITY_ARAB" />
    <result column="GOVERNERATE_ARAB" property="GOVERNERATE_ARAB" />
    <result column="SALUTATION_ENG" property="SALUTATION_ENG" />
    <result column="SALUTATION_ARAB" property="SALUTATION_ARAB" />
    <result column="FAX" property="FAX" />
    <result column="TEL" property="TEL" />
    <result column="DEFAULT_ADD" property="DEFAULT_ADD" />
    <result column="PO_BOX" property="PO_BOX" />
    <result column="COUNTRY" property="COUNTRY" />
    <result column="REGION" property="REGION" />
    <result column="MOBILE" property="MOBILE" />
    <result column="HOME_TEL" property="HOME_TEL" />
    <result column="WORK_TEL" property="WORK_TEL" />
    <result column="EMAIL" property="EMAIL" />
    <result column="OTHER_TEL" property="OTHER_TEL" />
    <result column="POSTAL_CODE" property="POSTAL_CODE" />
    <result column="POBOX_AREA" property="POBOX_AREA" />
    <result column="POSTAL_CODE1" property="POSTAL_CODE1" />
    <result column="ADDITIONAL_REFERENCE" property="ADDITIONAL_REFERENCE" />
  </resultMap>
  <sql id="Base_Column_List" >
    ACC_BR, ACC_CIF, ACC_CY, ACC_GL, ACC_SL, COMP_CODE, LINE_NO, ADDRESS_DESC, ADDRESS1_ENG, 
    ADDRESS2_ENG, ADDRESS3_ENG, ADDRESS4_ENG, ADDRESS1_ARAB, ADDRESS2_ARAB, ADDRESS3_ARAB, 
    ADDRESS4_ARAB, PRINT_STAT, CONTACT_NAME, CONTACT_NAME_ARAB, STREET_DETAILS_ENG, CITY_ENG, 
    GOVERNERATE_ENG, STREET_DETAILS_ARAB, CITY_ARAB, GOVERNERATE_ARAB, SALUTATION_ENG, 
    SALUTATION_ARAB, FAX, TEL, DEFAULT_ADD, PO_BOX, COUNTRY, REGION, MOBILE, HOME_TEL, 
    WORK_TEL, EMAIL, OTHER_TEL, POSTAL_CODE, POBOX_AREA, POSTAL_CODE1, ADDITIONAL_REFERENCE
  </sql>
  <select id="selectAMF_ADDRESS" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.AMF_ADDRESSVOKey" >
    select 
    <include refid="Base_Column_List" />
    from AMF_ADDRESS
    where ACC_BR = #{ACC_BR}
      and ACC_CIF = #{ACC_CIF}
      and ACC_CY = #{ACC_CY}
      and ACC_GL = #{ACC_GL}
      and ACC_SL = #{ACC_SL}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
  </select>
  <delete id="deleteAMF_ADDRESS" parameterType="com.path.dbmaps.vo.AMF_ADDRESSVOKey" >
    delete from AMF_ADDRESS
    where ACC_BR = #{ACC_BR}
      and ACC_CIF = #{ACC_CIF}
      and ACC_CY = #{ACC_CY}
      and ACC_GL = #{ACC_GL}
      and ACC_SL = #{ACC_SL}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
  </delete>
  <insert id="insertAMF_ADDRESS" parameterType="com.path.dbmaps.vo.AMF_ADDRESSVO" >
    insert into AMF_ADDRESS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ACC_BR != null and ACC_BR != emptyBigDecimalValue" >
        ACC_BR,
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        ACC_CIF,
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        ACC_CY,
      </if>
      <if test="ACC_GL != null and ACC_GL != emptyBigDecimalValue" >
        ACC_GL,
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        ACC_SL,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="ADDRESS_DESC != null" >
        ADDRESS_DESC,
      </if>
      <if test="ADDRESS1_ENG != null" >
        ADDRESS1_ENG,
      </if>
      <if test="ADDRESS2_ENG != null" >
        ADDRESS2_ENG,
      </if>
      <if test="ADDRESS3_ENG != null" >
        ADDRESS3_ENG,
      </if>
      <if test="ADDRESS4_ENG != null" >
        ADDRESS4_ENG,
      </if>
      <if test="ADDRESS1_ARAB != null" >
        ADDRESS1_ARAB,
      </if>
      <if test="ADDRESS2_ARAB != null" >
        ADDRESS2_ARAB,
      </if>
      <if test="ADDRESS3_ARAB != null" >
        ADDRESS3_ARAB,
      </if>
      <if test="ADDRESS4_ARAB != null" >
        ADDRESS4_ARAB,
      </if>
      <if test="PRINT_STAT != null and PRINT_STAT != emptyBigDecimalValue" >
        PRINT_STAT,
      </if>
      <if test="CONTACT_NAME != null" >
        CONTACT_NAME,
      </if>
      <if test="CONTACT_NAME_ARAB != null" >
        CONTACT_NAME_ARAB,
      </if>
      <if test="STREET_DETAILS_ENG != null" >
        STREET_DETAILS_ENG,
      </if>
      <if test="CITY_ENG != null" >
        CITY_ENG,
      </if>
      <if test="GOVERNERATE_ENG != null" >
        GOVERNERATE_ENG,
      </if>
      <if test="STREET_DETAILS_ARAB != null" >
        STREET_DETAILS_ARAB,
      </if>
      <if test="CITY_ARAB != null" >
        CITY_ARAB,
      </if>
      <if test="GOVERNERATE_ARAB != null" >
        GOVERNERATE_ARAB,
      </if>
      <if test="SALUTATION_ENG != null" >
        SALUTATION_ENG,
      </if>
      <if test="SALUTATION_ARAB != null" >
        SALUTATION_ARAB,
      </if>
      <if test="FAX != null" >
        FAX,
      </if>
      <if test="TEL != null" >
        TEL,
      </if>
      <if test="DEFAULT_ADD != null" >
        DEFAULT_ADD,
      </if>
      <if test="PO_BOX != null" >
        PO_BOX,
      </if>
      <if test="COUNTRY != null and COUNTRY != emptyBigDecimalValue" >
        COUNTRY,
      </if>
      <if test="REGION != null and REGION != emptyBigDecimalValue" >
        REGION,
      </if>
      <if test="MOBILE != null" >
        MOBILE,
      </if>
      <if test="HOME_TEL != null" >
        HOME_TEL,
      </if>
      <if test="WORK_TEL != null" >
        WORK_TEL,
      </if>
      <if test="EMAIL != null" >
        EMAIL,
      </if>
      <if test="OTHER_TEL != null" >
        OTHER_TEL,
      </if>
      <if test="POSTAL_CODE != null and POSTAL_CODE != emptyBigDecimalValue" >
        POSTAL_CODE,
      </if>
      <if test="POBOX_AREA != null and POBOX_AREA != emptyBigDecimalValue" >
        POBOX_AREA,
      </if>
      <if test="POSTAL_CODE1 != null" >
        POSTAL_CODE1,
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        ADDITIONAL_REFERENCE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ACC_BR != null and ACC_BR != emptyBigDecimalValue" >
        #{ACC_BR},
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        #{ACC_CIF},
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        #{ACC_CY},
      </if>
      <if test="ACC_GL != null and ACC_GL != emptyBigDecimalValue" >
        #{ACC_GL},
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        #{ACC_SL},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="ADDRESS_DESC != null" >
        #{ADDRESS_DESC},
      </if>
      <if test="ADDRESS1_ENG != null" >
        #{ADDRESS1_ENG},
      </if>
      <if test="ADDRESS2_ENG != null" >
        #{ADDRESS2_ENG},
      </if>
      <if test="ADDRESS3_ENG != null" >
        #{ADDRESS3_ENG},
      </if>
      <if test="ADDRESS4_ENG != null" >
        #{ADDRESS4_ENG},
      </if>
      <if test="ADDRESS1_ARAB != null" >
        #{ADDRESS1_ARAB},
      </if>
      <if test="ADDRESS2_ARAB != null" >
        #{ADDRESS2_ARAB},
      </if>
      <if test="ADDRESS3_ARAB != null" >
        #{ADDRESS3_ARAB},
      </if>
      <if test="ADDRESS4_ARAB != null" >
        #{ADDRESS4_ARAB},
      </if>
      <if test="PRINT_STAT != null and PRINT_STAT != emptyBigDecimalValue" >
        #{PRINT_STAT},
      </if>
      <if test="CONTACT_NAME != null" >
        #{CONTACT_NAME},
      </if>
      <if test="CONTACT_NAME_ARAB != null" >
        #{CONTACT_NAME_ARAB},
      </if>
      <if test="STREET_DETAILS_ENG != null" >
        #{STREET_DETAILS_ENG},
      </if>
      <if test="CITY_ENG != null" >
        #{CITY_ENG},
      </if>
      <if test="GOVERNERATE_ENG != null" >
        #{GOVERNERATE_ENG},
      </if>
      <if test="STREET_DETAILS_ARAB != null" >
        #{STREET_DETAILS_ARAB},
      </if>
      <if test="CITY_ARAB != null" >
        #{CITY_ARAB},
      </if>
      <if test="GOVERNERATE_ARAB != null" >
        #{GOVERNERATE_ARAB},
      </if>
      <if test="SALUTATION_ENG != null" >
        #{SALUTATION_ENG},
      </if>
      <if test="SALUTATION_ARAB != null" >
        #{SALUTATION_ARAB},
      </if>
      <if test="FAX != null" >
        #{FAX},
      </if>
      <if test="TEL != null" >
        #{TEL},
      </if>
      <if test="DEFAULT_ADD != null" >
        #{DEFAULT_ADD},
      </if>
      <if test="PO_BOX != null" >
        #{PO_BOX},
      </if>
      <if test="COUNTRY != null and COUNTRY != emptyBigDecimalValue" >
        #{COUNTRY},
      </if>
      <if test="REGION != null and REGION != emptyBigDecimalValue" >
        #{REGION},
      </if>
      <if test="MOBILE != null" >
        #{MOBILE},
      </if>
      <if test="HOME_TEL != null" >
        #{HOME_TEL},
      </if>
      <if test="WORK_TEL != null" >
        #{WORK_TEL},
      </if>
      <if test="EMAIL != null" >
        #{EMAIL},
      </if>
      <if test="OTHER_TEL != null" >
        #{OTHER_TEL},
      </if>
      <if test="POSTAL_CODE != null and POSTAL_CODE != emptyBigDecimalValue" >
        #{POSTAL_CODE},
      </if>
      <if test="POBOX_AREA != null and POBOX_AREA != emptyBigDecimalValue" >
        #{POBOX_AREA},
      </if>
      <if test="POSTAL_CODE1 != null" >
        #{POSTAL_CODE1},
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        #{ADDITIONAL_REFERENCE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateAMF_ADDRESS" >
    update AMF_ADDRESS
    <set >
      <if test="ADDRESS_DESC != null" >
        ADDRESS_DESC = #{ADDRESS_DESC},
      </if>
      <if test="ADDRESS1_ENG != null" >
        ADDRESS1_ENG = #{ADDRESS1_ENG},
      </if>
      <if test="ADDRESS2_ENG != null" >
        ADDRESS2_ENG = #{ADDRESS2_ENG},
      </if>
      <if test="ADDRESS3_ENG != null" >
        ADDRESS3_ENG = #{ADDRESS3_ENG},
      </if>
      <if test="ADDRESS4_ENG != null" >
        ADDRESS4_ENG = #{ADDRESS4_ENG},
      </if>
      <if test="ADDRESS1_ARAB != null" >
        ADDRESS1_ARAB = #{ADDRESS1_ARAB},
      </if>
      <if test="ADDRESS2_ARAB != null" >
        ADDRESS2_ARAB = #{ADDRESS2_ARAB},
      </if>
      <if test="ADDRESS3_ARAB != null" >
        ADDRESS3_ARAB = #{ADDRESS3_ARAB},
      </if>
      <if test="ADDRESS4_ARAB != null" >
        ADDRESS4_ARAB = #{ADDRESS4_ARAB},
      </if>
      <if test="PRINT_STAT != null" >
        <choose >
          <when test="PRINT_STAT == emptyBigDecimalValue" >
            PRINT_STAT = NULL ,
          </when>
          <otherwise >
            PRINT_STAT = #{PRINT_STAT},
          </otherwise>
        </choose>
      </if>
      <if test="CONTACT_NAME != null" >
        CONTACT_NAME = #{CONTACT_NAME},
      </if>
      <if test="CONTACT_NAME_ARAB != null" >
        CONTACT_NAME_ARAB = #{CONTACT_NAME_ARAB},
      </if>
      <if test="STREET_DETAILS_ENG != null" >
        STREET_DETAILS_ENG = #{STREET_DETAILS_ENG},
      </if>
      <if test="CITY_ENG != null" >
        CITY_ENG = #{CITY_ENG},
      </if>
      <if test="GOVERNERATE_ENG != null" >
        GOVERNERATE_ENG = #{GOVERNERATE_ENG},
      </if>
      <if test="STREET_DETAILS_ARAB != null" >
        STREET_DETAILS_ARAB = #{STREET_DETAILS_ARAB},
      </if>
      <if test="CITY_ARAB != null" >
        CITY_ARAB = #{CITY_ARAB},
      </if>
      <if test="GOVERNERATE_ARAB != null" >
        GOVERNERATE_ARAB = #{GOVERNERATE_ARAB},
      </if>
      <if test="SALUTATION_ENG != null" >
        SALUTATION_ENG = #{SALUTATION_ENG},
      </if>
      <if test="SALUTATION_ARAB != null" >
        SALUTATION_ARAB = #{SALUTATION_ARAB},
      </if>
      <if test="FAX != null" >
        FAX = #{FAX},
      </if>
      <if test="TEL != null" >
        TEL = #{TEL},
      </if>
      <if test="DEFAULT_ADD != null" >
        DEFAULT_ADD = #{DEFAULT_ADD},
      </if>
      <if test="PO_BOX != null" >
        PO_BOX = #{PO_BOX},
      </if>
      <if test="COUNTRY != null" >
        <choose >
          <when test="COUNTRY == emptyBigDecimalValue" >
            COUNTRY = NULL ,
          </when>
          <otherwise >
            COUNTRY = #{COUNTRY},
          </otherwise>
        </choose>
      </if>
      <if test="REGION != null" >
        <choose >
          <when test="REGION == emptyBigDecimalValue" >
            REGION = NULL ,
          </when>
          <otherwise >
            REGION = #{REGION},
          </otherwise>
        </choose>
      </if>
      <if test="MOBILE != null" >
        MOBILE = #{MOBILE},
      </if>
      <if test="HOME_TEL != null" >
        HOME_TEL = #{HOME_TEL},
      </if>
      <if test="WORK_TEL != null" >
        WORK_TEL = #{WORK_TEL},
      </if>
      <if test="EMAIL != null" >
        EMAIL = #{EMAIL},
      </if>
      <if test="OTHER_TEL != null" >
        OTHER_TEL = #{OTHER_TEL},
      </if>
      <if test="POSTAL_CODE != null" >
        <choose >
          <when test="POSTAL_CODE == emptyBigDecimalValue" >
            POSTAL_CODE = NULL ,
          </when>
          <otherwise >
            POSTAL_CODE = #{POSTAL_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="POBOX_AREA != null" >
        <choose >
          <when test="POBOX_AREA == emptyBigDecimalValue" >
            POBOX_AREA = NULL ,
          </when>
          <otherwise >
            POBOX_AREA = #{POBOX_AREA},
          </otherwise>
        </choose>
      </if>
      <if test="POSTAL_CODE1 != null" >
        POSTAL_CODE1 = #{POSTAL_CODE1},
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        ADDITIONAL_REFERENCE = #{ADDITIONAL_REFERENCE},
      </if>
    </set>
    where ACC_BR = #{ACC_BR}
      and ACC_CIF = #{ACC_CIF}
      and ACC_CY = #{ACC_CY}
      and ACC_GL = #{ACC_GL}
      and ACC_SL = #{ACC_SL}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
  </sql>
  <update id="updateAMF_ADDRESS" parameterType="com.path.dbmaps.vo.AMF_ADDRESSVO" >
    <include refid="sql_updateAMF_ADDRESS" />
  </update>
</mapper>