<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AMFSUPPLEMENT" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.AMFSUPPLEMENTVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="CIF_SUB_NO" property="CIF_SUB_NO" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="CURRENCY_CODE" property="CURRENCY_CODE" />
    <id column="GL_CODE" property="GL_CODE" />
    <id column="MONTH" property="MONTH" />
    <id column="SL_NO" property="SL_NO" />
    <id column="YEAR" property="YEAR" />
    <result column="CYB_FC_TRADE" property="CYB_FC_TRADE" />
    <result column="CYB_CV_TRADE" property="CYB_CV_TRADE" />
    <result column="CYB_FC_VALUE" property="CYB_FC_VALUE" />
    <result column="CYB_CV_VALUE" property="CYB_CV_VALUE" />
    <result column="CYB_FC_AVG_TRADE" property="CYB_FC_AVG_TRADE" />
    <result column="CYB_CV_AVG_TRADE" property="CYB_CV_AVG_TRADE" />
    <result column="CYB_FC_AVG_VALUE" property="CYB_FC_AVG_VALUE" />
    <result column="CYB_CV_AVG_VALUE" property="CYB_CV_AVG_VALUE" />
    <result column="CYB_FC_CLOSING" property="CYB_FC_CLOSING" />
    <result column="CYB_CV_CLOSING" property="CYB_CV_CLOSING" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, CIF_SUB_NO, COMP_CODE, CURRENCY_CODE, GL_CODE, MONTH, SL_NO, YEAR, CYB_FC_TRADE, 
    CYB_CV_TRADE, CYB_FC_VALUE, CYB_CV_VALUE, CYB_FC_AVG_TRADE, CYB_CV_AVG_TRADE, CYB_FC_AVG_VALUE, 
    CYB_CV_AVG_VALUE, CYB_FC_CLOSING, CYB_CV_CLOSING
  </sql>
  <select id="selectAMFSUPPLEMENT" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.AMFSUPPLEMENTVOKey" >
    select 
    <include refid="Base_Column_List" />
    from AMFSUPPLEMENT
    where BRANCH_CODE = #{BRANCH_CODE}
      and CIF_SUB_NO = #{CIF_SUB_NO}
      and COMP_CODE = #{COMP_CODE}
      and CURRENCY_CODE = #{CURRENCY_CODE}
      and GL_CODE = #{GL_CODE}
      and MONTH = #{MONTH}
      and SL_NO = #{SL_NO}
      and YEAR = #{YEAR}
  </select>
  <delete id="deleteAMFSUPPLEMENT" parameterType="com.path.dbmaps.vo.AMFSUPPLEMENTVOKey" >
    delete from AMFSUPPLEMENT
    where BRANCH_CODE = #{BRANCH_CODE}
      and CIF_SUB_NO = #{CIF_SUB_NO}
      and COMP_CODE = #{COMP_CODE}
      and CURRENCY_CODE = #{CURRENCY_CODE}
      and GL_CODE = #{GL_CODE}
      and MONTH = #{MONTH}
      and SL_NO = #{SL_NO}
      and YEAR = #{YEAR}
  </delete>
  <insert id="insertAMFSUPPLEMENT" parameterType="com.path.dbmaps.vo.AMFSUPPLEMENTVO" >
    insert into AMFSUPPLEMENT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="CIF_SUB_NO != null and CIF_SUB_NO != emptyBigDecimalValue" >
        CIF_SUB_NO,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        CURRENCY_CODE,
      </if>
      <if test="GL_CODE != null and GL_CODE != emptyBigDecimalValue" >
        GL_CODE,
      </if>
      <if test="MONTH != null and MONTH != emptyBigDecimalValue" >
        MONTH,
      </if>
      <if test="SL_NO != null and SL_NO != emptyBigDecimalValue" >
        SL_NO,
      </if>
      <if test="YEAR != null and YEAR != emptyBigDecimalValue" >
        YEAR,
      </if>
      <if test="CYB_FC_TRADE != null and CYB_FC_TRADE != emptyBigDecimalValue" >
        CYB_FC_TRADE,
      </if>
      <if test="CYB_CV_TRADE != null and CYB_CV_TRADE != emptyBigDecimalValue" >
        CYB_CV_TRADE,
      </if>
      <if test="CYB_FC_VALUE != null and CYB_FC_VALUE != emptyBigDecimalValue" >
        CYB_FC_VALUE,
      </if>
      <if test="CYB_CV_VALUE != null and CYB_CV_VALUE != emptyBigDecimalValue" >
        CYB_CV_VALUE,
      </if>
      <if test="CYB_FC_AVG_TRADE != null and CYB_FC_AVG_TRADE != emptyBigDecimalValue" >
        CYB_FC_AVG_TRADE,
      </if>
      <if test="CYB_CV_AVG_TRADE != null and CYB_CV_AVG_TRADE != emptyBigDecimalValue" >
        CYB_CV_AVG_TRADE,
      </if>
      <if test="CYB_FC_AVG_VALUE != null and CYB_FC_AVG_VALUE != emptyBigDecimalValue" >
        CYB_FC_AVG_VALUE,
      </if>
      <if test="CYB_CV_AVG_VALUE != null and CYB_CV_AVG_VALUE != emptyBigDecimalValue" >
        CYB_CV_AVG_VALUE,
      </if>
      <if test="CYB_FC_CLOSING != null and CYB_FC_CLOSING != emptyBigDecimalValue" >
        CYB_FC_CLOSING,
      </if>
      <if test="CYB_CV_CLOSING != null and CYB_CV_CLOSING != emptyBigDecimalValue" >
        CYB_CV_CLOSING,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="CIF_SUB_NO != null and CIF_SUB_NO != emptyBigDecimalValue" >
        #{CIF_SUB_NO},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        #{CURRENCY_CODE},
      </if>
      <if test="GL_CODE != null and GL_CODE != emptyBigDecimalValue" >
        #{GL_CODE},
      </if>
      <if test="MONTH != null and MONTH != emptyBigDecimalValue" >
        #{MONTH},
      </if>
      <if test="SL_NO != null and SL_NO != emptyBigDecimalValue" >
        #{SL_NO},
      </if>
      <if test="YEAR != null and YEAR != emptyBigDecimalValue" >
        #{YEAR},
      </if>
      <if test="CYB_FC_TRADE != null and CYB_FC_TRADE != emptyBigDecimalValue" >
        #{CYB_FC_TRADE},
      </if>
      <if test="CYB_CV_TRADE != null and CYB_CV_TRADE != emptyBigDecimalValue" >
        #{CYB_CV_TRADE},
      </if>
      <if test="CYB_FC_VALUE != null and CYB_FC_VALUE != emptyBigDecimalValue" >
        #{CYB_FC_VALUE},
      </if>
      <if test="CYB_CV_VALUE != null and CYB_CV_VALUE != emptyBigDecimalValue" >
        #{CYB_CV_VALUE},
      </if>
      <if test="CYB_FC_AVG_TRADE != null and CYB_FC_AVG_TRADE != emptyBigDecimalValue" >
        #{CYB_FC_AVG_TRADE},
      </if>
      <if test="CYB_CV_AVG_TRADE != null and CYB_CV_AVG_TRADE != emptyBigDecimalValue" >
        #{CYB_CV_AVG_TRADE},
      </if>
      <if test="CYB_FC_AVG_VALUE != null and CYB_FC_AVG_VALUE != emptyBigDecimalValue" >
        #{CYB_FC_AVG_VALUE},
      </if>
      <if test="CYB_CV_AVG_VALUE != null and CYB_CV_AVG_VALUE != emptyBigDecimalValue" >
        #{CYB_CV_AVG_VALUE},
      </if>
      <if test="CYB_FC_CLOSING != null and CYB_FC_CLOSING != emptyBigDecimalValue" >
        #{CYB_FC_CLOSING},
      </if>
      <if test="CYB_CV_CLOSING != null and CYB_CV_CLOSING != emptyBigDecimalValue" >
        #{CYB_CV_CLOSING},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateAMFSUPPLEMENT" >
    update AMFSUPPLEMENT
    <set >
      <if test="CYB_FC_TRADE != null" >
        <choose >
          <when test="CYB_FC_TRADE == emptyBigDecimalValue" >
            CYB_FC_TRADE = NULL ,
          </when>
          <otherwise >
            CYB_FC_TRADE = #{CYB_FC_TRADE},
          </otherwise>
        </choose>
      </if>
      <if test="CYB_CV_TRADE != null" >
        <choose >
          <when test="CYB_CV_TRADE == emptyBigDecimalValue" >
            CYB_CV_TRADE = NULL ,
          </when>
          <otherwise >
            CYB_CV_TRADE = #{CYB_CV_TRADE},
          </otherwise>
        </choose>
      </if>
      <if test="CYB_FC_VALUE != null" >
        <choose >
          <when test="CYB_FC_VALUE == emptyBigDecimalValue" >
            CYB_FC_VALUE = NULL ,
          </when>
          <otherwise >
            CYB_FC_VALUE = #{CYB_FC_VALUE},
          </otherwise>
        </choose>
      </if>
      <if test="CYB_CV_VALUE != null" >
        <choose >
          <when test="CYB_CV_VALUE == emptyBigDecimalValue" >
            CYB_CV_VALUE = NULL ,
          </when>
          <otherwise >
            CYB_CV_VALUE = #{CYB_CV_VALUE},
          </otherwise>
        </choose>
      </if>
      <if test="CYB_FC_AVG_TRADE != null" >
        <choose >
          <when test="CYB_FC_AVG_TRADE == emptyBigDecimalValue" >
            CYB_FC_AVG_TRADE = NULL ,
          </when>
          <otherwise >
            CYB_FC_AVG_TRADE = #{CYB_FC_AVG_TRADE},
          </otherwise>
        </choose>
      </if>
      <if test="CYB_CV_AVG_TRADE != null" >
        <choose >
          <when test="CYB_CV_AVG_TRADE == emptyBigDecimalValue" >
            CYB_CV_AVG_TRADE = NULL ,
          </when>
          <otherwise >
            CYB_CV_AVG_TRADE = #{CYB_CV_AVG_TRADE},
          </otherwise>
        </choose>
      </if>
      <if test="CYB_FC_AVG_VALUE != null" >
        <choose >
          <when test="CYB_FC_AVG_VALUE == emptyBigDecimalValue" >
            CYB_FC_AVG_VALUE = NULL ,
          </when>
          <otherwise >
            CYB_FC_AVG_VALUE = #{CYB_FC_AVG_VALUE},
          </otherwise>
        </choose>
      </if>
      <if test="CYB_CV_AVG_VALUE != null" >
        <choose >
          <when test="CYB_CV_AVG_VALUE == emptyBigDecimalValue" >
            CYB_CV_AVG_VALUE = NULL ,
          </when>
          <otherwise >
            CYB_CV_AVG_VALUE = #{CYB_CV_AVG_VALUE},
          </otherwise>
        </choose>
      </if>
      <if test="CYB_FC_CLOSING != null" >
        <choose >
          <when test="CYB_FC_CLOSING == emptyBigDecimalValue" >
            CYB_FC_CLOSING = NULL ,
          </when>
          <otherwise >
            CYB_FC_CLOSING = #{CYB_FC_CLOSING},
          </otherwise>
        </choose>
      </if>
      <if test="CYB_CV_CLOSING != null" >
        <choose >
          <when test="CYB_CV_CLOSING == emptyBigDecimalValue" >
            CYB_CV_CLOSING = NULL ,
          </when>
          <otherwise >
            CYB_CV_CLOSING = #{CYB_CV_CLOSING},
          </otherwise>
        </choose>
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and CIF_SUB_NO = #{CIF_SUB_NO}
      and COMP_CODE = #{COMP_CODE}
      and CURRENCY_CODE = #{CURRENCY_CODE}
      and GL_CODE = #{GL_CODE}
      and MONTH = #{MONTH}
      and SL_NO = #{SL_NO}
      and YEAR = #{YEAR}
  </sql>
  <update id="updateAMFSUPPLEMENT" parameterType="com.path.dbmaps.vo.AMFSUPPLEMENTVO" >
    <include refid="sql_updateAMFSUPPLEMENT" />
  </update>
</mapper>