<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AML_CUSTOMER_REVIEW_PRIORITY" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.AML_CUSTOMER_REVIEW_PRIORITYVO" >
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NUMBER" property="LINE_NUMBER" />
    <id column="PRIORITY_ID" property="PRIORITY_ID" />
    <result column="FROM_VALUE" property="FROM_VALUE" />
    <result column="TO_VALUE" property="TO_VALUE" />
    <result column="RISK" property="RISK" />
    <result column="STATUS" property="STATUS" />
    <result column="CREATED_DATE" property="CREATED_DATE" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="MODIFIED_DATE" property="MODIFIED_DATE" />
    <result column="AUTHORIZED_BY" property="AUTHORIZED_BY" />
    <result column="AUTHORIZED_DATE" property="AUTHORIZED_DATE" />
    <result column="REJECTED_BY" property="REJECTED_BY" />
    <result column="REJECTED_DATE" property="REJECTED_DATE" />
    <result column="DELETED_BY" property="DELETED_BY" />
    <result column="DELETED_DATE" property="DELETED_DATE" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="UPDATED_DATE" property="UPDATED_DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    COMP_CODE, LINE_NUMBER, PRIORITY_ID, FROM_VALUE, TO_VALUE, RISK, STATUS, CREATED_DATE, 
    CREATED_BY, MODIFIED_DATE, AUTHORIZED_BY, AUTHORIZED_DATE, REJECTED_BY, REJECTED_DATE, 
    DELETED_BY, DELETED_DATE, MODIFIED_BY, UPDATED_DATE
  </sql>
  <select id="selectAML_CUSTOMER_REVIEW_PRIORITY" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.AML_CUSTOMER_REVIEW_PRIORITYVOKey" >
    select 
    <include refid="Base_Column_List" />
    from AML_CUSTOMER_REVIEW_PRIORITY
    where COMP_CODE = #{COMP_CODE}
      and LINE_NUMBER = #{LINE_NUMBER}
      and PRIORITY_ID = #{PRIORITY_ID}
  </select>
  <delete id="deleteAML_CUSTOMER_REVIEW_PRIORITY" parameterType="com.path.dbmaps.vo.AML_CUSTOMER_REVIEW_PRIORITYVOKey" >
    delete from AML_CUSTOMER_REVIEW_PRIORITY
    where COMP_CODE = #{COMP_CODE}
      and LINE_NUMBER = #{LINE_NUMBER}
      and PRIORITY_ID = #{PRIORITY_ID}
  </delete>
  <insert id="insertAML_CUSTOMER_REVIEW_PRIORITY" parameterType="com.path.dbmaps.vo.AML_CUSTOMER_REVIEW_PRIORITYVO" >
    insert into AML_CUSTOMER_REVIEW_PRIORITY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NUMBER != null and LINE_NUMBER != emptyBigDecimalValue" >
        LINE_NUMBER,
      </if>
      <if test="PRIORITY_ID != null and PRIORITY_ID != emptyBigDecimalValue" >
        PRIORITY_ID,
      </if>
      <if test="FROM_VALUE != null and FROM_VALUE != emptyBigDecimalValue" >
        FROM_VALUE,
      </if>
      <if test="TO_VALUE != null and TO_VALUE != emptyBigDecimalValue" >
        TO_VALUE,
      </if>
      <if test="RISK != null and !&quot;&quot;.equals(RISK)" >
        RISK,
      </if>
      <if test="STATUS != null and !&quot;&quot;.equals(STATUS)" >
        STATUS,
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE,
      </if>
      <if test="CREATED_BY != null and !&quot;&quot;.equals(CREATED_BY)" >
        CREATED_BY,
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE,
      </if>
      <if test="AUTHORIZED_BY != null and !&quot;&quot;.equals(AUTHORIZED_BY)" >
        AUTHORIZED_BY,
      </if>
      <if test="AUTHORIZED_DATE != null" >
        AUTHORIZED_DATE,
      </if>
      <if test="REJECTED_BY != null and !&quot;&quot;.equals(REJECTED_BY)" >
        REJECTED_BY,
      </if>
      <if test="REJECTED_DATE != null" >
        REJECTED_DATE,
      </if>
      <if test="DELETED_BY != null and !&quot;&quot;.equals(DELETED_BY)" >
        DELETED_BY,
      </if>
      <if test="DELETED_DATE != null" >
        DELETED_DATE,
      </if>
      <if test="MODIFIED_BY != null and !&quot;&quot;.equals(MODIFIED_BY)" >
        MODIFIED_BY,
      </if>
        UPDATED_DATE,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NUMBER != null and LINE_NUMBER != emptyBigDecimalValue" >
        #{LINE_NUMBER},
      </if>
      <if test="PRIORITY_ID != null and PRIORITY_ID != emptyBigDecimalValue" >
        #{PRIORITY_ID},
      </if>
      <if test="FROM_VALUE != null and FROM_VALUE != emptyBigDecimalValue" >
        #{FROM_VALUE},
      </if>
      <if test="TO_VALUE != null and TO_VALUE != emptyBigDecimalValue" >
        #{TO_VALUE},
      </if>
      <if test="RISK != null and !&quot;&quot;.equals(RISK)" >
        #{RISK},
      </if>
      <if test="STATUS != null and !&quot;&quot;.equals(STATUS)" >
        #{STATUS},
      </if>
      <if test="CREATED_DATE != null" >
        #{CREATED_DATE},
      </if>
      <if test="CREATED_BY != null and !&quot;&quot;.equals(CREATED_BY)" >
        #{CREATED_BY},
      </if>
      <if test="MODIFIED_DATE != null" >
        #{MODIFIED_DATE},
      </if>
      <if test="AUTHORIZED_BY != null and !&quot;&quot;.equals(AUTHORIZED_BY)" >
        #{AUTHORIZED_BY},
      </if>
      <if test="AUTHORIZED_DATE != null" >
        #{AUTHORIZED_DATE},
      </if>
      <if test="REJECTED_BY != null and !&quot;&quot;.equals(REJECTED_BY)" >
        #{REJECTED_BY},
      </if>
      <if test="REJECTED_DATE != null" >
        #{REJECTED_DATE},
      </if>
      <if test="DELETED_BY != null and !&quot;&quot;.equals(DELETED_BY)" >
        #{DELETED_BY},
      </if>
      <if test="DELETED_DATE != null" >
        #{DELETED_DATE},
      </if>
      <if test="MODIFIED_BY != null and !&quot;&quot;.equals(MODIFIED_BY)" >
        #{MODIFIED_BY},
      </if>
        <choose > <when test="isOracle == 1" >	SYSDATE,</when>	<otherwise >	GETDATE(),	</otherwise> </choose>
    </trim>
  </insert>
  <sql id="sql_updateAML_CUSTOMER_REVIEW_PRIORITY" >
    update AML_CUSTOMER_REVIEW_PRIORITY
    <set >
      <if test="FROM_VALUE != null" >
        <choose >
          <when test="FROM_VALUE == emptyBigDecimalValue" >
            FROM_VALUE = NULL ,
          </when>
          <otherwise >
            FROM_VALUE = #{FROM_VALUE},
          </otherwise>
        </choose>
      </if>
      <if test="TO_VALUE != null" >
        <choose >
          <when test="TO_VALUE == emptyBigDecimalValue" >
            TO_VALUE = NULL ,
          </when>
          <otherwise >
            TO_VALUE = #{TO_VALUE},
          </otherwise>
        </choose>
      </if>
      <if test="RISK != null" >
        <choose >
          <when test="RISK.equals(&quot;&quot;)" >
            RISK = NULL ,
          </when>
          <otherwise >
            RISK = #{RISK},
          </otherwise>
        </choose>
      </if>
      <if test="STATUS != null" >
        <choose >
          <when test="STATUS.equals(&quot;&quot;)" >
            STATUS = NULL ,
          </when>
          <otherwise >
            STATUS = #{STATUS},
          </otherwise>
        </choose>
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE = #{CREATED_DATE},
      </if>
      <if test="CREATED_BY != null" >
        <choose >
          <when test="CREATED_BY.equals(&quot;&quot;)" >
            CREATED_BY = NULL ,
          </when>
          <otherwise >
            CREATED_BY = #{CREATED_BY},
          </otherwise>
        </choose>
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE = #{MODIFIED_DATE},
      </if>
      <if test="AUTHORIZED_BY != null" >
        <choose >
          <when test="AUTHORIZED_BY.equals(&quot;&quot;)" >
            AUTHORIZED_BY = NULL ,
          </when>
          <otherwise >
            AUTHORIZED_BY = #{AUTHORIZED_BY},
          </otherwise>
        </choose>
      </if>
      <if test="AUTHORIZED_DATE != null" >
        AUTHORIZED_DATE = #{AUTHORIZED_DATE},
      </if>
      <if test="REJECTED_BY != null" >
        <choose >
          <when test="REJECTED_BY.equals(&quot;&quot;)" >
            REJECTED_BY = NULL ,
          </when>
          <otherwise >
            REJECTED_BY = #{REJECTED_BY},
          </otherwise>
        </choose>
      </if>
      <if test="REJECTED_DATE != null" >
        REJECTED_DATE = #{REJECTED_DATE},
      </if>
      <if test="DELETED_BY != null" >
        <choose >
          <when test="DELETED_BY.equals(&quot;&quot;)" >
            DELETED_BY = NULL ,
          </when>
          <otherwise >
            DELETED_BY = #{DELETED_BY},
          </otherwise>
        </choose>
      </if>
      <if test="DELETED_DATE != null" >
        DELETED_DATE = #{DELETED_DATE},
      </if>
      <if test="MODIFIED_BY != null" >
        <choose >
          <when test="MODIFIED_BY.equals(&quot;&quot;)" >
            MODIFIED_BY = NULL ,
          </when>
          <otherwise >
            MODIFIED_BY = #{MODIFIED_BY},
          </otherwise>
        </choose>
      </if>
        UPDATED_DATE = <choose > <when test="isOracle == 1" >	SYSDATE,</when>	<otherwise >	GETDATE(),	</otherwise> </choose>
    </set>
    where COMP_CODE = #{COMP_CODE}
    and LINE_NUMBER = #{LINE_NUMBER}
    and PRIORITY_ID = #{PRIORITY_ID}
  </sql>
  <update id="updateAML_CUSTOMER_REVIEW_PRIORITY" parameterType="com.path.dbmaps.vo.AML_CUSTOMER_REVIEW_PRIORITYVO" >
    <include refid="sql_updateAML_CUSTOMER_REVIEW_PRIORITY" />
  </update>
</mapper>