<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AXS" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.AXSVO" >
    <id column="APP_NAME" property="APP_NAME" />
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="PROG_REF" property="PROG_REF" />
    <id column="USER_ID" property="USER_ID" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="AUTHORIZED_BY" property="AUTHORIZED_BY" />
    <result column="STATUS" property="STATUS" />
    <result column="FROM_USER" property="FROM_USER" />
    <result column="FROM_ROLE" property="FROM_ROLE" />
    <result column="FROM_GROUP" property="FROM_GROUP" />
    <result column="DIRECT_ACCESS" property="DIRECT_ACCESS" />
    <result column="DATE_CREATED" property="DATE_CREATED" />
    <result column="DATE_AUTHORIZED" property="DATE_AUTHORIZED" />
    <result column="DATE_DELETED" property="DATE_DELETED" />
    <result column="DATE_DELETE_REJECTED" property="DATE_DELETE_REJECTED" />
    <result column="DELETED_BY" property="DELETED_BY" />
    <result column="DELETE_REJECTED_BY" property="DELETE_REJECTED_BY" />
    <result column="TO_BE_DELETED" property="TO_BE_DELETED" />
    <result column="ACCESS_FROM_DATE" property="ACCESS_FROM_DATE" />
    <result column="ACCESS_TO_DATE" property="ACCESS_TO_DATE" />
    <result column="DATE_MODIFIED" property="DATE_MODIFIED" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="APPROVED_BY" property="APPROVED_BY" />
    <result column="DATE_APPROVED" property="DATE_APPROVED" />
  </resultMap>
  <sql id="Base_Column_List" >
    APP_NAME, BRANCH_CODE, COMP_CODE, PROG_REF, USER_ID, CREATED_BY, AUTHORIZED_BY, STATUS, 
    FROM_USER, FROM_ROLE, FROM_GROUP, DIRECT_ACCESS, DATE_CREATED, DATE_AUTHORIZED, DATE_DELETED, 
    DATE_DELETE_REJECTED, DELETED_BY, DELETE_REJECTED_BY, TO_BE_DELETED, ACCESS_FROM_DATE, ACCESS_TO_DATE,
     DATE_MODIFIED, MODIFIED_BY, APPROVED_BY, DATE_APPROVED
  </sql>
  <select id="selectAXS" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.AXSVOKey" >
    select 
    <include refid="Base_Column_List" />
    from AXS
    where APP_NAME = #{APP_NAME}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and PROG_REF = #{PROG_REF}
      and USER_ID = #{USER_ID}
  </select>
  <delete id="deleteAXS" parameterType="com.path.dbmaps.vo.AXSVOKey" >
    delete from AXS
    where APP_NAME = #{APP_NAME}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and PROG_REF = #{PROG_REF}
      and USER_ID = #{USER_ID}
  </delete>
  <insert id="insertAXS" parameterType="com.path.dbmaps.vo.AXSVO" >
    insert into AXS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="APP_NAME != null" >
        APP_NAME,
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="PROG_REF != null" >
        PROG_REF,
      </if>
      <if test="USER_ID != null" >
        USER_ID,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="AUTHORIZED_BY != null" >
        AUTHORIZED_BY,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="FROM_USER != null" >
        FROM_USER,
      </if>
      <if test="FROM_ROLE != null" >
        FROM_ROLE,
      </if>
      <if test="FROM_GROUP != null" >
        FROM_GROUP,
      </if>
      <if test="DIRECT_ACCESS != null" >
        DIRECT_ACCESS,
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED,
      </if>
      <if test="DATE_AUTHORIZED != null" >
        DATE_AUTHORIZED,
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED,
      </if>
      <if test="DATE_DELETE_REJECTED != null" >
        DATE_DELETE_REJECTED,
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY,
      </if>
      <if test="DELETE_REJECTED_BY != null" >
        DELETE_REJECTED_BY,
      </if>
      <if test="TO_BE_DELETED != null" >
        TO_BE_DELETED,
      </if>
      
      <if test="ACCESS_FROM_DATE != null" >
        ACCESS_FROM_DATE,
      </if>
      <if test="ACCESS_TO_DATE != null" >
        ACCESS_TO_DATE,
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED,
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY,
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY,
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="APP_NAME != null" >
        #{APP_NAME},
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="PROG_REF != null" >
        #{PROG_REF},
      </if>
      <if test="USER_ID != null" >
        #{USER_ID},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="AUTHORIZED_BY != null" >
        #{AUTHORIZED_BY},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="FROM_USER != null" >
        #{FROM_USER},
      </if>
      <if test="FROM_ROLE != null" >
        #{FROM_ROLE},
      </if>
      <if test="FROM_GROUP != null" >
        #{FROM_GROUP},
      </if>
      <if test="DIRECT_ACCESS != null" >
        #{DIRECT_ACCESS},
      </if>
      <if test="DATE_CREATED != null" >
        #{DATE_CREATED},
      </if>
      <if test="DATE_AUTHORIZED != null" >
        #{DATE_AUTHORIZED},
      </if>
      <if test="DATE_DELETED != null" >
        #{DATE_DELETED},
      </if>
      <if test="DATE_DELETE_REJECTED != null" >
        #{DATE_DELETE_REJECTED},
      </if>
      <if test="DELETED_BY != null" >
        #{DELETED_BY},
      </if>
      <if test="DELETE_REJECTED_BY != null" >
        #{DELETE_REJECTED_BY},
      </if>
      <if test="TO_BE_DELETED != null" >
        #{TO_BE_DELETED},
      </if>
      
      <if test="ACCESS_FROM_DATE != null" >
        #{ACCESS_FROM_DATE},
      </if>
      <if test="ACCESS_TO_DATE != null" >
        #{ACCESS_TO_DATE},
      </if>
      <if test="DATE_MODIFIED != null" >
        #{DATE_MODIFIED},
      </if>
      <if test="MODIFIED_BY != null" >
        #{MODIFIED_BY},
      </if>
      <if test="APPROVED_BY != null" >
        #{APPROVED_BY},
      </if>
      <if test="DATE_APPROVED != null" >
        #{DATE_APPROVED},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateAXS" >
    update AXS
    <set >
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="AUTHORIZED_BY != null" >
        AUTHORIZED_BY = #{AUTHORIZED_BY},
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="FROM_USER != null" >
        FROM_USER = #{FROM_USER},
      </if>
      <if test="FROM_ROLE != null" >
        FROM_ROLE = #{FROM_ROLE},
      </if>
      <if test="FROM_GROUP != null" >
        FROM_GROUP = #{FROM_GROUP},
      </if>
      <if test="DIRECT_ACCESS != null" >
        DIRECT_ACCESS = #{DIRECT_ACCESS},
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED = #{DATE_CREATED},
      </if>
      <if test="DATE_AUTHORIZED != null" >
        DATE_AUTHORIZED = #{DATE_AUTHORIZED},
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED = #{DATE_DELETED},
      </if>
      <if test="DATE_DELETE_REJECTED != null" >
        DATE_DELETE_REJECTED = #{DATE_DELETE_REJECTED},
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY = #{DELETED_BY},
      </if>
      <if test="DELETE_REJECTED_BY != null" >
        DELETE_REJECTED_BY = #{DELETE_REJECTED_BY},
      </if>
      <if test="TO_BE_DELETED != null" >
        TO_BE_DELETED = #{TO_BE_DELETED},
      </if>
      
      <if test="ACCESS_FROM_DATE != null" >
        ACCESS_FROM_DATE = #{ACCESS_FROM_DATE},
      </if>
      <if test="ACCESS_TO_DATE != null" >
        ACCESS_TO_DATE = #{ACCESS_TO_DATE},
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED = #{DATE_MODIFIED},
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY = #{MODIFIED_BY},
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY = #{APPROVED_BY},
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED = #{DATE_APPROVED},
      </if>
    </set>
    where APP_NAME = #{APP_NAME}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and PROG_REF = #{PROG_REF}
      and USER_ID = #{USER_ID}
  </sql>
  <update id="updateAXS" parameterType="com.path.dbmaps.vo.AXSVO" >
    <include refid="sql_updateAXS" />
  </update>
</mapper>