<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="BRANCHES" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.BRANCHESVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <result column="BRIEF_DESC_ENG" property="BRIEF_DESC_ENG" />
    <result column="BRIEF_DESC_ARAB" property="BRIEF_DESC_ARAB" />
    <result column="LONG_DESC_ENG" property="LONG_DESC_ENG" />
    <result column="LONG_DESC_ARAB" property="LONG_DESC_ARAB" />
    <result column="ADDRESS1_ENG" property="ADDRESS1_ENG" />
    <result column="ADDRESS2_ENG" property="ADDRESS2_ENG" />
    <result column="ADDRESS3_ENG" property="ADDRESS3_ENG" />
    <result column="ADDRESS1_ARAB" property="ADDRESS1_ARAB" />
    <result column="ADDRESS2_ARAB" property="ADDRESS2_ARAB" />
    <result column="ADDRESS3_ARAB" property="ADDRESS3_ARAB" />
    <result column="DAILY_OP_NO" property="DAILY_OP_NO" />
    <result column="TRADES_NO" property="TRADES_NO" />
    <result column="HIST_OP_NO" property="HIST_OP_NO" />
    <result column="BASE_CURRENCY" property="BASE_CURRENCY" />
    <result column="RUN_DATE" property="RUN_DATE" />
    <result column="REMARK" property="REMARK" />
    <result column="F_AC_SRL" property="f_AC_SRL" />
    <result column="G_AC_SRL" property="g_AC_SRL" />
    <result column="GAIN_LOSS_PERCENT" property="GAIN_LOSS_PERCENT" />
    <result column="SERVICE" property="SERVICE" />
    <result column="MACHINE" property="MACHINE" />
    <result column="ON_GL_CODE" property="ON_GL_CODE" />
    <result column="ON_CIF_SUB_NO" property="ON_CIF_SUB_NO" />
    <result column="ON_SL_NO" property="ON_SL_NO" />
    <result column="OFF_GL_CODE" property="OFF_GL_CODE" />
    <result column="OFF_CIF_SUB_NO" property="OFF_CIF_SUB_NO" />
    <result column="OFF_SL_NO" property="OFF_SL_NO" />
    <result column="ADDITIONAL_REFERENCE" property="ADDITIONAL_REFERENCE" />
    <result column="HOL1" property="HOL1" />
    <result column="HOL2" property="HOL2" />
    <result column="HOL3" property="HOL3" />
    <result column="HOL4" property="HOL4" />
    <result column="TP_UPDATE" property="TP_UPDATE" />
    <result column="TP_COST_GL" property="TP_COST_GL" />
    <result column="TP_COST_CIF" property="TP_COST_CIF" />
    <result column="TP_COST_SL" property="TP_COST_SL" />
    <result column="TP_INC_GL" property="TP_INC_GL" />
    <result column="TP_INC_CIF" property="TP_INC_CIF" />
    <result column="TP_INC_SL" property="TP_INC_SL" />
    <result column="ADD_STRING1" property="ADD_STRING1" />
    <result column="ADD_STRING2" property="ADD_STRING2" />
    <result column="ADD_STRING3" property="ADD_STRING3" />
    <result column="ADD_STRING4" property="ADD_STRING4" />
    <result column="ADD_STRING5" property="ADD_STRING5" />
    <result column="ADD_NUMBER1" property="ADD_NUMBER1" />
    <result column="ADD_NUMBER2" property="ADD_NUMBER2" />
    <result column="ADD_NUMBER3" property="ADD_NUMBER3" />
    <result column="ADD_NUMBER4" property="ADD_NUMBER4" />
    <result column="ADD_NUMBER5" property="ADD_NUMBER5" />
    <result column="ADD_DATE1" property="ADD_DATE1" />
    <result column="ADD_DATE2" property="ADD_DATE2" />
    <result column="ADD_DATE3" property="ADD_DATE3" />
    <result column="ADD_DATE4" property="ADD_DATE4" />
    <result column="ADD_DATE5" property="ADD_DATE5" />
    <result column="TP_UPDATE_ALLOC" property="TP_UPDATE_ALLOC" />
    <result column="IS_PHYSICAL" property="IS_PHYSICAL" />
    <result column="PRINTER_NAME" property="PRINTER_NAME" />
    <result column="PRINT_OPTION" property="PRINT_OPTION" />
    <result column="REGION_CODE" property="REGION_CODE" />
    <result column="TEL_NO" property="TEL_NO" />
    <result column="FAX_NO" property="FAX_NO" />
    <result column="EOD_READY_RUN" property="EOD_READY_RUN" />
    <result column="REASON" property="REASON" />
    <result column="TIME_FOR_AUTOMATIC_CLOSURE" property="TIME_FOR_AUTOMATIC_CLOSURE" />
    <result column="OPENING_DATE" property="OPENING_DATE" />
    <result column="BR_TYPE" property="BR_TYPE" />
    <result column="MAIN_HO_BR" property="MAIN_HO_BR" />
    <result column="TELEX_NO" property="TELEX_NO" />
		<result column="CREATED_BY" 			property="CREATED_BY" />
		<result column="DATE_CREATED" 		property="DATE_CREATED" />
		<result column="AUTHORIZED_BY" 		property="AUTHORIZED_BY" />
		<result column="DATE_AUTHORIZED" 	property="DATE_AUTHORIZED" />
		<result column="REJECTED_BY" 			property="REJECTED_BY" />
		<result column="DATE_REJECTED" 		property="DATE_REJECTED" />
		<result column="MODIFIED_BY" 			property="MODIFIED_BY" />
		<result column="DATE_MODIFIED" 		property="DATE_MODIFIED" />
		<result column="FULL_TIME_SERVICES_YN" property="FULL_TIME_SERVICES_YN"/>
		<result column="MAIN_VAULT_BR_YN" property="MAIN_VAULT_BR_YN"/>
		<result column="ON_HO_GL_CODE" property="ON_HO_GL_CODE"/>
		<result column="ON_HO_CIF_SUB_NO" property="ON_HO_CIF_SUB_NO"/>
 		<result column="ON_HO_SL_NO" property="ON_HO_SL_NO"/>
    <result column="OFF_HO_GL_CODE" property="OFF_HO_GL_CODE"/>
   	<result column="OFF_HO_CIF_SUB_NO" property="OFF_HO_CIF_SUB_NO"/>
    <result column="OFF_HO_SL_NO" property="OFF_HO_SL_NO"/> 
		
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, BRIEF_DESC_ENG, BRIEF_DESC_ARAB, LONG_DESC_ENG, LONG_DESC_ARAB, 
    ADDRESS1_ENG, ADDRESS2_ENG, ADDRESS3_ENG, ADDRESS1_ARAB, ADDRESS2_ARAB, ADDRESS3_ARAB, 
    DAILY_OP_NO, TRADES_NO, HIST_OP_NO, BASE_CURRENCY, RUN_DATE, REMARK, F_AC_SRL, G_AC_SRL, 
    GAIN_LOSS_PERCENT, SERVICE, MACHINE, ON_GL_CODE, ON_CIF_SUB_NO, ON_SL_NO, OFF_GL_CODE, 
    OFF_CIF_SUB_NO, OFF_SL_NO, ADDITIONAL_REFERENCE, HOL1, HOL2, HOL3, HOL4, TP_UPDATE, 
    TP_COST_GL, TP_COST_CIF, TP_COST_SL, TP_INC_GL, TP_INC_CIF, TP_INC_SL, ADD_STRING1, 
    ADD_STRING2, ADD_STRING3, ADD_STRING4, ADD_STRING5, ADD_NUMBER1, ADD_NUMBER2, ADD_NUMBER3, 
    ADD_NUMBER4, ADD_NUMBER5, ADD_DATE1, ADD_DATE2, ADD_DATE3, ADD_DATE4, ADD_DATE5, 
    TP_UPDATE_ALLOC, IS_PHYSICAL, PRINTER_NAME, PRINT_OPTION, REGION_CODE, TEL_NO, FAX_NO, 
    EOD_READY_RUN, REASON, TIME_FOR_AUTOMATIC_CLOSURE, OPENING_DATE, BR_TYPE, MAIN_HO_BR,TELEX_NO,
    CREATED_BY,DATE_CREATED,AUTHORIZED_BY,DATE_AUTHORIZED,REJECTED_BY,DATE_REJECTED,MODIFIED_BY,
    DATE_MODIFIED,FULL_TIME_SERVICES_YN,MAIN_VAULT_BR_YN,ON_HO_GL_CODE,ON_HO_CIF_SUB_NO,ON_HO_SL_NO,
    OFF_HO_GL_CODE,OFF_HO_CIF_SUB_NO,OFF_HO_SL_NO
  </sql>
  <select id="selectBRANCHES" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.BRANCHESVOKey" >
    select 
    <include refid="Base_Column_List" />
    from BRANCHES
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
  </select>
  <delete id="deleteBRANCHES" parameterType="com.path.dbmaps.vo.BRANCHESVOKey" >
    delete from BRANCHES
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
  </delete>
  <insert id="insertBRANCHES" parameterType="com.path.dbmaps.vo.BRANCHESVO" >
    insert into BRANCHES
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="BRIEF_DESC_ENG != null" >
        BRIEF_DESC_ENG,
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        BRIEF_DESC_ARAB,
      </if>
      <if test="LONG_DESC_ENG != null" >
        LONG_DESC_ENG,
      </if>
      <if test="LONG_DESC_ARAB != null" >
        LONG_DESC_ARAB,
      </if>
      <if test="ADDRESS1_ENG != null" >
        ADDRESS1_ENG,
      </if>
      <if test="ADDRESS2_ENG != null" >
        ADDRESS2_ENG,
      </if>
      <if test="ADDRESS3_ENG != null" >
        ADDRESS3_ENG,
      </if>
      <if test="ADDRESS1_ARAB != null" >
        ADDRESS1_ARAB,
      </if>
      <if test="ADDRESS2_ARAB != null" >
        ADDRESS2_ARAB,
      </if>
      <if test="ADDRESS3_ARAB != null" >
        ADDRESS3_ARAB,
      </if>
      <if test="DAILY_OP_NO != null and DAILY_OP_NO != emptyBigDecimalValue" >
        DAILY_OP_NO,
      </if>
      <if test="TRADES_NO != null and TRADES_NO != emptyBigDecimalValue" >
        TRADES_NO,
      </if>
      <if test="HIST_OP_NO != null and HIST_OP_NO != emptyBigDecimalValue" >
        HIST_OP_NO,
      </if>
      <if test="BASE_CURRENCY != null and BASE_CURRENCY != emptyBigDecimalValue" >
        BASE_CURRENCY,
      </if>
      <if test="RUN_DATE != null" >
        RUN_DATE,
      </if>
      <if test="REMARK != null" >
        REMARK,
      </if>
      <if test="f_AC_SRL != null and f_AC_SRL != emptyBigDecimalValue" >
        F_AC_SRL,
      </if>
      <if test="g_AC_SRL != null and g_AC_SRL != emptyBigDecimalValue" >
        G_AC_SRL,
      </if>
      <if test="GAIN_LOSS_PERCENT != null and GAIN_LOSS_PERCENT != emptyBigDecimalValue" >
        GAIN_LOSS_PERCENT,
      </if>
      <if test="SERVICE != null and SERVICE != emptyBigDecimalValue" >
        SERVICE,
      </if>
      <if test="MACHINE != null" >
        MACHINE,
      </if>
      <if test="ON_GL_CODE != null and ON_GL_CODE != emptyBigDecimalValue" >
        ON_GL_CODE,
      </if>
      <if test="ON_CIF_SUB_NO != null and ON_CIF_SUB_NO != emptyBigDecimalValue" >
        ON_CIF_SUB_NO,
      </if>
      <if test="ON_SL_NO != null and ON_SL_NO != emptyBigDecimalValue" >
        ON_SL_NO,
      </if>
      <if test="OFF_GL_CODE != null and OFF_GL_CODE != emptyBigDecimalValue" >
        OFF_GL_CODE,
      </if>
      <if test="OFF_CIF_SUB_NO != null and OFF_CIF_SUB_NO != emptyBigDecimalValue" >
        OFF_CIF_SUB_NO,
      </if>
      <if test="OFF_SL_NO != null and OFF_SL_NO != emptyBigDecimalValue" >
        OFF_SL_NO,
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        ADDITIONAL_REFERENCE,
      </if>
      <if test="HOL1 != null" >
        HOL1,
      </if>
      <if test="HOL2 != null" >
        HOL2,
      </if>
      <if test="HOL3 != null" >
        HOL3,
      </if>
      <if test="HOL4 != null" >
        HOL4,
      </if>
      <if test="TP_UPDATE != null" >
        TP_UPDATE,
      </if>
      <if test="TP_COST_GL != null and TP_COST_GL != emptyBigDecimalValue" >
        TP_COST_GL,
      </if>
      <if test="TP_COST_CIF != null and TP_COST_CIF != emptyBigDecimalValue" >
        TP_COST_CIF,
      </if>
      <if test="TP_COST_SL != null and TP_COST_SL != emptyBigDecimalValue" >
        TP_COST_SL,
      </if>
      <if test="TP_INC_GL != null and TP_INC_GL != emptyBigDecimalValue" >
        TP_INC_GL,
      </if>
      <if test="TP_INC_CIF != null and TP_INC_CIF != emptyBigDecimalValue" >
        TP_INC_CIF,
      </if>
      <if test="TP_INC_SL != null and TP_INC_SL != emptyBigDecimalValue" >
        TP_INC_SL,
      </if>
      <if test="ADD_STRING1 != null" >
        ADD_STRING1,
      </if>
      <if test="ADD_STRING2 != null" >
        ADD_STRING2,
      </if>
      <if test="ADD_STRING3 != null" >
        ADD_STRING3,
      </if>
      <if test="ADD_STRING4 != null" >
        ADD_STRING4,
      </if>
      <if test="ADD_STRING5 != null" >
        ADD_STRING5,
      </if>
      <if test="ADD_NUMBER1 != null and ADD_NUMBER1 != emptyBigDecimalValue" >
        ADD_NUMBER1,
      </if>
      <if test="ADD_NUMBER2 != null and ADD_NUMBER2 != emptyBigDecimalValue" >
        ADD_NUMBER2,
      </if>
      <if test="ADD_NUMBER3 != null and ADD_NUMBER3 != emptyBigDecimalValue" >
        ADD_NUMBER3,
      </if>
      <if test="ADD_NUMBER4 != null and ADD_NUMBER4 != emptyBigDecimalValue" >
        ADD_NUMBER4,
      </if>
      <if test="ADD_NUMBER5 != null and ADD_NUMBER5 != emptyBigDecimalValue" >
        ADD_NUMBER5,
      </if>
      <if test="ADD_DATE1 != null" >
        ADD_DATE1,
      </if>
      <if test="ADD_DATE2 != null" >
        ADD_DATE2,
      </if>
      <if test="ADD_DATE3 != null" >
        ADD_DATE3,
      </if>
      <if test="ADD_DATE4 != null" >
        ADD_DATE4,
      </if>
      <if test="ADD_DATE5 != null" >
        ADD_DATE5,
      </if>
      <if test="TP_UPDATE_ALLOC != null" >
        TP_UPDATE_ALLOC,
      </if>
      <if test="IS_PHYSICAL != null" >
        IS_PHYSICAL,
      </if>
      <if test="PRINTER_NAME != null" >
        PRINTER_NAME,
      </if>
      <if test="PRINT_OPTION != null" >
        PRINT_OPTION,
      </if>
      <if test="REGION_CODE != null and REGION_CODE != emptyBigDecimalValue" >
        REGION_CODE,
      </if>
      <if test="TEL_NO != null" >
        TEL_NO,
      </if>
      <if test="FAX_NO != null" >
        FAX_NO,
      </if>
      <if test="EOD_READY_RUN != null" >
        EOD_READY_RUN,
      </if>
      <if test="REASON != null" >
        REASON,
      </if>
      <if test="TIME_FOR_AUTOMATIC_CLOSURE != null" >
        TIME_FOR_AUTOMATIC_CLOSURE,
      </if>
      <if test="OPENING_DATE != null" >
        OPENING_DATE,
      </if>
      <if test="BR_TYPE != null" >
        BR_TYPE,
      </if>
      <if test="MAIN_HO_BR != null and MAIN_HO_BR != emptyBigDecimalValue" >
        MAIN_HO_BR,
      </if>  
      <if test="TELEX_NO != null and !&quot;&quot;.equals(TELEX_NO) " >
        TELEX_NO,
      </if>  
      
      <if test="CREATED_BY != null and !&quot;&quot;.equals(CREATED_BY) " >
        CREATED_BY,
      </if>
      <if test="DATE_CREATED != null " >
        DATE_CREATED,
      </if>
      <if test="AUTHORIZED_BY != null and !&quot;&quot;.equals(AUTHORIZED_BY) " >
        AUTHORIZED_BY,
      </if>
      <if test="DATE_AUTHORIZED != null" >
        DATE_AUTHORIZED,
      </if>
      <if test="REJECTED_BY != null and !&quot;&quot;.equals(REJECTED_BY) " >
        REJECTED_BY,
      </if>
      <if test="DATE_REJECTED != null" >
        DATE_REJECTED,
      </if>
      <if test="MODIFIED_BY != null and !&quot;&quot;.equals(MODIFIED_BY) " >
        MODIFIED_BY,
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED,
      </if>
      <if test="FULL_TIME_SERVICES_YN != null and !&quot;&quot;.equals(FULL_TIME_SERVICES_YN) " >
        FULL_TIME_SERVICES_YN,
      </if> 
       <if test="MAIN_VAULT_BR_YN != null and !&quot;&quot;.equals(MAIN_VAULT_BR_YN) " >
        MAIN_VAULT_BR_YN,
      </if>        
       <if test="ON_HO_GL_CODE != null and ON_HO_GL_CODE != emptyBigDecimalValue" >
        ON_HO_GL_CODE,
      </if>
      <if test="ON_HO_CIF_SUB_NO != null and ON_HO_CIF_SUB_NO != emptyBigDecimalValue" >
        ON_HO_CIF_SUB_NO,
      </if>
      <if test="ON_HO_SL_NO != null and ON_HO_SL_NO != emptyBigDecimalValue" >
        ON_HO_SL_NO,
      </if>
      <if test="OFF_HO_GL_CODE != null and OFF_HO_GL_CODE != emptyBigDecimalValue" >
        OFF_HO_GL_CODE,
      </if>
      <if test="OFF_HO_CIF_SUB_NO != null and OFF_HO_CIF_SUB_NO != emptyBigDecimalValue" >
        OFF_HO_CIF_SUB_NO,
      </if>
      <if test="OFF_HO_SL_NO != null and OFF_HO_SL_NO != emptyBigDecimalValue" >
        OFF_HO_SL_NO,
      </if>         
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="BRIEF_DESC_ENG != null" >
        #{BRIEF_DESC_ENG},
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        #{BRIEF_DESC_ARAB},
      </if>
      <if test="LONG_DESC_ENG != null" >
        #{LONG_DESC_ENG},
      </if>
      <if test="LONG_DESC_ARAB != null" >
        #{LONG_DESC_ARAB},
      </if>
      <if test="ADDRESS1_ENG != null" >
        #{ADDRESS1_ENG},
      </if>
      <if test="ADDRESS2_ENG != null" >
        #{ADDRESS2_ENG},
      </if>
      <if test="ADDRESS3_ENG != null" >
        #{ADDRESS3_ENG},
      </if>
      <if test="ADDRESS1_ARAB != null" >
        #{ADDRESS1_ARAB},
      </if>
      <if test="ADDRESS2_ARAB != null" >
        #{ADDRESS2_ARAB},
      </if>
      <if test="ADDRESS3_ARAB != null" >
        #{ADDRESS3_ARAB},
      </if>
      <if test="DAILY_OP_NO != null and DAILY_OP_NO != emptyBigDecimalValue" >
        #{DAILY_OP_NO},
      </if>
      <if test="TRADES_NO != null and TRADES_NO != emptyBigDecimalValue" >
        #{TRADES_NO},
      </if>
      <if test="HIST_OP_NO != null and HIST_OP_NO != emptyBigDecimalValue" >
        #{HIST_OP_NO},
      </if>
      <if test="BASE_CURRENCY != null and BASE_CURRENCY != emptyBigDecimalValue" >
        #{BASE_CURRENCY},
      </if>
      <if test="RUN_DATE != null" >
        #{RUN_DATE},
      </if>
      <if test="REMARK != null" >
        #{REMARK},
      </if>
      <if test="f_AC_SRL != null and f_AC_SRL != emptyBigDecimalValue" >
        #{f_AC_SRL},
      </if>
      <if test="g_AC_SRL != null and g_AC_SRL != emptyBigDecimalValue" >
        #{g_AC_SRL},
      </if>
      <if test="GAIN_LOSS_PERCENT != null and GAIN_LOSS_PERCENT != emptyBigDecimalValue" >
        #{GAIN_LOSS_PERCENT},
      </if>
      <if test="SERVICE != null and SERVICE != emptyBigDecimalValue" >
        #{SERVICE},
      </if>
      <if test="MACHINE != null" >
        #{MACHINE},
      </if>
      <if test="ON_GL_CODE != null and ON_GL_CODE != emptyBigDecimalValue" >
        #{ON_GL_CODE},
      </if>
      <if test="ON_CIF_SUB_NO != null and ON_CIF_SUB_NO != emptyBigDecimalValue" >
        #{ON_CIF_SUB_NO},
      </if>
      <if test="ON_SL_NO != null and ON_SL_NO != emptyBigDecimalValue" >
        #{ON_SL_NO},
      </if>
      <if test="OFF_GL_CODE != null and OFF_GL_CODE != emptyBigDecimalValue" >
        #{OFF_GL_CODE},
      </if>
      <if test="OFF_CIF_SUB_NO != null and OFF_CIF_SUB_NO != emptyBigDecimalValue" >
        #{OFF_CIF_SUB_NO},
      </if>
      <if test="OFF_SL_NO != null and OFF_SL_NO != emptyBigDecimalValue" >
        #{OFF_SL_NO},
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        #{ADDITIONAL_REFERENCE},
      </if>
      <if test="HOL1 != null" >
        #{HOL1},
      </if>
      <if test="HOL2 != null" >
        #{HOL2},
      </if>
      <if test="HOL3 != null" >
        #{HOL3},
      </if>
      <if test="HOL4 != null" >
        #{HOL4},
      </if>
      <if test="TP_UPDATE != null" >
        #{TP_UPDATE},
      </if>
      <if test="TP_COST_GL != null and TP_COST_GL != emptyBigDecimalValue" >
        #{TP_COST_GL},
      </if>
      <if test="TP_COST_CIF != null and TP_COST_CIF != emptyBigDecimalValue" >
        #{TP_COST_CIF},
      </if>
      <if test="TP_COST_SL != null and TP_COST_SL != emptyBigDecimalValue" >
        #{TP_COST_SL},
      </if>
      <if test="TP_INC_GL != null and TP_INC_GL != emptyBigDecimalValue" >
        #{TP_INC_GL},
      </if>
      <if test="TP_INC_CIF != null and TP_INC_CIF != emptyBigDecimalValue" >
        #{TP_INC_CIF},
      </if>
      <if test="TP_INC_SL != null and TP_INC_SL != emptyBigDecimalValue" >
        #{TP_INC_SL},
      </if>
      <if test="ADD_STRING1 != null" >
        #{ADD_STRING1},
      </if>
      <if test="ADD_STRING2 != null" >
        #{ADD_STRING2},
      </if>
      <if test="ADD_STRING3 != null" >
        #{ADD_STRING3},
      </if>
      <if test="ADD_STRING4 != null" >
        #{ADD_STRING4},
      </if>
      <if test="ADD_STRING5 != null" >
        #{ADD_STRING5},
      </if>
      <if test="ADD_NUMBER1 != null and ADD_NUMBER1 != emptyBigDecimalValue" >
        #{ADD_NUMBER1},
      </if>
      <if test="ADD_NUMBER2 != null and ADD_NUMBER2 != emptyBigDecimalValue" >
        #{ADD_NUMBER2},
      </if>
      <if test="ADD_NUMBER3 != null and ADD_NUMBER3 != emptyBigDecimalValue" >
        #{ADD_NUMBER3},
      </if>
      <if test="ADD_NUMBER4 != null and ADD_NUMBER4 != emptyBigDecimalValue" >
        #{ADD_NUMBER4},
      </if>
      <if test="ADD_NUMBER5 != null and ADD_NUMBER5 != emptyBigDecimalValue" >
        #{ADD_NUMBER5},
      </if>
      <if test="ADD_DATE1 != null" >
        #{ADD_DATE1},
      </if>
      <if test="ADD_DATE2 != null" >
        #{ADD_DATE2},
      </if>
      <if test="ADD_DATE3 != null" >
        #{ADD_DATE3},
      </if>
      <if test="ADD_DATE4 != null" >
        #{ADD_DATE4},
      </if>
      <if test="ADD_DATE5 != null" >
        #{ADD_DATE5},
      </if>
      <if test="TP_UPDATE_ALLOC != null" >
        #{TP_UPDATE_ALLOC},
      </if>
      <if test="IS_PHYSICAL != null" >
        #{IS_PHYSICAL},
      </if>
      <if test="PRINTER_NAME != null" >
        #{PRINTER_NAME},
      </if>
      <if test="PRINT_OPTION != null" >
        #{PRINT_OPTION},
      </if>
      <if test="REGION_CODE != null and REGION_CODE != emptyBigDecimalValue" >
        #{REGION_CODE},
      </if>
      <if test="TEL_NO != null" >
        #{TEL_NO},
      </if>
      <if test="FAX_NO != null" >
        #{FAX_NO},
      </if>
      <if test="EOD_READY_RUN != null" >
        #{EOD_READY_RUN},
      </if>
      <if test="REASON != null" >
        #{REASON},
      </if>
      <if test="TIME_FOR_AUTOMATIC_CLOSURE != null" >
        #{TIME_FOR_AUTOMATIC_CLOSURE},
      </if>
      <if test="OPENING_DATE != null" >
        #{OPENING_DATE},
      </if>
      <if test="BR_TYPE != null" >
        #{BR_TYPE},
      </if>
      <if test="MAIN_HO_BR != null and MAIN_HO_BR != emptyBigDecimalValue" >
        #{MAIN_HO_BR},
      </if>   
      <if test="TELEX_NO != null and !&quot;&quot;.equals(TELEX_NO)" >
        #{TELEX_NO},
      </if> 
      <if test="CREATED_BY != null and !&quot;&quot;.equals(CREATED_BY) " >
        #{CREATED_BY},
      </if>
      <if test="DATE_CREATED != null " >
        #{DATE_CREATED},
      </if>
      <if test="AUTHORIZED_BY != null and !&quot;&quot;.equals(AUTHORIZED_BY) " >
        #{AUTHORIZED_BY},
      </if>
      <if test="DATE_AUTHORIZED != null" >
        #{DATE_AUTHORIZED},
      </if>
      <if test="REJECTED_BY != null and !&quot;&quot;.equals(REJECTED_BY) " >
        #{REJECTED_BY},
      </if>
      <if test="DATE_REJECTED != null" >
        #{DATE_REJECTED},
      </if>
      <if test="MODIFIED_BY != null and !&quot;&quot;.equals(MODIFIED_BY) " >
        #{MODIFIED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        #{DATE_MODIFIED},
      </if>
      <if test="FULL_TIME_SERVICES_YN != null and !&quot;&quot;.equals(FULL_TIME_SERVICES_YN) " >
      	#{FULL_TIME_SERVICES_YN},
      </if>
      <if test="MAIN_VAULT_BR_YN != null and !&quot;&quot;.equals(MAIN_VAULT_BR_YN) " >
        #{MAIN_VAULT_BR_YN},
      </if>
      <if test="ON_HO_GL_CODE != null and ON_HO_GL_CODE != emptyBigDecimalValue" >
        #{ON_HO_GL_CODE},
      </if>
      <if test="ON_HO_CIF_SUB_NO != null and ON_HO_CIF_SUB_NO != emptyBigDecimalValue" >
        #{ON_HO_CIF_SUB_NO},
      </if>
      <if test="ON_HO_SL_NO != null and ON_HO_SL_NO != emptyBigDecimalValue" >
        #{ON_HO_SL_NO},
      </if>
      <if test="OFF_HO_GL_CODE != null and OFF_HO_GL_CODE != emptyBigDecimalValue" >
        #{OFF_HO_GL_CODE},
      </if>
      <if test="OFF_HO_CIF_SUB_NO != null and OFF_HO_CIF_SUB_NO != emptyBigDecimalValue" >
        #{OFF_HO_CIF_SUB_NO},
      </if>
      <if test="OFF_HO_SL_NO != null and OFF_HO_SL_NO != emptyBigDecimalValue" >
        #{OFF_HO_SL_NO},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateBRANCHES" >
    update BRANCHES
    <set >
      <if test="BRIEF_DESC_ENG != null" >
        BRIEF_DESC_ENG = #{BRIEF_DESC_ENG},
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        BRIEF_DESC_ARAB = #{BRIEF_DESC_ARAB},
      </if>
      <if test="LONG_DESC_ENG != null" >
        LONG_DESC_ENG = #{LONG_DESC_ENG},
      </if>
      <if test="LONG_DESC_ARAB != null" >
        LONG_DESC_ARAB = #{LONG_DESC_ARAB},
      </if>
      <if test="ADDRESS1_ENG != null" >
        ADDRESS1_ENG = #{ADDRESS1_ENG},
      </if>
      <if test="ADDRESS2_ENG != null" >
        ADDRESS2_ENG = #{ADDRESS2_ENG},
      </if>
      <if test="ADDRESS3_ENG != null" >
        ADDRESS3_ENG = #{ADDRESS3_ENG},
      </if>
      <if test="ADDRESS1_ARAB != null" >
        ADDRESS1_ARAB = #{ADDRESS1_ARAB},
      </if>
      <if test="ADDRESS2_ARAB != null" >
        ADDRESS2_ARAB = #{ADDRESS2_ARAB},
      </if>
      <if test="ADDRESS3_ARAB != null" >
        ADDRESS3_ARAB = #{ADDRESS3_ARAB},
      </if>
      <if test="DAILY_OP_NO != null" >
        <choose >
          <when test="DAILY_OP_NO == emptyBigDecimalValue" >
            DAILY_OP_NO = NULL ,
          </when>
          <otherwise >
            DAILY_OP_NO = #{DAILY_OP_NO},
          </otherwise>
        </choose>
      </if>
      <if test="TRADES_NO != null" >
        <choose >
          <when test="TRADES_NO == emptyBigDecimalValue" >
            TRADES_NO = NULL ,
          </when>
          <otherwise >
            TRADES_NO = #{TRADES_NO},
          </otherwise>
        </choose>
      </if>
      <if test="HIST_OP_NO != null" >
        <choose >
          <when test="HIST_OP_NO == emptyBigDecimalValue" >
            HIST_OP_NO = NULL ,
          </when>
          <otherwise >
            HIST_OP_NO = #{HIST_OP_NO},
          </otherwise>
        </choose>
      </if>
      <if test="BASE_CURRENCY != null" >
        <choose >
          <when test="BASE_CURRENCY == emptyBigDecimalValue" >
            BASE_CURRENCY = NULL ,
          </when>
          <otherwise >
            BASE_CURRENCY = #{BASE_CURRENCY},
          </otherwise>
        </choose>
      </if>
      <if test="RUN_DATE != null" >
        RUN_DATE = #{RUN_DATE},
      </if>
      <if test="REMARK != null" >
        REMARK = #{REMARK},
      </if>
      <if test="f_AC_SRL != null" >
        <choose >
          <when test="f_AC_SRL == emptyBigDecimalValue" >
            F_AC_SRL = NULL ,
          </when>
          <otherwise >
            F_AC_SRL = #{f_AC_SRL},
          </otherwise>
        </choose>
      </if>
      <if test="g_AC_SRL != null" >
        <choose >
          <when test="g_AC_SRL == emptyBigDecimalValue" >
            G_AC_SRL = NULL ,
          </when>
          <otherwise >
            G_AC_SRL = #{g_AC_SRL},
          </otherwise>
        </choose>
      </if>
      <if test="GAIN_LOSS_PERCENT != null" >
        <choose >
          <when test="GAIN_LOSS_PERCENT == emptyBigDecimalValue" >
            GAIN_LOSS_PERCENT = NULL ,
          </when>
          <otherwise >
            GAIN_LOSS_PERCENT = #{GAIN_LOSS_PERCENT},
          </otherwise>
        </choose>
      </if>
      <if test="SERVICE != null" >
        <choose >
          <when test="SERVICE == emptyBigDecimalValue" >
            SERVICE = NULL ,
          </when>
          <otherwise >
            SERVICE = #{SERVICE},
          </otherwise>
        </choose>
      </if>
      <if test="MACHINE != null" >
        MACHINE = #{MACHINE},
      </if>
      <if test="ON_GL_CODE != null" >
        <choose >
          <when test="ON_GL_CODE == emptyBigDecimalValue" >
            ON_GL_CODE = NULL ,
          </when>
          <otherwise >
            ON_GL_CODE = #{ON_GL_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="ON_CIF_SUB_NO != null" >
        <choose >
          <when test="ON_CIF_SUB_NO == emptyBigDecimalValue" >
            ON_CIF_SUB_NO = NULL ,
          </when>
          <otherwise >
            ON_CIF_SUB_NO = #{ON_CIF_SUB_NO},
          </otherwise>
        </choose>
      </if>
      <if test="ON_SL_NO != null" >
        <choose >
          <when test="ON_SL_NO == emptyBigDecimalValue" >
            ON_SL_NO = NULL ,
          </when>
          <otherwise >
            ON_SL_NO = #{ON_SL_NO},
          </otherwise>
        </choose>
      </if>
      <if test="OFF_GL_CODE != null" >
        <choose >
          <when test="OFF_GL_CODE == emptyBigDecimalValue" >
            OFF_GL_CODE = NULL ,
          </when>
          <otherwise >
            OFF_GL_CODE = #{OFF_GL_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="OFF_CIF_SUB_NO != null" >
        <choose >
          <when test="OFF_CIF_SUB_NO == emptyBigDecimalValue" >
            OFF_CIF_SUB_NO = NULL ,
          </when>
          <otherwise >
            OFF_CIF_SUB_NO = #{OFF_CIF_SUB_NO},
          </otherwise>
        </choose>
      </if>
      <if test="OFF_SL_NO != null" >
        <choose >
          <when test="OFF_SL_NO == emptyBigDecimalValue" >
            OFF_SL_NO = NULL ,
          </when>
          <otherwise >
            OFF_SL_NO = #{OFF_SL_NO},
          </otherwise>
        </choose>
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        ADDITIONAL_REFERENCE = #{ADDITIONAL_REFERENCE},
      </if>
      <if test="HOL1 != null" >
        HOL1 = #{HOL1},
      </if>
      <if test="HOL2 != null" >
        HOL2 = #{HOL2},
      </if>
      <if test="HOL3 != null" >
        HOL3 = #{HOL3},
      </if>
      <if test="HOL4 != null" >
        HOL4 = #{HOL4},
      </if>
      <if test="TP_UPDATE != null" >
        TP_UPDATE = #{TP_UPDATE},
      </if>
      <if test="TP_COST_GL != null" >
        <choose >
          <when test="TP_COST_GL == emptyBigDecimalValue" >
            TP_COST_GL = NULL ,
          </when>
          <otherwise >
            TP_COST_GL = #{TP_COST_GL},
          </otherwise>
        </choose>
      </if>
      <if test="TP_COST_CIF != null" >
        <choose >
          <when test="TP_COST_CIF == emptyBigDecimalValue" >
            TP_COST_CIF = NULL ,
          </when>
          <otherwise >
            TP_COST_CIF = #{TP_COST_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="TP_COST_SL != null" >
        <choose >
          <when test="TP_COST_SL == emptyBigDecimalValue" >
            TP_COST_SL = NULL ,
          </when>
          <otherwise >
            TP_COST_SL = #{TP_COST_SL},
          </otherwise>
        </choose>
      </if>
      <if test="TP_INC_GL != null" >
        <choose >
          <when test="TP_INC_GL == emptyBigDecimalValue" >
            TP_INC_GL = NULL ,
          </when>
          <otherwise >
            TP_INC_GL = #{TP_INC_GL},
          </otherwise>
        </choose>
      </if>
      <if test="TP_INC_CIF != null" >
        <choose >
          <when test="TP_INC_CIF == emptyBigDecimalValue" >
            TP_INC_CIF = NULL ,
          </when>
          <otherwise >
            TP_INC_CIF = #{TP_INC_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="TP_INC_SL != null" >
        <choose >
          <when test="TP_INC_SL == emptyBigDecimalValue" >
            TP_INC_SL = NULL ,
          </when>
          <otherwise >
            TP_INC_SL = #{TP_INC_SL},
          </otherwise>
        </choose>
      </if>
      <if test="ADD_STRING1 != null" >
        ADD_STRING1 = #{ADD_STRING1},
      </if>
      <if test="ADD_STRING2 != null" >
        ADD_STRING2 = #{ADD_STRING2},
      </if>
      <if test="ADD_STRING3 != null" >
        ADD_STRING3 = #{ADD_STRING3},
      </if>
      <if test="ADD_STRING4 != null" >
        ADD_STRING4 = #{ADD_STRING4},
      </if>
      <if test="ADD_STRING5 != null" >
        ADD_STRING5 = #{ADD_STRING5},
      </if>
      <if test="ADD_NUMBER1 != null" >
        <choose >
          <when test="ADD_NUMBER1 == emptyBigDecimalValue" >
            ADD_NUMBER1 = NULL ,
          </when>
          <otherwise >
            ADD_NUMBER1 = #{ADD_NUMBER1},
          </otherwise>
        </choose>
      </if>
      <if test="ADD_NUMBER2 != null" >
        <choose >
          <when test="ADD_NUMBER2 == emptyBigDecimalValue" >
            ADD_NUMBER2 = NULL ,
          </when>
          <otherwise >
            ADD_NUMBER2 = #{ADD_NUMBER2},
          </otherwise>
        </choose>
      </if>
      <if test="ADD_NUMBER3 != null" >
        <choose >
          <when test="ADD_NUMBER3 == emptyBigDecimalValue" >
            ADD_NUMBER3 = NULL ,
          </when>
          <otherwise >
            ADD_NUMBER3 = #{ADD_NUMBER3},
          </otherwise>
        </choose>
      </if>
      <if test="ADD_NUMBER4 != null" >
        <choose >
          <when test="ADD_NUMBER4 == emptyBigDecimalValue" >
            ADD_NUMBER4 = NULL ,
          </when>
          <otherwise >
            ADD_NUMBER4 = #{ADD_NUMBER4},
          </otherwise>
        </choose>
      </if>
      <if test="ADD_NUMBER5 != null" >
        <choose >
          <when test="ADD_NUMBER5 == emptyBigDecimalValue" >
            ADD_NUMBER5 = NULL ,
          </when>
          <otherwise >
            ADD_NUMBER5 = #{ADD_NUMBER5},
          </otherwise>
        </choose>
      </if>
      <if test="ADD_DATE1 != null" >
        ADD_DATE1 = #{ADD_DATE1},
      </if>
      <if test="ADD_DATE2 != null" >
        ADD_DATE2 = #{ADD_DATE2},
      </if>
      <if test="ADD_DATE3 != null" >
        ADD_DATE3 = #{ADD_DATE3},
      </if>
      <if test="ADD_DATE4 != null" >
        ADD_DATE4 = #{ADD_DATE4},
      </if>
      <if test="ADD_DATE5 != null" >
        ADD_DATE5 = #{ADD_DATE5},
      </if>
      <if test="TP_UPDATE_ALLOC != null" >
        TP_UPDATE_ALLOC = #{TP_UPDATE_ALLOC},
      </if>
      <if test="IS_PHYSICAL != null" >
        IS_PHYSICAL = #{IS_PHYSICAL},
      </if>
      <if test="PRINTER_NAME != null" >
        PRINTER_NAME = #{PRINTER_NAME},
      </if>
      <if test="PRINT_OPTION != null" >
        PRINT_OPTION = #{PRINT_OPTION},
      </if>
      <if test="REGION_CODE != null" >
        <choose >
          <when test="REGION_CODE == emptyBigDecimalValue" >
            REGION_CODE = NULL ,
          </when>
          <otherwise >
            REGION_CODE = #{REGION_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="TEL_NO != null" >
        TEL_NO = #{TEL_NO},
      </if>
      <if test="FAX_NO != null" >
        FAX_NO = #{FAX_NO},
      </if>
      <if test="EOD_READY_RUN != null" >
        EOD_READY_RUN = #{EOD_READY_RUN},
      </if>
      <if test="REASON != null" >
        REASON = #{REASON},
      </if>
      <if test="TIME_FOR_AUTOMATIC_CLOSURE != null" >
        TIME_FOR_AUTOMATIC_CLOSURE = #{TIME_FOR_AUTOMATIC_CLOSURE},
      </if>
      <if test="OPENING_DATE != null" >
        OPENING_DATE = #{OPENING_DATE},
      </if>
      <if test="BR_TYPE != null" >
        BR_TYPE = #{BR_TYPE},
      </if>
      <if test="MAIN_HO_BR != null">
        <choose >
          <when test="MAIN_HO_BR == emptyBigDecimalValue" >
            MAIN_HO_BR = NULL ,
          </when>
          <otherwise >
            MAIN_HO_BR = #{MAIN_HO_BR},
          </otherwise>
        </choose>
      </if>
      <if test="TELEX_NO != null">
        <choose >
          <when test="&quot;&quot;.equals(TELEX_NO)" >
            TELEX_NO = NULL ,
          </when>
          <otherwise >
            TELEX_NO = #{TELEX_NO},
          </otherwise>
        </choose>
      </if>
      <if test="CREATED_BY != null" >
        <choose >
          <when test="&quot;&quot;.equals(CREATED_BY)" >
            CREATED_BY = NULL ,
          </when>
          <otherwise >
            CREATED_BY = #{CREATED_BY},
          </otherwise>
        </choose>
      </if>
      <if test="DATE_CREATED != null " >
        DATE_CREATED = #{DATE_CREATED},
      </if>
      <if test="AUTHORIZED_BY != null" >
        <choose >
          <when test="&quot;&quot;.equals(AUTHORIZED_BY)" >
            AUTHORIZED_BY = NULL ,
          </when>
          <otherwise >
            AUTHORIZED_BY = #{AUTHORIZED_BY},
          </otherwise>
        </choose>
      </if>
      <if test="DATE_AUTHORIZED != null" >
          DATE_AUTHORIZED = #{DATE_AUTHORIZED},
      </if>
      <if test="REJECTED_BY != null" >
        <choose >
          <when test="&quot;&quot;.equals(REJECTED_BY)" >
            REJECTED_BY = NULL ,
          </when>
          <otherwise >
            REJECTED_BY = #{REJECTED_BY},
          </otherwise>
        </choose>
      </if>
      <if test="DATE_REJECTED != null" >
      	DATE_REJECTED = #{DATE_REJECTED},
      </if>
      <if test="MODIFIED_BY != null" >
        <choose >
          <when test="&quot;&quot;.equals(MODIFIED_BY)" >
            MODIFIED_BY = NULL ,
          </when>
          <otherwise >
            MODIFIED_BY = #{MODIFIED_BY},
          </otherwise>
        </choose>
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED = #{DATE_MODIFIED},
      </if>
      <if test="FULL_TIME_SERVICES_YN != null" >
        <choose >
          <when test="&quot;&quot;.equals(FULL_TIME_SERVICES_YN)" >
            FULL_TIME_SERVICES_YN = NULL ,
          </when>
          <otherwise >
            FULL_TIME_SERVICES_YN = #{FULL_TIME_SERVICES_YN},
          </otherwise>
        </choose>
      </if>
      <if test="MAIN_VAULT_BR_YN != null" >
        <choose >
          <when test="&quot;&quot;.equals(MAIN_VAULT_BR_YN)" >
            MAIN_VAULT_BR_YN = NULL ,
          </when>
          <otherwise >
            MAIN_VAULT_BR_YN = #{MAIN_VAULT_BR_YN},
          </otherwise>
        </choose>
      </if>
      <if test="ON_HO_GL_CODE != null" >
        <choose >
          <when test="ON_HO_GL_CODE == emptyBigDecimalValue" >
            ON_HO_GL_CODE = NULL ,
          </when>
          <otherwise >
            ON_HO_GL_CODE = #{ON_HO_GL_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="ON_HO_CIF_SUB_NO != null" >
        <choose >
          <when test="ON_HO_CIF_SUB_NO == emptyBigDecimalValue" >
         		ON_HO_CIF_SUB_NO = NULL ,
          </when>
          <otherwise >
            ON_HO_CIF_SUB_NO = #{ON_HO_CIF_SUB_NO},
          </otherwise>
        </choose>
      </if>
      <if test="ON_HO_SL_NO != null" >
        <choose >
          <when test="ON_HO_SL_NO == emptyBigDecimalValue" >
            ON_HO_SL_NO = NULL ,
          </when>
          <otherwise >
            ON_HO_SL_NO = #{ON_HO_SL_NO},
          </otherwise>
        </choose>
      </if>
      <if test="OFF_HO_GL_CODE != null" >
        <choose >
          <when test="OFF_HO_GL_CODE == emptyBigDecimalValue" >
            OFF_HO_GL_CODE = NULL ,
          </when>
          <otherwise >
            OFF_HO_GL_CODE = #{OFF_HO_GL_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="OFF_HO_CIF_SUB_NO != null" >
        <choose >
          <when test="OFF_HO_CIF_SUB_NO == emptyBigDecimalValue" >
            OFF_HO_CIF_SUB_NO = NULL ,
          </when>
          <otherwise >
            OFF_HO_CIF_SUB_NO = #{OFF_HO_CIF_SUB_NO},
          </otherwise>
        </choose>
      </if>
      <if test="OFF_HO_SL_NO != null" >
        <choose >
          <when test="OFF_HO_SL_NO == emptyBigDecimalValue" >
            OFF_HO_SL_NO = NULL ,
          </when>
          <otherwise >
        		 OFF_HO_CIF_SUB_NO = #{OFF_HO_SL_NO},
          </otherwise>
        </choose>
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
  </sql>
  <update id="updateBRANCHES" parameterType="com.path.dbmaps.vo.BRANCHESVO" >
    <include refid="sql_updateBRANCHES" />
  </update>
</mapper>