<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="BULK_SETTLEMENT" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.BULK_SETTLEMENTVO" >
    <id column="BRANCH" property="BRANCH" />
    <id column="BULK_NBR" property="BULK_NBR" />
    <id column="BULK_TYPE" property="BULK_TYPE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="SCHED_LINE_NO" property="SCHED_LINE_NO" />
    <result column="SCHED_NBR" property="SCHED_NBR" />
    <result column="SCHED_TRX_DATE" property="SCHED_TRX_DATE" />
    <result column="SCHED_FLG" property="SCHED_FLG" />
    <result column="TRX_LEVEL" property="TRX_LEVEL" />
    <result column="TRX_BR" property="TRX_BR" />
    <result column="TRX_NBR" property="TRX_NBR" />
    <result column="TRX_DATE" property="TRX_DATE" />
    <result column="TRX_TYPE" property="TRX_TYPE" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="DATE_CREATED" property="DATE_CREATED" />
    <result column="APPROVED_BY" property="APPROVED_BY" />
    <result column="DATE_APPROVED" property="DATE_APPROVED" />
    <result column="STATUS" property="STATUS" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH, BULK_NBR, BULK_TYPE, COMP_CODE, SCHED_LINE_NO, SCHED_NBR, SCHED_TRX_DATE, 
    SCHED_FLG, TRX_LEVEL, TRX_BR, TRX_NBR, TRX_DATE, TRX_TYPE, CREATED_BY, DATE_CREATED, 
    APPROVED_BY, DATE_APPROVED, STATUS
  </sql>
  <select id="selectBULK_SETTLEMENT" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.BULK_SETTLEMENTVO" >
    select 
    <include refid="Base_Column_List" />
    from BULK_SETTLEMENT
    where BRANCH = #{BRANCH}
      and BULK_NBR = #{BULK_NBR}
      and BULK_TYPE = #{BULK_TYPE}
      and COMP_CODE = #{COMP_CODE}
      and SCHED_LINE_NO = #{SCHED_LINE_NO}
  </select>
  <delete id="deleteBULK_SETTLEMENT" parameterType="com.path.dbmaps.vo.BULK_SETTLEMENTVO" >
    delete from BULK_SETTLEMENT
    where BRANCH = #{BRANCH}
      and BULK_NBR = #{BULK_NBR}
      and BULK_TYPE = #{BULK_TYPE}
      and COMP_CODE = #{COMP_CODE}
      and SCHED_LINE_NO = #{SCHED_LINE_NO}
  </delete>
  <insert id="insertBULK_SETTLEMENT" parameterType="com.path.dbmaps.vo.BULK_SETTLEMENTVO" >
    insert into BULK_SETTLEMENT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH != null and BRANCH != emptyBigDecimalValue" >
        BRANCH,
      </if>
      <if test="BULK_NBR != null and BULK_NBR != emptyBigDecimalValue" >
        BULK_NBR,
      </if>
      <if test="BULK_TYPE != null and BULK_TYPE != emptyBigDecimalValue" >
        BULK_TYPE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="SCHED_LINE_NO != null and SCHED_LINE_NO != emptyBigDecimalValue" >
        SCHED_LINE_NO,
      </if>
      <if test="SCHED_NBR != null and SCHED_NBR != emptyBigDecimalValue" >
        SCHED_NBR,
      </if>
      <if test="SCHED_TRX_DATE != null" >
        SCHED_TRX_DATE,
      </if>
      <if test="SCHED_FLG != null" >
        SCHED_FLG,
      </if>
      <if test="TRX_LEVEL != null and TRX_LEVEL != emptyBigDecimalValue" >
        TRX_LEVEL,
      </if>
      <if test="TRX_BR != null and TRX_BR != emptyBigDecimalValue" >
        TRX_BR,
      </if>
      <if test="TRX_NBR != null and TRX_NBR != emptyBigDecimalValue" >
        TRX_NBR,
      </if>
      <if test="TRX_DATE != null" >
        TRX_DATE,
      </if>
      <if test="TRX_TYPE != null" >
        TRX_TYPE,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED,
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY,
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH != null and BRANCH != emptyBigDecimalValue" >
        #{BRANCH},
      </if>
      <if test="BULK_NBR != null and BULK_NBR != emptyBigDecimalValue" >
        #{BULK_NBR},
      </if>
      <if test="BULK_TYPE != null and BULK_TYPE != emptyBigDecimalValue" >
        #{BULK_TYPE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="SCHED_LINE_NO != null and SCHED_LINE_NO != emptyBigDecimalValue" >
        #{SCHED_LINE_NO},
      </if>
      <if test="SCHED_NBR != null and SCHED_NBR != emptyBigDecimalValue" >
        #{SCHED_NBR},
      </if>
      <if test="SCHED_TRX_DATE != null" >
        #{SCHED_TRX_DATE},
      </if>
      <if test="SCHED_FLG != null" >
        #{SCHED_FLG},
      </if>
      <if test="TRX_LEVEL != null and TRX_LEVEL != emptyBigDecimalValue" >
        #{TRX_LEVEL},
      </if>
      <if test="TRX_BR != null and TRX_BR != emptyBigDecimalValue" >
        #{TRX_BR},
      </if>
      <if test="TRX_NBR != null and TRX_NBR != emptyBigDecimalValue" >
        #{TRX_NBR},
      </if>
      <if test="TRX_DATE != null" >
        #{TRX_DATE},
      </if>
      <if test="TRX_TYPE != null" >
        #{TRX_TYPE},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="DATE_CREATED != null" >
        #{DATE_CREATED},
      </if>
      <if test="APPROVED_BY != null" >
        #{APPROVED_BY},
      </if>
      <if test="DATE_APPROVED != null" >
        #{DATE_APPROVED},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateBULK_SETTLEMENT" >
    update BULK_SETTLEMENT
    <set >
      <if test="SCHED_NBR != null" >
        <choose >
          <when test="SCHED_NBR == emptyBigDecimalValue" >
            SCHED_NBR = NULL ,
          </when>
          <otherwise >
            SCHED_NBR = #{SCHED_NBR},
          </otherwise>
        </choose>
      </if>
      <if test="SCHED_TRX_DATE != null" >
        SCHED_TRX_DATE = #{SCHED_TRX_DATE},
      </if>
      <if test="SCHED_FLG != null" >
        SCHED_FLG = #{SCHED_FLG},
      </if>
      <if test="TRX_LEVEL != null" >
        <choose >
          <when test="TRX_LEVEL == emptyBigDecimalValue" >
            TRX_LEVEL = NULL ,
          </when>
          <otherwise >
            TRX_LEVEL = #{TRX_LEVEL},
          </otherwise>
        </choose>
      </if>
      <if test="TRX_BR != null" >
        <choose >
          <when test="TRX_BR == emptyBigDecimalValue" >
            TRX_BR = NULL ,
          </when>
          <otherwise >
            TRX_BR = #{TRX_BR},
          </otherwise>
        </choose>
      </if>
      <if test="TRX_NBR != null" >
        <choose >
          <when test="TRX_NBR == emptyBigDecimalValue" >
            TRX_NBR = NULL ,
          </when>
          <otherwise >
            TRX_NBR = #{TRX_NBR},
          </otherwise>
        </choose>
      </if>
      <if test="TRX_DATE != null" >
        TRX_DATE = #{TRX_DATE},
      </if>
      <if test="TRX_TYPE != null" >
        TRX_TYPE = #{TRX_TYPE},
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED = #{DATE_CREATED},
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY = #{APPROVED_BY},
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED = #{DATE_APPROVED},
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
    </set>
    where BRANCH = #{BRANCH}
      and BULK_NBR = #{BULK_NBR}
      and BULK_TYPE = #{BULK_TYPE}
      and COMP_CODE = #{COMP_CODE}
      and SCHED_LINE_NO = #{SCHED_LINE_NO}
  </sql>
  <update id="updateBULK_SETTLEMENT" parameterType="com.path.dbmaps.vo.BULK_SETTLEMENTVO" >
    <include refid="sql_updateBULK_SETTLEMENT" />
  </update>
</mapper>