<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CASH_TYPE" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CASH_TYPEVO" >
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <result column="SHORT_DESC_ENG" property="SHORT_DESC_ENG" />
    <result column="SHORT_DESC_ARAB" property="SHORT_DESC_ARAB" />
    <result column="LONG_DESC_ENG" property="LONG_DESC_ENG" />
    <result column="LONG_DESC_ARAB" property="LONG_DESC_ARAB" />
    <result column="CATEGORY" property="CATEGORY" />
    <result column="INT_BEARING" property="INT_BEARING" />
    <result column="KCC_TYPE" property="KCC_TYPE" />
    <result column="MATURITY_TYPE" property="MATURITY_TYPE" />
    <result column="ACC_TYPE" property="ACC_TYPE" />
    <result column="CUSTODIAN" property="CUSTODIAN" />
    <result column="PORTFOLIO_GL" property="PORTFOLIO_GL" />
    <result column="FIDUCIARY_GL" property="FIDUCIARY_GL" />
    <result column="FUND_GL" property="FUND_GL" />
    <result column="ADDITIONAL_REF" property="ADDITIONAL_REF" />
    <result column="CUSTOMER_CIF" property="CUSTOMER_CIF" />
  </resultMap>
  <sql id="Base_Column_List" >
    CODE, COMP_CODE, SHORT_DESC_ENG, SHORT_DESC_ARAB, LONG_DESC_ENG, LONG_DESC_ARAB, 
    CATEGORY, INT_BEARING, KCC_TYPE, MATURITY_TYPE, ACC_TYPE, CUSTODIAN, PORTFOLIO_GL, 
    FIDUCIARY_GL, FUND_GL, ADDITIONAL_REF,CUSTOMER_CIF
  </sql>
  <select id="selectCASH_TYPE" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CASH_TYPEVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CASH_TYPE
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </select>
  <delete id="deleteCASH_TYPE" parameterType="com.path.dbmaps.vo.CASH_TYPEVOKey" >
    delete from CASH_TYPE
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </delete>
  <insert id="insertCASH_TYPE" parameterType="com.path.dbmaps.vo.CASH_TYPEVO" >
    insert into CASH_TYPE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="SHORT_DESC_ENG != null" >
        SHORT_DESC_ENG,
      </if>
      <if test="SHORT_DESC_ARAB != null" >
        SHORT_DESC_ARAB,
      </if>
      <if test="LONG_DESC_ENG != null" >
        LONG_DESC_ENG,
      </if>
      <if test="LONG_DESC_ARAB != null" >
        LONG_DESC_ARAB,
      </if>
      <if test="CATEGORY != null" >
        CATEGORY,
      </if>
      <if test="INT_BEARING != null and INT_BEARING != emptyBigDecimalValue" >
        INT_BEARING,
      </if>
      <if test="KCC_TYPE != null and KCC_TYPE != emptyBigDecimalValue" >
        KCC_TYPE,
      </if>
      <if test="MATURITY_TYPE != null" >
        MATURITY_TYPE,
      </if>
      <if test="ACC_TYPE != null and ACC_TYPE != emptyBigDecimalValue" >
        ACC_TYPE,
      </if>
      <if test="CUSTODIAN != null and CUSTODIAN != emptyBigDecimalValue" >
        CUSTODIAN,
      </if>
      <if test="PORTFOLIO_GL != null and PORTFOLIO_GL != emptyBigDecimalValue" >
        PORTFOLIO_GL,
      </if>
      <if test="FIDUCIARY_GL != null and FIDUCIARY_GL != emptyBigDecimalValue" >
        FIDUCIARY_GL,
      </if>
      <if test="FUND_GL != null and FUND_GL != emptyBigDecimalValue" >
        FUND_GL,
      </if>
      <if test="ADDITIONAL_REF != null and ADDITIONAL_REF != emptyBigDecimalValue" >
        ADDITIONAL_REF,
      </if>
      <if test="CUSTOMER_CIF != null and CUSTOMER_CIF != emptyBigDecimalValue" >
        CUSTOMER_CIF,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        #{CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="SHORT_DESC_ENG != null" >
        #{SHORT_DESC_ENG},
      </if>
      <if test="SHORT_DESC_ARAB != null" >
        #{SHORT_DESC_ARAB},
      </if>
      <if test="LONG_DESC_ENG != null" >
        #{LONG_DESC_ENG},
      </if>
      <if test="LONG_DESC_ARAB != null" >
        #{LONG_DESC_ARAB},
      </if>
      <if test="CATEGORY != null" >
        #{CATEGORY},
      </if>
      <if test="INT_BEARING != null and INT_BEARING != emptyBigDecimalValue" >
        #{INT_BEARING},
      </if>
      <if test="KCC_TYPE != null and KCC_TYPE != emptyBigDecimalValue" >
        #{KCC_TYPE},
      </if>
      <if test="MATURITY_TYPE != null" >
        #{MATURITY_TYPE},
      </if>
      <if test="ACC_TYPE != null and ACC_TYPE != emptyBigDecimalValue" >
        #{ACC_TYPE},
      </if>
      <if test="CUSTODIAN != null and CUSTODIAN != emptyBigDecimalValue" >
        #{CUSTODIAN},
      </if>
      <if test="PORTFOLIO_GL != null and PORTFOLIO_GL != emptyBigDecimalValue" >
        #{PORTFOLIO_GL},
      </if>
      <if test="FIDUCIARY_GL != null and FIDUCIARY_GL != emptyBigDecimalValue" >
        #{FIDUCIARY_GL},
      </if>
      <if test="FUND_GL != null and FUND_GL != emptyBigDecimalValue" >
        #{FUND_GL},
      </if>
      <if test="ADDITIONAL_REF != null and ADDITIONAL_REF != emptyBigDecimalValue" >
        #{ADDITIONAL_REF},
      </if>
      <if test="CUSTOMER_CIF != null and CUSTOMER_CIF != emptyBigDecimalValue" >
        #{CUSTOMER_CIF},
      </if>
      
    </trim>
  </insert>
  <sql id="sql_updateCASH_TYPE" >
    update CASH_TYPE
    <set >
      <if test="SHORT_DESC_ENG != null" >
        SHORT_DESC_ENG = #{SHORT_DESC_ENG},
      </if>
      <if test="SHORT_DESC_ARAB != null" >
        SHORT_DESC_ARAB = #{SHORT_DESC_ARAB},
      </if>
      <if test="LONG_DESC_ENG != null" >
        LONG_DESC_ENG = #{LONG_DESC_ENG},
      </if>
      <if test="LONG_DESC_ARAB != null" >
        LONG_DESC_ARAB = #{LONG_DESC_ARAB},
      </if>
      <if test="CATEGORY != null" >
        CATEGORY = #{CATEGORY},
      </if>
      <if test="INT_BEARING != null" >
        <choose >
          <when test="INT_BEARING == emptyBigDecimalValue" >
            INT_BEARING = NULL ,
          </when>
          <otherwise >
            INT_BEARING = #{INT_BEARING},
          </otherwise>
        </choose>
      </if>
      <if test="KCC_TYPE != null" >
        <choose >
          <when test="KCC_TYPE == emptyBigDecimalValue" >
            KCC_TYPE = NULL ,
          </when>
          <otherwise >
            KCC_TYPE = #{KCC_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="MATURITY_TYPE != null" >
        MATURITY_TYPE = #{MATURITY_TYPE},
      </if>
      <if test="ACC_TYPE != null" >
        <choose >
          <when test="ACC_TYPE == emptyBigDecimalValue" >
            ACC_TYPE = NULL ,
          </when>
          <otherwise >
            ACC_TYPE = #{ACC_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="CUSTODIAN != null" >
        <choose >
          <when test="CUSTODIAN == emptyBigDecimalValue" >
            CUSTODIAN = NULL ,
          </when>
          <otherwise >
            CUSTODIAN = #{CUSTODIAN},
          </otherwise>
        </choose>
      </if>
      <if test="PORTFOLIO_GL != null" >
        <choose >
          <when test="PORTFOLIO_GL == emptyBigDecimalValue" >
            PORTFOLIO_GL = NULL ,
          </when>
          <otherwise >
            PORTFOLIO_GL = #{PORTFOLIO_GL},
          </otherwise>
        </choose>
      </if>
      <if test="FIDUCIARY_GL != null" >
        <choose >
          <when test="FIDUCIARY_GL == emptyBigDecimalValue" >
            FIDUCIARY_GL = NULL ,
          </when>
          <otherwise >
            FIDUCIARY_GL = #{FIDUCIARY_GL},
          </otherwise>
        </choose>
      </if>
      <if test="FUND_GL != null" >
        <choose >
          <when test="FUND_GL == emptyBigDecimalValue" >
            FUND_GL = NULL ,
          </when>
          <otherwise >
            FUND_GL = #{FUND_GL},
          </otherwise>
        </choose>
      </if>
      <if test="ADDITIONAL_REF != null" >
        <choose >
          <when test="ADDITIONAL_REF == emptyBigDecimalValue" >
            ADDITIONAL_REF = NULL ,
          </when>
          <otherwise >
            ADDITIONAL_REF = #{ADDITIONAL_REF},
          </otherwise>
        </choose>
      </if>
      <if test="CUSTOMER_CIF != null" >
        <choose >
          <when test="CUSTOMER_CIF == emptyBigDecimalValue" >
            CUSTOMER_CIF = NULL ,
          </when>
          <otherwise >
            CUSTOMER_CIF = #{CUSTOMER_CIF},
          </otherwise>
        </choose>
      </if>
      
    </set>
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </sql>
  <update id="updateCASH_TYPE" parameterType="com.path.dbmaps.vo.CASH_TYPEVO" >
    <include refid="sql_updateCASH_TYPE" />
  </update>
</mapper>