<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CIF_LIABILITIES_RATIOS" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CIF_LIABILITIES_RATIOSVO" >
    <id column="CIF_NO" property="CIF_NO" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NO" property="LINE_NO" />
    <result column="SHORT_TERM_DEBT_R" property="SHORT_TERM_DEBT_R" />
    <result column="CUR_PORTION_OF_LT_DEBTS_R" property="CUR_PORTION_OF_LT_DEBTS_R" />
    <result column="ACCOUNTS_PAYABLE_R" property="ACCOUNTS_PAYABLE_R" />
    <result column="NOTES_PAYABLE_R" property="NOTES_PAYABLE_R" />
    <result column="DUES_TO_SIS_COMP_R" property="DUES_TO_SIS_COMP_R" />
    <result column="ADVANCES_FR_CLIENTS_R" property="ADVANCES_FR_CLIENTS_R" />
    <result column="NSSF_DUES_R" property="NSSF_DUES_R" />
    <result column="ACCRUED_EXPENSES_R" property="ACCRUED_EXPENSES_R" />
    <result column="INCOME_TAX_PAYABLE_R" property="INCOME_TAX_PAYABLE_R" />
    <result column="INTEREST_PAYABLE_R" property="INTEREST_PAYABLE_R" />
    <result column="OTHER_TAXES_PAYABLE_R" property="OTHER_TAXES_PAYABLE_R" />
    <result column="DUE_TO_PARTNERS_R" property="DUE_TO_PARTNERS_R" />
    <result column="NON_OPER_PAYABLES_SUPPLIERS_R" property="NON_OPER_PAYABLES_SUPPLIERS_R" />
    <result column="SUNDRY_OPER_LIABILITIES_R" property="SUNDRY_OPER_LIABILITIES_R" />
    <result column="SUNDRY_N_OPER_LIABILITIES_R" property="SUNDRY_N_OPER_LIABILITIES_R" />
    <result column="SALARIES_PAYABLE_R" property="SALARIES_PAYABLE_R" />
    <result column="DIVIDEND_PAYABLE_R" property="DIVIDEND_PAYABLE_R" />
    <result column="ADV_FR_ASSOCIATED_UNDER_R" property="ADV_FR_ASSOCIATED_UNDER_R" />
    <result column="LABOR_PENSION_PROVISIONS_R" property="LABOR_PENSION_PROVISIONS_R" />
    <result column="OTHER_DEFERRED_PROV_RESERVES_R" property="OTHER_DEFERRED_PROV_RESERVES_R" />
    <result column="LT_PORTION_OF_BNK_DEBT_R" property="LT_PORTION_OF_BNK_DEBT_R" />
    <result column="LT_DUES_TO_SIS_COMP_R" property="LT_DUES_TO_SIS_COMP_R" />
    <result column="LT_LOANS_HOLD_COMP_R" property="LT_LOANS_HOLD_COMP_R" />
    <result column="OTHER_LT_LOANS_OBLIG_R" property="OTHER_LT_LOANS_OBLIG_R" />
    <result column="END_OF_SERV_INDEMNITY_R" property="END_OF_SERV_INDEMNITY_R" />
    <result column="PROV_FOR_RISK_AND_CHARGES_R" property="PROV_FOR_RISK_AND_CHARGES_R" />
    <result column="LONG_TERM_DEPOSITS_LIAB_R" property="LONG_TERM_DEPOSITS_LIAB_R" />
    <result column="MINORITY_INTERESTS_R" property="MINORITY_INTERESTS_R" />
    <result column="RESERVES_FOR_CONTINGENCIES_R" property="RESERVES_FOR_CONTINGENCIES_R" />
    <result column="OWNERS_ACCOUNT_R" property="OWNERS_ACCOUNT_R" />
    <result column="PAID_UP_CAPITAL_R" property="PAID_UP_CAPITAL_R" />
    <result column="NON_REGISTERED_CAPITAL_R" property="NON_REGISTERED_CAPITAL_R" />
    <result column="LEGAL_RESERVES_R" property="LEGAL_RESERVES_R" />
    <result column="OTHER_RESERVES_R" property="OTHER_RESERVES_R" />
    <result column="REVAL_DIFFERENCES_R" property="REVAL_DIFFERENCES_R" />
    <result column="RESERVES_R" property="RESERVES_R" />
    <result column="RETAINED_EARNINGS_R" property="RETAINED_EARNINGS_R" />
    <result column="DUES_FROM_PARTNERS_R" property="DUES_FROM_PARTNERS_R" />
    <result column="INTANGIBLES_R" property="INTANGIBLES_R" />
    <result column="COMMON_STOCK_R" property="COMMON_STOCK_R" />
    <result column="PREFERRED_STOCK_R" property="PREFERRED_STOCK_R" />
    <result column="FX_TRANSLATION_ADJUSTMENT_R" property="FX_TRANSLATION_ADJUSTMENT_R" />
    <result column="TREASURY_SHARES_R" property="TREASURY_SHARES_R" />
    <result column="PREFERRED_DIVIDENDS_R" property="PREFERRED_DIVIDENDS_R" />
    <result column="CONVERTIBLE_PREF_DIVIDENDS_R" property="CONVERTIBLE_PREF_DIVIDENDS_R" />
    <result column="CONVERTIBLE_DEBT_INTEREST_R" property="CONVERTIBLE_DEBT_INTEREST_R" />
    <result column="SHARES_CONV_OF_CONV_SHARES_R" property="SHARES_CONV_OF_CONV_SHARES_R" />
    <result column="SHARES_CONV_OF_CONV_DEBT_R" property="SHARES_CONV_OF_CONV_DEBT_R" />
    <result column="SHARES_ISSUABLE_STOCK_OPTS_R" property="SHARES_ISSUABLE_STOCK_OPTS_R" />
    <result column="TRADE_PAYABLES_R" property="TRADE_PAYABLES_R" />
  </resultMap>
  <sql id="Base_Column_List" >
    CIF_NO, COMP_CODE, LINE_NO, SHORT_TERM_DEBT_R, CUR_PORTION_OF_LT_DEBTS_R, ACCOUNTS_PAYABLE_R, 
    NOTES_PAYABLE_R, DUES_TO_SIS_COMP_R, ADVANCES_FR_CLIENTS_R, NSSF_DUES_R, ACCRUED_EXPENSES_R, 
    INCOME_TAX_PAYABLE_R, INTEREST_PAYABLE_R, OTHER_TAXES_PAYABLE_R, DUE_TO_PARTNERS_R, 
    NON_OPER_PAYABLES_SUPPLIERS_R, SUNDRY_OPER_LIABILITIES_R, SUNDRY_N_OPER_LIABILITIES_R, 
    SALARIES_PAYABLE_R, DIVIDEND_PAYABLE_R, ADV_FR_ASSOCIATED_UNDER_R, LABOR_PENSION_PROVISIONS_R, 
    OTHER_DEFERRED_PROV_RESERVES_R, LT_PORTION_OF_BNK_DEBT_R, LT_DUES_TO_SIS_COMP_R, 
    LT_LOANS_HOLD_COMP_R, OTHER_LT_LOANS_OBLIG_R, END_OF_SERV_INDEMNITY_R, PROV_FOR_RISK_AND_CHARGES_R, 
    LONG_TERM_DEPOSITS_LIAB_R, MINORITY_INTERESTS_R, RESERVES_FOR_CONTINGENCIES_R, OWNERS_ACCOUNT_R, 
    PAID_UP_CAPITAL_R, NON_REGISTERED_CAPITAL_R, LEGAL_RESERVES_R, OTHER_RESERVES_R, 
    REVAL_DIFFERENCES_R, RESERVES_R, RETAINED_EARNINGS_R, DUES_FROM_PARTNERS_R, INTANGIBLES_R, 
    COMMON_STOCK_R, PREFERRED_STOCK_R, FX_TRANSLATION_ADJUSTMENT_R, TREASURY_SHARES_R, 
    PREFERRED_DIVIDENDS_R, CONVERTIBLE_PREF_DIVIDENDS_R, CONVERTIBLE_DEBT_INTEREST_R, 
    SHARES_CONV_OF_CONV_SHARES_R, SHARES_CONV_OF_CONV_DEBT_R, SHARES_ISSUABLE_STOCK_OPTS_R, 
    TRADE_PAYABLES_R
  </sql>
  <select id="selectCIF_LIABILITIES_RATIOS" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CIF_LIABILITIES_RATIOSVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CIF_LIABILITIES_RATIOS
    where CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
  </select>
  <delete id="deleteCIF_LIABILITIES_RATIOS" parameterType="com.path.dbmaps.vo.CIF_LIABILITIES_RATIOSVOKey" >
    delete from CIF_LIABILITIES_RATIOS
    where CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
  </delete>
  <insert id="insertCIF_LIABILITIES_RATIOS" parameterType="com.path.dbmaps.vo.CIF_LIABILITIES_RATIOSVO" >
    insert into CIF_LIABILITIES_RATIOS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        CIF_NO,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="SHORT_TERM_DEBT_R != null and SHORT_TERM_DEBT_R != emptyBigDecimalValue" >
        SHORT_TERM_DEBT_R,
      </if>
      <if test="CUR_PORTION_OF_LT_DEBTS_R != null and CUR_PORTION_OF_LT_DEBTS_R != emptyBigDecimalValue" >
        CUR_PORTION_OF_LT_DEBTS_R,
      </if>
      <if test="ACCOUNTS_PAYABLE_R != null and ACCOUNTS_PAYABLE_R != emptyBigDecimalValue" >
        ACCOUNTS_PAYABLE_R,
      </if>
      <if test="NOTES_PAYABLE_R != null and NOTES_PAYABLE_R != emptyBigDecimalValue" >
        NOTES_PAYABLE_R,
      </if>
      <if test="DUES_TO_SIS_COMP_R != null and DUES_TO_SIS_COMP_R != emptyBigDecimalValue" >
        DUES_TO_SIS_COMP_R,
      </if>
      <if test="ADVANCES_FR_CLIENTS_R != null and ADVANCES_FR_CLIENTS_R != emptyBigDecimalValue" >
        ADVANCES_FR_CLIENTS_R,
      </if>
      <if test="NSSF_DUES_R != null and NSSF_DUES_R != emptyBigDecimalValue" >
        NSSF_DUES_R,
      </if>
      <if test="ACCRUED_EXPENSES_R != null and ACCRUED_EXPENSES_R != emptyBigDecimalValue" >
        ACCRUED_EXPENSES_R,
      </if>
      <if test="INCOME_TAX_PAYABLE_R != null and INCOME_TAX_PAYABLE_R != emptyBigDecimalValue" >
        INCOME_TAX_PAYABLE_R,
      </if>
      <if test="INTEREST_PAYABLE_R != null and INTEREST_PAYABLE_R != emptyBigDecimalValue" >
        INTEREST_PAYABLE_R,
      </if>
      <if test="OTHER_TAXES_PAYABLE_R != null and OTHER_TAXES_PAYABLE_R != emptyBigDecimalValue" >
        OTHER_TAXES_PAYABLE_R,
      </if>
      <if test="DUE_TO_PARTNERS_R != null and DUE_TO_PARTNERS_R != emptyBigDecimalValue" >
        DUE_TO_PARTNERS_R,
      </if>
      <if test="NON_OPER_PAYABLES_SUPPLIERS_R != null and NON_OPER_PAYABLES_SUPPLIERS_R != emptyBigDecimalValue" >
        NON_OPER_PAYABLES_SUPPLIERS_R,
      </if>
      <if test="SUNDRY_OPER_LIABILITIES_R != null and SUNDRY_OPER_LIABILITIES_R != emptyBigDecimalValue" >
        SUNDRY_OPER_LIABILITIES_R,
      </if>
      <if test="SUNDRY_N_OPER_LIABILITIES_R != null and SUNDRY_N_OPER_LIABILITIES_R != emptyBigDecimalValue" >
        SUNDRY_N_OPER_LIABILITIES_R,
      </if>
      <if test="SALARIES_PAYABLE_R != null and SALARIES_PAYABLE_R != emptyBigDecimalValue" >
        SALARIES_PAYABLE_R,
      </if>
      <if test="DIVIDEND_PAYABLE_R != null and DIVIDEND_PAYABLE_R != emptyBigDecimalValue" >
        DIVIDEND_PAYABLE_R,
      </if>
      <if test="ADV_FR_ASSOCIATED_UNDER_R != null and ADV_FR_ASSOCIATED_UNDER_R != emptyBigDecimalValue" >
        ADV_FR_ASSOCIATED_UNDER_R,
      </if>
      <if test="LABOR_PENSION_PROVISIONS_R != null and LABOR_PENSION_PROVISIONS_R != emptyBigDecimalValue" >
        LABOR_PENSION_PROVISIONS_R,
      </if>
      <if test="OTHER_DEFERRED_PROV_RESERVES_R != null and OTHER_DEFERRED_PROV_RESERVES_R != emptyBigDecimalValue" >
        OTHER_DEFERRED_PROV_RESERVES_R,
      </if>
      <if test="LT_PORTION_OF_BNK_DEBT_R != null and LT_PORTION_OF_BNK_DEBT_R != emptyBigDecimalValue" >
        LT_PORTION_OF_BNK_DEBT_R,
      </if>
      <if test="LT_DUES_TO_SIS_COMP_R != null and LT_DUES_TO_SIS_COMP_R != emptyBigDecimalValue" >
        LT_DUES_TO_SIS_COMP_R,
      </if>
      <if test="LT_LOANS_HOLD_COMP_R != null and LT_LOANS_HOLD_COMP_R != emptyBigDecimalValue" >
        LT_LOANS_HOLD_COMP_R,
      </if>
      <if test="OTHER_LT_LOANS_OBLIG_R != null and OTHER_LT_LOANS_OBLIG_R != emptyBigDecimalValue" >
        OTHER_LT_LOANS_OBLIG_R,
      </if>
      <if test="END_OF_SERV_INDEMNITY_R != null and END_OF_SERV_INDEMNITY_R != emptyBigDecimalValue" >
        END_OF_SERV_INDEMNITY_R,
      </if>
      <if test="PROV_FOR_RISK_AND_CHARGES_R != null and PROV_FOR_RISK_AND_CHARGES_R != emptyBigDecimalValue" >
        PROV_FOR_RISK_AND_CHARGES_R,
      </if>
      <if test="LONG_TERM_DEPOSITS_LIAB_R != null and LONG_TERM_DEPOSITS_LIAB_R != emptyBigDecimalValue" >
        LONG_TERM_DEPOSITS_LIAB_R,
      </if>
      <if test="MINORITY_INTERESTS_R != null and MINORITY_INTERESTS_R != emptyBigDecimalValue" >
        MINORITY_INTERESTS_R,
      </if>
      <if test="RESERVES_FOR_CONTINGENCIES_R != null and RESERVES_FOR_CONTINGENCIES_R != emptyBigDecimalValue" >
        RESERVES_FOR_CONTINGENCIES_R,
      </if>
      <if test="OWNERS_ACCOUNT_R != null and OWNERS_ACCOUNT_R != emptyBigDecimalValue" >
        OWNERS_ACCOUNT_R,
      </if>
      <if test="PAID_UP_CAPITAL_R != null and PAID_UP_CAPITAL_R != emptyBigDecimalValue" >
        PAID_UP_CAPITAL_R,
      </if>
      <if test="NON_REGISTERED_CAPITAL_R != null and NON_REGISTERED_CAPITAL_R != emptyBigDecimalValue" >
        NON_REGISTERED_CAPITAL_R,
      </if>
      <if test="LEGAL_RESERVES_R != null and LEGAL_RESERVES_R != emptyBigDecimalValue" >
        LEGAL_RESERVES_R,
      </if>
      <if test="OTHER_RESERVES_R != null and OTHER_RESERVES_R != emptyBigDecimalValue" >
        OTHER_RESERVES_R,
      </if>
      <if test="REVAL_DIFFERENCES_R != null and REVAL_DIFFERENCES_R != emptyBigDecimalValue" >
        REVAL_DIFFERENCES_R,
      </if>
      <if test="RESERVES_R != null and RESERVES_R != emptyBigDecimalValue" >
        RESERVES_R,
      </if>
      <if test="RETAINED_EARNINGS_R != null and RETAINED_EARNINGS_R != emptyBigDecimalValue" >
        RETAINED_EARNINGS_R,
      </if>
      <if test="DUES_FROM_PARTNERS_R != null and DUES_FROM_PARTNERS_R != emptyBigDecimalValue" >
        DUES_FROM_PARTNERS_R,
      </if>
      <if test="INTANGIBLES_R != null and INTANGIBLES_R != emptyBigDecimalValue" >
        INTANGIBLES_R,
      </if>
      <if test="COMMON_STOCK_R != null and COMMON_STOCK_R != emptyBigDecimalValue" >
        COMMON_STOCK_R,
      </if>
      <if test="PREFERRED_STOCK_R != null and PREFERRED_STOCK_R != emptyBigDecimalValue" >
        PREFERRED_STOCK_R,
      </if>
      <if test="FX_TRANSLATION_ADJUSTMENT_R != null and FX_TRANSLATION_ADJUSTMENT_R != emptyBigDecimalValue" >
        FX_TRANSLATION_ADJUSTMENT_R,
      </if>
      <if test="TREASURY_SHARES_R != null and TREASURY_SHARES_R != emptyBigDecimalValue" >
        TREASURY_SHARES_R,
      </if>
      <if test="PREFERRED_DIVIDENDS_R != null and PREFERRED_DIVIDENDS_R != emptyBigDecimalValue" >
        PREFERRED_DIVIDENDS_R,
      </if>
      <if test="CONVERTIBLE_PREF_DIVIDENDS_R != null and CONVERTIBLE_PREF_DIVIDENDS_R != emptyBigDecimalValue" >
        CONVERTIBLE_PREF_DIVIDENDS_R,
      </if>
      <if test="CONVERTIBLE_DEBT_INTEREST_R != null and CONVERTIBLE_DEBT_INTEREST_R != emptyBigDecimalValue" >
        CONVERTIBLE_DEBT_INTEREST_R,
      </if>
      <if test="SHARES_CONV_OF_CONV_SHARES_R != null and SHARES_CONV_OF_CONV_SHARES_R != emptyBigDecimalValue" >
        SHARES_CONV_OF_CONV_SHARES_R,
      </if>
      <if test="SHARES_CONV_OF_CONV_DEBT_R != null and SHARES_CONV_OF_CONV_DEBT_R != emptyBigDecimalValue" >
        SHARES_CONV_OF_CONV_DEBT_R,
      </if>
      <if test="SHARES_ISSUABLE_STOCK_OPTS_R != null and SHARES_ISSUABLE_STOCK_OPTS_R != emptyBigDecimalValue" >
        SHARES_ISSUABLE_STOCK_OPTS_R,
      </if>
      <if test="TRADE_PAYABLES_R != null and TRADE_PAYABLES_R != emptyBigDecimalValue" >
        TRADE_PAYABLES_R,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        #{CIF_NO},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="SHORT_TERM_DEBT_R != null and SHORT_TERM_DEBT_R != emptyBigDecimalValue" >
        #{SHORT_TERM_DEBT_R},
      </if>
      <if test="CUR_PORTION_OF_LT_DEBTS_R != null and CUR_PORTION_OF_LT_DEBTS_R != emptyBigDecimalValue" >
        #{CUR_PORTION_OF_LT_DEBTS_R},
      </if>
      <if test="ACCOUNTS_PAYABLE_R != null and ACCOUNTS_PAYABLE_R != emptyBigDecimalValue" >
        #{ACCOUNTS_PAYABLE_R},
      </if>
      <if test="NOTES_PAYABLE_R != null and NOTES_PAYABLE_R != emptyBigDecimalValue" >
        #{NOTES_PAYABLE_R},
      </if>
      <if test="DUES_TO_SIS_COMP_R != null and DUES_TO_SIS_COMP_R != emptyBigDecimalValue" >
        #{DUES_TO_SIS_COMP_R},
      </if>
      <if test="ADVANCES_FR_CLIENTS_R != null and ADVANCES_FR_CLIENTS_R != emptyBigDecimalValue" >
        #{ADVANCES_FR_CLIENTS_R},
      </if>
      <if test="NSSF_DUES_R != null and NSSF_DUES_R != emptyBigDecimalValue" >
        #{NSSF_DUES_R},
      </if>
      <if test="ACCRUED_EXPENSES_R != null and ACCRUED_EXPENSES_R != emptyBigDecimalValue" >
        #{ACCRUED_EXPENSES_R},
      </if>
      <if test="INCOME_TAX_PAYABLE_R != null and INCOME_TAX_PAYABLE_R != emptyBigDecimalValue" >
        #{INCOME_TAX_PAYABLE_R},
      </if>
      <if test="INTEREST_PAYABLE_R != null and INTEREST_PAYABLE_R != emptyBigDecimalValue" >
        #{INTEREST_PAYABLE_R},
      </if>
      <if test="OTHER_TAXES_PAYABLE_R != null and OTHER_TAXES_PAYABLE_R != emptyBigDecimalValue" >
        #{OTHER_TAXES_PAYABLE_R},
      </if>
      <if test="DUE_TO_PARTNERS_R != null and DUE_TO_PARTNERS_R != emptyBigDecimalValue" >
        #{DUE_TO_PARTNERS_R},
      </if>
      <if test="NON_OPER_PAYABLES_SUPPLIERS_R != null and NON_OPER_PAYABLES_SUPPLIERS_R != emptyBigDecimalValue" >
        #{NON_OPER_PAYABLES_SUPPLIERS_R},
      </if>
      <if test="SUNDRY_OPER_LIABILITIES_R != null and SUNDRY_OPER_LIABILITIES_R != emptyBigDecimalValue" >
        #{SUNDRY_OPER_LIABILITIES_R},
      </if>
      <if test="SUNDRY_N_OPER_LIABILITIES_R != null and SUNDRY_N_OPER_LIABILITIES_R != emptyBigDecimalValue" >
        #{SUNDRY_N_OPER_LIABILITIES_R},
      </if>
      <if test="SALARIES_PAYABLE_R != null and SALARIES_PAYABLE_R != emptyBigDecimalValue" >
        #{SALARIES_PAYABLE_R},
      </if>
      <if test="DIVIDEND_PAYABLE_R != null and DIVIDEND_PAYABLE_R != emptyBigDecimalValue" >
        #{DIVIDEND_PAYABLE_R},
      </if>
      <if test="ADV_FR_ASSOCIATED_UNDER_R != null and ADV_FR_ASSOCIATED_UNDER_R != emptyBigDecimalValue" >
        #{ADV_FR_ASSOCIATED_UNDER_R},
      </if>
      <if test="LABOR_PENSION_PROVISIONS_R != null and LABOR_PENSION_PROVISIONS_R != emptyBigDecimalValue" >
        #{LABOR_PENSION_PROVISIONS_R},
      </if>
      <if test="OTHER_DEFERRED_PROV_RESERVES_R != null and OTHER_DEFERRED_PROV_RESERVES_R != emptyBigDecimalValue" >
        #{OTHER_DEFERRED_PROV_RESERVES_R},
      </if>
      <if test="LT_PORTION_OF_BNK_DEBT_R != null and LT_PORTION_OF_BNK_DEBT_R != emptyBigDecimalValue" >
        #{LT_PORTION_OF_BNK_DEBT_R},
      </if>
      <if test="LT_DUES_TO_SIS_COMP_R != null and LT_DUES_TO_SIS_COMP_R != emptyBigDecimalValue" >
        #{LT_DUES_TO_SIS_COMP_R},
      </if>
      <if test="LT_LOANS_HOLD_COMP_R != null and LT_LOANS_HOLD_COMP_R != emptyBigDecimalValue" >
        #{LT_LOANS_HOLD_COMP_R},
      </if>
      <if test="OTHER_LT_LOANS_OBLIG_R != null and OTHER_LT_LOANS_OBLIG_R != emptyBigDecimalValue" >
        #{OTHER_LT_LOANS_OBLIG_R},
      </if>
      <if test="END_OF_SERV_INDEMNITY_R != null and END_OF_SERV_INDEMNITY_R != emptyBigDecimalValue" >
        #{END_OF_SERV_INDEMNITY_R},
      </if>
      <if test="PROV_FOR_RISK_AND_CHARGES_R != null and PROV_FOR_RISK_AND_CHARGES_R != emptyBigDecimalValue" >
        #{PROV_FOR_RISK_AND_CHARGES_R},
      </if>
      <if test="LONG_TERM_DEPOSITS_LIAB_R != null and LONG_TERM_DEPOSITS_LIAB_R != emptyBigDecimalValue" >
        #{LONG_TERM_DEPOSITS_LIAB_R},
      </if>
      <if test="MINORITY_INTERESTS_R != null and MINORITY_INTERESTS_R != emptyBigDecimalValue" >
        #{MINORITY_INTERESTS_R},
      </if>
      <if test="RESERVES_FOR_CONTINGENCIES_R != null and RESERVES_FOR_CONTINGENCIES_R != emptyBigDecimalValue" >
        #{RESERVES_FOR_CONTINGENCIES_R},
      </if>
      <if test="OWNERS_ACCOUNT_R != null and OWNERS_ACCOUNT_R != emptyBigDecimalValue" >
        #{OWNERS_ACCOUNT_R},
      </if>
      <if test="PAID_UP_CAPITAL_R != null and PAID_UP_CAPITAL_R != emptyBigDecimalValue" >
        #{PAID_UP_CAPITAL_R},
      </if>
      <if test="NON_REGISTERED_CAPITAL_R != null and NON_REGISTERED_CAPITAL_R != emptyBigDecimalValue" >
        #{NON_REGISTERED_CAPITAL_R},
      </if>
      <if test="LEGAL_RESERVES_R != null and LEGAL_RESERVES_R != emptyBigDecimalValue" >
        #{LEGAL_RESERVES_R},
      </if>
      <if test="OTHER_RESERVES_R != null and OTHER_RESERVES_R != emptyBigDecimalValue" >
        #{OTHER_RESERVES_R},
      </if>
      <if test="REVAL_DIFFERENCES_R != null and REVAL_DIFFERENCES_R != emptyBigDecimalValue" >
        #{REVAL_DIFFERENCES_R},
      </if>
      <if test="RESERVES_R != null and RESERVES_R != emptyBigDecimalValue" >
        #{RESERVES_R},
      </if>
      <if test="RETAINED_EARNINGS_R != null and RETAINED_EARNINGS_R != emptyBigDecimalValue" >
        #{RETAINED_EARNINGS_R},
      </if>
      <if test="DUES_FROM_PARTNERS_R != null and DUES_FROM_PARTNERS_R != emptyBigDecimalValue" >
        #{DUES_FROM_PARTNERS_R},
      </if>
      <if test="INTANGIBLES_R != null and INTANGIBLES_R != emptyBigDecimalValue" >
        #{INTANGIBLES_R},
      </if>
      <if test="COMMON_STOCK_R != null and COMMON_STOCK_R != emptyBigDecimalValue" >
        #{COMMON_STOCK_R},
      </if>
      <if test="PREFERRED_STOCK_R != null and PREFERRED_STOCK_R != emptyBigDecimalValue" >
        #{PREFERRED_STOCK_R},
      </if>
      <if test="FX_TRANSLATION_ADJUSTMENT_R != null and FX_TRANSLATION_ADJUSTMENT_R != emptyBigDecimalValue" >
        #{FX_TRANSLATION_ADJUSTMENT_R},
      </if>
      <if test="TREASURY_SHARES_R != null and TREASURY_SHARES_R != emptyBigDecimalValue" >
        #{TREASURY_SHARES_R},
      </if>
      <if test="PREFERRED_DIVIDENDS_R != null and PREFERRED_DIVIDENDS_R != emptyBigDecimalValue" >
        #{PREFERRED_DIVIDENDS_R},
      </if>
      <if test="CONVERTIBLE_PREF_DIVIDENDS_R != null and CONVERTIBLE_PREF_DIVIDENDS_R != emptyBigDecimalValue" >
        #{CONVERTIBLE_PREF_DIVIDENDS_R},
      </if>
      <if test="CONVERTIBLE_DEBT_INTEREST_R != null and CONVERTIBLE_DEBT_INTEREST_R != emptyBigDecimalValue" >
        #{CONVERTIBLE_DEBT_INTEREST_R},
      </if>
      <if test="SHARES_CONV_OF_CONV_SHARES_R != null and SHARES_CONV_OF_CONV_SHARES_R != emptyBigDecimalValue" >
        #{SHARES_CONV_OF_CONV_SHARES_R},
      </if>
      <if test="SHARES_CONV_OF_CONV_DEBT_R != null and SHARES_CONV_OF_CONV_DEBT_R != emptyBigDecimalValue" >
        #{SHARES_CONV_OF_CONV_DEBT_R},
      </if>
      <if test="SHARES_ISSUABLE_STOCK_OPTS_R != null and SHARES_ISSUABLE_STOCK_OPTS_R != emptyBigDecimalValue" >
        #{SHARES_ISSUABLE_STOCK_OPTS_R},
      </if>
      <if test="TRADE_PAYABLES_R != null and TRADE_PAYABLES_R != emptyBigDecimalValue" >
        #{TRADE_PAYABLES_R},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCIF_LIABILITIES_RATIOS" >
    update CIF_LIABILITIES_RATIOS
    <set >
      <if test="SHORT_TERM_DEBT_R != null" >
        <choose >
          <when test="SHORT_TERM_DEBT_R == emptyBigDecimalValue" >
            SHORT_TERM_DEBT_R = NULL ,
          </when>
          <otherwise >
            SHORT_TERM_DEBT_R = #{SHORT_TERM_DEBT_R},
          </otherwise>
        </choose>
      </if>
      <if test="CUR_PORTION_OF_LT_DEBTS_R != null" >
        <choose >
          <when test="CUR_PORTION_OF_LT_DEBTS_R == emptyBigDecimalValue" >
            CUR_PORTION_OF_LT_DEBTS_R = NULL ,
          </when>
          <otherwise >
            CUR_PORTION_OF_LT_DEBTS_R = #{CUR_PORTION_OF_LT_DEBTS_R},
          </otherwise>
        </choose>
      </if>
      <if test="ACCOUNTS_PAYABLE_R != null" >
        <choose >
          <when test="ACCOUNTS_PAYABLE_R == emptyBigDecimalValue" >
            ACCOUNTS_PAYABLE_R = NULL ,
          </when>
          <otherwise >
            ACCOUNTS_PAYABLE_R = #{ACCOUNTS_PAYABLE_R},
          </otherwise>
        </choose>
      </if>
      <if test="NOTES_PAYABLE_R != null" >
        <choose >
          <when test="NOTES_PAYABLE_R == emptyBigDecimalValue" >
            NOTES_PAYABLE_R = NULL ,
          </when>
          <otherwise >
            NOTES_PAYABLE_R = #{NOTES_PAYABLE_R},
          </otherwise>
        </choose>
      </if>
      <if test="DUES_TO_SIS_COMP_R != null" >
        <choose >
          <when test="DUES_TO_SIS_COMP_R == emptyBigDecimalValue" >
            DUES_TO_SIS_COMP_R = NULL ,
          </when>
          <otherwise >
            DUES_TO_SIS_COMP_R = #{DUES_TO_SIS_COMP_R},
          </otherwise>
        </choose>
      </if>
      <if test="ADVANCES_FR_CLIENTS_R != null" >
        <choose >
          <when test="ADVANCES_FR_CLIENTS_R == emptyBigDecimalValue" >
            ADVANCES_FR_CLIENTS_R = NULL ,
          </when>
          <otherwise >
            ADVANCES_FR_CLIENTS_R = #{ADVANCES_FR_CLIENTS_R},
          </otherwise>
        </choose>
      </if>
      <if test="NSSF_DUES_R != null" >
        <choose >
          <when test="NSSF_DUES_R == emptyBigDecimalValue" >
            NSSF_DUES_R = NULL ,
          </when>
          <otherwise >
            NSSF_DUES_R = #{NSSF_DUES_R},
          </otherwise>
        </choose>
      </if>
      <if test="ACCRUED_EXPENSES_R != null" >
        <choose >
          <when test="ACCRUED_EXPENSES_R == emptyBigDecimalValue" >
            ACCRUED_EXPENSES_R = NULL ,
          </when>
          <otherwise >
            ACCRUED_EXPENSES_R = #{ACCRUED_EXPENSES_R},
          </otherwise>
        </choose>
      </if>
      <if test="INCOME_TAX_PAYABLE_R != null" >
        <choose >
          <when test="INCOME_TAX_PAYABLE_R == emptyBigDecimalValue" >
            INCOME_TAX_PAYABLE_R = NULL ,
          </when>
          <otherwise >
            INCOME_TAX_PAYABLE_R = #{INCOME_TAX_PAYABLE_R},
          </otherwise>
        </choose>
      </if>
      <if test="INTEREST_PAYABLE_R != null" >
        <choose >
          <when test="INTEREST_PAYABLE_R == emptyBigDecimalValue" >
            INTEREST_PAYABLE_R = NULL ,
          </when>
          <otherwise >
            INTEREST_PAYABLE_R = #{INTEREST_PAYABLE_R},
          </otherwise>
        </choose>
      </if>
      <if test="OTHER_TAXES_PAYABLE_R != null" >
        <choose >
          <when test="OTHER_TAXES_PAYABLE_R == emptyBigDecimalValue" >
            OTHER_TAXES_PAYABLE_R = NULL ,
          </when>
          <otherwise >
            OTHER_TAXES_PAYABLE_R = #{OTHER_TAXES_PAYABLE_R},
          </otherwise>
        </choose>
      </if>
      <if test="DUE_TO_PARTNERS_R != null" >
        <choose >
          <when test="DUE_TO_PARTNERS_R == emptyBigDecimalValue" >
            DUE_TO_PARTNERS_R = NULL ,
          </when>
          <otherwise >
            DUE_TO_PARTNERS_R = #{DUE_TO_PARTNERS_R},
          </otherwise>
        </choose>
      </if>
      <if test="NON_OPER_PAYABLES_SUPPLIERS_R != null" >
        <choose >
          <when test="NON_OPER_PAYABLES_SUPPLIERS_R == emptyBigDecimalValue" >
            NON_OPER_PAYABLES_SUPPLIERS_R = NULL ,
          </when>
          <otherwise >
            NON_OPER_PAYABLES_SUPPLIERS_R = #{NON_OPER_PAYABLES_SUPPLIERS_R},
          </otherwise>
        </choose>
      </if>
      <if test="SUNDRY_OPER_LIABILITIES_R != null" >
        <choose >
          <when test="SUNDRY_OPER_LIABILITIES_R == emptyBigDecimalValue" >
            SUNDRY_OPER_LIABILITIES_R = NULL ,
          </when>
          <otherwise >
            SUNDRY_OPER_LIABILITIES_R = #{SUNDRY_OPER_LIABILITIES_R},
          </otherwise>
        </choose>
      </if>
      <if test="SUNDRY_N_OPER_LIABILITIES_R != null" >
        <choose >
          <when test="SUNDRY_N_OPER_LIABILITIES_R == emptyBigDecimalValue" >
            SUNDRY_N_OPER_LIABILITIES_R = NULL ,
          </when>
          <otherwise >
            SUNDRY_N_OPER_LIABILITIES_R = #{SUNDRY_N_OPER_LIABILITIES_R},
          </otherwise>
        </choose>
      </if>
      <if test="SALARIES_PAYABLE_R != null" >
        <choose >
          <when test="SALARIES_PAYABLE_R == emptyBigDecimalValue" >
            SALARIES_PAYABLE_R = NULL ,
          </when>
          <otherwise >
            SALARIES_PAYABLE_R = #{SALARIES_PAYABLE_R},
          </otherwise>
        </choose>
      </if>
      <if test="DIVIDEND_PAYABLE_R != null" >
        <choose >
          <when test="DIVIDEND_PAYABLE_R == emptyBigDecimalValue" >
            DIVIDEND_PAYABLE_R = NULL ,
          </when>
          <otherwise >
            DIVIDEND_PAYABLE_R = #{DIVIDEND_PAYABLE_R},
          </otherwise>
        </choose>
      </if>
      <if test="ADV_FR_ASSOCIATED_UNDER_R != null" >
        <choose >
          <when test="ADV_FR_ASSOCIATED_UNDER_R == emptyBigDecimalValue" >
            ADV_FR_ASSOCIATED_UNDER_R = NULL ,
          </when>
          <otherwise >
            ADV_FR_ASSOCIATED_UNDER_R = #{ADV_FR_ASSOCIATED_UNDER_R},
          </otherwise>
        </choose>
      </if>
      <if test="LABOR_PENSION_PROVISIONS_R != null" >
        <choose >
          <when test="LABOR_PENSION_PROVISIONS_R == emptyBigDecimalValue" >
            LABOR_PENSION_PROVISIONS_R = NULL ,
          </when>
          <otherwise >
            LABOR_PENSION_PROVISIONS_R = #{LABOR_PENSION_PROVISIONS_R},
          </otherwise>
        </choose>
      </if>
      <if test="OTHER_DEFERRED_PROV_RESERVES_R != null" >
        <choose >
          <when test="OTHER_DEFERRED_PROV_RESERVES_R == emptyBigDecimalValue" >
            OTHER_DEFERRED_PROV_RESERVES_R = NULL ,
          </when>
          <otherwise >
            OTHER_DEFERRED_PROV_RESERVES_R = #{OTHER_DEFERRED_PROV_RESERVES_R},
          </otherwise>
        </choose>
      </if>
      <if test="LT_PORTION_OF_BNK_DEBT_R != null" >
        <choose >
          <when test="LT_PORTION_OF_BNK_DEBT_R == emptyBigDecimalValue" >
            LT_PORTION_OF_BNK_DEBT_R = NULL ,
          </when>
          <otherwise >
            LT_PORTION_OF_BNK_DEBT_R = #{LT_PORTION_OF_BNK_DEBT_R},
          </otherwise>
        </choose>
      </if>
      <if test="LT_DUES_TO_SIS_COMP_R != null" >
        <choose >
          <when test="LT_DUES_TO_SIS_COMP_R == emptyBigDecimalValue" >
            LT_DUES_TO_SIS_COMP_R = NULL ,
          </when>
          <otherwise >
            LT_DUES_TO_SIS_COMP_R = #{LT_DUES_TO_SIS_COMP_R},
          </otherwise>
        </choose>
      </if>
      <if test="LT_LOANS_HOLD_COMP_R != null" >
        <choose >
          <when test="LT_LOANS_HOLD_COMP_R == emptyBigDecimalValue" >
            LT_LOANS_HOLD_COMP_R = NULL ,
          </when>
          <otherwise >
            LT_LOANS_HOLD_COMP_R = #{LT_LOANS_HOLD_COMP_R},
          </otherwise>
        </choose>
      </if>
      <if test="OTHER_LT_LOANS_OBLIG_R != null" >
        <choose >
          <when test="OTHER_LT_LOANS_OBLIG_R == emptyBigDecimalValue" >
            OTHER_LT_LOANS_OBLIG_R = NULL ,
          </when>
          <otherwise >
            OTHER_LT_LOANS_OBLIG_R = #{OTHER_LT_LOANS_OBLIG_R},
          </otherwise>
        </choose>
      </if>
      <if test="END_OF_SERV_INDEMNITY_R != null" >
        <choose >
          <when test="END_OF_SERV_INDEMNITY_R == emptyBigDecimalValue" >
            END_OF_SERV_INDEMNITY_R = NULL ,
          </when>
          <otherwise >
            END_OF_SERV_INDEMNITY_R = #{END_OF_SERV_INDEMNITY_R},
          </otherwise>
        </choose>
      </if>
      <if test="PROV_FOR_RISK_AND_CHARGES_R != null" >
        <choose >
          <when test="PROV_FOR_RISK_AND_CHARGES_R == emptyBigDecimalValue" >
            PROV_FOR_RISK_AND_CHARGES_R = NULL ,
          </when>
          <otherwise >
            PROV_FOR_RISK_AND_CHARGES_R = #{PROV_FOR_RISK_AND_CHARGES_R},
          </otherwise>
        </choose>
      </if>
      <if test="LONG_TERM_DEPOSITS_LIAB_R != null" >
        <choose >
          <when test="LONG_TERM_DEPOSITS_LIAB_R == emptyBigDecimalValue" >
            LONG_TERM_DEPOSITS_LIAB_R = NULL ,
          </when>
          <otherwise >
            LONG_TERM_DEPOSITS_LIAB_R = #{LONG_TERM_DEPOSITS_LIAB_R},
          </otherwise>
        </choose>
      </if>
      <if test="MINORITY_INTERESTS_R != null" >
        <choose >
          <when test="MINORITY_INTERESTS_R == emptyBigDecimalValue" >
            MINORITY_INTERESTS_R = NULL ,
          </when>
          <otherwise >
            MINORITY_INTERESTS_R = #{MINORITY_INTERESTS_R},
          </otherwise>
        </choose>
      </if>
      <if test="RESERVES_FOR_CONTINGENCIES_R != null" >
        <choose >
          <when test="RESERVES_FOR_CONTINGENCIES_R == emptyBigDecimalValue" >
            RESERVES_FOR_CONTINGENCIES_R = NULL ,
          </when>
          <otherwise >
            RESERVES_FOR_CONTINGENCIES_R = #{RESERVES_FOR_CONTINGENCIES_R},
          </otherwise>
        </choose>
      </if>
      <if test="OWNERS_ACCOUNT_R != null" >
        <choose >
          <when test="OWNERS_ACCOUNT_R == emptyBigDecimalValue" >
            OWNERS_ACCOUNT_R = NULL ,
          </when>
          <otherwise >
            OWNERS_ACCOUNT_R = #{OWNERS_ACCOUNT_R},
          </otherwise>
        </choose>
      </if>
      <if test="PAID_UP_CAPITAL_R != null" >
        <choose >
          <when test="PAID_UP_CAPITAL_R == emptyBigDecimalValue" >
            PAID_UP_CAPITAL_R = NULL ,
          </when>
          <otherwise >
            PAID_UP_CAPITAL_R = #{PAID_UP_CAPITAL_R},
          </otherwise>
        </choose>
      </if>
      <if test="NON_REGISTERED_CAPITAL_R != null" >
        <choose >
          <when test="NON_REGISTERED_CAPITAL_R == emptyBigDecimalValue" >
            NON_REGISTERED_CAPITAL_R = NULL ,
          </when>
          <otherwise >
            NON_REGISTERED_CAPITAL_R = #{NON_REGISTERED_CAPITAL_R},
          </otherwise>
        </choose>
      </if>
      <if test="LEGAL_RESERVES_R != null" >
        <choose >
          <when test="LEGAL_RESERVES_R == emptyBigDecimalValue" >
            LEGAL_RESERVES_R = NULL ,
          </when>
          <otherwise >
            LEGAL_RESERVES_R = #{LEGAL_RESERVES_R},
          </otherwise>
        </choose>
      </if>
      <if test="OTHER_RESERVES_R != null" >
        <choose >
          <when test="OTHER_RESERVES_R == emptyBigDecimalValue" >
            OTHER_RESERVES_R = NULL ,
          </when>
          <otherwise >
            OTHER_RESERVES_R = #{OTHER_RESERVES_R},
          </otherwise>
        </choose>
      </if>
      <if test="REVAL_DIFFERENCES_R != null" >
        <choose >
          <when test="REVAL_DIFFERENCES_R == emptyBigDecimalValue" >
            REVAL_DIFFERENCES_R = NULL ,
          </when>
          <otherwise >
            REVAL_DIFFERENCES_R = #{REVAL_DIFFERENCES_R},
          </otherwise>
        </choose>
      </if>
      <if test="RESERVES_R != null" >
        <choose >
          <when test="RESERVES_R == emptyBigDecimalValue" >
            RESERVES_R = NULL ,
          </when>
          <otherwise >
            RESERVES_R = #{RESERVES_R},
          </otherwise>
        </choose>
      </if>
      <if test="RETAINED_EARNINGS_R != null" >
        <choose >
          <when test="RETAINED_EARNINGS_R == emptyBigDecimalValue" >
            RETAINED_EARNINGS_R = NULL ,
          </when>
          <otherwise >
            RETAINED_EARNINGS_R = #{RETAINED_EARNINGS_R},
          </otherwise>
        </choose>
      </if>
      <if test="DUES_FROM_PARTNERS_R != null" >
        <choose >
          <when test="DUES_FROM_PARTNERS_R == emptyBigDecimalValue" >
            DUES_FROM_PARTNERS_R = NULL ,
          </when>
          <otherwise >
            DUES_FROM_PARTNERS_R = #{DUES_FROM_PARTNERS_R},
          </otherwise>
        </choose>
      </if>
      <if test="INTANGIBLES_R != null" >
        <choose >
          <when test="INTANGIBLES_R == emptyBigDecimalValue" >
            INTANGIBLES_R = NULL ,
          </when>
          <otherwise >
            INTANGIBLES_R = #{INTANGIBLES_R},
          </otherwise>
        </choose>
      </if>
      <if test="COMMON_STOCK_R != null" >
        <choose >
          <when test="COMMON_STOCK_R == emptyBigDecimalValue" >
            COMMON_STOCK_R = NULL ,
          </when>
          <otherwise >
            COMMON_STOCK_R = #{COMMON_STOCK_R},
          </otherwise>
        </choose>
      </if>
      <if test="PREFERRED_STOCK_R != null" >
        <choose >
          <when test="PREFERRED_STOCK_R == emptyBigDecimalValue" >
            PREFERRED_STOCK_R = NULL ,
          </when>
          <otherwise >
            PREFERRED_STOCK_R = #{PREFERRED_STOCK_R},
          </otherwise>
        </choose>
      </if>
      <if test="FX_TRANSLATION_ADJUSTMENT_R != null" >
        <choose >
          <when test="FX_TRANSLATION_ADJUSTMENT_R == emptyBigDecimalValue" >
            FX_TRANSLATION_ADJUSTMENT_R = NULL ,
          </when>
          <otherwise >
            FX_TRANSLATION_ADJUSTMENT_R = #{FX_TRANSLATION_ADJUSTMENT_R},
          </otherwise>
        </choose>
      </if>
      <if test="TREASURY_SHARES_R != null" >
        <choose >
          <when test="TREASURY_SHARES_R == emptyBigDecimalValue" >
            TREASURY_SHARES_R = NULL ,
          </when>
          <otherwise >
            TREASURY_SHARES_R = #{TREASURY_SHARES_R},
          </otherwise>
        </choose>
      </if>
      <if test="PREFERRED_DIVIDENDS_R != null" >
        <choose >
          <when test="PREFERRED_DIVIDENDS_R == emptyBigDecimalValue" >
            PREFERRED_DIVIDENDS_R = NULL ,
          </when>
          <otherwise >
            PREFERRED_DIVIDENDS_R = #{PREFERRED_DIVIDENDS_R},
          </otherwise>
        </choose>
      </if>
      <if test="CONVERTIBLE_PREF_DIVIDENDS_R != null" >
        <choose >
          <when test="CONVERTIBLE_PREF_DIVIDENDS_R == emptyBigDecimalValue" >
            CONVERTIBLE_PREF_DIVIDENDS_R = NULL ,
          </when>
          <otherwise >
            CONVERTIBLE_PREF_DIVIDENDS_R = #{CONVERTIBLE_PREF_DIVIDENDS_R},
          </otherwise>
        </choose>
      </if>
      <if test="CONVERTIBLE_DEBT_INTEREST_R != null" >
        <choose >
          <when test="CONVERTIBLE_DEBT_INTEREST_R == emptyBigDecimalValue" >
            CONVERTIBLE_DEBT_INTEREST_R = NULL ,
          </when>
          <otherwise >
            CONVERTIBLE_DEBT_INTEREST_R = #{CONVERTIBLE_DEBT_INTEREST_R},
          </otherwise>
        </choose>
      </if>
      <if test="SHARES_CONV_OF_CONV_SHARES_R != null" >
        <choose >
          <when test="SHARES_CONV_OF_CONV_SHARES_R == emptyBigDecimalValue" >
            SHARES_CONV_OF_CONV_SHARES_R = NULL ,
          </when>
          <otherwise >
            SHARES_CONV_OF_CONV_SHARES_R = #{SHARES_CONV_OF_CONV_SHARES_R},
          </otherwise>
        </choose>
      </if>
      <if test="SHARES_CONV_OF_CONV_DEBT_R != null" >
        <choose >
          <when test="SHARES_CONV_OF_CONV_DEBT_R == emptyBigDecimalValue" >
            SHARES_CONV_OF_CONV_DEBT_R = NULL ,
          </when>
          <otherwise >
            SHARES_CONV_OF_CONV_DEBT_R = #{SHARES_CONV_OF_CONV_DEBT_R},
          </otherwise>
        </choose>
      </if>
      <if test="SHARES_ISSUABLE_STOCK_OPTS_R != null" >
        <choose >
          <when test="SHARES_ISSUABLE_STOCK_OPTS_R == emptyBigDecimalValue" >
            SHARES_ISSUABLE_STOCK_OPTS_R = NULL ,
          </when>
          <otherwise >
            SHARES_ISSUABLE_STOCK_OPTS_R = #{SHARES_ISSUABLE_STOCK_OPTS_R},
          </otherwise>
        </choose>
      </if>
      <if test="TRADE_PAYABLES_R != null" >
        <choose >
          <when test="TRADE_PAYABLES_R == emptyBigDecimalValue" >
            TRADE_PAYABLES_R = NULL ,
          </when>
          <otherwise >
            TRADE_PAYABLES_R = #{TRADE_PAYABLES_R},
          </otherwise>
        </choose>
      </if>
    </set>
    where CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
  </sql>
  <update id="updateCIF_LIABILITIES_RATIOS" parameterType="com.path.dbmaps.vo.CIF_LIABILITIES_RATIOSVO" >
    <include refid="sql_updateCIF_LIABILITIES_RATIOS" />
  </update>
</mapper>