<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CIF_PROXY_BENEF_DET" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CIF_PROXY_BENEF_DETVO" >
    <id column="CIF_NO" property="CIF_NO" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NO" property="LINE_NO" />
    <id column="SUB_LINE_NO" property="SUB_LINE_NO" />
    <result column="LANGUAGE" property="LANGUAGE" />
    <result column="FIRST_NAME_L" property="FIRST_NAME_L" />
    <result column="SECOND_NAME_L" property="SECOND_NAME_L" />
    <result column="THIRD_NAME_L" property="THIRD_NAME_L" />
    <result column="LAST_NAME_L" property="LAST_NAME_L" />
    <result column="FIRST_NAME_O" property="FIRST_NAME_O" />
    <result column="SECOND_NAME_O" property="SECOND_NAME_O" />
    <result column="THIRD_NAME_O" property="THIRD_NAME_O" />
    <result column="LAST_NAME_O" property="LAST_NAME_O" />
    <result column="REGION_CODE" property="REGION_CODE" />
    <result column="ADDRESS_1" property="ADDRESS_1" />
    <result column="ADDRESS_2" property="ADDRESS_2" />
    <result column="ADDRESS_3" property="ADDRESS_3" />
    <result column="ADDRESS_4" property="ADDRESS_4" />
    <result column="CITY" property="CITY" />
    <result column="COUNTRY_CODE" property="COUNTRY_CODE" />
    <result column="CITY_CODE" property="CITY_CODE" />
    <result column="SECTOR" property="SECTOR" />
    <result column="POSTAL_CODE" property="POSTAL_CODE" />
    <result column="DESCRIPTION_CODE" property="DESCRIPTION_CODE" />
    <result column="FROM_DATE" property="FROM_DATE" />
    <result column="TO_DATE" property="TO_DATE" />
    <result column="TELEPHONE" property="TELEPHONE" />
    <result column="WORK_TELEPHONE" property="WORK_TELEPHONE" />
    <result column="MOBILE" property="MOBILE" />
    <result column="OTHER_TEL" property="OTHER_TEL" />
    <result column="FAX" property="FAX" />
    <result column="EMAIL" property="EMAIL" />
    <result column="EXPIRY_DATE" property="EXPIRY_DATE" />
    <result column="ID_TYPE" property="ID_TYPE" />
    <result column="ID_NO" property="ID_NO" />
    <result column="ID_EXPIRY_DATE" property="ID_EXPIRY_DATE" />
    <result column="ID_DATE_OF_BIRTH" property="ID_DATE_OF_BIRTH" />
    <result column="ID_NATIONALITY" property="ID_NATIONALITY" />
    <result column="ID_PLACE_OF_BIRTH" property="ID_PLACE_OF_BIRTH" />
    <result column="PO_BOX" property="PO_BOX" />
    <result column="PO_BOX_AREA" property="PO_BOX_AREA" />
    <result column="TRANSFER_TYPE" property="TRANSFER_TYPE" />
    <result column="CURRENCY_CODE" property="CURRENCY_CODE" />
    <result column="ADDITIONAL_REFERENCE" property="ADDITIONAL_REFERENCE" />
    <result column="BANK_CIF_NO" property="BANK_CIF_NO" />
    <result column="BANK_BRANCH" property="BANK_BRANCH" />
    <result column="BANK_ACC_NO" property="BANK_ACC_NO" />
    <result column="BANK_ADDRESS_1" property="BANK_ADDRESS_1" />
    <result column="BANK_ADDRESS_2" property="BANK_ADDRESS_2" />
    <result column="BANK_ADDRESS_3" property="BANK_ADDRESS_3" />
    <result column="BENEF_ACC_NO" property="BENEF_ACC_NO" />
    <result column="BANK_BIC_CODE" property="BANK_BIC_CODE" />
    <result column="COUNTRY_OF_ISSUANCE" property="COUNTRY_OF_ISSUANCE" />
    <result column="IDENTIFICATION_NO" property="IDENTIFICATION_NO" />    
    <result column="IFSC_CODE" property="IFSC_CODE" />    
    <result column="BENEFICIARY_TYPE" property="BENEFICIARY_TYPE" />    
    <result column="BILLER_ID" property="BILLER_ID" />    
    <result column="BILLER_NAME" property="BILLER_NAME" /> 
    <result column="ULTIMATE_BENEF_TYPE_DDL" property="ULTIMATE_BENEF_TYPE_DDL" />
    <result column="REGISTRATION_DATE" property="REGISTRATION_DATE" />
    <result column="DELETE_REASON" property="DELETE_REASON" />
    <result column="CANCEL_REASON" property="CANCEL_REASON" />
    <result column="MOTHER_FIRST_NAME" property="MOTHER_FIRST_NAME" />
    <result column="MOTHER_LAST_NAME" property="MOTHER_LAST_NAME" />
    <result column="SHAREHOLD_PERC" property="SHAREHOLD_PERC" />
    <result column="OFFICIAL_POSITION" property="OFFICIAL_POSITION" />           
  </resultMap>
  <sql id="Base_Column_List" >
    CIF_NO, COMP_CODE, LINE_NO, SUB_LINE_NO, LANGUAGE, FIRST_NAME_L, SECOND_NAME_L, THIRD_NAME_L, 
    LAST_NAME_L, FIRST_NAME_O, SECOND_NAME_O, THIRD_NAME_O, LAST_NAME_O, REGION_CODE, 
    ADDRESS_1, ADDRESS_2, ADDRESS_3, ADDRESS_4, CITY, COUNTRY_CODE, CITY_CODE, SECTOR, 
    POSTAL_CODE, DESCRIPTION_CODE, FROM_DATE, TO_DATE, TELEPHONE, WORK_TELEPHONE, MOBILE, 
    OTHER_TEL, FAX, EMAIL, EXPIRY_DATE, ID_TYPE, ID_NO, ID_EXPIRY_DATE, ID_DATE_OF_BIRTH, 
    ID_NATIONALITY, ID_PLACE_OF_BIRTH, PO_BOX, PO_BOX_AREA, TRANSFER_TYPE,CURRENCY_CODE, ADDITIONAL_REFERENCE,
    BANK_CIF_NO,BANK_BRANCH,BANK_ACC_NO, BANK_ADDRESS_1, BANK_ADDRESS_2, BANK_ADDRESS_3,
     BENEF_ACC_NO, BANK_BIC_CODE , COUNTRY_OF_ISSUANCE,IDENTIFICATION_NO,IFSC_CODE,BENEFICIARY_TYPE,BILLER_ID,BILLER_NAME,
     ULTIMATE_BENEF_TYPE_DDL, REGISTRATION_DATE, DELETE_REASON, CANCEL_REASON, MOTHER_FIRST_NAME, MOTHER_LAST_NAME,
	SHAREHOLD_PERC, OFFICIAL_POSITION
  </sql>
  <select id="selectCIF_PROXY_BENEF_DET" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CIF_PROXY_BENEF_DETVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CIF_PROXY_BENEF_DET
    where CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      AND SUB_LINE_NO = #{SUB_LINE_NO}
  </select>
  <delete id="deleteCIF_PROXY_BENEF_DET" parameterType="com.path.dbmaps.vo.CIF_PROXY_BENEF_DETVOKey" >
    delete from CIF_PROXY_BENEF_DET
    where CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      AND SUB_LINE_NO = #{SUB_LINE_NO}
  </delete>
  <insert id="insertCIF_PROXY_BENEF_DET" parameterType="com.path.dbmaps.vo.CIF_PROXY_BENEF_DETVO" >
    insert into CIF_PROXY_BENEF_DET
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        CIF_NO,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="SUB_LINE_NO != null and SUB_LINE_NO != emptyBigDecimalValue" >
        SUB_LINE_NO,
      </if>
      <if test="LANGUAGE != null" >
        LANGUAGE,
      </if>
      <if test="FIRST_NAME_L != null" >
        FIRST_NAME_L,
      </if>
      <if test="SECOND_NAME_L != null" >
        SECOND_NAME_L,
      </if>
      <if test="THIRD_NAME_L != null" >
        THIRD_NAME_L,
      </if>
      <if test="LAST_NAME_L != null" >
        LAST_NAME_L,
      </if>
      <if test="FIRST_NAME_O != null" >
        FIRST_NAME_O,
      </if>
      <if test="SECOND_NAME_O != null" >
        SECOND_NAME_O,
      </if>
      <if test="THIRD_NAME_O != null" >
        THIRD_NAME_O,
      </if>
      <if test="LAST_NAME_O != null" >
        LAST_NAME_O,
      </if>
      <if test="REGION_CODE != null and REGION_CODE != emptyBigDecimalValue" >
        REGION_CODE,
      </if>
      <if test="ADDRESS_1 != null" >
        ADDRESS_1,
      </if>
      <if test="ADDRESS_2 != null" >
        ADDRESS_2,
      </if>
      <if test="ADDRESS_3 != null" >
        ADDRESS_3,
      </if>
      <if test="ADDRESS_4 != null" >
        ADDRESS_4,
      </if>
      <if test="CITY != null" >
        CITY,
      </if>
      <if test="COUNTRY_CODE != null and COUNTRY_CODE != emptyBigDecimalValue" >
        COUNTRY_CODE,
      </if>
      <if test="CITY_CODE != null and CITY_CODE != emptyBigDecimalValue" >
        CITY_CODE,
      </if>
      <if test="SECTOR != null and SECTOR != emptyBigDecimalValue" >
        SECTOR,
      </if>
      <if test="POSTAL_CODE != null" >
        POSTAL_CODE,
      </if>
      <if test="DESCRIPTION_CODE != null and DESCRIPTION_CODE != emptyBigDecimalValue" >
        DESCRIPTION_CODE,
      </if>
      <if test="FROM_DATE != null" >
        FROM_DATE,
      </if>
      <if test="TO_DATE != null" >
        TO_DATE,
      </if>
      <if test="TELEPHONE != null" >
        TELEPHONE,
      </if>
      <if test="WORK_TELEPHONE != null" >
        WORK_TELEPHONE,
      </if>
      <if test="MOBILE != null" >
        MOBILE,
      </if>
      <if test="OTHER_TEL != null" >
        OTHER_TEL,
      </if>
      <if test="FAX != null" >
        FAX,
      </if>
      <if test="EMAIL != null" >
        EMAIL,
      </if>
      <if test="EXPIRY_DATE != null" >
        EXPIRY_DATE,
      </if>
      <if test="ID_TYPE != null and ID_TYPE != emptyBigDecimalValue" >
        ID_TYPE,
      </if>
      <if test="ID_NO != null" >
        ID_NO,
      </if>
      <if test="ID_EXPIRY_DATE != null" >
        ID_EXPIRY_DATE,
      </if>
      <if test="ID_DATE_OF_BIRTH != null" >
        ID_DATE_OF_BIRTH,
      </if>
      <if test="ID_NATIONALITY != null and ID_NATIONALITY != emptyBigDecimalValue" >
        ID_NATIONALITY,
      </if>
      <if test="ID_PLACE_OF_BIRTH != null and ID_PLACE_OF_BIRTH != emptyBigDecimalValue" >
        ID_PLACE_OF_BIRTH,
      </if>
      <if test="PO_BOX != null" >
        PO_BOX,
      </if>
      <if test="PO_BOX_AREA != null and PO_BOX_AREA != emptyBigDecimalValue" >
        PO_BOX_AREA,
      </if>
      <if test="TRANSFER_TYPE != null" >
        TRANSFER_TYPE,
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        CURRENCY_CODE,
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        ADDITIONAL_REFERENCE,
      </if>
      <if test="BANK_CIF_NO != null and BANK_CIF_NO != emptyBigDecimalValue" >
        BANK_CIF_NO,
      </if>
      <if test="BANK_BRANCH != null" >
        BANK_BRANCH,
      </if>
      <if test="BANK_ACC_NO != null" >
        BANK_ACC_NO,
      </if>
      <if test="BANK_ADDRESS_1 != null" >
        BANK_ADDRESS_1,
      </if>
      <if test="BANK_ADDRESS_2 != null" >
        BANK_ADDRESS_2,
      </if>
      <if test="BANK_ADDRESS_3 != null" >
        BANK_ADDRESS_3,
      </if>
      <if test="BENEF_ACC_NO != null" >
        BENEF_ACC_NO,
      </if>
      <if test="BANK_BIC_CODE != null" >
        BANK_BIC_CODE,
      </if>
       <if test="COUNTRY_OF_ISSUANCE != null and COUNTRY_OF_ISSUANCE != emptyBigDecimalValue" >
        COUNTRY_OF_ISSUANCE,
      </if>     
       <if test="IDENTIFICATION_NO != null" >
        IDENTIFICATION_NO,
      </if> 
      <if test="IFSC_CODE != null" >
        IFSC_CODE,
      </if> 
      <if test="BENEFICIARY_TYPE != null" >
        BENEFICIARY_TYPE,
      </if>
	  <if test="BILLER_ID != null and BILLER_ID != emptyBigDecimalValue" >
        BILLER_ID,
      </if>
      <if test="BILLER_NAME != null" >
        BILLER_NAME,
      </if> 
      <if test="ULTIMATE_BENEF_TYPE_DDL != null and !&quot;&quot;.equals(ULTIMATE_BENEF_TYPE_DDL)" >
        ULTIMATE_BENEF_TYPE_DDL,
      </if>
      <if test="REGISTRATION_DATE != null and !&quot;&quot;.equals(REGISTRATION_DATE)" >
        REGISTRATION_DATE,
      </if>
      <if test="DELETE_REASON != null and !&quot;&quot;.equals(DELETE_REASON)" >
        DELETE_REASON,
      </if>
      <if test="CANCEL_REASON != null and !&quot;&quot;.equals(CANCEL_REASON)" >
        CANCEL_REASON,
      </if>
      <if test="MOTHER_FIRST_NAME != null and !&quot;&quot;.equals(MOTHER_FIRST_NAME)" >
        MOTHER_FIRST_NAME,
      </if>
      <if test="MOTHER_LAST_NAME != null and !&quot;&quot;.equals(MOTHER_LAST_NAME)" >
        MOTHER_LAST_NAME,
      </if>
      <if test="SHAREHOLD_PERC != null and SHAREHOLD_PERC != emptyBigDecimalValue" >
        SHAREHOLD_PERC,
      </if>
      <if test="OFFICIAL_POSITION != null and !&quot;&quot;.equals(OFFICIAL_POSITION)" >
        OFFICIAL_POSITION,
      </if> 
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        #{CIF_NO},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="SUB_LINE_NO != null and SUB_LINE_NO != emptyBigDecimalValue" >
        #{SUB_LINE_NO},
      </if>
      <if test="LANGUAGE != null" >
        #{LANGUAGE},
      </if>
      <if test="FIRST_NAME_L != null" >
        #{FIRST_NAME_L},
      </if>
      <if test="SECOND_NAME_L != null" >
        #{SECOND_NAME_L},
      </if>
      <if test="THIRD_NAME_L != null" >
        #{THIRD_NAME_L},
      </if>
      <if test="LAST_NAME_L != null" >
        #{LAST_NAME_L},
      </if>
      <if test="FIRST_NAME_O != null" >
        #{FIRST_NAME_O},
      </if>
      <if test="SECOND_NAME_O != null" >
        #{SECOND_NAME_O},
      </if>
      <if test="THIRD_NAME_O != null" >
        #{THIRD_NAME_O},
      </if>
      <if test="LAST_NAME_O != null" >
        #{LAST_NAME_O},
      </if>
      <if test="REGION_CODE != null and REGION_CODE != emptyBigDecimalValue" >
        #{REGION_CODE},
      </if>
      <if test="ADDRESS_1 != null" >
        #{ADDRESS_1},
      </if>
      <if test="ADDRESS_2 != null" >
        #{ADDRESS_2},
      </if>
      <if test="ADDRESS_3 != null" >
        #{ADDRESS_3},
      </if>
      <if test="ADDRESS_4 != null" >
        #{ADDRESS_4},
      </if>
      <if test="CITY != null" >
        #{CITY},
      </if>
      <if test="COUNTRY_CODE != null and COUNTRY_CODE != emptyBigDecimalValue" >
        #{COUNTRY_CODE},
      </if>
      <if test="CITY_CODE != null and CITY_CODE != emptyBigDecimalValue" >
        #{CITY_CODE},
      </if>
      <if test="SECTOR != null and SECTOR != emptyBigDecimalValue" >
        #{SECTOR},
      </if>
      <if test="POSTAL_CODE != null" >
        #{POSTAL_CODE},
      </if>
      <if test="DESCRIPTION_CODE != null and DESCRIPTION_CODE != emptyBigDecimalValue" >
        #{DESCRIPTION_CODE},
      </if>
      <if test="FROM_DATE != null" >
        #{FROM_DATE},
      </if>
      <if test="TO_DATE != null" >
        #{TO_DATE},
      </if>
      <if test="TELEPHONE != null" >
        #{TELEPHONE},
      </if>
      <if test="WORK_TELEPHONE != null" >
        #{WORK_TELEPHONE},
      </if>
      <if test="MOBILE != null" >
        #{MOBILE},
      </if>
      <if test="OTHER_TEL != null" >
        #{OTHER_TEL},
      </if>
      <if test="FAX != null" >
        #{FAX},
      </if>
      <if test="EMAIL != null" >
        #{EMAIL},
      </if>
      <if test="EXPIRY_DATE != null" >
        #{EXPIRY_DATE},
      </if>
      <if test="ID_TYPE != null and ID_TYPE != emptyBigDecimalValue" >
        #{ID_TYPE},
      </if>
      <if test="ID_NO != null" >
        #{ID_NO},
      </if>
      <if test="ID_EXPIRY_DATE != null" >
        #{ID_EXPIRY_DATE},
      </if>
      <if test="ID_DATE_OF_BIRTH != null" >
        #{ID_DATE_OF_BIRTH},
      </if>
      <if test="ID_NATIONALITY != null and ID_NATIONALITY != emptyBigDecimalValue" >
        #{ID_NATIONALITY},
      </if>
      <if test="ID_PLACE_OF_BIRTH != null and ID_PLACE_OF_BIRTH != emptyBigDecimalValue" >
        #{ID_PLACE_OF_BIRTH},
      </if>
      <if test="PO_BOX != null" >
        #{PO_BOX},
      </if>
      <if test="PO_BOX_AREA != null and PO_BOX_AREA != emptyBigDecimalValue" >
        #{PO_BOX_AREA},
      </if>
      <if test="TRANSFER_TYPE" >
        #{TRANSFER_TYPE},
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        #{CURRENCY_CODE},
      </if>
      <if test="ADDITIONAL_REFERENCE" >
        #{ADDITIONAL_REFERENCE},
      </if>
      <if test="BANK_CIF_NO != null and BANK_CIF_NO != emptyBigDecimalValue" >
        #{BANK_CIF_NO},
      </if>
      <if test="BANK_BRANCH != null " >
        #{BANK_BRANCH},
      </if>
      <if test="BANK_ACC_NO != null " >
        #{BANK_ACC_NO},
      </if>
      <if test="BANK_ADDRESS_1 != null " >
        #{BANK_ADDRESS_1},
      </if>
      <if test="BANK_ADDRESS_2 != null " >
        #{BANK_ADDRESS_2},
      </if>
      <if test="BANK_ADDRESS_3 != null " >
        #{BANK_ADDRESS_3},
      </if>
      <if test="BENEF_ACC_NO != null " >
        #{BENEF_ACC_NO},
      </if>
      <if test="BANK_BIC_CODE != null " >
        #{BANK_BIC_CODE},
      </if>
      <if test="COUNTRY_OF_ISSUANCE != null and COUNTRY_OF_ISSUANCE != emptyBigDecimalValue" >
        #{COUNTRY_OF_ISSUANCE},
      </if> 
      <if test="IDENTIFICATION_NO != null" >
        #{IDENTIFICATION_NO},
      </if> 
      <if test="IFSC_CODE != null" >
        #{IFSC_CODE},
      </if> 
      <if test="BENEFICIARY_TYPE != null" >
        #{BENEFICIARY_TYPE},
      </if>
	  <if test="BILLER_ID != null and BILLER_ID != emptyBigDecimalValue" >
        #{BILLER_ID},
      </if>
      <if test="BILLER_NAME != null" >
        #{BILLER_NAME},
      </if>  
	  <if test="ULTIMATE_BENEF_TYPE_DDL != null and !&quot;&quot;.equals(ULTIMATE_BENEF_TYPE_DDL)" >
        #{ULTIMATE_BENEF_TYPE_DDL},
      </if>
      <if test="REGISTRATION_DATE != null and !&quot;&quot;.equals(REGISTRATION_DATE)" >
         #{REGISTRATION_DATE},
      </if>
      <if test="DELETE_REASON != null and !&quot;&quot;.equals(DELETE_REASON)" >
        #{DELETE_REASON},
      </if>
      <if test="CANCEL_REASON != null and !&quot;&quot;.equals(CANCEL_REASON)" >
        #{CANCEL_REASON},
      </if>
      <if test="MOTHER_FIRST_NAME != null and !&quot;&quot;.equals(MOTHER_FIRST_NAME)" >
         #{MOTHER_FIRST_NAME},
      </if>
      <if test="MOTHER_LAST_NAME != null and !&quot;&quot;.equals(MOTHER_LAST_NAME)" >
         #{MOTHER_LAST_NAME},
      </if>
      <if test="SHAREHOLD_PERC != null and SHAREHOLD_PERC != emptyBigDecimalValue" >
         #{SHAREHOLD_PERC},
      </if>
      <if test="OFFICIAL_POSITION != null and !&quot;&quot;.equals(OFFICIAL_POSITION)" >
         #{OFFICIAL_POSITION},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCIF_PROXY_BENEF_DET" >
    update CIF_PROXY_BENEF_DET
    <set >
      <if test="LANGUAGE != null" >
        LANGUAGE = #{LANGUAGE},
      </if>
      <if test="FIRST_NAME_L != null" >
        FIRST_NAME_L = #{FIRST_NAME_L},
      </if>
      <if test="SECOND_NAME_L != null" >
        SECOND_NAME_L = #{SECOND_NAME_L},
      </if>
      <if test="THIRD_NAME_L != null" >
        THIRD_NAME_L = #{THIRD_NAME_L},
      </if>
      <if test="LAST_NAME_L != null" >
        LAST_NAME_L = #{LAST_NAME_L},
      </if>
      <if test="FIRST_NAME_O != null" >
        FIRST_NAME_O = #{FIRST_NAME_O},
      </if>
      <if test="SECOND_NAME_O != null" >
        SECOND_NAME_O = #{SECOND_NAME_O},
      </if>
      <if test="THIRD_NAME_O != null" >
        THIRD_NAME_O = #{THIRD_NAME_O},
      </if>
      <if test="LAST_NAME_O != null" >
        LAST_NAME_O = #{LAST_NAME_O},
      </if>
      <if test="REGION_CODE != null" >
        <choose >
          <when test="REGION_CODE == emptyBigDecimalValue" >
            REGION_CODE = NULL ,
          </when>
          <otherwise >
            REGION_CODE = #{REGION_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="ADDRESS_1 != null" >
        ADDRESS_1 = #{ADDRESS_1},
      </if>
      <if test="ADDRESS_2 != null" >
        ADDRESS_2 = #{ADDRESS_2},
      </if>
      <if test="ADDRESS_3 != null" >
        ADDRESS_3 = #{ADDRESS_3},
      </if>
      <if test="ADDRESS_4 != null" >
        ADDRESS_4 = #{ADDRESS_4},
      </if>
      <if test="CITY != null" >
        CITY = #{CITY},
      </if>
      <if test="COUNTRY_CODE != null" >
        <choose >
          <when test="COUNTRY_CODE == emptyBigDecimalValue" >
            COUNTRY_CODE = NULL ,
          </when>
          <otherwise >
            COUNTRY_CODE = #{COUNTRY_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="CITY_CODE != null" >
        <choose >
          <when test="CITY_CODE == emptyBigDecimalValue" >
            CITY_CODE = NULL ,
          </when>
          <otherwise >
            CITY_CODE = #{CITY_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="SECTOR != null" >
        <choose >
          <when test="SECTOR == emptyBigDecimalValue" >
            SECTOR = NULL ,
          </when>
          <otherwise >
            SECTOR = #{SECTOR},
          </otherwise>
        </choose>
      </if>
      <if test="POSTAL_CODE != null" >
        POSTAL_CODE = #{POSTAL_CODE},
      </if>
      <if test="DESCRIPTION_CODE != null" >
        <choose >
          <when test="DESCRIPTION_CODE == emptyBigDecimalValue" >
            DESCRIPTION_CODE = NULL ,
          </when>
          <otherwise >
            DESCRIPTION_CODE = #{DESCRIPTION_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="FROM_DATE != null" >
        FROM_DATE = #{FROM_DATE},
      </if>
      <if test="TO_DATE != null" >
        TO_DATE = #{TO_DATE},
      </if>
      <if test="TELEPHONE != null" >
        TELEPHONE = #{TELEPHONE},
      </if>
      <if test="WORK_TELEPHONE != null" >
        WORK_TELEPHONE = #{WORK_TELEPHONE},
      </if>
      <if test="MOBILE != null" >
        MOBILE = #{MOBILE},
      </if>
      <if test="OTHER_TEL != null" >
        OTHER_TEL = #{OTHER_TEL},
      </if>
      <if test="FAX != null" >
        FAX = #{FAX},
      </if>
      <if test="EMAIL != null" >
        EMAIL = #{EMAIL},
      </if>
      <if test="EXPIRY_DATE != null" >
        EXPIRY_DATE = #{EXPIRY_DATE},
      </if>
      <if test="ID_TYPE != null" >
        <choose >
          <when test="ID_TYPE == emptyBigDecimalValue" >
            ID_TYPE = NULL ,
          </when>
          <otherwise >
            ID_TYPE = #{ID_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="ID_NO != null" >
        ID_NO = #{ID_NO},
      </if>
      <if test="ID_EXPIRY_DATE != null" >
        ID_EXPIRY_DATE = #{ID_EXPIRY_DATE},
      </if>
      <if test="ID_DATE_OF_BIRTH != null" >
        ID_DATE_OF_BIRTH = #{ID_DATE_OF_BIRTH},
      </if>
      <if test="ID_NATIONALITY != null" >
        <choose >
          <when test="ID_NATIONALITY == emptyBigDecimalValue" >
            ID_NATIONALITY = NULL ,
          </when>
          <otherwise >
            ID_NATIONALITY = #{ID_NATIONALITY},
          </otherwise>
        </choose>
      </if>
      <if test="ID_PLACE_OF_BIRTH != null" >
        <choose >
          <when test="ID_PLACE_OF_BIRTH == emptyBigDecimalValue" >
            ID_PLACE_OF_BIRTH = NULL ,
          </when>
          <otherwise >
            ID_PLACE_OF_BIRTH = #{ID_PLACE_OF_BIRTH},
          </otherwise>
        </choose>
      </if>
      <if test="PO_BOX != null" >
        PO_BOX = #{PO_BOX},
      </if>
      <if test="PO_BOX_AREA != null" >
        <choose >
          <when test="PO_BOX_AREA == emptyBigDecimalValue" >
            PO_BOX_AREA = NULL ,
          </when>
          <otherwise >
            PO_BOX_AREA = #{PO_BOX_AREA},
          </otherwise>
        </choose>
      </if>
      <if test="TRANSFER_TYPE != null" >
            TRANSFER_TYPE = #{TRANSFER_TYPE},
      </if>
      <if test="CURRENCY_CODE != null" >
        <choose >
          <when test="CURRENCY_CODE == emptyBigDecimalValue" >
            CURRENCY_CODE = NULL ,
          </when>
          <otherwise >
            CURRENCY_CODE = #{CURRENCY_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
            ADDITIONAL_REFERENCE = #{ADDITIONAL_REFERENCE},
      </if>
      <if test="BANK_CIF_NO != null" >
        <choose >
          <when test="BANK_CIF_NO == emptyBigDecimalValue" >
            BANK_CIF_NO = NULL ,
          </when>
          <otherwise >
            BANK_CIF_NO = #{BANK_CIF_NO},
          </otherwise>
        </choose>
      </if>
      <if test="BANK_BRANCH != null" >
            BANK_BRANCH = #{BANK_BRANCH},
      </if>
      <if test="BANK_ACC_NO != null" >
            BANK_ACC_NO = #{BANK_ACC_NO},
      </if>
      <if test="BANK_ADDRESS_1 != null" >
            BANK_ADDRESS_1 = #{BANK_ADDRESS_1},
      </if>
      <if test="BANK_ADDRESS_2 != null" >
            BANK_ADDRESS_2 = #{BANK_ADDRESS_2},
      </if>
      <if test="BANK_ADDRESS_3 != null" >
            BANK_ADDRESS_3 = #{BANK_ADDRESS_3},
      </if>
      <if test="BENEF_ACC_NO != null" >
            BENEF_ACC_NO = #{BENEF_ACC_NO},
      </if>
      <if test="BANK_BIC_CODE != null" >
            BANK_BIC_CODE = #{BANK_BIC_CODE},
      </if>
      <if test="COUNTRY_OF_ISSUANCE != null" >
        <choose >
          <when test="COUNTRY_OF_ISSUANCE == emptyBigDecimalValue" >
            COUNTRY_OF_ISSUANCE = NULL ,
          </when>
          <otherwise >
            COUNTRY_OF_ISSUANCE = #{COUNTRY_OF_ISSUANCE},
          </otherwise>
        </choose>
      </if> 
       <if test="IDENTIFICATION_NO != null" >
        IDENTIFICATION_NO = #{IDENTIFICATION_NO},
      </if> 
      <if test="IFSC_CODE != null" >
        IFSC_CODE = #{IFSC_CODE},
      </if> 
      <if test="BENEFICIARY_TYPE != null" >
        BENEFICIARY_TYPE = #{BENEFICIARY_TYPE},
      </if>
      <if test="BILLER_ID != null" >
        <choose >
          <when test="BILLER_ID == emptyBigDecimalValue" >
            BILLER_ID = NULL ,
          </when>
          <otherwise >
            BILLER_ID = #{BILLER_ID},
          </otherwise>
        </choose>
      </if> 
      <if test="ULTIMATE_BENEF_TYPE_DDL != null" >
        <choose >
          <when test="ULTIMATE_BENEF_TYPE_DDL.equals(&quot;&quot;)" >
            ULTIMATE_BENEF_TYPE_DDL = NULL ,
          </when>
          <otherwise >
            ULTIMATE_BENEF_TYPE_DDL = #{ULTIMATE_BENEF_TYPE_DDL},
          </otherwise>
        </choose>
      </if>
      <if test="REGISTRATION_DATE != null" >
      	<choose >
          <when test="REGISTRATION_DATE.equals(&quot;&quot;)" >
            REGISTRATION_DATE = NULL ,
          </when>
          <otherwise >
            REGISTRATION_DATE = #{REGISTRATION_DATE},
          </otherwise>
        </choose>
      </if>
      <if test="DELETE_REASON != null" >
        <choose >
          <when test="DELETE_REASON.equals(&quot;&quot;)" >
            DELETE_REASON = NULL ,
          </when>
          <otherwise >
            DELETE_REASON = #{DELETE_REASON},
          </otherwise>
        </choose>
      </if>
      <if test="CANCEL_REASON != null" >
        <choose >
          <when test="CANCEL_REASON.equals(&quot;&quot;)" >
            CANCEL_REASON = NULL ,
          </when>
          <otherwise >
            CANCEL_REASON = #{CANCEL_REASON},
          </otherwise>
        </choose>
      </if>
      <if test="MOTHER_FIRST_NAME != null" >
         <choose >
          <when test="MOTHER_FIRST_NAME.equals(&quot;&quot;)" >
            MOTHER_FIRST_NAME = NULL ,
          </when>
          <otherwise >
            MOTHER_FIRST_NAME = #{MOTHER_FIRST_NAME},
          </otherwise>
        </choose>
      </if>
      <if test="MOTHER_LAST_NAME != null" >
         <choose >
          <when test="MOTHER_LAST_NAME.equals(&quot;&quot;)" >
            MOTHER_LAST_NAME = NULL ,
          </when>
          <otherwise >
            MOTHER_LAST_NAME = #{MOTHER_LAST_NAME},
          </otherwise>
        </choose>
      </if>
      
      <if test="SHAREHOLD_PERC != null" >
        <choose >
          <when test="SHAREHOLD_PERC == emptyBigDecimalValue" >
            SHAREHOLD_PERC = NULL ,
          </when>
          <otherwise >
            SHAREHOLD_PERC = #{SHAREHOLD_PERC},
          </otherwise>
        </choose>
      </if> 
      
      <if test="OFFICIAL_POSITION != null" >
         <choose >
          <when test="OFFICIAL_POSITION.equals(&quot;&quot;)" >
            OFFICIAL_POSITION = NULL ,
          </when>
          <otherwise >
            OFFICIAL_POSITION = #{OFFICIAL_POSITION},
          </otherwise>
        </choose>
      </if> 
    </set>
    where CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      AND SUB_LINE_NO = #{SUB_LINE_NO}
  </sql>
  <update id="updateCIF_PROXY_BENEF_DET" parameterType="com.path.dbmaps.vo.CIF_PROXY_BENEF_DETVO" >
    <include refid="sql_updateCIF_PROXY_BENEF_DET" />
  </update>
</mapper>