<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CIF_ACC_DET" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CIF_ACC_DETVO" >
    <id column="CIF_NO" property="CIF_NO" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="CREATED_FROM" property="CREATED_FROM" />
    <id column="LINE_NO" property="LINE_NO" />
    <result column="CURRENCY_CODE" property="CURRENCY_CODE" />
    <result column="GL_CODE" property="GL_CODE" />
    <result column="SL_NO" property="SL_NO" />
    <result column="SHORT_ACC_NAME_ENG" property="SHORT_ACC_NAME_ENG" />
    <result column="SHORT_ACC_NAME_ARAB" property="SHORT_ACC_NAME_ARAB" />
    <result column="LONG_ACC_NAME_ENG" property="LONG_ACC_NAME_ENG" />
    <result column="LONG_ACC_NAME_ARAB" property="LONG_ACC_NAME_ARAB" />
    <result column="ISSUE_CARD" property="ISSUE_CARD" />
    <result column="ISSUE_CHQBK" property="ISSUE_CHQBK" />
    <result column="CARD_LIMIT" property="CARD_LIMIT" />
    <result column="CARD_TYPE" property="CARD_TYPE" />
    <result column="CARD_LIMIT_AMOUNT" property="CARD_LIMIT_AMOUNT" />
    <result column="CARD_LIMIT_PERIOD" property="CARD_LIMIT_PERIOD" />
    <result column="CHEQUE_TYPE" property="CHEQUE_TYPE" />
    <result column="ISSUE_PASSBOOK" property="ISSUE_PASSBOOK" />
    <result column="PASSBOOK_TYPE" property="PASSBOOK_TYPE" />
    <result column="EXTERNAL_ACC_ADDITIONAL_REF" property="EXTERNAL_ACC_ADDITIONAL_REF" />
    <result column="EXTERNAL_CARD_ADDITIONAL_REF" property="EXTERNAL_CARD_ADDITIONAL_REF" />
    <result column="EXTRNAL_CHEQBK_ADITIONL_REF" property="EXTRNAL_CHEQBK_ADITIONL_REF" />
    <result column="CARD_CR_DR_TYPE " property="CARD_CR_DR_TYPE " />
    <result column="CARD_STATUS_REASON" property="CARD_STATUS_REASON" />
    <result column="BILLS_TYPE" property="BILLS_TYPE" />
    <result column="ISSUE_BILLS" property="ISSUE_BILLS" />
  </resultMap>
  <sql id="Base_Column_List" >
    CIF_NO, COMP_CODE, CREATED_FROM, LINE_NO, CURRENCY_CODE, GL_CODE, SL_NO, SHORT_ACC_NAME_ENG, 
    SHORT_ACC_NAME_ARAB, LONG_ACC_NAME_ENG, LONG_ACC_NAME_ARAB, ISSUE_CARD, ISSUE_CHQBK, 
    CARD_LIMIT, CARD_TYPE, CARD_LIMIT_AMOUNT, CARD_LIMIT_PERIOD, CHEQUE_TYPE, ISSUE_PASSBOOK, 
    PASSBOOK_TYPE, EXTERNAL_ACC_ADDITIONAL_REF, EXTERNAL_CARD_ADDITIONAL_REF, EXTRNAL_CHEQBK_ADITIONL_REF,
    CARD_CR_DR_TYPE,CARD_STATUS_REASON, BILLS_TYPE, ISSUE_BILLS
  </sql>
  <select id="selectCIF_ACC_DET" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CIF_ACC_DETVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CIF_ACC_DET
    where CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and CREATED_FROM = #{CREATED_FROM}
      and LINE_NO = #{LINE_NO}
  </select>
  <delete id="deleteCIF_ACC_DET" parameterType="com.path.dbmaps.vo.CIF_ACC_DETVOKey" >
    delete from CIF_ACC_DET
    where CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and CREATED_FROM = #{CREATED_FROM}
      and LINE_NO = #{LINE_NO}
  </delete>
  <insert id="insertCIF_ACC_DET" parameterType="com.path.dbmaps.vo.CIF_ACC_DETVO" >
    insert into CIF_ACC_DET
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        CIF_NO,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="CREATED_FROM != null" >
        CREATED_FROM,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        CURRENCY_CODE,
      </if>
      <if test="GL_CODE != null and GL_CODE != emptyBigDecimalValue" >
        GL_CODE,
      </if>
      <if test="SL_NO != null and SL_NO != emptyBigDecimalValue" >
        SL_NO,
      </if>
      <if test="SHORT_ACC_NAME_ENG != null" >
        SHORT_ACC_NAME_ENG,
      </if>
      <if test="SHORT_ACC_NAME_ARAB != null" >
        SHORT_ACC_NAME_ARAB,
      </if>
      <if test="LONG_ACC_NAME_ENG != null" >
        LONG_ACC_NAME_ENG,
      </if>
      <if test="LONG_ACC_NAME_ARAB != null" >
        LONG_ACC_NAME_ARAB,
      </if>
      <if test="ISSUE_CARD != null" >
        ISSUE_CARD,
      </if>
      <if test="ISSUE_CHQBK != null" >
        ISSUE_CHQBK,
      </if>
      <if test="CARD_LIMIT != null" >
        CARD_LIMIT,
      </if>
      <if test="CARD_TYPE != null and CARD_TYPE != emptyBigDecimalValue" >
        CARD_TYPE,
      </if>
      <if test="CARD_LIMIT_AMOUNT != null and CARD_LIMIT_AMOUNT != emptyBigDecimalValue" >
        CARD_LIMIT_AMOUNT,
      </if>
      <if test="CARD_LIMIT_PERIOD != null" >
        CARD_LIMIT_PERIOD,
      </if>
      <if test="CHEQUE_TYPE != null and CHEQUE_TYPE != emptyBigDecimalValue" >
        CHEQUE_TYPE,
      </if>
      <if test="ISSUE_PASSBOOK != null" >
        ISSUE_PASSBOOK,
      </if>
      <if test="PASSBOOK_TYPE != null and PASSBOOK_TYPE != emptyBigDecimalValue" >
        PASSBOOK_TYPE,
      </if>
      <if test="EXTERNAL_ACC_ADDITIONAL_REF != null" >
        EXTERNAL_ACC_ADDITIONAL_REF,
      </if>
      <if test="EXTERNAL_CARD_ADDITIONAL_REF != null" >
        EXTERNAL_CARD_ADDITIONAL_REF,
      </if>
      <if test="EXTRNAL_CHEQBK_ADITIONL_REF != null" >
        EXTRNAL_CHEQBK_ADITIONL_REF,
      </if>
      <if test="CARD_CR_DR_TYPE  != null">
		CARD_CR_DR_TYPE ,
	  </if>
      <if test="CARD_STATUS_REASON != null" >
        CARD_STATUS_REASON,
      </if>
      <if test="BILLS_TYPE != null and BILLS_TYPE != emptyBigDecimalValue" >
        BILLS_TYPE,
      </if>
      <if test="ISSUE_BILLS != null and ISSUE_BILLS != emptyBigDecimalValue" >
        ISSUE_BILLS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        #{CIF_NO},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="CREATED_FROM != null" >
        #{CREATED_FROM},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        #{CURRENCY_CODE},
      </if>
      <if test="GL_CODE != null and GL_CODE != emptyBigDecimalValue" >
        #{GL_CODE},
      </if>
      <if test="SL_NO != null and SL_NO != emptyBigDecimalValue" >
        #{SL_NO},
      </if>
      <if test="SHORT_ACC_NAME_ENG != null" >
        #{SHORT_ACC_NAME_ENG},
      </if>
      <if test="SHORT_ACC_NAME_ARAB != null" >
        #{SHORT_ACC_NAME_ARAB},
      </if>
      <if test="LONG_ACC_NAME_ENG != null" >
        #{LONG_ACC_NAME_ENG},
      </if>
      <if test="LONG_ACC_NAME_ARAB != null" >
        #{LONG_ACC_NAME_ARAB},
      </if>
      <if test="ISSUE_CARD != null" >
        #{ISSUE_CARD},
      </if>
      <if test="ISSUE_CHQBK != null" >
        #{ISSUE_CHQBK},
      </if>
      <if test="CARD_LIMIT != null" >
        #{CARD_LIMIT},
      </if>
      <if test="CARD_TYPE != null and CARD_TYPE != emptyBigDecimalValue" >
        #{CARD_TYPE},
      </if>
      <if test="CARD_LIMIT_AMOUNT != null and CARD_LIMIT_AMOUNT != emptyBigDecimalValue" >
        #{CARD_LIMIT_AMOUNT},
      </if>
      <if test="CARD_LIMIT_PERIOD != null" >
        #{CARD_LIMIT_PERIOD},
      </if>
      <if test="CHEQUE_TYPE != null and CHEQUE_TYPE != emptyBigDecimalValue" >
        #{CHEQUE_TYPE},
      </if>
      <if test="ISSUE_PASSBOOK != null" >
        #{ISSUE_PASSBOOK},
      </if>
      <if test="PASSBOOK_TYPE != null and PASSBOOK_TYPE != emptyBigDecimalValue" >
        #{PASSBOOK_TYPE},
      </if>
      <if test="EXTERNAL_ACC_ADDITIONAL_REF != null" >
        #{EXTERNAL_ACC_ADDITIONAL_REF},
      </if>
      <if test="EXTERNAL_CARD_ADDITIONAL_REF != null" >
        #{EXTERNAL_CARD_ADDITIONAL_REF},
      </if>
      <if test="EXTRNAL_CHEQBK_ADITIONL_REF != null" >
        #{EXTRNAL_CHEQBK_ADITIONL_REF},
      </if>
      <if test="CARD_CR_DR_TYPE != null">
		#{CARD_CR_DR_TYPE },
	  </if>
	  <if test="CARD_STATUS_REASON != null" >
        #{CARD_STATUS_REASON},
      </if>
      <if test="BILLS_TYPE != null and BILLS_TYPE != emptyBigDecimalValue" >
        #{BILLS_TYPE},
      </if>
      <if test="ISSUE_BILLS != null and ISSUE_BILLS != emptyBigDecimalValue" >
        #{ISSUE_BILLS},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCIF_ACC_DET" >
    update CIF_ACC_DET
    <set >
      <if test="CURRENCY_CODE != null" >
        <choose >
          <when test="CURRENCY_CODE == emptyBigDecimalValue" >
            CURRENCY_CODE = NULL ,
          </when>
          <otherwise >
            CURRENCY_CODE = #{CURRENCY_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="GL_CODE != null" >
        <choose >
          <when test="GL_CODE == emptyBigDecimalValue" >
            GL_CODE = NULL ,
          </when>
          <otherwise >
            GL_CODE = #{GL_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="SL_NO != null" >
        <choose >
          <when test="SL_NO == emptyBigDecimalValue" >
            SL_NO = NULL ,
          </when>
          <otherwise >
            SL_NO = #{SL_NO},
          </otherwise>
        </choose>
      </if>
      <if test="SHORT_ACC_NAME_ENG != null" >
        SHORT_ACC_NAME_ENG = #{SHORT_ACC_NAME_ENG},
      </if>
      <if test="SHORT_ACC_NAME_ARAB != null" >
        SHORT_ACC_NAME_ARAB = #{SHORT_ACC_NAME_ARAB},
      </if>
      <if test="LONG_ACC_NAME_ENG != null" >
        LONG_ACC_NAME_ENG = #{LONG_ACC_NAME_ENG},
      </if>
      <if test="LONG_ACC_NAME_ARAB != null" >
        LONG_ACC_NAME_ARAB = #{LONG_ACC_NAME_ARAB},
      </if>
      <if test="ISSUE_CARD != null" >
        ISSUE_CARD = #{ISSUE_CARD},
      </if>
      <if test="ISSUE_CHQBK != null" >
        ISSUE_CHQBK = #{ISSUE_CHQBK},
      </if>
      <if test="CARD_LIMIT != null" >
        CARD_LIMIT = #{CARD_LIMIT},
      </if>
      <if test="CARD_TYPE != null" >
        <choose >
          <when test="CARD_TYPE == emptyBigDecimalValue" >
            CARD_TYPE = NULL ,
          </when>
          <otherwise >
            CARD_TYPE = #{CARD_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="CARD_LIMIT_AMOUNT != null" >
        <choose >
          <when test="CARD_LIMIT_AMOUNT == emptyBigDecimalValue" >
            CARD_LIMIT_AMOUNT = NULL ,
          </when>
          <otherwise >
            CARD_LIMIT_AMOUNT = #{CARD_LIMIT_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="CARD_LIMIT_PERIOD != null" >
        CARD_LIMIT_PERIOD = #{CARD_LIMIT_PERIOD},
      </if>
      <if test="CHEQUE_TYPE != null" >
        <choose >
          <when test="CHEQUE_TYPE == emptyBigDecimalValue" >
            CHEQUE_TYPE = NULL ,
          </when>
          <otherwise >
            CHEQUE_TYPE = #{CHEQUE_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="ISSUE_PASSBOOK != null" >
        ISSUE_PASSBOOK = #{ISSUE_PASSBOOK},
      </if>
      <if test="PASSBOOK_TYPE != null" >
        <choose >
          <when test="PASSBOOK_TYPE == emptyBigDecimalValue" >
            PASSBOOK_TYPE = NULL ,
          </when>
          <otherwise >
            PASSBOOK_TYPE = #{PASSBOOK_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="EXTERNAL_ACC_ADDITIONAL_REF != null" >
        EXTERNAL_ACC_ADDITIONAL_REF = #{EXTERNAL_ACC_ADDITIONAL_REF},
      </if>
      <if test="EXTERNAL_CARD_ADDITIONAL_REF != null" >
        EXTERNAL_CARD_ADDITIONAL_REF = #{EXTERNAL_CARD_ADDITIONAL_REF},
      </if>
      <if test="EXTRNAL_CHEQBK_ADITIONL_REF != null" >
        EXTRNAL_CHEQBK_ADITIONL_REF = #{EXTRNAL_CHEQBK_ADITIONL_REF},
      </if>
      <if test="CARD_CR_DR_TYPE  != null">
		CARD_CR_DR_TYPE  = #{CARD_CR_DR_TYPE },
	   </if>
      <if test="CARD_STATUS_REASON != null" >
        CARD_STATUS_REASON = #{CARD_STATUS_REASON},
      </if>
      <if test="BILLS_TYPE != null" >
        <choose >
          <when test="BILLS_TYPE == emptyBigDecimalValue" >
            BILLS_TYPE = NULL ,
          </when>
          <otherwise >
            BILLS_TYPE = #{BILLS_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="ISSUE_BILLS != null" >
        ISSUE_BILLS = #{ISSUE_BILLS},
      </if>
    </set>
    where CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and CREATED_FROM = #{CREATED_FROM}
      and LINE_NO = #{LINE_NO}
  </sql>
  <update id="updateCIF_ACC_DET" parameterType="com.path.dbmaps.vo.CIF_ACC_DETVO" >
    <include refid="sql_updateCIF_ACC_DET" />
  </update>
</mapper>