<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CIF_INCOME_RATIOS" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CIF_INCOME_RATIOSVO" >
    <id column="CIF_NO" property="CIF_NO" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NO" property="LINE_NO" />
    <result column="GROSS_SALES_R" property="GROSS_SALES_R" />
    <result column="RETURNS_AND_DISCOUNTS_R" property="RETURNS_AND_DISCOUNTS_R" />
    <result column="PURCHASES_R" property="PURCHASES_R" />
    <result column="BEGIN_INVENTORY_R" property="BEGIN_INVENTORY_R" />
    <result column="END_INVENTORY_R" property="END_INVENTORY_R" />
    <result column="OTHER_OPERATING_INCOME_R" property="OTHER_OPERATING_INCOME_R" />
    <result column="GENERAL_EXPENSES_R" property="GENERAL_EXPENSES_R" />
    <result column="SELLING_ADMIN_EXPENSES_R" property="SELLING_ADMIN_EXPENSES_R" />
    <result column="DEPRECIATION_R" property="DEPRECIATION_R" />
    <result column="OTHER_NON_CASH_EXPENSES_R" property="OTHER_NON_CASH_EXPENSES_R" />
    <result column="PROV_FOR_DEPREC_R" property="PROV_FOR_DEPREC_R" />
    <result column="AMORT_OF_PREPAID_EXP_R" property="AMORT_OF_PREPAID_EXP_R" />
    <result column="PROV_FOR_BAD_DEBTS_R" property="PROV_FOR_BAD_DEBTS_R" />
    <result column="PROV_SLOWMOVING_INVENT_R" property="PROV_SLOWMOVING_INVENT_R" />
    <result column="PROV_END_OF_SERV_IND_R" property="PROV_END_OF_SERV_IND_R" />
    <result column="PROV_FOR_CONTINGENCIES_R" property="PROV_FOR_CONTINGENCIES_R" />
    <result column="PROV_GOODWILL_INTANG_R" property="PROV_GOODWILL_INTANG_R" />
    <result column="FX_LOSS_INCOME_R" property="FX_LOSS_INCOME_R" />
    <result column="SUNDRY_EXP_R" property="SUNDRY_EXP_R" />
    <result column="INTEREST_INCOME_R" property="INTEREST_INCOME_R" />
    <result column="DIVIDEND_INCOME_R" property="DIVIDEND_INCOME_R" />
    <result column="INC_FR_PORTFOLIO_R" property="INC_FR_PORTFOLIO_R" />
    <result column="INTERETS_EXPENSE_R" property="INTERETS_EXPENSE_R" />
    <result column="PRE_TAX_EARNINGS_R" property="PRE_TAX_EARNINGS_R" />
    <result column="TAXES_R" property="TAXES_R" />
    <result column="OTHER_NOPERAT_INCOME_R" property="OTHER_NOPERAT_INCOME_R" />
    <result column="GN_LS_DIS_FIXED_ASSETS_R" property="GN_LS_DIS_FIXED_ASSETS_R" />
    <result column="INCOME_TAXES_R" property="INCOME_TAXES_R" />
    <result column="LEASE_PAYEMENTS_R" property="LEASE_PAYEMENTS_R" />
    <result column="INTEREST_PAYEMENTS_R" property="INTEREST_PAYEMENTS_R" />
  </resultMap>
  <sql id="Base_Column_List" >
    CIF_NO, COMP_CODE, LINE_NO, GROSS_SALES_R, RETURNS_AND_DISCOUNTS_R, PURCHASES_R, 
    BEGIN_INVENTORY_R, END_INVENTORY_R, OTHER_OPERATING_INCOME_R, GENERAL_EXPENSES_R, 
    SELLING_ADMIN_EXPENSES_R, DEPRECIATION_R, OTHER_NON_CASH_EXPENSES_R, PROV_FOR_DEPREC_R, 
    AMORT_OF_PREPAID_EXP_R, PROV_FOR_BAD_DEBTS_R, PROV_SLOWMOVING_INVENT_R, PROV_END_OF_SERV_IND_R, 
    PROV_FOR_CONTINGENCIES_R, PROV_GOODWILL_INTANG_R, FX_LOSS_INCOME_R, SUNDRY_EXP_R, 
    INTEREST_INCOME_R, DIVIDEND_INCOME_R, INC_FR_PORTFOLIO_R, INTERETS_EXPENSE_R, PRE_TAX_EARNINGS_R, 
    TAXES_R, OTHER_NOPERAT_INCOME_R, GN_LS_DIS_FIXED_ASSETS_R, INCOME_TAXES_R, LEASE_PAYEMENTS_R, 
    INTEREST_PAYEMENTS_R
  </sql>
  <select id="selectCIF_INCOME_RATIOS" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CIF_INCOME_RATIOSVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CIF_INCOME_RATIOS
    where CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
  </select>
  <delete id="deleteCIF_INCOME_RATIOS" parameterType="com.path.dbmaps.vo.CIF_INCOME_RATIOSVOKey" >
    delete from CIF_INCOME_RATIOS
    where CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
  </delete>
  <insert id="insertCIF_INCOME_RATIOS" parameterType="com.path.dbmaps.vo.CIF_INCOME_RATIOSVO" >
    insert into CIF_INCOME_RATIOS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        CIF_NO,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="GROSS_SALES_R != null and GROSS_SALES_R != emptyBigDecimalValue" >
        GROSS_SALES_R,
      </if>
      <if test="RETURNS_AND_DISCOUNTS_R != null and RETURNS_AND_DISCOUNTS_R != emptyBigDecimalValue" >
        RETURNS_AND_DISCOUNTS_R,
      </if>
      <if test="PURCHASES_R != null and PURCHASES_R != emptyBigDecimalValue" >
        PURCHASES_R,
      </if>
      <if test="BEGIN_INVENTORY_R != null and BEGIN_INVENTORY_R != emptyBigDecimalValue" >
        BEGIN_INVENTORY_R,
      </if>
      <if test="END_INVENTORY_R != null and END_INVENTORY_R != emptyBigDecimalValue" >
        END_INVENTORY_R,
      </if>
      <if test="OTHER_OPERATING_INCOME_R != null and OTHER_OPERATING_INCOME_R != emptyBigDecimalValue" >
        OTHER_OPERATING_INCOME_R,
      </if>
      <if test="GENERAL_EXPENSES_R != null and GENERAL_EXPENSES_R != emptyBigDecimalValue" >
        GENERAL_EXPENSES_R,
      </if>
      <if test="SELLING_ADMIN_EXPENSES_R != null and SELLING_ADMIN_EXPENSES_R != emptyBigDecimalValue" >
        SELLING_ADMIN_EXPENSES_R,
      </if>
      <if test="DEPRECIATION_R != null and DEPRECIATION_R != emptyBigDecimalValue" >
        DEPRECIATION_R,
      </if>
      <if test="OTHER_NON_CASH_EXPENSES_R != null and OTHER_NON_CASH_EXPENSES_R != emptyBigDecimalValue" >
        OTHER_NON_CASH_EXPENSES_R,
      </if>
      <if test="PROV_FOR_DEPREC_R != null and PROV_FOR_DEPREC_R != emptyBigDecimalValue" >
        PROV_FOR_DEPREC_R,
      </if>
      <if test="AMORT_OF_PREPAID_EXP_R != null and AMORT_OF_PREPAID_EXP_R != emptyBigDecimalValue" >
        AMORT_OF_PREPAID_EXP_R,
      </if>
      <if test="PROV_FOR_BAD_DEBTS_R != null and PROV_FOR_BAD_DEBTS_R != emptyBigDecimalValue" >
        PROV_FOR_BAD_DEBTS_R,
      </if>
      <if test="PROV_SLOWMOVING_INVENT_R != null and PROV_SLOWMOVING_INVENT_R != emptyBigDecimalValue" >
        PROV_SLOWMOVING_INVENT_R,
      </if>
      <if test="PROV_END_OF_SERV_IND_R != null and PROV_END_OF_SERV_IND_R != emptyBigDecimalValue" >
        PROV_END_OF_SERV_IND_R,
      </if>
      <if test="PROV_FOR_CONTINGENCIES_R != null and PROV_FOR_CONTINGENCIES_R != emptyBigDecimalValue" >
        PROV_FOR_CONTINGENCIES_R,
      </if>
      <if test="PROV_GOODWILL_INTANG_R != null and PROV_GOODWILL_INTANG_R != emptyBigDecimalValue" >
        PROV_GOODWILL_INTANG_R,
      </if>
      <if test="FX_LOSS_INCOME_R != null and FX_LOSS_INCOME_R != emptyBigDecimalValue" >
        FX_LOSS_INCOME_R,
      </if>
      <if test="SUNDRY_EXP_R != null and SUNDRY_EXP_R != emptyBigDecimalValue" >
        SUNDRY_EXP_R,
      </if>
      <if test="INTEREST_INCOME_R != null and INTEREST_INCOME_R != emptyBigDecimalValue" >
        INTEREST_INCOME_R,
      </if>
      <if test="DIVIDEND_INCOME_R != null and DIVIDEND_INCOME_R != emptyBigDecimalValue" >
        DIVIDEND_INCOME_R,
      </if>
      <if test="INC_FR_PORTFOLIO_R != null and INC_FR_PORTFOLIO_R != emptyBigDecimalValue" >
        INC_FR_PORTFOLIO_R,
      </if>
      <if test="INTERETS_EXPENSE_R != null and INTERETS_EXPENSE_R != emptyBigDecimalValue" >
        INTERETS_EXPENSE_R,
      </if>
      <if test="PRE_TAX_EARNINGS_R != null and PRE_TAX_EARNINGS_R != emptyBigDecimalValue" >
        PRE_TAX_EARNINGS_R,
      </if>
      <if test="TAXES_R != null and TAXES_R != emptyBigDecimalValue" >
        TAXES_R,
      </if>
      <if test="OTHER_NOPERAT_INCOME_R != null and OTHER_NOPERAT_INCOME_R != emptyBigDecimalValue" >
        OTHER_NOPERAT_INCOME_R,
      </if>
      <if test="GN_LS_DIS_FIXED_ASSETS_R != null and GN_LS_DIS_FIXED_ASSETS_R != emptyBigDecimalValue" >
        GN_LS_DIS_FIXED_ASSETS_R,
      </if>
      <if test="INCOME_TAXES_R != null and INCOME_TAXES_R != emptyBigDecimalValue" >
        INCOME_TAXES_R,
      </if>
      <if test="LEASE_PAYEMENTS_R != null and LEASE_PAYEMENTS_R != emptyBigDecimalValue" >
        LEASE_PAYEMENTS_R,
      </if>
      <if test="INTEREST_PAYEMENTS_R != null and INTEREST_PAYEMENTS_R != emptyBigDecimalValue" >
        INTEREST_PAYEMENTS_R,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        #{CIF_NO},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="GROSS_SALES_R != null and GROSS_SALES_R != emptyBigDecimalValue" >
        #{GROSS_SALES_R},
      </if>
      <if test="RETURNS_AND_DISCOUNTS_R != null and RETURNS_AND_DISCOUNTS_R != emptyBigDecimalValue" >
        #{RETURNS_AND_DISCOUNTS_R},
      </if>
      <if test="PURCHASES_R != null and PURCHASES_R != emptyBigDecimalValue" >
        #{PURCHASES_R},
      </if>
      <if test="BEGIN_INVENTORY_R != null and BEGIN_INVENTORY_R != emptyBigDecimalValue" >
        #{BEGIN_INVENTORY_R},
      </if>
      <if test="END_INVENTORY_R != null and END_INVENTORY_R != emptyBigDecimalValue" >
        #{END_INVENTORY_R},
      </if>
      <if test="OTHER_OPERATING_INCOME_R != null and OTHER_OPERATING_INCOME_R != emptyBigDecimalValue" >
        #{OTHER_OPERATING_INCOME_R},
      </if>
      <if test="GENERAL_EXPENSES_R != null and GENERAL_EXPENSES_R != emptyBigDecimalValue" >
        #{GENERAL_EXPENSES_R},
      </if>
      <if test="SELLING_ADMIN_EXPENSES_R != null and SELLING_ADMIN_EXPENSES_R != emptyBigDecimalValue" >
        #{SELLING_ADMIN_EXPENSES_R},
      </if>
      <if test="DEPRECIATION_R != null and DEPRECIATION_R != emptyBigDecimalValue" >
        #{DEPRECIATION_R},
      </if>
      <if test="OTHER_NON_CASH_EXPENSES_R != null and OTHER_NON_CASH_EXPENSES_R != emptyBigDecimalValue" >
        #{OTHER_NON_CASH_EXPENSES_R},
      </if>
      <if test="PROV_FOR_DEPREC_R != null and PROV_FOR_DEPREC_R != emptyBigDecimalValue" >
        #{PROV_FOR_DEPREC_R},
      </if>
      <if test="AMORT_OF_PREPAID_EXP_R != null and AMORT_OF_PREPAID_EXP_R != emptyBigDecimalValue" >
        #{AMORT_OF_PREPAID_EXP_R},
      </if>
      <if test="PROV_FOR_BAD_DEBTS_R != null and PROV_FOR_BAD_DEBTS_R != emptyBigDecimalValue" >
        #{PROV_FOR_BAD_DEBTS_R},
      </if>
      <if test="PROV_SLOWMOVING_INVENT_R != null and PROV_SLOWMOVING_INVENT_R != emptyBigDecimalValue" >
        #{PROV_SLOWMOVING_INVENT_R},
      </if>
      <if test="PROV_END_OF_SERV_IND_R != null and PROV_END_OF_SERV_IND_R != emptyBigDecimalValue" >
        #{PROV_END_OF_SERV_IND_R},
      </if>
      <if test="PROV_FOR_CONTINGENCIES_R != null and PROV_FOR_CONTINGENCIES_R != emptyBigDecimalValue" >
        #{PROV_FOR_CONTINGENCIES_R},
      </if>
      <if test="PROV_GOODWILL_INTANG_R != null and PROV_GOODWILL_INTANG_R != emptyBigDecimalValue" >
        #{PROV_GOODWILL_INTANG_R},
      </if>
      <if test="FX_LOSS_INCOME_R != null and FX_LOSS_INCOME_R != emptyBigDecimalValue" >
        #{FX_LOSS_INCOME_R},
      </if>
      <if test="SUNDRY_EXP_R != null and SUNDRY_EXP_R != emptyBigDecimalValue" >
        #{SUNDRY_EXP_R},
      </if>
      <if test="INTEREST_INCOME_R != null and INTEREST_INCOME_R != emptyBigDecimalValue" >
        #{INTEREST_INCOME_R},
      </if>
      <if test="DIVIDEND_INCOME_R != null and DIVIDEND_INCOME_R != emptyBigDecimalValue" >
        #{DIVIDEND_INCOME_R},
      </if>
      <if test="INC_FR_PORTFOLIO_R != null and INC_FR_PORTFOLIO_R != emptyBigDecimalValue" >
        #{INC_FR_PORTFOLIO_R},
      </if>
      <if test="INTERETS_EXPENSE_R != null and INTERETS_EXPENSE_R != emptyBigDecimalValue" >
        #{INTERETS_EXPENSE_R},
      </if>
      <if test="PRE_TAX_EARNINGS_R != null and PRE_TAX_EARNINGS_R != emptyBigDecimalValue" >
        #{PRE_TAX_EARNINGS_R},
      </if>
      <if test="TAXES_R != null and TAXES_R != emptyBigDecimalValue" >
        #{TAXES_R},
      </if>
      <if test="OTHER_NOPERAT_INCOME_R != null and OTHER_NOPERAT_INCOME_R != emptyBigDecimalValue" >
        #{OTHER_NOPERAT_INCOME_R},
      </if>
      <if test="GN_LS_DIS_FIXED_ASSETS_R != null and GN_LS_DIS_FIXED_ASSETS_R != emptyBigDecimalValue" >
        #{GN_LS_DIS_FIXED_ASSETS_R},
      </if>
      <if test="INCOME_TAXES_R != null and INCOME_TAXES_R != emptyBigDecimalValue" >
        #{INCOME_TAXES_R},
      </if>
      <if test="LEASE_PAYEMENTS_R != null and LEASE_PAYEMENTS_R != emptyBigDecimalValue" >
        #{LEASE_PAYEMENTS_R},
      </if>
      <if test="INTEREST_PAYEMENTS_R != null and INTEREST_PAYEMENTS_R != emptyBigDecimalValue" >
        #{INTEREST_PAYEMENTS_R},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCIF_INCOME_RATIOS" >
    update CIF_INCOME_RATIOS
    <set >
      <if test="GROSS_SALES_R != null" >
        <choose >
          <when test="GROSS_SALES_R == emptyBigDecimalValue" >
            GROSS_SALES_R = NULL ,
          </when>
          <otherwise >
            GROSS_SALES_R = #{GROSS_SALES_R},
          </otherwise>
        </choose>
      </if>
      <if test="RETURNS_AND_DISCOUNTS_R != null" >
        <choose >
          <when test="RETURNS_AND_DISCOUNTS_R == emptyBigDecimalValue" >
            RETURNS_AND_DISCOUNTS_R = NULL ,
          </when>
          <otherwise >
            RETURNS_AND_DISCOUNTS_R = #{RETURNS_AND_DISCOUNTS_R},
          </otherwise>
        </choose>
      </if>
      <if test="PURCHASES_R != null" >
        <choose >
          <when test="PURCHASES_R == emptyBigDecimalValue" >
            PURCHASES_R = NULL ,
          </when>
          <otherwise >
            PURCHASES_R = #{PURCHASES_R},
          </otherwise>
        </choose>
      </if>
      <if test="BEGIN_INVENTORY_R != null" >
        <choose >
          <when test="BEGIN_INVENTORY_R == emptyBigDecimalValue" >
            BEGIN_INVENTORY_R = NULL ,
          </when>
          <otherwise >
            BEGIN_INVENTORY_R = #{BEGIN_INVENTORY_R},
          </otherwise>
        </choose>
      </if>
      <if test="END_INVENTORY_R != null" >
        <choose >
          <when test="END_INVENTORY_R == emptyBigDecimalValue" >
            END_INVENTORY_R = NULL ,
          </when>
          <otherwise >
            END_INVENTORY_R = #{END_INVENTORY_R},
          </otherwise>
        </choose>
      </if>
      <if test="OTHER_OPERATING_INCOME_R != null" >
        <choose >
          <when test="OTHER_OPERATING_INCOME_R == emptyBigDecimalValue" >
            OTHER_OPERATING_INCOME_R = NULL ,
          </when>
          <otherwise >
            OTHER_OPERATING_INCOME_R = #{OTHER_OPERATING_INCOME_R},
          </otherwise>
        </choose>
      </if>
      <if test="GENERAL_EXPENSES_R != null" >
        <choose >
          <when test="GENERAL_EXPENSES_R == emptyBigDecimalValue" >
            GENERAL_EXPENSES_R = NULL ,
          </when>
          <otherwise >
            GENERAL_EXPENSES_R = #{GENERAL_EXPENSES_R},
          </otherwise>
        </choose>
      </if>
      <if test="SELLING_ADMIN_EXPENSES_R != null" >
        <choose >
          <when test="SELLING_ADMIN_EXPENSES_R == emptyBigDecimalValue" >
            SELLING_ADMIN_EXPENSES_R = NULL ,
          </when>
          <otherwise >
            SELLING_ADMIN_EXPENSES_R = #{SELLING_ADMIN_EXPENSES_R},
          </otherwise>
        </choose>
      </if>
      <if test="DEPRECIATION_R != null" >
        <choose >
          <when test="DEPRECIATION_R == emptyBigDecimalValue" >
            DEPRECIATION_R = NULL ,
          </when>
          <otherwise >
            DEPRECIATION_R = #{DEPRECIATION_R},
          </otherwise>
        </choose>
      </if>
      <if test="OTHER_NON_CASH_EXPENSES_R != null" >
        <choose >
          <when test="OTHER_NON_CASH_EXPENSES_R == emptyBigDecimalValue" >
            OTHER_NON_CASH_EXPENSES_R = NULL ,
          </when>
          <otherwise >
            OTHER_NON_CASH_EXPENSES_R = #{OTHER_NON_CASH_EXPENSES_R},
          </otherwise>
        </choose>
      </if>
      <if test="PROV_FOR_DEPREC_R != null" >
        <choose >
          <when test="PROV_FOR_DEPREC_R == emptyBigDecimalValue" >
            PROV_FOR_DEPREC_R = NULL ,
          </when>
          <otherwise >
            PROV_FOR_DEPREC_R = #{PROV_FOR_DEPREC_R},
          </otherwise>
        </choose>
      </if>
      <if test="AMORT_OF_PREPAID_EXP_R != null" >
        <choose >
          <when test="AMORT_OF_PREPAID_EXP_R == emptyBigDecimalValue" >
            AMORT_OF_PREPAID_EXP_R = NULL ,
          </when>
          <otherwise >
            AMORT_OF_PREPAID_EXP_R = #{AMORT_OF_PREPAID_EXP_R},
          </otherwise>
        </choose>
      </if>
      <if test="PROV_FOR_BAD_DEBTS_R != null" >
        <choose >
          <when test="PROV_FOR_BAD_DEBTS_R == emptyBigDecimalValue" >
            PROV_FOR_BAD_DEBTS_R = NULL ,
          </when>
          <otherwise >
            PROV_FOR_BAD_DEBTS_R = #{PROV_FOR_BAD_DEBTS_R},
          </otherwise>
        </choose>
      </if>
      <if test="PROV_SLOWMOVING_INVENT_R != null" >
        <choose >
          <when test="PROV_SLOWMOVING_INVENT_R == emptyBigDecimalValue" >
            PROV_SLOWMOVING_INVENT_R = NULL ,
          </when>
          <otherwise >
            PROV_SLOWMOVING_INVENT_R = #{PROV_SLOWMOVING_INVENT_R},
          </otherwise>
        </choose>
      </if>
      <if test="PROV_END_OF_SERV_IND_R != null" >
        <choose >
          <when test="PROV_END_OF_SERV_IND_R == emptyBigDecimalValue" >
            PROV_END_OF_SERV_IND_R = NULL ,
          </when>
          <otherwise >
            PROV_END_OF_SERV_IND_R = #{PROV_END_OF_SERV_IND_R},
          </otherwise>
        </choose>
      </if>
      <if test="PROV_FOR_CONTINGENCIES_R != null" >
        <choose >
          <when test="PROV_FOR_CONTINGENCIES_R == emptyBigDecimalValue" >
            PROV_FOR_CONTINGENCIES_R = NULL ,
          </when>
          <otherwise >
            PROV_FOR_CONTINGENCIES_R = #{PROV_FOR_CONTINGENCIES_R},
          </otherwise>
        </choose>
      </if>
      <if test="PROV_GOODWILL_INTANG_R != null" >
        <choose >
          <when test="PROV_GOODWILL_INTANG_R == emptyBigDecimalValue" >
            PROV_GOODWILL_INTANG_R = NULL ,
          </when>
          <otherwise >
            PROV_GOODWILL_INTANG_R = #{PROV_GOODWILL_INTANG_R},
          </otherwise>
        </choose>
      </if>
      <if test="FX_LOSS_INCOME_R != null" >
        <choose >
          <when test="FX_LOSS_INCOME_R == emptyBigDecimalValue" >
            FX_LOSS_INCOME_R = NULL ,
          </when>
          <otherwise >
            FX_LOSS_INCOME_R = #{FX_LOSS_INCOME_R},
          </otherwise>
        </choose>
      </if>
      <if test="SUNDRY_EXP_R != null" >
        <choose >
          <when test="SUNDRY_EXP_R == emptyBigDecimalValue" >
            SUNDRY_EXP_R = NULL ,
          </when>
          <otherwise >
            SUNDRY_EXP_R = #{SUNDRY_EXP_R},
          </otherwise>
        </choose>
      </if>
      <if test="INTEREST_INCOME_R != null" >
        <choose >
          <when test="INTEREST_INCOME_R == emptyBigDecimalValue" >
            INTEREST_INCOME_R = NULL ,
          </when>
          <otherwise >
            INTEREST_INCOME_R = #{INTEREST_INCOME_R},
          </otherwise>
        </choose>
      </if>
      <if test="DIVIDEND_INCOME_R != null" >
        <choose >
          <when test="DIVIDEND_INCOME_R == emptyBigDecimalValue" >
            DIVIDEND_INCOME_R = NULL ,
          </when>
          <otherwise >
            DIVIDEND_INCOME_R = #{DIVIDEND_INCOME_R},
          </otherwise>
        </choose>
      </if>
      <if test="INC_FR_PORTFOLIO_R != null" >
        <choose >
          <when test="INC_FR_PORTFOLIO_R == emptyBigDecimalValue" >
            INC_FR_PORTFOLIO_R = NULL ,
          </when>
          <otherwise >
            INC_FR_PORTFOLIO_R = #{INC_FR_PORTFOLIO_R},
          </otherwise>
        </choose>
      </if>
      <if test="INTERETS_EXPENSE_R != null" >
        <choose >
          <when test="INTERETS_EXPENSE_R == emptyBigDecimalValue" >
            INTERETS_EXPENSE_R = NULL ,
          </when>
          <otherwise >
            INTERETS_EXPENSE_R = #{INTERETS_EXPENSE_R},
          </otherwise>
        </choose>
      </if>
      <if test="PRE_TAX_EARNINGS_R != null" >
        <choose >
          <when test="PRE_TAX_EARNINGS_R == emptyBigDecimalValue" >
            PRE_TAX_EARNINGS_R = NULL ,
          </when>
          <otherwise >
            PRE_TAX_EARNINGS_R = #{PRE_TAX_EARNINGS_R},
          </otherwise>
        </choose>
      </if>
      <if test="TAXES_R != null" >
        <choose >
          <when test="TAXES_R == emptyBigDecimalValue" >
            TAXES_R = NULL ,
          </when>
          <otherwise >
            TAXES_R = #{TAXES_R},
          </otherwise>
        </choose>
      </if>
      <if test="OTHER_NOPERAT_INCOME_R != null" >
        <choose >
          <when test="OTHER_NOPERAT_INCOME_R == emptyBigDecimalValue" >
            OTHER_NOPERAT_INCOME_R = NULL ,
          </when>
          <otherwise >
            OTHER_NOPERAT_INCOME_R = #{OTHER_NOPERAT_INCOME_R},
          </otherwise>
        </choose>
      </if>
      <if test="GN_LS_DIS_FIXED_ASSETS_R != null" >
        <choose >
          <when test="GN_LS_DIS_FIXED_ASSETS_R == emptyBigDecimalValue" >
            GN_LS_DIS_FIXED_ASSETS_R = NULL ,
          </when>
          <otherwise >
            GN_LS_DIS_FIXED_ASSETS_R = #{GN_LS_DIS_FIXED_ASSETS_R},
          </otherwise>
        </choose>
      </if>
      <if test="INCOME_TAXES_R != null" >
        <choose >
          <when test="INCOME_TAXES_R == emptyBigDecimalValue" >
            INCOME_TAXES_R = NULL ,
          </when>
          <otherwise >
            INCOME_TAXES_R = #{INCOME_TAXES_R},
          </otherwise>
        </choose>
      </if>
      <if test="LEASE_PAYEMENTS_R != null" >
        <choose >
          <when test="LEASE_PAYEMENTS_R == emptyBigDecimalValue" >
            LEASE_PAYEMENTS_R = NULL ,
          </when>
          <otherwise >
            LEASE_PAYEMENTS_R = #{LEASE_PAYEMENTS_R},
          </otherwise>
        </choose>
      </if>
      <if test="INTEREST_PAYEMENTS_R != null" >
        <choose >
          <when test="INTEREST_PAYEMENTS_R == emptyBigDecimalValue" >
            INTEREST_PAYEMENTS_R = NULL ,
          </when>
          <otherwise >
            INTEREST_PAYEMENTS_R = #{INTEREST_PAYEMENTS_R},
          </otherwise>
        </choose>
      </if>
    </set>
    where CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
  </sql>
  <update id="updateCIF_INCOME_RATIOS" parameterType="com.path.dbmaps.vo.CIF_INCOME_RATIOSVO" >
    <include refid="sql_updateCIF_INCOME_RATIOS" />
  </update>
</mapper>