<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CIF_ASSETS_RATIOS" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CIF_ASSETS_RATIOSVO" >
    <id column="CIF_NO" property="CIF_NO" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NO" property="LINE_NO" />
    <result column="ON_HAND_R" property="ON_HAND_R" />
    <result column="WITH_BANKS_R" property="WITH_BANKS_R" />
    <result column="MARK_SECURITIES_R" property="MARK_SECURITIES_R" />
    <result column="SHORT_TERM_INVEST_R" property="SHORT_TERM_INVEST_R" />
    <result column="ACCOUNTS_R" property="ACCOUNTS_R" />
    <result column="NOTES_R" property="NOTES_R" />
    <result column="CHECKS_FOR_COLLECTION_R" property="CHECKS_FOR_COLLECTION_R" />
    <result column="DOUBTFUL_RECEIVABLES_R" property="DOUBTFUL_RECEIVABLES_R" />
    <result column="PROV_BAD_DEBTS_R" property="PROV_BAD_DEBTS_R" />
    <result column="ADV_TO_ASSOCIATED_UNDER_R" property="ADV_TO_ASSOCIATED_UNDER_R" />
    <result column="FINISHED_GOODS_R" property="FINISHED_GOODS_R" />
    <result column="RAW_MATERIALS_R" property="RAW_MATERIALS_R" />
    <result column="WORK_IN_PROCESS_R" property="WORK_IN_PROCESS_R" />
    <result column="PROV_SLOW_MOV_INVENTORY_R" property="PROV_SLOW_MOV_INVENTORY_R" />
    <result column="MARGIN_ON_LC_R" property="MARGIN_ON_LC_R" />
    <result column="GOODS_IN_TRANSIT_R" property="GOODS_IN_TRANSIT_R" />
    <result column="ADV_TO_SUPPLIERS_R" property="ADV_TO_SUPPLIERS_R" />
    <result column="PRO_UND_CONSTRUCTION_R" property="PRO_UND_CONSTRUCTION_R" />
    <result column="OTHER_OPERAT_RECEIVABLES_R" property="OTHER_OPERAT_RECEIVABLES_R" />
    <result column="OTHER_NON_OPERAT_RECEIVABLES_R" property="OTHER_NON_OPERAT_RECEIVABLES_R" />
    <result column="LAND_R" property="LAND_R" />
    <result column="BUILDINGS_CONSTRUCTION_R" property="BUILDINGS_CONSTRUCTION_R" />
    <result column="LEASEHOLD_IMP_INSTALL_R" property="LEASEHOLD_IMP_INSTALL_R" />
    <result column="EQUIP_AND_VEHICULES_R" property="EQUIP_AND_VEHICULES_R" />
    <result column="PREMISES_AND_EQUIPMENT_R" property="PREMISES_AND_EQUIPMENT_R" />
    <result column="GOOD_WILL_R" property="GOOD_WILL_R" />
    <result column="OTHER_INTANGIBLE_ASSETS_R" property="OTHER_INTANGIBLE_ASSETS_R" />
    <result column="ACCUMULATED_DEPRECIATION_R" property="ACCUMULATED_DEPRECIATION_R" />
    <result column="INVESTEMENTS_R" property="INVESTEMENTS_R" />
    <result column="INVESTMENT_IN_SECURITIES_R" property="INVESTMENT_IN_SECURITIES_R" />
    <result column="INVESTMENT_IN_DEBTS_R" property="INVESTMENT_IN_DEBTS_R" />
    <result column="INVESTMENT_IN_ASSOCIATE_R" property="INVESTMENT_IN_ASSOCIATE_R" />
    <result column="LONG_TERM_LOANS_ADVANCES_R" property="LONG_TERM_LOANS_ADVANCES_R" />
    <result column="LT_FINANCIAL_ASSETS_R" property="LT_FINANCIAL_ASSETS_R" />
    <result column="DEPOSISTS_R" property="DEPOSISTS_R" />
    <result column="PREPAID_EXPENSES_R" property="PREPAID_EXPENSES_R" />
    <result column="DUES_FROM_SIS_COMP_R" property="DUES_FROM_SIS_COMP_R" />
    <result column="DUE_FROM_RELATED_PARTIES_R" property="DUE_FROM_RELATED_PARTIES_R" />
    <result column="DUES_FROM_PERSONNEL_R" property="DUES_FROM_PERSONNEL_R" />
    <result column="REGULARIZATION_ACCOUNTS_R" property="REGULARIZATION_ACCOUNTS_R" />
    <result column="OTHER_R" property="OTHER_R" />
  </resultMap>
  <sql id="Base_Column_List" >
    CIF_NO, COMP_CODE, LINE_NO, ON_HAND_R, WITH_BANKS_R, MARK_SECURITIES_R, SHORT_TERM_INVEST_R, 
    ACCOUNTS_R, NOTES_R, CHECKS_FOR_COLLECTION_R, DOUBTFUL_RECEIVABLES_R, PROV_BAD_DEBTS_R, 
    ADV_TO_ASSOCIATED_UNDER_R, FINISHED_GOODS_R, RAW_MATERIALS_R, WORK_IN_PROCESS_R, 
    PROV_SLOW_MOV_INVENTORY_R, MARGIN_ON_LC_R, GOODS_IN_TRANSIT_R, ADV_TO_SUPPLIERS_R, 
    PRO_UND_CONSTRUCTION_R, OTHER_OPERAT_RECEIVABLES_R, OTHER_NON_OPERAT_RECEIVABLES_R, 
    LAND_R, BUILDINGS_CONSTRUCTION_R, LEASEHOLD_IMP_INSTALL_R, EQUIP_AND_VEHICULES_R, 
    PREMISES_AND_EQUIPMENT_R, GOOD_WILL_R, OTHER_INTANGIBLE_ASSETS_R, ACCUMULATED_DEPRECIATION_R, 
    INVESTEMENTS_R, INVESTMENT_IN_SECURITIES_R, INVESTMENT_IN_DEBTS_R, INVESTMENT_IN_ASSOCIATE_R, 
    LONG_TERM_LOANS_ADVANCES_R, LT_FINANCIAL_ASSETS_R, DEPOSISTS_R, PREPAID_EXPENSES_R, 
    DUES_FROM_SIS_COMP_R, DUE_FROM_RELATED_PARTIES_R, DUES_FROM_PERSONNEL_R, REGULARIZATION_ACCOUNTS_R, 
    OTHER_R
  </sql>
  <select id="selectCIF_ASSETS_RATIOS" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CIF_ASSETS_RATIOSVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CIF_ASSETS_RATIOS
    where CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
  </select>
  <delete id="deleteCIF_ASSETS_RATIOS" parameterType="com.path.dbmaps.vo.CIF_ASSETS_RATIOSVOKey" >
    delete from CIF_ASSETS_RATIOS
    where CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
  </delete>
  <insert id="insertCIF_ASSETS_RATIOS" parameterType="com.path.dbmaps.vo.CIF_ASSETS_RATIOSVO" >
    insert into CIF_ASSETS_RATIOS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        CIF_NO,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="ON_HAND_R != null and ON_HAND_R != emptyBigDecimalValue" >
        ON_HAND_R,
      </if>
      <if test="WITH_BANKS_R != null and WITH_BANKS_R != emptyBigDecimalValue" >
        WITH_BANKS_R,
      </if>
      <if test="MARK_SECURITIES_R != null and MARK_SECURITIES_R != emptyBigDecimalValue" >
        MARK_SECURITIES_R,
      </if>
      <if test="SHORT_TERM_INVEST_R != null and SHORT_TERM_INVEST_R != emptyBigDecimalValue" >
        SHORT_TERM_INVEST_R,
      </if>
      <if test="ACCOUNTS_R != null and ACCOUNTS_R != emptyBigDecimalValue" >
        ACCOUNTS_R,
      </if>
      <if test="NOTES_R != null and NOTES_R != emptyBigDecimalValue" >
        NOTES_R,
      </if>
      <if test="CHECKS_FOR_COLLECTION_R != null and CHECKS_FOR_COLLECTION_R != emptyBigDecimalValue" >
        CHECKS_FOR_COLLECTION_R,
      </if>
      <if test="DOUBTFUL_RECEIVABLES_R != null and DOUBTFUL_RECEIVABLES_R != emptyBigDecimalValue" >
        DOUBTFUL_RECEIVABLES_R,
      </if>
      <if test="PROV_BAD_DEBTS_R != null and PROV_BAD_DEBTS_R != emptyBigDecimalValue" >
        PROV_BAD_DEBTS_R,
      </if>
      <if test="ADV_TO_ASSOCIATED_UNDER_R != null and ADV_TO_ASSOCIATED_UNDER_R != emptyBigDecimalValue" >
        ADV_TO_ASSOCIATED_UNDER_R,
      </if>
      <if test="FINISHED_GOODS_R != null and FINISHED_GOODS_R != emptyBigDecimalValue" >
        FINISHED_GOODS_R,
      </if>
      <if test="RAW_MATERIALS_R != null and RAW_MATERIALS_R != emptyBigDecimalValue" >
        RAW_MATERIALS_R,
      </if>
      <if test="WORK_IN_PROCESS_R != null and WORK_IN_PROCESS_R != emptyBigDecimalValue" >
        WORK_IN_PROCESS_R,
      </if>
      <if test="PROV_SLOW_MOV_INVENTORY_R != null and PROV_SLOW_MOV_INVENTORY_R != emptyBigDecimalValue" >
        PROV_SLOW_MOV_INVENTORY_R,
      </if>
      <if test="MARGIN_ON_LC_R != null and MARGIN_ON_LC_R != emptyBigDecimalValue" >
        MARGIN_ON_LC_R,
      </if>
      <if test="GOODS_IN_TRANSIT_R != null and GOODS_IN_TRANSIT_R != emptyBigDecimalValue" >
        GOODS_IN_TRANSIT_R,
      </if>
      <if test="ADV_TO_SUPPLIERS_R != null and ADV_TO_SUPPLIERS_R != emptyBigDecimalValue" >
        ADV_TO_SUPPLIERS_R,
      </if>
      <if test="PRO_UND_CONSTRUCTION_R != null and PRO_UND_CONSTRUCTION_R != emptyBigDecimalValue" >
        PRO_UND_CONSTRUCTION_R,
      </if>
      <if test="OTHER_OPERAT_RECEIVABLES_R != null and OTHER_OPERAT_RECEIVABLES_R != emptyBigDecimalValue" >
        OTHER_OPERAT_RECEIVABLES_R,
      </if>
      <if test="OTHER_NON_OPERAT_RECEIVABLES_R != null and OTHER_NON_OPERAT_RECEIVABLES_R != emptyBigDecimalValue" >
        OTHER_NON_OPERAT_RECEIVABLES_R,
      </if>
      <if test="LAND_R != null and LAND_R != emptyBigDecimalValue" >
        LAND_R,
      </if>
      <if test="BUILDINGS_CONSTRUCTION_R != null and BUILDINGS_CONSTRUCTION_R != emptyBigDecimalValue" >
        BUILDINGS_CONSTRUCTION_R,
      </if>
      <if test="LEASEHOLD_IMP_INSTALL_R != null and LEASEHOLD_IMP_INSTALL_R != emptyBigDecimalValue" >
        LEASEHOLD_IMP_INSTALL_R,
      </if>
      <if test="EQUIP_AND_VEHICULES_R != null and EQUIP_AND_VEHICULES_R != emptyBigDecimalValue" >
        EQUIP_AND_VEHICULES_R,
      </if>
      <if test="PREMISES_AND_EQUIPMENT_R != null and PREMISES_AND_EQUIPMENT_R != emptyBigDecimalValue" >
        PREMISES_AND_EQUIPMENT_R,
      </if>
      <if test="GOOD_WILL_R != null and GOOD_WILL_R != emptyBigDecimalValue" >
        GOOD_WILL_R,
      </if>
      <if test="OTHER_INTANGIBLE_ASSETS_R != null and OTHER_INTANGIBLE_ASSETS_R != emptyBigDecimalValue" >
        OTHER_INTANGIBLE_ASSETS_R,
      </if>
      <if test="ACCUMULATED_DEPRECIATION_R != null and ACCUMULATED_DEPRECIATION_R != emptyBigDecimalValue" >
        ACCUMULATED_DEPRECIATION_R,
      </if>
      <if test="INVESTEMENTS_R != null and INVESTEMENTS_R != emptyBigDecimalValue" >
        INVESTEMENTS_R,
      </if>
      <if test="INVESTMENT_IN_SECURITIES_R != null and INVESTMENT_IN_SECURITIES_R != emptyBigDecimalValue" >
        INVESTMENT_IN_SECURITIES_R,
      </if>
      <if test="INVESTMENT_IN_DEBTS_R != null and INVESTMENT_IN_DEBTS_R != emptyBigDecimalValue" >
        INVESTMENT_IN_DEBTS_R,
      </if>
      <if test="INVESTMENT_IN_ASSOCIATE_R != null and INVESTMENT_IN_ASSOCIATE_R != emptyBigDecimalValue" >
        INVESTMENT_IN_ASSOCIATE_R,
      </if>
      <if test="LONG_TERM_LOANS_ADVANCES_R != null and LONG_TERM_LOANS_ADVANCES_R != emptyBigDecimalValue" >
        LONG_TERM_LOANS_ADVANCES_R,
      </if>
      <if test="LT_FINANCIAL_ASSETS_R != null and LT_FINANCIAL_ASSETS_R != emptyBigDecimalValue" >
        LT_FINANCIAL_ASSETS_R,
      </if>
      <if test="DEPOSISTS_R != null and DEPOSISTS_R != emptyBigDecimalValue" >
        DEPOSISTS_R,
      </if>
      <if test="PREPAID_EXPENSES_R != null and PREPAID_EXPENSES_R != emptyBigDecimalValue" >
        PREPAID_EXPENSES_R,
      </if>
      <if test="DUES_FROM_SIS_COMP_R != null and DUES_FROM_SIS_COMP_R != emptyBigDecimalValue" >
        DUES_FROM_SIS_COMP_R,
      </if>
      <if test="DUE_FROM_RELATED_PARTIES_R != null and DUE_FROM_RELATED_PARTIES_R != emptyBigDecimalValue" >
        DUE_FROM_RELATED_PARTIES_R,
      </if>
      <if test="DUES_FROM_PERSONNEL_R != null and DUES_FROM_PERSONNEL_R != emptyBigDecimalValue" >
        DUES_FROM_PERSONNEL_R,
      </if>
      <if test="REGULARIZATION_ACCOUNTS_R != null and REGULARIZATION_ACCOUNTS_R != emptyBigDecimalValue" >
        REGULARIZATION_ACCOUNTS_R,
      </if>
      <if test="OTHER_R != null and OTHER_R != emptyBigDecimalValue" >
        OTHER_R,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        #{CIF_NO},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="ON_HAND_R != null and ON_HAND_R != emptyBigDecimalValue" >
        #{ON_HAND_R},
      </if>
      <if test="WITH_BANKS_R != null and WITH_BANKS_R != emptyBigDecimalValue" >
        #{WITH_BANKS_R},
      </if>
      <if test="MARK_SECURITIES_R != null and MARK_SECURITIES_R != emptyBigDecimalValue" >
        #{MARK_SECURITIES_R},
      </if>
      <if test="SHORT_TERM_INVEST_R != null and SHORT_TERM_INVEST_R != emptyBigDecimalValue" >
        #{SHORT_TERM_INVEST_R},
      </if>
      <if test="ACCOUNTS_R != null and ACCOUNTS_R != emptyBigDecimalValue" >
        #{ACCOUNTS_R},
      </if>
      <if test="NOTES_R != null and NOTES_R != emptyBigDecimalValue" >
        #{NOTES_R},
      </if>
      <if test="CHECKS_FOR_COLLECTION_R != null and CHECKS_FOR_COLLECTION_R != emptyBigDecimalValue" >
        #{CHECKS_FOR_COLLECTION_R},
      </if>
      <if test="DOUBTFUL_RECEIVABLES_R != null and DOUBTFUL_RECEIVABLES_R != emptyBigDecimalValue" >
        #{DOUBTFUL_RECEIVABLES_R},
      </if>
      <if test="PROV_BAD_DEBTS_R != null and PROV_BAD_DEBTS_R != emptyBigDecimalValue" >
        #{PROV_BAD_DEBTS_R},
      </if>
      <if test="ADV_TO_ASSOCIATED_UNDER_R != null and ADV_TO_ASSOCIATED_UNDER_R != emptyBigDecimalValue" >
        #{ADV_TO_ASSOCIATED_UNDER_R},
      </if>
      <if test="FINISHED_GOODS_R != null and FINISHED_GOODS_R != emptyBigDecimalValue" >
        #{FINISHED_GOODS_R},
      </if>
      <if test="RAW_MATERIALS_R != null and RAW_MATERIALS_R != emptyBigDecimalValue" >
        #{RAW_MATERIALS_R},
      </if>
      <if test="WORK_IN_PROCESS_R != null and WORK_IN_PROCESS_R != emptyBigDecimalValue" >
        #{WORK_IN_PROCESS_R},
      </if>
      <if test="PROV_SLOW_MOV_INVENTORY_R != null and PROV_SLOW_MOV_INVENTORY_R != emptyBigDecimalValue" >
        #{PROV_SLOW_MOV_INVENTORY_R},
      </if>
      <if test="MARGIN_ON_LC_R != null and MARGIN_ON_LC_R != emptyBigDecimalValue" >
        #{MARGIN_ON_LC_R},
      </if>
      <if test="GOODS_IN_TRANSIT_R != null and GOODS_IN_TRANSIT_R != emptyBigDecimalValue" >
        #{GOODS_IN_TRANSIT_R},
      </if>
      <if test="ADV_TO_SUPPLIERS_R != null and ADV_TO_SUPPLIERS_R != emptyBigDecimalValue" >
        #{ADV_TO_SUPPLIERS_R},
      </if>
      <if test="PRO_UND_CONSTRUCTION_R != null and PRO_UND_CONSTRUCTION_R != emptyBigDecimalValue" >
        #{PRO_UND_CONSTRUCTION_R},
      </if>
      <if test="OTHER_OPERAT_RECEIVABLES_R != null and OTHER_OPERAT_RECEIVABLES_R != emptyBigDecimalValue" >
        #{OTHER_OPERAT_RECEIVABLES_R},
      </if>
      <if test="OTHER_NON_OPERAT_RECEIVABLES_R != null and OTHER_NON_OPERAT_RECEIVABLES_R != emptyBigDecimalValue" >
        #{OTHER_NON_OPERAT_RECEIVABLES_R},
      </if>
      <if test="LAND_R != null and LAND_R != emptyBigDecimalValue" >
        #{LAND_R},
      </if>
      <if test="BUILDINGS_CONSTRUCTION_R != null and BUILDINGS_CONSTRUCTION_R != emptyBigDecimalValue" >
        #{BUILDINGS_CONSTRUCTION_R},
      </if>
      <if test="LEASEHOLD_IMP_INSTALL_R != null and LEASEHOLD_IMP_INSTALL_R != emptyBigDecimalValue" >
        #{LEASEHOLD_IMP_INSTALL_R},
      </if>
      <if test="EQUIP_AND_VEHICULES_R != null and EQUIP_AND_VEHICULES_R != emptyBigDecimalValue" >
        #{EQUIP_AND_VEHICULES_R},
      </if>
      <if test="PREMISES_AND_EQUIPMENT_R != null and PREMISES_AND_EQUIPMENT_R != emptyBigDecimalValue" >
        #{PREMISES_AND_EQUIPMENT_R},
      </if>
      <if test="GOOD_WILL_R != null and GOOD_WILL_R != emptyBigDecimalValue" >
        #{GOOD_WILL_R},
      </if>
      <if test="OTHER_INTANGIBLE_ASSETS_R != null and OTHER_INTANGIBLE_ASSETS_R != emptyBigDecimalValue" >
        #{OTHER_INTANGIBLE_ASSETS_R},
      </if>
      <if test="ACCUMULATED_DEPRECIATION_R != null and ACCUMULATED_DEPRECIATION_R != emptyBigDecimalValue" >
        #{ACCUMULATED_DEPRECIATION_R},
      </if>
      <if test="INVESTEMENTS_R != null and INVESTEMENTS_R != emptyBigDecimalValue" >
        #{INVESTEMENTS_R},
      </if>
      <if test="INVESTMENT_IN_SECURITIES_R != null and INVESTMENT_IN_SECURITIES_R != emptyBigDecimalValue" >
        #{INVESTMENT_IN_SECURITIES_R},
      </if>
      <if test="INVESTMENT_IN_DEBTS_R != null and INVESTMENT_IN_DEBTS_R != emptyBigDecimalValue" >
        #{INVESTMENT_IN_DEBTS_R},
      </if>
      <if test="INVESTMENT_IN_ASSOCIATE_R != null and INVESTMENT_IN_ASSOCIATE_R != emptyBigDecimalValue" >
        #{INVESTMENT_IN_ASSOCIATE_R},
      </if>
      <if test="LONG_TERM_LOANS_ADVANCES_R != null and LONG_TERM_LOANS_ADVANCES_R != emptyBigDecimalValue" >
        #{LONG_TERM_LOANS_ADVANCES_R},
      </if>
      <if test="LT_FINANCIAL_ASSETS_R != null and LT_FINANCIAL_ASSETS_R != emptyBigDecimalValue" >
        #{LT_FINANCIAL_ASSETS_R},
      </if>
      <if test="DEPOSISTS_R != null and DEPOSISTS_R != emptyBigDecimalValue" >
        #{DEPOSISTS_R},
      </if>
      <if test="PREPAID_EXPENSES_R != null and PREPAID_EXPENSES_R != emptyBigDecimalValue" >
        #{PREPAID_EXPENSES_R},
      </if>
      <if test="DUES_FROM_SIS_COMP_R != null and DUES_FROM_SIS_COMP_R != emptyBigDecimalValue" >
        #{DUES_FROM_SIS_COMP_R},
      </if>
      <if test="DUE_FROM_RELATED_PARTIES_R != null and DUE_FROM_RELATED_PARTIES_R != emptyBigDecimalValue" >
        #{DUE_FROM_RELATED_PARTIES_R},
      </if>
      <if test="DUES_FROM_PERSONNEL_R != null and DUES_FROM_PERSONNEL_R != emptyBigDecimalValue" >
        #{DUES_FROM_PERSONNEL_R},
      </if>
      <if test="REGULARIZATION_ACCOUNTS_R != null and REGULARIZATION_ACCOUNTS_R != emptyBigDecimalValue" >
        #{REGULARIZATION_ACCOUNTS_R},
      </if>
      <if test="OTHER_R != null and OTHER_R != emptyBigDecimalValue" >
        #{OTHER_R},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCIF_ASSETS_RATIOS" >
    update CIF_ASSETS_RATIOS
    <set >
      <if test="ON_HAND_R != null" >
        <choose >
          <when test="ON_HAND_R == emptyBigDecimalValue" >
            ON_HAND_R = NULL ,
          </when>
          <otherwise >
            ON_HAND_R = #{ON_HAND_R},
          </otherwise>
        </choose>
      </if>
      <if test="WITH_BANKS_R != null" >
        <choose >
          <when test="WITH_BANKS_R == emptyBigDecimalValue" >
            WITH_BANKS_R = NULL ,
          </when>
          <otherwise >
            WITH_BANKS_R = #{WITH_BANKS_R},
          </otherwise>
        </choose>
      </if>
      <if test="MARK_SECURITIES_R != null" >
        <choose >
          <when test="MARK_SECURITIES_R == emptyBigDecimalValue" >
            MARK_SECURITIES_R = NULL ,
          </when>
          <otherwise >
            MARK_SECURITIES_R = #{MARK_SECURITIES_R},
          </otherwise>
        </choose>
      </if>
      <if test="SHORT_TERM_INVEST_R != null" >
        <choose >
          <when test="SHORT_TERM_INVEST_R == emptyBigDecimalValue" >
            SHORT_TERM_INVEST_R = NULL ,
          </when>
          <otherwise >
            SHORT_TERM_INVEST_R = #{SHORT_TERM_INVEST_R},
          </otherwise>
        </choose>
      </if>
      <if test="ACCOUNTS_R != null" >
        <choose >
          <when test="ACCOUNTS_R == emptyBigDecimalValue" >
            ACCOUNTS_R = NULL ,
          </when>
          <otherwise >
            ACCOUNTS_R = #{ACCOUNTS_R},
          </otherwise>
        </choose>
      </if>
      <if test="NOTES_R != null" >
        <choose >
          <when test="NOTES_R == emptyBigDecimalValue" >
            NOTES_R = NULL ,
          </when>
          <otherwise >
            NOTES_R = #{NOTES_R},
          </otherwise>
        </choose>
      </if>
      <if test="CHECKS_FOR_COLLECTION_R != null" >
        <choose >
          <when test="CHECKS_FOR_COLLECTION_R == emptyBigDecimalValue" >
            CHECKS_FOR_COLLECTION_R = NULL ,
          </when>
          <otherwise >
            CHECKS_FOR_COLLECTION_R = #{CHECKS_FOR_COLLECTION_R},
          </otherwise>
        </choose>
      </if>
      <if test="DOUBTFUL_RECEIVABLES_R != null" >
        <choose >
          <when test="DOUBTFUL_RECEIVABLES_R == emptyBigDecimalValue" >
            DOUBTFUL_RECEIVABLES_R = NULL ,
          </when>
          <otherwise >
            DOUBTFUL_RECEIVABLES_R = #{DOUBTFUL_RECEIVABLES_R},
          </otherwise>
        </choose>
      </if>
      <if test="PROV_BAD_DEBTS_R != null" >
        <choose >
          <when test="PROV_BAD_DEBTS_R == emptyBigDecimalValue" >
            PROV_BAD_DEBTS_R = NULL ,
          </when>
          <otherwise >
            PROV_BAD_DEBTS_R = #{PROV_BAD_DEBTS_R},
          </otherwise>
        </choose>
      </if>
      <if test="ADV_TO_ASSOCIATED_UNDER_R != null" >
        <choose >
          <when test="ADV_TO_ASSOCIATED_UNDER_R == emptyBigDecimalValue" >
            ADV_TO_ASSOCIATED_UNDER_R = NULL ,
          </when>
          <otherwise >
            ADV_TO_ASSOCIATED_UNDER_R = #{ADV_TO_ASSOCIATED_UNDER_R},
          </otherwise>
        </choose>
      </if>
      <if test="FINISHED_GOODS_R != null" >
        <choose >
          <when test="FINISHED_GOODS_R == emptyBigDecimalValue" >
            FINISHED_GOODS_R = NULL ,
          </when>
          <otherwise >
            FINISHED_GOODS_R = #{FINISHED_GOODS_R},
          </otherwise>
        </choose>
      </if>
      <if test="RAW_MATERIALS_R != null" >
        <choose >
          <when test="RAW_MATERIALS_R == emptyBigDecimalValue" >
            RAW_MATERIALS_R = NULL ,
          </when>
          <otherwise >
            RAW_MATERIALS_R = #{RAW_MATERIALS_R},
          </otherwise>
        </choose>
      </if>
      <if test="WORK_IN_PROCESS_R != null" >
        <choose >
          <when test="WORK_IN_PROCESS_R == emptyBigDecimalValue" >
            WORK_IN_PROCESS_R = NULL ,
          </when>
          <otherwise >
            WORK_IN_PROCESS_R = #{WORK_IN_PROCESS_R},
          </otherwise>
        </choose>
      </if>
      <if test="PROV_SLOW_MOV_INVENTORY_R != null" >
        <choose >
          <when test="PROV_SLOW_MOV_INVENTORY_R == emptyBigDecimalValue" >
            PROV_SLOW_MOV_INVENTORY_R = NULL ,
          </when>
          <otherwise >
            PROV_SLOW_MOV_INVENTORY_R = #{PROV_SLOW_MOV_INVENTORY_R},
          </otherwise>
        </choose>
      </if>
      <if test="MARGIN_ON_LC_R != null" >
        <choose >
          <when test="MARGIN_ON_LC_R == emptyBigDecimalValue" >
            MARGIN_ON_LC_R = NULL ,
          </when>
          <otherwise >
            MARGIN_ON_LC_R = #{MARGIN_ON_LC_R},
          </otherwise>
        </choose>
      </if>
      <if test="GOODS_IN_TRANSIT_R != null" >
        <choose >
          <when test="GOODS_IN_TRANSIT_R == emptyBigDecimalValue" >
            GOODS_IN_TRANSIT_R = NULL ,
          </when>
          <otherwise >
            GOODS_IN_TRANSIT_R = #{GOODS_IN_TRANSIT_R},
          </otherwise>
        </choose>
      </if>
      <if test="ADV_TO_SUPPLIERS_R != null" >
        <choose >
          <when test="ADV_TO_SUPPLIERS_R == emptyBigDecimalValue" >
            ADV_TO_SUPPLIERS_R = NULL ,
          </when>
          <otherwise >
            ADV_TO_SUPPLIERS_R = #{ADV_TO_SUPPLIERS_R},
          </otherwise>
        </choose>
      </if>
      <if test="PRO_UND_CONSTRUCTION_R != null" >
        <choose >
          <when test="PRO_UND_CONSTRUCTION_R == emptyBigDecimalValue" >
            PRO_UND_CONSTRUCTION_R = NULL ,
          </when>
          <otherwise >
            PRO_UND_CONSTRUCTION_R = #{PRO_UND_CONSTRUCTION_R},
          </otherwise>
        </choose>
      </if>
      <if test="OTHER_OPERAT_RECEIVABLES_R != null" >
        <choose >
          <when test="OTHER_OPERAT_RECEIVABLES_R == emptyBigDecimalValue" >
            OTHER_OPERAT_RECEIVABLES_R = NULL ,
          </when>
          <otherwise >
            OTHER_OPERAT_RECEIVABLES_R = #{OTHER_OPERAT_RECEIVABLES_R},
          </otherwise>
        </choose>
      </if>
      <if test="OTHER_NON_OPERAT_RECEIVABLES_R != null" >
        <choose >
          <when test="OTHER_NON_OPERAT_RECEIVABLES_R == emptyBigDecimalValue" >
            OTHER_NON_OPERAT_RECEIVABLES_R = NULL ,
          </when>
          <otherwise >
            OTHER_NON_OPERAT_RECEIVABLES_R = #{OTHER_NON_OPERAT_RECEIVABLES_R},
          </otherwise>
        </choose>
      </if>
      <if test="LAND_R != null" >
        <choose >
          <when test="LAND_R == emptyBigDecimalValue" >
            LAND_R = NULL ,
          </when>
          <otherwise >
            LAND_R = #{LAND_R},
          </otherwise>
        </choose>
      </if>
      <if test="BUILDINGS_CONSTRUCTION_R != null" >
        <choose >
          <when test="BUILDINGS_CONSTRUCTION_R == emptyBigDecimalValue" >
            BUILDINGS_CONSTRUCTION_R = NULL ,
          </when>
          <otherwise >
            BUILDINGS_CONSTRUCTION_R = #{BUILDINGS_CONSTRUCTION_R},
          </otherwise>
        </choose>
      </if>
      <if test="LEASEHOLD_IMP_INSTALL_R != null" >
        <choose >
          <when test="LEASEHOLD_IMP_INSTALL_R == emptyBigDecimalValue" >
            LEASEHOLD_IMP_INSTALL_R = NULL ,
          </when>
          <otherwise >
            LEASEHOLD_IMP_INSTALL_R = #{LEASEHOLD_IMP_INSTALL_R},
          </otherwise>
        </choose>
      </if>
      <if test="EQUIP_AND_VEHICULES_R != null" >
        <choose >
          <when test="EQUIP_AND_VEHICULES_R == emptyBigDecimalValue" >
            EQUIP_AND_VEHICULES_R = NULL ,
          </when>
          <otherwise >
            EQUIP_AND_VEHICULES_R = #{EQUIP_AND_VEHICULES_R},
          </otherwise>
        </choose>
      </if>
      <if test="PREMISES_AND_EQUIPMENT_R != null" >
        <choose >
          <when test="PREMISES_AND_EQUIPMENT_R == emptyBigDecimalValue" >
            PREMISES_AND_EQUIPMENT_R = NULL ,
          </when>
          <otherwise >
            PREMISES_AND_EQUIPMENT_R = #{PREMISES_AND_EQUIPMENT_R},
          </otherwise>
        </choose>
      </if>
      <if test="GOOD_WILL_R != null" >
        <choose >
          <when test="GOOD_WILL_R == emptyBigDecimalValue" >
            GOOD_WILL_R = NULL ,
          </when>
          <otherwise >
            GOOD_WILL_R = #{GOOD_WILL_R},
          </otherwise>
        </choose>
      </if>
      <if test="OTHER_INTANGIBLE_ASSETS_R != null" >
        <choose >
          <when test="OTHER_INTANGIBLE_ASSETS_R == emptyBigDecimalValue" >
            OTHER_INTANGIBLE_ASSETS_R = NULL ,
          </when>
          <otherwise >
            OTHER_INTANGIBLE_ASSETS_R = #{OTHER_INTANGIBLE_ASSETS_R},
          </otherwise>
        </choose>
      </if>
      <if test="ACCUMULATED_DEPRECIATION_R != null" >
        <choose >
          <when test="ACCUMULATED_DEPRECIATION_R == emptyBigDecimalValue" >
            ACCUMULATED_DEPRECIATION_R = NULL ,
          </when>
          <otherwise >
            ACCUMULATED_DEPRECIATION_R = #{ACCUMULATED_DEPRECIATION_R},
          </otherwise>
        </choose>
      </if>
      <if test="INVESTEMENTS_R != null" >
        <choose >
          <when test="INVESTEMENTS_R == emptyBigDecimalValue" >
            INVESTEMENTS_R = NULL ,
          </when>
          <otherwise >
            INVESTEMENTS_R = #{INVESTEMENTS_R},
          </otherwise>
        </choose>
      </if>
      <if test="INVESTMENT_IN_SECURITIES_R != null" >
        <choose >
          <when test="INVESTMENT_IN_SECURITIES_R == emptyBigDecimalValue" >
            INVESTMENT_IN_SECURITIES_R = NULL ,
          </when>
          <otherwise >
            INVESTMENT_IN_SECURITIES_R = #{INVESTMENT_IN_SECURITIES_R},
          </otherwise>
        </choose>
      </if>
      <if test="INVESTMENT_IN_DEBTS_R != null" >
        <choose >
          <when test="INVESTMENT_IN_DEBTS_R == emptyBigDecimalValue" >
            INVESTMENT_IN_DEBTS_R = NULL ,
          </when>
          <otherwise >
            INVESTMENT_IN_DEBTS_R = #{INVESTMENT_IN_DEBTS_R},
          </otherwise>
        </choose>
      </if>
      <if test="INVESTMENT_IN_ASSOCIATE_R != null" >
        <choose >
          <when test="INVESTMENT_IN_ASSOCIATE_R == emptyBigDecimalValue" >
            INVESTMENT_IN_ASSOCIATE_R = NULL ,
          </when>
          <otherwise >
            INVESTMENT_IN_ASSOCIATE_R = #{INVESTMENT_IN_ASSOCIATE_R},
          </otherwise>
        </choose>
      </if>
      <if test="LONG_TERM_LOANS_ADVANCES_R != null" >
        <choose >
          <when test="LONG_TERM_LOANS_ADVANCES_R == emptyBigDecimalValue" >
            LONG_TERM_LOANS_ADVANCES_R = NULL ,
          </when>
          <otherwise >
            LONG_TERM_LOANS_ADVANCES_R = #{LONG_TERM_LOANS_ADVANCES_R},
          </otherwise>
        </choose>
      </if>
      <if test="LT_FINANCIAL_ASSETS_R != null" >
        <choose >
          <when test="LT_FINANCIAL_ASSETS_R == emptyBigDecimalValue" >
            LT_FINANCIAL_ASSETS_R = NULL ,
          </when>
          <otherwise >
            LT_FINANCIAL_ASSETS_R = #{LT_FINANCIAL_ASSETS_R},
          </otherwise>
        </choose>
      </if>
      <if test="DEPOSISTS_R != null" >
        <choose >
          <when test="DEPOSISTS_R == emptyBigDecimalValue" >
            DEPOSISTS_R = NULL ,
          </when>
          <otherwise >
            DEPOSISTS_R = #{DEPOSISTS_R},
          </otherwise>
        </choose>
      </if>
      <if test="PREPAID_EXPENSES_R != null" >
        <choose >
          <when test="PREPAID_EXPENSES_R == emptyBigDecimalValue" >
            PREPAID_EXPENSES_R = NULL ,
          </when>
          <otherwise >
            PREPAID_EXPENSES_R = #{PREPAID_EXPENSES_R},
          </otherwise>
        </choose>
      </if>
      <if test="DUES_FROM_SIS_COMP_R != null" >
        <choose >
          <when test="DUES_FROM_SIS_COMP_R == emptyBigDecimalValue" >
            DUES_FROM_SIS_COMP_R = NULL ,
          </when>
          <otherwise >
            DUES_FROM_SIS_COMP_R = #{DUES_FROM_SIS_COMP_R},
          </otherwise>
        </choose>
      </if>
      <if test="DUE_FROM_RELATED_PARTIES_R != null" >
        <choose >
          <when test="DUE_FROM_RELATED_PARTIES_R == emptyBigDecimalValue" >
            DUE_FROM_RELATED_PARTIES_R = NULL ,
          </when>
          <otherwise >
            DUE_FROM_RELATED_PARTIES_R = #{DUE_FROM_RELATED_PARTIES_R},
          </otherwise>
        </choose>
      </if>
      <if test="DUES_FROM_PERSONNEL_R != null" >
        <choose >
          <when test="DUES_FROM_PERSONNEL_R == emptyBigDecimalValue" >
            DUES_FROM_PERSONNEL_R = NULL ,
          </when>
          <otherwise >
            DUES_FROM_PERSONNEL_R = #{DUES_FROM_PERSONNEL_R},
          </otherwise>
        </choose>
      </if>
      <if test="REGULARIZATION_ACCOUNTS_R != null" >
        <choose >
          <when test="REGULARIZATION_ACCOUNTS_R == emptyBigDecimalValue" >
            REGULARIZATION_ACCOUNTS_R = NULL ,
          </when>
          <otherwise >
            REGULARIZATION_ACCOUNTS_R = #{REGULARIZATION_ACCOUNTS_R},
          </otherwise>
        </choose>
      </if>
      <if test="OTHER_R != null" >
        <choose >
          <when test="OTHER_R == emptyBigDecimalValue" >
            OTHER_R = NULL ,
          </when>
          <otherwise >
            OTHER_R = #{OTHER_R},
          </otherwise>
        </choose>
      </if>
    </set>
    where CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
  </sql>
  <update id="updateCIF_ASSETS_RATIOS" parameterType="com.path.dbmaps.vo.CIF_ASSETS_RATIOSVO" >
    <include refid="sql_updateCIF_ASSETS_RATIOS" />
  </update>
</mapper>