<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CIF_TRX_LIMIT_DET" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CIF_TRX_LIMIT_DETVO" >
    <id column="CIF_NO" property="CIF_NO" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NO" property="LINE_NO" />
    <id column="MAIN_LINE_NO" property="MAIN_LINE_NO" />
    <result column="ACC_TYPE" property="ACC_TYPE" />
  </resultMap>
  <sql id="Base_Column_List" >
    CIF_NO, COMP_CODE, LINE_NO, MAIN_LINE_NO, ACC_TYPE
  </sql>
  <select id="selectCIF_TRX_LIMIT_DET" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CIF_TRX_LIMIT_DETVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CIF_TRX_LIMIT_DET
    where CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and MAIN_LINE_NO = #{MAIN_LINE_NO}
  </select>
  <delete id="deleteCIF_TRX_LIMIT_DET" parameterType="com.path.dbmaps.vo.CIF_TRX_LIMIT_DETVOKey" >
    delete from CIF_TRX_LIMIT_DET
    where CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and MAIN_LINE_NO = #{MAIN_LINE_NO}
  </delete>
  <insert id="insertCIF_TRX_LIMIT_DET" parameterType="com.path.dbmaps.vo.CIF_TRX_LIMIT_DETVO" >
    insert into CIF_TRX_LIMIT_DET
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        CIF_NO,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="MAIN_LINE_NO != null and MAIN_LINE_NO != emptyBigDecimalValue" >
        MAIN_LINE_NO,
      </if>
      <if test="ACC_TYPE != null and ACC_TYPE != emptyBigDecimalValue" >
        ACC_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        #{CIF_NO},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="MAIN_LINE_NO != null and MAIN_LINE_NO != emptyBigDecimalValue" >
        #{MAIN_LINE_NO},
      </if>
      <if test="ACC_TYPE != null and ACC_TYPE != emptyBigDecimalValue" >
        #{ACC_TYPE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCIF_TRX_LIMIT_DET" >
    update CIF_TRX_LIMIT_DET
    <set >
      <if test="ACC_TYPE != null" >
        <choose >
          <when test="ACC_TYPE == emptyBigDecimalValue" >
            ACC_TYPE = NULL ,
          </when>
          <otherwise >
            ACC_TYPE = #{ACC_TYPE},
          </otherwise>
        </choose>
      </if>
    </set>
    where CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and MAIN_LINE_NO = #{MAIN_LINE_NO}
  </sql>
  <update id="updateCIF_TRX_LIMIT_DET" parameterType="com.path.dbmaps.vo.CIF_TRX_LIMIT_DETVO" >
    <include refid="sql_updateCIF_TRX_LIMIT_DET" />
  </update>
</mapper>