<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CIFOBJECT" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CIFOBJECTVO" >
    <id column="ACC_CIF" property="ACC_CIF" />
    <id column="ACC_CY" property="ACC_CY" />
    <id column="ACC_GL" property="ACC_GL" />
    <id column="ACC_SL" property="ACC_SL" />
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="CIF_NO" property="CIF_NO" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="OBJECT_SEQ" property="OBJECT_SEQ" />
    <result column="OBJECT_TYPE" property="OBJECT_TYPE" />
    <result column="OBJECT_CODE" property="OBJECT_CODE" />
    <result column="STATUS" property="STATUS" />
    <result column="DATE_CREATED" property="DATE_CREATED" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="DATE_MODIFIED" property="DATE_MODIFIED" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="DATE_AUTHORISED" property="DATE_AUTHORISED" />
    <result column="AUTHORISED_BY" property="AUTHORISED_BY" />
    <result column="TYPE" property="TYPE" />
    <result column="AMOUNT_CY" property="AMOUNT_CY" />
    <result column="AMOUNT" property="AMOUNT" />
    <result column="GROUP_ID" property="GROUP_ID" />
    <result column="TO_BE_STATUS" property="TO_BE_STATUS" />
    <result column="DEFAULT_PHOTO" property="DEFAULT_PHOTO" />
    <result column="DATE_DELETED" property="DATE_DELETED" />
    <result column="DELETED_BY" property="DELETED_BY" />
    <result column="SIGN_PROTECTED_YN" property="SIGN_PROTECTED_YN" />
    <result column="AUTH_CIF_NO" property="AUTH_CIF_NO" />
  </resultMap>
  <sql id="Base_Column_List" >
    ACC_CIF, ACC_CY, ACC_GL, ACC_SL, BRANCH_CODE, CIF_NO, COMP_CODE, OBJECT_SEQ, OBJECT_TYPE, 
    OBJECT_CODE, STATUS, DATE_CREATED, CREATED_BY, DATE_MODIFIED, MODIFIED_BY, DATE_AUTHORISED, 
    AUTHORISED_BY, TYPE, AMOUNT_CY, AMOUNT, GROUP_ID, TO_BE_STATUS, DEFAULT_PHOTO, DATE_DELETED, 
    DELETED_BY,SIGN_PROTECTED_YN,AUTH_CIF_NO
  </sql>
  <select id="selectCIFOBJECT" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CIFOBJECTVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CIFOBJECT
    where ACC_CIF = #{ACC_CIF}
      and ACC_CY = #{ACC_CY}
      and ACC_GL = #{ACC_GL}
      and ACC_SL = #{ACC_SL}
      and BRANCH_CODE = #{BRANCH_CODE}
      and CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and OBJECT_SEQ = #{OBJECT_SEQ}
  </select>
  <delete id="deleteCIFOBJECT" parameterType="com.path.dbmaps.vo.CIFOBJECTVOKey" >
    delete from CIFOBJECT
    where ACC_CIF = #{ACC_CIF}
      and ACC_CY = #{ACC_CY}
      and ACC_GL = #{ACC_GL}
      and ACC_SL = #{ACC_SL}
      and BRANCH_CODE = #{BRANCH_CODE}
      and CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and OBJECT_SEQ = #{OBJECT_SEQ}
  </delete>
  <insert id="insertCIFOBJECT" parameterType="com.path.dbmaps.vo.CIFOBJECTVO" >
    insert into CIFOBJECT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        ACC_CIF,
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        ACC_CY,
      </if>
      <if test="ACC_GL != null and ACC_GL != emptyBigDecimalValue" >
        ACC_GL,
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        ACC_SL,
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        CIF_NO,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="OBJECT_SEQ != null and OBJECT_SEQ != emptyBigDecimalValue" >
        OBJECT_SEQ,
      </if>
      <if test="OBJECT_TYPE != null" >
        OBJECT_TYPE,
      </if>
      <if test="OBJECT_CODE != null and OBJECT_CODE != emptyBigDecimalValue" >
        OBJECT_CODE,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED,
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY,
      </if>
      <if test="DATE_AUTHORISED != null" >
        DATE_AUTHORISED,
      </if>
      <if test="AUTHORISED_BY != null" >
        AUTHORISED_BY,
      </if>
      <if test="TYPE != null" >
        TYPE,
      </if>
      <if test="AMOUNT_CY != null and AMOUNT_CY != emptyBigDecimalValue" >
        AMOUNT_CY,
      </if>
      <if test="AMOUNT != null and AMOUNT != emptyBigDecimalValue" >
        AMOUNT,
      </if>
      <if test="GROUP_ID != null" >
        GROUP_ID,
      </if>
      <if test="TO_BE_STATUS != null" >
        TO_BE_STATUS,
      </if>
      <if test="DEFAULT_PHOTO != null and DEFAULT_PHOTO != emptyBigDecimalValue" >
        DEFAULT_PHOTO,
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED,
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY,
      </if>
      <if test="SIGN_PROTECTED_YN != null"  >
        SIGN_PROTECTED_YN,
      </if>
      <if test="AUTH_CIF_NO != null and AUTH_CIF_NO != emptyBigDecimalValue"  >
        AUTH_CIF_NO,
      </if>            
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        #{ACC_CIF},
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        #{ACC_CY},
      </if>
      <if test="ACC_GL != null and ACC_GL != emptyBigDecimalValue" >
        #{ACC_GL},
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        #{ACC_SL},
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        #{CIF_NO},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="OBJECT_SEQ != null and OBJECT_SEQ != emptyBigDecimalValue" >
        #{OBJECT_SEQ},
      </if>
      <if test="OBJECT_TYPE != null" >
        #{OBJECT_TYPE},
      </if>
      <if test="OBJECT_CODE != null and OBJECT_CODE != emptyBigDecimalValue" >
        #{OBJECT_CODE},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="DATE_CREATED != null" >
        #{DATE_CREATED},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        #{DATE_MODIFIED},
      </if>
      <if test="MODIFIED_BY != null" >
        #{MODIFIED_BY},
      </if>
      <if test="DATE_AUTHORISED != null" >
        #{DATE_AUTHORISED},
      </if>
      <if test="AUTHORISED_BY != null" >
        #{AUTHORISED_BY},
      </if>
      <if test="TYPE != null" >
        #{TYPE},
      </if>
      <if test="AMOUNT_CY != null and AMOUNT_CY != emptyBigDecimalValue" >
        #{AMOUNT_CY},
      </if>
      <if test="AMOUNT != null and AMOUNT != emptyBigDecimalValue" >
        #{AMOUNT},
      </if>
      <if test="GROUP_ID != null" >
        #{GROUP_ID},
      </if>
      <if test="TO_BE_STATUS != null" >
        #{TO_BE_STATUS},
      </if>
      <if test="DEFAULT_PHOTO != null and DEFAULT_PHOTO != emptyBigDecimalValue" >
        #{DEFAULT_PHOTO},
      </if>
      <if test="DATE_DELETED != null" >
        #{DATE_DELETED},
      </if>
      <if test="DELETED_BY != null" >
        #{DELETED_BY},
      </if>
      <if test="SIGN_PROTECTED_YN != null" >
        #{SIGN_PROTECTED_YN},
      </if>
      <if test="AUTH_CIF_NO != null and AUTH_CIF_NO != emptyBigDecimalValue" >
        #{AUTH_CIF_NO},
      </if>      
    </trim>
  </insert>
  <sql id="sql_updateCIFOBJECT" >
    update CIFOBJECT
    <set >
      <if test="OBJECT_TYPE != null" >
        OBJECT_TYPE = #{OBJECT_TYPE},
      </if>
      <if test="OBJECT_CODE != null" >
        <choose >
          <when test="OBJECT_CODE == emptyBigDecimalValue" >
            OBJECT_CODE = NULL ,
          </when>
          <otherwise >
            OBJECT_CODE = #{OBJECT_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED = #{DATE_CREATED},
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED = #{DATE_MODIFIED},
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY = #{MODIFIED_BY},
      </if>
      <if test="DATE_AUTHORISED != null" >
        DATE_AUTHORISED = #{DATE_AUTHORISED},
      </if>
      <if test="AUTHORISED_BY != null" >
        AUTHORISED_BY = #{AUTHORISED_BY},
      </if>
      <if test="TYPE != null" >
        TYPE = #{TYPE},
      </if>
      <if test="AMOUNT_CY != null" >
        <choose >
          <when test="AMOUNT_CY == emptyBigDecimalValue" >
            AMOUNT_CY = NULL ,
          </when>
          <otherwise >
            AMOUNT_CY = #{AMOUNT_CY},
          </otherwise>
        </choose>
      </if>
      <if test="AMOUNT != null" >
        <choose >
          <when test="AMOUNT == emptyBigDecimalValue" >
            AMOUNT = NULL ,
          </when>
          <otherwise >
            AMOUNT = #{AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="GROUP_ID != null" >
        GROUP_ID = #{GROUP_ID},
      </if>
      <if test="TO_BE_STATUS != null" >
        TO_BE_STATUS = #{TO_BE_STATUS},
      </if>
      <if test="DEFAULT_PHOTO != null" >
        <choose >
          <when test="DEFAULT_PHOTO == emptyBigDecimalValue" >
            DEFAULT_PHOTO = NULL ,
          </when>
          <otherwise >
            DEFAULT_PHOTO = #{DEFAULT_PHOTO},
          </otherwise>
        </choose>
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED = #{DATE_DELETED},
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY = #{DELETED_BY},
      </if>
      <if test="SIGN_PROTECTED_YN != null" >
        SIGN_PROTECTED_YN = #{SIGN_PROTECTED_YN},
      </if>
      <if test="AUTH_CIF_NO != null" >
          <choose >
          <when test="AUTH_CIF_NO == emptyBigDecimalValue" >
            AUTH_CIF_NO = NULL ,
          </when>
          <otherwise >
            AUTH_CIF_NO = #{AUTH_CIF_NO},
          </otherwise>
          </choose>
      </if>      
    </set>
    where ACC_CIF = #{ACC_CIF}
      and ACC_CY = #{ACC_CY}
      and ACC_GL = #{ACC_GL}
      and ACC_SL = #{ACC_SL}
      and BRANCH_CODE = #{BRANCH_CODE}
      and CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and OBJECT_SEQ = #{OBJECT_SEQ}
  </sql>
  <update id="updateCIFOBJECT" parameterType="com.path.dbmaps.vo.CIFOBJECTVO" >
    <include refid="sql_updateCIFOBJECT" />
  </update>
</mapper>