<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="COUNTRIES_REGION" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.COUNTRIES_REGIONVO" >
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="COUNTRY_CODE" property="COUNTRY_CODE" />
    <id column="REGION_CODE" property="REGION_CODE" />
    <result column="BRIEF_DESC_ENG" property="BRIEF_DESC_ENG" />
    <result column="BRIEF_DESC_ARAB" property="BRIEF_DESC_ARAB" />
    <result column="LONG_DESC_ENG" property="LONG_DESC_ENG" />
    <result column="LONG_DESC_ARAB" property="LONG_DESC_ARAB" />
    <result column="ADDITIONAL_REFERENCE" property="ADDITIONAL_REFERENCE" />
    <result column="ISSUE_PLACE" property="ISSUE_PLACE" />
    <result column="FETCH_KEY" property="FETCH_KEY" />
    <result column="TELEPHONE_CODE" property="TELEPHONE_CODE" />
  </resultMap>
  <sql id="Base_Column_List" >
    COMP_CODE, COUNTRY_CODE, REGION_CODE, BRIEF_DESC_ENG, BRIEF_DESC_ARAB, LONG_DESC_ENG, 
    LONG_DESC_ARAB, ADDITIONAL_REFERENCE, ISSUE_PLACE, FETCH_KEY, TELEPHONE_CODE
  </sql>
  <select id="selectCOUNTRIES_REGION" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.COUNTRIES_REGIONVOKey" >
    select 
    <include refid="Base_Column_List" />
    from COUNTRIES_REGION
    where COMP_CODE = #{COMP_CODE}
      and COUNTRY_CODE = #{COUNTRY_CODE}
      and REGION_CODE = #{REGION_CODE}
  </select>
  <delete id="deleteCOUNTRIES_REGION" parameterType="com.path.dbmaps.vo.COUNTRIES_REGIONVOKey" >
    delete from COUNTRIES_REGION
    where COMP_CODE = #{COMP_CODE}
      and COUNTRY_CODE = #{COUNTRY_CODE}
      and REGION_CODE = #{REGION_CODE}
  </delete>
  <insert id="insertCOUNTRIES_REGION" parameterType="com.path.dbmaps.vo.COUNTRIES_REGIONVO" >
    insert into COUNTRIES_REGION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="COUNTRY_CODE != null and COUNTRY_CODE != emptyBigDecimalValue" >
        COUNTRY_CODE,
      </if>
      <if test="REGION_CODE != null and REGION_CODE != emptyBigDecimalValue" >
        REGION_CODE,
      </if>
      <if test="BRIEF_DESC_ENG != null" >
        BRIEF_DESC_ENG,
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        BRIEF_DESC_ARAB,
      </if>
      <if test="LONG_DESC_ENG != null" >
        LONG_DESC_ENG,
      </if>
      <if test="LONG_DESC_ARAB != null" >
        LONG_DESC_ARAB,
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        ADDITIONAL_REFERENCE,
      </if>
      <if test="ISSUE_PLACE != null" >
        ISSUE_PLACE,
      </if>
      <if test="FETCH_KEY != null" >
        FETCH_KEY,
      </if>
      <if test="TELEPHONE_CODE != null" >
        TELEPHONE_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="COUNTRY_CODE != null and COUNTRY_CODE != emptyBigDecimalValue" >
        #{COUNTRY_CODE},
      </if>
      <if test="REGION_CODE != null and REGION_CODE != emptyBigDecimalValue" >
        #{REGION_CODE},
      </if>
      <if test="BRIEF_DESC_ENG != null" >
        #{BRIEF_DESC_ENG},
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        #{BRIEF_DESC_ARAB},
      </if>
      <if test="LONG_DESC_ENG != null" >
        #{LONG_DESC_ENG},
      </if>
      <if test="LONG_DESC_ARAB != null" >
        #{LONG_DESC_ARAB},
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        #{ADDITIONAL_REFERENCE},
      </if>
      <if test="ISSUE_PLACE != null" >
        #{ISSUE_PLACE},
      </if>
      <if test="FETCH_KEY != null" >
        #{FETCH_KEY},
      </if>
      <if test="TELEPHONE_CODE != null" >
        #{TELEPHONE_CODE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCOUNTRIES_REGION" >
    update COUNTRIES_REGION
    <set >
      <if test="BRIEF_DESC_ENG != null" >
        BRIEF_DESC_ENG = #{BRIEF_DESC_ENG},
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        BRIEF_DESC_ARAB = #{BRIEF_DESC_ARAB},
      </if>
      <if test="LONG_DESC_ENG != null" >
        LONG_DESC_ENG = #{LONG_DESC_ENG},
      </if>
      <if test="LONG_DESC_ARAB != null" >
        LONG_DESC_ARAB = #{LONG_DESC_ARAB},
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        ADDITIONAL_REFERENCE = #{ADDITIONAL_REFERENCE},
      </if>
      <if test="ISSUE_PLACE != null" >
        ISSUE_PLACE = #{ISSUE_PLACE},
      </if>
      <if test="FETCH_KEY != null" >
        FETCH_KEY = #{FETCH_KEY},
      </if>
      <if test="TELEPHONE_CODE != null" >
        TELEPHONE_CODE = #{TELEPHONE_CODE},
      </if>
    </set>
    where COMP_CODE = #{COMP_CODE}
      and COUNTRY_CODE = #{COUNTRY_CODE}
      and REGION_CODE = #{REGION_CODE}
  </sql>
  <update id="updateCOUNTRIES_REGION" parameterType="com.path.dbmaps.vo.COUNTRIES_REGIONVO" >
    <include refid="sql_updateCOUNTRIES_REGION" />
  </update>
</mapper>