<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="COUNTRIES_LIMIT_CIF_TRS" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.COUNTRIES_LIMIT_CIF_TRSVO" >
    <id column="CIF" property="CIF" />
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="COUNTRY_CODE" property="COUNTRY_CODE" />
    <result column="STATUS" property="STATUS" />
    <result column="TRS_CURRENCY" property="TRS_CURRENCY" />
    <result column="TRS_AMOUNT_FC" property="TRS_AMOUNT_FC" />
    <result column="TRS_CROSSMULTDIV" property="TRS_CROSSMULTDIV" />
    <result column="DATE_CREATED" property="DATE_CREATED" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="DATE_MODIFIED" property="DATE_MODIFIED" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="DATE_APPROVED" property="DATE_APPROVED" />
    <result column="APPROVED_BY" property="APPROVED_BY" />
    <result column="DATE_DELETED" property="DATE_DELETED" />
    <result column="DELETED_BY" property="DELETED_BY" />
    <result column="DATE_CANCELED" property="DATE_CANCELED" />
    <result column="CANCELED_BY" property="CANCELED_BY" />
    <result column="DATE_REVERSED" property="DATE_REVERSED" />
    <result column="REVERSED_BY" property="REVERSED_BY" />
    <result column="CLOSED_BY" property="CLOSED_BY" />
    <result column="DATE_CLOSED" property="DATE_CLOSED" />
    <result column="CLOSED_REVERSE_BY" property="CLOSED_REVERSE_BY" />
    <result column="DATE_CLOSED_REVERSE" property="DATE_CLOSED_REVERSE" />
  </resultMap>
  <sql id="Base_Column_List" >
    CIF, CODE, COMP_CODE, COUNTRY_CODE, STATUS, TRS_CURRENCY, TRS_AMOUNT_FC, TRS_CROSSMULTDIV, 
    DATE_CREATED, CREATED_BY, DATE_MODIFIED, MODIFIED_BY, DATE_APPROVED, APPROVED_BY, 
    DATE_DELETED, DELETED_BY, DATE_CANCELED, CANCELED_BY, DATE_REVERSED, REVERSED_BY, 
    CLOSED_BY, DATE_CLOSED, CLOSED_REVERSE_BY, DATE_CLOSED_REVERSE
  </sql>
  <select id="selectCOUNTRIES_LIMIT_CIF_TRS" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.COUNTRIES_LIMIT_CIF_TRSVO" >
    select 
    <include refid="Base_Column_List" />
    from COUNTRIES_LIMIT_CIF_TRS
    where CIF = #{CIF}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and COUNTRY_CODE = #{COUNTRY_CODE}
  </select>
  <delete id="deleteCOUNTRIES_LIMIT_CIF_TRS" parameterType="com.path.dbmaps.vo.COUNTRIES_LIMIT_CIF_TRSVO" >
    delete from COUNTRIES_LIMIT_CIF_TRS
    where CIF = #{CIF}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and COUNTRY_CODE = #{COUNTRY_CODE}
  </delete>
  <insert id="insertCOUNTRIES_LIMIT_CIF_TRS" parameterType="com.path.dbmaps.vo.COUNTRIES_LIMIT_CIF_TRSVO" >
    insert into COUNTRIES_LIMIT_CIF_TRS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CIF != null and CIF != emptyBigDecimalValue" >
        CIF,
      </if>
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="COUNTRY_CODE != null and COUNTRY_CODE != emptyBigDecimalValue" >
        COUNTRY_CODE,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="TRS_CURRENCY != null and TRS_CURRENCY != emptyBigDecimalValue" >
        TRS_CURRENCY,
      </if>
      <if test="TRS_AMOUNT_FC != null and TRS_AMOUNT_FC != emptyBigDecimalValue" >
        TRS_AMOUNT_FC,
      </if>
      <if test="TRS_CROSSMULTDIV != null" >
        TRS_CROSSMULTDIV,
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED,
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY,
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED,
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY,
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED,
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY,
      </if>
      <if test="DATE_CANCELED != null" >
        DATE_CANCELED,
      </if>
      <if test="CANCELED_BY != null" >
        CANCELED_BY,
      </if>
      <if test="DATE_REVERSED != null" >
        DATE_REVERSED,
      </if>
      <if test="REVERSED_BY != null" >
        REVERSED_BY,
      </if>
      <if test="CLOSED_BY != null" >
        CLOSED_BY,
      </if>
      <if test="DATE_CLOSED != null" >
        DATE_CLOSED,
      </if>
      <if test="CLOSED_REVERSE_BY != null" >
        CLOSED_REVERSE_BY,
      </if>
      <if test="DATE_CLOSED_REVERSE != null" >
        DATE_CLOSED_REVERSE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CIF != null and CIF != emptyBigDecimalValue" >
        #{CIF},
      </if>
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        #{CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="COUNTRY_CODE != null and COUNTRY_CODE != emptyBigDecimalValue" >
        #{COUNTRY_CODE},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="TRS_CURRENCY != null and TRS_CURRENCY != emptyBigDecimalValue" >
        #{TRS_CURRENCY},
      </if>
      <if test="TRS_AMOUNT_FC != null and TRS_AMOUNT_FC != emptyBigDecimalValue" >
        #{TRS_AMOUNT_FC},
      </if>
      <if test="TRS_CROSSMULTDIV != null" >
        #{TRS_CROSSMULTDIV},
      </if>
      <if test="DATE_CREATED != null" >
        #{DATE_CREATED},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        #{DATE_MODIFIED},
      </if>
      <if test="MODIFIED_BY != null" >
        #{MODIFIED_BY},
      </if>
      <if test="DATE_APPROVED != null" >
        #{DATE_APPROVED},
      </if>
      <if test="APPROVED_BY != null" >
        #{APPROVED_BY},
      </if>
      <if test="DATE_DELETED != null" >
        #{DATE_DELETED},
      </if>
      <if test="DELETED_BY != null" >
        #{DELETED_BY},
      </if>
      <if test="DATE_CANCELED != null" >
        #{DATE_CANCELED},
      </if>
      <if test="CANCELED_BY != null" >
        #{CANCELED_BY},
      </if>
      <if test="DATE_REVERSED != null" >
        #{DATE_REVERSED},
      </if>
      <if test="REVERSED_BY != null" >
        #{REVERSED_BY},
      </if>
      <if test="CLOSED_BY != null" >
        #{CLOSED_BY},
      </if>
      <if test="DATE_CLOSED != null" >
        #{DATE_CLOSED},
      </if>
      <if test="CLOSED_REVERSE_BY != null" >
        #{CLOSED_REVERSE_BY},
      </if>
      <if test="DATE_CLOSED_REVERSE != null" >
        #{DATE_CLOSED_REVERSE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCOUNTRIES_LIMIT_CIF_TRS" >
    update COUNTRIES_LIMIT_CIF_TRS
    <set >
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="TRS_CURRENCY != null" >
        <choose >
          <when test="TRS_CURRENCY == emptyBigDecimalValue" >
            TRS_CURRENCY = NULL ,
          </when>
          <otherwise >
            TRS_CURRENCY = #{TRS_CURRENCY},
          </otherwise>
        </choose>
      </if>
      <if test="TRS_AMOUNT_FC != null" >
        <choose >
          <when test="TRS_AMOUNT_FC == emptyBigDecimalValue" >
            TRS_AMOUNT_FC = NULL ,
          </when>
          <otherwise >
            TRS_AMOUNT_FC = #{TRS_AMOUNT_FC},
          </otherwise>
        </choose>
      </if>
      <if test="TRS_CROSSMULTDIV != null" >
        TRS_CROSSMULTDIV = #{TRS_CROSSMULTDIV},
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED = #{DATE_CREATED},
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED = #{DATE_MODIFIED},
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY = #{MODIFIED_BY},
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED = #{DATE_APPROVED},
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY = #{APPROVED_BY},
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED = #{DATE_DELETED},
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY = #{DELETED_BY},
      </if>
      <if test="DATE_CANCELED != null" >
        DATE_CANCELED = #{DATE_CANCELED},
      </if>
      <if test="CANCELED_BY != null" >
        CANCELED_BY = #{CANCELED_BY},
      </if>
      <if test="DATE_REVERSED != null" >
        DATE_REVERSED = #{DATE_REVERSED},
      </if>
      <if test="REVERSED_BY != null" >
        REVERSED_BY = #{REVERSED_BY},
      </if>
      <if test="CLOSED_BY != null" >
        CLOSED_BY = #{CLOSED_BY},
      </if>
      <if test="DATE_CLOSED != null" >
        DATE_CLOSED = #{DATE_CLOSED},
      </if>
      <if test="CLOSED_REVERSE_BY != null" >
        CLOSED_REVERSE_BY = #{CLOSED_REVERSE_BY},
      </if>
      <if test="DATE_CLOSED_REVERSE != null" >
        DATE_CLOSED_REVERSE = #{DATE_CLOSED_REVERSE},
      </if>
    </set>
    where CIF = #{CIF}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and COUNTRY_CODE = #{COUNTRY_CODE}
  </sql>
  <update id="updateCOUNTRIES_LIMIT_CIF_TRS" parameterType="com.path.dbmaps.vo.COUNTRIES_LIMIT_CIF_TRSVO" >
    <include refid="sql_updateCOUNTRIES_LIMIT_CIF_TRS" />
  </update>
</mapper>