<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="COUNTRY_CALENDAR" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.COUNTRY_CALENDARVO" >
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="COUNTRY_CODE" property="COUNTRY_CODE" />
    <result column="HOL1" property="HOL1" />
    <result column="HOL2" property="HOL2" />
    <result column="HOL3" property="HOL3" />
    <result column="HOL4" property="HOL4" />
  </resultMap>
  <sql id="Base_Column_List" >
    COMP_CODE, COUNTRY_CODE, HOL1, HOL2, HOL3, HOL4
  </sql>
  <select id="selectCOUNTRY_CALENDAR" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.COUNTRY_CALENDARVOKey" >
    select 
    <include refid="Base_Column_List" />
    from COUNTRY_CALENDAR
    where COMP_CODE = #{COMP_CODE}
      and COUNTRY_CODE = #{COUNTRY_CODE}
  </select>
  <delete id="deleteCOUNTRY_CALENDAR" parameterType="com.path.dbmaps.vo.COUNTRY_CALENDARVOKey" >
    delete from COUNTRY_CALENDAR
    where COMP_CODE = #{COMP_CODE}
      and COUNTRY_CODE = #{COUNTRY_CODE}
  </delete>
  <insert id="insertCOUNTRY_CALENDAR" parameterType="com.path.dbmaps.vo.COUNTRY_CALENDARVO" >
    insert into COUNTRY_CALENDAR
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="COUNTRY_CODE != null and COUNTRY_CODE != emptyBigDecimalValue" >
        COUNTRY_CODE,
      </if>
      <if test="HOL1 != null" >
        HOL1,
      </if>
      <if test="HOL2 != null" >
        HOL2,
      </if>
      <if test="HOL3 != null" >
        HOL3,
      </if>
      <if test="HOL4 != null" >
        HOL4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="COUNTRY_CODE != null and COUNTRY_CODE != emptyBigDecimalValue" >
        #{COUNTRY_CODE},
      </if>
      <if test="HOL1 != null" >
        #{HOL1},
      </if>
      <if test="HOL2 != null" >
        #{HOL2},
      </if>
      <if test="HOL3 != null" >
        #{HOL3},
      </if>
      <if test="HOL4 != null" >
        #{HOL4},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCOUNTRY_CALENDAR" >
    update COUNTRY_CALENDAR
    <set >
      <if test="HOL1 != null" >
        HOL1 = #{HOL1},
      </if>
      <if test="HOL2 != null" >
        HOL2 = #{HOL2},
      </if>
      <if test="HOL3 != null" >
        HOL3 = #{HOL3},
      </if>
      <if test="HOL4 != null" >
        HOL4 = #{HOL4},
      </if>
    </set>
    where COMP_CODE = #{COMP_CODE}
      and COUNTRY_CODE = #{COUNTRY_CODE}
  </sql>
  <update id="updateCOUNTRY_CALENDAR" parameterType="com.path.dbmaps.vo.COUNTRY_CALENDARVO" >
    <include refid="sql_updateCOUNTRY_CALENDAR" />
  </update>
</mapper>