<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="COUNTRIES" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.COUNTRIESVO" >
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="COUNTRY_CODE" property="COUNTRY_CODE" />
    <result column="BRIEF_DESC_ENG" property="BRIEF_DESC_ENG" />
    <result column="BRIEF_DESC_ARAB" property="BRIEF_DESC_ARAB" />
    <result column="LONG_DESC_ENG" property="LONG_DESC_ENG" />
    <result column="LONG_DESC_ARAB" property="LONG_DESC_ARAB" />
    <result column="SS_IND" property="SS_IND" />
    <result column="LIMIT" property="LIMIT" />
    <result column="CONTINENT" property="CONTINENT" />
    <result column="COUNTRY_RATING" property="COUNTRY_RATING" />
    <result column="LOCALITE" property="LOCALITE" />
    <result column="ADDITIONAL_REFERENCE" property="ADDITIONAL_REFERENCE" />
    <result column="CREDIT_RATING" property="CREDIT_RATING" />
    <result column="TELEPHONE_CODE" property="TELEPHONE_CODE" />
    <result column="TELEPHONE_FORMAT" property="TELEPHONE_FORMAT" />
    <result column="ISO_COUNTRY" property="ISO_COUNTRY" />
    <result column="MINOR_AGE" property="MINOR_AGE" />
    <result column="SS_CODE" property="SS_CODE" />
    <result column="UNEMPLOYMENT_IND" property="UNEMPLOYMENT_IND" />
    <result column="UNEMPLOYMENT_CODE" property="UNEMPLOYMENT_CODE" />
    <result column="INDEMNITY_IND" property="INDEMNITY_IND" />
    <result column="BLACK_LISTED" property="BLACK_LISTED" />
    <result column="DOUBTFULL" property="DOUBTFULL" />
    <result column="IBAN_VALIDATION" property="IBAN_VALIDATION" />
    <result column="IBAN_LENGTH" property="IBAN_LENGTH" />
    <result column="CORR_LIMIT_CY" property="CORR_LIMIT_CY" />
    <result column="CORR_LIMIT_FC" property="CORR_LIMIT_FC" />
    <result column="IBAN_CUR" property="IBAN_CUR" />
    <result column="CURRENCY_CODE" property="CURRENCY_CODE" />
    <result column="HOME_CY" property="HOME_CY" />
    <result column="APPLY_FATCA_YN" property="APPLY_FATCA_YN" />
    <result column="BANK_CODE_POSITION_FROM" property="BANK_CODE_POSITION_FROM" />
    <result column="BANK_CODE_POSITION_TO" property="BANK_CODE_POSITION_TO" />
     <result column="INTER_GOV_AGREEMENT_YN" property="INTER_GOV_AGREEMENT_YN" />
  </resultMap>
  <sql id="Base_Column_List" >
    COMP_CODE, COUNTRY_CODE, BRIEF_DESC_ENG, BRIEF_DESC_ARAB, LONG_DESC_ENG, LONG_DESC_ARAB, 
    SS_IND, LIMIT, CONTINENT, COUNTRY_RATING, LOCALITE, ADDITIONAL_REFERENCE, CREDIT_RATING, 
    TELEPHONE_CODE, TELEPHONE_FORMAT, ISO_COUNTRY, MINOR_AGE, SS_CODE, UNEMPLOYMENT_IND, 
    UNEMPLOYMENT_CODE, INDEMNITY_IND, BLACK_LISTED, DOUBTFULL, IBAN_VALIDATION, IBAN_LENGTH, 
    CORR_LIMIT_CY, CORR_LIMIT_FC, IBAN_CUR, CURRENCY_CODE, HOME_CY, APPLY_FATCA_YN, BANK_CODE_POSITION_FROM, 
    BANK_CODE_POSITION_TO,INTER_GOV_AGREEMENT_YN
  </sql>
  <select id="selectCOUNTRIES" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.COUNTRIESVOKey" >
    select 
    <include refid="Base_Column_List" />
    from COUNTRIES
    where COMP_CODE = #{COMP_CODE}
      and COUNTRY_CODE = #{COUNTRY_CODE}
  </select>
  <delete id="deleteCOUNTRIES" parameterType="com.path.dbmaps.vo.COUNTRIESVOKey" >
    delete from COUNTRIES
    where COMP_CODE = #{COMP_CODE}
      and COUNTRY_CODE = #{COUNTRY_CODE}
  </delete>
  <insert id="insertCOUNTRIES" parameterType="com.path.dbmaps.vo.COUNTRIESVO" >
    insert into COUNTRIES
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="COUNTRY_CODE != null and COUNTRY_CODE != emptyBigDecimalValue" >
        COUNTRY_CODE,
      </if>
      <if test="BRIEF_DESC_ENG != null" >
        BRIEF_DESC_ENG,
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        BRIEF_DESC_ARAB,
      </if>
      <if test="LONG_DESC_ENG != null" >
        LONG_DESC_ENG,
      </if>
      <if test="LONG_DESC_ARAB != null" >
        LONG_DESC_ARAB,
      </if>
      <if test="SS_IND != null" >
        SS_IND,
      </if>
      <if test="LIMIT != null and LIMIT != emptyBigDecimalValue" >
        LIMIT,
      </if>
      <if test="CONTINENT != null and CONTINENT != emptyBigDecimalValue" >
        CONTINENT,
      </if>
      <if test="COUNTRY_RATING != null" >
        COUNTRY_RATING,
      </if>
      <if test="LOCALITE != null" >
        LOCALITE,
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        ADDITIONAL_REFERENCE,
      </if>
      <if test="CREDIT_RATING != null and CREDIT_RATING != emptyBigDecimalValue" >
        CREDIT_RATING,
      </if>
      <if test="TELEPHONE_CODE != null and TELEPHONE_CODE != emptyBigDecimalValue" >
        TELEPHONE_CODE,
      </if>
      <if test="TELEPHONE_FORMAT != null" >
        TELEPHONE_FORMAT,
      </if>
      <if test="ISO_COUNTRY != null" >
        ISO_COUNTRY,
      </if>
      <if test="MINOR_AGE != null and MINOR_AGE != emptyBigDecimalValue" >
        MINOR_AGE,
      </if>
      <if test="SS_CODE != null and SS_CODE != emptyBigDecimalValue" >
        SS_CODE,
      </if>
      <if test="UNEMPLOYMENT_IND != null" >
        UNEMPLOYMENT_IND,
      </if>
      <if test="UNEMPLOYMENT_CODE != null and UNEMPLOYMENT_CODE != emptyBigDecimalValue" >
        UNEMPLOYMENT_CODE,
      </if>
      <if test="INDEMNITY_IND != null" >
        INDEMNITY_IND,
      </if>
      <if test="BLACK_LISTED != null and BLACK_LISTED != emptyBigDecimalValue" >
        BLACK_LISTED,
      </if>
      <if test="DOUBTFULL != null" >
        DOUBTFULL,
      </if>
      <if test="IBAN_VALIDATION != null" >
        IBAN_VALIDATION,
      </if>
      <if test="IBAN_LENGTH != null and IBAN_LENGTH != emptyBigDecimalValue" >
        IBAN_LENGTH,
      </if>
      <if test="CORR_LIMIT_CY != null and CORR_LIMIT_CY != emptyBigDecimalValue" >
        CORR_LIMIT_CY,
      </if>
      <if test="CORR_LIMIT_FC != null and CORR_LIMIT_FC != emptyBigDecimalValue" >
        CORR_LIMIT_FC,
      </if>
      <if test="IBAN_CUR != null and IBAN_CUR != emptyBigDecimalValue" >
        IBAN_CUR,
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        CURRENCY_CODE,
      </if>
      <if test="HOME_CY != null and HOME_CY != emptyBigDecimalValue" >
        HOME_CY,
      </if>
      <if test="APPLY_FATCA_YN != null" >
        APPLY_FATCA_YN,
      </if>
      <if test="BANK_CODE_POSITION_FROM != null and BANK_CODE_POSITION_FROM != emptyBigDecimalValue" >
        BANK_CODE_POSITION_FROM,
      </if>
      <if test="BANK_CODE_POSITION_TO != null and BANK_CODE_POSITION_TO != emptyBigDecimalValue" >
        BANK_CODE_POSITION_TO,
      </if>
       <if test="INTER_GOV_AGREEMENT_YN != null" >
        INTER_GOV_AGREEMENT_YN,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="COUNTRY_CODE != null and COUNTRY_CODE != emptyBigDecimalValue" >
        #{COUNTRY_CODE},
      </if>
      <if test="BRIEF_DESC_ENG != null" >
        #{BRIEF_DESC_ENG},
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        #{BRIEF_DESC_ARAB},
      </if>
      <if test="LONG_DESC_ENG != null" >
        #{LONG_DESC_ENG},
      </if>
      <if test="LONG_DESC_ARAB != null" >
        #{LONG_DESC_ARAB},
      </if>
      <if test="SS_IND != null" >
        #{SS_IND},
      </if>
      <if test="LIMIT != null and LIMIT != emptyBigDecimalValue" >
        #{LIMIT},
      </if>
      <if test="CONTINENT != null and CONTINENT != emptyBigDecimalValue" >
        #{CONTINENT},
      </if>
      <if test="COUNTRY_RATING != null" >
        #{COUNTRY_RATING},
      </if>
      <if test="LOCALITE != null" >
        #{LOCALITE},
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        #{ADDITIONAL_REFERENCE},
      </if>
      <if test="CREDIT_RATING != null and CREDIT_RATING != emptyBigDecimalValue" >
        #{CREDIT_RATING},
      </if>
      <if test="TELEPHONE_CODE != null and TELEPHONE_CODE != emptyBigDecimalValue" >
        #{TELEPHONE_CODE},
      </if>
      <if test="TELEPHONE_FORMAT != null" >
        #{TELEPHONE_FORMAT},
      </if>
      <if test="ISO_COUNTRY != null" >
        #{ISO_COUNTRY},
      </if>
      <if test="MINOR_AGE != null and MINOR_AGE != emptyBigDecimalValue" >
        #{MINOR_AGE},
      </if>
      <if test="SS_CODE != null and SS_CODE != emptyBigDecimalValue" >
        #{SS_CODE},
      </if>
      <if test="UNEMPLOYMENT_IND != null" >
        #{UNEMPLOYMENT_IND},
      </if>
      <if test="UNEMPLOYMENT_CODE != null and UNEMPLOYMENT_CODE != emptyBigDecimalValue" >
        #{UNEMPLOYMENT_CODE},
      </if>
      <if test="INDEMNITY_IND != null" >
        #{INDEMNITY_IND},
      </if>
      <if test="BLACK_LISTED != null and BLACK_LISTED != emptyBigDecimalValue" >
        #{BLACK_LISTED},
      </if>
      <if test="DOUBTFULL != null" >
        #{DOUBTFULL},
      </if>
      <if test="IBAN_VALIDATION != null" >
        #{IBAN_VALIDATION},
      </if>
      <if test="IBAN_LENGTH != null and IBAN_LENGTH != emptyBigDecimalValue" >
        #{IBAN_LENGTH},
      </if>
      <if test="CORR_LIMIT_CY != null and CORR_LIMIT_CY != emptyBigDecimalValue" >
        #{CORR_LIMIT_CY},
      </if>
      <if test="CORR_LIMIT_FC != null and CORR_LIMIT_FC != emptyBigDecimalValue" >
        #{CORR_LIMIT_FC},
      </if>
      <if test="IBAN_CUR != null and IBAN_CUR != emptyBigDecimalValue" >
        #{IBAN_CUR},
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        #{CURRENCY_CODE},
      </if>
      <if test="HOME_CY != null and HOME_CY != emptyBigDecimalValue" >
        #{HOME_CY},
      </if>
      <if test="APPLY_FATCA_YN != null" >
        #{APPLY_FATCA_YN},
      </if>
      <if test="BANK_CODE_POSITION_FROM != null and BANK_CODE_POSITION_FROM != emptyBigDecimalValue" >
        #{BANK_CODE_POSITION_FROM},
      </if>
      <if test="BANK_CODE_POSITION_TO != null and BANK_CODE_POSITION_TO != emptyBigDecimalValue" >
        #{BANK_CODE_POSITION_TO},
      </if>
      <if test="INTER_GOV_AGREEMENT_YN != null" >
        #{INTER_GOV_AGREEMENT_YN},
      </if>
      
    </trim>
  </insert>
  <sql id="sql_updateCOUNTRIES" >
    update COUNTRIES
    <set >
      <if test="BRIEF_DESC_ENG != null" >
        BRIEF_DESC_ENG = #{BRIEF_DESC_ENG},
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        BRIEF_DESC_ARAB = #{BRIEF_DESC_ARAB},
      </if>
      <if test="LONG_DESC_ENG != null" >
        LONG_DESC_ENG = #{LONG_DESC_ENG},
      </if>
      <if test="LONG_DESC_ARAB != null" >
        LONG_DESC_ARAB = #{LONG_DESC_ARAB},
      </if>
      <if test="SS_IND != null" >
        SS_IND = #{SS_IND},
      </if>
      <if test="LIMIT != null" >
        <choose >
          <when test="LIMIT == emptyBigDecimalValue" >
            LIMIT = NULL ,
          </when>
          <otherwise >
            LIMIT = #{LIMIT},
          </otherwise>
        </choose>
      </if>
      <if test="CONTINENT != null" >
        <choose >
          <when test="CONTINENT == emptyBigDecimalValue" >
            CONTINENT = NULL ,
          </when>
          <otherwise >
            CONTINENT = #{CONTINENT},
          </otherwise>
        </choose>
      </if>
      <if test="COUNTRY_RATING != null" >
        COUNTRY_RATING = #{COUNTRY_RATING},
      </if>
      <if test="LOCALITE != null" >
        LOCALITE = #{LOCALITE},
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        ADDITIONAL_REFERENCE = #{ADDITIONAL_REFERENCE},
      </if>
      <if test="CREDIT_RATING != null" >
        <choose >
          <when test="CREDIT_RATING == emptyBigDecimalValue" >
            CREDIT_RATING = NULL ,
          </when>
          <otherwise >
            CREDIT_RATING = #{CREDIT_RATING},
          </otherwise>
        </choose>
      </if>
      <if test="TELEPHONE_CODE != null" >
        <choose >
          <when test="TELEPHONE_CODE == emptyBigDecimalValue" >
            TELEPHONE_CODE = NULL ,
          </when>
          <otherwise >
            TELEPHONE_CODE = #{TELEPHONE_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="TELEPHONE_FORMAT != null" >
        TELEPHONE_FORMAT = #{TELEPHONE_FORMAT},
      </if>
      <if test="ISO_COUNTRY != null" >
        ISO_COUNTRY = #{ISO_COUNTRY},
      </if>
      <if test="MINOR_AGE != null" >
        <choose >
          <when test="MINOR_AGE == emptyBigDecimalValue" >
            MINOR_AGE = NULL ,
          </when>
          <otherwise >
            MINOR_AGE = #{MINOR_AGE},
          </otherwise>
        </choose>
      </if>
      <if test="SS_CODE != null" >
        <choose >
          <when test="SS_CODE == emptyBigDecimalValue" >
            SS_CODE = NULL ,
          </when>
          <otherwise >
            SS_CODE = #{SS_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="UNEMPLOYMENT_IND != null" >
        UNEMPLOYMENT_IND = #{UNEMPLOYMENT_IND},
      </if>
      <if test="UNEMPLOYMENT_CODE != null" >
        <choose >
          <when test="UNEMPLOYMENT_CODE == emptyBigDecimalValue" >
            UNEMPLOYMENT_CODE = NULL ,
          </when>
          <otherwise >
            UNEMPLOYMENT_CODE = #{UNEMPLOYMENT_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="INDEMNITY_IND != null" >
        INDEMNITY_IND = #{INDEMNITY_IND},
      </if>
      <if test="BLACK_LISTED != null" >
        <choose >
          <when test="BLACK_LISTED == emptyBigDecimalValue" >
            BLACK_LISTED = NULL ,
          </when>
          <otherwise >
            BLACK_LISTED = #{BLACK_LISTED},
          </otherwise>
        </choose>
      </if>
      <if test="DOUBTFULL != null" >
        DOUBTFULL = #{DOUBTFULL},
      </if>
      <if test="IBAN_VALIDATION != null" >
        IBAN_VALIDATION = #{IBAN_VALIDATION},
      </if>
      <if test="IBAN_LENGTH != null" >
        <choose >
          <when test="IBAN_LENGTH == emptyBigDecimalValue" >
            IBAN_LENGTH = NULL ,
          </when>
          <otherwise >
            IBAN_LENGTH = #{IBAN_LENGTH},
          </otherwise>
        </choose>
      </if>
      <if test="CORR_LIMIT_CY != null" >
        <choose >
          <when test="CORR_LIMIT_CY == emptyBigDecimalValue" >
            CORR_LIMIT_CY = NULL ,
          </when>
          <otherwise >
            CORR_LIMIT_CY = #{CORR_LIMIT_CY},
          </otherwise>
        </choose>
      </if>
      <if test="CORR_LIMIT_FC != null" >
        <choose >
          <when test="CORR_LIMIT_FC == emptyBigDecimalValue" >
            CORR_LIMIT_FC = NULL ,
          </when>
          <otherwise >
            CORR_LIMIT_FC = #{CORR_LIMIT_FC},
          </otherwise>
        </choose>
      </if>
      <if test="IBAN_CUR != null" >
        <choose >
          <when test="IBAN_CUR == emptyBigDecimalValue" >
            IBAN_CUR = NULL ,
          </when>
          <otherwise >
            IBAN_CUR = #{IBAN_CUR},
          </otherwise>
        </choose>
      </if>
      <if test="CURRENCY_CODE != null" >
        <choose >
          <when test="CURRENCY_CODE == emptyBigDecimalValue" >
            CURRENCY_CODE = NULL ,
          </when>
          <otherwise >
            CURRENCY_CODE = #{CURRENCY_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="HOME_CY != null" >
        <choose >
          <when test="HOME_CY == emptyBigDecimalValue" >
            HOME_CY = NULL ,
          </when>
          <otherwise >
            HOME_CY = #{HOME_CY},
          </otherwise>
        </choose>
      </if>
      <if test="APPLY_FATCA_YN != null" >
        APPLY_FATCA_YN = #{APPLY_FATCA_YN},
      </if>
      <if test="BANK_CODE_POSITION_FROM != null" >
        <choose >
          <when test="BANK_CODE_POSITION_FROM == emptyBigDecimalValue" >
            BANK_CODE_POSITION_FROM = NULL ,
          </when>
          <otherwise >
            BANK_CODE_POSITION_FROM = #{BANK_CODE_POSITION_FROM},
          </otherwise>
        </choose>
      </if>
      <if test="BANK_CODE_POSITION_TO != null" >
        <choose >
          <when test="BANK_CODE_POSITION_TO == emptyBigDecimalValue" >
            BANK_CODE_POSITION_TO = NULL ,
          </when>
          <otherwise >
            BANK_CODE_POSITION_TO = #{BANK_CODE_POSITION_TO},
          </otherwise>
        </choose>
      </if>
      <if test="INTER_GOV_AGREEMENT_YN != null" >
        INTER_GOV_AGREEMENT_YN = #{INTER_GOV_AGREEMENT_YN},
      </if>
      
    </set>
    where COMP_CODE = #{COMP_CODE}
      and COUNTRY_CODE = #{COUNTRY_CODE}
  </sql>
  <update id="updateCOUNTRIES" parameterType="com.path.dbmaps.vo.COUNTRIESVO" >
    <include refid="sql_updateCOUNTRIES" />
  </update>
</mapper>