<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="COUNTRY" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.COUNTRYVO" >
    <result column="COMP_CODE" property="COMP_CODE" />
    <result column="COUNTRY_CODE" property="COUNTRY_CODE" />
    <result column="BRIEF_DESC_ENG" property="BRIEF_DESC_ENG" />
    <result column="BRIEF_DESC_ARAB" property="BRIEF_DESC_ARAB" />
    <result column="LONG_DESC_ENG" property="LONG_DESC_ENG" />
    <result column="LONG_DESC_ARAB" property="LONG_DESC_ARAB" />
    <result column="SS_IND" property="SS_IND" />
    <result column="LIMIT" property="LIMIT" />
    <result column="CONTINENT" property="CONTINENT" />
    <result column="COUNTRY_RATING" property="COUNTRY_RATING" />
    <result column="LOCALITE" property="LOCALITE" />
    <result column="ADDITIONAL_REFERENCE" property="ADDITIONAL_REFERENCE" />
    <result column="CREDIT_RATING" property="CREDIT_RATING" />
    <result column="TELEPHONE_CODE" property="TELEPHONE_CODE" />
    <result column="TELEPHONE_FORMAT" property="TELEPHONE_FORMAT" />
    <result column="SS_CODE" property="SS_CODE" />
    <result column="UNEMPLOYMENT_IND" property="UNEMPLOYMENT_IND" />
    <result column="UNEMPLOYMENT_CODE" property="UNEMPLOYMENT_CODE" />
    <result column="INDEMNITY_IND" property="INDEMNITY_IND" />
  </resultMap>
  <insert id="insertCOUNTRY" parameterType="com.path.dbmaps.vo.COUNTRYVO" >
    insert into COUNTRY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="COUNTRY_CODE != null and COUNTRY_CODE != emptyBigDecimalValue" >
        COUNTRY_CODE,
      </if>
      <if test="BRIEF_DESC_ENG != null" >
        BRIEF_DESC_ENG,
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        BRIEF_DESC_ARAB,
      </if>
      <if test="LONG_DESC_ENG != null" >
        LONG_DESC_ENG,
      </if>
      <if test="LONG_DESC_ARAB != null" >
        LONG_DESC_ARAB,
      </if>
      <if test="SS_IND != null" >
        SS_IND,
      </if>
      <if test="LIMIT != null and LIMIT != emptyBigDecimalValue" >
        LIMIT,
      </if>
      <if test="CONTINENT != null and CONTINENT != emptyBigDecimalValue" >
        CONTINENT,
      </if>
      <if test="COUNTRY_RATING != null" >
        COUNTRY_RATING,
      </if>
      <if test="LOCALITE != null" >
        LOCALITE,
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        ADDITIONAL_REFERENCE,
      </if>
      <if test="CREDIT_RATING != null and CREDIT_RATING != emptyBigDecimalValue" >
        CREDIT_RATING,
      </if>
      <if test="TELEPHONE_CODE != null and TELEPHONE_CODE != emptyBigDecimalValue" >
        TELEPHONE_CODE,
      </if>
      <if test="TELEPHONE_FORMAT != null" >
        TELEPHONE_FORMAT,
      </if>
      <if test="SS_CODE != null and SS_CODE != emptyBigDecimalValue" >
        SS_CODE,
      </if>
      <if test="UNEMPLOYMENT_IND != null" >
        UNEMPLOYMENT_IND,
      </if>
      <if test="UNEMPLOYMENT_CODE != null and UNEMPLOYMENT_CODE != emptyBigDecimalValue" >
        UNEMPLOYMENT_CODE,
      </if>
      <if test="INDEMNITY_IND != null" >
        INDEMNITY_IND,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="COUNTRY_CODE != null and COUNTRY_CODE != emptyBigDecimalValue" >
        #{COUNTRY_CODE},
      </if>
      <if test="BRIEF_DESC_ENG != null" >
        #{BRIEF_DESC_ENG},
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        #{BRIEF_DESC_ARAB},
      </if>
      <if test="LONG_DESC_ENG != null" >
        #{LONG_DESC_ENG},
      </if>
      <if test="LONG_DESC_ARAB != null" >
        #{LONG_DESC_ARAB},
      </if>
      <if test="SS_IND != null" >
        #{SS_IND},
      </if>
      <if test="LIMIT != null and LIMIT != emptyBigDecimalValue" >
        #{LIMIT},
      </if>
      <if test="CONTINENT != null and CONTINENT != emptyBigDecimalValue" >
        #{CONTINENT},
      </if>
      <if test="COUNTRY_RATING != null" >
        #{COUNTRY_RATING},
      </if>
      <if test="LOCALITE != null" >
        #{LOCALITE},
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        #{ADDITIONAL_REFERENCE},
      </if>
      <if test="CREDIT_RATING != null and CREDIT_RATING != emptyBigDecimalValue" >
        #{CREDIT_RATING},
      </if>
      <if test="TELEPHONE_CODE != null and TELEPHONE_CODE != emptyBigDecimalValue" >
        #{TELEPHONE_CODE},
      </if>
      <if test="TELEPHONE_FORMAT != null" >
        #{TELEPHONE_FORMAT},
      </if>
      <if test="SS_CODE != null and SS_CODE != emptyBigDecimalValue" >
        #{SS_CODE},
      </if>
      <if test="UNEMPLOYMENT_IND != null" >
        #{UNEMPLOYMENT_IND},
      </if>
      <if test="UNEMPLOYMENT_CODE != null and UNEMPLOYMENT_CODE != emptyBigDecimalValue" >
        #{UNEMPLOYMENT_CODE},
      </if>
      <if test="INDEMNITY_IND != null" >
        #{INDEMNITY_IND},
      </if>
    </trim>
  </insert>
</mapper>