<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CRS03A" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CRS03AVO" >
    <result column="TII_COMP_CODE" property="TII_COMP_CODE" />
    <result column="TII_BRANCH_CODE" property="TII_BRANCH_CODE" />
    <result column="SERIAL_NO" property="SERIAL_NO" />
    <result column="REF_NO" property="REF_NO" />
    <result column="MATR_IND" property="MATR_IND" />
    <result column="MGMT_IND" property="MGMT_IND" />
    <result column="MODARIB_IND" property="MODARIB_IND" />
    <result column="GAIN_LOSS_PERCENT" property="GAIN_LOSS_PERCENT" />
    <result column="ISLAMIC_INTEGRATED" property="ISLAMIC_INTEGRATED" />
    <result column="DEBUG_MODE" property="DEBUG_MODE" />
    <result column="ROLLOVER_NO" property="ROLLOVER_NO" />
  </resultMap>
  <insert id="insertCRS03A" parameterType="com.path.dbmaps.vo.CRS03AVO" >
    insert into CRS03A
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="TII_COMP_CODE != null and TII_COMP_CODE != emptyBigDecimalValue" >
        TII_COMP_CODE,
      </if>
      <if test="TII_BRANCH_CODE != null and TII_BRANCH_CODE != emptyBigDecimalValue" >
        TII_BRANCH_CODE,
      </if>
      <if test="SERIAL_NO != null and SERIAL_NO != emptyBigDecimalValue" >
        SERIAL_NO,
      </if>
      <if test="REF_NO != null and REF_NO != emptyBigDecimalValue" >
        REF_NO,
      </if>
      <if test="MATR_IND != null" >
        MATR_IND,
      </if>
      <if test="MGMT_IND != null" >
        MGMT_IND,
      </if>
      <if test="MODARIB_IND != null" >
        MODARIB_IND,
      </if>
      <if test="GAIN_LOSS_PERCENT != null and GAIN_LOSS_PERCENT != emptyBigDecimalValue" >
        GAIN_LOSS_PERCENT,
      </if>
      <if test="ISLAMIC_INTEGRATED != null" >
        ISLAMIC_INTEGRATED,
      </if>
      <if test="DEBUG_MODE != null and DEBUG_MODE != emptyBigDecimalValue" >
        DEBUG_MODE,
      </if>
      <if test="ROLLOVER_NO != null and ROLLOVER_NO != emptyBigDecimalValue" >
        ROLLOVER_NO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="TII_COMP_CODE != null and TII_COMP_CODE != emptyBigDecimalValue" >
        #{TII_COMP_CODE},
      </if>
      <if test="TII_BRANCH_CODE != null and TII_BRANCH_CODE != emptyBigDecimalValue" >
        #{TII_BRANCH_CODE},
      </if>
      <if test="SERIAL_NO != null and SERIAL_NO != emptyBigDecimalValue" >
        #{SERIAL_NO},
      </if>
      <if test="REF_NO != null and REF_NO != emptyBigDecimalValue" >
        #{REF_NO},
      </if>
      <if test="MATR_IND != null" >
        #{MATR_IND},
      </if>
      <if test="MGMT_IND != null" >
        #{MGMT_IND},
      </if>
      <if test="MODARIB_IND != null" >
        #{MODARIB_IND},
      </if>
      <if test="GAIN_LOSS_PERCENT != null and GAIN_LOSS_PERCENT != emptyBigDecimalValue" >
        #{GAIN_LOSS_PERCENT},
      </if>
      <if test="ISLAMIC_INTEGRATED != null" >
        #{ISLAMIC_INTEGRATED},
      </if>
      <if test="DEBUG_MODE != null and DEBUG_MODE != emptyBigDecimalValue" >
        #{DEBUG_MODE},
      </if>
      <if test="ROLLOVER_NO != null and ROLLOVER_NO != emptyBigDecimalValue" >
        #{ROLLOVER_NO},
      </if>
    </trim>
  </insert>
</mapper>