<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTS_CHARGES_PARAM_TMP" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTS_CHARGES_PARAM_TMPVO" >
    <id column="BRANCH_CODE" 					property="BRANCH_CODE" />
    <id column="CHARGE_TYPE" 					property="CHARGE_TYPE" />
    <id column="COMP_CODE" 						property="COMP_CODE" />
    <id column="LINE_NO" 						property="LINE_NO" />
    <id column="USER_ID" 						property="USER_ID" />
    <result column="ACC_BR" 					property="ACC_BR" />
    <result column="ACC_CY" 					property="ACC_CY" />
    <result column="ACC_GL" 					property="ACC_GL" />
    <result column="ACC_CIF" 					property="ACC_CIF" />
    <result column="ACC_SL" 					property="ACC_SL" />
    <result column="ENTITY_TYPE" 				property="ENTITY_TYPE" />
    <result column="ENTITY_TYPE_CODE" 			property="ENTITY_TYPE_CODE" />
    <result column="SO_TYPE" 					property="SO_TYPE" />
    <result column="CHARGE_CODE" 				property="CHARGE_CODE" />
    <result column="CANCEL_CHARGES" 			property="CANCEL_CHARGES" />
    <result column="SUBMIT_CHARGES" 			property="SUBMIT_CHARGES" />
    <result column="DESTROY_CHARGES" 			property="DESTROY_CHARGES" />
    <result column="CHARGES_CY_POLICY" 			property="CHARGES_CY_POLICY" />
    <result column="CASH_ACCOUNT" 				property="CASH_ACCOUNT" />
    <result column="ACTION_TYPE" 				property="ACTION_TYPE" />
    <result column="STATUS" 					property="STATUS" />
    <result column="CHECK_UPDATE" 				property="CHECK_UPDATE" />
    <result column="REASON_DESC" 				property="REASON_DESC" />
    <result column="SUBMIT_REASON" 				property="SUBMIT_REASON" />
    <result column="CANCEL_REASON" 				property="CANCEL_REASON" />
    <result column="DESTROY_REASON" 			property="DESTROY_REASON" />
    <result column="CH_ISSUE_TYPE" 				property="CH_ISSUE_TYPE" />
    <result column="CH_TYPE_CODE" 				property="CH_TYPE_CODE" />
    <result column="CH_LEAVES_CODE" 			property="CH_LEAVES_CODE" />
    <result column="TRXTYPE_CODE" 				property="TRXTYPE_CODE" />
    <result column="ENTITY_CODE" 				property="ENTITY_CODE" />
    <result column="EXPIRY_DATE" 				property="EXPIRY_DATE" />
    <result column="FLAG_CHANGE" 				property="FLAG_CHANGE" />
    <result column="ENTITY_LINE_NO" 			property="ENTITY_LINE_NO" />
    <result column="ENTITY_TYPE_CODE_DESC" 		property="ENTITY_TYPE_CODE_DESC" />
    <result column="PRODUCT_CODE" 				property="PRODUCT_CODE" />
    <result column="PRODUCT_TYPE" 				property="PRODUCT_TYPE" />
    <result column="PRODUCT_TYPE_DESC" 			property="PRODUCT_TYPE_DESC" />
    <result column="SEG_SUBJECT_OF_NEGOTIATION" property="SEG_SUBJECT_OF_NEGOTIATION" />
    <result column="SEG_STATUS" 				property="SEG_STATUS" />
    <result column="SEG_START_DATE" 			property="SEG_START_DATE" />
    <result column="SEG_OLD_SCHEMA" 			property="SEG_OLD_SCHEMA" />
    <result column="SEG_OLD_DESTROY_SCHM" 		property="SEG_OLD_DESTROY_SCHM" />
    <result column="SEG_OLD_CANCEL_SCHM" 		property="SEG_OLD_CANCEL_SCHM" />
    <result column="SEG_OLD_SUBMIT_SCHM" 		property="SEG_OLD_SUBMIT_SCHM" />
    
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, CHARGE_TYPE, COMP_CODE, LINE_NO, USER_ID, ACC_BR, ACC_CY, ACC_GL, ACC_CIF, 
    ACC_SL, ENTITY_TYPE, ENTITY_TYPE_CODE, SO_TYPE, CHARGE_CODE, CANCEL_CHARGES, SUBMIT_CHARGES, 
    DESTROY_CHARGES, CHARGES_CY_POLICY, CASH_ACCOUNT, ACTION_TYPE, STATUS, CHECK_UPDATE, 
    REASON_DESC, SUBMIT_REASON, CANCEL_REASON, DESTROY_REASON, CH_ISSUE_TYPE, CH_TYPE_CODE, 
    CH_LEAVES_CODE, TRXTYPE_CODE, ENTITY_CODE, EXPIRY_DATE, FLAG_CHANGE, ENTITY_LINE_NO, 
    ENTITY_TYPE_CODE_DESC, PRODUCT_CODE, PRODUCT_TYPE, PRODUCT_TYPE_DESC, SEG_SUBJECT_OF_NEGOTIATION, SEG_STATUS, SEG_START_DATE,
    SEG_OLD_SCHEMA, SEG_OLD_DESTROY_SCHM, SEG_OLD_CANCEL_SCHM, SEG_OLD_SUBMIT_SCHM
  </sql>
  <select id="selectCTS_CHARGES_PARAM_TMP" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTS_CHARGES_PARAM_TMPVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTS_CHARGES_PARAM_TMP
    where BRANCH_CODE = #{BRANCH_COSTAT     and CHARGE_TYPE = #{CHARGE_TYPE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and USER_ID = #{USER_ID}
  </select>
  <delete id="deleteCTS_CHARGES_PARAM_TMP" parameterType="com.path.dbmaps.vo.CTS_CHARGES_PARAM_TMPVOKey" >
    delete from CTS_CHARGES_PARAM_TMP
    where BRANCH_CODE = #{BRANCH_CODE}
      and CHARGE_TYPE = #{CHARGE_TYPE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and USER_ID = #{USER_ID}
  </delete>
  <insert id="insertCTS_CHARGES_PARAM_TMP" parameterType="com.path.dbmaps.vo.CTS_CHARGES_PARAM_TMPVO" >
    insert into CTS_CHARGES_PARAM_TMP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="CHARGE_TYPE != null" >
        CHARGE_TYPE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="USER_ID != null" >
        USER_ID,
      </if>
      <if test="ACC_BR != null and ACC_BR != emptyBigDecimalValue" >
        ACC_BR,
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        ACC_CY,
      </if>
      <if test="ACC_GL != null and ACC_GL != emptyBigDecimalValue" >
        ACC_GL,
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        ACC_CIF,
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        ACC_SL,
      </if>
      <if test="ENTITY_TYPE != null" >
        ENTITY_TYPE,
      </if>
      <if test="ENTITY_TYPE_CODE != null" >
        ENTITY_TYPE_CODE,
      </if>
      <if test="SO_TYPE != null" >
        SO_TYPE,
      </if>
      <if test="CHARGE_CODE != null and CHARGE_CODE != emptyBigDecimalValue" >
        CHARGE_CODE,
      </if>
      <if test="CANCEL_CHARGES != null and CANCEL_CHARGES != emptyBigDecimalValue" >
        CANCEL_CHARGES,
      </if>
      <if test="SUBMIT_CHARGES != null and SUBMIT_CHARGES != emptyBigDecimalValue" >
        SUBMIT_CHARGES,
      </if>
      <if test="DESTROY_CHARGES != null and DESTROY_CHARGES != emptyBigDecimalValue" >
        DESTROY_CHARGES,
      </if>
      <if test="CHARGES_CY_POLICY != null" >
        CHARGES_CY_POLICY,
      </if>
      <if test="CASH_ACCOUNT != null" >
        CASH_ACCOUNT,
      </if>
      <if test="ACTION_TYPE != null" >
        ACTION_TYPE,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="CHECK_UPDATE != null" >
        CHECK_UPDATE,
      </if>
      <if test="REASON_DESC != null" >
        REASON_DESC,
      </if>
      <if test="SUBMIT_REASON != null" >
        SUBMIT_REASON,
      </if>
      <if test="CANCEL_REASON != null" >
        CANCEL_REASON,
      </if>
      <if test="DESTROY_REASON != null" >
        DESTROY_REASON,
      </if>
      <if test="CH_ISSUE_TYPE != null" >
        CH_ISSUE_TYPE,
      </if>
      <if test="CH_TYPE_CODE != null and CH_TYPE_CODE != emptyBigDecimalValue" >
        CH_TYPE_CODE,
      </if>
      <if test="CH_LEAVES_CODE != null and CH_LEAVES_CODE != emptyBigDecimalValue" >
        CH_LEAVES_CODE,
      </if>
      <if test="TRXTYPE_CODE != null and TRXTYPE_CODE != emptyBigDecimalValue" >
        TRXTYPE_CODE,
      </if>
      <if test="ENTITY_CODE != null and ENTITY_CODE != emptyBigDecimalValue" >
        ENTITY_CODE,
      </if>
      <if test="EXPIRY_DATE != null" >
        EXPIRY_DATE,
      </if>
      <if test="FLAG_CHANGE != null" >
        FLAG_CHANGE,
      </if>
      <if test="ENTITY_LINE_NO != null and ENTITY_LINE_NO != emptyBigDecimalValue" >
        ENTITY_LINE_NO,
      </if>
      <if test="ENTITY_TYPE_CODE_DESC != null" >
        ENTITY_TYPE_CODE_DESC,
      </if>
      <if test="PRODUCT_TYPE != null and !&quot;&quot;.equals(PRODUCT_TYPE)" >
        PRODUCT_TYPE,
      </if>
      <if test="PRODUCT_CODE != null and !&quot;&quot;.equals(PRODUCT_CODE)" >
        PRODUCT_CODE,
      </if>
      <if test="PRODUCT_TYPE_DESC != null and !&quot;&quot;.equals(PRODUCT_TYPE_DESC)" >
        PRODUCT_TYPE_DESC,
      </if>
      <if test="SEG_SUBJECT_OF_NEGOTIATION != null and SEG_SUBJECT_OF_NEGOTIATION != emptyBigDecimalValue" >
        SEG_SUBJECT_OF_NEGOTIATION,
      </if>
       <if test="SEG_STATUS != null and !&quot;&quot;.equals(SEG_STATUS)" >
        SEG_STATUS,
      </if>
       <if test="SEG_START_DATE != null" >
        SEG_START_DATE,
      </if>
      <if test="SEG_OLD_SCHEMA != null and SEG_OLD_SCHEMA != emptyBigDecimalValue" >
        SEG_OLD_SCHEMA,
      </if>
      <if test="SEG_OLD_DESTROY_SCHM != null and SEG_OLD_DESTROY_SCHM != emptyBigDecimalValue" >
        SEG_OLD_DESTROY_SCHM,
      </if>
      <if test="SEG_OLD_CANCEL_SCHM != null and SEG_OLD_CANCEL_SCHM != emptyBigDecimalValue" >
        SEG_OLD_CANCEL_SCHM,
      </if>
      <if test="SEG_OLD_SUBMIT_SCHM != null and SEG_OLD_SUBMIT_SCHM != emptyBigDecimalValue" >
        SEG_OLD_SUBMIT_SCHM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="CHARGE_TYPE != null" >
        #{CHARGE_TYPE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="USER_ID != null" >
        #{USER_ID},
      </if>
      <if test="ACC_BR != null and ACC_BR != emptyBigDecimalValue" >
        #{ACC_BR},
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        #{ACC_CY},
      </if>
      <if test="ACC_GL != null and ACC_GL != emptyBigDecimalValue" >
        #{ACC_GL},
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        #{ACC_CIF},
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        #{ACC_SL},
      </if>
      <if test="ENTITY_TYPE != null" >
        #{ENTITY_TYPE},
      </if>
      <if test="ENTITY_TYPE_CODE != null" >
        #{ENTITY_TYPE_CODE},
      </if>
      <if test="SO_TYPE != null" >
        #{SO_TYPE},
      </if>
      <if test="CHARGE_CODE != null and CHARGE_CODE != emptyBigDecimalValue" >
        #{CHARGE_CODE},
      </if>
      <if test="CANCEL_CHARGES != null and CANCEL_CHARGES != emptyBigDecimalValue" >
        #{CANCEL_CHARGES},
      </if>
      <if test="SUBMIT_CHARGES != null and SUBMIT_CHARGES != emptyBigDecimalValue" >
        #{SUBMIT_CHARGES},
      </if>
      <if test="DESTROY_CHARGES != null and DESTROY_CHARGES != emptyBigDecimalValue" >
        #{DESTROY_CHARGES},
      </if>
      <if test="CHARGES_CY_POLICY != null" >
        #{CHARGES_CY_POLICY},
      </if>
      <if test="CASH_ACCOUNT != null" >
        #{CASH_ACCOUNT},
      </if>
      <if test="ACTION_TYPE != null" >
        #{ACTION_TYPE},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="CHECK_UPDATE != null" >
        #{CHECK_UPDATE},
      </if>
      <if test="REASON_DESC != null" >
        #{REASON_DESC},
      </if>
      <if test="SUBMIT_REASON != null" >
        #{SUBMIT_REASON},
      </if>
      <if test="CANCEL_REASON != null" >
        #{CANCEL_REASON},
      </if>
      <if test="DESTROY_REASON != null" >
        #{DESTROY_REASON},
      </if>
      <if test="CH_ISSUE_TYPE != null" >
        #{CH_ISSUE_TYPE},
      </if>
      <if test="CH_TYPE_CODE != null and CH_TYPE_CODE != emptyBigDecimalValue" >
        #{CH_TYPE_CODE},
      </if>
      <if test="CH_LEAVES_CODE != null and CH_LEAVES_CODE != emptyBigDecimalValue" >
        #{CH_LEAVES_CODE},
      </if>
      <if test="TRXTYPE_CODE != null and TRXTYPE_CODE != emptyBigDecimalValue" >
        #{TRXTYPE_CODE},
      </if>
      <if test="ENTITY_CODE != null and ENTITY_CODE != emptyBigDecimalValue" >
        #{ENTITY_CODE},
      </if>
      <if test="EXPIRY_DATE != null" >
        #{EXPIRY_DATE},
      </if>
      <if test="FLAG_CHANGE != null" >
        #{FLAG_CHANGE},
      </if>
      <if test="ENTITY_LINE_NO != null and ENTITY_LINE_NO != emptyBigDecimalValue" >
        #{ENTITY_LINE_NO},
      </if>
      <if test="ENTITY_TYPE_CODE_DESC != null" >
        #{ENTITY_TYPE_CODE_DESC},
      </if>
      <if test="PRODUCT_TYPE != null and !&quot;&quot;.equals(PRODUCT_TYPE)" >
        #{PRODUCT_TYPE},
      </if>
      <if test="PRODUCT_CODE != null and !&quot;&quot;.equals(PRODUCT_CODE)" >
        #{PRODUCT_CODE},
      </if>
      <if test="PRODUCT_TYPE_DESC != null and !&quot;&quot;.equals(PRODUCT_TYPE_DESC)" >
        #{PRODUCT_TYPE_DESC},
      </if>
      <if test="SEG_SUBJECT_OF_NEGOTIATION != null and SEG_SUBJECT_OF_NEGOTIATION != emptyBigDecimalValue" >
        #{SEG_SUBJECT_OF_NEGOTIATION},
      </if>
      <if test="SEG_STATUS != null and  !&quot;&quot;.equals(SEG_STATUS)" >
        #{SEG_STATUS},
      </if>
      <if test="SEG_START_DATE != null" >
        #{SEG_START_DATE},
      </if>
       <if test="SEG_OLD_SCHEMA != null and SEG_OLD_SCHEMA != emptyBigDecimalValue" >
        #{SEG_OLD_SCHEMA},
      </if>
       <if test="SEG_OLD_DESTROY_SCHM != null and SEG_OLD_DESTROY_SCHM != emptyBigDecimalValue" >
        #{SEG_OLD_DESTROY_SCHM},
      </if>
       <if test="SEG_OLD_CANCEL_SCHM != null and SEG_OLD_CANCEL_SCHM != emptyBigDecimalValue" >
        #{SEG_OLD_CANCEL_SCHM},
      </if>
       <if test="SEG_OLD_SUBMIT_SCHM != null and SEG_OLD_SUBMIT_SCHM != emptyBigDecimalValue" >
        #{SEG_OLD_SUBMIT_SCHM},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTS_CHARGES_PARAM_TMP" >
    update CTS_CHARGES_PARAM_TMP
    <set >
      <if test="ACC_BR != null" >
        <choose >
          <when test="ACC_BR == emptyBigDecimalValue" >
            ACC_BR = NULL ,
          </when>
          <otherwise >
            ACC_BR = #{ACC_BR},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CY != null" >
        <choose >
          <when test="ACC_CY == emptyBigDecimalValue" >
            ACC_CY = NULL ,
          </when>
          <otherwise >
            ACC_CY = #{ACC_CY},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_GL != null" >
        <choose >
          <when test="ACC_GL == emptyBigDecimalValue" >
            ACC_GL = NULL ,
          </when>
          <otherwise >
            ACC_GL = #{ACC_GL},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CIF != null" >
        <choose >
          <when test="ACC_CIF == emptyBigDecimalValue" >
            ACC_CIF = NULL ,
          </when>
          <otherwise >
            ACC_CIF = #{ACC_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_SL != null" >
        <choose >
          <when test="ACC_SL == emptyBigDecimalValue" >
            ACC_SL = NULL ,
          </when>
          <otherwise >
            ACC_SL = #{ACC_SL},
          </otherwise>
        </choose>
      </if>
      <if test="ENTITY_TYPE != null" >
        ENTITY_TYPE = #{ENTITY_TYPE},
      </if>
      <if test="ENTITY_TYPE_CODE != null" >
        ENTITY_TYPE_CODE = #{ENTITY_TYPE_CODE},
      </if>
      <if test="SO_TYPE != null" >
        SO_TYPE = #{SO_TYPE},
      </if>
      <if test="CHARGE_CODE != null" >
        <choose >
          <when test="CHARGE_CODE == emptyBigDecimalValue" >
            CHARGE_CODE = NULL ,
          </when>
          <otherwise >
            CHARGE_CODE = #{CHARGE_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="CANCEL_CHARGES != null" >
        <choose >
          <when test="CANCEL_CHARGES == emptyBigDecimalValue" >
            CANCEL_CHARGES = NULL ,
          </when>
          <otherwise >
            CANCEL_CHARGES = #{CANCEL_CHARGES},
          </otherwise>
        </choose>
      </if>
      <if test="SUBMIT_CHARGES != null" >
        <choose >
          <when test="SUBMIT_CHARGES == emptyBigDecimalValue" >
            SUBMIT_CHARGES = NULL ,
          </when>
          <otherwise >
            SUBMIT_CHARGES = #{SUBMIT_CHARGES},
          </otherwise>
        </choose>
      </if>
      <if test="DESTROY_CHARGES != null" >
        <choose >
          <when test="DESTROY_CHARGES == emptyBigDecimalValue" >
            DESTROY_CHARGES = NULL ,
          </when>
          <otherwise >
            DESTROY_CHARGES = #{DESTROY_CHARGES},
          </otherwise>
        </choose>
      </if>
      <if test="CHARGES_CY_POLICY != null" >
        CHARGES_CY_POLICY = #{CHARGES_CY_POLICY},
      </if>
      <if test="CASH_ACCOUNT != null" >
        CASH_ACCOUNT = #{CASH_ACCOUNT},
      </if>
      <if test="ACTION_TYPE != null" >
        ACTION_TYPE = #{ACTION_TYPE},
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="CHECK_UPDATE != null" >
        CHECK_UPDATE = #{CHECK_UPDATE},
      </if>
      <if test="REASON_DESC != null" >
        REASON_DESC = #{REASON_DESC},
      </if>
      <if test="SUBMIT_REASON != null" >
        SUBMIT_REASON = #{SUBMIT_REASON},
      </if>
      <if test="CANCEL_REASON != null" >
        CANCEL_REASON = #{CANCEL_REASON},
      </if>
      <if test="DESTROY_REASON != null" >
        DESTROY_REASON = #{DESTROY_REASON},
      </if>
      <if test="CH_ISSUE_TYPE != null" >
        CH_ISSUE_TYPE = #{CH_ISSUE_TYPE},
      </if>
      <if test="CH_TYPE_CODE != null" >
        <choose >
          <when test="CH_TYPE_CODE == emptyBigDecimalValue" >
            CH_TYPE_CODE = NULL ,
          </when>
          <otherwise >
            CH_TYPE_CODE = #{CH_TYPE_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="CH_LEAVES_CODE != null" >
        <choose >
          <when test="CH_LEAVES_CODE == emptyBigDecimalValue" >
            CH_LEAVES_CODE = NULL ,
          </when>
          <otherwise >
            CH_LEAVES_CODE = #{CH_LEAVES_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="TRXTYPE_CODE != null" >
        <choose >
          <when test="TRXTYPE_CODE == emptyBigDecimalValue" >
            TRXTYPE_CODE = NULL ,
          </when>
          <otherwise >
            TRXTYPE_CODE = #{TRXTYPE_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="ENTITY_CODE != null" >
        <choose >
          <when test="ENTITY_CODE == emptyBigDecimalValue" >
            ENTITY_CODE = NULL ,
          </when>
          <otherwise >
            ENTITY_CODE = #{ENTITY_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="EXPIRY_DATE != null" >
        EXPIRY_DATE = #{EXPIRY_DATE},
      </if>
      <if test="FLAG_CHANGE != null" >
        FLAG_CHANGE = #{FLAG_CHANGE},
      </if>
      <if test="ENTITY_LINE_NO != null" >
        <choose >
          <when test="ENTITY_LINE_NO == emptyBigDecimalValue" >
            ENTITY_LINE_NO = NULL ,
          </when>
          <otherwise >
            ENTITY_LINE_NO = #{ENTITY_LINE_NO},
          </otherwise>
        </choose>
      </if>
      <if test="ENTITY_TYPE_CODE_DESC != null" >
        ENTITY_TYPE_CODE_DESC = #{ENTITY_TYPE_CODE_DESC},
      </if>
      <if test="PRODUCT_TYPE != null and !&quot;&quot;.equals(PRODUCT_TYPE)" >
        PRODUCT_TYPE = #{PRODUCT_TYPE},
      </if>
      <if test="PRODUCT_CODE != null and !&quot;&quot;.equals(PRODUCT_CODE)" >
        PRODUCT_CODE = #{PRODUCT_CODE},
      </if>
      <if test="PRODUCT_TYPE_DESC != null and !&quot;&quot;.equals(PRODUCT_TYPE_DESC)" >
        PRODUCT_TYPE_DESC = #{PRODUCT_TYPE_DESC},
      </if>
	<if test="SEG_SUBJECT_OF_NEGOTIATION != null" >
		<choose >
          <when test="SEG_SUBJECT_OF_NEGOTIATION == emptyBigDecimalValue" >
            SEG_SUBJECT_OF_NEGOTIATION = NULL ,
          </when>
          <otherwise >
            SEG_SUBJECT_OF_NEGOTIATION = #{SEG_SUBJECT_OF_NEGOTIATION},
          </otherwise>
		</choose>
	</if>
       <if test="SEG_STATUS != null and !&quot;&quot;.equals(SEG_STATUS)" >
        SEG_STATUS = #{SEG_STATUS},
      </if>
      <if test="SEG_START_DATE != null and !&quot;&quot;.equals(SEG_START_DATE)" >
        SEG_START_DATE = #{SEG_START_DATE},
      </if>
      <if test="SEG_OLD_SCHEMA != null" >
		<choose >
          <when test="SEG_OLD_SCHEMA == emptyBigDecimalValue" >
            SEG_OLD_SCHEMA = NULL ,
          </when>
          <otherwise >
            SEG_OLD_SCHEMA = #{SEG_OLD_SCHEMA},
          </otherwise>
		</choose>
	</if>
	<if test="SEG_OLD_DESTROY_SCHM != null" >
		<choose >
          <when test="SEG_OLD_DESTROY_SCHM == emptyBigDecimalValue" >
            SEG_OLD_DESTROY_SCHM = NULL ,
          </when>
          <otherwise >
            SEG_OLD_DESTROY_SCHM = #{SEG_OLD_DESTROY_SCHM},
          </otherwise>
		</choose>
	</if>
	<if test="SEG_OLD_CANCEL_SCHM != null" >
		<choose >
          <when test="SEG_OLD_CANCEL_SCHM == emptyBigDecimalValue" >
            SEG_OLD_CANCEL_SCHM = NULL ,
          </when>
          <otherwise >
            SEG_OLD_CANCEL_SCHM = #{SEG_OLD_CANCEL_SCHM},
          </otherwise>
		</choose>
	</if>
	<if test="SEG_OLD_SUBMIT_SCHM != null" >
		<choose >
          <when test="SEG_OLD_SUBMIT_SCHM == emptyBigDecimalValue" >
            SEG_OLD_SUBMIT_SCHM = NULL ,
          </when>
          <otherwise >
            SEG_OLD_SUBMIT_SCHM = #{SEG_OLD_SUBMIT_SCHM},
          </otherwise>
		</choose>
	</if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and CHARGE_TYPE = #{CHARGE_TYPE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and USER_ID = #{USER_ID}
  </sql>
  <update id="updateCTS_CHARGES_PARAM_TMP" parameterType="com.path.dbmaps.vo.CTS_CHARGES_PARAM_TMPVO" >
    <include refid="sql_updateCTS_CHARGES_PARAM_TMP" />
  </update>
</mapper>