<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTS_PASSBOOK_DESTROY" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTS_PASSBOOK_DESTROYVO" >
    <id column="BATCH_NO" property="BATCH_NO" />
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NO" property="LINE_NO" />
    <result column="DATE_1" property="DATE_1" />
    <result column="PASSBOOK_TYPE" property="PASSBOOK_TYPE" />
    <result column="PASSBOOK_LAYOUT" property="PASSBOOK_LAYOUT" />
    <result column="STATUS" property="STATUS" />
    <result column="STATUS_REASON" property="STATUS_REASON" />
    <result column="REMARKS" property="REMARKS" />
    <result column="QUANTITY" property="QUANTITY" />
    <result column="REJECTED_BY" property="REJECTED_BY" />
    <result column="REJECTED_DATE" property="REJECTED_DATE" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="MODIFIED_DATE" property="MODIFIED_DATE" />
    <result column="REASON" property="REASON" />
    <result column="DESTROYED_BY" property="DESTROYED_BY" />
    <result column="DESTROYED_DATE" property="DESTROYED_DATE" />
    <result column="TO_BE_DESTROYED_BY" property="TO_BE_DESTROYED_BY" />
    <result column="TO_BE_DESTROYED_DATE" property="TO_BE_DESTROYED_DATE" />
    <result column="DATE_UPDATED" property="DATE_UPDATED" />
  </resultMap>
  <sql id="Base_Column_List" >
    BATCH_NO, BRANCH_CODE, COMP_CODE, LINE_NO, DATE_1, PASSBOOK_TYPE, PASSBOOK_LAYOUT, 
    STATUS, STATUS_REASON, REMARKS, QUANTITY, REJECTED_BY, REJECTED_DATE, MODIFIED_BY, 
    MODIFIED_DATE, REASON, DESTROYED_BY, DESTROYED_DATE, TO_BE_DESTROYED_BY, TO_BE_DESTROYED_DATE, 
    DATE_UPDATED
  </sql>
  <select id="selectCTS_PASSBOOK_DESTROY" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTS_PASSBOOK_DESTROYVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTS_PASSBOOK_DESTROY
    where BATCH_NO = #{BATCH_NO}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
  </select>
  <delete id="deleteCTS_PASSBOOK_DESTROY" parameterType="com.path.dbmaps.vo.CTS_PASSBOOK_DESTROYVOKey" >
    delete from CTS_PASSBOOK_DESTROY
    where BATCH_NO = #{BATCH_NO}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
  </delete>
  <insert id="insertCTS_PASSBOOK_DESTROY" parameterType="com.path.dbmaps.vo.CTS_PASSBOOK_DESTROYVO" >
    insert into CTS_PASSBOOK_DESTROY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BATCH_NO != null and BATCH_NO != emptyBigDecimalValue" >
        BATCH_NO,
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="DATE_1 != null" >
        DATE_1,
      </if>
      <if test="PASSBOOK_TYPE != null and PASSBOOK_TYPE != emptyBigDecimalValue" >
        PASSBOOK_TYPE,
      </if>
      <if test="PASSBOOK_LAYOUT != null" >
        PASSBOOK_LAYOUT,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="STATUS_REASON != null and STATUS_REASON != emptyBigDecimalValue" >
        STATUS_REASON,
      </if>
      <if test="REMARKS != null" >
        REMARKS,
      </if>
      <if test="QUANTITY != null and QUANTITY != emptyBigDecimalValue" >
        QUANTITY,
      </if>
      <if test="REJECTED_BY != null" >
        REJECTED_BY,
      </if>
      <if test="REJECTED_DATE != null" >
        REJECTED_DATE,
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY,
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE,
      </if>
      <if test="REASON != null" >
        REASON,
      </if>
      <if test="DESTROYED_BY != null" >
        DESTROYED_BY,
      </if>
      <if test="DESTROYED_DATE != null" >
        DESTROYED_DATE,
      </if>
      <if test="TO_BE_DESTROYED_BY != null" >
        TO_BE_DESTROYED_BY,
      </if>
      <if test="TO_BE_DESTROYED_DATE != null" >
        TO_BE_DESTROYED_DATE,
      </if>
      DATE_UPDATED,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BATCH_NO != null and BATCH_NO != emptyBigDecimalValue" >
        #{BATCH_NO},
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="DATE_1 != null" >
        #{DATE_1},
      </if>
      <if test="PASSBOOK_TYPE != null and PASSBOOK_TYPE != emptyBigDecimalValue" >
        #{PASSBOOK_TYPE},
      </if>
      <if test="PASSBOOK_LAYOUT != null" >
        #{PASSBOOK_LAYOUT},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="STATUS_REASON != null and STATUS_REASON != emptyBigDecimalValue" >
        #{STATUS_REASON},
      </if>
      <if test="REMARKS != null" >
        #{REMARKS},
      </if>
      <if test="QUANTITY != null and QUANTITY != emptyBigDecimalValue" >
        #{QUANTITY},
      </if>
      <if test="REJECTED_BY != null" >
        #{REJECTED_BY},
      </if>
      <if test="REJECTED_DATE != null" >
        #{REJECTED_DATE},
      </if>
      <if test="MODIFIED_BY != null" >
        #{MODIFIED_BY},
      </if>
      <if test="MODIFIED_DATE != null" >
        #{MODIFIED_DATE},
      </if>
      <if test="REASON != null" >
        #{REASON},
      </if>
      <if test="DESTROYED_BY != null" >
        #{DESTROYED_BY},
      </if>
      <if test="DESTROYED_DATE != null" >
        #{DESTROYED_DATE},
      </if>
      <if test="TO_BE_DESTROYED_BY != null" >
        #{TO_BE_DESTROYED_BY},
      </if>
      <if test="TO_BE_DESTROYED_DATE != null" >
        #{TO_BE_DESTROYED_DATE},
      </if>
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
    </trim>
  </insert>
  <sql id="sql_updateCTS_PASSBOOK_DESTROY" >
    update CTS_PASSBOOK_DESTROY
    <set >
      <if test="DATE_1 != null" >
        DATE_1 = #{DATE_1},
      </if>
      <if test="PASSBOOK_TYPE != null" >
        <choose >
          <when test="PASSBOOK_TYPE == emptyBigDecimalValue" >
            PASSBOOK_TYPE = NULL ,
          </when>
          <otherwise >
            PASSBOOK_TYPE = #{PASSBOOK_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="PASSBOOK_LAYOUT != null" >
        PASSBOOK_LAYOUT = #{PASSBOOK_LAYOUT},
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="STATUS_REASON != null" >
        <choose >
          <when test="STATUS_REASON == emptyBigDecimalValue" >
            STATUS_REASON = NULL ,
          </when>
          <otherwise >
            STATUS_REASON = #{STATUS_REASON},
          </otherwise>
        </choose>
      </if>
      <if test="REMARKS != null" >
        REMARKS = #{REMARKS},
      </if>
      <if test="QUANTITY != null" >
        <choose >
          <when test="QUANTITY == emptyBigDecimalValue" >
            QUANTITY = NULL ,
          </when>
          <otherwise >
            QUANTITY = #{QUANTITY},
          </otherwise>
        </choose>
      </if>
      <if test="REJECTED_BY != null" >
        REJECTED_BY = #{REJECTED_BY},
      </if>
      <if test="REJECTED_DATE != null" >
        REJECTED_DATE = #{REJECTED_DATE},
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY = #{MODIFIED_BY},
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE = #{MODIFIED_DATE},
      </if>
      <if test="REASON != null" >
        REASON = #{REASON},
      </if>
      <if test="DESTROYED_BY != null" >
        DESTROYED_BY = #{DESTROYED_BY},
      </if>
      <if test="DESTROYED_DATE != null" >
        DESTROYED_DATE = #{DESTROYED_DATE},
      </if>
      <if test="TO_BE_DESTROYED_BY != null" >
        TO_BE_DESTROYED_BY = #{TO_BE_DESTROYED_BY},
      </if>
      <if test="TO_BE_DESTROYED_DATE != null" >
        TO_BE_DESTROYED_DATE = #{TO_BE_DESTROYED_DATE},
      </if>
      DATE_UPDATED = 
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
    </set>
    where BATCH_NO = #{BATCH_NO}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
  </sql>
  <update id="updateCTS_PASSBOOK_DESTROY" parameterType="com.path.dbmaps.vo.CTS_PASSBOOK_DESTROYVO" >
    <include refid="sql_updateCTS_PASSBOOK_DESTROY" />
    <if test="DATE_UPDATED != null" >
      AND DATE_UPDATED = #{DATE_UPDATED}
    </if>
  </update>
</mapper>