<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTS_DYN_CIF_KYC" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTS_DYN_CIF_KYCVO" >
    <id column="CIF_NO" property="CIF_NO" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="ELEMENT_ID" property="ELEMENT_ID" />
    <id column="SCREEN_ID" property="SCREEN_ID" />
    <id column="BUTTON_INFO_QUERY" property="BUTTON_INFO_QUERY" />
    <result column="ELEMENT_VALUE" property="ELEMENT_VALUE" />
  </resultMap>
  <sql id="Base_Column_List" >
    CIF_NO, COMP_CODE, ELEMENT_ID, SCREEN_ID, ELEMENT_VALUE ,BUTTON_INFO_QUERY
  </sql>
  <select id="selectCTS_DYN_CIF_KYC" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTS_DYN_CIF_KYCVO" >
    select 
    <include refid="Base_Column_List" />
    from CTS_DYN_CIF_KYC
    where CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and ELEMENT_ID = #{ELEMENT_ID}
      and SCREEN_ID = #{SCREEN_ID}
  </select>
  <delete id="deleteCTS_DYN_CIF_KYC" parameterType="com.path.dbmaps.vo.CTS_DYN_CIF_KYCVO" >
    delete from CTS_DYN_CIF_KYC
    where CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and ELEMENT_ID = #{ELEMENT_ID}
      and SCREEN_ID = #{SCREEN_ID}
  </delete>
  <insert id="insertCTS_DYN_CIF_KYC" parameterType="com.path.dbmaps.vo.CTS_DYN_CIF_KYCVO" >
    insert into CTS_DYN_CIF_KYC
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        CIF_NO,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="ELEMENT_ID != null" >
        ELEMENT_ID,
      </if>
      <if test="SCREEN_ID != null and SCREEN_ID != emptyBigDecimalValue" >
        SCREEN_ID,
      </if>
      <if test="ELEMENT_VALUE != null" >
        ELEMENT_VALUE,
      </if>
      <if test="BUTTON_INFO_QUERY != null" >
        BUTTON_INFO_QUERY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        #{CIF_NO},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="ELEMENT_ID != null" >
        #{ELEMENT_ID},
      </if>
      <if test="SCREEN_ID != null and SCREEN_ID != emptyBigDecimalValue" >
        #{SCREEN_ID},
      </if>
      <if test="ELEMENT_VALUE != null" >
        #{ELEMENT_VALUE},
      </if>
      <if test="BUTTON_INFO_QUERY != null" >
        #{BUTTON_INFO_QUERY},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTS_DYN_CIF_KYC" >
    update CTS_DYN_CIF_KYC
    <set >
      <if test="ELEMENT_VALUE != null" >
        ELEMENT_VALUE = #{ELEMENT_VALUE},
      </if>
      <if test="BUTTON_INFO_QUERY != null" >
        BUTTON_INFO_QUERY = #{BUTTON_INFO_QUERY},
      </if>
    </set>
    where CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and ELEMENT_ID = #{ELEMENT_ID}
      and SCREEN_ID = #{SCREEN_ID}
  </sql>
  <update id="updateCTS_DYN_CIF_KYC" parameterType="com.path.dbmaps.vo.CTS_DYN_CIF_KYCVO" >
    <include refid="sql_updateCTS_DYN_CIF_KYC" />
  </update>
</mapper>