<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTS_LOSTDOC" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTS_LOSTDOCVO" >
    <id column="DOC_CODE" property="DOC_CODE" />
    <result column="BRIEF_DESC_ENG" property="BRIEF_DESC_ENG" />
    <result column="LONG_DESC_ENG" property="LONG_DESC_ENG" />
    <result column="BRIEF_DESC_ARAB" property="BRIEF_DESC_ARAB" />
    <result column="LONG_DESC_ARAB" property="LONG_DESC_ARAB" />
    <result column="DOC_CARD" property="DOC_CARD" />
    <result column="TRX_TYPE" property="TRX_TYPE" />
    <result column="CHARGES_SCHEMA" property="CHARGES_SCHEMA" />
    <result column="APPLY_CHRG_CANCEL" property="APPLY_CHRG_CANCEL" />
    <result column="ADD_INFO_MAND" property="ADD_INFO_MAND" />
    <result column="ADD_INFO_LABEL" property="ADD_INFO_LABEL" />
    <result column="LOST_REAS_MAND" property="LOST_REAS_MAND" />
    <result column="APP_MULT_CHRGS" property="APP_MULT_CHRGS" />
    <result column="MAX_CHARGE_BASE_CY" property="MAX_CHARGE_BASE_CY" />
    <result column="APPLY_CHRG_FIRST_DAILY_ACC_YN" property="APPLY_CHRG_FIRST_DAILY_ACC_YN" />
  </resultMap>
  <sql id="Base_Column_List" >
    DOC_CODE, BRIEF_DESC_ENG, LONG_DESC_ENG, BRIEF_DESC_ARAB, LONG_DESC_ARAB, DOC_CARD, 
    TRX_TYPE, CHARGES_SCHEMA, APPLY_CHRG_CANCEL, ADD_INFO_MAND, ADD_INFO_LABEL, LOST_REAS_MAND, 
    APP_MULT_CHRGS,MAX_CHARGE_BASE_CY, APPLY_CHRG_FIRST_DAILY_ACC_YN
  </sql>
  <select id="selectCTS_LOSTDOC" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTS_LOSTDOCVO" >
    select 
    <include refid="Base_Column_List" />
    from CTS_LOSTDOC
    where DOC_CODE = #{DOC_CODE}
  </select>
  <delete id="deleteCTS_LOSTDOC" parameterType="com.path.dbmaps.vo.CTS_LOSTDOCVO" >
    delete from CTS_LOSTDOC
    where DOC_CODE = #{DOC_CODE}
  </delete>
  <insert id="insertCTS_LOSTDOC" parameterType="com.path.dbmaps.vo.CTS_LOSTDOCVO" >
    insert into CTS_LOSTDOC
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="DOC_CODE != null and DOC_CODE != emptyBigDecimalValue" >
        DOC_CODE,
      </if>
      <if test="BRIEF_DESC_ENG != null" >
        BRIEF_DESC_ENG,
      </if>
      <if test="LONG_DESC_ENG != null" >
        LONG_DESC_ENG,
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        BRIEF_DESC_ARAB,
      </if>
      <if test="LONG_DESC_ARAB != null" >
        LONG_DESC_ARAB,
      </if>
      <if test="DOC_CARD != null" >
        DOC_CARD,
      </if>
      <if test="TRX_TYPE != null and TRX_TYPE != emptyBigDecimalValue" >
        TRX_TYPE,
      </if>
      <if test="CHARGES_SCHEMA != null and CHARGES_SCHEMA != emptyBigDecimalValue" >
        CHARGES_SCHEMA,
      </if>
      <if test="APPLY_CHRG_CANCEL != null" >
        APPLY_CHRG_CANCEL,
      </if>
      <if test="ADD_INFO_MAND != null" >
        ADD_INFO_MAND,
      </if>
      <if test="ADD_INFO_LABEL != null" >
        ADD_INFO_LABEL,
      </if>
      <if test="LOST_REAS_MAND != null" >
        LOST_REAS_MAND,
      </if>
      <if test="APP_MULT_CHRGS != null" >
        APP_MULT_CHRGS,
      </if>
      <if test="MAX_CHARGE_BASE_CY != null and MAX_CHARGE_BASE_CY != emptyBigDecimalValue" >
        MAX_CHARGE_BASE_CY,
      </if>
      <if test="APPLY_CHRG_FIRST_DAILY_ACC_YN != null" >
        APPLY_CHRG_FIRST_DAILY_ACC_YN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="DOC_CODE != null and DOC_CODE != emptyBigDecimalValue" >
        #{DOC_CODE},
      </if>
      <if test="BRIEF_DESC_ENG != null" >
        #{BRIEF_DESC_ENG},
      </if>
      <if test="LONG_DESC_ENG != null" >
        #{LONG_DESC_ENG},
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        #{BRIEF_DESC_ARAB},
      </if>
      <if test="LONG_DESC_ARAB != null" >
        #{LONG_DESC_ARAB},
      </if>
      <if test="DOC_CARD != null" >
        #{DOC_CARD},
      </if>
      <if test="TRX_TYPE != null and TRX_TYPE != emptyBigDecimalValue" >
        #{TRX_TYPE},
      </if>
      <if test="CHARGES_SCHEMA != null and CHARGES_SCHEMA != emptyBigDecimalValue" >
        #{CHARGES_SCHEMA},
      </if>
      <if test="APPLY_CHRG_CANCEL != null" >
        #{APPLY_CHRG_CANCEL},
      </if>
      <if test="ADD_INFO_MAND != null" >
        #{ADD_INFO_MAND},
      </if>
      <if test="ADD_INFO_LABEL != null" >
        #{ADD_INFO_LABEL},
      </if>
      <if test="LOST_REAS_MAND != null" >
        #{LOST_REAS_MAND},
      </if>
      <if test="APP_MULT_CHRGS != null" >
        #{APP_MULT_CHRGS},
      </if>
      <if test="MAX_CHARGE_BASE_CY != null and MAX_CHARGE_BASE_CY != emptyBigDecimalValue" >
         #{MAX_CHARGE_BASE_CY},
      </if>
      <if test="APPLY_CHRG_FIRST_DAILY_ACC_YN != null" >
        #{APPLY_CHRG_FIRST_DAILY_ACC_YN},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTS_LOSTDOC" >
    update CTS_LOSTDOC
    <set >
      <if test="BRIEF_DESC_ENG != null" >
        BRIEF_DESC_ENG = #{BRIEF_DESC_ENG},
      </if>
      <if test="LONG_DESC_ENG != null" >
        LONG_DESC_ENG = #{LONG_DESC_ENG},
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        BRIEF_DESC_ARAB = #{BRIEF_DESC_ARAB},
      </if>
      <if test="LONG_DESC_ARAB != null" >
        LONG_DESC_ARAB = #{LONG_DESC_ARAB},
      </if>
      <if test="DOC_CARD != null" >
        DOC_CARD = #{DOC_CARD},
      </if>
      <if test="TRX_TYPE != null" >
        <choose >
          <when test="TRX_TYPE == emptyBigDecimalValue" >
            TRX_TYPE = NULL ,
          </when>
          <otherwise >
            TRX_TYPE = #{TRX_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="CHARGES_SCHEMA != null" >
        <choose >
          <when test="CHARGES_SCHEMA == emptyBigDecimalValue" >
            CHARGES_SCHEMA = NULL ,
          </when>
          <otherwise >
            CHARGES_SCHEMA = #{CHARGES_SCHEMA},
          </otherwise>
        </choose>
      </if>
      <if test="APPLY_CHRG_CANCEL != null" >
        APPLY_CHRG_CANCEL = #{APPLY_CHRG_CANCEL},
      </if>
      <if test="ADD_INFO_MAND != null" >
        ADD_INFO_MAND = #{ADD_INFO_MAND},
      </if>
      <if test="ADD_INFO_LABEL != null" >
        ADD_INFO_LABEL = #{ADD_INFO_LABEL},
      </if>
      <if test="LOST_REAS_MAND != null" >
        LOST_REAS_MAND = #{LOST_REAS_MAND},
      </if>
      <if test="APP_MULT_CHRGS != null" >
        APP_MULT_CHRGS = #{APP_MULT_CHRGS},
      </if>
      <if test="MAX_CHARGE_BASE_CY != null" >
        <choose >
          <when test="MAX_CHARGE_BASE_CY == emptyBigDecimalValue" >
            MAX_CHARGE_BASE_CY = NULL ,
          </when>
          <otherwise >
            MAX_CHARGE_BASE_CY = #{MAX_CHARGE_BASE_CY},
          </otherwise>
        </choose>
      </if>
      <if test="APPLY_CHRG_FIRST_DAILY_ACC_YN != null" >
        APPLY_CHRG_FIRST_DAILY_ACC_YN = #{APPLY_CHRG_FIRST_DAILY_ACC_YN},
      </if>
    </set>
    where DOC_CODE = #{DOC_CODE}
  </sql>
  <update id="updateCTS_LOSTDOC" parameterType="com.path.dbmaps.vo.CTS_LOSTDOCVO" >
    <include refid="sql_updateCTS_LOSTDOC" />
  </update>
</mapper>