<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTS_PASSBOOK_REQUEST" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTS_PASSBOOK_REQUESTVO" >
    <id column="BATCH_NO" property="BATCH_NO" />
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NO" property="LINE_NO" />
    <id column="REQUEST_TYPE" property="REQUEST_TYPE" />
    <result column="PASSBOOK_TYPE" property="PASSBOOK_TYPE" />
    <result column="PASSBOOK_LAYOUT" property="PASSBOOK_LAYOUT" />
    <result column="REQUESTED_QTY" property="REQUESTED_QTY" />
    <result column="RECIEVED_QTY" property="RECIEVED_QTY" />
    <result column="BATCH_NAME" property="BATCH_NAME" />
    <result column="REQUESTED_BY" property="REQUESTED_BY" />
    <result column="RECIEVED_BY" property="RECIEVED_BY" />
    <result column="CANCELLED_BY" property="CANCELLED_BY" />
    <result column="TO_BE_CANCELLED_BY" property="TO_BE_CANCELLED_BY" />
    <result column="RECEIVED_DATE" property="RECEIVED_DATE" />
    <result column="REQUESTED_DATE" property="REQUESTED_DATE" />
    <result column="TO_BE_CANCELLED_DATE" property="TO_BE_CANCELLED_DATE" />
    <result column="CANCELLED_DATE" property="CANCELLED_DATE" />
    <result column="STATUS" property="STATUS" />
    <result column="VAULT_NO" property="VAULT_NO" />
    <result column="APPROVED_BY" property="APPROVED_BY" />
    <result column="APPROVED_DATE" property="APPROVED_DATE" />
    <result column="TO_BRANCH" property="TO_BRANCH" />
    <result column="TO_VAULT" property="TO_VAULT" />
    <result column="RECEIVED" property="RECEIVED" />
    <result column="REJECTED_BY" property="REJECTED_BY" />
    <result column="REJECTED_DATE" property="REJECTED_DATE" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="MODIFIED_DATE" property="MODIFIED_DATE" />
    <result column="REASON" property="REASON" />
    <result column="REQUEST_BATCH" property="REQUEST_BATCH" />
    <result column="SENT_BATCH" property="SENT_BATCH" />
    <result column="SENT_QTY" property="SENT_QTY" />
    <result column="REJECT_REASON" property="REJECT_REASON" />
    <result column="STATUS_REASON" property="STATUS_REASON" />
    <result column="DATE_UPDATED" property="DATE_UPDATED" />
  </resultMap>
  <sql id="Base_Column_List" >
    BATCH_NO, BRANCH_CODE, COMP_CODE, LINE_NO, REQUEST_TYPE, PASSBOOK_TYPE, PASSBOOK_LAYOUT, 
    REQUESTED_QTY, RECIEVED_QTY, BATCH_NAME, REQUESTED_BY, RECIEVED_BY, CANCELLED_BY, 
    TO_BE_CANCELLED_BY, RECEIVED_DATE, REQUESTED_DATE, TO_BE_CANCELLED_DATE, CANCELLED_DATE, 
    STATUS, VAULT_NO, APPROVED_BY, APPROVED_DATE, TO_BRANCH, TO_VAULT, RECEIVED, REJECTED_BY, 
    REJECTED_DATE, MODIFIED_BY, MODIFIED_DATE, REASON, REQUEST_BATCH, SENT_BATCH, SENT_QTY, 
    REJECT_REASON, STATUS_REASON, DATE_UPDATED
  </sql>
  <select id="selectCTS_PASSBOOK_REQUEST" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTS_PASSBOOK_REQUESTVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTS_PASSBOOK_REQUEST
    where BATCH_NO = #{BATCH_NO}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and REQUEST_TYPE = #{REQUEST_TYPE}
  </select>
  <delete id="deleteCTS_PASSBOOK_REQUEST" parameterType="com.path.dbmaps.vo.CTS_PASSBOOK_REQUESTVOKey" >
    delete from CTS_PASSBOOK_REQUEST
    where BATCH_NO = #{BATCH_NO}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and REQUEST_TYPE = #{REQUEST_TYPE}
  </delete>
  <insert id="insertCTS_PASSBOOK_REQUEST" parameterType="com.path.dbmaps.vo.CTS_PASSBOOK_REQUESTVO" >
    insert into CTS_PASSBOOK_REQUEST
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BATCH_NO != null and BATCH_NO != emptyBigDecimalValue" >
        BATCH_NO,
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="REQUEST_TYPE != null" >
        REQUEST_TYPE,
      </if>
      <if test="PASSBOOK_TYPE != null and PASSBOOK_TYPE != emptyBigDecimalValue" >
        PASSBOOK_TYPE,
      </if>
      <if test="PASSBOOK_LAYOUT != null" >
        PASSBOOK_LAYOUT,
      </if>
      <if test="REQUESTED_QTY != null and REQUESTED_QTY != emptyBigDecimalValue" >
        REQUESTED_QTY,
      </if>
      <if test="RECIEVED_QTY != null and RECIEVED_QTY != emptyBigDecimalValue" >
        RECIEVED_QTY,
      </if>
      <if test="BATCH_NAME != null" >
        BATCH_NAME,
      </if>
      <if test="REQUESTED_BY != null" >
        REQUESTED_BY,
      </if>
      <if test="RECIEVED_BY != null" >
        RECIEVED_BY,
      </if>
      <if test="CANCELLED_BY != null" >
        CANCELLED_BY,
      </if>
      <if test="TO_BE_CANCELLED_BY != null" >
        TO_BE_CANCELLED_BY,
      </if>
      <if test="RECEIVED_DATE != null" >
        RECEIVED_DATE,
      </if>
      <if test="REQUESTED_DATE != null" >
        REQUESTED_DATE,
      </if>
      <if test="TO_BE_CANCELLED_DATE != null" >
        TO_BE_CANCELLED_DATE,
      </if>
      <if test="CANCELLED_DATE != null" >
        CANCELLED_DATE,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="VAULT_NO != null and VAULT_NO != emptyBigDecimalValue" >
        VAULT_NO,
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY,
      </if>
      <if test="APPROVED_DATE != null" >
        APPROVED_DATE,
      </if>
      <if test="TO_BRANCH != null and TO_BRANCH != emptyBigDecimalValue" >
        TO_BRANCH,
      </if>
      <if test="TO_VAULT != null and TO_VAULT != emptyBigDecimalValue" >
        TO_VAULT,
      </if>
      <if test="RECEIVED != null" >
        RECEIVED,
      </if>
      <if test="REJECTED_BY != null" >
        REJECTED_BY,
      </if>
      <if test="REJECTED_DATE != null" >
        REJECTED_DATE,
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY,
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE,
      </if>
      <if test="REASON != null" >
        REASON,
      </if>
      <if test="REQUEST_BATCH != null and REQUEST_BATCH != emptyBigDecimalValue" >
        REQUEST_BATCH,
      </if>
      <if test="SENT_BATCH != null and SENT_BATCH != emptyBigDecimalValue" >
        SENT_BATCH,
      </if>
      <if test="SENT_QTY != null and SENT_QTY != emptyBigDecimalValue" >
        SENT_QTY,
      </if>
      <if test="REJECT_REASON != null" >
        REJECT_REASON,
      </if>
      <if test="STATUS_REASON != null and STATUS_REASON != emptyBigDecimalValue" >
        STATUS_REASON,
      </if>
      DATE_UPDATED,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BATCH_NO != null and BATCH_NO != emptyBigDecimalValue" >
        #{BATCH_NO},
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="REQUEST_TYPE != null" >
        #{REQUEST_TYPE},
      </if>
      <if test="PASSBOOK_TYPE != null and PASSBOOK_TYPE != emptyBigDecimalValue" >
        #{PASSBOOK_TYPE},
      </if>
      <if test="PASSBOOK_LAYOUT != null" >
        #{PASSBOOK_LAYOUT},
      </if>
      <if test="REQUESTED_QTY != null and REQUESTED_QTY != emptyBigDecimalValue" >
        #{REQUESTED_QTY},
      </if>
      <if test="RECIEVED_QTY != null and RECIEVED_QTY != emptyBigDecimalValue" >
        #{RECIEVED_QTY},
      </if>
      <if test="BATCH_NAME != null" >
        #{BATCH_NAME},
      </if>
      <if test="REQUESTED_BY != null" >
        #{REQUESTED_BY},
      </if>
      <if test="RECIEVED_BY != null" >
        #{RECIEVED_BY},
      </if>
      <if test="CANCELLED_BY != null" >
        #{CANCELLED_BY},
      </if>
      <if test="TO_BE_CANCELLED_BY != null" >
        #{TO_BE_CANCELLED_BY},
      </if>
      <if test="RECEIVED_DATE != null" >
        #{RECEIVED_DATE},
      </if>
      <if test="REQUESTED_DATE != null" >
        #{REQUESTED_DATE},
      </if>
      <if test="TO_BE_CANCELLED_DATE != null" >
        #{TO_BE_CANCELLED_DATE},
      </if>
      <if test="CANCELLED_DATE != null" >
        #{CANCELLED_DATE},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="VAULT_NO != null and VAULT_NO != emptyBigDecimalValue" >
        #{VAULT_NO},
      </if>
      <if test="APPROVED_BY != null" >
        #{APPROVED_BY},
      </if>
      <if test="APPROVED_DATE != null" >
        #{APPROVED_DATE},
      </if>
      <if test="TO_BRANCH != null and TO_BRANCH != emptyBigDecimalValue" >
        #{TO_BRANCH},
      </if>
      <if test="TO_VAULT != null and TO_VAULT != emptyBigDecimalValue" >
        #{TO_VAULT},
      </if>
      <if test="RECEIVED != null" >
        #{RECEIVED},
      </if>
      <if test="REJECTED_BY != null" >
        #{REJECTED_BY},
      </if>
      <if test="REJECTED_DATE != null" >
        #{REJECTED_DATE},
      </if>
      <if test="MODIFIED_BY != null" >
        #{MODIFIED_BY},
      </if>
      <if test="MODIFIED_DATE != null" >
        #{MODIFIED_DATE},
      </if>
      <if test="REASON != null" >
        #{REASON},
      </if>
      <if test="REQUEST_BATCH != null and REQUEST_BATCH != emptyBigDecimalValue" >
        #{REQUEST_BATCH},
      </if>
      <if test="SENT_BATCH != null and SENT_BATCH != emptyBigDecimalValue" >
        #{SENT_BATCH},
      </if>
      <if test="SENT_QTY != null and SENT_QTY != emptyBigDecimalValue" >
        #{SENT_QTY},
      </if>
      <if test="REJECT_REASON != null" >
        #{REJECT_REASON},
      </if>
      <if test="STATUS_REASON != null and STATUS_REASON != emptyBigDecimalValue" >
        #{STATUS_REASON},
      </if>
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
    </trim>
  </insert>
  <sql id="sql_updateCTS_PASSBOOK_REQUEST" >
    update CTS_PASSBOOK_REQUEST
    <set >
      <if test="PASSBOOK_TYPE != null" >
        <choose >
          <when test="PASSBOOK_TYPE == emptyBigDecimalValue" >
            PASSBOOK_TYPE = NULL ,
          </when>
          <otherwise >
            PASSBOOK_TYPE = #{PASSBOOK_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="PASSBOOK_LAYOUT != null" >
        PASSBOOK_LAYOUT = #{PASSBOOK_LAYOUT},
      </if>
      <if test="REQUESTED_QTY != null" >
        <choose >
          <when test="REQUESTED_QTY == emptyBigDecimalValue" >
            REQUESTED_QTY = NULL ,
          </when>
          <otherwise >
            REQUESTED_QTY = #{REQUESTED_QTY},
          </otherwise>
        </choose>
      </if>
      <if test="RECIEVED_QTY != null" >
        <choose >
          <when test="RECIEVED_QTY == emptyBigDecimalValue" >
            RECIEVED_QTY = NULL ,
          </when>
          <otherwise >
            RECIEVED_QTY = #{RECIEVED_QTY},
          </otherwise>
        </choose>
      </if>
      <if test="BATCH_NAME != null" >
        BATCH_NAME = #{BATCH_NAME},
      </if>
      <if test="REQUESTED_BY != null" >
        REQUESTED_BY = #{REQUESTED_BY},
      </if>
      <if test="RECIEVED_BY != null" >
        RECIEVED_BY = #{RECIEVED_BY},
      </if>
      <if test="CANCELLED_BY != null" >
        CANCELLED_BY = #{CANCELLED_BY},
      </if>
      <if test="TO_BE_CANCELLED_BY != null" >
        TO_BE_CANCELLED_BY = #{TO_BE_CANCELLED_BY},
      </if>
      <if test="RECEIVED_DATE != null" >
        RECEIVED_DATE = #{RECEIVED_DATE},
      </if>
      <if test="REQUESTED_DATE != null" >
        REQUESTED_DATE = #{REQUESTED_DATE},
      </if>
      <if test="TO_BE_CANCELLED_DATE != null" >
        TO_BE_CANCELLED_DATE = #{TO_BE_CANCELLED_DATE},
      </if>
      <if test="CANCELLED_DATE != null" >
        CANCELLED_DATE = #{CANCELLED_DATE},
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="VAULT_NO != null" >
        <choose >
          <when test="VAULT_NO == emptyBigDecimalValue" >
            VAULT_NO = NULL ,
          </when>
          <otherwise >
            VAULT_NO = #{VAULT_NO},
          </otherwise>
        </choose>
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY = #{APPROVED_BY},
      </if>
      <if test="APPROVED_DATE != null" >
        APPROVED_DATE = #{APPROVED_DATE},
      </if>
      <if test="TO_BRANCH != null" >
        <choose >
          <when test="TO_BRANCH == emptyBigDecimalValue" >
            TO_BRANCH = NULL ,
          </when>
          <otherwise >
            TO_BRANCH = #{TO_BRANCH},
          </otherwise>
        </choose>
      </if>
      <if test="TO_VAULT != null" >
        <choose >
          <when test="TO_VAULT == emptyBigDecimalValue" >
            TO_VAULT = NULL ,
          </when>
          <otherwise >
            TO_VAULT = #{TO_VAULT},
          </otherwise>
        </choose>
      </if>
      <if test="RECEIVED != null" >
        RECEIVED = #{RECEIVED},
      </if>
      <if test="REJECTED_BY != null" >
        REJECTED_BY = #{REJECTED_BY},
      </if>
      <if test="REJECTED_DATE != null" >
        REJECTED_DATE = #{REJECTED_DATE},
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY = #{MODIFIED_BY},
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE = #{MODIFIED_DATE},
      </if>
      <if test="REASON != null" >
        REASON = #{REASON},
      </if>
      <if test="REQUEST_BATCH != null" >
        <choose >
          <when test="REQUEST_BATCH == emptyBigDecimalValue" >
            REQUEST_BATCH = NULL ,
          </when>
          <otherwise >
            REQUEST_BATCH = #{REQUEST_BATCH},
          </otherwise>
        </choose>
      </if>
      <if test="SENT_BATCH != null" >
        <choose >
          <when test="SENT_BATCH == emptyBigDecimalValue" >
            SENT_BATCH = NULL ,
          </when>
          <otherwise >
            SENT_BATCH = #{SENT_BATCH},
          </otherwise>
        </choose>
      </if>
      <if test="SENT_QTY != null" >
        <choose >
          <when test="SENT_QTY == emptyBigDecimalValue" >
            SENT_QTY = NULL ,
          </when>
          <otherwise >
            SENT_QTY = #{SENT_QTY},
          </otherwise>
        </choose>
      </if>
      <if test="REJECT_REASON != null" >
        REJECT_REASON = #{REJECT_REASON},
      </if>
      <if test="STATUS_REASON != null" >
        <choose >
          <when test="STATUS_REASON == emptyBigDecimalValue" >
            STATUS_REASON = NULL ,
          </when>
          <otherwise >
            STATUS_REASON = #{STATUS_REASON},
          </otherwise>
        </choose>
      </if>
      DATE_UPDATED = 
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
    </set>
    where BATCH_NO = #{BATCH_NO}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and REQUEST_TYPE = #{REQUEST_TYPE}
  </sql>
  <update id="updateCTS_PASSBOOK_REQUEST" parameterType="com.path.dbmaps.vo.CTS_PASSBOOK_REQUESTVO" >
    <include refid="sql_updateCTS_PASSBOOK_REQUEST" />
    <if test="DATE_UPDATED != null" >
      AND DATE_UPDATED = #{DATE_UPDATED}
    </if>
  </update>
</mapper>