<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTS_CIF_KYC_DETAILS" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTS_CIF_KYC_DETAILSVO" >
    <id column="CIF_NO" property="CIF_NO" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <result column="KYC_TYPE" property="KYC_TYPE" />
    <result column="ACC_HOLDER_US_PERSON" property="ACC_HOLDER_US_PERSON" />
    <result column="FATCA_CLASSIFICATION" property="FATCA_CLASSIFICATION" />
    <result column="FATCA_DECLARATION" property="FATCA_DECLARATION" />
    <result column="CLASSIFICATION_OTHER_VAL" property="CLASSIFICATION_OTHER_VAL" />
    <result column="TAX_ID_NUMBER" property="TAX_ID_NUMBER" />
    <result column="FATCA_COMPL" property="FATCA_COMPL" />
    <result column="FATCA_SIGN_DATE" property="FATCA_SIGN_DATE" />
    <result column="FATCA_EXP_FORM" property="FATCA_EXP_FORM" />
    <result column="ACC_PURPOSE" property="ACC_PURPOSE" />
    <result column="EMP_TYPE" property="EMP_TYPE" />
    <result column="NATURE_OF_BUSINESS" property="NATURE_OF_BUSINESS" />
    <result column="EMP_NAME" property="EMP_NAME" />
    <result column="EMP_ADDRESS" property="EMP_ADDRESS" />
    <result column="POLITICAL_EXP" property="POLITICAL_EXP" />
    <result column="MOD_OF_TRX_CASH_YN" property="MOD_OF_TRX_CASH_YN" />
    <result column="MOD_OF_TRX_CLEARING_YN" property="MOD_OF_TRX_CLEARING_YN" />
    <result column="MOD_OF_TRX_INTERNET_YN" property="MOD_OF_TRX_INTERNET_YN" />
    <result column="MOD_OF_TRX_INTERNAL_YN" property="MOD_OF_TRX_INTERNAL_YN" />
    <result column="MOD_OF_TRX_MOBILE_YN" property="MOD_OF_TRX_MOBILE_YN" />
    <result column="MOD_OF_TRX_ATM_YN" property="MOD_OF_TRX_ATM_YN" />
    <result column="MOD_OF_TRX_REMIT_YN" property="MOD_OF_TRX_REMIT_YN" />
    <result column="MOD_OF_TRX_OTHERS_YN" property="MOD_OF_TRX_OTHERS_YN" />
    <result column="MOD_OF_TRX_OTHER_VAL" property="MOD_OF_TRX_OTHER_VAL" />
    <result column="EXPECTED_NO_CR_TRX" property="EXPECTED_NO_CR_TRX" />
    <result column="EXPECTED_CR_AMOUNT" property="EXPECTED_CR_AMOUNT" />
    <result column="EXPECTED_NO_DR_TRX" property="EXPECTED_NO_DR_TRX" />
    <result column="EXPECTED_DR_AMOUNT" property="EXPECTED_DR_AMOUNT" />
    <result column="RISK_RATING" property="RISK_RATING" />
    <result column="ADDRESS_COUNTRY" property="ADDRESS_COUNTRY" />
    <result column="ADDRESS_CITY" property="ADDRESS_CITY" />
    <result column="ADDRESS_STATE" property="ADDRESS_STATE" />
    <result column="ADDRESS_HOUSE" property="ADDRESS_HOUSE" />
    <result column="ADDRESS_PO_BOX" property="ADDRESS_PO_BOX" />
    <result column="ADDRESS_POSTAL_CODE" property="ADDRESS_POSTAL_CODE" />
    <result column="W9_DATE" property="w9_DATE" />
    <result column="W9_EXPIRY_DATE" property="w9_EXPIRY_DATE" />
    <result column="ENTITY_TYPE" property="ENTITY_TYPE" />
    <result column="ENTITY_TYPE_OTHER_VAL" property="ENTITY_TYPE_OTHER_VAL" />
    <result column="ENTITY_TYPE_REMARKS" property="ENTITY_TYPE_REMARKS" />
    <result column="INSTITUTION_GIIN" property="INSTITUTION_GIIN" />
    <result column="INST_NAME_SPONSOR_ENTITY" property="INST_NAME_SPONSOR_ENTITY" />
    <result column="NAME_STOCK_EXCH" property="NAME_STOCK_EXCH" />
    <result column="COUNTRY_STOCK_EXCH" property="COUNTRY_STOCK_EXCH" />
    <result column="SPONSOR_GIIN" property="SPONSOR_GIIN" />
    <result column="CONTACT_NUMBER" property="CONTACT_NUMBER" />
    <result column="ESTIM_SALES_TURNOVER_BUSINESS" property="ESTIM_SALES_TURNOVER_BUSINESS" />
    <result column="OTHER_SOURCES_OF_FUND" property="OTHER_SOURCES_OF_FUND" />
    <result column="SIGNIFICANT_MOD_OF_TRX" property="SIGNIFICANT_MOD_OF_TRX" />
    <result column="CONTACT_NUM" property="CONTACT_NUM" />
  </resultMap>
  <sql id="Base_Column_List" >
    CIF_NO, COMP_CODE, KYC_TYPE, ACC_HOLDER_US_PERSON, FATCA_CLASSIFICATION, FATCA_DECLARATION, 
    CLASSIFICATION_OTHER_VAL, TAX_ID_NUMBER, FATCA_COMPL, FATCA_SIGN_DATE, FATCA_EXP_FORM, 
    ACC_PURPOSE, EMP_TYPE, NATURE_OF_BUSINESS, EMP_NAME, EMP_ADDRESS, POLITICAL_EXP, 
    MOD_OF_TRX_CASH_YN, MOD_OF_TRX_CLEARING_YN, MOD_OF_TRX_INTERNET_YN, MOD_OF_TRX_INTERNAL_YN, 
    MOD_OF_TRX_MOBILE_YN, MOD_OF_TRX_ATM_YN, MOD_OF_TRX_REMIT_YN, MOD_OF_TRX_OTHERS_YN, 
    MOD_OF_TRX_OTHER_VAL, EXPECTED_NO_CR_TRX, EXPECTED_CR_AMOUNT, EXPECTED_NO_DR_TRX, 
    EXPECTED_DR_AMOUNT, RISK_RATING, ADDRESS_COUNTRY, ADDRESS_CITY, ADDRESS_STATE, ADDRESS_HOUSE, 
    ADDRESS_PO_BOX, ADDRESS_POSTAL_CODE, W9_DATE, W9_EXPIRY_DATE, ENTITY_TYPE, ENTITY_TYPE_OTHER_VAL, 
    ENTITY_TYPE_REMARKS, INSTITUTION_GIIN, INST_NAME_SPONSOR_ENTITY, NAME_STOCK_EXCH, 
    COUNTRY_STOCK_EXCH, SPONSOR_GIIN, CONTACT_NUMBER, ESTIM_SALES_TURNOVER_BUSINESS, 
    OTHER_SOURCES_OF_FUND, SIGNIFICANT_MOD_OF_TRX, CONTACT_NUM
  </sql>
  <select id="selectCTS_CIF_KYC_DETAILS" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTS_CIF_KYC_DETAILSVO" >
    select 
    <include refid="Base_Column_List" />
    from CTS_CIF_KYC_DETAILS
    where CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
  </select>
  <delete id="deleteCTS_CIF_KYC_DETAILS" parameterType="com.path.dbmaps.vo.CTS_CIF_KYC_DETAILSVO" >
    delete from CTS_CIF_KYC_DETAILS
    where CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
  </delete>
  <insert id="insertCTS_CIF_KYC_DETAILS" parameterType="com.path.dbmaps.vo.CTS_CIF_KYC_DETAILSVO" >
    insert into CTS_CIF_KYC_DETAILS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CIF_NO != null" >
        CIF_NO,
      </if>
      <if test="COMP_CODE != null" >
        COMP_CODE,
      </if>
      <if test="KYC_TYPE != null and !&quot;&quot;.equals(KYC_TYPE)" >
        KYC_TYPE,
      </if>
      <if test="ACC_HOLDER_US_PERSON != null and !&quot;&quot;.equals(ACC_HOLDER_US_PERSON)" >
        ACC_HOLDER_US_PERSON,
      </if>
      <if test="FATCA_CLASSIFICATION != null and !&quot;&quot;.equals(FATCA_CLASSIFICATION)" >
        FATCA_CLASSIFICATION,
      </if>
      <if test="FATCA_DECLARATION != null and !&quot;&quot;.equals(FATCA_DECLARATION)" >
        FATCA_DECLARATION,
      </if>
      <if test="CLASSIFICATION_OTHER_VAL != null and !&quot;&quot;.equals(CLASSIFICATION_OTHER_VAL)" >
        CLASSIFICATION_OTHER_VAL,
      </if>
      <if test="TAX_ID_NUMBER != null and !&quot;&quot;.equals(TAX_ID_NUMBER)" >
        TAX_ID_NUMBER,
      </if>
      <if test="FATCA_COMPL != null and !&quot;&quot;.equals(FATCA_COMPL)" >
        FATCA_COMPL,
      </if>
      <if test="FATCA_SIGN_DATE != null" >
        FATCA_SIGN_DATE,
      </if>
      <if test="FATCA_EXP_FORM != null" >
        FATCA_EXP_FORM,
      </if>
      <if test="ACC_PURPOSE != null" >
        ACC_PURPOSE,
      </if>
      <if test="EMP_TYPE != null" >
        EMP_TYPE,
      </if>
      <if test="NATURE_OF_BUSINESS != null and !&quot;&quot;.equals(NATURE_OF_BUSINESS)" >
        NATURE_OF_BUSINESS,
      </if>
      <if test="EMP_NAME != null and !&quot;&quot;.equals(EMP_NAME)" >
        EMP_NAME,
      </if>
      <if test="EMP_ADDRESS != null and !&quot;&quot;.equals(EMP_ADDRESS)" >
        EMP_ADDRESS,
      </if>
      <if test="POLITICAL_EXP != null and !&quot;&quot;.equals(POLITICAL_EXP)" >
        POLITICAL_EXP,
      </if>
      <if test="MOD_OF_TRX_CASH_YN != null and !&quot;&quot;.equals(MOD_OF_TRX_CASH_YN)" >
        MOD_OF_TRX_CASH_YN,
      </if>
      <if test="MOD_OF_TRX_CLEARING_YN != null and !&quot;&quot;.equals(MOD_OF_TRX_CLEARING_YN)" >
        MOD_OF_TRX_CLEARING_YN,
      </if>
      <if test="MOD_OF_TRX_INTERNET_YN != null and !&quot;&quot;.equals(MOD_OF_TRX_INTERNET_YN)" >
        MOD_OF_TRX_INTERNET_YN,
      </if>
      <if test="MOD_OF_TRX_INTERNAL_YN != null and !&quot;&quot;.equals(MOD_OF_TRX_INTERNAL_YN)" >
        MOD_OF_TRX_INTERNAL_YN,
      </if>
      <if test="MOD_OF_TRX_MOBILE_YN != null and !&quot;&quot;.equals(MOD_OF_TRX_MOBILE_YN)" >
        MOD_OF_TRX_MOBILE_YN,
      </if>
      <if test="MOD_OF_TRX_ATM_YN != null and !&quot;&quot;.equals(MOD_OF_TRX_ATM_YN)" >
        MOD_OF_TRX_ATM_YN,
      </if>
      <if test="MOD_OF_TRX_REMIT_YN != null and !&quot;&quot;.equals(MOD_OF_TRX_REMIT_YN)" >
        MOD_OF_TRX_REMIT_YN,
      </if>
      <if test="MOD_OF_TRX_OTHERS_YN != null and !&quot;&quot;.equals(MOD_OF_TRX_OTHERS_YN)" >
        MOD_OF_TRX_OTHERS_YN,
      </if>
      <if test="MOD_OF_TRX_OTHER_VAL != null and !&quot;&quot;.equals(MOD_OF_TRX_OTHER_VAL)" >
        MOD_OF_TRX_OTHER_VAL,
      </if>
      <if test="EXPECTED_NO_CR_TRX != null" >
        EXPECTED_NO_CR_TRX,
      </if>
      <if test="EXPECTED_CR_AMOUNT != null" >
        EXPECTED_CR_AMOUNT,
      </if>
      <if test="EXPECTED_NO_DR_TRX != null" >
        EXPECTED_NO_DR_TRX,
      </if>
      <if test="EXPECTED_DR_AMOUNT != null" >
        EXPECTED_DR_AMOUNT,
      </if>
      <if test="RISK_RATING != null and !&quot;&quot;.equals(RISK_RATING)" >
        RISK_RATING,
      </if>
      <if test="ADDRESS_COUNTRY != null" >
        ADDRESS_COUNTRY,
      </if>
      <if test="ADDRESS_CITY != null and !&quot;&quot;.equals(ADDRESS_CITY)" >
        ADDRESS_CITY,
      </if>
      <if test="ADDRESS_STATE != null and !&quot;&quot;.equals(ADDRESS_STATE)" >
        ADDRESS_STATE,
      </if>
      <if test="ADDRESS_HOUSE != null and !&quot;&quot;.equals(ADDRESS_HOUSE)" >
        ADDRESS_HOUSE,
      </if>
      <if test="ADDRESS_PO_BOX != null and !&quot;&quot;.equals(ADDRESS_PO_BOX)" >
        ADDRESS_PO_BOX,
      </if>
      <if test="ADDRESS_POSTAL_CODE != null and !&quot;&quot;.equals(ADDRESS_POSTAL_CODE)" >
        ADDRESS_POSTAL_CODE,
      </if>
      <if test="w9_DATE != null" >
        W9_DATE,
      </if>
      <if test="w9_EXPIRY_DATE != null" >
        W9_EXPIRY_DATE,
      </if>
      <if test="ENTITY_TYPE != null and !&quot;&quot;.equals(ENTITY_TYPE)" >
        ENTITY_TYPE,
      </if>
      <if test="ENTITY_TYPE_OTHER_VAL != null and !&quot;&quot;.equals(ENTITY_TYPE_OTHER_VAL)" >
        ENTITY_TYPE_OTHER_VAL,
      </if>
      <if test="ENTITY_TYPE_REMARKS != null and !&quot;&quot;.equals(ENTITY_TYPE_REMARKS)" >
        ENTITY_TYPE_REMARKS,
      </if>
      <if test="INSTITUTION_GIIN != null and !&quot;&quot;.equals(INSTITUTION_GIIN)" >
        INSTITUTION_GIIN,
      </if>
      <if test="INST_NAME_SPONSOR_ENTITY != null and !&quot;&quot;.equals(INST_NAME_SPONSOR_ENTITY)" >
        INST_NAME_SPONSOR_ENTITY,
      </if>
      <if test="NAME_STOCK_EXCH != null and !&quot;&quot;.equals(NAME_STOCK_EXCH)" >
        NAME_STOCK_EXCH,
      </if>
      <if test="COUNTRY_STOCK_EXCH != null" >
        COUNTRY_STOCK_EXCH,
      </if>
      <if test="SPONSOR_GIIN != null and !&quot;&quot;.equals(SPONSOR_GIIN)" >
        SPONSOR_GIIN,
      </if>
      <if test="CONTACT_NUMBER != null and !&quot;&quot;.equals(CONTACT_NUMBER)" >
        CONTACT_NUMBER,
      </if>
      <if test="ESTIM_SALES_TURNOVER_BUSINESS != null" >
        ESTIM_SALES_TURNOVER_BUSINESS,
      </if>
      <if test="OTHER_SOURCES_OF_FUND != null and !&quot;&quot;.equals(OTHER_SOURCES_OF_FUND)" >
        OTHER_SOURCES_OF_FUND,
      </if>
      <if test="SIGNIFICANT_MOD_OF_TRX != null and !&quot;&quot;.equals(SIGNIFICANT_MOD_OF_TRX)" >
        SIGNIFICANT_MOD_OF_TRX,
      </if>
      <if test="CONTACT_NUM != null and !&quot;&quot;.equals(CONTACT_NUM)" >
        CONTACT_NUM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CIF_NO != null" >
        #{CIF_NO},
      </if>
      <if test="COMP_CODE != null" >
        #{COMP_CODE},
      </if>
      <if test="KYC_TYPE != null and !&quot;&quot;.equals(KYC_TYPE)" >
        #{KYC_TYPE},
      </if>
      <if test="ACC_HOLDER_US_PERSON != null and !&quot;&quot;.equals(ACC_HOLDER_US_PERSON)" >
        #{ACC_HOLDER_US_PERSON},
      </if>
      <if test="FATCA_CLASSIFICATION != null and !&quot;&quot;.equals(FATCA_CLASSIFICATION)" >
        #{FATCA_CLASSIFICATION},
      </if>
      <if test="FATCA_DECLARATION != null and !&quot;&quot;.equals(FATCA_DECLARATION)" >
        #{FATCA_DECLARATION},
      </if>
      <if test="CLASSIFICATION_OTHER_VAL != null and !&quot;&quot;.equals(CLASSIFICATION_OTHER_VAL)" >
        #{CLASSIFICATION_OTHER_VAL},
      </if>
      <if test="TAX_ID_NUMBER != null and !&quot;&quot;.equals(TAX_ID_NUMBER)" >
        #{TAX_ID_NUMBER},
      </if>
      <if test="FATCA_COMPL != null and !&quot;&quot;.equals(FATCA_COMPL)" >
        #{FATCA_COMPL},
      </if>
      <if test="FATCA_SIGN_DATE != null" >
        #{FATCA_SIGN_DATE},
      </if>
      <if test="FATCA_EXP_FORM != null" >
        #{FATCA_EXP_FORM},
      </if>
      <if test="ACC_PURPOSE != null" >
        #{ACC_PURPOSE},
      </if>
      <if test="EMP_TYPE != null" >
        #{EMP_TYPE},
      </if>
      <if test="NATURE_OF_BUSINESS != null and !&quot;&quot;.equals(NATURE_OF_BUSINESS)" >
        #{NATURE_OF_BUSINESS},
      </if>
      <if test="EMP_NAME != null and !&quot;&quot;.equals(EMP_NAME)" >
        #{EMP_NAME},
      </if>
      <if test="EMP_ADDRESS != null and !&quot;&quot;.equals(EMP_ADDRESS)" >
        #{EMP_ADDRESS},
      </if>
      <if test="POLITICAL_EXP != null and !&quot;&quot;.equals(POLITICAL_EXP)" >
        #{POLITICAL_EXP},
      </if>
      <if test="MOD_OF_TRX_CASH_YN != null and !&quot;&quot;.equals(MOD_OF_TRX_CASH_YN)" >
        #{MOD_OF_TRX_CASH_YN},
      </if>
      <if test="MOD_OF_TRX_CLEARING_YN != null and !&quot;&quot;.equals(MOD_OF_TRX_CLEARING_YN)" >
        #{MOD_OF_TRX_CLEARING_YN},
      </if>
      <if test="MOD_OF_TRX_INTERNET_YN != null and !&quot;&quot;.equals(MOD_OF_TRX_INTERNET_YN)" >
        #{MOD_OF_TRX_INTERNET_YN},
      </if>
      <if test="MOD_OF_TRX_INTERNAL_YN != null and !&quot;&quot;.equals(MOD_OF_TRX_INTERNAL_YN)" >
        #{MOD_OF_TRX_INTERNAL_YN},
      </if>
      <if test="MOD_OF_TRX_MOBILE_YN != null and !&quot;&quot;.equals(MOD_OF_TRX_MOBILE_YN)" >
        #{MOD_OF_TRX_MOBILE_YN},
      </if>
      <if test="MOD_OF_TRX_ATM_YN != null and !&quot;&quot;.equals(MOD_OF_TRX_ATM_YN)" >
        #{MOD_OF_TRX_ATM_YN},
      </if>
      <if test="MOD_OF_TRX_REMIT_YN != null and !&quot;&quot;.equals(MOD_OF_TRX_REMIT_YN)" >
        #{MOD_OF_TRX_REMIT_YN},
      </if>
      <if test="MOD_OF_TRX_OTHERS_YN != null and !&quot;&quot;.equals(MOD_OF_TRX_OTHERS_YN)" >
        #{MOD_OF_TRX_OTHERS_YN},
      </if>
      <if test="MOD_OF_TRX_OTHER_VAL != null and !&quot;&quot;.equals(MOD_OF_TRX_OTHER_VAL)" >
        #{MOD_OF_TRX_OTHER_VAL},
      </if>
      <if test="EXPECTED_NO_CR_TRX != null" >
        #{EXPECTED_NO_CR_TRX},
      </if>
      <if test="EXPECTED_CR_AMOUNT != null" >
        #{EXPECTED_CR_AMOUNT},
      </if>
      <if test="EXPECTED_NO_DR_TRX != null" >
        #{EXPECTED_NO_DR_TRX},
      </if>
      <if test="EXPECTED_DR_AMOUNT != null" >
        #{EXPECTED_DR_AMOUNT},
      </if>
      <if test="RISK_RATING != null and !&quot;&quot;.equals(RISK_RATING)" >
        #{RISK_RATING},
      </if>
      <if test="ADDRESS_COUNTRY != null" >
        #{ADDRESS_COUNTRY},
      </if>
      <if test="ADDRESS_CITY != null and !&quot;&quot;.equals(ADDRESS_CITY)" >
        #{ADDRESS_CITY},
      </if>
      <if test="ADDRESS_STATE != null and !&quot;&quot;.equals(ADDRESS_STATE)" >
        #{ADDRESS_STATE},
      </if>
      <if test="ADDRESS_HOUSE != null and !&quot;&quot;.equals(ADDRESS_HOUSE)" >
        #{ADDRESS_HOUSE},
      </if>
      <if test="ADDRESS_PO_BOX != null and !&quot;&quot;.equals(ADDRESS_PO_BOX)" >
        #{ADDRESS_PO_BOX},
      </if>
      <if test="ADDRESS_POSTAL_CODE != null and !&quot;&quot;.equals(ADDRESS_POSTAL_CODE)" >
        #{ADDRESS_POSTAL_CODE},
      </if>
      <if test="w9_DATE != null" >
        #{w9_DATE},
      </if>
      <if test="w9_EXPIRY_DATE != null" >
        #{w9_EXPIRY_DATE},
      </if>
      <if test="ENTITY_TYPE != null and !&quot;&quot;.equals(ENTITY_TYPE)" >
        #{ENTITY_TYPE},
      </if>
      <if test="ENTITY_TYPE_OTHER_VAL != null and !&quot;&quot;.equals(ENTITY_TYPE_OTHER_VAL)" >
        #{ENTITY_TYPE_OTHER_VAL},
      </if>
      <if test="ENTITY_TYPE_REMARKS != null and !&quot;&quot;.equals(ENTITY_TYPE_REMARKS)" >
        #{ENTITY_TYPE_REMARKS},
      </if>
      <if test="INSTITUTION_GIIN != null and !&quot;&quot;.equals(INSTITUTION_GIIN)" >
        #{INSTITUTION_GIIN},
      </if>
      <if test="INST_NAME_SPONSOR_ENTITY != null and !&quot;&quot;.equals(INST_NAME_SPONSOR_ENTITY)" >
        #{INST_NAME_SPONSOR_ENTITY},
      </if>
      <if test="NAME_STOCK_EXCH != null and !&quot;&quot;.equals(NAME_STOCK_EXCH)" >
        #{NAME_STOCK_EXCH},
      </if>
      <if test="COUNTRY_STOCK_EXCH != null" >
        #{COUNTRY_STOCK_EXCH},
      </if>
      <if test="SPONSOR_GIIN != null and !&quot;&quot;.equals(SPONSOR_GIIN)" >
        #{SPONSOR_GIIN},
      </if>
      <if test="CONTACT_NUMBER != null and !&quot;&quot;.equals(CONTACT_NUMBER)" >
        #{CONTACT_NUMBER},
      </if>
      <if test="ESTIM_SALES_TURNOVER_BUSINESS != null" >
        #{ESTIM_SALES_TURNOVER_BUSINESS},
      </if>
      <if test="OTHER_SOURCES_OF_FUND != null and !&quot;&quot;.equals(OTHER_SOURCES_OF_FUND)" >
        #{OTHER_SOURCES_OF_FUND},
      </if>
      <if test="SIGNIFICANT_MOD_OF_TRX != null and !&quot;&quot;.equals(SIGNIFICANT_MOD_OF_TRX)" >
        #{SIGNIFICANT_MOD_OF_TRX},
      </if>
      <if test="CONTACT_NUM != null and !&quot;&quot;.equals(CONTACT_NUM)" >
        #{CONTACT_NUM},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTS_CIF_KYC_DETAILS" >
    update CTS_CIF_KYC_DETAILS
    <set >
      <if test="KYC_TYPE != null" >
        <choose >
          <when test="KYC_TYPE.equals(&quot;&quot;)" >
            KYC_TYPE = NULL ,
          </when>
          <otherwise >
            KYC_TYPE = #{KYC_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_HOLDER_US_PERSON != null" >
        <choose >
          <when test="ACC_HOLDER_US_PERSON.equals(&quot;&quot;)" >
            ACC_HOLDER_US_PERSON = NULL ,
          </when>
          <otherwise >
            ACC_HOLDER_US_PERSON = #{ACC_HOLDER_US_PERSON},
          </otherwise>
        </choose>
      </if>
      <if test="FATCA_CLASSIFICATION != null" >
        <choose >
          <when test="FATCA_CLASSIFICATION.equals(&quot;&quot;)" >
            FATCA_CLASSIFICATION = NULL ,
          </when>
          <otherwise >
            FATCA_CLASSIFICATION = #{FATCA_CLASSIFICATION},
          </otherwise>
        </choose>
      </if>
      <if test="FATCA_DECLARATION != null" >
        <choose >
          <when test="FATCA_DECLARATION.equals(&quot;&quot;)" >
            FATCA_DECLARATION = NULL ,
          </when>
          <otherwise >
            FATCA_DECLARATION = #{FATCA_DECLARATION},
          </otherwise>
        </choose>
      </if>
      <if test="CLASSIFICATION_OTHER_VAL != null" >
        <choose >
          <when test="CLASSIFICATION_OTHER_VAL.equals(&quot;&quot;)" >
            CLASSIFICATION_OTHER_VAL = NULL ,
          </when>
          <otherwise >
            CLASSIFICATION_OTHER_VAL = #{CLASSIFICATION_OTHER_VAL},
          </otherwise>
        </choose>
      </if>
      <if test="TAX_ID_NUMBER != null" >
        <choose >
          <when test="TAX_ID_NUMBER.equals(&quot;&quot;)" >
            TAX_ID_NUMBER = NULL ,
          </when>
          <otherwise >
            TAX_ID_NUMBER = #{TAX_ID_NUMBER},
          </otherwise>
        </choose>
      </if>
      <if test="FATCA_COMPL != null" >
        <choose >
          <when test="FATCA_COMPL.equals(&quot;&quot;)" >
            FATCA_COMPL = NULL ,
          </when>
          <otherwise >
            FATCA_COMPL = #{FATCA_COMPL},
          </otherwise>
        </choose>
      </if>
      <if test="FATCA_SIGN_DATE != null" >
        FATCA_SIGN_DATE = #{FATCA_SIGN_DATE},
      </if>
      <if test="FATCA_EXP_FORM != null" >
        FATCA_EXP_FORM = #{FATCA_EXP_FORM},
      </if>
      <if test="ACC_PURPOSE != null" >
        ACC_PURPOSE = #{ACC_PURPOSE},
      </if>
      <if test="EMP_TYPE != null" >
        EMP_TYPE = #{EMP_TYPE},
      </if>
      <if test="NATURE_OF_BUSINESS != null" >
        <choose >
          <when test="NATURE_OF_BUSINESS.equals(&quot;&quot;)" >
            NATURE_OF_BUSINESS = NULL ,
          </when>
          <otherwise >
            NATURE_OF_BUSINESS = #{NATURE_OF_BUSINESS},
          </otherwise>
        </choose>
      </if>
      <if test="EMP_NAME != null" >
        <choose >
          <when test="EMP_NAME.equals(&quot;&quot;)" >
            EMP_NAME = NULL ,
          </when>
          <otherwise >
            EMP_NAME = #{EMP_NAME},
          </otherwise>
        </choose>
      </if>
      <if test="EMP_ADDRESS != null" >
        <choose >
          <when test="EMP_ADDRESS.equals(&quot;&quot;)" >
            EMP_ADDRESS = NULL ,
          </when>
          <otherwise >
            EMP_ADDRESS = #{EMP_ADDRESS},
          </otherwise>
        </choose>
      </if>
      <if test="POLITICAL_EXP != null" >
        <choose >
          <when test="POLITICAL_EXP.equals(&quot;&quot;)" >
            POLITICAL_EXP = NULL ,
          </when>
          <otherwise >
            POLITICAL_EXP = #{POLITICAL_EXP},
          </otherwise>
        </choose>
      </if>
      <if test="MOD_OF_TRX_CASH_YN != null" >
        <choose >
          <when test="MOD_OF_TRX_CASH_YN.equals(&quot;&quot;)" >
            MOD_OF_TRX_CASH_YN = NULL ,
          </when>
          <otherwise >
            MOD_OF_TRX_CASH_YN = #{MOD_OF_TRX_CASH_YN},
          </otherwise>
        </choose>
      </if>
      <if test="MOD_OF_TRX_CLEARING_YN != null" >
        <choose >
          <when test="MOD_OF_TRX_CLEARING_YN.equals(&quot;&quot;)" >
            MOD_OF_TRX_CLEARING_YN = NULL ,
          </when>
          <otherwise >
            MOD_OF_TRX_CLEARING_YN = #{MOD_OF_TRX_CLEARING_YN},
          </otherwise>
        </choose>
      </if>
      <if test="MOD_OF_TRX_INTERNET_YN != null" >
        <choose >
          <when test="MOD_OF_TRX_INTERNET_YN.equals(&quot;&quot;)" >
            MOD_OF_TRX_INTERNET_YN = NULL ,
          </when>
          <otherwise >
            MOD_OF_TRX_INTERNET_YN = #{MOD_OF_TRX_INTERNET_YN},
          </otherwise>
        </choose>
      </if>
      <if test="MOD_OF_TRX_INTERNAL_YN != null" >
        <choose >
          <when test="MOD_OF_TRX_INTERNAL_YN.equals(&quot;&quot;)" >
            MOD_OF_TRX_INTERNAL_YN = NULL ,
          </when>
          <otherwise >
            MOD_OF_TRX_INTERNAL_YN = #{MOD_OF_TRX_INTERNAL_YN},
          </otherwise>
        </choose>
      </if>
      <if test="MOD_OF_TRX_MOBILE_YN != null" >
        <choose >
          <when test="MOD_OF_TRX_MOBILE_YN.equals(&quot;&quot;)" >
            MOD_OF_TRX_MOBILE_YN = NULL ,
          </when>
          <otherwise >
            MOD_OF_TRX_MOBILE_YN = #{MOD_OF_TRX_MOBILE_YN},
          </otherwise>
        </choose>
      </if>
      <if test="MOD_OF_TRX_ATM_YN != null" >
        <choose >
          <when test="MOD_OF_TRX_ATM_YN.equals(&quot;&quot;)" >
            MOD_OF_TRX_ATM_YN = NULL ,
          </when>
          <otherwise >
            MOD_OF_TRX_ATM_YN = #{MOD_OF_TRX_ATM_YN},
          </otherwise>
        </choose>
      </if>
      <if test="MOD_OF_TRX_REMIT_YN != null" >
        <choose >
          <when test="MOD_OF_TRX_REMIT_YN.equals(&quot;&quot;)" >
            MOD_OF_TRX_REMIT_YN = NULL ,
          </when>
          <otherwise >
            MOD_OF_TRX_REMIT_YN = #{MOD_OF_TRX_REMIT_YN},
          </otherwise>
        </choose>
      </if>
      <if test="MOD_OF_TRX_OTHERS_YN != null" >
        <choose >
          <when test="MOD_OF_TRX_OTHERS_YN.equals(&quot;&quot;)" >
            MOD_OF_TRX_OTHERS_YN = NULL ,
          </when>
          <otherwise >
            MOD_OF_TRX_OTHERS_YN = #{MOD_OF_TRX_OTHERS_YN},
          </otherwise>
        </choose>
      </if>
      <if test="MOD_OF_TRX_OTHER_VAL != null" >
        <choose >
          <when test="MOD_OF_TRX_OTHER_VAL.equals(&quot;&quot;)" >
            MOD_OF_TRX_OTHER_VAL = NULL ,
          </when>
          <otherwise >
            MOD_OF_TRX_OTHER_VAL = #{MOD_OF_TRX_OTHER_VAL},
          </otherwise>
        </choose>
      </if>
      <if test="EXPECTED_NO_CR_TRX != null" >
        EXPECTED_NO_CR_TRX = #{EXPECTED_NO_CR_TRX},
      </if>
      <if test="EXPECTED_CR_AMOUNT != null" >
        EXPECTED_CR_AMOUNT = #{EXPECTED_CR_AMOUNT},
      </if>
      <if test="EXPECTED_NO_DR_TRX != null" >
        EXPECTED_NO_DR_TRX = #{EXPECTED_NO_DR_TRX},
      </if>
      <if test="EXPECTED_DR_AMOUNT != null" >
        EXPECTED_DR_AMOUNT = #{EXPECTED_DR_AMOUNT},
      </if>
      <if test="RISK_RATING != null" >
        <choose >
          <when test="RISK_RATING.equals(&quot;&quot;)" >
            RISK_RATING = NULL ,
          </when>
          <otherwise >
            RISK_RATING = #{RISK_RATING},
          </otherwise>
        </choose>
      </if>
      <if test="ADDRESS_COUNTRY != null" >
        ADDRESS_COUNTRY = #{ADDRESS_COUNTRY},
      </if>
      <if test="ADDRESS_CITY != null" >
        <choose >
          <when test="ADDRESS_CITY.equals(&quot;&quot;)" >
            ADDRESS_CITY = NULL ,
          </when>
          <otherwise >
            ADDRESS_CITY = #{ADDRESS_CITY},
          </otherwise>
        </choose>
      </if>
      <if test="ADDRESS_STATE != null" >
        <choose >
          <when test="ADDRESS_STATE.equals(&quot;&quot;)" >
            ADDRESS_STATE = NULL ,
          </when>
          <otherwise >
            ADDRESS_STATE = #{ADDRESS_STATE},
          </otherwise>
        </choose>
      </if>
      <if test="ADDRESS_HOUSE != null" >
        <choose >
          <when test="ADDRESS_HOUSE.equals(&quot;&quot;)" >
            ADDRESS_HOUSE = NULL ,
          </when>
          <otherwise >
            ADDRESS_HOUSE = #{ADDRESS_HOUSE},
          </otherwise>
        </choose>
      </if>
      <if test="ADDRESS_PO_BOX != null" >
        <choose >
          <when test="ADDRESS_PO_BOX.equals(&quot;&quot;)" >
            ADDRESS_PO_BOX = NULL ,
          </when>
          <otherwise >
            ADDRESS_PO_BOX = #{ADDRESS_PO_BOX},
          </otherwise>
        </choose>
      </if>
      <if test="ADDRESS_POSTAL_CODE != null" >
        <choose >
          <when test="ADDRESS_POSTAL_CODE.equals(&quot;&quot;)" >
            ADDRESS_POSTAL_CODE = NULL ,
          </when>
          <otherwise >
            ADDRESS_POSTAL_CODE = #{ADDRESS_POSTAL_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="w9_DATE != null" >
        W9_DATE = #{w9_DATE},
      </if>
      <if test="w9_EXPIRY_DATE != null" >
        W9_EXPIRY_DATE = #{w9_EXPIRY_DATE},
      </if>
      <if test="ENTITY_TYPE != null" >
        <choose >
          <when test="ENTITY_TYPE.equals(&quot;&quot;)" >
            ENTITY_TYPE = NULL ,
          </when>
          <otherwise >
            ENTITY_TYPE = #{ENTITY_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="ENTITY_TYPE_OTHER_VAL != null" >
        <choose >
          <when test="ENTITY_TYPE_OTHER_VAL.equals(&quot;&quot;)" >
            ENTITY_TYPE_OTHER_VAL = NULL ,
          </when>
          <otherwise >
            ENTITY_TYPE_OTHER_VAL = #{ENTITY_TYPE_OTHER_VAL},
          </otherwise>
        </choose>
      </if>
      <if test="ENTITY_TYPE_REMARKS != null" >
        <choose >
          <when test="ENTITY_TYPE_REMARKS.equals(&quot;&quot;)" >
            ENTITY_TYPE_REMARKS = NULL ,
          </when>
          <otherwise >
            ENTITY_TYPE_REMARKS = #{ENTITY_TYPE_REMARKS},
          </otherwise>
        </choose>
      </if>
      <if test="INSTITUTION_GIIN != null" >
        <choose >
          <when test="INSTITUTION_GIIN.equals(&quot;&quot;)" >
            INSTITUTION_GIIN = NULL ,
          </when>
          <otherwise >
            INSTITUTION_GIIN = #{INSTITUTION_GIIN},
          </otherwise>
        </choose>
      </if>
      <if test="INST_NAME_SPONSOR_ENTITY != null" >
        <choose >
          <when test="INST_NAME_SPONSOR_ENTITY.equals(&quot;&quot;)" >
            INST_NAME_SPONSOR_ENTITY = NULL ,
          </when>
          <otherwise >
            INST_NAME_SPONSOR_ENTITY = #{INST_NAME_SPONSOR_ENTITY},
          </otherwise>
        </choose>
      </if>
      <if test="NAME_STOCK_EXCH != null" >
        <choose >
          <when test="NAME_STOCK_EXCH.equals(&quot;&quot;)" >
            NAME_STOCK_EXCH = NULL ,
          </when>
          <otherwise >
            NAME_STOCK_EXCH = #{NAME_STOCK_EXCH},
          </otherwise>
        </choose>
      </if>
      <if test="COUNTRY_STOCK_EXCH != null" >
        COUNTRY_STOCK_EXCH = #{COUNTRY_STOCK_EXCH},
      </if>
      <if test="SPONSOR_GIIN != null" >
        <choose >
          <when test="SPONSOR_GIIN.equals(&quot;&quot;)" >
            SPONSOR_GIIN = NULL ,
          </when>
          <otherwise >
            SPONSOR_GIIN = #{SPONSOR_GIIN},
          </otherwise>
        </choose>
      </if>
      <if test="CONTACT_NUMBER != null" >
        <choose >
          <when test="CONTACT_NUMBER.equals(&quot;&quot;)" >
            CONTACT_NUMBER = NULL ,
          </when>
          <otherwise >
            CONTACT_NUMBER = #{CONTACT_NUMBER},
          </otherwise>
        </choose>
      </if>
      <if test="ESTIM_SALES_TURNOVER_BUSINESS != null" >
        ESTIM_SALES_TURNOVER_BUSINESS = #{ESTIM_SALES_TURNOVER_BUSINESS},
      </if>
      <if test="OTHER_SOURCES_OF_FUND != null" >
        <choose >
          <when test="OTHER_SOURCES_OF_FUND.equals(&quot;&quot;)" >
            OTHER_SOURCES_OF_FUND = NULL ,
          </when>
          <otherwise >
            OTHER_SOURCES_OF_FUND = #{OTHER_SOURCES_OF_FUND},
          </otherwise>
        </choose>
      </if>
      <if test="SIGNIFICANT_MOD_OF_TRX != null" >
        <choose >
          <when test="SIGNIFICANT_MOD_OF_TRX.equals(&quot;&quot;)" >
            SIGNIFICANT_MOD_OF_TRX = NULL ,
          </when>
          <otherwise >
            SIGNIFICANT_MOD_OF_TRX = #{SIGNIFICANT_MOD_OF_TRX},
          </otherwise>
        </choose>
      </if>
      <if test="CONTACT_NUM != null" >
        <choose >
          <when test="CONTACT_NUM.equals(&quot;&quot;)" >
            CONTACT_NUM = NULL ,
          </when>
          <otherwise >
            CONTACT_NUM = #{CONTACT_NUM},
          </otherwise>
        </choose>
      </if>
    </set>
    where CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
  </sql>
  <update id="updateCTS_CIF_KYC_DETAILS" parameterType="com.path.dbmaps.vo.CTS_CIF_KYC_DETAILSVO" >
    <include refid="sql_updateCTS_CIF_KYC_DETAILS" />
  </update>
</mapper>