<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTS_DUES" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTS_DUESVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="DR_AC_BR" property="DR_AC_BR" />
    <id column="DR_AC_CIF" property="DR_AC_CIF" />
    <id column="DR_AC_CY" property="DR_AC_CY" />
    <id column="DR_AC_GL" property="DR_AC_GL" />
    <id column="DR_AC_SL" property="DR_AC_SL" />
    <id column="DUE_CODE" property="DUE_CODE" />
    <result column="APP_NAME" property="APP_NAME" />
    <result column="DUE_TYPE" property="DUE_TYPE" />
    <result column="PAYMENT_MODE" property="PAYMENT_MODE" />
    <result column="TRS_TYPE" property="TRS_TYPE" />
    <result column="CB_IND" property="CB_IND" />
    <result column="TRS_NO" property="TRS_NO" />
    <result column="CR_AC_BR" property="CR_AC_BR" />
    <result column="CR_AC_CY" property="CR_AC_CY" />
    <result column="CR_AC_GL" property="CR_AC_GL" />
    <result column="CR_AC_CIF" property="CR_AC_CIF" />
    <result column="CR_AC_SL" property="CR_AC_SL" />
    <result column="ORIGINAL_AMT" property="ORIGINAL_AMT" />
    <result column="ORIGINAL_AMT_CV" property="ORIGINAL_AMT_CV" />
    <result column="REMAINING_AMOUNT" property="REMAINING_AMOUNT" />
    <result column="SETTLED_AMOUNT" property="SETTLED_AMOUNT" />
    <result column="EXCHANGE_RATE" property="EXCHANGE_RATE" />
    <result column="STATUS" property="STATUS" />
    <result column="DESCRIPTION_ENG" property="DESCRIPTION_ENG" />
    <result column="DESCRIPTION_ARAB" property="DESCRIPTION_ARAB" />
    <result column="EXPIRY_DATE" property="EXPIRY_DATE" />
    <result column="SUSPEND_REASON_CODE" property="SUSPEND_REASON_CODE" />
    <result column="SUB_OPERATION" property="SUB_OPERATION" />
    <result column="CV_AMOUNT" property="CV_AMOUNT" />
    <result column="FC_AMOUNT" property="FC_AMOUNT" />
    <result column="DELETED_BY" property="DELETED_BY" />
    <result column="DATE_DELETED" property="DATE_DELETED" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="DATE_CREATED" property="DATE_CREATED" />
    <result column="REVERSED_BY" property="REVERSED_BY" />
    <result column="DATE_REVERSED" property="DATE_REVERSED" />
    <result column="TO_BE_REVERSED_BY" property="TO_BE_REVERSED_BY" />
    <result column="DATE_TO_BE_REVERSED" property="DATE_TO_BE_REVERSED" />
    <result column="AUTH_BY" property="AUTH_BY" />
    <result column="DATE_AUTH" property="DATE_AUTH" />
    <result column="CHARGE_CODE" property="CHARGE_CODE" />
    <result column="BATCH_NO" property="BATCH_NO" />
    <result column="DUES_IND" property="DUES_IND" />
    <result column="PRODUCT_NO" property="PRODUCT_NO" />
    <result column="PRODUCT_TYPE" property="PRODUCT_TYPE" />
    <result column="BATCH_LINE_NO" property="BATCH_LINE_NO" />
    <result column="DATE_UPDATED" property="DATE_UPDATED" />
    <result column="EXEMPTED_AMOUNT" property="EXEMPTED_AMOUNT" />
    <result column="TOTAL_EXEMPTED_AMOUNT" property="TOTAL_EXEMPTED_AMOUNT" />
    <result column="OLD_STATUS" property="OLD_STATUS" />
    <result column="EXEMPT_REASON_CODE" property="EXEMPT_REASON_CODE" />
    <result column="SETTLED_CHARGE_AMOUNT" property="SETTLED_CHARGE_AMOUNT" />
    <result column="SETTLED_VAT_AMOUNT" property="SETTLED_VAT_AMOUNT" />
    <result column="CR_VAT_AC_BR" property="CR_VAT_AC_BR" />
    <result column="CR_VAT_AC_CY" property="CR_VAT_AC_CY" />
    <result column="CR_VAT_AC_GL" property="CR_VAT_AC_GL" />
    <result column="CR_VAT_AC_CIF" property="CR_VAT_AC_CIF" />
    <result column="CR_VAT_AC_SL" property="CR_VAT_AC_SL" />
    <result column="ORIGINAL_VAT_AMT_CV" property="ORIGINAL_VAT_AMT_CV" />
    <result column="ORIGINAL_VAT_AMT_FC" property="ORIGINAL_VAT_AMT_FC" />
    <result column="VAT_CODE" property="VAT_CODE" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, DR_AC_BR, DR_AC_CIF, DR_AC_CY, DR_AC_GL, DR_AC_SL, DUE_CODE, 
    APP_NAME, DUE_TYPE, PAYMENT_MODE, TRS_TYPE, CB_IND, TRS_NO, CR_AC_BR, CR_AC_CY, CR_AC_GL, 
    CR_AC_CIF, CR_AC_SL, ORIGINAL_AMT, ORIGINAL_AMT_CV, REMAINING_AMOUNT, SETTLED_AMOUNT, 
    EXCHANGE_RATE, STATUS, DESCRIPTION_ENG, DESCRIPTION_ARAB, EXPIRY_DATE, SUSPEND_REASON_CODE, 
    SUB_OPERATION, CV_AMOUNT, FC_AMOUNT, DELETED_BY, DATE_DELETED, CREATED_BY, DATE_CREATED, 
    REVERSED_BY, DATE_REVERSED, TO_BE_REVERSED_BY, DATE_TO_BE_REVERSED, AUTH_BY, DATE_AUTH, 
    CHARGE_CODE, BATCH_NO, DUES_IND, PRODUCT_NO, PRODUCT_TYPE, BATCH_LINE_NO, DATE_UPDATED, 
    EXEMPTED_AMOUNT, TOTAL_EXEMPTED_AMOUNT, OLD_STATUS, EXEMPT_REASON_CODE,SETTLED_CHARGE_AMOUNT, 
    SETTLED_VAT_AMOUNT, CR_VAT_AC_BR, CR_VAT_AC_CY, CR_VAT_AC_GL, CR_VAT_AC_CIF, CR_VAT_AC_SL, 
    ORIGINAL_VAT_AMT_CV, ORIGINAL_VAT_AMT_FC, VAT_CODE
  </sql>
  <select id="selectCTS_DUES" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTS_DUESVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTS_DUES
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and DR_AC_BR = #{DR_AC_BR}
      and DR_AC_CIF = #{DR_AC_CIF}
      and DR_AC_CY = #{DR_AC_CY}
      and DR_AC_GL = #{DR_AC_GL}
      and DR_AC_SL = #{DR_AC_SL}
      and DUE_CODE = #{DUE_CODE}
  </select>
  <delete id="deleteCTS_DUES" parameterType="com.path.dbmaps.vo.CTS_DUESVOKey" >
    delete from CTS_DUES
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and DR_AC_BR = #{DR_AC_BR}
      and DR_AC_CIF = #{DR_AC_CIF}
      and DR_AC_CY = #{DR_AC_CY}
      and DR_AC_GL = #{DR_AC_GL}
      and DR_AC_SL = #{DR_AC_SL}
      and DUE_CODE = #{DUE_CODE}
  </delete>
  <insert id="insertCTS_DUES" parameterType="com.path.dbmaps.vo.CTS_DUESVO" >
    insert into CTS_DUES
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="DR_AC_BR != null and DR_AC_BR != emptyBigDecimalValue" >
        DR_AC_BR,
      </if>
      <if test="DR_AC_CIF != null and DR_AC_CIF != emptyBigDecimalValue" >
        DR_AC_CIF,
      </if>
      <if test="DR_AC_CY != null and DR_AC_CY != emptyBigDecimalValue" >
        DR_AC_CY,
      </if>
      <if test="DR_AC_GL != null and DR_AC_GL != emptyBigDecimalValue" >
        DR_AC_GL,
      </if>
      <if test="DR_AC_SL != null and DR_AC_SL != emptyBigDecimalValue" >
        DR_AC_SL,
      </if>
      <if test="DUE_CODE != null and DUE_CODE != emptyBigDecimalValue" >
        DUE_CODE,
      </if>
      <if test="APP_NAME != null" >
        APP_NAME,
      </if>
      <if test="DUE_TYPE != null" >
        DUE_TYPE,
      </if>
      <if test="PAYMENT_MODE != null" >
        PAYMENT_MODE,
      </if>
      <if test="TRS_TYPE != null" >
        TRS_TYPE,
      </if>
      <if test="CB_IND != null" >
        CB_IND,
      </if>
      <if test="TRS_NO != null and TRS_NO != emptyBigDecimalValue" >
        TRS_NO,
      </if>
      <if test="CR_AC_BR != null and CR_AC_BR != emptyBigDecimalValue" >
        CR_AC_BR,
      </if>
      <if test="CR_AC_CY != null and CR_AC_CY != emptyBigDecimalValue" >
        CR_AC_CY,
      </if>
      <if test="CR_AC_GL != null and CR_AC_GL != emptyBigDecimalValue" >
        CR_AC_GL,
      </if>
      <if test="CR_AC_CIF != null and CR_AC_CIF != emptyBigDecimalValue" >
        CR_AC_CIF,
      </if>
      <if test="CR_AC_SL != null and CR_AC_SL != emptyBigDecimalValue" >
        CR_AC_SL,
      </if>
      <if test="ORIGINAL_AMT != null and ORIGINAL_AMT != emptyBigDecimalValue" >
        ORIGINAL_AMT,
      </if>
      <if test="ORIGINAL_AMT_CV != null and ORIGINAL_AMT_CV != emptyBigDecimalValue" >
        ORIGINAL_AMT_CV,
      </if>
      <if test="REMAINING_AMOUNT != null and REMAINING_AMOUNT != emptyBigDecimalValue" >
        REMAINING_AMOUNT,
      </if>
      <if test="SETTLED_AMOUNT != null and SETTLED_AMOUNT != emptyBigDecimalValue" >
        SETTLED_AMOUNT,
      </if>
      <if test="EXCHANGE_RATE != null and EXCHANGE_RATE != emptyBigDecimalValue" >
        EXCHANGE_RATE,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="DESCRIPTION_ENG != null" >
        DESCRIPTION_ENG,
      </if>
      <if test="DESCRIPTION_ARAB != null" >
        DESCRIPTION_ARAB,
      </if>
      <if test="EXPIRY_DATE != null" >
        EXPIRY_DATE,
      </if>
      <if test="SUSPEND_REASON_CODE != null and SUSPEND_REASON_CODE != emptyBigDecimalValue" >
        SUSPEND_REASON_CODE,
      </if>
      <if test="SUB_OPERATION != null" >
        SUB_OPERATION,
      </if>
      <if test="CV_AMOUNT != null and CV_AMOUNT != emptyBigDecimalValue" >
        CV_AMOUNT,
      </if>
      <if test="FC_AMOUNT != null and FC_AMOUNT != emptyBigDecimalValue" >
        FC_AMOUNT,
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY,
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED,
      </if>
      <if test="REVERSED_BY != null" >
        REVERSED_BY,
      </if>
      <if test="DATE_REVERSED != null" >
        DATE_REVERSED,
      </if>
      <if test="TO_BE_REVERSED_BY != null" >
        TO_BE_REVERSED_BY,
      </if>
      <if test="DATE_TO_BE_REVERSED != null" >
        DATE_TO_BE_REVERSED,
      </if>
      <if test="AUTH_BY != null" >
        AUTH_BY,
      </if>
      <if test="DATE_AUTH != null" >
        DATE_AUTH,
      </if>
      <if test="CHARGE_CODE != null and CHARGE_CODE != emptyBigDecimalValue" >
        CHARGE_CODE,
      </if>
      <if test="BATCH_NO != null and BATCH_NO != emptyBigDecimalValue" >
        BATCH_NO,
      </if>
      <if test="DUES_IND != null" >
        DUES_IND,
      </if>
      <if test="PRODUCT_NO != null and PRODUCT_NO != emptyBigDecimalValue" >
        PRODUCT_NO,
      </if>
      <if test="PRODUCT_TYPE != null" >
        PRODUCT_TYPE,
      </if>
      <if test="BATCH_LINE_NO != null and BATCH_LINE_NO != emptyBigDecimalValue" >
        BATCH_LINE_NO,
      </if>
      DATE_UPDATED,
      <if test="EXEMPTED_AMOUNT != null and EXEMPTED_AMOUNT != emptyBigDecimalValue" >
        EXEMPTED_AMOUNT,
      </if>
      <if test="TOTAL_EXEMPTED_AMOUNT != null and TOTAL_EXEMPTED_AMOUNT != emptyBigDecimalValue" >
        TOTAL_EXEMPTED_AMOUNT,
      </if>
      <if test="OLD_STATUS != null" >
        OLD_STATUS,
      </if>
      <if test="EXEMPT_REASON_CODE != null and EXEMPT_REASON_CODE != emptyBigDecimalValue" >
        EXEMPT_REASON_CODE,
      </if>
      <if test="SETTLED_CHARGE_AMOUNT != null and SETTLED_CHARGE_AMOUNT != emptyBigDecimalValue" >
        SETTLED_CHARGE_AMOUNT,
      </if>
      <if test="SETTLED_VAT_AMOUNT != null and SETTLED_VAT_AMOUNT != emptyBigDecimalValue" >
        SETTLED_VAT_AMOUNT,
      </if>
      <if test="CR_VAT_AC_BR != null and CR_VAT_AC_BR != emptyBigDecimalValue" >
        CR_VAT_AC_BR,
      </if>
      <if test="CR_VAT_AC_CY != null and CR_VAT_AC_CY != emptyBigDecimalValue" >
        CR_VAT_AC_CY,
      </if>
      <if test="CR_VAT_AC_GL != null and CR_VAT_AC_GL != emptyBigDecimalValue" >
        CR_VAT_AC_GL,
      </if>
      <if test="CR_VAT_AC_CIF != null and CR_VAT_AC_CIF != emptyBigDecimalValue" >
        CR_VAT_AC_CIF,
      </if>
      <if test="CR_VAT_AC_SL != null and CR_VAT_AC_SL != emptyBigDecimalValue" >
        CR_VAT_AC_SL,
      </if>
      <if test="ORIGINAL_VAT_AMT_CV != null and ORIGINAL_VAT_AMT_CV != emptyBigDecimalValue" >
        ORIGINAL_VAT_AMT_CV,
      </if>
      <if test="ORIGINAL_VAT_AMT_FC != null and ORIGINAL_VAT_AMT_FC != emptyBigDecimalValue" >
        ORIGINAL_VAT_AMT_FC,
      </if>
      <if test="VAT_CODE != null and VAT_CODE != emptyBigDecimalValue" >
        VAT_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="DR_AC_BR != null and DR_AC_BR != emptyBigDecimalValue" >
        #{DR_AC_BR},
      </if>
      <if test="DR_AC_CIF != null and DR_AC_CIF != emptyBigDecimalValue" >
        #{DR_AC_CIF},
      </if>
      <if test="DR_AC_CY != null and DR_AC_CY != emptyBigDecimalValue" >
        #{DR_AC_CY},
      </if>
      <if test="DR_AC_GL != null and DR_AC_GL != emptyBigDecimalValue" >
        #{DR_AC_GL},
      </if>
      <if test="DR_AC_SL != null and DR_AC_SL != emptyBigDecimalValue" >
        #{DR_AC_SL},
      </if>
      <if test="DUE_CODE != null and DUE_CODE != emptyBigDecimalValue" >
        #{DUE_CODE},
      </if>
      <if test="APP_NAME != null" >
        #{APP_NAME},
      </if>
      <if test="DUE_TYPE != null" >
        #{DUE_TYPE},
      </if>
      <if test="PAYMENT_MODE != null" >
        #{PAYMENT_MODE},
      </if>
      <if test="TRS_TYPE != null" >
        #{TRS_TYPE},
      </if>
      <if test="CB_IND != null" >
        #{CB_IND},
      </if>
      <if test="TRS_NO != null and TRS_NO != emptyBigDecimalValue" >
        #{TRS_NO},
      </if>
      <if test="CR_AC_BR != null and CR_AC_BR != emptyBigDecimalValue" >
        #{CR_AC_BR},
      </if>
      <if test="CR_AC_CY != null and CR_AC_CY != emptyBigDecimalValue" >
        #{CR_AC_CY},
      </if>
      <if test="CR_AC_GL != null and CR_AC_GL != emptyBigDecimalValue" >
        #{CR_AC_GL},
      </if>
      <if test="CR_AC_CIF != null and CR_AC_CIF != emptyBigDecimalValue" >
        #{CR_AC_CIF},
      </if>
      <if test="CR_AC_SL != null and CR_AC_SL != emptyBigDecimalValue" >
        #{CR_AC_SL},
      </if>
      <if test="ORIGINAL_AMT != null and ORIGINAL_AMT != emptyBigDecimalValue" >
        #{ORIGINAL_AMT},
      </if>
      <if test="ORIGINAL_AMT_CV != null and ORIGINAL_AMT_CV != emptyBigDecimalValue" >
        #{ORIGINAL_AMT_CV},
      </if>
      <if test="REMAINING_AMOUNT != null and REMAINING_AMOUNT != emptyBigDecimalValue" >
        #{REMAINING_AMOUNT},
      </if>
      <if test="SETTLED_AMOUNT != null and SETTLED_AMOUNT != emptyBigDecimalValue" >
        #{SETTLED_AMOUNT},
      </if>
      <if test="EXCHANGE_RATE != null and EXCHANGE_RATE != emptyBigDecimalValue" >
        #{EXCHANGE_RATE},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="DESCRIPTION_ENG != null" >
        #{DESCRIPTION_ENG},
      </if>
      <if test="DESCRIPTION_ARAB != null" >
        #{DESCRIPTION_ARAB},
      </if>
      <if test="EXPIRY_DATE != null" >
        #{EXPIRY_DATE},
      </if>
      <if test="SUSPEND_REASON_CODE != null and SUSPEND_REASON_CODE != emptyBigDecimalValue" >
        #{SUSPEND_REASON_CODE},
      </if>
      <if test="SUB_OPERATION != null" >
        #{SUB_OPERATION},
      </if>
      <if test="CV_AMOUNT != null and CV_AMOUNT != emptyBigDecimalValue" >
        #{CV_AMOUNT},
      </if>
      <if test="FC_AMOUNT != null and FC_AMOUNT != emptyBigDecimalValue" >
        #{FC_AMOUNT},
      </if>
      <if test="DELETED_BY != null" >
        #{DELETED_BY},
      </if>
      <if test="DATE_DELETED != null" >
        #{DATE_DELETED},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="DATE_CREATED != null" >
        #{DATE_CREATED},
      </if>
      <if test="REVERSED_BY != null" >
        #{REVERSED_BY},
      </if>
      <if test="DATE_REVERSED != null" >
        #{DATE_REVERSED},
      </if>
      <if test="TO_BE_REVERSED_BY != null" >
        #{TO_BE_REVERSED_BY},
      </if>
      <if test="DATE_TO_BE_REVERSED != null" >
        #{DATE_TO_BE_REVERSED},
      </if>
      <if test="AUTH_BY != null" >
        #{AUTH_BY},
      </if>
      <if test="DATE_AUTH != null" >
        #{DATE_AUTH},
      </if>
      <if test="CHARGE_CODE != null and CHARGE_CODE != emptyBigDecimalValue" >
        #{CHARGE_CODE},
      </if>
      <if test="BATCH_NO != null and BATCH_NO != emptyBigDecimalValue" >
        #{BATCH_NO},
      </if>
      <if test="DUES_IND != null" >
        #{DUES_IND},
      </if>
      <if test="PRODUCT_NO != null and PRODUCT_NO != emptyBigDecimalValue" >
        #{PRODUCT_NO},
      </if>
      <if test="PRODUCT_TYPE != null" >
        #{PRODUCT_TYPE},
      </if>
      <if test="BATCH_LINE_NO != null and BATCH_LINE_NO != emptyBigDecimalValue" >
        #{BATCH_LINE_NO},
      </if>
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
      <if test="EXEMPTED_AMOUNT != null and EXEMPTED_AMOUNT != emptyBigDecimalValue" >
        #{EXEMPTED_AMOUNT},
      </if>
      <if test="TOTAL_EXEMPTED_AMOUNT != null and TOTAL_EXEMPTED_AMOUNT != emptyBigDecimalValue" >
        #{TOTAL_EXEMPTED_AMOUNT},
      </if>
      <if test="OLD_STATUS != null" >
        #{OLD_STATUS},
      </if>
      <if test="EXEMPT_REASON_CODE != null and EXEMPT_REASON_CODE != emptyBigDecimalValue" >
        #{EXEMPT_REASON_CODE},
      </if>
      <if test="SETTLED_CHARGE_AMOUNT != null and SETTLED_CHARGE_AMOUNT != emptyBigDecimalValue" >
        #{SETTLED_CHARGE_AMOUNT},
      </if>
      <if test="SETTLED_VAT_AMOUNT != null and SETTLED_VAT_AMOUNT != emptyBigDecimalValue" >
        #{SETTLED_VAT_AMOUNT},
      </if>
      <if test="CR_VAT_AC_BR != null and CR_VAT_AC_BR != emptyBigDecimalValue" >
        #{CR_VAT_AC_BR},
      </if>
      <if test="CR_VAT_AC_CY != null and CR_VAT_AC_CY != emptyBigDecimalValue" >
        #{CR_VAT_AC_CY},
      </if>
      <if test="CR_VAT_AC_GL != null and CR_VAT_AC_GL != emptyBigDecimalValue" >
        #{CR_VAT_AC_GL},
      </if>
      <if test="CR_VAT_AC_CIF != null and CR_VAT_AC_CIF != emptyBigDecimalValue" >
        #{CR_VAT_AC_CIF},
      </if>
      <if test="CR_VAT_AC_SL != null and CR_VAT_AC_SL != emptyBigDecimalValue" >
        #{CR_VAT_AC_SL},
      </if>
      <if test="ORIGINAL_VAT_AMT_CV != null and ORIGINAL_VAT_AMT_CV != emptyBigDecimalValue" >
        #{ORIGINAL_VAT_AMT_CV},
      </if>
      <if test="ORIGINAL_VAT_AMT_FC != null and ORIGINAL_VAT_AMT_FC != emptyBigDecimalValue" >
        #{ORIGINAL_VAT_AMT_FC},
      </if>
      <if test="VAT_CODE != null and VAT_CODE != emptyBigDecimalValue" >
        #{VAT_CODE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTS_DUES" >
    update CTS_DUES
    <set >
      <if test="APP_NAME != null" >
        APP_NAME = #{APP_NAME},
      </if>
      <if test="DUE_TYPE != null" >
        DUE_TYPE = #{DUE_TYPE},
      </if>
      <if test="PAYMENT_MODE != null" >
        PAYMENT_MODE = #{PAYMENT_MODE},
      </if>
      <if test="TRS_TYPE != null" >
        TRS_TYPE = #{TRS_TYPE},
      </if>
      <if test="CB_IND != null" >
        CB_IND = #{CB_IND},
      </if>
      <if test="TRS_NO != null" >
        <choose >
          <when test="TRS_NO == emptyBigDecimalValue" >
            TRS_NO = NULL ,
          </when>
          <otherwise >
            TRS_NO = #{TRS_NO},
          </otherwise>
        </choose>
      </if>
      <if test="CR_AC_BR != null" >
        <choose >
          <when test="CR_AC_BR == emptyBigDecimalValue" >
            CR_AC_BR = NULL ,
          </when>
          <otherwise >
            CR_AC_BR = #{CR_AC_BR},
          </otherwise>
        </choose>
      </if>
      <if test="CR_AC_CY != null" >
        <choose >
          <when test="CR_AC_CY == emptyBigDecimalValue" >
            CR_AC_CY = NULL ,
          </when>
          <otherwise >
            CR_AC_CY = #{CR_AC_CY},
          </otherwise>
        </choose>
      </if>
      <if test="CR_AC_GL != null" >
        <choose >
          <when test="CR_AC_GL == emptyBigDecimalValue" >
            CR_AC_GL = NULL ,
          </when>
          <otherwise >
            CR_AC_GL = #{CR_AC_GL},
          </otherwise>
        </choose>
      </if>
      <if test="CR_AC_CIF != null" >
        <choose >
          <when test="CR_AC_CIF == emptyBigDecimalValue" >
            CR_AC_CIF = NULL ,
          </when>
          <otherwise >
            CR_AC_CIF = #{CR_AC_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="CR_AC_SL != null" >
        <choose >
          <when test="CR_AC_SL == emptyBigDecimalValue" >
            CR_AC_SL = NULL ,
          </when>
          <otherwise >
            CR_AC_SL = #{CR_AC_SL},
          </otherwise>
        </choose>
      </if>
      <if test="ORIGINAL_AMT != null" >
        <choose >
          <when test="ORIGINAL_AMT == emptyBigDecimalValue" >
            ORIGINAL_AMT = NULL ,
          </when>
          <otherwise >
            ORIGINAL_AMT = #{ORIGINAL_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="ORIGINAL_AMT_CV != null" >
        <choose >
          <when test="ORIGINAL_AMT_CV == emptyBigDecimalValue" >
            ORIGINAL_AMT_CV = NULL ,
          </when>
          <otherwise >
            ORIGINAL_AMT_CV = #{ORIGINAL_AMT_CV},
          </otherwise>
        </choose>
      </if>
      <if test="REMAINING_AMOUNT != null" >
        <choose >
          <when test="REMAINING_AMOUNT == emptyBigDecimalValue" >
            REMAINING_AMOUNT = NULL ,
          </when>
          <otherwise >
            REMAINING_AMOUNT = #{REMAINING_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="SETTLED_AMOUNT != null" >
        <choose >
          <when test="SETTLED_AMOUNT == emptyBigDecimalValue" >
            SETTLED_AMOUNT = NULL ,
          </when>
          <otherwise >
            SETTLED_AMOUNT = #{SETTLED_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="EXCHANGE_RATE != null" >
        <choose >
          <when test="EXCHANGE_RATE == emptyBigDecimalValue" >
            EXCHANGE_RATE = NULL ,
          </when>
          <otherwise >
            EXCHANGE_RATE = #{EXCHANGE_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="DESCRIPTION_ENG != null" >
        DESCRIPTION_ENG = #{DESCRIPTION_ENG},
      </if>
      <if test="DESCRIPTION_ARAB != null" >
        DESCRIPTION_ARAB = #{DESCRIPTION_ARAB},
      </if>
      <if test="EXPIRY_DATE != null" >
        EXPIRY_DATE = #{EXPIRY_DATE},
      </if>
      <if test="SUSPEND_REASON_CODE != null" >
        <choose >
          <when test="SUSPEND_REASON_CODE == emptyBigDecimalValue" >
            SUSPEND_REASON_CODE = NULL ,
          </when>
          <otherwise >
            SUSPEND_REASON_CODE = #{SUSPEND_REASON_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="SUB_OPERATION != null" >
        SUB_OPERATION = #{SUB_OPERATION},
      </if>
      <if test="CV_AMOUNT != null" >
        <choose >
          <when test="CV_AMOUNT == emptyBigDecimalValue" >
            CV_AMOUNT = NULL ,
          </when>
          <otherwise >
            CV_AMOUNT = #{CV_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="FC_AMOUNT != null" >
        <choose >
          <when test="FC_AMOUNT == emptyBigDecimalValue" >
            FC_AMOUNT = NULL ,
          </when>
          <otherwise >
            FC_AMOUNT = #{FC_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY = #{DELETED_BY},
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED = #{DATE_DELETED},
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED = #{DATE_CREATED},
      </if>
      <if test="REVERSED_BY != null" >
        REVERSED_BY = #{REVERSED_BY},
      </if>
      <if test="DATE_REVERSED != null" >
        DATE_REVERSED = #{DATE_REVERSED},
      </if>
      <if test="TO_BE_REVERSED_BY != null" >
        TO_BE_REVERSED_BY = #{TO_BE_REVERSED_BY},
      </if>
      <if test="DATE_TO_BE_REVERSED != null" >
        DATE_TO_BE_REVERSED = #{DATE_TO_BE_REVERSED},
      </if>
      <if test="AUTH_BY != null" >
        AUTH_BY = #{AUTH_BY},
      </if>
      <if test="DATE_AUTH != null" >
        DATE_AUTH = #{DATE_AUTH},
      </if>
      <if test="CHARGE_CODE != null" >
        <choose >
          <when test="CHARGE_CODE == emptyBigDecimalValue" >
            CHARGE_CODE = NULL ,
          </when>
          <otherwise >
            CHARGE_CODE = #{CHARGE_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="BATCH_NO != null" >
        <choose >
          <when test="BATCH_NO == emptyBigDecimalValue" >
            BATCH_NO = NULL ,
          </when>
          <otherwise >
            BATCH_NO = #{BATCH_NO},
          </otherwise>
        </choose>
      </if>
      <if test="DUES_IND != null" >
        DUES_IND = #{DUES_IND},
      </if>
      <if test="PRODUCT_NO != null" >
        <choose >
          <when test="PRODUCT_NO == emptyBigDecimalValue" >
            PRODUCT_NO = NULL ,
          </when>
          <otherwise >
            PRODUCT_NO = #{PRODUCT_NO},
          </otherwise>
        </choose>
      </if>
      <if test="PRODUCT_TYPE != null" >
        PRODUCT_TYPE = #{PRODUCT_TYPE},
      </if>
      <if test="BATCH_LINE_NO != null" >
        <choose >
          <when test="BATCH_LINE_NO == emptyBigDecimalValue" >
            BATCH_LINE_NO = NULL ,
          </when>
          <otherwise >
            BATCH_LINE_NO = #{BATCH_LINE_NO},
          </otherwise>
        </choose>
      </if>
      DATE_UPDATED = 
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
      <if test="EXEMPTED_AMOUNT != null" >
        <choose >
          <when test="EXEMPTED_AMOUNT == emptyBigDecimalValue" >
            EXEMPTED_AMOUNT = NULL ,
          </when>
          <otherwise >
            EXEMPTED_AMOUNT = #{EXEMPTED_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="TOTAL_EXEMPTED_AMOUNT != null" >
        <choose >
          <when test="TOTAL_EXEMPTED_AMOUNT == emptyBigDecimalValue" >
            TOTAL_EXEMPTED_AMOUNT = NULL ,
          </when>
          <otherwise >
            TOTAL_EXEMPTED_AMOUNT = #{TOTAL_EXEMPTED_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="OLD_STATUS != null" >
        OLD_STATUS = #{OLD_STATUS},
      </if>
      <if test="EXEMPT_REASON_CODE != null" >
        <choose >
          <when test="EXEMPT_REASON_CODE == emptyBigDecimalValue" >
            EXEMPT_REASON_CODE = NULL ,
          </when>
          <otherwise >
            EXEMPT_REASON_CODE = #{EXEMPT_REASON_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="SETTLED_CHARGE_AMOUNT != null" >
        <choose >
          <when test="SETTLED_CHARGE_AMOUNT == emptyBigDecimalValue" >
            SETTLED_CHARGE_AMOUNT = NULL ,
          </when>
          <otherwise >
            SETTLED_CHARGE_AMOUNT = #{SETTLED_CHARGE_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="SETTLED_VAT_AMOUNT != null" >
        <choose >
          <when test="SETTLED_VAT_AMOUNT == emptyBigDecimalValue" >
            SETTLED_VAT_AMOUNT = NULL ,
          </when>
          <otherwise >
            SETTLED_VAT_AMOUNT = #{SETTLED_VAT_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="CR_VAT_AC_BR != null" >
        <choose >
          <when test="CR_VAT_AC_BR == emptyBigDecimalValue" >
            CR_VAT_AC_BR = NULL ,
          </when>
          <otherwise >
            CR_VAT_AC_BR = #{CR_VAT_AC_BR},
          </otherwise>
        </choose>
      </if>
      <if test="CR_VAT_AC_CY != null" >
        <choose >
          <when test="CR_VAT_AC_CY == emptyBigDecimalValue" >
            CR_VAT_AC_CY = NULL ,
          </when>
          <otherwise >
            CR_VAT_AC_CY = #{CR_VAT_AC_CY},
          </otherwise>
        </choose>
      </if>
      <if test="CR_VAT_AC_GL != null" >
        <choose >
          <when test="CR_VAT_AC_GL == emptyBigDecimalValue" >
            CR_VAT_AC_GL = NULL ,
          </when>
          <otherwise >
            CR_VAT_AC_GL = #{CR_VAT_AC_GL},
          </otherwise>
        </choose>
      </if>
      <if test="CR_VAT_AC_CIF != null" >
        <choose >
          <when test="CR_VAT_AC_CIF == emptyBigDecimalValue" >
            CR_VAT_AC_CIF = NULL ,
          </when>
          <otherwise >
            CR_VAT_AC_CIF = #{CR_VAT_AC_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="CR_VAT_AC_SL != null" >
        <choose >
          <when test="CR_VAT_AC_SL == emptyBigDecimalValue" >
            CR_VAT_AC_SL = NULL ,
          </when>
          <otherwise >
            CR_VAT_AC_SL = #{CR_VAT_AC_SL},
          </otherwise>
        </choose>
      </if>
      <if test="ORIGINAL_VAT_AMT_CV != null" >
        <choose >
          <when test="ORIGINAL_VAT_AMT_CV == emptyBigDecimalValue" >
            ORIGINAL_VAT_AMT_CV = NULL ,
          </when>
          <otherwise >
            ORIGINAL_VAT_AMT_CV = #{ORIGINAL_VAT_AMT_CV},
          </otherwise>
        </choose>
      </if>
      <if test="ORIGINAL_VAT_AMT_FC != null" >
        <choose >
          <when test="ORIGINAL_VAT_AMT_FC == emptyBigDecimalValue" >
            ORIGINAL_VAT_AMT_FC = NULL ,
          </when>
          <otherwise >
            ORIGINAL_VAT_AMT_FC = #{ORIGINAL_VAT_AMT_FC},
          </otherwise>
        </choose>
      </if>
      <if test="VAT_CODE != null" >
        <choose >
          <when test="VAT_CODE == emptyBigDecimalValue" >
            VAT_CODE = NULL ,
          </when>
          <otherwise >
            VAT_CODE = #{VAT_CODE},
          </otherwise>
        </choose>
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and DR_AC_BR = #{DR_AC_BR}
      and DR_AC_CIF = #{DR_AC_CIF}
      and DR_AC_CY = #{DR_AC_CY}
      and DR_AC_GL = #{DR_AC_GL}
      and DR_AC_SL = #{DR_AC_SL}
      and DUE_CODE = #{DUE_CODE}
  </sql>
  <update id="updateCTS_DUES" parameterType="com.path.dbmaps.vo.CTS_DUESVO" >
    <include refid="sql_updateCTS_DUES" />
    <if test="DATE_UPDATED != null" >
      AND DATE_UPDATED = #{DATE_UPDATED}
    </if>
  </update>
</mapper>