<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTS_TRANSFER_ENTITY_DET" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTS_TRANSFER_ENTITY_DETVO" >
    <id column="BATCH_NO" property="BATCH_NO" />
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NO" property="LINE_NO" />
    <result column="ACC_BR" property="ACC_BR" />
    <result column="ACC_CY" property="ACC_CY" />
    <result column="ACC_GL" property="ACC_GL" />
    <result column="ACC_CIF" property="ACC_CIF" />
    <result column="ACC_SL" property="ACC_SL" />
    <result column="APP_NO" property="APP_NO" />
    <result column="STATUS" property="STATUS" />
  </resultMap>
  <sql id="Base_Column_List" >
    BATCH_NO, BRANCH_CODE, COMP_CODE, LINE_NO, ACC_BR, ACC_CY, ACC_GL, ACC_CIF, ACC_SL, 
    APP_NO, STATUS
  </sql>
  <select id="selectCTS_TRANSFER_ENTITY_DET" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTS_TRANSFER_ENTITY_DETVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTS_TRANSFER_ENTITY_DET
    where BATCH_NO = #{BATCH_NO}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
  </select>
  <delete id="deleteCTS_TRANSFER_ENTITY_DET" parameterType="com.path.dbmaps.vo.CTS_TRANSFER_ENTITY_DETVOKey" >
    delete from CTS_TRANSFER_ENTITY_DET
    where BATCH_NO = #{BATCH_NO}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
  </delete>
  <insert id="insertCTS_TRANSFER_ENTITY_DET" parameterType="com.path.dbmaps.vo.CTS_TRANSFER_ENTITY_DETVO" >
    insert into CTS_TRANSFER_ENTITY_DET
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BATCH_NO != null and BATCH_NO != emptyBigDecimalValue" >
        BATCH_NO,
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="ACC_BR != null and ACC_BR != emptyBigDecimalValue" >
        ACC_BR,
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        ACC_CY,
      </if>
      <if test="ACC_GL != null and ACC_GL != emptyBigDecimalValue" >
        ACC_GL,
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        ACC_CIF,
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        ACC_SL,
      </if>
      <if test="APP_NO != null and APP_NO != emptyBigDecimalValue" >
        APP_NO,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BATCH_NO != null and BATCH_NO != emptyBigDecimalValue" >
        #{BATCH_NO},
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="ACC_BR != null and ACC_BR != emptyBigDecimalValue" >
        #{ACC_BR},
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        #{ACC_CY},
      </if>
      <if test="ACC_GL != null and ACC_GL != emptyBigDecimalValue" >
        #{ACC_GL},
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        #{ACC_CIF},
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        #{ACC_SL},
      </if>
      <if test="APP_NO != null and APP_NO != emptyBigDecimalValue" >
        #{APP_NO},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTS_TRANSFER_ENTITY_DET" >
    update CTS_TRANSFER_ENTITY_DET
    <set >
      <if test="ACC_BR != null" >
        <choose >
          <when test="ACC_BR == emptyBigDecimalValue" >
            ACC_BR = NULL ,
          </when>
          <otherwise >
            ACC_BR = #{ACC_BR},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CY != null" >
        <choose >
          <when test="ACC_CY == emptyBigDecimalValue" >
            ACC_CY = NULL ,
          </when>
          <otherwise >
            ACC_CY = #{ACC_CY},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_GL != null" >
        <choose >
          <when test="ACC_GL == emptyBigDecimalValue" >
            ACC_GL = NULL ,
          </when>
          <otherwise >
            ACC_GL = #{ACC_GL},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CIF != null" >
        <choose >
          <when test="ACC_CIF == emptyBigDecimalValue" >
            ACC_CIF = NULL ,
          </when>
          <otherwise >
            ACC_CIF = #{ACC_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_SL != null" >
        <choose >
          <when test="ACC_SL == emptyBigDecimalValue" >
            ACC_SL = NULL ,
          </when>
          <otherwise >
            ACC_SL = #{ACC_SL},
          </otherwise>
        </choose>
      </if>
      <if test="APP_NO != null" >
        <choose >
          <when test="APP_NO == emptyBigDecimalValue" >
            APP_NO = NULL ,
          </when>
          <otherwise >
            APP_NO = #{APP_NO},
          </otherwise>
        </choose>
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
    </set>
    where BATCH_NO = #{BATCH_NO}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
  </sql>
  <update id="updateCTS_TRANSFER_ENTITY_DET" parameterType="com.path.dbmaps.vo.CTS_TRANSFER_ENTITY_DETVO" >
    <include refid="sql_updateCTS_TRANSFER_ENTITY_DET" />
  </update>
</mapper>