<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTS_CONDITIONAL_AUTOMATION" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTS_CONDITIONAL_AUTOMATIONVO" >
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <result column="SHORT_NAME_ENG" property="SHORT_NAME_ENG" />
    <result column="LONG_NAME_ENG" property="LONG_NAME_ENG" />
    <result column="SHORT_NAME_ARAB" property="SHORT_NAME_ARAB" />
    <result column="LONG_NAME_ARAB" property="LONG_NAME_ARAB" />
    <result column="ENTITY_TYPE" property="ENTITY_TYPE" />
    <result column="EVENT_TYPE" property="EVENT_TYPE" />
    <result column="SPECIAL_COND_TYPE" property="SPECIAL_COND_TYPE" />
    <result column="LINKED_COND_AUTOMATION_CODE" property="LINKED_COND_AUTOMATION_CODE" />
    <result column="DELETE_SPECIAL_COND" property="DELETE_SPECIAL_COND" />
    <result column="CIF_TYPE" property="CIF_TYPE" />
  </resultMap>
  <sql id="Base_Column_List" >
    CODE, COMP_CODE, SHORT_NAME_ENG, LONG_NAME_ENG, SHORT_NAME_ARAB, LONG_NAME_ARAB, 
    ENTITY_TYPE, EVENT_TYPE, SPECIAL_COND_TYPE, LINKED_COND_AUTOMATION_CODE, DELETE_SPECIAL_COND, 
    CIF_TYPE
  </sql>
  <select id="selectCTS_CONDITIONAL_AUTOMATION" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTS_CONDITIONAL_AUTOMATIONVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTS_CONDITIONAL_AUTOMATION
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </select>
  <delete id="deleteCTS_CONDITIONAL_AUTOMATION" parameterType="com.path.dbmaps.vo.CTS_CONDITIONAL_AUTOMATIONVOKey" >
    delete from CTS_CONDITIONAL_AUTOMATION
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </delete>
  <insert id="insertCTS_CONDITIONAL_AUTOMATION" parameterType="com.path.dbmaps.vo.CTS_CONDITIONAL_AUTOMATIONVO" >
    insert into CTS_CONDITIONAL_AUTOMATION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="SHORT_NAME_ENG != null" >
        SHORT_NAME_ENG,
      </if>
      <if test="LONG_NAME_ENG != null" >
        LONG_NAME_ENG,
      </if>
      <if test="SHORT_NAME_ARAB != null" >
        SHORT_NAME_ARAB,
      </if>
      <if test="LONG_NAME_ARAB != null" >
        LONG_NAME_ARAB,
      </if>
      <if test="ENTITY_TYPE != null" >
        ENTITY_TYPE,
      </if>
      <if test="EVENT_TYPE != null and EVENT_TYPE != emptyBigDecimalValue" >
        EVENT_TYPE,
      </if>
      <if test="SPECIAL_COND_TYPE != null" >
        SPECIAL_COND_TYPE,
      </if>
      <if test="LINKED_COND_AUTOMATION_CODE != null and LINKED_COND_AUTOMATION_CODE != emptyBigDecimalValue" >
        LINKED_COND_AUTOMATION_CODE,
      </if>
      <if test="DELETE_SPECIAL_COND != null and DELETE_SPECIAL_COND != emptyBigDecimalValue" >
        DELETE_SPECIAL_COND,
      </if>
      <if test="CIF_TYPE != null and CIF_TYPE != emptyBigDecimalValue" >
        CIF_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        #{CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="SHORT_NAME_ENG != null" >
        #{SHORT_NAME_ENG},
      </if>
      <if test="LONG_NAME_ENG != null" >
        #{LONG_NAME_ENG},
      </if>
      <if test="SHORT_NAME_ARAB != null" >
        #{SHORT_NAME_ARAB},
      </if>
      <if test="LONG_NAME_ARAB != null" >
        #{LONG_NAME_ARAB},
      </if>
      <if test="ENTITY_TYPE != null" >
        #{ENTITY_TYPE},
      </if>
      <if test="EVENT_TYPE != null and EVENT_TYPE != emptyBigDecimalValue" >
        #{EVENT_TYPE},
      </if>
      <if test="SPECIAL_COND_TYPE != null" >
        #{SPECIAL_COND_TYPE},
      </if>
      <if test="LINKED_COND_AUTOMATION_CODE != null and LINKED_COND_AUTOMATION_CODE != emptyBigDecimalValue" >
        #{LINKED_COND_AUTOMATION_CODE},
      </if>
      <if test="DELETE_SPECIAL_COND != null and DELETE_SPECIAL_COND != emptyBigDecimalValue" >
        #{DELETE_SPECIAL_COND},
      </if>
      <if test="CIF_TYPE != null and CIF_TYPE != emptyBigDecimalValue" >
        #{CIF_TYPE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTS_CONDITIONAL_AUTOMATION" >
    update CTS_CONDITIONAL_AUTOMATION
    <set >
      <if test="SHORT_NAME_ENG != null" >
        SHORT_NAME_ENG = #{SHORT_NAME_ENG},
      </if>
      <if test="LONG_NAME_ENG != null" >
        LONG_NAME_ENG = #{LONG_NAME_ENG},
      </if>
      <if test="SHORT_NAME_ARAB != null" >
        SHORT_NAME_ARAB = #{SHORT_NAME_ARAB},
      </if>
      <if test="LONG_NAME_ARAB != null" >
        LONG_NAME_ARAB = #{LONG_NAME_ARAB},
      </if>
      <if test="ENTITY_TYPE != null" >
        ENTITY_TYPE = #{ENTITY_TYPE},
      </if>
      <if test="EVENT_TYPE != null" >
        <choose >
          <when test="EVENT_TYPE == emptyBigDecimalValue" >
            EVENT_TYPE = NULL ,
          </when>
          <otherwise >
            EVENT_TYPE = #{EVENT_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="SPECIAL_COND_TYPE != null" >
        SPECIAL_COND_TYPE = #{SPECIAL_COND_TYPE},
      </if>
      <if test="LINKED_COND_AUTOMATION_CODE != null" >
        <choose >
          <when test="LINKED_COND_AUTOMATION_CODE == emptyBigDecimalValue" >
            LINKED_COND_AUTOMATION_CODE = NULL ,
          </when>
          <otherwise >
            LINKED_COND_AUTOMATION_CODE = #{LINKED_COND_AUTOMATION_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="DELETE_SPECIAL_COND != null" >
        <choose >
          <when test="DELETE_SPECIAL_COND == emptyBigDecimalValue" >
            DELETE_SPECIAL_COND = NULL ,
          </when>
          <otherwise >
            DELETE_SPECIAL_COND = #{DELETE_SPECIAL_COND},
          </otherwise>
        </choose>
      </if>
      <if test="CIF_TYPE != null" >
        <choose >
          <when test="CIF_TYPE == emptyBigDecimalValue" >
            CIF_TYPE = NULL ,
          </when>
          <otherwise >
            CIF_TYPE = #{CIF_TYPE},
          </otherwise>
        </choose>
      </if>
    </set>
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </sql>
  <update id="updateCTS_CONDITIONAL_AUTOMATION" parameterType="com.path.dbmaps.vo.CTS_CONDITIONAL_AUTOMATIONVO" >
    <include refid="sql_updateCTS_CONDITIONAL_AUTOMATION" />
  </update>
</mapper>