<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTS_PASSBOOK" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTS_PASSBOOKVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <result column="ACC_BR" property="ACC_BR" />
    <result column="ACC_CY" property="ACC_CY" />
    <result column="ACC_GL" property="ACC_GL" />
    <result column="ACC_CIF" property="ACC_CIF" />
    <result column="ACC_SL" property="ACC_SL" />
    <result column="LAST_LINE_NUMBER" property="LAST_LINE_NUMBER" />
    <result column="DATE_ISSUED" property="DATE_ISSUED" />
    <result column="LAST_UPDATED_DATE" property="LAST_UPDATED_DATE" />
    <result column="LAST_OPERATION_NUMBER" property="LAST_OPERATION_NUMBER" />
    <result column="OPENING_BAL_CV" property="OPENING_BAL_CV" />
    <result column="OPENING_BAL_FC" property="OPENING_BAL_FC" />
    <result column="CLOSURE_BAL_CV" property="CLOSURE_BAL_CV" />
    <result column="CLOSURE_BAL_FC" property="CLOSURE_BAL_FC" />
    <result column="PR_COVER" property="PR_COVER" />
    <result column="STATUS" property="STATUS" />
    <result column="DATE_CREATED" property="DATE_CREATED" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="DATE_DELETED" property="DATE_DELETED" />
    <result column="DELETED_BY" property="DELETED_BY" />
    <result column="DATE_AUTHORIZED" property="DATE_AUTHORIZED" />
    <result column="AUTHORIZED_BY" property="AUTHORIZED_BY" />
    <result column="DATE_MODIFIED" property="DATE_MODIFIED" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="DATE_CLOSURE" property="DATE_CLOSURE" />
    <result column="CLOSURED_BY" property="CLOSURED_BY" />
    <result column="ACC_ADD_REF" property="ACC_ADD_REF" />
    <result column="PASSBK_TYPE" property="PASSBK_TYPE" />
    <result column="PASSBK_LAYOUT" property="PASSBK_LAYOUT" />
    <result column="CHARGES_DEDUCT" property="CHARGES_DEDUCT" />
    <result column="CHR_AC_BR" property="CHR_AC_BR" />
    <result column="CHR_AC_CY" property="CHR_AC_CY" />
    <result column="CHR_AC_GL" property="CHR_AC_GL" />
    <result column="CHR_AC_CIF" property="CHR_AC_CIF" />
    <result column="CHR_AC_SL" property="CHR_AC_SL" />
    <result column="CHR_AC_ADD_REF" property="CHR_AC_ADD_REF" />
    <result column="STATUS_REASON" property="STATUS_REASON" />
    <result column="REJECTED_BY" property="REJECTED_BY" />
    <result column="DATE_REJECTED" property="DATE_REJECTED" />
    <result column="LOST_BY" property="LOST_BY" />
    <result column="LOST_DATE" property="LOST_DATE" />
    <result column="CTS_TRS_NO" property="CTS_TRS_NO" />
    <result column="MAX_NUM_PAGE" property="MAX_NUM_PAGE" />
    <result column="DATE_UPDATED" property="DATE_UPDATED" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, CODE, COMP_CODE, ACC_BR, ACC_CY, ACC_GL, ACC_CIF, ACC_SL, LAST_LINE_NUMBER, 
    DATE_ISSUED, LAST_UPDATED_DATE, LAST_OPERATION_NUMBER, OPENING_BAL_CV, OPENING_BAL_FC, 
    CLOSURE_BAL_CV, CLOSURE_BAL_FC, PR_COVER, STATUS, DATE_CREATED, CREATED_BY, DATE_DELETED, 
    DELETED_BY, DATE_AUTHORIZED, AUTHORIZED_BY, DATE_MODIFIED, MODIFIED_BY, DATE_CLOSURE, 
    CLOSURED_BY, ACC_ADD_REF, PASSBK_TYPE, PASSBK_LAYOUT, CHARGES_DEDUCT, CHR_AC_BR, 
    CHR_AC_CY, CHR_AC_GL, CHR_AC_CIF, CHR_AC_SL, CHR_AC_ADD_REF, STATUS_REASON, REJECTED_BY, 
    DATE_REJECTED, LOST_BY, LOST_DATE, CTS_TRS_NO, MAX_NUM_PAGE, DATE_UPDATED
  </sql>
  <select id="selectCTS_PASSBOOK" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTS_PASSBOOKVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTS_PASSBOOK
    where BRANCH_CODE = #{BRANCH_CODE}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </select>
  <delete id="deleteCTS_PASSBOOK" parameterType="com.path.dbmaps.vo.CTS_PASSBOOKVOKey" >
    delete from CTS_PASSBOOK
    where BRANCH_CODE = #{BRANCH_CODE}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </delete>
  <insert id="insertCTS_PASSBOOK" parameterType="com.path.dbmaps.vo.CTS_PASSBOOKVO" >
    insert into CTS_PASSBOOK
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="ACC_BR != null and ACC_BR != emptyBigDecimalValue" >
        ACC_BR,
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        ACC_CY,
      </if>
      <if test="ACC_GL != null and ACC_GL != emptyBigDecimalValue" >
        ACC_GL,
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        ACC_CIF,
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        ACC_SL,
      </if>
      <if test="LAST_LINE_NUMBER != null and LAST_LINE_NUMBER != emptyBigDecimalValue" >
        LAST_LINE_NUMBER,
      </if>
      <if test="DATE_ISSUED != null" >
        DATE_ISSUED,
      </if>
      <if test="LAST_UPDATED_DATE != null" >
        LAST_UPDATED_DATE,
      </if>
      <if test="LAST_OPERATION_NUMBER != null and LAST_OPERATION_NUMBER != emptyBigDecimalValue" >
        LAST_OPERATION_NUMBER,
      </if>
      <if test="OPENING_BAL_CV != null and OPENING_BAL_CV != emptyBigDecimalValue" >
        OPENING_BAL_CV,
      </if>
      <if test="OPENING_BAL_FC != null and OPENING_BAL_FC != emptyBigDecimalValue" >
        OPENING_BAL_FC,
      </if>
      <if test="CLOSURE_BAL_CV != null and CLOSURE_BAL_CV != emptyBigDecimalValue" >
        CLOSURE_BAL_CV,
      </if>
      <if test="CLOSURE_BAL_FC != null and CLOSURE_BAL_FC != emptyBigDecimalValue" >
        CLOSURE_BAL_FC,
      </if>
      <if test="PR_COVER != null" >
        PR_COVER,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED,
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY,
      </if>
      <if test="DATE_AUTHORIZED != null" >
        DATE_AUTHORIZED,
      </if>
      <if test="AUTHORIZED_BY != null" >
        AUTHORIZED_BY,
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED,
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY,
      </if>
      <if test="DATE_CLOSURE != null" >
        DATE_CLOSURE,
      </if>
      <if test="CLOSURED_BY != null" >
        CLOSURED_BY,
      </if>
      <if test="ACC_ADD_REF != null" >
        ACC_ADD_REF,
      </if>
      <if test="PASSBK_TYPE != null and PASSBK_TYPE != emptyBigDecimalValue" >
        PASSBK_TYPE,
      </if>
      <if test="PASSBK_LAYOUT != null" >
        PASSBK_LAYOUT,
      </if>
      <if test="CHARGES_DEDUCT != null" >
        CHARGES_DEDUCT,
      </if>
      <if test="CHR_AC_BR != null and CHR_AC_BR != emptyBigDecimalValue" >
        CHR_AC_BR,
      </if>
      <if test="CHR_AC_CY != null and CHR_AC_CY != emptyBigDecimalValue" >
        CHR_AC_CY,
      </if>
      <if test="CHR_AC_GL != null and CHR_AC_GL != emptyBigDecimalValue" >
        CHR_AC_GL,
      </if>
      <if test="CHR_AC_CIF != null and CHR_AC_CIF != emptyBigDecimalValue" >
        CHR_AC_CIF,
      </if>
      <if test="CHR_AC_SL != null and CHR_AC_SL != emptyBigDecimalValue" >
        CHR_AC_SL,
      </if>
      <if test="CHR_AC_ADD_REF != null" >
        CHR_AC_ADD_REF,
      </if>
      <if test="STATUS_REASON != null" >
        STATUS_REASON,
      </if>
      <if test="REJECTED_BY != null" >
        REJECTED_BY,
      </if>
      <if test="DATE_REJECTED != null" >
        DATE_REJECTED,
      </if>
      <if test="LOST_BY != null" >
        LOST_BY,
      </if>
      <if test="LOST_DATE != null" >
        LOST_DATE,
      </if>
      <if test="CTS_TRS_NO != null and CTS_TRS_NO != emptyBigDecimalValue" >
        CTS_TRS_NO,
      </if>
      <if test="MAX_NUM_PAGE != null and MAX_NUM_PAGE != emptyBigDecimalValue" >
        MAX_NUM_PAGE,
      </if>
      DATE_UPDATED,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        #{CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="ACC_BR != null and ACC_BR != emptyBigDecimalValue" >
        #{ACC_BR},
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        #{ACC_CY},
      </if>
      <if test="ACC_GL != null and ACC_GL != emptyBigDecimalValue" >
        #{ACC_GL},
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        #{ACC_CIF},
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        #{ACC_SL},
      </if>
      <if test="LAST_LINE_NUMBER != null and LAST_LINE_NUMBER != emptyBigDecimalValue" >
        #{LAST_LINE_NUMBER},
      </if>
      <if test="DATE_ISSUED != null" >
        #{DATE_ISSUED},
      </if>
      <if test="LAST_UPDATED_DATE != null" >
        #{LAST_UPDATED_DATE},
      </if>
      <if test="LAST_OPERATION_NUMBER != null and LAST_OPERATION_NUMBER != emptyBigDecimalValue" >
        #{LAST_OPERATION_NUMBER},
      </if>
      <if test="OPENING_BAL_CV != null and OPENING_BAL_CV != emptyBigDecimalValue" >
        #{OPENING_BAL_CV},
      </if>
      <if test="OPENING_BAL_FC != null and OPENING_BAL_FC != emptyBigDecimalValue" >
        #{OPENING_BAL_FC},
      </if>
      <if test="CLOSURE_BAL_CV != null and CLOSURE_BAL_CV != emptyBigDecimalValue" >
        #{CLOSURE_BAL_CV},
      </if>
      <if test="CLOSURE_BAL_FC != null and CLOSURE_BAL_FC != emptyBigDecimalValue" >
        #{CLOSURE_BAL_FC},
      </if>
      <if test="PR_COVER != null" >
        #{PR_COVER},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="DATE_CREATED != null" >
        #{DATE_CREATED},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="DATE_DELETED != null" >
        #{DATE_DELETED},
      </if>
      <if test="DELETED_BY != null" >
        #{DELETED_BY},
      </if>
      <if test="DATE_AUTHORIZED != null" >
        #{DATE_AUTHORIZED},
      </if>
      <if test="AUTHORIZED_BY != null" >
        #{AUTHORIZED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        #{DATE_MODIFIED},
      </if>
      <if test="MODIFIED_BY != null" >
        #{MODIFIED_BY},
      </if>
      <if test="DATE_CLOSURE != null" >
        #{DATE_CLOSURE},
      </if>
      <if test="CLOSURED_BY != null" >
        #{CLOSURED_BY},
      </if>
      <if test="ACC_ADD_REF != null" >
        #{ACC_ADD_REF},
      </if>
      <if test="PASSBK_TYPE != null and PASSBK_TYPE != emptyBigDecimalValue" >
        #{PASSBK_TYPE},
      </if>
      <if test="PASSBK_LAYOUT != null" >
        #{PASSBK_LAYOUT},
      </if>
      <if test="CHARGES_DEDUCT != null" >
        #{CHARGES_DEDUCT},
      </if>
      <if test="CHR_AC_BR != null and CHR_AC_BR != emptyBigDecimalValue" >
        #{CHR_AC_BR},
      </if>
      <if test="CHR_AC_CY != null and CHR_AC_CY != emptyBigDecimalValue" >
        #{CHR_AC_CY},
      </if>
      <if test="CHR_AC_GL != null and CHR_AC_GL != emptyBigDecimalValue" >
        #{CHR_AC_GL},
      </if>
      <if test="CHR_AC_CIF != null and CHR_AC_CIF != emptyBigDecimalValue" >
        #{CHR_AC_CIF},
      </if>
      <if test="CHR_AC_SL != null and CHR_AC_SL != emptyBigDecimalValue" >
        #{CHR_AC_SL},
      </if>
      <if test="CHR_AC_ADD_REF != null" >
        #{CHR_AC_ADD_REF},
      </if>
      <if test="STATUS_REASON != null" >
        #{STATUS_REASON},
      </if>
      <if test="REJECTED_BY != null" >
        #{REJECTED_BY},
      </if>
      <if test="DATE_REJECTED != null" >
        #{DATE_REJECTED},
      </if>
      <if test="LOST_BY != null" >
        #{LOST_BY},
      </if>
      <if test="LOST_DATE != null" >
        #{LOST_DATE},
      </if>
      <if test="CTS_TRS_NO != null and CTS_TRS_NO != emptyBigDecimalValue" >
        #{CTS_TRS_NO},
      </if>
      <if test="MAX_NUM_PAGE != null and MAX_NUM_PAGE != emptyBigDecimalValue" >
        #{MAX_NUM_PAGE},
      </if>
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
    </trim>
  </insert>
  <sql id="sql_updateCTS_PASSBOOK" >
    update CTS_PASSBOOK
    <set >
      <if test="ACC_BR != null" >
        <choose >
          <when test="ACC_BR == emptyBigDecimalValue" >
            ACC_BR = NULL ,
          </when>
          <otherwise >
            ACC_BR = #{ACC_BR},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CY != null" >
        <choose >
          <when test="ACC_CY == emptyBigDecimalValue" >
            ACC_CY = NULL ,
          </when>
          <otherwise >
            ACC_CY = #{ACC_CY},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_GL != null" >
        <choose >
          <when test="ACC_GL == emptyBigDecimalValue" >
            ACC_GL = NULL ,
          </when>
          <otherwise >
            ACC_GL = #{ACC_GL},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CIF != null" >
        <choose >
          <when test="ACC_CIF == emptyBigDecimalValue" >
            ACC_CIF = NULL ,
          </when>
          <otherwise >
            ACC_CIF = #{ACC_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_SL != null" >
        <choose >
          <when test="ACC_SL == emptyBigDecimalValue" >
            ACC_SL = NULL ,
          </when>
          <otherwise >
            ACC_SL = #{ACC_SL},
          </otherwise>
        </choose>
      </if>
      <if test="LAST_LINE_NUMBER != null" >
        <choose >
          <when test="LAST_LINE_NUMBER == emptyBigDecimalValue" >
            LAST_LINE_NUMBER = NULL ,
          </when>
          <otherwise >
            LAST_LINE_NUMBER = #{LAST_LINE_NUMBER},
          </otherwise>
        </choose>
      </if>
      <if test="DATE_ISSUED != null" >
        DATE_ISSUED = #{DATE_ISSUED},
      </if>
      <if test="LAST_UPDATED_DATE != null" >
        LAST_UPDATED_DATE = #{LAST_UPDATED_DATE},
      </if>
      <if test="LAST_OPERATION_NUMBER != null" >
        <choose >
          <when test="LAST_OPERATION_NUMBER == emptyBigDecimalValue" >
            LAST_OPERATION_NUMBER = NULL ,
          </when>
          <otherwise >
            LAST_OPERATION_NUMBER = #{LAST_OPERATION_NUMBER},
          </otherwise>
        </choose>
      </if>
      <if test="OPENING_BAL_CV != null" >
        <choose >
          <when test="OPENING_BAL_CV == emptyBigDecimalValue" >
            OPENING_BAL_CV = NULL ,
          </when>
          <otherwise >
            OPENING_BAL_CV = #{OPENING_BAL_CV},
          </otherwise>
        </choose>
      </if>
      <if test="OPENING_BAL_FC != null" >
        <choose >
          <when test="OPENING_BAL_FC == emptyBigDecimalValue" >
            OPENING_BAL_FC = NULL ,
          </when>
          <otherwise >
            OPENING_BAL_FC = #{OPENING_BAL_FC},
          </otherwise>
        </choose>
      </if>
      <if test="CLOSURE_BAL_CV != null" >
        <choose >
          <when test="CLOSURE_BAL_CV == emptyBigDecimalValue" >
            CLOSURE_BAL_CV = NULL ,
          </when>
          <otherwise >
            CLOSURE_BAL_CV = #{CLOSURE_BAL_CV},
          </otherwise>
        </choose>
      </if>
      <if test="CLOSURE_BAL_FC != null" >
        <choose >
          <when test="CLOSURE_BAL_FC == emptyBigDecimalValue" >
            CLOSURE_BAL_FC = NULL ,
          </when>
          <otherwise >
            CLOSURE_BAL_FC = #{CLOSURE_BAL_FC},
          </otherwise>
        </choose>
      </if>
      <if test="PR_COVER != null" >
        PR_COVER = #{PR_COVER},
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED = #{DATE_CREATED},
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED = #{DATE_DELETED},
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY = #{DELETED_BY},
      </if>
      <if test="DATE_AUTHORIZED != null" >
        DATE_AUTHORIZED = #{DATE_AUTHORIZED},
      </if>
      <if test="AUTHORIZED_BY != null" >
        AUTHORIZED_BY = #{AUTHORIZED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED = #{DATE_MODIFIED},
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY = #{MODIFIED_BY},
      </if>
      <if test="DATE_CLOSURE != null" >
        DATE_CLOSURE = #{DATE_CLOSURE},
      </if>
      <if test="CLOSURED_BY != null" >
        CLOSURED_BY = #{CLOSURED_BY},
      </if>
      <if test="ACC_ADD_REF != null" >
        ACC_ADD_REF = #{ACC_ADD_REF},
      </if>
      <if test="PASSBK_TYPE != null" >
        <choose >
          <when test="PASSBK_TYPE == emptyBigDecimalValue" >
            PASSBK_TYPE = NULL ,
          </when>
          <otherwise >
            PASSBK_TYPE = #{PASSBK_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="PASSBK_LAYOUT != null" >
        PASSBK_LAYOUT = #{PASSBK_LAYOUT},
      </if>
      <if test="CHARGES_DEDUCT != null" >
        CHARGES_DEDUCT = #{CHARGES_DEDUCT},
      </if>
      <if test="CHR_AC_BR != null" >
        <choose >
          <when test="CHR_AC_BR == emptyBigDecimalValue" >
            CHR_AC_BR = NULL ,
          </when>
          <otherwise >
            CHR_AC_BR = #{CHR_AC_BR},
          </otherwise>
        </choose>
      </if>
      <if test="CHR_AC_CY != null" >
        <choose >
          <when test="CHR_AC_CY == emptyBigDecimalValue" >
            CHR_AC_CY = NULL ,
          </when>
          <otherwise >
            CHR_AC_CY = #{CHR_AC_CY},
          </otherwise>
        </choose>
      </if>
      <if test="CHR_AC_GL != null" >
        <choose >
          <when test="CHR_AC_GL == emptyBigDecimalValue" >
            CHR_AC_GL = NULL ,
          </when>
          <otherwise >
            CHR_AC_GL = #{CHR_AC_GL},
          </otherwise>
        </choose>
      </if>
      <if test="CHR_AC_CIF != null" >
        <choose >
          <when test="CHR_AC_CIF == emptyBigDecimalValue" >
            CHR_AC_CIF = NULL ,
          </when>
          <otherwise >
            CHR_AC_CIF = #{CHR_AC_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="CHR_AC_SL != null" >
        <choose >
          <when test="CHR_AC_SL == emptyBigDecimalValue" >
            CHR_AC_SL = NULL ,
          </when>
          <otherwise >
            CHR_AC_SL = #{CHR_AC_SL},
          </otherwise>
        </choose>
      </if>
      <if test="CHR_AC_ADD_REF != null" >
        CHR_AC_ADD_REF = #{CHR_AC_ADD_REF},
      </if>
      <if test="STATUS_REASON != null" >
        STATUS_REASON = #{STATUS_REASON},
      </if>
      <if test="REJECTED_BY != null" >
        REJECTED_BY = #{REJECTED_BY},
      </if>
      <if test="DATE_REJECTED != null" >
        DATE_REJECTED = #{DATE_REJECTED},
      </if>
      <if test="LOST_BY != null" >
        LOST_BY = #{LOST_BY},
      </if>
      <if test="LOST_DATE != null" >
        LOST_DATE = #{LOST_DATE},
      </if>
      <if test="CTS_TRS_NO != null" >
        <choose >
          <when test="CTS_TRS_NO == emptyBigDecimalValue" >
            CTS_TRS_NO = NULL ,
          </when>
          <otherwise >
            CTS_TRS_NO = #{CTS_TRS_NO},
          </otherwise>
        </choose>
      </if>
      <if test="MAX_NUM_PAGE != null" >
        <choose >
          <when test="MAX_NUM_PAGE == emptyBigDecimalValue" >
            MAX_NUM_PAGE = NULL ,
          </when>
          <otherwise >
            MAX_NUM_PAGE = #{MAX_NUM_PAGE},
          </otherwise>
        </choose>
      </if>
      DATE_UPDATED = 
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </sql>
  <update id="updateCTS_PASSBOOK" parameterType="com.path.dbmaps.vo.CTS_PASSBOOKVO" >
    <include refid="sql_updateCTS_PASSBOOK" />
  </update>
</mapper>