<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTS_AVA_FILE" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTS_AVA_FILEVO" >
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <result column="BRANCH_CODE" property="BRANCH_CODE" />
    <result column="NAME" property="NAME" />
    <result column="STATUS" property="STATUS" />
    <result column="OLD_STATUS" property="OLD_STATUS" />
    <result column="CATEGORY" property="CATEGORY" />
    <result column="OPENING_DATE" property="OPENING_DATE" />
    <result column="EXPIRY_DATE" property="EXPIRY_DATE" />
    <result column="CIF_NO" property="CIF_NO" />
    <result column="AVA_BALANCE" property="AVA_BALANCE" />
    <result column="AVA_TOTAL_ALLOC" property="AVA_TOTAL_ALLOC" />
    <result column="CAPITAL" property="CAPITAL" />
    <result column="SALES_TURNOVER" property="SALES_TURNOVER" />
    <result column="SALES_YEAR" property="SALES_YEAR" />
    <result column="ACC_BR" property="ACC_BR" />
    <result column="ACC_CY" property="ACC_CY" />
    <result column="ACC_GL" property="ACC_GL" />
    <result column="ACC_CIF" property="ACC_CIF" />
    <result column="ACC_SL" property="ACC_SL" />
    <result column="CTS_TRS_NO" property="CTS_TRS_NO" />
    <result column="CTS_TRS_BR" property="CTS_TRS_BR" />
    <result column="DATE_CREATED" property="DATE_CREATED" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="DATE_MODIFIED" property="DATE_MODIFIED" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="DATE_DELETED" property="DATE_DELETED" />
    <result column="DELETED_BY" property="DELETED_BY" />
    <result column="DATE_APPROVED" property="DATE_APPROVED" />
    <result column="APPROVED_BY" property="APPROVED_BY" />
    <result column="TO_SUSPEND_DATE" property="TO_SUSPEND_DATE" />
    <result column="TO_SUSPEND_BY" property="TO_SUSPEND_BY" />
    <result column="DATE_SUSPENDED" property="DATE_SUSPENDED" />
    <result column="SUSPENDED_BY" property="SUSPENDED_BY" />
    <result column="TO_REACTIVATE_DATE" property="TO_REACTIVATE_DATE" />
    <result column="TO_REACTIVATE_BY" property="TO_REACTIVATE_BY" />
    <result column="DATE_REACTIVATED" property="DATE_REACTIVATED" />
    <result column="REACTIVATED_BY" property="REACTIVATED_BY" />
    <result column="TO_CLOSE_DATE" property="TO_CLOSE_DATE" />
    <result column="TO_CLOSE_BY" property="TO_CLOSE_BY" />
    <result column="DATE_CLOSED" property="DATE_CLOSED" />
    <result column="CLOSED_BY" property="CLOSED_BY" />
    <result column="DATE_REJECTED" property="DATE_REJECTED" />
    <result column="REJECTED_BY" property="REJECTED_BY" />
    <result column="DATE_UPDATED" property="DATE_UPDATED" />
    <result column="REASON_CODE" property="REASON_CODE" />
    <result column="SALES_TURNOVER_LAST_DATE" property="SALES_TURNOVER_LAST_DATE" />
    <result column="STS_EXPIRY_BY" property="STS_EXPIRY_BY" />
    <result column="STS_EXPIRY_DATE" property="STS_EXPIRY_DATE" />
	<result column="EDUCATION_NATURE_CODE" property="EDUCATION_NATURE_CODE" />
	<result column="SCHOLARSHIP_YN" property="SCHOLARSHIP_YN" />
	<result column="EDUCATION_MONTH_FROM" property="EDUCATION_MONTH_FROM" />
	<result column="EDUCATION_YEAR_FROM" property="EDUCATION_YEAR_FROM" />
	<result column="EDUCATION_MONTH_TO" property="EDUCATION_MONTH_TO" />
	<result column="EDUCATION_YEAR_TO" property="EDUCATION_YEAR_TO" />
	<result column="COUNTRY" property="COUNTRY" />
	<result column="OTHER_COMMENTS" property="OTHER_COMMENTS" />
	<result column="ORGANISATION_NAME" property="ORGANISATION_NAME" />
	<result column="DATE_FROM" property="DATE_FROM" />
	<result column="DATE_TO" property="DATE_TO" />
	<result column="DOCTOR_NAME" property="DOCTOR_NAME" />
	<result column="INSURED_YN" property="INSURED_YN" />
	<result column="COMPANY_TYPE" property="COMPANY_TYPE" />
	<result column="ADDRESS" property="ADDRESS" />
	<result column="CUSTOMS_CODE" property="CUSTOMS_CODE" />
	<result column="COMPANY_NAME" property="COMPANY_NAME" />
	<result column="TOTAL_AVA_ALLOCATION" property="TOTAL_AVA_ALLOCATION"/>
	<result column="TOTAL_PAYMENT" property="TOTAL_PAYMENT"/>
	<result column="TOTAL_AVA" property="TOTAL_AVA" />
	<result column="SCHOLARSHIP_FC_AMOUNT" property="SCHOLARSHIP_FC_AMOUNT" />
	<result column="SCHOLARSHIP_CV_AMOUNT" property="SCHOLARSHIP_CV_AMOUNT" />
	<result column="SCHOLARSHIP_FC_CURRENCY" property="SCHOLARSHIP_FC_CURRENCY" />
	
  </resultMap>
  <sql id="Base_Column_List" >
    CODE, COMP_CODE, BRANCH_CODE, NAME, STATUS, OLD_STATUS, CATEGORY, OPENING_DATE, EXPIRY_DATE, 
    CIF_NO, AVA_BALANCE, AVA_TOTAL_ALLOC, CAPITAL, SALES_TURNOVER, 
    SALES_YEAR, ACC_BR, ACC_CY, ACC_GL, ACC_CIF, ACC_SL, CTS_TRS_NO, CTS_TRS_BR, 
    DATE_CREATED, CREATED_BY, DATE_MODIFIED, MODIFIED_BY, DATE_DELETED, DELETED_BY, DATE_APPROVED, 
    APPROVED_BY, TO_SUSPEND_DATE, TO_SUSPEND_BY, DATE_SUSPENDED, SUSPENDED_BY, TO_REACTIVATE_DATE, 
    TO_REACTIVATE_BY, DATE_REACTIVATED, REACTIVATED_BY, TO_CLOSE_DATE, TO_CLOSE_BY, DATE_CLOSED, 
    CLOSED_BY, DATE_REJECTED, REJECTED_BY, DATE_UPDATED, REASON_CODE, SALES_TURNOVER_LAST_DATE, STS_EXPIRY_BY, 
    STS_EXPIRY_DATE, EDUCATION_NATURE_CODE, SCHOLARSHIP_YN ,EDUCATION_MONTH_FROM, EDUCATION_YEAR_FROM, EDUCATION_MONTH_TO, 
    EDUCATION_YEAR_TO, COUNTRY, OTHER_COMMENTS, ORGANISATION_NAME, DATE_FROM, DATE_TO, DOCTOR_NAME, INSURED_YN, COMPANY_TYPE, 
    ADDRESS, CUSTOMS_CODE, COMPANY_NAME,TOTAL_AVA_ALLOCATION,TOTAL_PAYMENT,TOTAL_AVA,SCHOLARSHIP_FC_AMOUNT,SCHOLARSHIP_CV_AMOUNT,
    SCHOLARSHIP_FC_CURRENCY
    
  </sql>
  <select id="selectCTS_AVA_FILE" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTS_AVA_FILEVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTS_AVA_FILE
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </select>
  <delete id="deleteCTS_AVA_FILE" parameterType="com.path.dbmaps.vo.CTS_AVA_FILEVOKey" >
    delete from CTS_AVA_FILE
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </delete>
  <insert id="insertCTS_AVA_FILE" parameterType="com.path.dbmaps.vo.CTS_AVA_FILEVO" >
    insert into CTS_AVA_FILE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="NAME != null" >
        NAME,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="OLD_STATUS != null" >
        OLD_STATUS,
      </if>
      <if test="CATEGORY != null and CATEGORY != emptyBigDecimalValue" >
        CATEGORY,
      </if>
      <if test="OPENING_DATE != null" >
        OPENING_DATE,
      </if>
      <if test="EXPIRY_DATE != null" >
        EXPIRY_DATE,
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        CIF_NO,
      </if>
      <if test="AVA_BALANCE != null and AVA_BALANCE != emptyBigDecimalValue" >
        AVA_BALANCE,
      </if>
      <if test="AVA_TOTAL_ALLOC != null and AVA_TOTAL_ALLOC != emptyBigDecimalValue" >
        AVA_TOTAL_ALLOC,
      </if>
      <if test="CAPITAL != null and CAPITAL != emptyBigDecimalValue" >
        CAPITAL,
      </if>
      <if test="SALES_TURNOVER != null and SALES_TURNOVER != emptyBigDecimalValue" >
        SALES_TURNOVER,
      </if>
      <if test="SALES_YEAR != null and SALES_YEAR != emptyBigDecimalValue" >
        SALES_YEAR,
      </if>
      <if test="ACC_BR != null and ACC_BR != emptyBigDecimalValue" >
        ACC_BR,
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        ACC_CY,
      </if>
      <if test="ACC_GL != null and ACC_GL != emptyBigDecimalValue" >
        ACC_GL,
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        ACC_CIF,
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        ACC_SL,
      </if>
      <if test="CTS_TRS_NO != null and CTS_TRS_NO != emptyBigDecimalValue" >
        CTS_TRS_NO,
      </if>
      <if test="CTS_TRS_BR != null and CTS_TRS_BR != emptyBigDecimalValue" >
        CTS_TRS_BR,
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED,
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY,
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED,
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY,
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED,
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY,
      </if>
      <if test="TO_SUSPEND_DATE != null" >
        TO_SUSPEND_DATE,
      </if>
      <if test="TO_SUSPEND_BY != null" >
        TO_SUSPEND_BY,
      </if>
      <if test="DATE_SUSPENDED != null" >
        DATE_SUSPENDED,
      </if>
      <if test="SUSPENDED_BY != null" >
        SUSPENDED_BY,
      </if>
      <if test="TO_REACTIVATE_DATE != null" >
        TO_REACTIVATE_DATE,
      </if>
      <if test="TO_REACTIVATE_BY != null" >
        TO_REACTIVATE_BY,
      </if>
      <if test="DATE_REACTIVATED != null" >
        DATE_REACTIVATED,
      </if>
      <if test="REACTIVATED_BY != null" >
        REACTIVATED_BY,
      </if>
      <if test="TO_CLOSE_DATE != null" >
        TO_CLOSE_DATE,
      </if>
      <if test="TO_CLOSE_BY != null" >
        TO_CLOSE_BY,
      </if>
      <if test="DATE_CLOSED != null" >
        DATE_CLOSED,
      </if>
      <if test="CLOSED_BY != null" >
        CLOSED_BY,
      </if>
      <if test="DATE_REJECTED != null" >
        DATE_REJECTED,
      </if>
      <if test="REJECTED_BY != null" >
        REJECTED_BY,
      </if>
      DATE_UPDATED,
      <if test="REASON_CODE != null and REASON_CODE != emptyBigDecimalValue" >
        REASON_CODE,
      </if>
      <if test="SALES_TURNOVER_LAST_DATE != null" >
        SALES_TURNOVER_LAST_DATE,
      </if>
      <if test="STS_EXPIRY_BY != null" >
        STS_EXPIRY_BY,
      </if>
      <if test="STS_EXPIRY_DATE != null" >
        STS_EXPIRY_DATE,
      </if>
      <if test="EDUCATION_NATURE_CODE != null and EDUCATION_NATURE_CODE != emptyBigDecimalValue" >
        EDUCATION_NATURE_CODE,
      </if>
       <if test="EDUCATION_MONTH_FROM != null and EDUCATION_MONTH_FROM != emptyBigDecimalValue" >
        EDUCATION_MONTH_FROM,
      </if>
      <if test="EDUCATION_YEAR_FROM != null and EDUCATION_YEAR_FROM != emptyBigDecimalValue" >
        EDUCATION_YEAR_FROM,
      </if>
      <if test="EDUCATION_MONTH_TO != null and EDUCATION_MONTH_TO != emptyBigDecimalValue" >
        EDUCATION_MONTH_TO,
      </if>
      <if test="EDUCATION_YEAR_TO != null and EDUCATION_YEAR_TO != emptyBigDecimalValue" >
        EDUCATION_YEAR_TO,
      </if>
      <if test="COUNTRY != null and COUNTRY != emptyBigDecimalValue" >
        COUNTRY,
      </if>
      <if test="SCHOLARSHIP_YN != null" >
        SCHOLARSHIP_YN,
      </if>
	   <if test="OTHER_COMMENTS != null" >
        OTHER_COMMENTS,
      </if>    
       <if test="ORGANISATION_NAME != null" >
        ORGANISATION_NAME,
      </if> 
      <if test="DOCTOR_NAME != null" >
        DOCTOR_NAME,
      </if> 
      <if test="INSURED_YN != null" >
        INSURED_YN,
      </if> 
       <if test="COMPANY_TYPE != null" >
        COMPANY_TYPE,
      </if> 
      <if test="ADDRESS != null" >
        ADDRESS,
      </if> 
      <if test="CUSTOMS_CODE != null" >
        CUSTOMS_CODE,
      </if> 
      <if test="DATE_FROM != null" >
        DATE_FROM,
      </if>
      <if test="DATE_TO != null" >
        DATE_TO,
      </if>
      <if test="COMPANY_NAME != null" >
        COMPANY_NAME,
      </if>
      <if test="TOTAL_AVA_ALLOCATION != null and TOTAL_AVA_ALLOCATION != emptyBigDecimalValue" >
        TOTAL_AVA_ALLOCATION,
      </if>
      <if test="TOTAL_PAYMENT != null and TOTAL_PAYMENT != emptyBigDecimalValue" >
        TOTAL_PAYMENT,
      </if>
      <if test="TOTAL_AVA != null and TOTAL_AVA != emptyBigDecimalValue" >
        TOTAL_AVA,
      </if>
      <if test="SCHOLARSHIP_FC_AMOUNT != null and SCHOLARSHIP_FC_AMOUNT != emptyBigDecimalValue" >
        SCHOLARSHIP_FC_AMOUNT,
      </if>
      <if test="SCHOLARSHIP_CV_AMOUNT != null and SCHOLARSHIP_CV_AMOUNT != emptyBigDecimalValue" >
        SCHOLARSHIP_CV_AMOUNT,
      </if>
      <if test="SCHOLARSHIP_FC_CURRENCY != null and SCHOLARSHIP_FC_CURRENCY != emptyBigDecimalValue" >
        SCHOLARSHIP_FC_CURRENCY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        #{CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="NAME != null" >
        #{NAME},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="OLD_STATUS != null" >
        #{OLD_STATUS},
      </if>
      <if test="CATEGORY != null and CATEGORY != emptyBigDecimalValue" >
        #{CATEGORY},
      </if>
      <if test="OPENING_DATE != null" >
        #{OPENING_DATE},
      </if>
      <if test="EXPIRY_DATE != null" >
        #{EXPIRY_DATE},
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        #{CIF_NO},
      </if>
      <if test="AVA_BALANCE != null and AVA_BALANCE != emptyBigDecimalValue" >
        #{AVA_BALANCE},
      </if>
      <if test="AVA_TOTAL_ALLOC != null and AVA_TOTAL_ALLOC != emptyBigDecimalValue" >
        #{AVA_TOTAL_ALLOC},
      </if>
      <if test="CAPITAL != null and CAPITAL != emptyBigDecimalValue" >
        #{CAPITAL},
      </if>
      <if test="SALES_TURNOVER != null and SALES_TURNOVER != emptyBigDecimalValue" >
        #{SALES_TURNOVER},
      </if>
      <if test="SALES_YEAR != null and SALES_YEAR != emptyBigDecimalValue" >
        #{SALES_YEAR},
      </if>
      <if test="ACC_BR != null and ACC_BR != emptyBigDecimalValue" >
        #{ACC_BR},
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        #{ACC_CY},
      </if>
      <if test="ACC_GL != null and ACC_GL != emptyBigDecimalValue" >
        #{ACC_GL},
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        #{ACC_CIF},
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        #{ACC_SL},
      </if>
      <if test="CTS_TRS_NO != null and CTS_TRS_NO != emptyBigDecimalValue" >
        #{CTS_TRS_NO},
      </if>
      <if test="CTS_TRS_BR != null and CTS_TRS_BR != emptyBigDecimalValue" >
        #{CTS_TRS_BR},
      </if>
      <if test="DATE_CREATED != null" >
        #{DATE_CREATED},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        #{DATE_MODIFIED},
      </if>
      <if test="MODIFIED_BY != null" >
        #{MODIFIED_BY},
      </if>
      <if test="DATE_DELETED != null" >
        #{DATE_DELETED},
      </if>
      <if test="DELETED_BY != null" >
        #{DELETED_BY},
      </if>
      <if test="DATE_APPROVED != null" >
        #{DATE_APPROVED},
      </if>
      <if test="APPROVED_BY != null" >
        #{APPROVED_BY},
      </if>
      <if test="TO_SUSPEND_DATE != null" >
        #{TO_SUSPEND_DATE},
      </if>
      <if test="TO_SUSPEND_BY != null" >
        #{TO_SUSPEND_BY},
      </if>
      <if test="DATE_SUSPENDED != null" >
        #{DATE_SUSPENDED},
      </if>
      <if test="SUSPENDED_BY != null" >
        #{SUSPENDED_BY},
      </if>
      <if test="TO_REACTIVATE_DATE != null" >
        #{TO_REACTIVATE_DATE},
      </if>
      <if test="TO_REACTIVATE_BY != null" >
        #{TO_REACTIVATE_BY},
      </if>
      <if test="DATE_REACTIVATED != null" >
        #{DATE_REACTIVATED},
      </if>
      <if test="REACTIVATED_BY != null" >
        #{REACTIVATED_BY},
      </if>
      <if test="TO_CLOSE_DATE != null" >
        #{TO_CLOSE_DATE},
      </if>
      <if test="TO_CLOSE_BY != null" >
        #{TO_CLOSE_BY},
      </if>
      <if test="DATE_CLOSED != null" >
        #{DATE_CLOSED},
      </if>
      <if test="CLOSED_BY != null" >
        #{CLOSED_BY},
      </if>
      <if test="DATE_REJECTED != null" >
        #{DATE_REJECTED},
      </if>
      <if test="REJECTED_BY != null" >
        #{REJECTED_BY},
      </if>
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
       <if test="REASON_CODE != null and REASON_CODE != emptyBigDecimalValue" >
        #{REASON_CODE},
      </if>
       <if test="SALES_TURNOVER_LAST_DATE != null" >
        #{SALES_TURNOVER_LAST_DATE},
      </if>
       <if test="STS_EXPIRY_BY != null" >
        #{STS_EXPIRY_BY},
      </if>
       <if test="STS_EXPIRY_DATE != null" >
        #{STS_EXPIRY_DATE},
      </if>
       <if test="EDUCATION_NATURE_CODE != null and EDUCATION_NATURE_CODE != emptyBigDecimalValue" >
        #{EDUCATION_NATURE_CODE},
      </if>
       <if test="EDUCATION_MONTH_FROM != null and EDUCATION_MONTH_FROM != emptyBigDecimalValue" >
        #{EDUCATION_MONTH_FROM},
      </if>
      
      <if test="EDUCATION_YEAR_FROM != null and EDUCATION_YEAR_FROM != emptyBigDecimalValue" >
        #{EDUCATION_YEAR_FROM},
      </if>
      <if test="EDUCATION_MONTH_TO != null and EDUCATION_MONTH_TO != emptyBigDecimalValue" >
        #{EDUCATION_MONTH_TO},
      </if>
      <if test="EDUCATION_YEAR_TO != null and EDUCATION_YEAR_TO != emptyBigDecimalValue" >
       #{EDUCATION_YEAR_TO},
      </if>
      <if test="COUNTRY != null and COUNTRY != emptyBigDecimalValue" >
        #{COUNTRY},
      </if>
      <if test="SCHOLARSHIP_YN != null" >
        #{SCHOLARSHIP_YN},
      </if>
	   <if test="OTHER_COMMENTS != null" >
        #{OTHER_COMMENTS},
      </if>    
       <if test="ORGANISATION_NAME != null" >
        #{ORGANISATION_NAME},
      </if> 
      <if test="DOCTOR_NAME != null" >
        #{DOCTOR_NAME},
      </if> 
      <if test="INSURED_YN != null" >
        #{INSURED_YN},
      </if> 
       <if test="COMPANY_TYPE != null" >
        #{COMPANY_TYPE},
      </if> 
      <if test="ADDRESS != null" >
        #{ADDRESS},
      </if> 
      <if test="CUSTOMS_CODE != null" >
        #{CUSTOMS_CODE},
      </if> 
      <if test="DATE_FROM != null" >
        #{DATE_FROM},
      </if>
      <if test="DATE_TO != null" >
        #{DATE_TO},
      </if>
      <if test="COMPANY_NAME != null" >
        #{COMPANY_NAME},
      </if> 
      <if test="TOTAL_AVA_ALLOCATION != null and TOTAL_AVA_ALLOCATION != emptyBigDecimalValue" >
        #{TOTAL_AVA_ALLOCATION},
      </if>
      <if test="TOTAL_PAYMENT != null and TOTAL_PAYMENT != emptyBigDecimalValue" >
        #{TOTAL_PAYMENT},
      </if>
      <if test="TOTAL_AVA != null and TOTAL_AVA != emptyBigDecimalValue" >
        #{TOTAL_AVA},
      </if>
       <if test="SCHOLARSHIP_FC_AMOUNT != null and SCHOLARSHIP_FC_AMOUNT != emptyBigDecimalValue" >
        #{SCHOLARSHIP_FC_AMOUNT},
      </if>
      <if test="SCHOLARSHIP_CV_AMOUNT != null and SCHOLARSHIP_CV_AMOUNT != emptyBigDecimalValue" >
        #{SCHOLARSHIP_CV_AMOUNT},
      </if>
      <if test="SCHOLARSHIP_FC_CURRENCY != null and SCHOLARSHIP_FC_CURRENCY != emptyBigDecimalValue" >
        #{SCHOLARSHIP_FC_CURRENCY},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTS_AVA_FILE">
	update CTS_AVA_FILE
    <set >
      <if test="BRANCH_CODE != null" >
        <choose >
          <when test="BRANCH_CODE == emptyBigDecimalValue" >
            BRANCH_CODE = NULL ,
          </when>
          <otherwise >
            BRANCH_CODE = #{BRANCH_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="NAME != null" >
        NAME = #{NAME},
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="OLD_STATUS != null" >
        OLD_STATUS = #{OLD_STATUS},
      </if>
      <if test="CATEGORY != null" >
        <choose >
          <when test="CATEGORY == emptyBigDecimalValue" >
            CATEGORY = NULL ,
          </when>
          <otherwise >
            CATEGORY = #{CATEGORY},
          </otherwise>
        </choose>
      </if>
      <if test="OPENING_DATE != null" >
        OPENING_DATE = #{OPENING_DATE},
      </if>
      <if test="EXPIRY_DATE != null" >
        EXPIRY_DATE = #{EXPIRY_DATE},
      </if>
      <if test="CIF_NO != null" >
        <choose >
          <when test="CIF_NO == emptyBigDecimalValue" >
            CIF_NO = NULL ,
          </when>
          <otherwise >
            CIF_NO = #{CIF_NO},
          </otherwise>
        </choose>
      </if>
      <if test="AVA_BALANCE != null" >
        <choose >
          <when test="AVA_BALANCE == emptyBigDecimalValue" >
            AVA_BALANCE = NULL ,
          </when>
          <otherwise >
            AVA_BALANCE = #{AVA_BALANCE},
          </otherwise>
        </choose>
      </if>
      <if test="AVA_TOTAL_ALLOC != null" >
        <choose >
          <when test="AVA_TOTAL_ALLOC == emptyBigDecimalValue" >
            AVA_TOTAL_ALLOC = NULL ,
          </when>
          <otherwise >
            AVA_TOTAL_ALLOC = #{AVA_TOTAL_ALLOC},
          </otherwise>
        </choose>
      </if>
      <if test="CAPITAL != null" >
        <choose >
          <when test="CAPITAL == emptyBigDecimalValue" >
            CAPITAL = NULL ,
          </when>
          <otherwise >
            CAPITAL = #{CAPITAL},
          </otherwise>
        </choose>
      </if>
      <if test="SALES_TURNOVER != null" >
        <choose >
          <when test="SALES_TURNOVER == emptyBigDecimalValue" >
            SALES_TURNOVER = NULL ,
          </when>
          <otherwise >
            SALES_TURNOVER = #{SALES_TURNOVER},
          </otherwise>
        </choose>
      </if>
      <if test="SALES_YEAR != null" >
        <choose >
          <when test="SALES_YEAR == emptyBigDecimalValue" >
            SALES_YEAR = NULL ,
          </when>
          <otherwise >
            SALES_YEAR = #{SALES_YEAR},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_BR != null" >
        <choose >
          <when test="ACC_BR == emptyBigDecimalValue" >
            ACC_BR = NULL ,
          </when>
          <otherwise >
            ACC_BR = #{ACC_BR},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CY != null" >
        <choose >
          <when test="ACC_CY == emptyBigDecimalValue" >
            ACC_CY = NULL ,
          </when>
          <otherwise >
            ACC_CY = #{ACC_CY},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_GL != null" >
        <choose >
          <when test="ACC_GL == emptyBigDecimalValue" >
            ACC_GL = NULL ,
          </when>
          <otherwise >
            ACC_GL = #{ACC_GL},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CIF != null" >
        <choose >
          <when test="ACC_CIF == emptyBigDecimalValue" >
            ACC_CIF = NULL ,
          </when>
          <otherwise >
            ACC_CIF = #{ACC_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_SL != null" >
        <choose >
          <when test="ACC_SL == emptyBigDecimalValue" >
            ACC_SL = NULL ,
          </when>
          <otherwise >
            ACC_SL = #{ACC_SL},
          </otherwise>
        </choose>
      </if>
      <if test="CTS_TRS_NO != null" >
        <choose >
          <when test="CTS_TRS_NO == emptyBigDecimalValue" >
            CTS_TRS_NO = NULL ,
          </when>
          <otherwise >
            CTS_TRS_NO = #{CTS_TRS_NO},
          </otherwise>
        </choose>
      </if>
      <if test="CTS_TRS_BR != null" >
        <choose >
          <when test="CTS_TRS_BR == emptyBigDecimalValue" >
            CTS_TRS_BR = NULL ,
          </when>
          <otherwise >
            CTS_TRS_BR = #{CTS_TRS_BR},
          </otherwise>
        </choose>
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED = #{DATE_CREATED},
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED = #{DATE_MODIFIED},
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY = #{MODIFIED_BY},
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED = #{DATE_DELETED},
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY = #{DELETED_BY},
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED = #{DATE_APPROVED},
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY = #{APPROVED_BY},
      </if>
      <if test="TO_SUSPEND_DATE != null" >
        TO_SUSPEND_DATE = #{TO_SUSPEND_DATE},
      </if>
      <if test="TO_SUSPEND_BY != null" >
        TO_SUSPEND_BY = #{TO_SUSPEND_BY},
      </if>
      <if test="DATE_SUSPENDED != null" >
        DATE_SUSPENDED = #{DATE_SUSPENDED},
      </if>
      <if test="SUSPENDED_BY != null" >
        SUSPENDED_BY = #{SUSPENDED_BY},
      </if>
      <if test="TO_REACTIVATE_DATE != null" >
        TO_REACTIVATE_DATE = #{TO_REACTIVATE_DATE},
      </if>
      <if test="TO_REACTIVATE_BY != null" >
        TO_REACTIVATE_BY = #{TO_REACTIVATE_BY},
      </if>
      <if test="DATE_REACTIVATED != null" >
        DATE_REACTIVATED = #{DATE_REACTIVATED},
      </if>
      <if test="REACTIVATED_BY != null" >
        REACTIVATED_BY = #{REACTIVATED_BY},
      </if>
      <if test="TO_CLOSE_DATE != null" >
        TO_CLOSE_DATE = #{TO_CLOSE_DATE},
      </if>
      <if test="TO_CLOSE_BY != null" >
        TO_CLOSE_BY = #{TO_CLOSE_BY},
      </if>
      <if test="DATE_CLOSED != null" >
        DATE_CLOSED = #{DATE_CLOSED},
      </if>
      <if test="CLOSED_BY != null" >
        CLOSED_BY = #{CLOSED_BY},
      </if>
      <if test="DATE_REJECTED != null" >
        DATE_REJECTED = #{DATE_REJECTED},
      </if>
      <if test="REJECTED_BY != null" >
        REJECTED_BY = #{REJECTED_BY},
      </if>
      DATE_UPDATED = 
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
       <if test="REASON_CODE != null" >
        <choose >
          <when test="REASON_CODE == emptyBigDecimalValue" >
            REASON_CODE = NULL ,
          </when>
          <otherwise >
            REASON_CODE = #{REASON_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="SALES_TURNOVER_LAST_DATE != null" >
        SALES_TURNOVER_LAST_DATE = #{SALES_TURNOVER_LAST_DATE},
      </if>
      <if test="STS_EXPIRY_BY != null" >
        STS_EXPIRY_BY = #{STS_EXPIRY_BY},
      </if>
      <if test="STS_EXPIRY_DATE != null" >
        STS_EXPIRY_DATE = #{STS_EXPIRY_DATE},
      </if>
       <if test="EDUCATION_NATURE_CODE != null" >
        <choose >
          <when test="EDUCATION_NATURE_CODE == emptyBigDecimalValue" >
            EDUCATION_NATURE_CODE = NULL ,
          </when>
          <otherwise >
            EDUCATION_NATURE_CODE = #{EDUCATION_NATURE_CODE},
          </otherwise>
        </choose>
      </if>
       <if test="EDUCATION_MONTH_FROM != null" >
        <choose >
          <when test="EDUCATION_MONTH_FROM == emptyBigDecimalValue" >
            EDUCATION_MONTH_FROM = NULL ,
          </when>
          <otherwise >
            EDUCATION_MONTH_FROM = #{EDUCATION_MONTH_FROM},
          </otherwise>
        </choose>
      </if>
       <if test="EDUCATION_YEAR_FROM != null" >
        <choose >
          <when test="EDUCATION_YEAR_FROM == emptyBigDecimalValue" >
            EDUCATION_YEAR_FROM = NULL ,
          </when>
          <otherwise >
            EDUCATION_YEAR_FROM = #{EDUCATION_YEAR_FROM},
          </otherwise>
        </choose>
      </if>
       <if test="EDUCATION_MONTH_TO != null" >
        <choose >
          <when test="EDUCATION_MONTH_TO == emptyBigDecimalValue" >
            EDUCATION_MONTH_TO = NULL ,
          </when>
          <otherwise >
            EDUCATION_MONTH_TO = #{EDUCATION_MONTH_TO},
          </otherwise>
        </choose>
      </if>
       <if test="EDUCATION_YEAR_TO != null" >
        <choose >
          <when test="EDUCATION_YEAR_TO == emptyBigDecimalValue" >
            EDUCATION_YEAR_TO = NULL ,
          </when>
          <otherwise >
            EDUCATION_YEAR_TO = #{EDUCATION_YEAR_TO},
          </otherwise>
        </choose>
      </if>
      <if test="COUNTRY!= null" >
        <choose >
          <when test="COUNTRY== emptyBigDecimalValue" >
            COUNTRY= NULL ,
          </when>
          <otherwise >
            COUNTRY= #{COUNTRY},
          </otherwise>
        </choose>
      </if>
      <if test="SCHOLARSHIP_YN != null" >
        SCHOLARSHIP_YN = #{SCHOLARSHIP_YN},
      </if>
       <if test="OTHER_COMMENTS != null" >
        OTHER_COMMENTS = #{OTHER_COMMENTS},
      </if>
      <if test="ORGANISATION_NAME != null" >
        ORGANISATION_NAME= #{ORGANISATION_NAME},
      </if> 
       <if test="DOCTOR_NAME != null" >
        DOCTOR_NAME= #{DOCTOR_NAME},
      </if> 
        <if test="INSURED_YN != null" >
        INSURED_YN= #{INSURED_YN},
      </if>
      <if test="COMPANY_TYPE != null" >
        COMPANY_TYPE= #{COMPANY_TYPE},
      </if>  
      <if test="ADDRESS != null" >
        ADDRESS= #{ADDRESS},
      </if>  
        <if test="CUSTOMS_CODE!= null" >
        CUSTOMS_CODE= #{CUSTOMS_CODE},
      </if> 
      <if test="DATE_FROM != null" >
        DATE_FROM = #{DATE_FROM},
      </if>
      <if test="DATE_TO != null" >
        DATE_TO = #{DATE_TO},
      </if>
      <if test="COMPANY_NAME != null" >
        COMPANY_NAME = #{COMPANY_NAME},
      </if>
       <if test="TOTAL_AVA_ALLOCATION!= null" >
        <choose >
          <when test="TOTAL_AVA_ALLOCATION== emptyBigDecimalValue" >
            TOTAL_AVA_ALLOCATION= NULL ,
          </when>
          <otherwise >
            TOTAL_AVA_ALLOCATION= #{TOTAL_AVA_ALLOCATION},
          </otherwise>
        </choose>
      </if>
       <if test="TOTAL_PAYMENT!= null" >
        <choose >
          <when test="TOTAL_PAYMENT== emptyBigDecimalValue" >
            TOTAL_PAYMENT= NULL ,
          </when>
          <otherwise >
            TOTAL_PAYMENT= #{TOTAL_PAYMENT},
          </otherwise>
        </choose>
      </if>
       <if test="TOTAL_AVA!= null" >
        <choose >
          <when test="TOTAL_AVA== emptyBigDecimalValue" >
            TOTAL_AVA= NULL ,
          </when>
          <otherwise >
            TOTAL_AVA= #{TOTAL_AVA},
          </otherwise>
        </choose>
      </if>
      <if test="SCHOLARSHIP_FC_AMOUNT!= null" >
        <choose >
          <when test="SCHOLARSHIP_FC_AMOUNT== emptyBigDecimalValue" >
            SCHOLARSHIP_FC_AMOUNT= NULL ,
          </when>
          <otherwise >
            SCHOLARSHIP_FC_AMOUNT= #{SCHOLARSHIP_FC_AMOUNT},
          </otherwise>
        </choose>
      </if>
       <if test="SCHOLARSHIP_CV_AMOUNT!= null" >
        <choose >
          <when test="SCHOLARSHIP_CV_AMOUNT== emptyBigDecimalValue" >
            SCHOLARSHIP_CV_AMOUNT= NULL ,
          </when>
          <otherwise >
            SCHOLARSHIP_CV_AMOUNT= #{SCHOLARSHIP_CV_AMOUNT},
          </otherwise>
        </choose>
      </if>
       <if test="SCHOLARSHIP_FC_CURRENCY!= null" >
        <choose >
          <when test="SCHOLARSHIP_FC_CURRENCY== emptyBigDecimalValue" >
            SCHOLARSHIP_FC_CURRENCY= NULL ,
          </when>
          <otherwise >
            SCHOLARSHIP_FC_CURRENCY= #{SCHOLARSHIP_FC_CURRENCY},
          </otherwise>
        </choose>
      </if>
    </set>
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </sql>
  <update id="updateCTS_AVA_FILE" parameterType="com.path.dbmaps.vo.CTS_AVA_FILEVO" >
    <include refid="sql_updateCTS_AVA_FILE" />
    <if test="DATE_UPDATED != null" >
      AND DATE_UPDATED = #{DATE_UPDATED}
    </if>
  </update>
</mapper>