<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTS_SEGMENT_PARAM" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTS_SEGMENT_PARAMVO" >
    <id column="GA_ARG_ID" property="GA_ARG_ID" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="ENTITY_TYPE" property="ENTITY_TYPE" />
    <id column="LINE_NO" property="LINE_NO" />
    <id column="SEGMENT_CODE" property="SEGMENT_CODE" />
    <id column="SEG_LINE_NO" property="SEG_LINE_NO" />
    <result column="BRANCH_CODE" property="BRANCH_CODE" />
    <result column="PARAM_CLASS" property="PARAM_CLASS" />
    <result column="PARAM_TYPE" property="PARAM_TYPE" />
    <result column="PARAM_ORDER" property="PARAM_ORDER" />
    <result column="PARAM_NAME" property="PARAM_NAME" />
    <result column="PARAM_VALUE" property="PARAM_VALUE" />
    <result column="SESSION_ATTR_NAME" property="SESSION_ATTR_NAME" />
    <result column="ENTITY_ID" property="ENTITY_ID" />
    <result column="SEGMENT_TYPE" property="SEGMENT_TYPE" />
    <result column="PARAM_QUERY_ID" property="PARAM_QUERY_ID" />
  </resultMap>
  <sql id="Base_Column_List" >
    GA_ARG_ID, COMP_CODE, ENTITY_TYPE, LINE_NO, SEGMENT_CODE, SEG_LINE_NO, BRANCH_CODE, PARAM_CLASS, 
    PARAM_TYPE, PARAM_ORDER, PARAM_NAME, PARAM_VALUE, SESSION_ATTR_NAME, ENTITY_ID, SEGMENT_TYPE, PARAM_QUERY_ID
  </sql>
  <select id="selectCTS_SEGMENT_PARAM" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTS_SEGMENT_PARAMVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTS_SEGMENT_PARAM
    where GA_ARG_ID = #{GA_ARG_ID}
      and COMP_CODE = #{COMP_CODE}
      and ENTITY_TYPE = #{ENTITY_TYPE}
      and LINE_NO = #{LINE_NO}
      and SEGMENT_CODE = #{SEGMENT_CODE}
      and SEGMENT_TYPE = #{SEGMENT_TYPE}
      and SEG_LINE_NO = #{SEG_LINE_NO}
  </select>
  <delete id="deleteCTS_SEGMENT_PARAM" parameterType="com.path.dbmaps.vo.CTS_SEGMENT_PARAMVOKey" >
    delete from CTS_SEGMENT_PARAM
    where GA_ARG_ID = #{GA_ARG_ID}
      and COMP_CODE = #{COMP_CODE}
      and ENTITY_TYPE = #{ENTITY_TYPE}
      and LINE_NO = #{LINE_NO}
      and SEGMENT_CODE = #{SEGMENT_CODE}
      and SEGMENT_TYPE = #{SEGMENT_TYPE}
      and SEG_LINE_NO = #{SEG_LINE_NO}
  </delete>
  <insert id="insertCTS_SEGMENT_PARAM" parameterType="com.path.dbmaps.vo.CTS_SEGMENT_PARAMVO" >
    insert into CTS_SEGMENT_PARAM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      
      <if test="GA_ARG_ID != null and GA_ARG_ID != emptyBigDecimalValue" >
        GA_ARG_ID,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="ENTITY_TYPE != null" >
        ENTITY_TYPE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="SEGMENT_CODE != null and SEGMENT_CODE != emptyBigDecimalValue" >
        SEGMENT_CODE,
      </if>
      <if test="SEG_LINE_NO != null and SEG_LINE_NO != emptyBigDecimalValue" >
        SEG_LINE_NO,
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="PARAM_CLASS != null" >
        PARAM_CLASS,
      </if>
      <if test="PARAM_TYPE != null" >
        PARAM_TYPE,
      </if>
      <if test="PARAM_ORDER != null and PARAM_ORDER != emptyBigDecimalValue" >
        PARAM_ORDER,
      </if>
      <if test="PARAM_NAME != null" >
        PARAM_NAME,
      </if>
      <if test="PARAM_VALUE != null" >
        PARAM_VALUE,
      </if>
      <if test="SESSION_ATTR_NAME != null" >
        SESSION_ATTR_NAME,
      </if>
      <if test="ENTITY_ID != null and ENTITY_ID != emptyBigDecimalValue" >
        ENTITY_ID,
      </if>
      <if test="SEGMENT_TYPE != null and !&quot;&quot;.equals(SEGMENT_TYPE)" >
        SEGMENT_TYPE,
      </if>
      <if test="PARAM_QUERY_ID != null" >
        PARAM_QUERY_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      
       <if test="GA_ARG_ID != null and GA_ARG_ID != emptyBigDecimalValue" >
        #{GA_ARG_ID},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="ENTITY_TYPE != null" >
        #{ENTITY_TYPE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="SEGMENT_CODE != null and SEGMENT_CODE != emptyBigDecimalValue" >
        #{SEGMENT_CODE},
      </if>
      <if test="SEG_LINE_NO != null and SEG_LINE_NO != emptyBigDecimalValue" >
        #{SEG_LINE_NO},
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="PARAM_CLASS != null" >
        #{PARAM_CLASS},
      </if>
      <if test="PARAM_TYPE != null" >
        #{PARAM_TYPE},
      </if>
      <if test="PARAM_ORDER != null and PARAM_ORDER != emptyBigDecimalValue" >
        #{PARAM_ORDER},
      </if>
      <if test="PARAM_NAME != null" >
        #{PARAM_NAME},
      </if>
      <if test="PARAM_VALUE != null" >
        #{PARAM_VALUE},
      </if>
      <if test="SESSION_ATTR_NAME != null" >
        #{SESSION_ATTR_NAME},
      </if>
      <if test="ENTITY_ID != null and ENTITY_ID != emptyBigDecimalValue" >
        #{ENTITY_ID},
      </if>
      <if test="SEGMENT_TYPE != null and !&quot;&quot;.equals(SEGMENT_TYPE)" >
        #{SEGMENT_TYPE},
      </if>
      <if test="PARAM_QUERY_ID != null" >
        #{PARAM_QUERY_ID},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTS_SEGMENT_PARAM" >
    update CTS_SEGMENT_PARAM
    <set >
      <if test="BRANCH_CODE != null" >
        <choose >
          <when test="BRANCH_CODE == emptyBigDecimalValue" >
            BRANCH_CODE = NULL ,
          </when>
          <otherwise >
            BRANCH_CODE = #{BRANCH_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="PARAM_CLASS != null" >
        PARAM_CLASS = #{PARAM_CLASS},
      </if>
      <if test="PARAM_TYPE != null" >
        PARAM_TYPE = #{PARAM_TYPE},
      </if>
      <if test="PARAM_ORDER != null" >
        <choose >
          <when test="PARAM_ORDER == emptyBigDecimalValue" >
            PARAM_ORDER = NULL ,
          </when>
          <otherwise >
            PARAM_ORDER = #{PARAM_ORDER},
          </otherwise>
        </choose>
      </if>
      <if test="PARAM_NAME != null" >
        PARAM_NAME = #{PARAM_NAME},
      </if>
      <if test="PARAM_VALUE != null" >
        PARAM_VALUE = #{PARAM_VALUE},
      </if>
      <if test="SESSION_ATTR_NAME != null" >
        SESSION_ATTR_NAME = #{SESSION_ATTR_NAME},
      </if>
      <if test="ENTITY_ID != null" >
        <choose >
          <when test="ENTITY_ID == emptyBigDecimalValue" >
            ENTITY_ID = NULL ,
          </when>
          <otherwise >
            ENTITY_ID = #{ENTITY_ID},
          </otherwise>
        </choose>
      </if>
      <if test="SEGMENT_TYPE != null" >
        <choose >
          <when test="SEGMENT_TYPE.equals(&quot;&quot;)" >
            SEGMENT_TYPE = NULL ,
          </when>
          <otherwise >
            SEGMENT_TYPE = #{SEGMENT_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="PARAM_QUERY_ID != null" >
        PARAM_QUERY_ID = #{PARAM_QUERY_ID},
      </if>
    </set>
    where GA_ARG_ID = #{GA_ARG_ID}
      and COMP_CODE = #{COMP_CODE}
      and ENTITY_TYPE = #{ENTITY_TYPE}
      and LINE_NO = #{LINE_NO}
      and SEGMENT_CODE = #{SEGMENT_CODE}
      and SEGMENT_TYPE = #{SEGMENT_TYPE}
      and SEG_LINE_NO = #{SEG_LINE_NO}
  </sql>
  <update id="updateCTS_SEGMENT_PARAM" parameterType="com.path.dbmaps.vo.CTS_SEGMENT_PARAMVO" >
    <include refid="sql_updateCTS_SEGMENT_PARAM" />
  </update>
</mapper>