<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTS_TRXTYPE_ADD_ADVICES" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTS_TRXTYPE_ADD_ADVICESVO" >
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NO" property="LINE_NO" />
    <id column="TRX_TYPE" property="TRX_TYPE" />
    <result column="ENG_REP_ID" property="ENG_REP_ID" />
    <result column="ARAB_REP_ID" property="ARAB_REP_ID" />
    <result column="ENG_ARG_ID" property="ENG_ARG_ID" />
    <result column="ARAB_ARG_ID" property="ARAB_ARG_ID" />
    <result column="ENG_ADDITIONAL_INFO" property="ENG_ADDITIONAL_INFO" />
    <result column="ARAB_ADDITIONAL_INFO" property="ARAB_ADDITIONAL_INFO" />
    <result column="NBR_COPIES" property="NBR_COPIES" />
    <result column="ADVICE_STATUS" property="ADVICE_STATUS" />
  </resultMap>
  <sql id="Base_Column_List" >
    COMP_CODE, LINE_NO, TRX_TYPE, ENG_REP_ID, ARAB_REP_ID, ENG_ARG_ID, ARAB_ARG_ID, ENG_ADDITIONAL_INFO, 
    ARAB_ADDITIONAL_INFO, NBR_COPIES, ADVICE_STATUS
  </sql>
  <select id="selectCTS_TRXTYPE_ADD_ADVICES" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTS_TRXTYPE_ADD_ADVICESVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTS_TRXTYPE_ADD_ADVICES
    where COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and TRX_TYPE = #{TRX_TYPE}
  </select>
  <delete id="deleteCTS_TRXTYPE_ADD_ADVICES" parameterType="com.path.dbmaps.vo.CTS_TRXTYPE_ADD_ADVICESVOKey" >
    delete from CTS_TRXTYPE_ADD_ADVICES
    where COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and TRX_TYPE = #{TRX_TYPE}
  </delete>
  <insert id="insertCTS_TRXTYPE_ADD_ADVICES" parameterType="com.path.dbmaps.vo.CTS_TRXTYPE_ADD_ADVICESVO" >
    insert into CTS_TRXTYPE_ADD_ADVICES
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="TRX_TYPE != null and TRX_TYPE != emptyBigDecimalValue" >
        TRX_TYPE,
      </if>
      <if test="ENG_REP_ID != null and ENG_REP_ID != emptyBigDecimalValue" >
        ENG_REP_ID,
      </if>
      <if test="ARAB_REP_ID != null and ARAB_REP_ID != emptyBigDecimalValue" >
        ARAB_REP_ID,
      </if>
      <if test="ENG_ARG_ID != null and ENG_ARG_ID != emptyBigDecimalValue" >
        ENG_ARG_ID,
      </if>
      <if test="ARAB_ARG_ID != null and ARAB_ARG_ID != emptyBigDecimalValue" >
        ARAB_ARG_ID,
      </if>
      <if test="ENG_ADDITIONAL_INFO != null" >
        ENG_ADDITIONAL_INFO,
      </if>
      <if test="ARAB_ADDITIONAL_INFO != null" >
        ARAB_ADDITIONAL_INFO,
      </if>
      <if test="NBR_COPIES != null and NBR_COPIES != emptyBigDecimalValue" >
        NBR_COPIES,
      </if>
      <if test="ADVICE_STATUS != null" >
        ADVICE_STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="TRX_TYPE != null and TRX_TYPE != emptyBigDecimalValue" >
        #{TRX_TYPE},
      </if>
      <if test="ENG_REP_ID != null and ENG_REP_ID != emptyBigDecimalValue" >
        #{ENG_REP_ID},
      </if>
      <if test="ARAB_REP_ID != null and ARAB_REP_ID != emptyBigDecimalValue" >
        #{ARAB_REP_ID},
      </if>
      <if test="ENG_ARG_ID != null and ENG_ARG_ID != emptyBigDecimalValue" >
        #{ENG_ARG_ID},
      </if>
      <if test="ARAB_ARG_ID != null and ARAB_ARG_ID != emptyBigDecimalValue" >
        #{ARAB_ARG_ID},
      </if>
      <if test="ENG_ADDITIONAL_INFO != null" >
        #{ENG_ADDITIONAL_INFO},
      </if>
      <if test="ARAB_ADDITIONAL_INFO != null" >
        #{ARAB_ADDITIONAL_INFO},
      </if>
      <if test="NBR_COPIES != null and NBR_COPIES != emptyBigDecimalValue" >
        #{NBR_COPIES},
      </if>
      <if test="ADVICE_STATUS != null" >
        #{ADVICE_STATUS},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTS_TRXTYPE_ADD_ADVICES" >
    update CTS_TRXTYPE_ADD_ADVICES
    <set >
      <if test="ENG_REP_ID != null" >
        <choose >
          <when test="ENG_REP_ID == emptyBigDecimalValue" >
            ENG_REP_ID = NULL ,
          </when>
          <otherwise >
            ENG_REP_ID = #{ENG_REP_ID},
          </otherwise>
        </choose>
      </if>
      <if test="ARAB_REP_ID != null" >
        <choose >
          <when test="ARAB_REP_ID == emptyBigDecimalValue" >
            ARAB_REP_ID = NULL ,
          </when>
          <otherwise >
            ARAB_REP_ID = #{ARAB_REP_ID},
          </otherwise>
        </choose>
      </if>
      <if test="ENG_ARG_ID != null" >
        <choose >
          <when test="ENG_ARG_ID == emptyBigDecimalValue" >
            ENG_ARG_ID = NULL ,
          </when>
          <otherwise >
            ENG_ARG_ID = #{ENG_ARG_ID},
          </otherwise>
        </choose>
      </if>
      <if test="ARAB_ARG_ID != null" >
        <choose >
          <when test="ARAB_ARG_ID == emptyBigDecimalValue" >
            ARAB_ARG_ID = NULL ,
          </when>
          <otherwise >
            ARAB_ARG_ID = #{ARAB_ARG_ID},
          </otherwise>
        </choose>
      </if>
      <if test="ENG_ADDITIONAL_INFO != null" >
        ENG_ADDITIONAL_INFO = #{ENG_ADDITIONAL_INFO},
      </if>
      <if test="ARAB_ADDITIONAL_INFO != null" >
        ARAB_ADDITIONAL_INFO = #{ARAB_ADDITIONAL_INFO},
      </if>
      <if test="NBR_COPIES != null" >
        <choose >
          <when test="NBR_COPIES == emptyBigDecimalValue" >
            NBR_COPIES = NULL ,
          </when>
          <otherwise >
            NBR_COPIES = #{NBR_COPIES},
          </otherwise>
        </choose>
      </if>
      <if test="ADVICE_STATUS != null" >
        ADVICE_STATUS = #{ADVICE_STATUS},
      </if>
    </set>
    where COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and TRX_TYPE = #{TRX_TYPE}
  </sql>
  <update id="updateCTS_TRXTYPE_ADD_ADVICES" parameterType="com.path.dbmaps.vo.CTS_TRXTYPE_ADD_ADVICESVO" >
    <include refid="sql_updateCTS_TRXTYPE_ADD_ADVICES" />
  </update>
</mapper>