<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTS_FX_RATE_FROM_BLOTTER" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTS_FX_RATE_FROM_BLOTTERVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="SEQUENCE_NO" property="SEQUENCE_NO" />
    <result column="TRX_NO" property="TRX_NO" />
    <result column="TXN_TYPE" property="TXN_TYPE" />
    <result column="CIF_NO" property="CIF_NO" />
    <result column="CIF_NAME" property="CIF_NAME" />
    <result column="AC_CY" property="AC_CY" />
    <result column="TRS_CY" property="TRS_CY" />
    <result column="AMOUNT_IN_AC_CY" property="AMOUNT_IN_AC_CY" />
    <result column="AMOUNT_IN_TRS_CY" property="AMOUNT_IN_TRS_CY" />
    <result column="USER_ID" property="USER_ID" />
    <result column="ORIG_EXCH_RATE" property="ORIG_EXCH_RATE" />
    <result column="MAX_ALLOWED_RATE" property="MAX_ALLOWED_RATE" />
    <result column="MIN_ALLOWED_RATE" property="MIN_ALLOWED_RATE" />
    <result column="STATUS" property="STATUS" />
    <result column="EXCH_RATE" property="EXCH_RATE" />
    <result column="SYSTEM_DATE" property="SYSTEM_DATE" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="TRX_TIMOUT_IN_SECONDS" property="TRX_TIMOUT_IN_SECONDS" />
    <result column="REMARKS" property="REMARKS" />
    <result column="TELLER_RATE" property="TELLER_RATE" />
    <result column="NEW_STATUS" property="NEW_STATUS" />
    <result column="MULT_DIV_IND" property="MULT_DIV_IND" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, SEQUENCE_NO, TRX_NO, TXN_TYPE, CIF_NO, CIF_NAME, AC_CY, TRS_CY, 
    AMOUNT_IN_AC_CY, AMOUNT_IN_TRS_CY, USER_ID, ORIG_EXCH_RATE, MAX_ALLOWED_RATE, MIN_ALLOWED_RATE, 
    STATUS, EXCH_RATE, SYSTEM_DATE, CREATED_BY, TRX_TIMOUT_IN_SECONDS, REMARKS, TELLER_RATE, 
    NEW_STATUS, MULT_DIV_IND
  </sql>
  <select id="selectCTS_FX_RATE_FROM_BLOTTER" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTS_FX_RATE_FROM_BLOTTERVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTS_FX_RATE_FROM_BLOTTER
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and SEQUENCE_NO = #{SEQUENCE_NO}
  </select>
  <delete id="deleteCTS_FX_RATE_FROM_BLOTTER" parameterType="com.path.dbmaps.vo.CTS_FX_RATE_FROM_BLOTTERVOKey" >
    delete from CTS_FX_RATE_FROM_BLOTTER
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and SEQUENCE_NO = #{SEQUENCE_NO}
  </delete>
  <insert id="insertCTS_FX_RATE_FROM_BLOTTER" parameterType="com.path.dbmaps.vo.CTS_FX_RATE_FROM_BLOTTERVO" >
    insert into CTS_FX_RATE_FROM_BLOTTER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="SEQUENCE_NO != null and SEQUENCE_NO != emptyBigDecimalValue" >
        SEQUENCE_NO,
      </if>
      <if test="TRX_NO != null and TRX_NO != emptyBigDecimalValue" >
        TRX_NO,
      </if>
      <if test="TXN_TYPE != null and !&quot;&quot;.equals(TXN_TYPE)" >
        TXN_TYPE,
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        CIF_NO,
      </if>
      <if test="CIF_NAME != null and !&quot;&quot;.equals(CIF_NAME)" >
        CIF_NAME,
      </if>
      <if test="AC_CY != null and AC_CY != emptyBigDecimalValue" >
        AC_CY,
      </if>
      <if test="TRS_CY != null and TRS_CY != emptyBigDecimalValue" >
        TRS_CY,
      </if>
      <if test="AMOUNT_IN_AC_CY != null and AMOUNT_IN_AC_CY != emptyBigDecimalValue" >
        AMOUNT_IN_AC_CY,
      </if>
      <if test="AMOUNT_IN_TRS_CY != null and AMOUNT_IN_TRS_CY != emptyBigDecimalValue" >
        AMOUNT_IN_TRS_CY,
      </if>
      <if test="USER_ID != null and !&quot;&quot;.equals(USER_ID)" >
        USER_ID,
      </if>
      <if test="ORIG_EXCH_RATE != null and ORIG_EXCH_RATE != emptyBigDecimalValue" >
        ORIG_EXCH_RATE,
      </if>
      <if test="MAX_ALLOWED_RATE != null and MAX_ALLOWED_RATE != emptyBigDecimalValue" >
        MAX_ALLOWED_RATE,
      </if>
      <if test="MIN_ALLOWED_RATE != null and MIN_ALLOWED_RATE != emptyBigDecimalValue" >
        MIN_ALLOWED_RATE,
      </if>
      <if test="STATUS != null and !&quot;&quot;.equals(STATUS)" >
        STATUS,
      </if>
      <if test="EXCH_RATE != null and EXCH_RATE != emptyBigDecimalValue" >
        EXCH_RATE,
      </if>
      <if test="SYSTEM_DATE != null" >
        SYSTEM_DATE,
      </if>
      <if test="CREATED_BY != null and !&quot;&quot;.equals(CREATED_BY)" >
        CREATED_BY,
      </if>
      <if test="TRX_TIMOUT_IN_SECONDS != null and TRX_TIMOUT_IN_SECONDS != emptyBigDecimalValue" >
        TRX_TIMOUT_IN_SECONDS,
      </if>
      <if test="REMARKS != null and !&quot;&quot;.equals(REMARKS)" >
        REMARKS,
      </if>
      <if test="TELLER_RATE != null and TELLER_RATE != emptyBigDecimalValue" >
        TELLER_RATE,
      </if>
      <if test="NEW_STATUS != null and !&quot;&quot;.equals(NEW_STATUS)" >
        NEW_STATUS,
      </if>
      <if test="MULT_DIV_IND != null and !&quot;&quot;.equals(MULT_DIV_IND)" >
        MULT_DIV_IND,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="SEQUENCE_NO != null and SEQUENCE_NO != emptyBigDecimalValue" >
        #{SEQUENCE_NO},
      </if>
      <if test="TRX_NO != null and TRX_NO != emptyBigDecimalValue" >
        #{TRX_NO},
      </if>
      <if test="TXN_TYPE != null and !&quot;&quot;.equals(TXN_TYPE)" >
        #{TXN_TYPE},
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        #{CIF_NO},
      </if>
      <if test="CIF_NAME != null and !&quot;&quot;.equals(CIF_NAME)" >
        #{CIF_NAME},
      </if>
      <if test="AC_CY != null and AC_CY != emptyBigDecimalValue" >
        #{AC_CY},
      </if>
      <if test="TRS_CY != null and TRS_CY != emptyBigDecimalValue" >
        #{TRS_CY},
      </if>
      <if test="AMOUNT_IN_AC_CY != null and AMOUNT_IN_AC_CY != emptyBigDecimalValue" >
        #{AMOUNT_IN_AC_CY},
      </if>
      <if test="AMOUNT_IN_TRS_CY != null and AMOUNT_IN_TRS_CY != emptyBigDecimalValue" >
        #{AMOUNT_IN_TRS_CY},
      </if>
      <if test="USER_ID != null and !&quot;&quot;.equals(USER_ID)" >
        #{USER_ID},
      </if>
      <if test="ORIG_EXCH_RATE != null and ORIG_EXCH_RATE != emptyBigDecimalValue" >
        #{ORIG_EXCH_RATE},
      </if>
      <if test="MAX_ALLOWED_RATE != null and MAX_ALLOWED_RATE != emptyBigDecimalValue" >
        #{MAX_ALLOWED_RATE},
      </if>
      <if test="MIN_ALLOWED_RATE != null and MIN_ALLOWED_RATE != emptyBigDecimalValue" >
        #{MIN_ALLOWED_RATE},
      </if>
      <if test="STATUS != null and !&quot;&quot;.equals(STATUS)" >
        #{STATUS},
      </if>
      <if test="EXCH_RATE != null and EXCH_RATE != emptyBigDecimalValue" >
        #{EXCH_RATE},
      </if>
      <if test="SYSTEM_DATE != null" >
        #{SYSTEM_DATE},
      </if>
      <if test="CREATED_BY != null and !&quot;&quot;.equals(CREATED_BY)" >
        #{CREATED_BY},
      </if>
      <if test="TRX_TIMOUT_IN_SECONDS != null and TRX_TIMOUT_IN_SECONDS != emptyBigDecimalValue" >
        #{TRX_TIMOUT_IN_SECONDS},
      </if>
      <if test="REMARKS != null and !&quot;&quot;.equals(REMARKS)" >
        #{REMARKS},
      </if>
      <if test="TELLER_RATE != null and TELLER_RATE != emptyBigDecimalValue" >
        #{TELLER_RATE},
      </if>
      <if test="NEW_STATUS != null and !&quot;&quot;.equals(NEW_STATUS)" >
        #{NEW_STATUS},
      </if>
      <if test="MULT_DIV_IND != null and !&quot;&quot;.equals(MULT_DIV_IND)" >
        #{MULT_DIV_IND},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTS_FX_RATE_FROM_BLOTTER" >
    update CTS_FX_RATE_FROM_BLOTTER
    <set >
      <if test="TRX_NO != null" >
        <choose >
          <when test="TRX_NO == emptyBigDecimalValue" >
            TRX_NO = NULL ,
          </when>
          <otherwise >
            TRX_NO = #{TRX_NO},
          </otherwise>
        </choose>
      </if>
      <if test="TXN_TYPE != null" >
        <choose >
          <when test="TXN_TYPE.equals(&quot;&quot;)" >
            TXN_TYPE = NULL ,
          </when>
          <otherwise >
            TXN_TYPE = #{TXN_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="CIF_NO != null" >
        <choose >
          <when test="CIF_NO == emptyBigDecimalValue" >
            CIF_NO = NULL ,
          </when>
          <otherwise >
            CIF_NO = #{CIF_NO},
          </otherwise>
        </choose>
      </if>
      <if test="CIF_NAME != null" >
        <choose >
          <when test="CIF_NAME.equals(&quot;&quot;)" >
            CIF_NAME = NULL ,
          </when>
          <otherwise >
            CIF_NAME = #{CIF_NAME},
          </otherwise>
        </choose>
      </if>
      <if test="AC_CY != null" >
        <choose >
          <when test="AC_CY == emptyBigDecimalValue" >
            AC_CY = NULL ,
          </when>
          <otherwise >
            AC_CY = #{AC_CY},
          </otherwise>
        </choose>
      </if>
      <if test="TRS_CY != null" >
        <choose >
          <when test="TRS_CY == emptyBigDecimalValue" >
            TRS_CY = NULL ,
          </when>
          <otherwise >
            TRS_CY = #{TRS_CY},
          </otherwise>
        </choose>
      </if>
      <if test="AMOUNT_IN_AC_CY != null" >
        <choose >
          <when test="AMOUNT_IN_AC_CY == emptyBigDecimalValue" >
            AMOUNT_IN_AC_CY = NULL ,
          </when>
          <otherwise >
            AMOUNT_IN_AC_CY = #{AMOUNT_IN_AC_CY},
          </otherwise>
        </choose>
      </if>
      <if test="AMOUNT_IN_TRS_CY != null" >
        <choose >
          <when test="AMOUNT_IN_TRS_CY == emptyBigDecimalValue" >
            AMOUNT_IN_TRS_CY = NULL ,
          </when>
          <otherwise >
            AMOUNT_IN_TRS_CY = #{AMOUNT_IN_TRS_CY},
          </otherwise>
        </choose>
      </if>
      <if test="USER_ID != null" >
        <choose >
          <when test="USER_ID.equals(&quot;&quot;)" >
            USER_ID = NULL ,
          </when>
          <otherwise >
            USER_ID = #{USER_ID},
          </otherwise>
        </choose>
      </if>
      <if test="ORIG_EXCH_RATE != null" >
        <choose >
          <when test="ORIG_EXCH_RATE == emptyBigDecimalValue" >
            ORIG_EXCH_RATE = NULL ,
          </when>
          <otherwise >
            ORIG_EXCH_RATE = #{ORIG_EXCH_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="MAX_ALLOWED_RATE != null" >
        <choose >
          <when test="MAX_ALLOWED_RATE == emptyBigDecimalValue" >
            MAX_ALLOWED_RATE = NULL ,
          </when>
          <otherwise >
            MAX_ALLOWED_RATE = #{MAX_ALLOWED_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="MIN_ALLOWED_RATE != null" >
        <choose >
          <when test="MIN_ALLOWED_RATE == emptyBigDecimalValue" >
            MIN_ALLOWED_RATE = NULL ,
          </when>
          <otherwise >
            MIN_ALLOWED_RATE = #{MIN_ALLOWED_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="STATUS != null" >
        <choose >
          <when test="STATUS.equals(&quot;&quot;)" >
            STATUS = NULL ,
          </when>
          <otherwise >
            STATUS = #{STATUS},
          </otherwise>
        </choose>
      </if>
      <if test="EXCH_RATE != null" >
        <choose >
          <when test="EXCH_RATE == emptyBigDecimalValue" >
            EXCH_RATE = NULL ,
          </when>
          <otherwise >
            EXCH_RATE = #{EXCH_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="SYSTEM_DATE != null" >
        SYSTEM_DATE = #{SYSTEM_DATE},
      </if>
      <if test="CREATED_BY != null" >
        <choose >
          <when test="CREATED_BY.equals(&quot;&quot;)" >
            CREATED_BY = NULL ,
          </when>
          <otherwise >
            CREATED_BY = #{CREATED_BY},
          </otherwise>
        </choose>
      </if>
      <if test="TRX_TIMOUT_IN_SECONDS != null" >
        <choose >
          <when test="TRX_TIMOUT_IN_SECONDS == emptyBigDecimalValue" >
            TRX_TIMOUT_IN_SECONDS = NULL ,
          </when>
          <otherwise >
            TRX_TIMOUT_IN_SECONDS = #{TRX_TIMOUT_IN_SECONDS},
          </otherwise>
        </choose>
      </if>
      <if test="REMARKS != null" >
        <choose >
          <when test="REMARKS.equals(&quot;&quot;)" >
            REMARKS = NULL ,
          </when>
          <otherwise >
            REMARKS = #{REMARKS},
          </otherwise>
        </choose>
      </if>
      <if test="TELLER_RATE != null" >
        <choose >
          <when test="TELLER_RATE == emptyBigDecimalValue" >
            TELLER_RATE = NULL ,
          </when>
          <otherwise >
            TELLER_RATE = #{TELLER_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="NEW_STATUS != null" >
        <choose >
          <when test="NEW_STATUS.equals(&quot;&quot;)" >
            NEW_STATUS = NULL ,
          </when>
          <otherwise >
            NEW_STATUS = #{NEW_STATUS},
          </otherwise>
        </choose>
      </if>
      <if test="MULT_DIV_IND != null" >
        <choose >
          <when test="MULT_DIV_IND.equals(&quot;&quot;)" >
            MULT_DIV_IND = NULL ,
          </when>
          <otherwise >
            MULT_DIV_IND = #{MULT_DIV_IND},
          </otherwise>
        </choose>
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and SEQUENCE_NO = #{SEQUENCE_NO}
  </sql>
  <update id="updateCTS_FX_RATE_FROM_BLOTTER" parameterType="com.path.dbmaps.vo.CTS_FX_RATE_FROM_BLOTTERVO" >
    <include refid="sql_updateCTS_FX_RATE_FROM_BLOTTER" />
  </update>
</mapper>