<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTS_SAFEBOX_PARAM" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTS_SAFEBOX_PARAMVO" >
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="PARAM_TYPE" property="PARAM_TYPE" />
    <result column="BRIEF_DESC_ENG" property="BRIEF_DESC_ENG" />
    <result column="LONG_DESC_ENG" property="LONG_DESC_ENG" />
    <result column="BRIEF_DESC_ARAB" property="BRIEF_DESC_ARAB" />
    <result column="LONG_DESC_ARAB" property="LONG_DESC_ARAB" />
    <result column="CHARGES_TYPE" property="CHARGES_TYPE" />
    <result column="ACCRUAL_GL" property="ACCRUAL_GL" />
    <result column="ACCRUAL_CIF" property="ACCRUAL_CIF" />
    <result column="ACCRUAL_SL" property="ACCRUAL_SL" />
    <result column="ALLOW_FMA" property="ALLOW_FMA" />
  </resultMap>
  <sql id="Base_Column_List" >
    CODE, COMP_CODE, PARAM_TYPE, BRIEF_DESC_ENG, LONG_DESC_ENG, BRIEF_DESC_ARAB, LONG_DESC_ARAB, 
    CHARGES_TYPE, ACCRUAL_GL, ACCRUAL_CIF, ACCRUAL_SL, ALLOW_FMA
  </sql>
  <select id="selectCTS_SAFEBOX_PARAM" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTS_SAFEBOX_PARAMVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTS_SAFEBOX_PARAM
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and PARAM_TYPE = #{PARAM_TYPE}
  </select>
  <delete id="deleteCTS_SAFEBOX_PARAM" parameterType="com.path.dbmaps.vo.CTS_SAFEBOX_PARAMVOKey" >
    delete from CTS_SAFEBOX_PARAM
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and PARAM_TYPE = #{PARAM_TYPE}
  </delete>
  <insert id="insertCTS_SAFEBOX_PARAM" parameterType="com.path.dbmaps.vo.CTS_SAFEBOX_PARAMVO" >
    insert into CTS_SAFEBOX_PARAM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="PARAM_TYPE != null" >
        PARAM_TYPE,
      </if>
      <if test="BRIEF_DESC_ENG != null" >
        BRIEF_DESC_ENG,
      </if>
      <if test="LONG_DESC_ENG != null" >
        LONG_DESC_ENG,
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        BRIEF_DESC_ARAB,
      </if>
      <if test="LONG_DESC_ARAB != null" >
        LONG_DESC_ARAB,
      </if>
      <if test="CHARGES_TYPE != null and CHARGES_TYPE != emptyBigDecimalValue" >
        CHARGES_TYPE,
      </if>
      <if test="ACCRUAL_GL != null and ACCRUAL_GL != emptyBigDecimalValue" >
        ACCRUAL_GL,
      </if>
      <if test="ACCRUAL_CIF != null and ACCRUAL_CIF != emptyBigDecimalValue" >
        ACCRUAL_CIF,
      </if>
      <if test="ACCRUAL_SL != null and ACCRUAL_SL != emptyBigDecimalValue" >
        ACCRUAL_SL,
      </if>
      <if test="ALLOW_FMA != null" >
        ALLOW_FMA,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        #{CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="PARAM_TYPE != null" >
        #{PARAM_TYPE},
      </if>
      <if test="BRIEF_DESC_ENG != null" >
        #{BRIEF_DESC_ENG},
      </if>
      <if test="LONG_DESC_ENG != null" >
        #{LONG_DESC_ENG},
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        #{BRIEF_DESC_ARAB},
      </if>
      <if test="LONG_DESC_ARAB != null" >
        #{LONG_DESC_ARAB},
      </if>
      <if test="CHARGES_TYPE != null and CHARGES_TYPE != emptyBigDecimalValue" >
        #{CHARGES_TYPE},
      </if>
      <if test="ACCRUAL_GL != null and ACCRUAL_GL != emptyBigDecimalValue" >
        #{ACCRUAL_GL},
      </if>
      <if test="ACCRUAL_CIF != null and ACCRUAL_CIF != emptyBigDecimalValue" >
        #{ACCRUAL_CIF},
      </if>
      <if test="ACCRUAL_SL != null and ACCRUAL_SL != emptyBigDecimalValue" >
        #{ACCRUAL_SL},
      </if>
      <if test="ALLOW_FMA != null" >
        #{ALLOW_FMA},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTS_SAFEBOX_PARAM" >
    update CTS_SAFEBOX_PARAM
    <set >
      <if test="BRIEF_DESC_ENG != null" >
        BRIEF_DESC_ENG = #{BRIEF_DESC_ENG},
      </if>
      <if test="LONG_DESC_ENG != null" >
        LONG_DESC_ENG = #{LONG_DESC_ENG},
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        BRIEF_DESC_ARAB = #{BRIEF_DESC_ARAB},
      </if>
      <if test="LONG_DESC_ARAB != null" >
        LONG_DESC_ARAB = #{LONG_DESC_ARAB},
      </if>
      <if test="CHARGES_TYPE != null" >
        <choose >
          <when test="CHARGES_TYPE == emptyBigDecimalValue" >
            CHARGES_TYPE = NULL ,
          </when>
          <otherwise >
            CHARGES_TYPE = #{CHARGES_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="ACCRUAL_GL != null" >
        <choose >
          <when test="ACCRUAL_GL == emptyBigDecimalValue" >
            ACCRUAL_GL = NULL ,
          </when>
          <otherwise >
            ACCRUAL_GL = #{ACCRUAL_GL},
          </otherwise>
        </choose>
      </if>
      <if test="ACCRUAL_CIF != null" >
        <choose >
          <when test="ACCRUAL_CIF == emptyBigDecimalValue" >
            ACCRUAL_CIF = NULL ,
          </when>
          <otherwise >
            ACCRUAL_CIF = #{ACCRUAL_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="ACCRUAL_SL != null" >
        <choose >
          <when test="ACCRUAL_SL == emptyBigDecimalValue" >
            ACCRUAL_SL = NULL ,
          </when>
          <otherwise >
            ACCRUAL_SL = #{ACCRUAL_SL},
          </otherwise>
        </choose>
      </if>
      <if test="ALLOW_FMA != null" >
        ALLOW_FMA = #{ALLOW_FMA},
      </if>
    </set>
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and PARAM_TYPE = #{PARAM_TYPE}
  </sql>
  <update id="updateCTS_SAFEBOX_PARAM" parameterType="com.path.dbmaps.vo.CTS_SAFEBOX_PARAMVO" >
    <include refid="sql_updateCTS_SAFEBOX_PARAM" />
  </update>
</mapper>