<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTS_REQUEST_TYPE" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTS_REQUEST_TYPEVO" >
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <result column="APP_NAME" property="APP_NAME" />
    <result column="BRIEF_NAME_ENG" property="BRIEF_NAME_ENG" />
    <result column="BRIEF_NAME_ARAB" property="BRIEF_NAME_ARAB" />
    <result column="LONG_NAME_ENG" property="LONG_NAME_ENG" />
    <result column="LONG_NAME_ARAB" property="LONG_NAME_ARAB" />
    <result column="IIS_TYPE" property="IIS_TYPE" />
    <result column="PRODUCT_CLASS" property="PRODUCT_CLASS" />
    <result column="SPEC_SECURITY" property="SPEC_SECURITY" />
    <result column="SECURITY1" property="SECURITY1" />
    <result column="SECURITY2" property="SECURITY2" />
    <result column="TFA_TYPE" property="TFA_TYPE" />
    <result column="DIV_CODE" property="DIV_CODE" />
    <result column="DEPT_CODE" property="DEPT_CODE" />
    <result column="EXP_PER_DAYS" property="EXP_PER_DAYS" />
    <result column="DISP_ORDER" property="DISP_ORDER" />
    <result column="RIPS_TYPE" property="RIPS_TYPE" />
    <result column="LINK_FALG" property="LINK_FALG" />
    <result column="LINK_FAS" property="LINK_FAS" />
    <result column="REFERENCE" property="REFERENCE" />
    <result column="STATUS" property="STATUS" />
    <result column="OLD_REFERENCE" property="OLD_REFERENCE" />
    <result column="PORTFOLIO_FLAG" property="PORTFOLIO_FLAG" />
    <result column="RIPS_SUBOPT" property="RIPS_SUBOPT" />
    <result column="RIPS_SUBOPT_QTY" property="RIPS_SUBOPT_QTY" />
    <result column="TFA_TYPE_SPEC" property="TFA_TYPE_SPEC" />
    <result column="REPORT_NO" property="REPORT_NO" />
    <result column="REPORT_FLAG" property="REPORT_FLAG" />
    <result column="DATE_CREATED" property="DATE_CREATED" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="DATE_AUTHORIZED" property="DATE_AUTHORIZED" />
    <result column="AUTHORIZED_BY" property="AUTHORIZED_BY" />
    <result column="DATE_SUSPENDED" property="DATE_SUSPENDED" />
    <result column="SUSPENDED_BY" property="SUSPENDED_BY" />
    <result column="DATE_REACTIVATED" property="DATE_REACTIVATED" />
    <result column="REACTIVATED_BY" property="REACTIVATED_BY" />
    <result column="DATE_CANCELED" property="DATE_CANCELED" />
    <result column="CANCELED_BY" property="CANCELED_BY" />
    <result column="DATE_DELETED" property="DATE_DELETED" />
    <result column="DELETED_BY" property="DELETED_BY" />
    <result column="DIRECT_APPROVE" property="DIRECT_APPROVE" />
    <result column="ITEM_VIEW" property="ITEM_VIEW" />
    <result column="DEFAULT_FLAG" property="DEFAULT_FLAG" />
    <result column="STP" property="STP" />
    <result column="VALIDITY_PERIOD" property="VALIDITY_PERIOD" />
    <result column="EFFECT_FROM" property="EFFECT_FROM" />
    <result column="EFFECT_TO" property="EFFECT_TO" />
    <result column="REP_NO" property="REP_NO" />
    <result column="AUTOMATIC_PROCESS" property="AUTOMATIC_PROCESS" />
    <result column="LC_BILL_TYPE" property="LC_BILL_TYPE" />
    <result column="LOC_SEC_PRICE" property="LOC_SEC_PRICE" />
    <result column="DEFAULT_SEC_PRICE" property="DEFAULT_SEC_PRICE" />
    <result column="STP_PURCHASE" property="STP_PURCHASE" />
    <result column="DEFAULT_BRANCH" property="DEFAULT_BRANCH" />
    <result column="OPEN_PRINT_SETUP" property="OPEN_PRINT_SETUP" />
    <result column="ALLOW_CHANGE_BRANCH" property="ALLOW_CHANGE_BRANCH" />
    <result column="SHARE_TRADE" property="SHARE_TRADE" />
    <result column="PORTFOLIO_CIF" property="PORTFOLIO_CIF" />
    <result column="PORTFOLIO_SEQ" property="PORTFOLIO_SEQ" />
    <result column="AUTOMATIC_AMEND" property="AUTOMATIC_AMEND" />
    <result column="BORROWER_REQ_REQUIRED" property="BORROWER_REQ_REQUIRED" />
    <result column="DAYS_BEFORE_MATURITY" property="DAYS_BEFORE_MATURITY" />
    <result column="PROCESS_REP_NO" property="PROCESS_REP_NO" />
    <result column="AMEND_REP_NO" property="AMEND_REP_NO" />
    <result column="ALLOW_CHG_EXPIRY_DATE" property="ALLOW_CHG_EXPIRY_DATE" />
    <result column="NUM_COPIES" property="NUM_COPIES" />
    <result column="STP_FMS" property="STP_FMS" />
    <result column="ALLOW_CHANGE_PRICE" property="ALLOW_CHANGE_PRICE" />
    <result column="RECOMMENDATION_CHANGE" property="RECOMMENDATION_CHANGE" />
    <result column="LC_AUTO_DRAWDOWN" property="LC_AUTO_DRAWDOWN" />
    <result column="MAN_TRADE_DET" property="MAN_TRADE_DET" />
  </resultMap>
  <sql id="Base_Column_List" >
    CODE, COMP_CODE, APP_NAME, BRIEF_NAME_ENG, BRIEF_NAME_ARAB, LONG_NAME_ENG, LONG_NAME_ARAB, 
    IIS_TYPE, PRODUCT_CLASS, SPEC_SECURITY, SECURITY1, SECURITY2, TFA_TYPE, DIV_CODE, 
    DEPT_CODE, EXP_PER_DAYS, DISP_ORDER, RIPS_TYPE, LINK_FALG, LINK_FAS, REFERENCE, STATUS, 
    OLD_REFERENCE, PORTFOLIO_FLAG, RIPS_SUBOPT, RIPS_SUBOPT_QTY, TFA_TYPE_SPEC, REPORT_NO, 
    REPORT_FLAG, DATE_CREATED, CREATED_BY, DATE_AUTHORIZED, AUTHORIZED_BY, DATE_SUSPENDED, 
    SUSPENDED_BY, DATE_REACTIVATED, REACTIVATED_BY, DATE_CANCELED, CANCELED_BY, DATE_DELETED, 
    DELETED_BY, DIRECT_APPROVE, ITEM_VIEW, DEFAULT_FLAG, STP, VALIDITY_PERIOD, EFFECT_FROM, 
    EFFECT_TO, REP_NO, AUTOMATIC_PROCESS, LC_BILL_TYPE, LOC_SEC_PRICE, DEFAULT_SEC_PRICE, 
    STP_PURCHASE, DEFAULT_BRANCH, OPEN_PRINT_SETUP, ALLOW_CHANGE_BRANCH, SHARE_TRADE, 
    PORTFOLIO_CIF, PORTFOLIO_SEQ, AUTOMATIC_AMEND, BORROWER_REQ_REQUIRED, DAYS_BEFORE_MATURITY, 
    PROCESS_REP_NO, AMEND_REP_NO, ALLOW_CHG_EXPIRY_DATE, NUM_COPIES, STP_FMS, ALLOW_CHANGE_PRICE, 
    RECOMMENDATION_CHANGE, LC_AUTO_DRAWDOWN, MAN_TRADE_DET
  </sql>
  <select id="selectCTS_REQUEST_TYPE" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTS_REQUEST_TYPEVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTS_REQUEST_TYPE
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </select>
  <delete id="deleteCTS_REQUEST_TYPE" parameterType="com.path.dbmaps.vo.CTS_REQUEST_TYPEVOKey" >
    delete from CTS_REQUEST_TYPE
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </delete>
  <insert id="insertCTS_REQUEST_TYPE" parameterType="com.path.dbmaps.vo.CTS_REQUEST_TYPEVO" >
    insert into CTS_REQUEST_TYPE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="APP_NAME != null" >
        APP_NAME,
      </if>
      <if test="BRIEF_NAME_ENG != null" >
        BRIEF_NAME_ENG,
      </if>
      <if test="BRIEF_NAME_ARAB != null" >
        BRIEF_NAME_ARAB,
      </if>
      <if test="LONG_NAME_ENG != null" >
        LONG_NAME_ENG,
      </if>
      <if test="LONG_NAME_ARAB != null" >
        LONG_NAME_ARAB,
      </if>
      <if test="IIS_TYPE != null" >
        IIS_TYPE,
      </if>
      <if test="PRODUCT_CLASS != null and PRODUCT_CLASS != emptyBigDecimalValue" >
        PRODUCT_CLASS,
      </if>
      <if test="SPEC_SECURITY != null" >
        SPEC_SECURITY,
      </if>
      <if test="SECURITY1 != null and SECURITY1 != emptyBigDecimalValue" >
        SECURITY1,
      </if>
      <if test="SECURITY2 != null and SECURITY2 != emptyBigDecimalValue" >
        SECURITY2,
      </if>
      <if test="TFA_TYPE != null" >
        TFA_TYPE,
      </if>
      <if test="DIV_CODE != null and DIV_CODE != emptyBigDecimalValue" >
        DIV_CODE,
      </if>
      <if test="DEPT_CODE != null and DEPT_CODE != emptyBigDecimalValue" >
        DEPT_CODE,
      </if>
      <if test="EXP_PER_DAYS != null and EXP_PER_DAYS != emptyBigDecimalValue" >
        EXP_PER_DAYS,
      </if>
      <if test="DISP_ORDER != null and DISP_ORDER != emptyBigDecimalValue" >
        DISP_ORDER,
      </if>
      <if test="RIPS_TYPE != null" >
        RIPS_TYPE,
      </if>
      <if test="LINK_FALG != null" >
        LINK_FALG,
      </if>
      <if test="LINK_FAS != null" >
        LINK_FAS,
      </if>
      <if test="REFERENCE != null" >
        REFERENCE,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="OLD_REFERENCE != null" >
        OLD_REFERENCE,
      </if>
      <if test="PORTFOLIO_FLAG != null" >
        PORTFOLIO_FLAG,
      </if>
      <if test="RIPS_SUBOPT != null" >
        RIPS_SUBOPT,
      </if>
      <if test="RIPS_SUBOPT_QTY != null" >
        RIPS_SUBOPT_QTY,
      </if>
      <if test="TFA_TYPE_SPEC != null" >
        TFA_TYPE_SPEC,
      </if>
      <if test="REPORT_NO != null and REPORT_NO != emptyBigDecimalValue" >
        REPORT_NO,
      </if>
      <if test="REPORT_FLAG != null" >
        REPORT_FLAG,
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="DATE_AUTHORIZED != null" >
        DATE_AUTHORIZED,
      </if>
      <if test="AUTHORIZED_BY != null" >
        AUTHORIZED_BY,
      </if>
      <if test="DATE_SUSPENDED != null" >
        DATE_SUSPENDED,
      </if>
      <if test="SUSPENDED_BY != null" >
        SUSPENDED_BY,
      </if>
      <if test="DATE_REACTIVATED != null" >
        DATE_REACTIVATED,
      </if>
      <if test="REACTIVATED_BY != null" >
        REACTIVATED_BY,
      </if>
      <if test="DATE_CANCELED != null" >
        DATE_CANCELED,
      </if>
      <if test="CANCELED_BY != null" >
        CANCELED_BY,
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED,
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY,
      </if>
      <if test="DIRECT_APPROVE != null" >
        DIRECT_APPROVE,
      </if>
      <if test="ITEM_VIEW != null" >
        ITEM_VIEW,
      </if>
      <if test="DEFAULT_FLAG != null" >
        DEFAULT_FLAG,
      </if>
      <if test="STP != null" >
        STP,
      </if>
      <if test="VALIDITY_PERIOD != null" >
        VALIDITY_PERIOD,
      </if>
      <if test="EFFECT_FROM != null" >
        EFFECT_FROM,
      </if>
      <if test="EFFECT_TO != null" >
        EFFECT_TO,
      </if>
      <if test="REP_NO != null and REP_NO != emptyBigDecimalValue" >
        REP_NO,
      </if>
      <if test="AUTOMATIC_PROCESS != null" >
        AUTOMATIC_PROCESS,
      </if>
      <if test="LC_BILL_TYPE != null and LC_BILL_TYPE != emptyBigDecimalValue" >
        LC_BILL_TYPE,
      </if>
      <if test="LOC_SEC_PRICE != null" >
        LOC_SEC_PRICE,
      </if>
      <if test="DEFAULT_SEC_PRICE != null and DEFAULT_SEC_PRICE != emptyBigDecimalValue" >
        DEFAULT_SEC_PRICE,
      </if>
      <if test="STP_PURCHASE != null" >
        STP_PURCHASE,
      </if>
      <if test="DEFAULT_BRANCH != null and DEFAULT_BRANCH != emptyBigDecimalValue" >
        DEFAULT_BRANCH,
      </if>
      <if test="OPEN_PRINT_SETUP != null" >
        OPEN_PRINT_SETUP,
      </if>
      <if test="ALLOW_CHANGE_BRANCH != null" >
        ALLOW_CHANGE_BRANCH,
      </if>
      <if test="SHARE_TRADE != null" >
        SHARE_TRADE,
      </if>
      <if test="PORTFOLIO_CIF != null and PORTFOLIO_CIF != emptyBigDecimalValue" >
        PORTFOLIO_CIF,
      </if>
      <if test="PORTFOLIO_SEQ != null and PORTFOLIO_SEQ != emptyBigDecimalValue" >
        PORTFOLIO_SEQ,
      </if>
      <if test="AUTOMATIC_AMEND != null" >
        AUTOMATIC_AMEND,
      </if>
      <if test="BORROWER_REQ_REQUIRED != null" >
        BORROWER_REQ_REQUIRED,
      </if>
      <if test="DAYS_BEFORE_MATURITY != null and DAYS_BEFORE_MATURITY != emptyBigDecimalValue" >
        DAYS_BEFORE_MATURITY,
      </if>
      <if test="PROCESS_REP_NO != null and PROCESS_REP_NO != emptyBigDecimalValue" >
        PROCESS_REP_NO,
      </if>
      <if test="AMEND_REP_NO != null and AMEND_REP_NO != emptyBigDecimalValue" >
        AMEND_REP_NO,
      </if>
      <if test="ALLOW_CHG_EXPIRY_DATE != null" >
        ALLOW_CHG_EXPIRY_DATE,
      </if>
      <if test="NUM_COPIES != null and NUM_COPIES != emptyBigDecimalValue" >
        NUM_COPIES,
      </if>
      <if test="STP_FMS != null" >
        STP_FMS,
      </if>
      <if test="ALLOW_CHANGE_PRICE != null" >
        ALLOW_CHANGE_PRICE,
      </if>
      <if test="RECOMMENDATION_CHANGE != null" >
        RECOMMENDATION_CHANGE,
      </if>
      <if test="LC_AUTO_DRAWDOWN != null" >
        LC_AUTO_DRAWDOWN,
      </if>
      <if test="MAN_TRADE_DET != null" >
        MAN_TRADE_DET,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        #{CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="APP_NAME != null" >
        #{APP_NAME},
      </if>
      <if test="BRIEF_NAME_ENG != null" >
        #{BRIEF_NAME_ENG},
      </if>
      <if test="BRIEF_NAME_ARAB != null" >
        #{BRIEF_NAME_ARAB},
      </if>
      <if test="LONG_NAME_ENG != null" >
        #{LONG_NAME_ENG},
      </if>
      <if test="LONG_NAME_ARAB != null" >
        #{LONG_NAME_ARAB},
      </if>
      <if test="IIS_TYPE != null" >
        #{IIS_TYPE},
      </if>
      <if test="PRODUCT_CLASS != null and PRODUCT_CLASS != emptyBigDecimalValue" >
        #{PRODUCT_CLASS},
      </if>
      <if test="SPEC_SECURITY != null" >
        #{SPEC_SECURITY},
      </if>
      <if test="SECURITY1 != null and SECURITY1 != emptyBigDecimalValue" >
        #{SECURITY1},
      </if>
      <if test="SECURITY2 != null and SECURITY2 != emptyBigDecimalValue" >
        #{SECURITY2},
      </if>
      <if test="TFA_TYPE != null" >
        #{TFA_TYPE},
      </if>
      <if test="DIV_CODE != null and DIV_CODE != emptyBigDecimalValue" >
        #{DIV_CODE},
      </if>
      <if test="DEPT_CODE != null and DEPT_CODE != emptyBigDecimalValue" >
        #{DEPT_CODE},
      </if>
      <if test="EXP_PER_DAYS != null and EXP_PER_DAYS != emptyBigDecimalValue" >
        #{EXP_PER_DAYS},
      </if>
      <if test="DISP_ORDER != null and DISP_ORDER != emptyBigDecimalValue" >
        #{DISP_ORDER},
      </if>
      <if test="RIPS_TYPE != null" >
        #{RIPS_TYPE},
      </if>
      <if test="LINK_FALG != null" >
        #{LINK_FALG},
      </if>
      <if test="LINK_FAS != null" >
        #{LINK_FAS},
      </if>
      <if test="REFERENCE != null" >
        #{REFERENCE},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="OLD_REFERENCE != null" >
        #{OLD_REFERENCE},
      </if>
      <if test="PORTFOLIO_FLAG != null" >
        #{PORTFOLIO_FLAG},
      </if>
      <if test="RIPS_SUBOPT != null" >
        #{RIPS_SUBOPT},
      </if>
      <if test="RIPS_SUBOPT_QTY != null" >
        #{RIPS_SUBOPT_QTY},
      </if>
      <if test="TFA_TYPE_SPEC != null" >
        #{TFA_TYPE_SPEC},
      </if>
      <if test="REPORT_NO != null and REPORT_NO != emptyBigDecimalValue" >
        #{REPORT_NO},
      </if>
      <if test="REPORT_FLAG != null" >
        #{REPORT_FLAG},
      </if>
      <if test="DATE_CREATED != null" >
        #{DATE_CREATED},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="DATE_AUTHORIZED != null" >
        #{DATE_AUTHORIZED},
      </if>
      <if test="AUTHORIZED_BY != null" >
        #{AUTHORIZED_BY},
      </if>
      <if test="DATE_SUSPENDED != null" >
        #{DATE_SUSPENDED},
      </if>
      <if test="SUSPENDED_BY != null" >
        #{SUSPENDED_BY},
      </if>
      <if test="DATE_REACTIVATED != null" >
        #{DATE_REACTIVATED},
      </if>
      <if test="REACTIVATED_BY != null" >
        #{REACTIVATED_BY},
      </if>
      <if test="DATE_CANCELED != null" >
        #{DATE_CANCELED},
      </if>
      <if test="CANCELED_BY != null" >
        #{CANCELED_BY},
      </if>
      <if test="DATE_DELETED != null" >
        #{DATE_DELETED},
      </if>
      <if test="DELETED_BY != null" >
        #{DELETED_BY},
      </if>
      <if test="DIRECT_APPROVE != null" >
        #{DIRECT_APPROVE},
      </if>
      <if test="ITEM_VIEW != null" >
        #{ITEM_VIEW},
      </if>
      <if test="DEFAULT_FLAG != null" >
        #{DEFAULT_FLAG},
      </if>
      <if test="STP != null" >
        #{STP},
      </if>
      <if test="VALIDITY_PERIOD != null" >
        #{VALIDITY_PERIOD},
      </if>
      <if test="EFFECT_FROM != null" >
        #{EFFECT_FROM},
      </if>
      <if test="EFFECT_TO != null" >
        #{EFFECT_TO},
      </if>
      <if test="REP_NO != null and REP_NO != emptyBigDecimalValue" >
        #{REP_NO},
      </if>
      <if test="AUTOMATIC_PROCESS != null" >
        #{AUTOMATIC_PROCESS},
      </if>
      <if test="LC_BILL_TYPE != null and LC_BILL_TYPE != emptyBigDecimalValue" >
        #{LC_BILL_TYPE},
      </if>
      <if test="LOC_SEC_PRICE != null" >
        #{LOC_SEC_PRICE},
      </if>
      <if test="DEFAULT_SEC_PRICE != null and DEFAULT_SEC_PRICE != emptyBigDecimalValue" >
        #{DEFAULT_SEC_PRICE},
      </if>
      <if test="STP_PURCHASE != null" >
        #{STP_PURCHASE},
      </if>
      <if test="DEFAULT_BRANCH != null and DEFAULT_BRANCH != emptyBigDecimalValue" >
        #{DEFAULT_BRANCH},
      </if>
      <if test="OPEN_PRINT_SETUP != null" >
        #{OPEN_PRINT_SETUP},
      </if>
      <if test="ALLOW_CHANGE_BRANCH != null" >
        #{ALLOW_CHANGE_BRANCH},
      </if>
      <if test="SHARE_TRADE != null" >
        #{SHARE_TRADE},
      </if>
      <if test="PORTFOLIO_CIF != null and PORTFOLIO_CIF != emptyBigDecimalValue" >
        #{PORTFOLIO_CIF},
      </if>
      <if test="PORTFOLIO_SEQ != null and PORTFOLIO_SEQ != emptyBigDecimalValue" >
        #{PORTFOLIO_SEQ},
      </if>
      <if test="AUTOMATIC_AMEND != null" >
        #{AUTOMATIC_AMEND},
      </if>
      <if test="BORROWER_REQ_REQUIRED != null" >
        #{BORROWER_REQ_REQUIRED},
      </if>
      <if test="DAYS_BEFORE_MATURITY != null and DAYS_BEFORE_MATURITY != emptyBigDecimalValue" >
        #{DAYS_BEFORE_MATURITY},
      </if>
      <if test="PROCESS_REP_NO != null and PROCESS_REP_NO != emptyBigDecimalValue" >
        #{PROCESS_REP_NO},
      </if>
      <if test="AMEND_REP_NO != null and AMEND_REP_NO != emptyBigDecimalValue" >
        #{AMEND_REP_NO},
      </if>
      <if test="ALLOW_CHG_EXPIRY_DATE != null" >
        #{ALLOW_CHG_EXPIRY_DATE},
      </if>
      <if test="NUM_COPIES != null and NUM_COPIES != emptyBigDecimalValue" >
        #{NUM_COPIES},
      </if>
      <if test="STP_FMS != null" >
        #{STP_FMS},
      </if>
      <if test="ALLOW_CHANGE_PRICE != null" >
        #{ALLOW_CHANGE_PRICE},
      </if>
      <if test="RECOMMENDATION_CHANGE != null" >
        #{RECOMMENDATION_CHANGE},
      </if>
      <if test="LC_AUTO_DRAWDOWN != null" >
        #{LC_AUTO_DRAWDOWN},
      </if>
      <if test="MAN_TRADE_DET != null" >
        #{MAN_TRADE_DET},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTS_REQUEST_TYPE" >
    update CTS_REQUEST_TYPE
    <set >
      <if test="APP_NAME != null" >
        APP_NAME = #{APP_NAME},
      </if>
      <if test="BRIEF_NAME_ENG != null" >
        BRIEF_NAME_ENG = #{BRIEF_NAME_ENG},
      </if>
      <if test="BRIEF_NAME_ARAB != null" >
        BRIEF_NAME_ARAB = #{BRIEF_NAME_ARAB},
      </if>
      <if test="LONG_NAME_ENG != null" >
        LONG_NAME_ENG = #{LONG_NAME_ENG},
      </if>
      <if test="LONG_NAME_ARAB != null" >
        LONG_NAME_ARAB = #{LONG_NAME_ARAB},
      </if>
      <if test="IIS_TYPE != null" >
        IIS_TYPE = #{IIS_TYPE},
      </if>
      <if test="PRODUCT_CLASS != null" >
        <choose >
          <when test="PRODUCT_CLASS == emptyBigDecimalValue" >
            PRODUCT_CLASS = NULL ,
          </when>
          <otherwise >
            PRODUCT_CLASS = #{PRODUCT_CLASS},
          </otherwise>
        </choose>
      </if>
      <if test="SPEC_SECURITY != null" >
        SPEC_SECURITY = #{SPEC_SECURITY},
      </if>
      <if test="SECURITY1 != null" >
        <choose >
          <when test="SECURITY1 == emptyBigDecimalValue" >
            SECURITY1 = NULL ,
          </when>
          <otherwise >
            SECURITY1 = #{SECURITY1},
          </otherwise>
        </choose>
      </if>
      <if test="SECURITY2 != null" >
        <choose >
          <when test="SECURITY2 == emptyBigDecimalValue" >
            SECURITY2 = NULL ,
          </when>
          <otherwise >
            SECURITY2 = #{SECURITY2},
          </otherwise>
        </choose>
      </if>
      <if test="TFA_TYPE != null" >
        TFA_TYPE = #{TFA_TYPE},
      </if>
      <if test="DIV_CODE != null" >
        <choose >
          <when test="DIV_CODE == emptyBigDecimalValue" >
            DIV_CODE = NULL ,
          </when>
          <otherwise >
            DIV_CODE = #{DIV_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="DEPT_CODE != null" >
        <choose >
          <when test="DEPT_CODE == emptyBigDecimalValue" >
            DEPT_CODE = NULL ,
          </when>
          <otherwise >
            DEPT_CODE = #{DEPT_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="EXP_PER_DAYS != null" >
        <choose >
          <when test="EXP_PER_DAYS == emptyBigDecimalValue" >
            EXP_PER_DAYS = NULL ,
          </when>
          <otherwise >
            EXP_PER_DAYS = #{EXP_PER_DAYS},
          </otherwise>
        </choose>
      </if>
      <if test="DISP_ORDER != null" >
        <choose >
          <when test="DISP_ORDER == emptyBigDecimalValue" >
            DISP_ORDER = NULL ,
          </when>
          <otherwise >
            DISP_ORDER = #{DISP_ORDER},
          </otherwise>
        </choose>
      </if>
      <if test="RIPS_TYPE != null" >
        RIPS_TYPE = #{RIPS_TYPE},
      </if>
      <if test="LINK_FALG != null" >
        LINK_FALG = #{LINK_FALG},
      </if>
      <if test="LINK_FAS != null" >
        LINK_FAS = #{LINK_FAS},
      </if>
      <if test="REFERENCE != null" >
        REFERENCE = #{REFERENCE},
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="OLD_REFERENCE != null" >
        OLD_REFERENCE = #{OLD_REFERENCE},
      </if>
      <if test="PORTFOLIO_FLAG != null" >
        PORTFOLIO_FLAG = #{PORTFOLIO_FLAG},
      </if>
      <if test="RIPS_SUBOPT != null" >
        RIPS_SUBOPT = #{RIPS_SUBOPT},
      </if>
      <if test="RIPS_SUBOPT_QTY != null" >
        RIPS_SUBOPT_QTY = #{RIPS_SUBOPT_QTY},
      </if>
      <if test="TFA_TYPE_SPEC != null" >
        TFA_TYPE_SPEC = #{TFA_TYPE_SPEC},
      </if>
      <if test="REPORT_NO != null" >
        <choose >
          <when test="REPORT_NO == emptyBigDecimalValue" >
            REPORT_NO = NULL ,
          </when>
          <otherwise >
            REPORT_NO = #{REPORT_NO},
          </otherwise>
        </choose>
      </if>
      <if test="REPORT_FLAG != null" >
        REPORT_FLAG = #{REPORT_FLAG},
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED = #{DATE_CREATED},
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="DATE_AUTHORIZED != null" >
        DATE_AUTHORIZED = #{DATE_AUTHORIZED},
      </if>
      <if test="AUTHORIZED_BY != null" >
        AUTHORIZED_BY = #{AUTHORIZED_BY},
      </if>
      <if test="DATE_SUSPENDED != null" >
        DATE_SUSPENDED = #{DATE_SUSPENDED},
      </if>
      <if test="SUSPENDED_BY != null" >
        SUSPENDED_BY = #{SUSPENDED_BY},
      </if>
      <if test="DATE_REACTIVATED != null" >
        DATE_REACTIVATED = #{DATE_REACTIVATED},
      </if>
      <if test="REACTIVATED_BY != null" >
        REACTIVATED_BY = #{REACTIVATED_BY},
      </if>
      <if test="DATE_CANCELED != null" >
        DATE_CANCELED = #{DATE_CANCELED},
      </if>
      <if test="CANCELED_BY != null" >
        CANCELED_BY = #{CANCELED_BY},
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED = #{DATE_DELETED},
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY = #{DELETED_BY},
      </if>
      <if test="DIRECT_APPROVE != null" >
        DIRECT_APPROVE = #{DIRECT_APPROVE},
      </if>
      <if test="ITEM_VIEW != null" >
        ITEM_VIEW = #{ITEM_VIEW},
      </if>
      <if test="DEFAULT_FLAG != null" >
        DEFAULT_FLAG = #{DEFAULT_FLAG},
      </if>
      <if test="STP != null" >
        STP = #{STP},
      </if>
      <if test="VALIDITY_PERIOD != null" >
        VALIDITY_PERIOD = #{VALIDITY_PERIOD},
      </if>
      <if test="EFFECT_FROM != null" >
        EFFECT_FROM = #{EFFECT_FROM},
      </if>
      <if test="EFFECT_TO != null" >
        EFFECT_TO = #{EFFECT_TO},
      </if>
      <if test="REP_NO != null" >
        <choose >
          <when test="REP_NO == emptyBigDecimalValue" >
            REP_NO = NULL ,
          </when>
          <otherwise >
            REP_NO = #{REP_NO},
          </otherwise>
        </choose>
      </if>
      <if test="AUTOMATIC_PROCESS != null" >
        AUTOMATIC_PROCESS = #{AUTOMATIC_PROCESS},
      </if>
      <if test="LC_BILL_TYPE != null" >
        <choose >
          <when test="LC_BILL_TYPE == emptyBigDecimalValue" >
            LC_BILL_TYPE = NULL ,
          </when>
          <otherwise >
            LC_BILL_TYPE = #{LC_BILL_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="LOC_SEC_PRICE != null" >
        LOC_SEC_PRICE = #{LOC_SEC_PRICE},
      </if>
      <if test="DEFAULT_SEC_PRICE != null" >
        <choose >
          <when test="DEFAULT_SEC_PRICE == emptyBigDecimalValue" >
            DEFAULT_SEC_PRICE = NULL ,
          </when>
          <otherwise >
            DEFAULT_SEC_PRICE = #{DEFAULT_SEC_PRICE},
          </otherwise>
        </choose>
      </if>
      <if test="STP_PURCHASE != null" >
        STP_PURCHASE = #{STP_PURCHASE},
      </if>
      <if test="DEFAULT_BRANCH != null" >
        <choose >
          <when test="DEFAULT_BRANCH == emptyBigDecimalValue" >
            DEFAULT_BRANCH = NULL ,
          </when>
          <otherwise >
            DEFAULT_BRANCH = #{DEFAULT_BRANCH},
          </otherwise>
        </choose>
      </if>
      <if test="OPEN_PRINT_SETUP != null" >
        OPEN_PRINT_SETUP = #{OPEN_PRINT_SETUP},
      </if>
      <if test="ALLOW_CHANGE_BRANCH != null" >
        ALLOW_CHANGE_BRANCH = #{ALLOW_CHANGE_BRANCH},
      </if>
      <if test="SHARE_TRADE != null" >
        SHARE_TRADE = #{SHARE_TRADE},
      </if>
      <if test="PORTFOLIO_CIF != null" >
        <choose >
          <when test="PORTFOLIO_CIF == emptyBigDecimalValue" >
            PORTFOLIO_CIF = NULL ,
          </when>
          <otherwise >
            PORTFOLIO_CIF = #{PORTFOLIO_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="PORTFOLIO_SEQ != null" >
        <choose >
          <when test="PORTFOLIO_SEQ == emptyBigDecimalValue" >
            PORTFOLIO_SEQ = NULL ,
          </when>
          <otherwise >
            PORTFOLIO_SEQ = #{PORTFOLIO_SEQ},
          </otherwise>
        </choose>
      </if>
      <if test="AUTOMATIC_AMEND != null" >
        AUTOMATIC_AMEND = #{AUTOMATIC_AMEND},
      </if>
      <if test="BORROWER_REQ_REQUIRED != null" >
        BORROWER_REQ_REQUIRED = #{BORROWER_REQ_REQUIRED},
      </if>
      <if test="DAYS_BEFORE_MATURITY != null" >
        <choose >
          <when test="DAYS_BEFORE_MATURITY == emptyBigDecimalValue" >
            DAYS_BEFORE_MATURITY = NULL ,
          </when>
          <otherwise >
            DAYS_BEFORE_MATURITY = #{DAYS_BEFORE_MATURITY},
          </otherwise>
        </choose>
      </if>
      <if test="PROCESS_REP_NO != null" >
        <choose >
          <when test="PROCESS_REP_NO == emptyBigDecimalValue" >
            PROCESS_REP_NO = NULL ,
          </when>
          <otherwise >
            PROCESS_REP_NO = #{PROCESS_REP_NO},
          </otherwise>
        </choose>
      </if>
      <if test="AMEND_REP_NO != null" >
        <choose >
          <when test="AMEND_REP_NO == emptyBigDecimalValue" >
            AMEND_REP_NO = NULL ,
          </when>
          <otherwise >
            AMEND_REP_NO = #{AMEND_REP_NO},
          </otherwise>
        </choose>
      </if>
      <if test="ALLOW_CHG_EXPIRY_DATE != null" >
        ALLOW_CHG_EXPIRY_DATE = #{ALLOW_CHG_EXPIRY_DATE},
      </if>
      <if test="NUM_COPIES != null" >
        <choose >
          <when test="NUM_COPIES == emptyBigDecimalValue" >
            NUM_COPIES = NULL ,
          </when>
          <otherwise >
            NUM_COPIES = #{NUM_COPIES},
          </otherwise>
        </choose>
      </if>
      <if test="STP_FMS != null" >
        STP_FMS = #{STP_FMS},
      </if>
      <if test="ALLOW_CHANGE_PRICE != null" >
        ALLOW_CHANGE_PRICE = #{ALLOW_CHANGE_PRICE},
      </if>
      <if test="RECOMMENDATION_CHANGE != null" >
        RECOMMENDATION_CHANGE = #{RECOMMENDATION_CHANGE},
      </if>
      <if test="LC_AUTO_DRAWDOWN != null" >
        LC_AUTO_DRAWDOWN = #{LC_AUTO_DRAWDOWN},
      </if>
      <if test="MAN_TRADE_DET != null" >
        MAN_TRADE_DET = #{MAN_TRADE_DET},
      </if>
    </set>
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </sql>
  <update id="updateCTS_REQUEST_TYPE" parameterType="com.path.dbmaps.vo.CTS_REQUEST_TYPEVO" >
    <include refid="sql_updateCTS_REQUEST_TYPE" />
  </update>
</mapper>