<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTS_SEGMENT_CIF_EXCLUDE" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTS_SEGMENT_CIF_EXCLUDEVO" >
    <id column="CIF_NO" property="CIF_NO" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="SEGMENT_CODE" property="SEGMENT_CODE" />
    <id column="SEGMENT_TYPE" property="SEGMENT_TYPE" />
  </resultMap>
  <delete id="deleteCTS_SEGMENT_CIF_EXCLUDE" parameterType="com.path.dbmaps.vo.CTS_SEGMENT_CIF_EXCLUDEVO" >
    delete from CTS_SEGMENT_CIF_EXCLUDE
    where CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and SEGMENT_CODE = #{SEGMENT_CODE}
      and SEGMENT_TYPE = #{SEGMENT_TYPE}
  </delete>
  <insert id="insertCTS_SEGMENT_CIF_EXCLUDE" parameterType="com.path.dbmaps.vo.CTS_SEGMENT_CIF_EXCLUDEVO" >
    insert into CTS_SEGMENT_CIF_EXCLUDE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        CIF_NO,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="SEGMENT_CODE != null and SEGMENT_CODE != emptyBigDecimalValue" >
        SEGMENT_CODE,
      </if>
      <if test="SEGMENT_TYPE != null and !&quot;&quot;.equals(SEGMENT_TYPE)" >
        SEGMENT_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        #{CIF_NO},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="SEGMENT_CODE != null and SEGMENT_CODE != emptyBigDecimalValue" >
        #{SEGMENT_CODE},
      </if>
      <if test="SEGMENT_TYPE != null and !&quot;&quot;.equals(SEGMENT_TYPE)" >
        #{SEGMENT_TYPE},
      </if>
    </trim>
  </insert>
</mapper>