<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTS_MAIL_DET" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTS_MAIL_DETVO" >
    <id column="ACC_BR" property="ACC_BR" />
    <id column="ACC_CIF" property="ACC_CIF" />
    <id column="ACC_CY" property="ACC_CY" />
    <id column="ACC_GL" property="ACC_GL" />
    <id column="ACC_SL" property="ACC_SL" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="DAY" property="DAY" />
    <id column="EXTRACT_TYPE" property="EXTRACT_TYPE" />
    <id column="ORGANIZATION_CODE" property="ORGANIZATION_CODE" />
    <id column="PERIODICITY" property="PERIODICITY" />
    <result column="ORGANIZATION_NAME" property="ORGANIZATION_NAME" />
    <result column="MEDIA_TYPE" property="MEDIA_TYPE" />
    <result column="STATUS" property="STATUS" />
    <result column="CHRG_ACC_BR" property="CHRG_ACC_BR" />
    <result column="CHRG_ACC_CY" property="CHRG_ACC_CY" />
    <result column="CHRG_ACC_GL" property="CHRG_ACC_GL" />
    <result column="CHRG_ACC_CIF" property="CHRG_ACC_CIF" />
    <result column="CHRG_ACC_SL" property="CHRG_ACC_SL" />
    <result column="CHRG_SCHEMA" property="CHRG_SCHEMA" />
  </resultMap>
  <sql id="Base_Column_List" >
    ACC_BR, ACC_CIF, ACC_CY, ACC_GL, ACC_SL, COMP_CODE, DAY, EXTRACT_TYPE, ORGANIZATION_CODE, 
    PERIODICITY, ORGANIZATION_NAME, MEDIA_TYPE, STATUS, CHRG_ACC_BR, CHRG_ACC_CY, CHRG_ACC_GL, 
    CHRG_ACC_CIF, CHRG_ACC_SL, CHRG_SCHEMA
  </sql>
  <select id="selectCTS_MAIL_DET" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTS_MAIL_DETVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTS_MAIL_DET
    where ACC_BR = #{ACC_BR}
      and ACC_CIF = #{ACC_CIF}
      and ACC_CY = #{ACC_CY}
      and ACC_GL = #{ACC_GL}
      and ACC_SL = #{ACC_SL}
      and COMP_CODE = #{COMP_CODE}
      and DAY = #{DAY}
      and EXTRACT_TYPE = #{EXTRACT_TYPE}
      and ORGANIZATION_CODE = #{ORGANIZATION_CODE}
      and PERIODICITY = #{PERIODICITY}
  </select>
  <delete id="deleteCTS_MAIL_DET" parameterType="com.path.dbmaps.vo.CTS_MAIL_DETVOKey" >
    delete from CTS_MAIL_DET
    where ACC_BR = #{ACC_BR}
      and ACC_CIF = #{ACC_CIF}
      and ACC_CY = #{ACC_CY}
      and ACC_GL = #{ACC_GL}
      and ACC_SL = #{ACC_SL}
      and COMP_CODE = #{COMP_CODE}
      and DAY = #{DAY}
      and EXTRACT_TYPE = #{EXTRACT_TYPE}
      and ORGANIZATION_CODE = #{ORGANIZATION_CODE}
      and PERIODICITY = #{PERIODICITY}
  </delete>
  <insert id="insertCTS_MAIL_DET" parameterType="com.path.dbmaps.vo.CTS_MAIL_DETVO" >
    insert into CTS_MAIL_DET
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ACC_BR != null and ACC_BR != emptyBigDecimalValue" >
        ACC_BR,
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        ACC_CIF,
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        ACC_CY,
      </if>
      <if test="ACC_GL != null and ACC_GL != emptyBigDecimalValue" >
        ACC_GL,
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        ACC_SL,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="DAY != null and DAY != emptyBigDecimalValue" >
        DAY,
      </if>
      <if test="EXTRACT_TYPE != null" >
        EXTRACT_TYPE,
      </if>
      <if test="ORGANIZATION_CODE != null" >
        ORGANIZATION_CODE,
      </if>
      <if test="PERIODICITY != null" >
        PERIODICITY,
      </if>
      <if test="ORGANIZATION_NAME != null" >
        ORGANIZATION_NAME,
      </if>
      <if test="MEDIA_TYPE != null" >
        MEDIA_TYPE,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="CHRG_ACC_BR != null and CHRG_ACC_BR != emptyBigDecimalValue" >
        CHRG_ACC_BR,
      </if>
      <if test="CHRG_ACC_CY != null and CHRG_ACC_CY != emptyBigDecimalValue" >
        CHRG_ACC_CY,
      </if>
      <if test="CHRG_ACC_GL != null and CHRG_ACC_GL != emptyBigDecimalValue" >
        CHRG_ACC_GL,
      </if>
      <if test="CHRG_ACC_CIF != null and CHRG_ACC_CIF != emptyBigDecimalValue" >
        CHRG_ACC_CIF,
      </if>
      <if test="CHRG_ACC_SL != null and CHRG_ACC_SL != emptyBigDecimalValue" >
        CHRG_ACC_SL,
      </if>
      <if test="CHRG_SCHEMA != null and CHRG_SCHEMA != emptyBigDecimalValue" >
        CHRG_SCHEMA,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ACC_BR != null and ACC_BR != emptyBigDecimalValue" >
        #{ACC_BR},
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        #{ACC_CIF},
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        #{ACC_CY},
      </if>
      <if test="ACC_GL != null and ACC_GL != emptyBigDecimalValue" >
        #{ACC_GL},
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        #{ACC_SL},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="DAY != null and DAY != emptyBigDecimalValue" >
        #{DAY},
      </if>
      <if test="EXTRACT_TYPE != null" >
        #{EXTRACT_TYPE},
      </if>
      <if test="ORGANIZATION_CODE != null" >
        #{ORGANIZATION_CODE},
      </if>
      <if test="PERIODICITY != null" >
        #{PERIODICITY},
      </if>
      <if test="ORGANIZATION_NAME != null" >
        #{ORGANIZATION_NAME},
      </if>
      <if test="MEDIA_TYPE != null" >
        #{MEDIA_TYPE},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="CHRG_ACC_BR != null and CHRG_ACC_BR != emptyBigDecimalValue" >
        #{CHRG_ACC_BR},
      </if>
      <if test="CHRG_ACC_CY != null and CHRG_ACC_CY != emptyBigDecimalValue" >
        #{CHRG_ACC_CY},
      </if>
      <if test="CHRG_ACC_GL != null and CHRG_ACC_GL != emptyBigDecimalValue" >
        #{CHRG_ACC_GL},
      </if>
      <if test="CHRG_ACC_CIF != null and CHRG_ACC_CIF != emptyBigDecimalValue" >
        #{CHRG_ACC_CIF},
      </if>
      <if test="CHRG_ACC_SL != null and CHRG_ACC_SL != emptyBigDecimalValue" >
        #{CHRG_ACC_SL},
      </if>
      <if test="CHRG_SCHEMA != null and CHRG_SCHEMA != emptyBigDecimalValue" >
        #{CHRG_SCHEMA},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTS_MAIL_DET" >
    update CTS_MAIL_DET
    <set >
      <if test="ORGANIZATION_NAME != null" >
        ORGANIZATION_NAME = #{ORGANIZATION_NAME},
      </if>
      <if test="MEDIA_TYPE != null" >
        MEDIA_TYPE = #{MEDIA_TYPE},
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="CHRG_ACC_BR != null" >
        <choose >
          <when test="CHRG_ACC_BR == emptyBigDecimalValue" >
            CHRG_ACC_BR = NULL ,
          </when>
          <otherwise >
            CHRG_ACC_BR = #{CHRG_ACC_BR},
          </otherwise>
        </choose>
      </if>
      <if test="CHRG_ACC_CY != null" >
        <choose >
          <when test="CHRG_ACC_CY == emptyBigDecimalValue" >
            CHRG_ACC_CY = NULL ,
          </when>
          <otherwise >
            CHRG_ACC_CY = #{CHRG_ACC_CY},
          </otherwise>
        </choose>
      </if>
      <if test="CHRG_ACC_GL != null" >
        <choose >
          <when test="CHRG_ACC_GL == emptyBigDecimalValue" >
            CHRG_ACC_GL = NULL ,
          </when>
          <otherwise >
            CHRG_ACC_GL = #{CHRG_ACC_GL},
          </otherwise>
        </choose>
      </if>
      <if test="CHRG_ACC_CIF != null" >
        <choose >
          <when test="CHRG_ACC_CIF == emptyBigDecimalValue" >
            CHRG_ACC_CIF = NULL ,
          </when>
          <otherwise >
            CHRG_ACC_CIF = #{CHRG_ACC_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="CHRG_ACC_SL != null" >
        <choose >
          <when test="CHRG_ACC_SL == emptyBigDecimalValue" >
            CHRG_ACC_SL = NULL ,
          </when>
          <otherwise >
            CHRG_ACC_SL = #{CHRG_ACC_SL},
          </otherwise>
        </choose>
      </if>
      <if test="CHRG_SCHEMA != null" >
        <choose >
          <when test="CHRG_SCHEMA == emptyBigDecimalValue" >
            CHRG_SCHEMA = NULL ,
          </when>
          <otherwise >
            CHRG_SCHEMA = #{CHRG_SCHEMA},
          </otherwise>
        </choose>
      </if>
    </set>
    where ACC_BR = #{ACC_BR}
      and ACC_CIF = #{ACC_CIF}
      and ACC_CY = #{ACC_CY}
      and ACC_GL = #{ACC_GL}
      and ACC_SL = #{ACC_SL}
      and COMP_CODE = #{COMP_CODE}
      and DAY = #{DAY}
      and EXTRACT_TYPE = #{EXTRACT_TYPE}
      and ORGANIZATION_CODE = #{ORGANIZATION_CODE}
      and PERIODICITY = #{PERIODICITY}
  </sql>
  <update id="updateCTS_MAIL_DET" parameterType="com.path.dbmaps.vo.CTS_MAIL_DETVO" >
    <include refid="sql_updateCTS_MAIL_DET" />
  </update>
</mapper>