<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTS_INTEGRATION" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTS_INTEGRATIONVO" >
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="TYPE_CODE" property="TYPE_CODE" />
    <result column="CTSTRS_BR" property="CTSTRS_BR" />
    <result column="TRS_NO" property="TRS_NO" />
    <result column="AMOUNT" property="AMOUNT" />
    <result column="ADDITIONAL_REFERENCE" property="ADDITIONAL_REFERENCE" />
    <result column="STATUS" property="STATUS" />
    <result column="MODIFIED_DATE" property="MODIFIED_DATE" />
    <result column="DATE_OF_INSERTION" property="DATE_OF_INSERTION" />
    <result column="CREDITING_DATE" property="CREDITING_DATE" />
    <result column="REASON" property="REASON" />
    <result column="STRING1" property="STRING1" />
    <result column="STRING2" property="STRING2" />
    <result column="STRING3" property="STRING3" />
    <result column="STRING4" property="STRING4" />
    <result column="STRING5" property="STRING5" />
    <result column="STRING6" property="STRING6" />
    <result column="STRING7" property="STRING7" />
    <result column="STRING8" property="STRING8" />
    <result column="STRING9" property="STRING9" />
    <result column="STRING10" property="STRING10" />
    <result column="DATE1" property="DATE1" />
    <result column="DATE2" property="DATE2" />
    <result column="DATE3" property="DATE3" />
    <result column="DATE4" property="DATE4" />
    <result column="DATE5" property="DATE5" />
    <result column="DATE6" property="DATE6" />
    <result column="DATE7" property="DATE7" />
    <result column="DATE8" property="DATE8" />
    <result column="DATE9" property="DATE9" />
    <result column="DATE10" property="DATE10" />
    <result column="NUMBER1" property="NUMBER1" />
    <result column="NUMBER2" property="NUMBER2" />
    <result column="NUMBER3" property="NUMBER3" />
    <result column="NUMBER4" property="NUMBER4" />
    <result column="NUMBER5" property="NUMBER5" />
    <result column="NUMBER6" property="NUMBER6" />
    <result column="NUMBER7" property="NUMBER7" />
    <result column="NUMBER8" property="NUMBER8" />
    <result column="NUMBER9" property="NUMBER9" />
    <result column="NUMBER10" property="NUMBER10" />
    <result column="DATE_CLAIMED" property="DATE_CLAIMED" />
    <result column="DATE_REJECTED" property="DATE_REJECTED" />
    <result column="DATE_STOPPED" property="DATE_STOPPED" />
    <result column="EXPIRY_DATE" property="EXPIRY_DATE" />
    <result column="REFUND_CHQ_NO" property="REFUND_CHQ_NO" />
    <result column="REFUND_DATE" property="REFUND_DATE" />
    <result column="REFUND_TRS_BR" property="REFUND_TRS_BR" />
    <result column="REFUND_TRS_NO" property="REFUND_TRS_NO" />
  </resultMap>
  <sql id="Base_Column_List" >
    CODE, COMP_CODE, TYPE_CODE, CTSTRS_BR, TRS_NO, AMOUNT, ADDITIONAL_REFERENCE, STATUS, 
    MODIFIED_DATE, DATE_OF_INSERTION, CREDITING_DATE, REASON, STRING1, STRING2, STRING3, 
    STRING4, STRING5, STRING6, STRING7, STRING8, STRING9, STRING10, DATE1, DATE2, DATE3, 
    DATE4, DATE5, DATE6, DATE7, DATE8, DATE9, DATE10, NUMBER1, NUMBER2, NUMBER3, NUMBER4, 
    NUMBER5, NUMBER6, NUMBER7, NUMBER8, NUMBER9, NUMBER10, DATE_CLAIMED, DATE_REJECTED, 
    DATE_STOPPED, EXPIRY_DATE, REFUND_CHQ_NO, REFUND_DATE, REFUND_TRS_BR, REFUND_TRS_NO
  </sql>
  <select id="selectCTS_INTEGRATION" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTS_INTEGRATIONVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTS_INTEGRATION
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and TYPE_CODE = #{TYPE_CODE}
  </select>
  <delete id="deleteCTS_INTEGRATION" parameterType="com.path.dbmaps.vo.CTS_INTEGRATIONVOKey" >
    delete from CTS_INTEGRATION
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and TYPE_CODE = #{TYPE_CODE}
  </delete>
  <insert id="insertCTS_INTEGRATION" parameterType="com.path.dbmaps.vo.CTS_INTEGRATIONVO" >
    insert into CTS_INTEGRATION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="TYPE_CODE != null and TYPE_CODE != emptyBigDecimalValue" >
        TYPE_CODE,
      </if>
      <if test="CTSTRS_BR != null and CTSTRS_BR != emptyBigDecimalValue" >
        CTSTRS_BR,
      </if>
      <if test="TRS_NO != null and TRS_NO != emptyBigDecimalValue" >
        TRS_NO,
      </if>
      <if test="AMOUNT != null and AMOUNT != emptyBigDecimalValue" >
        AMOUNT,
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        ADDITIONAL_REFERENCE,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE,
      </if>
      <if test="DATE_OF_INSERTION != null" >
        DATE_OF_INSERTION,
      </if>
      <if test="CREDITING_DATE != null" >
        CREDITING_DATE,
      </if>
      <if test="REASON != null" >
        REASON,
      </if>
      <if test="STRING1 != null" >
        STRING1,
      </if>
      <if test="STRING2 != null" >
        STRING2,
      </if>
      <if test="STRING3 != null" >
        STRING3,
      </if>
      <if test="STRING4 != null" >
        STRING4,
      </if>
      <if test="STRING5 != null" >
        STRING5,
      </if>
      <if test="STRING6 != null" >
        STRING6,
      </if>
      <if test="STRING7 != null" >
        STRING7,
      </if>
      <if test="STRING8 != null" >
        STRING8,
      </if>
      <if test="STRING9 != null" >
        STRING9,
      </if>
      <if test="STRING10 != null" >
        STRING10,
      </if>
      <if test="DATE1 != null" >
        DATE1,
      </if>
      <if test="DATE2 != null" >
        DATE2,
      </if>
      <if test="DATE3 != null" >
        DATE3,
      </if>
      <if test="DATE4 != null" >
        DATE4,
      </if>
      <if test="DATE5 != null" >
        DATE5,
      </if>
      <if test="DATE6 != null" >
        DATE6,
      </if>
      <if test="DATE7 != null" >
        DATE7,
      </if>
      <if test="DATE8 != null" >
        DATE8,
      </if>
      <if test="DATE9 != null" >
        DATE9,
      </if>
      <if test="DATE10 != null" >
        DATE10,
      </if>
      <if test="NUMBER1 != null and NUMBER1 != emptyBigDecimalValue" >
        NUMBER1,
      </if>
      <if test="NUMBER2 != null and NUMBER2 != emptyBigDecimalValue" >
        NUMBER2,
      </if>
      <if test="NUMBER3 != null and NUMBER3 != emptyBigDecimalValue" >
        NUMBER3,
      </if>
      <if test="NUMBER4 != null and NUMBER4 != emptyBigDecimalValue" >
        NUMBER4,
      </if>
      <if test="NUMBER5 != null and NUMBER5 != emptyBigDecimalValue" >
        NUMBER5,
      </if>
      <if test="NUMBER6 != null and NUMBER6 != emptyBigDecimalValue" >
        NUMBER6,
      </if>
      <if test="NUMBER7 != null and NUMBER7 != emptyBigDecimalValue" >
        NUMBER7,
      </if>
      <if test="NUMBER8 != null and NUMBER8 != emptyBigDecimalValue" >
        NUMBER8,
      </if>
      <if test="NUMBER9 != null and NUMBER9 != emptyBigDecimalValue" >
        NUMBER9,
      </if>
      <if test="NUMBER10 != null and NUMBER10 != emptyBigDecimalValue" >
        NUMBER10,
      </if>
      <if test="DATE_CLAIMED != null" >
        DATE_CLAIMED,
      </if>
      <if test="DATE_REJECTED != null" >
        DATE_REJECTED,
      </if>
      <if test="DATE_STOPPED != null" >
        DATE_STOPPED,
      </if>
      <if test="EXPIRY_DATE != null" >
        EXPIRY_DATE,
      </if>
      <if test="REFUND_CHQ_NO != null and REFUND_CHQ_NO != emptyBigDecimalValue" >
        REFUND_CHQ_NO,
      </if>
      <if test="REFUND_DATE != null" >
        REFUND_DATE,
      </if>
      <if test="REFUND_TRS_BR != null and REFUND_TRS_BR != emptyBigDecimalValue" >
        REFUND_TRS_BR,
      </if>
      <if test="REFUND_TRS_NO != null and REFUND_TRS_NO != emptyBigDecimalValue" >
        REFUND_TRS_NO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        #{CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="TYPE_CODE != null and TYPE_CODE != emptyBigDecimalValue" >
        #{TYPE_CODE},
      </if>
      <if test="CTSTRS_BR != null and CTSTRS_BR != emptyBigDecimalValue" >
        #{CTSTRS_BR},
      </if>
      <if test="TRS_NO != null and TRS_NO != emptyBigDecimalValue" >
        #{TRS_NO},
      </if>
      <if test="AMOUNT != null and AMOUNT != emptyBigDecimalValue" >
        #{AMOUNT},
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        #{ADDITIONAL_REFERENCE},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="MODIFIED_DATE != null" >
        #{MODIFIED_DATE},
      </if>
      <if test="DATE_OF_INSERTION != null" >
        #{DATE_OF_INSERTION},
      </if>
      <if test="CREDITING_DATE != null" >
        #{CREDITING_DATE},
      </if>
      <if test="REASON != null" >
        #{REASON},
      </if>
      <if test="STRING1 != null" >
        #{STRING1},
      </if>
      <if test="STRING2 != null" >
        #{STRING2},
      </if>
      <if test="STRING3 != null" >
        #{STRING3},
      </if>
      <if test="STRING4 != null" >
        #{STRING4},
      </if>
      <if test="STRING5 != null" >
        #{STRING5},
      </if>
      <if test="STRING6 != null" >
        #{STRING6},
      </if>
      <if test="STRING7 != null" >
        #{STRING7},
      </if>
      <if test="STRING8 != null" >
        #{STRING8},
      </if>
      <if test="STRING9 != null" >
        #{STRING9},
      </if>
      <if test="STRING10 != null" >
        #{STRING10},
      </if>
      <if test="DATE1 != null" >
        #{DATE1},
      </if>
      <if test="DATE2 != null" >
        #{DATE2},
      </if>
      <if test="DATE3 != null" >
        #{DATE3},
      </if>
      <if test="DATE4 != null" >
        #{DATE4},
      </if>
      <if test="DATE5 != null" >
        #{DATE5},
      </if>
      <if test="DATE6 != null" >
        #{DATE6},
      </if>
      <if test="DATE7 != null" >
        #{DATE7},
      </if>
      <if test="DATE8 != null" >
        #{DATE8},
      </if>
      <if test="DATE9 != null" >
        #{DATE9},
      </if>
      <if test="DATE10 != null" >
        #{DATE10},
      </if>
      <if test="NUMBER1 != null and NUMBER1 != emptyBigDecimalValue" >
        #{NUMBER1},
      </if>
      <if test="NUMBER2 != null and NUMBER2 != emptyBigDecimalValue" >
        #{NUMBER2},
      </if>
      <if test="NUMBER3 != null and NUMBER3 != emptyBigDecimalValue" >
        #{NUMBER3},
      </if>
      <if test="NUMBER4 != null and NUMBER4 != emptyBigDecimalValue" >
        #{NUMBER4},
      </if>
      <if test="NUMBER5 != null and NUMBER5 != emptyBigDecimalValue" >
        #{NUMBER5},
      </if>
      <if test="NUMBER6 != null and NUMBER6 != emptyBigDecimalValue" >
        #{NUMBER6},
      </if>
      <if test="NUMBER7 != null and NUMBER7 != emptyBigDecimalValue" >
        #{NUMBER7},
      </if>
      <if test="NUMBER8 != null and NUMBER8 != emptyBigDecimalValue" >
        #{NUMBER8},
      </if>
      <if test="NUMBER9 != null and NUMBER9 != emptyBigDecimalValue" >
        #{NUMBER9},
      </if>
      <if test="NUMBER10 != null and NUMBER10 != emptyBigDecimalValue" >
        #{NUMBER10},
      </if>
      <if test="DATE_CLAIMED != null" >
        #{DATE_CLAIMED},
      </if>
      <if test="DATE_REJECTED != null" >
        #{DATE_REJECTED},
      </if>
      <if test="DATE_STOPPED != null" >
        #{DATE_STOPPED},
      </if>
      <if test="EXPIRY_DATE != null" >
        #{EXPIRY_DATE},
      </if>
      <if test="REFUND_CHQ_NO != null and REFUND_CHQ_NO != emptyBigDecimalValue" >
        #{REFUND_CHQ_NO},
      </if>
      <if test="REFUND_DATE != null" >
        #{REFUND_DATE},
      </if>
      <if test="REFUND_TRS_BR != null and REFUND_TRS_BR != emptyBigDecimalValue" >
        #{REFUND_TRS_BR},
      </if>
      <if test="REFUND_TRS_NO != null and REFUND_TRS_NO != emptyBigDecimalValue" >
        #{REFUND_TRS_NO},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTS_INTEGRATION" >
    update CTS_INTEGRATION
    <set >
      <if test="CTSTRS_BR != null" >
        <choose >
          <when test="CTSTRS_BR == emptyBigDecimalValue" >
            CTSTRS_BR = NULL ,
          </when>
          <otherwise >
            CTSTRS_BR = #{CTSTRS_BR},
          </otherwise>
        </choose>
      </if>
      <if test="TRS_NO != null" >
        <choose >
          <when test="TRS_NO == emptyBigDecimalValue" >
            TRS_NO = NULL ,
          </when>
          <otherwise >
            TRS_NO = #{TRS_NO},
          </otherwise>
        </choose>
      </if>
      <if test="AMOUNT != null" >
        <choose >
          <when test="AMOUNT == emptyBigDecimalValue" >
            AMOUNT = NULL ,
          </when>
          <otherwise >
            AMOUNT = #{AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        ADDITIONAL_REFERENCE = #{ADDITIONAL_REFERENCE},
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE = #{MODIFIED_DATE},
      </if>
      <if test="DATE_OF_INSERTION != null" >
        DATE_OF_INSERTION = #{DATE_OF_INSERTION},
      </if>
      <if test="CREDITING_DATE != null" >
        CREDITING_DATE = #{CREDITING_DATE},
      </if>
      <if test="REASON != null" >
        REASON = #{REASON},
      </if>
      <if test="STRING1 != null" >
        STRING1 = #{STRING1},
      </if>
      <if test="STRING2 != null" >
        STRING2 = #{STRING2},
      </if>
      <if test="STRING3 != null" >
        STRING3 = #{STRING3},
      </if>
      <if test="STRING4 != null" >
        STRING4 = #{STRING4},
      </if>
      <if test="STRING5 != null" >
        STRING5 = #{STRING5},
      </if>
      <if test="STRING6 != null" >
        STRING6 = #{STRING6},
      </if>
      <if test="STRING7 != null" >
        STRING7 = #{STRING7},
      </if>
      <if test="STRING8 != null" >
        STRING8 = #{STRING8},
      </if>
      <if test="STRING9 != null" >
        STRING9 = #{STRING9},
      </if>
      <if test="STRING10 != null" >
        STRING10 = #{STRING10},
      </if>
      <if test="DATE1 != null" >
        DATE1 = #{DATE1},
      </if>
      <if test="DATE2 != null" >
        DATE2 = #{DATE2},
      </if>
      <if test="DATE3 != null" >
        DATE3 = #{DATE3},
      </if>
      <if test="DATE4 != null" >
        DATE4 = #{DATE4},
      </if>
      <if test="DATE5 != null" >
        DATE5 = #{DATE5},
      </if>
      <if test="DATE6 != null" >
        DATE6 = #{DATE6},
      </if>
      <if test="DATE7 != null" >
        DATE7 = #{DATE7},
      </if>
      <if test="DATE8 != null" >
        DATE8 = #{DATE8},
      </if>
      <if test="DATE9 != null" >
        DATE9 = #{DATE9},
      </if>
      <if test="DATE10 != null" >
        DATE10 = #{DATE10},
      </if>
      <if test="NUMBER1 != null" >
        <choose >
          <when test="NUMBER1 == emptyBigDecimalValue" >
            NUMBER1 = NULL ,
          </when>
          <otherwise >
            NUMBER1 = #{NUMBER1},
          </otherwise>
        </choose>
      </if>
      <if test="NUMBER2 != null" >
        <choose >
          <when test="NUMBER2 == emptyBigDecimalValue" >
            NUMBER2 = NULL ,
          </when>
          <otherwise >
            NUMBER2 = #{NUMBER2},
          </otherwise>
        </choose>
      </if>
      <if test="NUMBER3 != null" >
        <choose >
          <when test="NUMBER3 == emptyBigDecimalValue" >
            NUMBER3 = NULL ,
          </when>
          <otherwise >
            NUMBER3 = #{NUMBER3},
          </otherwise>
        </choose>
      </if>
      <if test="NUMBER4 != null" >
        <choose >
          <when test="NUMBER4 == emptyBigDecimalValue" >
            NUMBER4 = NULL ,
          </when>
          <otherwise >
            NUMBER4 = #{NUMBER4},
          </otherwise>
        </choose>
      </if>
      <if test="NUMBER5 != null" >
        <choose >
          <when test="NUMBER5 == emptyBigDecimalValue" >
            NUMBER5 = NULL ,
          </when>
          <otherwise >
            NUMBER5 = #{NUMBER5},
          </otherwise>
        </choose>
      </if>
      <if test="NUMBER6 != null" >
        <choose >
          <when test="NUMBER6 == emptyBigDecimalValue" >
            NUMBER6 = NULL ,
          </when>
          <otherwise >
            NUMBER6 = #{NUMBER6},
          </otherwise>
        </choose>
      </if>
      <if test="NUMBER7 != null" >
        <choose >
          <when test="NUMBER7 == emptyBigDecimalValue" >
            NUMBER7 = NULL ,
          </when>
          <otherwise >
            NUMBER7 = #{NUMBER7},
          </otherwise>
        </choose>
      </if>
      <if test="NUMBER8 != null" >
        <choose >
          <when test="NUMBER8 == emptyBigDecimalValue" >
            NUMBER8 = NULL ,
          </when>
          <otherwise >
            NUMBER8 = #{NUMBER8},
          </otherwise>
        </choose>
      </if>
      <if test="NUMBER9 != null" >
        <choose >
          <when test="NUMBER9 == emptyBigDecimalValue" >
            NUMBER9 = NULL ,
          </when>
          <otherwise >
            NUMBER9 = #{NUMBER9},
          </otherwise>
        </choose>
      </if>
      <if test="NUMBER10 != null" >
        <choose >
          <when test="NUMBER10 == emptyBigDecimalValue" >
            NUMBER10 = NULL ,
          </when>
          <otherwise >
            NUMBER10 = #{NUMBER10},
          </otherwise>
        </choose>
      </if>
      <if test="DATE_CLAIMED != null" >
        DATE_CLAIMED = #{DATE_CLAIMED},
      </if>
      <if test="DATE_REJECTED != null" >
        DATE_REJECTED = #{DATE_REJECTED},
      </if>
      <if test="DATE_STOPPED != null" >
        DATE_STOPPED = #{DATE_STOPPED},
      </if>
      <if test="EXPIRY_DATE != null" >
        EXPIRY_DATE = #{EXPIRY_DATE},
      </if>
      <if test="REFUND_CHQ_NO != null" >
        <choose >
          <when test="REFUND_CHQ_NO == emptyBigDecimalValue" >
            REFUND_CHQ_NO = NULL ,
          </when>
          <otherwise >
            REFUND_CHQ_NO = #{REFUND_CHQ_NO},
          </otherwise>
        </choose>
      </if>
      <if test="REFUND_DATE != null" >
        REFUND_DATE = #{REFUND_DATE},
      </if>
      <if test="REFUND_TRS_BR != null" >
        <choose >
          <when test="REFUND_TRS_BR == emptyBigDecimalValue" >
            REFUND_TRS_BR = NULL ,
          </when>
          <otherwise >
            REFUND_TRS_BR = #{REFUND_TRS_BR},
          </otherwise>
        </choose>
      </if>
      <if test="REFUND_TRS_NO != null" >
        <choose >
          <when test="REFUND_TRS_NO == emptyBigDecimalValue" >
            REFUND_TRS_NO = NULL ,
          </when>
          <otherwise >
            REFUND_TRS_NO = #{REFUND_TRS_NO},
          </otherwise>
        </choose>
      </if>
    </set>
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and TYPE_CODE = #{TYPE_CODE}
  </sql>
  <update id="updateCTS_INTEGRATION" parameterType="com.path.dbmaps.vo.CTS_INTEGRATIONVO" >
    <include refid="sql_updateCTS_INTEGRATION" />
  </update>
</mapper>