<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTS_EXCEPTIONS_TRACE" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTS_EXCEPTIONS_TRACEVO" >
    <result column="PROCESS_ID" property="PROCESS_ID" />
    <result column="PROCESS_NAME" property="PROCESS_NAME" />
    <result column="REQUEST_ID" property="REQUEST_ID" />
    <result column="USER_ID" property="USER_ID" />
    <result column="PROG_REF" property="PROG_REF" />
    <result column="EXCEPTION_DATE" property="EXCEPTION_DATE" />
    <result column="EXCEPTION_MESSAGE" property="EXCEPTION_MESSAGE" />
  </resultMap>
  <insert id="insertCTS_EXCEPTIONS_TRACE" parameterType="com.path.dbmaps.vo.CTS_EXCEPTIONS_TRACEVO" >
    insert into CTS_EXCEPTIONS_TRACE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="PROCESS_ID != null and PROCESS_ID != emptyBigDecimalValue" >
        PROCESS_ID,
      </if>
      <if test="PROCESS_NAME != null" >
        PROCESS_NAME,
      </if>
      <if test="REQUEST_ID != null and REQUEST_ID != emptyBigDecimalValue" >
        REQUEST_ID,
      </if>
      <if test="USER_ID != null" >
        USER_ID,
      </if>
      <if test="PROG_REF != null" >
        PROG_REF,
      </if>
      <if test="EXCEPTION_DATE != null" >
        EXCEPTION_DATE,
      </if>
      <if test="EXCEPTION_MESSAGE != null" >
        EXCEPTION_MESSAGE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="PROCESS_ID != null and PROCESS_ID != emptyBigDecimalValue" >
        #{PROCESS_ID},
      </if>
      <if test="PROCESS_NAME != null" >
        #{PROCESS_NAME},
      </if>
      <if test="REQUEST_ID != null and REQUEST_ID != emptyBigDecimalValue" >
        #{REQUEST_ID},
      </if>
      <if test="USER_ID != null" >
        #{USER_ID},
      </if>
      <if test="PROG_REF != null" >
        #{PROG_REF},
      </if>
      <if test="EXCEPTION_DATE != null" >
        #{EXCEPTION_DATE},
      </if>
      <if test="EXCEPTION_MESSAGE != null" >
        #{EXCEPTION_MESSAGE},
      </if>
    </trim>
  </insert>
</mapper>