<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTS_SERV_REG" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTS_SERV_REGVO" >
    <id column="CIF_NO" property="CIF_NO" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NO" property="LINE_NO" />
    <id column="REG_TYPE" property="REG_TYPE" />
    <result column="REFERENCE" property="REFERENCE" />
    <result column="ACC_BR" property="ACC_BR" />
    <result column="ACC_CY" property="ACC_CY" />
    <result column="ACC_GL" property="ACC_GL" />
    <result column="ACC_CIF" property="ACC_CIF" />
    <result column="ACC_SL" property="ACC_SL" />
    <result column="ADDITIONAL_REFERENCE" property="ADDITIONAL_REFERENCE" />
    <result column="EF_DATE" property="EF_DATE" />
    <result column="VALIDATION_LIMIT" property="VALIDATION_LIMIT" />
    <result column="MINIMUM_AMOUNT" property="MINIMUM_AMOUNT" />
    <result column="LIMIT_AMOUNT" property="LIMIT_AMOUNT" />
    <result column="FROM_DAY" property="FROM_DAY" />
    <result column="TO_DAY" property="TO_DAY" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="CREATED_DATE" property="CREATED_DATE" />
    <result column="APPROVED_BY" property="APPROVED_BY" />
    <result column="APPROVED_DATE" property="APPROVED_DATE" />
    <result column="SUSPENDED_BY" property="SUSPENDED_BY" />
    <result column="SUSPENDED_DATE" property="SUSPENDED_DATE" />
    <result column="CANCELLED_BY" property="CANCELLED_BY" />
    <result column="CANCELLED_DATE" property="CANCELLED_DATE" />
    <result column="STATUS" property="STATUS" />
    <result column="ATM_CHANNEL" property="ATM_CHANNEL" />
    <result column="CDM_CHANNEL" property="CDM_CHANNEL" />
    <result column="MB_CHANNEL" property="MB_CHANNEL" />
    <result column="BILL_PURPOSE" property="BILL_PURPOSE" />
    <result column="TRX_TYPE" property="TRX_TYPE" />
    <result column="END_DATE" property="END_DATE" />
    <result column="BILL_TYPE" property="BILL_TYPE" />
    <result column="CHARGE_SCHEMA_CODE" property="CHARGE_SCHEMA_CODE" />
    <result column="CHARGE_SCHEMA_OPER" property="CHARGE_SCHEMA_OPER" />
    <result column="CHECK_ID" property="CHECK_ID" />
    <result column="FORCE_PAY" property="FORCE_PAY" />
    <result column="ORGANIZATION_CODE" property="ORGANIZATION_CODE" />
    <result column="ORGANIZATION_NAME" property="ORGANIZATION_NAME" />
    <result column="SECURITY_CODE" property="SECURITY_CODE" />
    <result column="TYPE_CODE" property="TYPE_CODE" />
    <result column="VALIDATE_FIELDS" property="VALIDATE_FIELDS" />
    <result column="TO_REACTIVATE_BY" property="TO_REACTIVATE_BY" />
    <result column="TO_REACTIVATE_DATE" property="TO_REACTIVATE_DATE" />
    <result column="TO_SUSPEND_BY" property="TO_SUSPEND_BY" />
    <result column="TO_SUSPEND_DATE" property="TO_SUSPEND_DATE" />
    <result column="BRANCH_CHNL_YN" property="BRANCH_CHNL_YN" />
    <result column="INTERNET_BANKING_CHNL_YN" property="INTERNET_BANKING_CHNL_YN" />
    <result column="IVR_CHNL_YN" property="IVR_CHNL_YN" />
    <result column="NICKNAME" property="NICKNAME" />
    <result column="PAYMENT_OPTION" property="PAYMENT_OPTION" />
	<result column="SCHEDULED_DATE" property="SCHEDULED_DATE" />
	<result column="REPEAT_PERIODICITY" property="REPEAT_PERIODICITY" />
	<result column="REPEAT_EXPIRY_DATE" property="REPEAT_EXPIRY_DATE" />
	<result column="PAYMENT_ACCOUNT" property="PAYMENT_ACCOUNT" />
	<result column="DATE_UPDATED" property="DATE_UPDATED" />
	<result column="AMOUNT" property="AMOUNT" />
    <result column="EFT_REFERENCE" property="EFT_REFERENCE" />
    <result column="PURPOSE" property="PURPOSE" />
  </resultMap>
  <sql id="Base_Column_List" >
    CIF_NO, COMP_CODE, LINE_NO, REG_TYPE, REFERENCE, ACC_BR, ACC_CY, ACC_GL, ACC_CIF, 
    ACC_SL, ADDITIONAL_REFERENCE, EF_DATE, VALIDATION_LIMIT, MINIMUM_AMOUNT, LIMIT_AMOUNT, 
    FROM_DAY, TO_DAY, CREATED_BY, CREATED_DATE, APPROVED_BY, APPROVED_DATE, SUSPENDED_BY, 
    SUSPENDED_DATE, CANCELLED_BY, CANCELLED_DATE, STATUS, ATM_CHANNEL, CDM_CHANNEL, MB_CHANNEL, 
    BILL_PURPOSE, TRX_TYPE, END_DATE, BILL_TYPE, CHARGE_SCHEMA_CODE, CHARGE_SCHEMA_OPER, 
    CHECK_ID, FORCE_PAY, ORGANIZATION_CODE, ORGANIZATION_NAME, SECURITY_CODE, TYPE_CODE, 
    VALIDATE_FIELDS, TO_REACTIVATE_BY, TO_REACTIVATE_DATE, TO_SUSPEND_BY, TO_SUSPEND_DATE, 
    BRANCH_CHNL_YN, INTERNET_BANKING_CHNL_YN, IVR_CHNL_YN, NICKNAME, PAYMENT_OPTION, SCHEDULED_DATE,
    REPEAT_PERIODICITY, REPEAT_EXPIRY_DATE, PAYMENT_ACCOUNT, DATE_UPDATED, AMOUNT , EFT_REFERENCE,PURPOSE
  </sql>
  <select id="selectCTS_SERV_REG" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTS_SERV_REGVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTS_SERV_REG
    where CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and REG_TYPE = #{REG_TYPE}
  </select>
  <delete id="deleteCTS_SERV_REG" parameterType="com.path.dbmaps.vo.CTS_SERV_REGVOKey" >
    delete from CTS_SERV_REG
    where CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and REG_TYPE = #{REG_TYPE}
	<if test="DATE_UPDATED != null">
		AND DATE_UPDATED = #{DATE_UPDATED}
	</if>
  </delete>
  <insert id="insertCTS_SERV_REG" parameterType="com.path.dbmaps.vo.CTS_SERV_REGVO" >
    insert into CTS_SERV_REG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        CIF_NO,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="REG_TYPE != null" >
        REG_TYPE,
      </if>
      <if test="REFERENCE != null" >
        REFERENCE,
      </if>
      <if test="ACC_BR != null and ACC_BR != emptyBigDecimalValue" >
        ACC_BR,
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        ACC_CY,
      </if>
      <if test="ACC_GL != null and ACC_GL != emptyBigDecimalValue" >
        ACC_GL,
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        ACC_CIF,
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        ACC_SL,
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        ADDITIONAL_REFERENCE,
      </if>
      <if test="EF_DATE != null" >
        EF_DATE,
      </if>
      <if test="VALIDATION_LIMIT != null" >
        VALIDATION_LIMIT,
      </if>
      <if test="MINIMUM_AMOUNT != null and MINIMUM_AMOUNT != emptyBigDecimalValue" >
        MINIMUM_AMOUNT,
      </if>
      <if test="LIMIT_AMOUNT != null and LIMIT_AMOUNT != emptyBigDecimalValue" >
        LIMIT_AMOUNT,
      </if>
      <if test="FROM_DAY != null and FROM_DAY != emptyBigDecimalValue" >
        FROM_DAY,
      </if>
      <if test="TO_DAY != null and TO_DAY != emptyBigDecimalValue" >
        TO_DAY,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE,
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY,
      </if>
      <if test="APPROVED_DATE != null" >
        APPROVED_DATE,
      </if>
      <if test="SUSPENDED_BY != null" >
        SUSPENDED_BY,
      </if>
      <if test="SUSPENDED_DATE != null" >
        SUSPENDED_DATE,
      </if>
      <if test="CANCELLED_BY != null" >
        CANCELLED_BY,
      </if>
      <if test="CANCELLED_DATE != null" >
        CANCELLED_DATE,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="ATM_CHANNEL != null" >
        ATM_CHANNEL,
      </if>
      <if test="CDM_CHANNEL != null" >
        CDM_CHANNEL,
      </if>
      <if test="MB_CHANNEL != null" >
        MB_CHANNEL,
      </if>
      <if test="BILL_PURPOSE != null and BILL_PURPOSE != emptyBigDecimalValue" >
        BILL_PURPOSE,
      </if>
      <if test="TRX_TYPE != null and TRX_TYPE != emptyBigDecimalValue" >
        TRX_TYPE,
      </if>
      <if test="END_DATE != null" >
        END_DATE,
      </if>
      <if test="BILL_TYPE != null and BILL_TYPE != emptyBigDecimalValue" >
        BILL_TYPE,
      </if>
      <if test="CHARGE_SCHEMA_CODE != null and CHARGE_SCHEMA_CODE != emptyBigDecimalValue" >
        CHARGE_SCHEMA_CODE,
      </if>
      <if test="CHARGE_SCHEMA_OPER != null and CHARGE_SCHEMA_OPER != emptyBigDecimalValue" >
        CHARGE_SCHEMA_OPER,
      </if>
      <if test="CHECK_ID != null" >
        CHECK_ID,
      </if>
      <if test="FORCE_PAY != null" >
        FORCE_PAY,
      </if>
      <if test="ORGANIZATION_CODE != null" >
        ORGANIZATION_CODE,
      </if>
      <if test="ORGANIZATION_NAME != null" >
        ORGANIZATION_NAME,
      </if>
      <if test="SECURITY_CODE != null" >
        SECURITY_CODE,
      </if>
      <if test="TYPE_CODE != null and TYPE_CODE != emptyBigDecimalValue" >
        TYPE_CODE,
      </if>
      <if test="VALIDATE_FIELDS != null" >
        VALIDATE_FIELDS,
      </if>
      <if test="TO_REACTIVATE_BY != null" >
        TO_REACTIVATE_BY,
      </if>
      <if test="TO_REACTIVATE_DATE != null" >
        TO_REACTIVATE_DATE,
      </if>
      <if test="TO_SUSPEND_BY != null" >
        TO_SUSPEND_BY,
      </if>
      <if test="TO_SUSPEND_DATE != null" >
        TO_SUSPEND_DATE,
      </if>
      <if test="BRANCH_CHNL_YN != null" >
        BRANCH_CHNL_YN,
      </if>
      <if test="INTERNET_BANKING_CHNL_YN != null" >
        INTERNET_BANKING_CHNL_YN,
      </if>
      <if test="IVR_CHNL_YN != null" >
        IVR_CHNL_YN,
      </if>
      <if test="NICKNAME != null" >
        NICKNAME,
      </if>
      	<if test="PAYMENT_OPTION != null" >
			PAYMENT_OPTION,
		</if>
		<if test="SCHEDULED_DATE != null" >
			SCHEDULED_DATE,
		</if>
		<if test="REPEAT_PERIODICITY != null" >
			REPEAT_PERIODICITY,
		</if>
		<if test="REPEAT_EXPIRY_DATE != null" >
			REPEAT_EXPIRY_DATE,
		</if>
		<if test="PAYMENT_ACCOUNT != null" >
			PAYMENT_ACCOUNT,
		</if>
		DATE_UPDATED,
		<if test="AMOUNT != null and AMOUNT != emptyBigDecimalValue" >
        AMOUNT,
        </if>
       <if test="EFT_REFERENCE != null" >
        EFT_REFERENCE,
      </if>
       <if test="PURPOSE != null" >
        PURPOSE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        #{CIF_NO},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="REG_TYPE != null" >
        #{REG_TYPE},
      </if>
      <if test="REFERENCE != null" >
        #{REFERENCE},
      </if>
      <if test="ACC_BR != null and ACC_BR != emptyBigDecimalValue" >
        #{ACC_BR},
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        #{ACC_CY},
      </if>
      <if test="ACC_GL != null and ACC_GL != emptyBigDecimalValue" >
        #{ACC_GL},
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        #{ACC_CIF},
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        #{ACC_SL},
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        #{ADDITIONAL_REFERENCE},
      </if>
      <if test="EF_DATE != null" >
        #{EF_DATE},
      </if>
      <if test="VALIDATION_LIMIT != null" >
        #{VALIDATION_LIMIT},
      </if>
      <if test="MINIMUM_AMOUNT != null and MINIMUM_AMOUNT != emptyBigDecimalValue" >
        #{MINIMUM_AMOUNT},
      </if>
      <if test="LIMIT_AMOUNT != null and LIMIT_AMOUNT != emptyBigDecimalValue" >
        #{LIMIT_AMOUNT},
      </if>
      <if test="FROM_DAY != null and FROM_DAY != emptyBigDecimalValue" >
        #{FROM_DAY},
      </if>
      <if test="TO_DAY != null and TO_DAY != emptyBigDecimalValue" >
        #{TO_DAY},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="CREATED_DATE != null" >
        #{CREATED_DATE},
      </if>
      <if test="APPROVED_BY != null" >
        #{APPROVED_BY},
      </if>
      <if test="APPROVED_DATE != null" >
        #{APPROVED_DATE},
      </if>
      <if test="SUSPENDED_BY != null" >
        #{SUSPENDED_BY},
      </if>
      <if test="SUSPENDED_DATE != null" >
        #{SUSPENDED_DATE},
      </if>
      <if test="CANCELLED_BY != null" >
        #{CANCELLED_BY},
      </if>
      <if test="CANCELLED_DATE != null" >
        #{CANCELLED_DATE},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="ATM_CHANNEL != null" >
        #{ATM_CHANNEL},
      </if>
      <if test="CDM_CHANNEL != null" >
        #{CDM_CHANNEL},
      </if>
      <if test="MB_CHANNEL != null" >
        #{MB_CHANNEL},
      </if>
      <if test="BILL_PURPOSE != null and BILL_PURPOSE != emptyBigDecimalValue" >
        #{BILL_PURPOSE},
      </if>
      <if test="TRX_TYPE != null and TRX_TYPE != emptyBigDecimalValue" >
        #{TRX_TYPE},
      </if>
      <if test="END_DATE != null" >
        #{END_DATE},
      </if>
      <if test="BILL_TYPE != null and BILL_TYPE != emptyBigDecimalValue" >
        #{BILL_TYPE},
      </if>
      <if test="CHARGE_SCHEMA_CODE != null and CHARGE_SCHEMA_CODE != emptyBigDecimalValue" >
        #{CHARGE_SCHEMA_CODE},
      </if>
      <if test="CHARGE_SCHEMA_OPER != null and CHARGE_SCHEMA_OPER != emptyBigDecimalValue" >
        #{CHARGE_SCHEMA_OPER},
      </if>
      <if test="CHECK_ID != null" >
        #{CHECK_ID},
      </if>
      <if test="FORCE_PAY != null" >
        #{FORCE_PAY},
      </if>
      <if test="ORGANIZATION_CODE != null" >
        #{ORGANIZATION_CODE},
      </if>
      <if test="ORGANIZATION_NAME != null" >
        #{ORGANIZATION_NAME},
      </if>
      <if test="SECURITY_CODE != null" >
        #{SECURITY_CODE},
      </if>
      <if test="TYPE_CODE != null and TYPE_CODE != emptyBigDecimalValue" >
        #{TYPE_CODE},
      </if>
      <if test="VALIDATE_FIELDS != null" >
        #{VALIDATE_FIELDS},
      </if>
      <if test="TO_REACTIVATE_BY != null" >
        #{TO_REACTIVATE_BY},
      </if>
      <if test="TO_REACTIVATE_DATE != null" >
        #{TO_REACTIVATE_DATE},
      </if>
      <if test="TO_SUSPEND_BY != null" >
        #{TO_SUSPEND_BY},
      </if>
      <if test="TO_SUSPEND_DATE != null" >
        #{TO_SUSPEND_DATE},
      </if>
      <if test="BRANCH_CHNL_YN != null" >
        #{BRANCH_CHNL_YN},
      </if>
      <if test="INTERNET_BANKING_CHNL_YN != null" >
        #{INTERNET_BANKING_CHNL_YN},
      </if>
      <if test="IVR_CHNL_YN != null" >
        #{IVR_CHNL_YN},
      </if>
      <if test="NICKNAME != null" >
        #{NICKNAME},
      </if>
      	<if test="PAYMENT_OPTION != null" >
			#{PAYMENT_OPTION},
		</if>
		<if test="SCHEDULED_DATE != null" >
			#{SCHEDULED_DATE},
		</if>
		<if test="REPEAT_PERIODICITY != null" >
			#{REPEAT_PERIODICITY},
		</if>
		<if test="REPEAT_EXPIRY_DATE != null" >
			#{REPEAT_EXPIRY_DATE},
		</if>
		<if test="PAYMENT_ACCOUNT != null" >
			#{PAYMENT_ACCOUNT},
		</if>
		<choose>
			<when test="isSybase == 1">
				GETDATE(),
			</when>
			<otherwise>
				SYSDATE,
			</otherwise>
		</choose>
		<if test="AMOUNT != null  and AMOUNT != emptyBigDecimalValue"  >
			#{AMOUNT},
		</if>
      <if test="EFT_REFERENCE != null" >
        #{EFT_REFERENCE},
      </if>
      <if test="PURPOSE != null" >
        #{PURPOSE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTS_SERV_REG" >
    update CTS_SERV_REG
    <set >
      <if test="REFERENCE != null" >
        REFERENCE = #{REFERENCE},
      </if>
      <if test="ACC_BR != null" >
        <choose >
          <when test="ACC_BR == emptyBigDecimalValue" >
            ACC_BR = NULL ,
          </when>
          <otherwise >
            ACC_BR = #{ACC_BR},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CY != null" >
        <choose >
          <when test="ACC_CY == emptyBigDecimalValue" >
            ACC_CY = NULL ,
          </when>
          <otherwise >
            ACC_CY = #{ACC_CY},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_GL != null" >
        <choose >
          <when test="ACC_GL == emptyBigDecimalValue" >
            ACC_GL = NULL ,
          </when>
          <otherwise >
            ACC_GL = #{ACC_GL},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CIF != null" >
        <choose >
          <when test="ACC_CIF == emptyBigDecimalValue" >
            ACC_CIF = NULL ,
          </when>
          <otherwise >
            ACC_CIF = #{ACC_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_SL != null" >
        <choose >
          <when test="ACC_SL == emptyBigDecimalValue" >
            ACC_SL = NULL ,
          </when>
          <otherwise >
            ACC_SL = #{ACC_SL},
          </otherwise>
        </choose>
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        ADDITIONAL_REFERENCE = #{ADDITIONAL_REFERENCE},
      </if>
      <if test="EF_DATE != null" >
        EF_DATE = #{EF_DATE},
      </if>
      <if test="VALIDATION_LIMIT != null" >
        VALIDATION_LIMIT = #{VALIDATION_LIMIT},
      </if>
      <if test="MINIMUM_AMOUNT != null" >
        <choose >
          <when test="MINIMUM_AMOUNT == emptyBigDecimalValue" >
            MINIMUM_AMOUNT = NULL ,
          </when>
          <otherwise >
            MINIMUM_AMOUNT = #{MINIMUM_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="LIMIT_AMOUNT != null" >
        <choose >
          <when test="LIMIT_AMOUNT == emptyBigDecimalValue" >
            LIMIT_AMOUNT = NULL ,
          </when>
          <otherwise >
            LIMIT_AMOUNT = #{LIMIT_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="FROM_DAY != null" >
        <choose >
          <when test="FROM_DAY == emptyBigDecimalValue" >
            FROM_DAY = NULL ,
          </when>
          <otherwise >
            FROM_DAY = #{FROM_DAY},
          </otherwise>
        </choose>
      </if>
      <if test="TO_DAY != null" >
        <choose >
          <when test="TO_DAY == emptyBigDecimalValue" >
            TO_DAY = NULL ,
          </when>
          <otherwise >
            TO_DAY = #{TO_DAY},
          </otherwise>
        </choose>
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE = #{CREATED_DATE},
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY = #{APPROVED_BY},
      </if>
      <if test="APPROVED_DATE != null" >
        APPROVED_DATE = #{APPROVED_DATE},
      </if>
      <if test="SUSPENDED_BY != null" >
        SUSPENDED_BY = #{SUSPENDED_BY},
      </if>
      <if test="SUSPENDED_DATE != null" >
        SUSPENDED_DATE = #{SUSPENDED_DATE},
      </if>
      <if test="CANCELLED_BY != null" >
        CANCELLED_BY = #{CANCELLED_BY},
      </if>
      <if test="CANCELLED_DATE != null" >
        CANCELLED_DATE = #{CANCELLED_DATE},
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="ATM_CHANNEL != null" >
        ATM_CHANNEL = #{ATM_CHANNEL},
      </if>
      <if test="CDM_CHANNEL != null" >
        CDM_CHANNEL = #{CDM_CHANNEL},
      </if>
      <if test="MB_CHANNEL != null" >
        MB_CHANNEL = #{MB_CHANNEL},
      </if>
      <if test="BILL_PURPOSE != null" >
        <choose >
          <when test="BILL_PURPOSE == emptyBigDecimalValue" >
            BILL_PURPOSE = NULL ,
          </when>
          <otherwise >
            BILL_PURPOSE = #{BILL_PURPOSE},
          </otherwise>
        </choose>
      </if>
      <if test="TRX_TYPE != null" >
        <choose >
          <when test="TRX_TYPE == emptyBigDecimalValue" >
            TRX_TYPE = NULL ,
          </when>
          <otherwise >
            TRX_TYPE = #{TRX_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="END_DATE != null" >
        END_DATE = #{END_DATE},
      </if>
      <if test="BILL_TYPE != null" >
        <choose >
          <when test="BILL_TYPE == emptyBigDecimalValue" >
            BILL_TYPE = NULL ,
          </when>
          <otherwise >
            BILL_TYPE = #{BILL_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="CHARGE_SCHEMA_CODE != null" >
        <choose >
          <when test="CHARGE_SCHEMA_CODE == emptyBigDecimalValue" >
            CHARGE_SCHEMA_CODE = NULL ,
          </when>
          <otherwise >
            CHARGE_SCHEMA_CODE = #{CHARGE_SCHEMA_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="CHARGE_SCHEMA_OPER != null" >
        <choose >
          <when test="CHARGE_SCHEMA_OPER == emptyBigDecimalValue" >
            CHARGE_SCHEMA_OPER = NULL ,
          </when>
          <otherwise >
            CHARGE_SCHEMA_OPER = #{CHARGE_SCHEMA_OPER},
          </otherwise>
        </choose>
      </if>
      <if test="CHECK_ID != null" >
        CHECK_ID = #{CHECK_ID},
      </if>
      <if test="FORCE_PAY != null" >
        FORCE_PAY = #{FORCE_PAY},
      </if>
      <if test="ORGANIZATION_CODE != null" >
        ORGANIZATION_CODE = #{ORGANIZATION_CODE},
      </if>
      <if test="ORGANIZATION_NAME != null" >
        ORGANIZATION_NAME = #{ORGANIZATION_NAME},
      </if>
      <if test="SECURITY_CODE != null" >
        SECURITY_CODE = #{SECURITY_CODE},
      </if>
      <if test="TYPE_CODE != null" >
        <choose >
          <when test="TYPE_CODE == emptyBigDecimalValue" >
            TYPE_CODE = NULL ,
          </when>
          <otherwise >
            TYPE_CODE = #{TYPE_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="VALIDATE_FIELDS != null" >
        VALIDATE_FIELDS = #{VALIDATE_FIELDS},
      </if>
      <if test="TO_REACTIVATE_BY != null" >
        TO_REACTIVATE_BY = #{TO_REACTIVATE_BY},
      </if>
      <if test="TO_REACTIVATE_DATE != null" >
        TO_REACTIVATE_DATE = #{TO_REACTIVATE_DATE},
      </if>
      <if test="TO_SUSPEND_BY != null" >
        TO_SUSPEND_BY = #{TO_SUSPEND_BY},
      </if>
      <if test="TO_SUSPEND_DATE != null" >
        TO_SUSPEND_DATE = #{TO_SUSPEND_DATE},
      </if>
      <if test="BRANCH_CHNL_YN != null" >
        BRANCH_CHNL_YN = #{BRANCH_CHNL_YN},
      </if>
      <if test="INTERNET_BANKING_CHNL_YN != null" >
        INTERNET_BANKING_CHNL_YN = #{INTERNET_BANKING_CHNL_YN},
      </if>
      <if test="IVR_CHNL_YN != null" >
        IVR_CHNL_YN = #{IVR_CHNL_YN},
      </if>
      <if test="NICKNAME != null" >
        NICKNAME = #{NICKNAME},
      </if>
            	<if test="PAYMENT_OPTION != null" >
			PAYMENT_OPTION = #{PAYMENT_OPTION},
		</if>
		<if test="SCHEDULED_DATE != null" >
			SCHEDULED_DATE = #{SCHEDULED_DATE},
		</if>
		<if test="REPEAT_PERIODICITY != null" >
			REPEAT_PERIODICITY = #{REPEAT_PERIODICITY},
		</if>
		<if test="REPEAT_EXPIRY_DATE != null" >
			REPEAT_EXPIRY_DATE = #{REPEAT_EXPIRY_DATE},
		</if>
		<if test="PAYMENT_ACCOUNT != null" >
			PAYMENT_ACCOUNT = #{PAYMENT_ACCOUNT},
		</if>
		<if test="EFT_REFERENCE != null" >
        	EFT_REFERENCE = #{EFT_REFERENCE},
      	</if>
      	<if test="PURPOSE != null" >
        	PURPOSE = #{PURPOSE},
      	</if>
		DATE_UPDATED = 
		<choose >
		  <when test="isSybase == 1" >
		     GETDATE(),
		  </when>
		  <otherwise >
		     SYSDATE,
		  </otherwise>
		</choose>
		<if test="AMOUNT != null"  >
		 <choose >
          <when test="AMOUNT == emptyBigDecimalValue" >
            AMOUNT = NULL ,
          </when>
          <otherwise >
            AMOUNT = #{AMOUNT},
          </otherwise>
        </choose>
		</if>
    </set>
    where CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and REG_TYPE = #{REG_TYPE}
  </sql>
  <update id="updateCTS_SERV_REG" parameterType="com.path.dbmaps.vo.CTS_SERV_REGVO" >
    <include refid="sql_updateCTS_SERV_REG" />
    <if test="DATE_UPDATED != null" >
      AND DATE_UPDATED = #{DATE_UPDATED}
    </if>
  </update>
</mapper>