<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTS_AMEND_PRODUCTS" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTS_AMEND_PRODUCTSVO" >
    <id column="BATCH_NO" property="BATCH_NO" />
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NO" property="LINE_NO" />
    <id column="PRODUCT_TYPE" property="PRODUCT_TYPE" />
    <result column="BR_CODE" property="BR_CODE" />
    <result column="CY_CODE" property="CY_CODE" />
    <result column="GL_CODE" property="GL_CODE" />
    <result column="CIF_SUB_NO" property="CIF_SUB_NO" />
    <result column="SL_NO" property="SL_NO" />
    <result column="ADDITIONAL_REFERENCE" property="ADDITIONAL_REFERENCE" />
    <result column="CHEQUEBOOK_CODE" property="CHEQUEBOOK_CODE" />
    <result column="CHEQUE_NO" property="CHEQUE_NO" />
    <result column="STATUS" property="STATUS" />
    <result column="TRX_NO" property="TRX_NO" />
    <result column="TRX_BRANCH_CODE" property="TRX_BRANCH_CODE" />
    <result column="TRX_STATUS" property="TRX_STATUS" />
    <result column="RECORD_STATUS" property="RECORD_STATUS" />
    <result column="NEW_CHEQUE_NO" property="NEW_CHEQUE_NO" />
    <result column="NEW_CHEQUEBOOK_CODE" property="NEW_CHEQUEBOOK_CODE" />
    <result column="NEW_CHEQUE_BRANCH" property="NEW_CHEQUE_BRANCH" />
    <result column="FROM_NUMBER" property="FROM_NUMBER" />
    <result column="NUMBER_TO" property="NUMBER_TO" />
    <result column="NEW_CHEQUEBOOK_STATUS" property="NEW_CHEQUEBOOK_STATUS" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="DATE_CREATED" property="DATE_CREATED" />
    <result column="DATE_APPROVED" property="DATE_APPROVED" />
    <result column="APPROVED_BY" property="APPROVED_BY" />
    <result column="REJECTED_BY" property="REJECTED_BY" />
    <result column="DATE_REJECTED" property="DATE_REJECTED" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="DATE_MODIFIED" property="DATE_MODIFIED" />
    <result column="CARD_TYPE" property="CARD_TYPE" />
    <result column="CARD_NO" property="CARD_NO" />
    <result column="APPLICATION_ID" property="APPLICATION_ID" />
    <result column="CARD_BATCH_NO" property="CARD_BATCH_NO" />
    <result column="EFFECTIVE_DATE" property="EFFECTIVE_DATE" />
    <result column="EXPIRY_DATE" property="EXPIRY_DATE" />
    <result column="DATE_RECEIVED_BY_BRANCH" property="DATE_RECEIVED_BY_BRANCH" />
    <result column="NEW_CARD_STATUS" property="NEW_CARD_STATUS" />
    <result column="CARD_BRANCH_CODE" property="CARD_BRANCH_CODE" />
    <result column="DELETED_BY" property="DELETED_BY" />
    <result column="DATE_DELETED" property="DATE_DELETED" />
  </resultMap>
  <sql id="Base_Column_List" >
    BATCH_NO, BRANCH_CODE, COMP_CODE, LINE_NO, PRODUCT_TYPE, BR_CODE, CY_CODE, GL_CODE, 
    CIF_SUB_NO, SL_NO, ADDITIONAL_REFERENCE, CHEQUEBOOK_CODE, CHEQUE_NO, STATUS, TRX_NO, 
    TRX_BRANCH_CODE, TRX_STATUS, RECORD_STATUS, NEW_CHEQUE_NO, NEW_CHEQUEBOOK_CODE, NEW_CHEQUE_BRANCH, 
    FROM_NUMBER, NUMBER_TO, NEW_CHEQUEBOOK_STATUS, CREATED_BY, DATE_CREATED, DATE_APPROVED, 
    APPROVED_BY, REJECTED_BY, DATE_REJECTED, MODIFIED_BY, DATE_MODIFIED, CARD_TYPE, CARD_NO, 
    APPLICATION_ID, CARD_BATCH_NO, EFFECTIVE_DATE, EXPIRY_DATE, DATE_RECEIVED_BY_BRANCH, 
    NEW_CARD_STATUS, CARD_BRANCH_CODE, DELETED_BY, DATE_DELETED
  </sql>
  <select id="selectCTS_AMEND_PRODUCTS" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTS_AMEND_PRODUCTSVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTS_AMEND_PRODUCTS
    where BATCH_NO = #{BATCH_NO}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and PRODUCT_TYPE = #{PRODUCT_TYPE}
  </select>
  <delete id="deleteCTS_AMEND_PRODUCTS" parameterType="com.path.dbmaps.vo.CTS_AMEND_PRODUCTSVOKey" >
    delete from CTS_AMEND_PRODUCTS
    where BATCH_NO = #{BATCH_NO}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and PRODUCT_TYPE = #{PRODUCT_TYPE}
  </delete>
  <insert id="insertCTS_AMEND_PRODUCTS" parameterType="com.path.dbmaps.vo.CTS_AMEND_PRODUCTSVO" >
    insert into CTS_AMEND_PRODUCTS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BATCH_NO != null and BATCH_NO != emptyBigDecimalValue" >
        BATCH_NO,
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="PRODUCT_TYPE != null" >
        PRODUCT_TYPE,
      </if>
      <if test="BR_CODE != null and BR_CODE != emptyBigDecimalValue" >
        BR_CODE,
      </if>
      <if test="CY_CODE != null and CY_CODE != emptyBigDecimalValue" >
        CY_CODE,
      </if>
      <if test="GL_CODE != null and GL_CODE != emptyBigDecimalValue" >
        GL_CODE,
      </if>
      <if test="CIF_SUB_NO != null and CIF_SUB_NO != emptyBigDecimalValue" >
        CIF_SUB_NO,
      </if>
      <if test="SL_NO != null and SL_NO != emptyBigDecimalValue" >
        SL_NO,
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        ADDITIONAL_REFERENCE,
      </if>
      <if test="CHEQUEBOOK_CODE != null and CHEQUEBOOK_CODE != emptyBigDecimalValue" >
        CHEQUEBOOK_CODE,
      </if>
      <if test="CHEQUE_NO != null and CHEQUE_NO != emptyBigDecimalValue" >
        CHEQUE_NO,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="TRX_NO != null and TRX_NO != emptyBigDecimalValue" >
        TRX_NO,
      </if>
      <if test="TRX_BRANCH_CODE != null and TRX_BRANCH_CODE != emptyBigDecimalValue" >
        TRX_BRANCH_CODE,
      </if>
      <if test="TRX_STATUS != null" >
        TRX_STATUS,
      </if>
      <if test="RECORD_STATUS != null" >
        RECORD_STATUS,
      </if>
      <if test="NEW_CHEQUE_NO != null and NEW_CHEQUE_NO != emptyBigDecimalValue" >
        NEW_CHEQUE_NO,
      </if>
      <if test="NEW_CHEQUEBOOK_CODE != null and NEW_CHEQUEBOOK_CODE != emptyBigDecimalValue" >
        NEW_CHEQUEBOOK_CODE,
      </if>
      <if test="NEW_CHEQUE_BRANCH != null and NEW_CHEQUE_BRANCH != emptyBigDecimalValue" >
        NEW_CHEQUE_BRANCH,
      </if>
      <if test="FROM_NUMBER != null and FROM_NUMBER != emptyBigDecimalValue" >
        FROM_NUMBER,
      </if>
      <if test="NUMBER_TO != null and NUMBER_TO != emptyBigDecimalValue" >
        NUMBER_TO,
      </if>
      <if test="NEW_CHEQUEBOOK_STATUS != null" >
        NEW_CHEQUEBOOK_STATUS,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED,
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED,
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY,
      </if>
      <if test="REJECTED_BY != null" >
        REJECTED_BY,
      </if>
      <if test="DATE_REJECTED != null" >
        DATE_REJECTED,
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY,
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED,
      </if>
      <if test="CARD_TYPE != null and CARD_TYPE != emptyBigDecimalValue" >
        CARD_TYPE,
      </if>
      <if test="CARD_NO != null" >
        CARD_NO,
      </if>
      <if test="APPLICATION_ID != null and APPLICATION_ID != emptyBigDecimalValue" >
        APPLICATION_ID,
      </if>
      <if test="CARD_BATCH_NO != null" >
        CARD_BATCH_NO,
      </if>
      <if test="EFFECTIVE_DATE != null" >
        EFFECTIVE_DATE,
      </if>
      <if test="EXPIRY_DATE != null" >
        EXPIRY_DATE,
      </if>
      <if test="DATE_RECEIVED_BY_BRANCH != null" >
        DATE_RECEIVED_BY_BRANCH,
      </if>
      <if test="NEW_CARD_STATUS != null" >
        NEW_CARD_STATUS,
      </if>
      <if test="CARD_BRANCH_CODE != null and CARD_BRANCH_CODE != emptyBigDecimalValue" >
        CARD_BRANCH_CODE,
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY,
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BATCH_NO != null and BATCH_NO != emptyBigDecimalValue" >
        #{BATCH_NO},
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="PRODUCT_TYPE != null" >
        #{PRODUCT_TYPE},
      </if>
      <if test="BR_CODE != null and BR_CODE != emptyBigDecimalValue" >
        #{BR_CODE},
      </if>
      <if test="CY_CODE != null and CY_CODE != emptyBigDecimalValue" >
        #{CY_CODE},
      </if>
      <if test="GL_CODE != null and GL_CODE != emptyBigDecimalValue" >
        #{GL_CODE},
      </if>
      <if test="CIF_SUB_NO != null and CIF_SUB_NO != emptyBigDecimalValue" >
        #{CIF_SUB_NO},
      </if>
      <if test="SL_NO != null and SL_NO != emptyBigDecimalValue" >
        #{SL_NO},
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        #{ADDITIONAL_REFERENCE},
      </if>
      <if test="CHEQUEBOOK_CODE != null and CHEQUEBOOK_CODE != emptyBigDecimalValue" >
        #{CHEQUEBOOK_CODE},
      </if>
      <if test="CHEQUE_NO != null and CHEQUE_NO != emptyBigDecimalValue" >
        #{CHEQUE_NO},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="TRX_NO != null and TRX_NO != emptyBigDecimalValue" >
        #{TRX_NO},
      </if>
      <if test="TRX_BRANCH_CODE != null and TRX_BRANCH_CODE != emptyBigDecimalValue" >
        #{TRX_BRANCH_CODE},
      </if>
      <if test="TRX_STATUS != null" >
        #{TRX_STATUS},
      </if>
      <if test="RECORD_STATUS != null" >
        #{RECORD_STATUS},
      </if>
      <if test="NEW_CHEQUE_NO != null and NEW_CHEQUE_NO != emptyBigDecimalValue" >
        #{NEW_CHEQUE_NO},
      </if>
      <if test="NEW_CHEQUEBOOK_CODE != null and NEW_CHEQUEBOOK_CODE != emptyBigDecimalValue" >
        #{NEW_CHEQUEBOOK_CODE},
      </if>
      <if test="NEW_CHEQUE_BRANCH != null and NEW_CHEQUE_BRANCH != emptyBigDecimalValue" >
        #{NEW_CHEQUE_BRANCH},
      </if>
      <if test="FROM_NUMBER != null and FROM_NUMBER != emptyBigDecimalValue" >
        #{FROM_NUMBER},
      </if>
      <if test="NUMBER_TO != null and NUMBER_TO != emptyBigDecimalValue" >
        #{NUMBER_TO},
      </if>
      <if test="NEW_CHEQUEBOOK_STATUS != null" >
        #{NEW_CHEQUEBOOK_STATUS},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="DATE_CREATED != null" >
        #{DATE_CREATED},
      </if>
      <if test="DATE_APPROVED != null" >
        #{DATE_APPROVED},
      </if>
      <if test="APPROVED_BY != null" >
        #{APPROVED_BY},
      </if>
      <if test="REJECTED_BY != null" >
        #{REJECTED_BY},
      </if>
      <if test="DATE_REJECTED != null" >
        #{DATE_REJECTED},
      </if>
      <if test="MODIFIED_BY != null" >
        #{MODIFIED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        #{DATE_MODIFIED},
      </if>
      <if test="CARD_TYPE != null and CARD_TYPE != emptyBigDecimalValue" >
        #{CARD_TYPE},
      </if>
      <if test="CARD_NO != null" >
        #{CARD_NO},
      </if>
      <if test="APPLICATION_ID != null and APPLICATION_ID != emptyBigDecimalValue" >
        #{APPLICATION_ID},
      </if>
      <if test="CARD_BATCH_NO != null" >
        #{CARD_BATCH_NO},
      </if>
      <if test="EFFECTIVE_DATE != null" >
        #{EFFECTIVE_DATE},
      </if>
      <if test="EXPIRY_DATE != null" >
        #{EXPIRY_DATE},
      </if>
      <if test="DATE_RECEIVED_BY_BRANCH != null" >
        #{DATE_RECEIVED_BY_BRANCH},
      </if>
      <if test="NEW_CARD_STATUS != null" >
        #{NEW_CARD_STATUS},
      </if>
      <if test="CARD_BRANCH_CODE != null and CARD_BRANCH_CODE != emptyBigDecimalValue" >
        #{CARD_BRANCH_CODE},
      </if>
      <if test="DELETED_BY != null" >
        #{DELETED_BY},
      </if>
      <if test="DATE_DELETED != null" >
        #{DATE_DELETED},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTS_AMEND_PRODUCTS" >
    update CTS_AMEND_PRODUCTS
    <set >
      <if test="BR_CODE != null" >
        <choose >
          <when test="BR_CODE == emptyBigDecimalValue" >
            BR_CODE = NULL ,
          </when>
          <otherwise >
            BR_CODE = #{BR_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="CY_CODE != null" >
        <choose >
          <when test="CY_CODE == emptyBigDecimalValue" >
            CY_CODE = NULL ,
          </when>
          <otherwise >
            CY_CODE = #{CY_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="GL_CODE != null" >
        <choose >
          <when test="GL_CODE == emptyBigDecimalValue" >
            GL_CODE = NULL ,
          </when>
          <otherwise >
            GL_CODE = #{GL_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="CIF_SUB_NO != null" >
        <choose >
          <when test="CIF_SUB_NO == emptyBigDecimalValue" >
            CIF_SUB_NO = NULL ,
          </when>
          <otherwise >
            CIF_SUB_NO = #{CIF_SUB_NO},
          </otherwise>
        </choose>
      </if>
      <if test="SL_NO != null" >
        <choose >
          <when test="SL_NO == emptyBigDecimalValue" >
            SL_NO = NULL ,
          </when>
          <otherwise >
            SL_NO = #{SL_NO},
          </otherwise>
        </choose>
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        ADDITIONAL_REFERENCE = #{ADDITIONAL_REFERENCE},
      </if>
      <if test="CHEQUEBOOK_CODE != null" >
        <choose >
          <when test="CHEQUEBOOK_CODE == emptyBigDecimalValue" >
            CHEQUEBOOK_CODE = NULL ,
          </when>
          <otherwise >
            CHEQUEBOOK_CODE = #{CHEQUEBOOK_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="CHEQUE_NO != null" >
        <choose >
          <when test="CHEQUE_NO == emptyBigDecimalValue" >
            CHEQUE_NO = NULL ,
          </when>
          <otherwise >
            CHEQUE_NO = #{CHEQUE_NO},
          </otherwise>
        </choose>
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="TRX_NO != null" >
        <choose >
          <when test="TRX_NO == emptyBigDecimalValue" >
            TRX_NO = NULL ,
          </when>
          <otherwise >
            TRX_NO = #{TRX_NO},
          </otherwise>
        </choose>
      </if>
      <if test="TRX_BRANCH_CODE != null" >
        <choose >
          <when test="TRX_BRANCH_CODE == emptyBigDecimalValue" >
            TRX_BRANCH_CODE = NULL ,
          </when>
          <otherwise >
            TRX_BRANCH_CODE = #{TRX_BRANCH_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="TRX_STATUS != null" >
        TRX_STATUS = #{TRX_STATUS},
      </if>
      <if test="RECORD_STATUS != null" >
        RECORD_STATUS = #{RECORD_STATUS},
      </if>
      <if test="NEW_CHEQUE_NO != null" >
        <choose >
          <when test="NEW_CHEQUE_NO == emptyBigDecimalValue" >
            NEW_CHEQUE_NO = NULL ,
          </when>
          <otherwise >
            NEW_CHEQUE_NO = #{NEW_CHEQUE_NO},
          </otherwise>
        </choose>
      </if>
      <if test="NEW_CHEQUEBOOK_CODE != null" >
        <choose >
          <when test="NEW_CHEQUEBOOK_CODE == emptyBigDecimalValue" >
            NEW_CHEQUEBOOK_CODE = NULL ,
          </when>
          <otherwise >
            NEW_CHEQUEBOOK_CODE = #{NEW_CHEQUEBOOK_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="NEW_CHEQUE_BRANCH != null" >
        <choose >
          <when test="NEW_CHEQUE_BRANCH == emptyBigDecimalValue" >
            NEW_CHEQUE_BRANCH = NULL ,
          </when>
          <otherwise >
            NEW_CHEQUE_BRANCH = #{NEW_CHEQUE_BRANCH},
          </otherwise>
        </choose>
      </if>
      <if test="FROM_NUMBER != null" >
        <choose >
          <when test="FROM_NUMBER == emptyBigDecimalValue" >
            FROM_NUMBER = NULL ,
          </when>
          <otherwise >
            FROM_NUMBER = #{FROM_NUMBER},
          </otherwise>
        </choose>
      </if>
      <if test="NUMBER_TO != null" >
        <choose >
          <when test="NUMBER_TO == emptyBigDecimalValue" >
            NUMBER_TO = NULL ,
          </when>
          <otherwise >
            NUMBER_TO = #{NUMBER_TO},
          </otherwise>
        </choose>
      </if>
      <if test="NEW_CHEQUEBOOK_STATUS != null" >
        NEW_CHEQUEBOOK_STATUS = #{NEW_CHEQUEBOOK_STATUS},
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED = #{DATE_CREATED},
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED = #{DATE_APPROVED},
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY = #{APPROVED_BY},
      </if>
      <if test="REJECTED_BY != null" >
        REJECTED_BY = #{REJECTED_BY},
      </if>
      <if test="DATE_REJECTED != null" >
        DATE_REJECTED = #{DATE_REJECTED},
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY = #{MODIFIED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED = #{DATE_MODIFIED},
      </if>
      <if test="CARD_TYPE != null" >
        <choose >
          <when test="CARD_TYPE == emptyBigDecimalValue" >
            CARD_TYPE = NULL ,
          </when>
          <otherwise >
            CARD_TYPE = #{CARD_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="CARD_NO != null" >
        CARD_NO = #{CARD_NO},
      </if>
      <if test="APPLICATION_ID != null" >
        <choose >
          <when test="APPLICATION_ID == emptyBigDecimalValue" >
            APPLICATION_ID = NULL ,
          </when>
          <otherwise >
            APPLICATION_ID = #{APPLICATION_ID},
          </otherwise>
        </choose>
      </if>
      <if test="CARD_BATCH_NO != null" >
        CARD_BATCH_NO = #{CARD_BATCH_NO},
      </if>
      <if test="EFFECTIVE_DATE != null" >
        EFFECTIVE_DATE = #{EFFECTIVE_DATE},
      </if>
      <if test="EXPIRY_DATE != null" >
        EXPIRY_DATE = #{EXPIRY_DATE},
      </if>
      <if test="DATE_RECEIVED_BY_BRANCH != null" >
        DATE_RECEIVED_BY_BRANCH = #{DATE_RECEIVED_BY_BRANCH},
      </if>
      <if test="NEW_CARD_STATUS != null" >
        NEW_CARD_STATUS = #{NEW_CARD_STATUS},
      </if>
      <if test="CARD_BRANCH_CODE != null" >
        <choose >
          <when test="CARD_BRANCH_CODE == emptyBigDecimalValue" >
            CARD_BRANCH_CODE = NULL ,
          </when>
          <otherwise >
            CARD_BRANCH_CODE = #{CARD_BRANCH_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY = #{DELETED_BY},
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED = #{DATE_DELETED},
      </if>
    </set>
    where BATCH_NO = #{BATCH_NO}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and PRODUCT_TYPE = #{PRODUCT_TYPE}
  </sql>
  <update id="updateCTS_AMEND_PRODUCTS" parameterType="com.path.dbmaps.vo.CTS_AMEND_PRODUCTSVO" >
    <include refid="sql_updateCTS_AMEND_PRODUCTS" />
  </update>
</mapper>