<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTS_CLUB_TAG_GRP" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTS_CLUB_TAG_GRPVO" >
    <id column="CLB_ACC_LINE_NO" property="CLB_ACC_LINE_NO" />
    <id column="CLUBBING_CODE" property="CLUBBING_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NO" property="LINE_NO" />
    <result column="TAG_GRP_CODE" property="TAG_GRP_CODE" />
  </resultMap>
  <sql id="Base_Column_List" >
    CLB_ACC_LINE_NO, CLUBBING_CODE, COMP_CODE, LINE_NO, TAG_GRP_CODE
  </sql>
  <select id="selectCTS_CLUB_TAG_GRP" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTS_CLUB_TAG_GRPVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTS_CLUB_TAG_GRP
    where CLB_ACC_LINE_NO = #{CLB_ACC_LINE_NO}
      and CLUBBING_CODE = #{CLUBBING_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
  </select>
  <delete id="deleteCTS_CLUB_TAG_GRP" parameterType="com.path.dbmaps.vo.CTS_CLUB_TAG_GRPVOKey" >
    delete from CTS_CLUB_TAG_GRP
    where CLB_ACC_LINE_NO = #{CLB_ACC_LINE_NO}
      and CLUBBING_CODE = #{CLUBBING_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
  </delete>
  <insert id="insertCTS_CLUB_TAG_GRP" parameterType="com.path.dbmaps.vo.CTS_CLUB_TAG_GRPVO" >
    insert into CTS_CLUB_TAG_GRP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CLB_ACC_LINE_NO != null and CLB_ACC_LINE_NO != emptyBigDecimalValue" >
        CLB_ACC_LINE_NO,
      </if>
      <if test="CLUBBING_CODE != null and CLUBBING_CODE != emptyBigDecimalValue" >
        CLUBBING_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="TAG_GRP_CODE != null and TAG_GRP_CODE != emptyBigDecimalValue" >
        TAG_GRP_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CLB_ACC_LINE_NO != null and CLB_ACC_LINE_NO != emptyBigDecimalValue" >
        #{CLB_ACC_LINE_NO},
      </if>
      <if test="CLUBBING_CODE != null and CLUBBING_CODE != emptyBigDecimalValue" >
        #{CLUBBING_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="TAG_GRP_CODE != null and TAG_GRP_CODE != emptyBigDecimalValue" >
        #{TAG_GRP_CODE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTS_CLUB_TAG_GRP" >
    update CTS_CLUB_TAG_GRP
    <set >
      <if test="TAG_GRP_CODE != null" >
        <choose >
          <when test="TAG_GRP_CODE == emptyBigDecimalValue" >
            TAG_GRP_CODE = NULL ,
          </when>
          <otherwise >
            TAG_GRP_CODE = #{TAG_GRP_CODE},
          </otherwise>
        </choose>
      </if>
    </set>
    where CLB_ACC_LINE_NO = #{CLB_ACC_LINE_NO}
      and CLUBBING_CODE = #{CLUBBING_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
  </sql>
  <update id="updateCTS_CLUB_TAG_GRP" parameterType="com.path.dbmaps.vo.CTS_CLUB_TAG_GRPVO" >
    <include refid="sql_updateCTS_CLUB_TAG_GRP" />
  </update>
</mapper>