<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTS_CIF_PEP_DETAILS" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTS_CIF_PEP_DETAILSVO" >
    <id column="CIF_NO" property="CIF_NO" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NO" property="LINE_NO" />
    <id column="MULTI_LINE_NO" property="MULTI_LINE_NO" />
    <id column="TYPE" property="TYPE" />
    <result column="PEP_TYPE" property="PEP_TYPE" />
    <result column="PEP_POSITION" property="PEP_POSITION" />
    <result column="PEP_SOURCE_OF_WEALTH" property="PEP_SOURCE_OF_WEALTH" />
    <result column="NAME" property="NAME" />
    <result column="NATIONALITY" property="NATIONALITY" />
    <result column="COUNTRY_OF_RESIDENCE" property="COUNTRY_OF_RESIDENCE" />
    <result column="RELATIONSHIP_WITH_PEP" property="RELATIONSHIP_WITH_PEP" />
    <result column="ASSESMENT_BRIEF_PROFILE" property="ASSESMENT_BRIEF_PROFILE" />
  </resultMap>
  <sql id="Base_Column_List" >
    CIF_NO, COMP_CODE, LINE_NO, MULTI_LINE_NO, TYPE, PEP_TYPE, PEP_POSITION, PEP_SOURCE_OF_WEALTH, 
    NAME, NATIONALITY, COUNTRY_OF_RESIDENCE, RELATIONSHIP_WITH_PEP, ASSESMENT_BRIEF_PROFILE
  </sql>
  <select id="selectCTS_CIF_PEP_DETAILS" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTS_CIF_PEP_DETAILSVO" >
    select 
    <include refid="Base_Column_List" />
    from CTS_CIF_PEP_DETAILS
    where CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and MULTI_LINE_NO = #{MULTI_LINE_NO}
      and TYPE = #{TYPE}
  </select>
  <delete id="deleteCTS_CIF_PEP_DETAILS" parameterType="com.path.dbmaps.vo.CTS_CIF_PEP_DETAILSVO" >
    delete from CTS_CIF_PEP_DETAILS
    where CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and MULTI_LINE_NO = #{MULTI_LINE_NO}
      and TYPE = #{TYPE}
  </delete>
  <insert id="insertCTS_CIF_PEP_DETAILS" parameterType="com.path.dbmaps.vo.CTS_CIF_PEP_DETAILSVO" >
    insert into CTS_CIF_PEP_DETAILS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CIF_NO != null" >
        CIF_NO,
      </if>
      <if test="COMP_CODE != null" >
        COMP_CODE,
      </if>
      <if test="LINE_NO != null" >
        LINE_NO,
      </if>
      <if test="MULTI_LINE_NO != null" >
        MULTI_LINE_NO,
      </if>
      <if test="TYPE != null and !&quot;&quot;.equals(TYPE)" >
        TYPE,
      </if>
      <if test="PEP_TYPE != null and !&quot;&quot;.equals(PEP_TYPE)" >
        PEP_TYPE,
      </if>
      <if test="PEP_POSITION != null and !&quot;&quot;.equals(PEP_POSITION)" >
        PEP_POSITION,
      </if>
      <if test="PEP_SOURCE_OF_WEALTH != null and !&quot;&quot;.equals(PEP_SOURCE_OF_WEALTH)" >
        PEP_SOURCE_OF_WEALTH,
      </if>
      <if test="NAME != null and !&quot;&quot;.equals(NAME)" >
        NAME,
      </if>
      <if test="NATIONALITY != null" >
        NATIONALITY,
      </if>
      <if test="COUNTRY_OF_RESIDENCE != null" >
        COUNTRY_OF_RESIDENCE,
      </if>
      <if test="RELATIONSHIP_WITH_PEP != null and !&quot;&quot;.equals(RELATIONSHIP_WITH_PEP)" >
        RELATIONSHIP_WITH_PEP,
      </if>
      <if test="ASSESMENT_BRIEF_PROFILE != null and !&quot;&quot;.equals(ASSESMENT_BRIEF_PROFILE)" >
        ASSESMENT_BRIEF_PROFILE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CIF_NO != null" >
        #{CIF_NO},
      </if>
      <if test="COMP_CODE != null" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NO != null" >
        #{LINE_NO},
      </if>
      <if test="MULTI_LINE_NO != null" >
        #{MULTI_LINE_NO},
      </if>
      <if test="TYPE != null and !&quot;&quot;.equals(TYPE)" >
        #{TYPE},
      </if>
      <if test="PEP_TYPE != null and !&quot;&quot;.equals(PEP_TYPE)" >
        #{PEP_TYPE},
      </if>
      <if test="PEP_POSITION != null and !&quot;&quot;.equals(PEP_POSITION)" >
        #{PEP_POSITION},
      </if>
      <if test="PEP_SOURCE_OF_WEALTH != null and !&quot;&quot;.equals(PEP_SOURCE_OF_WEALTH)" >
        #{PEP_SOURCE_OF_WEALTH},
      </if>
      <if test="NAME != null and !&quot;&quot;.equals(NAME)" >
        #{NAME},
      </if>
      <if test="NATIONALITY != null" >
        #{NATIONALITY},
      </if>
      <if test="COUNTRY_OF_RESIDENCE != null" >
        #{COUNTRY_OF_RESIDENCE},
      </if>
      <if test="RELATIONSHIP_WITH_PEP != null and !&quot;&quot;.equals(RELATIONSHIP_WITH_PEP)" >
        #{RELATIONSHIP_WITH_PEP},
      </if>
      <if test="ASSESMENT_BRIEF_PROFILE != null and !&quot;&quot;.equals(ASSESMENT_BRIEF_PROFILE)" >
        #{ASSESMENT_BRIEF_PROFILE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTS_CIF_PEP_DETAILS" >
    update CTS_CIF_PEP_DETAILS
    <set >
      <if test="PEP_TYPE != null" >
        <choose >
          <when test="PEP_TYPE.equals(&quot;&quot;)" >
            PEP_TYPE = NULL ,
          </when>
          <otherwise >
            PEP_TYPE = #{PEP_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="PEP_POSITION != null" >
        <choose >
          <when test="PEP_POSITION.equals(&quot;&quot;)" >
            PEP_POSITION = NULL ,
          </when>
          <otherwise >
            PEP_POSITION = #{PEP_POSITION},
          </otherwise>
        </choose>
      </if>
      <if test="PEP_SOURCE_OF_WEALTH != null" >
        <choose >
          <when test="PEP_SOURCE_OF_WEALTH.equals(&quot;&quot;)" >
            PEP_SOURCE_OF_WEALTH = NULL ,
          </when>
          <otherwise >
            PEP_SOURCE_OF_WEALTH = #{PEP_SOURCE_OF_WEALTH},
          </otherwise>
        </choose>
      </if>
      <if test="NAME != null" >
        <choose >
          <when test="NAME.equals(&quot;&quot;)" >
            NAME = NULL ,
          </when>
          <otherwise >
            NAME = #{NAME},
          </otherwise>
        </choose>
      </if>
      <if test="NATIONALITY != null" >
        NATIONALITY = #{NATIONALITY},
      </if>
      <if test="COUNTRY_OF_RESIDENCE != null" >
        COUNTRY_OF_RESIDENCE = #{COUNTRY_OF_RESIDENCE},
      </if>
      <if test="RELATIONSHIP_WITH_PEP != null" >
        <choose >
          <when test="RELATIONSHIP_WITH_PEP.equals(&quot;&quot;)" >
            RELATIONSHIP_WITH_PEP = NULL ,
          </when>
          <otherwise >
            RELATIONSHIP_WITH_PEP = #{RELATIONSHIP_WITH_PEP},
          </otherwise>
        </choose>
      </if>
      <if test="ASSESMENT_BRIEF_PROFILE != null" >
        <choose >
          <when test="ASSESMENT_BRIEF_PROFILE.equals(&quot;&quot;)" >
            ASSESMENT_BRIEF_PROFILE = NULL ,
          </when>
          <otherwise >
            ASSESMENT_BRIEF_PROFILE = #{ASSESMENT_BRIEF_PROFILE},
          </otherwise>
        </choose>
      </if>
    </set>
    where CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and MULTI_LINE_NO = #{MULTI_LINE_NO}
      and TYPE = #{TYPE}
  </sql>
  <update id="updateCTS_CIF_PEP_DETAILS" parameterType="com.path.dbmaps.vo.CTS_CIF_PEP_DETAILSVO" >
    <include refid="sql_updateCTS_CIF_PEP_DETAILS" />
  </update>
</mapper>