<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTS_INCIDENT" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTS_INCIDENTVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="INCD_CODE" property="INCD_CODE" />
    <result column="DEPT_CODE" property="DEPT_CODE" />
    <result column="DIVISION_CODE" property="DIVISION_CODE" />
    <result column="CIF_NO" property="CIF_NO" />
    <result column="CURRENCY_CODE" property="CURRENCY_CODE" />
    <result column="INCD_AMOUNT" property="INCD_AMOUNT" />
    <result column="INCD_ERROR" property="INCD_ERROR" />
    <result column="INCD_ACTION" property="INCD_ACTION" />
    <result column="INCD_REMARK" property="INCD_REMARK" />
    <result column="REPORTED_TO" property="REPORTED_TO" />
    <result column="INCD_DATE" property="INCD_DATE" />
    <result column="USER_ID" property="USER_ID" />
    <result column="DEALER_NNE" property="DEALER_NNE" />
    <result column="ADDITIONAL_REFERENCE" property="ADDITIONAL_REFERENCE" />
    <result column="INCD_CHQ_DATE" property="INCD_CHQ_DATE" />
    <result column="INCD_CHQ_NO" property="INCD_CHQ_NO" />
    <result column="INCD_EXCLUDE_FLAG" property="INCD_EXCLUDE_FLAG" />
    <result column="INCD_TRX_NO" property="INCD_TRX_NO" />
    <result column="REGULARIZED" property="REGULARIZED" />
    <result column="REGUL_BR_CODE" property="REGUL_BR_CODE" />
    <result column="REGUL_DATE" property="REGUL_DATE" />
    <result column="REGUL_TRS_NO" property="REGUL_TRS_NO" />
    <result column="DATE_UPDATED" property="DATE_UPDATED" />
    <result column="OLD_STATUS" property="OLD_STATUS" />
    <result column="STATUS" property="STATUS" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="DATE_CREATED" property="DATE_CREATED" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="DATE_MODIFIED" property="DATE_MODIFIED" />
    <result column="DELETED_BY" property="DELETED_BY" />
    <result column="DATE_DELETED" property="DATE_DELETED" />
    <result column="APPROVED_BY" property="APPROVED_BY" />
    <result column="DATE_APPROVED" property="DATE_APPROVED" />
    <result column="TO_CANCEL_BY" property="TO_CANCEL_BY" />
    <result column="TO_CANCEL_DATE" property="TO_CANCEL_DATE" />
    <result column="CANCELED_BY" property="CANCELED_BY" />
    <result column="DATE_CANCELED" property="DATE_CANCELED" />
    <result column="TO_REGULARIZE_BY" property="TO_REGULARIZE_BY" />
    <result column="TO_REGULARIZE_DATE" property="TO_REGULARIZE_DATE" />
    <result column="REGULARIZED_BY" property="REGULARIZED_BY" />
    <result column="DATE_REGULARIZED" property="DATE_REGULARIZED" />
    <result column="REJECTED_BY" property="REJECTED_BY" />
    <result column="DATE_REJECTED" property="DATE_REJECTED" />
    <result column="CLIENT_ACC_BR" property="CLIENT_ACC_BR" />
    <result column="CLIENT_ACC_CY" property="CLIENT_ACC_CY" />
    <result column="CLIENT_ACC_GL" property="CLIENT_ACC_GL" />
    <result column="CLIENT_ACC_CIF" property="CLIENT_ACC_CIF" />
    <result column="CLIENT_ACC_SL" property="CLIENT_ACC_SL" />
    <result column="REASON_CODE" property="REASON_CODE" />
    <result column="CTS_TRS_NO" property="CTS_TRS_NO" />
    <result column="CTS_TRS_BR" property="CTS_TRS_BR" />
    <result column="VOUCHER_NO" property="VOUCHER_NO" />
    <result column="PAYMENT_DATE" property="PAYMENT_DATE" />
    <result column="VOID_REASON_CODE" property="VOID_REASON_CODE" />
    
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, INCD_CODE, DEPT_CODE, DIVISION_CODE, CIF_NO, CURRENCY_CODE, 
    INCD_AMOUNT, INCD_ERROR, INCD_ACTION, INCD_REMARK, REPORTED_TO, INCD_DATE, USER_ID, 
    DEALER_NNE, ADDITIONAL_REFERENCE, INCD_CHQ_DATE, INCD_CHQ_NO, INCD_EXCLUDE_FLAG, 
    INCD_TRX_NO, REGULARIZED, REGUL_BR_CODE, REGUL_DATE, REGUL_TRS_NO, DATE_UPDATED, 
    OLD_STATUS, STATUS, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED, DELETED_BY, 
    DATE_DELETED, APPROVED_BY, DATE_APPROVED, TO_CANCEL_BY, TO_CANCEL_DATE, CANCELED_BY, 
    DATE_CANCELED, TO_REGULARIZE_BY, TO_REGULARIZE_DATE, REGULARIZED_BY, DATE_REGULARIZED, 
    REJECTED_BY, DATE_REJECTED, CLIENT_ACC_BR, CLIENT_ACC_CY, CLIENT_ACC_GL, CLIENT_ACC_CIF, 
    CLIENT_ACC_SL, REASON_CODE, CTS_TRS_NO, CTS_TRS_BR,VOUCHER_NO,PAYMENT_DATE , VOID_REASON_CODE
  </sql>
  <select id="selectCTS_INCIDENT" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTS_INCIDENTVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTS_INCIDENT
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and INCD_CODE = #{INCD_CODE}
  </select>
  <delete id="deleteCTS_INCIDENT" parameterType="com.path.dbmaps.vo.CTS_INCIDENTVOKey" >
    delete from CTS_INCIDENT
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and INCD_CODE = #{INCD_CODE}
  </delete>
  <insert id="insertCTS_INCIDENT" parameterType="com.path.dbmaps.vo.CTS_INCIDENTVO" >
    insert into CTS_INCIDENT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="INCD_CODE != null and INCD_CODE != emptyBigDecimalValue" >
        INCD_CODE,
      </if>
      <if test="DEPT_CODE != null and DEPT_CODE != emptyBigDecimalValue" >
        DEPT_CODE,
      </if>
      <if test="DIVISION_CODE != null and DIVISION_CODE != emptyBigDecimalValue" >
        DIVISION_CODE,
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        CIF_NO,
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        CURRENCY_CODE,
      </if>
      <if test="INCD_AMOUNT != null and INCD_AMOUNT != emptyBigDecimalValue" >
        INCD_AMOUNT,
      </if>
      <if test="INCD_ERROR != null" >
        INCD_ERROR,
      </if>
      <if test="INCD_ACTION != null" >
        INCD_ACTION,
      </if>
      <if test="INCD_REMARK != null" >
        INCD_REMARK,
      </if>
      <if test="REPORTED_TO != null" >
        REPORTED_TO,
      </if>
      <if test="INCD_DATE != null" >
        INCD_DATE,
      </if>
      <if test="USER_ID != null" >
        USER_ID,
      </if>
      <if test="DEALER_NNE != null and DEALER_NNE != emptyBigDecimalValue" >
        DEALER_NNE,
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        ADDITIONAL_REFERENCE,
      </if>
      <if test="INCD_CHQ_DATE != null" >
        INCD_CHQ_DATE,
      </if>
      <if test="INCD_CHQ_NO != null and INCD_CHQ_NO != emptyBigDecimalValue" >
        INCD_CHQ_NO,
      </if>
      <if test="INCD_EXCLUDE_FLAG != null" >
        INCD_EXCLUDE_FLAG,
      </if>
      <if test="INCD_TRX_NO != null and INCD_TRX_NO != emptyBigDecimalValue" >
        INCD_TRX_NO,
      </if>
      <if test="REGULARIZED != null" >
        REGULARIZED,
      </if>
      <if test="REGUL_BR_CODE != null and REGUL_BR_CODE != emptyBigDecimalValue" >
        REGUL_BR_CODE,
      </if>
      <if test="REGUL_DATE != null" >
        REGUL_DATE,
      </if>
      <if test="REGUL_TRS_NO != null and REGUL_TRS_NO != emptyBigDecimalValue" >
        REGUL_TRS_NO,
      </if>
      DATE_UPDATED,
      <if test="OLD_STATUS != null" >
        OLD_STATUS,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED,
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY,
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED,
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY,
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED,
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY,
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED,
      </if>
      <if test="TO_CANCEL_BY != null" >
        TO_CANCEL_BY,
      </if>
      <if test="TO_CANCEL_DATE != null" >
        TO_CANCEL_DATE,
      </if>
      <if test="CANCELED_BY != null" >
        CANCELED_BY,
      </if>
      <if test="DATE_CANCELED != null" >
        DATE_CANCELED,
      </if>
      <if test="TO_REGULARIZE_BY != null" >
        TO_REGULARIZE_BY,
      </if>
      <if test="TO_REGULARIZE_DATE != null" >
        TO_REGULARIZE_DATE,
      </if>
      <if test="REGULARIZED_BY != null" >
        REGULARIZED_BY,
      </if>
      <if test="DATE_REGULARIZED != null" >
        DATE_REGULARIZED,
      </if>
      <if test="REJECTED_BY != null" >
        REJECTED_BY,
      </if>
      <if test="DATE_REJECTED != null" >
        DATE_REJECTED,
      </if>
      <if test="CLIENT_ACC_BR != null and CLIENT_ACC_BR != emptyBigDecimalValue" >
        CLIENT_ACC_BR,
      </if>
      <if test="CLIENT_ACC_CY != null and CLIENT_ACC_CY != emptyBigDecimalValue" >
        CLIENT_ACC_CY,
      </if>
      <if test="CLIENT_ACC_GL != null and CLIENT_ACC_GL != emptyBigDecimalValue" >
        CLIENT_ACC_GL,
      </if>
      <if test="CLIENT_ACC_CIF != null and CLIENT_ACC_CIF != emptyBigDecimalValue" >
        CLIENT_ACC_CIF,
      </if>
      <if test="CLIENT_ACC_SL != null and CLIENT_ACC_SL != emptyBigDecimalValue" >
        CLIENT_ACC_SL,
      </if>
      <if test="REASON_CODE != null and REASON_CODE != emptyBigDecimalValue" >
        REASON_CODE,
      </if>
      <if test="CTS_TRS_NO != null and CTS_TRS_NO != emptyBigDecimalValue" >
        CTS_TRS_NO,
      </if>
      <if test="CTS_TRS_BR != null and CTS_TRS_BR != emptyBigDecimalValue" >
        CTS_TRS_BR,
      </if>
      <if test="PAYMENT_DATE != null" >
        PAYMENT_DATE,
      </if>
      <if test="VOUCHER_NO != null" >
        VOUCHER_NO,
      </if>
     <if test="VOID_REASON_CODE != null and VOID_REASON_CODE != emptyBigDecimalValue" >
        VOID_REASON_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="INCD_CODE != null and INCD_CODE != emptyBigDecimalValue" >
        #{INCD_CODE},
      </if>
      <if test="DEPT_CODE != null and DEPT_CODE != emptyBigDecimalValue" >
        #{DEPT_CODE},
      </if>
      <if test="DIVISION_CODE != null and DIVISION_CODE != emptyBigDecimalValue" >
        #{DIVISION_CODE},
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        #{CIF_NO},
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        #{CURRENCY_CODE},
      </if>
      <if test="INCD_AMOUNT != null and INCD_AMOUNT != emptyBigDecimalValue" >
        #{INCD_AMOUNT},
      </if>
      <if test="INCD_ERROR != null" >
        #{INCD_ERROR},
      </if>
      <if test="INCD_ACTION != null" >
        #{INCD_ACTION},
      </if>
      <if test="INCD_REMARK != null" >
        #{INCD_REMARK},
      </if>
      <if test="REPORTED_TO != null" >
        #{REPORTED_TO},
      </if>
      <if test="INCD_DATE != null" >
        #{INCD_DATE},
      </if>
      <if test="USER_ID != null" >
        #{USER_ID},
      </if>
      <if test="DEALER_NNE != null and DEALER_NNE != emptyBigDecimalValue" >
        #{DEALER_NNE},
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        #{ADDITIONAL_REFERENCE},
      </if>
      <if test="INCD_CHQ_DATE != null" >
        #{INCD_CHQ_DATE},
      </if>
      <if test="INCD_CHQ_NO != null and INCD_CHQ_NO != emptyBigDecimalValue" >
        #{INCD_CHQ_NO},
      </if>
      <if test="INCD_EXCLUDE_FLAG != null" >
        #{INCD_EXCLUDE_FLAG},
      </if>
      <if test="INCD_TRX_NO != null and INCD_TRX_NO != emptyBigDecimalValue" >
        #{INCD_TRX_NO},
      </if>
      <if test="REGULARIZED != null" >
        #{REGULARIZED},
      </if>
      <if test="REGUL_BR_CODE != null and REGUL_BR_CODE != emptyBigDecimalValue" >
        #{REGUL_BR_CODE},
      </if>
      <if test="REGUL_DATE != null" >
        #{REGUL_DATE},
      </if>
      <if test="REGUL_TRS_NO != null and REGUL_TRS_NO != emptyBigDecimalValue" >
        #{REGUL_TRS_NO},
      </if>
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
      <if test="OLD_STATUS != null" >
        #{OLD_STATUS},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="DATE_CREATED != null" >
        #{DATE_CREATED},
      </if>
      <if test="MODIFIED_BY != null" >
        #{MODIFIED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        #{DATE_MODIFIED},
      </if>
      <if test="DELETED_BY != null" >
        #{DELETED_BY},
      </if>
      <if test="DATE_DELETED != null" >
        #{DATE_DELETED},
      </if>
      <if test="APPROVED_BY != null" >
        #{APPROVED_BY},
      </if>
      <if test="DATE_APPROVED != null" >
        #{DATE_APPROVED},
      </if>
      <if test="TO_CANCEL_BY != null" >
        #{TO_CANCEL_BY},
      </if>
      <if test="TO_CANCEL_DATE != null" >
        #{TO_CANCEL_DATE},
      </if>
      <if test="CANCELED_BY != null" >
        #{CANCELED_BY},
      </if>
      <if test="DATE_CANCELED != null" >
        #{DATE_CANCELED},
      </if>
      <if test="TO_REGULARIZE_BY != null" >
        #{TO_REGULARIZE_BY},
      </if>
      <if test="TO_REGULARIZE_DATE != null" >
        #{TO_REGULARIZE_DATE},
      </if>
      <if test="REGULARIZED_BY != null" >
        #{REGULARIZED_BY},
      </if>
      <if test="DATE_REGULARIZED != null" >
        #{DATE_REGULARIZED},
      </if>
      <if test="REJECTED_BY != null" >
        #{REJECTED_BY},
      </if>
      <if test="DATE_REJECTED != null" >
        #{DATE_REJECTED},
      </if>
      <if test="CLIENT_ACC_BR != null and CLIENT_ACC_BR != emptyBigDecimalValue" >
        #{CLIENT_ACC_BR},
      </if>
      <if test="CLIENT_ACC_CY != null and CLIENT_ACC_CY != emptyBigDecimalValue" >
        #{CLIENT_ACC_CY},
      </if>
      <if test="CLIENT_ACC_GL != null and CLIENT_ACC_GL != emptyBigDecimalValue" >
        #{CLIENT_ACC_GL},
      </if>
      <if test="CLIENT_ACC_CIF != null and CLIENT_ACC_CIF != emptyBigDecimalValue" >
        #{CLIENT_ACC_CIF},
      </if>
      <if test="CLIENT_ACC_SL != null and CLIENT_ACC_SL != emptyBigDecimalValue" >
        #{CLIENT_ACC_SL},
      </if>
      <if test="REASON_CODE != null and REASON_CODE != emptyBigDecimalValue" >
        #{REASON_CODE},
      </if>
      <if test="CTS_TRS_NO != null and CTS_TRS_NO != emptyBigDecimalValue" >
        #{CTS_TRS_NO},
      </if>
      <if test="CTS_TRS_BR != null and CTS_TRS_BR != emptyBigDecimalValue" >
        #{CTS_TRS_BR},
      </if>
      <if test="PAYMENT_DATE != null" >
        #{PAYMENT_DATE},
      </if>
      <if test="VOUCHER_NO != null" >
        #{VOUCHER_NO},
      </if>
       <if test="VOID_REASON_CODE != null and VOID_REASON_CODE != emptyBigDecimalValue" >
        #{VOID_REASON_CODE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTS_INCIDENT" >
    update CTS_INCIDENT
    <set >
      <if test="DEPT_CODE != null" >
        <choose >
          <when test="DEPT_CODE == emptyBigDecimalValue" >
            DEPT_CODE = NULL ,
          </when>
          <otherwise >
            DEPT_CODE = #{DEPT_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="DIVISION_CODE != null" >
        <choose >
          <when test="DIVISION_CODE == emptyBigDecimalValue" >
            DIVISION_CODE = NULL ,
          </when>
          <otherwise >
            DIVISION_CODE = #{DIVISION_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="CIF_NO != null" >
        <choose >
          <when test="CIF_NO == emptyBigDecimalValue" >
            CIF_NO = NULL ,
          </when>
          <otherwise >
            CIF_NO = #{CIF_NO},
          </otherwise>
        </choose>
      </if>
      <if test="CURRENCY_CODE != null" >
        <choose >
          <when test="CURRENCY_CODE == emptyBigDecimalValue" >
            CURRENCY_CODE = NULL ,
          </when>
          <otherwise >
            CURRENCY_CODE = #{CURRENCY_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="INCD_AMOUNT != null" >
        <choose >
          <when test="INCD_AMOUNT == emptyBigDecimalValue" >
            INCD_AMOUNT = NULL ,
          </when>
          <otherwise >
            INCD_AMOUNT = #{INCD_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="INCD_ERROR != null" >
        INCD_ERROR = #{INCD_ERROR},
      </if>
      <if test="INCD_ACTION != null" >
        INCD_ACTION = #{INCD_ACTION},
      </if>
      <if test="INCD_REMARK != null" >
        INCD_REMARK = #{INCD_REMARK},
      </if>
      <if test="REPORTED_TO != null" >
        REPORTED_TO = #{REPORTED_TO},
      </if>
      <if test="INCD_DATE != null" >
        INCD_DATE = #{INCD_DATE},
      </if>
      <if test="USER_ID != null" >
        USER_ID = #{USER_ID},
      </if>
      <if test="DEALER_NNE != null" >
        <choose >
          <when test="DEALER_NNE == emptyBigDecimalValue" >
            DEALER_NNE = NULL ,
          </when>
          <otherwise >
            DEALER_NNE = #{DEALER_NNE},
          </otherwise>
        </choose>
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        ADDITIONAL_REFERENCE = #{ADDITIONAL_REFERENCE},
      </if>
      <if test="INCD_CHQ_DATE != null" >
        INCD_CHQ_DATE = #{INCD_CHQ_DATE},
      </if>
      <if test="INCD_CHQ_NO != null" >
        <choose >
          <when test="INCD_CHQ_NO == emptyBigDecimalValue" >
            INCD_CHQ_NO = NULL ,
          </when>
          <otherwise >
            INCD_CHQ_NO = #{INCD_CHQ_NO},
          </otherwise>
        </choose>
      </if>
      <if test="INCD_EXCLUDE_FLAG != null" >
        INCD_EXCLUDE_FLAG = #{INCD_EXCLUDE_FLAG},
      </if>
      <if test="INCD_TRX_NO != null" >
        <choose >
          <when test="INCD_TRX_NO == emptyBigDecimalValue" >
            INCD_TRX_NO = NULL ,
          </when>
          <otherwise >
            INCD_TRX_NO = #{INCD_TRX_NO},
          </otherwise>
        </choose>
      </if>
      <if test="REGULARIZED != null" >
        REGULARIZED = #{REGULARIZED},
      </if>
      <if test="REGUL_BR_CODE != null" >
        <choose >
          <when test="REGUL_BR_CODE == emptyBigDecimalValue" >
            REGUL_BR_CODE = NULL ,
          </when>
          <otherwise >
            REGUL_BR_CODE = #{REGUL_BR_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="REGUL_DATE != null" >
        REGUL_DATE = #{REGUL_DATE},
      </if>
      <if test="REGUL_TRS_NO != null" >
        <choose >
          <when test="REGUL_TRS_NO == emptyBigDecimalValue" >
            REGUL_TRS_NO = NULL ,
          </when>
          <otherwise >
            REGUL_TRS_NO = #{REGUL_TRS_NO},
          </otherwise>
        </choose>
      </if>
      DATE_UPDATED = 
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
      <if test="OLD_STATUS != null" >
        OLD_STATUS = #{OLD_STATUS},
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED = #{DATE_CREATED},
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY = #{MODIFIED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED = #{DATE_MODIFIED},
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY = #{DELETED_BY},
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED = #{DATE_DELETED},
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY = #{APPROVED_BY},
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED = #{DATE_APPROVED},
      </if>
      <if test="TO_CANCEL_BY != null" >
        TO_CANCEL_BY = #{TO_CANCEL_BY},
      </if>
      <if test="TO_CANCEL_DATE != null" >
        TO_CANCEL_DATE = #{TO_CANCEL_DATE},
      </if>
      <if test="CANCELED_BY != null" >
        CANCELED_BY = #{CANCELED_BY},
      </if>
      <if test="DATE_CANCELED != null" >
        DATE_CANCELED = #{DATE_CANCELED},
      </if>
      <if test="TO_REGULARIZE_BY != null" >
        TO_REGULARIZE_BY = #{TO_REGULARIZE_BY},
      </if>
      <if test="TO_REGULARIZE_DATE != null" >
        TO_REGULARIZE_DATE = #{TO_REGULARIZE_DATE},
      </if>
      <if test="REGULARIZED_BY != null" >
        REGULARIZED_BY = #{REGULARIZED_BY},
      </if>
      <if test="DATE_REGULARIZED != null" >
        DATE_REGULARIZED = #{DATE_REGULARIZED},
      </if>
      <if test="REJECTED_BY != null" >
        REJECTED_BY = #{REJECTED_BY},
      </if>
      <if test="DATE_REJECTED != null" >
        DATE_REJECTED = #{DATE_REJECTED},
      </if>
      <if test="CLIENT_ACC_BR != null" >
        <choose >
          <when test="CLIENT_ACC_BR == emptyBigDecimalValue" >
            CLIENT_ACC_BR = NULL ,
          </when>
          <otherwise >
            CLIENT_ACC_BR = #{CLIENT_ACC_BR},
          </otherwise>
        </choose>
      </if>
      <if test="CLIENT_ACC_CY != null" >
        <choose >
          <when test="CLIENT_ACC_CY == emptyBigDecimalValue" >
            CLIENT_ACC_CY = NULL ,
          </when>
          <otherwise >
            CLIENT_ACC_CY = #{CLIENT_ACC_CY},
          </otherwise>
        </choose>
      </if>
      <if test="CLIENT_ACC_GL != null" >
        <choose >
          <when test="CLIENT_ACC_GL == emptyBigDecimalValue" >
            CLIENT_ACC_GL = NULL ,
          </when>
          <otherwise >
            CLIENT_ACC_GL = #{CLIENT_ACC_GL},
          </otherwise>
        </choose>
      </if>
      <if test="CLIENT_ACC_CIF != null" >
        <choose >
          <when test="CLIENT_ACC_CIF == emptyBigDecimalValue" >
            CLIENT_ACC_CIF = NULL ,
          </when>
          <otherwise >
            CLIENT_ACC_CIF = #{CLIENT_ACC_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="CLIENT_ACC_SL != null" >
        <choose >
          <when test="CLIENT_ACC_SL == emptyBigDecimalValue" >
            CLIENT_ACC_SL = NULL ,
          </when>
          <otherwise >
            CLIENT_ACC_SL = #{CLIENT_ACC_SL},
          </otherwise>
        </choose>
      </if>
      <if test="REASON_CODE != null" >
        <choose >
          <when test="REASON_CODE == emptyBigDecimalValue" >
            REASON_CODE = NULL ,
          </when>
          <otherwise >
            REASON_CODE = #{REASON_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="CTS_TRS_NO != null" >
        <choose >
          <when test="CTS_TRS_NO == emptyBigDecimalValue" >
            CTS_TRS_NO = NULL ,
          </when>
          <otherwise >
            CTS_TRS_NO = #{CTS_TRS_NO},
          </otherwise>
        </choose>
      </if>
      <if test="CTS_TRS_BR != null" >
        <choose >
          <when test="CTS_TRS_BR == emptyBigDecimalValue" >
            CTS_TRS_BR = NULL ,
          </when>
          <otherwise >
            CTS_TRS_BR = #{CTS_TRS_BR},
          </otherwise>
        </choose>
      </if>
      <if test="VOUCHER_NO != null" >
        VOUCHER_NO = #{VOUCHER_NO},
      </if>
      <if test="PAYMENT_DATE != null" >
        PAYMENT_DATE = #{PAYMENT_DATE},
      </if>
       <if test="VOID_REASON_CODE != null" >
        <choose >
          <when test="VOID_REASON_CODE == emptyBigDecimalValue" >
            VOID_REASON_CODE = NULL ,
          </when>
          <otherwise >
            VOID_REASON_CODE = #{VOID_REASON_CODE},
          </otherwise>
        </choose>
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and INCD_CODE = #{INCD_CODE}
  </sql>
  <update id="updateCTS_INCIDENT" parameterType="com.path.dbmaps.vo.CTS_INCIDENTVO" >
    <include refid="sql_updateCTS_INCIDENT" />
    <if test="DATE_UPDATED != null" >
      AND DATE_UPDATED = #{DATE_UPDATED}
    </if>
  </update>
</mapper>