<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTS_MANUAL_JV_TMP" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTS_MANUAL_JV_TMPVO" >
    <result column="COMP_CODE" property="COMP_CODE" />
    <result column="BRANCH_CODE" property="BRANCH_CODE" />
    <result column="CURRENCY_CODE" property="CURRENCY_CODE" />
    <result column="GL_CODE" property="GL_CODE" />
    <result column="CIF_SUB_NO" property="CIF_SUB_NO" />
    <result column="SL_NO" property="SL_NO" />
    <result column="LINE_NO" property="LINE_NO" />
    <result column="FC_AMOUNT" property="FC_AMOUNT" />
    <result column="EXCHANGE_RATE" property="EXCHANGE_RATE" />
    <result column="CV_AMOUNT" property="CV_AMOUNT" />
    <result column="TRANS_DATE" property="TRANS_DATE" />
    <result column="VALUE_DATE" property="VALUE_DATE" />
    <result column="REQUESTED_DATE" property="REQUESTED_DATE" />
    <result column="USER_ID" property="USER_ID" />
    <result column="DESCRIPTION" property="DESCRIPTION" />
    <result column="DESCRIPTION_A" property="DESCRIPTION_A" />
    <result column="DESCRIPTION1" property="DESCRIPTION1" />
    <result column="DESCRIPTION1_A" property="DESCRIPTION1_A" />
    <result column="DESCRIPTION2" property="DESCRIPTION2" />
    <result column="DESCRIPTION2_A" property="DESCRIPTION2_A" />
    <result column="BS_CONTRA" property="BS_CONTRA" />
    <result column="JV_TYPE" property="JV_TYPE" />
    <result column="JV_REF" property="JV_REF" />
  </resultMap>
  <insert id="insertCTS_MANUAL_JV_TMP" parameterType="com.path.dbmaps.vo.CTS_MANUAL_JV_TMPVO" >
    insert into CTS_MANUAL_JV_TMP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        CURRENCY_CODE,
      </if>
      <if test="GL_CODE != null and GL_CODE != emptyBigDecimalValue" >
        GL_CODE,
      </if>
      <if test="CIF_SUB_NO != null and CIF_SUB_NO != emptyBigDecimalValue" >
        CIF_SUB_NO,
      </if>
      <if test="SL_NO != null and SL_NO != emptyBigDecimalValue" >
        SL_NO,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="FC_AMOUNT != null and FC_AMOUNT != emptyBigDecimalValue" >
        FC_AMOUNT,
      </if>
      <if test="EXCHANGE_RATE != null and EXCHANGE_RATE != emptyBigDecimalValue" >
        EXCHANGE_RATE,
      </if>
      <if test="CV_AMOUNT != null and CV_AMOUNT != emptyBigDecimalValue" >
        CV_AMOUNT,
      </if>
      <if test="TRANS_DATE != null" >
        TRANS_DATE,
      </if>
      <if test="VALUE_DATE != null" >
        VALUE_DATE,
      </if>
      <if test="REQUESTED_DATE != null" >
        REQUESTED_DATE,
      </if>
      <if test="USER_ID != null" >
        USER_ID,
      </if>
      <if test="DESCRIPTION != null" >
        DESCRIPTION,
      </if>
      <if test="DESCRIPTION_A != null" >
        DESCRIPTION_A,
      </if>
      <if test="DESCRIPTION1 != null" >
        DESCRIPTION1,
      </if>
      <if test="DESCRIPTION1_A != null" >
        DESCRIPTION1_A,
      </if>
      <if test="DESCRIPTION2 != null" >
        DESCRIPTION2,
      </if>
      <if test="DESCRIPTION2_A != null" >
        DESCRIPTION2_A,
      </if>
      <if test="BS_CONTRA != null" >
        BS_CONTRA,
      </if>
      <if test="JV_TYPE != null and JV_TYPE != emptyBigDecimalValue" >
        JV_TYPE,
      </if>
      <if test="JV_REF != null" >
        JV_REF,
      </if>
      <if test="SCREEN_REFERENCE != null" >
        SCREEN_REFERENCE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        #{CURRENCY_CODE},
      </if>
      <if test="GL_CODE != null and GL_CODE != emptyBigDecimalValue" >
        #{GL_CODE},
      </if>
      <if test="CIF_SUB_NO != null and CIF_SUB_NO != emptyBigDecimalValue" >
        #{CIF_SUB_NO},
      </if>
      <if test="SL_NO != null and SL_NO != emptyBigDecimalValue" >
        #{SL_NO},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="FC_AMOUNT != null and FC_AMOUNT != emptyBigDecimalValue" >
        #{FC_AMOUNT},
      </if>
      <if test="EXCHANGE_RATE != null and EXCHANGE_RATE != emptyBigDecimalValue" >
        #{EXCHANGE_RATE},
      </if>
      <if test="CV_AMOUNT != null and CV_AMOUNT != emptyBigDecimalValue" >
        #{CV_AMOUNT},
      </if>
      <if test="TRANS_DATE != null" >
        #{TRANS_DATE},
      </if>
      <if test="VALUE_DATE != null" >
        #{VALUE_DATE},
      </if>
      <if test="REQUESTED_DATE != null" >
        #{REQUESTED_DATE},
      </if>
      <if test="USER_ID != null" >
        #{USER_ID},
      </if>
      <if test="DESCRIPTION != null" >
        #{DESCRIPTION},
      </if>
      <if test="DESCRIPTION_A != null" >
        #{DESCRIPTION_A},
      </if>
      <if test="DESCRIPTION1 != null" >
        #{DESCRIPTION1},
      </if>
      <if test="DESCRIPTION1_A != null" >
        #{DESCRIPTION1_A},
      </if>
      <if test="DESCRIPTION2 != null" >
        #{DESCRIPTION2},
      </if>
      <if test="DESCRIPTION2_A != null" >
        #{DESCRIPTION2_A},
      </if>
      <if test="BS_CONTRA != null" >
        #{BS_CONTRA},
      </if>
      <if test="JV_TYPE != null and JV_TYPE != emptyBigDecimalValue" >
        #{JV_TYPE},
      </if>
      <if test="JV_REF != null" >
        #{JV_REF},
      </if>
      <if test="SCREEN_REFERENCE != null" >
        #{SCREEN_REFERENCE},
      </if>
    </trim>
  </insert>
</mapper>