<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTS_NON_FIN_INFO" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTS_NON_FIN_INFOVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NO" property="LINE_NO" />
    <id column="TRS_NO" property="TRS_NO" />
    <result column="DESTIN_COUNTRY" property="DESTIN_COUNTRY" />
    <result column="CORR_BANK" property="CORR_BANK" />
    <result column="CORR_BANK_NAME" property="CORR_BANK_NAME" />
    <result column="BENEF_BANK_BIC_CODE" property="BENEF_BANK_BIC_CODE" />
    <result column="BENEF_REGION" property="BENEF_REGION" />
    <result column="BENEF_BANK" property="BENEF_BANK" />
    <result column="BENEF_BANK_NAME" property="BENEF_BANK_NAME" />
    <result column="BENEF_BANK_BR" property="BENEF_BANK_BR" />
    <result column="BENEF_BANK_ACC" property="BENEF_BANK_ACC" />
    <result column="BENEF_ADDRESS" property="BENEF_ADDRESS" />
    <result column="BENEF_BANK_ADDRESS" property="BENEF_BANK_ADDRESS" />
    <result column="BENEF_BANK_ADDRESS_1" property="BENEF_BANK_ADDRESS_1" />
    <result column="BENEF_BANK_ADDRESS_2" property="BENEF_BANK_ADDRESS_2" />
    <result column="BENEF_COUNTRY_CODE" property="BENEF_COUNTRY_CODE" />
    <result column="BENEF_ACC" property="BENEF_ACC" />
    <result column="BENEF_NAME" property="BENEF_NAME" />
    <result column="BENEF_ADDRESS_2" property="BENEF_ADDRESS_2" />
    <result column="BENEF_ADDRESS_3" property="BENEF_ADDRESS_3" />
    <result column="BENEF_ADDRESS_4" property="BENEF_ADDRESS_4" />
    <result column="BENEF_CITY" property="BENEF_CITY" />
    <result column="INTERM_BANK" property="INTERM_BANK" />
    <result column="INTERM_BANK_ACC" property="INTERM_BANK_ACC" />
    <result column="INTERM_BANK_BIC" property="INTERM_BANK_BIC" />
    <result column="INTERM_BANK_ADDRESS_1" property="INTERM_BANK_ADDRESS_1" />
    <result column="INTERM_BANK_ADDRESS_2" property="INTERM_BANK_ADDRESS_2" />
    <result column="INTERM_BANK_NAME" property="INTERM_BANK_NAME" />
    <result column="INTERM_BANK_BR" property="INTERM_BANK_BR" />
    <result column="INTERM_BANK_ADDRESS" property="INTERM_BANK_ADDRESS" />
    <result column="SWIFT_SEND_RECEIVE" property="SWIFT_SEND_RECEIVE" />
    <result column="SWIFT_MESS" property="SWIFT_MESS" />
    <result column="SWIFT_SEND_RECEIVE1" property="SWIFT_SEND_RECEIVE1" />
    <result column="SWIFT_MESS1" property="SWIFT_MESS1" />
    <result column="SWIFT_SEND_RECEIVE2" property="SWIFT_SEND_RECEIVE2" />
    <result column="SWIFT_MESS2" property="SWIFT_MESS2" />
    <result column="SWIFT_SEND_RECEIVE3" property="SWIFT_SEND_RECEIVE3" />
    <result column="SWIFT_MESS3" property="SWIFT_MESS3" />
    <result column="SWIFT_CHARGE" property="SWIFT_CHARGE" />
    <result column="RECEIVER_CORR_BANK_BIC_CODE" property="RECEIVER_CORR_BANK_BIC_CODE" />
    <result column="RECEIVER_CORR_BANK_ADDRESS" property="RECEIVER_CORR_BANK_ADDRESS" />
    <result column="RECEIVER_CORR_BANK_ADDRESS1" property="RECEIVER_CORR_BANK_ADDRESS1" />
    <result column="RECEIVER_CORR_BANK_ADDRESS2" property="RECEIVER_CORR_BANK_ADDRESS2" />
    <result column="RECEIVER_CORR_BANK_ADDRESS3" property="RECEIVER_CORR_BANK_ADDRESS3" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="CREATED_DATE" property="CREATED_DATE" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="DATE_MODIFIED" property="DATE_MODIFIED" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, LINE_NO, TRS_NO, DESTIN_COUNTRY, CORR_BANK, CORR_BANK_NAME, 
    BENEF_BANK_BIC_CODE, BENEF_REGION, BENEF_BANK, BENEF_BANK_NAME, BENEF_BANK_BR, BENEF_BANK_ACC, 
    BENEF_ADDRESS, BENEF_BANK_ADDRESS, BENEF_BANK_ADDRESS_1, BENEF_BANK_ADDRESS_2, BENEF_COUNTRY_CODE, 
    BENEF_ACC, BENEF_NAME, BENEF_ADDRESS_2, BENEF_ADDRESS_3, BENEF_ADDRESS_4, BENEF_CITY, 
    INTERM_BANK, INTERM_BANK_ACC, INTERM_BANK_BIC, INTERM_BANK_ADDRESS_1, INTERM_BANK_ADDRESS_2, 
    INTERM_BANK_NAME, INTERM_BANK_BR, INTERM_BANK_ADDRESS, SWIFT_SEND_RECEIVE, SWIFT_MESS, 
    SWIFT_SEND_RECEIVE1, SWIFT_MESS1, SWIFT_SEND_RECEIVE2, SWIFT_MESS2, SWIFT_SEND_RECEIVE3, 
    SWIFT_MESS3, SWIFT_CHARGE, RECEIVER_CORR_BANK_BIC_CODE, RECEIVER_CORR_BANK_ADDRESS, 
    RECEIVER_CORR_BANK_ADDRESS1, RECEIVER_CORR_BANK_ADDRESS2, RECEIVER_CORR_BANK_ADDRESS3, 
    CREATED_BY, CREATED_DATE, MODIFIED_BY, DATE_MODIFIED
  </sql>
  <select id="selectCTS_NON_FIN_INFO" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTS_NON_FIN_INFOVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTS_NON_FIN_INFO
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and TRS_NO = #{TRS_NO}
  </select>
  <delete id="deleteCTS_NON_FIN_INFO" parameterType="com.path.dbmaps.vo.CTS_NON_FIN_INFOVOKey" >
    delete from CTS_NON_FIN_INFO
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and TRS_NO = #{TRS_NO}
  </delete>
  <insert id="insertCTS_NON_FIN_INFO" parameterType="com.path.dbmaps.vo.CTS_NON_FIN_INFOVO" >
    insert into CTS_NON_FIN_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="TRS_NO != null and TRS_NO != emptyBigDecimalValue" >
        TRS_NO,
      </if>
      <if test="DESTIN_COUNTRY != null and DESTIN_COUNTRY != emptyBigDecimalValue" >
        DESTIN_COUNTRY,
      </if>
      <if test="CORR_BANK != null and CORR_BANK != emptyBigDecimalValue" >
        CORR_BANK,
      </if>
      <if test="CORR_BANK_NAME != null and !&quot;&quot;.equals(CORR_BANK_NAME)" >
        CORR_BANK_NAME,
      </if>
      <if test="BENEF_BANK_BIC_CODE != null and !&quot;&quot;.equals(BENEF_BANK_BIC_CODE)" >
        BENEF_BANK_BIC_CODE,
      </if>
      <if test="BENEF_REGION != null and BENEF_REGION != emptyBigDecimalValue" >
        BENEF_REGION,
      </if>
      <if test="BENEF_BANK != null and BENEF_BANK != emptyBigDecimalValue" >
        BENEF_BANK,
      </if>
      <if test="BENEF_BANK_NAME != null and !&quot;&quot;.equals(BENEF_BANK_NAME)" >
        BENEF_BANK_NAME,
      </if>
      <if test="BENEF_BANK_BR != null and !&quot;&quot;.equals(BENEF_BANK_BR)" >
        BENEF_BANK_BR,
      </if>
      <if test="BENEF_BANK_ACC != null and !&quot;&quot;.equals(BENEF_BANK_ACC)" >
        BENEF_BANK_ACC,
      </if>
      <if test="BENEF_ADDRESS != null and !&quot;&quot;.equals(BENEF_ADDRESS)" >
        BENEF_ADDRESS,
      </if>
      <if test="BENEF_BANK_ADDRESS != null and !&quot;&quot;.equals(BENEF_BANK_ADDRESS)" >
        BENEF_BANK_ADDRESS,
      </if>
      <if test="BENEF_BANK_ADDRESS_1 != null and !&quot;&quot;.equals(BENEF_BANK_ADDRESS_1)" >
        BENEF_BANK_ADDRESS_1,
      </if>
      <if test="BENEF_BANK_ADDRESS_2 != null and !&quot;&quot;.equals(BENEF_BANK_ADDRESS_2)" >
        BENEF_BANK_ADDRESS_2,
      </if>
      <if test="BENEF_COUNTRY_CODE != null and BENEF_COUNTRY_CODE != emptyBigDecimalValue" >
        BENEF_COUNTRY_CODE,
      </if>
      <if test="BENEF_ACC != null and !&quot;&quot;.equals(BENEF_ACC)" >
        BENEF_ACC,
      </if>
      <if test="BENEF_NAME != null and !&quot;&quot;.equals(BENEF_NAME)" >
        BENEF_NAME,
      </if>
      <if test="BENEF_ADDRESS_2 != null and !&quot;&quot;.equals(BENEF_ADDRESS_2)" >
        BENEF_ADDRESS_2,
      </if>
      <if test="BENEF_ADDRESS_3 != null and !&quot;&quot;.equals(BENEF_ADDRESS_3)" >
        BENEF_ADDRESS_3,
      </if>
      <if test="BENEF_ADDRESS_4 != null and !&quot;&quot;.equals(BENEF_ADDRESS_4)" >
        BENEF_ADDRESS_4,
      </if>
      <if test="BENEF_CITY != null and BENEF_CITY != emptyBigDecimalValue" >
        BENEF_CITY,
      </if>
      <if test="INTERM_BANK != null and INTERM_BANK != emptyBigDecimalValue" >
        INTERM_BANK,
      </if>
      <if test="INTERM_BANK_ACC != null and !&quot;&quot;.equals(INTERM_BANK_ACC)" >
        INTERM_BANK_ACC,
      </if>
      <if test="INTERM_BANK_BIC != null and !&quot;&quot;.equals(INTERM_BANK_BIC)" >
        INTERM_BANK_BIC,
      </if>
      <if test="INTERM_BANK_ADDRESS_1 != null and !&quot;&quot;.equals(INTERM_BANK_ADDRESS_1)" >
        INTERM_BANK_ADDRESS_1,
      </if>
      <if test="INTERM_BANK_ADDRESS_2 != null and !&quot;&quot;.equals(INTERM_BANK_ADDRESS_2)" >
        INTERM_BANK_ADDRESS_2,
      </if>
      <if test="INTERM_BANK_NAME != null and !&quot;&quot;.equals(INTERM_BANK_NAME)" >
        INTERM_BANK_NAME,
      </if>
      <if test="INTERM_BANK_BR != null and !&quot;&quot;.equals(INTERM_BANK_BR)" >
        INTERM_BANK_BR,
      </if>
      <if test="INTERM_BANK_ADDRESS != null and !&quot;&quot;.equals(INTERM_BANK_ADDRESS)" >
        INTERM_BANK_ADDRESS,
      </if>
      <if test="SWIFT_SEND_RECEIVE != null and !&quot;&quot;.equals(SWIFT_SEND_RECEIVE)" >
        SWIFT_SEND_RECEIVE,
      </if>
      <if test="SWIFT_MESS != null and !&quot;&quot;.equals(SWIFT_MESS)" >
        SWIFT_MESS,
      </if>
      <if test="SWIFT_SEND_RECEIVE1 != null and !&quot;&quot;.equals(SWIFT_SEND_RECEIVE1)" >
        SWIFT_SEND_RECEIVE1,
      </if>
      <if test="SWIFT_MESS1 != null and !&quot;&quot;.equals(SWIFT_MESS1)" >
        SWIFT_MESS1,
      </if>
      <if test="SWIFT_SEND_RECEIVE2 != null and !&quot;&quot;.equals(SWIFT_SEND_RECEIVE2)" >
        SWIFT_SEND_RECEIVE2,
      </if>
      <if test="SWIFT_MESS2 != null and !&quot;&quot;.equals(SWIFT_MESS2)" >
        SWIFT_MESS2,
      </if>
      <if test="SWIFT_SEND_RECEIVE3 != null and !&quot;&quot;.equals(SWIFT_SEND_RECEIVE3)" >
        SWIFT_SEND_RECEIVE3,
      </if>
      <if test="SWIFT_MESS3 != null and !&quot;&quot;.equals(SWIFT_MESS3)" >
        SWIFT_MESS3,
      </if>
      <if test="SWIFT_CHARGE != null and !&quot;&quot;.equals(SWIFT_CHARGE)" >
        SWIFT_CHARGE,
      </if>
      <if test="RECEIVER_CORR_BANK_BIC_CODE != null and !&quot;&quot;.equals(RECEIVER_CORR_BANK_BIC_CODE)" >
        RECEIVER_CORR_BANK_BIC_CODE,
      </if>
      <if test="RECEIVER_CORR_BANK_ADDRESS != null and !&quot;&quot;.equals(RECEIVER_CORR_BANK_ADDRESS)" >
        RECEIVER_CORR_BANK_ADDRESS,
      </if>
      <if test="RECEIVER_CORR_BANK_ADDRESS1 != null and !&quot;&quot;.equals(RECEIVER_CORR_BANK_ADDRESS1)" >
        RECEIVER_CORR_BANK_ADDRESS1,
      </if>
      <if test="RECEIVER_CORR_BANK_ADDRESS2 != null and !&quot;&quot;.equals(RECEIVER_CORR_BANK_ADDRESS2)" >
        RECEIVER_CORR_BANK_ADDRESS2,
      </if>
      <if test="RECEIVER_CORR_BANK_ADDRESS3 != null and !&quot;&quot;.equals(RECEIVER_CORR_BANK_ADDRESS3)" >
        RECEIVER_CORR_BANK_ADDRESS3,
      </if>
      <if test="CREATED_BY != null and !&quot;&quot;.equals(CREATED_BY)" >
        CREATED_BY,
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE,
      </if>
      <if test="MODIFIED_BY != null and !&quot;&quot;.equals(MODIFIED_BY)" >
        MODIFIED_BY,
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="TRS_NO != null and TRS_NO != emptyBigDecimalValue" >
        #{TRS_NO},
      </if>
      <if test="DESTIN_COUNTRY != null and DESTIN_COUNTRY != emptyBigDecimalValue" >
        #{DESTIN_COUNTRY},
      </if>
      <if test="CORR_BANK != null and CORR_BANK != emptyBigDecimalValue" >
        #{CORR_BANK},
      </if>
      <if test="CORR_BANK_NAME != null and !&quot;&quot;.equals(CORR_BANK_NAME)" >
        #{CORR_BANK_NAME},
      </if>
      <if test="BENEF_BANK_BIC_CODE != null and !&quot;&quot;.equals(BENEF_BANK_BIC_CODE)" >
        #{BENEF_BANK_BIC_CODE},
      </if>
      <if test="BENEF_REGION != null and BENEF_REGION != emptyBigDecimalValue" >
        #{BENEF_REGION},
      </if>
      <if test="BENEF_BANK != null and BENEF_BANK != emptyBigDecimalValue" >
        #{BENEF_BANK},
      </if>
      <if test="BENEF_BANK_NAME != null and !&quot;&quot;.equals(BENEF_BANK_NAME)" >
        #{BENEF_BANK_NAME},
      </if>
      <if test="BENEF_BANK_BR != null and !&quot;&quot;.equals(BENEF_BANK_BR)" >
        #{BENEF_BANK_BR},
      </if>
      <if test="BENEF_BANK_ACC != null and !&quot;&quot;.equals(BENEF_BANK_ACC)" >
        #{BENEF_BANK_ACC},
      </if>
      <if test="BENEF_ADDRESS != null and !&quot;&quot;.equals(BENEF_ADDRESS)" >
        #{BENEF_ADDRESS},
      </if>
      <if test="BENEF_BANK_ADDRESS != null and !&quot;&quot;.equals(BENEF_BANK_ADDRESS)" >
        #{BENEF_BANK_ADDRESS},
      </if>
      <if test="BENEF_BANK_ADDRESS_1 != null and !&quot;&quot;.equals(BENEF_BANK_ADDRESS_1)" >
        #{BENEF_BANK_ADDRESS_1},
      </if>
      <if test="BENEF_BANK_ADDRESS_2 != null and !&quot;&quot;.equals(BENEF_BANK_ADDRESS_2)" >
        #{BENEF_BANK_ADDRESS_2},
      </if>
      <if test="BENEF_COUNTRY_CODE != null and BENEF_COUNTRY_CODE != emptyBigDecimalValue" >
        #{BENEF_COUNTRY_CODE},
      </if>
      <if test="BENEF_ACC != null and !&quot;&quot;.equals(BENEF_ACC)" >
        #{BENEF_ACC},
      </if>
      <if test="BENEF_NAME != null and !&quot;&quot;.equals(BENEF_NAME)" >
        #{BENEF_NAME},
      </if>
      <if test="BENEF_ADDRESS_2 != null and !&quot;&quot;.equals(BENEF_ADDRESS_2)" >
        #{BENEF_ADDRESS_2},
      </if>
      <if test="BENEF_ADDRESS_3 != null and !&quot;&quot;.equals(BENEF_ADDRESS_3)" >
        #{BENEF_ADDRESS_3},
      </if>
      <if test="BENEF_ADDRESS_4 != null and !&quot;&quot;.equals(BENEF_ADDRESS_4)" >
        #{BENEF_ADDRESS_4},
      </if>
      <if test="BENEF_CITY != null and BENEF_CITY != emptyBigDecimalValue" >
        #{BENEF_CITY},
      </if>
      <if test="INTERM_BANK != null and INTERM_BANK != emptyBigDecimalValue" >
        #{INTERM_BANK},
      </if>
      <if test="INTERM_BANK_ACC != null and !&quot;&quot;.equals(INTERM_BANK_ACC)" >
        #{INTERM_BANK_ACC},
      </if>
      <if test="INTERM_BANK_BIC != null and !&quot;&quot;.equals(INTERM_BANK_BIC)" >
        #{INTERM_BANK_BIC},
      </if>
      <if test="INTERM_BANK_ADDRESS_1 != null and !&quot;&quot;.equals(INTERM_BANK_ADDRESS_1)" >
        #{INTERM_BANK_ADDRESS_1},
      </if>
      <if test="INTERM_BANK_ADDRESS_2 != null and !&quot;&quot;.equals(INTERM_BANK_ADDRESS_2)" >
        #{INTERM_BANK_ADDRESS_2},
      </if>
      <if test="INTERM_BANK_NAME != null and !&quot;&quot;.equals(INTERM_BANK_NAME)" >
        #{INTERM_BANK_NAME},
      </if>
      <if test="INTERM_BANK_BR != null and !&quot;&quot;.equals(INTERM_BANK_BR)" >
        #{INTERM_BANK_BR},
      </if>
      <if test="INTERM_BANK_ADDRESS != null and !&quot;&quot;.equals(INTERM_BANK_ADDRESS)" >
        #{INTERM_BANK_ADDRESS},
      </if>
      <if test="SWIFT_SEND_RECEIVE != null and !&quot;&quot;.equals(SWIFT_SEND_RECEIVE)" >
        #{SWIFT_SEND_RECEIVE},
      </if>
      <if test="SWIFT_MESS != null and !&quot;&quot;.equals(SWIFT_MESS)" >
        #{SWIFT_MESS},
      </if>
      <if test="SWIFT_SEND_RECEIVE1 != null and !&quot;&quot;.equals(SWIFT_SEND_RECEIVE1)" >
        #{SWIFT_SEND_RECEIVE1},
      </if>
      <if test="SWIFT_MESS1 != null and !&quot;&quot;.equals(SWIFT_MESS1)" >
        #{SWIFT_MESS1},
      </if>
      <if test="SWIFT_SEND_RECEIVE2 != null and !&quot;&quot;.equals(SWIFT_SEND_RECEIVE2)" >
        #{SWIFT_SEND_RECEIVE2},
      </if>
      <if test="SWIFT_MESS2 != null and !&quot;&quot;.equals(SWIFT_MESS2)" >
        #{SWIFT_MESS2},
      </if>
      <if test="SWIFT_SEND_RECEIVE3 != null and !&quot;&quot;.equals(SWIFT_SEND_RECEIVE3)" >
        #{SWIFT_SEND_RECEIVE3},
      </if>
      <if test="SWIFT_MESS3 != null and !&quot;&quot;.equals(SWIFT_MESS3)" >
        #{SWIFT_MESS3},
      </if>
      <if test="SWIFT_CHARGE != null and !&quot;&quot;.equals(SWIFT_CHARGE)" >
        #{SWIFT_CHARGE},
      </if>
      <if test="RECEIVER_CORR_BANK_BIC_CODE != null and !&quot;&quot;.equals(RECEIVER_CORR_BANK_BIC_CODE)" >
        #{RECEIVER_CORR_BANK_BIC_CODE},
      </if>
      <if test="RECEIVER_CORR_BANK_ADDRESS != null and !&quot;&quot;.equals(RECEIVER_CORR_BANK_ADDRESS)" >
        #{RECEIVER_CORR_BANK_ADDRESS},
      </if>
      <if test="RECEIVER_CORR_BANK_ADDRESS1 != null and !&quot;&quot;.equals(RECEIVER_CORR_BANK_ADDRESS1)" >
        #{RECEIVER_CORR_BANK_ADDRESS1},
      </if>
      <if test="RECEIVER_CORR_BANK_ADDRESS2 != null and !&quot;&quot;.equals(RECEIVER_CORR_BANK_ADDRESS2)" >
        #{RECEIVER_CORR_BANK_ADDRESS2},
      </if>
      <if test="RECEIVER_CORR_BANK_ADDRESS3 != null and !&quot;&quot;.equals(RECEIVER_CORR_BANK_ADDRESS3)" >
        #{RECEIVER_CORR_BANK_ADDRESS3},
      </if>
      <if test="CREATED_BY != null and !&quot;&quot;.equals(CREATED_BY)" >
        #{CREATED_BY},
      </if>
      <if test="CREATED_DATE != null" >
        #{CREATED_DATE},
      </if>
      <if test="MODIFIED_BY != null and !&quot;&quot;.equals(MODIFIED_BY)" >
        #{MODIFIED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        #{DATE_MODIFIED},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTS_NON_FIN_INFO" >
    update CTS_NON_FIN_INFO
    <set >
      <if test="DESTIN_COUNTRY != null" >
        <choose >
          <when test="DESTIN_COUNTRY == emptyBigDecimalValue" >
            DESTIN_COUNTRY = NULL ,
          </when>
          <otherwise >
            DESTIN_COUNTRY = #{DESTIN_COUNTRY},
          </otherwise>
        </choose>
      </if>
      <if test="CORR_BANK != null" >
        <choose >
          <when test="CORR_BANK == emptyBigDecimalValue" >
            CORR_BANK = NULL ,
          </when>
          <otherwise >
            CORR_BANK = #{CORR_BANK},
          </otherwise>
        </choose>
      </if>
      <if test="CORR_BANK_NAME != null" >
        <choose >
          <when test="CORR_BANK_NAME.equals(&quot;&quot;)" >
            CORR_BANK_NAME = NULL ,
          </when>
          <otherwise >
            CORR_BANK_NAME = #{CORR_BANK_NAME},
          </otherwise>
        </choose>
      </if>
      <if test="BENEF_BANK_BIC_CODE != null" >
        <choose >
          <when test="BENEF_BANK_BIC_CODE.equals(&quot;&quot;)" >
            BENEF_BANK_BIC_CODE = NULL ,
          </when>
          <otherwise >
            BENEF_BANK_BIC_CODE = #{BENEF_BANK_BIC_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="BENEF_REGION != null" >
        <choose >
          <when test="BENEF_REGION == emptyBigDecimalValue" >
            BENEF_REGION = NULL ,
          </when>
          <otherwise >
            BENEF_REGION = #{BENEF_REGION},
          </otherwise>
        </choose>
      </if>
      <if test="BENEF_BANK != null" >
        <choose >
          <when test="BENEF_BANK == emptyBigDecimalValue" >
            BENEF_BANK = NULL ,
          </when>
          <otherwise >
            BENEF_BANK = #{BENEF_BANK},
          </otherwise>
        </choose>
      </if>
      <if test="BENEF_BANK_NAME != null" >
        <choose >
          <when test="BENEF_BANK_NAME.equals(&quot;&quot;)" >
            BENEF_BANK_NAME = NULL ,
          </when>
          <otherwise >
            BENEF_BANK_NAME = #{BENEF_BANK_NAME},
          </otherwise>
        </choose>
      </if>
      <if test="BENEF_BANK_BR != null" >
        <choose >
          <when test="BENEF_BANK_BR.equals(&quot;&quot;)" >
            BENEF_BANK_BR = NULL ,
          </when>
          <otherwise >
            BENEF_BANK_BR = #{BENEF_BANK_BR},
          </otherwise>
        </choose>
      </if>
      <if test="BENEF_BANK_ACC != null" >
        <choose >
          <when test="BENEF_BANK_ACC.equals(&quot;&quot;)" >
            BENEF_BANK_ACC = NULL ,
          </when>
          <otherwise >
            BENEF_BANK_ACC = #{BENEF_BANK_ACC},
          </otherwise>
        </choose>
      </if>
      <if test="BENEF_ADDRESS != null" >
        <choose >
          <when test="BENEF_ADDRESS.equals(&quot;&quot;)" >
            BENEF_ADDRESS = NULL ,
          </when>
          <otherwise >
            BENEF_ADDRESS = #{BENEF_ADDRESS},
          </otherwise>
        </choose>
      </if>
      <if test="BENEF_BANK_ADDRESS != null" >
        <choose >
          <when test="BENEF_BANK_ADDRESS.equals(&quot;&quot;)" >
            BENEF_BANK_ADDRESS = NULL ,
          </when>
          <otherwise >
            BENEF_BANK_ADDRESS = #{BENEF_BANK_ADDRESS},
          </otherwise>
        </choose>
      </if>
      <if test="BENEF_BANK_ADDRESS_1 != null" >
        <choose >
          <when test="BENEF_BANK_ADDRESS_1.equals(&quot;&quot;)" >
            BENEF_BANK_ADDRESS_1 = NULL ,
          </when>
          <otherwise >
            BENEF_BANK_ADDRESS_1 = #{BENEF_BANK_ADDRESS_1},
          </otherwise>
        </choose>
      </if>
      <if test="BENEF_BANK_ADDRESS_2 != null" >
        <choose >
          <when test="BENEF_BANK_ADDRESS_2.equals(&quot;&quot;)" >
            BENEF_BANK_ADDRESS_2 = NULL ,
          </when>
          <otherwise >
            BENEF_BANK_ADDRESS_2 = #{BENEF_BANK_ADDRESS_2},
          </otherwise>
        </choose>
      </if>
      <if test="BENEF_COUNTRY_CODE != null" >
        <choose >
          <when test="BENEF_COUNTRY_CODE == emptyBigDecimalValue" >
            BENEF_COUNTRY_CODE = NULL ,
          </when>
          <otherwise >
            BENEF_COUNTRY_CODE = #{BENEF_COUNTRY_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="BENEF_ACC != null" >
        <choose >
          <when test="BENEF_ACC.equals(&quot;&quot;)" >
            BENEF_ACC = NULL ,
          </when>
          <otherwise >
            BENEF_ACC = #{BENEF_ACC},
          </otherwise>
        </choose>
      </if>
      <if test="BENEF_NAME != null" >
        <choose >
          <when test="BENEF_NAME.equals(&quot;&quot;)" >
            BENEF_NAME = NULL ,
          </when>
          <otherwise >
            BENEF_NAME = #{BENEF_NAME},
          </otherwise>
        </choose>
      </if>
      <if test="BENEF_ADDRESS_2 != null" >
        <choose >
          <when test="BENEF_ADDRESS_2.equals(&quot;&quot;)" >
            BENEF_ADDRESS_2 = NULL ,
          </when>
          <otherwise >
            BENEF_ADDRESS_2 = #{BENEF_ADDRESS_2},
          </otherwise>
        </choose>
      </if>
      <if test="BENEF_ADDRESS_3 != null" >
        <choose >
          <when test="BENEF_ADDRESS_3.equals(&quot;&quot;)" >
            BENEF_ADDRESS_3 = NULL ,
          </when>
          <otherwise >
            BENEF_ADDRESS_3 = #{BENEF_ADDRESS_3},
          </otherwise>
        </choose>
      </if>
      <if test="BENEF_ADDRESS_4 != null" >
        <choose >
          <when test="BENEF_ADDRESS_4.equals(&quot;&quot;)" >
            BENEF_ADDRESS_4 = NULL ,
          </when>
          <otherwise >
            BENEF_ADDRESS_4 = #{BENEF_ADDRESS_4},
          </otherwise>
        </choose>
      </if>
      <if test="BENEF_CITY != null" >
        <choose >
          <when test="BENEF_CITY == emptyBigDecimalValue" >
            BENEF_CITY = NULL ,
          </when>
          <otherwise >
            BENEF_CITY = #{BENEF_CITY},
          </otherwise>
        </choose>
      </if>
      <if test="INTERM_BANK != null" >
        <choose >
          <when test="INTERM_BANK == emptyBigDecimalValue" >
            INTERM_BANK = NULL ,
          </when>
          <otherwise >
            INTERM_BANK = #{INTERM_BANK},
          </otherwise>
        </choose>
      </if>
      <if test="INTERM_BANK_ACC != null" >
        <choose >
          <when test="INTERM_BANK_ACC.equals(&quot;&quot;)" >
            INTERM_BANK_ACC = NULL ,
          </when>
          <otherwise >
            INTERM_BANK_ACC = #{INTERM_BANK_ACC},
          </otherwise>
        </choose>
      </if>
      <if test="INTERM_BANK_BIC != null" >
        <choose >
          <when test="INTERM_BANK_BIC.equals(&quot;&quot;)" >
            INTERM_BANK_BIC = NULL ,
          </when>
          <otherwise >
            INTERM_BANK_BIC = #{INTERM_BANK_BIC},
          </otherwise>
        </choose>
      </if>
      <if test="INTERM_BANK_ADDRESS_1 != null" >
        <choose >
          <when test="INTERM_BANK_ADDRESS_1.equals(&quot;&quot;)" >
            INTERM_BANK_ADDRESS_1 = NULL ,
          </when>
          <otherwise >
            INTERM_BANK_ADDRESS_1 = #{INTERM_BANK_ADDRESS_1},
          </otherwise>
        </choose>
      </if>
      <if test="INTERM_BANK_ADDRESS_2 != null" >
        <choose >
          <when test="INTERM_BANK_ADDRESS_2.equals(&quot;&quot;)" >
            INTERM_BANK_ADDRESS_2 = NULL ,
          </when>
          <otherwise >
            INTERM_BANK_ADDRESS_2 = #{INTERM_BANK_ADDRESS_2},
          </otherwise>
        </choose>
      </if>
      <if test="INTERM_BANK_NAME != null" >
        <choose >
          <when test="INTERM_BANK_NAME.equals(&quot;&quot;)" >
            INTERM_BANK_NAME = NULL ,
          </when>
          <otherwise >
            INTERM_BANK_NAME = #{INTERM_BANK_NAME},
          </otherwise>
        </choose>
      </if>
      <if test="INTERM_BANK_BR != null" >
        <choose >
          <when test="INTERM_BANK_BR.equals(&quot;&quot;)" >
            INTERM_BANK_BR = NULL ,
          </when>
          <otherwise >
            INTERM_BANK_BR = #{INTERM_BANK_BR},
          </otherwise>
        </choose>
      </if>
      <if test="INTERM_BANK_ADDRESS != null" >
        <choose >
          <when test="INTERM_BANK_ADDRESS.equals(&quot;&quot;)" >
            INTERM_BANK_ADDRESS = NULL ,
          </when>
          <otherwise >
            INTERM_BANK_ADDRESS = #{INTERM_BANK_ADDRESS},
          </otherwise>
        </choose>
      </if>
      <if test="SWIFT_SEND_RECEIVE != null" >
        <choose >
          <when test="SWIFT_SEND_RECEIVE.equals(&quot;&quot;)" >
            SWIFT_SEND_RECEIVE = NULL ,
          </when>
          <otherwise >
            SWIFT_SEND_RECEIVE = #{SWIFT_SEND_RECEIVE},
          </otherwise>
        </choose>
      </if>
      <if test="SWIFT_MESS != null" >
        <choose >
          <when test="SWIFT_MESS.equals(&quot;&quot;)" >
            SWIFT_MESS = NULL ,
          </when>
          <otherwise >
            SWIFT_MESS = #{SWIFT_MESS},
          </otherwise>
        </choose>
      </if>
      <if test="SWIFT_SEND_RECEIVE1 != null" >
        <choose >
          <when test="SWIFT_SEND_RECEIVE1.equals(&quot;&quot;)" >
            SWIFT_SEND_RECEIVE1 = NULL ,
          </when>
          <otherwise >
            SWIFT_SEND_RECEIVE1 = #{SWIFT_SEND_RECEIVE1},
          </otherwise>
        </choose>
      </if>
      <if test="SWIFT_MESS1 != null" >
        <choose >
          <when test="SWIFT_MESS1.equals(&quot;&quot;)" >
            SWIFT_MESS1 = NULL ,
          </when>
          <otherwise >
            SWIFT_MESS1 = #{SWIFT_MESS1},
          </otherwise>
        </choose>
      </if>
      <if test="SWIFT_SEND_RECEIVE2 != null" >
        <choose >
          <when test="SWIFT_SEND_RECEIVE2.equals(&quot;&quot;)" >
            SWIFT_SEND_RECEIVE2 = NULL ,
          </when>
          <otherwise >
            SWIFT_SEND_RECEIVE2 = #{SWIFT_SEND_RECEIVE2},
          </otherwise>
        </choose>
      </if>
      <if test="SWIFT_MESS2 != null" >
        <choose >
          <when test="SWIFT_MESS2.equals(&quot;&quot;)" >
            SWIFT_MESS2 = NULL ,
          </when>
          <otherwise >
            SWIFT_MESS2 = #{SWIFT_MESS2},
          </otherwise>
        </choose>
      </if>
      <if test="SWIFT_SEND_RECEIVE3 != null" >
        <choose >
          <when test="SWIFT_SEND_RECEIVE3.equals(&quot;&quot;)" >
            SWIFT_SEND_RECEIVE3 = NULL ,
          </when>
          <otherwise >
            SWIFT_SEND_RECEIVE3 = #{SWIFT_SEND_RECEIVE3},
          </otherwise>
        </choose>
      </if>
      <if test="SWIFT_MESS3 != null" >
        <choose >
          <when test="SWIFT_MESS3.equals(&quot;&quot;)" >
            SWIFT_MESS3 = NULL ,
          </when>
          <otherwise >
            SWIFT_MESS3 = #{SWIFT_MESS3},
          </otherwise>
        </choose>
      </if>
      <if test="SWIFT_CHARGE != null" >
        <choose >
          <when test="SWIFT_CHARGE.equals(&quot;&quot;)" >
            SWIFT_CHARGE = NULL ,
          </when>
          <otherwise >
            SWIFT_CHARGE = #{SWIFT_CHARGE},
          </otherwise>
        </choose>
      </if>
      <if test="RECEIVER_CORR_BANK_BIC_CODE != null" >
        <choose >
          <when test="RECEIVER_CORR_BANK_BIC_CODE.equals(&quot;&quot;)" >
            RECEIVER_CORR_BANK_BIC_CODE = NULL ,
          </when>
          <otherwise >
            RECEIVER_CORR_BANK_BIC_CODE = #{RECEIVER_CORR_BANK_BIC_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="RECEIVER_CORR_BANK_ADDRESS != null" >
        <choose >
          <when test="RECEIVER_CORR_BANK_ADDRESS.equals(&quot;&quot;)" >
            RECEIVER_CORR_BANK_ADDRESS = NULL ,
          </when>
          <otherwise >
            RECEIVER_CORR_BANK_ADDRESS = #{RECEIVER_CORR_BANK_ADDRESS},
          </otherwise>
        </choose>
      </if>
      <if test="RECEIVER_CORR_BANK_ADDRESS1 != null" >
        <choose >
          <when test="RECEIVER_CORR_BANK_ADDRESS1.equals(&quot;&quot;)" >
            RECEIVER_CORR_BANK_ADDRESS1 = NULL ,
          </when>
          <otherwise >
            RECEIVER_CORR_BANK_ADDRESS1 = #{RECEIVER_CORR_BANK_ADDRESS1},
          </otherwise>
        </choose>
      </if>
      <if test="RECEIVER_CORR_BANK_ADDRESS2 != null" >
        <choose >
          <when test="RECEIVER_CORR_BANK_ADDRESS2.equals(&quot;&quot;)" >
            RECEIVER_CORR_BANK_ADDRESS2 = NULL ,
          </when>
          <otherwise >
            RECEIVER_CORR_BANK_ADDRESS2 = #{RECEIVER_CORR_BANK_ADDRESS2},
          </otherwise>
        </choose>
      </if>
      <if test="RECEIVER_CORR_BANK_ADDRESS3 != null" >
        <choose >
          <when test="RECEIVER_CORR_BANK_ADDRESS3.equals(&quot;&quot;)" >
            RECEIVER_CORR_BANK_ADDRESS3 = NULL ,
          </when>
          <otherwise >
            RECEIVER_CORR_BANK_ADDRESS3 = #{RECEIVER_CORR_BANK_ADDRESS3},
          </otherwise>
        </choose>
      </if>
      <if test="CREATED_BY != null" >
        <choose >
          <when test="CREATED_BY.equals(&quot;&quot;)" >
            CREATED_BY = NULL ,
          </when>
          <otherwise >
            CREATED_BY = #{CREATED_BY},
          </otherwise>
        </choose>
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE = #{CREATED_DATE},
      </if>
      <if test="MODIFIED_BY != null" >
        <choose >
          <when test="MODIFIED_BY.equals(&quot;&quot;)" >
            MODIFIED_BY = NULL ,
          </when>
          <otherwise >
            MODIFIED_BY = #{MODIFIED_BY},
          </otherwise>
        </choose>
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED = #{DATE_MODIFIED},
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and TRS_NO = #{TRS_NO}
  </sql>
  <update id="updateCTS_NON_FIN_INFO" parameterType="com.path.dbmaps.vo.CTS_NON_FIN_INFOVO" >
    <include refid="sql_updateCTS_NON_FIN_INFO" />
  </update>
</mapper>