<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTSCERTIFICATEACC" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTSCERTIFICATEACCVO" >
    <id column="BRANCH" property="BRANCH" />
    <id column="CERTIFICATE_CODE" property="CERTIFICATE_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NBR" property="LINE_NBR" />
    <result column="STATUS" property="STATUS" />
    <result column="ACC_BR" property="ACC_BR" />
    <result column="ACC_CY" property="ACC_CY" />
    <result column="ACC_GL" property="ACC_GL" />
    <result column="ACC_CIF" property="ACC_CIF" />
    <result column="ACC_SL" property="ACC_SL" />
    <result column="ACC_ADD_REF" property="ACC_ADD_REF" />
    <result column="ACC_SIGN" property="ACC_SIGN" />
    <result column="SELECTED" property="SELECTED" />
    <result column="ACC_BALANCE" property="ACC_BALANCE" />
    <result column="BALANCE_NEW" property="BALANCE_NEW" />
    <result column="BCY_BALANCE" property="BCY_BALANCE" />
    <result column="DEDUCT" property="DEDUCT" />
    <result column="EXCHANGE_RATE" property="EXCHANGE_RATE" />
    <result column="FIELD1" property="FIELD1" />
    <result column="FIELD2" property="FIELD2" />
    <result column="BLOCKED_FC" property="BLOCKED_FC" />
    <result column="BLOCKED_CV" property="BLOCKED_CV" />
    <result column="ACC_SALARY" property="ACC_SALARY" />
    <result column="CREDIT_ACCOUNT_YN" property="CREDIT_ACCOUNT_YN" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH, CERTIFICATE_CODE, COMP_CODE, LINE_NBR, STATUS, ACC_BR, ACC_CY, ACC_GL, ACC_CIF, 
    ACC_SL, ACC_ADD_REF, ACC_SIGN, SELECTED, ACC_BALANCE, BALANCE_NEW, BCY_BALANCE, DEDUCT, 
    EXCHANGE_RATE, FIELD1, FIELD2, BLOCKED_FC, BLOCKED_CV, ACC_SALARY, CREDIT_ACCOUNT_YN
  </sql>
  <select id="selectCTSCERTIFICATEACC" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTSCERTIFICATEACCVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTSCERTIFICATEACC
    where BRANCH = #{BRANCH}
      and CERTIFICATE_CODE = #{CERTIFICATE_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NBR = #{LINE_NBR}
  </select>
  <delete id="deleteCTSCERTIFICATEACC" parameterType="com.path.dbmaps.vo.CTSCERTIFICATEACCVOKey" >
    delete from CTSCERTIFICATEACC
    where BRANCH = #{BRANCH}
      and CERTIFICATE_CODE = #{CERTIFICATE_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NBR = #{LINE_NBR}
  </delete>
  <insert id="insertCTSCERTIFICATEACC" parameterType="com.path.dbmaps.vo.CTSCERTIFICATEACCVO" >
    insert into CTSCERTIFICATEACC
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH != null and BRANCH != emptyBigDecimalValue" >
        BRANCH,
      </if>
      <if test="CERTIFICATE_CODE != null and CERTIFICATE_CODE != emptyBigDecimalValue" >
        CERTIFICATE_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NBR != null and LINE_NBR != emptyBigDecimalValue" >
        LINE_NBR,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="ACC_BR != null and ACC_BR != emptyBigDecimalValue" >
        ACC_BR,
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        ACC_CY,
      </if>
      <if test="ACC_GL != null and ACC_GL != emptyBigDecimalValue" >
        ACC_GL,
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        ACC_CIF,
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        ACC_SL,
      </if>
      <if test="ACC_ADD_REF != null" >
        ACC_ADD_REF,
      </if>
      <if test="ACC_SIGN != null" >
        ACC_SIGN,
      </if>
      <if test="SELECTED != null" >
        SELECTED,
      </if>
      <if test="ACC_BALANCE != null and ACC_BALANCE != emptyBigDecimalValue" >
        ACC_BALANCE,
      </if>
      <if test="BALANCE_NEW != null and BALANCE_NEW != emptyBigDecimalValue" >
        BALANCE_NEW,
      </if>
      <if test="BCY_BALANCE != null and BCY_BALANCE != emptyBigDecimalValue" >
        BCY_BALANCE,
      </if>
      <if test="DEDUCT != null" >
        DEDUCT,
      </if>
      <if test="EXCHANGE_RATE != null and EXCHANGE_RATE != emptyBigDecimalValue" >
        EXCHANGE_RATE,
      </if>
      <if test="FIELD1 != null" >
        FIELD1,
      </if>
      <if test="FIELD2 != null" >
        FIELD2,
      </if>
      <if test="BLOCKED_FC != null and BLOCKED_FC != emptyBigDecimalValue" >
        BLOCKED_FC,
      </if>
      <if test="BLOCKED_CV != null and BLOCKED_CV != emptyBigDecimalValue" >
        BLOCKED_CV,
      </if>
      <if test="ACC_SALARY != null" >
        ACC_SALARY,
      </if>
      <if test="CREDIT_ACCOUNT_YN != null">
        CREDIT_ACCOUNT_YN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH != null and BRANCH != emptyBigDecimalValue" >
        #{BRANCH},
      </if>
      <if test="CERTIFICATE_CODE != null and CERTIFICATE_CODE != emptyBigDecimalValue" >
        #{CERTIFICATE_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NBR != null and LINE_NBR != emptyBigDecimalValue" >
        #{LINE_NBR},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="ACC_BR != null and ACC_BR != emptyBigDecimalValue" >
        #{ACC_BR},
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        #{ACC_CY},
      </if>
      <if test="ACC_GL != null and ACC_GL != emptyBigDecimalValue" >
        #{ACC_GL},
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        #{ACC_CIF},
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        #{ACC_SL},
      </if>
      <if test="ACC_ADD_REF != null" >
        #{ACC_ADD_REF},
      </if>
      <if test="ACC_SIGN != null" >
        #{ACC_SIGN},
      </if>
      <if test="SELECTED != null" >
        #{SELECTED},
      </if>
      <if test="ACC_BALANCE != null and ACC_BALANCE != emptyBigDecimalValue" >
        #{ACC_BALANCE},
      </if>
      <if test="BALANCE_NEW != null and BALANCE_NEW != emptyBigDecimalValue" >
        #{BALANCE_NEW},
      </if>
      <if test="BCY_BALANCE != null and BCY_BALANCE != emptyBigDecimalValue" >
        #{BCY_BALANCE},
      </if>
      <if test="DEDUCT != null" >
        #{DEDUCT},
      </if>
      <if test="EXCHANGE_RATE != null and EXCHANGE_RATE != emptyBigDecimalValue" >
        #{EXCHANGE_RATE},
      </if>
      <if test="FIELD1 != null" >
        #{FIELD1},
      </if>
      <if test="FIELD2 != null" >
        #{FIELD2},
      </if>
      <if test="BLOCKED_FC != null and BLOCKED_FC != emptyBigDecimalValue" >
        #{BLOCKED_FC},
      </if>
      <if test="BLOCKED_CV != null and BLOCKED_CV != emptyBigDecimalValue" >
        #{BLOCKED_CV},
      </if>
      <if test="ACC_SALARY != null" >
        #{ACC_SALARY},
      </if>
      <if test="CREDIT_ACCOUNT_YN != null" >
        #{CREDIT_ACCOUNT_YN},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTSCERTIFICATEACC" >
    update CTSCERTIFICATEACC
    <set >
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="ACC_BR != null" >
        <choose >
          <when test="ACC_BR == emptyBigDecimalValue" >
            ACC_BR = NULL ,
          </when>
          <otherwise >
            ACC_BR = #{ACC_BR},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CY != null" >
        <choose >
          <when test="ACC_CY == emptyBigDecimalValue" >
            ACC_CY = NULL ,
          </when>
          <otherwise >
            ACC_CY = #{ACC_CY},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_GL != null" >
        <choose >
          <when test="ACC_GL == emptyBigDecimalValue" >
            ACC_GL = NULL ,
          </when>
          <otherwise >
            ACC_GL = #{ACC_GL},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CIF != null" >
        <choose >
          <when test="ACC_CIF == emptyBigDecimalValue" >
            ACC_CIF = NULL ,
          </when>
          <otherwise >
            ACC_CIF = #{ACC_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_SL != null" >
        <choose >
          <when test="ACC_SL == emptyBigDecimalValue" >
            ACC_SL = NULL ,
          </when>
          <otherwise >
            ACC_SL = #{ACC_SL},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_ADD_REF != null" >
        ACC_ADD_REF = #{ACC_ADD_REF},
      </if>
      <if test="ACC_SIGN != null" >
        ACC_SIGN = #{ACC_SIGN},
      </if>
      <if test="SELECTED != null" >
        SELECTED = #{SELECTED},
      </if>
      <if test="ACC_BALANCE != null" >
        <choose >
          <when test="ACC_BALANCE == emptyBigDecimalValue" >
            ACC_BALANCE = NULL ,
          </when>
          <otherwise >
            ACC_BALANCE = #{ACC_BALANCE},
          </otherwise>
        </choose>
      </if>
      <if test="BALANCE_NEW != null" >
        <choose >
          <when test="BALANCE_NEW == emptyBigDecimalValue" >
            BALANCE_NEW = NULL ,
          </when>
          <otherwise >
            BALANCE_NEW = #{BALANCE_NEW},
          </otherwise>
        </choose>
      </if>
      <if test="BCY_BALANCE != null" >
        <choose >
          <when test="BCY_BALANCE == emptyBigDecimalValue" >
            BCY_BALANCE = NULL ,
          </when>
          <otherwise >
            BCY_BALANCE = #{BCY_BALANCE},
          </otherwise>
        </choose>
      </if>
      <if test="DEDUCT != null" >
        DEDUCT = #{DEDUCT},
      </if>
      <if test="EXCHANGE_RATE != null" >
        <choose >
          <when test="EXCHANGE_RATE == emptyBigDecimalValue" >
            EXCHANGE_RATE = NULL ,
          </when>
          <otherwise >
            EXCHANGE_RATE = #{EXCHANGE_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="FIELD1 != null" >
        FIELD1 = #{FIELD1},
      </if>
      <if test="FIELD2 != null" >
        FIELD2 = #{FIELD2},
      </if>
      <if test="BLOCKED_FC != null" >
        <choose >
          <when test="BLOCKED_FC == emptyBigDecimalValue" >
            BLOCKED_FC = NULL ,
          </when>
          <otherwise >
            BLOCKED_FC = #{BLOCKED_FC},
          </otherwise>
        </choose>
      </if>
      <if test="BLOCKED_CV != null" >
        <choose >
          <when test="BLOCKED_CV == emptyBigDecimalValue" >
            BLOCKED_CV = NULL ,
          </when>
          <otherwise >
            BLOCKED_CV = #{BLOCKED_CV},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_SALARY != null" >
        ACC_SALARY = #{ACC_SALARY},
      </if>
      <if test="CREDIT_ACCOUNT_YN != null" >
        CREDIT_ACCOUNT_YN = #{CREDIT_ACCOUNT_YN},
      </if>
    </set>
    where BRANCH = #{BRANCH}
      and CERTIFICATE_CODE = #{CERTIFICATE_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NBR = #{LINE_NBR}
  </sql>
  <update id="updateCTSCERTIFICATEACC" parameterType="com.path.dbmaps.vo.CTSCERTIFICATEACCVO" >
    <include refid="sql_updateCTSCERTIFICATEACC" />
  </update>
</mapper>