<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTSCHEQUEBOOK_LEAVES" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTSCHEQUEBOOK_LEAVESVO" >
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <result column="DESC_ENG" property="DESC_ENG" />
    <result column="DESC_ARAB" property="DESC_ARAB" />
    <result column="NO_LEAVES" property="NO_LEAVES" />
  </resultMap>
  <sql id="Base_Column_List" >
    CODE, COMP_CODE, DESC_ENG, DESC_ARAB, NO_LEAVES
  </sql>
  <select id="selectCTSCHEQUEBOOK_LEAVES" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTSCHEQUEBOOK_LEAVESVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTSCHEQUEBOOK_LEAVES
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </select>
  <delete id="deleteCTSCHEQUEBOOK_LEAVES" parameterType="com.path.dbmaps.vo.CTSCHEQUEBOOK_LEAVESVOKey" >
    delete from CTSCHEQUEBOOK_LEAVES
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </delete>
  <insert id="insertCTSCHEQUEBOOK_LEAVES" parameterType="com.path.dbmaps.vo.CTSCHEQUEBOOK_LEAVESVO" >
    <selectKey resultType="java.math.BigDecimal" keyProperty="COMP_CODE" order="BEFORE" >
      SELECT MAX(COMP_CODE)+1 FROM CTSCHEQUEBOOK_LEAVES
    </selectKey>
    insert into CTSCHEQUEBOOK_LEAVES
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        CODE,
      </if>
      COMP_CODE,
      <if test="DESC_ENG != null" >
        DESC_ENG,
      </if>
      <if test="DESC_ARAB != null" >
        DESC_ARAB,
      </if>
      <if test="NO_LEAVES != null and NO_LEAVES != emptyBigDecimalValue" >
        NO_LEAVES,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        #{CODE},
      </if>
      #{COMP_CODE},
      <if test="DESC_ENG != null" >
        #{DESC_ENG},
      </if>
      <if test="DESC_ARAB != null" >
        #{DESC_ARAB},
      </if>
      <if test="NO_LEAVES != null and NO_LEAVES != emptyBigDecimalValue" >
        #{NO_LEAVES},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTSCHEQUEBOOK_LEAVES" >
    update CTSCHEQUEBOOK_LEAVES
    <set >
      <if test="DESC_ENG != null" >
        DESC_ENG = #{DESC_ENG},
      </if>
      <if test="DESC_ARAB != null" >
        DESC_ARAB = #{DESC_ARAB},
      </if>
      <if test="NO_LEAVES != null" >
        <choose >
          <when test="NO_LEAVES == emptyBigDecimalValue" >
            NO_LEAVES = NULL ,
          </when>
          <otherwise >
            NO_LEAVES = #{NO_LEAVES},
          </otherwise>
        </choose>
      </if>
    </set>
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </sql>
  <update id="updateCTSCHEQUEBOOK_LEAVES" parameterType="com.path.dbmaps.vo.CTSCHEQUEBOOK_LEAVESVO" >
    <include refid="sql_updateCTSCHEQUEBOOK_LEAVES" />
  </update>
</mapper>