<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTSCHEQUEBOOK_STATUS" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTSCHEQUEBOOK_STATUSVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="CHQBOOK_NUM" property="CHQBOOK_NUM" />
    <id column="CHQ_NUM" property="CHQ_NUM" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <result column="ACC_BR" property="ACC_BR" />
    <result column="ACC_CY" property="ACC_CY" />
    <result column="ACC_GL" property="ACC_GL" />
    <result column="ACC_CIF" property="ACC_CIF" />
    <result column="ACC_SL" property="ACC_SL" />
    <result column="STATUS" property="STATUS" />
    <result column="OLD_STATUS" property="OLD_STATUS" />
    <result column="USER_ID" property="USER_ID" />
    <result column="DATE_MODIFIED" property="DATE_MODIFIED" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, CHQBOOK_NUM, CHQ_NUM, COMP_CODE, ACC_BR, ACC_CY, ACC_GL, ACC_CIF, ACC_SL, 
    STATUS, OLD_STATUS, USER_ID, DATE_MODIFIED
  </sql>
  <select id="selectCTSCHEQUEBOOK_STATUS" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTSCHEQUEBOOK_STATUSVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTSCHEQUEBOOK_STATUS
    where BRANCH_CODE = #{BRANCH_CODE}
      and CHQBOOK_NUM = #{CHQBOOK_NUM}
      and CHQ_NUM = #{CHQ_NUM}
      and COMP_CODE = #{COMP_CODE}
  </select>
  <delete id="deleteCTSCHEQUEBOOK_STATUS" parameterType="com.path.dbmaps.vo.CTSCHEQUEBOOK_STATUSVOKey" >
    delete from CTSCHEQUEBOOK_STATUS
    where BRANCH_CODE = #{BRANCH_CODE}
      and CHQBOOK_NUM = #{CHQBOOK_NUM}
      and CHQ_NUM = #{CHQ_NUM}
      and COMP_CODE = #{COMP_CODE}
  </delete>
  <insert id="insertCTSCHEQUEBOOK_STATUS" parameterType="com.path.dbmaps.vo.CTSCHEQUEBOOK_STATUSVO" >
    insert into CTSCHEQUEBOOK_STATUS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="CHQBOOK_NUM != null and CHQBOOK_NUM != emptyBigDecimalValue" >
        CHQBOOK_NUM,
      </if>
      <if test="CHQ_NUM != null and CHQ_NUM != emptyBigDecimalValue" >
        CHQ_NUM,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="ACC_BR != null and ACC_BR != emptyBigDecimalValue" >
        ACC_BR,
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        ACC_CY,
      </if>
      <if test="ACC_GL != null and ACC_GL != emptyBigDecimalValue" >
        ACC_GL,
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        ACC_CIF,
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        ACC_SL,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="OLD_STATUS != null" >
        OLD_STATUS,
      </if>
      <if test="USER_ID != null" >
        USER_ID,
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="CHQBOOK_NUM != null and CHQBOOK_NUM != emptyBigDecimalValue" >
        #{CHQBOOK_NUM},
      </if>
      <if test="CHQ_NUM != null and CHQ_NUM != emptyBigDecimalValue" >
        #{CHQ_NUM},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="ACC_BR != null and ACC_BR != emptyBigDecimalValue" >
        #{ACC_BR},
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        #{ACC_CY},
      </if>
      <if test="ACC_GL != null and ACC_GL != emptyBigDecimalValue" >
        #{ACC_GL},
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        #{ACC_CIF},
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        #{ACC_SL},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="OLD_STATUS != null" >
        #{OLD_STATUS},
      </if>
      <if test="USER_ID != null" >
        #{USER_ID},
      </if>
      <if test="DATE_MODIFIED != null" >
        #{DATE_MODIFIED},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTSCHEQUEBOOK_STATUS" >
    update CTSCHEQUEBOOK_STATUS
    <set >
      <if test="ACC_BR != null" >
        <choose >
          <when test="ACC_BR == emptyBigDecimalValue" >
            ACC_BR = NULL ,
          </when>
          <otherwise >
            ACC_BR = #{ACC_BR},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CY != null" >
        <choose >
          <when test="ACC_CY == emptyBigDecimalValue" >
            ACC_CY = NULL ,
          </when>
          <otherwise >
            ACC_CY = #{ACC_CY},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_GL != null" >
        <choose >
          <when test="ACC_GL == emptyBigDecimalValue" >
            ACC_GL = NULL ,
          </when>
          <otherwise >
            ACC_GL = #{ACC_GL},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CIF != null" >
        <choose >
          <when test="ACC_CIF == emptyBigDecimalValue" >
            ACC_CIF = NULL ,
          </when>
          <otherwise >
            ACC_CIF = #{ACC_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_SL != null" >
        <choose >
          <when test="ACC_SL == emptyBigDecimalValue" >
            ACC_SL = NULL ,
          </when>
          <otherwise >
            ACC_SL = #{ACC_SL},
          </otherwise>
        </choose>
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="OLD_STATUS != null" >
        OLD_STATUS = #{OLD_STATUS},
      </if>
      <if test="USER_ID != null" >
        USER_ID = #{USER_ID},
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED = #{DATE_MODIFIED},
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and CHQBOOK_NUM = #{CHQBOOK_NUM}
      and CHQ_NUM = #{CHQ_NUM}
      and COMP_CODE = #{COMP_CODE}
  </sql>
  <update id="updateCTSCHEQUEBOOK_STATUS" parameterType="com.path.dbmaps.vo.CTSCHEQUEBOOK_STATUSVO" >
    <include refid="sql_updateCTSCHEQUEBOOK_STATUS" />
  </update>  
</mapper>