<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTSCHARGES_SCHEMA" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTSCHARGES_SCHEMAVO" >
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NO" property="LINE_NO" />
    <result column="BRIEF_NAME_ENG" property="BRIEF_NAME_ENG" />
    <result column="LONG_NAME_ENG" property="LONG_NAME_ENG" />
    <result column="BRIEF_NAME_ARAB" property="BRIEF_NAME_ARAB" />
    <result column="LONG_NAME_ARAB" property="LONG_NAME_ARAB" />
    <result column="CHARGE_CODE" property="CHARGE_CODE" />
    <result column="PROFIT_CHARGE" property="PROFIT_CHARGE" />
    <result column="CHARGE_TYPE" property="CHARGE_TYPE" />
    <result column="PASS_CHRG_SEP_FRM_TVA" property="PASS_CHRG_SEP_FRM_TVA" />
  </resultMap>
  <sql id="Base_Column_List" >
    CODE, COMP_CODE, LINE_NO, BRIEF_NAME_ENG, LONG_NAME_ENG, BRIEF_NAME_ARAB, LONG_NAME_ARAB, 
    CHARGE_CODE, PROFIT_CHARGE, CHARGE_TYPE, PASS_CHRG_SEP_FRM_TVA
  </sql>
  <select id="selectCTSCHARGES_SCHEMA" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTSCHARGES_SCHEMAVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTSCHARGES_SCHEMA
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
  </select>
  <delete id="deleteCTSCHARGES_SCHEMA" parameterType="com.path.dbmaps.vo.CTSCHARGES_SCHEMAVOKey" >
    delete from CTSCHARGES_SCHEMA
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
  </delete>
  <insert id="insertCTSCHARGES_SCHEMA" parameterType="com.path.dbmaps.vo.CTSCHARGES_SCHEMAVO" >
    insert into CTSCHARGES_SCHEMA
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="BRIEF_NAME_ENG != null" >
        BRIEF_NAME_ENG,
      </if>
      <if test="LONG_NAME_ENG != null" >
        LONG_NAME_ENG,
      </if>
      <if test="BRIEF_NAME_ARAB != null" >
        BRIEF_NAME_ARAB,
      </if>
      <if test="LONG_NAME_ARAB != null" >
        LONG_NAME_ARAB,
      </if>
      <if test="CHARGE_CODE != null and CHARGE_CODE != emptyBigDecimalValue" >
        CHARGE_CODE,
      </if>
      <if test="PROFIT_CHARGE != null" >
        PROFIT_CHARGE,
      </if>
      <if test="CHARGE_TYPE != null" >
        CHARGE_TYPE,
      </if>
      <if test="PASS_CHRG_SEP_FRM_TVA != null" >
        PASS_CHRG_SEP_FRM_TVA,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        #{CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="BRIEF_NAME_ENG != null" >
        #{BRIEF_NAME_ENG},
      </if>
      <if test="LONG_NAME_ENG != null" >
        #{LONG_NAME_ENG},
      </if>
      <if test="BRIEF_NAME_ARAB != null" >
        #{BRIEF_NAME_ARAB},
      </if>
      <if test="LONG_NAME_ARAB != null" >
        #{LONG_NAME_ARAB},
      </if>
      <if test="CHARGE_CODE != null and CHARGE_CODE != emptyBigDecimalValue" >
        #{CHARGE_CODE},
      </if>
      <if test="PROFIT_CHARGE != null" >
        #{PROFIT_CHARGE},
      </if>
      <if test="CHARGE_TYPE != null" >
        #{CHARGE_TYPE},
      </if>
      <if test="PASS_CHRG_SEP_FRM_TVA != null" >
        #{PASS_CHRG_SEP_FRM_TVA},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTSCHARGES_SCHEMA" >
    update CTSCHARGES_SCHEMA
    <set >
      <if test="BRIEF_NAME_ENG != null" >
        BRIEF_NAME_ENG = #{BRIEF_NAME_ENG},
      </if>
      <if test="LONG_NAME_ENG != null" >
        LONG_NAME_ENG = #{LONG_NAME_ENG},
      </if>
      <if test="BRIEF_NAME_ARAB != null" >
        BRIEF_NAME_ARAB = #{BRIEF_NAME_ARAB},
      </if>
      <if test="LONG_NAME_ARAB != null" >
        LONG_NAME_ARAB = #{LONG_NAME_ARAB},
      </if>
      <if test="CHARGE_CODE != null" >
        <choose >
          <when test="CHARGE_CODE == emptyBigDecimalValue" >
            CHARGE_CODE = NULL ,
          </when>
          <otherwise >
            CHARGE_CODE = #{CHARGE_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="PROFIT_CHARGE != null" >
        PROFIT_CHARGE = #{PROFIT_CHARGE},
      </if>
      <if test="CHARGE_TYPE != null" >
        CHARGE_TYPE = #{CHARGE_TYPE},
      </if>
      <if test="PASS_CHRG_SEP_FRM_TVA != null" >
        PASS_CHRG_SEP_FRM_TVA = #{PASS_CHRG_SEP_FRM_TVA},
      </if>
    </set>
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
  </sql>
  <update id="updateCTSCHARGES_SCHEMA" parameterType="com.path.dbmaps.vo.CTSCHARGES_SCHEMAVO" >
    <include refid="sql_updateCTSCHARGES_SCHEMA" />
  </update>
</mapper>