<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTSCHARGES_EXEMPTED_BRANCH" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTSCHARGES_EXEMPTED_BRANCHVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="CHARGE_CODE" property="CHARGE_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <result column="TRX_BR" property="TRX_BR" />
    <result column="ACC_BR" property="ACC_BR" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, CHARGE_CODE, COMP_CODE, TRX_BR, ACC_BR
  </sql>
  <select id="selectCTSCHARGES_EXEMPTED_BRANCH" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTSCHARGES_EXEMPTED_BRANCHVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTSCHARGES_EXEMPTED_BRANCH
    where BRANCH_CODE = #{BRANCH_CODE}
      and CHARGE_CODE = #{CHARGE_CODE}
      and COMP_CODE = #{COMP_CODE}
  </select>
  <delete id="deleteCTSCHARGES_EXEMPTED_BRANCH" parameterType="com.path.dbmaps.vo.CTSCHARGES_EXEMPTED_BRANCHVOKey" >
    delete from CTSCHARGES_EXEMPTED_BRANCH
    where BRANCH_CODE = #{BRANCH_CODE}
      and CHARGE_CODE = #{CHARGE_CODE}
      and COMP_CODE = #{COMP_CODE}
  </delete>
  <insert id="insertCTSCHARGES_EXEMPTED_BRANCH" parameterType="com.path.dbmaps.vo.CTSCHARGES_EXEMPTED_BRANCHVO" >
    insert into CTSCHARGES_EXEMPTED_BRANCH
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="CHARGE_CODE != null and CHARGE_CODE != emptyBigDecimalValue" >
        CHARGE_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="TRX_BR != null and TRX_BR != emptyBigDecimalValue" >
        TRX_BR,
      </if>
      <if test="ACC_BR != null and ACC_BR != emptyBigDecimalValue" >
        ACC_BR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="CHARGE_CODE != null and CHARGE_CODE != emptyBigDecimalValue" >
        #{CHARGE_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="TRX_BR != null and TRX_BR != emptyBigDecimalValue" >
        #{TRX_BR},
      </if>
      <if test="ACC_BR != null and ACC_BR != emptyBigDecimalValue" >
        #{ACC_BR},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTSCHARGES_EXEMPTED_BRANCH" >
    update CTSCHARGES_EXEMPTED_BRANCH
    <set >
      <if test="TRX_BR != null" >
        <choose >
          <when test="TRX_BR == emptyBigDecimalValue" >
            TRX_BR = NULL ,
          </when>
          <otherwise >
            TRX_BR = #{TRX_BR},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_BR != null" >
        <choose >
          <when test="ACC_BR == emptyBigDecimalValue" >
            ACC_BR = NULL ,
          </when>
          <otherwise >
            ACC_BR = #{ACC_BR},
          </otherwise>
        </choose>
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and CHARGE_CODE = #{CHARGE_CODE}
      and COMP_CODE = #{COMP_CODE}
  </sql>
  <update id="updateCTSCHARGES_EXEMPTED_BRANCH" parameterType="com.path.dbmaps.vo.CTSCHARGES_EXEMPTED_BRANCHVO" >
    <include refid="sql_updateCTSCHARGES_EXEMPTED_BRANCH" />
  </update>
</mapper>