<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTSCUSTOM_RATE" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTSCUSTOM_RATEVO" >
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <result column="SHORT_DESC_ENG" property="SHORT_DESC_ENG" />
    <result column="SHORT_DESC_ARAB" property="SHORT_DESC_ARAB" />
    <result column="LONG_DESC_ENG" property="LONG_DESC_ENG" />
    <result column="LONG_DESC_ARAB" property="LONG_DESC_ARAB" />
    <result column="BC_FC" property="BC_FC" />
    <result column="FC_BC" property="FC_BC" />
    <result column="FC_FC_S" property="FC_FC_S" />
    <result column="FC_FC_DF" property="FC_FC_DF" />
    <result column="FC_FC_DT" property="FC_FC_DT" />
  </resultMap>
  <sql id="Base_Column_List" >
    CODE, COMP_CODE, SHORT_DESC_ENG, SHORT_DESC_ARAB, LONG_DESC_ENG, LONG_DESC_ARAB, 
    BC_FC, FC_BC, FC_FC_S, FC_FC_DF, FC_FC_DT
  </sql>
  <select id="selectCTSCUSTOM_RATE" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTSCUSTOM_RATEVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTSCUSTOM_RATE
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </select>
  <delete id="deleteCTSCUSTOM_RATE" parameterType="com.path.dbmaps.vo.CTSCUSTOM_RATEVOKey" >
    delete from CTSCUSTOM_RATE
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </delete>
  <insert id="insertCTSCUSTOM_RATE" parameterType="com.path.dbmaps.vo.CTSCUSTOM_RATEVO" >
    insert into CTSCUSTOM_RATE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="SHORT_DESC_ENG != null" >
        SHORT_DESC_ENG,
      </if>
      <if test="SHORT_DESC_ARAB != null" >
        SHORT_DESC_ARAB,
      </if>
      <if test="LONG_DESC_ENG != null" >
        LONG_DESC_ENG,
      </if>
      <if test="LONG_DESC_ARAB != null" >
        LONG_DESC_ARAB,
      </if>
      <if test="BC_FC != null" >
        BC_FC,
      </if>
      <if test="FC_BC != null" >
        FC_BC,
      </if>
      <if test="FC_FC_S != null" >
        FC_FC_S,
      </if>
      <if test="FC_FC_DF != null" >
        FC_FC_DF,
      </if>
      <if test="FC_FC_DT != null" >
        FC_FC_DT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        #{CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="SHORT_DESC_ENG != null" >
        #{SHORT_DESC_ENG},
      </if>
      <if test="SHORT_DESC_ARAB != null" >
        #{SHORT_DESC_ARAB},
      </if>
      <if test="LONG_DESC_ENG != null" >
        #{LONG_DESC_ENG},
      </if>
      <if test="LONG_DESC_ARAB != null" >
        #{LONG_DESC_ARAB},
      </if>
      <if test="BC_FC != null" >
        #{BC_FC},
      </if>
      <if test="FC_BC != null" >
        #{FC_BC},
      </if>
      <if test="FC_FC_S != null" >
        #{FC_FC_S},
      </if>
      <if test="FC_FC_DF != null" >
        #{FC_FC_DF},
      </if>
      <if test="FC_FC_DT != null" >
        #{FC_FC_DT},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTSCUSTOM_RATE" >
    update CTSCUSTOM_RATE
    <set >
      <if test="SHORT_DESC_ENG != null" >
        SHORT_DESC_ENG = #{SHORT_DESC_ENG},
      </if>
      <if test="SHORT_DESC_ARAB != null" >
        SHORT_DESC_ARAB = #{SHORT_DESC_ARAB},
      </if>
      <if test="LONG_DESC_ENG != null" >
        LONG_DESC_ENG = #{LONG_DESC_ENG},
      </if>
      <if test="LONG_DESC_ARAB != null" >
        LONG_DESC_ARAB = #{LONG_DESC_ARAB},
      </if>
      <if test="BC_FC != null" >
        BC_FC = #{BC_FC},
      </if>
      <if test="FC_BC != null" >
        FC_BC = #{FC_BC},
      </if>
      <if test="FC_FC_S != null" >
        FC_FC_S = #{FC_FC_S},
      </if>
      <if test="FC_FC_DF != null" >
        FC_FC_DF = #{FC_FC_DF},
      </if>
      <if test="FC_FC_DT != null" >
        FC_FC_DT = #{FC_FC_DT},
      </if>
    </set>
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </sql>
  <update id="updateCTSCUSTOM_RATE" parameterType="com.path.dbmaps.vo.CTSCUSTOM_RATEVO" >
    <include refid="sql_updateCTSCUSTOM_RATE" />
  </update>
</mapper>