<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTSCHARGES_ROSTER" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTSCHARGES_ROSTERVO" >
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="CY_CODE" property="CY_CODE" />
    <id column="SEQ" property="SEQ" />
    <result column="FROM_AMT" property="FROM_AMT" />
    <result column="TO_AMT" property="TO_AMT" />
    <result column="PERCENTAGE" property="PERCENTAGE" />
    <result column="MIN_AMT" property="MIN_AMT" />
    <result column="MAX_AMT" property="MAX_AMT" />
    <result column="DISC_AMT" property="DISC_AMT" />
  </resultMap>
  <sql id="Base_Column_List" >
    CODE, COMP_CODE, CY_CODE, SEQ, FROM_AMT, TO_AMT, PERCENTAGE, MIN_AMT, MAX_AMT, DISC_AMT
  </sql>
  <select id="selectCTSCHARGES_ROSTER" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTSCHARGES_ROSTERVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTSCHARGES_ROSTER
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and CY_CODE = #{CY_CODE}
      and SEQ = #{SEQ}
  </select>
  <delete id="deleteCTSCHARGES_ROSTER" parameterType="com.path.dbmaps.vo.CTSCHARGES_ROSTERVOKey" >
    delete from CTSCHARGES_ROSTER
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and CY_CODE = #{CY_CODE}
      and SEQ = #{SEQ}
  </delete>
  <insert id="insertCTSCHARGES_ROSTER" parameterType="com.path.dbmaps.vo.CTSCHARGES_ROSTERVO" >
    insert into CTSCHARGES_ROSTER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="CY_CODE != null and CY_CODE != emptyBigDecimalValue" >
        CY_CODE,
      </if>
      <if test="SEQ != null and SEQ != emptyBigDecimalValue" >
        SEQ,
      </if>
      <if test="FROM_AMT != null and FROM_AMT != emptyBigDecimalValue" >
        FROM_AMT,
      </if>
      <if test="TO_AMT != null and TO_AMT != emptyBigDecimalValue" >
        TO_AMT,
      </if>
      <if test="PERCENTAGE != null and PERCENTAGE != emptyBigDecimalValue" >
        PERCENTAGE,
      </if>
      <if test="MIN_AMT != null and MIN_AMT != emptyBigDecimalValue" >
        MIN_AMT,
      </if>
      <if test="MAX_AMT != null and MAX_AMT != emptyBigDecimalValue" >
        MAX_AMT,
      </if>
      <if test="DISC_AMT != null and DISC_AMT != emptyBigDecimalValue" >
        DISC_AMT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        #{CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="CY_CODE != null and CY_CODE != emptyBigDecimalValue" >
        #{CY_CODE},
      </if>
      <if test="SEQ != null and SEQ != emptyBigDecimalValue" >
        #{SEQ},
      </if>
      <if test="FROM_AMT != null and FROM_AMT != emptyBigDecimalValue" >
        #{FROM_AMT},
      </if>
      <if test="TO_AMT != null and TO_AMT != emptyBigDecimalValue" >
        #{TO_AMT},
      </if>
      <if test="PERCENTAGE != null and PERCENTAGE != emptyBigDecimalValue" >
        #{PERCENTAGE},
      </if>
      <if test="MIN_AMT != null and MIN_AMT != emptyBigDecimalValue" >
        #{MIN_AMT},
      </if>
      <if test="MAX_AMT != null and MAX_AMT != emptyBigDecimalValue" >
        #{MAX_AMT},
      </if>
      <if test="DISC_AMT != null and DISC_AMT != emptyBigDecimalValue" >
        #{DISC_AMT},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTSCHARGES_ROSTER" >
    update CTSCHARGES_ROSTER
    <set >
      <if test="FROM_AMT != null" >
        <choose >
          <when test="FROM_AMT == emptyBigDecimalValue" >
            FROM_AMT = NULL ,
          </when>
          <otherwise >
            FROM_AMT = #{FROM_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="TO_AMT != null" >
        <choose >
          <when test="TO_AMT == emptyBigDecimalValue" >
            TO_AMT = NULL ,
          </when>
          <otherwise >
            TO_AMT = #{TO_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="PERCENTAGE != null" >
        <choose >
          <when test="PERCENTAGE == emptyBigDecimalValue" >
            PERCENTAGE = NULL ,
          </when>
          <otherwise >
            PERCENTAGE = #{PERCENTAGE},
          </otherwise>
        </choose>
      </if>
      <if test="MIN_AMT != null" >
        <choose >
          <when test="MIN_AMT == emptyBigDecimalValue" >
            MIN_AMT = NULL ,
          </when>
          <otherwise >
            MIN_AMT = #{MIN_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="MAX_AMT != null" >
        <choose >
          <when test="MAX_AMT == emptyBigDecimalValue" >
            MAX_AMT = NULL ,
          </when>
          <otherwise >
            MAX_AMT = #{MAX_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="DISC_AMT != null" >
        <choose >
          <when test="DISC_AMT == emptyBigDecimalValue" >
            DISC_AMT = NULL ,
          </when>
          <otherwise >
            DISC_AMT = #{DISC_AMT},
          </otherwise>
        </choose>
      </if>
    </set>
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and CY_CODE = #{CY_CODE}
      and SEQ = #{SEQ}
  </sql>
  <update id="updateCTSCHARGES_ROSTER" parameterType="com.path.dbmaps.vo.CTSCHARGES_ROSTERVO" >
    <include refid="sql_updateCTSCHARGES_ROSTER" />
  </update>
</mapper>