<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTSDENOMTRX" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTSDENOMTRXVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NO" property="LINE_NO" />
    <id column="TRS_NO" property="TRS_NO" />
    <result column="TRS_DATE" property="TRS_DATE" />
    <result column="TELLER_VAULT_BR" property="TELLER_VAULT_BR" />
    <result column="TELLER_VAULT_CODE" property="TELLER_VAULT_CODE" />
    <result column="CURRENCY_CODE" property="CURRENCY_CODE" />
    <result column="CY_VALUE" property="CY_VALUE" />
    <result column="ORIGINAL_COUNT" property="ORIGINAL_COUNT" />
    <result column="EXISTING_COUNT" property="EXISTING_COUNT" />
    <result column="STATUS" property="STATUS" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="CREATED_DATE" property="CREATED_DATE" />
    <result column="AUTH_BY" property="AUTH_BY" />
    <result column="AUTH_DATE" property="AUTH_DATE" />
    <result column="DELETED_BY" property="DELETED_BY" />
    <result column="DELETED_DATE" property="DELETED_DATE" />
    <result column="REJECTED_BY" property="REJECTED_BY" />
    <result column="REJECTED_DATE" property="REJECTED_DATE" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="MODIFIED_DATE" property="MODIFIED_DATE" />
    <result column="DATE_UPDATED" property="DATE_UPDATED" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, LINE_NO, TRS_NO, TRS_DATE, TELLER_VAULT_BR, TELLER_VAULT_CODE, 
    CURRENCY_CODE, CY_VALUE, ORIGINAL_COUNT, EXISTING_COUNT, STATUS, CREATED_BY, CREATED_DATE, 
    AUTH_BY, AUTH_DATE, DELETED_BY, DELETED_DATE, REJECTED_BY, REJECTED_DATE, MODIFIED_BY, 
    MODIFIED_DATE, DATE_UPDATED
  </sql>
  <select id="selectCTSDENOMTRX" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTSDENOMTRXVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTSDENOMTRX
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and TRS_NO = #{TRS_NO}
  </select>
  <delete id="deleteCTSDENOMTRX" parameterType="com.path.dbmaps.vo.CTSDENOMTRXVOKey" >
    delete from CTSDENOMTRX
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and TRS_NO = #{TRS_NO}
  </delete>
  <insert id="insertCTSDENOMTRX" parameterType="com.path.dbmaps.vo.CTSDENOMTRXVO" >
    insert into CTSDENOMTRX
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="TRS_NO != null and TRS_NO != emptyBigDecimalValue" >
        TRS_NO,
      </if>
      <if test="TRS_DATE != null" >
        TRS_DATE,
      </if>
      <if test="TELLER_VAULT_BR != null and TELLER_VAULT_BR != emptyBigDecimalValue" >
        TELLER_VAULT_BR,
      </if>
      <if test="TELLER_VAULT_CODE != null and TELLER_VAULT_CODE != emptyBigDecimalValue" >
        TELLER_VAULT_CODE,
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        CURRENCY_CODE,
      </if>
      <if test="CY_VALUE != null and CY_VALUE != emptyBigDecimalValue" >
        CY_VALUE,
      </if>
      <if test="ORIGINAL_COUNT != null and ORIGINAL_COUNT != emptyBigDecimalValue" >
        ORIGINAL_COUNT,
      </if>
      <if test="EXISTING_COUNT != null and EXISTING_COUNT != emptyBigDecimalValue" >
        EXISTING_COUNT,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE,
      </if>
      <if test="AUTH_BY != null" >
        AUTH_BY,
      </if>
      <if test="AUTH_DATE != null" >
        AUTH_DATE,
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY,
      </if>
      <if test="DELETED_DATE != null" >
        DELETED_DATE,
      </if>
      <if test="REJECTED_BY != null" >
        REJECTED_BY,
      </if>
      <if test="REJECTED_DATE != null" >
        REJECTED_DATE,
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY,
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE,
      </if>
      DATE_UPDATED,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="TRS_NO != null and TRS_NO != emptyBigDecimalValue" >
        #{TRS_NO},
      </if>
      <if test="TRS_DATE != null" >
        #{TRS_DATE},
      </if>
      <if test="TELLER_VAULT_BR != null and TELLER_VAULT_BR != emptyBigDecimalValue" >
        #{TELLER_VAULT_BR},
      </if>
      <if test="TELLER_VAULT_CODE != null and TELLER_VAULT_CODE != emptyBigDecimalValue" >
        #{TELLER_VAULT_CODE},
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        #{CURRENCY_CODE},
      </if>
      <if test="CY_VALUE != null and CY_VALUE != emptyBigDecimalValue" >
        #{CY_VALUE},
      </if>
      <if test="ORIGINAL_COUNT != null and ORIGINAL_COUNT != emptyBigDecimalValue" >
        #{ORIGINAL_COUNT},
      </if>
      <if test="EXISTING_COUNT != null and EXISTING_COUNT != emptyBigDecimalValue" >
        #{EXISTING_COUNT},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="CREATED_DATE != null" >
        #{CREATED_DATE},
      </if>
      <if test="AUTH_BY != null" >
        #{AUTH_BY},
      </if>
      <if test="AUTH_DATE != null" >
        #{AUTH_DATE},
      </if>
      <if test="DELETED_BY != null" >
        #{DELETED_BY},
      </if>
      <if test="DELETED_DATE != null" >
        #{DELETED_DATE},
      </if>
      <if test="REJECTED_BY != null" >
        #{REJECTED_BY},
      </if>
      <if test="REJECTED_DATE != null" >
        #{REJECTED_DATE},
      </if>
      <if test="MODIFIED_BY != null" >
        #{MODIFIED_BY},
      </if>
      <if test="MODIFIED_DATE != null" >
        #{MODIFIED_DATE},
      </if>
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
    </trim>
  </insert>
  <sql id="sql_updateCTSDENOMTRX" >
    update CTSDENOMTRX
    <set >
      <if test="TRS_DATE != null" >
        TRS_DATE = #{TRS_DATE},
      </if>
      <if test="TELLER_VAULT_BR != null" >
        <choose >
          <when test="TELLER_VAULT_BR == emptyBigDecimalValue" >
            TELLER_VAULT_BR = NULL ,
          </when>
          <otherwise >
            TELLER_VAULT_BR = #{TELLER_VAULT_BR},
          </otherwise>
        </choose>
      </if>
      <if test="TELLER_VAULT_CODE != null" >
        <choose >
          <when test="TELLER_VAULT_CODE == emptyBigDecimalValue" >
            TELLER_VAULT_CODE = NULL ,
          </when>
          <otherwise >
            TELLER_VAULT_CODE = #{TELLER_VAULT_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="CURRENCY_CODE != null" >
        <choose >
          <when test="CURRENCY_CODE == emptyBigDecimalValue" >
            CURRENCY_CODE = NULL ,
          </when>
          <otherwise >
            CURRENCY_CODE = #{CURRENCY_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="CY_VALUE != null" >
        <choose >
          <when test="CY_VALUE == emptyBigDecimalValue" >
            CY_VALUE = NULL ,
          </when>
          <otherwise >
            CY_VALUE = #{CY_VALUE},
          </otherwise>
        </choose>
      </if>
      <if test="ORIGINAL_COUNT != null" >
        <choose >
          <when test="ORIGINAL_COUNT == emptyBigDecimalValue" >
            ORIGINAL_COUNT = NULL ,
          </when>
          <otherwise >
            ORIGINAL_COUNT = #{ORIGINAL_COUNT},
          </otherwise>
        </choose>
      </if>
      <if test="EXISTING_COUNT != null" >
        <choose >
          <when test="EXISTING_COUNT == emptyBigDecimalValue" >
            EXISTING_COUNT = NULL ,
          </when>
          <otherwise >
            EXISTING_COUNT = #{EXISTING_COUNT},
          </otherwise>
        </choose>
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE = #{CREATED_DATE},
      </if>
      <if test="AUTH_BY != null" >
        AUTH_BY = #{AUTH_BY},
      </if>
      <if test="AUTH_DATE != null" >
        AUTH_DATE = #{AUTH_DATE},
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY = #{DELETED_BY},
      </if>
      <if test="DELETED_DATE != null" >
        DELETED_DATE = #{DELETED_DATE},
      </if>
      <if test="REJECTED_BY != null" >
        REJECTED_BY = #{REJECTED_BY},
      </if>
      <if test="REJECTED_DATE != null" >
        REJECTED_DATE = #{REJECTED_DATE},
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY = #{MODIFIED_BY},
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE = #{MODIFIED_DATE},
      </if>
      DATE_UPDATED = 
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and TRS_NO = #{TRS_NO}
  </sql>
  <update id="updateCTSDENOMTRX" parameterType="com.path.dbmaps.vo.CTSDENOMTRXVO" >
    <include refid="sql_updateCTSDENOMTRX" />
    <if test="DATE_UPDATED != null" >
      AND DATE_UPDATED = #{DATE_UPDATED}
    </if>
  </update>
</mapper>