<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTSLOSTFOUND" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTSLOSTFOUNDVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="TRX_NO" property="TRX_NO" />
    <result column="DOC_TYPE" property="DOC_TYPE" />
    <result column="DOC_CODE" property="DOC_CODE" />
    <result column="DATE_REPORTED" property="DATE_REPORTED" />
    <result column="REPORDTED_BY" property="REPORDTED_BY" />
    <result column="STATUS" property="STATUS" />
    <result column="DATE_CREATED" property="DATE_CREATED" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="DATE_APPROVED" property="DATE_APPROVED" />
    <result column="APPROVED_BY" property="APPROVED_BY" />
    <result column="DATE_MODIFIED" property="DATE_MODIFIED" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="DATE_CANCELED" property="DATE_CANCELED" />
    <result column="CANCELED_BY" property="CANCELED_BY" />
    <result column="DATE_DELETED" property="DATE_DELETED" />
    <result column="DELETED_BY" property="DELETED_BY" />
    <result column="CIF_NO" property="CIF_NO" />
    <result column="ACC_BR" property="ACC_BR" />
    <result column="ACC_CY" property="ACC_CY" />
    <result column="ACC_GL" property="ACC_GL" />
    <result column="ACC_CIF" property="ACC_CIF" />
    <result column="ACC_SL" property="ACC_SL" />
    <result column="ACC_ADD_REF" property="ACC_ADD_REF" />
    <result column="CTS_TRS_NO" property="CTS_TRS_NO" />
    <result column="TO_CANCEL_DATE" property="TO_CANCEL_DATE" />
    <result column="TO_CANCEL_BY" property="TO_CANCEL_BY" />
    <result column="ADD_INFO" property="ADD_INFO" />
    <result column="DATE_REJECTED" property="DATE_REJECTED" />
    <result column="REJECTED_BY" property="REJECTED_BY" />
    <result column="DATE_UPDATED" property="DATE_UPDATED" />
    <result column="REASON_CTS_TRS_NO" property="REASON_CTS_TRS_NO" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, TRX_NO, DOC_TYPE, DOC_CODE, DATE_REPORTED, REPORDTED_BY, 
    STATUS, DATE_CREATED, CREATED_BY, DATE_APPROVED, APPROVED_BY, DATE_MODIFIED, MODIFIED_BY, 
    DATE_CANCELED, CANCELED_BY, DATE_DELETED, DELETED_BY, CIF_NO, ACC_BR, ACC_CY, ACC_GL, 
    ACC_CIF, ACC_SL, ACC_ADD_REF, CTS_TRS_NO, TO_CANCEL_DATE, TO_CANCEL_BY, ADD_INFO, 
    DATE_REJECTED, REJECTED_BY, DATE_UPDATED, REASON_CTS_TRS_NO
  </sql>
  <select id="selectCTSLOSTFOUND" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTSLOSTFOUNDVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTSLOSTFOUND
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and TRX_NO = #{TRX_NO}
  </select>
  <delete id="deleteCTSLOSTFOUND" parameterType="com.path.dbmaps.vo.CTSLOSTFOUNDVOKey" >
    delete from CTSLOSTFOUND
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and TRX_NO = #{TRX_NO}
  </delete>
  <insert id="insertCTSLOSTFOUND" parameterType="com.path.dbmaps.vo.CTSLOSTFOUNDVO" >
    insert into CTSLOSTFOUND
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="TRX_NO != null and TRX_NO != emptyBigDecimalValue" >
        TRX_NO,
      </if>
      <if test="DOC_TYPE != null and DOC_TYPE != emptyBigDecimalValue" >
        DOC_TYPE,
      </if>
      <if test="DOC_CODE != null and DOC_CODE != emptyBigDecimalValue" >
        DOC_CODE,
      </if>
      <if test="DATE_REPORTED != null" >
        DATE_REPORTED,
      </if>
      <if test="REPORDTED_BY != null" >
        REPORDTED_BY,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED,
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY,
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED,
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY,
      </if>
      <if test="DATE_CANCELED != null" >
        DATE_CANCELED,
      </if>
      <if test="CANCELED_BY != null" >
        CANCELED_BY,
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED,
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY,
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        CIF_NO,
      </if>
      <if test="ACC_BR != null and ACC_BR != emptyBigDecimalValue" >
        ACC_BR,
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        ACC_CY,
      </if>
      <if test="ACC_GL != null and ACC_GL != emptyBigDecimalValue" >
        ACC_GL,
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        ACC_CIF,
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        ACC_SL,
      </if>
      <if test="ACC_ADD_REF != null" >
        ACC_ADD_REF,
      </if>
      <if test="CTS_TRS_NO != null and CTS_TRS_NO != emptyBigDecimalValue" >
        CTS_TRS_NO,
      </if>
      <if test="TO_CANCEL_DATE != null" >
        TO_CANCEL_DATE,
      </if>
      <if test="TO_CANCEL_BY != null" >
        TO_CANCEL_BY,
      </if>
      <if test="ADD_INFO != null" >
        ADD_INFO,
      </if>
      <if test="DATE_REJECTED != null" >
        DATE_REJECTED,
      </if>
      <if test="REJECTED_BY != null" >
        REJECTED_BY,
      </if>
      <if test="REASON_CTS_TRS_NO != null and REASON_CTS_TRS_NO != emptyBigDecimalValue" >
        REASON_CTS_TRS_NO,
      </if>
      DATE_UPDATED,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="TRX_NO != null and TRX_NO != emptyBigDecimalValue" >
        #{TRX_NO},
      </if>
      <if test="DOC_TYPE != null and DOC_TYPE != emptyBigDecimalValue" >
        #{DOC_TYPE},
      </if>
      <if test="DOC_CODE != null and DOC_CODE != emptyBigDecimalValue" >
        #{DOC_CODE},
      </if>
      <if test="DATE_REPORTED != null" >
        #{DATE_REPORTED},
      </if>
      <if test="REPORDTED_BY != null" >
        #{REPORDTED_BY},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="DATE_CREATED != null" >
        #{DATE_CREATED},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="DATE_APPROVED != null" >
        #{DATE_APPROVED},
      </if>
      <if test="APPROVED_BY != null" >
        #{APPROVED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        #{DATE_MODIFIED},
      </if>
      <if test="MODIFIED_BY != null" >
        #{MODIFIED_BY},
      </if>
      <if test="DATE_CANCELED != null" >
        #{DATE_CANCELED},
      </if>
      <if test="CANCELED_BY != null" >
        #{CANCELED_BY},
      </if>
      <if test="DATE_DELETED != null" >
        #{DATE_DELETED},
      </if>
      <if test="DELETED_BY != null" >
        #{DELETED_BY},
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        #{CIF_NO},
      </if>
      <if test="ACC_BR != null and ACC_BR != emptyBigDecimalValue" >
        #{ACC_BR},
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        #{ACC_CY},
      </if>
      <if test="ACC_GL != null and ACC_GL != emptyBigDecimalValue" >
        #{ACC_GL},
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        #{ACC_CIF},
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        #{ACC_SL},
      </if>
      <if test="ACC_ADD_REF != null" >
        #{ACC_ADD_REF},
      </if>
      <if test="CTS_TRS_NO != null and CTS_TRS_NO != emptyBigDecimalValue" >
        #{CTS_TRS_NO},
      </if>
      <if test="TO_CANCEL_DATE != null" >
        #{TO_CANCEL_DATE},
      </if>
      <if test="TO_CANCEL_BY != null" >
        #{TO_CANCEL_BY},
      </if>
      <if test="ADD_INFO != null" >
        #{ADD_INFO},
      </if>
      <if test="DATE_REJECTED != null" >
        #{DATE_REJECTED},
      </if>
      <if test="REJECTED_BY != null" >
        #{REJECTED_BY},
      </if>
      <if test="REASON_CTS_TRS_NO != null and REASON_CTS_TRS_NO != emptyBigDecimalValue" >
        #{REASON_CTS_TRS_NO},
      </if>
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
    </trim>
  </insert>
  <sql id="sql_updateCTSLOSTFOUND" >
    update CTSLOSTFOUND
    <set >
      <if test="DOC_TYPE != null" >
        <choose >
          <when test="DOC_TYPE == emptyBigDecimalValue" >
            DOC_TYPE = NULL ,
          </when>
          <otherwise >
            DOC_TYPE = #{DOC_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="DOC_CODE != null" >
        <choose >
          <when test="DOC_CODE == emptyBigDecimalValue" >
            DOC_CODE = NULL ,
          </when>
          <otherwise >
            DOC_CODE = #{DOC_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="DATE_REPORTED != null" >
        DATE_REPORTED = #{DATE_REPORTED},
      </if>
      <if test="REPORDTED_BY != null" >
        REPORDTED_BY = #{REPORDTED_BY},
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED = #{DATE_CREATED},
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED = #{DATE_APPROVED},
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY = #{APPROVED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED = #{DATE_MODIFIED},
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY = #{MODIFIED_BY},
      </if>
      <if test="DATE_CANCELED != null" >
        DATE_CANCELED = #{DATE_CANCELED},
      </if>
      <if test="CANCELED_BY != null" >
        CANCELED_BY = #{CANCELED_BY},
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED = #{DATE_DELETED},
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY = #{DELETED_BY},
      </if>
      <if test="CIF_NO != null" >
        <choose >
          <when test="CIF_NO == emptyBigDecimalValue" >
            CIF_NO = NULL ,
          </when>
          <otherwise >
            CIF_NO = #{CIF_NO},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_BR != null" >
        <choose >
          <when test="ACC_BR == emptyBigDecimalValue" >
            ACC_BR = NULL ,
          </when>
          <otherwise >
            ACC_BR = #{ACC_BR},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CY != null" >
        <choose >
          <when test="ACC_CY == emptyBigDecimalValue" >
            ACC_CY = NULL ,
          </when>
          <otherwise >
            ACC_CY = #{ACC_CY},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_GL != null" >
        <choose >
          <when test="ACC_GL == emptyBigDecimalValue" >
            ACC_GL = NULL ,
          </when>
          <otherwise >
            ACC_GL = #{ACC_GL},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CIF != null" >
        <choose >
          <when test="ACC_CIF == emptyBigDecimalValue" >
            ACC_CIF = NULL ,
          </when>
          <otherwise >
            ACC_CIF = #{ACC_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_SL != null" >
        <choose >
          <when test="ACC_SL == emptyBigDecimalValue" >
            ACC_SL = NULL ,
          </when>
          <otherwise >
            ACC_SL = #{ACC_SL},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_ADD_REF != null" >
        ACC_ADD_REF = #{ACC_ADD_REF},
      </if>
      <if test="CTS_TRS_NO != null" >
        <choose >
          <when test="CTS_TRS_NO == emptyBigDecimalValue" >
            CTS_TRS_NO = NULL ,
          </when>
          <otherwise >
            CTS_TRS_NO = #{CTS_TRS_NO},
          </otherwise>
        </choose>
      </if>
      <if test="TO_CANCEL_DATE != null" >
        TO_CANCEL_DATE = #{TO_CANCEL_DATE},
      </if>
      <if test="TO_CANCEL_BY != null" >
        TO_CANCEL_BY = #{TO_CANCEL_BY},
      </if>
      <if test="ADD_INFO != null" >
        ADD_INFO = #{ADD_INFO},
      </if>
      <if test="DATE_REJECTED != null" >
        DATE_REJECTED = #{DATE_REJECTED},
      </if>
      <if test="REJECTED_BY != null" >
        REJECTED_BY = #{REJECTED_BY},
      </if>
      <if test="REASON_CTS_TRS_NO != null" >
        <choose >
          <when test="REASON_CTS_TRS_NO == emptyBigDecimalValue" >
            REASON_CTS_TRS_NO = NULL ,
          </when>
          <otherwise >
            REASON_CTS_TRS_NO = #{REASON_CTS_TRS_NO},
          </otherwise>
        </choose>
      </if>
      DATE_UPDATED = 
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and TRX_NO = #{TRX_NO}
  </sql>
  <update id="updateCTSLOSTFOUND" parameterType="com.path.dbmaps.vo.CTSLOSTFOUNDVO" >
	<include refid="sql_updateCTSLOSTFOUND" />
	<if test="DATE_UPDATED != null">
		AND DATE_UPDATED = #{DATE_UPDATED}
	</if>
  </update>
</mapper>