<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTSMEMO" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTSMEMOVO" >
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <result column="BRIEF_DESC_ENG" property="BRIEF_DESC_ENG" />
    <result column="LONG_DESC_ENG" property="LONG_DESC_ENG" />
    <result column="BRIEF_DESC_ARAB" property="BRIEF_DESC_ARAB" />
    <result column="LONG_DESC_ARAB" property="LONG_DESC_ARAB" />
    <result column="TYPE" property="TYPE" />
    <result column="EXP_REVIEW" property="EXP_REVIEW" />
    <result column="NUMBER_REVIEWS" property="NUMBER_REVIEWS" />
    <result column="DATE_INTERVAL" property="DATE_INTERVAL" />
    <result column="ACC_SPECIFIC" property="ACC_SPECIFIC" />
    <result column="CIF_SPECIFIC" property="CIF_SPECIFIC" />
    <result column="APP_SPECIFIC" property="APP_SPECIFIC" />
    <result column="APP_NAME" property="APP_NAME" />
    <result column="TRX_TYPE" property="TRX_TYPE" />
    <result column="COMMON_DESC_ENG" property="COMMON_DESC_ENG" />
    <result column="COMMON_DESC_ARAB" property="COMMON_DESC_ARAB" />
    <result column="COMMON_TYPE" property="COMMON_TYPE" />
    <result column="SHOW_ALL_TRX" property="SHOW_ALL_TRX" />
    <result column="CTS_TRXTYPE" property="CTS_TRXTYPE" />
    <result column="MESSAGE_ENG" property="MESSAGE_ENG" />
    <result column="MESSAGE_ARABIC" property="MESSAGE_ARABIC" />
    <result column="SEND_SMS" property="SEND_SMS" />
    <result column="DAYS_BEFORE" property="DAYS_BEFORE" />
    <result column="REP_NUM" property="REP_NUM" />
    <result column="SEND_EMAIL" property="SEND_EMAIL" />
    <result column="MARKETING" property="MARKETING" />
	<result column="SEGMENT_SPECIFIC_YN" property="SEGMENT_SPECIFIC_YN" />    
	
  </resultMap>
  <sql id="Base_Column_List" >
    CODE, COMP_CODE, BRIEF_DESC_ENG, LONG_DESC_ENG, BRIEF_DESC_ARAB, LONG_DESC_ARAB, 
    TYPE, EXP_REVIEW, NUMBER_REVIEWS, DATE_INTERVAL, ACC_SPECIFIC, CIF_SPECIFIC, APP_SPECIFIC, 
    APP_NAME, TRX_TYPE, COMMON_DESC_ENG, COMMON_DESC_ARAB, COMMON_TYPE, SHOW_ALL_TRX, 
    CTS_TRXTYPE, MESSAGE_ENG, MESSAGE_ARABIC, SEND_SMS, DAYS_BEFORE, REP_NUM, SEND_EMAIL, 
    MARKETING,SEGMENT_SPECIFIC_YN
  </sql>
  <select id="selectCTSMEMO" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTSMEMOVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTSMEMO
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </select>
  <delete id="deleteCTSMEMO" parameterType="com.path.dbmaps.vo.CTSMEMOVOKey" >
    delete from CTSMEMO
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </delete>
  <insert id="insertCTSMEMO" parameterType="com.path.dbmaps.vo.CTSMEMOVO" >
    insert into CTSMEMO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="BRIEF_DESC_ENG != null" >
        BRIEF_DESC_ENG,
      </if>
      <if test="LONG_DESC_ENG != null" >
        LONG_DESC_ENG,
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        BRIEF_DESC_ARAB,
      </if>
      <if test="LONG_DESC_ARAB != null" >
        LONG_DESC_ARAB,
      </if>
      <if test="TYPE != null" >
        TYPE,
      </if>
      <if test="EXP_REVIEW != null" >
        EXP_REVIEW,
      </if>
      <if test="NUMBER_REVIEWS != null and NUMBER_REVIEWS != emptyBigDecimalValue" >
        NUMBER_REVIEWS,
      </if>
      <if test="DATE_INTERVAL != null" >
        DATE_INTERVAL,
      </if>
      <if test="ACC_SPECIFIC != null" >
        ACC_SPECIFIC,
      </if>
      <if test="CIF_SPECIFIC != null" >
        CIF_SPECIFIC,
      </if>
      <if test="APP_SPECIFIC != null" >
        APP_SPECIFIC,
      </if>
      <if test="APP_NAME != null" >
        APP_NAME,
      </if>
      <if test="TRX_TYPE != null and TRX_TYPE != emptyBigDecimalValue" >
        TRX_TYPE,
      </if>
      <if test="COMMON_DESC_ENG != null" >
        COMMON_DESC_ENG,
      </if>
      <if test="COMMON_DESC_ARAB != null" >
        COMMON_DESC_ARAB,
      </if>
      <if test="COMMON_TYPE != null" >
        COMMON_TYPE,
      </if>
      <if test="SHOW_ALL_TRX != null" >
        SHOW_ALL_TRX,
      </if>
      <if test="CTS_TRXTYPE != null and CTS_TRXTYPE != emptyBigDecimalValue" >
        CTS_TRXTYPE,
      </if>
      <if test="MESSAGE_ENG != null" >
        MESSAGE_ENG,
      </if>
      <if test="MESSAGE_ARABIC != null" >
        MESSAGE_ARABIC,
      </if>
      <if test="SEND_SMS != null" >
        SEND_SMS,
      </if>
      <if test="DAYS_BEFORE != null and DAYS_BEFORE != emptyBigDecimalValue" >
        DAYS_BEFORE,
      </if>
      <if test="REP_NUM != null and REP_NUM != emptyBigDecimalValue" >
        REP_NUM,
      </if>
      <if test="SEND_EMAIL != null" >
        SEND_EMAIL,
      </if>
      <if test="MARKETING != null" >
        MARKETING,
      </if>
		<if test="SEGMENT_SPECIFIC_YN != null">
			SEGMENT_SPECIFIC_YN,
		</if>  
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        #{CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="BRIEF_DESC_ENG != null" >
        #{BRIEF_DESC_ENG},
      </if>
      <if test="LONG_DESC_ENG != null" >
        #{LONG_DESC_ENG},
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        #{BRIEF_DESC_ARAB},
      </if>
      <if test="LONG_DESC_ARAB != null" >
        #{LONG_DESC_ARAB},
      </if>
      <if test="TYPE != null" >
        #{TYPE},
      </if>
      <if test="EXP_REVIEW != null" >
        #{EXP_REVIEW},
      </if>
      <if test="NUMBER_REVIEWS != null and NUMBER_REVIEWS != emptyBigDecimalValue" >
        #{NUMBER_REVIEWS},
      </if>
      <if test="DATE_INTERVAL != null" >
        #{DATE_INTERVAL},
      </if>
      <if test="ACC_SPECIFIC != null" >
        #{ACC_SPECIFIC},
      </if>
      <if test="CIF_SPECIFIC != null" >
        #{CIF_SPECIFIC},
      </if>
      <if test="APP_SPECIFIC != null" >
        #{APP_SPECIFIC},
      </if>
      <if test="APP_NAME != null" >
        #{APP_NAME},
      </if>
      <if test="TRX_TYPE != null and TRX_TYPE != emptyBigDecimalValue" >
        #{TRX_TYPE},
      </if>
      <if test="COMMON_DESC_ENG != null" >
        #{COMMON_DESC_ENG},
      </if>
      <if test="COMMON_DESC_ARAB != null" >
        #{COMMON_DESC_ARAB},
      </if>
      <if test="COMMON_TYPE != null" >
        #{COMMON_TYPE},
      </if>
      <if test="SHOW_ALL_TRX != null" >
        #{SHOW_ALL_TRX},
      </if>
      <if test="CTS_TRXTYPE != null and CTS_TRXTYPE != emptyBigDecimalValue" >
        #{CTS_TRXTYPE},
      </if>
      <if test="MESSAGE_ENG != null" >
        #{MESSAGE_ENG},
      </if>
      <if test="MESSAGE_ARABIC != null" >
        #{MESSAGE_ARABIC},
      </if>
      <if test="SEND_SMS != null" >
        #{SEND_SMS},
      </if>
      <if test="DAYS_BEFORE != null and DAYS_BEFORE != emptyBigDecimalValue" >
        #{DAYS_BEFORE},
      </if>
      <if test="REP_NUM != null and REP_NUM != emptyBigDecimalValue" >
        #{REP_NUM},
      </if>
      <if test="SEND_EMAIL != null" >
        #{SEND_EMAIL},
      </if>
      <if test="MARKETING != null" >
        #{MARKETING},
      </if>
	<if test="SEGMENT_SPECIFIC_YN != null">
		#{SEGMENT_SPECIFIC_YN},
	</if>      
    </trim>
  </insert>
  <sql id="sql_updateCTSMEMO" >
    update CTSMEMO
    <set >
      <if test="BRIEF_DESC_ENG != null" >
        BRIEF_DESC_ENG = #{BRIEF_DESC_ENG},
      </if>
      <if test="LONG_DESC_ENG != null" >
        LONG_DESC_ENG = #{LONG_DESC_ENG},
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        BRIEF_DESC_ARAB = #{BRIEF_DESC_ARAB},
      </if>
      <if test="LONG_DESC_ARAB != null" >
        LONG_DESC_ARAB = #{LONG_DESC_ARAB},
      </if>
      <if test="TYPE != null" >
        TYPE = #{TYPE},
      </if>
      <if test="EXP_REVIEW != null" >
        EXP_REVIEW = #{EXP_REVIEW},
      </if>
      <if test="NUMBER_REVIEWS != null" >
        <choose >
          <when test="NUMBER_REVIEWS == emptyBigDecimalValue" >
            NUMBER_REVIEWS = NULL ,
          </when>
          <otherwise >
            NUMBER_REVIEWS = #{NUMBER_REVIEWS},
          </otherwise>
        </choose>
      </if>
      <if test="DATE_INTERVAL != null" >
        DATE_INTERVAL = #{DATE_INTERVAL},
      </if>
      <if test="ACC_SPECIFIC != null" >
        ACC_SPECIFIC = #{ACC_SPECIFIC},
      </if>
      <if test="CIF_SPECIFIC != null" >
        CIF_SPECIFIC = #{CIF_SPECIFIC},
      </if>
      <if test="APP_SPECIFIC != null" >
        APP_SPECIFIC = #{APP_SPECIFIC},
      </if>
      <if test="APP_NAME != null" >
        APP_NAME = #{APP_NAME},
      </if>
      <if test="TRX_TYPE != null" >
        <choose >
          <when test="TRX_TYPE == emptyBigDecimalValue" >
            TRX_TYPE = NULL ,
          </when>
          <otherwise >
            TRX_TYPE = #{TRX_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="COMMON_DESC_ENG != null" >
        COMMON_DESC_ENG = #{COMMON_DESC_ENG},
      </if>
      <if test="COMMON_DESC_ARAB != null" >
        COMMON_DESC_ARAB = #{COMMON_DESC_ARAB},
      </if>
      <if test="COMMON_TYPE != null" >
        COMMON_TYPE = #{COMMON_TYPE},
      </if>
      <if test="SHOW_ALL_TRX != null" >
        SHOW_ALL_TRX = #{SHOW_ALL_TRX},
      </if>
      <if test="CTS_TRXTYPE != null" >
        <choose >
          <when test="CTS_TRXTYPE == emptyBigDecimalValue" >
            CTS_TRXTYPE = NULL ,
          </when>
          <otherwise >
            CTS_TRXTYPE = #{CTS_TRXTYPE},
          </otherwise>
        </choose>
      </if>
      <if test="MESSAGE_ENG != null" >
        MESSAGE_ENG = #{MESSAGE_ENG},
      </if>
      <if test="MESSAGE_ARABIC != null" >
        MESSAGE_ARABIC = #{MESSAGE_ARABIC},
      </if>
      <if test="SEND_SMS != null" >
        SEND_SMS = #{SEND_SMS},
      </if>
      <if test="DAYS_BEFORE != null" >
        <choose >
          <when test="DAYS_BEFORE == emptyBigDecimalValue" >
            DAYS_BEFORE = NULL ,
          </when>
          <otherwise >
            DAYS_BEFORE = #{DAYS_BEFORE},
          </otherwise>
        </choose>
      </if>
      <if test="REP_NUM != null" >
        <choose >
          <when test="REP_NUM == emptyBigDecimalValue" >
            REP_NUM = NULL ,
          </when>
          <otherwise >
            REP_NUM = #{REP_NUM},
          </otherwise>
        </choose>
      </if>
      <if test="SEND_EMAIL != null" >
        SEND_EMAIL = #{SEND_EMAIL},
      </if>
      <if test="MARKETING != null" >
        MARKETING = #{MARKETING},
      </if>
	<if test="SEGMENT_SPECIFIC_YN != null">
		SEGMENT_SPECIFIC_YN = #{SEGMENT_SPECIFIC_YN},
	</if>      
    </set>
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </sql>
  <update id="updateCTSMEMO" parameterType="com.path.dbmaps.vo.CTSMEMOVO" >
    <include refid="sql_updateCTSMEMO" />
  </update>
</mapper>