<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTSMICR" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTSMICRVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <result column="BRIEF_NAME_ENG" property="BRIEF_NAME_ENG" />
    <result column="BRIEF_NAME_ARAB" property="BRIEF_NAME_ARAB" />
    <result column="LONG_NAME_ENG" property="LONG_NAME_ENG" />
    <result column="LONG_NAME_ARAB" property="LONG_NAME_ARAB" />
    <result column="SEP1" property="SEP1" />
    <result column="FIELD1" property="FIELD1" />
    <result column="SEP2" property="SEP2" />
    <result column="FIELD2" property="FIELD2" />
    <result column="SEP3" property="SEP3" />
    <result column="FIELD3" property="FIELD3" />
    <result column="SEP4" property="SEP4" />
    <result column="SEP5" property="SEP5" />
    <result column="FIELD4" property="FIELD4" />
    <result column="SEP_TYPE" property="SEP_TYPE" />
    <result column="POS1" property="POS1" />
    <result column="LEN1" property="LEN1" />
    <result column="POS2" property="POS2" />
    <result column="LEN2" property="LEN2" />
    <result column="POS3" property="POS3" />
    <result column="LEN3" property="LEN3" />
    <result column="POS4" property="POS4" />
    <result column="LEN4" property="LEN4" />
    <result column="ACC_TYPE" property="ACC_TYPE" />
    <result column="CONCAT_ACC_NO" property="CONCAT_ACC_NO" />
    <result column="FIELD5" property="FIELD5" />
    <result column="POS5" property="POS5" />
    <result column="LEN5" property="LEN5" />
    <result column="SEP6" property="SEP6" />
    <result column="KEY_ALGORITH" property="KEY_ALGORITH" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, CODE, COMP_CODE, BRIEF_NAME_ENG, BRIEF_NAME_ARAB, LONG_NAME_ENG, LONG_NAME_ARAB, 
    SEP1, FIELD1, SEP2, FIELD2, SEP3, FIELD3, SEP4, SEP5, FIELD4, SEP_TYPE, POS1, LEN1, 
    POS2, LEN2, POS3, LEN3, POS4, LEN4, ACC_TYPE, CONCAT_ACC_NO, FIELD5, POS5, LEN5, 
    SEP6, KEY_ALGORITH
  </sql>
  <select id="selectCTSMICR" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTSMICRVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTSMICR
    where BRANCH_CODE = #{BRANCH_CODE}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </select>
  <delete id="deleteCTSMICR" parameterType="com.path.dbmaps.vo.CTSMICRVOKey" >
    delete from CTSMICR
    where BRANCH_CODE = #{BRANCH_CODE}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </delete>
  <insert id="insertCTSMICR" parameterType="com.path.dbmaps.vo.CTSMICRVO" >
    insert into CTSMICR
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="BRIEF_NAME_ENG != null" >
        BRIEF_NAME_ENG,
      </if>
      <if test="BRIEF_NAME_ARAB != null" >
        BRIEF_NAME_ARAB,
      </if>
      <if test="LONG_NAME_ENG != null" >
        LONG_NAME_ENG,
      </if>
      <if test="LONG_NAME_ARAB != null" >
        LONG_NAME_ARAB,
      </if>
      <if test="SEP1 != null" >
        SEP1,
      </if>
      <if test="FIELD1 != null" >
        FIELD1,
      </if>
      <if test="SEP2 != null" >
        SEP2,
      </if>
      <if test="FIELD2 != null" >
        FIELD2,
      </if>
      <if test="SEP3 != null" >
        SEP3,
      </if>
      <if test="FIELD3 != null" >
        FIELD3,
      </if>
      <if test="SEP4 != null" >
        SEP4,
      </if>
      <if test="SEP5 != null" >
        SEP5,
      </if>
      <if test="FIELD4 != null" >
        FIELD4,
      </if>
      <if test="SEP_TYPE != null" >
        SEP_TYPE,
      </if>
      <if test="POS1 != null and POS1 != emptyBigDecimalValue" >
        POS1,
      </if>
      <if test="LEN1 != null and LEN1 != emptyBigDecimalValue" >
        LEN1,
      </if>
      <if test="POS2 != null and POS2 != emptyBigDecimalValue" >
        POS2,
      </if>
      <if test="LEN2 != null and LEN2 != emptyBigDecimalValue" >
        LEN2,
      </if>
      <if test="POS3 != null and POS3 != emptyBigDecimalValue" >
        POS3,
      </if>
      <if test="LEN3 != null and LEN3 != emptyBigDecimalValue" >
        LEN3,
      </if>
      <if test="POS4 != null and POS4 != emptyBigDecimalValue" >
        POS4,
      </if>
      <if test="LEN4 != null and LEN4 != emptyBigDecimalValue" >
        LEN4,
      </if>
      <if test="ACC_TYPE != null" >
        ACC_TYPE,
      </if>
      <if test="CONCAT_ACC_NO != null" >
        CONCAT_ACC_NO,
      </if>
      <if test="FIELD5 != null" >
        FIELD5,
      </if>
      <if test="POS5 != null and POS5 != emptyBigDecimalValue" >
        POS5,
      </if>
      <if test="LEN5 != null and LEN5 != emptyBigDecimalValue" >
        LEN5,
      </if>
      <if test="SEP6 != null" >
        SEP6,
      </if>
      <if test="KEY_ALGORITH != null" >
        KEY_ALGORITH,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        #{CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="BRIEF_NAME_ENG != null" >
        #{BRIEF_NAME_ENG},
      </if>
      <if test="BRIEF_NAME_ARAB != null" >
        #{BRIEF_NAME_ARAB},
      </if>
      <if test="LONG_NAME_ENG != null" >
        #{LONG_NAME_ENG},
      </if>
      <if test="LONG_NAME_ARAB != null" >
        #{LONG_NAME_ARAB},
      </if>
      <if test="SEP1 != null" >
        #{SEP1},
      </if>
      <if test="FIELD1 != null" >
        #{FIELD1},
      </if>
      <if test="SEP2 != null" >
        #{SEP2},
      </if>
      <if test="FIELD2 != null" >
        #{FIELD2},
      </if>
      <if test="SEP3 != null" >
        #{SEP3},
      </if>
      <if test="FIELD3 != null" >
        #{FIELD3},
      </if>
      <if test="SEP4 != null" >
        #{SEP4},
      </if>
      <if test="SEP5 != null" >
        #{SEP5},
      </if>
      <if test="FIELD4 != null" >
        #{FIELD4},
      </if>
      <if test="SEP_TYPE != null" >
        #{SEP_TYPE},
      </if>
      <if test="POS1 != null and POS1 != emptyBigDecimalValue" >
        #{POS1},
      </if>
      <if test="LEN1 != null and LEN1 != emptyBigDecimalValue" >
        #{LEN1},
      </if>
      <if test="POS2 != null and POS2 != emptyBigDecimalValue" >
        #{POS2},
      </if>
      <if test="LEN2 != null and LEN2 != emptyBigDecimalValue" >
        #{LEN2},
      </if>
      <if test="POS3 != null and POS3 != emptyBigDecimalValue" >
        #{POS3},
      </if>
      <if test="LEN3 != null and LEN3 != emptyBigDecimalValue" >
        #{LEN3},
      </if>
      <if test="POS4 != null and POS4 != emptyBigDecimalValue" >
        #{POS4},
      </if>
      <if test="LEN4 != null and LEN4 != emptyBigDecimalValue" >
        #{LEN4},
      </if>
      <if test="ACC_TYPE != null" >
        #{ACC_TYPE},
      </if>
      <if test="CONCAT_ACC_NO != null" >
        #{CONCAT_ACC_NO},
      </if>
      <if test="FIELD5 != null" >
        #{FIELD5},
      </if>
      <if test="POS5 != null and POS5 != emptyBigDecimalValue" >
        #{POS5},
      </if>
      <if test="LEN5 != null and LEN5 != emptyBigDecimalValue" >
        #{LEN5},
      </if>
      <if test="SEP6 != null" >
        #{SEP6},
      </if>
      <if test="KEY_ALGORITH != null" >
        #{KEY_ALGORITH},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTSMICR" >
    update CTSMICR
    <set >
      <if test="BRIEF_NAME_ENG != null" >
        BRIEF_NAME_ENG = #{BRIEF_NAME_ENG},
      </if>
      <if test="BRIEF_NAME_ARAB != null" >
        BRIEF_NAME_ARAB = #{BRIEF_NAME_ARAB},
      </if>
      <if test="LONG_NAME_ENG != null" >
        LONG_NAME_ENG = #{LONG_NAME_ENG},
      </if>
      <if test="LONG_NAME_ARAB != null" >
        LONG_NAME_ARAB = #{LONG_NAME_ARAB},
      </if>
      <if test="SEP1 != null" >
        SEP1 = #{SEP1},
      </if>
      <if test="FIELD1 != null" >
        FIELD1 = #{FIELD1},
      </if>
      <if test="SEP2 != null" >
        SEP2 = #{SEP2},
      </if>
      <if test="FIELD2 != null" >
        FIELD2 = #{FIELD2},
      </if>
      <if test="SEP3 != null" >
        SEP3 = #{SEP3},
      </if>
      <if test="FIELD3 != null" >
        FIELD3 = #{FIELD3},
      </if>
      <if test="SEP4 != null" >
        SEP4 = #{SEP4},
      </if>
      <if test="SEP5 != null" >
        SEP5 = #{SEP5},
      </if>
      <if test="FIELD4 != null" >
        FIELD4 = #{FIELD4},
      </if>
      <if test="SEP_TYPE != null" >
        SEP_TYPE = #{SEP_TYPE},
      </if>
      <if test="POS1 != null" >
        <choose >
          <when test="POS1 == emptyBigDecimalValue" >
            POS1 = NULL ,
          </when>
          <otherwise >
            POS1 = #{POS1},
          </otherwise>
        </choose>
      </if>
      <if test="LEN1 != null" >
        <choose >
          <when test="LEN1 == emptyBigDecimalValue" >
            LEN1 = NULL ,
          </when>
          <otherwise >
            LEN1 = #{LEN1},
          </otherwise>
        </choose>
      </if>
      <if test="POS2 != null" >
        <choose >
          <when test="POS2 == emptyBigDecimalValue" >
            POS2 = NULL ,
          </when>
          <otherwise >
            POS2 = #{POS2},
          </otherwise>
        </choose>
      </if>
      <if test="LEN2 != null" >
        <choose >
          <when test="LEN2 == emptyBigDecimalValue" >
            LEN2 = NULL ,
          </when>
          <otherwise >
            LEN2 = #{LEN2},
          </otherwise>
        </choose>
      </if>
      <if test="POS3 != null" >
        <choose >
          <when test="POS3 == emptyBigDecimalValue" >
            POS3 = NULL ,
          </when>
          <otherwise >
            POS3 = #{POS3},
          </otherwise>
        </choose>
      </if>
      <if test="LEN3 != null" >
        <choose >
          <when test="LEN3 == emptyBigDecimalValue" >
            LEN3 = NULL ,
          </when>
          <otherwise >
            LEN3 = #{LEN3},
          </otherwise>
        </choose>
      </if>
      <if test="POS4 != null" >
        <choose >
          <when test="POS4 == emptyBigDecimalValue" >
            POS4 = NULL ,
          </when>
          <otherwise >
            POS4 = #{POS4},
          </otherwise>
        </choose>
      </if>
      <if test="LEN4 != null" >
        <choose >
          <when test="LEN4 == emptyBigDecimalValue" >
            LEN4 = NULL ,
          </when>
          <otherwise >
            LEN4 = #{LEN4},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_TYPE != null" >
        ACC_TYPE = #{ACC_TYPE},
      </if>
      <if test="CONCAT_ACC_NO != null" >
        CONCAT_ACC_NO = #{CONCAT_ACC_NO},
      </if>
      <if test="FIELD5 != null" >
        FIELD5 = #{FIELD5},
      </if>
      <if test="POS5 != null" >
        <choose >
          <when test="POS5 == emptyBigDecimalValue" >
            POS5 = NULL ,
          </when>
          <otherwise >
            POS5 = #{POS5},
          </otherwise>
        </choose>
      </if>
      <if test="LEN5 != null" >
        <choose >
          <when test="LEN5 == emptyBigDecimalValue" >
            LEN5 = NULL ,
          </when>
          <otherwise >
            LEN5 = #{LEN5},
          </otherwise>
        </choose>
      </if>
      <if test="SEP6 != null" >
        SEP6 = #{SEP6},
      </if>
      <if test="KEY_ALGORITH != null" >
        KEY_ALGORITH = #{KEY_ALGORITH},
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </sql>
  <update id="updateCTSMICR" parameterType="com.path.dbmaps.vo.CTSMICRVO" >
    <include refid="sql_updateCTSMICR" />
  </update>
</mapper>