<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTSMEMO_DET" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTSMEMO_DETVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="TRX_NO" property="TRX_NO" />
    <result column="MEMO_CODE" property="MEMO_CODE" />
    <result column="ENG_COMENT" property="ENG_COMENT" />
    <result column="ARAB_COMENT" property="ARAB_COMENT" />
    <result column="CIF_NO" property="CIF_NO" />
    <result column="ACC_BR" property="ACC_BR" />
    <result column="ACC_CY" property="ACC_CY" />
    <result column="ACC_GL" property="ACC_GL" />
    <result column="ACC_CIF" property="ACC_CIF" />
    <result column="ACC_SL" property="ACC_SL" />
    <result column="FROM_DATE" property="FROM_DATE" />
    <result column="DATE_TO" property="DATE_TO" />
    <result column="LAST_REVIEW_NO" property="LAST_REVIEW_NO" />
    <result column="STATUS" property="STATUS" />
    <result column="DATE_CREATED" property="DATE_CREATED" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="DATE_MODIFIED" property="DATE_MODIFIED" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="DATE_DELETED" property="DATE_DELETED" />
    <result column="DELETED_BY" property="DELETED_BY" />
    <result column="DATE_APPROVED" property="DATE_APPROVED" />
    <result column="APPROVED_BY" property="APPROVED_BY" />
    <result column="DATE_CANCELLED" property="DATE_CANCELLED" />
    <result column="CANCELLED_BY" property="CANCELLED_BY" />
    <result column="DATE_SUSPENDED" property="DATE_SUSPENDED" />
    <result column="SUSPENDED_BY" property="SUSPENDED_BY" />
    <result column="DATE_REACTIVATED" property="DATE_REACTIVATED" />
    <result column="REACTIVATED_BY" property="REACTIVATED_BY" />
    <result column="CIF_ROLE" property="CIF_ROLE" />
    <result column="PROD_CLASS" property="PROD_CLASS" />
    <result column="TRX_REF" property="TRX_REF" />
    <result column="APP_NAME" property="APP_NAME" />
    <result column="TRX_TYPE" property="TRX_TYPE" />
    <result column="TRX_STATUS" property="TRX_STATUS" />
    <result column="TRX_LINE_NO" property="TRX_LINE_NO" />
    <result column="CURRENCY" property="CURRENCY" />
    <result column="AMOUNT" property="AMOUNT" />
    <result column="YIELD" property="YIELD" />
    <result column="VALUE_DATE" property="VALUE_DATE" />
    <result column="MATURITY_DATE" property="MATURITY_DATE" />
    <result column="COMMON_REF" property="COMMON_REF" />
    <result column="COMMON_DESC_ENG" property="COMMON_DESC_ENG" />
    <result column="COMMON_DESC_ARAB" property="COMMON_DESC_ARAB" />
    <result column="COMMON_TYPE" property="COMMON_TYPE" />
    <result column="ADD_NUMBER1" property="ADD_NUMBER1" />
    <result column="ADD_NUMBER2" property="ADD_NUMBER2" />
    <result column="TRADE_DATE" property="TRADE_DATE" />
    <result column="MACHINE_ID" property="MACHINE_ID" />
    <result column="SMS_MEMO" property="SMS_MEMO" />
    <result column="ACC_ADD_REF" property="ACC_ADD_REF" />
    <result column="TOBE_CANCELLED_BY" property="TOBE_CANCELLED_BY" />
    <result column="TOBE_CANCELLED_DATE" property="TOBE_CANCELLED_DATE" />
    <result column="TOBE_SUSPENDED_DATE" property="TOBE_SUSPENDED_DATE" />
    <result column="TOBE_REACTIVATED_BY" property="TOBE_REACTIVATED_BY" />
    <result column="TOBE_REACTIVATED_DATE" property="TOBE_REACTIVATED_DATE" />
    <result column="TOBE_SUSPENDED_BY" property="TOBE_SUSPENDED_BY" />
    <result column="DATE_UPDATED" property="DATE_UPDATED" />
    <result column="COND_AUTOMATION_CODE" property="COND_AUTOMATION_CODE" />
    <result column="SEGMENT_CODE"  property="SEGMENT_CODE" />
    
    
    
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, TRX_NO, MEMO_CODE, ENG_COMENT, ARAB_COMENT, CIF_NO, ACC_BR, 
    ACC_CY, ACC_GL, ACC_CIF, ACC_SL, FROM_DATE, DATE_TO, LAST_REVIEW_NO, STATUS, DATE_CREATED, 
    CREATED_BY, DATE_MODIFIED, MODIFIED_BY, DATE_DELETED, DELETED_BY, DATE_APPROVED, 
    APPROVED_BY, DATE_CANCELLED, CANCELLED_BY, DATE_SUSPENDED, SUSPENDED_BY, DATE_REACTIVATED, 
    REACTIVATED_BY, CIF_ROLE, PROD_CLASS, TRX_REF, APP_NAME, TRX_TYPE, TRX_STATUS, TRX_LINE_NO, 
    CURRENCY, AMOUNT, YIELD, VALUE_DATE, MATURITY_DATE, COMMON_REF, COMMON_DESC_ENG, 
    COMMON_DESC_ARAB, COMMON_TYPE, ADD_NUMBER1, ADD_NUMBER2, TRADE_DATE, MACHINE_ID, 
    SMS_MEMO, ACC_ADD_REF, TOBE_CANCELLED_BY, TOBE_CANCELLED_DATE, TOBE_SUSPENDED_DATE, 
    TOBE_REACTIVATED_BY, TOBE_REACTIVATED_DATE, TOBE_SUSPENDED_BY, DATE_UPDATED, COND_AUTOMATION_CODE, SEGMENT_CODE
  </sql>
  <select id="selectCTSMEMO_DET" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTSMEMO_DETVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTSMEMO_DET
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and TRX_NO = #{TRX_NO}
  </select>
  <delete id="deleteCTSMEMO_DET" parameterType="com.path.dbmaps.vo.CTSMEMO_DETVOKey" >
    delete from CTSMEMO_DET
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and TRX_NO = #{TRX_NO}
  </delete>
  <insert id="insertCTSMEMO_DET" parameterType="com.path.dbmaps.vo.CTSMEMO_DETVO" >
    insert into CTSMEMO_DET
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="TRX_NO != null and TRX_NO != emptyBigDecimalValue" >
        TRX_NO,
      </if>
      <if test="MEMO_CODE != null and MEMO_CODE != emptyBigDecimalValue" >
        MEMO_CODE,
      </if>
      <if test="ENG_COMENT != null" >
        ENG_COMENT,
      </if>
      <if test="ARAB_COMENT != null" >
        ARAB_COMENT,
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        CIF_NO,
      </if>
      <if test="ACC_BR != null and ACC_BR != emptyBigDecimalValue" >
        ACC_BR,
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        ACC_CY,
      </if>
      <if test="ACC_GL != null and ACC_GL != emptyBigDecimalValue" >
        ACC_GL,
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        ACC_CIF,
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        ACC_SL,
      </if>
      <if test="FROM_DATE != null" >
        FROM_DATE,
      </if>
      <if test="DATE_TO != null" >
        DATE_TO,
      </if>
      <if test="LAST_REVIEW_NO != null and LAST_REVIEW_NO != emptyBigDecimalValue" >
        LAST_REVIEW_NO,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED,
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY,
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED,
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY,
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED,
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY,
      </if>
      <if test="DATE_CANCELLED != null" >
        DATE_CANCELLED,
      </if>
      <if test="CANCELLED_BY != null" >
        CANCELLED_BY,
      </if>
      <if test="DATE_SUSPENDED != null" >
        DATE_SUSPENDED,
      </if>
      <if test="SUSPENDED_BY != null" >
        SUSPENDED_BY,
      </if>
      <if test="DATE_REACTIVATED != null" >
        DATE_REACTIVATED,
      </if>
      <if test="REACTIVATED_BY != null" >
        REACTIVATED_BY,
      </if>
      <if test="CIF_ROLE != null" >
        CIF_ROLE,
      </if>
      <if test="PROD_CLASS != null and PROD_CLASS != emptyBigDecimalValue" >
        PROD_CLASS,
      </if>
      <if test="TRX_REF != null and TRX_REF != emptyBigDecimalValue" >
        TRX_REF,
      </if>
      <if test="APP_NAME != null" >
        APP_NAME,
      </if>
      <if test="TRX_TYPE != null" >
        TRX_TYPE,
      </if>
      <if test="TRX_STATUS != null" >
        TRX_STATUS,
      </if>
      <if test="TRX_LINE_NO != null and TRX_LINE_NO != emptyBigDecimalValue" >
        TRX_LINE_NO,
      </if>
      <if test="CURRENCY != null and CURRENCY != emptyBigDecimalValue" >
        CURRENCY,
      </if>
      <if test="AMOUNT != null and AMOUNT != emptyBigDecimalValue" >
        AMOUNT,
      </if>
      <if test="YIELD != null and YIELD != emptyBigDecimalValue" >
        YIELD,
      </if>
      <if test="VALUE_DATE != null" >
        VALUE_DATE,
      </if>
      <if test="MATURITY_DATE != null" >
        MATURITY_DATE,
      </if>
      <if test="COMMON_REF != null and COMMON_REF != emptyBigDecimalValue" >
        COMMON_REF,
      </if>
      <if test="COMMON_DESC_ENG != null" >
        COMMON_DESC_ENG,
      </if>
      <if test="COMMON_DESC_ARAB != null" >
        COMMON_DESC_ARAB,
      </if>
      <if test="COMMON_TYPE != null" >
        COMMON_TYPE,
      </if>
      <if test="ADD_NUMBER1 != null and ADD_NUMBER1 != emptyBigDecimalValue" >
        ADD_NUMBER1,
      </if>
      <if test="ADD_NUMBER2 != null and ADD_NUMBER2 != emptyBigDecimalValue" >
        ADD_NUMBER2,
      </if>
      <if test="TRADE_DATE != null" >
        TRADE_DATE,
      </if>
      <if test="MACHINE_ID != null" >
        MACHINE_ID,
      </if>
      <if test="SMS_MEMO != null" >
        SMS_MEMO,
      </if>
      <if test="ACC_ADD_REF != null" >
        ACC_ADD_REF,
      </if>
      <if test="TOBE_CANCELLED_BY != null" >
        TOBE_CANCELLED_BY,
      </if>
      <if test="TOBE_CANCELLED_DATE != null" >
        TOBE_CANCELLED_DATE,
      </if>
      <if test="TOBE_SUSPENDED_DATE != null" >
        TOBE_SUSPENDED_DATE,
      </if>
      <if test="TOBE_REACTIVATED_BY != null" >
        TOBE_REACTIVATED_BY,
      </if>
      <if test="TOBE_REACTIVATED_DATE != null" >
        TOBE_REACTIVATED_DATE,
      </if>
      <if test="TOBE_SUSPENDED_BY != null" >
        TOBE_SUSPENDED_BY,
      </if>
      DATE_UPDATED,
      <if test="COND_AUTOMATION_CODE != null and COND_AUTOMATION_CODE != emptyBigDecimalValue" >
        COND_AUTOMATION_CODE,
      </if>
      <if test="SEGMENT_CODE != null and SEGMENT_CODE != emptyBigDecimalValue">
		SEGMENT_CODE,
	  </if>  
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="TRX_NO != null and TRX_NO != emptyBigDecimalValue" >
        #{TRX_NO},
      </if>
      <if test="MEMO_CODE != null and MEMO_CODE != emptyBigDecimalValue" >
        #{MEMO_CODE},
      </if>
      <if test="ENG_COMENT != null" >
        #{ENG_COMENT},
      </if>
      <if test="ARAB_COMENT != null" >
        #{ARAB_COMENT},
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        #{CIF_NO},
      </if>
      <if test="ACC_BR != null and ACC_BR != emptyBigDecimalValue" >
        #{ACC_BR},
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        #{ACC_CY},
      </if>
      <if test="ACC_GL != null and ACC_GL != emptyBigDecimalValue" >
        #{ACC_GL},
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        #{ACC_CIF},
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        #{ACC_SL},
      </if>
      <if test="FROM_DATE != null" >
        #{FROM_DATE},
      </if>
      <if test="DATE_TO != null" >
        #{DATE_TO},
      </if>
      <if test="LAST_REVIEW_NO != null and LAST_REVIEW_NO != emptyBigDecimalValue" >
        #{LAST_REVIEW_NO},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="DATE_CREATED != null" >
        #{DATE_CREATED},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        #{DATE_MODIFIED},
      </if>
      <if test="MODIFIED_BY != null" >
        #{MODIFIED_BY},
      </if>
      <if test="DATE_DELETED != null" >
        #{DATE_DELETED},
      </if>
      <if test="DELETED_BY != null" >
        #{DELETED_BY},
      </if>
      <if test="DATE_APPROVED != null" >
        #{DATE_APPROVED},
      </if>
      <if test="APPROVED_BY != null" >
        #{APPROVED_BY},
      </if>
      <if test="DATE_CANCELLED != null" >
        #{DATE_CANCELLED},
      </if>
      <if test="CANCELLED_BY != null" >
        #{CANCELLED_BY},
      </if>
      <if test="DATE_SUSPENDED != null" >
        #{DATE_SUSPENDED},
      </if>
      <if test="SUSPENDED_BY != null" >
        #{SUSPENDED_BY},
      </if>
      <if test="DATE_REACTIVATED != null" >
        #{DATE_REACTIVATED},
      </if>
      <if test="REACTIVATED_BY != null" >
        #{REACTIVATED_BY},
      </if>
      <if test="CIF_ROLE != null" >
        #{CIF_ROLE},
      </if>
      <if test="PROD_CLASS != null and PROD_CLASS != emptyBigDecimalValue" >
        #{PROD_CLASS},
      </if>
      <if test="TRX_REF != null and TRX_REF != emptyBigDecimalValue" >
        #{TRX_REF},
      </if>
      <if test="APP_NAME != null" >
        #{APP_NAME},
      </if>
      <if test="TRX_TYPE != null" >
        #{TRX_TYPE},
      </if>
      <if test="TRX_STATUS != null" >
        #{TRX_STATUS},
      </if>
      <if test="TRX_LINE_NO != null and TRX_LINE_NO != emptyBigDecimalValue" >
        #{TRX_LINE_NO},
      </if>
      <if test="CURRENCY != null and CURRENCY != emptyBigDecimalValue" >
        #{CURRENCY},
      </if>
      <if test="AMOUNT != null and AMOUNT != emptyBigDecimalValue" >
        #{AMOUNT},
      </if>
      <if test="YIELD != null and YIELD != emptyBigDecimalValue" >
        #{YIELD},
      </if>
      <if test="VALUE_DATE != null" >
        #{VALUE_DATE},
      </if>
      <if test="MATURITY_DATE != null" >
        #{MATURITY_DATE},
      </if>
      <if test="COMMON_REF != null and COMMON_REF != emptyBigDecimalValue" >
        #{COMMON_REF},
      </if>
      <if test="COMMON_DESC_ENG != null" >
        #{COMMON_DESC_ENG},
      </if>
      <if test="COMMON_DESC_ARAB != null" >
        #{COMMON_DESC_ARAB},
      </if>
      <if test="COMMON_TYPE != null" >
        #{COMMON_TYPE},
      </if>
      <if test="ADD_NUMBER1 != null and ADD_NUMBER1 != emptyBigDecimalValue" >
        #{ADD_NUMBER1},
      </if>
      <if test="ADD_NUMBER2 != null and ADD_NUMBER2 != emptyBigDecimalValue" >
        #{ADD_NUMBER2},
      </if>
      <if test="TRADE_DATE != null" >
        #{TRADE_DATE},
      </if>
      <if test="MACHINE_ID != null" >
        #{MACHINE_ID},
      </if>
      <if test="SMS_MEMO != null" >
        #{SMS_MEMO},
      </if>
      <if test="ACC_ADD_REF != null" >
        #{ACC_ADD_REF},
      </if>
      <if test="TOBE_CANCELLED_BY != null" >
        #{TOBE_CANCELLED_BY},
      </if>
      <if test="TOBE_CANCELLED_DATE != null" >
        #{TOBE_CANCELLED_DATE},
      </if>
      <if test="TOBE_SUSPENDED_DATE != null" >
        #{TOBE_SUSPENDED_DATE},
      </if>
      <if test="TOBE_REACTIVATED_BY != null" >
        #{TOBE_REACTIVATED_BY},
      </if>
      <if test="TOBE_REACTIVATED_DATE != null" >
        #{TOBE_REACTIVATED_DATE},
      </if>
      <if test="TOBE_SUSPENDED_BY != null" >
        #{TOBE_SUSPENDED_BY},
      </if>
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
      <if test="COND_AUTOMATION_CODE != null and COND_AUTOMATION_CODE != emptyBigDecimalValue" >
        #{COND_AUTOMATION_CODE},
      </if>
	<if test="SEGMENT_CODE != null and SEGMENT_CODE != emptyBigDecimalValue">
		#{SEGMENT_CODE},
	</if>        
    </trim>
  </insert>
  <sql id="sql_updateCTSMEMO_DET" >
    update CTSMEMO_DET
    <set >
      <if test="MEMO_CODE != null" >
        <choose >
          <when test="MEMO_CODE == emptyBigDecimalValue" >
            MEMO_CODE = NULL ,
          </when>
          <otherwise >
            MEMO_CODE = #{MEMO_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="ENG_COMENT != null" >
        ENG_COMENT = #{ENG_COMENT},
      </if>
      <if test="ARAB_COMENT != null" >
        ARAB_COMENT = #{ARAB_COMENT},
      </if>
      <if test="CIF_NO != null" >
        <choose >
          <when test="CIF_NO == emptyBigDecimalValue" >
            CIF_NO = NULL ,
          </when>
          <otherwise >
            CIF_NO = #{CIF_NO},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_BR != null" >
        <choose >
          <when test="ACC_BR == emptyBigDecimalValue" >
            ACC_BR = NULL ,
          </when>
          <otherwise >
            ACC_BR = #{ACC_BR},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CY != null" >
        <choose >
          <when test="ACC_CY == emptyBigDecimalValue" >
            ACC_CY = NULL ,
          </when>
          <otherwise >
            ACC_CY = #{ACC_CY},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_GL != null" >
        <choose >
          <when test="ACC_GL == emptyBigDecimalValue" >
            ACC_GL = NULL ,
          </when>
          <otherwise >
            ACC_GL = #{ACC_GL},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CIF != null" >
        <choose >
          <when test="ACC_CIF == emptyBigDecimalValue" >
            ACC_CIF = NULL ,
          </when>
          <otherwise >
            ACC_CIF = #{ACC_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_SL != null" >
        <choose >
          <when test="ACC_SL == emptyBigDecimalValue" >
            ACC_SL = NULL ,
          </when>
          <otherwise >
            ACC_SL = #{ACC_SL},
          </otherwise>
        </choose>
      </if>
      <if test="FROM_DATE != null" >
        FROM_DATE = #{FROM_DATE},
      </if>
      <if test="DATE_TO != null" >
        DATE_TO = #{DATE_TO},
      </if>
      <if test="LAST_REVIEW_NO != null" >
        <choose >
          <when test="LAST_REVIEW_NO == emptyBigDecimalValue" >
            LAST_REVIEW_NO = NULL ,
          </when>
          <otherwise >
            LAST_REVIEW_NO = #{LAST_REVIEW_NO},
          </otherwise>
        </choose>
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED = #{DATE_CREATED},
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED = #{DATE_MODIFIED},
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY = #{MODIFIED_BY},
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED = #{DATE_DELETED},
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY = #{DELETED_BY},
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED = #{DATE_APPROVED},
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY = #{APPROVED_BY},
      </if>
      <if test="DATE_CANCELLED != null" >
        DATE_CANCELLED = #{DATE_CANCELLED},
      </if>
      <if test="CANCELLED_BY != null" >
        CANCELLED_BY = #{CANCELLED_BY},
      </if>
      <if test="DATE_SUSPENDED != null" >
        DATE_SUSPENDED = #{DATE_SUSPENDED},
      </if>
      <if test="SUSPENDED_BY != null" >
        SUSPENDED_BY = #{SUSPENDED_BY},
      </if>
      <if test="DATE_REACTIVATED != null" >
        DATE_REACTIVATED = #{DATE_REACTIVATED},
      </if>
      <if test="REACTIVATED_BY != null" >
        REACTIVATED_BY = #{REACTIVATED_BY},
      </if>
      <if test="CIF_ROLE != null" >
        CIF_ROLE = #{CIF_ROLE},
      </if>
      <if test="PROD_CLASS != null" >
        <choose >
          <when test="PROD_CLASS == emptyBigDecimalValue" >
            PROD_CLASS = NULL ,
          </when>
          <otherwise >
            PROD_CLASS = #{PROD_CLASS},
          </otherwise>
        </choose>
      </if>
      <if test="TRX_REF != null" >
        <choose >
          <when test="TRX_REF == emptyBigDecimalValue" >
            TRX_REF = NULL ,
          </when>
          <otherwise >
            TRX_REF = #{TRX_REF},
          </otherwise>
        </choose>
      </if>
      <if test="APP_NAME != null" >
        APP_NAME = #{APP_NAME},
      </if>
      <if test="TRX_TYPE != null" >
        TRX_TYPE = #{TRX_TYPE},
      </if>
      <if test="TRX_STATUS != null" >
        TRX_STATUS = #{TRX_STATUS},
      </if>
      <if test="TRX_LINE_NO != null" >
        <choose >
          <when test="TRX_LINE_NO == emptyBigDecimalValue" >
            TRX_LINE_NO = NULL ,
          </when>
          <otherwise >
            TRX_LINE_NO = #{TRX_LINE_NO},
          </otherwise>
        </choose>
      </if>
      <if test="CURRENCY != null" >
        <choose >
          <when test="CURRENCY == emptyBigDecimalValue" >
            CURRENCY = NULL ,
          </when>
          <otherwise >
            CURRENCY = #{CURRENCY},
          </otherwise>
        </choose>
      </if>
      <if test="AMOUNT != null" >
        <choose >
          <when test="AMOUNT == emptyBigDecimalValue" >
            AMOUNT = NULL ,
          </when>
          <otherwise >
            AMOUNT = #{AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="YIELD != null" >
        <choose >
          <when test="YIELD == emptyBigDecimalValue" >
            YIELD = NULL ,
          </when>
          <otherwise >
            YIELD = #{YIELD},
          </otherwise>
        </choose>
      </if>
      <if test="VALUE_DATE != null" >
        VALUE_DATE = #{VALUE_DATE},
      </if>
      <if test="MATURITY_DATE != null" >
        MATURITY_DATE = #{MATURITY_DATE},
      </if>
      <if test="COMMON_REF != null" >
        <choose >
          <when test="COMMON_REF == emptyBigDecimalValue" >
            COMMON_REF = NULL ,
          </when>
          <otherwise >
            COMMON_REF = #{COMMON_REF},
          </otherwise>
        </choose>
      </if>
      <if test="COMMON_DESC_ENG != null" >
        COMMON_DESC_ENG = #{COMMON_DESC_ENG},
      </if>
      <if test="COMMON_DESC_ARAB != null" >
        COMMON_DESC_ARAB = #{COMMON_DESC_ARAB},
      </if>
      <if test="COMMON_TYPE != null" >
        COMMON_TYPE = #{COMMON_TYPE},
      </if>
      <if test="ADD_NUMBER1 != null" >
        <choose >
          <when test="ADD_NUMBER1 == emptyBigDecimalValue" >
            ADD_NUMBER1 = NULL ,
          </when>
          <otherwise >
            ADD_NUMBER1 = #{ADD_NUMBER1},
          </otherwise>
        </choose>
      </if>
      <if test="ADD_NUMBER2 != null" >
        <choose >
          <when test="ADD_NUMBER2 == emptyBigDecimalValue" >
            ADD_NUMBER2 = NULL ,
          </when>
          <otherwise >
            ADD_NUMBER2 = #{ADD_NUMBER2},
          </otherwise>
        </choose>
      </if>
      <if test="TRADE_DATE != null" >
        TRADE_DATE = #{TRADE_DATE},
      </if>
      <if test="MACHINE_ID != null" >
        MACHINE_ID = #{MACHINE_ID},
      </if>
      <if test="SMS_MEMO != null" >
        SMS_MEMO = #{SMS_MEMO},
      </if>
      <if test="ACC_ADD_REF != null" >
        ACC_ADD_REF = #{ACC_ADD_REF},
      </if>
      <if test="TOBE_CANCELLED_BY != null" >
        TOBE_CANCELLED_BY = #{TOBE_CANCELLED_BY},
      </if>
      <if test="TOBE_CANCELLED_DATE != null" >
        TOBE_CANCELLED_DATE = #{TOBE_CANCELLED_DATE},
      </if>
      <if test="TOBE_SUSPENDED_DATE != null" >
        TOBE_SUSPENDED_DATE = #{TOBE_SUSPENDED_DATE},
      </if>
      <if test="TOBE_REACTIVATED_BY != null" >
        TOBE_REACTIVATED_BY = #{TOBE_REACTIVATED_BY},
      </if>
      <if test="TOBE_REACTIVATED_DATE != null" >
        TOBE_REACTIVATED_DATE = #{TOBE_REACTIVATED_DATE},
      </if>
      <if test="TOBE_SUSPENDED_BY != null" >
        TOBE_SUSPENDED_BY = #{TOBE_SUSPENDED_BY},
      </if>
      DATE_UPDATED = 
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
      <if test="COND_AUTOMATION_CODE != null" >
        <choose >
          <when test="COND_AUTOMATION_CODE == emptyBigDecimalValue" >
            COND_AUTOMATION_CODE = NULL ,
          </when>
          <otherwise >
            COND_AUTOMATION_CODE = #{COND_AUTOMATION_CODE},
          </otherwise>
        </choose>
      </if>
	<if test="SEGMENT_CODE != null">
		<choose>
			<when test="SEGMENT_CODE == emptyBigDecimalValue">
				SEGMENT_CODE = NULL ,
			</when>
			<otherwise>
				SEGMENT_CODE = #{SEGMENT_CODE},
			</otherwise>
		</choose>
	</if>      
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and TRX_NO = #{TRX_NO}
  </sql>
  <update id="updateCTSMEMO_DET" parameterType="com.path.dbmaps.vo.CTSMEMO_DETVO" >
    <include refid="sql_updateCTSMEMO_DET" />
    <if test="DATE_UPDATED != null" >
      AND DATE_UPDATED = #{DATE_UPDATED}
    </if>
  </update>
</mapper>