<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTSPASSBOOK_TYPE" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTSPASSBOOK_TYPEVO" >
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <result column="BRIEF_NAME_ENG" property="BRIEF_NAME_ENG" />
    <result column="BRIEF_NAME_ARAB" property="BRIEF_NAME_ARAB" />
    <result column="LONG_NAME_ENG" property="LONG_NAME_ENG" />
    <result column="LONG_NAME_ARAB" property="LONG_NAME_ARAB" />
    <result column="PASSBOOK_LAYOUT" property="PASSBOOK_LAYOUT" />
    <result column="PASS_HEADER_NUM" property="PASS_HEADER_NUM" />
    <result column="PASS_DETAILS_NUM" property="PASS_DETAILS_NUM" />
    <result column="MAX_LINE_BY_PAGE" property="MAX_LINE_BY_PAGE" />
    <result column="PASS_IN_STOCK" property="PASS_IN_STOCK" />
    <result column="MIN_ALERT_NUM" property="MIN_ALERT_NUM" />
    <result column="TRX_TYPE" property="TRX_TYPE" />
    <result column="CHARGES_SCHEMA" property="CHARGES_SCHEMA" />
    <result column="MAX_NUM_PAGE" property="MAX_NUM_PAGE" />
    <result column="CONSOLIDATED" property="CONSOLIDATED" />
    <result column="CONSOLIDATE_NUM" property="CONSOLIDATE_NUM" />
  </resultMap>
  <sql id="Base_Column_List" >
    CODE, COMP_CODE, BRIEF_NAME_ENG, BRIEF_NAME_ARAB, LONG_NAME_ENG, LONG_NAME_ARAB, 
    PASSBOOK_LAYOUT, PASS_HEADER_NUM, PASS_DETAILS_NUM, MAX_LINE_BY_PAGE, PASS_IN_STOCK, 
    MIN_ALERT_NUM, TRX_TYPE, CHARGES_SCHEMA, MAX_NUM_PAGE, CONSOLIDATED, CONSOLIDATE_NUM
  </sql>
  <select id="selectCTSPASSBOOK_TYPE" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTSPASSBOOK_TYPEVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTSPASSBOOK_TYPE
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </select>
  <delete id="deleteCTSPASSBOOK_TYPE" parameterType="com.path.dbmaps.vo.CTSPASSBOOK_TYPEVOKey" >
    delete from CTSPASSBOOK_TYPE
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </delete>
  <insert id="insertCTSPASSBOOK_TYPE" parameterType="com.path.dbmaps.vo.CTSPASSBOOK_TYPEVO" >
    insert into CTSPASSBOOK_TYPE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="BRIEF_NAME_ENG != null" >
        BRIEF_NAME_ENG,
      </if>
      <if test="BRIEF_NAME_ARAB != null" >
        BRIEF_NAME_ARAB,
      </if>
      <if test="LONG_NAME_ENG != null" >
        LONG_NAME_ENG,
      </if>
      <if test="LONG_NAME_ARAB != null" >
        LONG_NAME_ARAB,
      </if>
      <if test="PASSBOOK_LAYOUT != null" >
        PASSBOOK_LAYOUT,
      </if>
      <if test="PASS_HEADER_NUM != null and PASS_HEADER_NUM != emptyBigDecimalValue" >
        PASS_HEADER_NUM,
      </if>
      <if test="PASS_DETAILS_NUM != null and PASS_DETAILS_NUM != emptyBigDecimalValue" >
        PASS_DETAILS_NUM,
      </if>
      <if test="MAX_LINE_BY_PAGE != null and MAX_LINE_BY_PAGE != emptyBigDecimalValue" >
        MAX_LINE_BY_PAGE,
      </if>
      <if test="PASS_IN_STOCK != null and PASS_IN_STOCK != emptyBigDecimalValue" >
        PASS_IN_STOCK,
      </if>
      <if test="MIN_ALERT_NUM != null and MIN_ALERT_NUM != emptyBigDecimalValue" >
        MIN_ALERT_NUM,
      </if>
      <if test="TRX_TYPE != null and TRX_TYPE != emptyBigDecimalValue" >
        TRX_TYPE,
      </if>
      <if test="CHARGES_SCHEMA != null and CHARGES_SCHEMA != emptyBigDecimalValue" >
        CHARGES_SCHEMA,
      </if>
      <if test="MAX_NUM_PAGE != null and MAX_NUM_PAGE != emptyBigDecimalValue" >
        MAX_NUM_PAGE,
      </if>
      <if test="CONSOLIDATED != null" >
        CONSOLIDATED,
      </if>
      <if test="CONSOLIDATE_NUM != null and CONSOLIDATE_NUM != emptyBigDecimalValue" >
        CONSOLIDATE_NUM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        #{CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="BRIEF_NAME_ENG != null" >
        #{BRIEF_NAME_ENG},
      </if>
      <if test="BRIEF_NAME_ARAB != null" >
        #{BRIEF_NAME_ARAB},
      </if>
      <if test="LONG_NAME_ENG != null" >
        #{LONG_NAME_ENG},
      </if>
      <if test="LONG_NAME_ARAB != null" >
        #{LONG_NAME_ARAB},
      </if>
      <if test="PASSBOOK_LAYOUT != null" >
        #{PASSBOOK_LAYOUT},
      </if>
      <if test="PASS_HEADER_NUM != null and PASS_HEADER_NUM != emptyBigDecimalValue" >
        #{PASS_HEADER_NUM},
      </if>
      <if test="PASS_DETAILS_NUM != null and PASS_DETAILS_NUM != emptyBigDecimalValue" >
        #{PASS_DETAILS_NUM},
      </if>
      <if test="MAX_LINE_BY_PAGE != null and MAX_LINE_BY_PAGE != emptyBigDecimalValue" >
        #{MAX_LINE_BY_PAGE},
      </if>
      <if test="PASS_IN_STOCK != null and PASS_IN_STOCK != emptyBigDecimalValue" >
        #{PASS_IN_STOCK},
      </if>
      <if test="MIN_ALERT_NUM != null and MIN_ALERT_NUM != emptyBigDecimalValue" >
        #{MIN_ALERT_NUM},
      </if>
      <if test="TRX_TYPE != null and TRX_TYPE != emptyBigDecimalValue" >
        #{TRX_TYPE},
      </if>
      <if test="CHARGES_SCHEMA != null and CHARGES_SCHEMA != emptyBigDecimalValue" >
        #{CHARGES_SCHEMA},
      </if>
      <if test="MAX_NUM_PAGE != null and MAX_NUM_PAGE != emptyBigDecimalValue" >
        #{MAX_NUM_PAGE},
      </if>
      <if test="CONSOLIDATED != null" >
        #{CONSOLIDATED},
      </if>
      <if test="CONSOLIDATE_NUM != null and CONSOLIDATE_NUM != emptyBigDecimalValue" >
        #{CONSOLIDATE_NUM},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTSPASSBOOK_TYPE" >
    update CTSPASSBOOK_TYPE
    <set >
      <if test="BRIEF_NAME_ENG != null" >
        BRIEF_NAME_ENG = #{BRIEF_NAME_ENG},
      </if>
      <if test="BRIEF_NAME_ARAB != null" >
        BRIEF_NAME_ARAB = #{BRIEF_NAME_ARAB},
      </if>
      <if test="LONG_NAME_ENG != null" >
        LONG_NAME_ENG = #{LONG_NAME_ENG},
      </if>
      <if test="LONG_NAME_ARAB != null" >
        LONG_NAME_ARAB = #{LONG_NAME_ARAB},
      </if>
      <if test="PASSBOOK_LAYOUT != null" >
        PASSBOOK_LAYOUT = #{PASSBOOK_LAYOUT},
      </if>
      <if test="PASS_HEADER_NUM != null" >
        <choose >
          <when test="PASS_HEADER_NUM == emptyBigDecimalValue" >
            PASS_HEADER_NUM = NULL ,
          </when>
          <otherwise >
            PASS_HEADER_NUM = #{PASS_HEADER_NUM},
          </otherwise>
        </choose>
      </if>
      <if test="PASS_DETAILS_NUM != null" >
        <choose >
          <when test="PASS_DETAILS_NUM == emptyBigDecimalValue" >
            PASS_DETAILS_NUM = NULL ,
          </when>
          <otherwise >
            PASS_DETAILS_NUM = #{PASS_DETAILS_NUM},
          </otherwise>
        </choose>
      </if>
      <if test="MAX_LINE_BY_PAGE != null" >
        <choose >
          <when test="MAX_LINE_BY_PAGE == emptyBigDecimalValue" >
            MAX_LINE_BY_PAGE = NULL ,
          </when>
          <otherwise >
            MAX_LINE_BY_PAGE = #{MAX_LINE_BY_PAGE},
          </otherwise>
        </choose>
      </if>
      <if test="PASS_IN_STOCK != null" >
        <choose >
          <when test="PASS_IN_STOCK == emptyBigDecimalValue" >
            PASS_IN_STOCK = NULL ,
          </when>
          <otherwise >
            PASS_IN_STOCK = #{PASS_IN_STOCK},
          </otherwise>
        </choose>
      </if>
      <if test="MIN_ALERT_NUM != null" >
        <choose >
          <when test="MIN_ALERT_NUM == emptyBigDecimalValue" >
            MIN_ALERT_NUM = NULL ,
          </when>
          <otherwise >
            MIN_ALERT_NUM = #{MIN_ALERT_NUM},
          </otherwise>
        </choose>
      </if>
      <if test="TRX_TYPE != null" >
        <choose >
          <when test="TRX_TYPE == emptyBigDecimalValue" >
            TRX_TYPE = NULL ,
          </when>
          <otherwise >
            TRX_TYPE = #{TRX_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="CHARGES_SCHEMA != null" >
        <choose >
          <when test="CHARGES_SCHEMA == emptyBigDecimalValue" >
            CHARGES_SCHEMA = NULL ,
          </when>
          <otherwise >
            CHARGES_SCHEMA = #{CHARGES_SCHEMA},
          </otherwise>
        </choose>
      </if>
      <if test="MAX_NUM_PAGE != null" >
        <choose >
          <when test="MAX_NUM_PAGE == emptyBigDecimalValue" >
            MAX_NUM_PAGE = NULL ,
          </when>
          <otherwise >
            MAX_NUM_PAGE = #{MAX_NUM_PAGE},
          </otherwise>
        </choose>
      </if>
      <if test="CONSOLIDATED != null" >
        CONSOLIDATED = #{CONSOLIDATED},
      </if>
      <if test="CONSOLIDATE_NUM != null" >
        <choose >
          <when test="CONSOLIDATE_NUM == emptyBigDecimalValue" >
            CONSOLIDATE_NUM = NULL ,
          </when>
          <otherwise >
            CONSOLIDATE_NUM = #{CONSOLIDATE_NUM},
          </otherwise>
        </choose>
      </if>
    </set>
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </sql>
  <update id="updateCTSPASSBOOK_TYPE" parameterType="com.path.dbmaps.vo.CTSPASSBOOK_TYPEVO" >
    <include refid="sql_updateCTSPASSBOOK_TYPE" />
  </update>
</mapper>