<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTSREQ_CHARGES_DET" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTSREQ_CHARGES_DETVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="CHARGE_CODE" property="CHARGE_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="REQ_NO" property="REQ_NO" />
    <result column="ACC_BR" property="ACC_BR" />
    <result column="ACC_CY" property="ACC_CY" />
    <result column="ACC_GL" property="ACC_GL" />
    <result column="ACC_CIF" property="ACC_CIF" />
    <result column="ACC_SL" property="ACC_SL" />
    <result column="AMOUNT" property="AMOUNT" />
    <result column="AMOUNT_NEW" property="AMOUNT_NEW" />
    <result column="INV_ACC_BR" property="INV_ACC_BR" />
    <result column="INV_ACC_CY" property="INV_ACC_CY" />
    <result column="INV_ACC_GL" property="INV_ACC_GL" />
    <result column="INV_ACC_CIF" property="INV_ACC_CIF" />
    <result column="INV_ACC_SL" property="INV_ACC_SL" />
    <result column="NOSTRO_ACC_BR" property="NOSTRO_ACC_BR" />
    <result column="NOSTRO_ACC_CY" property="NOSTRO_ACC_CY" />
    <result column="NOSTRO_ACC_GL" property="NOSTRO_ACC_GL" />
    <result column="NOSTRO_ACC_CIF" property="NOSTRO_ACC_CIF" />
    <result column="NOSTRO_ACC_SL" property="NOSTRO_ACC_SL" />
    <result column="PAYMNT_TYPE" property="PAYMNT_TYPE" />
    <result column="AMOUNT_FC_NEW" property="AMOUNT_FC_NEW" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, CHARGE_CODE, COMP_CODE, REQ_NO, ACC_BR, ACC_CY, ACC_GL, ACC_CIF, ACC_SL, 
    AMOUNT, AMOUNT_NEW, INV_ACC_BR, INV_ACC_CY, INV_ACC_GL, INV_ACC_CIF, INV_ACC_SL, 
    NOSTRO_ACC_BR, NOSTRO_ACC_CY, NOSTRO_ACC_GL, NOSTRO_ACC_CIF, NOSTRO_ACC_SL, PAYMNT_TYPE, 
    AMOUNT_FC_NEW
  </sql>
  <select id="selectCTSREQ_CHARGES_DET" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTSREQ_CHARGES_DETVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTSREQ_CHARGES_DET
    where BRANCH_CODE = #{BRANCH_CODE}
      and CHARGE_CODE = #{CHARGE_CODE}
      and COMP_CODE = #{COMP_CODE}
      and REQ_NO = #{REQ_NO}
  </select>
  <delete id="deleteCTSREQ_CHARGES_DET" parameterType="com.path.dbmaps.vo.CTSREQ_CHARGES_DETVOKey" >
    delete from CTSREQ_CHARGES_DET
    where BRANCH_CODE = #{BRANCH_CODE}
      and CHARGE_CODE = #{CHARGE_CODE}
      and COMP_CODE = #{COMP_CODE}
      and REQ_NO = #{REQ_NO}
  </delete>
  <insert id="insertCTSREQ_CHARGES_DET" parameterType="com.path.dbmaps.vo.CTSREQ_CHARGES_DETVO" >
    insert into CTSREQ_CHARGES_DET
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="CHARGE_CODE != null and CHARGE_CODE != emptyBigDecimalValue" >
        CHARGE_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="REQ_NO != null and REQ_NO != emptyBigDecimalValue" >
        REQ_NO,
      </if>
      <if test="ACC_BR != null and ACC_BR != emptyBigDecimalValue" >
        ACC_BR,
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        ACC_CY,
      </if>
      <if test="ACC_GL != null and ACC_GL != emptyBigDecimalValue" >
        ACC_GL,
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        ACC_CIF,
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        ACC_SL,
      </if>
      <if test="AMOUNT != null and AMOUNT != emptyBigDecimalValue" >
        AMOUNT,
      </if>
      <if test="AMOUNT_NEW != null and AMOUNT_NEW != emptyBigDecimalValue" >
        AMOUNT_NEW,
      </if>
      <if test="INV_ACC_BR != null and INV_ACC_BR != emptyBigDecimalValue" >
        INV_ACC_BR,
      </if>
      <if test="INV_ACC_CY != null and INV_ACC_CY != emptyBigDecimalValue" >
        INV_ACC_CY,
      </if>
      <if test="INV_ACC_GL != null and INV_ACC_GL != emptyBigDecimalValue" >
        INV_ACC_GL,
      </if>
      <if test="INV_ACC_CIF != null and INV_ACC_CIF != emptyBigDecimalValue" >
        INV_ACC_CIF,
      </if>
      <if test="INV_ACC_SL != null and INV_ACC_SL != emptyBigDecimalValue" >
        INV_ACC_SL,
      </if>
      <if test="NOSTRO_ACC_BR != null and NOSTRO_ACC_BR != emptyBigDecimalValue" >
        NOSTRO_ACC_BR,
      </if>
      <if test="NOSTRO_ACC_CY != null and NOSTRO_ACC_CY != emptyBigDecimalValue" >
        NOSTRO_ACC_CY,
      </if>
      <if test="NOSTRO_ACC_GL != null and NOSTRO_ACC_GL != emptyBigDecimalValue" >
        NOSTRO_ACC_GL,
      </if>
      <if test="NOSTRO_ACC_CIF != null and NOSTRO_ACC_CIF != emptyBigDecimalValue" >
        NOSTRO_ACC_CIF,
      </if>
      <if test="NOSTRO_ACC_SL != null and NOSTRO_ACC_SL != emptyBigDecimalValue" >
        NOSTRO_ACC_SL,
      </if>
      <if test="PAYMNT_TYPE != null" >
        PAYMNT_TYPE,
      </if>
      <if test="AMOUNT_FC_NEW != null and AMOUNT_FC_NEW != emptyBigDecimalValue" >
        AMOUNT_FC_NEW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="CHARGE_CODE != null and CHARGE_CODE != emptyBigDecimalValue" >
        #{CHARGE_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="REQ_NO != null and REQ_NO != emptyBigDecimalValue" >
        #{REQ_NO},
      </if>
      <if test="ACC_BR != null and ACC_BR != emptyBigDecimalValue" >
        #{ACC_BR},
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        #{ACC_CY},
      </if>
      <if test="ACC_GL != null and ACC_GL != emptyBigDecimalValue" >
        #{ACC_GL},
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        #{ACC_CIF},
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        #{ACC_SL},
      </if>
      <if test="AMOUNT != null and AMOUNT != emptyBigDecimalValue" >
        #{AMOUNT},
      </if>
      <if test="AMOUNT_NEW != null and AMOUNT_NEW != emptyBigDecimalValue" >
        #{AMOUNT_NEW},
      </if>
      <if test="INV_ACC_BR != null and INV_ACC_BR != emptyBigDecimalValue" >
        #{INV_ACC_BR},
      </if>
      <if test="INV_ACC_CY != null and INV_ACC_CY != emptyBigDecimalValue" >
        #{INV_ACC_CY},
      </if>
      <if test="INV_ACC_GL != null and INV_ACC_GL != emptyBigDecimalValue" >
        #{INV_ACC_GL},
      </if>
      <if test="INV_ACC_CIF != null and INV_ACC_CIF != emptyBigDecimalValue" >
        #{INV_ACC_CIF},
      </if>
      <if test="INV_ACC_SL != null and INV_ACC_SL != emptyBigDecimalValue" >
        #{INV_ACC_SL},
      </if>
      <if test="NOSTRO_ACC_BR != null and NOSTRO_ACC_BR != emptyBigDecimalValue" >
        #{NOSTRO_ACC_BR},
      </if>
      <if test="NOSTRO_ACC_CY != null and NOSTRO_ACC_CY != emptyBigDecimalValue" >
        #{NOSTRO_ACC_CY},
      </if>
      <if test="NOSTRO_ACC_GL != null and NOSTRO_ACC_GL != emptyBigDecimalValue" >
        #{NOSTRO_ACC_GL},
      </if>
      <if test="NOSTRO_ACC_CIF != null and NOSTRO_ACC_CIF != emptyBigDecimalValue" >
        #{NOSTRO_ACC_CIF},
      </if>
      <if test="NOSTRO_ACC_SL != null and NOSTRO_ACC_SL != emptyBigDecimalValue" >
        #{NOSTRO_ACC_SL},
      </if>
      <if test="PAYMNT_TYPE != null" >
        #{PAYMNT_TYPE},
      </if>
      <if test="AMOUNT_FC_NEW != null and AMOUNT_FC_NEW != emptyBigDecimalValue" >
        #{AMOUNT_FC_NEW},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTSREQ_CHARGES_DET" >
    update CTSREQ_CHARGES_DET
    <set >
      <if test="ACC_BR != null" >
        <choose >
          <when test="ACC_BR == emptyBigDecimalValue" >
            ACC_BR = NULL ,
          </when>
          <otherwise >
            ACC_BR = #{ACC_BR},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CY != null" >
        <choose >
          <when test="ACC_CY == emptyBigDecimalValue" >
            ACC_CY = NULL ,
          </when>
          <otherwise >
            ACC_CY = #{ACC_CY},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_GL != null" >
        <choose >
          <when test="ACC_GL == emptyBigDecimalValue" >
            ACC_GL = NULL ,
          </when>
          <otherwise >
            ACC_GL = #{ACC_GL},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CIF != null" >
        <choose >
          <when test="ACC_CIF == emptyBigDecimalValue" >
            ACC_CIF = NULL ,
          </when>
          <otherwise >
            ACC_CIF = #{ACC_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_SL != null" >
        <choose >
          <when test="ACC_SL == emptyBigDecimalValue" >
            ACC_SL = NULL ,
          </when>
          <otherwise >
            ACC_SL = #{ACC_SL},
          </otherwise>
        </choose>
      </if>
      <if test="AMOUNT != null" >
        <choose >
          <when test="AMOUNT == emptyBigDecimalValue" >
            AMOUNT = NULL ,
          </when>
          <otherwise >
            AMOUNT = #{AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="AMOUNT_NEW != null" >
        <choose >
          <when test="AMOUNT_NEW == emptyBigDecimalValue" >
            AMOUNT_NEW = NULL ,
          </when>
          <otherwise >
            AMOUNT_NEW = #{AMOUNT_NEW},
          </otherwise>
        </choose>
      </if>
      <if test="INV_ACC_BR != null" >
        <choose >
          <when test="INV_ACC_BR == emptyBigDecimalValue" >
            INV_ACC_BR = NULL ,
          </when>
          <otherwise >
            INV_ACC_BR = #{INV_ACC_BR},
          </otherwise>
        </choose>
      </if>
      <if test="INV_ACC_CY != null" >
        <choose >
          <when test="INV_ACC_CY == emptyBigDecimalValue" >
            INV_ACC_CY = NULL ,
          </when>
          <otherwise >
            INV_ACC_CY = #{INV_ACC_CY},
          </otherwise>
        </choose>
      </if>
      <if test="INV_ACC_GL != null" >
        <choose >
          <when test="INV_ACC_GL == emptyBigDecimalValue" >
            INV_ACC_GL = NULL ,
          </when>
          <otherwise >
            INV_ACC_GL = #{INV_ACC_GL},
          </otherwise>
        </choose>
      </if>
      <if test="INV_ACC_CIF != null" >
        <choose >
          <when test="INV_ACC_CIF == emptyBigDecimalValue" >
            INV_ACC_CIF = NULL ,
          </when>
          <otherwise >
            INV_ACC_CIF = #{INV_ACC_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="INV_ACC_SL != null" >
        <choose >
          <when test="INV_ACC_SL == emptyBigDecimalValue" >
            INV_ACC_SL = NULL ,
          </when>
          <otherwise >
            INV_ACC_SL = #{INV_ACC_SL},
          </otherwise>
        </choose>
      </if>
      <if test="NOSTRO_ACC_BR != null" >
        <choose >
          <when test="NOSTRO_ACC_BR == emptyBigDecimalValue" >
            NOSTRO_ACC_BR = NULL ,
          </when>
          <otherwise >
            NOSTRO_ACC_BR = #{NOSTRO_ACC_BR},
          </otherwise>
        </choose>
      </if>
      <if test="NOSTRO_ACC_CY != null" >
        <choose >
          <when test="NOSTRO_ACC_CY == emptyBigDecimalValue" >
            NOSTRO_ACC_CY = NULL ,
          </when>
          <otherwise >
            NOSTRO_ACC_CY = #{NOSTRO_ACC_CY},
          </otherwise>
        </choose>
      </if>
      <if test="NOSTRO_ACC_GL != null" >
        <choose >
          <when test="NOSTRO_ACC_GL == emptyBigDecimalValue" >
            NOSTRO_ACC_GL = NULL ,
          </when>
          <otherwise >
            NOSTRO_ACC_GL = #{NOSTRO_ACC_GL},
          </otherwise>
        </choose>
      </if>
      <if test="NOSTRO_ACC_CIF != null" >
        <choose >
          <when test="NOSTRO_ACC_CIF == emptyBigDecimalValue" >
            NOSTRO_ACC_CIF = NULL ,
          </when>
          <otherwise >
            NOSTRO_ACC_CIF = #{NOSTRO_ACC_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="NOSTRO_ACC_SL != null" >
        <choose >
          <when test="NOSTRO_ACC_SL == emptyBigDecimalValue" >
            NOSTRO_ACC_SL = NULL ,
          </when>
          <otherwise >
            NOSTRO_ACC_SL = #{NOSTRO_ACC_SL},
          </otherwise>
        </choose>
      </if>
      <if test="PAYMNT_TYPE != null" >
        PAYMNT_TYPE = #{PAYMNT_TYPE},
      </if>
      <if test="AMOUNT_FC_NEW != null" >
        <choose >
          <when test="AMOUNT_FC_NEW == emptyBigDecimalValue" >
            AMOUNT_FC_NEW = NULL ,
          </when>
          <otherwise >
            AMOUNT_FC_NEW = #{AMOUNT_FC_NEW},
          </otherwise>
        </choose>
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and CHARGE_CODE = #{CHARGE_CODE}
      and COMP_CODE = #{COMP_CODE}
      and REQ_NO = #{REQ_NO}
  </sql>
  <update id="updateCTSREQ_CHARGES_DET" parameterType="com.path.dbmaps.vo.CTSREQ_CHARGES_DETVO" >
    <include refid="sql_updateCTSREQ_CHARGES_DET" />
  </update>
</mapper>