<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTSRESTRICTIONS" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTSRESTRICTIONSVO" >
    <id column="APP_NAME" property="APP_NAME" />
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="CODE" property="CODE" />
    <id column="CODE_TYPE" property="CODE_TYPE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="PROG_REF" property="PROG_REF" />
    <result column="GL_CODE" property="GL_CODE" />
    <result column="CIF_TYPE" property="CIF_TYPE" />
    <result column="STATUS" property="STATUS" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="CREATED_DATE" property="CREATED_DATE" />
    <result column="APPROVED_BY" property="APPROVED_BY" />
    <result column="APPROVED_DATE" property="APPROVED_DATE" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="MODIFIED_DATE" property="MODIFIED_DATE" />
    <result column="CODE_TYPE_DESC" property="CODE_TYPE_DESC" />
    <result column="ACC_STATUS" property="ACC_STATUS" />
    <result column="FORBID" property="FORBID" />
    <result column="LINE_NO" property="LINE_NO" />
    <result column="CURRENCY_CODE" property="CURRENCY_CODE" />
    <result column="CIF_SUB_NO" property="CIF_SUB_NO" />
    <result column="SL_NO" property="SL_NO" />
    <result column="FROM_CIF_TYPE" property="FROM_CIF_TYPE" />
    <result column="TO_CIF_TYPE" property="TO_CIF_TYPE" />
    <result column="FROM_CIF" property="FROM_CIF" />
    <result column="TO_CIF" property="TO_CIF" />
    <result column="FROM_AMOUNT" property="FROM_AMOUNT" />
    <result column="TO_AMOUNT" property="TO_AMOUNT" />
    <result column="DELETED_BY" property="DELETED_BY" />
    <result column="DELETED_DATE" property="DELETED_DATE" />
    <result column="REJECTED_BY" property="REJECTED_BY" />
    <result column="REJECTED_DATE" property="REJECTED_DATE" />
    <result column="PERSONAL_ACC_ACCESS" property="PERSONAL_ACC_ACCESS" />
    <result column="RESTRICTION_LEVEL" property="RESTRICTION_LEVEL" />
    <result column="EXCEPT_LOGIN_BR_YN" property="EXCEPT_LOGIN_BR_YN" />
  </resultMap>
  <sql id="Base_Column_List" >
    APP_NAME, BRANCH_CODE, CODE, CODE_TYPE, COMP_CODE, PROG_REF, GL_CODE, CIF_TYPE, STATUS, 
    CREATED_BY, CREATED_DATE, APPROVED_BY, APPROVED_DATE, MODIFIED_BY, MODIFIED_DATE, 
    CODE_TYPE_DESC, ACC_STATUS, FORBID, LINE_NO, CURRENCY_CODE, CIF_SUB_NO, SL_NO, FROM_CIF_TYPE, 
    TO_CIF_TYPE, FROM_CIF, TO_CIF, FROM_AMOUNT, TO_AMOUNT, DELETED_BY, DELETED_DATE, 
    REJECTED_BY, REJECTED_DATE, PERSONAL_ACC_ACCESS,RESTRICTION_LEVEL ,EXCEPT_LOGIN_BR_YN
  </sql>
  
  <select id="selectCTSRESTRICTIONS" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTSRESTRICTIONSVO" >
    select 
    <include refid="Base_Column_List" />
    from CTSRESTRICTIONS
    where APP_NAME = #{APP_NAME}
      and BRANCH_CODE = #{BRANCH_CODE}
      and CODE = #{CODE}
      and CODE_TYPE = #{CODE_TYPE}
      and COMP_CODE = #{COMP_CODE}
      and PROG_REF = #{PROG_REF}
  </select>
 
</mapper>