<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTSTELLER" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTSTELLERVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <result column="BRIEF_NAME_ENG" property="BRIEF_NAME_ENG" />
    <result column="LONG_NAME_ENG" property="LONG_NAME_ENG" />
    <result column="BRIEF_NAME_ARAB" property="BRIEF_NAME_ARAB" />
    <result column="LONG_NAME_ARAB" property="LONG_NAME_ARAB" />
    <result column="PRIVILEGE_LEVEL" property="PRIVILEGE_LEVEL" />
    <result column="GLOBAL_LIMIT_CV" property="GLOBAL_LIMIT_CV" />
    <result column="STATUS" property="STATUS" />
    <result column="DATE_CREATED" property="DATE_CREATED" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="DATE_APPROVED" property="DATE_APPROVED" />
    <result column="APPROVED_BY" property="APPROVED_BY" />
    <result column="DATE_MODIFIED" property="DATE_MODIFIED" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="DATE_SUSPENDED" property="DATE_SUSPENDED" />
    <result column="SUSPENDED_BY" property="SUSPENDED_BY" />
    <result column="DATE_REACTIVATED" property="DATE_REACTIVATED" />
    <result column="REACTIVATED_BY" property="REACTIVATED_BY" />
    <result column="DATE_DELETED" property="DATE_DELETED" />
    <result column="DELETED_BY" property="DELETED_BY" />
    <result column="DATE_AUTHORIZED" property="DATE_AUTHORIZED" />
    <result column="AUTHORIZED_BY" property="AUTHORIZED_BY" />
    <result column="USER_ID" property="USER_ID" />
    <result column="CIF_NO" property="CIF_NO" />
    <result column="SIGNED_ON_STATUS" property="SIGNED_ON_STATUS" />
    <result column="SHOW_CIF_BR" property="SHOW_CIF_BR" />
    <result column="VIEW_DORMANT_ACC" property="VIEW_DORMANT_ACC" />
    <result column="CIF_APPROVED" property="CIF_APPROVED" />
    <result column="ALLOW_TO_MODIFY_CIF" property="ALLOW_TO_MODIFY_CIF" />
    <result column="TELLER_TYPE" property="TELLER_TYPE" />
    <result column="DIVISION_CODE" property="DIVISION_CODE" />
    <result column="DEPT_CODE" property="DEPT_CODE" />
    <result column="MODIFY_CIF_CATEG" property="MODIFY_CIF_CATEG" />
    <result column="ROLE_CODE" property="ROLE_CODE" />
    <result column="CHECK_ROLE" property="CHECK_ROLE" />
    <result column="SHOW_ALL_TRX" property="SHOW_ALL_TRX" />
    <result column="FTP_MEMO" property="FTP_MEMO" />
    <result column="TELLER_RATE" property="TELLER_RATE" />
    <result column="CIF_WO_CID" property="CIF_WO_CID" />
    <result column="CIF_WO_ACC" property="CIF_WO_ACC" />
    <result column="CIF_RESERVED_NO" property="CIF_RESERVED_NO" />
    <result column="USER_IS_BRANCH_MANAGER" property="USER_IS_BRANCH_MANAGER" />
    <result column="ALLOW_CHANGE_PENALTY" property="ALLOW_CHANGE_PENALTY" />
    <result column="TRS_ADVICE_PRINTER" property="TRS_ADVICE_PRINTER" />
    <result column="ACC_CIF_FORMS_PRINTER" property="ACC_CIF_FORMS_PRINTER" />
    <result column="SHOW_TODAY_TRX" property="SHOW_TODAY_TRX" />
    <result column="SHOW_ACC_BR" property="SHOW_ACC_BR" />
    <result column="FORBID_TRS_ON_ITS_ACC" property="FORBID_TRS_ON_ITS_ACC" />
    <result column="CHANGE_WARN_LETTER" property="CHANGE_WARN_LETTER" />
    <result column="REL_OFF_ID" property="REL_OFF_ID" />
    <result column="DO_NOT_SHOW_BAL" property="DO_NOT_SHOW_BAL" />
    <result column="TEMPL_CODE" property="TEMPL_CODE" />
    <result column="FORBID_VOID_CHQ" property="FORBID_VOID_CHQ" />
    <result column="AUTH_OD_ACC" property="AUTH_OD_ACC" />
    <result column="OVERPASS_CLOSURE" property="OVERPASS_CLOSURE" />
    <result column="VIEW_SUSPEND_ACC" property="VIEW_SUSPEND_ACC" />
    <result column="FORBID_CHANGE_SUBMITTED_DATE" property="FORBID_CHANGE_SUBMITTED_DATE" />
    <result column="MASK_CARD_NO" property="MASK_CARD_NO" />
    <result column="FMA_BR_ENABLED_YN" property="FMA_BR_ENABLED_YN" />
    <result column="ALLOW_CIF_CREATION_MASK_YN" property="ALLOW_CIF_CREATION_MASK_YN" />
    <result column="ENABLE_MULTI_BR_ACC_CREAT_YN" property="ENABLE_MULTI_BR_ACC_CREAT_YN" />  
    <result column="APPLY_CIF_TYP_RESTR_ON_ACC_YN" property="APPLY_CIF_TYP_RESTR_ON_ACC_YN" />
    <result column="VIEW_DYN_FILE_BY_OTHER_USR_YN" property="VIEW_DYN_FILE_BY_OTHER_USR_YN" />  
    <result column="DYN_FILE_USR_LOCATION_LIST" property="DYN_FILE_USR_LOCATION_LIST" />
    <result column="MASK_TRX_AMT_APPROVE_YN" property="MASK_TRX_AMT_APPROVE_YN" />
    <result column="MODIFY_CIF_PEP_CREATION_YN" property="MODIFY_CIF_PEP_CREATION_YN" />  
    <result column="SCANNER_DEVICE_TYPE" property="SCANNER_DEVICE_TYPE" />  
    <result column="ALLOW_BTCH_IMP_PRC_SAME_USR_YN" property="ALLOW_BTCH_IMP_PRC_SAME_USR_YN" />
    <result column="FORBID_AMEND_ACTIVE_TRX_YN" property="FORBID_AMEND_ACTIVE_TRX_YN" />
    <result column="CHEQUE_SCANNER_TYPE" property="CHEQUE_SCANNER_TYPE" />  
    <result column="ALLOW_BTCH_IMP_PRC_SAME_USR_YN" property="ALLOW_BTCH_IMP_PRC_SAME_USR_YN" />
    <result column="ALLOW_HEAD_TELLER_AXS_ATM_YN" property="ALLOW_HEAD_TELLER_AXS_ATM_YN" />
    <result column="ALLOW_USER_WAIVE_CHARGE_APP_YN" property="ALLOW_USER_WAIVE_CHARGE_APP_YN" />
    <result column="LOGIN_AFTER_SIGN_OFF" property="LOGIN_AFTER_SIGN_OFF" />
    <result column="SIGNED_OFF_DATE" property="SIGNED_OFF_DATE" />
    <result column="ALW_RCVR_PCS_PRF_EDI_GL_BOD_YN" property="ALW_RCVR_PCS_PRF_EDI_GL_BOD_YN" />
    <result column="ALLOW_DEL_SPC_COND_DEC_YN" property="ALLOW_DEL_SPC_COND_DEC_YN" />
    <result column="ALW_MDF_MARKTEDBY_USR_U_ACC_YN" property="ALW_MDF_MARKTEDBY_USR_U_ACC_YN" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, CODE, COMP_CODE, BRIEF_NAME_ENG, LONG_NAME_ENG, BRIEF_NAME_ARAB, LONG_NAME_ARAB, 
    PRIVILEGE_LEVEL, GLOBAL_LIMIT_CV, STATUS, DATE_CREATED, CREATED_BY, DATE_APPROVED, 
    APPROVED_BY, DATE_MODIFIED, MODIFIED_BY, DATE_SUSPENDED, SUSPENDED_BY, DATE_REACTIVATED, 
    REACTIVATED_BY, DATE_DELETED, DELETED_BY, DATE_AUTHORIZED, AUTHORIZED_BY, USER_ID, 
    CIF_NO, SIGNED_ON_STATUS, SHOW_CIF_BR, VIEW_DORMANT_ACC, CIF_APPROVED, ALLOW_TO_MODIFY_CIF, 
    TELLER_TYPE, DIVISION_CODE, DEPT_CODE, MODIFY_CIF_CATEG, ROLE_CODE, CHECK_ROLE, SHOW_ALL_TRX, 
    FTP_MEMO, TELLER_RATE, CIF_WO_CID, CIF_WO_ACC, CIF_RESERVED_NO, USER_IS_BRANCH_MANAGER, 
    ALLOW_CHANGE_PENALTY, TRS_ADVICE_PRINTER, ACC_CIF_FORMS_PRINTER, SHOW_TODAY_TRX, 
    SHOW_ACC_BR, FORBID_TRS_ON_ITS_ACC, CHANGE_WARN_LETTER, REL_OFF_ID, DO_NOT_SHOW_BAL, 
    TEMPL_CODE, FORBID_VOID_CHQ, AUTH_OD_ACC, OVERPASS_CLOSURE, VIEW_SUSPEND_ACC, FORBID_CHANGE_SUBMITTED_DATE, 
    MASK_CARD_NO, FMA_BR_ENABLED_YN, ALLOW_CIF_CREATION_MASK_YN  , ENABLE_MULTI_BR_ACC_CREAT_YN ,APPLY_CIF_TYP_RESTR_ON_ACC_YN,
    VIEW_DYN_FILE_BY_OTHER_USR_YN,DYN_FILE_USR_LOCATION_LIST,MASK_TRX_AMT_APPROVE_YN,MODIFY_CIF_PEP_CREATION_YN,
    SCANNER_DEVICE_TYPE,ALLOW_BTCH_IMP_PRC_SAME_USR_YN, FORBID_AMEND_ACTIVE_TRX_YN, CHEQUE_SCANNER_TYPE,ALLOW_BTCH_IMP_PRC_SAME_USR_YN,ALLOW_HEAD_TELLER_AXS_ATM_YN,ALLOW_USER_WAIVE_CHARGE_APP_YN, LOGIN_AFTER_SIGN_OFF, SIGNED_OFF_DATE ,ALW_RCVR_PCS_PRF_EDI_GL_BOD_YN, ALLOW_DEL_SPC_COND_DEC_YN,
    ALW_MDF_MARKTEDBY_USR_U_ACC_YN
  </sql>
  <select id="selectCTSTELLER" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTSTELLERVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTSTELLER
    where BRANCH_CODE = #{BRANCH_CODE}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </select>
  <delete id="deleteCTSTELLER" parameterType="com.path.dbmaps.vo.CTSTELLERVOKey" >
    delete from CTSTELLER
    where BRANCH_CODE = #{BRANCH_CODE}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </delete>
  <insert id="insertCTSTELLER" parameterType="com.path.dbmaps.vo.CTSTELLERVO" >
    insert into CTSTELLER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="BRIEF_NAME_ENG != null" >
        BRIEF_NAME_ENG,
      </if>
      <if test="LONG_NAME_ENG != null" >
        LONG_NAME_ENG,
      </if>
      <if test="BRIEF_NAME_ARAB != null" >
        BRIEF_NAME_ARAB,
      </if>
      <if test="LONG_NAME_ARAB != null" >
        LONG_NAME_ARAB,
      </if>
      <if test="PRIVILEGE_LEVEL != null and PRIVILEGE_LEVEL != emptyBigDecimalValue" >
        PRIVILEGE_LEVEL,
      </if>
      <if test="GLOBAL_LIMIT_CV != null and GLOBAL_LIMIT_CV != emptyBigDecimalValue" >
        GLOBAL_LIMIT_CV,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED,
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY,
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED,
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY,
      </if>
      <if test="DATE_SUSPENDED != null" >
        DATE_SUSPENDED,
      </if>
      <if test="SUSPENDED_BY != null" >
        SUSPENDED_BY,
      </if>
      <if test="DATE_REACTIVATED != null" >
        DATE_REACTIVATED,
      </if>
      <if test="REACTIVATED_BY != null" >
        REACTIVATED_BY,
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED,
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY,
      </if>
      <if test="DATE_AUTHORIZED != null" >
        DATE_AUTHORIZED,
      </if>
      <if test="AUTHORIZED_BY != null" >
        AUTHORIZED_BY,
      </if>
      <if test="USER_ID != null" >
        USER_ID,
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        CIF_NO,
      </if>
      <if test="SIGNED_ON_STATUS != null" >
        SIGNED_ON_STATUS,
      </if>
      <if test="SHOW_CIF_BR != null" >
        SHOW_CIF_BR,
      </if>
      <if test="VIEW_DORMANT_ACC != null" >
        VIEW_DORMANT_ACC,
      </if>
      <if test="CIF_APPROVED != null" >
        CIF_APPROVED,
      </if>
      <if test="ALLOW_TO_MODIFY_CIF != null" >
        ALLOW_TO_MODIFY_CIF,
      </if>
      <if test="TELLER_TYPE != null and TELLER_TYPE != emptyBigDecimalValue" >
        TELLER_TYPE,
      </if>
      <if test="DIVISION_CODE != null and DIVISION_CODE != emptyBigDecimalValue" >
        DIVISION_CODE,
      </if>
      <if test="DEPT_CODE != null and DEPT_CODE != emptyBigDecimalValue" >
        DEPT_CODE,
      </if>
      <if test="MODIFY_CIF_CATEG != null" >
        MODIFY_CIF_CATEG,
      </if>
      <if test="ROLE_CODE != null and ROLE_CODE != emptyBigDecimalValue" >
        ROLE_CODE,
      </if>
      <if test="CHECK_ROLE != null" >
        CHECK_ROLE,
      </if>
      <if test="SHOW_ALL_TRX != null" >
        SHOW_ALL_TRX,
      </if>
      <if test="FTP_MEMO != null and FTP_MEMO != emptyBigDecimalValue" >
        FTP_MEMO,
      </if>
      <if test="TELLER_RATE != null and TELLER_RATE != emptyBigDecimalValue" >
        TELLER_RATE,
      </if>
      <if test="CIF_WO_CID != null" >
        CIF_WO_CID,
      </if>
      <if test="CIF_WO_ACC != null" >
        CIF_WO_ACC,
      </if>
      <if test="CIF_RESERVED_NO != null" >
        CIF_RESERVED_NO,
      </if>
      <if test="USER_IS_BRANCH_MANAGER != null" >
        USER_IS_BRANCH_MANAGER,
      </if>
      <if test="ALLOW_CHANGE_PENALTY != null" >
        ALLOW_CHANGE_PENALTY,
      </if>
      <if test="TRS_ADVICE_PRINTER != null" >
        TRS_ADVICE_PRINTER,
      </if>
      <if test="ACC_CIF_FORMS_PRINTER != null" >
        ACC_CIF_FORMS_PRINTER,
      </if>
      <if test="SHOW_TODAY_TRX != null" >
        SHOW_TODAY_TRX,
      </if>
      <if test="SHOW_ACC_BR != null" >
        SHOW_ACC_BR,
      </if>
      <if test="FORBID_TRS_ON_ITS_ACC != null" >
        FORBID_TRS_ON_ITS_ACC,
      </if>
      <if test="CHANGE_WARN_LETTER != null" >
        CHANGE_WARN_LETTER,
      </if>
      <if test="REL_OFF_ID != null and REL_OFF_ID != emptyBigDecimalValue" >
        REL_OFF_ID,
      </if>
      <if test="DO_NOT_SHOW_BAL != null" >
        DO_NOT_SHOW_BAL,
      </if>
      <if test="TEMPL_CODE != null and TEMPL_CODE != emptyBigDecimalValue" >
        TEMPL_CODE,
      </if>
      <if test="FORBID_VOID_CHQ != null" >
        FORBID_VOID_CHQ,
      </if>
      <if test="AUTH_OD_ACC != null" >
        AUTH_OD_ACC,
      </if>
      <if test="OVERPASS_CLOSURE != null and OVERPASS_CLOSURE != emptyBigDecimalValue" >
        OVERPASS_CLOSURE,
      </if>
      <if test="VIEW_SUSPEND_ACC != null" >
        VIEW_SUSPEND_ACC,
      </if>
      <if test="FORBID_CHANGE_SUBMITTED_DATE != null" >
        FORBID_CHANGE_SUBMITTED_DATE,
      </if>
      <if test="MASK_CARD_NO != null" >
        MASK_CARD_NO,
      </if>
      <if test="FMA_BR_ENABLED_YN != null" >
        FMA_BR_ENABLED_YN
      </if>
      <if test="ALLOW_CIF_CREATION_MASK_YN != null" >
        ALLOW_CIF_CREATION_MASK_YN,
      </if>
      <if test="ENABLE_MULTI_BR_ACC_CREAT_YN != null" >
        ENABLE_MULTI_BR_ACC_CREAT_YN,
      </if>    
      <if test="APPLY_CIF_TYP_RESTR_ON_ACC_YN != null" >
        APPLY_CIF_TYP_RESTR_ON_ACC_YN,
      </if>
      <if test="VIEW_DYN_FILE_BY_OTHER_USR_YN != null" >
        VIEW_DYN_FILE_BY_OTHER_USR_YN
      </if>
      <if test="DYN_FILE_USR_LOCATION_LIST != null" >
        DYN_FILE_USR_LOCATION_LIST
      </if>
      <if test="MASK_TRX_AMT_APPROVE_YN != null and !&quot;&quot;.equals(MASK_TRX_AMT_APPROVE_YN)" >
        MASK_TRX_AMT_APPROVE_YN
      </if>
      <if test='MODIFY_CIF_PEP_CREATION_YN != null and !"".equals(MODIFY_CIF_PEP_CREATION_YN) ' >
        MODIFY_CIF_PEP_CREATION_YN,
      </if>   
      <if test='SCANNER_DEVICE_TYPE != null and !"".equals(SCANNER_DEVICE_TYPE) ' >
        SCANNER_DEVICE_TYPE,
      </if>
      <if test='ALLOW_BTCH_IMP_PRC_SAME_USR_YN != null and ALLOW_BTCH_IMP_PRC_SAME_USR_YN' >
        ALLOW_BTCH_IMP_PRC_SAME_USR_YN,
      </if>
      <if test='FORBID_AMEND_ACTIVE_TRX_YN != null and !&quot;&quot;.equals(FORBID_AMEND_ACTIVE_TRX_YN)' >
        FORBID_AMEND_ACTIVE_TRX_YN,
      </if>
      <if test="CHEQUE_SCANNER_TYPE != null" >
        CHEQUE_SCANNER_TYPE,
      </if>
      <if test="ALLOW_BTCH_IMP_PRC_SAME_USR_YN != null" >
        ALLOW_BTCH_IMP_PRC_SAME_USR_YN,
      </if>
      <if test="ALLOW_HEAD_TELLER_AXS_ATM_YN != null" >
        ALLOW_HEAD_TELLER_AXS_ATM_YN,
      </if>
       <if test="ALLOW_USER_WAIVE_CHARGE_APP_YN != null" >
        ALLOW_USER_WAIVE_CHARGE_APP_YN,
      </if>
      <if test="LOGIN_AFTER_SIGN_OFF != null" >
        LOGIN_AFTER_SIGN_OFF,
      </if>
      <if test="SIGNED_OFF_DATE != null" >
        SIGNED_OFF_DATE,
      </if>  
      <if test="ALW_RCVR_PCS_PRF_EDI_GL_BOD_YN != null" >
        ALW_RCVR_PCS_PRF_EDI_GL_BOD_YN,
      </if>
      <if test="ALLOW_DEL_SPC_COND_DEC_YN != null" >
        ALLOW_DEL_SPC_COND_DEC_YN,
      </if>
      <if test="ALW_MDF_MARKTEDBY_USR_U_ACC_YN != null" >
        ALW_MDF_MARKTEDBY_USR_U_ACC_YN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        #{CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="BRIEF_NAME_ENG != null" >
        #{BRIEF_NAME_ENG},
      </if>
      <if test="LONG_NAME_ENG != null" >
        #{LONG_NAME_ENG},
      </if>
      <if test="BRIEF_NAME_ARAB != null" >
        #{BRIEF_NAME_ARAB},
      </if>
      <if test="LONG_NAME_ARAB != null" >
        #{LONG_NAME_ARAB},
      </if>
      <if test="PRIVILEGE_LEVEL != null and PRIVILEGE_LEVEL != emptyBigDecimalValue" >
        #{PRIVILEGE_LEVEL},
      </if>
      <if test="GLOBAL_LIMIT_CV != null and GLOBAL_LIMIT_CV != emptyBigDecimalValue" >
        #{GLOBAL_LIMIT_CV},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="DATE_CREATED != null" >
        #{DATE_CREATED},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="DATE_APPROVED != null" >
        #{DATE_APPROVED},
      </if>
      <if test="APPROVED_BY != null" >
        #{APPROVED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        #{DATE_MODIFIED},
      </if>
      <if test="MODIFIED_BY != null" >
        #{MODIFIED_BY},
      </if>
      <if test="DATE_SUSPENDED != null" >
        #{DATE_SUSPENDED},
      </if>
      <if test="SUSPENDED_BY != null" >
        #{SUSPENDED_BY},
      </if>
      <if test="DATE_REACTIVATED != null" >
        #{DATE_REACTIVATED},
      </if>
      <if test="REACTIVATED_BY != null" >
        #{REACTIVATED_BY},
      </if>
      <if test="DATE_DELETED != null" >
        #{DATE_DELETED},
      </if>
      <if test="DELETED_BY != null" >
        #{DELETED_BY},
      </if>
      <if test="DATE_AUTHORIZED != null" >
        #{DATE_AUTHORIZED},
      </if>
      <if test="AUTHORIZED_BY != null" >
        #{AUTHORIZED_BY},
      </if>
      <if test="USER_ID != null" >
        #{USER_ID},
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        #{CIF_NO},
      </if>
      <if test="SIGNED_ON_STATUS != null" >
        #{SIGNED_ON_STATUS},
      </if>
      <if test="SHOW_CIF_BR != null" >
        #{SHOW_CIF_BR},
      </if>
      <if test="VIEW_DORMANT_ACC != null" >
        #{VIEW_DORMANT_ACC},
      </if>
      <if test="CIF_APPROVED != null" >
        #{CIF_APPROVED},
      </if>
      <if test="ALLOW_TO_MODIFY_CIF != null" >
        #{ALLOW_TO_MODIFY_CIF},
      </if>
      <if test="TELLER_TYPE != null and TELLER_TYPE != emptyBigDecimalValue" >
        #{TELLER_TYPE},
      </if>
      <if test="DIVISION_CODE != null and DIVISION_CODE != emptyBigDecimalValue" >
        #{DIVISION_CODE},
      </if>
      <if test="DEPT_CODE != null and DEPT_CODE != emptyBigDecimalValue" >
        #{DEPT_CODE},
      </if>
      <if test="MODIFY_CIF_CATEG != null" >
        #{MODIFY_CIF_CATEG},
      </if>
      <if test="ROLE_CODE != null and ROLE_CODE != emptyBigDecimalValue" >
        #{ROLE_CODE},
      </if>
      <if test="CHECK_ROLE != null" >
        #{CHECK_ROLE},
      </if>
      <if test="SHOW_ALL_TRX != null" >
        #{SHOW_ALL_TRX},
      </if>
      <if test="FTP_MEMO != null and FTP_MEMO != emptyBigDecimalValue" >
        #{FTP_MEMO},
      </if>
      <if test="TELLER_RATE != null and TELLER_RATE != emptyBigDecimalValue" >
        #{TELLER_RATE},
      </if>
      <if test="CIF_WO_CID != null" >
        #{CIF_WO_CID},
      </if>
      <if test="CIF_WO_ACC != null" >
        #{CIF_WO_ACC},
      </if>
      <if test="CIF_RESERVED_NO != null" >
        #{CIF_RESERVED_NO},
      </if>
      <if test="USER_IS_BRANCH_MANAGER != null" >
        #{USER_IS_BRANCH_MANAGER},
      </if>
      <if test="ALLOW_CHANGE_PENALTY != null" >
        #{ALLOW_CHANGE_PENALTY},
      </if>
      <if test="TRS_ADVICE_PRINTER != null" >
        #{TRS_ADVICE_PRINTER},
      </if>
      <if test="ACC_CIF_FORMS_PRINTER != null" >
        #{ACC_CIF_FORMS_PRINTER},
      </if>
      <if test="SHOW_TODAY_TRX != null" >
        #{SHOW_TODAY_TRX},
      </if>
      <if test="SHOW_ACC_BR != null" >
        #{SHOW_ACC_BR},
      </if>
      <if test="FORBID_TRS_ON_ITS_ACC != null" >
        #{FORBID_TRS_ON_ITS_ACC},
      </if>
      <if test="CHANGE_WARN_LETTER != null" >
        #{CHANGE_WARN_LETTER},
      </if>
      <if test="REL_OFF_ID != null and REL_OFF_ID != emptyBigDecimalValue" >
        #{REL_OFF_ID},
      </if>
      <if test="DO_NOT_SHOW_BAL != null" >
        #{DO_NOT_SHOW_BAL},
      </if>
      <if test="TEMPL_CODE != null and TEMPL_CODE != emptyBigDecimalValue" >
        #{TEMPL_CODE},
      </if>
      <if test="FORBID_VOID_CHQ != null" >
        #{FORBID_VOID_CHQ},
      </if>
      <if test="AUTH_OD_ACC != null" >
        #{AUTH_OD_ACC},
      </if>
      <if test="OVERPASS_CLOSURE != null and OVERPASS_CLOSURE != emptyBigDecimalValue" >
        #{OVERPASS_CLOSURE},
      </if>
      <if test="VIEW_SUSPEND_ACC != null" >
        #{VIEW_SUSPEND_ACC},
      </if>
      <if test="FORBID_CHANGE_SUBMITTED_DATE != null" >
        #{FORBID_CHANGE_SUBMITTED_DATE},
      </if>
      <if test="MASK_CARD_NO != null" >
        #{MASK_CARD_NO},
      </if>
      <if test="FMA_BR_ENABLED_YN != null" >
        #{FMA_BR_ENABLED_YN},
      </if>
      <if test="ALLOW_CIF_CREATION_MASK_YN != null" >
        #{ALLOW_CIF_CREATION_MASK_YN},
      </if>
       <if test="ENABLE_MULTI_BR_ACC_CREAT_YN != null" >
        #{ENABLE_MULTI_BR_ACC_CREAT_YN},
      </if>
       <if test="APPLY_CIF_TYP_RESTR_ON_ACC_YN != null" >
        #{APPLY_CIF_TYP_RESTR_ON_ACC_YN},
      </if>
       <if test="VIEW_DYN_FILE_BY_OTHER_USR_YN != null" >
        #{VIEW_DYN_FILE_BY_OTHER_USR_YN},
      </if>
       <if test="DYN_FILE_USR_LOCATION_LIST != null" >
        #{DYN_FILE_USR_LOCATION_LIST},
      </if>
       <if test="MASK_TRX_AMT_APPROVE_YN != null and !&quot;&quot;.equals(MASK_TRX_AMT_APPROVE_YN)" >
        #{MASK_TRX_AMT_APPROVE_YN},
      </if>
      <if test='MODIFY_CIF_PEP_CREATION_YN != null and !"".equals(MODIFY_CIF_PEP_CREATION_YN) ' >
        #{MODIFY_CIF_PEP_CREATION_YN},
      </if>
      <if test='SCANNER_DEVICE_TYPE != null and !"".equals(SCANNER_DEVICE_TYPE) ' >
        #{SCANNER_DEVICE_TYPE},
      </if>
      <if test='ALLOW_BTCH_IMP_PRC_SAME_USR_YN != null and !&quot;&quot;.equals(ALLOW_BTCH_IMP_PRC_SAME_USR_YN)' >
        #{ALLOW_BTCH_IMP_PRC_SAME_USR_YN},
      </if>
      <if test='FORBID_AMEND_ACTIVE_TRX_YN != null and !&quot;&quot;.equals(FORBID_AMEND_ACTIVE_TRX_YN)' >
        #{FORBID_AMEND_ACTIVE_TRX_YN},
      </if>
      <if test="CHEQUE_SCANNER_TYPE != null" >
        #{CHEQUE_SCANNER_TYPE},
      </if>
       <if test="ALLOW_BTCH_IMP_PRC_SAME_USR_YN != null" >
        #{ALLOW_BTCH_IMP_PRC_SAME_USR_YN},
      </if>
      <if test="ALLOW_HEAD_TELLER_AXS_ATM_YN != null" >
        #{ALLOW_HEAD_TELLER_AXS_ATM_YN},
      </if>
      <if test="ALLOW_USER_WAIVE_CHARGE_APP_YN != null" >
        #{ALLOW_USER_WAIVE_CHARGE_APP_YN},
      </if>
      <if test="LOGIN_AFTER_SIGN_OFF != null" >
        #{LOGIN_AFTER_SIGN_OFF},
      </if>
       <if test="SIGNED_OFF_DATE != null" >
        #{SIGNED_OFF_DATE},
      </if>
      <if test="ALW_RCVR_PCS_PRF_EDI_GL_BOD_YN != null" >
        #{ALW_RCVR_PCS_PRF_EDI_GL_BOD_YN},
      </if>
      <if test="ALLOW_DEL_SPC_COND_DEC_YN != null" >
        #{ALLOW_DEL_SPC_COND_DEC_YN},
      </if> 
      <if test="ALW_MDF_MARKTEDBY_USR_U_ACC_YN != null" >
        #{ALW_MDF_MARKTEDBY_USR_U_ACC_YN},
      </if>       
    </trim>
  </insert>
  <sql id="sql_updateCTSTELLER" >
    update CTSTELLER
    <set >
      <if test="BRIEF_NAME_ENG != null" >
        BRIEF_NAME_ENG = #{BRIEF_NAME_ENG},
      </if>
      <if test="LONG_NAME_ENG != null" >
        LONG_NAME_ENG = #{LONG_NAME_ENG},
      </if>
      <if test="BRIEF_NAME_ARAB != null" >
        BRIEF_NAME_ARAB = #{BRIEF_NAME_ARAB},
      </if>
      <if test="LONG_NAME_ARAB != null" >
        LONG_NAME_ARAB = #{LONG_NAME_ARAB},
      </if>
      <if test="PRIVILEGE_LEVEL != null" >
        <choose >
          <when test="PRIVILEGE_LEVEL == emptyBigDecimalValue" >
            PRIVILEGE_LEVEL = NULL ,
          </when>
          <otherwise >
            PRIVILEGE_LEVEL = #{PRIVILEGE_LEVEL},
          </otherwise>
        </choose>
      </if>
      <if test="GLOBAL_LIMIT_CV != null" >
        <choose >
          <when test="GLOBAL_LIMIT_CV == emptyBigDecimalValue" >
            GLOBAL_LIMIT_CV = NULL ,
          </when>
          <otherwise >
            GLOBAL_LIMIT_CV = #{GLOBAL_LIMIT_CV},
          </otherwise>
        </choose>
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED = #{DATE_CREATED},
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED = #{DATE_APPROVED},
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY = #{APPROVED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED = #{DATE_MODIFIED},
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY = #{MODIFIED_BY},
      </if>
      <if test="DATE_SUSPENDED != null" >
        DATE_SUSPENDED = #{DATE_SUSPENDED},
      </if>
      <if test="SUSPENDED_BY != null" >
        SUSPENDED_BY = #{SUSPENDED_BY},
      </if>
      <if test="DATE_REACTIVATED != null" >
        DATE_REACTIVATED = #{DATE_REACTIVATED},
      </if>
      <if test="REACTIVATED_BY != null" >
        REACTIVATED_BY = #{REACTIVATED_BY},
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED = #{DATE_DELETED},
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY = #{DELETED_BY},
      </if>
      <if test="DATE_AUTHORIZED != null" >
        DATE_AUTHORIZED = #{DATE_AUTHORIZED},
      </if>
      <if test="AUTHORIZED_BY != null" >
        AUTHORIZED_BY = #{AUTHORIZED_BY},
      </if>
      <if test="USER_ID != null" >
        USER_ID = #{USER_ID},
      </if>
      <if test="CIF_NO != null" >
        <choose >
          <when test="CIF_NO == emptyBigDecimalValue" >
            CIF_NO = NULL ,
          </when>
          <otherwise >
            CIF_NO = #{CIF_NO},
          </otherwise>
        </choose>
      </if>
      <if test="SIGNED_ON_STATUS != null" >
        SIGNED_ON_STATUS = #{SIGNED_ON_STATUS},
      </if>
      <if test="SHOW_CIF_BR != null" >
        SHOW_CIF_BR = #{SHOW_CIF_BR},
      </if>
      <if test="VIEW_DORMANT_ACC != null" >
        VIEW_DORMANT_ACC = #{VIEW_DORMANT_ACC},
      </if>
      <if test="CIF_APPROVED != null" >
        CIF_APPROVED = #{CIF_APPROVED},
      </if>
      <if test="ALLOW_TO_MODIFY_CIF != null" >
        ALLOW_TO_MODIFY_CIF = #{ALLOW_TO_MODIFY_CIF},
      </if>
      <if test="TELLER_TYPE != null" >
        <choose >
          <when test="TELLER_TYPE == emptyBigDecimalValue" >
            TELLER_TYPE = NULL ,
          </when>
          <otherwise >
            TELLER_TYPE = #{TELLER_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="DIVISION_CODE != null" >
        <choose >
          <when test="DIVISION_CODE == emptyBigDecimalValue" >
            DIVISION_CODE = NULL ,
          </when>
          <otherwise >
            DIVISION_CODE = #{DIVISION_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="DEPT_CODE != null" >
        <choose >
          <when test="DEPT_CODE == emptyBigDecimalValue" >
            DEPT_CODE = NULL ,
          </when>
          <otherwise >
            DEPT_CODE = #{DEPT_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="MODIFY_CIF_CATEG != null" >
        MODIFY_CIF_CATEG = #{MODIFY_CIF_CATEG},
      </if>
      <if test="ROLE_CODE != null" >
        <choose >
          <when test="ROLE_CODE == emptyBigDecimalValue" >
            ROLE_CODE = NULL ,
          </when>
          <otherwise >
            ROLE_CODE = #{ROLE_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="CHECK_ROLE != null" >
        CHECK_ROLE = #{CHECK_ROLE},
      </if>
      <if test="SHOW_ALL_TRX != null" >
        SHOW_ALL_TRX = #{SHOW_ALL_TRX},
      </if>
      <if test="FTP_MEMO != null" >
        <choose >
          <when test="FTP_MEMO == emptyBigDecimalValue" >
            FTP_MEMO = NULL ,
          </when>
          <otherwise >
            FTP_MEMO = #{FTP_MEMO},
          </otherwise>
        </choose>
      </if>
      <if test="TELLER_RATE != null" >
        <choose >
          <when test="TELLER_RATE == emptyBigDecimalValue" >
            TELLER_RATE = NULL ,
          </when>
          <otherwise >
            TELLER_RATE = #{TELLER_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="CIF_WO_CID != null" >
        CIF_WO_CID = #{CIF_WO_CID},
      </if>
      <if test="CIF_WO_ACC != null" >
        CIF_WO_ACC = #{CIF_WO_ACC},
      </if>
      <if test="CIF_RESERVED_NO != null" >
        CIF_RESERVED_NO = #{CIF_RESERVED_NO},
      </if>
      <if test="USER_IS_BRANCH_MANAGER != null" >
        USER_IS_BRANCH_MANAGER = #{USER_IS_BRANCH_MANAGER},
      </if>
      <if test="ALLOW_CHANGE_PENALTY != null" >
        ALLOW_CHANGE_PENALTY = #{ALLOW_CHANGE_PENALTY},
      </if>
      <if test="TRS_ADVICE_PRINTER != null" >
        TRS_ADVICE_PRINTER = #{TRS_ADVICE_PRINTER},
      </if>
      <if test="ACC_CIF_FORMS_PRINTER != null" >
        ACC_CIF_FORMS_PRINTER = #{ACC_CIF_FORMS_PRINTER},
      </if>
      <if test="SHOW_TODAY_TRX != null" >
        SHOW_TODAY_TRX = #{SHOW_TODAY_TRX},
      </if>
      <if test="SHOW_ACC_BR != null" >
        SHOW_ACC_BR = #{SHOW_ACC_BR},
      </if>
      <if test="FORBID_TRS_ON_ITS_ACC != null" >
        FORBID_TRS_ON_ITS_ACC = #{FORBID_TRS_ON_ITS_ACC},
      </if>
      <if test="CHANGE_WARN_LETTER != null" >
        CHANGE_WARN_LETTER = #{CHANGE_WARN_LETTER},
      </if>
      <if test="REL_OFF_ID != null" >
        <choose >
          <when test="REL_OFF_ID == emptyBigDecimalValue" >
            REL_OFF_ID = NULL ,
          </when>
          <otherwise >
            REL_OFF_ID = #{REL_OFF_ID},
          </otherwise>
        </choose>
      </if>
      <if test="DO_NOT_SHOW_BAL != null" >
        DO_NOT_SHOW_BAL = #{DO_NOT_SHOW_BAL},
      </if>
      <if test="TEMPL_CODE != null" >
        <choose >
          <when test="TEMPL_CODE == emptyBigDecimalValue" >
            TEMPL_CODE = NULL ,
          </when>
          <otherwise >
            TEMPL_CODE = #{TEMPL_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="FORBID_VOID_CHQ != null" >
        FORBID_VOID_CHQ = #{FORBID_VOID_CHQ},
      </if>
      <if test="AUTH_OD_ACC != null" >
        AUTH_OD_ACC = #{AUTH_OD_ACC},
      </if>
      <if test="OVERPASS_CLOSURE != null" >
        <choose >
          <when test="OVERPASS_CLOSURE == emptyBigDecimalValue" >
            OVERPASS_CLOSURE = NULL ,
          </when>
          <otherwise >
            OVERPASS_CLOSURE = #{OVERPASS_CLOSURE},
          </otherwise>
        </choose>
      </if>
      <if test="VIEW_SUSPEND_ACC != null" >
        VIEW_SUSPEND_ACC = #{VIEW_SUSPEND_ACC},
      </if>
      <if test="FORBID_CHANGE_SUBMITTED_DATE != null" >
        FORBID_CHANGE_SUBMITTED_DATE = #{FORBID_CHANGE_SUBMITTED_DATE},
      </if>
      <if test="MASK_CARD_NO != null" >
        MASK_CARD_NO = #{MASK_CARD_NO},
      </if>
      <if test="FMA_BR_ENABLED_YN != null" >
        FMA_BR_ENABLED_YN = #{FMA_BR_ENABLED_YN},
      </if>
      <if test="ALLOW_CIF_CREATION_MASK_YN != null" >
        ALLOW_CIF_CREATION_MASK_YN = #{ALLOW_CIF_CREATION_MASK_YN},
      </if>
       <if test="ENABLE_MULTI_BR_ACC_CREAT_YN != null" >
        ENABLE_MULTI_BR_ACC_CREAT_YN = #{ENABLE_MULTI_BR_ACC_CREAT_YN},
      </if>
       <if test="APPLY_CIF_TYP_RESTR_ON_ACC_YN != null" >
        APPLY_CIF_TYP_RESTR_ON_ACC_YN = #{APPLY_CIF_TYP_RESTR_ON_ACC_YN},
      </if>
       <if test="VIEW_DYN_FILE_BY_OTHER_USR_YN != null" >
        VIEW_DYN_FILE_BY_OTHER_USR_YN = #{VIEW_DYN_FILE_BY_OTHER_USR_YN},
      </if>
       <if test="DYN_FILE_USR_LOCATION_LIST != null" >
        DYN_FILE_USR_LOCATION_LIST = #{DYN_FILE_USR_LOCATION_LIST},
      </if>
      <if test="MASK_TRX_AMT_APPROVE_YN != null" >
        <choose >
          <when test="MASK_TRX_AMT_APPROVE_YN.equals(&quot;&quot;)" >
            MASK_TRX_AMT_APPROVE_YN = NULL ,
          </when>
          <otherwise >
            MASK_TRX_AMT_APPROVE_YN = #{MASK_TRX_AMT_APPROVE_YN},
          </otherwise>
        </choose>
      </if>
      <if test='MODIFY_CIF_PEP_CREATION_YN != null and !"".equals(MODIFY_CIF_PEP_CREATION_YN) '>
        MODIFY_CIF_PEP_CREATION_YN = #{MODIFY_CIF_PEP_CREATION_YN},
      </if>
      <if test='SCANNER_DEVICE_TYPE != null and !"".equals(SCANNER_DEVICE_TYPE) '>
        SCANNER_DEVICE_TYPE = #{SCANNER_DEVICE_TYPE},
      </if>
      <if test="ALLOW_BTCH_IMP_PRC_SAME_USR_YN != null" >
        <choose >
          <when test="ALLOW_BTCH_IMP_PRC_SAME_USR_YN.equals(&quot;&quot;)" >
            ALLOW_BTCH_IMP_PRC_SAME_USR_YN = NULL ,
          </when>
          <otherwise >
            ALLOW_BTCH_IMP_PRC_SAME_USR_YN = #{ALLOW_BTCH_IMP_PRC_SAME_USR_YN},
          </otherwise>
        </choose>
      </if>
      <if test="FORBID_AMEND_ACTIVE_TRX_YN != null" >
        <choose >
          <when test="FORBID_AMEND_ACTIVE_TRX_YN.equals(&quot;&quot;)" >
            FORBID_AMEND_ACTIVE_TRX_YN = NULL ,
          </when>
          <otherwise >
            FORBID_AMEND_ACTIVE_TRX_YN = #{FORBID_AMEND_ACTIVE_TRX_YN},
          </otherwise>
        </choose>
      </if>
      <if test="CHEQUE_SCANNER_TYPE != null" >
        CHEQUE_SCANNER_TYPE = #{CHEQUE_SCANNER_TYPE},
      </if>
       <if test="ALLOW_BTCH_IMP_PRC_SAME_USR_YN != null" >
        ALLOW_BTCH_IMP_PRC_SAME_USR_YN = #{ALLOW_BTCH_IMP_PRC_SAME_USR_YN},
      </if>
      <if test="ALLOW_HEAD_TELLER_AXS_ATM_YN != null" >
        ALLOW_HEAD_TELLER_AXS_ATM_YN = #{ALLOW_HEAD_TELLER_AXS_ATM_YN},
      </if>
       <if test="ALLOW_USER_WAIVE_CHARGE_APP_YN != null" >
        ALLOW_USER_WAIVE_CHARGE_APP_YN = #{ALLOW_USER_WAIVE_CHARGE_APP_YN},
      </if>
      <if test="LOGIN_AFTER_SIGN_OFF != null" >
        LOGIN_AFTER_SIGN_OFF = #{LOGIN_AFTER_SIGN_OFF},
      </if> 
      <if test="SIGNED_OFF_DATE != null" >
        SIGNED_OFF_DATE = #{SIGNED_OFF_DATE},
      </if>
      <if test="ALW_RCVR_PCS_PRF_EDI_GL_BOD_YN != null" >
        ALW_RCVR_PCS_PRF_EDI_GL_BOD_YN = #{ALW_RCVR_PCS_PRF_EDI_GL_BOD_YN},
      </if>      
      <if test="ALLOW_DEL_SPC_COND_DEC_YN != null" >
        ALLOW_DEL_SPC_COND_DEC_YN = #{ALLOW_CIF_CREATION_MASK_YN},
      </if>
      <if test="ALW_MDF_MARKTEDBY_USR_U_ACC_YN != null" >
        ALW_MDF_MARKTEDBY_USR_U_ACC_YN = #{ALW_MDF_MARKTEDBY_USR_U_ACC_YN},
      </if>      
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </sql>
  <update id="updateCTSTELLER" parameterType="com.path.dbmaps.vo.CTSTELLERVO" >
    <include refid="sql_updateCTSTELLER" />
  </update>
</mapper>