<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTSTELLER_EXCH" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTSTELLER_EXCHVO" >
    <result column="AUTO_CODE" property="AUTO_CODE" />
    <result column="COMP_CODE" property="COMP_CODE" />
    <result column="BRANCH_CODE" property="BRANCH_CODE" />
    <result column="SEQ_NO" property="SEQ_NO" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="CREATED_DATE" property="CREATED_DATE" />
    <result column="AUTH_BY" property="AUTH_BY" />
    <result column="AUTH_DATE" property="AUTH_DATE" />
    <result column="STATUS" property="STATUS" />
    <result column="CASH_IN_CY" property="CASH_IN_CY" />
    <result column="CASH_OUT_CY" property="CASH_OUT_CY" />
    <result column="CASH_IN_AMOUNT" property="CASH_IN_AMOUNT" />
    <result column="CASH_OUT_AMOUNT" property="CASH_OUT_AMOUNT" />
    <result column="ID_TYPE" property="ID_TYPE" />
    <result column="CIVIL_ID" property="CIVIL_ID" />
    <result column="REQUESTED_BY" property="REQUESTED_BY" />
    <result column="TRX_TYPE" property="TRX_TYPE" />
    <result column="REFERENCE" property="REFERENCE" />
    <result column="EXCH_RATE" property="EXCH_RATE" />
    <result column="TEL_NO" property="TEL_NO" />
    <result column="EXCEPT_APP" property="EXCEPT_APP" />
    <result column="REASON_DESC" property="REASON_DESC" />
    <result column="ADDRESS_1" property="ADDRESS_1" />
    <result column="ADDRESS_2" property="ADDRESS_2" />
    <result column="ADDRESS_3" property="ADDRESS_3" />
    <result column="MULTI_DIV_IND" property="MULTI_DIV_IND" />
    <result column="AMOUNT_DUE_CY" property="AMOUNT_DUE_CY" />
    <result column="CASH_IN_OUT" property="CASH_IN_OUT" />
    <result column="CIF_NO" property="CIF_NO" />
    <result column="DEP_NATION" property="DEP_NATION" />
    <result column="DUE_AMOUNT" property="DUE_AMOUNT" />
    <result column="DUE_AMOUNT_TRS_NO" property="DUE_AMOUNT_TRS_NO" />
    <result column="REASON_CODE" property="REASON_CODE" />
    <result column="TRS_NO" property="TRS_NO" />
    <result column="ORIGINAL_AMOUNT_IN" property="ORIGINAL_AMOUNT_IN" />
    <result column="ORIGINAL_AMOUNT_OUT" property="ORIGINAL_AMOUNT_OUT" />
    <result column="DATE_MODIFIED" property="DATE_MODIFIED" />
    <result column="DATE_REJECTED" property="DATE_REJECTED" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="REJECTED_BY" property="REJECTED_BY" />
    <result column="HT_GAIN" property="HT_GAIN" />
    <result column="TAX" property="TAX" />
    <result column="PAYMENT_CODE" property="PAYMENT_CODE" />
    <result column="TRX_DETAILS" property="TRX_DETAILS" />
    <result column="INSTRUCTION_CODE" property="INSTRUCTION_CODE" />
    <result column="EXC_OFFICE_TICKET_NO" property="EXC_OFFICE_TICKET_NO" />
    <result column="NEGOTIATED_RATE" property="NEGOTIATED_RATE" />
    <result column="CASHIN_AC_BR" property="CASHIN_AC_BR" />
    <result column="CASHIN_AC_CIF" property="CASHIN_AC_CIF" />
    <result column="CASHIN_AC_CY" property="CASHIN_AC_CY" />
    <result column="CASHIN_AC_GL" property="CASHIN_AC_GL" />
    <result column="CASHIN_AC_SL" property="CASHIN_AC_SL" />
    <result column="CASHOUT_AC_BR" property="CASHOUT_AC_BR" />
    <result column="CASHOUT_AC_CIF" property="CASHOUT_AC_CIF" />
    <result column="CASHOUT_AC_CY" property="CASHOUT_AC_CY" />
    <result column="CASHOUT_AC_GL" property="CASHOUT_AC_GL" />
    <result column="CASHOUT_AC_SL" property="CASHOUT_AC_SL" />
    <result column="TRSFR_METHOD" property="TRSFR_METHOD" />
  </resultMap>
  <insert id="insertCTSTELLER_EXCH" parameterType="com.path.dbmaps.vo.CTSTELLER_EXCHVO" >
    insert into CTSTELLER_EXCH
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="AUTO_CODE != null and AUTO_CODE != emptyBigDecimalValue" >
        AUTO_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="SEQ_NO != null and SEQ_NO != emptyBigDecimalValue" >
        SEQ_NO,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE,
      </if>
      <if test="AUTH_BY != null" >
        AUTH_BY,
      </if>
      <if test="AUTH_DATE != null" >
        AUTH_DATE,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="CASH_IN_CY != null and CASH_IN_CY != emptyBigDecimalValue" >
        CASH_IN_CY,
      </if>
      <if test="CASH_OUT_CY != null and CASH_OUT_CY != emptyBigDecimalValue" >
        CASH_OUT_CY,
      </if>
      <if test="CASH_IN_AMOUNT != null and CASH_IN_AMOUNT != emptyBigDecimalValue" >
        CASH_IN_AMOUNT,
      </if>
      <if test="CASH_OUT_AMOUNT != null and CASH_OUT_AMOUNT != emptyBigDecimalValue" >
        CASH_OUT_AMOUNT,
      </if>
      <if test="ID_TYPE != null and ID_TYPE != emptyBigDecimalValue" >
        ID_TYPE,
      </if>
      <if test="CIVIL_ID != null" >
        CIVIL_ID,
      </if>
      <if test="REQUESTED_BY != null" >
        REQUESTED_BY,
      </if>
      <if test="TRX_TYPE != null and TRX_TYPE != emptyBigDecimalValue" >
        TRX_TYPE,
      </if>
      <if test="REFERENCE != null" >
        REFERENCE,
      </if>
      <if test="EXCH_RATE != null and EXCH_RATE != emptyBigDecimalValue" >
        EXCH_RATE,
      </if>
      <if test="TEL_NO != null" >
        TEL_NO,
      </if>
      <if test="EXCEPT_APP != null" >
        EXCEPT_APP,
      </if>
      <if test="REASON_DESC != null" >
        REASON_DESC,
      </if>
      <if test="ADDRESS_1 != null" >
        ADDRESS_1,
      </if>
      <if test="ADDRESS_2 != null" >
        ADDRESS_2,
      </if>
      <if test="ADDRESS_3 != null" >
        ADDRESS_3,
      </if>
      <if test="MULTI_DIV_IND != null" >
        MULTI_DIV_IND,
      </if>
      <if test="AMOUNT_DUE_CY != null and AMOUNT_DUE_CY != emptyBigDecimalValue" >
        AMOUNT_DUE_CY,
      </if>
      <if test="CASH_IN_OUT != null" >
        CASH_IN_OUT,
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        CIF_NO,
      </if>
      <if test="DEP_NATION != null and DEP_NATION != emptyBigDecimalValue" >
        DEP_NATION,
      </if>
      <if test="DUE_AMOUNT != null and DUE_AMOUNT != emptyBigDecimalValue" >
        DUE_AMOUNT,
      </if>
      <if test="DUE_AMOUNT_TRS_NO != null and DUE_AMOUNT_TRS_NO != emptyBigDecimalValue" >
        DUE_AMOUNT_TRS_NO,
      </if>
      <if test="REASON_CODE != null and REASON_CODE != emptyBigDecimalValue" >
        REASON_CODE,
      </if>
      <if test="TRS_NO != null and TRS_NO != emptyBigDecimalValue" >
        TRS_NO,
      </if>
      <if test="ORIGINAL_AMOUNT_IN != null and ORIGINAL_AMOUNT_IN != emptyBigDecimalValue" >
        ORIGINAL_AMOUNT_IN,
      </if>
      <if test="ORIGINAL_AMOUNT_OUT != null and ORIGINAL_AMOUNT_OUT != emptyBigDecimalValue" >
        ORIGINAL_AMOUNT_OUT,
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED,
      </if>
      <if test="DATE_REJECTED != null" >
        DATE_REJECTED,
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY,
      </if>
      <if test="REJECTED_BY != null" >
        REJECTED_BY,
      </if>
      <if test="HT_GAIN != null and HT_GAIN != emptyBigDecimalValue" >
        HT_GAIN,
      </if>
      <if test="TAX != null and TAX != emptyBigDecimalValue" >
        TAX,
      </if>
      <if test="PAYMENT_CODE != null and PAYMENT_CODE != emptyBigDecimalValue" >
        PAYMENT_CODE,
      </if>
      <if test="TRX_DETAILS != null" >
        TRX_DETAILS,
      </if>
      <if test="INSTRUCTION_CODE != null and INSTRUCTION_CODE != emptyBigDecimalValue" >
        INSTRUCTION_CODE,
      </if>
      <if test="EXC_OFFICE_TICKET_NO != null and EXC_OFFICE_TICKET_NO != emptyBigDecimalValue" >
        EXC_OFFICE_TICKET_NO,
      </if>
      <if test="NEGOTIATED_RATE != null and NEGOTIATED_RATE != emptyBigDecimalValue" >
        NEGOTIATED_RATE,
      </if>
      <if test="CASHIN_AC_BR != null and CASHIN_AC_BR != emptyBigDecimalValue" >
        CASHIN_AC_BR,
      </if>
      <if test="CASHIN_AC_CIF != null and CASHIN_AC_CIF != emptyBigDecimalValue" >
        CASHIN_AC_CIF,
      </if>
      <if test="CASHIN_AC_CY != null and CASHIN_AC_CY != emptyBigDecimalValue" >
        CASHIN_AC_CY,
      </if>
      <if test="CASHIN_AC_GL != null and CASHIN_AC_GL != emptyBigDecimalValue" >
        CASHIN_AC_GL,
      </if>
      <if test="CASHIN_AC_SL != null and CASHIN_AC_SL != emptyBigDecimalValue" >
        CASHIN_AC_SL,
      </if>
      <if test="CASHOUT_AC_BR != null and CASHOUT_AC_BR != emptyBigDecimalValue" >
        CASHOUT_AC_BR,
      </if>
      <if test="CASHOUT_AC_CIF != null and CASHOUT_AC_CIF != emptyBigDecimalValue" >
        CASHOUT_AC_CIF,
      </if>
      <if test="CASHOUT_AC_CY != null and CASHOUT_AC_CY != emptyBigDecimalValue" >
        CASHOUT_AC_CY,
      </if>
      <if test="CASHOUT_AC_GL != null and CASHOUT_AC_GL != emptyBigDecimalValue" >
        CASHOUT_AC_GL,
      </if>
      <if test="CASHOUT_AC_SL != null and CASHOUT_AC_SL != emptyBigDecimalValue" >
        CASHOUT_AC_SL,
      </if>
      <if test="TRSFR_METHOD != null" >
        TRSFR_METHOD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="AUTO_CODE != null and AUTO_CODE != emptyBigDecimalValue" >
        #{AUTO_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="SEQ_NO != null and SEQ_NO != emptyBigDecimalValue" >
        #{SEQ_NO},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="CREATED_DATE != null" >
        #{CREATED_DATE},
      </if>
      <if test="AUTH_BY != null" >
        #{AUTH_BY},
      </if>
      <if test="AUTH_DATE != null" >
        #{AUTH_DATE},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="CASH_IN_CY != null and CASH_IN_CY != emptyBigDecimalValue" >
        #{CASH_IN_CY},
      </if>
      <if test="CASH_OUT_CY != null and CASH_OUT_CY != emptyBigDecimalValue" >
        #{CASH_OUT_CY},
      </if>
      <if test="CASH_IN_AMOUNT != null and CASH_IN_AMOUNT != emptyBigDecimalValue" >
        #{CASH_IN_AMOUNT},
      </if>
      <if test="CASH_OUT_AMOUNT != null and CASH_OUT_AMOUNT != emptyBigDecimalValue" >
        #{CASH_OUT_AMOUNT},
      </if>
      <if test="ID_TYPE != null and ID_TYPE != emptyBigDecimalValue" >
        #{ID_TYPE},
      </if>
      <if test="CIVIL_ID != null" >
        #{CIVIL_ID},
      </if>
      <if test="REQUESTED_BY != null" >
        #{REQUESTED_BY},
      </if>
      <if test="TRX_TYPE != null and TRX_TYPE != emptyBigDecimalValue" >
        #{TRX_TYPE},
      </if>
      <if test="REFERENCE != null" >
        #{REFERENCE},
      </if>
      <if test="EXCH_RATE != null and EXCH_RATE != emptyBigDecimalValue" >
        #{EXCH_RATE},
      </if>
      <if test="TEL_NO != null" >
        #{TEL_NO},
      </if>
      <if test="EXCEPT_APP != null" >
        #{EXCEPT_APP},
      </if>
      <if test="REASON_DESC != null" >
        #{REASON_DESC},
      </if>
      <if test="ADDRESS_1 != null" >
        #{ADDRESS_1},
      </if>
      <if test="ADDRESS_2 != null" >
        #{ADDRESS_2},
      </if>
      <if test="ADDRESS_3 != null" >
        #{ADDRESS_3},
      </if>
      <if test="MULTI_DIV_IND != null" >
        #{MULTI_DIV_IND},
      </if>
      <if test="AMOUNT_DUE_CY != null and AMOUNT_DUE_CY != emptyBigDecimalValue" >
        #{AMOUNT_DUE_CY},
      </if>
      <if test="CASH_IN_OUT != null" >
        #{CASH_IN_OUT},
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        #{CIF_NO},
      </if>
      <if test="DEP_NATION != null and DEP_NATION != emptyBigDecimalValue" >
        #{DEP_NATION},
      </if>
      <if test="DUE_AMOUNT != null and DUE_AMOUNT != emptyBigDecimalValue" >
        #{DUE_AMOUNT},
      </if>
      <if test="DUE_AMOUNT_TRS_NO != null and DUE_AMOUNT_TRS_NO != emptyBigDecimalValue" >
        #{DUE_AMOUNT_TRS_NO},
      </if>
      <if test="REASON_CODE != null and REASON_CODE != emptyBigDecimalValue" >
        #{REASON_CODE},
      </if>
      <if test="TRS_NO != null and TRS_NO != emptyBigDecimalValue" >
        #{TRS_NO},
      </if>
      <if test="ORIGINAL_AMOUNT_IN != null and ORIGINAL_AMOUNT_IN != emptyBigDecimalValue" >
        #{ORIGINAL_AMOUNT_IN},
      </if>
      <if test="ORIGINAL_AMOUNT_OUT != null and ORIGINAL_AMOUNT_OUT != emptyBigDecimalValue" >
        #{ORIGINAL_AMOUNT_OUT},
      </if>
      <if test="DATE_MODIFIED != null" >
        #{DATE_MODIFIED},
      </if>
      <if test="DATE_REJECTED != null" >
        #{DATE_REJECTED},
      </if>
      <if test="MODIFIED_BY != null" >
        #{MODIFIED_BY},
      </if>
      <if test="REJECTED_BY != null" >
        #{REJECTED_BY},
      </if>
      <if test="HT_GAIN != null and HT_GAIN != emptyBigDecimalValue" >
        #{HT_GAIN},
      </if>
      <if test="TAX != null and TAX != emptyBigDecimalValue" >
        #{TAX},
      </if>
      <if test="PAYMENT_CODE != null and PAYMENT_CODE != emptyBigDecimalValue" >
        #{PAYMENT_CODE},
      </if>
      <if test="TRX_DETAILS != null" >
        #{TRX_DETAILS},
      </if>
      <if test="INSTRUCTION_CODE != null and INSTRUCTION_CODE != emptyBigDecimalValue" >
        #{INSTRUCTION_CODE},
      </if>
      <if test="EXC_OFFICE_TICKET_NO != null and EXC_OFFICE_TICKET_NO != emptyBigDecimalValue" >
        #{EXC_OFFICE_TICKET_NO},
      </if>
       <if test="NEGOTIATED_RATE != null and NEGOTIATED_RATE != emptyBigDecimalValue" >
        #{NEGOTIATED_RATE},
      </if>
      <if test="CASHIN_AC_BR != null and CASHIN_AC_BR != emptyBigDecimalValue" >
        #{CASHIN_AC_BR},
      </if>
      <if test="CASHIN_AC_CIF != null and CASHIN_AC_CIF != emptyBigDecimalValue" >
        #{CASHIN_AC_CIF},
      </if>
      <if test="CASHIN_AC_CY != null and CASHIN_AC_CY != emptyBigDecimalValue" >
        #{CASHIN_AC_CY},
      </if>
      <if test="CASHIN_AC_GL != null and CASHIN_AC_GL != emptyBigDecimalValue" >
        #{CASHIN_AC_GL},
      </if>
      <if test="CASHIN_AC_SL != null and CASHIN_AC_SL != emptyBigDecimalValue" >
        #{CASHIN_AC_SL},
      </if>
      <if test="CASHOUT_AC_BR != null and CASHOUT_AC_BR != emptyBigDecimalValue" >
        #{CASHOUT_AC_BR},
      </if>
      <if test="CASHOUT_AC_CIF != null and CASHOUT_AC_CIF != emptyBigDecimalValue" >
        #{CASHOUT_AC_CIF},
      </if>
      <if test="CASHOUT_AC_CY != null and CASHOUT_AC_CY != emptyBigDecimalValue" >
        #{CASHOUT_AC_CY},
      </if>
      <if test="CASHOUT_AC_GL != null and CASHOUT_AC_GL != emptyBigDecimalValue" >
        #{CASHOUT_AC_GL},
      </if>
      <if test="CASHOUT_AC_SL != null and CASHOUT_AC_SL != emptyBigDecimalValue" >
        #{CASHOUT_AC_SL},
      </if>
      <if test="TRSFR_METHOD != null" >
        #{TRSFR_METHOD},
      </if>
    </trim>
  </insert>
</mapper>