<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTSTELLER_MASKAMT_TRXTYPE" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTSTELLER_MASKAMT_TRXTYPEVOKey" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="TRX_TYPE" property="TRX_TYPE" />
  </resultMap>
  <delete id="deleteCTSTELLER_MASKAMT_TRXTYPE" parameterType="com.path.dbmaps.vo.CTSTELLER_MASKAMT_TRXTYPEVOKey" >
    delete from CTSTELLER_MASKAMT_TRXTYPE
    where BRANCH_CODE = #{BRANCH_CODE}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and TRX_TYPE = #{TRX_TYPE}
  </delete>
  <insert id="insertCTSTELLER_MASKAMT_TRXTYPE" parameterType="com.path.dbmaps.vo.CTSTELLER_MASKAMT_TRXTYPEVOKey" >
    insert into CTSTELLER_MASKAMT_TRXTYPE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null" >
        BRANCH_CODE,
      </if>
      <if test="CODE != null" >
        CODE,
      </if>
      <if test="COMP_CODE != null" >
        COMP_CODE,
      </if>
      <if test="TRX_TYPE != null" >
        TRX_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null" >
        #{BRANCH_CODE},
      </if>
      <if test="CODE != null" >
        #{CODE},
      </if>
      <if test="COMP_CODE != null" >
        #{COMP_CODE},
      </if>
      <if test="TRX_TYPE != null" >
        #{TRX_TYPE},
      </if>
    </trim>
  </insert>
</mapper>