<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTSTELLERACCTYPEDET" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTSTELLERACCTYPEDETVO" >
    <id column="ACC_TYPE" property="ACC_TYPE" />
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="TRX_TYPE" property="TRX_TYPE" />
    <result column="WITHD_LIMIT_CV" property="WITHD_LIMIT_CV" />
    <result column="DEP_LIMIT_CV" property="DEP_LIMIT_CV" />
    <result column="WARN_USER_LIMIT_EXCEED" property="WARN_USER_LIMIT_EXCEED" />
    <result column="PROCEED_LIMIT_EXCEED" property="PROCEED_LIMIT_EXCEED" />
    <result column="SEE_ACC_POSITION" property="SEE_ACC_POSITION" />
    <result column="OVERDRAW_LIMIT" property="OVERDRAW_LIMIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    ACC_TYPE, BRANCH_CODE, CODE, COMP_CODE, TRX_TYPE, WITHD_LIMIT_CV, DEP_LIMIT_CV, WARN_USER_LIMIT_EXCEED, 
    PROCEED_LIMIT_EXCEED, SEE_ACC_POSITION, OVERDRAW_LIMIT
  </sql>
  <select id="selectCTSTELLERACCTYPEDET" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTSTELLERACCTYPEDETVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTSTELLERACCTYPEDET
    where ACC_TYPE = #{ACC_TYPE}
      and BRANCH_CODE = #{BRANCH_CODE}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and TRX_TYPE = #{TRX_TYPE}
  </select>
  <delete id="deleteCTSTELLERACCTYPEDET" parameterType="com.path.dbmaps.vo.CTSTELLERACCTYPEDETVOKey" >
    delete from CTSTELLERACCTYPEDET
    where ACC_TYPE = #{ACC_TYPE}
      and BRANCH_CODE = #{BRANCH_CODE}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and TRX_TYPE = #{TRX_TYPE}
  </delete>
  <insert id="insertCTSTELLERACCTYPEDET" parameterType="com.path.dbmaps.vo.CTSTELLERACCTYPEDETVO" >
    insert into CTSTELLERACCTYPEDET
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ACC_TYPE != null and ACC_TYPE != emptyBigDecimalValue" >
        ACC_TYPE,
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="TRX_TYPE != null and TRX_TYPE != emptyBigDecimalValue" >
        TRX_TYPE,
      </if>
      <if test="WITHD_LIMIT_CV != null and WITHD_LIMIT_CV != emptyBigDecimalValue" >
        WITHD_LIMIT_CV,
      </if>
      <if test="DEP_LIMIT_CV != null and DEP_LIMIT_CV != emptyBigDecimalValue" >
        DEP_LIMIT_CV,
      </if>
      <if test="WARN_USER_LIMIT_EXCEED != null" >
        WARN_USER_LIMIT_EXCEED,
      </if>
      <if test="PROCEED_LIMIT_EXCEED != null" >
        PROCEED_LIMIT_EXCEED,
      </if>
      <if test="SEE_ACC_POSITION != null" >
        SEE_ACC_POSITION,
      </if>
      <if test="OVERDRAW_LIMIT != null and OVERDRAW_LIMIT != emptyBigDecimalValue" >
        OVERDRAW_LIMIT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ACC_TYPE != null and ACC_TYPE != emptyBigDecimalValue" >
        #{ACC_TYPE},
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        #{CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="TRX_TYPE != null and TRX_TYPE != emptyBigDecimalValue" >
        #{TRX_TYPE},
      </if>
      <if test="WITHD_LIMIT_CV != null and WITHD_LIMIT_CV != emptyBigDecimalValue" >
        #{WITHD_LIMIT_CV},
      </if>
      <if test="DEP_LIMIT_CV != null and DEP_LIMIT_CV != emptyBigDecimalValue" >
        #{DEP_LIMIT_CV},
      </if>
      <if test="WARN_USER_LIMIT_EXCEED != null" >
        #{WARN_USER_LIMIT_EXCEED},
      </if>
      <if test="PROCEED_LIMIT_EXCEED != null" >
        #{PROCEED_LIMIT_EXCEED},
      </if>
      <if test="SEE_ACC_POSITION != null" >
        #{SEE_ACC_POSITION},
      </if>
      <if test="OVERDRAW_LIMIT != null and OVERDRAW_LIMIT != emptyBigDecimalValue" >
        #{OVERDRAW_LIMIT},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTSTELLERACCTYPEDET" >
    update CTSTELLERACCTYPEDET
    <set >
      <if test="WITHD_LIMIT_CV != null" >
        <choose >
          <when test="WITHD_LIMIT_CV == emptyBigDecimalValue" >
            WITHD_LIMIT_CV = NULL ,
          </when>
          <otherwise >
            WITHD_LIMIT_CV = #{WITHD_LIMIT_CV},
          </otherwise>
        </choose>
      </if>
      <if test="DEP_LIMIT_CV != null" >
        <choose >
          <when test="DEP_LIMIT_CV == emptyBigDecimalValue" >
            DEP_LIMIT_CV = NULL ,
          </when>
          <otherwise >
            DEP_LIMIT_CV = #{DEP_LIMIT_CV},
          </otherwise>
        </choose>
      </if>
      <if test="WARN_USER_LIMIT_EXCEED != null" >
        WARN_USER_LIMIT_EXCEED = #{WARN_USER_LIMIT_EXCEED},
      </if>
      <if test="PROCEED_LIMIT_EXCEED != null" >
        PROCEED_LIMIT_EXCEED = #{PROCEED_LIMIT_EXCEED},
      </if>
      <if test="SEE_ACC_POSITION != null" >
        SEE_ACC_POSITION = #{SEE_ACC_POSITION},
      </if>
      <if test="OVERDRAW_LIMIT != null" >
        <choose >
          <when test="OVERDRAW_LIMIT == emptyBigDecimalValue" >
            OVERDRAW_LIMIT = NULL ,
          </when>
          <otherwise >
            OVERDRAW_LIMIT = #{OVERDRAW_LIMIT},
          </otherwise>
        </choose>
      </if>
    </set>
    where ACC_TYPE = #{ACC_TYPE}
      and BRANCH_CODE = #{BRANCH_CODE}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and TRX_TYPE = #{TRX_TYPE}
  </sql>
  <update id="updateCTSTELLERACCTYPEDET" parameterType="com.path.dbmaps.vo.CTSTELLERACCTYPEDETVO" >
    <include refid="sql_updateCTSTELLERACCTYPEDET" />
  </update>
</mapper>