<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTSTRXTYPE_DET" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTSTRXTYPE_DETVO" >
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NBR" property="LINE_NBR" />
    <id column="CIF_NO" property="CIF_NO" />
    <result column="FIELD_NAME" property="FIELD_NAME" />
    <result column="PROTECTED" property="PROTECTED" />
    <result column="DISPLAY_LABEL" property="DISPLAY_LABEL" />
    <result column="DISPLAY_LABEL_AR" property="DISPLAY_LABEL_AR" />
    <result column="MANDATORY" property="MANDATORY" />
    <result column="FORBID_ARAB_CHAR" property="FORBID_ARAB_CHAR" />
    <result column="HIDE_FIELD" property="HIDE_FIELD" />
    <result column="BLOCK_MODIFY" property="BLOCK_MODIFY" />
  </resultMap>
  <sql id="Base_Column_List" >
    CODE, COMP_CODE, LINE_NBR, CIF_NO, FIELD_NAME, PROTECTED, DISPLAY_LABEL, DISPLAY_LABEL_AR, 
    MANDATORY, FORBID_ARAB_CHAR, HIDE_FIELD, BLOCK_MODIFY
  </sql>
  <select id="selectCTSTRXTYPE_DET" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTSTRXTYPE_DETVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTSTRXTYPE_DET
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NBR = #{LINE_NBR}
      and CIF_NO = #{CIF_NO}
  </select>
  <delete id="deleteCTSTRXTYPE_DET" parameterType="com.path.dbmaps.vo.CTSTRXTYPE_DETVOKey" >
    delete from CTSTRXTYPE_DET
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NBR = #{LINE_NBR}
      and CIF_NO = #{CIF_NO}
  </delete>
  <insert id="insertCTSTRXTYPE_DET" parameterType="com.path.dbmaps.vo.CTSTRXTYPE_DETVO" >
    insert into CTSTRXTYPE_DET
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NBR != null and LINE_NBR != emptyBigDecimalValue" >
        LINE_NBR,
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        CIF_NO,
      </if>
      <if test="FIELD_NAME != null" >
        FIELD_NAME,
      </if>
      <if test="PROTECTED != null" >
        PROTECTED,
      </if>
      <if test="DISPLAY_LABEL != null" >
        DISPLAY_LABEL,
      </if>
      <if test="DISPLAY_LABEL_AR != null" >
        DISPLAY_LABEL_AR,
      </if>
      <if test="MANDATORY != null" >
        MANDATORY,
      </if>
      <if test="FORBID_ARAB_CHAR != null" >
        FORBID_ARAB_CHAR,
      </if>
      <if test="HIDE_FIELD != null" >
        HIDE_FIELD,
      </if>
      <if test="BLOCK_MODIFY != null" >
        BLOCK_MODIFY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        #{CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NBR != null and LINE_NBR != emptyBigDecimalValue" >
        #{LINE_NBR},
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        #{CIF_NO},
      </if>
      <if test="FIELD_NAME != null" >
        #{FIELD_NAME},
      </if>
      <if test="PROTECTED != null" >
        #{PROTECTED},
      </if>
      <if test="DISPLAY_LABEL != null" >
        #{DISPLAY_LABEL},
      </if>
      <if test="DISPLAY_LABEL_AR != null" >
        #{DISPLAY_LABEL_AR},
      </if>
      <if test="MANDATORY != null" >
        #{MANDATORY},
      </if>
      <if test="FORBID_ARAB_CHAR != null" >
        #{FORBID_ARAB_CHAR},
      </if>
      <if test="HIDE_FIELD != null" >
        #{HIDE_FIELD},
      </if>
      <if test="BLOCK_MODIFY != null" >
        #{BLOCK_MODIFY},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTSTRXTYPE_DET" >
    update CTSTRXTYPE_DET
    <set >
      <if test="FIELD_NAME != null" >
        FIELD_NAME = #{FIELD_NAME},
      </if>
      <if test="PROTECTED != null" >
        PROTECTED = #{PROTECTED},
      </if>
      <if test="DISPLAY_LABEL != null" >
        DISPLAY_LABEL = #{DISPLAY_LABEL},
      </if>
      <if test="DISPLAY_LABEL_AR != null" >
        DISPLAY_LABEL_AR = #{DISPLAY_LABEL_AR},
      </if>
      <if test="MANDATORY != null" >
        MANDATORY = #{MANDATORY},
      </if>
      <if test="FORBID_ARAB_CHAR != null" >
        FORBID_ARAB_CHAR = #{FORBID_ARAB_CHAR},
      </if>
      <if test="HIDE_FIELD != null" >
        HIDE_FIELD = #{HIDE_FIELD},
      </if>
      <if test="BLOCK_MODIFY != null" >
        BLOCK_MODIFY = #{BLOCK_MODIFY},
      </if>
    </set>
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NBR = #{LINE_NBR}
      and CIF_NO = #{CIF_NO}
  </sql>
  <update id="updateCTSTRXTYPE_DET" parameterType="com.path.dbmaps.vo.CTSTRXTYPE_DETVO" >
    <include refid="sql_updateCTSTRXTYPE_DET" />
  </update>
</mapper>