<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTSTRS_EXTENDED_ALERT" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTSTRS_EXTENDED_ALERTVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="CB_IND" property="CB_IND" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="TRS_NO" property="TRS_NO" />
    <id column="TRS_TYPE" property="TRS_TYPE" />
    <result column="CHEQUE_DIGITS" property="CHEQUE_DIGITS" />
    <result column="BENEF_REGION" property="BENEF_REGION" />
    <result column="ORIGINAL_CHQ_TRS_DATE" property="ORIGINAL_CHQ_TRS_DATE" />
    <result column="ORIGINAL_CHQ_VALUE_DATE" property="ORIGINAL_CHQ_VALUE_DATE" />
    <result column="ORIGNAL_CHQ_DATE" property="ORIGNAL_CHQ_DATE" />
    <result column="DEBIT_VDATE" property="DEBIT_VDATE" />
    <result column="PAYMENT_CODE" property="PAYMENT_CODE" />
    <result column="ORIGIN_COUNTRY_CODE" property="ORIGIN_COUNTRY_CODE" />
    <result column="CERTIFICATE_CODE" property="CERTIFICATE_CODE" />
    <result column="CERTIFICATE_BRANCH" property="CERTIFICATE_BRANCH" />
    <result column="SUB_STATUS" property="SUB_STATUS" />
    <result column="CERTIFICATE_CODE" property="CERTIFICATE_CODE" />
    <result column="CERTIFICATE_BRANCH" property="CERTIFICATE_BRANCH" />
    <result column="NUMBER_OF_BILLS" property="NUMBER_OF_BILLS" />
    <result column="TOTAL_AMOUNT_OF_BILLS" property="TOTAL_AMOUNT_OF_BILLS" />
    <result column="BIOMETRIC_APPROVED_YN" property="BIOMETRIC_APPROVED_YN" />
    <result column="CARD_READER_SRL" property="CARD_READER_SRL" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, CB_IND, COMP_CODE, TRS_NO, TRS_TYPE, CHEQUE_DIGITS, BENEF_REGION, ORIGINAL_CHQ_TRS_DATE, 
    ORIGINAL_CHQ_VALUE_DATE, ORIGNAL_CHQ_DATE, DEBIT_VDATE, PAYMENT_CODE, ORIGIN_COUNTRY_CODE, CERTIFICATE_CODE,
    CERTIFICATE_BRANCH,SUB_STATUS,NUMBER_OF_BILLS,TOTAL_AMOUNT_OF_BILLS,BIOMETRIC_APPROVED_YN,CARD_READER_SRL
  </sql>
  <select id="selectCTSTRS_EXTENDED_ALERT" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTSTRS_EXTENDED_ALERTVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTSTRS_EXTENDED_ALERT
    where BRANCH_CODE = #{BRANCH_CODE}
      and CB_IND = #{CB_IND}
      and COMP_CODE = #{COMP_CODE}
      and TRS_NO = #{TRS_NO}
      and TRS_TYPE = #{TRS_TYPE}
  </select>
  <delete id="deleteCTSTRS_EXTENDED_ALERT" parameterType="com.path.dbmaps.vo.CTSTRS_EXTENDED_ALERTVOKey" >
    delete from CTSTRS_EXTENDED_ALERT
    where BRANCH_CODE = #{BRANCH_CODE}
      and CB_IND = #{CB_IND}
      and COMP_CODE = #{COMP_CODE}
      and TRS_NO = #{TRS_NO}
      and TRS_TYPE = #{TRS_TYPE}
  </delete>
  <insert id="insertCTSTRS_EXTENDED_ALERT" parameterType="com.path.dbmaps.vo.CTSTRS_EXTENDED_ALERTVO" >
    insert into CTSTRS_EXTENDED_ALERT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="CB_IND != null" >
        CB_IND,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="TRS_NO != null and TRS_NO != emptyBigDecimalValue" >
        TRS_NO,
      </if>
      <if test="TRS_TYPE != null" >
        TRS_TYPE,
      </if>
      <if test="CHEQUE_DIGITS != null and CHEQUE_DIGITS != emptyBigDecimalValue" >
        CHEQUE_DIGITS,
      </if>
      <if test="BENEF_REGION != null and BENEF_REGION != emptyBigDecimalValue" >
        BENEF_REGION,
      </if>
      <if test="ORIGINAL_CHQ_TRS_DATE != null" >
        ORIGINAL_CHQ_TRS_DATE,
      </if>
      <if test="ORIGINAL_CHQ_VALUE_DATE != null" >
        ORIGINAL_CHQ_VALUE_DATE,
      </if>
      <if test="ORIGNAL_CHQ_DATE != null" >
        ORIGNAL_CHQ_DATE,
      </if>
      <if test="DEBIT_VDATE != null" >
        DEBIT_VDATE,
      </if>
      <if test="PAYMENT_CODE != null and PAYMENT_CODE != emptyBigDecimalValue" >
        PAYMENT_CODE,
      </if>
      <if test="ORIGIN_COUNTRY_CODE != null and ORIGIN_COUNTRY_CODE != emptyBigDecimalValue" >
        ORIGIN_COUNTRY_CODE,
      </if>
      <if test="CERTIFICATE_CODE != null and CERTIFICATE_CODE != emptyBigDecimalValue" >
        CERTIFICATE_CODE,
      </if>
      <if test="CERTIFICATE_BRANCH != null and CERTIFICATE_BRANCH != emptyBigDecimalValue" >
        CERTIFICATE_BRANCH,
      </if>
      <if test="SUB_STATUS != null" >
        SUB_STATUS,
      </if>
        <if test="NUMBER_OF_BILLS != null and NUMBER_OF_BILLS != emptyBigDecimalValue" >
        NUMBER_OF_BILLS,
      </if>
      <if test="TOTAL_AMOUNT_OF_BILLS != null and TOTAL_AMOUNT_OF_BILLS != emptyBigDecimalValue" >
        TOTAL_AMOUNT_OF_BILLS,
      </if>
      <if test="BIOMETRIC_APPROVED_YN != null" >
        BIOMETRIC_APPROVED_YN,
      </if>
       <if test="CARD_READER_SRL != null" >
        CARD_READER_SRL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="CB_IND != null" >
        #{CB_IND},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="TRS_NO != null and TRS_NO != emptyBigDecimalValue" >
        #{TRS_NO},
      </if>
      <if test="TRS_TYPE != null" >
        #{TRS_TYPE},
      </if>
      <if test="CHEQUE_DIGITS != null and CHEQUE_DIGITS != emptyBigDecimalValue" >
        #{CHEQUE_DIGITS},
      </if>
      <if test="BENEF_REGION != null and BENEF_REGION != emptyBigDecimalValue" >
        #{BENEF_REGION},
      </if>
      <if test="ORIGINAL_CHQ_TRS_DATE != null" >
        #{ORIGINAL_CHQ_TRS_DATE},
      </if>
      <if test="ORIGINAL_CHQ_VALUE_DATE != null" >
        #{ORIGINAL_CHQ_VALUE_DATE},
      </if>
      <if test="ORIGNAL_CHQ_DATE != null" >
        #{ORIGNAL_CHQ_DATE},
      </if>
      <if test="DEBIT_VDATE != null" >
        #{DEBIT_VDATE},
      </if>
      <if test="PAYMENT_CODE != null and PAYMENT_CODE != emptyBigDecimalValue" >
        #{PAYMENT_CODE},
      </if>
      <if test="ORIGIN_COUNTRY_CODE != null and ORIGIN_COUNTRY_CODE != emptyBigDecimalValue" >
        #{ORIGIN_COUNTRY_CODE},
      </if>
      <if test="CERTIFICATE_CODE != null and CERTIFICATE_CODE != emptyBigDecimalValue" >
        #{CERTIFICATE_CODE},
      </if>
      <if test="CERTIFICATE_BRANCH != null and CERTIFICATE_BRANCH != emptyBigDecimalValue" >
        #{CERTIFICATE_BRANCH},
      </if>
      <if test="SUB_STATUS != null" >
        #{SUB_STATUS},
      </if>
         <if test="NUMBER_OF_BILLS != null and NUMBER_OF_BILLS != emptyBigDecimalValue" >
        #{NUMBER_OF_BILLS},
      </if>
       <if test="TOTAL_AMOUNT_OF_BILLS != null and TOTAL_AMOUNT_OF_BILLS != emptyBigDecimalValue" >
        #{TOTAL_AMOUNT_OF_BILLS},
      </if>
      <if test="BIOMETRIC_APPROVED_YN != null" >
        #{BIOMETRIC_APPROVED_YN},
      </if>
       <if test="CARD_READER_SRL != null" >
        #{CARD_READER_SRL},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTSTRS_EXTENDED_ALERT" >
    update CTSTRS_EXTENDED_ALERT
    <set >
      <if test="CHEQUE_DIGITS != null" >
        <choose >
          <when test="CHEQUE_DIGITS == emptyBigDecimalValue" >
            CHEQUE_DIGITS = NULL ,
          </when>
          <otherwise >
            CHEQUE_DIGITS = #{CHEQUE_DIGITS},
          </otherwise>
        </choose>
      </if>
      <if test="BENEF_REGION != null" >
        <choose >
          <when test="BENEF_REGION == emptyBigDecimalValue" >
            BENEF_REGION = NULL ,
          </when>
          <otherwise >
            BENEF_REGION = #{BENEF_REGION},
          </otherwise>
        </choose>
      </if>
      <if test="ORIGINAL_CHQ_TRS_DATE != null" >
        ORIGINAL_CHQ_TRS_DATE = #{ORIGINAL_CHQ_TRS_DATE},
      </if>
      <if test="ORIGINAL_CHQ_VALUE_DATE != null" >
        ORIGINAL_CHQ_VALUE_DATE = #{ORIGINAL_CHQ_VALUE_DATE},
      </if>
      <if test="ORIGNAL_CHQ_DATE != null" >
        ORIGNAL_CHQ_DATE = #{ORIGNAL_CHQ_DATE},
      </if>
      <if test="DEBIT_VDATE != null" >
        DEBIT_VDATE = #{DEBIT_VDATE},
      </if>
      <if test="PAYMENT_CODE != null" >
        <choose >
          <when test="PAYMENT_CODE == emptyBigDecimalValue" >
            PAYMENT_CODE = NULL ,
          </when>
          <otherwise >
            PAYMENT_CODE = #{PAYMENT_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="ORIGIN_COUNTRY_CODE != null" >
        <choose >
          <when test="ORIGIN_COUNTRY_CODE == emptyBigDecimalValue" >
            ORIGIN_COUNTRY_CODE = NULL ,
          </when>
          <otherwise >
            ORIGIN_COUNTRY_CODE = #{ORIGIN_COUNTRY_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="CERTIFICATE_CODE != null" >
        <choose>
          <when test="CERTIFICATE_CODE == emptyBigDecimalValue" >
            CERTIFICATE_CODE = NULL ,
          </when>
          <otherwise>
            CERTIFICATE_CODE = #{CERTIFICATE_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="CERTIFICATE_BRANCH != null" >
        <choose>
          <when test="CERTIFICATE_BRANCH == emptyBigDecimalValue" >
            CERTIFICATE_BRANCH = NULL ,
          </when>
          <otherwise>
            CERTIFICATE_BRANCH = #{CERTIFICATE_BRANCH},
          </otherwise>
        </choose>
      </if>
      <if test="SUB_STATUS != null" >
        SUB_STATUS = #{SUB_STATUS},
      </if>
            <if test="NUMBER_OF_BILLS != null" >
        <choose>
          <when test="NUMBER_OF_BILLS == emptyBigDecimalValue" >
            NUMBER_OF_BILLS = NULL ,
          </when>
          <otherwise>
            NUMBER_OF_BILLS = #{NUMBER_OF_BILLS},
          </otherwise>
        </choose>
      </if>
       <if test="TOTAL_AMOUNT_OF_BILLS != null" >
        <choose>
          <when test="TOTAL_AMOUNT_OF_BILLS == emptyBigDecimalValue" >
            TOTAL_AMOUNT_OF_BILLS = NULL ,
          </when>
          <otherwise>
            TOTAL_AMOUNT_OF_BILLS = #{TOTAL_AMOUNT_OF_BILLS},
          </otherwise>
        </choose>
      </if>
      <if test="BIOMETRIC_APPROVED_YN != null" >
        BIOMETRIC_APPROVED_YN = #{BIOMETRIC_APPROVED_YN},
      </if>
         <if test="CARD_READER_SRL != null" >
        CARD_READER_SRL = #{CARD_READER_SRL},
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and CB_IND = #{CB_IND}
      and COMP_CODE = #{COMP_CODE}
      and TRS_NO = #{TRS_NO}
      and TRS_TYPE = #{TRS_TYPE}
  </sql>
  <update id="updateCTSTRS_EXTENDED_ALERT" parameterType="com.path.dbmaps.vo.CTSTRS_EXTENDED_ALERTVO" >
    <include refid="sql_updateCTSTRS_EXTENDED_ALERT" />
  </update>
</mapper>