<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTSTRS_ACC_DET_TMP" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTSTRS_ACC_DET_TMPVO" >
    <id column="BATCH_NO" property="BATCH_NO" />
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NO" property="LINE_NO" />
    <id column="TRS_ACC_NO" property="TRS_ACC_NO" />
    <result column="ACC_BR" property="ACC_BR" />
    <result column="ACC_CY" property="ACC_CY" />
    <result column="ACC_GL" property="ACC_GL" />
    <result column="ACC_CIF" property="ACC_CIF" />
    <result column="ACC_SL" property="ACC_SL" />
    <result column="ACC_ADD_REF" property="ACC_ADD_REF" />
    <result column="ACC_CR_DR" property="ACC_CR_DR" />
    <result column="FC_AMOUNT" property="FC_AMOUNT" />
    <result column="EXCH_RATE" property="EXCH_RATE" />
    <result column="CV_AMOUNT" property="CV_AMOUNT" />
    <result column="PROCESSED" property="PROCESSED" />
    <result column="SCHEMA_CODE" property="SCHEMA_CODE" />
    <result column="INSTRUCTIONS1" property="INSTRUCTIONS1" />
    <result column="INSTRUCTIONS2" property="INSTRUCTIONS2" />
    <result column="IDENTIFICATION_TYPE" property="IDENTIFICATION_TYPE" />
    <result column="CHARGE_CODE" property="CHARGE_CODE" />
  </resultMap>
  <sql id="Base_Column_List" >
    BATCH_NO, BRANCH_CODE, COMP_CODE, LINE_NO, TRS_ACC_NO, ACC_BR, ACC_CY, ACC_GL, ACC_CIF, 
    ACC_SL, ACC_ADD_REF, ACC_CR_DR, FC_AMOUNT, EXCH_RATE, CV_AMOUNT, PROCESSED, SCHEMA_CODE, 
    INSTRUCTIONS1, INSTRUCTIONS2, IDENTIFICATION_TYPE, CHARGE_CODE
  </sql>
  <select id="selectCTSTRS_ACC_DET_TMP" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTSTRS_ACC_DET_TMPVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTSTRS_ACC_DET_TMP
    where BATCH_NO = #{BATCH_NO}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and TRS_ACC_NO = #{TRS_ACC_NO}
  </select>
  <delete id="deleteCTSTRS_ACC_DET_TMP" parameterType="com.path.dbmaps.vo.CTSTRS_ACC_DET_TMPVOKey" >
    delete from CTSTRS_ACC_DET_TMP
    where BATCH_NO = #{BATCH_NO}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and TRS_ACC_NO = #{TRS_ACC_NO}
  </delete>
  <insert id="insertCTSTRS_ACC_DET_TMP" parameterType="com.path.dbmaps.vo.CTSTRS_ACC_DET_TMPVO" >
    insert into CTSTRS_ACC_DET_TMP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BATCH_NO != null" >
        BATCH_NO,
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="TRS_ACC_NO != null and TRS_ACC_NO != emptyBigDecimalValue" >
        TRS_ACC_NO,
      </if>
      <if test="ACC_BR != null and ACC_BR != emptyBigDecimalValue" >
        ACC_BR,
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        ACC_CY,
      </if>
      <if test="ACC_GL != null and ACC_GL != emptyBigDecimalValue" >
        ACC_GL,
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        ACC_CIF,
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        ACC_SL,
      </if>
      <if test="ACC_ADD_REF != null" >
        ACC_ADD_REF,
      </if>
      <if test="ACC_CR_DR != null" >
        ACC_CR_DR,
      </if>
      <if test="FC_AMOUNT != null and FC_AMOUNT != emptyBigDecimalValue" >
        FC_AMOUNT,
      </if>
      <if test="EXCH_RATE != null and EXCH_RATE != emptyBigDecimalValue" >
        EXCH_RATE,
      </if>
      <if test="CV_AMOUNT != null and CV_AMOUNT != emptyBigDecimalValue" >
        CV_AMOUNT,
      </if>
      <if test="PROCESSED != null" >
        PROCESSED,
      </if>
      <if test="SCHEMA_CODE != null and SCHEMA_CODE != emptyBigDecimalValue" >
        SCHEMA_CODE,
      </if>
      <if test="INSTRUCTIONS1 != null" >
        INSTRUCTIONS1,
      </if>
      <if test="INSTRUCTIONS2 != null" >
        INSTRUCTIONS2,
      </if>
      <if test="IDENTIFICATION_TYPE != null and IDENTIFICATION_TYPE != emptyBigDecimalValue" >
        IDENTIFICATION_TYPE,
      </if>
      <if test="CHARGE_CODE != null and CHARGE_CODE != emptyBigDecimalValue" >
        CHARGE_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BATCH_NO != null" >
        #{BATCH_NO},
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="TRS_ACC_NO != null and TRS_ACC_NO != emptyBigDecimalValue" >
        #{TRS_ACC_NO},
      </if>
      <if test="ACC_BR != null and ACC_BR != emptyBigDecimalValue" >
        #{ACC_BR},
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        #{ACC_CY},
      </if>
      <if test="ACC_GL != null and ACC_GL != emptyBigDecimalValue" >
        #{ACC_GL},
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        #{ACC_CIF},
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        #{ACC_SL},
      </if>
      <if test="ACC_ADD_REF != null" >
        #{ACC_ADD_REF},
      </if>
      <if test="ACC_CR_DR != null" >
        #{ACC_CR_DR},
      </if>
      <if test="FC_AMOUNT != null and FC_AMOUNT != emptyBigDecimalValue" >
        #{FC_AMOUNT},
      </if>
      <if test="EXCH_RATE != null and EXCH_RATE != emptyBigDecimalValue" >
        #{EXCH_RATE},
      </if>
      <if test="CV_AMOUNT != null and CV_AMOUNT != emptyBigDecimalValue" >
        #{CV_AMOUNT},
      </if>
      <if test="PROCESSED != null" >
        #{PROCESSED},
      </if>
      <if test="SCHEMA_CODE != null and SCHEMA_CODE != emptyBigDecimalValue" >
        #{SCHEMA_CODE},
      </if>
      <if test="INSTRUCTIONS1 != null" >
        #{INSTRUCTIONS1},
      </if>
      <if test="INSTRUCTIONS2 != null" >
        #{INSTRUCTIONS2},
      </if>
      <if test="IDENTIFICATION_TYPE != null and IDENTIFICATION_TYPE != emptyBigDecimalValue" >
        #{IDENTIFICATION_TYPE},
      </if>
      <if test="CHARGE_CODE != null and CHARGE_CODE != emptyBigDecimalValue" >
        #{CHARGE_CODE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTSTRS_ACC_DET_TMP" >
    update CTSTRS_ACC_DET_TMP
    <set >
      <if test="ACC_BR != null" >
        <choose >
          <when test="ACC_BR == emptyBigDecimalValue" >
            ACC_BR = NULL ,
          </when>
          <otherwise >
            ACC_BR = #{ACC_BR},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CY != null" >
        <choose >
          <when test="ACC_CY == emptyBigDecimalValue" >
            ACC_CY = NULL ,
          </when>
          <otherwise >
            ACC_CY = #{ACC_CY},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_GL != null" >
        <choose >
          <when test="ACC_GL == emptyBigDecimalValue" >
            ACC_GL = NULL ,
          </when>
          <otherwise >
            ACC_GL = #{ACC_GL},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CIF != null" >
        <choose >
          <when test="ACC_CIF == emptyBigDecimalValue" >
            ACC_CIF = NULL ,
          </when>
          <otherwise >
            ACC_CIF = #{ACC_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_SL != null" >
        <choose >
          <when test="ACC_SL == emptyBigDecimalValue" >
            ACC_SL = NULL ,
          </when>
          <otherwise >
            ACC_SL = #{ACC_SL},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_ADD_REF != null" >
        ACC_ADD_REF = #{ACC_ADD_REF},
      </if>
      <if test="ACC_CR_DR != null" >
        ACC_CR_DR = #{ACC_CR_DR},
      </if>
      <if test="FC_AMOUNT != null" >
        <choose >
          <when test="FC_AMOUNT == emptyBigDecimalValue" >
            FC_AMOUNT = NULL ,
          </when>
          <otherwise >
            FC_AMOUNT = #{FC_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="EXCH_RATE != null" >
        <choose >
          <when test="EXCH_RATE == emptyBigDecimalValue" >
            EXCH_RATE = NULL ,
          </when>
          <otherwise >
            EXCH_RATE = #{EXCH_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="CV_AMOUNT != null" >
        <choose >
          <when test="CV_AMOUNT == emptyBigDecimalValue" >
            CV_AMOUNT = NULL ,
          </when>
          <otherwise >
            CV_AMOUNT = #{CV_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="PROCESSED != null" >
        PROCESSED = #{PROCESSED},
      </if>
      <if test="SCHEMA_CODE != null" >
        <choose >
          <when test="SCHEMA_CODE == emptyBigDecimalValue" >
            SCHEMA_CODE = NULL ,
          </when>
          <otherwise >
            SCHEMA_CODE = #{SCHEMA_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="INSTRUCTIONS1 != null" >
        INSTRUCTIONS1 = #{INSTRUCTIONS1},
      </if>
      <if test="INSTRUCTIONS2 != null" >
        INSTRUCTIONS2 = #{INSTRUCTIONS2},
      </if>
      <if test="IDENTIFICATION_TYPE != null" >
        <choose >
          <when test="IDENTIFICATION_TYPE == emptyBigDecimalValue" >
            IDENTIFICATION_TYPE = NULL ,
          </when>
          <otherwise >
            IDENTIFICATION_TYPE = #{IDENTIFICATION_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="CHARGE_CODE != null" >
        <choose >
          <when test="CHARGE_CODE == emptyBigDecimalValue" >
            CHARGE_CODE = NULL ,
          </when>
          <otherwise >
            CHARGE_CODE = #{CHARGE_CODE},
          </otherwise>
        </choose>
      </if>
    </set>
    where BATCH_NO = #{BATCH_NO}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and TRS_ACC_NO = #{TRS_ACC_NO}
  </sql>
  <update id="updateCTSTRS_ACC_DET_TMP" parameterType="com.path.dbmaps.vo.CTSTRS_ACC_DET_TMPVO" >
    <include refid="sql_updateCTSTRS_ACC_DET_TMP" />
  </update>
</mapper>