<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTSTRXTYPE_CHARGES" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTSTRXTYPE_CHARGESVO" >
    <id column="ACTION_TYPE" property="ACTION_TYPE" />
    <id column="CASH_ACCOUNT" property="CASH_ACCOUNT" />
    <id column="CHARGES_CY_POLICY" property="CHARGES_CY_POLICY" />
    <id column="CHARGE_CODE" property="CHARGE_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="ENTITY_CODE" property="ENTITY_CODE" />
    <id column="ENTITY_TYPE" property="ENTITY_TYPE" />
    <id column="LINE_NO" property="LINE_NO" />
    <id column="TRXTYPE_CODE" property="TRXTYPE_CODE" />
    <result column="BRANCH_CODE" property="BRANCH_CODE" />
    <result column="CIF_SUB_NO" property="CIF_SUB_NO" />
    <result column="CURRENCY_CODE" property="CURRENCY_CODE" />
    <result column="GL_CODE" property="GL_CODE" />
    <result column="REASON_DESC" property="REASON_DESC" />
    <result column="SL_NO" property="SL_NO" />
    <result column="EXPIRY_DATE" property="EXPIRY_DATE" />
    <result column="STATUS" property="STATUS" />
  </resultMap>
  <sql id="Base_Column_List" >
    ACTION_TYPE, CASH_ACCOUNT, CHARGES_CY_POLICY, CHARGE_CODE, COMP_CODE, ENTITY_CODE, 
    ENTITY_TYPE, LINE_NO, TRXTYPE_CODE, BRANCH_CODE, CIF_SUB_NO, CURRENCY_CODE, GL_CODE, 
    REASON_DESC, SL_NO, EXPIRY_DATE, STATUS
  </sql>
  <select id="selectCTSTRXTYPE_CHARGES" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTSTRXTYPE_CHARGESVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTSTRXTYPE_CHARGES
    where ACTION_TYPE = #{ACTION_TYPE}
      and CASH_ACCOUNT = #{CASH_ACCOUNT}
      and CHARGES_CY_POLICY = #{CHARGES_CY_POLICY}
      and CHARGE_CODE = #{CHARGE_CODE}
      and COMP_CODE = #{COMP_CODE}
      and ENTITY_CODE = #{ENTITY_CODE}
      and ENTITY_TYPE = #{ENTITY_TYPE}
      and LINE_NO = #{LINE_NO}
      and TRXTYPE_CODE = #{TRXTYPE_CODE}
  </select>
  <delete id="deleteCTSTRXTYPE_CHARGES" parameterType="com.path.dbmaps.vo.CTSTRXTYPE_CHARGESVOKey" >
    delete from CTSTRXTYPE_CHARGES
    where ACTION_TYPE = #{ACTION_TYPE}
      and CASH_ACCOUNT = #{CASH_ACCOUNT}
      and CHARGES_CY_POLICY = #{CHARGES_CY_POLICY}
      and CHARGE_CODE = #{CHARGE_CODE}
      and COMP_CODE = #{COMP_CODE}
      and ENTITY_CODE = #{ENTITY_CODE}
      and ENTITY_TYPE = #{ENTITY_TYPE}
      and LINE_NO = #{LINE_NO}
      and TRXTYPE_CODE = #{TRXTYPE_CODE}
  </delete>
  <insert id="insertCTSTRXTYPE_CHARGES" parameterType="com.path.dbmaps.vo.CTSTRXTYPE_CHARGESVO" >
    insert into CTSTRXTYPE_CHARGES
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ACTION_TYPE != null" >
        ACTION_TYPE,
      </if>
      <if test="CASH_ACCOUNT != null" >
        CASH_ACCOUNT,
      </if>
      <if test="CHARGES_CY_POLICY != null" >
        CHARGES_CY_POLICY,
      </if>
      <if test="CHARGE_CODE != null and CHARGE_CODE != emptyBigDecimalValue" >
        CHARGE_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="ENTITY_CODE != null and ENTITY_CODE != emptyBigDecimalValue" >
        ENTITY_CODE,
      </if>
      <if test="ENTITY_TYPE != null" >
        ENTITY_TYPE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="TRXTYPE_CODE != null and TRXTYPE_CODE != emptyBigDecimalValue" >
        TRXTYPE_CODE,
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="CIF_SUB_NO != null and CIF_SUB_NO != emptyBigDecimalValue" >
        CIF_SUB_NO,
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        CURRENCY_CODE,
      </if>
      <if test="GL_CODE != null and GL_CODE != emptyBigDecimalValue" >
        GL_CODE,
      </if>
      <if test="REASON_DESC != null" >
        REASON_DESC,
      </if>
      <if test="SL_NO != null and SL_NO != emptyBigDecimalValue" >
        SL_NO,
      </if>
      <if test="EXPIRY_DATE != null" >
        EXPIRY_DATE,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ACTION_TYPE != null" >
        #{ACTION_TYPE},
      </if>
      <if test="CASH_ACCOUNT != null" >
        #{CASH_ACCOUNT},
      </if>
      <if test="CHARGES_CY_POLICY != null" >
        #{CHARGES_CY_POLICY},
      </if>
      <if test="CHARGE_CODE != null and CHARGE_CODE != emptyBigDecimalValue" >
        #{CHARGE_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="ENTITY_CODE != null and ENTITY_CODE != emptyBigDecimalValue" >
        #{ENTITY_CODE},
      </if>
      <if test="ENTITY_TYPE != null" >
        #{ENTITY_TYPE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="TRXTYPE_CODE != null and TRXTYPE_CODE != emptyBigDecimalValue" >
        #{TRXTYPE_CODE},
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="CIF_SUB_NO != null and CIF_SUB_NO != emptyBigDecimalValue" >
        #{CIF_SUB_NO},
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        #{CURRENCY_CODE},
      </if>
      <if test="GL_CODE != null and GL_CODE != emptyBigDecimalValue" >
        #{GL_CODE},
      </if>
      <if test="REASON_DESC != null" >
        #{REASON_DESC},
      </if>
      <if test="SL_NO != null and SL_NO != emptyBigDecimalValue" >
        #{SL_NO},
      </if>
      <if test="EXPIRY_DATE != null" >
        #{EXPIRY_DATE},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTSTRXTYPE_CHARGES" >
    update CTSTRXTYPE_CHARGES
    <set >
      <if test="BRANCH_CODE != null" >
        <choose >
          <when test="BRANCH_CODE == emptyBigDecimalValue" >
            BRANCH_CODE = NULL ,
          </when>
          <otherwise >
            BRANCH_CODE = #{BRANCH_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="CIF_SUB_NO != null" >
        <choose >
          <when test="CIF_SUB_NO == emptyBigDecimalValue" >
            CIF_SUB_NO = NULL ,
          </when>
          <otherwise >
            CIF_SUB_NO = #{CIF_SUB_NO},
          </otherwise>
        </choose>
      </if>
      <if test="CURRENCY_CODE != null" >
        <choose >
          <when test="CURRENCY_CODE == emptyBigDecimalValue" >
            CURRENCY_CODE = NULL ,
          </when>
          <otherwise >
            CURRENCY_CODE = #{CURRENCY_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="GL_CODE != null" >
        <choose >
          <when test="GL_CODE == emptyBigDecimalValue" >
            GL_CODE = NULL ,
          </when>
          <otherwise >
            GL_CODE = #{GL_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="REASON_DESC != null" >
        REASON_DESC = #{REASON_DESC},
      </if>
      <if test="SL_NO != null" >
        <choose >
          <when test="SL_NO == emptyBigDecimalValue" >
            SL_NO = NULL ,
          </when>
          <otherwise >
            SL_NO = #{SL_NO},
          </otherwise>
        </choose>
      </if>
      <if test="EXPIRY_DATE != null" >
        EXPIRY_DATE = #{EXPIRY_DATE},
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
    </set>
    where ACTION_TYPE = #{ACTION_TYPE}
      and CASH_ACCOUNT = #{CASH_ACCOUNT}
      and CHARGES_CY_POLICY = #{CHARGES_CY_POLICY}
      and CHARGE_CODE = #{CHARGE_CODE}
      and COMP_CODE = #{COMP_CODE}
      and ENTITY_CODE = #{ENTITY_CODE}
      and ENTITY_TYPE = #{ENTITY_TYPE}
      and LINE_NO = #{LINE_NO}
      and TRXTYPE_CODE = #{TRXTYPE_CODE}
  </sql>
  <update id="updateCTSTRXTYPE_CHARGES" parameterType="com.path.dbmaps.vo.CTSTRXTYPE_CHARGESVO" >
    <include refid="sql_updateCTSTRXTYPE_CHARGES" />
  </update>
</mapper>