<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTSTRS_BILL_REFERENCE" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTSTRS_BILL_REFERENCEVO" >
    <id column="ADD_REF_LINE_NO" property="ADD_REF_LINE_NO" />
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="CB_IND" property="CB_IND" />
    <id column="CIF_NO" property="CIF_NO" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NO" property="LINE_NO" />
    <id column="REG_TYPE" property="REG_TYPE" />
    <id column="TRS_NO" property="TRS_NO" />
    <id column="TRS_TYPE" property="TRS_TYPE" />
    <result column="REFERENCE" property="REFERENCE" />
  </resultMap>
  <sql id="Base_Column_List" >
    ADD_REF_LINE_NO, BRANCH_CODE, CB_IND, CIF_NO, COMP_CODE, LINE_NO, REG_TYPE, TRS_NO, 
    TRS_TYPE, REFERENCE
  </sql>
  <select id="selectCTSTRS_BILL_REFERENCE" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTSTRS_BILL_REFERENCEVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTSTRS_BILL_REFERENCE
    where ADD_REF_LINE_NO = #{ADD_REF_LINE_NO}
      and BRANCH_CODE = #{BRANCH_CODE}
      and CB_IND = #{CB_IND}
      and CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and REG_TYPE = #{REG_TYPE}
      and TRS_NO = #{TRS_NO}
      and TRS_TYPE = #{TRS_TYPE}
  </select>
  <delete id="deleteCTSTRS_BILL_REFERENCE" parameterType="com.path.dbmaps.vo.CTSTRS_BILL_REFERENCEVOKey" >
    delete from CTSTRS_BILL_REFERENCE
    where ADD_REF_LINE_NO = #{ADD_REF_LINE_NO}
      and BRANCH_CODE = #{BRANCH_CODE}
      and CB_IND = #{CB_IND}
      and CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and REG_TYPE = #{REG_TYPE}
      and TRS_NO = #{TRS_NO}
      and TRS_TYPE = #{TRS_TYPE}
  </delete>
  <insert id="insertCTSTRS_BILL_REFERENCE" parameterType="com.path.dbmaps.vo.CTSTRS_BILL_REFERENCEVO" >
    insert into CTSTRS_BILL_REFERENCE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ADD_REF_LINE_NO != null and ADD_REF_LINE_NO != emptyBigDecimalValue" >
        ADD_REF_LINE_NO,
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="CB_IND != null" >
        CB_IND,
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        CIF_NO,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="REG_TYPE != null" >
        REG_TYPE,
      </if>
      <if test="TRS_NO != null and TRS_NO != emptyBigDecimalValue" >
        TRS_NO,
      </if>
      <if test="TRS_TYPE != null" >
        TRS_TYPE,
      </if>
      <if test="REFERENCE != null" >
        REFERENCE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ADD_REF_LINE_NO != null and ADD_REF_LINE_NO != emptyBigDecimalValue" >
        #{ADD_REF_LINE_NO},
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="CB_IND != null" >
        #{CB_IND},
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        #{CIF_NO},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="REG_TYPE != null" >
        #{REG_TYPE},
      </if>
      <if test="TRS_NO != null and TRS_NO != emptyBigDecimalValue" >
        #{TRS_NO},
      </if>
      <if test="TRS_TYPE != null" >
        #{TRS_TYPE},
      </if>
      <if test="REFERENCE != null" >
        #{REFERENCE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTSTRS_BILL_REFERENCE" >
    update CTSTRS_BILL_REFERENCE
    <set >
      <if test="REFERENCE != null" >
        REFERENCE = #{REFERENCE},
      </if>
    </set>
    where ADD_REF_LINE_NO = #{ADD_REF_LINE_NO}
      and BRANCH_CODE = #{BRANCH_CODE}
      and CB_IND = #{CB_IND}
      and CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and REG_TYPE = #{REG_TYPE}
      and TRS_NO = #{TRS_NO}
      and TRS_TYPE = #{TRS_TYPE}
  </sql>
  <update id="updateCTSTRS_BILL_REFERENCE" parameterType="com.path.dbmaps.vo.CTSTRS_BILL_REFERENCEVO" >
    <include refid="sql_updateCTSTRS_BILL_REFERENCE" />
  </update>
</mapper>