<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTSTRS_REMITT_DENOM" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTSTRS_REMITT_DENOMVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="CB_IND" property="CB_IND" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NO" property="LINE_NO" />
    <id column="TRS_NO" property="TRS_NO" />
    <id column="TRS_TYPE" property="TRS_TYPE" />
    <result column="SERIAL_NO" property="SERIAL_NO" />
    <result column="FR_TC_NO" property="FR_TC_NO" />
    <result column="TO_TC_NO" property="TO_TC_NO" />
    <result column="QTY" property="QTY" />
    <result column="VALUE" property="VALUE" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, CB_IND, COMP_CODE, LINE_NO, TRS_NO, TRS_TYPE, SERIAL_NO, FR_TC_NO, TO_TC_NO, 
    QTY, VALUE
  </sql>
  <select id="selectCTSTRS_REMITT_DENOM" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTSTRS_REMITT_DENOMVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTSTRS_REMITT_DENOM
    where BRANCH_CODE = #{BRANCH_CODE}
      and CB_IND = #{CB_IND}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and TRS_NO = #{TRS_NO}
      and TRS_TYPE = #{TRS_TYPE}
  </select>
  <delete id="deleteCTSTRS_REMITT_DENOM" parameterType="com.path.dbmaps.vo.CTSTRS_REMITT_DENOMVOKey" >
    delete from CTSTRS_REMITT_DENOM
    where BRANCH_CODE = #{BRANCH_CODE}
      and CB_IND = #{CB_IND}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and TRS_NO = #{TRS_NO}
      and TRS_TYPE = #{TRS_TYPE}
  </delete>
  <insert id="insertCTSTRS_REMITT_DENOM" parameterType="com.path.dbmaps.vo.CTSTRS_REMITT_DENOMVO" >
    insert into CTSTRS_REMITT_DENOM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="CB_IND != null" >
        CB_IND,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="TRS_NO != null and TRS_NO != emptyBigDecimalValue" >
        TRS_NO,
      </if>
      <if test="TRS_TYPE != null" >
        TRS_TYPE,
      </if>
      <if test="SERIAL_NO != null" >
        SERIAL_NO,
      </if>
      <if test="FR_TC_NO != null and FR_TC_NO != emptyBigDecimalValue" >
        FR_TC_NO,
      </if>
      <if test="TO_TC_NO != null and TO_TC_NO != emptyBigDecimalValue" >
        TO_TC_NO,
      </if>
      <if test="QTY != null and QTY != emptyBigDecimalValue" >
        QTY,
      </if>
      <if test="VALUE != null and VALUE != emptyBigDecimalValue" >
        VALUE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="CB_IND != null" >
        #{CB_IND},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="TRS_NO != null and TRS_NO != emptyBigDecimalValue" >
        #{TRS_NO},
      </if>
      <if test="TRS_TYPE != null" >
        #{TRS_TYPE},
      </if>
      <if test="SERIAL_NO != null" >
        #{SERIAL_NO},
      </if>
      <if test="FR_TC_NO != null and FR_TC_NO != emptyBigDecimalValue" >
        #{FR_TC_NO},
      </if>
      <if test="TO_TC_NO != null and TO_TC_NO != emptyBigDecimalValue" >
        #{TO_TC_NO},
      </if>
      <if test="QTY != null and QTY != emptyBigDecimalValue" >
        #{QTY},
      </if>
      <if test="VALUE != null and VALUE != emptyBigDecimalValue" >
        #{VALUE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTSTRS_REMITT_DENOM" >
    update CTSTRS_REMITT_DENOM
    <set >
      <if test="SERIAL_NO != null" >
        SERIAL_NO = #{SERIAL_NO},
      </if>
      <if test="FR_TC_NO != null" >
        <choose >
          <when test="FR_TC_NO == emptyBigDecimalValue" >
            FR_TC_NO = NULL ,
          </when>
          <otherwise >
            FR_TC_NO = #{FR_TC_NO},
          </otherwise>
        </choose>
      </if>
      <if test="TO_TC_NO != null" >
        <choose >
          <when test="TO_TC_NO == emptyBigDecimalValue" >
            TO_TC_NO = NULL ,
          </when>
          <otherwise >
            TO_TC_NO = #{TO_TC_NO},
          </otherwise>
        </choose>
      </if>
      <if test="QTY != null" >
        <choose >
          <when test="QTY == emptyBigDecimalValue" >
            QTY = NULL ,
          </when>
          <otherwise >
            QTY = #{QTY},
          </otherwise>
        </choose>
      </if>
      <if test="VALUE != null" >
        <choose >
          <when test="VALUE == emptyBigDecimalValue" >
            VALUE = NULL ,
          </when>
          <otherwise >
            VALUE = #{VALUE},
          </otherwise>
        </choose>
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and CB_IND = #{CB_IND}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and TRS_NO = #{TRS_NO}
      and TRS_TYPE = #{TRS_TYPE}
  </sql>
  <update id="updateCTSTRS_REMITT_DENOM" parameterType="com.path.dbmaps.vo.CTSTRS_REMITT_DENOMVO" >
    <include refid="sql_updateCTSTRS_REMITT_DENOM" />
  </update>
</mapper>