<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTSTELLER_CASH_BALANCE_CHEQUE" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTSTELLER_CASH_BALANCE_CHEQUEVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NO" property="LINE_NO" />
    <id column="TRX_NO" property="TRX_NO" />
    <result column="CURRENCY_CODE" property="CURRENCY_CODE" />
    <result column="CHEQUE_NO" property="CHEQUE_NO" />
    <result column="TRX_TYPE" property="TRX_TYPE" />
    <result column="CORR_BANK" property="CORR_BANK" />
    <result column="CORR_BANK_NAME" property="CORR_BANK_NAME" />
    <result column="VALUE" property="VALUE" />
    <result column="COUNTED_VALUE" property="COUNTED_VALUE" />
    <result column="CTS_TRS_NO" property="CTS_TRS_NO" />
    <result column="CHEQUE_FROM_VAULT_NO" property="CHEQUE_FROM_VAULT_NO" />
    <result column="CHEQUE_TO_VAULT_NO" property="CHEQUE_TO_VAULT_NO" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, LINE_NO, TRX_NO, CURRENCY_CODE, CHEQUE_NO, TRX_TYPE, CORR_BANK, 
    CORR_BANK_NAME, VALUE, COUNTED_VALUE, CTS_TRS_NO , CHEQUE_FROM_VAULT_NO, CHEQUE_TO_VAULT_NO
  </sql>
  <select id="selectCTSTELLER_CASH_BALANCE_CHEQUE" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTSTELLER_CASH_BALANCE_CHEQUEVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTSTELLER_CASH_BALANCE_CHEQUE
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and TRX_NO = #{TRX_NO}
  </select>
  <delete id="deleteCTSTELLER_CASH_BALANCE_CHEQUE" parameterType="com.path.dbmaps.vo.CTSTELLER_CASH_BALANCE_CHEQUEVOKey" >
    delete from CTSTELLER_CASH_BALANCE_CHEQUE
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and TRX_NO = #{TRX_NO}
  </delete>
  <insert id="insertCTSTELLER_CASH_BALANCE_CHEQUE" parameterType="com.path.dbmaps.vo.CTSTELLER_CASH_BALANCE_CHEQUEVO" >
    insert into CTSTELLER_CASH_BALANCE_CHEQUE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="TRX_NO != null and TRX_NO != emptyBigDecimalValue" >
        TRX_NO,
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        CURRENCY_CODE,
      </if>
      <if test="CHEQUE_NO != null and CHEQUE_NO != emptyBigDecimalValue" >
        CHEQUE_NO,
      </if>
      <if test="TRX_TYPE != null and TRX_TYPE != emptyBigDecimalValue" >
        TRX_TYPE,
      </if>
      <if test="CORR_BANK != null and CORR_BANK != emptyBigDecimalValue" >
        CORR_BANK,
      </if>
      <if test="CORR_BANK_NAME != null" >
        CORR_BANK_NAME,
      </if>
      <if test="VALUE != null and VALUE != emptyBigDecimalValue" >
        VALUE,
      </if>
      <if test="COUNTED_VALUE != null and COUNTED_VALUE != emptyBigDecimalValue" >
        COUNTED_VALUE,
      </if>
      <if test="CTS_TRS_NO != null and CTS_TRS_NO != emptyBigDecimalValue" >
        CTS_TRS_NO,
      </if>
      <if test="CHEQUE_FROM_VAULT_NO != null and CHEQUE_FROM_VAULT_NO != emptyBigDecimalValue" >
        CHEQUE_FROM_VAULT_NO,
      </if>
      <if test="CHEQUE_TO_VAULT_NO != null and CHEQUE_TO_VAULT_NO != emptyBigDecimalValue" >
        CHEQUE_TO_VAULT_NO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="TRX_NO != null and TRX_NO != emptyBigDecimalValue" >
        #{TRX_NO},
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        #{CURRENCY_CODE},
      </if>
      <if test="CHEQUE_NO != null and CHEQUE_NO != emptyBigDecimalValue" >
        #{CHEQUE_NO},
      </if>
      <if test="TRX_TYPE != null and TRX_TYPE != emptyBigDecimalValue" >
        #{TRX_TYPE},
      </if>
      <if test="CORR_BANK != null and CORR_BANK != emptyBigDecimalValue" >
        #{CORR_BANK},
      </if>
      <if test="CORR_BANK_NAME != null" >
        #{CORR_BANK_NAME},
      </if>
      <if test="VALUE != null and VALUE != emptyBigDecimalValue" >
        #{VALUE},
      </if>
      <if test="COUNTED_VALUE != null and COUNTED_VALUE != emptyBigDecimalValue" >
        #{COUNTED_VALUE},
      </if>
      <if test="CTS_TRS_NO != null and CTS_TRS_NO != emptyBigDecimalValue" >
        #{CTS_TRS_NO},
      </if>
      <if test="CHEQUE_FROM_VAULT_NO != null and CHEQUE_FROM_VAULT_NO != emptyBigDecimalValue" >
        #{CHEQUE_FROM_VAULT_NO},
      </if>
      <if test="CHEQUE_TO_VAULT_NO != null and CHEQUE_TO_VAULT_NO != emptyBigDecimalValue" >
        #{CHEQUE_TO_VAULT_NO},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTSTELLER_CASH_BALANCE_CHEQUE" >
    update CTSTELLER_CASH_BALANCE_CHEQUE
    <set >
      <if test="CURRENCY_CODE != null" >
        <choose >
          <when test="CURRENCY_CODE == emptyBigDecimalValue" >
            CURRENCY_CODE = NULL ,
          </when>
          <otherwise >
            CURRENCY_CODE = #{CURRENCY_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="CHEQUE_NO != null" >
        <choose >
          <when test="CHEQUE_NO == emptyBigDecimalValue" >
            CHEQUE_NO = NULL ,
          </when>
          <otherwise >
            CHEQUE_NO = #{CHEQUE_NO},
          </otherwise>
        </choose>
      </if>
      <if test="TRX_TYPE != null" >
        <choose >
          <when test="TRX_TYPE == emptyBigDecimalValue" >
            TRX_TYPE = NULL ,
          </when>
          <otherwise >
            TRX_TYPE = #{TRX_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="CORR_BANK != null" >
        <choose >
          <when test="CORR_BANK == emptyBigDecimalValue" >
            CORR_BANK = NULL ,
          </when>
          <otherwise >
            CORR_BANK = #{CORR_BANK},
          </otherwise>
        </choose>
      </if>
      <if test="CORR_BANK_NAME != null" >
        CORR_BANK_NAME = #{CORR_BANK_NAME},
      </if>
      <if test="VALUE != null" >
        <choose >
          <when test="VALUE == emptyBigDecimalValue" >
            VALUE = NULL ,
          </when>
          <otherwise >
            VALUE = #{VALUE},
          </otherwise>
        </choose>
      </if>
      <if test="COUNTED_VALUE != null" >
        <choose >
          <when test="COUNTED_VALUE == emptyBigDecimalValue" >
            COUNTED_VALUE = NULL ,
          </when>
          <otherwise >
            COUNTED_VALUE = #{COUNTED_VALUE},
          </otherwise>
        </choose>
      </if>
      <if test="CTS_TRS_NO != null" >
        <choose >
          <when test="CTS_TRS_NO == emptyBigDecimalValue" >
            CTS_TRS_NO = NULL ,
          </when>
          <otherwise >
            CTS_TRS_NO = #{CTS_TRS_NO},
          </otherwise>
        </choose>
      </if>
       <if test="CHEQUE_FROM_VAULT_NO != null" >
        <choose >
          <when test="CHEQUE_FROM_VAULT_NO == emptyBigDecimalValue" >
            CHEQUE_FROM_VAULT_NO = NULL ,
          </when>
          <otherwise >
            CHEQUE_FROM_VAULT_NO = #{CHEQUE_FROM_VAULT_NO},
          </otherwise>
        </choose>
      </if>
       <if test="CHEQUE_TO_VAULT_NO != null" >
        <choose >
          <when test="CHEQUE_TO_VAULT_NO == emptyBigDecimalValue" >
            CHEQUE_TO_VAULT_NO = NULL ,
          </when>
          <otherwise >
            CHEQUE_TO_VAULT_NO = #{CHEQUE_TO_VAULT_NO},
          </otherwise>
        </choose>
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and TRX_NO = #{TRX_NO}
  </sql>
  <update id="updateCTSTELLER_CASH_BALANCE_CHEQUE" parameterType="com.path.dbmaps.vo.CTSTELLER_CASH_BALANCE_CHEQUEVO" >
    <include refid="sql_updateCTSTELLER_CASH_BALANCE_CHEQUE" />
  </update>
</mapper>