<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTSTELLER_AXS" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTSTELLER_AXSVO" >
    <id column="ACCESS_CODE" property="ACCESS_CODE" />
    <id column="ACCESS_TYPE" property="ACCESS_TYPE" />
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="TELLER_CODE" property="TELLER_CODE" />
    <result column="ACCESS_DESC" property="ACCESS_DESC" />
    <result column="ACCESS_ALLOWED" property="ACCESS_ALLOWED" />
  </resultMap>
  <sql id="Base_Column_List" >
    ACCESS_CODE, ACCESS_TYPE, BRANCH_CODE, COMP_CODE, TELLER_CODE, ACCESS_DESC, ACCESS_ALLOWED
  </sql>
  <select id="selectCTSTELLER_AXS" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTSTELLER_AXSVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTSTELLER_AXS
    where ACCESS_CODE = #{ACCESS_CODE}
      and ACCESS_TYPE = #{ACCESS_TYPE}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and TELLER_CODE = #{TELLER_CODE}
  </select>
  <delete id="deleteCTSTELLER_AXS" parameterType="com.path.dbmaps.vo.CTSTELLER_AXSVOKey" >
    delete from CTSTELLER_AXS
    where ACCESS_CODE = #{ACCESS_CODE}
      and ACCESS_TYPE = #{ACCESS_TYPE}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and TELLER_CODE = #{TELLER_CODE}
  </delete>
  <insert id="insertCTSTELLER_AXS" parameterType="com.path.dbmaps.vo.CTSTELLER_AXSVO" >
    insert into CTSTELLER_AXS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ACCESS_CODE != null and ACCESS_CODE != emptyBigDecimalValue" >
        ACCESS_CODE,
      </if>
      <if test="ACCESS_TYPE != null" >
        ACCESS_TYPE,
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="TELLER_CODE != null and TELLER_CODE != emptyBigDecimalValue" >
        TELLER_CODE,
      </if>
      <if test="ACCESS_DESC != null" >
        ACCESS_DESC,
      </if>
      <if test="ACCESS_ALLOWED != null" >
        ACCESS_ALLOWED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ACCESS_CODE != null and ACCESS_CODE != emptyBigDecimalValue" >
        #{ACCESS_CODE},
      </if>
      <if test="ACCESS_TYPE != null" >
        #{ACCESS_TYPE},
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="TELLER_CODE != null and TELLER_CODE != emptyBigDecimalValue" >
        #{TELLER_CODE},
      </if>
      <if test="ACCESS_DESC != null" >
        #{ACCESS_DESC},
      </if>
      <if test="ACCESS_ALLOWED != null" >
        #{ACCESS_ALLOWED},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTSTELLER_AXS" >
    update CTSTELLER_AXS
    <set >
      <if test="ACCESS_DESC != null" >
        ACCESS_DESC = #{ACCESS_DESC},
      </if>
      <if test="ACCESS_ALLOWED != null" >
        ACCESS_ALLOWED = #{ACCESS_ALLOWED},
      </if>
    </set>
    where ACCESS_CODE = #{ACCESS_CODE}
      and ACCESS_TYPE = #{ACCESS_TYPE}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and TELLER_CODE = #{TELLER_CODE}
  </sql>
  <update id="updateCTSTELLER_AXS" parameterType="com.path.dbmaps.vo.CTSTELLER_AXSVO" >
    <include refid="sql_updateCTSTELLER_AXS" />
  </update>
</mapper>