<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTSTRSDET_TEMPLATE" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTSTRSDET_TEMPLATEVO" >
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_COUNTER" property="LINE_COUNTER" />
    <result column="GROUP_NO" property="GROUP_NO" />
    <result column="BRIEF_NAME_ENG" property="BRIEF_NAME_ENG" />
    <result column="LONG_NAME_ENG" property="LONG_NAME_ENG" />
    <result column="BRIEF_NAME_ARAB" property="BRIEF_NAME_ARAB" />
    <result column="LONG_NAME_ARAB" property="LONG_NAME_ARAB" />
    <result column="LINE_ORDER" property="LINE_ORDER" />
    <result column="ACC_BR_CODE" property="ACC_BR_CODE" />
    <result column="ACC_GL_CODE" property="ACC_GL_CODE" />
    <result column="ACC_CIF" property="ACC_CIF" />
    <result column="ACC_SL" property="ACC_SL" />
    <result column="CIF_TYPE" property="CIF_TYPE" />
    <result column="ACC_SIGN" property="ACC_SIGN" />
    <result column="GL_TYPE" property="GL_TYPE" />
    <result column="SL_TYPE" property="SL_TYPE" />
    <result column="ENTRY_TYPE" property="ENTRY_TYPE" />
    <result column="BR_TYPE" property="BR_TYPE" />
    <result column="CY_TYPE" property="CY_TYPE" />
    <result column="TRADE_DATE_TYPE" property="TRADE_DATE_TYPE" />
    <result column="VALUE_DATE_TYPE" property="VALUE_DATE_TYPE" />
    <result column="BALANCE_AVAILABILITY" property="BALANCE_AVAILABILITY" />
    <result column="DEDUCT_CHARGES_ON" property="DEDUCT_CHARGES_ON" />
    <result column="CREATE_INVALID_ACC" property="CREATE_INVALID_ACC" />
    <result column="AMOUNT_EXP" property="AMOUNT_EXP" />
    <result column="JV_REFERENCE" property="JV_REFERENCE" />
    <result column="JV_TYPE" property="JV_TYPE" />
    <result column="SAME_DESC_AS" property="SAME_DESC_AS" />
    <result column="SYSTEM_GEN" property="SYSTEM_GEN" />
  </resultMap>
  <sql id="Base_Column_List" >
    CODE, COMP_CODE, LINE_COUNTER, GROUP_NO, BRIEF_NAME_ENG, LONG_NAME_ENG, BRIEF_NAME_ARAB, 
    LONG_NAME_ARAB, LINE_ORDER, ACC_BR_CODE, ACC_GL_CODE, ACC_CIF, ACC_SL, CIF_TYPE, 
    ACC_SIGN, GL_TYPE, SL_TYPE, ENTRY_TYPE, BR_TYPE, CY_TYPE, TRADE_DATE_TYPE, VALUE_DATE_TYPE, 
    BALANCE_AVAILABILITY, DEDUCT_CHARGES_ON, CREATE_INVALID_ACC, AMOUNT_EXP, JV_REFERENCE, 
    JV_TYPE, SAME_DESC_AS, SYSTEM_GEN
  </sql>
  <select id="selectCTSTRSDET_TEMPLATE" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTSTRSDET_TEMPLATEVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTSTRSDET_TEMPLATE
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_COUNTER = #{LINE_COUNTER}
  </select>
  <delete id="deleteCTSTRSDET_TEMPLATE" parameterType="com.path.dbmaps.vo.CTSTRSDET_TEMPLATEVOKey" >
    delete from CTSTRSDET_TEMPLATE
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_COUNTER = #{LINE_COUNTER}
  </delete>
  <insert id="insertCTSTRSDET_TEMPLATE" parameterType="com.path.dbmaps.vo.CTSTRSDET_TEMPLATEVO" >
    insert into CTSTRSDET_TEMPLATE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_COUNTER != null and LINE_COUNTER != emptyBigDecimalValue" >
        LINE_COUNTER,
      </if>
      <if test="GROUP_NO != null and GROUP_NO != emptyBigDecimalValue" >
        GROUP_NO,
      </if>
      <if test="BRIEF_NAME_ENG != null" >
        BRIEF_NAME_ENG,
      </if>
      <if test="LONG_NAME_ENG != null" >
        LONG_NAME_ENG,
      </if>
      <if test="BRIEF_NAME_ARAB != null" >
        BRIEF_NAME_ARAB,
      </if>
      <if test="LONG_NAME_ARAB != null" >
        LONG_NAME_ARAB,
      </if>
      <if test="LINE_ORDER != null and LINE_ORDER != emptyBigDecimalValue" >
        LINE_ORDER,
      </if>
      <if test="ACC_BR_CODE != null and ACC_BR_CODE != emptyBigDecimalValue" >
        ACC_BR_CODE,
      </if>
      <if test="ACC_GL_CODE != null and ACC_GL_CODE != emptyBigDecimalValue" >
        ACC_GL_CODE,
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        ACC_CIF,
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        ACC_SL,
      </if>
      <if test="CIF_TYPE != null" >
        CIF_TYPE,
      </if>
      <if test="ACC_SIGN != null" >
        ACC_SIGN,
      </if>
      <if test="GL_TYPE != null" >
        GL_TYPE,
      </if>
      <if test="SL_TYPE != null" >
        SL_TYPE,
      </if>
      <if test="ENTRY_TYPE != null" >
        ENTRY_TYPE,
      </if>
      <if test="BR_TYPE != null" >
        BR_TYPE,
      </if>
      <if test="CY_TYPE != null" >
        CY_TYPE,
      </if>
      <if test="TRADE_DATE_TYPE != null" >
        TRADE_DATE_TYPE,
      </if>
      <if test="VALUE_DATE_TYPE != null" >
        VALUE_DATE_TYPE,
      </if>
      <if test="BALANCE_AVAILABILITY != null" >
        BALANCE_AVAILABILITY,
      </if>
      <if test="DEDUCT_CHARGES_ON != null" >
        DEDUCT_CHARGES_ON,
      </if>
      <if test="CREATE_INVALID_ACC != null" >
        CREATE_INVALID_ACC,
      </if>
      <if test="AMOUNT_EXP != null" >
        AMOUNT_EXP,
      </if>
      <if test="JV_REFERENCE != null" >
        JV_REFERENCE,
      </if>
      <if test="JV_TYPE != null and JV_TYPE != emptyBigDecimalValue" >
        JV_TYPE,
      </if>
      <if test="SAME_DESC_AS != null and SAME_DESC_AS != emptyBigDecimalValue" >
        SAME_DESC_AS,
      </if>
      <if test="SYSTEM_GEN != null" >
        SYSTEM_GEN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        #{CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_COUNTER != null and LINE_COUNTER != emptyBigDecimalValue" >
        #{LINE_COUNTER},
      </if>
      <if test="GROUP_NO != null and GROUP_NO != emptyBigDecimalValue" >
        #{GROUP_NO},
      </if>
      <if test="BRIEF_NAME_ENG != null" >
        #{BRIEF_NAME_ENG},
      </if>
      <if test="LONG_NAME_ENG != null" >
        #{LONG_NAME_ENG},
      </if>
      <if test="BRIEF_NAME_ARAB != null" >
        #{BRIEF_NAME_ARAB},
      </if>
      <if test="LONG_NAME_ARAB != null" >
        #{LONG_NAME_ARAB},
      </if>
      <if test="LINE_ORDER != null and LINE_ORDER != emptyBigDecimalValue" >
        #{LINE_ORDER},
      </if>
      <if test="ACC_BR_CODE != null and ACC_BR_CODE != emptyBigDecimalValue" >
        #{ACC_BR_CODE},
      </if>
      <if test="ACC_GL_CODE != null and ACC_GL_CODE != emptyBigDecimalValue" >
        #{ACC_GL_CODE},
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        #{ACC_CIF},
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        #{ACC_SL},
      </if>
      <if test="CIF_TYPE != null" >
        #{CIF_TYPE},
      </if>
      <if test="ACC_SIGN != null" >
        #{ACC_SIGN},
      </if>
      <if test="GL_TYPE != null" >
        #{GL_TYPE},
      </if>
      <if test="SL_TYPE != null" >
        #{SL_TYPE},
      </if>
      <if test="ENTRY_TYPE != null" >
        #{ENTRY_TYPE},
      </if>
      <if test="BR_TYPE != null" >
        #{BR_TYPE},
      </if>
      <if test="CY_TYPE != null" >
        #{CY_TYPE},
      </if>
      <if test="TRADE_DATE_TYPE != null" >
        #{TRADE_DATE_TYPE},
      </if>
      <if test="VALUE_DATE_TYPE != null" >
        #{VALUE_DATE_TYPE},
      </if>
      <if test="BALANCE_AVAILABILITY != null" >
        #{BALANCE_AVAILABILITY},
      </if>
      <if test="DEDUCT_CHARGES_ON != null" >
        #{DEDUCT_CHARGES_ON},
      </if>
      <if test="CREATE_INVALID_ACC != null" >
        #{CREATE_INVALID_ACC},
      </if>
      <if test="AMOUNT_EXP != null" >
        #{AMOUNT_EXP},
      </if>
      <if test="JV_REFERENCE != null" >
        #{JV_REFERENCE},
      </if>
      <if test="JV_TYPE != null and JV_TYPE != emptyBigDecimalValue" >
        #{JV_TYPE},
      </if>
      <if test="SAME_DESC_AS != null and SAME_DESC_AS != emptyBigDecimalValue" >
        #{SAME_DESC_AS},
      </if>
      <if test="SYSTEM_GEN != null" >
        #{SYSTEM_GEN},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTSTRSDET_TEMPLATE" >
    update CTSTRSDET_TEMPLATE
    <set >
      <if test="GROUP_NO != null" >
        <choose >
          <when test="GROUP_NO == emptyBigDecimalValue" >
            GROUP_NO = NULL ,
          </when>
          <otherwise >
            GROUP_NO = #{GROUP_NO},
          </otherwise>
        </choose>
      </if>
      <if test="BRIEF_NAME_ENG != null" >
        BRIEF_NAME_ENG = #{BRIEF_NAME_ENG},
      </if>
      <if test="LONG_NAME_ENG != null" >
        LONG_NAME_ENG = #{LONG_NAME_ENG},
      </if>
      <if test="BRIEF_NAME_ARAB != null" >
        BRIEF_NAME_ARAB = #{BRIEF_NAME_ARAB},
      </if>
      <if test="LONG_NAME_ARAB != null" >
        LONG_NAME_ARAB = #{LONG_NAME_ARAB},
      </if>
      <if test="LINE_ORDER != null" >
        <choose >
          <when test="LINE_ORDER == emptyBigDecimalValue" >
            LINE_ORDER = NULL ,
          </when>
          <otherwise >
            LINE_ORDER = #{LINE_ORDER},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_BR_CODE != null" >
        <choose >
          <when test="ACC_BR_CODE == emptyBigDecimalValue" >
            ACC_BR_CODE = NULL ,
          </when>
          <otherwise >
            ACC_BR_CODE = #{ACC_BR_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_GL_CODE != null" >
        <choose >
          <when test="ACC_GL_CODE == emptyBigDecimalValue" >
            ACC_GL_CODE = NULL ,
          </when>
          <otherwise >
            ACC_GL_CODE = #{ACC_GL_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CIF != null" >
        <choose >
          <when test="ACC_CIF == emptyBigDecimalValue" >
            ACC_CIF = NULL ,
          </when>
          <otherwise >
            ACC_CIF = #{ACC_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_SL != null" >
        <choose >
          <when test="ACC_SL == emptyBigDecimalValue" >
            ACC_SL = NULL ,
          </when>
          <otherwise >
            ACC_SL = #{ACC_SL},
          </otherwise>
        </choose>
      </if>
      <if test="CIF_TYPE != null" >
        CIF_TYPE = #{CIF_TYPE},
      </if>
      <if test="ACC_SIGN != null" >
        ACC_SIGN = #{ACC_SIGN},
      </if>
      <if test="GL_TYPE != null" >
        GL_TYPE = #{GL_TYPE},
      </if>
      <if test="SL_TYPE != null" >
        SL_TYPE = #{SL_TYPE},
      </if>
      <if test="ENTRY_TYPE != null" >
        ENTRY_TYPE = #{ENTRY_TYPE},
      </if>
      <if test="BR_TYPE != null" >
        BR_TYPE = #{BR_TYPE},
      </if>
      <if test="CY_TYPE != null" >
        CY_TYPE = #{CY_TYPE},
      </if>
      <if test="TRADE_DATE_TYPE != null" >
        TRADE_DATE_TYPE = #{TRADE_DATE_TYPE},
      </if>
      <if test="VALUE_DATE_TYPE != null" >
        VALUE_DATE_TYPE = #{VALUE_DATE_TYPE},
      </if>
      <if test="BALANCE_AVAILABILITY != null" >
        BALANCE_AVAILABILITY = #{BALANCE_AVAILABILITY},
      </if>
      <if test="DEDUCT_CHARGES_ON != null" >
        DEDUCT_CHARGES_ON = #{DEDUCT_CHARGES_ON},
      </if>
      <if test="CREATE_INVALID_ACC != null" >
        CREATE_INVALID_ACC = #{CREATE_INVALID_ACC},
      </if>
      <if test="AMOUNT_EXP != null" >
        AMOUNT_EXP = #{AMOUNT_EXP},
      </if>
      <if test="JV_REFERENCE != null" >
        JV_REFERENCE = #{JV_REFERENCE},
      </if>
      <if test="JV_TYPE != null" >
        <choose >
          <when test="JV_TYPE == emptyBigDecimalValue" >
            JV_TYPE = NULL ,
          </when>
          <otherwise >
            JV_TYPE = #{JV_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="SAME_DESC_AS != null" >
        <choose >
          <when test="SAME_DESC_AS == emptyBigDecimalValue" >
            SAME_DESC_AS = NULL ,
          </when>
          <otherwise >
            SAME_DESC_AS = #{SAME_DESC_AS},
          </otherwise>
        </choose>
      </if>
      <if test="SYSTEM_GEN != null" >
        SYSTEM_GEN = #{SYSTEM_GEN},
      </if>
    </set>
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_COUNTER = #{LINE_COUNTER}
  </sql>
  <update id="updateCTSTRSDET_TEMPLATE" parameterType="com.path.dbmaps.vo.CTSTRSDET_TEMPLATEVO" >
    <include refid="sql_updateCTSTRSDET_TEMPLATE" />
  </update>
</mapper>