<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTSTRXTYPE_STD" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTSTRXTYPE_STDVO" >
    <id column="LINE_NBR" property="LINE_NBR" />
    <result column="FIELD_NAME" property="FIELD_NAME" />
    <result column="ENABLE_PROTECTED" property="ENABLE_PROTECTED" />
    <result column="ENABLE_DISPLAY_LABEL" property="ENABLE_DISPLAY_LABEL" />
    <result column="ENABLE_DISPLAY_LABEL_AR" property="ENABLE_DISPLAY_LABEL_AR" />
    <result column="ENABLE_MANDATORY" property="ENABLE_MANDATORY" />
    <result column="ENABLE_FORBID_ARAB_CHAR" property="ENABLE_FORBID_ARAB_CHAR" />
    <result column="DW_NAME" property="DW_NAME" />
    <result column="FIELD_NAME_DB" property="FIELD_NAME_DB" />
    <result column="ENABLE_HIDE_FIELD" property="ENABLE_HIDE_FIELD" />
    <result column="LABEL_BULK_REMIT" property="LABEL_BULK_REMIT" />
    <result column="LABEL_MULTI_CHQ" property="LABEL_MULTI_CHQ" />
    <result column="LABEL_TRX" property="LABEL_TRX" />
    <result column="ENABLE_BLOCK_MODIFY" property="ENABLE_BLOCK_MODIFY" />
  </resultMap>
  <sql id="Base_Column_List" >
    LINE_NBR, FIELD_NAME, ENABLE_PROTECTED, ENABLE_DISPLAY_LABEL, ENABLE_DISPLAY_LABEL_AR, 
    ENABLE_MANDATORY, ENABLE_FORBID_ARAB_CHAR, DW_NAME, FIELD_NAME_DB, ENABLE_HIDE_FIELD, 
    LABEL_BULK_REMIT, LABEL_MULTI_CHQ, LABEL_TRX, ENABLE_BLOCK_MODIFY
  </sql>
  <select id="selectCTSTRXTYPE_STD" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTSTRXTYPE_STDVO" >
    select 
    <include refid="Base_Column_List" />
    from CTSTRXTYPE_STD
    where LINE_NBR = #{LINE_NBR}
  </select>
  <delete id="deleteCTSTRXTYPE_STD" parameterType="com.path.dbmaps.vo.CTSTRXTYPE_STDVO" >
    delete from CTSTRXTYPE_STD
    where LINE_NBR = #{LINE_NBR}
  </delete>
  <insert id="insertCTSTRXTYPE_STD" parameterType="com.path.dbmaps.vo.CTSTRXTYPE_STDVO" >
    insert into CTSTRXTYPE_STD
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="LINE_NBR != null and LINE_NBR != emptyBigDecimalValue" >
        LINE_NBR,
      </if>
      <if test="FIELD_NAME != null" >
        FIELD_NAME,
      </if>
      <if test="ENABLE_PROTECTED != null" >
        ENABLE_PROTECTED,
      </if>
      <if test="ENABLE_DISPLAY_LABEL != null" >
        ENABLE_DISPLAY_LABEL,
      </if>
      <if test="ENABLE_DISPLAY_LABEL_AR != null" >
        ENABLE_DISPLAY_LABEL_AR,
      </if>
      <if test="ENABLE_MANDATORY != null" >
        ENABLE_MANDATORY,
      </if>
      <if test="ENABLE_FORBID_ARAB_CHAR != null" >
        ENABLE_FORBID_ARAB_CHAR,
      </if>
      <if test="DW_NAME != null" >
        DW_NAME,
      </if>
      <if test="FIELD_NAME_DB != null" >
        FIELD_NAME_DB,
      </if>
      <if test="ENABLE_HIDE_FIELD != null" >
        ENABLE_HIDE_FIELD,
      </if>
      <if test="LABEL_BULK_REMIT != null" >
        LABEL_BULK_REMIT,
      </if>
      <if test="LABEL_MULTI_CHQ != null" >
        LABEL_MULTI_CHQ,
      </if>
      <if test="LABEL_TRX != null" >
        LABEL_TRX,
      </if>
      <if test="ENABLE_BLOCK_MODIFY != null" >
        ENABLE_BLOCK_MODIFY,
      </if>
      <if test="ELEMENT_NAME != null" >
        ELEMENT_NAME,
      </if>
      <if test="VO_CO_REFERENCE != null" >
        VO_CO_REFERENCE,
      </if>
      <if test="VO_PROPERTY_NAME != null" >
        VO_PROPERTY_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="LINE_NBR != null and LINE_NBR != emptyBigDecimalValue" >
        #{LINE_NBR},
      </if>
      <if test="FIELD_NAME != null" >
        #{FIELD_NAME},
      </if>
      <if test="ENABLE_PROTECTED != null" >
        #{ENABLE_PROTECTED},
      </if>
      <if test="ENABLE_DISPLAY_LABEL != null" >
        #{ENABLE_DISPLAY_LABEL},
      </if>
      <if test="ENABLE_DISPLAY_LABEL_AR != null" >
        #{ENABLE_DISPLAY_LABEL_AR},
      </if>
      <if test="ENABLE_MANDATORY != null" >
        #{ENABLE_MANDATORY},
      </if>
      <if test="ENABLE_FORBID_ARAB_CHAR != null" >
        #{ENABLE_FORBID_ARAB_CHAR},
      </if>
      <if test="DW_NAME != null" >
        #{DW_NAME},
      </if>
      <if test="FIELD_NAME_DB != null" >
        #{FIELD_NAME_DB},
      </if>
      <if test="ENABLE_HIDE_FIELD != null" >
        #{ENABLE_HIDE_FIELD},
      </if>
      <if test="LABEL_BULK_REMIT != null" >
        #{LABEL_BULK_REMIT},
      </if>
      <if test="LABEL_MULTI_CHQ != null" >
        #{LABEL_MULTI_CHQ},
      </if>
      <if test="LABEL_TRX != null" >
        #{LABEL_TRX},
      </if>
      <if test="ENABLE_BLOCK_MODIFY != null" >
        #{ENABLE_BLOCK_MODIFY},
      </if>
      <if test="ELEMENT_NAME != null" >
        #{ELEMENT_NAME},
      </if>
      <if test="VO_CO_REFERENCE != null" >
        #{VO_CO_REFERENCE},
      </if>
      <if test="VO_PROPERTY_NAME != null" >
        #{VO_PROPERTY_NAME},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTSTRXTYPE_STD" >
    update CTSTRXTYPE_STD
    <set >
      <if test="FIELD_NAME != null" >
        FIELD_NAME = #{FIELD_NAME},
      </if>
      <if test="ENABLE_PROTECTED != null" >
        ENABLE_PROTECTED = #{ENABLE_PROTECTED},
      </if>
      <if test="ENABLE_DISPLAY_LABEL != null" >
        ENABLE_DISPLAY_LABEL = #{ENABLE_DISPLAY_LABEL},
      </if>
      <if test="ENABLE_DISPLAY_LABEL_AR != null" >
        ENABLE_DISPLAY_LABEL_AR = #{ENABLE_DISPLAY_LABEL_AR},
      </if>
      <if test="ENABLE_MANDATORY != null" >
        ENABLE_MANDATORY = #{ENABLE_MANDATORY},
      </if>
      <if test="ENABLE_FORBID_ARAB_CHAR != null" >
        ENABLE_FORBID_ARAB_CHAR = #{ENABLE_FORBID_ARAB_CHAR},
      </if>
      <if test="DW_NAME != null" >
        DW_NAME = #{DW_NAME},
      </if>
      <if test="FIELD_NAME_DB != null" >
        FIELD_NAME_DB = #{FIELD_NAME_DB},
      </if>
      <if test="ENABLE_HIDE_FIELD != null" >
        ENABLE_HIDE_FIELD = #{ENABLE_HIDE_FIELD},
      </if>
      <if test="LABEL_BULK_REMIT != null" >
        LABEL_BULK_REMIT = #{LABEL_BULK_REMIT},
      </if>
      <if test="LABEL_MULTI_CHQ != null" >
        LABEL_MULTI_CHQ = #{LABEL_MULTI_CHQ},
      </if>
      <if test="LABEL_TRX != null" >
        LABEL_TRX = #{LABEL_TRX},
      </if>
      <if test="ENABLE_BLOCK_MODIFY != null" >
        ENABLE_BLOCK_MODIFY = #{ENABLE_BLOCK_MODIFY},
      </if>
      <if test="ELEMENT_NAME != null" >
        ELEMENT_NAME = #{ELEMENT_NAME},
      </if>
      <if test="VO_CO_REFERENCE != null" >
        VO_CO_REFERENCE = #{VO_CO_REFERENCE},
      </if>
      <if test="VO_PROPERTY_NAME != null" >
        VO_PROPERTY_NAME = #{VO_PROPERTY_NAME},
      </if>
    </set>
    where LINE_NBR = #{LINE_NBR}
  </sql>
  <update id="updateCTSTRXTYPE_STD" parameterType="com.path.dbmaps.vo.CTSTRXTYPE_STDVO" >
    <include refid="sql_updateCTSTRXTYPE_STD" />
  </update>
</mapper>