<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CTSTELLER_CASH_BALANCE" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.CTSTELLER_CASH_BALANCEVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="TRX_NO" property="TRX_NO" />
    <result column="TELLER_CODE" property="TELLER_CODE" />
    <result column="TRADE_DATE" property="TRADE_DATE" />
    <result column="STATUS" property="STATUS" />
    <result column="CREATED_DATE" property="CREATED_DATE" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="DELETED_DATE" property="DELETED_DATE" />
    <result column="DELETED_BY" property="DELETED_BY" />
    <result column="APPROVED_DATE" property="APPROVED_DATE" />
    <result column="APPROVED_BY" property="APPROVED_BY" />
    <result column="MODIFIED_DATE" property="MODIFIED_DATE" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="VAULT_NO" property="VAULT_NO" />
    <result column="TRX_TYPE" property="TRX_TYPE" />
    <result column="TRSFR_TYPE" property="TRSFR_TYPE" />
    <result column="T_TIME" property="t_TIME" />
    <result column="FROM_BRANCH" property="FROM_BRANCH" />
    <result column="TO_BRANCH" property="TO_BRANCH" />
    <result column="REOPENED_DATE" property="REOPENED_DATE" />
    <result column="REOPENED_BY" property="REOPENED_BY" />
    <result column="REMITT_TYPE" property="REMITT_TYPE" />
    <result column="SB_CREATED_BY" property="SB_CREATED_BY" />
    <result column="SB_CREATED_DATE" property="SB_CREATED_DATE" />
    <result column="SB_APPROVED_BY" property="SB_APPROVED_BY" />
    <result column="SB_APPROVED_DATE" property="SB_APPROVED_DATE" />
    <result column="RB_APPROVED_BY" property="RB_APPROVED_BY" />
    <result column="RB_APPROVED_DATE" property="RB_APPROVED_DATE" />
    <result column="RV_CREATED_BY" property="RV_CREATED_BY" />
    <result column="RV_CREATED_DATE" property="RV_CREATED_DATE" />
    <result column="RV_APPROVED_BY" property="RV_APPROVED_BY" />
    <result column="RV_APPROVED_DATE" property="RV_APPROVED_DATE" />
    <result column="RB_CREATED_BY" property="RB_CREATED_BY" />
    <result column="RB_CREATED_DATE" property="RB_CREATED_DATE" />
    <result column="RM_CREATED_BY" property="RM_CREATED_BY" />
    <result column="RM_CREATED_DATE" property="RM_CREATED_DATE" />
    <result column="RM_APPROVED_BY" property="RM_APPROVED_BY" />
    <result column="RM_APPROVED_DATE" property="RM_APPROVED_DATE" />
    <result column="VAULT_BRANCH" property="VAULT_BRANCH" />
    <result column="REJECTED_BY" property="REJECTED_BY" />
    <result column="REJECTED_DATE" property="REJECTED_DATE" />
    <result column="APPLY_TOREOPEN_BY" property="APPLY_TOREOPEN_BY" />
    <result column="APPLY_TOREOPEN_DATE" property="APPLY_TOREOPEN_DATE" />
    <result column="OLD_STATUS" property="OLD_STATUS" />
    <result column="REVERSED_BY" property="REVERSED_BY" />
    <result column="REVERSED_DATE" property="REVERSED_DATE" />
    <result column="TO_REVERSE_BY" property="TO_REVERSE_BY" />
    <result column="TO_REVERSE_DATE" property="TO_REVERSE_DATE" />
    <result column="DATE_UPDATED" property="DATE_UPDATED" />
    <result column="MODIFY_REASON" property="MODIFY_REASON" />
    <result column="SUB_STATUS" property="SUB_STATUS" />
    <result column="PENDING_STATUS_BY" property="PENDING_STATUS_BY" />
    <result column="DATE_PENDING_STATUS" property="DATE_PENDING_STATUS" />
    <result column="FROM_VAULT_BRANCH" property="FROM_VAULT_BRANCH" />
    <result column="OPERATION_NATURE_LIST" property="OPERATION_NATURE_LIST" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, TRX_NO, TELLER_CODE, TRADE_DATE, STATUS, CREATED_DATE, CREATED_BY, 
    DELETED_DATE, DELETED_BY, APPROVED_DATE, APPROVED_BY, MODIFIED_DATE, MODIFIED_BY, 
    VAULT_NO, TRX_TYPE, TRSFR_TYPE, T_TIME, FROM_BRANCH, TO_BRANCH, REOPENED_DATE, REOPENED_BY, 
    REMITT_TYPE, SB_CREATED_BY, SB_CREATED_DATE, SB_APPROVED_BY, SB_APPROVED_DATE, RB_APPROVED_BY, 
    RB_APPROVED_DATE, RV_CREATED_BY, RV_CREATED_DATE, RV_APPROVED_BY, RV_APPROVED_DATE, 
    RB_CREATED_BY, RB_CREATED_DATE, RM_CREATED_BY, RM_CREATED_DATE, RM_APPROVED_BY, RM_APPROVED_DATE, 
    VAULT_BRANCH, REJECTED_BY, REJECTED_DATE, APPLY_TOREOPEN_BY, APPLY_TOREOPEN_DATE, 
    OLD_STATUS, REVERSED_BY, REVERSED_DATE, TO_REVERSE_BY, TO_REVERSE_DATE, DATE_UPDATED,
    MODIFY_REASON, SUB_STATUS, PENDING_STATUS_BY, DATE_PENDING_STATUS, FROM_VAULT_BRANCH,
    OPERATION_NATURE_LIST
  </sql>
  <select id="selectCTSTELLER_CASH_BALANCE" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.CTSTELLER_CASH_BALANCEVOKey" >
    select 
    <include refid="Base_Column_List" />
    from CTSTELLER_CASH_BALANCE
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and TRX_NO = #{TRX_NO}
  </select>
  <delete id="deleteCTSTELLER_CASH_BALANCE" parameterType="com.path.dbmaps.vo.CTSTELLER_CASH_BALANCEVOKey" >
    delete from CTSTELLER_CASH_BALANCE
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and TRX_NO = #{TRX_NO}
  </delete>
  <insert id="insertCTSTELLER_CASH_BALANCE" parameterType="com.path.dbmaps.vo.CTSTELLER_CASH_BALANCEVO" >
    insert into CTSTELLER_CASH_BALANCE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="TRX_NO != null and TRX_NO != emptyBigDecimalValue" >
        TRX_NO,
      </if>
      <if test="TELLER_CODE != null and TELLER_CODE != emptyBigDecimalValue" >
        TELLER_CODE,
      </if>
      <if test="TRADE_DATE != null" >
        TRADE_DATE,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="DELETED_DATE != null" >
        DELETED_DATE,
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY,
      </if>
      <if test="APPROVED_DATE != null" >
        APPROVED_DATE,
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY,
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE,
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY,
      </if>
      <if test="VAULT_NO != null and VAULT_NO != emptyBigDecimalValue" >
        VAULT_NO,
      </if>
      <if test="TRX_TYPE != null and TRX_TYPE != emptyBigDecimalValue" >
        TRX_TYPE,
      </if>
      <if test="TRSFR_TYPE != null" >
        TRSFR_TYPE,
      </if>
      <if test="t_TIME != null" >
        T_TIME,
      </if>
      <if test="FROM_BRANCH != null and FROM_BRANCH != emptyBigDecimalValue" >
        FROM_BRANCH,
      </if>
      <if test="TO_BRANCH != null and TO_BRANCH != emptyBigDecimalValue" >
        TO_BRANCH,
      </if>
      <if test="REOPENED_DATE != null" >
        REOPENED_DATE,
      </if>
      <if test="REOPENED_BY != null" >
        REOPENED_BY,
      </if>
      <if test="REMITT_TYPE != null" >
        REMITT_TYPE,
      </if>
      <if test="SB_CREATED_BY != null" >
        SB_CREATED_BY,
      </if>
      <if test="SB_CREATED_DATE != null" >
        SB_CREATED_DATE,
      </if>
      <if test="SB_APPROVED_BY != null" >
        SB_APPROVED_BY,
      </if>
      <if test="SB_APPROVED_DATE != null" >
        SB_APPROVED_DATE,
      </if>
      <if test="RB_APPROVED_BY != null" >
        RB_APPROVED_BY,
      </if>
      <if test="RB_APPROVED_DATE != null" >
        RB_APPROVED_DATE,
      </if>
      <if test="RV_CREATED_BY != null" >
        RV_CREATED_BY,
      </if>
      <if test="RV_CREATED_DATE != null" >
        RV_CREATED_DATE,
      </if>
      <if test="RV_APPROVED_BY != null" >
        RV_APPROVED_BY,
      </if>
      <if test="RV_APPROVED_DATE != null" >
        RV_APPROVED_DATE,
      </if>
      <if test="RB_CREATED_BY != null" >
        RB_CREATED_BY,
      </if>
      <if test="RB_CREATED_DATE != null" >
        RB_CREATED_DATE,
      </if>
      <if test="RM_CREATED_BY != null" >
        RM_CREATED_BY,
      </if>
      <if test="RM_CREATED_DATE != null" >
        RM_CREATED_DATE,
      </if>
      <if test="RM_APPROVED_BY != null" >
        RM_APPROVED_BY,
      </if>
      <if test="RM_APPROVED_DATE != null" >
        RM_APPROVED_DATE,
      </if>
      <if test="VAULT_BRANCH != null and VAULT_BRANCH != emptyBigDecimalValue" >
        VAULT_BRANCH,
      </if>
      <if test="REJECTED_BY != null" >
        REJECTED_BY,
      </if>
      <if test="REJECTED_DATE != null" >
        REJECTED_DATE,
      </if>
      <if test="APPLY_TOREOPEN_BY != null" >
        APPLY_TOREOPEN_BY,
      </if>
      <if test="APPLY_TOREOPEN_DATE != null" >
        APPLY_TOREOPEN_DATE,
      </if>
      <if test="OLD_STATUS != null" >
        OLD_STATUS,
      </if>
      <if test="REVERSED_BY != null" >
        REVERSED_BY,
      </if>
      <if test="REVERSED_DATE != null" >
        REVERSED_DATE,
      </if>
      <if test="TO_REVERSE_BY != null" >
        TO_REVERSE_BY,
      </if>
      <if test="TO_REVERSE_DATE != null" >
        TO_REVERSE_DATE,
      </if>
      DATE_UPDATED,
      <if test="MODIFY_REASON != null" >
        MODIFY_REASON,
      </if>
      <if test="SUB_STATUS != null" >
        SUB_STATUS,
      </if>
      <if test="PENDING_STATUS_BY != null" >
        PENDING_STATUS_BY,
      </if>
      <if test="DATE_PENDING_STATUS != null" >
        DATE_PENDING_STATUS,
      </if>
      <if test="FROM_VAULT_BRANCH != null and FROM_VAULT_BRANCH != emptyBigDecimalValue" >
        FROM_VAULT_BRANCH,
      </if>
      <if test="OPERATION_NATURE_LIST != null" >
        OPERATION_NATURE_LIST,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="TRX_NO != null and TRX_NO != emptyBigDecimalValue" >
        #{TRX_NO},
      </if>
      <if test="TELLER_CODE != null and TELLER_CODE != emptyBigDecimalValue" >
        #{TELLER_CODE},
      </if>
      <if test="TRADE_DATE != null" >
        #{TRADE_DATE},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="CREATED_DATE != null" >
        #{CREATED_DATE},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="DELETED_DATE != null" >
        #{DELETED_DATE},
      </if>
      <if test="DELETED_BY != null" >
        #{DELETED_BY},
      </if>
      <if test="APPROVED_DATE != null" >
        #{APPROVED_DATE},
      </if>
      <if test="APPROVED_BY != null" >
        #{APPROVED_BY},
      </if>
      <if test="MODIFIED_DATE != null" >
        #{MODIFIED_DATE},
      </if>
      <if test="MODIFIED_BY != null" >
        #{MODIFIED_BY},
      </if>
      <if test="VAULT_NO != null and VAULT_NO != emptyBigDecimalValue" >
        #{VAULT_NO},
      </if>
      <if test="TRX_TYPE != null and TRX_TYPE != emptyBigDecimalValue" >
        #{TRX_TYPE},
      </if>
      <if test="TRSFR_TYPE != null" >
        #{TRSFR_TYPE},
      </if>
      <if test="t_TIME != null" >
        #{t_TIME},
      </if>
      <if test="FROM_BRANCH != null and FROM_BRANCH != emptyBigDecimalValue" >
        #{FROM_BRANCH},
      </if>
      <if test="TO_BRANCH != null and TO_BRANCH != emptyBigDecimalValue" >
        #{TO_BRANCH},
      </if>
      <if test="REOPENED_DATE != null" >
        #{REOPENED_DATE},
      </if>
      <if test="REOPENED_BY != null" >
        #{REOPENED_BY},
      </if>
      <if test="REMITT_TYPE != null" >
        #{REMITT_TYPE},
      </if>
      <if test="SB_CREATED_BY != null" >
        #{SB_CREATED_BY},
      </if>
      <if test="SB_CREATED_DATE != null" >
        #{SB_CREATED_DATE},
      </if>
      <if test="SB_APPROVED_BY != null" >
        #{SB_APPROVED_BY},
      </if>
      <if test="SB_APPROVED_DATE != null" >
        #{SB_APPROVED_DATE},
      </if>
      <if test="RB_APPROVED_BY != null" >
        #{RB_APPROVED_BY},
      </if>
      <if test="RB_APPROVED_DATE != null" >
        #{RB_APPROVED_DATE},
      </if>
      <if test="RV_CREATED_BY != null" >
        #{RV_CREATED_BY},
      </if>
      <if test="RV_CREATED_DATE != null" >
        #{RV_CREATED_DATE},
      </if>
      <if test="RV_APPROVED_BY != null" >
        #{RV_APPROVED_BY},
      </if>
      <if test="RV_APPROVED_DATE != null" >
        #{RV_APPROVED_DATE},
      </if>
      <if test="RB_CREATED_BY != null" >
        #{RB_CREATED_BY},
      </if>
      <if test="RB_CREATED_DATE != null" >
        #{RB_CREATED_DATE},
      </if>
      <if test="RM_CREATED_BY != null" >
        #{RM_CREATED_BY},
      </if>
      <if test="RM_CREATED_DATE != null" >
        #{RM_CREATED_DATE},
      </if>
      <if test="RM_APPROVED_BY != null" >
        #{RM_APPROVED_BY},
      </if>
      <if test="RM_APPROVED_DATE != null" >
        #{RM_APPROVED_DATE},
      </if>
      <if test="VAULT_BRANCH != null and VAULT_BRANCH != emptyBigDecimalValue" >
        #{VAULT_BRANCH},
      </if>
      <if test="REJECTED_BY != null" >
        #{REJECTED_BY},
      </if>
      <if test="REJECTED_DATE != null" >
        #{REJECTED_DATE},
      </if>
      <if test="APPLY_TOREOPEN_BY != null" >
        #{APPLY_TOREOPEN_BY},
      </if>
      <if test="APPLY_TOREOPEN_DATE != null" >
        #{APPLY_TOREOPEN_DATE},
      </if>
      <if test="OLD_STATUS != null" >
        #{OLD_STATUS},
      </if>
      <if test="REVERSED_BY != null" >
        #{REVERSED_BY},
      </if>
      <if test="REVERSED_DATE != null" >
        #{REVERSED_DATE},
      </if>
      <if test="TO_REVERSE_BY != null" >
        #{TO_REVERSE_BY},
      </if>
      <if test="TO_REVERSE_DATE != null" >
        #{TO_REVERSE_DATE},
      </if>
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
      <if test="MODIFY_REASON != null" >
        #{MODIFY_REASON},
      </if>
      <if test="SUB_STATUS != null" >
        #{SUB_STATUS},
      </if>
      <if test="PENDING_STATUS_BY != null" >
        #{PENDING_STATUS_BY},
      </if>
      <if test="DATE_PENDING_STATUS != null" >
        #{DATE_PENDING_STATUS},
      </if>
      <if test="FROM_VAULT_BRANCH != null and FROM_VAULT_BRANCH != emptyBigDecimalValue" >
        #{FROM_VAULT_BRANCH},
      </if>
      <if test="OPERATION_NATURE_LIST != null" >
        #{OPERATION_NATURE_LIST},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateCTSTELLER_CASH_BALANCE" >
    update CTSTELLER_CASH_BALANCE
    <set >
      <if test="TELLER_CODE != null" >
        <choose >
          <when test="TELLER_CODE == emptyBigDecimalValue" >
            TELLER_CODE = NULL ,
          </when>
          <otherwise >
            TELLER_CODE = #{TELLER_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="TRADE_DATE != null" >
        TRADE_DATE = #{TRADE_DATE},
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE = #{CREATED_DATE},
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="DELETED_DATE != null" >
        DELETED_DATE = #{DELETED_DATE},
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY = #{DELETED_BY},
      </if>
      <if test="APPROVED_DATE != null" >
        APPROVED_DATE = #{APPROVED_DATE},
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY = #{APPROVED_BY},
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE = #{MODIFIED_DATE},
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY = #{MODIFIED_BY},
      </if>
      <if test="VAULT_NO != null" >
        <choose >
          <when test="VAULT_NO == emptyBigDecimalValue" >
            VAULT_NO = NULL ,
          </when>
          <otherwise >
            VAULT_NO = #{VAULT_NO},
          </otherwise>
        </choose>
      </if>
      <if test="TRX_TYPE != null" >
        <choose >
          <when test="TRX_TYPE == emptyBigDecimalValue" >
            TRX_TYPE = NULL ,
          </when>
          <otherwise >
            TRX_TYPE = #{TRX_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="TRSFR_TYPE != null" >
        TRSFR_TYPE = #{TRSFR_TYPE},
      </if>
      <if test="t_TIME != null" >
        T_TIME = #{t_TIME},
      </if>
      <if test="FROM_BRANCH != null" >
        <choose >
          <when test="FROM_BRANCH == emptyBigDecimalValue" >
            FROM_BRANCH = NULL ,
          </when>
          <otherwise >
            FROM_BRANCH = #{FROM_BRANCH},
          </otherwise>
        </choose>
      </if>
      <if test="TO_BRANCH != null" >
        <choose >
          <when test="TO_BRANCH == emptyBigDecimalValue" >
            TO_BRANCH = NULL ,
          </when>
          <otherwise >
            TO_BRANCH = #{TO_BRANCH},
          </otherwise>
        </choose>
      </if>
      <if test="REOPENED_DATE != null" >
        REOPENED_DATE = #{REOPENED_DATE},
      </if>
      <if test="REOPENED_BY != null" >
        REOPENED_BY = #{REOPENED_BY},
      </if>
      <if test="REMITT_TYPE != null" >
        REMITT_TYPE = #{REMITT_TYPE},
      </if>
      <if test="SB_CREATED_BY != null" >
        SB_CREATED_BY = #{SB_CREATED_BY},
      </if>
      <if test="SB_CREATED_DATE != null" >
        SB_CREATED_DATE = #{SB_CREATED_DATE},
      </if>
      <if test="SB_APPROVED_BY != null" >
        SB_APPROVED_BY = #{SB_APPROVED_BY},
      </if>
      <if test="SB_APPROVED_DATE != null" >
        SB_APPROVED_DATE = #{SB_APPROVED_DATE},
      </if>
      <if test="RB_APPROVED_BY != null" >
        RB_APPROVED_BY = #{RB_APPROVED_BY},
      </if>
      <if test="RB_APPROVED_DATE != null" >
        RB_APPROVED_DATE = #{RB_APPROVED_DATE},
      </if>
      <if test="RV_CREATED_BY != null" >
        RV_CREATED_BY = #{RV_CREATED_BY},
      </if>
      <if test="RV_CREATED_DATE != null" >
        RV_CREATED_DATE = #{RV_CREATED_DATE},
      </if>
      <if test="RV_APPROVED_BY != null" >
        RV_APPROVED_BY = #{RV_APPROVED_BY},
      </if>
      <if test="RV_APPROVED_DATE != null" >
        RV_APPROVED_DATE = #{RV_APPROVED_DATE},
      </if>
      <if test="RB_CREATED_BY != null" >
        RB_CREATED_BY = #{RB_CREATED_BY},
      </if>
      <if test="RB_CREATED_DATE != null" >
        RB_CREATED_DATE = #{RB_CREATED_DATE},
      </if>
      <if test="RM_CREATED_BY != null" >
        RM_CREATED_BY = #{RM_CREATED_BY},
      </if>
      <if test="RM_CREATED_DATE != null" >
        RM_CREATED_DATE = #{RM_CREATED_DATE},
      </if>
      <if test="RM_APPROVED_BY != null" >
        RM_APPROVED_BY = #{RM_APPROVED_BY},
      </if>
      <if test="RM_APPROVED_DATE != null" >
        RM_APPROVED_DATE = #{RM_APPROVED_DATE},
      </if>
      <if test="VAULT_BRANCH != null" >
        <choose >
          <when test="VAULT_BRANCH == emptyBigDecimalValue" >
            VAULT_BRANCH = NULL ,
          </when>
          <otherwise >
            VAULT_BRANCH = #{VAULT_BRANCH},
          </otherwise>
        </choose>
      </if>
      <if test="REJECTED_BY != null" >
        REJECTED_BY = #{REJECTED_BY},
      </if>
      <if test="REJECTED_DATE != null" >
        REJECTED_DATE = #{REJECTED_DATE},
      </if>
      <if test="APPLY_TOREOPEN_BY != null" >
        APPLY_TOREOPEN_BY = #{APPLY_TOREOPEN_BY},
      </if>
      <if test="APPLY_TOREOPEN_DATE != null" >
        APPLY_TOREOPEN_DATE = #{APPLY_TOREOPEN_DATE},
      </if>
      <if test="OLD_STATUS != null" >
        OLD_STATUS = #{OLD_STATUS},
      </if>
      <if test="REVERSED_BY != null" >
        REVERSED_BY = #{REVERSED_BY},
      </if>
      <if test="REVERSED_DATE != null" >
        REVERSED_DATE = #{REVERSED_DATE},
      </if>
      <if test="TO_REVERSE_BY != null" >
        TO_REVERSE_BY = #{TO_REVERSE_BY},
      </if>
      <if test="TO_REVERSE_DATE != null" >
        TO_REVERSE_DATE = #{TO_REVERSE_DATE},
      </if>
      DATE_UPDATED = 
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
      <if test="MODIFY_REASON != null" >
        MODIFY_REASON = #{MODIFY_REASON},
      </if>
      <if test="SUB_STATUS != null" >
        SUB_STATUS = #{SUB_STATUS},
      </if>
         <if test="PENDING_STATUS_BY != null" >
        PENDING_STATUS_BY = #{PENDING_STATUS_BY},
      </if>
         <if test="DATE_PENDING_STATUS != null" >
        DATE_PENDING_STATUS = #{DATE_PENDING_STATUS},
      </if>
      <if test="FROM_VAULT_BRANCH != null" >
        <choose >
          <when test="FROM_VAULT_BRANCH == emptyBigDecimalValue" >
            FROM_VAULT_BRANCH = NULL ,
          </when>
          <otherwise >
            FROM_VAULT_BRANCH = #{FROM_VAULT_BRANCH},
          </otherwise>
        </choose>
      </if>
      <if test="OPERATION_NATURE_LIST != null" >
        OPERATION_NATURE_LIST = #{OPERATION_NATURE_LIST},
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and TRX_NO = #{TRX_NO}
  </sql>
  <update id="updateCTSTELLER_CASH_BALANCE" parameterType="com.path.dbmaps.vo.CTSTELLER_CASH_BALANCEVO" >
    <include refid="sql_updateCTSTELLER_CASH_BALANCE" />
    <if test="DATE_UPDATED != null" >
      AND DATE_UPDATED = #{DATE_UPDATED}
    </if>
  </update>
</mapper>