<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="DF_FILE_TAG_PARAM" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.DF_FILE_TAG_PARAMVO" >
    <id column="FILE_CODE" property="FILE_CODE" />
    <id column="PARAM_NO" property="PARAM_NO" />
    <id column="STRUCT_CODE" property="STRUCT_CODE" />
    <id column="TAG_NO" property="TAG_NO" />
    <result column="PARAM_NAME" property="PARAM_NAME" />
    <result column="PARAM_DESC" property="PARAM_DESC" />
    <result column="PARAM_VALUE" property="PARAM_VALUE" />
    <result column="TAG_SQL" property="TAG_SQL" />
    <result column="DELIMITER_PARAM" property="DELIMITER_PARAM" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.path.dbmaps.vo.DF_FILE_TAG_PARAMVO" extends="BaseResultMap" >
    <result column="COMP_EXP" property="COMP_EXP" />
    <result column="SQL_COL_NAME" property="SQL_COL_NAME" />
  </resultMap>
  <sql id="Base_Column_List" >
    FILE_CODE, PARAM_NO, STRUCT_CODE, TAG_NO, PARAM_NAME, PARAM_DESC, PARAM_VALUE, TAG_SQL, 
    DELIMITER_PARAM
  </sql>
  <sql id="Blob_Column_List" >
    COMP_EXP, SQL_COL_NAME
  </sql>
  <select id="selectDF_FILE_TAG_PARAM" resultMap="ResultMapWithBLOBs" parameterType="com.path.dbmaps.vo.DF_FILE_TAG_PARAMVO" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from DF_FILE_TAG_PARAM
    where FILE_CODE = #{FILE_CODE}
      and PARAM_NO = #{PARAM_NO}
      and STRUCT_CODE = #{STRUCT_CODE}
      and TAG_NO = #{TAG_NO}
  </select>
  <delete id="deleteDF_FILE_TAG_PARAM" parameterType="com.path.dbmaps.vo.DF_FILE_TAG_PARAMVO" >
    delete from DF_FILE_TAG_PARAM
    where FILE_CODE = #{FILE_CODE}
      and PARAM_NO = #{PARAM_NO}
      and STRUCT_CODE = #{STRUCT_CODE}
      and TAG_NO = #{TAG_NO}
  </delete>
  <insert id="insertDF_FILE_TAG_PARAM" parameterType="com.path.dbmaps.vo.DF_FILE_TAG_PARAMVO" >
    insert into DF_FILE_TAG_PARAM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="FILE_CODE != null" >
        FILE_CODE,
      </if>
      <if test="PARAM_NO != null" >
        PARAM_NO,
      </if>
      <if test="STRUCT_CODE != null" >
        STRUCT_CODE,
      </if>
      <if test="TAG_NO != null" >
        TAG_NO,
      </if>
      <if test="PARAM_NAME != null" >
        PARAM_NAME,
      </if>
      <if test="PARAM_DESC != null" >
        PARAM_DESC,
      </if>
      <if test="PARAM_VALUE != null" >
        PARAM_VALUE,
      </if>
      <if test="TAG_SQL != null" >
        TAG_SQL,
      </if>
      <if test="DELIMITER_PARAM != null" >
        DELIMITER_PARAM,
      </if>
      <if test="COMP_EXP != null" >
        COMP_EXP,
      </if>
      <if test="SQL_COL_NAME != null" >
        SQL_COL_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="FILE_CODE != null" >
        #{FILE_CODE},
      </if>
      <if test="PARAM_NO != null" >
        #{PARAM_NO},
      </if>
      <if test="STRUCT_CODE != null" >
        #{STRUCT_CODE},
      </if>
      <if test="TAG_NO != null" >
        #{TAG_NO},
      </if>
      <if test="PARAM_NAME != null" >
        #{PARAM_NAME},
      </if>
      <if test="PARAM_DESC != null" >
        #{PARAM_DESC},
      </if>
      <if test="PARAM_VALUE != null" >
        #{PARAM_VALUE},
      </if>
      <if test="TAG_SQL != null" >
        #{TAG_SQL},
      </if>
      <if test="DELIMITER_PARAM != null" >
        #{DELIMITER_PARAM},
      </if>
      <if test="COMP_EXP != null" >
        #{COMP_EXP},
      </if>
      <if test="SQL_COL_NAME != null" >
        #{SQL_COL_NAME},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateDF_FILE_TAG_PARAM" >
    update DF_FILE_TAG_PARAM
    <set >
      <if test="PARAM_NAME != null" >
        PARAM_NAME = #{PARAM_NAME},
      </if>
      <if test="PARAM_DESC != null" >
        PARAM_DESC = #{PARAM_DESC},
      </if>
      <if test="PARAM_VALUE != null" >
        PARAM_VALUE = #{PARAM_VALUE},
      </if>
      <if test="TAG_SQL != null" >
        TAG_SQL = #{TAG_SQL},
      </if>
      <if test="DELIMITER_PARAM != null" >
        DELIMITER_PARAM = #{DELIMITER_PARAM},
      </if>
      <if test="COMP_EXP != null" >
        COMP_EXP = #{COMP_EXP},
      </if>
      <if test="SQL_COL_NAME != null" >
        SQL_COL_NAME = #{SQL_COL_NAME},
      </if>
    </set>
    where FILE_CODE = #{FILE_CODE}
      and PARAM_NO = #{PARAM_NO}
      and STRUCT_CODE = #{STRUCT_CODE}
      and TAG_NO = #{TAG_NO}
  </sql>
  <update id="updateDF_FILE_TAG_PARAM" parameterType="com.path.dbmaps.vo.DF_FILE_TAG_PARAMVO" >
    <include refid="sql_updateDF_FILE_TAG_PARAM" />
  </update>
</mapper>