<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="DF_FILE_STRUCT" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.DF_FILE_STRUCTVO" >
    <id column="STRUCT_CODE" property="STRUCT_CODE" />
    <result column="STRUCT_DESC" property="STRUCT_DESC" />
    <result column="STRUCT_TYPE" property="STRUCT_TYPE" />
    <result column="FILE_EXT" property="FILE_EXT" />
    <result column="XML_DECLARATION" property="XML_DECLARATION" />
    <result column="DELIMITER_TYPE" property="DELIMITER_TYPE" />
    <result column="DELIMITER_CHAR" property="DELIMITER_CHAR" />
    <result column="FIELD_LENGTH" property="FIELD_LENGTH" />
    <result column="START_LINE_NO" property="START_LINE_NO" />
    <result column="INCLUDE_HEADER" property="INCLUDE_HEADER" />
    <result column="FILE_TYPE" property="FILE_TYPE" />
    <result column="IMPORT_TYPE" property="IMPORT_TYPE" />
    <result column="MIGRATION_STRUCT" property="MIGRATION_STRUCT" />
    <result column="SKIP_FILE" property="SKIP_FILE" />
    <result column="APPLY_THREADS_YN" property="APPLY_THREADS_YN" />
  </resultMap>
  <sql id="Base_Column_List" >
    STRUCT_CODE, STRUCT_DESC, STRUCT_TYPE, FILE_EXT, XML_DECLARATION, DELIMITER_TYPE, 
    DELIMITER_CHAR, FIELD_LENGTH, START_LINE_NO, INCLUDE_HEADER, FILE_TYPE, IMPORT_TYPE, 
    MIGRATION_STRUCT, SKIP_FILE, APPLY_THREADS_YN
  </sql>
  <select id="selectDF_FILE_STRUCT" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.DF_FILE_STRUCTVO" >
    select 
    <include refid="Base_Column_List" />
    from DF_FILE_STRUCT
    where STRUCT_CODE = #{STRUCT_CODE}
  </select>
  <delete id="deleteDF_FILE_STRUCT" parameterType="com.path.dbmaps.vo.DF_FILE_STRUCTVO" >
    delete from DF_FILE_STRUCT
    where STRUCT_CODE = #{STRUCT_CODE}
  </delete>
  <insert id="insertDF_FILE_STRUCT" parameterType="com.path.dbmaps.vo.DF_FILE_STRUCTVO" >
    insert into DF_FILE_STRUCT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="STRUCT_CODE != null" >
        STRUCT_CODE,
      </if>
      <if test="STRUCT_DESC != null" >
        STRUCT_DESC,
      </if>
      <if test="STRUCT_TYPE != null" >
        STRUCT_TYPE,
      </if>
      <if test="FILE_EXT != null" >
        FILE_EXT,
      </if>
      <if test="XML_DECLARATION != null" >
        XML_DECLARATION,
      </if>
      <if test="DELIMITER_TYPE != null" >
        DELIMITER_TYPE,
      </if>
      <if test="DELIMITER_CHAR != null" >
        DELIMITER_CHAR,
      </if>
      <if test="FIELD_LENGTH != null" >
        FIELD_LENGTH,
      </if>
      <if test="START_LINE_NO != null" >
        START_LINE_NO,
      </if>
      <if test="INCLUDE_HEADER != null" >
        INCLUDE_HEADER,
      </if>
      <if test="FILE_TYPE != null" >
        FILE_TYPE,
      </if>
      <if test="IMPORT_TYPE != null" >
        IMPORT_TYPE,
      </if>
      <if test="MIGRATION_STRUCT != null" >
        MIGRATION_STRUCT,
      </if>
      <if test="SKIP_FILE != null" >
        SKIP_FILE,
      </if>
      <if test="APPLY_THREADS_YN != null" >
        APPLY_THREADS_YN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="STRUCT_CODE != null" >
        #{STRUCT_CODE},
      </if>
      <if test="STRUCT_DESC != null" >
        #{STRUCT_DESC},
      </if>
      <if test="STRUCT_TYPE != null" >
        #{STRUCT_TYPE},
      </if>
      <if test="FILE_EXT != null" >
        #{FILE_EXT},
      </if>
      <if test="XML_DECLARATION != null" >
        #{XML_DECLARATION},
      </if>
      <if test="DELIMITER_TYPE != null" >
        #{DELIMITER_TYPE},
      </if>
      <if test="DELIMITER_CHAR != null" >
        #{DELIMITER_CHAR},
      </if>
      <if test="FIELD_LENGTH != null" >
        #{FIELD_LENGTH},
      </if>
      <if test="START_LINE_NO != null" >
        #{START_LINE_NO},
      </if>
      <if test="INCLUDE_HEADER != null" >
        #{INCLUDE_HEADER},
      </if>
      <if test="FILE_TYPE != null" >
        #{FILE_TYPE},
      </if>
      <if test="IMPORT_TYPE != null" >
        #{IMPORT_TYPE},
      </if>
      <if test="MIGRATION_STRUCT != null" >
        #{MIGRATION_STRUCT},
      </if>
      <if test="SKIP_FILE != null" >
        #{SKIP_FILE},
      </if>
      <if test="APPLY_THREADS_YN != null" >
        #{APPLY_THREADS_YN},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateDF_FILE_STRUCT" >
    update DF_FILE_STRUCT
    <set >
      <if test="STRUCT_DESC != null" >
        STRUCT_DESC = #{STRUCT_DESC},
      </if>
      <if test="STRUCT_TYPE != null" >
        STRUCT_TYPE = #{STRUCT_TYPE},
      </if>
      <if test="FILE_EXT != null" >
        FILE_EXT = #{FILE_EXT},
      </if>
      <if test="XML_DECLARATION != null" >
        XML_DECLARATION = #{XML_DECLARATION},
      </if>
      <if test="DELIMITER_TYPE != null" >
        DELIMITER_TYPE = #{DELIMITER_TYPE},
      </if>
      <if test="DELIMITER_CHAR != null" >
        DELIMITER_CHAR = #{DELIMITER_CHAR},
      </if>
      <if test="FIELD_LENGTH != null" >
        FIELD_LENGTH = #{FIELD_LENGTH},
      </if>
      <if test="START_LINE_NO != null" >
        START_LINE_NO = #{START_LINE_NO},
      </if>
      <if test="INCLUDE_HEADER != null" >
        INCLUDE_HEADER = #{INCLUDE_HEADER},
      </if>
      <if test="FILE_TYPE != null" >
        FILE_TYPE = #{FILE_TYPE},
      </if>
      <if test="IMPORT_TYPE != null" >
        IMPORT_TYPE = #{IMPORT_TYPE},
      </if>
      <if test="MIGRATION_STRUCT != null" >
        MIGRATION_STRUCT = #{MIGRATION_STRUCT},
      </if>
      <if test="SKIP_FILE != null" >
        SKIP_FILE = #{SKIP_FILE},
      </if>
      <if test="APPLY_THREADS_YN != null" >
        APPLY_THREADS_YN = #{APPLY_THREADS_YN},
      </if>      
    </set>
    where STRUCT_CODE = #{STRUCT_CODE}
  </sql>
  <update id="updateDF_FILE_STRUCT" parameterType="com.path.dbmaps.vo.DF_FILE_STRUCTVO" >
    <include refid="sql_updateDF_FILE_STRUCT" />
  </update>
</mapper>