<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="DF_HD_FILE_GROUP" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.DF_HD_FILE_GROUPVO" >
    <id column="GROUP_CODE" property="GROUP_CODE" />
    <result column="GROUP_DSC" property="GROUP_DSC" />
    <result column="STRUCT_TYPE" property="STRUCT_TYPE" />
    <result column="FILE_LOCATION" property="FILE_LOCATION" />
    <result column="FILE_NAME" property="FILE_NAME" />
    <result column="FILE_EXT" property="FILE_EXT" />
    <result column="APPL_NAME" property="APPL_NAME" />
    <result column="ALLOW_FILE_NAME_CHG" property="ALLOW_FILE_NAME_CHG" />
    <result column="ALLOW_FILE_LOC_CHG" property="ALLOW_FILE_LOC_CHG" />
    <result column="FILE_TYPE" property="FILE_TYPE" />
    <result column="IMPORT_TYPE" property="IMPORT_TYPE" />
    <result column="RUN_SCRIPT" property="RUN_SCRIPT" />
    <result column="START_LINE_NO" property="START_LINE_NO" />
    <result column="COMMIT_EACH_SELECT" property="COMMIT_EACH_SELECT" />
    <result column="SHOW_SCRIPT" property="SHOW_SCRIPT" />
    <result column="UPDATE_SCRIPT" property="UPDATE_SCRIPT" />
    <result column="MIGRATION_STRUCT" property="MIGRATION_STRUCT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.path.dbmaps.vo.DF_HD_FILE_GROUPVO" extends="BaseResultMap" >
    <result column="FILE_NAME_SQL" property="FILE_NAME_SQL" />
  </resultMap>
  <sql id="Base_Column_List" >
    GROUP_CODE, GROUP_DSC, STRUCT_TYPE, FILE_LOCATION, FILE_NAME, FILE_EXT, APPL_NAME, 
    ALLOW_FILE_NAME_CHG, ALLOW_FILE_LOC_CHG, FILE_TYPE, IMPORT_TYPE, RUN_SCRIPT, START_LINE_NO, 
    COMMIT_EACH_SELECT, SHOW_SCRIPT, UPDATE_SCRIPT, MIGRATION_STRUCT
  </sql>
  <sql id="Blob_Column_List" >
    FILE_NAME_SQL
  </sql>
  <select id="selectDF_HD_FILE_GROUP" resultMap="ResultMapWithBLOBs" parameterType="com.path.dbmaps.vo.DF_HD_FILE_GROUPVO" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from DF_HD_FILE_GROUP
    where GROUP_CODE = #{GROUP_CODE}
  </select>
  <delete id="deleteDF_HD_FILE_GROUP" parameterType="com.path.dbmaps.vo.DF_HD_FILE_GROUPVO" >
    delete from DF_HD_FILE_GROUP
    where GROUP_CODE = #{GROUP_CODE}
  </delete>
  <insert id="insertDF_HD_FILE_GROUP" parameterType="com.path.dbmaps.vo.DF_HD_FILE_GROUPVO" >
    insert into DF_HD_FILE_GROUP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="GROUP_CODE != null" >
        GROUP_CODE,
      </if>
      <if test="GROUP_DSC != null" >
        GROUP_DSC,
      </if>
      <if test="STRUCT_TYPE != null" >
        STRUCT_TYPE,
      </if>
      <if test="FILE_LOCATION != null" >
        FILE_LOCATION,
      </if>
      <if test="FILE_NAME != null" >
        FILE_NAME,
      </if>
      <if test="FILE_EXT != null" >
        FILE_EXT,
      </if>
      <if test="APPL_NAME != null" >
        APPL_NAME,
      </if>
      <if test="ALLOW_FILE_NAME_CHG != null" >
        ALLOW_FILE_NAME_CHG,
      </if>
      <if test="ALLOW_FILE_LOC_CHG != null" >
        ALLOW_FILE_LOC_CHG,
      </if>
      <if test="FILE_TYPE != null" >
        FILE_TYPE,
      </if>
      <if test="IMPORT_TYPE != null" >
        IMPORT_TYPE,
      </if>
      <if test="RUN_SCRIPT != null" >
        RUN_SCRIPT,
      </if>
      <if test="START_LINE_NO != null and START_LINE_NO != emptyBigDecimalValue" >
        START_LINE_NO,
      </if>
      <if test="COMMIT_EACH_SELECT != null" >
        COMMIT_EACH_SELECT,
      </if>
      <if test="SHOW_SCRIPT != null" >
        SHOW_SCRIPT,
      </if>
      <if test="UPDATE_SCRIPT != null" >
        UPDATE_SCRIPT,
      </if>
      <if test="MIGRATION_STRUCT != null" >
        MIGRATION_STRUCT,
      </if>
      <if test="FILE_NAME_SQL != null" >
        FILE_NAME_SQL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="GROUP_CODE != null" >
        #{GROUP_CODE},
      </if>
      <if test="GROUP_DSC != null" >
        #{GROUP_DSC},
      </if>
      <if test="STRUCT_TYPE != null" >
        #{STRUCT_TYPE},
      </if>
      <if test="FILE_LOCATION != null" >
        #{FILE_LOCATION},
      </if>
      <if test="FILE_NAME != null" >
        #{FILE_NAME},
      </if>
      <if test="FILE_EXT != null" >
        #{FILE_EXT},
      </if>
      <if test="APPL_NAME != null" >
        #{APPL_NAME},
      </if>
      <if test="ALLOW_FILE_NAME_CHG != null" >
        #{ALLOW_FILE_NAME_CHG},
      </if>
      <if test="ALLOW_FILE_LOC_CHG != null" >
        #{ALLOW_FILE_LOC_CHG},
      </if>
      <if test="FILE_TYPE != null" >
        #{FILE_TYPE},
      </if>
      <if test="IMPORT_TYPE != null" >
        #{IMPORT_TYPE},
      </if>
      <if test="RUN_SCRIPT != null" >
        #{RUN_SCRIPT},
      </if>
      <if test="START_LINE_NO != null and START_LINE_NO != emptyBigDecimalValue" >
        #{START_LINE_NO},
      </if>
      <if test="COMMIT_EACH_SELECT != null" >
        #{COMMIT_EACH_SELECT},
      </if>
      <if test="SHOW_SCRIPT != null" >
        #{SHOW_SCRIPT},
      </if>
      <if test="UPDATE_SCRIPT != null" >
        #{UPDATE_SCRIPT},
      </if>
      <if test="MIGRATION_STRUCT != null" >
        #{MIGRATION_STRUCT},
      </if>
      <if test="FILE_NAME_SQL != null" >
        #{FILE_NAME_SQL},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateDF_HD_FILE_GROUP" >
    update DF_HD_FILE_GROUP
    <set >
      <if test="GROUP_DSC != null" >
        GROUP_DSC = #{GROUP_DSC},
      </if>
      <if test="STRUCT_TYPE != null" >
        STRUCT_TYPE = #{STRUCT_TYPE},
      </if>
      <if test="FILE_LOCATION != null" >
        FILE_LOCATION = #{FILE_LOCATION},
      </if>
      <if test="FILE_NAME != null" >
        FILE_NAME = #{FILE_NAME},
      </if>
      <if test="FILE_EXT != null" >
        FILE_EXT = #{FILE_EXT},
      </if>
      <if test="APPL_NAME != null" >
        APPL_NAME = #{APPL_NAME},
      </if>
      <if test="ALLOW_FILE_NAME_CHG != null" >
        ALLOW_FILE_NAME_CHG = #{ALLOW_FILE_NAME_CHG},
      </if>
      <if test="ALLOW_FILE_LOC_CHG != null" >
        ALLOW_FILE_LOC_CHG = #{ALLOW_FILE_LOC_CHG},
      </if>
      <if test="FILE_TYPE != null" >
        FILE_TYPE = #{FILE_TYPE},
      </if>
      <if test="IMPORT_TYPE != null" >
        IMPORT_TYPE = #{IMPORT_TYPE},
      </if>
      <if test="RUN_SCRIPT != null" >
        RUN_SCRIPT = #{RUN_SCRIPT},
      </if>
      <if test="START_LINE_NO != null" >
        <choose >
          <when test="START_LINE_NO == emptyBigDecimalValue" >
            START_LINE_NO = NULL ,
          </when>
          <otherwise >
            START_LINE_NO = #{START_LINE_NO},
          </otherwise>
        </choose>
      </if>
      <if test="COMMIT_EACH_SELECT != null" >
        COMMIT_EACH_SELECT = #{COMMIT_EACH_SELECT},
      </if>
      <if test="SHOW_SCRIPT != null" >
        SHOW_SCRIPT = #{SHOW_SCRIPT},
      </if>
      <if test="UPDATE_SCRIPT != null" >
        UPDATE_SCRIPT = #{UPDATE_SCRIPT},
      </if>
      <if test="MIGRATION_STRUCT != null" >
        MIGRATION_STRUCT = #{MIGRATION_STRUCT},
      </if>
      <if test="FILE_NAME_SQL != null" >
        FILE_NAME_SQL = #{FILE_NAME_SQL},
      </if>
    </set>
    where GROUP_CODE = #{GROUP_CODE}
  </sql>
  <update id="updateDF_HD_FILE_GROUP" parameterType="com.path.dbmaps.vo.DF_HD_FILE_GROUPVO" >
    <include refid="sql_updateDF_HD_FILE_GROUP" />
  </update>
</mapper>