<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="EAS_SERVICES" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.EAS_SERVICESVO" >
    <id column="SERVICE_NAME" property="SERVICE_NAME" />
    <result column="STATUS" property="STATUS" />
    <result column="REFRESH_RATE" property="REFRESH_RATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    SERVICE_NAME, STATUS, REFRESH_RATE
  </sql>
  <select id="selectEAS_SERVICES" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.EAS_SERVICESVO" >
    select 
    <include refid="Base_Column_List" />
    from EAS_SERVICES
    where SERVICE_NAME = #{SERVICE_NAME}
  </select>
  <delete id="deleteEAS_SERVICES" parameterType="com.path.dbmaps.vo.EAS_SERVICESVO" >
    delete from EAS_SERVICES
    where SERVICE_NAME = #{SERVICE_NAME}
  </delete>
  <insert id="insertEAS_SERVICES" parameterType="com.path.dbmaps.vo.EAS_SERVICESVO" >
    insert into EAS_SERVICES
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="SERVICE_NAME != null" >
        SERVICE_NAME,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="REFRESH_RATE != null and REFRESH_RATE != emptyBigDecimalValue" >
        REFRESH_RATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="SERVICE_NAME != null" >
        #{SERVICE_NAME},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="REFRESH_RATE != null and REFRESH_RATE != emptyBigDecimalValue" >
        #{REFRESH_RATE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateEAS_SERVICES" >
    update EAS_SERVICES
    <set >
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="REFRESH_RATE != null" >
        <choose >
          <when test="REFRESH_RATE == emptyBigDecimalValue" >
            REFRESH_RATE = NULL ,
          </when>
          <otherwise >
            REFRESH_RATE = #{REFRESH_RATE},
          </otherwise>
        </choose>
      </if>
    </set>
    where SERVICE_NAME = #{SERVICE_NAME}
  </sql>
  <update id="updateEAS_SERVICES" parameterType="com.path.dbmaps.vo.EAS_SERVICESVO" >
    <include refid="sql_updateEAS_SERVICES" />
  </update>
</mapper>