<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="EOD_BATCH_DEPENDENCIES" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.EOD_BATCH_DEPENDENCIESVO" >
    <id column="BATCH_CODE" property="BATCH_CODE" />
    <id column="DEPEND_FROM_BATCH_CODE" property="DEPEND_FROM_BATCH_CODE" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="CREATED_DATE" property="CREATED_DATE" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="MODIFIED_DATE" property="MODIFIED_DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    BATCH_CODE, DEPEND_FROM_BATCH_CODE, CREATED_BY, CREATED_DATE, MODIFIED_BY, MODIFIED_DATE
  </sql>
  <select id="selectEOD_BATCH_DEPENDENCIES" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.EOD_BATCH_DEPENDENCIESVO" >
    select 
    <include refid="Base_Column_List" />
    from EOD_BATCH_DEPENDENCIES
    where BATCH_CODE = #{BATCH_CODE}
      and DEPEND_FROM_BATCH_CODE = #{DEPEND_FROM_BATCH_CODE}
  </select>
  <delete id="deleteEOD_BATCH_DEPENDENCIES" parameterType="com.path.dbmaps.vo.EOD_BATCH_DEPENDENCIESVO" >
    delete from EOD_BATCH_DEPENDENCIES
    where BATCH_CODE = #{BATCH_CODE}
      and DEPEND_FROM_BATCH_CODE = #{DEPEND_FROM_BATCH_CODE}
  </delete>
  <insert id="insertEOD_BATCH_DEPENDENCIES" parameterType="com.path.dbmaps.vo.EOD_BATCH_DEPENDENCIESVO" >
    insert into EOD_BATCH_DEPENDENCIES
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BATCH_CODE != null and BATCH_CODE != emptyBigDecimalValue" >
        BATCH_CODE,
      </if>
      <if test="DEPEND_FROM_BATCH_CODE != null and DEPEND_FROM_BATCH_CODE != emptyBigDecimalValue" >
        DEPEND_FROM_BATCH_CODE,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE,
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY,
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BATCH_CODE != null and BATCH_CODE != emptyBigDecimalValue" >
        #{BATCH_CODE},
      </if>
      <if test="DEPEND_FROM_BATCH_CODE != null and DEPEND_FROM_BATCH_CODE != emptyBigDecimalValue" >
        #{DEPEND_FROM_BATCH_CODE},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="CREATED_DATE != null" >
        #{CREATED_DATE},
      </if>
      <if test="MODIFIED_BY != null" >
        #{MODIFIED_BY},
      </if>
      <if test="MODIFIED_DATE != null" >
        #{MODIFIED_DATE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateEOD_BATCH_DEPENDENCIES" >
    update EOD_BATCH_DEPENDENCIES
    <set >
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE = #{CREATED_DATE},
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY = #{MODIFIED_BY},
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE = #{MODIFIED_DATE},
      </if>
    </set>
    where BATCH_CODE = #{BATCH_CODE}
      and DEPEND_FROM_BATCH_CODE = #{DEPEND_FROM_BATCH_CODE}
  </sql>
  <update id="updateEOD_BATCH_DEPENDENCIES" parameterType="com.path.dbmaps.vo.EOD_BATCH_DEPENDENCIESVO" >
    <include refid="sql_updateEOD_BATCH_DEPENDENCIES" />
  </update>
</mapper>