<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="EOD_ENG_MGMT_HIST" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.EOD_ENG_MGMT_HISTVO" >
    <result column="THREAD_ID" property="THREAD_ID" />
    <result column="BATCH_CODE" property="BATCH_CODE" />
    <result column="COMP_CODE" property="COMP_CODE" />
    <result column="BRANCH_CODE" property="BRANCH_CODE" />
    <result column="PROCESS_CODE" property="PROCESS_CODE" />
    <result column="EOD_ENG_MGMT_PARENT_ID" property="EOD_ENG_MGMT_PARENT_ID" />
    <result column="STATUS" property="STATUS" />
    <result column="STARTING_TIME" property="STARTING_TIME" />
    <result column="ENDING_TIME" property="ENDING_TIME" />
    <result column="DB_SESSION_ID" property="DB_SESSION_ID" />
    <result column="DB_INST_ID" property="DB_INST_ID" />
    <result column="RUNNING_DATE" property="RUNNING_DATE" />
    <result column="CREATION_DATE" property="CREATION_DATE" />
    <result column="CREATION_BY" property="CREATION_BY" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.path.dbmaps.vo.EOD_ENG_MGMT_HISTVOWithBLOBs" extends="BaseResultMap" >
    <result column="STATEMENT" property="STATEMENT" />
    <result column="ERROR_MESSAGE" property="ERROR_MESSAGE" />
  </resultMap>
  <sql id="Blob_Column_List" >
    STATEMENT, ERROR_MESSAGE
  </sql>
  <insert id="insertEOD_ENG_MGMT_HIST" parameterType="com.path.dbmaps.vo.EOD_ENG_MGMT_HISTVOWithBLOBs" >
    insert into EOD_ENG_MGMT_HIST
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="THREAD_ID != null and THREAD_ID != emptyBigDecimalValue" >
        THREAD_ID,
      </if>
      <if test="BATCH_CODE != null and BATCH_CODE != emptyBigDecimalValue" >
        BATCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="PROCESS_CODE != null and PROCESS_CODE != emptyBigDecimalValue" >
        PROCESS_CODE,
      </if>
      <if test="EOD_ENG_MGMT_PARENT_ID != null and EOD_ENG_MGMT_PARENT_ID != emptyBigDecimalValue" >
        EOD_ENG_MGMT_PARENT_ID,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="STARTING_TIME != null" >
        STARTING_TIME,
      </if>
      <if test="ENDING_TIME != null" >
        ENDING_TIME,
      </if>
      <if test="DB_SESSION_ID != null and DB_SESSION_ID != emptyBigDecimalValue" >
        DB_SESSION_ID,
      </if>
      <if test="DB_INST_ID != null and DB_INST_ID != emptyBigDecimalValue" >
        DB_INST_ID,
      </if>
      <if test="RUNNING_DATE != null" >
        RUNNING_DATE,
      </if>
      <if test="CREATION_DATE != null" >
        CREATION_DATE,
      </if>
      <if test="CREATION_BY != null" >
        CREATION_BY,
      </if>
      <if test="STATEMENT != null" >
        STATEMENT,
      </if>
      <if test="ERROR_MESSAGE != null" >
        ERROR_MESSAGE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="THREAD_ID != null and THREAD_ID != emptyBigDecimalValue" >
        #{THREAD_ID},
      </if>
      <if test="BATCH_CODE != null and BATCH_CODE != emptyBigDecimalValue" >
        #{BATCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="PROCESS_CODE != null and PROCESS_CODE != emptyBigDecimalValue" >
        #{PROCESS_CODE},
      </if>
      <if test="EOD_ENG_MGMT_PARENT_ID != null and EOD_ENG_MGMT_PARENT_ID != emptyBigDecimalValue" >
        #{EOD_ENG_MGMT_PARENT_ID},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="STARTING_TIME != null" >
        #{STARTING_TIME},
      </if>
      <if test="ENDING_TIME != null" >
        #{ENDING_TIME},
      </if>
      <if test="DB_SESSION_ID != null and DB_SESSION_ID != emptyBigDecimalValue" >
        #{DB_SESSION_ID},
      </if>
      <if test="DB_INST_ID != null and DB_INST_ID != emptyBigDecimalValue" >
        #{DB_INST_ID},
      </if>
      <if test="RUNNING_DATE != null" >
        #{RUNNING_DATE},
      </if>
      <if test="CREATION_DATE != null" >
        #{CREATION_DATE},
      </if>
      <if test="CREATION_BY != null" >
        #{CREATION_BY},
      </if>
      <if test="STATEMENT != null" >
        #{STATEMENT},
      </if>
      <if test="ERROR_MESSAGE != null" >
        #{ERROR_MESSAGE},
      </if>
    </trim>
  </insert>
</mapper>