<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="FASCAT" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.FASCATVO" >
    <id column="CATEGORY_CODE" property="CATEGORY_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <result column="BRIEF_DESC_ENG" property="BRIEF_DESC_ENG" />
    <result column="LONG_DESC_ENG" property="LONG_DESC_ENG" />
    <result column="BRIEF_DESC_ARAB" property="BRIEF_DESC_ARAB" />
    <result column="LONG_DESC_ARAB" property="LONG_DESC_ARAB" />
    <result column="TITLE1" property="TITLE1" />
    <result column="TITLE2" property="TITLE2" />
    <result column="TITLE3" property="TITLE3" />
    <result column="TITLE4" property="TITLE4" />
    <result column="USEFUL_LIFE_FROM" property="USEFUL_LIFE_FROM" />
    <result column="DEFAULT_USEFUL_LIFE" property="DEFAULT_USEFUL_LIFE" />
    <result column="DEPRECIATION_METHOD" property="DEPRECIATION_METHOD" />
    <result column="DEFAULT_SALVAGE_VALUE" property="DEFAULT_SALVAGE_VALUE" />
    <result column="ESTIMATED_UNITS" property="ESTIMATED_UNITS" />
    <result column="PERCENT_DECLINING" property="PERCENT_DECLINING" />
    <result column="ASSET_IS_LAND" property="ASSET_IS_LAND" />
    <result column="SLV_AMT_PERC_FLAG" property="SLV_AMT_PERC_FLAG" />
    <result column="ASSET_TYPE" property="ASSET_TYPE" />
    <result column="TITLE5" property="TITLE5" />
    <result column="TITLE6" property="TITLE6" />
    <result column="ASSET_MIN_VALUE" property="ASSET_MIN_VALUE" />
    <result column="DEPRECIATION_RATE" property="DEPRECIATION_RATE" />
    <result column="DEPRECIATE_BY_PERC" property="DEPRECIATE_BY_PERC" />
    <result column="DEPRECIATION_BASIS" property="DEPRECIATION_BASIS" />
    <result column="TEMPLATE_CODE_ADDITION" property="TEMPLATE_CODE_ADDITION" />
    <result column="TEMPLATE_CODE_ASSET_MNTNCE" property="TEMPLATE_CODE_ASSET_MNTNCE" />
    <result column="TEMPLATE_CODE_CAPTAL_EXPNDTRE" property="TEMPLATE_CODE_CAPTAL_EXPNDTRE" />
    <result column="TEMPLATE_CODE_DEPRECIATION" property="TEMPLATE_CODE_DEPRECIATION" />
    <result column="TEMPLATE_CODE_PAYMENT" property="TEMPLATE_CODE_PAYMENT" />
    <result column="TEMPLATE_CODE_PURCHASE_ORDER" property="TEMPLATE_CODE_PURCHASE_ORDER" />
    <result column="TEMPLATE_CODE_REINSTATE" property="TEMPLATE_CODE_REINSTATE" />
    <result column="TEMPLATE_CODE_RETIREMENT" property="TEMPLATE_CODE_RETIREMENT" />
    <result column="TEMPLATE_CODE_REVALUATION" property="TEMPLATE_CODE_REVALUATION" />
    <result column="TEMPLATE_CODE_SELNG_RTRD_ASTS" property="TEMPLATE_CODE_SELNG_RTRD_ASTS" />
    <result column="TEMPLATE_CODE_STATNRY_ADDTN" property="TEMPLATE_CODE_STATNRY_ADDTN" />
    <result column="TEMPLATE_CODE_STATNRY_RETRMNT" property="TEMPLATE_CODE_STATNRY_RETRMNT" />
    <result column="TEMPLATE_CODE_STATNRY_TRNSFR" property="TEMPLATE_CODE_STATNRY_TRNSFR" />
    <result column="TEMPLATE_CODE_TRANSFER_BETWN" property="TEMPLATE_CODE_TRANSFER_BETWN" />
    <result column="TEMPLATE_CODE_TRANSFER_IN" property="TEMPLATE_CODE_TRANSFER_IN" />
    <result column="TEMPLATE_CODE_TRANSFER_OUT" property="TEMPLATE_CODE_TRANSFER_OUT" />
    <result column="DATE_UPDATED" property="DATE_UPDATED" />
    <result column="TEMPLATE_CODE_DELIVERY" property="TEMPLATE_CODE_DELIVERY" />
    <result column="TITLE10" property="TITLE10" />
    <result column="TITLE11" property="TITLE11" />
    <result column="TITLE12" property="TITLE12" />
    <result column="TITLE7" property="TITLE7" />
    <result column="TITLE8" property="TITLE8" />
    <result column="TITLE9" property="TITLE9" />
    <result column="AFFECT_PO_COMMITMENT_ENTRY_YN" property="AFFECT_PO_COMMITMENT_ENTRY_YN" />
    <result column="ON_OFF_BS_ACCOUNTS" property="ON_OFF_BS_ACCOUNTS" />
    <result column="PO_PRICE_TOLERANCE_MSG_TYPE" property="PO_PRICE_TOLERANCE_MSG_TYPE" />
    <result column="PO_PRICE_TOLERANCE_PERCENT" property="PO_PRICE_TOLERANCE_PERCENT" />
    <result column="SEPARATE_ADVPAYMT_REVENTRY_YN" property="SEPARATE_ADVPAYMT_REVENTRY_YN" />
    <result column="TAX_ANNUAL_DEPRECIATION_RATE" property="TAX_ANNUAL_DEPRECIATION_RATE" />
    <result column="TAX_DECLINING_FACTOR" property="TAX_DECLINING_FACTOR" />
    <result column="TAX_DEFAULT_USEFUL_LIFE" property="TAX_DEFAULT_USEFUL_LIFE" />
    <result column="TAX_DEPRECIATION_BASIS" property="TAX_DEPRECIATION_BASIS" />
    <result column="TAX_DEPRECIATION_BY_PERC_YN" property="TAX_DEPRECIATION_BY_PERC_YN" />
    <result column="TAX_DEPRECIATION_METHOD" property="TAX_DEPRECIATION_METHOD" />
    <result column="TAX_INIT_ALLOWANCE_PERC" property="TAX_INIT_ALLOWANCE_PERC" />
    <result column="TAX_PRORATE_DAYS_YEAR_YN" property="TAX_PRORATE_DAYS_YEAR_YN" />
    <result column="ASSET_IN_ASSET_CURRENCY_YN" property="ASSET_IN_ASSET_CURRENCY_YN" />
    <result column="TEMPLATE_CODE_AMENDMENT" property="TEMPLATE_CODE_AMENDMENT" />
  </resultMap>
  <sql id="Base_Column_List" >
    CATEGORY_CODE, COMP_CODE, BRIEF_DESC_ENG, LONG_DESC_ENG, BRIEF_DESC_ARAB, LONG_DESC_ARAB, 
    TITLE1, TITLE2, TITLE3, TITLE4, USEFUL_LIFE_FROM, DEFAULT_USEFUL_LIFE, DEPRECIATION_METHOD, 
    DEFAULT_SALVAGE_VALUE, ESTIMATED_UNITS, PERCENT_DECLINING, ASSET_IS_LAND, SLV_AMT_PERC_FLAG, 
    ASSET_TYPE, TITLE5, TITLE6, ASSET_MIN_VALUE, DEPRECIATION_RATE, DEPRECIATE_BY_PERC, 
    DEPRECIATION_BASIS, TEMPLATE_CODE_ADDITION, TEMPLATE_CODE_ASSET_MNTNCE, TEMPLATE_CODE_CAPTAL_EXPNDTRE, 
    TEMPLATE_CODE_DEPRECIATION, TEMPLATE_CODE_PAYMENT, TEMPLATE_CODE_PURCHASE_ORDER, 
    TEMPLATE_CODE_REINSTATE, TEMPLATE_CODE_RETIREMENT, TEMPLATE_CODE_REVALUATION, TEMPLATE_CODE_SELNG_RTRD_ASTS, 
    TEMPLATE_CODE_STATNRY_ADDTN, TEMPLATE_CODE_STATNRY_RETRMNT, TEMPLATE_CODE_STATNRY_TRNSFR, 
    TEMPLATE_CODE_TRANSFER_BETWN, TEMPLATE_CODE_TRANSFER_IN, TEMPLATE_CODE_TRANSFER_OUT, 
    DATE_UPDATED, TEMPLATE_CODE_DELIVERY, TITLE10, TITLE11, TITLE12, TITLE7, TITLE8, 
    TITLE9, AFFECT_PO_COMMITMENT_ENTRY_YN, ON_OFF_BS_ACCOUNTS, PO_PRICE_TOLERANCE_MSG_TYPE, 
    PO_PRICE_TOLERANCE_PERCENT, SEPARATE_ADVPAYMT_REVENTRY_YN, TAX_ANNUAL_DEPRECIATION_RATE, 
    TAX_DECLINING_FACTOR, TAX_DEFAULT_USEFUL_LIFE, TAX_DEPRECIATION_BASIS, TAX_DEPRECIATION_BY_PERC_YN, 
    TAX_DEPRECIATION_METHOD, TAX_INIT_ALLOWANCE_PERC, TAX_PRORATE_DAYS_YEAR_YN, ASSET_IN_ASSET_CURRENCY_YN, 
    TEMPLATE_CODE_AMENDMENT
  </sql>
  <select id="selectFASCAT" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.FASCATVOKey" >
    select 
    <include refid="Base_Column_List" />
    from FASCAT
    where CATEGORY_CODE = #{CATEGORY_CODE}
      and COMP_CODE = #{COMP_CODE}
  </select>
  <delete id="deleteFASCAT" parameterType="com.path.dbmaps.vo.FASCATVOKey" >
    delete from FASCAT
    where CATEGORY_CODE = #{CATEGORY_CODE}
      and COMP_CODE = #{COMP_CODE}
  </delete>
  <insert id="insertFASCAT" parameterType="com.path.dbmaps.vo.FASCATVO" >
    insert into FASCAT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CATEGORY_CODE != null and CATEGORY_CODE != emptyBigDecimalValue" >
        CATEGORY_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="BRIEF_DESC_ENG != null and !&quot;&quot;.equals(BRIEF_DESC_ENG)" >
        BRIEF_DESC_ENG,
      </if>
      <if test="LONG_DESC_ENG != null and !&quot;&quot;.equals(LONG_DESC_ENG)" >
        LONG_DESC_ENG,
      </if>
      <if test="BRIEF_DESC_ARAB != null and !&quot;&quot;.equals(BRIEF_DESC_ARAB)" >
        BRIEF_DESC_ARAB,
      </if>
      <if test="LONG_DESC_ARAB != null and !&quot;&quot;.equals(LONG_DESC_ARAB)" >
        LONG_DESC_ARAB,
      </if>
      <if test="TITLE1 != null and !&quot;&quot;.equals(TITLE1)" >
        TITLE1,
      </if>
      <if test="TITLE2 != null and !&quot;&quot;.equals(TITLE2)" >
        TITLE2,
      </if>
      <if test="TITLE3 != null and !&quot;&quot;.equals(TITLE3)" >
        TITLE3,
      </if>
      <if test="TITLE4 != null and !&quot;&quot;.equals(TITLE4)" >
        TITLE4,
      </if>
      <if test="USEFUL_LIFE_FROM != null and USEFUL_LIFE_FROM != emptyBigDecimalValue" >
        USEFUL_LIFE_FROM,
      </if>
      <if test="DEFAULT_USEFUL_LIFE != null and DEFAULT_USEFUL_LIFE != emptyBigDecimalValue" >
        DEFAULT_USEFUL_LIFE,
      </if>
      <if test="DEPRECIATION_METHOD != null and DEPRECIATION_METHOD != emptyBigDecimalValue" >
        DEPRECIATION_METHOD,
      </if>
      <if test="DEFAULT_SALVAGE_VALUE != null and DEFAULT_SALVAGE_VALUE != emptyBigDecimalValue" >
        DEFAULT_SALVAGE_VALUE,
      </if>
      <if test="ESTIMATED_UNITS != null and ESTIMATED_UNITS != emptyBigDecimalValue" >
        ESTIMATED_UNITS,
      </if>
      <if test="PERCENT_DECLINING != null and PERCENT_DECLINING != emptyBigDecimalValue" >
        PERCENT_DECLINING,
      </if>
      <if test="ASSET_IS_LAND != null and ASSET_IS_LAND != emptyBigDecimalValue" >
        ASSET_IS_LAND,
      </if>
      <if test="SLV_AMT_PERC_FLAG != null and SLV_AMT_PERC_FLAG != emptyBigDecimalValue" >
        SLV_AMT_PERC_FLAG,
      </if>
      <if test="ASSET_TYPE != null and ASSET_TYPE != emptyBigDecimalValue" >
        ASSET_TYPE,
      </if>
      <if test="TITLE5 != null and !&quot;&quot;.equals(TITLE5)" >
        TITLE5,
      </if>
      <if test="TITLE6 != null and !&quot;&quot;.equals(TITLE6)" >
        TITLE6,
      </if>
      <if test="ASSET_MIN_VALUE != null and ASSET_MIN_VALUE != emptyBigDecimalValue" >
        ASSET_MIN_VALUE,
      </if>
      <if test="DEPRECIATION_RATE != null and DEPRECIATION_RATE != emptyBigDecimalValue" >
        DEPRECIATION_RATE,
      </if>
      <if test="DEPRECIATE_BY_PERC != null and !&quot;&quot;.equals(DEPRECIATE_BY_PERC)" >
        DEPRECIATE_BY_PERC,
      </if>
      <if test="DEPRECIATION_BASIS != null and DEPRECIATION_BASIS != emptyBigDecimalValue" >
        DEPRECIATION_BASIS,
      </if>
      <if test="TEMPLATE_CODE_ADDITION != null and TEMPLATE_CODE_ADDITION != emptyBigDecimalValue" >
        TEMPLATE_CODE_ADDITION,
      </if>
      <if test="TEMPLATE_CODE_ASSET_MNTNCE != null and TEMPLATE_CODE_ASSET_MNTNCE != emptyBigDecimalValue" >
        TEMPLATE_CODE_ASSET_MNTNCE,
      </if>
      <if test="TEMPLATE_CODE_CAPTAL_EXPNDTRE != null and TEMPLATE_CODE_CAPTAL_EXPNDTRE != emptyBigDecimalValue" >
        TEMPLATE_CODE_CAPTAL_EXPNDTRE,
      </if>
      <if test="TEMPLATE_CODE_DEPRECIATION != null and TEMPLATE_CODE_DEPRECIATION != emptyBigDecimalValue" >
        TEMPLATE_CODE_DEPRECIATION,
      </if>
      <if test="TEMPLATE_CODE_PAYMENT != null and TEMPLATE_CODE_PAYMENT != emptyBigDecimalValue" >
        TEMPLATE_CODE_PAYMENT,
      </if>
      <if test="TEMPLATE_CODE_PURCHASE_ORDER != null and TEMPLATE_CODE_PURCHASE_ORDER != emptyBigDecimalValue" >
        TEMPLATE_CODE_PURCHASE_ORDER,
      </if>
      <if test="TEMPLATE_CODE_REINSTATE != null and TEMPLATE_CODE_REINSTATE != emptyBigDecimalValue" >
        TEMPLATE_CODE_REINSTATE,
      </if>
      <if test="TEMPLATE_CODE_RETIREMENT != null and TEMPLATE_CODE_RETIREMENT != emptyBigDecimalValue" >
        TEMPLATE_CODE_RETIREMENT,
      </if>
      <if test="TEMPLATE_CODE_REVALUATION != null and TEMPLATE_CODE_REVALUATION != emptyBigDecimalValue" >
        TEMPLATE_CODE_REVALUATION,
      </if>
      <if test="TEMPLATE_CODE_SELNG_RTRD_ASTS != null and TEMPLATE_CODE_SELNG_RTRD_ASTS != emptyBigDecimalValue" >
        TEMPLATE_CODE_SELNG_RTRD_ASTS,
      </if>
      <if test="TEMPLATE_CODE_STATNRY_ADDTN != null and TEMPLATE_CODE_STATNRY_ADDTN != emptyBigDecimalValue" >
        TEMPLATE_CODE_STATNRY_ADDTN,
      </if>
      <if test="TEMPLATE_CODE_STATNRY_RETRMNT != null and TEMPLATE_CODE_STATNRY_RETRMNT != emptyBigDecimalValue" >
        TEMPLATE_CODE_STATNRY_RETRMNT,
      </if>
      <if test="TEMPLATE_CODE_STATNRY_TRNSFR != null and TEMPLATE_CODE_STATNRY_TRNSFR != emptyBigDecimalValue" >
        TEMPLATE_CODE_STATNRY_TRNSFR,
      </if>
      <if test="TEMPLATE_CODE_TRANSFER_BETWN != null and TEMPLATE_CODE_TRANSFER_BETWN != emptyBigDecimalValue" >
        TEMPLATE_CODE_TRANSFER_BETWN,
      </if>
      <if test="TEMPLATE_CODE_TRANSFER_IN != null and TEMPLATE_CODE_TRANSFER_IN != emptyBigDecimalValue" >
        TEMPLATE_CODE_TRANSFER_IN,
      </if>
      <if test="TEMPLATE_CODE_TRANSFER_OUT != null and TEMPLATE_CODE_TRANSFER_OUT != emptyBigDecimalValue" >
        TEMPLATE_CODE_TRANSFER_OUT,
      </if>
      DATE_UPDATED,
      <if test="TEMPLATE_CODE_DELIVERY != null and TEMPLATE_CODE_DELIVERY != emptyBigDecimalValue" >
        TEMPLATE_CODE_DELIVERY,
      </if>
      <if test="TITLE10 != null and !&quot;&quot;.equals(TITLE10)" >
        TITLE10,
      </if>
      <if test="TITLE11 != null and !&quot;&quot;.equals(TITLE11)" >
        TITLE11,
      </if>
      <if test="TITLE12 != null and !&quot;&quot;.equals(TITLE12)" >
        TITLE12,
      </if>
      <if test="TITLE7 != null and !&quot;&quot;.equals(TITLE7)" >
        TITLE7,
      </if>
      <if test="TITLE8 != null and !&quot;&quot;.equals(TITLE8)" >
        TITLE8,
      </if>
      <if test="TITLE9 != null and !&quot;&quot;.equals(TITLE9)" >
        TITLE9,
      </if>
      <if test="AFFECT_PO_COMMITMENT_ENTRY_YN != null and !&quot;&quot;.equals(AFFECT_PO_COMMITMENT_ENTRY_YN)" >
        AFFECT_PO_COMMITMENT_ENTRY_YN,
      </if>
      <if test="ON_OFF_BS_ACCOUNTS != null and !&quot;&quot;.equals(ON_OFF_BS_ACCOUNTS)" >
        ON_OFF_BS_ACCOUNTS,
      </if>
      <if test="PO_PRICE_TOLERANCE_MSG_TYPE != null and !&quot;&quot;.equals(PO_PRICE_TOLERANCE_MSG_TYPE)" >
        PO_PRICE_TOLERANCE_MSG_TYPE,
      </if>
      <if test="PO_PRICE_TOLERANCE_PERCENT != null and PO_PRICE_TOLERANCE_PERCENT != emptyBigDecimalValue" >
        PO_PRICE_TOLERANCE_PERCENT,
      </if>
      <if test="SEPARATE_ADVPAYMT_REVENTRY_YN != null and !&quot;&quot;.equals(SEPARATE_ADVPAYMT_REVENTRY_YN)" >
        SEPARATE_ADVPAYMT_REVENTRY_YN,
      </if>
      <if test="TAX_ANNUAL_DEPRECIATION_RATE != null and TAX_ANNUAL_DEPRECIATION_RATE != emptyBigDecimalValue" >
        TAX_ANNUAL_DEPRECIATION_RATE,
      </if>
      <if test="TAX_DECLINING_FACTOR != null and TAX_DECLINING_FACTOR != emptyBigDecimalValue" >
        TAX_DECLINING_FACTOR,
      </if>
      <if test="TAX_DEFAULT_USEFUL_LIFE != null and TAX_DEFAULT_USEFUL_LIFE != emptyBigDecimalValue" >
        TAX_DEFAULT_USEFUL_LIFE,
      </if>
      <if test="TAX_DEPRECIATION_BASIS != null and TAX_DEPRECIATION_BASIS != emptyBigDecimalValue" >
        TAX_DEPRECIATION_BASIS,
      </if>
      <if test="TAX_DEPRECIATION_BY_PERC_YN != null and !&quot;&quot;.equals(TAX_DEPRECIATION_BY_PERC_YN)" >
        TAX_DEPRECIATION_BY_PERC_YN,
      </if>
      <if test="TAX_DEPRECIATION_METHOD != null and TAX_DEPRECIATION_METHOD != emptyBigDecimalValue" >
        TAX_DEPRECIATION_METHOD,
      </if>
      <if test="TAX_INIT_ALLOWANCE_PERC != null and TAX_INIT_ALLOWANCE_PERC != emptyBigDecimalValue" >
        TAX_INIT_ALLOWANCE_PERC,
      </if>
      <if test="TAX_PRORATE_DAYS_YEAR_YN != null and !&quot;&quot;.equals(TAX_PRORATE_DAYS_YEAR_YN)" >
        TAX_PRORATE_DAYS_YEAR_YN,
      </if>
      <if test="ASSET_IN_ASSET_CURRENCY_YN != null and !&quot;&quot;.equals(ASSET_IN_ASSET_CURRENCY_YN)" >
        ASSET_IN_ASSET_CURRENCY_YN,
      </if>
      <if test="TEMPLATE_CODE_AMENDMENT != null and TEMPLATE_CODE_AMENDMENT != emptyBigDecimalValue" >
        TEMPLATE_CODE_AMENDMENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CATEGORY_CODE != null and CATEGORY_CODE != emptyBigDecimalValue" >
        #{CATEGORY_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="BRIEF_DESC_ENG != null and !&quot;&quot;.equals(BRIEF_DESC_ENG)" >
        #{BRIEF_DESC_ENG},
      </if>
      <if test="LONG_DESC_ENG != null and !&quot;&quot;.equals(LONG_DESC_ENG)" >
        #{LONG_DESC_ENG},
      </if>
      <if test="BRIEF_DESC_ARAB != null and !&quot;&quot;.equals(BRIEF_DESC_ARAB)" >
        #{BRIEF_DESC_ARAB},
      </if>
      <if test="LONG_DESC_ARAB != null and !&quot;&quot;.equals(LONG_DESC_ARAB)" >
        #{LONG_DESC_ARAB},
      </if>
      <if test="TITLE1 != null and !&quot;&quot;.equals(TITLE1)" >
        #{TITLE1},
      </if>
      <if test="TITLE2 != null and !&quot;&quot;.equals(TITLE2)" >
        #{TITLE2},
      </if>
      <if test="TITLE3 != null and !&quot;&quot;.equals(TITLE3)" >
        #{TITLE3},
      </if>
      <if test="TITLE4 != null and !&quot;&quot;.equals(TITLE4)" >
        #{TITLE4},
      </if>
      <if test="USEFUL_LIFE_FROM != null and USEFUL_LIFE_FROM != emptyBigDecimalValue" >
        #{USEFUL_LIFE_FROM},
      </if>
      <if test="DEFAULT_USEFUL_LIFE != null and DEFAULT_USEFUL_LIFE != emptyBigDecimalValue" >
        #{DEFAULT_USEFUL_LIFE},
      </if>
      <if test="DEPRECIATION_METHOD != null and DEPRECIATION_METHOD != emptyBigDecimalValue" >
        #{DEPRECIATION_METHOD},
      </if>
      <if test="DEFAULT_SALVAGE_VALUE != null and DEFAULT_SALVAGE_VALUE != emptyBigDecimalValue" >
        #{DEFAULT_SALVAGE_VALUE},
      </if>
      <if test="ESTIMATED_UNITS != null and ESTIMATED_UNITS != emptyBigDecimalValue" >
        #{ESTIMATED_UNITS},
      </if>
      <if test="PERCENT_DECLINING != null and PERCENT_DECLINING != emptyBigDecimalValue" >
        #{PERCENT_DECLINING},
      </if>
      <if test="ASSET_IS_LAND != null and ASSET_IS_LAND != emptyBigDecimalValue" >
        #{ASSET_IS_LAND},
      </if>
      <if test="SLV_AMT_PERC_FLAG != null and SLV_AMT_PERC_FLAG != emptyBigDecimalValue" >
        #{SLV_AMT_PERC_FLAG},
      </if>
      <if test="ASSET_TYPE != null and ASSET_TYPE != emptyBigDecimalValue" >
        #{ASSET_TYPE},
      </if>
      <if test="TITLE5 != null and !&quot;&quot;.equals(TITLE5)" >
        #{TITLE5},
      </if>
      <if test="TITLE6 != null and !&quot;&quot;.equals(TITLE6)" >
        #{TITLE6},
      </if>
      <if test="ASSET_MIN_VALUE != null and ASSET_MIN_VALUE != emptyBigDecimalValue" >
        #{ASSET_MIN_VALUE},
      </if>
      <if test="DEPRECIATION_RATE != null and DEPRECIATION_RATE != emptyBigDecimalValue" >
        #{DEPRECIATION_RATE},
      </if>
      <if test="DEPRECIATE_BY_PERC != null and !&quot;&quot;.equals(DEPRECIATE_BY_PERC)" >
        #{DEPRECIATE_BY_PERC},
      </if>
      <if test="DEPRECIATION_BASIS != null and DEPRECIATION_BASIS != emptyBigDecimalValue" >
        #{DEPRECIATION_BASIS},
      </if>
      <if test="TEMPLATE_CODE_ADDITION != null and TEMPLATE_CODE_ADDITION != emptyBigDecimalValue" >
        #{TEMPLATE_CODE_ADDITION},
      </if>
      <if test="TEMPLATE_CODE_ASSET_MNTNCE != null and TEMPLATE_CODE_ASSET_MNTNCE != emptyBigDecimalValue" >
        #{TEMPLATE_CODE_ASSET_MNTNCE},
      </if>
      <if test="TEMPLATE_CODE_CAPTAL_EXPNDTRE != null and TEMPLATE_CODE_CAPTAL_EXPNDTRE != emptyBigDecimalValue" >
        #{TEMPLATE_CODE_CAPTAL_EXPNDTRE},
      </if>
      <if test="TEMPLATE_CODE_DEPRECIATION != null and TEMPLATE_CODE_DEPRECIATION != emptyBigDecimalValue" >
        #{TEMPLATE_CODE_DEPRECIATION},
      </if>
      <if test="TEMPLATE_CODE_PAYMENT != null and TEMPLATE_CODE_PAYMENT != emptyBigDecimalValue" >
        #{TEMPLATE_CODE_PAYMENT},
      </if>
      <if test="TEMPLATE_CODE_PURCHASE_ORDER != null and TEMPLATE_CODE_PURCHASE_ORDER != emptyBigDecimalValue" >
        #{TEMPLATE_CODE_PURCHASE_ORDER},
      </if>
      <if test="TEMPLATE_CODE_REINSTATE != null and TEMPLATE_CODE_REINSTATE != emptyBigDecimalValue" >
        #{TEMPLATE_CODE_REINSTATE},
      </if>
      <if test="TEMPLATE_CODE_RETIREMENT != null and TEMPLATE_CODE_RETIREMENT != emptyBigDecimalValue" >
        #{TEMPLATE_CODE_RETIREMENT},
      </if>
      <if test="TEMPLATE_CODE_REVALUATION != null and TEMPLATE_CODE_REVALUATION != emptyBigDecimalValue" >
        #{TEMPLATE_CODE_REVALUATION},
      </if>
      <if test="TEMPLATE_CODE_SELNG_RTRD_ASTS != null and TEMPLATE_CODE_SELNG_RTRD_ASTS != emptyBigDecimalValue" >
        #{TEMPLATE_CODE_SELNG_RTRD_ASTS},
      </if>
      <if test="TEMPLATE_CODE_STATNRY_ADDTN != null and TEMPLATE_CODE_STATNRY_ADDTN != emptyBigDecimalValue" >
        #{TEMPLATE_CODE_STATNRY_ADDTN},
      </if>
      <if test="TEMPLATE_CODE_STATNRY_RETRMNT != null and TEMPLATE_CODE_STATNRY_RETRMNT != emptyBigDecimalValue" >
        #{TEMPLATE_CODE_STATNRY_RETRMNT},
      </if>
      <if test="TEMPLATE_CODE_STATNRY_TRNSFR != null and TEMPLATE_CODE_STATNRY_TRNSFR != emptyBigDecimalValue" >
        #{TEMPLATE_CODE_STATNRY_TRNSFR},
      </if>
      <if test="TEMPLATE_CODE_TRANSFER_BETWN != null and TEMPLATE_CODE_TRANSFER_BETWN != emptyBigDecimalValue" >
        #{TEMPLATE_CODE_TRANSFER_BETWN},
      </if>
      <if test="TEMPLATE_CODE_TRANSFER_IN != null and TEMPLATE_CODE_TRANSFER_IN != emptyBigDecimalValue" >
        #{TEMPLATE_CODE_TRANSFER_IN},
      </if>
      <if test="TEMPLATE_CODE_TRANSFER_OUT != null and TEMPLATE_CODE_TRANSFER_OUT != emptyBigDecimalValue" >
        #{TEMPLATE_CODE_TRANSFER_OUT},
      </if>
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
      <if test="TEMPLATE_CODE_DELIVERY != null and TEMPLATE_CODE_DELIVERY != emptyBigDecimalValue" >
        #{TEMPLATE_CODE_DELIVERY},
      </if>
      <if test="TITLE10 != null and !&quot;&quot;.equals(TITLE10)" >
        #{TITLE10},
      </if>
      <if test="TITLE11 != null and !&quot;&quot;.equals(TITLE11)" >
        #{TITLE11},
      </if>
      <if test="TITLE12 != null and !&quot;&quot;.equals(TITLE12)" >
        #{TITLE12},
      </if>
      <if test="TITLE7 != null and !&quot;&quot;.equals(TITLE7)" >
        #{TITLE7},
      </if>
      <if test="TITLE8 != null and !&quot;&quot;.equals(TITLE8)" >
        #{TITLE8},
      </if>
      <if test="TITLE9 != null and !&quot;&quot;.equals(TITLE9)" >
        #{TITLE9},
      </if>
      <if test="AFFECT_PO_COMMITMENT_ENTRY_YN != null and !&quot;&quot;.equals(AFFECT_PO_COMMITMENT_ENTRY_YN)" >
        #{AFFECT_PO_COMMITMENT_ENTRY_YN},
      </if>
      <if test="ON_OFF_BS_ACCOUNTS != null and !&quot;&quot;.equals(ON_OFF_BS_ACCOUNTS)" >
        #{ON_OFF_BS_ACCOUNTS},
      </if>
      <if test="PO_PRICE_TOLERANCE_MSG_TYPE != null and !&quot;&quot;.equals(PO_PRICE_TOLERANCE_MSG_TYPE)" >
        #{PO_PRICE_TOLERANCE_MSG_TYPE},
      </if>
      <if test="PO_PRICE_TOLERANCE_PERCENT != null and PO_PRICE_TOLERANCE_PERCENT != emptyBigDecimalValue" >
        #{PO_PRICE_TOLERANCE_PERCENT},
      </if>
      <if test="SEPARATE_ADVPAYMT_REVENTRY_YN != null and !&quot;&quot;.equals(SEPARATE_ADVPAYMT_REVENTRY_YN)" >
        #{SEPARATE_ADVPAYMT_REVENTRY_YN},
      </if>
      <if test="TAX_ANNUAL_DEPRECIATION_RATE != null and TAX_ANNUAL_DEPRECIATION_RATE != emptyBigDecimalValue" >
        #{TAX_ANNUAL_DEPRECIATION_RATE},
      </if>
      <if test="TAX_DECLINING_FACTOR != null and TAX_DECLINING_FACTOR != emptyBigDecimalValue" >
        #{TAX_DECLINING_FACTOR},
      </if>
      <if test="TAX_DEFAULT_USEFUL_LIFE != null and TAX_DEFAULT_USEFUL_LIFE != emptyBigDecimalValue" >
        #{TAX_DEFAULT_USEFUL_LIFE},
      </if>
      <if test="TAX_DEPRECIATION_BASIS != null and TAX_DEPRECIATION_BASIS != emptyBigDecimalValue" >
        #{TAX_DEPRECIATION_BASIS},
      </if>
      <if test="TAX_DEPRECIATION_BY_PERC_YN != null and !&quot;&quot;.equals(TAX_DEPRECIATION_BY_PERC_YN)" >
        #{TAX_DEPRECIATION_BY_PERC_YN},
      </if>
      <if test="TAX_DEPRECIATION_METHOD != null and TAX_DEPRECIATION_METHOD != emptyBigDecimalValue" >
        #{TAX_DEPRECIATION_METHOD},
      </if>
      <if test="TAX_INIT_ALLOWANCE_PERC != null and TAX_INIT_ALLOWANCE_PERC != emptyBigDecimalValue" >
        #{TAX_INIT_ALLOWANCE_PERC},
      </if>
      <if test="TAX_PRORATE_DAYS_YEAR_YN != null and !&quot;&quot;.equals(TAX_PRORATE_DAYS_YEAR_YN)" >
        #{TAX_PRORATE_DAYS_YEAR_YN},
      </if>
      <if test="ASSET_IN_ASSET_CURRENCY_YN != null and !&quot;&quot;.equals(ASSET_IN_ASSET_CURRENCY_YN)" >
        #{ASSET_IN_ASSET_CURRENCY_YN},
      </if>
      <if test="TEMPLATE_CODE_AMENDMENT != null and TEMPLATE_CODE_AMENDMENT != emptyBigDecimalValue" >
        #{TEMPLATE_CODE_AMENDMENT},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateFASCAT" >
    update FASCAT
    <set >
      <if test="BRIEF_DESC_ENG != null" >
        <choose >
          <when test="BRIEF_DESC_ENG.equals(&quot;&quot;)" >
            BRIEF_DESC_ENG = NULL ,
          </when>
          <otherwise >
            BRIEF_DESC_ENG = #{BRIEF_DESC_ENG},
          </otherwise>
        </choose>
      </if>
      <if test="LONG_DESC_ENG != null" >
        <choose >
          <when test="LONG_DESC_ENG.equals(&quot;&quot;)" >
            LONG_DESC_ENG = NULL ,
          </when>
          <otherwise >
            LONG_DESC_ENG = #{LONG_DESC_ENG},
          </otherwise>
        </choose>
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        <choose >
          <when test="BRIEF_DESC_ARAB.equals(&quot;&quot;)" >
            BRIEF_DESC_ARAB = NULL ,
          </when>
          <otherwise >
            BRIEF_DESC_ARAB = #{BRIEF_DESC_ARAB},
          </otherwise>
        </choose>
      </if>
      <if test="LONG_DESC_ARAB != null" >
        <choose >
          <when test="LONG_DESC_ARAB.equals(&quot;&quot;)" >
            LONG_DESC_ARAB = NULL ,
          </when>
          <otherwise >
            LONG_DESC_ARAB = #{LONG_DESC_ARAB},
          </otherwise>
        </choose>
      </if>
      <if test="TITLE1 != null" >
        <choose >
          <when test="TITLE1.equals(&quot;&quot;)" >
            TITLE1 = NULL ,
          </when>
          <otherwise >
            TITLE1 = #{TITLE1},
          </otherwise>
        </choose>
      </if>
      <if test="TITLE2 != null" >
        <choose >
          <when test="TITLE2.equals(&quot;&quot;)" >
            TITLE2 = NULL ,
          </when>
          <otherwise >
            TITLE2 = #{TITLE2},
          </otherwise>
        </choose>
      </if>
      <if test="TITLE3 != null" >
        <choose >
          <when test="TITLE3.equals(&quot;&quot;)" >
            TITLE3 = NULL ,
          </when>
          <otherwise >
            TITLE3 = #{TITLE3},
          </otherwise>
        </choose>
      </if>
      <if test="TITLE4 != null" >
        <choose >
          <when test="TITLE4.equals(&quot;&quot;)" >
            TITLE4 = NULL ,
          </when>
          <otherwise >
            TITLE4 = #{TITLE4},
          </otherwise>
        </choose>
      </if>
      <if test="USEFUL_LIFE_FROM != null" >
        <choose >
          <when test="USEFUL_LIFE_FROM == emptyBigDecimalValue" >
            USEFUL_LIFE_FROM = NULL ,
          </when>
          <otherwise >
            USEFUL_LIFE_FROM = #{USEFUL_LIFE_FROM},
          </otherwise>
        </choose>
      </if>
      <if test="DEFAULT_USEFUL_LIFE != null" >
        <choose >
          <when test="DEFAULT_USEFUL_LIFE == emptyBigDecimalValue" >
            DEFAULT_USEFUL_LIFE = NULL ,
          </when>
          <otherwise >
            DEFAULT_USEFUL_LIFE = #{DEFAULT_USEFUL_LIFE},
          </otherwise>
        </choose>
      </if>
      <if test="DEPRECIATION_METHOD != null" >
        <choose >
          <when test="DEPRECIATION_METHOD == emptyBigDecimalValue" >
            DEPRECIATION_METHOD = NULL ,
          </when>
          <otherwise >
            DEPRECIATION_METHOD = #{DEPRECIATION_METHOD},
          </otherwise>
        </choose>
      </if>
      <if test="DEFAULT_SALVAGE_VALUE != null" >
        <choose >
          <when test="DEFAULT_SALVAGE_VALUE == emptyBigDecimalValue" >
            DEFAULT_SALVAGE_VALUE = NULL ,
          </when>
          <otherwise >
            DEFAULT_SALVAGE_VALUE = #{DEFAULT_SALVAGE_VALUE},
          </otherwise>
        </choose>
      </if>
      <if test="ESTIMATED_UNITS != null" >
        <choose >
          <when test="ESTIMATED_UNITS == emptyBigDecimalValue" >
            ESTIMATED_UNITS = NULL ,
          </when>
          <otherwise >
            ESTIMATED_UNITS = #{ESTIMATED_UNITS},
          </otherwise>
        </choose>
      </if>
      <if test="PERCENT_DECLINING != null" >
        <choose >
          <when test="PERCENT_DECLINING == emptyBigDecimalValue" >
            PERCENT_DECLINING = NULL ,
          </when>
          <otherwise >
            PERCENT_DECLINING = #{PERCENT_DECLINING},
          </otherwise>
        </choose>
      </if>
      <if test="ASSET_IS_LAND != null" >
        <choose >
          <when test="ASSET_IS_LAND == emptyBigDecimalValue" >
            ASSET_IS_LAND = NULL ,
          </when>
          <otherwise >
            ASSET_IS_LAND = #{ASSET_IS_LAND},
          </otherwise>
        </choose>
      </if>
      <if test="SLV_AMT_PERC_FLAG != null" >
        <choose >
          <when test="SLV_AMT_PERC_FLAG == emptyBigDecimalValue" >
            SLV_AMT_PERC_FLAG = NULL ,
          </when>
          <otherwise >
            SLV_AMT_PERC_FLAG = #{SLV_AMT_PERC_FLAG},
          </otherwise>
        </choose>
      </if>
      <if test="ASSET_TYPE != null" >
        <choose >
          <when test="ASSET_TYPE == emptyBigDecimalValue" >
            ASSET_TYPE = NULL ,
          </when>
          <otherwise >
            ASSET_TYPE = #{ASSET_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="TITLE5 != null" >
        <choose >
          <when test="TITLE5.equals(&quot;&quot;)" >
            TITLE5 = NULL ,
          </when>
          <otherwise >
            TITLE5 = #{TITLE5},
          </otherwise>
        </choose>
      </if>
      <if test="TITLE6 != null" >
        <choose >
          <when test="TITLE6.equals(&quot;&quot;)" >
            TITLE6 = NULL ,
          </when>
          <otherwise >
            TITLE6 = #{TITLE6},
          </otherwise>
        </choose>
      </if>
      <if test="ASSET_MIN_VALUE != null" >
        <choose >
          <when test="ASSET_MIN_VALUE == emptyBigDecimalValue" >
            ASSET_MIN_VALUE = NULL ,
          </when>
          <otherwise >
            ASSET_MIN_VALUE = #{ASSET_MIN_VALUE},
          </otherwise>
        </choose>
      </if>
      <if test="DEPRECIATION_RATE != null" >
        <choose >
          <when test="DEPRECIATION_RATE == emptyBigDecimalValue" >
            DEPRECIATION_RATE = NULL ,
          </when>
          <otherwise >
            DEPRECIATION_RATE = #{DEPRECIATION_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="DEPRECIATE_BY_PERC != null" >
        <choose >
          <when test="DEPRECIATE_BY_PERC.equals(&quot;&quot;)" >
            DEPRECIATE_BY_PERC = NULL ,
          </when>
          <otherwise >
            DEPRECIATE_BY_PERC = #{DEPRECIATE_BY_PERC},
          </otherwise>
        </choose>
      </if>
      <if test="DEPRECIATION_BASIS != null" >
        <choose >
          <when test="DEPRECIATION_BASIS == emptyBigDecimalValue" >
            DEPRECIATION_BASIS = NULL ,
          </when>
          <otherwise >
            DEPRECIATION_BASIS = #{DEPRECIATION_BASIS},
          </otherwise>
        </choose>
      </if>
      <if test="TEMPLATE_CODE_ADDITION != null" >
        <choose >
          <when test="TEMPLATE_CODE_ADDITION == emptyBigDecimalValue" >
            TEMPLATE_CODE_ADDITION = NULL ,
          </when>
          <otherwise >
            TEMPLATE_CODE_ADDITION = #{TEMPLATE_CODE_ADDITION},
          </otherwise>
        </choose>
      </if>
      <if test="TEMPLATE_CODE_ASSET_MNTNCE != null" >
        <choose >
          <when test="TEMPLATE_CODE_ASSET_MNTNCE == emptyBigDecimalValue" >
            TEMPLATE_CODE_ASSET_MNTNCE = NULL ,
          </when>
          <otherwise >
            TEMPLATE_CODE_ASSET_MNTNCE = #{TEMPLATE_CODE_ASSET_MNTNCE},
          </otherwise>
        </choose>
      </if>
      <if test="TEMPLATE_CODE_CAPTAL_EXPNDTRE != null" >
        <choose >
          <when test="TEMPLATE_CODE_CAPTAL_EXPNDTRE == emptyBigDecimalValue" >
            TEMPLATE_CODE_CAPTAL_EXPNDTRE = NULL ,
          </when>
          <otherwise >
            TEMPLATE_CODE_CAPTAL_EXPNDTRE = #{TEMPLATE_CODE_CAPTAL_EXPNDTRE},
          </otherwise>
        </choose>
      </if>
      <if test="TEMPLATE_CODE_DEPRECIATION != null" >
        <choose >
          <when test="TEMPLATE_CODE_DEPRECIATION == emptyBigDecimalValue" >
            TEMPLATE_CODE_DEPRECIATION = NULL ,
          </when>
          <otherwise >
            TEMPLATE_CODE_DEPRECIATION = #{TEMPLATE_CODE_DEPRECIATION},
          </otherwise>
        </choose>
      </if>
      <if test="TEMPLATE_CODE_PAYMENT != null" >
        <choose >
          <when test="TEMPLATE_CODE_PAYMENT == emptyBigDecimalValue" >
            TEMPLATE_CODE_PAYMENT = NULL ,
          </when>
          <otherwise >
            TEMPLATE_CODE_PAYMENT = #{TEMPLATE_CODE_PAYMENT},
          </otherwise>
        </choose>
      </if>
      <if test="TEMPLATE_CODE_PURCHASE_ORDER != null" >
        <choose >
          <when test="TEMPLATE_CODE_PURCHASE_ORDER == emptyBigDecimalValue" >
            TEMPLATE_CODE_PURCHASE_ORDER = NULL ,
          </when>
          <otherwise >
            TEMPLATE_CODE_PURCHASE_ORDER = #{TEMPLATE_CODE_PURCHASE_ORDER},
          </otherwise>
        </choose>
      </if>
      <if test="TEMPLATE_CODE_REINSTATE != null" >
        <choose >
          <when test="TEMPLATE_CODE_REINSTATE == emptyBigDecimalValue" >
            TEMPLATE_CODE_REINSTATE = NULL ,
          </when>
          <otherwise >
            TEMPLATE_CODE_REINSTATE = #{TEMPLATE_CODE_REINSTATE},
          </otherwise>
        </choose>
      </if>
      <if test="TEMPLATE_CODE_RETIREMENT != null" >
        <choose >
          <when test="TEMPLATE_CODE_RETIREMENT == emptyBigDecimalValue" >
            TEMPLATE_CODE_RETIREMENT = NULL ,
          </when>
          <otherwise >
            TEMPLATE_CODE_RETIREMENT = #{TEMPLATE_CODE_RETIREMENT},
          </otherwise>
        </choose>
      </if>
      <if test="TEMPLATE_CODE_REVALUATION != null" >
        <choose >
          <when test="TEMPLATE_CODE_REVALUATION == emptyBigDecimalValue" >
            TEMPLATE_CODE_REVALUATION = NULL ,
          </when>
          <otherwise >
            TEMPLATE_CODE_REVALUATION = #{TEMPLATE_CODE_REVALUATION},
          </otherwise>
        </choose>
      </if>
      <if test="TEMPLATE_CODE_SELNG_RTRD_ASTS != null" >
        <choose >
          <when test="TEMPLATE_CODE_SELNG_RTRD_ASTS == emptyBigDecimalValue" >
            TEMPLATE_CODE_SELNG_RTRD_ASTS = NULL ,
          </when>
          <otherwise >
            TEMPLATE_CODE_SELNG_RTRD_ASTS = #{TEMPLATE_CODE_SELNG_RTRD_ASTS},
          </otherwise>
        </choose>
      </if>
      <if test="TEMPLATE_CODE_STATNRY_ADDTN != null" >
        <choose >
          <when test="TEMPLATE_CODE_STATNRY_ADDTN == emptyBigDecimalValue" >
            TEMPLATE_CODE_STATNRY_ADDTN = NULL ,
          </when>
          <otherwise >
            TEMPLATE_CODE_STATNRY_ADDTN = #{TEMPLATE_CODE_STATNRY_ADDTN},
          </otherwise>
        </choose>
      </if>
      <if test="TEMPLATE_CODE_STATNRY_RETRMNT != null" >
        <choose >
          <when test="TEMPLATE_CODE_STATNRY_RETRMNT == emptyBigDecimalValue" >
            TEMPLATE_CODE_STATNRY_RETRMNT = NULL ,
          </when>
          <otherwise >
            TEMPLATE_CODE_STATNRY_RETRMNT = #{TEMPLATE_CODE_STATNRY_RETRMNT},
          </otherwise>
        </choose>
      </if>
      <if test="TEMPLATE_CODE_STATNRY_TRNSFR != null" >
        <choose >
          <when test="TEMPLATE_CODE_STATNRY_TRNSFR == emptyBigDecimalValue" >
            TEMPLATE_CODE_STATNRY_TRNSFR = NULL ,
          </when>
          <otherwise >
            TEMPLATE_CODE_STATNRY_TRNSFR = #{TEMPLATE_CODE_STATNRY_TRNSFR},
          </otherwise>
        </choose>
      </if>
      <if test="TEMPLATE_CODE_TRANSFER_BETWN != null" >
        <choose >
          <when test="TEMPLATE_CODE_TRANSFER_BETWN == emptyBigDecimalValue" >
            TEMPLATE_CODE_TRANSFER_BETWN = NULL ,
          </when>
          <otherwise >
            TEMPLATE_CODE_TRANSFER_BETWN = #{TEMPLATE_CODE_TRANSFER_BETWN},
          </otherwise>
        </choose>
      </if>
      <if test="TEMPLATE_CODE_TRANSFER_IN != null" >
        <choose >
          <when test="TEMPLATE_CODE_TRANSFER_IN == emptyBigDecimalValue" >
            TEMPLATE_CODE_TRANSFER_IN = NULL ,
          </when>
          <otherwise >
            TEMPLATE_CODE_TRANSFER_IN = #{TEMPLATE_CODE_TRANSFER_IN},
          </otherwise>
        </choose>
      </if>
      <if test="TEMPLATE_CODE_TRANSFER_OUT != null" >
        <choose >
          <when test="TEMPLATE_CODE_TRANSFER_OUT == emptyBigDecimalValue" >
            TEMPLATE_CODE_TRANSFER_OUT = NULL ,
          </when>
          <otherwise >
            TEMPLATE_CODE_TRANSFER_OUT = #{TEMPLATE_CODE_TRANSFER_OUT},
          </otherwise>
        </choose>
      </if>
      DATE_UPDATED = 
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
      <if test="TEMPLATE_CODE_DELIVERY != null" >
        <choose >
          <when test="TEMPLATE_CODE_DELIVERY == emptyBigDecimalValue" >
            TEMPLATE_CODE_DELIVERY = NULL ,
          </when>
          <otherwise >
            TEMPLATE_CODE_DELIVERY = #{TEMPLATE_CODE_DELIVERY},
          </otherwise>
        </choose>
      </if>
      <if test="TITLE10 != null" >
        <choose >
          <when test="TITLE10.equals(&quot;&quot;)" >
            TITLE10 = NULL ,
          </when>
          <otherwise >
            TITLE10 = #{TITLE10},
          </otherwise>
        </choose>
      </if>
      <if test="TITLE11 != null" >
        <choose >
          <when test="TITLE11.equals(&quot;&quot;)" >
            TITLE11 = NULL ,
          </when>
          <otherwise >
            TITLE11 = #{TITLE11},
          </otherwise>
        </choose>
      </if>
      <if test="TITLE12 != null" >
        <choose >
          <when test="TITLE12.equals(&quot;&quot;)" >
            TITLE12 = NULL ,
          </when>
          <otherwise >
            TITLE12 = #{TITLE12},
          </otherwise>
        </choose>
      </if>
      <if test="TITLE7 != null" >
        <choose >
          <when test="TITLE7.equals(&quot;&quot;)" >
            TITLE7 = NULL ,
          </when>
          <otherwise >
            TITLE7 = #{TITLE7},
          </otherwise>
        </choose>
      </if>
      <if test="TITLE8 != null" >
        <choose >
          <when test="TITLE8.equals(&quot;&quot;)" >
            TITLE8 = NULL ,
          </when>
          <otherwise >
            TITLE8 = #{TITLE8},
          </otherwise>
        </choose>
      </if>
      <if test="TITLE9 != null" >
        <choose >
          <when test="TITLE9.equals(&quot;&quot;)" >
            TITLE9 = NULL ,
          </when>
          <otherwise >
            TITLE9 = #{TITLE9},
          </otherwise>
        </choose>
      </if>
      <if test="AFFECT_PO_COMMITMENT_ENTRY_YN != null" >
        <choose >
          <when test="AFFECT_PO_COMMITMENT_ENTRY_YN.equals(&quot;&quot;)" >
            AFFECT_PO_COMMITMENT_ENTRY_YN = NULL ,
          </when>
          <otherwise >
            AFFECT_PO_COMMITMENT_ENTRY_YN = #{AFFECT_PO_COMMITMENT_ENTRY_YN},
          </otherwise>
        </choose>
      </if>
      <if test="ON_OFF_BS_ACCOUNTS != null" >
        <choose >
          <when test="ON_OFF_BS_ACCOUNTS.equals(&quot;&quot;)" >
            ON_OFF_BS_ACCOUNTS = NULL ,
          </when>
          <otherwise >
            ON_OFF_BS_ACCOUNTS = #{ON_OFF_BS_ACCOUNTS},
          </otherwise>
        </choose>
      </if>
      <if test="PO_PRICE_TOLERANCE_MSG_TYPE != null" >
        <choose >
          <when test="PO_PRICE_TOLERANCE_MSG_TYPE.equals(&quot;&quot;)" >
            PO_PRICE_TOLERANCE_MSG_TYPE = NULL ,
          </when>
          <otherwise >
            PO_PRICE_TOLERANCE_MSG_TYPE = #{PO_PRICE_TOLERANCE_MSG_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="PO_PRICE_TOLERANCE_PERCENT != null" >
        <choose >
          <when test="PO_PRICE_TOLERANCE_PERCENT == emptyBigDecimalValue" >
            PO_PRICE_TOLERANCE_PERCENT = NULL ,
          </when>
          <otherwise >
            PO_PRICE_TOLERANCE_PERCENT = #{PO_PRICE_TOLERANCE_PERCENT},
          </otherwise>
        </choose>
      </if>
      <if test="SEPARATE_ADVPAYMT_REVENTRY_YN != null" >
        <choose >
          <when test="SEPARATE_ADVPAYMT_REVENTRY_YN.equals(&quot;&quot;)" >
            SEPARATE_ADVPAYMT_REVENTRY_YN = NULL ,
          </when>
          <otherwise >
            SEPARATE_ADVPAYMT_REVENTRY_YN = #{SEPARATE_ADVPAYMT_REVENTRY_YN},
          </otherwise>
        </choose>
      </if>
      <if test="TAX_ANNUAL_DEPRECIATION_RATE != null" >
        <choose >
          <when test="TAX_ANNUAL_DEPRECIATION_RATE == emptyBigDecimalValue" >
            TAX_ANNUAL_DEPRECIATION_RATE = NULL ,
          </when>
          <otherwise >
            TAX_ANNUAL_DEPRECIATION_RATE = #{TAX_ANNUAL_DEPRECIATION_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="TAX_DECLINING_FACTOR != null" >
        <choose >
          <when test="TAX_DECLINING_FACTOR == emptyBigDecimalValue" >
            TAX_DECLINING_FACTOR = NULL ,
          </when>
          <otherwise >
            TAX_DECLINING_FACTOR = #{TAX_DECLINING_FACTOR},
          </otherwise>
        </choose>
      </if>
      <if test="TAX_DEFAULT_USEFUL_LIFE != null" >
        <choose >
          <when test="TAX_DEFAULT_USEFUL_LIFE == emptyBigDecimalValue" >
            TAX_DEFAULT_USEFUL_LIFE = NULL ,
          </when>
          <otherwise >
            TAX_DEFAULT_USEFUL_LIFE = #{TAX_DEFAULT_USEFUL_LIFE},
          </otherwise>
        </choose>
      </if>
      <if test="TAX_DEPRECIATION_BASIS != null" >
        <choose >
          <when test="TAX_DEPRECIATION_BASIS == emptyBigDecimalValue" >
            TAX_DEPRECIATION_BASIS = NULL ,
          </when>
          <otherwise >
            TAX_DEPRECIATION_BASIS = #{TAX_DEPRECIATION_BASIS},
          </otherwise>
        </choose>
      </if>
      <if test="TAX_DEPRECIATION_BY_PERC_YN != null" >
        <choose >
          <when test="TAX_DEPRECIATION_BY_PERC_YN.equals(&quot;&quot;)" >
            TAX_DEPRECIATION_BY_PERC_YN = NULL ,
          </when>
          <otherwise >
            TAX_DEPRECIATION_BY_PERC_YN = #{TAX_DEPRECIATION_BY_PERC_YN},
          </otherwise>
        </choose>
      </if>
      <if test="TAX_DEPRECIATION_METHOD != null" >
        <choose >
          <when test="TAX_DEPRECIATION_METHOD == emptyBigDecimalValue" >
            TAX_DEPRECIATION_METHOD = NULL ,
          </when>
          <otherwise >
            TAX_DEPRECIATION_METHOD = #{TAX_DEPRECIATION_METHOD},
          </otherwise>
        </choose>
      </if>
      <if test="TAX_INIT_ALLOWANCE_PERC != null" >
        <choose >
          <when test="TAX_INIT_ALLOWANCE_PERC == emptyBigDecimalValue" >
            TAX_INIT_ALLOWANCE_PERC = NULL ,
          </when>
          <otherwise >
            TAX_INIT_ALLOWANCE_PERC = #{TAX_INIT_ALLOWANCE_PERC},
          </otherwise>
        </choose>
      </if>
      <if test="TAX_PRORATE_DAYS_YEAR_YN != null" >
        <choose >
          <when test="TAX_PRORATE_DAYS_YEAR_YN.equals(&quot;&quot;)" >
            TAX_PRORATE_DAYS_YEAR_YN = NULL ,
          </when>
          <otherwise >
            TAX_PRORATE_DAYS_YEAR_YN = #{TAX_PRORATE_DAYS_YEAR_YN},
          </otherwise>
        </choose>
      </if>
      <if test="ASSET_IN_ASSET_CURRENCY_YN != null" >
        <choose >
          <when test="ASSET_IN_ASSET_CURRENCY_YN.equals(&quot;&quot;)" >
            ASSET_IN_ASSET_CURRENCY_YN = NULL ,
          </when>
          <otherwise >
            ASSET_IN_ASSET_CURRENCY_YN = #{ASSET_IN_ASSET_CURRENCY_YN},
          </otherwise>
        </choose>
      </if>
      <if test="TEMPLATE_CODE_AMENDMENT != null" >
        <choose >
          <when test="TEMPLATE_CODE_AMENDMENT == emptyBigDecimalValue" >
            TEMPLATE_CODE_AMENDMENT = NULL ,
          </when>
          <otherwise >
            TEMPLATE_CODE_AMENDMENT = #{TEMPLATE_CODE_AMENDMENT},
          </otherwise>
        </choose>
      </if>
    </set>
    where CATEGORY_CODE = #{CATEGORY_CODE}
      and COMP_CODE = #{COMP_CODE}
  </sql>
  <update id="updateFASCAT" parameterType="com.path.dbmaps.vo.FASCATVO" >
    <include refid="sql_updateFASCAT" />
    <if test="DATE_UPDATED != null" >
      AND DATE_UPDATED = #{DATE_UPDATED}
    </if>
  </update>
</mapper>