<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="FASCLASS" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.FASCLASSVO" >
    <id column="CATEGORY_CODE" property="CATEGORY_CODE" />
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <result column="BRIEF_DESC_ENG" property="BRIEF_DESC_ENG" />
    <result column="LONG_DESC_ENG" property="LONG_DESC_ENG" />
    <result column="BRIEF_DESC_ARAB" property="BRIEF_DESC_ARAB" />
    <result column="LONG_DESC_ARAB" property="LONG_DESC_ARAB" />
    <result column="TITLE1" property="TITLE1" />
    <result column="TITLE2" property="TITLE2" />
    <result column="TITLE3" property="TITLE3" />
    <result column="TITLE4" property="TITLE4" />
    <result column="OWNED_LEASED" property="OWNED_LEASED" />
    <result column="DEFAULT_USEFUL_LIFE" property="DEFAULT_USEFUL_LIFE" />
    <result column="DEPRECIATION_METHOD" property="DEPRECIATION_METHOD" />
    <result column="CAPITALIZE_ON_ACQUISITION" property="CAPITALIZE_ON_ACQUISITION" />
    <result column="ESTIMATED_UNITS" property="ESTIMATED_UNITS" />
    <result column="OLD_DEPRECIATION_METHOD" property="OLD_DEPRECIATION_METHOD" />
    <result column="PERCENT_DECLINING" property="PERCENT_DECLINING" />
    <result column="TITLE5" property="TITLE5" />
    <result column="TITLE6" property="TITLE6" />
    <result column="ASSET_MIN_VALUE" property="ASSET_MIN_VALUE" />
    <result column="DEPRECIATION_RATE" property="DEPRECIATION_RATE" />
    <result column="REFERENCE" property="REFERENCE" />
    <result column="DEPRECIATION_BASIS" property="DEPRECIATION_BASIS" />
    <result column="DATE_UPDATED" property="DATE_UPDATED" />
    <result column="TITLE10" property="TITLE10" />
    <result column="TITLE11" property="TITLE11" />
    <result column="TITLE12" property="TITLE12" />
    <result column="TITLE7" property="TITLE7" />
    <result column="TITLE8" property="TITLE8" />
    <result column="TITLE9" property="TITLE9" />
    <result column="TAX_ANNUAL_DEPRECIATION_RATE" property="TAX_ANNUAL_DEPRECIATION_RATE" />
    <result column="TAX_DECLINING_FACTOR" property="TAX_DECLINING_FACTOR" />
    <result column="TAX_DEFAULT_USEFUL_LIFE" property="TAX_DEFAULT_USEFUL_LIFE" />
    <result column="TAX_DEPRECIATION_BASIS" property="TAX_DEPRECIATION_BASIS" />
    <result column="TAX_DEPRECIATION_METHOD" property="TAX_DEPRECIATION_METHOD" />
    <result column="TAX_INIT_ALLOWANCE_PERC" property="TAX_INIT_ALLOWANCE_PERC" />
    <result column="TAX_PRORATE_DAYS_YEAR_YN" property="TAX_PRORATE_DAYS_YEAR_YN" />
  </resultMap>
  <sql id="Base_Column_List" >
    CATEGORY_CODE, CODE, COMP_CODE, BRIEF_DESC_ENG, LONG_DESC_ENG, BRIEF_DESC_ARAB, LONG_DESC_ARAB, 
    TITLE1, TITLE2, TITLE3, TITLE4, OWNED_LEASED, DEFAULT_USEFUL_LIFE, DEPRECIATION_METHOD, 
    CAPITALIZE_ON_ACQUISITION, ESTIMATED_UNITS, OLD_DEPRECIATION_METHOD, PERCENT_DECLINING, 
    TITLE5, TITLE6, ASSET_MIN_VALUE, DEPRECIATION_RATE, REFERENCE, DEPRECIATION_BASIS, 
    DATE_UPDATED, TITLE10, TITLE11, TITLE12, TITLE7, TITLE8, TITLE9, TAX_ANNUAL_DEPRECIATION_RATE, 
    TAX_DECLINING_FACTOR, TAX_DEFAULT_USEFUL_LIFE, TAX_DEPRECIATION_BASIS, TAX_DEPRECIATION_METHOD, 
    TAX_INIT_ALLOWANCE_PERC, TAX_PRORATE_DAYS_YEAR_YN
  </sql>
  <select id="selectFASCLASS" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.FASCLASSVOKey" >
    select 
    <include refid="Base_Column_List" />
    from FASCLASS
    where CATEGORY_CODE = #{CATEGORY_CODE}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </select>
  <delete id="deleteFASCLASS" parameterType="com.path.dbmaps.vo.FASCLASSVOKey" >
    delete from FASCLASS
    where CATEGORY_CODE = #{CATEGORY_CODE}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </delete>
  <insert id="insertFASCLASS" parameterType="com.path.dbmaps.vo.FASCLASSVO" >
    insert into FASCLASS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CATEGORY_CODE != null and CATEGORY_CODE != emptyBigDecimalValue" >
        CATEGORY_CODE,
      </if>
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="BRIEF_DESC_ENG != null and !&quot;&quot;.equals(BRIEF_DESC_ENG)" >
        BRIEF_DESC_ENG,
      </if>
      <if test="LONG_DESC_ENG != null and !&quot;&quot;.equals(LONG_DESC_ENG)" >
        LONG_DESC_ENG,
      </if>
      <if test="BRIEF_DESC_ARAB != null and !&quot;&quot;.equals(BRIEF_DESC_ARAB)" >
        BRIEF_DESC_ARAB,
      </if>
      <if test="LONG_DESC_ARAB != null and !&quot;&quot;.equals(LONG_DESC_ARAB)" >
        LONG_DESC_ARAB,
      </if>
      <if test="TITLE1 != null and !&quot;&quot;.equals(TITLE1)" >
        TITLE1,
      </if>
      <if test="TITLE2 != null and !&quot;&quot;.equals(TITLE2)" >
        TITLE2,
      </if>
      <if test="TITLE3 != null and !&quot;&quot;.equals(TITLE3)" >
        TITLE3,
      </if>
      <if test="TITLE4 != null and !&quot;&quot;.equals(TITLE4)" >
        TITLE4,
      </if>
      <if test="OWNED_LEASED != null and OWNED_LEASED != emptyBigDecimalValue" >
        OWNED_LEASED,
      </if>
      <if test="DEFAULT_USEFUL_LIFE != null and DEFAULT_USEFUL_LIFE != emptyBigDecimalValue" >
        DEFAULT_USEFUL_LIFE,
      </if>
      <if test="DEPRECIATION_METHOD != null and DEPRECIATION_METHOD != emptyBigDecimalValue" >
        DEPRECIATION_METHOD,
      </if>
      <if test="CAPITALIZE_ON_ACQUISITION != null and CAPITALIZE_ON_ACQUISITION != emptyBigDecimalValue" >
        CAPITALIZE_ON_ACQUISITION,
      </if>
      <if test="ESTIMATED_UNITS != null and ESTIMATED_UNITS != emptyBigDecimalValue" >
        ESTIMATED_UNITS,
      </if>
      <if test="OLD_DEPRECIATION_METHOD != null and OLD_DEPRECIATION_METHOD != emptyBigDecimalValue" >
        OLD_DEPRECIATION_METHOD,
      </if>
      <if test="PERCENT_DECLINING != null and PERCENT_DECLINING != emptyBigDecimalValue" >
        PERCENT_DECLINING,
      </if>
      <if test="TITLE5 != null and !&quot;&quot;.equals(TITLE5)" >
        TITLE5,
      </if>
      <if test="TITLE6 != null and !&quot;&quot;.equals(TITLE6)" >
        TITLE6,
      </if>
      <if test="ASSET_MIN_VALUE != null and ASSET_MIN_VALUE != emptyBigDecimalValue" >
        ASSET_MIN_VALUE,
      </if>
      <if test="DEPRECIATION_RATE != null and DEPRECIATION_RATE != emptyBigDecimalValue" >
        DEPRECIATION_RATE,
      </if>
      <if test="REFERENCE != null and !&quot;&quot;.equals(REFERENCE)" >
        REFERENCE,
      </if>
      <if test="DEPRECIATION_BASIS != null and DEPRECIATION_BASIS != emptyBigDecimalValue" >
        DEPRECIATION_BASIS,
      </if>
      DATE_UPDATED,
      <if test="TITLE10 != null and !&quot;&quot;.equals(TITLE10)" >
        TITLE10,
      </if>
      <if test="TITLE11 != null and !&quot;&quot;.equals(TITLE11)" >
        TITLE11,
      </if>
      <if test="TITLE12 != null and !&quot;&quot;.equals(TITLE12)" >
        TITLE12,
      </if>
      <if test="TITLE7 != null and !&quot;&quot;.equals(TITLE7)" >
        TITLE7,
      </if>
      <if test="TITLE8 != null and !&quot;&quot;.equals(TITLE8)" >
        TITLE8,
      </if>
      <if test="TITLE9 != null and !&quot;&quot;.equals(TITLE9)" >
        TITLE9,
      </if>
      <if test="TAX_ANNUAL_DEPRECIATION_RATE != null and TAX_ANNUAL_DEPRECIATION_RATE != emptyBigDecimalValue" >
        TAX_ANNUAL_DEPRECIATION_RATE,
      </if>
      <if test="TAX_DECLINING_FACTOR != null and TAX_DECLINING_FACTOR != emptyBigDecimalValue" >
        TAX_DECLINING_FACTOR,
      </if>
      <if test="TAX_DEFAULT_USEFUL_LIFE != null and TAX_DEFAULT_USEFUL_LIFE != emptyBigDecimalValue" >
        TAX_DEFAULT_USEFUL_LIFE,
      </if>
      <if test="TAX_DEPRECIATION_BASIS != null and TAX_DEPRECIATION_BASIS != emptyBigDecimalValue" >
        TAX_DEPRECIATION_BASIS,
      </if>
      <if test="TAX_DEPRECIATION_METHOD != null and TAX_DEPRECIATION_METHOD != emptyBigDecimalValue" >
        TAX_DEPRECIATION_METHOD,
      </if>
      <if test="TAX_INIT_ALLOWANCE_PERC != null and TAX_INIT_ALLOWANCE_PERC != emptyBigDecimalValue" >
        TAX_INIT_ALLOWANCE_PERC,
      </if>
      <if test="TAX_PRORATE_DAYS_YEAR_YN != null and !&quot;&quot;.equals(TAX_PRORATE_DAYS_YEAR_YN)" >
        TAX_PRORATE_DAYS_YEAR_YN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CATEGORY_CODE != null and CATEGORY_CODE != emptyBigDecimalValue" >
        #{CATEGORY_CODE},
      </if>
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        #{CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="BRIEF_DESC_ENG != null and !&quot;&quot;.equals(BRIEF_DESC_ENG)" >
        #{BRIEF_DESC_ENG},
      </if>
      <if test="LONG_DESC_ENG != null and !&quot;&quot;.equals(LONG_DESC_ENG)" >
        #{LONG_DESC_ENG},
      </if>
      <if test="BRIEF_DESC_ARAB != null and !&quot;&quot;.equals(BRIEF_DESC_ARAB)" >
        #{BRIEF_DESC_ARAB},
      </if>
      <if test="LONG_DESC_ARAB != null and !&quot;&quot;.equals(LONG_DESC_ARAB)" >
        #{LONG_DESC_ARAB},
      </if>
      <if test="TITLE1 != null and !&quot;&quot;.equals(TITLE1)" >
        #{TITLE1},
      </if>
      <if test="TITLE2 != null and !&quot;&quot;.equals(TITLE2)" >
        #{TITLE2},
      </if>
      <if test="TITLE3 != null and !&quot;&quot;.equals(TITLE3)" >
        #{TITLE3},
      </if>
      <if test="TITLE4 != null and !&quot;&quot;.equals(TITLE4)" >
        #{TITLE4},
      </if>
      <if test="OWNED_LEASED != null and OWNED_LEASED != emptyBigDecimalValue" >
        #{OWNED_LEASED},
      </if>
      <if test="DEFAULT_USEFUL_LIFE != null and DEFAULT_USEFUL_LIFE != emptyBigDecimalValue" >
        #{DEFAULT_USEFUL_LIFE},
      </if>
      <if test="DEPRECIATION_METHOD != null and DEPRECIATION_METHOD != emptyBigDecimalValue" >
        #{DEPRECIATION_METHOD},
      </if>
      <if test="CAPITALIZE_ON_ACQUISITION != null and CAPITALIZE_ON_ACQUISITION != emptyBigDecimalValue" >
        #{CAPITALIZE_ON_ACQUISITION},
      </if>
      <if test="ESTIMATED_UNITS != null and ESTIMATED_UNITS != emptyBigDecimalValue" >
        #{ESTIMATED_UNITS},
      </if>
      <if test="OLD_DEPRECIATION_METHOD != null and OLD_DEPRECIATION_METHOD != emptyBigDecimalValue" >
        #{OLD_DEPRECIATION_METHOD},
      </if>
      <if test="PERCENT_DECLINING != null and PERCENT_DECLINING != emptyBigDecimalValue" >
        #{PERCENT_DECLINING},
      </if>
      <if test="TITLE5 != null and !&quot;&quot;.equals(TITLE5)" >
        #{TITLE5},
      </if>
      <if test="TITLE6 != null and !&quot;&quot;.equals(TITLE6)" >
        #{TITLE6},
      </if>
      <if test="ASSET_MIN_VALUE != null and ASSET_MIN_VALUE != emptyBigDecimalValue" >
        #{ASSET_MIN_VALUE},
      </if>
      <if test="DEPRECIATION_RATE != null and DEPRECIATION_RATE != emptyBigDecimalValue" >
        #{DEPRECIATION_RATE},
      </if>
      <if test="REFERENCE != null and !&quot;&quot;.equals(REFERENCE)" >
        #{REFERENCE},
      </if>
      <if test="DEPRECIATION_BASIS != null and DEPRECIATION_BASIS != emptyBigDecimalValue" >
        #{DEPRECIATION_BASIS},
      </if>
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
      <if test="TITLE10 != null and !&quot;&quot;.equals(TITLE10)" >
        #{TITLE10},
      </if>
      <if test="TITLE11 != null and !&quot;&quot;.equals(TITLE11)" >
        #{TITLE11},
      </if>
      <if test="TITLE12 != null and !&quot;&quot;.equals(TITLE12)" >
        #{TITLE12},
      </if>
      <if test="TITLE7 != null and !&quot;&quot;.equals(TITLE7)" >
        #{TITLE7},
      </if>
      <if test="TITLE8 != null and !&quot;&quot;.equals(TITLE8)" >
        #{TITLE8},
      </if>
      <if test="TITLE9 != null and !&quot;&quot;.equals(TITLE9)" >
        #{TITLE9},
      </if>
      <if test="TAX_ANNUAL_DEPRECIATION_RATE != null and TAX_ANNUAL_DEPRECIATION_RATE != emptyBigDecimalValue" >
        #{TAX_ANNUAL_DEPRECIATION_RATE},
      </if>
      <if test="TAX_DECLINING_FACTOR != null and TAX_DECLINING_FACTOR != emptyBigDecimalValue" >
        #{TAX_DECLINING_FACTOR},
      </if>
      <if test="TAX_DEFAULT_USEFUL_LIFE != null and TAX_DEFAULT_USEFUL_LIFE != emptyBigDecimalValue" >
        #{TAX_DEFAULT_USEFUL_LIFE},
      </if>
      <if test="TAX_DEPRECIATION_BASIS != null and TAX_DEPRECIATION_BASIS != emptyBigDecimalValue" >
        #{TAX_DEPRECIATION_BASIS},
      </if>
      <if test="TAX_DEPRECIATION_METHOD != null and TAX_DEPRECIATION_METHOD != emptyBigDecimalValue" >
        #{TAX_DEPRECIATION_METHOD},
      </if>
      <if test="TAX_INIT_ALLOWANCE_PERC != null and TAX_INIT_ALLOWANCE_PERC != emptyBigDecimalValue" >
        #{TAX_INIT_ALLOWANCE_PERC},
      </if>
      <if test="TAX_PRORATE_DAYS_YEAR_YN != null and !&quot;&quot;.equals(TAX_PRORATE_DAYS_YEAR_YN)" >
        #{TAX_PRORATE_DAYS_YEAR_YN},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateFASCLASS" >
    update FASCLASS
    <set >
      <if test="BRIEF_DESC_ENG != null" >
        <choose >
          <when test="BRIEF_DESC_ENG.equals(&quot;&quot;)" >
            BRIEF_DESC_ENG = NULL ,
          </when>
          <otherwise >
            BRIEF_DESC_ENG = #{BRIEF_DESC_ENG},
          </otherwise>
        </choose>
      </if>
      <if test="LONG_DESC_ENG != null" >
        <choose >
          <when test="LONG_DESC_ENG.equals(&quot;&quot;)" >
            LONG_DESC_ENG = NULL ,
          </when>
          <otherwise >
            LONG_DESC_ENG = #{LONG_DESC_ENG},
          </otherwise>
        </choose>
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        <choose >
          <when test="BRIEF_DESC_ARAB.equals(&quot;&quot;)" >
            BRIEF_DESC_ARAB = NULL ,
          </when>
          <otherwise >
            BRIEF_DESC_ARAB = #{BRIEF_DESC_ARAB},
          </otherwise>
        </choose>
      </if>
      <if test="LONG_DESC_ARAB != null" >
        <choose >
          <when test="LONG_DESC_ARAB.equals(&quot;&quot;)" >
            LONG_DESC_ARAB = NULL ,
          </when>
          <otherwise >
            LONG_DESC_ARAB = #{LONG_DESC_ARAB},
          </otherwise>
        </choose>
      </if>
      <if test="TITLE1 != null" >
        <choose >
          <when test="TITLE1.equals(&quot;&quot;)" >
            TITLE1 = NULL ,
          </when>
          <otherwise >
            TITLE1 = #{TITLE1},
          </otherwise>
        </choose>
      </if>
      <if test="TITLE2 != null" >
        <choose >
          <when test="TITLE2.equals(&quot;&quot;)" >
            TITLE2 = NULL ,
          </when>
          <otherwise >
            TITLE2 = #{TITLE2},
          </otherwise>
        </choose>
      </if>
      <if test="TITLE3 != null" >
        <choose >
          <when test="TITLE3.equals(&quot;&quot;)" >
            TITLE3 = NULL ,
          </when>
          <otherwise >
            TITLE3 = #{TITLE3},
          </otherwise>
        </choose>
      </if>
      <if test="TITLE4 != null" >
        <choose >
          <when test="TITLE4.equals(&quot;&quot;)" >
            TITLE4 = NULL ,
          </when>
          <otherwise >
            TITLE4 = #{TITLE4},
          </otherwise>
        </choose>
      </if>
      <if test="OWNED_LEASED != null" >
        <choose >
          <when test="OWNED_LEASED == emptyBigDecimalValue" >
            OWNED_LEASED = NULL ,
          </when>
          <otherwise >
            OWNED_LEASED = #{OWNED_LEASED},
          </otherwise>
        </choose>
      </if>
      <if test="DEFAULT_USEFUL_LIFE != null" >
        <choose >
          <when test="DEFAULT_USEFUL_LIFE == emptyBigDecimalValue" >
            DEFAULT_USEFUL_LIFE = NULL ,
          </when>
          <otherwise >
            DEFAULT_USEFUL_LIFE = #{DEFAULT_USEFUL_LIFE},
          </otherwise>
        </choose>
      </if>
      <if test="DEPRECIATION_METHOD != null" >
        <choose >
          <when test="DEPRECIATION_METHOD == emptyBigDecimalValue" >
            DEPRECIATION_METHOD = NULL ,
          </when>
          <otherwise >
            DEPRECIATION_METHOD = #{DEPRECIATION_METHOD},
          </otherwise>
        </choose>
      </if>
      <if test="CAPITALIZE_ON_ACQUISITION != null" >
        <choose >
          <when test="CAPITALIZE_ON_ACQUISITION == emptyBigDecimalValue" >
            CAPITALIZE_ON_ACQUISITION = NULL ,
          </when>
          <otherwise >
            CAPITALIZE_ON_ACQUISITION = #{CAPITALIZE_ON_ACQUISITION},
          </otherwise>
        </choose>
      </if>
      <if test="ESTIMATED_UNITS != null" >
        <choose >
          <when test="ESTIMATED_UNITS == emptyBigDecimalValue" >
            ESTIMATED_UNITS = NULL ,
          </when>
          <otherwise >
            ESTIMATED_UNITS = #{ESTIMATED_UNITS},
          </otherwise>
        </choose>
      </if>
      <if test="OLD_DEPRECIATION_METHOD != null" >
        <choose >
          <when test="OLD_DEPRECIATION_METHOD == emptyBigDecimalValue" >
            OLD_DEPRECIATION_METHOD = NULL ,
          </when>
          <otherwise >
            OLD_DEPRECIATION_METHOD = #{OLD_DEPRECIATION_METHOD},
          </otherwise>
        </choose>
      </if>
      <if test="PERCENT_DECLINING != null" >
        <choose >
          <when test="PERCENT_DECLINING == emptyBigDecimalValue" >
            PERCENT_DECLINING = NULL ,
          </when>
          <otherwise >
            PERCENT_DECLINING = #{PERCENT_DECLINING},
          </otherwise>
        </choose>
      </if>
      <if test="TITLE5 != null" >
        <choose >
          <when test="TITLE5.equals(&quot;&quot;)" >
            TITLE5 = NULL ,
          </when>
          <otherwise >
            TITLE5 = #{TITLE5},
          </otherwise>
        </choose>
      </if>
      <if test="TITLE6 != null" >
        <choose >
          <when test="TITLE6.equals(&quot;&quot;)" >
            TITLE6 = NULL ,
          </when>
          <otherwise >
            TITLE6 = #{TITLE6},
          </otherwise>
        </choose>
      </if>
      <if test="ASSET_MIN_VALUE != null" >
        <choose >
          <when test="ASSET_MIN_VALUE == emptyBigDecimalValue" >
            ASSET_MIN_VALUE = NULL ,
          </when>
          <otherwise >
            ASSET_MIN_VALUE = #{ASSET_MIN_VALUE},
          </otherwise>
        </choose>
      </if>
      <if test="DEPRECIATION_RATE != null" >
        <choose >
          <when test="DEPRECIATION_RATE == emptyBigDecimalValue" >
            DEPRECIATION_RATE = NULL ,
          </when>
          <otherwise >
            DEPRECIATION_RATE = #{DEPRECIATION_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="REFERENCE != null" >
        <choose >
          <when test="REFERENCE.equals(&quot;&quot;)" >
            REFERENCE = NULL ,
          </when>
          <otherwise >
            REFERENCE = #{REFERENCE},
          </otherwise>
        </choose>
      </if>
      <if test="DEPRECIATION_BASIS != null" >
        <choose >
          <when test="DEPRECIATION_BASIS == emptyBigDecimalValue" >
            DEPRECIATION_BASIS = NULL ,
          </when>
          <otherwise >
            DEPRECIATION_BASIS = #{DEPRECIATION_BASIS},
          </otherwise>
        </choose>
      </if>
      DATE_UPDATED = 
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
      <if test="TITLE10 != null" >
        <choose >
          <when test="TITLE10.equals(&quot;&quot;)" >
            TITLE10 = NULL ,
          </when>
          <otherwise >
            TITLE10 = #{TITLE10},
          </otherwise>
        </choose>
      </if>
      <if test="TITLE11 != null" >
        <choose >
          <when test="TITLE11.equals(&quot;&quot;)" >
            TITLE11 = NULL ,
          </when>
          <otherwise >
            TITLE11 = #{TITLE11},
          </otherwise>
        </choose>
      </if>
      <if test="TITLE12 != null" >
        <choose >
          <when test="TITLE12.equals(&quot;&quot;)" >
            TITLE12 = NULL ,
          </when>
          <otherwise >
            TITLE12 = #{TITLE12},
          </otherwise>
        </choose>
      </if>
      <if test="TITLE7 != null" >
        <choose >
          <when test="TITLE7.equals(&quot;&quot;)" >
            TITLE7 = NULL ,
          </when>
          <otherwise >
            TITLE7 = #{TITLE7},
          </otherwise>
        </choose>
      </if>
      <if test="TITLE8 != null" >
        <choose >
          <when test="TITLE8.equals(&quot;&quot;)" >
            TITLE8 = NULL ,
          </when>
          <otherwise >
            TITLE8 = #{TITLE8},
          </otherwise>
        </choose>
      </if>
      <if test="TITLE9 != null" >
        <choose >
          <when test="TITLE9.equals(&quot;&quot;)" >
            TITLE9 = NULL ,
          </when>
          <otherwise >
            TITLE9 = #{TITLE9},
          </otherwise>
        </choose>
      </if>
      <if test="TAX_ANNUAL_DEPRECIATION_RATE != null" >
        <choose >
          <when test="TAX_ANNUAL_DEPRECIATION_RATE == emptyBigDecimalValue" >
            TAX_ANNUAL_DEPRECIATION_RATE = NULL ,
          </when>
          <otherwise >
            TAX_ANNUAL_DEPRECIATION_RATE = #{TAX_ANNUAL_DEPRECIATION_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="TAX_DECLINING_FACTOR != null" >
        <choose >
          <when test="TAX_DECLINING_FACTOR == emptyBigDecimalValue" >
            TAX_DECLINING_FACTOR = NULL ,
          </when>
          <otherwise >
            TAX_DECLINING_FACTOR = #{TAX_DECLINING_FACTOR},
          </otherwise>
        </choose>
      </if>
      <if test="TAX_DEFAULT_USEFUL_LIFE != null" >
        <choose >
          <when test="TAX_DEFAULT_USEFUL_LIFE == emptyBigDecimalValue" >
            TAX_DEFAULT_USEFUL_LIFE = NULL ,
          </when>
          <otherwise >
            TAX_DEFAULT_USEFUL_LIFE = #{TAX_DEFAULT_USEFUL_LIFE},
          </otherwise>
        </choose>
      </if>
      <if test="TAX_DEPRECIATION_BASIS != null" >
        <choose >
          <when test="TAX_DEPRECIATION_BASIS == emptyBigDecimalValue" >
            TAX_DEPRECIATION_BASIS = NULL ,
          </when>
          <otherwise >
            TAX_DEPRECIATION_BASIS = #{TAX_DEPRECIATION_BASIS},
          </otherwise>
        </choose>
      </if>
      <if test="TAX_DEPRECIATION_METHOD != null" >
        <choose >
          <when test="TAX_DEPRECIATION_METHOD == emptyBigDecimalValue" >
            TAX_DEPRECIATION_METHOD = NULL ,
          </when>
          <otherwise >
            TAX_DEPRECIATION_METHOD = #{TAX_DEPRECIATION_METHOD},
          </otherwise>
        </choose>
      </if>
      <if test="TAX_INIT_ALLOWANCE_PERC != null" >
        <choose >
          <when test="TAX_INIT_ALLOWANCE_PERC == emptyBigDecimalValue" >
            TAX_INIT_ALLOWANCE_PERC = NULL ,
          </when>
          <otherwise >
            TAX_INIT_ALLOWANCE_PERC = #{TAX_INIT_ALLOWANCE_PERC},
          </otherwise>
        </choose>
      </if>
      <if test="TAX_PRORATE_DAYS_YEAR_YN != null" >
        <choose >
          <when test="TAX_PRORATE_DAYS_YEAR_YN.equals(&quot;&quot;)" >
            TAX_PRORATE_DAYS_YEAR_YN = NULL ,
          </when>
          <otherwise >
            TAX_PRORATE_DAYS_YEAR_YN = #{TAX_PRORATE_DAYS_YEAR_YN},
          </otherwise>
        </choose>
      </if>
    </set>
    where CATEGORY_CODE = #{CATEGORY_CODE}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </sql>
  <update id="updateFASCLASS" parameterType="com.path.dbmaps.vo.FASCLASSVO" >
    <include refid="sql_updateFASCLASS" />
    <if test="DATE_UPDATED != null" >
      AND DATE_UPDATED = #{DATE_UPDATED}
    </if>
  </update>
</mapper>