<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="FMS_FACILITY_RISK_RATING_HIST" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.FMS_FACILITY_RISK_RATING_HISTVO" >
    <id column="APP_CODE" property="APP_CODE" />
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="FACILITY_CODE" property="FACILITY_CODE" />
    <id column="LINE_NO" property="LINE_NO" />
    <id column="SUB_LINE_NO" property="SUB_LINE_NO" />
    <result column="FRR_SCORE" property="FRR_SCORE" />
    <result column="FRR_RATING" property="FRR_RATING" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="CREATED_DATE" property="CREATED_DATE" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="MODIFIED_DATE" property="MODIFIED_DATE" />
    <result column="VALUE_DATE" property="VALUE_DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    APP_CODE, BRANCH_CODE, COMP_CODE, FACILITY_CODE, LINE_NO, SUB_LINE_NO, FRR_SCORE, 
    FRR_RATING, CREATED_BY, CREATED_DATE, MODIFIED_BY, MODIFIED_DATE, VALUE_DATE
  </sql>
  <select id="selectFMS_FACILITY_RISK_RATING_HIST" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.FMS_FACILITY_RISK_RATING_HISTVOKey" >
    select 
    <include refid="Base_Column_List" />
    from FMS_FACILITY_RISK_RATING_HIST
    where APP_CODE = #{APP_CODE}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and FACILITY_CODE = #{FACILITY_CODE}
      and LINE_NO = #{LINE_NO}
      and SUB_LINE_NO = #{SUB_LINE_NO}
  </select>
  <delete id="deleteFMS_FACILITY_RISK_RATING_HIST" parameterType="com.path.dbmaps.vo.FMS_FACILITY_RISK_RATING_HISTVOKey" >
    delete from FMS_FACILITY_RISK_RATING_HIST
    where APP_CODE = #{APP_CODE}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and FACILITY_CODE = #{FACILITY_CODE}
      and LINE_NO = #{LINE_NO}
      and SUB_LINE_NO = #{SUB_LINE_NO}
  </delete>
  <insert id="insertFMS_FACILITY_RISK_RATING_HIST" parameterType="com.path.dbmaps.vo.FMS_FACILITY_RISK_RATING_HISTVO" >
    insert into FMS_FACILITY_RISK_RATING_HIST
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="APP_CODE != null and APP_CODE != emptyBigDecimalValue" >
        APP_CODE,
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="FACILITY_CODE != null and FACILITY_CODE != emptyBigDecimalValue" >
        FACILITY_CODE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="SUB_LINE_NO != null and SUB_LINE_NO != emptyBigDecimalValue" >
        SUB_LINE_NO,
      </if>
      <if test="FRR_SCORE != null and FRR_SCORE != emptyBigDecimalValue" >
        FRR_SCORE,
      </if>
      <if test="FRR_RATING != null and !&quot;&quot;.equals(FRR_RATING)" >
        FRR_RATING,
      </if>
      <if test="CREATED_BY != null and !&quot;&quot;.equals(CREATED_BY)" >
        CREATED_BY,
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE,
      </if>
      <if test="MODIFIED_BY != null and !&quot;&quot;.equals(MODIFIED_BY)" >
        MODIFIED_BY,
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE,
      </if>
      <if test="VALUE_DATE != null" >
        VALUE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="APP_CODE != null and APP_CODE != emptyBigDecimalValue" >
        #{APP_CODE},
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="FACILITY_CODE != null and FACILITY_CODE != emptyBigDecimalValue" >
        #{FACILITY_CODE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="SUB_LINE_NO != null and SUB_LINE_NO != emptyBigDecimalValue" >
        #{SUB_LINE_NO},
      </if>
      <if test="FRR_SCORE != null and FRR_SCORE != emptyBigDecimalValue" >
        #{FRR_SCORE},
      </if>
      <if test="FRR_RATING != null and !&quot;&quot;.equals(FRR_RATING)" >
        #{FRR_RATING},
      </if>
      <if test="CREATED_BY != null and !&quot;&quot;.equals(CREATED_BY)" >
        #{CREATED_BY},
      </if>
      <if test="CREATED_DATE != null" >
        #{CREATED_DATE},
      </if>
      <if test="MODIFIED_BY != null and !&quot;&quot;.equals(MODIFIED_BY)" >
        #{MODIFIED_BY},
      </if>
      <if test="MODIFIED_DATE != null" >
        #{MODIFIED_DATE},
      </if>
      <if test="VALUE_DATE != null" >
        #{VALUE_DATE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateFMS_FACILITY_RISK_RATING_HIST" >
    update FMS_FACILITY_RISK_RATING_HIST
    <set >
      <if test="FRR_SCORE != null" >
        <choose >
          <when test="FRR_SCORE == emptyBigDecimalValue" >
            FRR_SCORE = NULL ,
          </when>
          <otherwise >
            FRR_SCORE = #{FRR_SCORE},
          </otherwise>
        </choose>
      </if>
      <if test="FRR_RATING != null" >
        <choose >
          <when test="FRR_RATING.equals(&quot;&quot;)" >
            FRR_RATING = NULL ,
          </when>
          <otherwise >
            FRR_RATING = #{FRR_RATING},
          </otherwise>
        </choose>
      </if>
      <if test="CREATED_BY != null" >
        <choose >
          <when test="CREATED_BY.equals(&quot;&quot;)" >
            CREATED_BY = NULL ,
          </when>
          <otherwise >
            CREATED_BY = #{CREATED_BY},
          </otherwise>
        </choose>
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE = #{CREATED_DATE},
      </if>
      <if test="MODIFIED_BY != null" >
        <choose >
          <when test="MODIFIED_BY.equals(&quot;&quot;)" >
            MODIFIED_BY = NULL ,
          </when>
          <otherwise >
            MODIFIED_BY = #{MODIFIED_BY},
          </otherwise>
        </choose>
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE = #{MODIFIED_DATE},
      </if>
      <if test="VALUE_DATE != null" >
        VALUE_DATE = #{VALUE_DATE},
      </if>
    </set>
    where APP_CODE = #{APP_CODE}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and FACILITY_CODE = #{FACILITY_CODE}
      and LINE_NO = #{LINE_NO}
      and SUB_LINE_NO = #{SUB_LINE_NO}
  </sql>
  <update id="updateFMS_FACILITY_RISK_RATING_HIST" parameterType="com.path.dbmaps.vo.FMS_FACILITY_RISK_RATING_HISTVO" >
    <include refid="sql_updateFMS_FACILITY_RISK_RATING_HIST" />
  </update>
</mapper>