<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="FMS_FACILITY_ASSET" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.FMS_FACILITY_ASSETVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NO" property="LINE_NO" />
    <id column="SUBLIMIT_NO" property="SUBLIMIT_NO" />
    <result column="CATEGORY_CODE" property="CATEGORY_CODE" />
    <result column="CLASS_CODE" property="CLASS_CODE" />
    <result column="SL_NO" property="SL_NO" />
    <result column="CIF_NO" property="CIF_NO" />
    <result column="QUANTITY" property="QUANTITY" />
    <result column="UNIT" property="UNIT" />
    <result column="CURRENCY" property="CURRENCY" />
    <result column="UNIT_COST" property="UNIT_COST" />
    <result column="EXCH_RATE" property="EXCH_RATE" />
    <result column="ASSET_VALUE" property="ASSET_VALUE" />
    <result column="SALVAGE_PERCENT" property="SALVAGE_PERCENT" />
    <result column="SALVAGE_VALUE" property="SALVAGE_VALUE" />
    <result column="VAT_CODE" property="VAT_CODE" />
    <result column="VAT_PERCENT" property="VAT_PERCENT" />
    <result column="VAT_AMOUNT" property="VAT_AMOUNT" />
    <result column="ASSET_WITH_VAT_VALUE" property="ASSET_WITH_VAT_VALUE" />
    <result column="DOWN_PAYMENT_PERC" property="DOWN_PAYMENT_PERC" />
    <result column="DOWN_PAYMENT_AMT" property="DOWN_PAYMENT_AMT" />
    <result column="SECURITY_DEPOSIT_PERC" property="SECURITY_DEPOSIT_PERC" />
    <result column="SECURITY_DEPOSIT_AMT" property="SECURITY_DEPOSIT_AMT" />
    <result column="HAMISH_AL_JIDDIYA_PERC" property="HAMISH_AL_JIDDIYA_PERC" />
    <result column="HAMISH_DOWN_PAYMENT_PERC" property="HAMISH_DOWN_PAYMENT_PERC" />
    <result column="BALLOON_PERC" property="BALLOON_PERC" />
    <result column="HAMISH_AL_JIDDIYA_AMT" property="HAMISH_AL_JIDDIYA_AMT" />
    <result column="CASH_COLLATTERALS_AMT" property="CASH_COLLATTERALS_AMT" />
    <result column="HAMISH_DOWN_PAYMENT_AMT" property="HAMISH_DOWN_PAYMENT_AMT" />
    <result column="REFUND_AMOUNT" property="REFUND_AMOUNT" />
    <result column="INSURANCE_CODE" 	property="INSURANCE_CODE" />
    <result column="INSURANCE_RATE" 	property="INSURANCE_RATE" />
    <result column="INSURANCE_AMOUNT" 	property="INSURANCE_AMOUNT" />
    <result column="VENDOR_DOWN_PAYMENT_AMT" 	property="VENDOR_DOWN_PAYMENT_AMT" />
    <result column="VENDOR_DOWN_PAYMENT_PERC" 	property="VENDOR_DOWN_PAYMENT_PERC" />
    <result column="PROFIT_RATE" 				property="PROFIT_RATE" />
    <result column="INSURANCE_VAT_CODE" 		property="INSURANCE_VAT_CODE" />
    <result column="INSURANCE_VAT_AMOUNT" 		property="INSURANCE_VAT_AMOUNT" />   
    <result column="BALLOON_AMOUNT" 			property="BALLOON_AMOUNT" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, CODE, COMP_CODE, LINE_NO, SUBLIMIT_NO, CATEGORY_CODE, CLASS_CODE, SL_NO, 
    CIF_NO, QUANTITY, UNIT, CURRENCY, UNIT_COST, EXCH_RATE, ASSET_VALUE, SALVAGE_PERCENT, 
    SALVAGE_VALUE, VAT_CODE, VAT_PERCENT, VAT_AMOUNT, ASSET_WITH_VAT_VALUE, DOWN_PAYMENT_PERC, 
    DOWN_PAYMENT_AMT, SECURITY_DEPOSIT_PERC, SECURITY_DEPOSIT_AMT, HAMISH_AL_JIDDIYA_PERC, 
    HAMISH_DOWN_PAYMENT_PERC, BALLOON_PERC, HAMISH_AL_JIDDIYA_AMT, CASH_COLLATTERALS_AMT, 
    HAMISH_DOWN_PAYMENT_AMT, REFUND_AMOUNT, INSURANCE_CODE, INSURANCE_RATE, INSURANCE_AMOUNT,
    VENDOR_DOWN_PAYMENT_AMT, VENDOR_DOWN_PAYMENT_PERC, PROFIT_RATE, INSURANCE_VAT_CODE,
    INSURANCE_VAT_AMOUNT, BALLOON_AMOUNT
  </sql>
  <select id="selectFMS_FACILITY_ASSET" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.FMS_FACILITY_ASSETVOKey" >
    select 
    <include refid="Base_Column_List" />
    from FMS_FACILITY_ASSET
    where BRANCH_CODE = #{BRANCH_CODE}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and SUBLIMIT_NO = #{SUBLIMIT_NO}
  </select>
  <delete id="deleteFMS_FACILITY_ASSET" parameterType="com.path.dbmaps.vo.FMS_FACILITY_ASSETVOKey" >
    delete from FMS_FACILITY_ASSET
    where BRANCH_CODE = #{BRANCH_CODE}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and SUBLIMIT_NO = #{SUBLIMIT_NO}
  </delete>
  <insert id="insertFMS_FACILITY_ASSET" parameterType="com.path.dbmaps.vo.FMS_FACILITY_ASSETVO" >
    insert into FMS_FACILITY_ASSET
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="SUBLIMIT_NO != null and SUBLIMIT_NO != emptyBigDecimalValue" >
        SUBLIMIT_NO,
      </if>
      <if test="CATEGORY_CODE != null and CATEGORY_CODE != emptyBigDecimalValue" >
        CATEGORY_CODE,
      </if>
      <if test="CLASS_CODE != null and CLASS_CODE != emptyBigDecimalValue" >
        CLASS_CODE,
      </if>
      <if test="SL_NO != null and SL_NO != emptyBigDecimalValue" >
        SL_NO,
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        CIF_NO,
      </if>
      <if test="QUANTITY != null and QUANTITY != emptyBigDecimalValue" >
        QUANTITY,
      </if>
      <if test="UNIT != null and !&quot;&quot;.equals(UNIT)" >
        UNIT,
      </if>
      <if test="CURRENCY != null and CURRENCY != emptyBigDecimalValue" >
        CURRENCY,
      </if>
      <if test="UNIT_COST != null and UNIT_COST != emptyBigDecimalValue" >
        UNIT_COST,
      </if>
      <if test="EXCH_RATE != null and EXCH_RATE != emptyBigDecimalValue" >
        EXCH_RATE,
      </if>
      <if test="ASSET_VALUE != null and ASSET_VALUE != emptyBigDecimalValue" >
        ASSET_VALUE,
      </if>
      <if test="SALVAGE_PERCENT != null and SALVAGE_PERCENT != emptyBigDecimalValue" >
        SALVAGE_PERCENT,
      </if>
      <if test="SALVAGE_VALUE != null and SALVAGE_VALUE != emptyBigDecimalValue" >
        SALVAGE_VALUE,
      </if>
      <if test="VAT_CODE != null and VAT_CODE != emptyBigDecimalValue" >
        VAT_CODE,
      </if>
      <if test="VAT_PERCENT != null and VAT_PERCENT != emptyBigDecimalValue" >
        VAT_PERCENT,
      </if>
      <if test="VAT_AMOUNT != null and VAT_AMOUNT != emptyBigDecimalValue" >
        VAT_AMOUNT,
      </if>
      <if test="ASSET_WITH_VAT_VALUE != null and ASSET_WITH_VAT_VALUE != emptyBigDecimalValue" >
        ASSET_WITH_VAT_VALUE,
      </if>
      <if test="DOWN_PAYMENT_PERC != null and DOWN_PAYMENT_PERC != emptyBigDecimalValue" >
        DOWN_PAYMENT_PERC,
      </if>
      <if test="DOWN_PAYMENT_AMT != null and DOWN_PAYMENT_AMT != emptyBigDecimalValue" >
        DOWN_PAYMENT_AMT,
      </if>
      <if test="SECURITY_DEPOSIT_PERC != null and SECURITY_DEPOSIT_PERC != emptyBigDecimalValue" >
        SECURITY_DEPOSIT_PERC,
      </if>
      <if test="SECURITY_DEPOSIT_AMT != null and SECURITY_DEPOSIT_AMT != emptyBigDecimalValue" >
        SECURITY_DEPOSIT_AMT,
      </if>
      <if test="HAMISH_AL_JIDDIYA_PERC != null and HAMISH_AL_JIDDIYA_PERC != emptyBigDecimalValue" >
        HAMISH_AL_JIDDIYA_PERC,
      </if>
      <if test="HAMISH_DOWN_PAYMENT_PERC != null and HAMISH_DOWN_PAYMENT_PERC != emptyBigDecimalValue" >
        HAMISH_DOWN_PAYMENT_PERC,
      </if>
      <if test="BALLOON_PERC != null and BALLOON_PERC != emptyBigDecimalValue" >
        BALLOON_PERC,
      </if>
      <if test="HAMISH_AL_JIDDIYA_AMT != null and HAMISH_AL_JIDDIYA_AMT != emptyBigDecimalValue" >
        HAMISH_AL_JIDDIYA_AMT,
      </if>
      <if test="CASH_COLLATTERALS_AMT != null and CASH_COLLATTERALS_AMT != emptyBigDecimalValue" >
        CASH_COLLATTERALS_AMT,
      </if>
      <if test="HAMISH_DOWN_PAYMENT_AMT != null and HAMISH_DOWN_PAYMENT_AMT != emptyBigDecimalValue" >
        HAMISH_DOWN_PAYMENT_AMT,
      </if>
      <if test="REFUND_AMOUNT != null and REFUND_AMOUNT != emptyBigDecimalValue" >
        REFUND_AMOUNT,
      </if>      
      <if test="INSURANCE_CODE != null and INSURANCE_CODE != emptyBigDecimalValue" >
        INSURANCE_CODE,
      </if>
      <if test="INSURANCE_RATE != null and INSURANCE_RATE != emptyBigDecimalValue" >
        INSURANCE_RATE,
      </if>
      <if test="INSURANCE_AMOUNT != null and INSURANCE_AMOUNT != emptyBigDecimalValue" >
        INSURANCE_AMOUNT,
      </if>
      <if test="VENDOR_DOWN_PAYMENT_AMT != null and VENDOR_DOWN_PAYMENT_AMT != emptyBigDecimalValue" >
        VENDOR_DOWN_PAYMENT_AMT,
      </if>
      <if test="VENDOR_DOWN_PAYMENT_PERC != null and VENDOR_DOWN_PAYMENT_PERC != emptyBigDecimalValue" >
        VENDOR_DOWN_PAYMENT_PERC,
      </if>
      <if test="PROFIT_RATE != null and PROFIT_RATE != emptyBigDecimalValue" >
        PROFIT_RATE,
      </if>      
      <if test="INSURANCE_VAT_CODE != null and INSURANCE_VAT_CODE != emptyBigDecimalValue" >
        INSURANCE_VAT_CODE,
      </if>
      <if test="INSURANCE_VAT_AMOUNT != null and INSURANCE_VAT_AMOUNT != emptyBigDecimalValue" >
        INSURANCE_VAT_AMOUNT,
      </if>
      <if test="BALLOON_AMOUNT != null and BALLOON_AMOUNT != emptyBigDecimalValue" >
        BALLOON_AMOUNT,
      </if>      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        #{CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="SUBLIMIT_NO != null and SUBLIMIT_NO != emptyBigDecimalValue" >
        #{SUBLIMIT_NO},
      </if>
      <if test="CATEGORY_CODE != null and CATEGORY_CODE != emptyBigDecimalValue" >
        #{CATEGORY_CODE},
      </if>
      <if test="CLASS_CODE != null and CLASS_CODE != emptyBigDecimalValue" >
        #{CLASS_CODE},
      </if>
      <if test="SL_NO != null and SL_NO != emptyBigDecimalValue" >
        #{SL_NO},
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        #{CIF_NO},
      </if>
      <if test="QUANTITY != null and QUANTITY != emptyBigDecimalValue" >
        #{QUANTITY},
      </if>
      <if test="UNIT != null and !&quot;&quot;.equals(UNIT)" >
        #{UNIT},
      </if>
      <if test="CURRENCY != null and CURRENCY != emptyBigDecimalValue" >
        #{CURRENCY},
      </if>
      <if test="UNIT_COST != null and UNIT_COST != emptyBigDecimalValue" >
        #{UNIT_COST},
      </if>
      <if test="EXCH_RATE != null and EXCH_RATE != emptyBigDecimalValue" >
        #{EXCH_RATE},
      </if>
      <if test="ASSET_VALUE != null and ASSET_VALUE != emptyBigDecimalValue" >
        #{ASSET_VALUE},
      </if>
      <if test="SALVAGE_PERCENT != null and SALVAGE_PERCENT != emptyBigDecimalValue" >
        #{SALVAGE_PERCENT},
      </if>
      <if test="SALVAGE_VALUE != null and SALVAGE_VALUE != emptyBigDecimalValue" >
        #{SALVAGE_VALUE},
      </if>
      <if test="VAT_CODE != null and VAT_CODE != emptyBigDecimalValue" >
        #{VAT_CODE},
      </if>
      <if test="VAT_PERCENT != null and VAT_PERCENT != emptyBigDecimalValue" >
        #{VAT_PERCENT},
      </if>
      <if test="VAT_AMOUNT != null and VAT_AMOUNT != emptyBigDecimalValue" >
        #{VAT_AMOUNT},
      </if>
      <if test="ASSET_WITH_VAT_VALUE != null and ASSET_WITH_VAT_VALUE != emptyBigDecimalValue" >
        #{ASSET_WITH_VAT_VALUE},
      </if>
      <if test="DOWN_PAYMENT_PERC != null and DOWN_PAYMENT_PERC != emptyBigDecimalValue" >
        #{DOWN_PAYMENT_PERC},
      </if>
      <if test="DOWN_PAYMENT_AMT != null and DOWN_PAYMENT_AMT != emptyBigDecimalValue" >
        #{DOWN_PAYMENT_AMT},
      </if>
      <if test="SECURITY_DEPOSIT_PERC != null and SECURITY_DEPOSIT_PERC != emptyBigDecimalValue" >
        #{SECURITY_DEPOSIT_PERC},
      </if>
      <if test="SECURITY_DEPOSIT_AMT != null and SECURITY_DEPOSIT_AMT != emptyBigDecimalValue" >
        #{SECURITY_DEPOSIT_AMT},
      </if>
      <if test="HAMISH_AL_JIDDIYA_PERC != null and HAMISH_AL_JIDDIYA_PERC != emptyBigDecimalValue" >
        #{HAMISH_AL_JIDDIYA_PERC},
      </if>
      <if test="HAMISH_DOWN_PAYMENT_PERC != null and HAMISH_DOWN_PAYMENT_PERC != emptyBigDecimalValue" >
        #{HAMISH_DOWN_PAYMENT_PERC},
      </if>
      <if test="BALLOON_PERC != null and BALLOON_PERC != emptyBigDecimalValue" >
        #{BALLOON_PERC},
      </if>
      <if test="HAMISH_AL_JIDDIYA_AMT != null and HAMISH_AL_JIDDIYA_AMT != emptyBigDecimalValue" >
        #{HAMISH_AL_JIDDIYA_AMT},
      </if>
      <if test="CASH_COLLATTERALS_AMT != null and CASH_COLLATTERALS_AMT != emptyBigDecimalValue" >
        #{CASH_COLLATTERALS_AMT},
      </if>
      <if test="HAMISH_DOWN_PAYMENT_AMT != null and HAMISH_DOWN_PAYMENT_AMT != emptyBigDecimalValue" >
        #{HAMISH_DOWN_PAYMENT_AMT},
      </if>
     <if test="REFUND_AMOUNT != null and REFUND_AMOUNT != emptyBigDecimalValue" >
       #{REFUND_AMOUNT},
      </if>
      <if test="INSURANCE_CODE != null and INSURANCE_CODE != emptyBigDecimalValue" >
       #{INSURANCE_CODE},
      </if>
      <if test="INSURANCE_RATE != null and INSURANCE_RATE != emptyBigDecimalValue" >
       #{INSURANCE_RATE},
      </if>
      <if test="INSURANCE_AMOUNT != null and INSURANCE_AMOUNT != emptyBigDecimalValue" >
       #{INSURANCE_AMOUNT},
      </if>
      <if test="VENDOR_DOWN_PAYMENT_AMT != null and VENDOR_DOWN_PAYMENT_AMT != emptyBigDecimalValue" >
       #{VENDOR_DOWN_PAYMENT_AMT},
      </if>
      <if test="VENDOR_DOWN_PAYMENT_PERC != null and VENDOR_DOWN_PAYMENT_PERC != emptyBigDecimalValue" >
       #{VENDOR_DOWN_PAYMENT_PERC},
      </if>
      <if test="PROFIT_RATE != null and PROFIT_RATE != emptyBigDecimalValue" >
       #{PROFIT_RATE},
      </if>      
      <if test="INSURANCE_VAT_CODE != null and INSURANCE_VAT_CODE != emptyBigDecimalValue" >
       #{INSURANCE_VAT_CODE},
      </if>
      <if test="INSURANCE_VAT_AMOUNT != null and INSURANCE_VAT_AMOUNT != emptyBigDecimalValue" >
       #{INSURANCE_VAT_AMOUNT},
      </if>
      <if test="BALLOON_AMOUNT != null and BALLOON_AMOUNT != emptyBigDecimalValue" >
       #{BALLOON_AMOUNT},
      </if>      
    </trim>
  </insert>
  <sql id="sql_updateFMS_FACILITY_ASSET" >
    update FMS_FACILITY_ASSET
    <set >
      <if test="CATEGORY_CODE != null" >
        <choose >
          <when test="CATEGORY_CODE == emptyBigDecimalValue" >
            CATEGORY_CODE = NULL ,
          </when>
          <otherwise >
            CATEGORY_CODE = #{CATEGORY_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="CLASS_CODE != null" >
        <choose >
          <when test="CLASS_CODE == emptyBigDecimalValue" >
            CLASS_CODE = NULL ,
          </when>
          <otherwise >
            CLASS_CODE = #{CLASS_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="SL_NO != null" >
        <choose >
          <when test="SL_NO == emptyBigDecimalValue" >
            SL_NO = NULL ,
          </when>
          <otherwise >
            SL_NO = #{SL_NO},
          </otherwise>
        </choose>
      </if>
      <if test="CIF_NO != null" >
        <choose >
          <when test="CIF_NO == emptyBigDecimalValue" >
            CIF_NO = NULL ,
          </when>
          <otherwise >
            CIF_NO = #{CIF_NO},
          </otherwise>
        </choose>
      </if>
      <if test="QUANTITY != null" >
        <choose >
          <when test="QUANTITY == emptyBigDecimalValue" >
            QUANTITY = NULL ,
          </when>
          <otherwise >
            QUANTITY = #{QUANTITY},
          </otherwise>
        </choose>
      </if>
      <if test="UNIT != null" >
        <choose >
          <when test="UNIT.equals(&quot;&quot;)" >
            UNIT = NULL ,
          </when>
          <otherwise >
            UNIT = #{UNIT},
          </otherwise>
        </choose>
      </if>
      <if test="CURRENCY != null" >
        <choose >
          <when test="CURRENCY == emptyBigDecimalValue" >
            CURRENCY = NULL ,
          </when>
          <otherwise >
            CURRENCY = #{CURRENCY},
          </otherwise>
        </choose>
      </if>
      <if test="UNIT_COST != null" >
        <choose >
          <when test="UNIT_COST == emptyBigDecimalValue" >
            UNIT_COST = NULL ,
          </when>
          <otherwise >
            UNIT_COST = #{UNIT_COST},
          </otherwise>
        </choose>
      </if>
      <if test="EXCH_RATE != null" >
        <choose >
          <when test="EXCH_RATE == emptyBigDecimalValue" >
            EXCH_RATE = NULL ,
          </when>
          <otherwise >
            EXCH_RATE = #{EXCH_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="ASSET_VALUE != null" >
        <choose >
          <when test="ASSET_VALUE == emptyBigDecimalValue" >
            ASSET_VALUE = NULL ,
          </when>
          <otherwise >
            ASSET_VALUE = #{ASSET_VALUE},
          </otherwise>
        </choose>
      </if>
      <if test="SALVAGE_PERCENT != null" >
        <choose >
          <when test="SALVAGE_PERCENT == emptyBigDecimalValue" >
            SALVAGE_PERCENT = NULL ,
          </when>
          <otherwise >
            SALVAGE_PERCENT = #{SALVAGE_PERCENT},
          </otherwise>
        </choose>
      </if>
      <if test="SALVAGE_VALUE != null" >
        <choose >
          <when test="SALVAGE_VALUE == emptyBigDecimalValue" >
            SALVAGE_VALUE = NULL ,
          </when>
          <otherwise >
            SALVAGE_VALUE = #{SALVAGE_VALUE},
          </otherwise>
        </choose>
      </if>
      <if test="VAT_CODE != null" >
        <choose >
          <when test="VAT_CODE == emptyBigDecimalValue" >
            VAT_CODE = NULL ,
          </when>
          <otherwise >
            VAT_CODE = #{VAT_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="VAT_PERCENT != null" >
        <choose >
          <when test="VAT_PERCENT == emptyBigDecimalValue" >
            VAT_PERCENT = NULL ,
          </when>
          <otherwise >
            VAT_PERCENT = #{VAT_PERCENT},
          </otherwise>
        </choose>
      </if>
      <if test="VAT_AMOUNT != null" >
        <choose >
          <when test="VAT_AMOUNT == emptyBigDecimalValue" >
            VAT_AMOUNT = NULL ,
          </when>
          <otherwise >
            VAT_AMOUNT = #{VAT_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="ASSET_WITH_VAT_VALUE != null" >
        <choose >
          <when test="ASSET_WITH_VAT_VALUE == emptyBigDecimalValue" >
            ASSET_WITH_VAT_VALUE = NULL ,
          </when>
          <otherwise >
            ASSET_WITH_VAT_VALUE = #{ASSET_WITH_VAT_VALUE},
          </otherwise>
        </choose>
      </if>
      <if test="DOWN_PAYMENT_PERC != null" >
        <choose >
          <when test="DOWN_PAYMENT_PERC == emptyBigDecimalValue" >
            DOWN_PAYMENT_PERC = NULL ,
          </when>
          <otherwise >
            DOWN_PAYMENT_PERC = #{DOWN_PAYMENT_PERC},
          </otherwise>
        </choose>
      </if>
      <if test="DOWN_PAYMENT_AMT != null" >
        <choose >
          <when test="DOWN_PAYMENT_AMT == emptyBigDecimalValue" >
            DOWN_PAYMENT_AMT = NULL ,
          </when>
          <otherwise >
            DOWN_PAYMENT_AMT = #{DOWN_PAYMENT_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="SECURITY_DEPOSIT_PERC != null" >
        <choose >
          <when test="SECURITY_DEPOSIT_PERC == emptyBigDecimalValue" >
            SECURITY_DEPOSIT_PERC = NULL ,
          </when>
          <otherwise >
            SECURITY_DEPOSIT_PERC = #{SECURITY_DEPOSIT_PERC},
          </otherwise>
        </choose>
      </if>
      <if test="SECURITY_DEPOSIT_AMT != null" >
        <choose >
          <when test="SECURITY_DEPOSIT_AMT == emptyBigDecimalValue" >
            SECURITY_DEPOSIT_AMT = NULL ,
          </when>
          <otherwise >
            SECURITY_DEPOSIT_AMT = #{SECURITY_DEPOSIT_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="HAMISH_AL_JIDDIYA_PERC != null" >
        <choose >
          <when test="HAMISH_AL_JIDDIYA_PERC == emptyBigDecimalValue" >
            HAMISH_AL_JIDDIYA_PERC = NULL ,
          </when>
          <otherwise >
            HAMISH_AL_JIDDIYA_PERC = #{HAMISH_AL_JIDDIYA_PERC},
          </otherwise>
        </choose>
      </if>
      <if test="HAMISH_DOWN_PAYMENT_PERC != null" >
        <choose >
          <when test="HAMISH_DOWN_PAYMENT_PERC == emptyBigDecimalValue" >
            HAMISH_DOWN_PAYMENT_PERC = NULL ,
          </when>
          <otherwise >
            HAMISH_DOWN_PAYMENT_PERC = #{HAMISH_DOWN_PAYMENT_PERC},
          </otherwise>
        </choose>
      </if>
      <if test="BALLOON_PERC != null" >
        <choose >
          <when test="BALLOON_PERC == emptyBigDecimalValue" >
            BALLOON_PERC = NULL ,
          </when>
          <otherwise >
            BALLOON_PERC = #{BALLOON_PERC},
          </otherwise>
        </choose>
      </if>
      <if test="HAMISH_AL_JIDDIYA_AMT != null" >
        <choose >
          <when test="HAMISH_AL_JIDDIYA_AMT == emptyBigDecimalValue" >
            HAMISH_AL_JIDDIYA_AMT = NULL ,
          </when>
          <otherwise >
            HAMISH_AL_JIDDIYA_AMT = #{HAMISH_AL_JIDDIYA_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="CASH_COLLATTERALS_AMT != null" >
        <choose >
          <when test="CASH_COLLATTERALS_AMT == emptyBigDecimalValue" >
            CASH_COLLATTERALS_AMT = NULL ,
          </when>
          <otherwise >
            CASH_COLLATTERALS_AMT = #{CASH_COLLATTERALS_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="HAMISH_DOWN_PAYMENT_AMT != null" >
        <choose >
          <when test="HAMISH_DOWN_PAYMENT_AMT == emptyBigDecimalValue" >
            HAMISH_DOWN_PAYMENT_AMT = NULL ,
          </when>
          <otherwise >
            HAMISH_DOWN_PAYMENT_AMT = #{HAMISH_DOWN_PAYMENT_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="REFUND_AMOUNT != null" >
        <choose >
          <when test="REFUND_AMOUNT == emptyBigDecimalValue" >
            REFUND_AMOUNT = NULL ,
          </when>
          <otherwise >
            REFUND_AMOUNT = #{REFUND_AMOUNT},
          </otherwise>
        </choose>
      </if>      
      <if test="INSURANCE_CODE != null" >
        <choose >
          <when test="INSURANCE_CODE == emptyBigDecimalValue" >
            INSURANCE_CODE = NULL ,
          </when>
          <otherwise >
            INSURANCE_CODE = #{INSURANCE_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="INSURANCE_RATE != null" >
        <choose >
          <when test="INSURANCE_RATE == emptyBigDecimalValue" >
            INSURANCE_RATE = NULL ,
          </when>
          <otherwise >
            INSURANCE_RATE = #{INSURANCE_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="INSURANCE_AMOUNT != null" >
        <choose >
          <when test="INSURANCE_AMOUNT == emptyBigDecimalValue" >
            INSURANCE_AMOUNT = NULL ,
          </when>
          <otherwise >
            INSURANCE_AMOUNT = #{INSURANCE_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="VENDOR_DOWN_PAYMENT_AMT != null" >
        <choose >
          <when test="VENDOR_DOWN_PAYMENT_AMT == emptyBigDecimalValue" >
            VENDOR_DOWN_PAYMENT_AMT = NULL ,
          </when>
          <otherwise >
            VENDOR_DOWN_PAYMENT_AMT = #{VENDOR_DOWN_PAYMENT_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="VENDOR_DOWN_PAYMENT_PERC != null" >
        <choose >
          <when test="VENDOR_DOWN_PAYMENT_PERC == emptyBigDecimalValue" >
            VENDOR_DOWN_PAYMENT_PERC = NULL ,
          </when>
          <otherwise >
            VENDOR_DOWN_PAYMENT_PERC = #{VENDOR_DOWN_PAYMENT_PERC},
          </otherwise>
        </choose>
      </if>
      <if test="PROFIT_RATE != null" >
        <choose >
          <when test="PROFIT_RATE == emptyBigDecimalValue" >
            PROFIT_RATE = NULL ,
          </when>
          <otherwise >
            PROFIT_RATE = #{PROFIT_RATE},
          </otherwise>
        </choose>
      </if>      
      <if test="INSURANCE_VAT_CODE != null" >
        <choose >
          <when test="INSURANCE_VAT_CODE == emptyBigDecimalValue" >
            INSURANCE_VAT_CODE = NULL ,
          </when>
          <otherwise >
            INSURANCE_VAT_CODE = #{INSURANCE_VAT_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="INSURANCE_VAT_AMOUNT != null" >
        <choose >
          <when test="INSURANCE_VAT_AMOUNT == emptyBigDecimalValue" >
            INSURANCE_VAT_AMOUNT = NULL ,
          </when>
          <otherwise >
            INSURANCE_VAT_AMOUNT = #{INSURANCE_VAT_AMOUNT},
          </otherwise>
        </choose>
      </if>      
      <if test="BALLOON_AMOUNT != null" >
        <choose >
          <when test="BALLOON_AMOUNT == emptyBigDecimalValue" >
            BALLOON_AMOUNT = NULL ,
          </when>
          <otherwise >
            BALLOON_AMOUNT = #{BALLOON_AMOUNT},
          </otherwise>
        </choose>
      </if>      
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and SUBLIMIT_NO = #{SUBLIMIT_NO}
  </sql>
  <update id="updateFMS_FACILITY_ASSET" parameterType="com.path.dbmaps.vo.FMS_FACILITY_ASSETVO" >
    <include refid="sql_updateFMS_FACILITY_ASSET" />
  </update>
</mapper>