<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="FMS_CORP_PKG" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.FMS_CORP_PKGVO" >
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <result column="CIF_NO" property="CIF_NO" />
    <result column="STATUS" property="STATUS" />
    <result column="RET_AGE" property="RET_AGE" />
    <result column="SUBSIDIZED" property="SUBSIDIZED" />
    <result column="REPAY_MODE" property="REPAY_MODE" />
    <result column="RATE" property="RATE" />
    <result column="CURRENCY" property="CURRENCY" />
    <result column="LIMIT" property="LIMIT" />
    <result column="UTILIZED" property="UTILIZED" />
    <result column="CORP_GROUP" property="CORP_GROUP" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="CREATED_DATE" property="CREATED_DATE" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="MODIFIED_DATE" property="MODIFIED_DATE" />
    <result column="APPROVED_BY" property="APPROVED_BY" />
    <result column="APPROVED_DATE" property="APPROVED_DATE" />
    <result column="REVERSED_BY" property="REVERSED_BY" />
    <result column="REVERSED_DATE" property="REVERSED_DATE" />
    <result column="DELETED_BY" property="DELETED_BY" />
    <result column="DELETED_DATE" property="DELETED_DATE" />
    <result column="DATE_UPDATED" property="DATE_UPDATED" />
    <result column="UPDATED_BY" property="UPDATED_BY" />
  </resultMap>
  <sql id="Base_Column_List" >
    CODE, COMP_CODE, CIF_NO, STATUS, RET_AGE, SUBSIDIZED, REPAY_MODE, RATE, CURRENCY, 
    LIMIT, UTILIZED, CORP_GROUP, CREATED_BY, CREATED_DATE, MODIFIED_BY, MODIFIED_DATE, 
    APPROVED_BY, APPROVED_DATE, REVERSED_BY, REVERSED_DATE, DELETED_BY, DELETED_DATE, 
    DATE_UPDATED, UPDATED_BY
  </sql>
  <select id="selectFMS_CORP_PKG" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.FMS_CORP_PKGVOKey" >
    select 
    <include refid="Base_Column_List" />
    from FMS_CORP_PKG
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </select>
  <delete id="deleteFMS_CORP_PKG" parameterType="com.path.dbmaps.vo.FMS_CORP_PKGVOKey" >
    delete from FMS_CORP_PKG
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </delete>
  <insert id="insertFMS_CORP_PKG" parameterType="com.path.dbmaps.vo.FMS_CORP_PKGVO" >
    insert into FMS_CORP_PKG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        CIF_NO,
      </if>
      <if test="STATUS != null and !&quot;&quot;.equals(STATUS)" >
        STATUS,
      </if>
      <if test="RET_AGE != null and RET_AGE != emptyBigDecimalValue" >
        RET_AGE,
      </if>
      <if test="SUBSIDIZED != null and !&quot;&quot;.equals(SUBSIDIZED)" >
        SUBSIDIZED,
      </if>
      <if test="REPAY_MODE != null and !&quot;&quot;.equals(REPAY_MODE)" >
        REPAY_MODE,
      </if>
      <if test="RATE != null and RATE != emptyBigDecimalValue" >
        RATE,
      </if>
      <if test="CURRENCY != null and CURRENCY != emptyBigDecimalValue" >
        CURRENCY,
      </if>
      <if test="LIMIT != null and LIMIT != emptyBigDecimalValue" >
        LIMIT,
      </if>
      <if test="UTILIZED != null and UTILIZED != emptyBigDecimalValue" >
        UTILIZED,
      </if>
      <if test="CORP_GROUP != null and !&quot;&quot;.equals(CORP_GROUP)" >
        CORP_GROUP,
      </if>
      <if test="CREATED_BY != null and !&quot;&quot;.equals(CREATED_BY)" >
        CREATED_BY,
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE,
      </if>
      <if test="MODIFIED_BY != null and !&quot;&quot;.equals(MODIFIED_BY)" >
        MODIFIED_BY,
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE,
      </if>
      <if test="APPROVED_BY != null and !&quot;&quot;.equals(APPROVED_BY)" >
        APPROVED_BY,
      </if>
      <if test="APPROVED_DATE != null" >
        APPROVED_DATE,
      </if>
      <if test="REVERSED_BY != null and !&quot;&quot;.equals(REVERSED_BY)" >
        REVERSED_BY,
      </if>
      <if test="REVERSED_DATE != null" >
        REVERSED_DATE,
      </if>
      <if test="DELETED_BY != null and !&quot;&quot;.equals(DELETED_BY)" >
        DELETED_BY,
      </if>
      <if test="DELETED_DATE != null" >
        DELETED_DATE,
      </if>
      DATE_UPDATED,
      <if test="UPDATED_BY != null and !&quot;&quot;.equals(UPDATED_BY)" >
        UPDATED_BY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        #{CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        #{CIF_NO},
      </if>
      <if test="STATUS != null and !&quot;&quot;.equals(STATUS)" >
        #{STATUS},
      </if>
      <if test="RET_AGE != null and RET_AGE != emptyBigDecimalValue" >
        #{RET_AGE},
      </if>
      <if test="SUBSIDIZED != null and !&quot;&quot;.equals(SUBSIDIZED)" >
        #{SUBSIDIZED},
      </if>
      <if test="REPAY_MODE != null and !&quot;&quot;.equals(REPAY_MODE)" >
        #{REPAY_MODE},
      </if>
      <if test="RATE != null and RATE != emptyBigDecimalValue" >
        #{RATE},
      </if>
      <if test="CURRENCY != null and CURRENCY != emptyBigDecimalValue" >
        #{CURRENCY},
      </if>
      <if test="LIMIT != null and LIMIT != emptyBigDecimalValue" >
        #{LIMIT},
      </if>
      <if test="UTILIZED != null and UTILIZED != emptyBigDecimalValue" >
        #{UTILIZED},
      </if>
      <if test="CORP_GROUP != null and !&quot;&quot;.equals(CORP_GROUP)" >
        #{CORP_GROUP},
      </if>
      <if test="CREATED_BY != null and !&quot;&quot;.equals(CREATED_BY)" >
        #{CREATED_BY},
      </if>
      <if test="CREATED_DATE != null" >
        #{CREATED_DATE},
      </if>
      <if test="MODIFIED_BY != null and !&quot;&quot;.equals(MODIFIED_BY)" >
        #{MODIFIED_BY},
      </if>
      <if test="MODIFIED_DATE != null" >
        #{MODIFIED_DATE},
      </if>
      <if test="APPROVED_BY != null and !&quot;&quot;.equals(APPROVED_BY)" >
        #{APPROVED_BY},
      </if>
      <if test="APPROVED_DATE != null" >
        #{APPROVED_DATE},
      </if>
      <if test="REVERSED_BY != null and !&quot;&quot;.equals(REVERSED_BY)" >
        #{REVERSED_BY},
      </if>
      <if test="REVERSED_DATE != null" >
        #{REVERSED_DATE},
      </if>
      <if test="DELETED_BY != null and !&quot;&quot;.equals(DELETED_BY)" >
        #{DELETED_BY},
      </if>
      <if test="DELETED_DATE != null" >
        #{DELETED_DATE},
      </if>
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
      <if test="UPDATED_BY != null and !&quot;&quot;.equals(UPDATED_BY)" >
        #{UPDATED_BY},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateFMS_CORP_PKG" >
    update FMS_CORP_PKG
    <set >
      <if test="CIF_NO != null" >
        <choose >
          <when test="CIF_NO == emptyBigDecimalValue" >
            CIF_NO = NULL ,
          </when>
          <otherwise >
            CIF_NO = #{CIF_NO},
          </otherwise>
        </choose>
      </if>
      <if test="STATUS != null" >
        <choose >
          <when test="STATUS.equals(&quot;&quot;)" >
            STATUS = NULL ,
          </when>
          <otherwise >
            STATUS = #{STATUS},
          </otherwise>
        </choose>
      </if>
      <if test="RET_AGE != null" >
        <choose >
          <when test="RET_AGE == emptyBigDecimalValue" >
            RET_AGE = NULL ,
          </when>
          <otherwise >
            RET_AGE = #{RET_AGE},
          </otherwise>
        </choose>
      </if>
      <if test="SUBSIDIZED != null" >
        <choose >
          <when test="SUBSIDIZED.equals(&quot;&quot;)" >
            SUBSIDIZED = NULL ,
          </when>
          <otherwise >
            SUBSIDIZED = #{SUBSIDIZED},
          </otherwise>
        </choose>
      </if>
      <if test="REPAY_MODE != null" >
        <choose >
          <when test="REPAY_MODE.equals(&quot;&quot;)" >
            REPAY_MODE = NULL ,
          </when>
          <otherwise >
            REPAY_MODE = #{REPAY_MODE},
          </otherwise>
        </choose>
      </if>
      <if test="RATE != null" >
        <choose >
          <when test="RATE == emptyBigDecimalValue" >
            RATE = NULL ,
          </when>
          <otherwise >
            RATE = #{RATE},
          </otherwise>
        </choose>
      </if>
      <if test="CURRENCY != null" >
        <choose >
          <when test="CURRENCY == emptyBigDecimalValue" >
            CURRENCY = NULL ,
          </when>
          <otherwise >
            CURRENCY = #{CURRENCY},
          </otherwise>
        </choose>
      </if>
      <if test="LIMIT != null" >
        <choose >
          <when test="LIMIT == emptyBigDecimalValue" >
            LIMIT = NULL ,
          </when>
          <otherwise >
            LIMIT = #{LIMIT},
          </otherwise>
        </choose>
      </if>
      <if test="UTILIZED != null" >
        <choose >
          <when test="UTILIZED == emptyBigDecimalValue" >
            UTILIZED = NULL ,
          </when>
          <otherwise >
            UTILIZED = #{UTILIZED},
          </otherwise>
        </choose>
      </if>
      <if test="CORP_GROUP != null" >
        <choose >
          <when test="CORP_GROUP.equals(&quot;&quot;)" >
            CORP_GROUP = NULL ,
          </when>
          <otherwise >
            CORP_GROUP = #{CORP_GROUP},
          </otherwise>
        </choose>
      </if>
      <if test="CREATED_BY != null" >
        <choose >
          <when test="CREATED_BY.equals(&quot;&quot;)" >
            CREATED_BY = NULL ,
          </when>
          <otherwise >
            CREATED_BY = #{CREATED_BY},
          </otherwise>
        </choose>
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE = #{CREATED_DATE},
      </if>
      <if test="MODIFIED_BY != null" >
        <choose >
          <when test="MODIFIED_BY.equals(&quot;&quot;)" >
            MODIFIED_BY = NULL ,
          </when>
          <otherwise >
            MODIFIED_BY = #{MODIFIED_BY},
          </otherwise>
        </choose>
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE = #{MODIFIED_DATE},
      </if>
      <if test="APPROVED_BY != null" >
        <choose >
          <when test="APPROVED_BY.equals(&quot;&quot;)" >
            APPROVED_BY = NULL ,
          </when>
          <otherwise >
            APPROVED_BY = #{APPROVED_BY},
          </otherwise>
        </choose>
      </if>
      <if test="APPROVED_DATE != null" >
        APPROVED_DATE = #{APPROVED_DATE},
      </if>
      <if test="REVERSED_BY != null" >
        <choose >
          <when test="REVERSED_BY.equals(&quot;&quot;)" >
            REVERSED_BY = NULL ,
          </when>
          <otherwise >
            REVERSED_BY = #{REVERSED_BY},
          </otherwise>
        </choose>
      </if>
      <if test="REVERSED_DATE != null" >
        REVERSED_DATE = #{REVERSED_DATE},
      </if>
      <if test="DELETED_BY != null" >
        <choose >
          <when test="DELETED_BY.equals(&quot;&quot;)" >
            DELETED_BY = NULL ,
          </when>
          <otherwise >
            DELETED_BY = #{DELETED_BY},
          </otherwise>
        </choose>
      </if>
      <if test="DELETED_DATE != null" >
        DELETED_DATE = #{DELETED_DATE},
      </if>
      DATE_UPDATED = 
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
      <if test="UPDATED_BY != null" >
        <choose >
          <when test="UPDATED_BY.equals(&quot;&quot;)" >
            UPDATED_BY = NULL ,
          </when>
          <otherwise >
            UPDATED_BY = #{UPDATED_BY},
          </otherwise>
        </choose>
      </if>
    </set>
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </sql>
  <update id="updateFMS_CORP_PKG" parameterType="com.path.dbmaps.vo.FMS_CORP_PKGVO" >
    <include refid="sql_updateFMS_CORP_PKG" />
    <if test="DATE_UPDATED != null" >
      AND DATE_UPDATED = #{DATE_UPDATED}
    </if>
  </update>
</mapper>