<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="FMS_TEMPLATE_PARTICIPANT_HDR" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.FMS_TEMPLATE_PARTICIPANT_HDRVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="TEMPLATE_CODE" property="TEMPLATE_CODE" />
    <result column="TEMPLATE_DATE" property="TEMPLATE_DATE" />
    <result column="STATUS" property="STATUS" />
    <result column="APPLICATION_CODE" property="APPLICATION_CODE" />
    <result column="FACILITY_NO" property="FACILITY_NO" />
    <result column="PARTICIPANT_DIST_METHOD" property="PARTICIPANT_DIST_METHOD" />
    <result column="REMARKS" property="REMARKS" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="DATE_CREATED" property="DATE_CREATED" />
    <result column="DELETED_BY" property="DELETED_BY" />
    <result column="DATE_DELETED" property="DATE_DELETED" />
    <result column="APPROVED_BY" property="APPROVED_BY" />
    <result column="DATE_APPROVED" property="DATE_APPROVED" />
    <result column="REVERSED_BY" property="REVERSED_BY" />
    <result column="DATE_REVERSED" property="DATE_REVERSED" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="DATE_MODIFIED" property="DATE_MODIFIED" />
    <result column="SAVED_AS_DRAFT" property="SAVED_AS_DRAFT" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, TEMPLATE_CODE, TEMPLATE_DATE, STATUS, APPLICATION_CODE, FACILITY_NO, 
    PARTICIPANT_DIST_METHOD, REMARKS, CREATED_BY, DATE_CREATED, DELETED_BY, DATE_DELETED, 
    APPROVED_BY, DATE_APPROVED, REVERSED_BY, DATE_REVERSED, MODIFIED_BY, DATE_MODIFIED, 
    SAVED_AS_DRAFT
  </sql>
  <select id="selectFMS_TEMPLATE_PARTICIPANT_HDR" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.FMS_TEMPLATE_PARTICIPANT_HDRVOKey" >
    select 
    <include refid="Base_Column_List" />
    from FMS_TEMPLATE_PARTICIPANT_HDR
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and TEMPLATE_CODE = #{TEMPLATE_CODE}
  </select>
  <delete id="deleteFMS_TEMPLATE_PARTICIPANT_HDR" parameterType="com.path.dbmaps.vo.FMS_TEMPLATE_PARTICIPANT_HDRVOKey" >
    delete from FMS_TEMPLATE_PARTICIPANT_HDR
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and TEMPLATE_CODE = #{TEMPLATE_CODE}
  </delete>
  <insert id="insertFMS_TEMPLATE_PARTICIPANT_HDR" parameterType="com.path.dbmaps.vo.FMS_TEMPLATE_PARTICIPANT_HDRVO" >
    insert into FMS_TEMPLATE_PARTICIPANT_HDR
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="TEMPLATE_CODE != null and TEMPLATE_CODE != emptyBigDecimalValue" >
        TEMPLATE_CODE,
      </if>
      <if test="TEMPLATE_DATE != null" >
        TEMPLATE_DATE,
      </if>
      <if test="STATUS != null and !&quot;&quot;.equals(STATUS)" >
        STATUS,
      </if>
      <if test="APPLICATION_CODE != null and APPLICATION_CODE != emptyBigDecimalValue" >
        APPLICATION_CODE,
      </if>
      <if test="FACILITY_NO != null and FACILITY_NO != emptyBigDecimalValue" >
        FACILITY_NO,
      </if>
      <if test="PARTICIPANT_DIST_METHOD != null and !&quot;&quot;.equals(PARTICIPANT_DIST_METHOD)" >
        PARTICIPANT_DIST_METHOD,
      </if>
      <if test="REMARKS != null and !&quot;&quot;.equals(REMARKS)" >
        REMARKS,
      </if>
      <if test="CREATED_BY != null and !&quot;&quot;.equals(CREATED_BY)" >
        CREATED_BY,
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED,
      </if>
      <if test="DELETED_BY != null and !&quot;&quot;.equals(DELETED_BY)" >
        DELETED_BY,
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED,
      </if>
      <if test="APPROVED_BY != null and !&quot;&quot;.equals(APPROVED_BY)" >
        APPROVED_BY,
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED,
      </if>
      <if test="REVERSED_BY != null and !&quot;&quot;.equals(REVERSED_BY)" >
        REVERSED_BY,
      </if>
      <if test="DATE_REVERSED != null" >
        DATE_REVERSED,
      </if>
      <if test="MODIFIED_BY != null and !&quot;&quot;.equals(MODIFIED_BY)" >
        MODIFIED_BY,
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED,
      </if>
      <if test="SAVED_AS_DRAFT != null and !&quot;&quot;.equals(SAVED_AS_DRAFT)" >
        SAVED_AS_DRAFT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="TEMPLATE_CODE != null and TEMPLATE_CODE != emptyBigDecimalValue" >
        #{TEMPLATE_CODE},
      </if>
      <if test="TEMPLATE_DATE != null" >
        #{TEMPLATE_DATE},
      </if>
      <if test="STATUS != null and !&quot;&quot;.equals(STATUS)" >
        #{STATUS},
      </if>
      <if test="APPLICATION_CODE != null and APPLICATION_CODE != emptyBigDecimalValue" >
        #{APPLICATION_CODE},
      </if>
      <if test="FACILITY_NO != null and FACILITY_NO != emptyBigDecimalValue" >
        #{FACILITY_NO},
      </if>
      <if test="PARTICIPANT_DIST_METHOD != null and !&quot;&quot;.equals(PARTICIPANT_DIST_METHOD)" >
        #{PARTICIPANT_DIST_METHOD},
      </if>
      <if test="REMARKS != null and !&quot;&quot;.equals(REMARKS)" >
        #{REMARKS},
      </if>
      <if test="CREATED_BY != null and !&quot;&quot;.equals(CREATED_BY)" >
        #{CREATED_BY},
      </if>
      <if test="DATE_CREATED != null" >
        #{DATE_CREATED},
      </if>
      <if test="DELETED_BY != null and !&quot;&quot;.equals(DELETED_BY)" >
        #{DELETED_BY},
      </if>
      <if test="DATE_DELETED != null" >
        #{DATE_DELETED},
      </if>
      <if test="APPROVED_BY != null and !&quot;&quot;.equals(APPROVED_BY)" >
        #{APPROVED_BY},
      </if>
      <if test="DATE_APPROVED != null" >
        #{DATE_APPROVED},
      </if>
      <if test="REVERSED_BY != null and !&quot;&quot;.equals(REVERSED_BY)" >
        #{REVERSED_BY},
      </if>
      <if test="DATE_REVERSED != null" >
        #{DATE_REVERSED},
      </if>
      <if test="MODIFIED_BY != null and !&quot;&quot;.equals(MODIFIED_BY)" >
        #{MODIFIED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        #{DATE_MODIFIED},
      </if>
      <if test="SAVED_AS_DRAFT != null and !&quot;&quot;.equals(SAVED_AS_DRAFT)" >
        #{SAVED_AS_DRAFT},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateFMS_TEMPLATE_PARTICIPANT_HDR" >
    update FMS_TEMPLATE_PARTICIPANT_HDR
    <set >
      <if test="TEMPLATE_DATE != null" >
        TEMPLATE_DATE = #{TEMPLATE_DATE},
      </if>
      <if test="STATUS != null" >
        <choose >
          <when test="STATUS.equals(&quot;&quot;)" >
            STATUS = NULL ,
          </when>
          <otherwise >
            STATUS = #{STATUS},
          </otherwise>
        </choose>
      </if>
      <if test="APPLICATION_CODE != null" >
        <choose >
          <when test="APPLICATION_CODE == emptyBigDecimalValue" >
            APPLICATION_CODE = NULL ,
          </when>
          <otherwise >
            APPLICATION_CODE = #{APPLICATION_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="FACILITY_NO != null" >
        <choose >
          <when test="FACILITY_NO == emptyBigDecimalValue" >
            FACILITY_NO = NULL ,
          </when>
          <otherwise >
            FACILITY_NO = #{FACILITY_NO},
          </otherwise>
        </choose>
      </if>
      <if test="PARTICIPANT_DIST_METHOD != null" >
        <choose >
          <when test="PARTICIPANT_DIST_METHOD.equals(&quot;&quot;)" >
            PARTICIPANT_DIST_METHOD = NULL ,
          </when>
          <otherwise >
            PARTICIPANT_DIST_METHOD = #{PARTICIPANT_DIST_METHOD},
          </otherwise>
        </choose>
      </if>
      <if test="REMARKS != null" >
        <choose >
          <when test="REMARKS.equals(&quot;&quot;)" >
            REMARKS = NULL ,
          </when>
          <otherwise >
            REMARKS = #{REMARKS},
          </otherwise>
        </choose>
      </if>
      <if test="CREATED_BY != null" >
        <choose >
          <when test="CREATED_BY.equals(&quot;&quot;)" >
            CREATED_BY = NULL ,
          </when>
          <otherwise >
            CREATED_BY = #{CREATED_BY},
          </otherwise>
        </choose>
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED = #{DATE_CREATED},
      </if>
      <if test="DELETED_BY != null" >
        <choose >
          <when test="DELETED_BY.equals(&quot;&quot;)" >
            DELETED_BY = NULL ,
          </when>
          <otherwise >
            DELETED_BY = #{DELETED_BY},
          </otherwise>
        </choose>
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED = #{DATE_DELETED},
      </if>
      <if test="APPROVED_BY != null" >
        <choose >
          <when test="APPROVED_BY.equals(&quot;&quot;)" >
            APPROVED_BY = NULL ,
          </when>
          <otherwise >
            APPROVED_BY = #{APPROVED_BY},
          </otherwise>
        </choose>
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED = #{DATE_APPROVED},
      </if>
      <if test="REVERSED_BY != null" >
        <choose >
          <when test="REVERSED_BY.equals(&quot;&quot;)" >
            REVERSED_BY = NULL ,
          </when>
          <otherwise >
            REVERSED_BY = #{REVERSED_BY},
          </otherwise>
        </choose>
      </if>
      <if test="DATE_REVERSED != null" >
        DATE_REVERSED = #{DATE_REVERSED},
      </if>
      <if test="MODIFIED_BY != null" >
        <choose >
          <when test="MODIFIED_BY.equals(&quot;&quot;)" >
            MODIFIED_BY = NULL ,
          </when>
          <otherwise >
            MODIFIED_BY = #{MODIFIED_BY},
          </otherwise>
        </choose>
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED = #{DATE_MODIFIED},
      </if>
      <if test="SAVED_AS_DRAFT != null" >
        <choose >
          <when test="SAVED_AS_DRAFT.equals(&quot;&quot;)" >
            SAVED_AS_DRAFT = NULL ,
          </when>
          <otherwise >
            SAVED_AS_DRAFT = #{SAVED_AS_DRAFT},
          </otherwise>
        </choose>
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and TEMPLATE_CODE = #{TEMPLATE_CODE}
  </sql>
  <update id="updateFMS_TEMPLATE_PARTICIPANT_HDR" parameterType="com.path.dbmaps.vo.FMS_TEMPLATE_PARTICIPANT_HDRVO" >
    <include refid="sql_updateFMS_TEMPLATE_PARTICIPANT_HDR" />
  </update>
</mapper>