<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="FMSAPPL_JOINT_CIF_DET" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.FMSAPPL_JOINT_CIF_DETVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NBR" property="LINE_NBR" />
    <id column="SUB_LIMIT_LINE_NBR" property="SUB_LIMIT_LINE_NBR" />
    <result column="CLASS" property="CLASS" />
    <result column="CIF_NO" property="CIF_NO" />
    <result column="REGIMENTAL_AGENT" property="REGIMENTAL_AGENT" />
    <result column="BUDGET_ALLOCATION" property="BUDGET_ALLOCATION" />
    <result column="CIF_PERC" property="CIF_PERC" />
    <result column="FACILITY_VALUE" property="FACILITY_VALUE" />
    <result column="DOWN_PAYMENT_AMT" property="DOWN_PAYMENT_AMT" />
    <result column="DOWN_PAYMENT_PERCENTAGE" property="DOWN_PAYMENT_PERCENTAGE" />
    <result column="ACC_BR" property="ACC_BR" />
    <result column="ACC_CY" property="ACC_CY" />
    <result column="ACC_GL" property="ACC_GL" />
    <result column="ACC_CIF" property="ACC_CIF" />
    <result column="ACC_SL_NO" property="ACC_SL_NO" />
    <result column="REFUND_TYPE" property="REFUND_TYPE" />
    <result column="HAMISH_AL_JIDDIYA_PERC" property="HAMISH_AL_JIDDIYA_PERC" />
    <result column="HAMISH_AL_JIDDIYA_AMT" property="HAMISH_AL_JIDDIYA_AMT" />
    <result column="CASH_COLLATTERALS_AMT" property="CASH_COLLATTERALS_AMT" />
    <result column="HAMISH_DOWN_PAYMENT_AMT" property="HAMISH_DOWN_PAYMENT_AMT" />
    <result column="COLLECTION_TEMPLATE_CODE" property="COLLECTION_TEMPLATE_CODE" />
    <result column="REFUND_TEMPLATE_CODE" property="REFUND_TEMPLATE_CODE" />
    <result column="HJ_INCREASE_DECREASE_PERC" property="HJ_INCREASE_DECREASE_PERC" />
    <result column="HJ_INCREASE_DECREASE_AMT" property="HJ_INCREASE_DECREASE_AMT" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="CREATED_DATE" property="CREATED_DATE" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="MODIFIED_DATE" property="MODIFIED_DATE" />
    <result column="FLOATING_RATE" property="FLOATING_RATE" />
    <result column="MARGIN_RATE" property="MARGIN_RATE" />
    <result column="CIF_PROFILE" property="CIF_PROFILE" />
    <result column="CONTRACTED_YN" property="CONTRACTED_YN" />
    <result column="PPR_YN" property="PPR_YN" />
    <result column="MATURITY_DATE" property="MATURITY_DATE" />
    <result column="PERIODICITY_NBR" property="PERIODICITY_NBR" />
    <result column="PERIODICITY_TYPE" property="PERIODICITY_TYPE" />
    <result column="VALUE_DATE" property="VALUE_DATE" />
    <result column="ACC_WITH_OTHER_BANKS" property="ACC_WITH_OTHER_BANKS" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, CODE, COMP_CODE, LINE_NBR, SUB_LIMIT_LINE_NBR, CLASS, CIF_NO, REGIMENTAL_AGENT, 
    BUDGET_ALLOCATION, CIF_PERC, FACILITY_VALUE, DOWN_PAYMENT_AMT, DOWN_PAYMENT_PERCENTAGE, 
    ACC_BR, ACC_CY, ACC_GL, ACC_CIF, ACC_SL_NO, REFUND_TYPE, HAMISH_AL_JIDDIYA_PERC, 
    HAMISH_AL_JIDDIYA_AMT, CASH_COLLATTERALS_AMT, HAMISH_DOWN_PAYMENT_AMT, COLLECTION_TEMPLATE_CODE, 
    REFUND_TEMPLATE_CODE, HJ_INCREASE_DECREASE_PERC, HJ_INCREASE_DECREASE_AMT, CREATED_BY, 
    CREATED_DATE, MODIFIED_BY, MODIFIED_DATE, FLOATING_RATE, MARGIN_RATE, CIF_PROFILE, 
    CONTRACTED_YN, PPR_YN, MATURITY_DATE, PERIODICITY_NBR, PERIODICITY_TYPE, VALUE_DATE, 
    ACC_WITH_OTHER_BANKS
  </sql>
  <select id="selectFMSAPPL_JOINT_CIF_DET" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.FMSAPPL_JOINT_CIF_DETVOKey" >
    select 
    <include refid="Base_Column_List" />
    from FMSAPPL_JOINT_CIF_DET
    where BRANCH_CODE = #{BRANCH_CODE}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NBR = #{LINE_NBR}
      and SUB_LIMIT_LINE_NBR = #{SUB_LIMIT_LINE_NBR}
  </select>
  <delete id="deleteFMSAPPL_JOINT_CIF_DET" parameterType="com.path.dbmaps.vo.FMSAPPL_JOINT_CIF_DETVOKey" >
    delete from FMSAPPL_JOINT_CIF_DET
    where BRANCH_CODE = #{BRANCH_CODE}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NBR = #{LINE_NBR}
      and SUB_LIMIT_LINE_NBR = #{SUB_LIMIT_LINE_NBR}
  </delete>
  <insert id="insertFMSAPPL_JOINT_CIF_DET" parameterType="com.path.dbmaps.vo.FMSAPPL_JOINT_CIF_DETVO" >
    insert into FMSAPPL_JOINT_CIF_DET
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NBR != null and LINE_NBR != emptyBigDecimalValue" >
        LINE_NBR,
      </if>
      <if test="SUB_LIMIT_LINE_NBR != null and SUB_LIMIT_LINE_NBR != emptyBigDecimalValue" >
        SUB_LIMIT_LINE_NBR,
      </if>
      <if test="CLASS != null and CLASS != emptyBigDecimalValue" >
        CLASS,
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        CIF_NO,
      </if>
      <if test="REGIMENTAL_AGENT != null and !&quot;&quot;.equals(REGIMENTAL_AGENT)" >
        REGIMENTAL_AGENT,
      </if>
      <if test="BUDGET_ALLOCATION != null and !&quot;&quot;.equals(BUDGET_ALLOCATION)" >
        BUDGET_ALLOCATION,
      </if>
      <if test="CIF_PERC != null and CIF_PERC != emptyBigDecimalValue" >
        CIF_PERC,
      </if>
      <if test="FACILITY_VALUE != null and FACILITY_VALUE != emptyBigDecimalValue" >
        FACILITY_VALUE,
      </if>
      <if test="DOWN_PAYMENT_AMT != null and DOWN_PAYMENT_AMT != emptyBigDecimalValue" >
        DOWN_PAYMENT_AMT,
      </if>
      <if test="DOWN_PAYMENT_PERCENTAGE != null and DOWN_PAYMENT_PERCENTAGE != emptyBigDecimalValue" >
        DOWN_PAYMENT_PERCENTAGE,
      </if>
      <if test="ACC_BR != null and ACC_BR != emptyBigDecimalValue" >
        ACC_BR,
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        ACC_CY,
      </if>
      <if test="ACC_GL != null and ACC_GL != emptyBigDecimalValue" >
        ACC_GL,
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        ACC_CIF,
      </if>
      <if test="ACC_SL_NO != null and ACC_SL_NO != emptyBigDecimalValue" >
        ACC_SL_NO,
      </if>
      <if test="REFUND_TYPE != null and !&quot;&quot;.equals(REFUND_TYPE)" >
        REFUND_TYPE,
      </if>
      <if test="HAMISH_AL_JIDDIYA_PERC != null and HAMISH_AL_JIDDIYA_PERC != emptyBigDecimalValue" >
        HAMISH_AL_JIDDIYA_PERC,
      </if>
      <if test="HAMISH_AL_JIDDIYA_AMT != null and HAMISH_AL_JIDDIYA_AMT != emptyBigDecimalValue" >
        HAMISH_AL_JIDDIYA_AMT,
      </if>
      <if test="CASH_COLLATTERALS_AMT != null and CASH_COLLATTERALS_AMT != emptyBigDecimalValue" >
        CASH_COLLATTERALS_AMT,
      </if>
      <if test="HAMISH_DOWN_PAYMENT_AMT != null and HAMISH_DOWN_PAYMENT_AMT != emptyBigDecimalValue" >
        HAMISH_DOWN_PAYMENT_AMT,
      </if>
      <if test="COLLECTION_TEMPLATE_CODE != null and COLLECTION_TEMPLATE_CODE != emptyBigDecimalValue" >
        COLLECTION_TEMPLATE_CODE,
      </if>
      <if test="REFUND_TEMPLATE_CODE != null and REFUND_TEMPLATE_CODE != emptyBigDecimalValue" >
        REFUND_TEMPLATE_CODE,
      </if>
      <if test="HJ_INCREASE_DECREASE_PERC != null and HJ_INCREASE_DECREASE_PERC != emptyBigDecimalValue" >
        HJ_INCREASE_DECREASE_PERC,
      </if>
      <if test="HJ_INCREASE_DECREASE_AMT != null and HJ_INCREASE_DECREASE_AMT != emptyBigDecimalValue" >
        HJ_INCREASE_DECREASE_AMT,
      </if>
      <if test="CREATED_BY != null and !&quot;&quot;.equals(CREATED_BY)" >
        CREATED_BY,
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE,
      </if>
      <if test="MODIFIED_BY != null and !&quot;&quot;.equals(MODIFIED_BY)" >
        MODIFIED_BY,
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE,
      </if>
      <if test="FLOATING_RATE != null and FLOATING_RATE != emptyBigDecimalValue" >
        FLOATING_RATE,
      </if>
      <if test="MARGIN_RATE != null and MARGIN_RATE != emptyBigDecimalValue" >
        MARGIN_RATE,
      </if>
      <if test="CIF_PROFILE != null and CIF_PROFILE != emptyBigDecimalValue" >
        CIF_PROFILE,
      </if>
      <if test="CONTRACTED_YN != null and !&quot;&quot;.equals(CONTRACTED_YN)" >
        CONTRACTED_YN,
      </if>
      <if test="PPR_YN != null and !&quot;&quot;.equals(PPR_YN)" >
        PPR_YN,
      </if>
      <if test="MATURITY_DATE != null" >
        MATURITY_DATE,
      </if>
      <if test="PERIODICITY_NBR != null and PERIODICITY_NBR != emptyBigDecimalValue" >
        PERIODICITY_NBR,
      </if>
      <if test="PERIODICITY_TYPE != null and !&quot;&quot;.equals(PERIODICITY_TYPE)" >
        PERIODICITY_TYPE,
      </if>
      <if test="VALUE_DATE != null" >
        VALUE_DATE,
      </if>
      <if test="ACC_WITH_OTHER_BANKS != null and !&quot;&quot;.equals(ACC_WITH_OTHER_BANKS)" >
        ACC_WITH_OTHER_BANKS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        #{CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NBR != null and LINE_NBR != emptyBigDecimalValue" >
        #{LINE_NBR},
      </if>
      <if test="SUB_LIMIT_LINE_NBR != null and SUB_LIMIT_LINE_NBR != emptyBigDecimalValue" >
        #{SUB_LIMIT_LINE_NBR},
      </if>
      <if test="CLASS != null and CLASS != emptyBigDecimalValue" >
        #{CLASS},
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        #{CIF_NO},
      </if>
      <if test="REGIMENTAL_AGENT != null and !&quot;&quot;.equals(REGIMENTAL_AGENT)" >
        #{REGIMENTAL_AGENT},
      </if>
      <if test="BUDGET_ALLOCATION != null and !&quot;&quot;.equals(BUDGET_ALLOCATION)" >
        #{BUDGET_ALLOCATION},
      </if>
      <if test="CIF_PERC != null and CIF_PERC != emptyBigDecimalValue" >
        #{CIF_PERC},
      </if>
      <if test="FACILITY_VALUE != null and FACILITY_VALUE != emptyBigDecimalValue" >
        #{FACILITY_VALUE},
      </if>
      <if test="DOWN_PAYMENT_AMT != null and DOWN_PAYMENT_AMT != emptyBigDecimalValue" >
        #{DOWN_PAYMENT_AMT},
      </if>
      <if test="DOWN_PAYMENT_PERCENTAGE != null and DOWN_PAYMENT_PERCENTAGE != emptyBigDecimalValue" >
        #{DOWN_PAYMENT_PERCENTAGE},
      </if>
      <if test="ACC_BR != null and ACC_BR != emptyBigDecimalValue" >
        #{ACC_BR},
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        #{ACC_CY},
      </if>
      <if test="ACC_GL != null and ACC_GL != emptyBigDecimalValue" >
        #{ACC_GL},
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        #{ACC_CIF},
      </if>
      <if test="ACC_SL_NO != null and ACC_SL_NO != emptyBigDecimalValue" >
        #{ACC_SL_NO},
      </if>
      <if test="REFUND_TYPE != null and !&quot;&quot;.equals(REFUND_TYPE)" >
        #{REFUND_TYPE},
      </if>
      <if test="HAMISH_AL_JIDDIYA_PERC != null and HAMISH_AL_JIDDIYA_PERC != emptyBigDecimalValue" >
        #{HAMISH_AL_JIDDIYA_PERC},
      </if>
      <if test="HAMISH_AL_JIDDIYA_AMT != null and HAMISH_AL_JIDDIYA_AMT != emptyBigDecimalValue" >
        #{HAMISH_AL_JIDDIYA_AMT},
      </if>
      <if test="CASH_COLLATTERALS_AMT != null and CASH_COLLATTERALS_AMT != emptyBigDecimalValue" >
        #{CASH_COLLATTERALS_AMT},
      </if>
      <if test="HAMISH_DOWN_PAYMENT_AMT != null and HAMISH_DOWN_PAYMENT_AMT != emptyBigDecimalValue" >
        #{HAMISH_DOWN_PAYMENT_AMT},
      </if>
      <if test="COLLECTION_TEMPLATE_CODE != null and COLLECTION_TEMPLATE_CODE != emptyBigDecimalValue" >
        #{COLLECTION_TEMPLATE_CODE},
      </if>
      <if test="REFUND_TEMPLATE_CODE != null and REFUND_TEMPLATE_CODE != emptyBigDecimalValue" >
        #{REFUND_TEMPLATE_CODE},
      </if>
      <if test="HJ_INCREASE_DECREASE_PERC != null and HJ_INCREASE_DECREASE_PERC != emptyBigDecimalValue" >
        #{HJ_INCREASE_DECREASE_PERC},
      </if>
      <if test="HJ_INCREASE_DECREASE_AMT != null and HJ_INCREASE_DECREASE_AMT != emptyBigDecimalValue" >
        #{HJ_INCREASE_DECREASE_AMT},
      </if>
      <if test="CREATED_BY != null and !&quot;&quot;.equals(CREATED_BY)" >
        #{CREATED_BY},
      </if>
      <if test="CREATED_DATE != null" >
        #{CREATED_DATE},
      </if>
      <if test="MODIFIED_BY != null and !&quot;&quot;.equals(MODIFIED_BY)" >
        #{MODIFIED_BY},
      </if>
      <if test="MODIFIED_DATE != null" >
        #{MODIFIED_DATE},
      </if>
      <if test="FLOATING_RATE != null and FLOATING_RATE != emptyBigDecimalValue" >
        #{FLOATING_RATE},
      </if>
      <if test="MARGIN_RATE != null and MARGIN_RATE != emptyBigDecimalValue" >
        #{MARGIN_RATE},
      </if>
      <if test="CIF_PROFILE != null and CIF_PROFILE != emptyBigDecimalValue" >
        #{CIF_PROFILE},
      </if>
      <if test="CONTRACTED_YN != null and !&quot;&quot;.equals(CONTRACTED_YN)" >
        #{CONTRACTED_YN},
      </if>
      <if test="PPR_YN != null and !&quot;&quot;.equals(PPR_YN)" >
        #{PPR_YN},
      </if>
      <if test="MATURITY_DATE != null" >
        #{MATURITY_DATE},
      </if>
      <if test="PERIODICITY_NBR != null and PERIODICITY_NBR != emptyBigDecimalValue" >
        #{PERIODICITY_NBR},
      </if>
      <if test="PERIODICITY_TYPE != null and !&quot;&quot;.equals(PERIODICITY_TYPE)" >
        #{PERIODICITY_TYPE},
      </if>
      <if test="VALUE_DATE != null" >
        #{VALUE_DATE},
      </if>
      <if test="ACC_WITH_OTHER_BANKS != null and !&quot;&quot;.equals(ACC_WITH_OTHER_BANKS)" >
        #{ACC_WITH_OTHER_BANKS},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateFMSAPPL_JOINT_CIF_DET" >
    update FMSAPPL_JOINT_CIF_DET
    <set >
      <if test="CLASS != null" >
        <choose >
          <when test="CLASS == emptyBigDecimalValue" >
            CLASS = NULL ,
          </when>
          <otherwise >
            CLASS = #{CLASS},
          </otherwise>
        </choose>
      </if>
      <if test="CIF_NO != null" >
        <choose >
          <when test="CIF_NO == emptyBigDecimalValue" >
            CIF_NO = NULL ,
          </when>
          <otherwise >
            CIF_NO = #{CIF_NO},
          </otherwise>
        </choose>
      </if>
      <if test="REGIMENTAL_AGENT != null" >
        <choose >
          <when test="REGIMENTAL_AGENT.equals(&quot;&quot;)" >
            REGIMENTAL_AGENT = NULL ,
          </when>
          <otherwise >
            REGIMENTAL_AGENT = #{REGIMENTAL_AGENT},
          </otherwise>
        </choose>
      </if>
      <if test="BUDGET_ALLOCATION != null" >
        <choose >
          <when test="BUDGET_ALLOCATION.equals(&quot;&quot;)" >
            BUDGET_ALLOCATION = NULL ,
          </when>
          <otherwise >
            BUDGET_ALLOCATION = #{BUDGET_ALLOCATION},
          </otherwise>
        </choose>
      </if>
      <if test="CIF_PERC != null" >
        <choose >
          <when test="CIF_PERC == emptyBigDecimalValue" >
            CIF_PERC = NULL ,
          </when>
          <otherwise >
            CIF_PERC = #{CIF_PERC},
          </otherwise>
        </choose>
      </if>
      <if test="FACILITY_VALUE != null" >
        <choose >
          <when test="FACILITY_VALUE == emptyBigDecimalValue" >
            FACILITY_VALUE = NULL ,
          </when>
          <otherwise >
            FACILITY_VALUE = #{FACILITY_VALUE},
          </otherwise>
        </choose>
      </if>
      <if test="DOWN_PAYMENT_AMT != null" >
        <choose >
          <when test="DOWN_PAYMENT_AMT == emptyBigDecimalValue" >
            DOWN_PAYMENT_AMT = NULL ,
          </when>
          <otherwise >
            DOWN_PAYMENT_AMT = #{DOWN_PAYMENT_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="DOWN_PAYMENT_PERCENTAGE != null" >
        <choose >
          <when test="DOWN_PAYMENT_PERCENTAGE == emptyBigDecimalValue" >
            DOWN_PAYMENT_PERCENTAGE = NULL ,
          </when>
          <otherwise >
            DOWN_PAYMENT_PERCENTAGE = #{DOWN_PAYMENT_PERCENTAGE},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_BR != null" >
        <choose >
          <when test="ACC_BR == emptyBigDecimalValue" >
            ACC_BR = NULL ,
          </when>
          <otherwise >
            ACC_BR = #{ACC_BR},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CY != null" >
        <choose >
          <when test="ACC_CY == emptyBigDecimalValue" >
            ACC_CY = NULL ,
          </when>
          <otherwise >
            ACC_CY = #{ACC_CY},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_GL != null" >
        <choose >
          <when test="ACC_GL == emptyBigDecimalValue" >
            ACC_GL = NULL ,
          </when>
          <otherwise >
            ACC_GL = #{ACC_GL},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CIF != null" >
        <choose >
          <when test="ACC_CIF == emptyBigDecimalValue" >
            ACC_CIF = NULL ,
          </when>
          <otherwise >
            ACC_CIF = #{ACC_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_SL_NO != null" >
        <choose >
          <when test="ACC_SL_NO == emptyBigDecimalValue" >
            ACC_SL_NO = NULL ,
          </when>
          <otherwise >
            ACC_SL_NO = #{ACC_SL_NO},
          </otherwise>
        </choose>
      </if>
      <if test="REFUND_TYPE != null" >
        <choose >
          <when test="REFUND_TYPE.equals(&quot;&quot;)" >
            REFUND_TYPE = NULL ,
          </when>
          <otherwise >
            REFUND_TYPE = #{REFUND_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="HAMISH_AL_JIDDIYA_PERC != null" >
        <choose >
          <when test="HAMISH_AL_JIDDIYA_PERC == emptyBigDecimalValue" >
            HAMISH_AL_JIDDIYA_PERC = NULL ,
          </when>
          <otherwise >
            HAMISH_AL_JIDDIYA_PERC = #{HAMISH_AL_JIDDIYA_PERC},
          </otherwise>
        </choose>
      </if>
      <if test="HAMISH_AL_JIDDIYA_AMT != null" >
        <choose >
          <when test="HAMISH_AL_JIDDIYA_AMT == emptyBigDecimalValue" >
            HAMISH_AL_JIDDIYA_AMT = NULL ,
          </when>
          <otherwise >
            HAMISH_AL_JIDDIYA_AMT = #{HAMISH_AL_JIDDIYA_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="CASH_COLLATTERALS_AMT != null" >
        <choose >
          <when test="CASH_COLLATTERALS_AMT == emptyBigDecimalValue" >
            CASH_COLLATTERALS_AMT = NULL ,
          </when>
          <otherwise >
            CASH_COLLATTERALS_AMT = #{CASH_COLLATTERALS_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="HAMISH_DOWN_PAYMENT_AMT != null" >
        <choose >
          <when test="HAMISH_DOWN_PAYMENT_AMT == emptyBigDecimalValue" >
            HAMISH_DOWN_PAYMENT_AMT = NULL ,
          </when>
          <otherwise >
            HAMISH_DOWN_PAYMENT_AMT = #{HAMISH_DOWN_PAYMENT_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="COLLECTION_TEMPLATE_CODE != null" >
        <choose >
          <when test="COLLECTION_TEMPLATE_CODE == emptyBigDecimalValue" >
            COLLECTION_TEMPLATE_CODE = NULL ,
          </when>
          <otherwise >
            COLLECTION_TEMPLATE_CODE = #{COLLECTION_TEMPLATE_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="REFUND_TEMPLATE_CODE != null" >
        <choose >
          <when test="REFUND_TEMPLATE_CODE == emptyBigDecimalValue" >
            REFUND_TEMPLATE_CODE = NULL ,
          </when>
          <otherwise >
            REFUND_TEMPLATE_CODE = #{REFUND_TEMPLATE_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="HJ_INCREASE_DECREASE_PERC != null" >
        <choose >
          <when test="HJ_INCREASE_DECREASE_PERC == emptyBigDecimalValue" >
            HJ_INCREASE_DECREASE_PERC = NULL ,
          </when>
          <otherwise >
            HJ_INCREASE_DECREASE_PERC = #{HJ_INCREASE_DECREASE_PERC},
          </otherwise>
        </choose>
      </if>
      <if test="HJ_INCREASE_DECREASE_AMT != null" >
        <choose >
          <when test="HJ_INCREASE_DECREASE_AMT == emptyBigDecimalValue" >
            HJ_INCREASE_DECREASE_AMT = NULL ,
          </when>
          <otherwise >
            HJ_INCREASE_DECREASE_AMT = #{HJ_INCREASE_DECREASE_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="CREATED_BY != null" >
        <choose >
          <when test="CREATED_BY.equals(&quot;&quot;)" >
            CREATED_BY = NULL ,
          </when>
          <otherwise >
            CREATED_BY = #{CREATED_BY},
          </otherwise>
        </choose>
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE = #{CREATED_DATE},
      </if>
      <if test="MODIFIED_BY != null" >
        <choose >
          <when test="MODIFIED_BY.equals(&quot;&quot;)" >
            MODIFIED_BY = NULL ,
          </when>
          <otherwise >
            MODIFIED_BY = #{MODIFIED_BY},
          </otherwise>
        </choose>
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE = #{MODIFIED_DATE},
      </if>
      <if test="FLOATING_RATE != null" >
        <choose >
          <when test="FLOATING_RATE == emptyBigDecimalValue" >
            FLOATING_RATE = NULL ,
          </when>
          <otherwise >
            FLOATING_RATE = #{FLOATING_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="MARGIN_RATE != null" >
        <choose >
          <when test="MARGIN_RATE == emptyBigDecimalValue" >
            MARGIN_RATE = NULL ,
          </when>
          <otherwise >
            MARGIN_RATE = #{MARGIN_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="CIF_PROFILE != null" >
        <choose >
          <when test="CIF_PROFILE == emptyBigDecimalValue" >
            CIF_PROFILE = NULL ,
          </when>
          <otherwise >
            CIF_PROFILE = #{CIF_PROFILE},
          </otherwise>
        </choose>
      </if>
      <if test="CONTRACTED_YN != null" >
        <choose >
          <when test="CONTRACTED_YN.equals(&quot;&quot;)" >
            CONTRACTED_YN = NULL ,
          </when>
          <otherwise >
            CONTRACTED_YN = #{CONTRACTED_YN},
          </otherwise>
        </choose>
      </if>
      <if test="PPR_YN != null" >
        <choose >
          <when test="PPR_YN.equals(&quot;&quot;)" >
            PPR_YN = NULL ,
          </when>
          <otherwise >
            PPR_YN = #{PPR_YN},
          </otherwise>
        </choose>
      </if>
      <if test="MATURITY_DATE != null" >
        MATURITY_DATE = #{MATURITY_DATE},
      </if>
      <if test="PERIODICITY_NBR != null" >
        <choose >
          <when test="PERIODICITY_NBR == emptyBigDecimalValue" >
            PERIODICITY_NBR = NULL ,
          </when>
          <otherwise >
            PERIODICITY_NBR = #{PERIODICITY_NBR},
          </otherwise>
        </choose>
      </if>
      <if test="PERIODICITY_TYPE != null" >
        <choose >
          <when test="PERIODICITY_TYPE.equals(&quot;&quot;)" >
            PERIODICITY_TYPE = NULL ,
          </when>
          <otherwise >
            PERIODICITY_TYPE = #{PERIODICITY_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="VALUE_DATE != null" >
        VALUE_DATE = #{VALUE_DATE},
      </if>
      <if test="ACC_WITH_OTHER_BANKS != null" >
        <choose >
          <when test="ACC_WITH_OTHER_BANKS.equals(&quot;&quot;)" >
            ACC_WITH_OTHER_BANKS = NULL ,
          </when>
          <otherwise >
            ACC_WITH_OTHER_BANKS = #{ACC_WITH_OTHER_BANKS},
          </otherwise>
        </choose>
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NBR = #{LINE_NBR}
      and SUB_LIMIT_LINE_NBR = #{SUB_LIMIT_LINE_NBR}
  </sql>
  <update id="updateFMSAPPL_JOINT_CIF_DET" parameterType="com.path.dbmaps.vo.FMSAPPL_JOINT_CIF_DETVO" >
    <include refid="sql_updateFMSAPPL_JOINT_CIF_DET" />
  </update>
</mapper>