<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="FMSAPPDOCDET_HISTORY" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.FMSAPPDOCDET_HISTORYVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="DOC_CODE" property="DOC_CODE" />
    <id column="LINE_NO" property="LINE_NO" />
    <id column="SUB_LIMIT_NBR" property="SUB_LIMIT_NBR" />
    <id column="VER_NBR" property="VER_NBR" />
    <result column="DOC_TYPE" property="DOC_TYPE" />
    <result column="UPLOAD_DATE_TIME" property="UPLOAD_DATE_TIME" />
    <result column="DOC_EXPIRY_DATE" property="DOC_EXPIRY_DATE" />
    <result column="DOC_DATE" property="DOC_DATE" />
    <result column="DOC_AMOUNT" property="DOC_AMOUNT" />
    <result column="FROM_DATE" property="FROM_DATE" />
    <result column="TO_DATE" property="TO_DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, CODE, COMP_CODE, DOC_CODE, LINE_NO, SUB_LIMIT_NBR, VER_NBR, DOC_TYPE, 
    UPLOAD_DATE_TIME, DOC_EXPIRY_DATE, DOC_DATE, DOC_AMOUNT, FROM_DATE, TO_DATE
  </sql>
  <select id="selectFMSAPPDOCDET_HISTORY" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.FMSAPPDOCDET_HISTORYVOKey" >
    select 
    <include refid="Base_Column_List" />
    from FMSAPPDOCDET_HISTORY
    where BRANCH_CODE = #{BRANCH_CODE}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and DOC_CODE = #{DOC_CODE}
      and LINE_NO = #{LINE_NO}
      and SUB_LIMIT_NBR = #{SUB_LIMIT_NBR}
      and VER_NBR = #{VER_NBR}
  </select>
  <delete id="deleteFMSAPPDOCDET_HISTORY" parameterType="com.path.dbmaps.vo.FMSAPPDOCDET_HISTORYVOKey" >
    delete from FMSAPPDOCDET_HISTORY
    where BRANCH_CODE = #{BRANCH_CODE}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and DOC_CODE = #{DOC_CODE}
      and LINE_NO = #{LINE_NO}
      and SUB_LIMIT_NBR = #{SUB_LIMIT_NBR}
      and VER_NBR = #{VER_NBR}
  </delete>
  <insert id="insertFMSAPPDOCDET_HISTORY" parameterType="com.path.dbmaps.vo.FMSAPPDOCDET_HISTORYVO" >
    insert into FMSAPPDOCDET_HISTORY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="DOC_CODE != null and DOC_CODE != emptyBigDecimalValue" >
        DOC_CODE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="SUB_LIMIT_NBR != null and SUB_LIMIT_NBR != emptyBigDecimalValue" >
        SUB_LIMIT_NBR,
      </if>
      <if test="VER_NBR != null and VER_NBR != emptyBigDecimalValue" >
        VER_NBR,
      </if>
      <if test="DOC_TYPE != null and !&quot;&quot;.equals(DOC_TYPE)" >
        DOC_TYPE,
      </if>
      <if test="UPLOAD_DATE_TIME != null" >
        UPLOAD_DATE_TIME,
      </if>
      <if test="DOC_EXPIRY_DATE != null" >
        DOC_EXPIRY_DATE,
      </if>
      <if test="DOC_DATE != null" >
        DOC_DATE,
      </if>
      <if test="DOC_AMOUNT != null and DOC_AMOUNT != emptyBigDecimalValue" >
        DOC_AMOUNT,
      </if>
      <if test="FROM_DATE != null" >
        FROM_DATE,
      </if>
      <if test="TO_DATE != null" >
        TO_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        #{CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="DOC_CODE != null and DOC_CODE != emptyBigDecimalValue" >
        #{DOC_CODE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="SUB_LIMIT_NBR != null and SUB_LIMIT_NBR != emptyBigDecimalValue" >
        #{SUB_LIMIT_NBR},
      </if>
      <if test="VER_NBR != null and VER_NBR != emptyBigDecimalValue" >
        #{VER_NBR},
      </if>
      <if test="DOC_TYPE != null and !&quot;&quot;.equals(DOC_TYPE)" >
        #{DOC_TYPE},
      </if>
      <if test="UPLOAD_DATE_TIME != null" >
        #{UPLOAD_DATE_TIME},
      </if>
      <if test="DOC_EXPIRY_DATE != null" >
        #{DOC_EXPIRY_DATE},
      </if>
      <if test="DOC_DATE != null" >
        #{DOC_DATE},
      </if>
      <if test="DOC_AMOUNT != null and DOC_AMOUNT != emptyBigDecimalValue" >
        #{DOC_AMOUNT},
      </if>
      <if test="FROM_DATE != null" >
        #{FROM_DATE},
      </if>
      <if test="TO_DATE != null" >
        #{TO_DATE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateFMSAPPDOCDET_HISTORY" >
    update FMSAPPDOCDET_HISTORY
    <set >
      <if test="DOC_TYPE != null" >
        <choose >
          <when test="DOC_TYPE.equals(&quot;&quot;)" >
            DOC_TYPE = NULL ,
          </when>
          <otherwise >
            DOC_TYPE = #{DOC_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="UPLOAD_DATE_TIME != null" >
        UPLOAD_DATE_TIME = #{UPLOAD_DATE_TIME},
      </if>
      <if test="DOC_EXPIRY_DATE != null" >
        DOC_EXPIRY_DATE = #{DOC_EXPIRY_DATE},
      </if>
      <if test="DOC_DATE != null" >
        DOC_DATE = #{DOC_DATE},
      </if>
      <if test="DOC_AMOUNT != null" >
        <choose >
          <when test="DOC_AMOUNT == emptyBigDecimalValue" >
            DOC_AMOUNT = NULL ,
          </when>
          <otherwise >
            DOC_AMOUNT = #{DOC_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="FROM_DATE != null" >
        FROM_DATE = #{FROM_DATE},
      </if>
      <if test="TO_DATE != null" >
        TO_DATE = #{TO_DATE},
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and DOC_CODE = #{DOC_CODE}
      and LINE_NO = #{LINE_NO}
      and SUB_LIMIT_NBR = #{SUB_LIMIT_NBR}
      and VER_NBR = #{VER_NBR}
  </sql>
  <update id="updateFMSAPPDOCDET_HISTORY" parameterType="com.path.dbmaps.vo.FMSAPPDOCDET_HISTORYVO" >
    <include refid="sql_updateFMSAPPDOCDET_HISTORY" />
  </update>
</mapper>