<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="FMSAPPL_SEC_COMPONENTS" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.FMSAPPL_SEC_COMPONENTSVO" >
    <id column="BRANCH" property="BRANCH" />
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NO" property="LINE_NO" />
    <result column="COLATTYPE_CODE" property="COLATTYPE_CODE" />
    <result column="COVERAGE_PERC" property="COVERAGE_PERC" />
    <result column="PROVIDER" property="PROVIDER" />
    <result column="COMMENTS" property="COMMENTS" />
    <result column="FIXED_AMOUNT" property="FIXED_AMOUNT" />
    <result column="CY_CODE" property="CY_CODE" />
    <result column="FIN_AMOUNT_PERC" property="FIN_AMOUNT_PERC" />
    <result column="COST_BEARING_PARTY" property="COST_BEARING_PARTY" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="CREATED_DATE" property="CREATED_DATE" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="MODIFIED_DATE" property="MODIFIED_DATE" />
    <result column="COMMODITY" property="COMMODITY" />
    <result column="COLLECTION_LEVEL" property="COLLECTION_LEVEL" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH, CODE, COMP_CODE, LINE_NO, COLATTYPE_CODE, COVERAGE_PERC, PROVIDER, COMMENTS, 
    FIXED_AMOUNT, CY_CODE, FIN_AMOUNT_PERC, COST_BEARING_PARTY, CREATED_BY, CREATED_DATE, 
    MODIFIED_BY, MODIFIED_DATE, COMMODITY, COLLECTION_LEVEL
  </sql>
  <select id="selectFMSAPPL_SEC_COMPONENTS" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.FMSAPPL_SEC_COMPONENTSVOKey" >
    select 
    <include refid="Base_Column_List" />
    from FMSAPPL_SEC_COMPONENTS
    where BRANCH = #{BRANCH}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
  </select>
  <delete id="deleteFMSAPPL_SEC_COMPONENTS" parameterType="com.path.dbmaps.vo.FMSAPPL_SEC_COMPONENTSVOKey" >
    delete from FMSAPPL_SEC_COMPONENTS
    where BRANCH = #{BRANCH}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
  </delete>
  <insert id="insertFMSAPPL_SEC_COMPONENTS" parameterType="com.path.dbmaps.vo.FMSAPPL_SEC_COMPONENTSVO" >
    insert into FMSAPPL_SEC_COMPONENTS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH != null and BRANCH != emptyBigDecimalValue" >
        BRANCH,
      </if>
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="COLATTYPE_CODE != null and COLATTYPE_CODE != emptyBigDecimalValue" >
        COLATTYPE_CODE,
      </if>
      <if test="COVERAGE_PERC != null and COVERAGE_PERC != emptyBigDecimalValue" >
        COVERAGE_PERC,
      </if>
      <if test="PROVIDER != null and PROVIDER != emptyBigDecimalValue" >
        PROVIDER,
      </if>
      <if test="COMMENTS != null and !&quot;&quot;.equals(COMMENTS)" >
        COMMENTS,
      </if>
      <if test="FIXED_AMOUNT != null and FIXED_AMOUNT != emptyBigDecimalValue" >
        FIXED_AMOUNT,
      </if>
      <if test="CY_CODE != null and CY_CODE != emptyBigDecimalValue" >
        CY_CODE,
      </if>
      <if test="FIN_AMOUNT_PERC != null and FIN_AMOUNT_PERC != emptyBigDecimalValue" >
        FIN_AMOUNT_PERC,
      </if>
      <if test="COST_BEARING_PARTY != null and COST_BEARING_PARTY != emptyBigDecimalValue" >
        COST_BEARING_PARTY,
      </if>
      <if test="CREATED_BY != null and !&quot;&quot;.equals(CREATED_BY)" >
        CREATED_BY,
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE,
      </if>
      <if test="MODIFIED_BY != null and !&quot;&quot;.equals(MODIFIED_BY)" >
        MODIFIED_BY,
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE,
      </if>
      <if test="COMMODITY != null and COMMODITY != emptyBigDecimalValue" >
        COMMODITY,
      </if>
      <if test="COLLECTION_LEVEL != null and COLLECTION_LEVEL != emptyBigDecimalValue" >
        COLLECTION_LEVEL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH != null and BRANCH != emptyBigDecimalValue" >
        #{BRANCH},
      </if>
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        #{CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="COLATTYPE_CODE != null and COLATTYPE_CODE != emptyBigDecimalValue" >
        #{COLATTYPE_CODE},
      </if>
      <if test="COVERAGE_PERC != null and COVERAGE_PERC != emptyBigDecimalValue" >
        #{COVERAGE_PERC},
      </if>
      <if test="PROVIDER != null and PROVIDER != emptyBigDecimalValue" >
        #{PROVIDER},
      </if>
      <if test="COMMENTS != null and !&quot;&quot;.equals(COMMENTS)" >
        #{COMMENTS},
      </if>
      <if test="FIXED_AMOUNT != null and FIXED_AMOUNT != emptyBigDecimalValue" >
        #{FIXED_AMOUNT},
      </if>
      <if test="CY_CODE != null and CY_CODE != emptyBigDecimalValue" >
        #{CY_CODE},
      </if>
      <if test="FIN_AMOUNT_PERC != null and FIN_AMOUNT_PERC != emptyBigDecimalValue" >
        #{FIN_AMOUNT_PERC},
      </if>
      <if test="COST_BEARING_PARTY != null and COST_BEARING_PARTY != emptyBigDecimalValue" >
        #{COST_BEARING_PARTY},
      </if>
      <if test="CREATED_BY != null and !&quot;&quot;.equals(CREATED_BY)" >
        #{CREATED_BY},
      </if>
      <if test="CREATED_DATE != null" >
        #{CREATED_DATE},
      </if>
      <if test="MODIFIED_BY != null and !&quot;&quot;.equals(MODIFIED_BY)" >
        #{MODIFIED_BY},
      </if>
      <if test="MODIFIED_DATE != null" >
        #{MODIFIED_DATE},
      </if>
      <if test="COMMODITY != null and COMMODITY != emptyBigDecimalValue" >
        #{COMMODITY},
      </if>
      <if test="COLLECTION_LEVEL != null and COLLECTION_LEVEL != emptyBigDecimalValue" >
        #{COLLECTION_LEVEL},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateFMSAPPL_SEC_COMPONENTS" >
    update FMSAPPL_SEC_COMPONENTS
    <set >
      <if test="COLATTYPE_CODE != null" >
        <choose >
          <when test="COLATTYPE_CODE == emptyBigDecimalValue" >
            COLATTYPE_CODE = NULL ,
          </when>
          <otherwise >
            COLATTYPE_CODE = #{COLATTYPE_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="COVERAGE_PERC != null" >
        <choose >
          <when test="COVERAGE_PERC == emptyBigDecimalValue" >
            COVERAGE_PERC = NULL ,
          </when>
          <otherwise >
            COVERAGE_PERC = #{COVERAGE_PERC},
          </otherwise>
        </choose>
      </if>
      <if test="PROVIDER != null" >
        <choose >
          <when test="PROVIDER == emptyBigDecimalValue" >
            PROVIDER = NULL ,
          </when>
          <otherwise >
            PROVIDER = #{PROVIDER},
          </otherwise>
        </choose>
      </if>
      <if test="COMMENTS != null" >
        <choose >
          <when test="COMMENTS.equals(&quot;&quot;)" >
            COMMENTS = NULL ,
          </when>
          <otherwise >
            COMMENTS = #{COMMENTS},
          </otherwise>
        </choose>
      </if>
      <if test="FIXED_AMOUNT != null" >
        <choose >
          <when test="FIXED_AMOUNT == emptyBigDecimalValue" >
            FIXED_AMOUNT = NULL ,
          </when>
          <otherwise >
            FIXED_AMOUNT = #{FIXED_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="CY_CODE != null" >
        <choose >
          <when test="CY_CODE == emptyBigDecimalValue" >
            CY_CODE = NULL ,
          </when>
          <otherwise >
            CY_CODE = #{CY_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="FIN_AMOUNT_PERC != null" >
        <choose >
          <when test="FIN_AMOUNT_PERC == emptyBigDecimalValue" >
            FIN_AMOUNT_PERC = NULL ,
          </when>
          <otherwise >
            FIN_AMOUNT_PERC = #{FIN_AMOUNT_PERC},
          </otherwise>
        </choose>
      </if>
      <if test="COST_BEARING_PARTY != null" >
        <choose >
          <when test="COST_BEARING_PARTY == emptyBigDecimalValue" >
            COST_BEARING_PARTY = NULL ,
          </when>
          <otherwise >
            COST_BEARING_PARTY = #{COST_BEARING_PARTY},
          </otherwise>
        </choose>
      </if>
      <if test="CREATED_BY != null" >
        <choose >
          <when test="CREATED_BY.equals(&quot;&quot;)" >
            CREATED_BY = NULL ,
          </when>
          <otherwise >
            CREATED_BY = #{CREATED_BY},
          </otherwise>
        </choose>
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE = #{CREATED_DATE},
      </if>
      <if test="MODIFIED_BY != null" >
        <choose >
          <when test="MODIFIED_BY.equals(&quot;&quot;)" >
            MODIFIED_BY = NULL ,
          </when>
          <otherwise >
            MODIFIED_BY = #{MODIFIED_BY},
          </otherwise>
        </choose>
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE = #{MODIFIED_DATE},
      </if>
      <if test="COMMODITY != null" >
        <choose >
          <when test="COMMODITY == emptyBigDecimalValue" >
            COMMODITY = NULL ,
          </when>
          <otherwise >
            COMMODITY = #{COMMODITY},
          </otherwise>
        </choose>
      </if>
      <if test="COLLECTION_LEVEL != null" >
        <choose >
          <when test="COLLECTION_LEVEL == emptyBigDecimalValue" >
            COLLECTION_LEVEL = NULL ,
          </when>
          <otherwise >
            COLLECTION_LEVEL = #{COLLECTION_LEVEL},
          </otherwise>
        </choose>
      </if>
    </set>
    where BRANCH = #{BRANCH}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
  </sql>
  <update id="updateFMSAPPL_SEC_COMPONENTS" parameterType="com.path.dbmaps.vo.FMSAPPL_SEC_COMPONENTSVO" >
    <include refid="sql_updateFMSAPPL_SEC_COMPONENTS" />
  </update>
</mapper>