<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="FMSAPPL_DET" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.FMSAPPL_DETVOKey" >
    <id column="BRANCH" property="BRANCH" />
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.path.dbmaps.vo.FMSAPPL_DETVOWithBLOBs" extends="BaseResultMap" >
    <result column="BUSINESS_OVERVIEW" property="BUSINESS_OVERVIEW" />
    <result column="INDUSTRY" property="INDUSTRY" />
    <result column="MARKET_SHARE" property="MARKET_SHARE" />
    <result column="SALES_PERFORMANCE" property="SALES_PERFORMANCE" />
    <result column="SALES_PROFITABILITY" property="SALES_PROFITABILITY" />
    <result column="ASSETS_LIABILITIES" property="ASSETS_LIABILITIES" />
    <result column="NET_WORTH" property="NET_WORTH" />
    <result column="RATIOS" property="RATIOS" />
    <result column="OPERATIONAL_RISK" property="OPERATIONAL_RISK" />
    <result column="FINANCIAL_RISK" property="FINANCIAL_RISK" />
    <result column="MARKET_RISK" property="MARKET_RISK" />
    <result column="LEGAL_RISK" property="LEGAL_RISK" />
    <result column="CREDIT_RISK" property="CREDIT_RISK" />
    <result column="RM_RECOMMENDATION" property="RM_RECOMMENDATION" />
    <result column="APPROVED1_RECOMMENDATION" property="APPROVED1_RECOMMENDATION" />
    <result column="APPROVED2_RECOMMENDATION" property="APPROVED2_RECOMMENDATION" />
    <result column="APPROVED3_RECOMMENDATION" property="APPROVED3_RECOMMENDATION" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH, CODE, COMP_CODE
  </sql>
  <sql id="Blob_Column_List" >
    BUSINESS_OVERVIEW, INDUSTRY, MARKET_SHARE, SALES_PERFORMANCE, SALES_PROFITABILITY, 
    ASSETS_LIABILITIES, NET_WORTH, RATIOS, OPERATIONAL_RISK, FINANCIAL_RISK, MARKET_RISK, 
    LEGAL_RISK, CREDIT_RISK, RM_RECOMMENDATION, APPROVED1_RECOMMENDATION, APPROVED2_RECOMMENDATION, 
    APPROVED3_RECOMMENDATION
  </sql>
  <select id="selectFMSAPPL_DET" resultMap="ResultMapWithBLOBs" parameterType="com.path.dbmaps.vo.FMSAPPL_DETVOKey" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from FMSAPPL_DET
    where BRANCH = #{BRANCH}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </select>
  <delete id="deleteFMSAPPL_DET" parameterType="com.path.dbmaps.vo.FMSAPPL_DETVOKey" >
    delete from FMSAPPL_DET
    where BRANCH = #{BRANCH}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </delete>
  <insert id="insertFMSAPPL_DET" parameterType="com.path.dbmaps.vo.FMSAPPL_DETVOWithBLOBs" >
    insert into FMSAPPL_DET
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH != null and BRANCH != emptyBigDecimalValue" >
        BRANCH,
      </if>
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="BUSINESS_OVERVIEW != null" >
        BUSINESS_OVERVIEW,
      </if>
      <if test="INDUSTRY != null" >
        INDUSTRY,
      </if>
      <if test="MARKET_SHARE != null" >
        MARKET_SHARE,
      </if>
      <if test="SALES_PERFORMANCE != null" >
        SALES_PERFORMANCE,
      </if>
      <if test="SALES_PROFITABILITY != null" >
        SALES_PROFITABILITY,
      </if>
      <if test="ASSETS_LIABILITIES != null" >
        ASSETS_LIABILITIES,
      </if>
      <if test="NET_WORTH != null" >
        NET_WORTH,
      </if>
      <if test="RATIOS != null" >
        RATIOS,
      </if>
      <if test="OPERATIONAL_RISK != null" >
        OPERATIONAL_RISK,
      </if>
      <if test="FINANCIAL_RISK != null" >
        FINANCIAL_RISK,
      </if>
      <if test="MARKET_RISK != null" >
        MARKET_RISK,
      </if>
      <if test="LEGAL_RISK != null" >
        LEGAL_RISK,
      </if>
      <if test="CREDIT_RISK != null" >
        CREDIT_RISK,
      </if>
      <if test="RM_RECOMMENDATION != null" >
        RM_RECOMMENDATION,
      </if>
      <if test="APPROVED1_RECOMMENDATION != null" >
        APPROVED1_RECOMMENDATION,
      </if>
      <if test="APPROVED2_RECOMMENDATION != null" >
        APPROVED2_RECOMMENDATION,
      </if>
      <if test="APPROVED3_RECOMMENDATION != null" >
        APPROVED3_RECOMMENDATION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH != null and BRANCH != emptyBigDecimalValue" >
        #{BRANCH},
      </if>
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        #{CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="BUSINESS_OVERVIEW != null" >
        #{BUSINESS_OVERVIEW},
      </if>
      <if test="INDUSTRY != null" >
        #{INDUSTRY},
      </if>
      <if test="MARKET_SHARE != null" >
        #{MARKET_SHARE},
      </if>
      <if test="SALES_PERFORMANCE != null" >
        #{SALES_PERFORMANCE},
      </if>
      <if test="SALES_PROFITABILITY != null" >
        #{SALES_PROFITABILITY},
      </if>
      <if test="ASSETS_LIABILITIES != null" >
        #{ASSETS_LIABILITIES},
      </if>
      <if test="NET_WORTH != null" >
        #{NET_WORTH},
      </if>
      <if test="RATIOS != null" >
        #{RATIOS},
      </if>
      <if test="OPERATIONAL_RISK != null" >
        #{OPERATIONAL_RISK},
      </if>
      <if test="FINANCIAL_RISK != null" >
        #{FINANCIAL_RISK},
      </if>
      <if test="MARKET_RISK != null" >
        #{MARKET_RISK},
      </if>
      <if test="LEGAL_RISK != null" >
        #{LEGAL_RISK},
      </if>
      <if test="CREDIT_RISK != null" >
        #{CREDIT_RISK},
      </if>
      <if test="RM_RECOMMENDATION != null" >
        #{RM_RECOMMENDATION},
      </if>
      <if test="APPROVED1_RECOMMENDATION != null" >
        #{APPROVED1_RECOMMENDATION},
      </if>
      <if test="APPROVED2_RECOMMENDATION != null" >
        #{APPROVED2_RECOMMENDATION},
      </if>
      <if test="APPROVED3_RECOMMENDATION != null" >
        #{APPROVED3_RECOMMENDATION},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateFMSAPPL_DET" >
    update FMSAPPL_DET
    <set >
      <if test="BUSINESS_OVERVIEW != null" >
        BUSINESS_OVERVIEW = #{BUSINESS_OVERVIEW},
      </if>
      <if test="INDUSTRY != null" >
        INDUSTRY = #{INDUSTRY},
      </if>
      <if test="MARKET_SHARE != null" >
        MARKET_SHARE = #{MARKET_SHARE},
      </if>
      <if test="SALES_PERFORMANCE != null" >
        SALES_PERFORMANCE = #{SALES_PERFORMANCE},
      </if>
      <if test="SALES_PROFITABILITY != null" >
        SALES_PROFITABILITY = #{SALES_PROFITABILITY},
      </if>
      <if test="ASSETS_LIABILITIES != null" >
        ASSETS_LIABILITIES = #{ASSETS_LIABILITIES},
      </if>
      <if test="NET_WORTH != null" >
        NET_WORTH = #{NET_WORTH},
      </if>
      <if test="RATIOS != null" >
        RATIOS = #{RATIOS},
      </if>
      <if test="OPERATIONAL_RISK != null" >
        OPERATIONAL_RISK = #{OPERATIONAL_RISK},
      </if>
      <if test="FINANCIAL_RISK != null" >
        FINANCIAL_RISK = #{FINANCIAL_RISK},
      </if>
      <if test="MARKET_RISK != null" >
        MARKET_RISK = #{MARKET_RISK},
      </if>
      <if test="LEGAL_RISK != null" >
        LEGAL_RISK = #{LEGAL_RISK},
      </if>
      <if test="CREDIT_RISK != null" >
        CREDIT_RISK = #{CREDIT_RISK},
      </if>
      <if test="RM_RECOMMENDATION != null" >
        RM_RECOMMENDATION = #{RM_RECOMMENDATION},
      </if>
      <if test="APPROVED1_RECOMMENDATION != null" >
        APPROVED1_RECOMMENDATION = #{APPROVED1_RECOMMENDATION},
      </if>
      <if test="APPROVED2_RECOMMENDATION != null" >
        APPROVED2_RECOMMENDATION = #{APPROVED2_RECOMMENDATION},
      </if>
      <if test="APPROVED3_RECOMMENDATION != null" >
        APPROVED3_RECOMMENDATION = #{APPROVED3_RECOMMENDATION},
      </if>
    </set>
    where BRANCH = #{BRANCH}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </sql>
  <update id="updateFMSAPPL_DET" parameterType="com.path.dbmaps.vo.FMSAPPL_DETVOWithBLOBs" >
    <include refid="sql_updateFMSAPPL_DET" />
  </update>
</mapper>