<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="FMSCTRL" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.FMSCTRLVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <result column="CIF_FACILITY_LIMIT" property="CIF_FACILITY_LIMIT" />
    <result column="MANDATORY_APPROVAL_LEVEL" property="MANDATORY_APPROVAL_LEVEL" />
    <result column="QUERY_LIST_CIF" property="QUERY_LIST_CIF" />
    <result column="CIF_GEN_LIMIT" property="CIF_GEN_LIMIT" />
    <result column="CHECK_DEAL_MATURITY_DATE" property="CHECK_DEAL_MATURITY_DATE" />
    <result column="BASED_ON_VDATE" property="BASED_ON_VDATE" />
    <result column="DEFINE_BORROWINGS_LIMIT" property="DEFINE_BORROWINGS_LIMIT" />
    <result column="DEFINE_MARK_TO_MARKET_LIMIT" property="DEFINE_MARK_TO_MARKET_LIMIT" />
    <result column="CONTROL_AUTOMATIC_SUBLIMIT" property="CONTROL_AUTOMATIC_SUBLIMIT" />
    <result column="LIMIT_BY_VALUE_BEFOR_AFTER_EOD" property="LIMIT_BY_VALUE_BEFOR_AFTER_EOD" />
    <result column="APPROVE_COLLATERAL_RELEASE" property="APPROVE_COLLATERAL_RELEASE" />
    <result column="GRADING_BY_CIF" property="GRADING_BY_CIF" />
    <result column="GRADING_UPDATE_AFTER_APPROVE" property="GRADING_UPDATE_AFTER_APPROVE" />
    <result column="UPDATE_CREDIT_RATING" property="UPDATE_CREDIT_RATING" />
    <result column="MIN_MARGIN_DEPOSIT" property="MIN_MARGIN_DEPOSIT" />
    <result column="GENERAL_LIMIT_COMP_BRANCH" property="GENERAL_LIMIT_COMP_BRANCH" />
    <result column="REFLECT_FMS_GUARANTOR_TO_IIS" property="REFLECT_FMS_GUARANTOR_TO_IIS" />
    <result column="SHOW_JOINT_CIF_IN_LOOKUP" property="SHOW_JOINT_CIF_IN_LOOKUP" />
    <result column="APP_SUSP_REAC_FAC_SUB" property="APP_SUSP_REAC_FAC_SUB" />
    <result column="FX_LIMIT_BASED_ON_LIMITCY_YN" property="FX_LIMIT_BASED_ON_LIMITCY_YN" />
    <result column="ONE_FACILITYBY_CIF" property="ONE_FACILITYBY_CIF" />
    <result column="AUTO_ALERT_AFTER_UPDATE" property="AUTO_ALERT_AFTER_UPDATE" />
    <result column="ALERT_DISABLE_SNOOZE" property="ALERT_DISABLE_SNOOZE" />
    <result column="ALERT_STATUS" property="ALERT_STATUS" />
    <result column="EXIST_ACTIVE_APP_ACTION" property="EXIST_ACTIVE_APP_ACTION" />
    <result column="EXIST_ACTIVE_APP_BY" property="EXIST_ACTIVE_APP_BY" />
    <result column="CHK_CY_EXCHRATE_TOLERANCE_YN" property="CHK_CY_EXCHRATE_TOLERANCE_YN" />
    <result column="CY_RATE_TOLRNCE_APPROVAL_ACT" property="CY_RATE_TOLRNCE_APPROVAL_ACT" />
    <result column="CY_RATE_TOLRNCE_CREATION_ACT" property="CY_RATE_TOLRNCE_CREATION_ACT" />
    <result column="CHECK_SPECIAL_CONDITIONS" property="CHECK_SPECIAL_CONDITIONS" />
    <result column="SHOW_MEMOS_UPON_INPUT" property="SHOW_MEMOS_UPON_INPUT" />
    <result column="SHOW_MEMOS_UPON_RETRIEVAL" property="SHOW_MEMOS_UPON_RETRIEVAL" />
    <result column="MANDATORY_FAVORING_PARTY_YN" property="MANDATORY_FAVORING_PARTY_YN" />
    <result column="ENABLE_DYNAMIC_WORK_FLOW_YN" property="ENABLE_DYNAMIC_WORK_FLOW_YN" />
    <result column="DATE_UPDATED" property="DATE_UPDATED" />
    <result column="UPDATED_BY" property="UPDATED_BY" />
    <result column="COLLATERAL_VERIFY_REQ_YN" property="COLLATERAL_VERIFY_REQ_YN" />
    <result column="CREDIT_CARD_NO_EDITABLE_YN" property="CREDIT_CARD_NO_EDITABLE_YN" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, CIF_FACILITY_LIMIT, MANDATORY_APPROVAL_LEVEL, QUERY_LIST_CIF, 
    CIF_GEN_LIMIT, CHECK_DEAL_MATURITY_DATE, BASED_ON_VDATE, DEFINE_BORROWINGS_LIMIT, 
    DEFINE_MARK_TO_MARKET_LIMIT, CONTROL_AUTOMATIC_SUBLIMIT, LIMIT_BY_VALUE_BEFOR_AFTER_EOD, 
    APPROVE_COLLATERAL_RELEASE, GRADING_BY_CIF, GRADING_UPDATE_AFTER_APPROVE, UPDATE_CREDIT_RATING, 
    MIN_MARGIN_DEPOSIT, GENERAL_LIMIT_COMP_BRANCH, REFLECT_FMS_GUARANTOR_TO_IIS, SHOW_JOINT_CIF_IN_LOOKUP, 
    APP_SUSP_REAC_FAC_SUB, FX_LIMIT_BASED_ON_LIMITCY_YN, ONE_FACILITYBY_CIF, AUTO_ALERT_AFTER_UPDATE, 
    ALERT_DISABLE_SNOOZE, ALERT_STATUS, EXIST_ACTIVE_APP_ACTION, EXIST_ACTIVE_APP_BY, 
    CHK_CY_EXCHRATE_TOLERANCE_YN, CY_RATE_TOLRNCE_APPROVAL_ACT, CY_RATE_TOLRNCE_CREATION_ACT, 
    CHECK_SPECIAL_CONDITIONS, SHOW_MEMOS_UPON_INPUT, SHOW_MEMOS_UPON_RETRIEVAL, MANDATORY_FAVORING_PARTY_YN, 
    ENABLE_DYNAMIC_WORK_FLOW_YN, DATE_UPDATED, UPDATED_BY, COLLATERAL_VERIFY_REQ_YN, CREDIT_CARD_NO_EDITABLE_YN
  </sql>
  <select id="selectFMSCTRL" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.FMSCTRLVOKey" >
    select 
    <include refid="Base_Column_List" />
    from FMSCTRL
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
  </select>
  <delete id="deleteFMSCTRL" parameterType="com.path.dbmaps.vo.FMSCTRLVOKey" >
    delete from FMSCTRL
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
  </delete>
  <insert id="insertFMSCTRL" parameterType="com.path.dbmaps.vo.FMSCTRLVO" >
    insert into FMSCTRL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="CIF_FACILITY_LIMIT != null and !&quot;&quot;.equals(CIF_FACILITY_LIMIT)" >
        CIF_FACILITY_LIMIT,
      </if>
      <if test="MANDATORY_APPROVAL_LEVEL != null and !&quot;&quot;.equals(MANDATORY_APPROVAL_LEVEL)" >
        MANDATORY_APPROVAL_LEVEL,
      </if>
      <if test="QUERY_LIST_CIF != null and !&quot;&quot;.equals(QUERY_LIST_CIF)" >
        QUERY_LIST_CIF,
      </if>
      <if test="CIF_GEN_LIMIT != null and !&quot;&quot;.equals(CIF_GEN_LIMIT)" >
        CIF_GEN_LIMIT,
      </if>
      <if test="CHECK_DEAL_MATURITY_DATE != null and !&quot;&quot;.equals(CHECK_DEAL_MATURITY_DATE)" >
        CHECK_DEAL_MATURITY_DATE,
      </if>
      <if test="BASED_ON_VDATE != null and !&quot;&quot;.equals(BASED_ON_VDATE)" >
        BASED_ON_VDATE,
      </if>
      <if test="DEFINE_BORROWINGS_LIMIT != null and !&quot;&quot;.equals(DEFINE_BORROWINGS_LIMIT)" >
        DEFINE_BORROWINGS_LIMIT,
      </if>
      <if test="DEFINE_MARK_TO_MARKET_LIMIT != null and !&quot;&quot;.equals(DEFINE_MARK_TO_MARKET_LIMIT)" >
        DEFINE_MARK_TO_MARKET_LIMIT,
      </if>
      <if test="CONTROL_AUTOMATIC_SUBLIMIT != null and !&quot;&quot;.equals(CONTROL_AUTOMATIC_SUBLIMIT)" >
        CONTROL_AUTOMATIC_SUBLIMIT,
      </if>
      <if test="LIMIT_BY_VALUE_BEFOR_AFTER_EOD != null and !&quot;&quot;.equals(LIMIT_BY_VALUE_BEFOR_AFTER_EOD)" >
        LIMIT_BY_VALUE_BEFOR_AFTER_EOD,
      </if>
      <if test="APPROVE_COLLATERAL_RELEASE != null and !&quot;&quot;.equals(APPROVE_COLLATERAL_RELEASE)" >
        APPROVE_COLLATERAL_RELEASE,
      </if>
      <if test="GRADING_BY_CIF != null and !&quot;&quot;.equals(GRADING_BY_CIF)" >
        GRADING_BY_CIF,
      </if>
      <if test="GRADING_UPDATE_AFTER_APPROVE != null and !&quot;&quot;.equals(GRADING_UPDATE_AFTER_APPROVE)" >
        GRADING_UPDATE_AFTER_APPROVE,
      </if>
      <if test="UPDATE_CREDIT_RATING != null and !&quot;&quot;.equals(UPDATE_CREDIT_RATING)" >
        UPDATE_CREDIT_RATING,
      </if>
      <if test="MIN_MARGIN_DEPOSIT != null and MIN_MARGIN_DEPOSIT != emptyBigDecimalValue" >
        MIN_MARGIN_DEPOSIT,
      </if>
      <if test="GENERAL_LIMIT_COMP_BRANCH != null and !&quot;&quot;.equals(GENERAL_LIMIT_COMP_BRANCH)" >
        GENERAL_LIMIT_COMP_BRANCH,
      </if>
      <if test="REFLECT_FMS_GUARANTOR_TO_IIS != null and !&quot;&quot;.equals(REFLECT_FMS_GUARANTOR_TO_IIS)" >
        REFLECT_FMS_GUARANTOR_TO_IIS,
      </if>
      <if test="SHOW_JOINT_CIF_IN_LOOKUP != null and !&quot;&quot;.equals(SHOW_JOINT_CIF_IN_LOOKUP)" >
        SHOW_JOINT_CIF_IN_LOOKUP,
      </if>
      <if test="APP_SUSP_REAC_FAC_SUB != null and !&quot;&quot;.equals(APP_SUSP_REAC_FAC_SUB)" >
        APP_SUSP_REAC_FAC_SUB,
      </if>
      <if test="FX_LIMIT_BASED_ON_LIMITCY_YN != null and !&quot;&quot;.equals(FX_LIMIT_BASED_ON_LIMITCY_YN)" >
        FX_LIMIT_BASED_ON_LIMITCY_YN,
      </if>
      <if test="ONE_FACILITYBY_CIF != null and !&quot;&quot;.equals(ONE_FACILITYBY_CIF)" >
        ONE_FACILITYBY_CIF,
      </if>
      <if test="AUTO_ALERT_AFTER_UPDATE != null and !&quot;&quot;.equals(AUTO_ALERT_AFTER_UPDATE)" >
        AUTO_ALERT_AFTER_UPDATE,
      </if>
      <if test="ALERT_DISABLE_SNOOZE != null and !&quot;&quot;.equals(ALERT_DISABLE_SNOOZE)" >
        ALERT_DISABLE_SNOOZE,
      </if>
      <if test="ALERT_STATUS != null and !&quot;&quot;.equals(ALERT_STATUS)" >
        ALERT_STATUS,
      </if>
      <if test="EXIST_ACTIVE_APP_ACTION != null and !&quot;&quot;.equals(EXIST_ACTIVE_APP_ACTION)" >
        EXIST_ACTIVE_APP_ACTION,
      </if>
      <if test="EXIST_ACTIVE_APP_BY != null and !&quot;&quot;.equals(EXIST_ACTIVE_APP_BY)" >
        EXIST_ACTIVE_APP_BY,
      </if>
      <if test="CHK_CY_EXCHRATE_TOLERANCE_YN != null and !&quot;&quot;.equals(CHK_CY_EXCHRATE_TOLERANCE_YN)" >
        CHK_CY_EXCHRATE_TOLERANCE_YN,
      </if>
      <if test="CY_RATE_TOLRNCE_APPROVAL_ACT != null and !&quot;&quot;.equals(CY_RATE_TOLRNCE_APPROVAL_ACT)" >
        CY_RATE_TOLRNCE_APPROVAL_ACT,
      </if>
      <if test="CY_RATE_TOLRNCE_CREATION_ACT != null and !&quot;&quot;.equals(CY_RATE_TOLRNCE_CREATION_ACT)" >
        CY_RATE_TOLRNCE_CREATION_ACT,
      </if>
      <if test="CHECK_SPECIAL_CONDITIONS != null and !&quot;&quot;.equals(CHECK_SPECIAL_CONDITIONS)" >
        CHECK_SPECIAL_CONDITIONS,
      </if>
      <if test="SHOW_MEMOS_UPON_INPUT != null and !&quot;&quot;.equals(SHOW_MEMOS_UPON_INPUT)" >
        SHOW_MEMOS_UPON_INPUT,
      </if>
      <if test="SHOW_MEMOS_UPON_RETRIEVAL != null and !&quot;&quot;.equals(SHOW_MEMOS_UPON_RETRIEVAL)" >
        SHOW_MEMOS_UPON_RETRIEVAL,
      </if>
      <if test="MANDATORY_FAVORING_PARTY_YN != null and !&quot;&quot;.equals(MANDATORY_FAVORING_PARTY_YN)" >
        MANDATORY_FAVORING_PARTY_YN,
      </if>
      <if test="ENABLE_DYNAMIC_WORK_FLOW_YN != null and !&quot;&quot;.equals(ENABLE_DYNAMIC_WORK_FLOW_YN)" >
        ENABLE_DYNAMIC_WORK_FLOW_YN,
      </if>
      DATE_UPDATED,
      <if test="UPDATED_BY != null and !&quot;&quot;.equals(UPDATED_BY)" >
        UPDATED_BY,
      </if>
      <if test="COLLATERAL_VERIFY_REQ_YN != null and !&quot;&quot;.equals(COLLATERAL_VERIFY_REQ_YN)" >
        COLLATERAL_VERIFY_REQ_YN,
      </if>
      <if test="CREDIT_CARD_NO_EDITABLE_YN != null and !&quot;&quot;.equals(CREDIT_CARD_NO_EDITABLE_YN)" >
        CREDIT_CARD_NO_EDITABLE_YN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="CIF_FACILITY_LIMIT != null and !&quot;&quot;.equals(CIF_FACILITY_LIMIT)" >
        #{CIF_FACILITY_LIMIT},
      </if>
      <if test="MANDATORY_APPROVAL_LEVEL != null and !&quot;&quot;.equals(MANDATORY_APPROVAL_LEVEL)" >
        #{MANDATORY_APPROVAL_LEVEL},
      </if>
      <if test="QUERY_LIST_CIF != null and !&quot;&quot;.equals(QUERY_LIST_CIF)" >
        #{QUERY_LIST_CIF},
      </if>
      <if test="CIF_GEN_LIMIT != null and !&quot;&quot;.equals(CIF_GEN_LIMIT)" >
        #{CIF_GEN_LIMIT},
      </if>
      <if test="CHECK_DEAL_MATURITY_DATE != null and !&quot;&quot;.equals(CHECK_DEAL_MATURITY_DATE)" >
        #{CHECK_DEAL_MATURITY_DATE},
      </if>
      <if test="BASED_ON_VDATE != null and !&quot;&quot;.equals(BASED_ON_VDATE)" >
        #{BASED_ON_VDATE},
      </if>
      <if test="DEFINE_BORROWINGS_LIMIT != null and !&quot;&quot;.equals(DEFINE_BORROWINGS_LIMIT)" >
        #{DEFINE_BORROWINGS_LIMIT},
      </if>
      <if test="DEFINE_MARK_TO_MARKET_LIMIT != null and !&quot;&quot;.equals(DEFINE_MARK_TO_MARKET_LIMIT)" >
        #{DEFINE_MARK_TO_MARKET_LIMIT},
      </if>
      <if test="CONTROL_AUTOMATIC_SUBLIMIT != null and !&quot;&quot;.equals(CONTROL_AUTOMATIC_SUBLIMIT)" >
        #{CONTROL_AUTOMATIC_SUBLIMIT},
      </if>
      <if test="LIMIT_BY_VALUE_BEFOR_AFTER_EOD != null and !&quot;&quot;.equals(LIMIT_BY_VALUE_BEFOR_AFTER_EOD)" >
        #{LIMIT_BY_VALUE_BEFOR_AFTER_EOD},
      </if>
      <if test="APPROVE_COLLATERAL_RELEASE != null and !&quot;&quot;.equals(APPROVE_COLLATERAL_RELEASE)" >
        #{APPROVE_COLLATERAL_RELEASE},
      </if>
      <if test="GRADING_BY_CIF != null and !&quot;&quot;.equals(GRADING_BY_CIF)" >
        #{GRADING_BY_CIF},
      </if>
      <if test="GRADING_UPDATE_AFTER_APPROVE != null and !&quot;&quot;.equals(GRADING_UPDATE_AFTER_APPROVE)" >
        #{GRADING_UPDATE_AFTER_APPROVE},
      </if>
      <if test="UPDATE_CREDIT_RATING != null and !&quot;&quot;.equals(UPDATE_CREDIT_RATING)" >
        #{UPDATE_CREDIT_RATING},
      </if>
      <if test="MIN_MARGIN_DEPOSIT != null and MIN_MARGIN_DEPOSIT != emptyBigDecimalValue" >
        #{MIN_MARGIN_DEPOSIT},
      </if>
      <if test="GENERAL_LIMIT_COMP_BRANCH != null and !&quot;&quot;.equals(GENERAL_LIMIT_COMP_BRANCH)" >
        #{GENERAL_LIMIT_COMP_BRANCH},
      </if>
      <if test="REFLECT_FMS_GUARANTOR_TO_IIS != null and !&quot;&quot;.equals(REFLECT_FMS_GUARANTOR_TO_IIS)" >
        #{REFLECT_FMS_GUARANTOR_TO_IIS},
      </if>
      <if test="SHOW_JOINT_CIF_IN_LOOKUP != null and !&quot;&quot;.equals(SHOW_JOINT_CIF_IN_LOOKUP)" >
        #{SHOW_JOINT_CIF_IN_LOOKUP},
      </if>
      <if test="APP_SUSP_REAC_FAC_SUB != null and !&quot;&quot;.equals(APP_SUSP_REAC_FAC_SUB)" >
        #{APP_SUSP_REAC_FAC_SUB},
      </if>
      <if test="FX_LIMIT_BASED_ON_LIMITCY_YN != null and !&quot;&quot;.equals(FX_LIMIT_BASED_ON_LIMITCY_YN)" >
        #{FX_LIMIT_BASED_ON_LIMITCY_YN},
      </if>
      <if test="ONE_FACILITYBY_CIF != null and !&quot;&quot;.equals(ONE_FACILITYBY_CIF)" >
        #{ONE_FACILITYBY_CIF},
      </if>
      <if test="AUTO_ALERT_AFTER_UPDATE != null and !&quot;&quot;.equals(AUTO_ALERT_AFTER_UPDATE)" >
        #{AUTO_ALERT_AFTER_UPDATE},
      </if>
      <if test="ALERT_DISABLE_SNOOZE != null and !&quot;&quot;.equals(ALERT_DISABLE_SNOOZE)" >
        #{ALERT_DISABLE_SNOOZE},
      </if>
      <if test="ALERT_STATUS != null and !&quot;&quot;.equals(ALERT_STATUS)" >
        #{ALERT_STATUS},
      </if>
      <if test="EXIST_ACTIVE_APP_ACTION != null and !&quot;&quot;.equals(EXIST_ACTIVE_APP_ACTION)" >
        #{EXIST_ACTIVE_APP_ACTION},
      </if>
      <if test="EXIST_ACTIVE_APP_BY != null and !&quot;&quot;.equals(EXIST_ACTIVE_APP_BY)" >
        #{EXIST_ACTIVE_APP_BY},
      </if>
      <if test="CHK_CY_EXCHRATE_TOLERANCE_YN != null and !&quot;&quot;.equals(CHK_CY_EXCHRATE_TOLERANCE_YN)" >
        #{CHK_CY_EXCHRATE_TOLERANCE_YN},
      </if>
      <if test="CY_RATE_TOLRNCE_APPROVAL_ACT != null and !&quot;&quot;.equals(CY_RATE_TOLRNCE_APPROVAL_ACT)" >
        #{CY_RATE_TOLRNCE_APPROVAL_ACT},
      </if>
      <if test="CY_RATE_TOLRNCE_CREATION_ACT != null and !&quot;&quot;.equals(CY_RATE_TOLRNCE_CREATION_ACT)" >
        #{CY_RATE_TOLRNCE_CREATION_ACT},
      </if>
      <if test="CHECK_SPECIAL_CONDITIONS != null and !&quot;&quot;.equals(CHECK_SPECIAL_CONDITIONS)" >
        #{CHECK_SPECIAL_CONDITIONS},
      </if>
      <if test="SHOW_MEMOS_UPON_INPUT != null and !&quot;&quot;.equals(SHOW_MEMOS_UPON_INPUT)" >
        #{SHOW_MEMOS_UPON_INPUT},
      </if>
      <if test="SHOW_MEMOS_UPON_RETRIEVAL != null and !&quot;&quot;.equals(SHOW_MEMOS_UPON_RETRIEVAL)" >
        #{SHOW_MEMOS_UPON_RETRIEVAL},
      </if>
      <if test="MANDATORY_FAVORING_PARTY_YN != null and !&quot;&quot;.equals(MANDATORY_FAVORING_PARTY_YN)" >
        #{MANDATORY_FAVORING_PARTY_YN},
      </if>
      <if test="ENABLE_DYNAMIC_WORK_FLOW_YN != null and !&quot;&quot;.equals(ENABLE_DYNAMIC_WORK_FLOW_YN)" >
        #{ENABLE_DYNAMIC_WORK_FLOW_YN},
      </if>
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
      <if test="UPDATED_BY != null and !&quot;&quot;.equals(UPDATED_BY)" >
        #{UPDATED_BY},
      </if>
      <if test="COLLATERAL_VERIFY_REQ_YN != null and !&quot;&quot;.equals(COLLATERAL_VERIFY_REQ_YN)" >
        #{COLLATERAL_VERIFY_REQ_YN},
      </if>
      <if test="CREDIT_CARD_NO_EDITABLE_YN != null and !&quot;&quot;.equals(CREDIT_CARD_NO_EDITABLE_YN)" >
        #{CREDIT_CARD_NO_EDITABLE_YN},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateFMSCTRL" >
    update FMSCTRL
    <set >
      <if test="CIF_FACILITY_LIMIT != null" >
        <choose >
          <when test="CIF_FACILITY_LIMIT.equals(&quot;&quot;)" >
            CIF_FACILITY_LIMIT = NULL ,
          </when>
          <otherwise >
            CIF_FACILITY_LIMIT = #{CIF_FACILITY_LIMIT},
          </otherwise>
        </choose>
      </if>
      <if test="MANDATORY_APPROVAL_LEVEL != null" >
        <choose >
          <when test="MANDATORY_APPROVAL_LEVEL.equals(&quot;&quot;)" >
            MANDATORY_APPROVAL_LEVEL = NULL ,
          </when>
          <otherwise >
            MANDATORY_APPROVAL_LEVEL = #{MANDATORY_APPROVAL_LEVEL},
          </otherwise>
        </choose>
      </if>
      <if test="QUERY_LIST_CIF != null" >
        <choose >
          <when test="QUERY_LIST_CIF.equals(&quot;&quot;)" >
            QUERY_LIST_CIF = NULL ,
          </when>
          <otherwise >
            QUERY_LIST_CIF = #{QUERY_LIST_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="CIF_GEN_LIMIT != null" >
        <choose >
          <when test="CIF_GEN_LIMIT.equals(&quot;&quot;)" >
            CIF_GEN_LIMIT = NULL ,
          </when>
          <otherwise >
            CIF_GEN_LIMIT = #{CIF_GEN_LIMIT},
          </otherwise>
        </choose>
      </if>
      <if test="CHECK_DEAL_MATURITY_DATE != null" >
        <choose >
          <when test="CHECK_DEAL_MATURITY_DATE.equals(&quot;&quot;)" >
            CHECK_DEAL_MATURITY_DATE = NULL ,
          </when>
          <otherwise >
            CHECK_DEAL_MATURITY_DATE = #{CHECK_DEAL_MATURITY_DATE},
          </otherwise>
        </choose>
      </if>
      <if test="BASED_ON_VDATE != null" >
        <choose >
          <when test="BASED_ON_VDATE.equals(&quot;&quot;)" >
            BASED_ON_VDATE = NULL ,
          </when>
          <otherwise >
            BASED_ON_VDATE = #{BASED_ON_VDATE},
          </otherwise>
        </choose>
      </if>
      <if test="DEFINE_BORROWINGS_LIMIT != null" >
        <choose >
          <when test="DEFINE_BORROWINGS_LIMIT.equals(&quot;&quot;)" >
            DEFINE_BORROWINGS_LIMIT = NULL ,
          </when>
          <otherwise >
            DEFINE_BORROWINGS_LIMIT = #{DEFINE_BORROWINGS_LIMIT},
          </otherwise>
        </choose>
      </if>
      <if test="DEFINE_MARK_TO_MARKET_LIMIT != null" >
        <choose >
          <when test="DEFINE_MARK_TO_MARKET_LIMIT.equals(&quot;&quot;)" >
            DEFINE_MARK_TO_MARKET_LIMIT = NULL ,
          </when>
          <otherwise >
            DEFINE_MARK_TO_MARKET_LIMIT = #{DEFINE_MARK_TO_MARKET_LIMIT},
          </otherwise>
        </choose>
      </if>
      <if test="CONTROL_AUTOMATIC_SUBLIMIT != null" >
        <choose >
          <when test="CONTROL_AUTOMATIC_SUBLIMIT.equals(&quot;&quot;)" >
            CONTROL_AUTOMATIC_SUBLIMIT = NULL ,
          </when>
          <otherwise >
            CONTROL_AUTOMATIC_SUBLIMIT = #{CONTROL_AUTOMATIC_SUBLIMIT},
          </otherwise>
        </choose>
      </if>
      <if test="LIMIT_BY_VALUE_BEFOR_AFTER_EOD != null" >
        <choose >
          <when test="LIMIT_BY_VALUE_BEFOR_AFTER_EOD.equals(&quot;&quot;)" >
            LIMIT_BY_VALUE_BEFOR_AFTER_EOD = NULL ,
          </when>
          <otherwise >
            LIMIT_BY_VALUE_BEFOR_AFTER_EOD = #{LIMIT_BY_VALUE_BEFOR_AFTER_EOD},
          </otherwise>
        </choose>
      </if>
      <if test="APPROVE_COLLATERAL_RELEASE != null" >
        <choose >
          <when test="APPROVE_COLLATERAL_RELEASE.equals(&quot;&quot;)" >
            APPROVE_COLLATERAL_RELEASE = NULL ,
          </when>
          <otherwise >
            APPROVE_COLLATERAL_RELEASE = #{APPROVE_COLLATERAL_RELEASE},
          </otherwise>
        </choose>
      </if>
      <if test="GRADING_BY_CIF != null" >
        <choose >
          <when test="GRADING_BY_CIF.equals(&quot;&quot;)" >
            GRADING_BY_CIF = NULL ,
          </when>
          <otherwise >
            GRADING_BY_CIF = #{GRADING_BY_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="GRADING_UPDATE_AFTER_APPROVE != null" >
        <choose >
          <when test="GRADING_UPDATE_AFTER_APPROVE.equals(&quot;&quot;)" >
            GRADING_UPDATE_AFTER_APPROVE = NULL ,
          </when>
          <otherwise >
            GRADING_UPDATE_AFTER_APPROVE = #{GRADING_UPDATE_AFTER_APPROVE},
          </otherwise>
        </choose>
      </if>
      <if test="UPDATE_CREDIT_RATING != null" >
        <choose >
          <when test="UPDATE_CREDIT_RATING.equals(&quot;&quot;)" >
            UPDATE_CREDIT_RATING = NULL ,
          </when>
          <otherwise >
            UPDATE_CREDIT_RATING = #{UPDATE_CREDIT_RATING},
          </otherwise>
        </choose>
      </if>
      <if test="MIN_MARGIN_DEPOSIT != null" >
        <choose >
          <when test="MIN_MARGIN_DEPOSIT == emptyBigDecimalValue" >
            MIN_MARGIN_DEPOSIT = NULL ,
          </when>
          <otherwise >
            MIN_MARGIN_DEPOSIT = #{MIN_MARGIN_DEPOSIT},
          </otherwise>
        </choose>
      </if>
      <if test="GENERAL_LIMIT_COMP_BRANCH != null" >
        <choose >
          <when test="GENERAL_LIMIT_COMP_BRANCH.equals(&quot;&quot;)" >
            GENERAL_LIMIT_COMP_BRANCH = NULL ,
          </when>
          <otherwise >
            GENERAL_LIMIT_COMP_BRANCH = #{GENERAL_LIMIT_COMP_BRANCH},
          </otherwise>
        </choose>
      </if>
      <if test="REFLECT_FMS_GUARANTOR_TO_IIS != null" >
        <choose >
          <when test="REFLECT_FMS_GUARANTOR_TO_IIS.equals(&quot;&quot;)" >
            REFLECT_FMS_GUARANTOR_TO_IIS = NULL ,
          </when>
          <otherwise >
            REFLECT_FMS_GUARANTOR_TO_IIS = #{REFLECT_FMS_GUARANTOR_TO_IIS},
          </otherwise>
        </choose>
      </if>
      <if test="SHOW_JOINT_CIF_IN_LOOKUP != null" >
        <choose >
          <when test="SHOW_JOINT_CIF_IN_LOOKUP.equals(&quot;&quot;)" >
            SHOW_JOINT_CIF_IN_LOOKUP = NULL ,
          </when>
          <otherwise >
            SHOW_JOINT_CIF_IN_LOOKUP = #{SHOW_JOINT_CIF_IN_LOOKUP},
          </otherwise>
        </choose>
      </if>
      <if test="APP_SUSP_REAC_FAC_SUB != null" >
        <choose >
          <when test="APP_SUSP_REAC_FAC_SUB.equals(&quot;&quot;)" >
            APP_SUSP_REAC_FAC_SUB = NULL ,
          </when>
          <otherwise >
            APP_SUSP_REAC_FAC_SUB = #{APP_SUSP_REAC_FAC_SUB},
          </otherwise>
        </choose>
      </if>
      <if test="FX_LIMIT_BASED_ON_LIMITCY_YN != null" >
        <choose >
          <when test="FX_LIMIT_BASED_ON_LIMITCY_YN.equals(&quot;&quot;)" >
            FX_LIMIT_BASED_ON_LIMITCY_YN = NULL ,
          </when>
          <otherwise >
            FX_LIMIT_BASED_ON_LIMITCY_YN = #{FX_LIMIT_BASED_ON_LIMITCY_YN},
          </otherwise>
        </choose>
      </if>
      <if test="ONE_FACILITYBY_CIF != null" >
        <choose >
          <when test="ONE_FACILITYBY_CIF.equals(&quot;&quot;)" >
            ONE_FACILITYBY_CIF = NULL ,
          </when>
          <otherwise >
            ONE_FACILITYBY_CIF = #{ONE_FACILITYBY_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="AUTO_ALERT_AFTER_UPDATE != null" >
        <choose >
          <when test="AUTO_ALERT_AFTER_UPDATE.equals(&quot;&quot;)" >
            AUTO_ALERT_AFTER_UPDATE = NULL ,
          </when>
          <otherwise >
            AUTO_ALERT_AFTER_UPDATE = #{AUTO_ALERT_AFTER_UPDATE},
          </otherwise>
        </choose>
      </if>
      <if test="ALERT_DISABLE_SNOOZE != null" >
        <choose >
          <when test="ALERT_DISABLE_SNOOZE.equals(&quot;&quot;)" >
            ALERT_DISABLE_SNOOZE = NULL ,
          </when>
          <otherwise >
            ALERT_DISABLE_SNOOZE = #{ALERT_DISABLE_SNOOZE},
          </otherwise>
        </choose>
      </if>
      <if test="ALERT_STATUS != null" >
        <choose >
          <when test="ALERT_STATUS.equals(&quot;&quot;)" >
            ALERT_STATUS = NULL ,
          </when>
          <otherwise >
            ALERT_STATUS = #{ALERT_STATUS},
          </otherwise>
        </choose>
      </if>
      <if test="EXIST_ACTIVE_APP_ACTION != null" >
        <choose >
          <when test="EXIST_ACTIVE_APP_ACTION.equals(&quot;&quot;)" >
            EXIST_ACTIVE_APP_ACTION = NULL ,
          </when>
          <otherwise >
            EXIST_ACTIVE_APP_ACTION = #{EXIST_ACTIVE_APP_ACTION},
          </otherwise>
        </choose>
      </if>
      <if test="EXIST_ACTIVE_APP_BY != null" >
        <choose >
          <when test="EXIST_ACTIVE_APP_BY.equals(&quot;&quot;)" >
            EXIST_ACTIVE_APP_BY = NULL ,
          </when>
          <otherwise >
            EXIST_ACTIVE_APP_BY = #{EXIST_ACTIVE_APP_BY},
          </otherwise>
        </choose>
      </if>
      <if test="CHK_CY_EXCHRATE_TOLERANCE_YN != null" >
        <choose >
          <when test="CHK_CY_EXCHRATE_TOLERANCE_YN.equals(&quot;&quot;)" >
            CHK_CY_EXCHRATE_TOLERANCE_YN = NULL ,
          </when>
          <otherwise >
            CHK_CY_EXCHRATE_TOLERANCE_YN = #{CHK_CY_EXCHRATE_TOLERANCE_YN},
          </otherwise>
        </choose>
      </if>
      <if test="CY_RATE_TOLRNCE_APPROVAL_ACT != null" >
        <choose >
          <when test="CY_RATE_TOLRNCE_APPROVAL_ACT.equals(&quot;&quot;)" >
            CY_RATE_TOLRNCE_APPROVAL_ACT = NULL ,
          </when>
          <otherwise >
            CY_RATE_TOLRNCE_APPROVAL_ACT = #{CY_RATE_TOLRNCE_APPROVAL_ACT},
          </otherwise>
        </choose>
      </if>
      <if test="CY_RATE_TOLRNCE_CREATION_ACT != null" >
        <choose >
          <when test="CY_RATE_TOLRNCE_CREATION_ACT.equals(&quot;&quot;)" >
            CY_RATE_TOLRNCE_CREATION_ACT = NULL ,
          </when>
          <otherwise >
            CY_RATE_TOLRNCE_CREATION_ACT = #{CY_RATE_TOLRNCE_CREATION_ACT},
          </otherwise>
        </choose>
      </if>
      <if test="CHECK_SPECIAL_CONDITIONS != null" >
        <choose >
          <when test="CHECK_SPECIAL_CONDITIONS.equals(&quot;&quot;)" >
            CHECK_SPECIAL_CONDITIONS = NULL ,
          </when>
          <otherwise >
            CHECK_SPECIAL_CONDITIONS = #{CHECK_SPECIAL_CONDITIONS},
          </otherwise>
        </choose>
      </if>
      <if test="SHOW_MEMOS_UPON_INPUT != null" >
        <choose >
          <when test="SHOW_MEMOS_UPON_INPUT.equals(&quot;&quot;)" >
            SHOW_MEMOS_UPON_INPUT = NULL ,
          </when>
          <otherwise >
            SHOW_MEMOS_UPON_INPUT = #{SHOW_MEMOS_UPON_INPUT},
          </otherwise>
        </choose>
      </if>
      <if test="SHOW_MEMOS_UPON_RETRIEVAL != null" >
        <choose >
          <when test="SHOW_MEMOS_UPON_RETRIEVAL.equals(&quot;&quot;)" >
            SHOW_MEMOS_UPON_RETRIEVAL = NULL ,
          </when>
          <otherwise >
            SHOW_MEMOS_UPON_RETRIEVAL = #{SHOW_MEMOS_UPON_RETRIEVAL},
          </otherwise>
        </choose>
      </if>
      <if test="MANDATORY_FAVORING_PARTY_YN != null" >
        <choose >
          <when test="MANDATORY_FAVORING_PARTY_YN.equals(&quot;&quot;)" >
            MANDATORY_FAVORING_PARTY_YN = NULL ,
          </when>
          <otherwise >
            MANDATORY_FAVORING_PARTY_YN = #{MANDATORY_FAVORING_PARTY_YN},
          </otherwise>
        </choose>
      </if>
      <if test="ENABLE_DYNAMIC_WORK_FLOW_YN != null" >
        <choose >
          <when test="ENABLE_DYNAMIC_WORK_FLOW_YN.equals(&quot;&quot;)" >
            ENABLE_DYNAMIC_WORK_FLOW_YN = NULL ,
          </when>
          <otherwise >
            ENABLE_DYNAMIC_WORK_FLOW_YN = #{ENABLE_DYNAMIC_WORK_FLOW_YN},
          </otherwise>
        </choose>
      </if>
      DATE_UPDATED = 
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
      <if test="UPDATED_BY != null" >
        <choose >
          <when test="UPDATED_BY.equals(&quot;&quot;)" >
            UPDATED_BY = NULL ,
          </when>
          <otherwise >
            UPDATED_BY = #{UPDATED_BY},
          </otherwise>
        </choose>
      </if>
      <if test="COLLATERAL_VERIFY_REQ_YN != null" >
        <choose >
          <when test="COLLATERAL_VERIFY_REQ_YN.equals(&quot;&quot;)" >
            COLLATERAL_VERIFY_REQ_YN = NULL ,
          </when>
          <otherwise >
            COLLATERAL_VERIFY_REQ_YN = #{COLLATERAL_VERIFY_REQ_YN},
          </otherwise>
        </choose>
      </if>
      <if test="CREDIT_CARD_NO_EDITABLE_YN != null" >
        <choose >
          <when test="CREDIT_CARD_NO_EDITABLE_YN.equals(&quot;&quot;)" >
            CREDIT_CARD_NO_EDITABLE_YN = NULL ,
          </when>
          <otherwise >
            CREDIT_CARD_NO_EDITABLE_YN = #{CREDIT_CARD_NO_EDITABLE_YN},
          </otherwise>
        </choose>
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
  </sql>
  <update id="updateFMSCTRL" parameterType="com.path.dbmaps.vo.FMSCTRLVO" >
    <include refid="sql_updateFMSCTRL" />
    <if test="DATE_UPDATED != null" >
      AND DATE_UPDATED = #{DATE_UPDATED}
    </if>
  </update>
</mapper>