<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="FMSCOLLATERAL_INSUR" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.FMSCOLLATERAL_INSURVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COLLATERAL_CODE" property="COLLATERAL_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="INSURANCE_CODE" property="INSURANCE_CODE" />
    <result column="INSURANCE_TYPE" property="INSURANCE_TYPE" />
    <result column="COMPANY_CIF" property="COMPANY_CIF" />
    <result column="COMPANY_CIF_DESC" property="COMPANY_CIF_DESC" />
    <result column="POLICY_NO" property="POLICY_NO" />
    <result column="COVERAGE_TYPE" property="COVERAGE_TYPE" />
    <result column="PARTICIPANT_CIF" property="PARTICIPANT_CIF" />
    <result column="PARTICIPANT_DESC" property="PARTICIPANT_DESC" />
    <result column="START_DATE" property="START_DATE" />
    <result column="EXPIRY_DATE" property="EXPIRY_DATE" />
    <result column="PREMIUM_AMOUNT" property="PREMIUM_AMOUNT" />
    <result column="INSURED_AMOUNT" property="INSURED_AMOUNT" />
    <result column="CURRENCY" property="CURRENCY" />
    <result column="CY_DEC" property="CY_DEC" />
    <result column="MASTER_INDIVIDUAL" property="MASTER_INDIVIDUAL" />
    <result column="COMMENTS" property="COMMENTS" />
    <result column="UNDERWRITER" property="UNDERWRITER" />
    <result column="COVER_DATE" property="COVER_DATE" />
    <result column="COVER_NOTE" property="COVER_NOTE" />
    <result column="COMPLETED_FOLLOWUP_REQUIRED" property="COMPLETED_FOLLOWUP_REQUIRED" />
    <result column="INSURED_PERC" property="INSURED_PERC" />
    <result column="PREMIUM_PERC" property="PREMIUM_PERC" />
    <result column="COVERAGE_TYPE_CODE" property="COVERAGE_TYPE_CODE" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COLLATERAL_CODE, COMP_CODE, INSURANCE_CODE, INSURANCE_TYPE, COMPANY_CIF, 
    COMPANY_CIF_DESC, POLICY_NO, COVERAGE_TYPE, PARTICIPANT_CIF, PARTICIPANT_DESC, START_DATE, 
    EXPIRY_DATE, PREMIUM_AMOUNT, INSURED_AMOUNT, CURRENCY, CY_DEC, MASTER_INDIVIDUAL, 
    COMMENTS, UNDERWRITER, COVER_DATE, COVER_NOTE, COMPLETED_FOLLOWUP_REQUIRED, INSURED_PERC, 
    PREMIUM_PERC, COVERAGE_TYPE_CODE
  </sql>
  <select id="selectFMSCOLLATERAL_INSUR" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.FMSCOLLATERAL_INSURVOKey" >
    select 
    <include refid="Base_Column_List" />
    from FMSCOLLATERAL_INSUR
    where BRANCH_CODE = #{BRANCH_CODE}
      and COLLATERAL_CODE = #{COLLATERAL_CODE}
      and COMP_CODE = #{COMP_CODE}
      and INSURANCE_CODE = #{INSURANCE_CODE}
  </select>
  <delete id="deleteFMSCOLLATERAL_INSUR" parameterType="com.path.dbmaps.vo.FMSCOLLATERAL_INSURVOKey" >
    delete from FMSCOLLATERAL_INSUR
    where BRANCH_CODE = #{BRANCH_CODE}
      and COLLATERAL_CODE = #{COLLATERAL_CODE}
      and COMP_CODE = #{COMP_CODE}
      and INSURANCE_CODE = #{INSURANCE_CODE}
  </delete>
  <insert id="insertFMSCOLLATERAL_INSUR" parameterType="com.path.dbmaps.vo.FMSCOLLATERAL_INSURVO" >
    insert into FMSCOLLATERAL_INSUR
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COLLATERAL_CODE != null and COLLATERAL_CODE != emptyBigDecimalValue" >
        COLLATERAL_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="INSURANCE_CODE != null and INSURANCE_CODE != emptyBigDecimalValue" >
        INSURANCE_CODE,
      </if>
      <if test="INSURANCE_TYPE != null and INSURANCE_TYPE != emptyBigDecimalValue" >
        INSURANCE_TYPE,
      </if>
      <if test="COMPANY_CIF != null and COMPANY_CIF != emptyBigDecimalValue" >
        COMPANY_CIF,
      </if>
      <if test="COMPANY_CIF_DESC != null and !&quot;&quot;.equals(COMPANY_CIF_DESC)" >
        COMPANY_CIF_DESC,
      </if>
      <if test="POLICY_NO != null and !&quot;&quot;.equals(POLICY_NO)" >
        POLICY_NO,
      </if>
      <if test="COVERAGE_TYPE != null and !&quot;&quot;.equals(COVERAGE_TYPE)" >
        COVERAGE_TYPE,
      </if>
      <if test="PARTICIPANT_CIF != null and PARTICIPANT_CIF != emptyBigDecimalValue" >
        PARTICIPANT_CIF,
      </if>
      <if test="PARTICIPANT_DESC != null and !&quot;&quot;.equals(PARTICIPANT_DESC)" >
        PARTICIPANT_DESC,
      </if>
      <if test="START_DATE != null" >
        START_DATE,
      </if>
      <if test="EXPIRY_DATE != null" >
        EXPIRY_DATE,
      </if>
      <if test="PREMIUM_AMOUNT != null and PREMIUM_AMOUNT != emptyBigDecimalValue" >
        PREMIUM_AMOUNT,
      </if>
      <if test="INSURED_AMOUNT != null and INSURED_AMOUNT != emptyBigDecimalValue" >
        INSURED_AMOUNT,
      </if>
      <if test="CURRENCY != null and CURRENCY != emptyBigDecimalValue" >
        CURRENCY,
      </if>
      <if test="CY_DEC != null and CY_DEC != emptyBigDecimalValue" >
        CY_DEC,
      </if>
      <if test="MASTER_INDIVIDUAL != null and !&quot;&quot;.equals(MASTER_INDIVIDUAL)" >
        MASTER_INDIVIDUAL,
      </if>
      <if test="COMMENTS != null and !&quot;&quot;.equals(COMMENTS)" >
        COMMENTS,
      </if>
      <if test="UNDERWRITER != null and !&quot;&quot;.equals(UNDERWRITER)" >
        UNDERWRITER,
      </if>
      <if test="COVER_DATE != null" >
        COVER_DATE,
      </if>
      <if test="COVER_NOTE != null and !&quot;&quot;.equals(COVER_NOTE)" >
        COVER_NOTE,
      </if>
      <if test="COMPLETED_FOLLOWUP_REQUIRED != null and !&quot;&quot;.equals(COMPLETED_FOLLOWUP_REQUIRED)" >
        COMPLETED_FOLLOWUP_REQUIRED,
      </if>
      <if test="INSURED_PERC != null and INSURED_PERC != emptyBigDecimalValue" >
        INSURED_PERC,
      </if>
      <if test="PREMIUM_PERC != null and PREMIUM_PERC != emptyBigDecimalValue" >
        PREMIUM_PERC,
      </if>
      <if test="COVERAGE_TYPE_CODE != null and COVERAGE_TYPE_CODE != emptyBigDecimalValue" >
        COVERAGE_TYPE_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COLLATERAL_CODE != null and COLLATERAL_CODE != emptyBigDecimalValue" >
        #{COLLATERAL_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="INSURANCE_CODE != null and INSURANCE_CODE != emptyBigDecimalValue" >
        #{INSURANCE_CODE},
      </if>
      <if test="INSURANCE_TYPE != null and INSURANCE_TYPE != emptyBigDecimalValue" >
        #{INSURANCE_TYPE},
      </if>
      <if test="COMPANY_CIF != null and COMPANY_CIF != emptyBigDecimalValue" >
        #{COMPANY_CIF},
      </if>
      <if test="COMPANY_CIF_DESC != null and !&quot;&quot;.equals(COMPANY_CIF_DESC)" >
        #{COMPANY_CIF_DESC},
      </if>
      <if test="POLICY_NO != null and !&quot;&quot;.equals(POLICY_NO)" >
        #{POLICY_NO},
      </if>
      <if test="COVERAGE_TYPE != null and !&quot;&quot;.equals(COVERAGE_TYPE)" >
        #{COVERAGE_TYPE},
      </if>
      <if test="PARTICIPANT_CIF != null and PARTICIPANT_CIF != emptyBigDecimalValue" >
        #{PARTICIPANT_CIF},
      </if>
      <if test="PARTICIPANT_DESC != null and !&quot;&quot;.equals(PARTICIPANT_DESC)" >
        #{PARTICIPANT_DESC},
      </if>
      <if test="START_DATE != null" >
        #{START_DATE},
      </if>
      <if test="EXPIRY_DATE != null" >
        #{EXPIRY_DATE},
      </if>
      <if test="PREMIUM_AMOUNT != null and PREMIUM_AMOUNT != emptyBigDecimalValue" >
        #{PREMIUM_AMOUNT},
      </if>
      <if test="INSURED_AMOUNT != null and INSURED_AMOUNT != emptyBigDecimalValue" >
        #{INSURED_AMOUNT},
      </if>
      <if test="CURRENCY != null and CURRENCY != emptyBigDecimalValue" >
        #{CURRENCY},
      </if>
      <if test="CY_DEC != null and CY_DEC != emptyBigDecimalValue" >
        #{CY_DEC},
      </if>
      <if test="MASTER_INDIVIDUAL != null and !&quot;&quot;.equals(MASTER_INDIVIDUAL)" >
        #{MASTER_INDIVIDUAL},
      </if>
      <if test="COMMENTS != null and !&quot;&quot;.equals(COMMENTS)" >
        #{COMMENTS},
      </if>
      <if test="UNDERWRITER != null and !&quot;&quot;.equals(UNDERWRITER)" >
        #{UNDERWRITER},
      </if>
      <if test="COVER_DATE != null" >
        #{COVER_DATE},
      </if>
      <if test="COVER_NOTE != null and !&quot;&quot;.equals(COVER_NOTE)" >
        #{COVER_NOTE},
      </if>
      <if test="COMPLETED_FOLLOWUP_REQUIRED != null and !&quot;&quot;.equals(COMPLETED_FOLLOWUP_REQUIRED)" >
        #{COMPLETED_FOLLOWUP_REQUIRED},
      </if>
      <if test="INSURED_PERC != null and INSURED_PERC != emptyBigDecimalValue" >
        #{INSURED_PERC},
      </if>
      <if test="PREMIUM_PERC != null and PREMIUM_PERC != emptyBigDecimalValue" >
        #{PREMIUM_PERC},
      </if>
      <if test="COVERAGE_TYPE_CODE != null and COVERAGE_TYPE_CODE != emptyBigDecimalValue" >
        #{COVERAGE_TYPE_CODE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateFMSCOLLATERAL_INSUR" >
    update FMSCOLLATERAL_INSUR
    <set >
      <if test="INSURANCE_TYPE != null" >
        <choose >
          <when test="INSURANCE_TYPE == emptyBigDecimalValue" >
            INSURANCE_TYPE = NULL ,
          </when>
          <otherwise >
            INSURANCE_TYPE = #{INSURANCE_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="COMPANY_CIF != null" >
        <choose >
          <when test="COMPANY_CIF == emptyBigDecimalValue" >
            COMPANY_CIF = NULL ,
          </when>
          <otherwise >
            COMPANY_CIF = #{COMPANY_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="COMPANY_CIF_DESC != null" >
        <choose >
          <when test="COMPANY_CIF_DESC.equals(&quot;&quot;)" >
            COMPANY_CIF_DESC = NULL ,
          </when>
          <otherwise >
            COMPANY_CIF_DESC = #{COMPANY_CIF_DESC},
          </otherwise>
        </choose>
      </if>
      <if test="POLICY_NO != null" >
        <choose >
          <when test="POLICY_NO.equals(&quot;&quot;)" >
            POLICY_NO = NULL ,
          </when>
          <otherwise >
            POLICY_NO = #{POLICY_NO},
          </otherwise>
        </choose>
      </if>
      <if test="COVERAGE_TYPE != null" >
        <choose >
          <when test="COVERAGE_TYPE.equals(&quot;&quot;)" >
            COVERAGE_TYPE = NULL ,
          </when>
          <otherwise >
            COVERAGE_TYPE = #{COVERAGE_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="PARTICIPANT_CIF != null" >
        <choose >
          <when test="PARTICIPANT_CIF == emptyBigDecimalValue" >
            PARTICIPANT_CIF = NULL ,
          </when>
          <otherwise >
            PARTICIPANT_CIF = #{PARTICIPANT_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="PARTICIPANT_DESC != null" >
        <choose >
          <when test="PARTICIPANT_DESC.equals(&quot;&quot;)" >
            PARTICIPANT_DESC = NULL ,
          </when>
          <otherwise >
            PARTICIPANT_DESC = #{PARTICIPANT_DESC},
          </otherwise>
        </choose>
      </if>
      <if test="START_DATE != null" >
        START_DATE = #{START_DATE},
      </if>
      <if test="EXPIRY_DATE != null" >
        EXPIRY_DATE = #{EXPIRY_DATE},
      </if>
      <if test="PREMIUM_AMOUNT != null" >
        <choose >
          <when test="PREMIUM_AMOUNT == emptyBigDecimalValue" >
            PREMIUM_AMOUNT = NULL ,
          </when>
          <otherwise >
            PREMIUM_AMOUNT = #{PREMIUM_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="INSURED_AMOUNT != null" >
        <choose >
          <when test="INSURED_AMOUNT == emptyBigDecimalValue" >
            INSURED_AMOUNT = NULL ,
          </when>
          <otherwise >
            INSURED_AMOUNT = #{INSURED_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="CURRENCY != null" >
        <choose >
          <when test="CURRENCY == emptyBigDecimalValue" >
            CURRENCY = NULL ,
          </when>
          <otherwise >
            CURRENCY = #{CURRENCY},
          </otherwise>
        </choose>
      </if>
      <if test="CY_DEC != null" >
        <choose >
          <when test="CY_DEC == emptyBigDecimalValue" >
            CY_DEC = NULL ,
          </when>
          <otherwise >
            CY_DEC = #{CY_DEC},
          </otherwise>
        </choose>
      </if>
      <if test="MASTER_INDIVIDUAL != null" >
        <choose >
          <when test="MASTER_INDIVIDUAL.equals(&quot;&quot;)" >
            MASTER_INDIVIDUAL = NULL ,
          </when>
          <otherwise >
            MASTER_INDIVIDUAL = #{MASTER_INDIVIDUAL},
          </otherwise>
        </choose>
      </if>
      <if test="COMMENTS != null" >
        <choose >
          <when test="COMMENTS.equals(&quot;&quot;)" >
            COMMENTS = NULL ,
          </when>
          <otherwise >
            COMMENTS = #{COMMENTS},
          </otherwise>
        </choose>
      </if>
      <if test="UNDERWRITER != null" >
        <choose >
          <when test="UNDERWRITER.equals(&quot;&quot;)" >
            UNDERWRITER = NULL ,
          </when>
          <otherwise >
            UNDERWRITER = #{UNDERWRITER},
          </otherwise>
        </choose>
      </if>
      <if test="COVER_DATE != null" >
        COVER_DATE = #{COVER_DATE},
      </if>
      <if test="COVER_NOTE != null" >
        <choose >
          <when test="COVER_NOTE.equals(&quot;&quot;)" >
            COVER_NOTE = NULL ,
          </when>
          <otherwise >
            COVER_NOTE = #{COVER_NOTE},
          </otherwise>
        </choose>
      </if>
      <if test="COMPLETED_FOLLOWUP_REQUIRED != null" >
        <choose >
          <when test="COMPLETED_FOLLOWUP_REQUIRED.equals(&quot;&quot;)" >
            COMPLETED_FOLLOWUP_REQUIRED = NULL ,
          </when>
          <otherwise >
            COMPLETED_FOLLOWUP_REQUIRED = #{COMPLETED_FOLLOWUP_REQUIRED},
          </otherwise>
        </choose>
      </if>
      <if test="INSURED_PERC != null" >
        <choose >
          <when test="INSURED_PERC == emptyBigDecimalValue" >
            INSURED_PERC = NULL ,
          </when>
          <otherwise >
            INSURED_PERC = #{INSURED_PERC},
          </otherwise>
        </choose>
      </if>
      <if test="PREMIUM_PERC != null" >
        <choose >
          <when test="PREMIUM_PERC == emptyBigDecimalValue" >
            PREMIUM_PERC = NULL ,
          </when>
          <otherwise >
            PREMIUM_PERC = #{PREMIUM_PERC},
          </otherwise>
        </choose>
      </if>
      <if test="COVERAGE_TYPE_CODE != null" >
        <choose >
          <when test="COVERAGE_TYPE_CODE == emptyBigDecimalValue" >
            COVERAGE_TYPE_CODE = NULL ,
          </when>
          <otherwise >
            COVERAGE_TYPE_CODE = #{COVERAGE_TYPE_CODE},
          </otherwise>
        </choose>
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COLLATERAL_CODE = #{COLLATERAL_CODE}
      and COMP_CODE = #{COMP_CODE}
      and INSURANCE_CODE = #{INSURANCE_CODE}
  </sql>
  <update id="updateFMSCOLLATERAL_INSUR" parameterType="com.path.dbmaps.vo.FMSCOLLATERAL_INSURVO" >
    <include refid="sql_updateFMSCOLLATERAL_INSUR" />
  </update>
</mapper>