<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FMSCREDITPOLICY_DET_CLASS">
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.FMSCREDITPOLICY_DET_CLASSVO">
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="DETAIL_LINE_NBR" property="DETAIL_LINE_NBR" />
    <id column="LINE_NBR" property="LINE_NBR" />
    <result column="CLASS" property="CLASS" />
    <result column="BENCH_MARK" property="BENCH_MARK" />
    <result column="BENCH_MARK_2" property="BENCH_MARK_2" />
  </resultMap>
  <sql id="Base_Column_List">
    CODE, COMP_CODE, DETAIL_LINE_NBR, LINE_NBR, CLASS, BENCH_MARK, BENCH_MARK_2
  </sql>
  <select id="selectFMSCREDITPOLICY_DET_CLASS" parameterType="com.path.dbmaps.vo.FMSCREDITPOLICY_DET_CLASSVOKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from FMSCREDITPOLICY_DET_CLASS
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and DETAIL_LINE_NBR = #{DETAIL_LINE_NBR}
      and LINE_NBR = #{LINE_NBR}
  </select>
  <delete id="deleteFMSCREDITPOLICY_DET_CLASS" parameterType="com.path.dbmaps.vo.FMSCREDITPOLICY_DET_CLASSVOKey">
    delete from FMSCREDITPOLICY_DET_CLASS
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and DETAIL_LINE_NBR = #{DETAIL_LINE_NBR}
      and LINE_NBR = #{LINE_NBR}
  </delete>
  <insert id="insertFMSCREDITPOLICY_DET_CLASS" parameterType="com.path.dbmaps.vo.FMSCREDITPOLICY_DET_CLASSVO">
    insert into FMSCREDITPOLICY_DET_CLASS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="CODE != null">
        CODE,
      </if>
      <if test="COMP_CODE != null">
        COMP_CODE,
      </if>
      <if test="DETAIL_LINE_NBR != null">
        DETAIL_LINE_NBR,
      </if>
      <if test="LINE_NBR != null">
        LINE_NBR,
      </if>
      <if test="CLASS != null">
        CLASS,
      </if>
      <if test="BENCH_MARK != null">
        BENCH_MARK,
      </if>
      <if test="BENCH_MARK_2 != null">
        BENCH_MARK_2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="CODE != null">
        #{CODE},
      </if>
      <if test="COMP_CODE != null">
        #{COMP_CODE},
      </if>
      <if test="DETAIL_LINE_NBR != null">
        #{DETAIL_LINE_NBR},
      </if>
      <if test="LINE_NBR != null">
        #{LINE_NBR},
      </if>
      <if test="CLASS != null">
        #{CLASS},
      </if>
      <if test="BENCH_MARK != null">
        #{BENCH_MARK},
      </if>
      <if test="BENCH_MARK_2 != null">
        #{BENCH_MARK_2},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateFMSCREDITPOLICY_DET_CLASS">
    update FMSCREDITPOLICY_DET_CLASS
    <set>
      <if test="CLASS != null">
        CLASS = #{CLASS},
      </if>
      <if test="BENCH_MARK != null">
        BENCH_MARK = #{BENCH_MARK},
      </if>
      <if test="BENCH_MARK_2 != null">
        BENCH_MARK_2 = #{BENCH_MARK_2},
      </if>
    </set>
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and DETAIL_LINE_NBR = #{DETAIL_LINE_NBR}
      and LINE_NBR = #{LINE_NBR}
  </sql>
  <update id="updateFMSCREDITPOLICY_DET_CLASS" parameterType="com.path.dbmaps.vo.FMSCREDITPOLICY_DET_CLASSVO">
    <include refid="sql_updateFMSCREDITPOLICY_DET_CLASS" />
  </update>
</mapper>