<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="FMSCOLLAT_OFF_BS_TEMPLATE" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.FMSCOLLAT_OFF_BS_TEMPLATEVO" >
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NO" property="LINE_NO" />
    <id column="TYPE_CODE" property="TYPE_CODE" />
    <result column="ACC_SIGN" property="ACC_SIGN" />
    <result column="ACC_BRANCH_TYPE" property="ACC_BRANCH_TYPE" />
    <result column="ACC_BRANCH_CODE" property="ACC_BRANCH_CODE" />
    <result column="ACC_CUR_TYPE" property="ACC_CUR_TYPE" />
    <result column="ACC_GL_CODE" property="ACC_GL_CODE" />
    <result column="ACC_CIF_TYPE" property="ACC_CIF_TYPE" />
    <result column="ACC_CIF_NO" property="ACC_CIF_NO" />
    <result column="ACC_SL_TYPE" property="ACC_SL_TYPE" />
    <result column="ACC_SL_NO" property="ACC_SL_NO" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="CREATED_DATE" property="CREATED_DATE" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="MODIFIED_DATE" property="MODIFIED_DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    COMP_CODE, LINE_NO, TYPE_CODE, ACC_SIGN, ACC_BRANCH_TYPE, ACC_BRANCH_CODE, ACC_CUR_TYPE, 
    ACC_GL_CODE, ACC_CIF_TYPE, ACC_CIF_NO, ACC_SL_TYPE, ACC_SL_NO, CREATED_BY, CREATED_DATE, 
    MODIFIED_BY, MODIFIED_DATE
  </sql>
  <select id="selectFMSCOLLAT_OFF_BS_TEMPLATE" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.FMSCOLLAT_OFF_BS_TEMPLATEVOKey" >
    select 
    <include refid="Base_Column_List" />
    from FMSCOLLAT_OFF_BS_TEMPLATE
    where COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and TYPE_CODE = #{TYPE_CODE}
  </select>
  <delete id="deleteFMSCOLLAT_OFF_BS_TEMPLATE" parameterType="com.path.dbmaps.vo.FMSCOLLAT_OFF_BS_TEMPLATEVOKey" >
    delete from FMSCOLLAT_OFF_BS_TEMPLATE
    where COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and TYPE_CODE = #{TYPE_CODE}
  </delete>
  <insert id="insertFMSCOLLAT_OFF_BS_TEMPLATE" parameterType="com.path.dbmaps.vo.FMSCOLLAT_OFF_BS_TEMPLATEVO" >
    insert into FMSCOLLAT_OFF_BS_TEMPLATE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="TYPE_CODE != null and TYPE_CODE != emptyBigDecimalValue" >
        TYPE_CODE,
      </if>
      <if test="ACC_SIGN != null and !&quot;&quot;.equals(ACC_SIGN)" >
        ACC_SIGN,
      </if>
      <if test="ACC_BRANCH_TYPE != null and !&quot;&quot;.equals(ACC_BRANCH_TYPE)" >
        ACC_BRANCH_TYPE,
      </if>
      <if test="ACC_BRANCH_CODE != null and ACC_BRANCH_CODE != emptyBigDecimalValue" >
        ACC_BRANCH_CODE,
      </if>
      <if test="ACC_CUR_TYPE != null and !&quot;&quot;.equals(ACC_CUR_TYPE)" >
        ACC_CUR_TYPE,
      </if>
      <if test="ACC_GL_CODE != null and ACC_GL_CODE != emptyBigDecimalValue" >
        ACC_GL_CODE,
      </if>
      <if test="ACC_CIF_TYPE != null and !&quot;&quot;.equals(ACC_CIF_TYPE)" >
        ACC_CIF_TYPE,
      </if>
      <if test="ACC_CIF_NO != null and ACC_CIF_NO != emptyBigDecimalValue" >
        ACC_CIF_NO,
      </if>
      <if test="ACC_SL_TYPE != null and !&quot;&quot;.equals(ACC_SL_TYPE)" >
        ACC_SL_TYPE,
      </if>
      <if test="ACC_SL_NO != null and ACC_SL_NO != emptyBigDecimalValue" >
        ACC_SL_NO,
      </if>
      <if test="CREATED_BY != null and !&quot;&quot;.equals(CREATED_BY)" >
        CREATED_BY,
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE,
      </if>
      <if test="MODIFIED_BY != null and !&quot;&quot;.equals(MODIFIED_BY)" >
        MODIFIED_BY,
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="TYPE_CODE != null and TYPE_CODE != emptyBigDecimalValue" >
        #{TYPE_CODE},
      </if>
      <if test="ACC_SIGN != null and !&quot;&quot;.equals(ACC_SIGN)" >
        #{ACC_SIGN},
      </if>
      <if test="ACC_BRANCH_TYPE != null and !&quot;&quot;.equals(ACC_BRANCH_TYPE)" >
        #{ACC_BRANCH_TYPE},
      </if>
      <if test="ACC_BRANCH_CODE != null and ACC_BRANCH_CODE != emptyBigDecimalValue" >
        #{ACC_BRANCH_CODE},
      </if>
      <if test="ACC_CUR_TYPE != null and !&quot;&quot;.equals(ACC_CUR_TYPE)" >
        #{ACC_CUR_TYPE},
      </if>
      <if test="ACC_GL_CODE != null and ACC_GL_CODE != emptyBigDecimalValue" >
        #{ACC_GL_CODE},
      </if>
      <if test="ACC_CIF_TYPE != null and !&quot;&quot;.equals(ACC_CIF_TYPE)" >
        #{ACC_CIF_TYPE},
      </if>
      <if test="ACC_CIF_NO != null and ACC_CIF_NO != emptyBigDecimalValue" >
        #{ACC_CIF_NO},
      </if>
      <if test="ACC_SL_TYPE != null and !&quot;&quot;.equals(ACC_SL_TYPE)" >
        #{ACC_SL_TYPE},
      </if>
      <if test="ACC_SL_NO != null and ACC_SL_NO != emptyBigDecimalValue" >
        #{ACC_SL_NO},
      </if>
      <if test="CREATED_BY != null and !&quot;&quot;.equals(CREATED_BY)" >
        #{CREATED_BY},
      </if>
      <if test="CREATED_DATE != null" >
        #{CREATED_DATE},
      </if>
      <if test="MODIFIED_BY != null and !&quot;&quot;.equals(MODIFIED_BY)" >
        #{MODIFIED_BY},
      </if>
      <if test="MODIFIED_DATE != null" >
        #{MODIFIED_DATE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateFMSCOLLAT_OFF_BS_TEMPLATE" >
    update FMSCOLLAT_OFF_BS_TEMPLATE
    <set >
      <if test="ACC_SIGN != null" >
        <choose >
          <when test="ACC_SIGN.equals(&quot;&quot;)" >
            ACC_SIGN = NULL ,
          </when>
          <otherwise >
            ACC_SIGN = #{ACC_SIGN},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_BRANCH_TYPE != null" >
        <choose >
          <when test="ACC_BRANCH_TYPE.equals(&quot;&quot;)" >
            ACC_BRANCH_TYPE = NULL ,
          </when>
          <otherwise >
            ACC_BRANCH_TYPE = #{ACC_BRANCH_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_BRANCH_CODE != null" >
        <choose >
          <when test="ACC_BRANCH_CODE == emptyBigDecimalValue" >
            ACC_BRANCH_CODE = NULL ,
          </when>
          <otherwise >
            ACC_BRANCH_CODE = #{ACC_BRANCH_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CUR_TYPE != null" >
        <choose >
          <when test="ACC_CUR_TYPE.equals(&quot;&quot;)" >
            ACC_CUR_TYPE = NULL ,
          </when>
          <otherwise >
            ACC_CUR_TYPE = #{ACC_CUR_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_GL_CODE != null" >
        <choose >
          <when test="ACC_GL_CODE == emptyBigDecimalValue" >
            ACC_GL_CODE = NULL ,
          </when>
          <otherwise >
            ACC_GL_CODE = #{ACC_GL_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CIF_TYPE != null" >
        <choose >
          <when test="ACC_CIF_TYPE.equals(&quot;&quot;)" >
            ACC_CIF_TYPE = NULL ,
          </when>
          <otherwise >
            ACC_CIF_TYPE = #{ACC_CIF_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CIF_NO != null" >
        <choose >
          <when test="ACC_CIF_NO == emptyBigDecimalValue" >
            ACC_CIF_NO = NULL ,
          </when>
          <otherwise >
            ACC_CIF_NO = #{ACC_CIF_NO},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_SL_TYPE != null" >
        <choose >
          <when test="ACC_SL_TYPE.equals(&quot;&quot;)" >
            ACC_SL_TYPE = NULL ,
          </when>
          <otherwise >
            ACC_SL_TYPE = #{ACC_SL_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_SL_NO != null" >
        <choose >
          <when test="ACC_SL_NO == emptyBigDecimalValue" >
            ACC_SL_NO = NULL ,
          </when>
          <otherwise >
            ACC_SL_NO = #{ACC_SL_NO},
          </otherwise>
        </choose>
      </if>
      <if test="CREATED_BY != null" >
        <choose >
          <when test="CREATED_BY.equals(&quot;&quot;)" >
            CREATED_BY = NULL ,
          </when>
          <otherwise >
            CREATED_BY = #{CREATED_BY},
          </otherwise>
        </choose>
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE = #{CREATED_DATE},
      </if>
      <if test="MODIFIED_BY != null" >
        <choose >
          <when test="MODIFIED_BY.equals(&quot;&quot;)" >
            MODIFIED_BY = NULL ,
          </when>
          <otherwise >
            MODIFIED_BY = #{MODIFIED_BY},
          </otherwise>
        </choose>
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE = #{MODIFIED_DATE},
      </if>
    </set>
    where COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and TYPE_CODE = #{TYPE_CODE}
  </sql>
  <update id="updateFMSCOLLAT_OFF_BS_TEMPLATE" parameterType="com.path.dbmaps.vo.FMSCOLLAT_OFF_BS_TEMPLATEVO" >
    <include refid="sql_updateFMSCOLLAT_OFF_BS_TEMPLATE" />
  </update>
</mapper>