<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="FMSFACILITYGUAR" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.FMSFACILITYGUARVO" >
    <id column="BRANCH" property="BRANCH" />
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NBR" property="LINE_NBR" />
    <result column="INDICATOR_CODE" property="INDICATOR_CODE" />
    <result column="INDICATOR_AMOUNT" property="INDICATOR_AMOUNT" />
    <result column="GUARANTOR_CIF" property="GUARANTOR_CIF" />
    <result column="CREDIT_RATING" property="CREDIT_RATING" />
    <result column="PROFILE" property="PROFILE" />
    <result column="RF_CIF_NAME_ENG" property="RF_CIF_NAME_ENG" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH, CODE, COMP_CODE, LINE_NBR, INDICATOR_CODE, INDICATOR_AMOUNT, GUARANTOR_CIF, 
    CREDIT_RATING, PROFILE, RF_CIF_NAME_ENG
  </sql>
  <select id="selectFMSFACILITYGUAR" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.FMSFACILITYGUARVOKey" >
    select 
    <include refid="Base_Column_List" />
    from FMSFACILITYGUAR
    where BRANCH = #{BRANCH}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NBR = #{LINE_NBR}
  </select>
  <delete id="deleteFMSFACILITYGUAR" parameterType="com.path.dbmaps.vo.FMSFACILITYGUARVOKey" >
    delete from FMSFACILITYGUAR
    where BRANCH = #{BRANCH}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NBR = #{LINE_NBR}
  </delete>
  <insert id="insertFMSFACILITYGUAR" parameterType="com.path.dbmaps.vo.FMSFACILITYGUARVO" >
    insert into FMSFACILITYGUAR
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH != null and BRANCH != emptyBigDecimalValue" >
        BRANCH,
      </if>
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NBR != null and LINE_NBR != emptyBigDecimalValue" >
        LINE_NBR,
      </if>
      <if test="INDICATOR_CODE != null and INDICATOR_CODE != emptyBigDecimalValue" >
        INDICATOR_CODE,
      </if>
      <if test="INDICATOR_AMOUNT != null and INDICATOR_AMOUNT != emptyBigDecimalValue" >
        INDICATOR_AMOUNT,
      </if>
      <if test="GUARANTOR_CIF != null and GUARANTOR_CIF != emptyBigDecimalValue" >
        GUARANTOR_CIF,
      </if>
      <if test="CREDIT_RATING != null and CREDIT_RATING != emptyBigDecimalValue" >
        CREDIT_RATING,
      </if>
      <if test="PROFILE != null and PROFILE != emptyBigDecimalValue" >
        PROFILE,
      </if>
      <if test="RF_CIF_NAME_ENG != null and !&quot;&quot;.equals(RF_CIF_NAME_ENG)" >
        RF_CIF_NAME_ENG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH != null and BRANCH != emptyBigDecimalValue" >
        #{BRANCH},
      </if>
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        #{CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NBR != null and LINE_NBR != emptyBigDecimalValue" >
        #{LINE_NBR},
      </if>
      <if test="INDICATOR_CODE != null and INDICATOR_CODE != emptyBigDecimalValue" >
        #{INDICATOR_CODE},
      </if>
      <if test="INDICATOR_AMOUNT != null and INDICATOR_AMOUNT != emptyBigDecimalValue" >
        #{INDICATOR_AMOUNT},
      </if>
      <if test="GUARANTOR_CIF != null and GUARANTOR_CIF != emptyBigDecimalValue" >
        #{GUARANTOR_CIF},
      </if>
      <if test="CREDIT_RATING != null and CREDIT_RATING != emptyBigDecimalValue" >
        #{CREDIT_RATING},
      </if>
      <if test="PROFILE != null and PROFILE != emptyBigDecimalValue" >
        #{PROFILE},
      </if>
      <if test="RF_CIF_NAME_ENG != null and !&quot;&quot;.equals(RF_CIF_NAME_ENG)" >
        #{RF_CIF_NAME_ENG},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateFMSFACILITYGUAR" >
    update FMSFACILITYGUAR
    <set >
      <if test="INDICATOR_CODE != null" >
        <choose >
          <when test="INDICATOR_CODE == emptyBigDecimalValue" >
            INDICATOR_CODE = NULL ,
          </when>
          <otherwise >
            INDICATOR_CODE = #{INDICATOR_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="INDICATOR_AMOUNT != null" >
        <choose >
          <when test="INDICATOR_AMOUNT == emptyBigDecimalValue" >
            INDICATOR_AMOUNT = NULL ,
          </when>
          <otherwise >
            INDICATOR_AMOUNT = #{INDICATOR_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="GUARANTOR_CIF != null" >
        <choose >
          <when test="GUARANTOR_CIF == emptyBigDecimalValue" >
            GUARANTOR_CIF = NULL ,
          </when>
          <otherwise >
            GUARANTOR_CIF = #{GUARANTOR_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="CREDIT_RATING != null" >
        <choose >
          <when test="CREDIT_RATING == emptyBigDecimalValue" >
            CREDIT_RATING = NULL ,
          </when>
          <otherwise >
            CREDIT_RATING = #{CREDIT_RATING},
          </otherwise>
        </choose>
      </if>
      <if test="PROFILE != null" >
        <choose >
          <when test="PROFILE == emptyBigDecimalValue" >
            PROFILE = NULL ,
          </when>
          <otherwise >
            PROFILE = #{PROFILE},
          </otherwise>
        </choose>
      </if>
      <if test="RF_CIF_NAME_ENG != null" >
        <choose >
          <when test="RF_CIF_NAME_ENG.equals(&quot;&quot;)" >
            RF_CIF_NAME_ENG = NULL ,
          </when>
          <otherwise >
            RF_CIF_NAME_ENG = #{RF_CIF_NAME_ENG},
          </otherwise>
        </choose>
      </if>
    </set>
    where BRANCH = #{BRANCH}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NBR = #{LINE_NBR}
  </sql>
  <update id="updateFMSFACILITYGUAR" parameterType="com.path.dbmaps.vo.FMSFACILITYGUARVO" >
    <include refid="sql_updateFMSFACILITYGUAR" />
  </update>
</mapper>