<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="FMSINDICATOR" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.FMSINDICATORVO" >
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <result column="BRIEF_NAME_ENG" property="BRIEF_NAME_ENG" />
    <result column="LONG_NAME_ENG" property="LONG_NAME_ENG" />
    <result column="BRIEF_NAME_ARAB" property="BRIEF_NAME_ARAB" />
    <result column="LONG_NAME_ARAB" property="LONG_NAME_ARAB" />
    <result column="INDICATOR_TYPE" property="INDICATOR_TYPE" />
    <result column="CIF_TYPE" property="CIF_TYPE" />
    <result column="MULTIPLIER" property="MULTIPLIER" />
    <result column="DATE_UPDATED" property="DATE_UPDATED" />
    <result column="UPDATED_BY" property="UPDATED_BY" />
  </resultMap>
  <sql id="Base_Column_List" >
    CODE, COMP_CODE, BRIEF_NAME_ENG, LONG_NAME_ENG, BRIEF_NAME_ARAB, LONG_NAME_ARAB, 
    INDICATOR_TYPE, CIF_TYPE, MULTIPLIER, DATE_UPDATED, UPDATED_BY
  </sql>
  <select id="selectFMSINDICATOR" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.FMSINDICATORVOKey" >
    select 
    <include refid="Base_Column_List" />
    from FMSINDICATOR
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </select>
  <delete id="deleteFMSINDICATOR" parameterType="com.path.dbmaps.vo.FMSINDICATORVOKey" >
    delete from FMSINDICATOR
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </delete>
  <insert id="insertFMSINDICATOR" parameterType="com.path.dbmaps.vo.FMSINDICATORVO" >
    insert into FMSINDICATOR
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="BRIEF_NAME_ENG != null and !&quot;&quot;.equals(BRIEF_NAME_ENG)" >
        BRIEF_NAME_ENG,
      </if>
      <if test="LONG_NAME_ENG != null and !&quot;&quot;.equals(LONG_NAME_ENG)" >
        LONG_NAME_ENG,
      </if>
      <if test="BRIEF_NAME_ARAB != null and !&quot;&quot;.equals(BRIEF_NAME_ARAB)" >
        BRIEF_NAME_ARAB,
      </if>
      <if test="LONG_NAME_ARAB != null and !&quot;&quot;.equals(LONG_NAME_ARAB)" >
        LONG_NAME_ARAB,
      </if>
      <if test="INDICATOR_TYPE != null and !&quot;&quot;.equals(INDICATOR_TYPE)" >
        INDICATOR_TYPE,
      </if>
      <if test="CIF_TYPE != null and CIF_TYPE != emptyBigDecimalValue" >
        CIF_TYPE,
      </if>
      <if test="MULTIPLIER != null and MULTIPLIER != emptyBigDecimalValue" >
        MULTIPLIER,
      </if>
      DATE_UPDATED,
      <if test="UPDATED_BY != null and !&quot;&quot;.equals(UPDATED_BY)" >
        UPDATED_BY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        #{CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="BRIEF_NAME_ENG != null and !&quot;&quot;.equals(BRIEF_NAME_ENG)" >
        #{BRIEF_NAME_ENG},
      </if>
      <if test="LONG_NAME_ENG != null and !&quot;&quot;.equals(LONG_NAME_ENG)" >
        #{LONG_NAME_ENG},
      </if>
      <if test="BRIEF_NAME_ARAB != null and !&quot;&quot;.equals(BRIEF_NAME_ARAB)" >
        #{BRIEF_NAME_ARAB},
      </if>
      <if test="LONG_NAME_ARAB != null and !&quot;&quot;.equals(LONG_NAME_ARAB)" >
        #{LONG_NAME_ARAB},
      </if>
      <if test="INDICATOR_TYPE != null and !&quot;&quot;.equals(INDICATOR_TYPE)" >
        #{INDICATOR_TYPE},
      </if>
      <if test="CIF_TYPE != null and CIF_TYPE != emptyBigDecimalValue" >
        #{CIF_TYPE},
      </if>
      <if test="MULTIPLIER != null and MULTIPLIER != emptyBigDecimalValue" >
        #{MULTIPLIER},
      </if>
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
      <if test="UPDATED_BY != null and !&quot;&quot;.equals(UPDATED_BY)" >
        #{UPDATED_BY},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateFMSINDICATOR" >
    update FMSINDICATOR
    <set >
      <if test="BRIEF_NAME_ENG != null" >
        <choose >
          <when test="BRIEF_NAME_ENG.equals(&quot;&quot;)" >
            BRIEF_NAME_ENG = NULL ,
          </when>
          <otherwise >
            BRIEF_NAME_ENG = #{BRIEF_NAME_ENG},
          </otherwise>
        </choose>
      </if>
      <if test="LONG_NAME_ENG != null" >
        <choose >
          <when test="LONG_NAME_ENG.equals(&quot;&quot;)" >
            LONG_NAME_ENG = NULL ,
          </when>
          <otherwise >
            LONG_NAME_ENG = #{LONG_NAME_ENG},
          </otherwise>
        </choose>
      </if>
      <if test="BRIEF_NAME_ARAB != null" >
        <choose >
          <when test="BRIEF_NAME_ARAB.equals(&quot;&quot;)" >
            BRIEF_NAME_ARAB = NULL ,
          </when>
          <otherwise >
            BRIEF_NAME_ARAB = #{BRIEF_NAME_ARAB},
          </otherwise>
        </choose>
      </if>
      <if test="LONG_NAME_ARAB != null" >
        <choose >
          <when test="LONG_NAME_ARAB.equals(&quot;&quot;)" >
            LONG_NAME_ARAB = NULL ,
          </when>
          <otherwise >
            LONG_NAME_ARAB = #{LONG_NAME_ARAB},
          </otherwise>
        </choose>
      </if>
      <if test="INDICATOR_TYPE != null" >
        <choose >
          <when test="INDICATOR_TYPE.equals(&quot;&quot;)" >
            INDICATOR_TYPE = NULL ,
          </when>
          <otherwise >
            INDICATOR_TYPE = #{INDICATOR_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="CIF_TYPE != null" >
        <choose >
          <when test="CIF_TYPE == emptyBigDecimalValue" >
            CIF_TYPE = NULL ,
          </when>
          <otherwise >
            CIF_TYPE = #{CIF_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="MULTIPLIER != null" >
        <choose >
          <when test="MULTIPLIER == emptyBigDecimalValue" >
            MULTIPLIER = NULL ,
          </when>
          <otherwise >
            MULTIPLIER = #{MULTIPLIER},
          </otherwise>
        </choose>
      </if>
      DATE_UPDATED = 
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
      <if test="UPDATED_BY != null" >
        <choose >
          <when test="UPDATED_BY.equals(&quot;&quot;)" >
            UPDATED_BY = NULL ,
          </when>
          <otherwise >
            UPDATED_BY = #{UPDATED_BY},
          </otherwise>
        </choose>
      </if>
    </set>
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </sql>
  <update id="updateFMSINDICATOR" parameterType="com.path.dbmaps.vo.FMSINDICATORVO" >
    <include refid="sql_updateFMSINDICATOR" />
    <if test="DATE_UPDATED != null" >
      AND DATE_UPDATED = #{DATE_UPDATED}
    </if>
  </update>
</mapper>