<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="IBOR_HDR" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.IBOR_HDRVO" >
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="CURRENCY_CODE" property="CURRENCY_CODE" />
    <id column="IBOR_CODE" property="IBOR_CODE" />
    <id column="LINE_NUMBER" property="LINE_NUMBER" />
    <result column="BRIEF_DESC_ENG" property="BRIEF_DESC_ENG" />
    <result column="BRIEF_DESC_ARAB" property="BRIEF_DESC_ARAB" />
    <result column="LONG_DESC_ENG" property="LONG_DESC_ENG" />
    <result column="PERIODICITY_TYPE" property="PERIODICITY_TYPE" />
    <result column="PERIODICITY_NUMBER" property="PERIODICITY_NUMBER" />
    <result column="DESCRIPTION" property="DESCRIPTION" />
    <result column="APPLY_RESTRICTION" property="APPLY_RESTRICTION" />
    <result column="LONG_DESC_ARAB" property="LONG_DESC_ARAB" />
    <result column="NEXT_RATEDATE" property="NEXT_RATEDATE" />
    <result column="ADDITIONAL_REFERENCE" property="ADDITIONAL_REFERENCE" />
    <result column="RATE_REVAL_INCL_AUTOMATION_YN" property="RATE_REVAL_INCL_AUTOMATION_YN" />
    <result column="FROM_AMOUNT" property="FROM_AMOUNT" />
    <result column="TO_AMOUNT" property="TO_AMOUNT" />
  </resultMap>
  <sql id="Base_Column_List" >
    COMP_CODE, CURRENCY_CODE, IBOR_CODE, LINE_NUMBER, BRIEF_DESC_ENG, BRIEF_DESC_ARAB, 
    LONG_DESC_ENG, PERIODICITY_TYPE, PERIODICITY_NUMBER, DESCRIPTION, APPLY_RESTRICTION, 
    LONG_DESC_ARAB, NEXT_RATEDATE, ADDITIONAL_REFERENCE, RATE_REVAL_INCL_AUTOMATION_YN, 
    FROM_AMOUNT, TO_AMOUNT
  </sql>
  <select id="selectIBOR_HDR" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.IBOR_HDRVOKey" >
    select 
    <include refid="Base_Column_List" />
    from IBOR_HDR
    where COMP_CODE = #{COMP_CODE}
      and CURRENCY_CODE = #{CURRENCY_CODE}
      and IBOR_CODE = #{IBOR_CODE}
      and LINE_NUMBER = #{LINE_NUMBER}
  </select>
  <delete id="deleteIBOR_HDR" parameterType="com.path.dbmaps.vo.IBOR_HDRVOKey" >
    delete from IBOR_HDR
    where COMP_CODE = #{COMP_CODE}
      and CURRENCY_CODE = #{CURRENCY_CODE}
      and IBOR_CODE = #{IBOR_CODE}
      and LINE_NUMBER = #{LINE_NUMBER}
  </delete>
  <insert id="insertIBOR_HDR" parameterType="com.path.dbmaps.vo.IBOR_HDRVO" >
    insert into IBOR_HDR
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        CURRENCY_CODE,
      </if>
      <if test="IBOR_CODE != null and IBOR_CODE != emptyBigDecimalValue" >
        IBOR_CODE,
      </if>
      <if test="LINE_NUMBER != null and LINE_NUMBER != emptyBigDecimalValue" >
        LINE_NUMBER,
      </if>
      <if test="BRIEF_DESC_ENG != null" >
        BRIEF_DESC_ENG,
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        BRIEF_DESC_ARAB,
      </if>
      <if test="LONG_DESC_ENG != null" >
        LONG_DESC_ENG,
      </if>
      <if test="PERIODICITY_TYPE != null" >
        PERIODICITY_TYPE,
      </if>
      <if test="PERIODICITY_NUMBER != null and PERIODICITY_NUMBER != emptyBigDecimalValue" >
        PERIODICITY_NUMBER,
      </if>
      <if test="DESCRIPTION != null" >
        DESCRIPTION,
      </if>
      <if test="APPLY_RESTRICTION != null" >
        APPLY_RESTRICTION,
      </if>
      <if test="LONG_DESC_ARAB != null" >
        LONG_DESC_ARAB,
      </if>
      <if test="NEXT_RATEDATE != null" >
        NEXT_RATEDATE,
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        ADDITIONAL_REFERENCE,
      </if>
      <if test="RATE_REVAL_INCL_AUTOMATION_YN != null" >
        RATE_REVAL_INCL_AUTOMATION_YN,
      </if>
      <if test="FROM_AMOUNT != null and FROM_AMOUNT != emptyBigDecimalValue" >
        FROM_AMOUNT,
      </if>
      <if test="TO_AMOUNT != null and TO_AMOUNT != emptyBigDecimalValue" >
        TO_AMOUNT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        #{CURRENCY_CODE},
      </if>
      <if test="IBOR_CODE != null and IBOR_CODE != emptyBigDecimalValue" >
        #{IBOR_CODE},
      </if>
      <if test="LINE_NUMBER != null and LINE_NUMBER != emptyBigDecimalValue" >
        #{LINE_NUMBER},
      </if>
      <if test="BRIEF_DESC_ENG != null" >
        #{BRIEF_DESC_ENG},
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        #{BRIEF_DESC_ARAB},
      </if>
      <if test="LONG_DESC_ENG != null" >
        #{LONG_DESC_ENG},
      </if>
      <if test="PERIODICITY_TYPE != null" >
        #{PERIODICITY_TYPE},
      </if>
      <if test="PERIODICITY_NUMBER != null and PERIODICITY_NUMBER != emptyBigDecimalValue" >
        #{PERIODICITY_NUMBER},
      </if>
      <if test="DESCRIPTION != null" >
        #{DESCRIPTION},
      </if>
      <if test="APPLY_RESTRICTION != null" >
        #{APPLY_RESTRICTION},
      </if>
      <if test="LONG_DESC_ARAB != null" >
        #{LONG_DESC_ARAB},
      </if>
      <if test="NEXT_RATEDATE != null" >
        #{NEXT_RATEDATE},
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        #{ADDITIONAL_REFERENCE},
      </if>
      <if test="RATE_REVAL_INCL_AUTOMATION_YN != null" >
        #{RATE_REVAL_INCL_AUTOMATION_YN},
      </if>
      <if test="FROM_AMOUNT != null and FROM_AMOUNT != emptyBigDecimalValue" >
        #{FROM_AMOUNT},
      </if>
      <if test="TO_AMOUNT != null and TO_AMOUNT != emptyBigDecimalValue" >
        #{TO_AMOUNT},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateIBOR_HDR" >
    update IBOR_HDR
    <set >
      <if test="BRIEF_DESC_ENG != null" >
        BRIEF_DESC_ENG = #{BRIEF_DESC_ENG},
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        BRIEF_DESC_ARAB = #{BRIEF_DESC_ARAB},
      </if>
      <if test="LONG_DESC_ENG != null" >
        LONG_DESC_ENG = #{LONG_DESC_ENG},
      </if>
      <if test="PERIODICITY_TYPE != null" >
        PERIODICITY_TYPE = #{PERIODICITY_TYPE},
      </if>
      <if test="PERIODICITY_NUMBER != null" >
        <choose >
          <when test="PERIODICITY_NUMBER == emptyBigDecimalValue" >
            PERIODICITY_NUMBER = NULL ,
          </when>
          <otherwise >
            PERIODICITY_NUMBER = #{PERIODICITY_NUMBER},
          </otherwise>
        </choose>
      </if>
      <if test="DESCRIPTION != null" >
        DESCRIPTION = #{DESCRIPTION},
      </if>
      <if test="APPLY_RESTRICTION != null" >
        APPLY_RESTRICTION = #{APPLY_RESTRICTION},
      </if>
      <if test="LONG_DESC_ARAB != null" >
        LONG_DESC_ARAB = #{LONG_DESC_ARAB},
      </if>
      <if test="NEXT_RATEDATE != null" >
        NEXT_RATEDATE = #{NEXT_RATEDATE},
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        ADDITIONAL_REFERENCE = #{ADDITIONAL_REFERENCE},
      </if>
      <if test="RATE_REVAL_INCL_AUTOMATION_YN != null" >
        RATE_REVAL_INCL_AUTOMATION_YN = #{RATE_REVAL_INCL_AUTOMATION_YN},
      </if>
      <if test="FROM_AMOUNT != null" >
        <choose >
          <when test="FROM_AMOUNT == emptyBigDecimalValue" >
            FROM_AMOUNT = NULL ,
          </when>
          <otherwise >
            FROM_AMOUNT = #{FROM_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="TO_AMOUNT != null" >
        <choose >
          <when test="TO_AMOUNT == emptyBigDecimalValue" >
            TO_AMOUNT = NULL ,
          </when>
          <otherwise >
            TO_AMOUNT = #{TO_AMOUNT},
          </otherwise>
        </choose>
      </if>
    </set>
    where COMP_CODE = #{COMP_CODE}
      and CURRENCY_CODE = #{CURRENCY_CODE}
      and IBOR_CODE = #{IBOR_CODE}
      and LINE_NUMBER = #{LINE_NUMBER}
  </sql>
  <update id="updateIBOR_HDR" parameterType="com.path.dbmaps.vo.IBOR_HDRVO" >
    <include refid="sql_updateIBOR_HDR" />
  </update>
</mapper>