<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ID_TYPES" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.ID_TYPESVO" >
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <result column="DESC_ENG" property="DESC_ENG" />
    <result column="DESC_ARAB" property="DESC_ARAB" />
    <result column="EXPIRY_DAYS" property="EXPIRY_DAYS" />
    <result column="TYPES" property="TYPES" />
    <result column="UNIQUENESS" property="UNIQUENESS" />
    <result column="ADDITIONNAL_REFERENCE" property="ADDITIONNAL_REFERENCE" />
    <result column="EXPIRY_SUSPEND_REASON" property="EXPIRY_SUSPEND_REASON" />
    <result column="ENABLE_MCR" property="ENABLE_MCR" />
    <result column="MICR_CODE" property="MICR_CODE" />
    <result column="FROM_LEN" property="FROM_LEN" />
    <result column="TO_LEN" property="TO_LEN" />
    <result column="CIVIL_ID" property="CIVIL_ID" />
    <result column="ID_CARD_TYPE" property="ID_CARD_TYPE" />
    <result column="ID_EXP_DTE_MAN" property="ID_EXP_DTE_MAN" />
    <result column="DATA_TYPE" property="DATA_TYPE" />
    <result column="FETCH_DATA_AFTER_BIO_CHECK_YN" property="FETCH_DATA_AFTER_BIO_CHECK_YN" />
    <result column="ID_TYPE_SWIFT_CODE" property="ID_TYPE_SWIFT_CODE" />
    <result column="ENABLE_UNIQUE_BY_CIF_TYPE_YN" property="ENABLE_UNIQUE_BY_CIF_TYPE_YN" />
    <result column="HIDE_ID_EXPIRY_DATE_YN" property="HIDE_ID_EXPIRY_DATE_YN" />
  </resultMap>
  <sql id="Base_Column_List" >
    CODE, COMP_CODE, DESC_ENG, DESC_ARAB, EXPIRY_DAYS, TYPES, UNIQUENESS, ADDITIONNAL_REFERENCE, 
    EXPIRY_SUSPEND_REASON, ENABLE_MCR, MICR_CODE, FROM_LEN, TO_LEN, CIVIL_ID, ID_CARD_TYPE, 
    ID_EXP_DTE_MAN, DATA_TYPE,FETCH_DATA_AFTER_BIO_CHECK_YN, ID_TYPE_SWIFT_CODE, ENABLE_UNIQUE_BY_CIF_TYPE_YN,
    HIDE_ID_EXPIRY_DATE_YN
  </sql>
  <select id="selectID_TYPES" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.ID_TYPESVOKey" >
    select 
    <include refid="Base_Column_List" />
    from ID_TYPES
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </select>
  <delete id="deleteID_TYPES" parameterType="com.path.dbmaps.vo.ID_TYPESVOKey" >
    delete from ID_TYPES
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </delete>
  <insert id="insertID_TYPES" parameterType="com.path.dbmaps.vo.ID_TYPESVO" >
    insert into ID_TYPES
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="DESC_ENG != null" >
        DESC_ENG,
      </if>
      <if test="DESC_ARAB != null" >
        DESC_ARAB,
      </if>
      <if test="EXPIRY_DAYS != null and EXPIRY_DAYS != emptyBigDecimalValue" >
        EXPIRY_DAYS,
      </if>
      <if test="TYPES != null" >
        TYPES,
      </if>
      <if test="UNIQUENESS != null" >
        UNIQUENESS,
      </if>
      <if test="ADDITIONNAL_REFERENCE != null" >
        ADDITIONNAL_REFERENCE,
      </if>
      <if test="EXPIRY_SUSPEND_REASON != null and EXPIRY_SUSPEND_REASON != emptyBigDecimalValue" >
        EXPIRY_SUSPEND_REASON,
      </if>
      <if test="ENABLE_MCR != null" >
        ENABLE_MCR,
      </if>
      <if test="MICR_CODE != null and MICR_CODE != emptyBigDecimalValue" >
        MICR_CODE,
      </if>
      <if test="FROM_LEN != null and FROM_LEN != emptyBigDecimalValue" >
        FROM_LEN,
      </if>
      <if test="TO_LEN != null and TO_LEN != emptyBigDecimalValue" >
        TO_LEN,
      </if>
      <if test="CIVIL_ID != null" >
        CIVIL_ID,
      </if>
      <if test="ID_CARD_TYPE != null" >
        ID_CARD_TYPE,
      </if>
      <if test="ID_EXP_DTE_MAN != null" >
        ID_EXP_DTE_MAN,
      </if>
      <if test="DATA_TYPE != null" >
        DATA_TYPE,
      </if>
     <if test="FETCH_DATA_AFTER_BIO_CHECK_YN != null" >
        FETCH_DATA_AFTER_BIO_CHECK_YN,
      </if>     
      <if test="ID_TYPE_SWIFT_CODE != null" >
        ID_TYPE_SWIFT_CODE,
      </if>
      <if test="ENABLE_UNIQUE_BY_CIF_TYPE_YN != null" >
        ENABLE_UNIQUE_BY_CIF_TYPE_YN,
      </if>
      <if test="HIDE_ID_EXPIRY_DATE_YN != null" >
        HIDE_ID_EXPIRY_DATE_YN,
      </if> 
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        #{CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="DESC_ENG != null" >
        #{DESC_ENG},
      </if>
      <if test="DESC_ARAB != null" >
        #{DESC_ARAB},
      </if>
      <if test="EXPIRY_DAYS != null and EXPIRY_DAYS != emptyBigDecimalValue" >
        #{EXPIRY_DAYS},
      </if>
      <if test="TYPES != null" >
        #{TYPES},
      </if>
      <if test="UNIQUENESS != null" >
        #{UNIQUENESS},
      </if>
      <if test="ADDITIONNAL_REFERENCE != null" >
        #{ADDITIONNAL_REFERENCE},
      </if>
      <if test="EXPIRY_SUSPEND_REASON != null and EXPIRY_SUSPEND_REASON != emptyBigDecimalValue" >
        #{EXPIRY_SUSPEND_REASON},
      </if>
      <if test="ENABLE_MCR != null" >
        #{ENABLE_MCR},
      </if>
      <if test="MICR_CODE != null and MICR_CODE != emptyBigDecimalValue" >
        #{MICR_CODE},
      </if>
      <if test="FROM_LEN != null and FROM_LEN != emptyBigDecimalValue" >
        #{FROM_LEN},
      </if>
      <if test="TO_LEN != null and TO_LEN != emptyBigDecimalValue" >
        #{TO_LEN},
      </if>
      <if test="CIVIL_ID != null" >
        #{CIVIL_ID},
      </if>
      <if test="ID_CARD_TYPE != null" >
        #{ID_CARD_TYPE},
      </if>
      <if test="ID_EXP_DTE_MAN != null" >
        #{ID_EXP_DTE_MAN},
      </if>
      <if test="DATA_TYPE != null" >
        #{DATA_TYPE},
      </if>
      <if test="FETCH_DATA_AFTER_BIO_CHECK_YN != null" >
        #{FETCH_DATA_AFTER_BIO_CHECK_YN != null},
      </if>      
      <if test="ID_TYPE_SWIFT_CODE != null" >
        #{ID_TYPE_SWIFT_CODE},
      </if>
      <if test="ENABLE_UNIQUE_BY_CIF_TYPE_YN != null" >
        #{ENABLE_UNIQUE_BY_CIF_TYPE_YN},
      </if>
      <if test="HIDE_ID_EXPIRY_DATE_YN != null" >
        #{HIDE_ID_EXPIRY_DATE_YN},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateID_TYPES" >
    update ID_TYPES
    <set >
      <if test="DESC_ENG != null" >
        DESC_ENG = #{DESC_ENG},
      </if>
      <if test="DESC_ARAB != null" >
        DESC_ARAB = #{DESC_ARAB},
      </if>
      <if test="EXPIRY_DAYS != null" >
        <choose >
          <when test="EXPIRY_DAYS == emptyBigDecimalValue" >
            EXPIRY_DAYS = NULL ,
          </when>
          <otherwise >
            EXPIRY_DAYS = #{EXPIRY_DAYS},
          </otherwise>
        </choose>
      </if>
      <if test="TYPES != null" >
        TYPES = #{TYPES},
      </if>
      <if test="UNIQUENESS != null" >
        UNIQUENESS = #{UNIQUENESS},
      </if>
      <if test="ADDITIONNAL_REFERENCE != null" >
        ADDITIONNAL_REFERENCE = #{ADDITIONNAL_REFERENCE},
      </if>
      <if test="EXPIRY_SUSPEND_REASON != null" >
        <choose >
          <when test="EXPIRY_SUSPEND_REASON == emptyBigDecimalValue" >
            EXPIRY_SUSPEND_REASON = NULL ,
          </when>
          <otherwise >
            EXPIRY_SUSPEND_REASON = #{EXPIRY_SUSPEND_REASON},
          </otherwise>
        </choose>
      </if>
      <if test="ENABLE_MCR != null" >
        ENABLE_MCR = #{ENABLE_MCR},
      </if>
      <if test="MICR_CODE != null" >
        <choose >
          <when test="MICR_CODE == emptyBigDecimalValue" >
            MICR_CODE = NULL ,
          </when>
          <otherwise >
            MICR_CODE = #{MICR_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="FROM_LEN != null" >
        <choose >
          <when test="FROM_LEN == emptyBigDecimalValue" >
            FROM_LEN = NULL ,
          </when>
          <otherwise >
            FROM_LEN = #{FROM_LEN},
          </otherwise>
        </choose>
      </if>
      <if test="TO_LEN != null" >
        <choose >
          <when test="TO_LEN == emptyBigDecimalValue" >
            TO_LEN = NULL ,
          </when>
          <otherwise >
            TO_LEN = #{TO_LEN},
          </otherwise>
        </choose>
      </if>
      <if test="CIVIL_ID != null" >
        CIVIL_ID = #{CIVIL_ID},
      </if>
      <if test="ID_CARD_TYPE != null" >
        ID_CARD_TYPE = #{ID_CARD_TYPE},
      </if>
      <if test="ID_EXP_DTE_MAN != null" >
        ID_EXP_DTE_MAN = #{ID_EXP_DTE_MAN},
      </if>
      <if test="DATA_TYPE != null" >
        DATA_TYPE = #{DATA_TYPE},
      </if>
      <if test="FETCH_DATA_AFTER_BIO_CHECK_YN != null" >
        FETCH_DATA_AFTER_BIO_CHECK_YN = #{FETCH_DATA_AFTER_BIO_CHECK_YN},
      </if>      
      <if test="ID_TYPE_SWIFT_CODE != null" >
        ID_TYPE_SWIFT_CODE = #{ID_TYPE_SWIFT_CODE},
      </if>
      <if test="ENABLE_UNIQUE_BY_CIF_TYPE_YN != null" >
        ENABLE_UNIQUE_BY_CIF_TYPE_YN = #{ENABLE_UNIQUE_BY_CIF_TYPE_YN},
      </if>
      <if test="HIDE_ID_EXPIRY_DATE_YN != null" >
        HIDE_ID_EXPIRY_DATE_YN = #{HIDE_ID_EXPIRY_DATE_YN},
      </if>
    </set>
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </sql>
  <update id="updateID_TYPES" parameterType="com.path.dbmaps.vo.ID_TYPESVO" >
    <include refid="sql_updateID_TYPES" />
  </update>
</mapper>