<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="IISCTRL_ADDITIONAL_PARAM" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.IISCTRL_ADDITIONAL_PARAMVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <result column="GROUP_CODE" property="GROUP_CODE" />
    <result column="GROUP_NAME" property="GROUP_NAME" />
    <result column="DISPLAY_ORDER" property="DISPLAY_ORDER" />
    <result column="LABEL_NAME" property="LABEL_NAME" />
    <result column="DATA_VALUE" property="DATA_VALUE" />
    <result column="DISPLAY_VALUE" property="DISPLAY_VALUE" />
    <result column="COLUMN_WIDTH" property="COLUMN_WIDTH" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, CODE, COMP_CODE, GROUP_CODE, GROUP_NAME, DISPLAY_ORDER, LABEL_NAME, 
    DATA_VALUE, DISPLAY_VALUE, COLUMN_WIDTH
  </sql>
  <select id="selectIISCTRL_ADDITIONAL_PARAM" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.IISCTRL_ADDITIONAL_PARAMVOKey" >
    select 
    <include refid="Base_Column_List" />
    from IISCTRL_ADDITIONAL_PARAM
    where BRANCH_CODE = #{BRANCH_CODE}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </select>
  <delete id="deleteIISCTRL_ADDITIONAL_PARAM" parameterType="com.path.dbmaps.vo.IISCTRL_ADDITIONAL_PARAMVOKey" >
    delete from IISCTRL_ADDITIONAL_PARAM
    where BRANCH_CODE = #{BRANCH_CODE}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </delete>
  <insert id="insertIISCTRL_ADDITIONAL_PARAM" parameterType="com.path.dbmaps.vo.IISCTRL_ADDITIONAL_PARAMVO" >
    insert into IISCTRL_ADDITIONAL_PARAM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="GROUP_CODE != null and GROUP_CODE != emptyBigDecimalValue" >
        GROUP_CODE,
      </if>
      <if test="GROUP_NAME != null" >
        GROUP_NAME,
      </if>
      <if test="DISPLAY_ORDER != null and DISPLAY_ORDER != emptyBigDecimalValue" >
        DISPLAY_ORDER,
      </if>
      <if test="LABEL_NAME != null" >
        LABEL_NAME,
      </if>
      <if test="DATA_VALUE != null" >
        DATA_VALUE,
      </if>
      <if test="DISPLAY_VALUE != null" >
        DISPLAY_VALUE,
      </if>
      <if test="COLUMN_WIDTH != null and COLUMN_WIDTH != emptyBigDecimalValue" >
        COLUMN_WIDTH,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        #{CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="GROUP_CODE != null and GROUP_CODE != emptyBigDecimalValue" >
        #{GROUP_CODE},
      </if>
      <if test="GROUP_NAME != null" >
        #{GROUP_NAME},
      </if>
      <if test="DISPLAY_ORDER != null and DISPLAY_ORDER != emptyBigDecimalValue" >
        #{DISPLAY_ORDER},
      </if>
      <if test="LABEL_NAME != null" >
        #{LABEL_NAME},
      </if>
      <if test="DATA_VALUE != null" >
        #{DATA_VALUE},
      </if>
      <if test="DISPLAY_VALUE != null" >
        #{DISPLAY_VALUE},
      </if>
      <if test="COLUMN_WIDTH != null and COLUMN_WIDTH != emptyBigDecimalValue" >
        #{COLUMN_WIDTH},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateIISCTRL_ADDITIONAL_PARAM" >
    update IISCTRL_ADDITIONAL_PARAM
    <set >
      <if test="GROUP_CODE != null" >
        <choose >
          <when test="GROUP_CODE == emptyBigDecimalValue" >
            GROUP_CODE = NULL ,
          </when>
          <otherwise >
            GROUP_CODE = #{GROUP_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="GROUP_NAME != null" >
        GROUP_NAME = #{GROUP_NAME},
      </if>
      <if test="DISPLAY_ORDER != null" >
        <choose >
          <when test="DISPLAY_ORDER == emptyBigDecimalValue" >
            DISPLAY_ORDER = NULL ,
          </when>
          <otherwise >
            DISPLAY_ORDER = #{DISPLAY_ORDER},
          </otherwise>
        </choose>
      </if>
      <if test="LABEL_NAME != null" >
        LABEL_NAME = #{LABEL_NAME},
      </if>
      <if test="DATA_VALUE != null" >
        DATA_VALUE = #{DATA_VALUE},
      </if>
      <if test="DISPLAY_VALUE != null" >
        DISPLAY_VALUE = #{DISPLAY_VALUE},
      </if>
      <if test="COLUMN_WIDTH != null" >
        <choose >
          <when test="COLUMN_WIDTH == emptyBigDecimalValue" >
            COLUMN_WIDTH = NULL ,
          </when>
          <otherwise >
            COLUMN_WIDTH = #{COLUMN_WIDTH},
          </otherwise>
        </choose>
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </sql>
  <update id="updateIISCTRL_ADDITIONAL_PARAM" parameterType="com.path.dbmaps.vo.IISCTRL_ADDITIONAL_PARAMVO" >
    <include refid="sql_updateIISCTRL_ADDITIONAL_PARAM" />
  </update>
</mapper>