<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="IM_API_SECURITY">
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.IM_API_SECURITYVO">
    <id column="API_CODE" property="API_CODE" />
    <result column="AUTHENTICATION_TYPE" property="AUTHENTICATION_TYPE" />
    <result column="USER_NAME" property="USER_NAME" />
    <result column="PASSWORD" property="PASSWORD" />
    <result column="TOKEN_REGISTRATION_URL" property="TOKEN_REGISTRATION_URL" />
    <result column="TOKEN_REGISTRATION_APP_PWD" property="TOKEN_REGISTRATION_APP_PWD" />
    <result column="TOKEN_REGISTRATION_APP_NAME" property="TOKEN_REGISTRATION_APP_NAME" />
    <result column="TOKEN_GENERATION_URL" property="TOKEN_GENERATION_URL" />
    <result column="TOKEN_AES_KEY" property="TOKEN_AES_KEY" />
    <result column="TOKEN_LIFETIME" property="TOKEN_LIFETIME" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="CREATED_DATE" property="CREATED_DATE" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="MODIFIED_DATE" property="MODIFIED_DATE" />
  </resultMap>
  <sql id="Base_Column_List">
    API_CODE, AUTHENTICATION_TYPE, USER_NAME, PASSWORD, TOKEN_REGISTRATION_URL, TOKEN_REGISTRATION_APP_PWD, 
    TOKEN_REGISTRATION_APP_NAME, TOKEN_GENERATION_URL, TOKEN_AES_KEY, TOKEN_LIFETIME, 
    CREATED_BY, CREATED_DATE, MODIFIED_BY, MODIFIED_DATE
  </sql>
  <select id="selectIM_API_SECURITY" parameterType="com.path.dbmaps.vo.IM_API_SECURITYVOKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from IM_API_SECURITY
    where API_CODE = #{API_CODE}
  </select>
  <delete id="deleteIM_API_SECURITY" parameterType="com.path.dbmaps.vo.IM_API_SECURITYVOKey">
    delete from IM_API_SECURITY
    where API_CODE = #{API_CODE}
  </delete>
  <insert id="insertIM_API_SECURITY" parameterType="com.path.dbmaps.vo.IM_API_SECURITYVO">
    insert into IM_API_SECURITY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="API_CODE != null">
        API_CODE,
      </if>
      <if test="AUTHENTICATION_TYPE != null">
        AUTHENTICATION_TYPE,
      </if>
      <if test="USER_NAME != null">
        USER_NAME,
      </if>
      <if test="PASSWORD != null">
        PASSWORD,
      </if>
      <if test="TOKEN_REGISTRATION_URL != null">
        TOKEN_REGISTRATION_URL,
      </if>
      <if test="TOKEN_REGISTRATION_APP_PWD != null">
        TOKEN_REGISTRATION_APP_PWD,
      </if>
      <if test="TOKEN_REGISTRATION_APP_NAME != null">
        TOKEN_REGISTRATION_APP_NAME,
      </if>
      <if test="TOKEN_GENERATION_URL != null">
        TOKEN_GENERATION_URL,
      </if>
      <if test="TOKEN_AES_KEY != null">
        TOKEN_AES_KEY,
      </if>
      <if test="TOKEN_LIFETIME != null">
        TOKEN_LIFETIME,
      </if>
      <if test="CREATED_BY != null">
        CREATED_BY,
      </if>
      <if test="CREATED_DATE != null">
        CREATED_DATE,
      </if>
      <if test="MODIFIED_BY != null">
        MODIFIED_BY,
      </if>
      <if test="MODIFIED_DATE != null">
        MODIFIED_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="API_CODE != null">
        #{API_CODE},
      </if>
      <if test="AUTHENTICATION_TYPE != null">
        #{AUTHENTICATION_TYPE},
      </if>
      <if test="USER_NAME != null">
        #{USER_NAME},
      </if>
      <if test="PASSWORD != null">
        #{PASSWORD},
      </if>
      <if test="TOKEN_REGISTRATION_URL != null">
        #{TOKEN_REGISTRATION_URL},
      </if>
      <if test="TOKEN_REGISTRATION_APP_PWD != null">
        #{TOKEN_REGISTRATION_APP_PWD},
      </if>
      <if test="TOKEN_REGISTRATION_APP_NAME != null">
        #{TOKEN_REGISTRATION_APP_NAME},
      </if>
      <if test="TOKEN_GENERATION_URL != null">
        #{TOKEN_GENERATION_URL},
      </if>
      <if test="TOKEN_AES_KEY != null">
        #{TOKEN_AES_KEY},
      </if>
      <if test="TOKEN_LIFETIME != null">
        #{TOKEN_LIFETIME},
      </if>
      <if test="CREATED_BY != null">
        #{CREATED_BY},
      </if>
      <if test="CREATED_DATE != null">
        #{CREATED_DATE},
      </if>
      <if test="MODIFIED_BY != null">
        #{MODIFIED_BY},
      </if>
      <if test="MODIFIED_DATE != null">
        #{MODIFIED_DATE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateIM_API_SECURITY">
    update IM_API_SECURITY
    <set>
      <if test="AUTHENTICATION_TYPE != null">
        AUTHENTICATION_TYPE = #{AUTHENTICATION_TYPE},
      </if>
      <if test="USER_NAME != null">
        USER_NAME = #{USER_NAME},
      </if>
      <if test="PASSWORD != null">
        PASSWORD = #{PASSWORD},
      </if>
      <if test="TOKEN_REGISTRATION_URL != null">
        TOKEN_REGISTRATION_URL = #{TOKEN_REGISTRATION_URL},
      </if>
      <if test="TOKEN_REGISTRATION_APP_PWD != null">
        TOKEN_REGISTRATION_APP_PWD = #{TOKEN_REGISTRATION_APP_PWD},
      </if>
      <if test="TOKEN_REGISTRATION_APP_NAME != null">
        TOKEN_REGISTRATION_APP_NAME = #{TOKEN_REGISTRATION_APP_NAME},
      </if>
      <if test="TOKEN_GENERATION_URL != null">
        TOKEN_GENERATION_URL = #{TOKEN_GENERATION_URL},
      </if>
      <if test="TOKEN_AES_KEY != null">
        TOKEN_AES_KEY = #{TOKEN_AES_KEY},
      </if>
      <if test="TOKEN_LIFETIME != null">
        TOKEN_LIFETIME = #{TOKEN_LIFETIME},
      </if>
      <if test="CREATED_BY != null">
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="CREATED_DATE != null">
        CREATED_DATE = #{CREATED_DATE},
      </if>
      <if test="MODIFIED_BY != null">
        MODIFIED_BY = #{MODIFIED_BY},
      </if>
      <if test="MODIFIED_DATE != null">
        MODIFIED_DATE = #{MODIFIED_DATE},
      </if>
    </set>
    where API_CODE = #{API_CODE}
  </sql>
  <update id="updateIM_API_SECURITY" parameterType="com.path.dbmaps.vo.IM_API_SECURITYVO">
    <include refid="sql_updateIM_API_SECURITY" />
  </update>
</mapper>