<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="IRP_SNAPSHOTS" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.IRP_SNAPSHOTSVO" >
    <id column="SNAPSHOT_ID" property="SNAPSHOT_ID" />
    <result column="EXECUTION_DATE" property="EXECUTION_DATE" />
    <result column="REPORT_NAME" property="REPORT_NAME" />
    <result column="REPORT_FORMAT" property="REPORT_FORMAT" />
    <result column="EXECUTED_BY" property="EXECUTED_BY" />
    <result column="FILE_NAME" property="FILE_NAME" />
    <result column="IS_DB" property="IS_DB" />
    <result column="CONN_ID" property="CONN_ID" />
    <result column="BRANCH_CODE" property="BRANCH_CODE" />
    <result column="COMP_CODE" property="COMP_CODE" />
    <result column="SNAPSHOT_REF" property="SNAPSHOT_REF" />
    <result column="APP_NAME" property="APP_NAME" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.path.dbmaps.vo.IRP_SNAPSHOTSVO" extends="BaseResultMap" >
    <result column="REPORT_CONTENT" property="REPORT_CONTENT" />
  </resultMap>
  <sql id="Base_Column_List" >
    SNAPSHOT_ID, EXECUTION_DATE, REPORT_NAME, REPORT_FORMAT, EXECUTED_BY, FILE_NAME, 
    IS_DB, CONN_ID, BRANCH_CODE, COMP_CODE, SNAPSHOT_REF, APP_NAME
  </sql>
  <sql id="Blob_Column_List" >
    REPORT_CONTENT
  </sql>
  <select id="selectIRP_SNAPSHOTS" resultMap="ResultMapWithBLOBs" parameterType="com.path.dbmaps.vo.IRP_SNAPSHOTSVO" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from IRP_SNAPSHOTS
    where SNAPSHOT_ID = #{SNAPSHOT_ID}
  </select>
  <delete id="deleteIRP_SNAPSHOTS" parameterType="com.path.dbmaps.vo.IRP_SNAPSHOTSVO" >
    delete from IRP_SNAPSHOTS
    where SNAPSHOT_ID = #{SNAPSHOT_ID}
  </delete>
  <insert id="insertIRP_SNAPSHOTS" parameterType="com.path.dbmaps.vo.IRP_SNAPSHOTSVO" >
    insert into IRP_SNAPSHOTS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="SNAPSHOT_ID != null and SNAPSHOT_ID != emptyBigDecimalValue" >
        SNAPSHOT_ID,
      </if>
      <if test="EXECUTION_DATE != null" >
        EXECUTION_DATE,
      </if>
      <if test="REPORT_NAME != null" >
        REPORT_NAME,
      </if>
      <if test="REPORT_FORMAT != null" >
        REPORT_FORMAT,
      </if>
      <if test="EXECUTED_BY != null" >
        EXECUTED_BY,
      </if>
      <if test="FILE_NAME != null" >
        FILE_NAME,
      </if>
      <if test="IS_DB != null and IS_DB != emptyBigDecimalValue" >
        IS_DB,
      </if>
      <if test="CONN_ID != null and CONN_ID != emptyBigDecimalValue" >
        CONN_ID,
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="SNAPSHOT_REF != null and SNAPSHOT_REF != emptyBigDecimalValue" >
        SNAPSHOT_REF,
      </if>
      <if test="APP_NAME != null" >
        APP_NAME,
      </if>
      <if test="REPORT_CONTENT != null" >
        REPORT_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="SNAPSHOT_ID != null and SNAPSHOT_ID != emptyBigDecimalValue" >
        #{SNAPSHOT_ID},
      </if>
      <if test="EXECUTION_DATE != null" >
        #{EXECUTION_DATE},
      </if>
      <if test="REPORT_NAME != null" >
        #{REPORT_NAME},
      </if>
      <if test="REPORT_FORMAT != null" >
        #{REPORT_FORMAT},
      </if>
      <if test="EXECUTED_BY != null" >
        #{EXECUTED_BY},
      </if>
      <if test="FILE_NAME != null" >
        #{FILE_NAME},
      </if>
      <if test="IS_DB != null and IS_DB != emptyBigDecimalValue" >
        #{IS_DB},
      </if>
      <if test="CONN_ID != null and CONN_ID != emptyBigDecimalValue" >
        #{CONN_ID},
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="SNAPSHOT_REF != null and SNAPSHOT_REF != emptyBigDecimalValue" >
        #{SNAPSHOT_REF},
      </if>
      <if test="APP_NAME != null" >
        #{APP_NAME},
      </if>
      <if test="REPORT_CONTENT != null" >
        #{REPORT_CONTENT},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateIRP_SNAPSHOTS" >
    update IRP_SNAPSHOTS
    <set >
      <if test="EXECUTION_DATE != null" >
        EXECUTION_DATE = #{EXECUTION_DATE},
      </if>
      <if test="REPORT_NAME != null" >
        REPORT_NAME = #{REPORT_NAME},
      </if>
      <if test="REPORT_FORMAT != null" >
        REPORT_FORMAT = #{REPORT_FORMAT},
      </if>
      <if test="EXECUTED_BY != null" >
        EXECUTED_BY = #{EXECUTED_BY},
      </if>
      <if test="FILE_NAME != null" >
        FILE_NAME = #{FILE_NAME},
      </if>
      <if test="IS_DB != null" >
        <choose >
          <when test="IS_DB == emptyBigDecimalValue" >
            IS_DB = NULL ,
          </when>
          <otherwise >
            IS_DB = #{IS_DB},
          </otherwise>
        </choose>
      </if>
      <if test="CONN_ID != null" >
        <choose >
          <when test="CONN_ID == emptyBigDecimalValue" >
            CONN_ID = NULL ,
          </when>
          <otherwise >
            CONN_ID = #{CONN_ID},
          </otherwise>
        </choose>
      </if>
      <if test="BRANCH_CODE != null" >
        <choose >
          <when test="BRANCH_CODE == emptyBigDecimalValue" >
            BRANCH_CODE = NULL ,
          </when>
          <otherwise >
            BRANCH_CODE = #{BRANCH_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="COMP_CODE != null" >
        <choose >
          <when test="COMP_CODE == emptyBigDecimalValue" >
            COMP_CODE = NULL ,
          </when>
          <otherwise >
            COMP_CODE = #{COMP_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="SNAPSHOT_REF != null" >
        <choose >
          <when test="SNAPSHOT_REF == emptyBigDecimalValue" >
            SNAPSHOT_REF = NULL ,
          </when>
          <otherwise >
            SNAPSHOT_REF = #{SNAPSHOT_REF},
          </otherwise>
        </choose>
      </if>
      <if test="APP_NAME != null" >
        APP_NAME = #{APP_NAME},
      </if>
      <if test="REPORT_CONTENT != null" >
        REPORT_CONTENT = #{REPORT_CONTENT},
      </if>
    </set>
    where SNAPSHOT_ID = #{SNAPSHOT_ID}
  </sql>
  <update id="updateIRP_SNAPSHOTS" parameterType="com.path.dbmaps.vo.IRP_SNAPSHOTSVO" >
    <include refid="sql_updateIRP_SNAPSHOTS" />
  </update>
</mapper>