<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="IRP_SCHED_DETAILS" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.IRP_SCHED_DETAILSVOKey" >
    <id column="FREQUENCY_OCCURENCE" property="FREQUENCY_OCCURENCE" />
    <id column="SCHED_ID" property="SCHED_ID" />
  </resultMap>
  <delete id="deleteIRP_SCHED_DETAILS" parameterType="com.path.dbmaps.vo.IRP_SCHED_DETAILSVOKey" >
    delete from IRP_SCHED_DETAILS
    where FREQUENCY_OCCURENCE = #{FREQUENCY_OCCURENCE}
      and SCHED_ID = #{SCHED_ID}
  </delete>
  <insert id="insertIRP_SCHED_DETAILS" parameterType="com.path.dbmaps.vo.IRP_SCHED_DETAILSVOKey" >
    insert into IRP_SCHED_DETAILS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="FREQUENCY_OCCURENCE != null" >
        FREQUENCY_OCCURENCE,
      </if>
      <if test="SCHED_ID != null" >
        SCHED_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="FREQUENCY_OCCURENCE != null" >
        #{FREQUENCY_OCCURENCE},
      </if>
      <if test="SCHED_ID != null" >
        #{SCHED_ID},
      </if>
    </trim>
  </insert>
</mapper>