<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ITR_COUNTRY_OF_BIRTH" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.ITR_COUNTRY_OF_BIRTHVOKey" >
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="TAX_REG_ID" property="TAX_REG_ID" />
  </resultMap>
  <delete id="deleteITR_COUNTRY_OF_BIRTH" parameterType="com.path.dbmaps.vo.ITR_COUNTRY_OF_BIRTHVOKey" >
    delete from ITR_COUNTRY_OF_BIRTH
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and TAX_REG_ID = #{TAX_REG_ID}
  </delete>
  <insert id="insertITR_COUNTRY_OF_BIRTH" parameterType="com.path.dbmaps.vo.ITR_COUNTRY_OF_BIRTHVOKey" >
    insert into ITR_COUNTRY_OF_BIRTH
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="TAX_REG_ID != null and TAX_REG_ID != emptyBigDecimalValue" >
        TAX_REG_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        #{CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="TAX_REG_ID != null and TAX_REG_ID != emptyBigDecimalValue" >
        #{TAX_REG_ID},
      </if>
    </trim>
  </insert>
</mapper>