<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="JV_TYPE" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.JV_TYPEVO" >
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="TYPE_CODE" property="TYPE_CODE" />
    <result column="BRIEF_DESC_ENG" property="BRIEF_DESC_ENG" />
    <result column="BRIEF_DESC_ARAB" property="BRIEF_DESC_ARAB" />
    <result column="LONG_DESC_ENG" property="LONG_DESC_ENG" />
    <result column="LONG_DESC_ARAB" property="LONG_DESC_ARAB" />
    <result column="ADDITIONAL_REFERENCE" property="ADDITIONAL_REFERENCE" />
    <result column="OPT_ORDER" property="OPT_ORDER" />
    <result column="ADD_DATE1_DESC" property="ADD_DATE1_DESC" />
    <result column="ADD_DATE2_DESC" property="ADD_DATE2_DESC" />
    <result column="ADD_DATE3_DESC" property="ADD_DATE3_DESC" />
    <result column="ADD_DATE4_DESC" property="ADD_DATE4_DESC" />
    <result column="ADD_DATE5_DESC" property="ADD_DATE5_DESC" />
    <result column="ADD_NUMBER1_DESC" property="ADD_NUMBER1_DESC" />
    <result column="ADD_NUMBER2_DESC" property="ADD_NUMBER2_DESC" />
    <result column="ADD_NUMBER3_DESC" property="ADD_NUMBER3_DESC" />
    <result column="ADD_NUMBER4_DESC" property="ADD_NUMBER4_DESC" />
    <result column="ADD_NUMBER5_DESC" property="ADD_NUMBER5_DESC" />
    <result column="ADD_STRING1_DESC" property="ADD_STRING1_DESC" />
    <result column="ADD_STRING2_DESC" property="ADD_STRING2_DESC" />
    <result column="ADD_STRING3_DESC" property="ADD_STRING3_DESC" />
    <result column="ADD_STRING4_DESC" property="ADD_STRING4_DESC" />
    <result column="ADD_STRING5_DESC" property="ADD_STRING5_DESC" />
    <result column="SMART_OPTION1" property="SMART_OPTION1" />
    <result column="SMART_OPTION2" property="SMART_OPTION2" />
    <result column="SMART_OPTION3" property="SMART_OPTION3" />
    <result column="SMART_OPTION4" property="SMART_OPTION4" />
    <result column="SMART_OPTION5" property="SMART_OPTION5" />
    <result column="SMART_OPTION_TEXT1" property="SMART_OPTION_TEXT1" />
    <result column="SMART_OPTION_TEXT2" property="SMART_OPTION_TEXT2" />
    <result column="SMART_OPTION_TEXT3" property="SMART_OPTION_TEXT3" />
    <result column="SMART_OPTION_TEXT4" property="SMART_OPTION_TEXT4" />
    <result column="SMART_OPTION_TEXT5" property="SMART_OPTION_TEXT5" />
    <result column="USECIF_NUMBER1" property="USECIF_NUMBER1" />
    <result column="USECIF_NUMBER2" property="USECIF_NUMBER2" />
    <result column="USECIF_NUMBER3" property="USECIF_NUMBER3" />
    <result column="USECIF_NUMBER4" property="USECIF_NUMBER4" />
    <result column="USECIF_NUMBER5" property="USECIF_NUMBER5" />
    <result column="ADD_DATE1_MAND" property="ADD_DATE1_MAND" />
    <result column="ADD_DATE2_MAND" property="ADD_DATE2_MAND" />
    <result column="ADD_DATE3_MAND" property="ADD_DATE3_MAND" />
    <result column="ADD_DATE4_MAND" property="ADD_DATE4_MAND" />
    <result column="ADD_DATE5_MAND" property="ADD_DATE5_MAND" />
    <result column="ADD_NUMBER1_MAND" property="ADD_NUMBER1_MAND" />
    <result column="ADD_NUMBER2_MAND" property="ADD_NUMBER2_MAND" />
    <result column="ADD_NUMBER3_MAND" property="ADD_NUMBER3_MAND" />
    <result column="ADD_NUMBER4_MAND" property="ADD_NUMBER4_MAND" />
    <result column="ADD_NUMBER5_MAND" property="ADD_NUMBER5_MAND" />
    <result column="ADD_STRING1_MAND" property="ADD_STRING1_MAND" />
    <result column="ADD_STRING2_MAND" property="ADD_STRING2_MAND" />
    <result column="ADD_STRING3_MAND" property="ADD_STRING3_MAND" />
    <result column="ADD_STRING4_MAND" property="ADD_STRING4_MAND" />
    <result column="ADD_STRING5_MAND" property="ADD_STRING5_MAND" />
    <result column="OPT_REF" property="OPT_REF" />
    <result column="USEDEAL_STRING1" property="USEDEAL_STRING1" />
  </resultMap>
  <sql id="Base_Column_List" >
    COMP_CODE, TYPE_CODE, BRIEF_DESC_ENG, BRIEF_DESC_ARAB, LONG_DESC_ENG, LONG_DESC_ARAB, 
    ADDITIONAL_REFERENCE, OPT_ORDER, ADD_DATE1_DESC, ADD_DATE2_DESC, ADD_DATE3_DESC, 
    ADD_DATE4_DESC, ADD_DATE5_DESC, ADD_NUMBER1_DESC, ADD_NUMBER2_DESC, ADD_NUMBER3_DESC, 
    ADD_NUMBER4_DESC, ADD_NUMBER5_DESC, ADD_STRING1_DESC, ADD_STRING2_DESC, ADD_STRING3_DESC, 
    ADD_STRING4_DESC, ADD_STRING5_DESC, SMART_OPTION1, SMART_OPTION2, SMART_OPTION3, 
    SMART_OPTION4, SMART_OPTION5, SMART_OPTION_TEXT1, SMART_OPTION_TEXT2, SMART_OPTION_TEXT3, 
    SMART_OPTION_TEXT4, SMART_OPTION_TEXT5, USECIF_NUMBER1, USECIF_NUMBER2, USECIF_NUMBER3, 
    USECIF_NUMBER4, USECIF_NUMBER5, ADD_DATE1_MAND, ADD_DATE2_MAND, ADD_DATE3_MAND, ADD_DATE4_MAND, 
    ADD_DATE5_MAND, ADD_NUMBER1_MAND, ADD_NUMBER2_MAND, ADD_NUMBER3_MAND, ADD_NUMBER4_MAND, 
    ADD_NUMBER5_MAND, ADD_STRING1_MAND, ADD_STRING2_MAND, ADD_STRING3_MAND, ADD_STRING4_MAND, 
    ADD_STRING5_MAND, OPT_REF, USEDEAL_STRING1
  </sql>
  <select id="selectJV_TYPE" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.JV_TYPEVOKey" >
    select 
    <include refid="Base_Column_List" />
    from JV_TYPE
    where COMP_CODE = #{COMP_CODE}
      and TYPE_CODE = #{TYPE_CODE}
  </select>
  <delete id="deleteJV_TYPE" parameterType="com.path.dbmaps.vo.JV_TYPEVOKey" >
    delete from JV_TYPE
    where COMP_CODE = #{COMP_CODE}
      and TYPE_CODE = #{TYPE_CODE}
  </delete>
  <insert id="insertJV_TYPE" parameterType="com.path.dbmaps.vo.JV_TYPEVO" >
    insert into JV_TYPE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="TYPE_CODE != null and TYPE_CODE != emptyBigDecimalValue" >
        TYPE_CODE,
      </if>
      <if test="BRIEF_DESC_ENG != null" >
        BRIEF_DESC_ENG,
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        BRIEF_DESC_ARAB,
      </if>
      <if test="LONG_DESC_ENG != null" >
        LONG_DESC_ENG,
      </if>
      <if test="LONG_DESC_ARAB != null" >
        LONG_DESC_ARAB,
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        ADDITIONAL_REFERENCE,
      </if>
      <if test="OPT_ORDER != null and OPT_ORDER != emptyBigDecimalValue" >
        OPT_ORDER,
      </if>
      <if test="ADD_DATE1_DESC != null" >
        ADD_DATE1_DESC,
      </if>
      <if test="ADD_DATE2_DESC != null" >
        ADD_DATE2_DESC,
      </if>
      <if test="ADD_DATE3_DESC != null" >
        ADD_DATE3_DESC,
      </if>
      <if test="ADD_DATE4_DESC != null" >
        ADD_DATE4_DESC,
      </if>
      <if test="ADD_DATE5_DESC != null" >
        ADD_DATE5_DESC,
      </if>
      <if test="ADD_NUMBER1_DESC != null" >
        ADD_NUMBER1_DESC,
      </if>
      <if test="ADD_NUMBER2_DESC != null" >
        ADD_NUMBER2_DESC,
      </if>
      <if test="ADD_NUMBER3_DESC != null" >
        ADD_NUMBER3_DESC,
      </if>
      <if test="ADD_NUMBER4_DESC != null" >
        ADD_NUMBER4_DESC,
      </if>
      <if test="ADD_NUMBER5_DESC != null" >
        ADD_NUMBER5_DESC,
      </if>
      <if test="ADD_STRING1_DESC != null" >
        ADD_STRING1_DESC,
      </if>
      <if test="ADD_STRING2_DESC != null" >
        ADD_STRING2_DESC,
      </if>
      <if test="ADD_STRING3_DESC != null" >
        ADD_STRING3_DESC,
      </if>
      <if test="ADD_STRING4_DESC != null" >
        ADD_STRING4_DESC,
      </if>
      <if test="ADD_STRING5_DESC != null" >
        ADD_STRING5_DESC,
      </if>
      <if test="SMART_OPTION1 != null and SMART_OPTION1 != emptyBigDecimalValue" >
        SMART_OPTION1,
      </if>
      <if test="SMART_OPTION2 != null and SMART_OPTION2 != emptyBigDecimalValue" >
        SMART_OPTION2,
      </if>
      <if test="SMART_OPTION3 != null and SMART_OPTION3 != emptyBigDecimalValue" >
        SMART_OPTION3,
      </if>
      <if test="SMART_OPTION4 != null and SMART_OPTION4 != emptyBigDecimalValue" >
        SMART_OPTION4,
      </if>
      <if test="SMART_OPTION5 != null and SMART_OPTION5 != emptyBigDecimalValue" >
        SMART_OPTION5,
      </if>
      <if test="SMART_OPTION_TEXT1 != null and SMART_OPTION_TEXT1 != emptyBigDecimalValue" >
        SMART_OPTION_TEXT1,
      </if>
      <if test="SMART_OPTION_TEXT2 != null and SMART_OPTION_TEXT2 != emptyBigDecimalValue" >
        SMART_OPTION_TEXT2,
      </if>
      <if test="SMART_OPTION_TEXT3 != null and SMART_OPTION_TEXT3 != emptyBigDecimalValue" >
        SMART_OPTION_TEXT3,
      </if>
      <if test="SMART_OPTION_TEXT4 != null and SMART_OPTION_TEXT4 != emptyBigDecimalValue" >
        SMART_OPTION_TEXT4,
      </if>
      <if test="SMART_OPTION_TEXT5 != null and SMART_OPTION_TEXT5 != emptyBigDecimalValue" >
        SMART_OPTION_TEXT5,
      </if>
      <if test="USECIF_NUMBER1 != null" >
        USECIF_NUMBER1,
      </if>
      <if test="USECIF_NUMBER2 != null" >
        USECIF_NUMBER2,
      </if>
      <if test="USECIF_NUMBER3 != null" >
        USECIF_NUMBER3,
      </if>
      <if test="USECIF_NUMBER4 != null" >
        USECIF_NUMBER4,
      </if>
      <if test="USECIF_NUMBER5 != null" >
        USECIF_NUMBER5,
      </if>
      <if test="ADD_DATE1_MAND != null" >
        ADD_DATE1_MAND,
      </if>
      <if test="ADD_DATE2_MAND != null" >
        ADD_DATE2_MAND,
      </if>
      <if test="ADD_DATE3_MAND != null" >
        ADD_DATE3_MAND,
      </if>
      <if test="ADD_DATE4_MAND != null" >
        ADD_DATE4_MAND,
      </if>
      <if test="ADD_DATE5_MAND != null" >
        ADD_DATE5_MAND,
      </if>
      <if test="ADD_NUMBER1_MAND != null" >
        ADD_NUMBER1_MAND,
      </if>
      <if test="ADD_NUMBER2_MAND != null" >
        ADD_NUMBER2_MAND,
      </if>
      <if test="ADD_NUMBER3_MAND != null" >
        ADD_NUMBER3_MAND,
      </if>
      <if test="ADD_NUMBER4_MAND != null" >
        ADD_NUMBER4_MAND,
      </if>
      <if test="ADD_NUMBER5_MAND != null" >
        ADD_NUMBER5_MAND,
      </if>
      <if test="ADD_STRING1_MAND != null" >
        ADD_STRING1_MAND,
      </if>
      <if test="ADD_STRING2_MAND != null" >
        ADD_STRING2_MAND,
      </if>
      <if test="ADD_STRING3_MAND != null" >
        ADD_STRING3_MAND,
      </if>
      <if test="ADD_STRING4_MAND != null" >
        ADD_STRING4_MAND,
      </if>
      <if test="ADD_STRING5_MAND != null" >
        ADD_STRING5_MAND,
      </if>
      <if test="OPT_REF != null" >
        OPT_REF,
      </if>
      <if test="USEDEAL_STRING1 != null" >
        USEDEAL_STRING1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="TYPE_CODE != null and TYPE_CODE != emptyBigDecimalValue" >
        #{TYPE_CODE},
      </if>
      <if test="BRIEF_DESC_ENG != null" >
        #{BRIEF_DESC_ENG},
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        #{BRIEF_DESC_ARAB},
      </if>
      <if test="LONG_DESC_ENG != null" >
        #{LONG_DESC_ENG},
      </if>
      <if test="LONG_DESC_ARAB != null" >
        #{LONG_DESC_ARAB},
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        #{ADDITIONAL_REFERENCE},
      </if>
      <if test="OPT_ORDER != null and OPT_ORDER != emptyBigDecimalValue" >
        #{OPT_ORDER},
      </if>
      <if test="ADD_DATE1_DESC != null" >
        #{ADD_DATE1_DESC},
      </if>
      <if test="ADD_DATE2_DESC != null" >
        #{ADD_DATE2_DESC},
      </if>
      <if test="ADD_DATE3_DESC != null" >
        #{ADD_DATE3_DESC},
      </if>
      <if test="ADD_DATE4_DESC != null" >
        #{ADD_DATE4_DESC},
      </if>
      <if test="ADD_DATE5_DESC != null" >
        #{ADD_DATE5_DESC},
      </if>
      <if test="ADD_NUMBER1_DESC != null" >
        #{ADD_NUMBER1_DESC},
      </if>
      <if test="ADD_NUMBER2_DESC != null" >
        #{ADD_NUMBER2_DESC},
      </if>
      <if test="ADD_NUMBER3_DESC != null" >
        #{ADD_NUMBER3_DESC},
      </if>
      <if test="ADD_NUMBER4_DESC != null" >
        #{ADD_NUMBER4_DESC},
      </if>
      <if test="ADD_NUMBER5_DESC != null" >
        #{ADD_NUMBER5_DESC},
      </if>
      <if test="ADD_STRING1_DESC != null" >
        #{ADD_STRING1_DESC},
      </if>
      <if test="ADD_STRING2_DESC != null" >
        #{ADD_STRING2_DESC},
      </if>
      <if test="ADD_STRING3_DESC != null" >
        #{ADD_STRING3_DESC},
      </if>
      <if test="ADD_STRING4_DESC != null" >
        #{ADD_STRING4_DESC},
      </if>
      <if test="ADD_STRING5_DESC != null" >
        #{ADD_STRING5_DESC},
      </if>
      <if test="SMART_OPTION1 != null and SMART_OPTION1 != emptyBigDecimalValue" >
        #{SMART_OPTION1},
      </if>
      <if test="SMART_OPTION2 != null and SMART_OPTION2 != emptyBigDecimalValue" >
        #{SMART_OPTION2},
      </if>
      <if test="SMART_OPTION3 != null and SMART_OPTION3 != emptyBigDecimalValue" >
        #{SMART_OPTION3},
      </if>
      <if test="SMART_OPTION4 != null and SMART_OPTION4 != emptyBigDecimalValue" >
        #{SMART_OPTION4},
      </if>
      <if test="SMART_OPTION5 != null and SMART_OPTION5 != emptyBigDecimalValue" >
        #{SMART_OPTION5},
      </if>
      <if test="SMART_OPTION_TEXT1 != null and SMART_OPTION_TEXT1 != emptyBigDecimalValue" >
        #{SMART_OPTION_TEXT1},
      </if>
      <if test="SMART_OPTION_TEXT2 != null and SMART_OPTION_TEXT2 != emptyBigDecimalValue" >
        #{SMART_OPTION_TEXT2},
      </if>
      <if test="SMART_OPTION_TEXT3 != null and SMART_OPTION_TEXT3 != emptyBigDecimalValue" >
        #{SMART_OPTION_TEXT3},
      </if>
      <if test="SMART_OPTION_TEXT4 != null and SMART_OPTION_TEXT4 != emptyBigDecimalValue" >
        #{SMART_OPTION_TEXT4},
      </if>
      <if test="SMART_OPTION_TEXT5 != null and SMART_OPTION_TEXT5 != emptyBigDecimalValue" >
        #{SMART_OPTION_TEXT5},
      </if>
      <if test="USECIF_NUMBER1 != null" >
        #{USECIF_NUMBER1},
      </if>
      <if test="USECIF_NUMBER2 != null" >
        #{USECIF_NUMBER2},
      </if>
      <if test="USECIF_NUMBER3 != null" >
        #{USECIF_NUMBER3},
      </if>
      <if test="USECIF_NUMBER4 != null" >
        #{USECIF_NUMBER4},
      </if>
      <if test="USECIF_NUMBER5 != null" >
        #{USECIF_NUMBER5},
      </if>
      <if test="ADD_DATE1_MAND != null" >
        #{ADD_DATE1_MAND},
      </if>
      <if test="ADD_DATE2_MAND != null" >
        #{ADD_DATE2_MAND},
      </if>
      <if test="ADD_DATE3_MAND != null" >
        #{ADD_DATE3_MAND},
      </if>
      <if test="ADD_DATE4_MAND != null" >
        #{ADD_DATE4_MAND},
      </if>
      <if test="ADD_DATE5_MAND != null" >
        #{ADD_DATE5_MAND},
      </if>
      <if test="ADD_NUMBER1_MAND != null" >
        #{ADD_NUMBER1_MAND},
      </if>
      <if test="ADD_NUMBER2_MAND != null" >
        #{ADD_NUMBER2_MAND},
      </if>
      <if test="ADD_NUMBER3_MAND != null" >
        #{ADD_NUMBER3_MAND},
      </if>
      <if test="ADD_NUMBER4_MAND != null" >
        #{ADD_NUMBER4_MAND},
      </if>
      <if test="ADD_NUMBER5_MAND != null" >
        #{ADD_NUMBER5_MAND},
      </if>
      <if test="ADD_STRING1_MAND != null" >
        #{ADD_STRING1_MAND},
      </if>
      <if test="ADD_STRING2_MAND != null" >
        #{ADD_STRING2_MAND},
      </if>
      <if test="ADD_STRING3_MAND != null" >
        #{ADD_STRING3_MAND},
      </if>
      <if test="ADD_STRING4_MAND != null" >
        #{ADD_STRING4_MAND},
      </if>
      <if test="ADD_STRING5_MAND != null" >
        #{ADD_STRING5_MAND},
      </if>
      <if test="OPT_REF != null" >
        #{OPT_REF},
      </if>
      <if test="USEDEAL_STRING1 != null" >
        #{USEDEAL_STRING1},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateJV_TYPE" >
    update JV_TYPE
    <set >
      <if test="BRIEF_DESC_ENG != null" >
        BRIEF_DESC_ENG = #{BRIEF_DESC_ENG},
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        BRIEF_DESC_ARAB = #{BRIEF_DESC_ARAB},
      </if>
      <if test="LONG_DESC_ENG != null" >
        LONG_DESC_ENG = #{LONG_DESC_ENG},
      </if>
      <if test="LONG_DESC_ARAB != null" >
        LONG_DESC_ARAB = #{LONG_DESC_ARAB},
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        ADDITIONAL_REFERENCE = #{ADDITIONAL_REFERENCE},
      </if>
      <if test="OPT_ORDER != null" >
        <choose >
          <when test="OPT_ORDER == emptyBigDecimalValue" >
            OPT_ORDER = NULL ,
          </when>
          <otherwise >
            OPT_ORDER = #{OPT_ORDER},
          </otherwise>
        </choose>
      </if>
      <if test="ADD_DATE1_DESC != null" >
        ADD_DATE1_DESC = #{ADD_DATE1_DESC},
      </if>
      <if test="ADD_DATE2_DESC != null" >
        ADD_DATE2_DESC = #{ADD_DATE2_DESC},
      </if>
      <if test="ADD_DATE3_DESC != null" >
        ADD_DATE3_DESC = #{ADD_DATE3_DESC},
      </if>
      <if test="ADD_DATE4_DESC != null" >
        ADD_DATE4_DESC = #{ADD_DATE4_DESC},
      </if>
      <if test="ADD_DATE5_DESC != null" >
        ADD_DATE5_DESC = #{ADD_DATE5_DESC},
      </if>
      <if test="ADD_NUMBER1_DESC != null" >
        ADD_NUMBER1_DESC = #{ADD_NUMBER1_DESC},
      </if>
      <if test="ADD_NUMBER2_DESC != null" >
        ADD_NUMBER2_DESC = #{ADD_NUMBER2_DESC},
      </if>
      <if test="ADD_NUMBER3_DESC != null" >
        ADD_NUMBER3_DESC = #{ADD_NUMBER3_DESC},
      </if>
      <if test="ADD_NUMBER4_DESC != null" >
        ADD_NUMBER4_DESC = #{ADD_NUMBER4_DESC},
      </if>
      <if test="ADD_NUMBER5_DESC != null" >
        ADD_NUMBER5_DESC = #{ADD_NUMBER5_DESC},
      </if>
      <if test="ADD_STRING1_DESC != null" >
        ADD_STRING1_DESC = #{ADD_STRING1_DESC},
      </if>
      <if test="ADD_STRING2_DESC != null" >
        ADD_STRING2_DESC = #{ADD_STRING2_DESC},
      </if>
      <if test="ADD_STRING3_DESC != null" >
        ADD_STRING3_DESC = #{ADD_STRING3_DESC},
      </if>
      <if test="ADD_STRING4_DESC != null" >
        ADD_STRING4_DESC = #{ADD_STRING4_DESC},
      </if>
      <if test="ADD_STRING5_DESC != null" >
        ADD_STRING5_DESC = #{ADD_STRING5_DESC},
      </if>
      <if test="SMART_OPTION1 != null" >
        <choose >
          <when test="SMART_OPTION1 == emptyBigDecimalValue" >
            SMART_OPTION1 = NULL ,
          </when>
          <otherwise >
            SMART_OPTION1 = #{SMART_OPTION1},
          </otherwise>
        </choose>
      </if>
      <if test="SMART_OPTION2 != null" >
        <choose >
          <when test="SMART_OPTION2 == emptyBigDecimalValue" >
            SMART_OPTION2 = NULL ,
          </when>
          <otherwise >
            SMART_OPTION2 = #{SMART_OPTION2},
          </otherwise>
        </choose>
      </if>
      <if test="SMART_OPTION3 != null" >
        <choose >
          <when test="SMART_OPTION3 == emptyBigDecimalValue" >
            SMART_OPTION3 = NULL ,
          </when>
          <otherwise >
            SMART_OPTION3 = #{SMART_OPTION3},
          </otherwise>
        </choose>
      </if>
      <if test="SMART_OPTION4 != null" >
        <choose >
          <when test="SMART_OPTION4 == emptyBigDecimalValue" >
            SMART_OPTION4 = NULL ,
          </when>
          <otherwise >
            SMART_OPTION4 = #{SMART_OPTION4},
          </otherwise>
        </choose>
      </if>
      <if test="SMART_OPTION5 != null" >
        <choose >
          <when test="SMART_OPTION5 == emptyBigDecimalValue" >
            SMART_OPTION5 = NULL ,
          </when>
          <otherwise >
            SMART_OPTION5 = #{SMART_OPTION5},
          </otherwise>
        </choose>
      </if>
      <if test="SMART_OPTION_TEXT1 != null" >
        <choose >
          <when test="SMART_OPTION_TEXT1 == emptyBigDecimalValue" >
            SMART_OPTION_TEXT1 = NULL ,
          </when>
          <otherwise >
            SMART_OPTION_TEXT1 = #{SMART_OPTION_TEXT1},
          </otherwise>
        </choose>
      </if>
      <if test="SMART_OPTION_TEXT2 != null" >
        <choose >
          <when test="SMART_OPTION_TEXT2 == emptyBigDecimalValue" >
            SMART_OPTION_TEXT2 = NULL ,
          </when>
          <otherwise >
            SMART_OPTION_TEXT2 = #{SMART_OPTION_TEXT2},
          </otherwise>
        </choose>
      </if>
      <if test="SMART_OPTION_TEXT3 != null" >
        <choose >
          <when test="SMART_OPTION_TEXT3 == emptyBigDecimalValue" >
            SMART_OPTION_TEXT3 = NULL ,
          </when>
          <otherwise >
            SMART_OPTION_TEXT3 = #{SMART_OPTION_TEXT3},
          </otherwise>
        </choose>
      </if>
      <if test="SMART_OPTION_TEXT4 != null" >
        <choose >
          <when test="SMART_OPTION_TEXT4 == emptyBigDecimalValue" >
            SMART_OPTION_TEXT4 = NULL ,
          </when>
          <otherwise >
            SMART_OPTION_TEXT4 = #{SMART_OPTION_TEXT4},
          </otherwise>
        </choose>
      </if>
      <if test="SMART_OPTION_TEXT5 != null" >
        <choose >
          <when test="SMART_OPTION_TEXT5 == emptyBigDecimalValue" >
            SMART_OPTION_TEXT5 = NULL ,
          </when>
          <otherwise >
            SMART_OPTION_TEXT5 = #{SMART_OPTION_TEXT5},
          </otherwise>
        </choose>
      </if>
      <if test="USECIF_NUMBER1 != null" >
        USECIF_NUMBER1 = #{USECIF_NUMBER1},
      </if>
      <if test="USECIF_NUMBER2 != null" >
        USECIF_NUMBER2 = #{USECIF_NUMBER2},
      </if>
      <if test="USECIF_NUMBER3 != null" >
        USECIF_NUMBER3 = #{USECIF_NUMBER3},
      </if>
      <if test="USECIF_NUMBER4 != null" >
        USECIF_NUMBER4 = #{USECIF_NUMBER4},
      </if>
      <if test="USECIF_NUMBER5 != null" >
        USECIF_NUMBER5 = #{USECIF_NUMBER5},
      </if>
      <if test="ADD_DATE1_MAND != null" >
        ADD_DATE1_MAND = #{ADD_DATE1_MAND},
      </if>
      <if test="ADD_DATE2_MAND != null" >
        ADD_DATE2_MAND = #{ADD_DATE2_MAND},
      </if>
      <if test="ADD_DATE3_MAND != null" >
        ADD_DATE3_MAND = #{ADD_DATE3_MAND},
      </if>
      <if test="ADD_DATE4_MAND != null" >
        ADD_DATE4_MAND = #{ADD_DATE4_MAND},
      </if>
      <if test="ADD_DATE5_MAND != null" >
        ADD_DATE5_MAND = #{ADD_DATE5_MAND},
      </if>
      <if test="ADD_NUMBER1_MAND != null" >
        ADD_NUMBER1_MAND = #{ADD_NUMBER1_MAND},
      </if>
      <if test="ADD_NUMBER2_MAND != null" >
        ADD_NUMBER2_MAND = #{ADD_NUMBER2_MAND},
      </if>
      <if test="ADD_NUMBER3_MAND != null" >
        ADD_NUMBER3_MAND = #{ADD_NUMBER3_MAND},
      </if>
      <if test="ADD_NUMBER4_MAND != null" >
        ADD_NUMBER4_MAND = #{ADD_NUMBER4_MAND},
      </if>
      <if test="ADD_NUMBER5_MAND != null" >
        ADD_NUMBER5_MAND = #{ADD_NUMBER5_MAND},
      </if>
      <if test="ADD_STRING1_MAND != null" >
        ADD_STRING1_MAND = #{ADD_STRING1_MAND},
      </if>
      <if test="ADD_STRING2_MAND != null" >
        ADD_STRING2_MAND = #{ADD_STRING2_MAND},
      </if>
      <if test="ADD_STRING3_MAND != null" >
        ADD_STRING3_MAND = #{ADD_STRING3_MAND},
      </if>
      <if test="ADD_STRING4_MAND != null" >
        ADD_STRING4_MAND = #{ADD_STRING4_MAND},
      </if>
      <if test="ADD_STRING5_MAND != null" >
        ADD_STRING5_MAND = #{ADD_STRING5_MAND},
      </if>
      <if test="OPT_REF != null" >
        OPT_REF = #{OPT_REF},
      </if>
      <if test="USEDEAL_STRING1 != null" >
        USEDEAL_STRING1 = #{USEDEAL_STRING1},
      </if>
    </set>
    where COMP_CODE = #{COMP_CODE}
      and TYPE_CODE = #{TYPE_CODE}
  </sql>
  <update id="updateJV_TYPE" parameterType="com.path.dbmaps.vo.JV_TYPEVO" >
    <include refid="sql_updateJV_TYPE" />
  </update>
</mapper>