<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="LIMIT_SCHEMA_TEMP" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.LIMIT_SCHEMA_TEMPVO" >
    <id column="ACC_BR" property="ACC_BR" />
    <id column="ACC_CIF" property="ACC_CIF" />
    <id column="ACC_CY" property="ACC_CY" />
    <id column="ACC_GL" property="ACC_GL" />
    <id column="ACC_SL" property="ACC_SL" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE" property="LINE" />
    <result column="TO_BE_GROUP1" property="TO_BE_GROUP1" />
    <result column="TO_BE_GROUP2" property="TO_BE_GROUP2" />
    <result column="TO_BE_GROUP3" property="TO_BE_GROUP3" />
    <result column="TO_BE_GROUP4" property="TO_BE_GROUP4" />
    <result column="TO_BE_LIMIT_AMT" property="TO_BE_LIMIT_AMT" />
    <result column="TO_BE_TRX_TYPE" property="TO_BE_TRX_TYPE" />
    <result column="TO_BE_STATUS" property="TO_BE_STATUS" />
    <result column="ORIGIN_LINE" property="ORIGIN_LINE" />
    <result column="NEVER_EXPIRE" property="NEVER_EXPIRE" />
    <result column="TO_EFFECTIVE_FROM" property="TO_EFFECTIVE_FROM" />
    <result column="TO_EFFECTIVE_TO" property="TO_EFFECTIVE_TO" />
    <result column="TO_BE_GROUP5" property="TO_BE_GROUP5" />
    <result column="TO_BE_GROUP6" property="TO_BE_GROUP6" />
    <result column="TO_BE_GROUP7" property="TO_BE_GROUP7" />
    <result column="TO_BE_GROUP8" property="TO_BE_GROUP8" />
    <result column="TO_BE_GROUP9" property="TO_BE_GROUP9" />
    <result column="TO_BE_GROUP10" property="TO_BE_GROUP10" />
  </resultMap>
  <sql id="Base_Column_List" >
    ACC_BR, ACC_CIF, ACC_CY, ACC_GL, ACC_SL, COMP_CODE, LINE, TO_BE_GROUP1, TO_BE_GROUP2, 
    TO_BE_GROUP3, TO_BE_GROUP4, TO_BE_LIMIT_AMT, TO_BE_TRX_TYPE, TO_BE_STATUS, ORIGIN_LINE, 
    NEVER_EXPIRE, TO_EFFECTIVE_FROM, TO_EFFECTIVE_TO, TO_BE_GROUP5, TO_BE_GROUP6, TO_BE_GROUP7, 
    TO_BE_GROUP8, TO_BE_GROUP9, TO_BE_GROUP10
  </sql>
  <select id="selectLIMIT_SCHEMA_TEMP" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.LIMIT_SCHEMA_TEMPVOKey" >
    select 
    <include refid="Base_Column_List" />
    from LIMIT_SCHEMA_TEMP
    where ACC_BR = #{ACC_BR}
      and ACC_CIF = #{ACC_CIF}
      and ACC_CY = #{ACC_CY}
      and ACC_GL = #{ACC_GL}
      and ACC_SL = #{ACC_SL}
      and COMP_CODE = #{COMP_CODE}
      and LINE = #{LINE}
  </select>
  <delete id="deleteLIMIT_SCHEMA_TEMP" parameterType="com.path.dbmaps.vo.LIMIT_SCHEMA_TEMPVOKey" >
    delete from LIMIT_SCHEMA_TEMP
    where ACC_BR = #{ACC_BR}
      and ACC_CIF = #{ACC_CIF}
      and ACC_CY = #{ACC_CY}
      and ACC_GL = #{ACC_GL}
      and ACC_SL = #{ACC_SL}
      and COMP_CODE = #{COMP_CODE}
      and LINE = #{LINE}
  </delete>
  <insert id="insertLIMIT_SCHEMA_TEMP" parameterType="com.path.dbmaps.vo.LIMIT_SCHEMA_TEMPVO" >
    insert into LIMIT_SCHEMA_TEMP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ACC_BR != null and ACC_BR != emptyBigDecimalValue" >
        ACC_BR,
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        ACC_CIF,
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        ACC_CY,
      </if>
      <if test="ACC_GL != null and ACC_GL != emptyBigDecimalValue" >
        ACC_GL,
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        ACC_SL,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE != null and LINE != emptyBigDecimalValue" >
        LINE,
      </if>
      <if test="TO_BE_GROUP1 != null" >
        TO_BE_GROUP1,
      </if>
      <if test="TO_BE_GROUP2 != null" >
        TO_BE_GROUP2,
      </if>
      <if test="TO_BE_GROUP3 != null" >
        TO_BE_GROUP3,
      </if>
      <if test="TO_BE_GROUP4 != null" >
        TO_BE_GROUP4,
      </if>
      <if test="TO_BE_LIMIT_AMT != null and TO_BE_LIMIT_AMT != emptyBigDecimalValue" >
        TO_BE_LIMIT_AMT,
      </if>
      <if test="TO_BE_TRX_TYPE != null and TO_BE_TRX_TYPE != emptyBigDecimalValue" >
        TO_BE_TRX_TYPE,
      </if>
      <if test="TO_BE_STATUS != null" >
        TO_BE_STATUS,
      </if>
      <if test="ORIGIN_LINE != null and ORIGIN_LINE != emptyBigDecimalValue" >
        ORIGIN_LINE,
      </if>
      <if test="NEVER_EXPIRE != null and NEVER_EXPIRE != emptyBigDecimalValue" >
        NEVER_EXPIRE,
      </if>
      <if test="TO_EFFECTIVE_FROM != null" >
        TO_EFFECTIVE_FROM,
      </if>
      <if test="TO_EFFECTIVE_TO != null" >
        TO_EFFECTIVE_TO,
      </if>
      <if test="TO_BE_GROUP5 != null" >
        TO_BE_GROUP5,
      </if>
      <if test="TO_BE_GROUP6 != null" >
        TO_BE_GROUP6,
      </if>
      <if test="TO_BE_GROUP7 != null" >
        TO_BE_GROUP7,
      </if>
      <if test="TO_BE_GROUP8 != null" >
        TO_BE_GROUP8,
      </if>
      <if test="TO_BE_GROUP9 != null" >
        TO_BE_GROUP9,
      </if>
      <if test="TO_BE_GROUP10 != null" >
        TO_BE_GROUP10,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ACC_BR != null and ACC_BR != emptyBigDecimalValue" >
        #{ACC_BR},
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        #{ACC_CIF},
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        #{ACC_CY},
      </if>
      <if test="ACC_GL != null and ACC_GL != emptyBigDecimalValue" >
        #{ACC_GL},
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        #{ACC_SL},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE != null and LINE != emptyBigDecimalValue" >
        #{LINE},
      </if>
      <if test="TO_BE_GROUP1 != null" >
        #{TO_BE_GROUP1},
      </if>
      <if test="TO_BE_GROUP2 != null" >
        #{TO_BE_GROUP2},
      </if>
      <if test="TO_BE_GROUP3 != null" >
        #{TO_BE_GROUP3},
      </if>
      <if test="TO_BE_GROUP4 != null" >
        #{TO_BE_GROUP4},
      </if>
      <if test="TO_BE_LIMIT_AMT != null and TO_BE_LIMIT_AMT != emptyBigDecimalValue" >
        #{TO_BE_LIMIT_AMT},
      </if>
      <if test="TO_BE_TRX_TYPE != null and TO_BE_TRX_TYPE != emptyBigDecimalValue" >
        #{TO_BE_TRX_TYPE},
      </if>
      <if test="TO_BE_STATUS != null" >
        #{TO_BE_STATUS},
      </if>
      <if test="ORIGIN_LINE != null and ORIGIN_LINE != emptyBigDecimalValue" >
        #{ORIGIN_LINE},
      </if>
      <if test="NEVER_EXPIRE != null and NEVER_EXPIRE != emptyBigDecimalValue" >
        #{NEVER_EXPIRE},
      </if>
      <if test="TO_EFFECTIVE_FROM != null" >
        #{TO_EFFECTIVE_FROM},
      </if>
      <if test="TO_EFFECTIVE_TO != null" >
        #{TO_EFFECTIVE_TO},
      </if>
      <if test="TO_BE_GROUP5 != null" >
        #{TO_BE_GROUP5},
      </if>
      <if test="TO_BE_GROUP6 != null" >
        #{TO_BE_GROUP6},
      </if>
      <if test="TO_BE_GROUP7 != null" >
        #{TO_BE_GROUP7},
      </if>
      <if test="TO_BE_GROUP8 != null" >
        #{TO_BE_GROUP8},
      </if>
      <if test="TO_BE_GROUP9 != null" >
        #{TO_BE_GROUP9},
      </if>
      <if test="TO_BE_GROUP10 != null" >
        #{TO_BE_GROUP10},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateLIMIT_SCHEMA_TEMP" >
    update LIMIT_SCHEMA_TEMP
    <set >
      <if test="TO_BE_GROUP1 != null" >
        TO_BE_GROUP1 = #{TO_BE_GROUP1},
      </if>
      <if test="TO_BE_GROUP2 != null" >
        TO_BE_GROUP2 = #{TO_BE_GROUP2},
      </if>
      <if test="TO_BE_GROUP3 != null" >
        TO_BE_GROUP3 = #{TO_BE_GROUP3},
      </if>
      <if test="TO_BE_GROUP4 != null" >
        TO_BE_GROUP4 = #{TO_BE_GROUP4},
      </if>
      <if test="TO_BE_LIMIT_AMT != null" >
        <choose >
          <when test="TO_BE_LIMIT_AMT == emptyBigDecimalValue" >
            TO_BE_LIMIT_AMT = NULL ,
          </when>
          <otherwise >
            TO_BE_LIMIT_AMT = #{TO_BE_LIMIT_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="TO_BE_TRX_TYPE != null" >
        <choose >
          <when test="TO_BE_TRX_TYPE == emptyBigDecimalValue" >
            TO_BE_TRX_TYPE = NULL ,
          </when>
          <otherwise >
            TO_BE_TRX_TYPE = #{TO_BE_TRX_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="TO_BE_STATUS != null" >
        TO_BE_STATUS = #{TO_BE_STATUS},
      </if>
      <if test="ORIGIN_LINE != null" >
        <choose >
          <when test="ORIGIN_LINE == emptyBigDecimalValue" >
            ORIGIN_LINE = NULL ,
          </when>
          <otherwise >
            ORIGIN_LINE = #{ORIGIN_LINE},
          </otherwise>
        </choose>
      </if>
      <if test="NEVER_EXPIRE != null" >
        <choose >
          <when test="NEVER_EXPIRE == emptyBigDecimalValue" >
            NEVER_EXPIRE = NULL ,
          </when>
          <otherwise >
            NEVER_EXPIRE = #{NEVER_EXPIRE},
          </otherwise>
        </choose>
      </if>
      <if test="TO_EFFECTIVE_FROM != null" >
        TO_EFFECTIVE_FROM = #{TO_EFFECTIVE_FROM},
      </if>
      <if test="TO_EFFECTIVE_TO != null" >
        TO_EFFECTIVE_TO = #{TO_EFFECTIVE_TO},
      </if>
      <if test="TO_BE_GROUP5 != null" >
        TO_BE_GROUP5 = #{TO_BE_GROUP5},
      </if>
      <if test="TO_BE_GROUP6 != null" >
        TO_BE_GROUP6 = #{TO_BE_GROUP6},
      </if>
      <if test="TO_BE_GROUP7 != null" >
        TO_BE_GROUP7 = #{TO_BE_GROUP7},
      </if>
      <if test="TO_BE_GROUP8 != null" >
        TO_BE_GROUP8 = #{TO_BE_GROUP8},
      </if>
      <if test="TO_BE_GROUP9 != null" >
        TO_BE_GROUP9 = #{TO_BE_GROUP9},
      </if>
      <if test="TO_BE_GROUP10 != null" >
        TO_BE_GROUP10 = #{TO_BE_GROUP10},
      </if>
    </set>
    where ACC_BR = #{ACC_BR}
      and ACC_CIF = #{ACC_CIF}
      and ACC_CY = #{ACC_CY}
      and ACC_GL = #{ACC_GL}
      and ACC_SL = #{ACC_SL}
      and COMP_CODE = #{COMP_CODE}
      and LINE = #{LINE}
  </sql>
  <update id="updateLIMIT_SCHEMA_TEMP" parameterType="com.path.dbmaps.vo.LIMIT_SCHEMA_TEMPVO" >
    <include refid="sql_updateLIMIT_SCHEMA_TEMP" />
  </update>
</mapper>