<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="OC_S_AUDIT_ACTIONS_EXTENDED" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.OC_S_AUDIT_ACTIONS_EXTENDEDVO" >
    <id column="ACTION_DATE" property="ACTION_DATE" />
    <id column="APP_CHNL_ID" property="APP_CHNL_ID" />
    <id column="APP_NAME" property="APP_NAME" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="PROG_REF" property="PROG_REF" />
    <id column="TRX_NBR" property="TRX_NBR" />
    <id column="USR_ID" property="USR_ID" />
    <result column="OPER_ID" property="OPER_ID" />
    <result column="STATUS" property="STATUS" />
    <result column="REMOTE_HOST_NAME" property="REMOTE_HOST_NAME" />
    <result column="REMOTE_HOST_OPERATING_SYSTEM" property="REMOTE_HOST_OPERATING_SYSTEM" />
    <result column="OMNI_REFERENCE" property="OMNI_REFERENCE" />
    <result column="CORE_REFERENCE" property="CORE_REFERENCE" />
    <result column="BRANCHES_ID" property="BRANCHES_ID" />
    <result column="KEY_LABEL_CODE" property="KEY_LABEL_CODE" />
    <result column="KEY_DATA" property="KEY_DATA" />
  </resultMap>
  <sql id="Base_Column_List" >
    ACTION_DATE, APP_CHNL_ID, APP_NAME, COMP_CODE, PROG_REF, TRX_NBR, USR_ID, OPER_ID, 
    STATUS, REMOTE_HOST_NAME, REMOTE_HOST_OPERATING_SYSTEM, OMNI_REFERENCE, CORE_REFERENCE, 
    BRANCHES_ID, KEY_LABEL_CODE, KEY_DATA
  </sql>
  <select id="selectOC_S_AUDIT_ACTIONS_EXTENDED" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.OC_S_AUDIT_ACTIONS_EXTENDEDVO" >
    select 
    <include refid="Base_Column_List" />
    from OC_S_AUDIT_ACTIONS_EXTENDED
    where ACTION_DATE = #{ACTION_DATE}
      and APP_CHNL_ID = #{APP_CHNL_ID}
      and APP_NAME = #{APP_NAME}
      and COMP_CODE = #{COMP_CODE}
      and PROG_REF = #{PROG_REF}
      and TRX_NBR = #{TRX_NBR}
      and USR_ID = #{USR_ID}
  </select>
  <delete id="deleteOC_S_AUDIT_ACTIONS_EXTENDED" parameterType="com.path.dbmaps.vo.OC_S_AUDIT_ACTIONS_EXTENDEDVO" >
    delete from OC_S_AUDIT_ACTIONS_EXTENDED
    where ACTION_DATE = #{ACTION_DATE}
      and APP_CHNL_ID = #{APP_CHNL_ID}
      and APP_NAME = #{APP_NAME}
      and COMP_CODE = #{COMP_CODE}
      and PROG_REF = #{PROG_REF}
      and TRX_NBR = #{TRX_NBR}
      and USR_ID = #{USR_ID}
  </delete>
  <insert id="insertOC_S_AUDIT_ACTIONS_EXTENDED" parameterType="com.path.dbmaps.vo.OC_S_AUDIT_ACTIONS_EXTENDEDVO" >
    insert into OC_S_AUDIT_ACTIONS_EXTENDED
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ACTION_DATE != null" >
        ACTION_DATE,
      </if>
      <if test="APP_CHNL_ID != null and APP_CHNL_ID != emptyBigDecimalValue" >
        APP_CHNL_ID,
      </if>
      <if test="APP_NAME != null and !&quot;&quot;.equals(APP_NAME)" >
        APP_NAME,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="PROG_REF != null and !&quot;&quot;.equals(PROG_REF)" >
        PROG_REF,
      </if>
      <if test="TRX_NBR != null and !&quot;&quot;.equals(TRX_NBR)" >
        TRX_NBR,
      </if>
      <if test="USR_ID != null and USR_ID != emptyBigDecimalValue" >
        USR_ID,
      </if>
      <if test="OPER_ID != null and OPER_ID != emptyBigDecimalValue" >
        OPER_ID,
      </if>
      <if test="STATUS != null and !&quot;&quot;.equals(STATUS)" >
        STATUS,
      </if>
      <if test="REMOTE_HOST_NAME != null and !&quot;&quot;.equals(REMOTE_HOST_NAME)" >
        REMOTE_HOST_NAME,
      </if>
      <if test="REMOTE_HOST_OPERATING_SYSTEM != null and !&quot;&quot;.equals(REMOTE_HOST_OPERATING_SYSTEM)" >
        REMOTE_HOST_OPERATING_SYSTEM,
      </if>
      <if test="OMNI_REFERENCE != null and OMNI_REFERENCE != emptyBigDecimalValue" >
        OMNI_REFERENCE,
      </if>
      <if test="CORE_REFERENCE != null and !&quot;&quot;.equals(CORE_REFERENCE)" >
        CORE_REFERENCE,
      </if>
      <if test="BRANCHES_ID != null and BRANCHES_ID != emptyBigDecimalValue" >
        BRANCHES_ID,
      </if>
      <if test="KEY_LABEL_CODE != null and !&quot;&quot;.equals(KEY_LABEL_CODE)" >
        KEY_LABEL_CODE,
      </if>
      <if test="KEY_DATA != null and !&quot;&quot;.equals(KEY_DATA)" >
        KEY_DATA,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ACTION_DATE != null" >
        #{ACTION_DATE},
      </if>
      <if test="APP_CHNL_ID != null and APP_CHNL_ID != emptyBigDecimalValue" >
        #{APP_CHNL_ID},
      </if>
      <if test="APP_NAME != null and !&quot;&quot;.equals(APP_NAME)" >
        #{APP_NAME},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="PROG_REF != null and !&quot;&quot;.equals(PROG_REF)" >
        #{PROG_REF},
      </if>
      <if test="TRX_NBR != null and !&quot;&quot;.equals(TRX_NBR)" >
        #{TRX_NBR},
      </if>
      <if test="USR_ID != null and USR_ID != emptyBigDecimalValue" >
        #{USR_ID},
      </if>
      <if test="OPER_ID != null and OPER_ID != emptyBigDecimalValue" >
        #{OPER_ID},
      </if>
      <if test="STATUS != null and !&quot;&quot;.equals(STATUS)" >
        #{STATUS},
      </if>
      <if test="REMOTE_HOST_NAME != null and !&quot;&quot;.equals(REMOTE_HOST_NAME)" >
        #{REMOTE_HOST_NAME},
      </if>
      <if test="REMOTE_HOST_OPERATING_SYSTEM != null and !&quot;&quot;.equals(REMOTE_HOST_OPERATING_SYSTEM)" >
        #{REMOTE_HOST_OPERATING_SYSTEM},
      </if>
      <if test="OMNI_REFERENCE != null and OMNI_REFERENCE != emptyBigDecimalValue" >
        #{OMNI_REFERENCE},
      </if>
      <if test="CORE_REFERENCE != null and !&quot;&quot;.equals(CORE_REFERENCE)" >
        #{CORE_REFERENCE},
      </if>
      <if test="BRANCHES_ID != null and BRANCHES_ID != emptyBigDecimalValue" >
        #{BRANCHES_ID},
      </if>
      <if test="KEY_LABEL_CODE != null and !&quot;&quot;.equals(KEY_LABEL_CODE)" >
        #{KEY_LABEL_CODE},
      </if>
      <if test="KEY_DATA != null and !&quot;&quot;.equals(KEY_DATA)" >
        #{KEY_DATA},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateOC_S_AUDIT_ACTIONS_EXTENDED" >
    update OC_S_AUDIT_ACTIONS_EXTENDED
    <set >
      <if test="OPER_ID != null" >
        <choose >
          <when test="OPER_ID == emptyBigDecimalValue" >
            OPER_ID = NULL ,
          </when>
          <otherwise >
            OPER_ID = #{OPER_ID},
          </otherwise>
        </choose>
      </if>
      <if test="STATUS != null" >
        <choose >
          <when test="STATUS.equals(&quot;&quot;)" >
            STATUS = NULL ,
          </when>
          <otherwise >
            STATUS = #{STATUS},
          </otherwise>
        </choose>
      </if>
      <if test="REMOTE_HOST_NAME != null" >
        <choose >
          <when test="REMOTE_HOST_NAME.equals(&quot;&quot;)" >
            REMOTE_HOST_NAME = NULL ,
          </when>
          <otherwise >
            REMOTE_HOST_NAME = #{REMOTE_HOST_NAME},
          </otherwise>
        </choose>
      </if>
      <if test="REMOTE_HOST_OPERATING_SYSTEM != null" >
        <choose >
          <when test="REMOTE_HOST_OPERATING_SYSTEM.equals(&quot;&quot;)" >
            REMOTE_HOST_OPERATING_SYSTEM = NULL ,
          </when>
          <otherwise >
            REMOTE_HOST_OPERATING_SYSTEM = #{REMOTE_HOST_OPERATING_SYSTEM},
          </otherwise>
        </choose>
      </if>
      <if test="OMNI_REFERENCE != null" >
        <choose >
          <when test="OMNI_REFERENCE == emptyBigDecimalValue" >
            OMNI_REFERENCE = NULL ,
          </when>
          <otherwise >
            OMNI_REFERENCE = #{OMNI_REFERENCE},
          </otherwise>
        </choose>
      </if>
      <if test="CORE_REFERENCE != null" >
        <choose >
          <when test="CORE_REFERENCE.equals(&quot;&quot;)" >
            CORE_REFERENCE = NULL ,
          </when>
          <otherwise >
            CORE_REFERENCE = #{CORE_REFERENCE},
          </otherwise>
        </choose>
      </if>
      <if test="BRANCHES_ID != null" >
        <choose >
          <when test="BRANCHES_ID == emptyBigDecimalValue" >
            BRANCHES_ID = NULL ,
          </when>
          <otherwise >
            BRANCHES_ID = #{BRANCHES_ID},
          </otherwise>
        </choose>
      </if>
      <if test="KEY_LABEL_CODE != null" >
        <choose >
          <when test="KEY_LABEL_CODE.equals(&quot;&quot;)" >
            KEY_LABEL_CODE = NULL ,
          </when>
          <otherwise >
            KEY_LABEL_CODE = #{KEY_LABEL_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="KEY_DATA != null" >
        <choose >
          <when test="KEY_DATA.equals(&quot;&quot;)" >
            KEY_DATA = NULL ,
          </when>
          <otherwise >
            KEY_DATA = #{KEY_DATA},
          </otherwise>
        </choose>
      </if>
    </set>
    where ACTION_DATE = #{ACTION_DATE}
      and APP_CHNL_ID = #{APP_CHNL_ID}
      and APP_NAME = #{APP_NAME}
      and COMP_CODE = #{COMP_CODE}
      and PROG_REF = #{PROG_REF}
      and TRX_NBR = #{TRX_NBR}
      and USR_ID = #{USR_ID}
  </sql>
  <update id="updateOC_S_AUDIT_ACTIONS_EXTENDED" parameterType="com.path.dbmaps.vo.OC_S_AUDIT_ACTIONS_EXTENDEDVO" >
    <include refid="sql_updateOC_S_AUDIT_ACTIONS_EXTENDED" />
  </update>
</mapper>