<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="PFT_RATE" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.PFT_RATEVO" >
    <id column="CIF_TYPE" property="CIF_TYPE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="CURRENCY_CODE" property="CURRENCY_CODE" />
    <id column="DR_CR_IDX" property="DR_CR_IDX" />
    <id column="GL_CODE" property="GL_CODE" />
    <id column="LINE_NUMBER" property="LINE_NUMBER" />
    <result column="FROM_AMOUNT" property="FROM_AMOUNT" />
    <result column="TO_AMOUNT" property="TO_AMOUNT" />
    <result column="PT_RATE" property="PT_RATE" />
    <result column="NEG_BASIS_PT" property="NEG_BASIS_PT" />
    <result column="POST_BASIS_PT" property="POST_BASIS_PT" />
    <result column="MIN_AMOUNT" property="MIN_AMOUNT" />
    <result column="MAX_AMOUNT" property="MAX_AMOUNT" />
    <result column="CHARGES_SCHEMA" property="CHARGES_SCHEMA" />
    <result column="PT_INDEX" property="PT_INDEX" />
    <result column="LIBOR" property="LIBOR" />
    <result column="LIBOR_MIN" property="LIBOR_MIN" />
    <result column="LIBOR_MAX" property="LIBOR_MAX" />
  </resultMap>
  <sql id="Base_Column_List" >
    CIF_TYPE, COMP_CODE, CURRENCY_CODE, DR_CR_IDX, GL_CODE, LINE_NUMBER, FROM_AMOUNT, 
    TO_AMOUNT, PT_RATE, NEG_BASIS_PT, POST_BASIS_PT, MIN_AMOUNT, MAX_AMOUNT, CHARGES_SCHEMA, 
    PT_INDEX, LIBOR, LIBOR_MIN, LIBOR_MAX
  </sql>
  <select id="selectPFT_RATE" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.PFT_RATEVOKey" >
    select 
    <include refid="Base_Column_List" />
    from PFT_RATE
    where CIF_TYPE = #{CIF_TYPE}
      and COMP_CODE = #{COMP_CODE}
      and CURRENCY_CODE = #{CURRENCY_CODE}
      and DR_CR_IDX = #{DR_CR_IDX}
      and GL_CODE = #{GL_CODE}
      and LINE_NUMBER = #{LINE_NUMBER}
  </select>
  <delete id="deletePFT_RATE" parameterType="com.path.dbmaps.vo.PFT_RATEVOKey" >
    delete from PFT_RATE
    where CIF_TYPE = #{CIF_TYPE}
      and COMP_CODE = #{COMP_CODE}
      and CURRENCY_CODE = #{CURRENCY_CODE}
      and DR_CR_IDX = #{DR_CR_IDX}
      and GL_CODE = #{GL_CODE}
      and LINE_NUMBER = #{LINE_NUMBER}
  </delete>
  <insert id="insertPFT_RATE" parameterType="com.path.dbmaps.vo.PFT_RATEVO" >
    insert into PFT_RATE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CIF_TYPE != null and CIF_TYPE != emptyBigDecimalValue" >
        CIF_TYPE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        CURRENCY_CODE,
      </if>
      <if test="DR_CR_IDX != null" >
        DR_CR_IDX,
      </if>
      <if test="GL_CODE != null and GL_CODE != emptyBigDecimalValue" >
        GL_CODE,
      </if>
      <if test="LINE_NUMBER != null and LINE_NUMBER != emptyBigDecimalValue" >
        LINE_NUMBER,
      </if>
      <if test="FROM_AMOUNT != null and FROM_AMOUNT != emptyBigDecimalValue" >
        FROM_AMOUNT,
      </if>
      <if test="TO_AMOUNT != null and TO_AMOUNT != emptyBigDecimalValue" >
        TO_AMOUNT,
      </if>
      <if test="PT_RATE != null and PT_RATE != emptyBigDecimalValue" >
        PT_RATE,
      </if>
      <if test="NEG_BASIS_PT != null and NEG_BASIS_PT != emptyBigDecimalValue" >
        NEG_BASIS_PT,
      </if>
      <if test="POST_BASIS_PT != null and POST_BASIS_PT != emptyBigDecimalValue" >
        POST_BASIS_PT,
      </if>
      <if test="MIN_AMOUNT != null and MIN_AMOUNT != emptyBigDecimalValue" >
        MIN_AMOUNT,
      </if>
      <if test="MAX_AMOUNT != null and MAX_AMOUNT != emptyBigDecimalValue" >
        MAX_AMOUNT,
      </if>
      <if test="CHARGES_SCHEMA != null and CHARGES_SCHEMA != emptyBigDecimalValue" >
        CHARGES_SCHEMA,
      </if>
      <if test="PT_INDEX != null" >
        PT_INDEX,
      </if>
      <if test="LIBOR != null and LIBOR != emptyBigDecimalValue" >
        LIBOR,
      </if>
      <if test="LIBOR_MIN != null and LIBOR_MIN != emptyBigDecimalValue" >
        LIBOR_MIN,
      </if>
      <if test="LIBOR_MAX != null and LIBOR_MAX != emptyBigDecimalValue" >
        LIBOR_MAX,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CIF_TYPE != null and CIF_TYPE != emptyBigDecimalValue" >
        #{CIF_TYPE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        #{CURRENCY_CODE},
      </if>
      <if test="DR_CR_IDX != null" >
        #{DR_CR_IDX},
      </if>
      <if test="GL_CODE != null and GL_CODE != emptyBigDecimalValue" >
        #{GL_CODE},
      </if>
      <if test="LINE_NUMBER != null and LINE_NUMBER != emptyBigDecimalValue" >
        #{LINE_NUMBER},
      </if>
      <if test="FROM_AMOUNT != null and FROM_AMOUNT != emptyBigDecimalValue" >
        #{FROM_AMOUNT},
      </if>
      <if test="TO_AMOUNT != null and TO_AMOUNT != emptyBigDecimalValue" >
        #{TO_AMOUNT},
      </if>
      <if test="PT_RATE != null and PT_RATE != emptyBigDecimalValue" >
        #{PT_RATE},
      </if>
      <if test="NEG_BASIS_PT != null and NEG_BASIS_PT != emptyBigDecimalValue" >
        #{NEG_BASIS_PT},
      </if>
      <if test="POST_BASIS_PT != null and POST_BASIS_PT != emptyBigDecimalValue" >
        #{POST_BASIS_PT},
      </if>
      <if test="MIN_AMOUNT != null and MIN_AMOUNT != emptyBigDecimalValue" >
        #{MIN_AMOUNT},
      </if>
      <if test="MAX_AMOUNT != null and MAX_AMOUNT != emptyBigDecimalValue" >
        #{MAX_AMOUNT},
      </if>
      <if test="CHARGES_SCHEMA != null and CHARGES_SCHEMA != emptyBigDecimalValue" >
        #{CHARGES_SCHEMA},
      </if>
      <if test="PT_INDEX != null" >
        #{PT_INDEX},
      </if>
      <if test="LIBOR != null and LIBOR != emptyBigDecimalValue" >
        #{LIBOR},
      </if>
      <if test="LIBOR_MIN != null and LIBOR_MIN != emptyBigDecimalValue" >
        #{LIBOR_MIN},
      </if>
      <if test="LIBOR_MAX != null and LIBOR_MAX != emptyBigDecimalValue" >
        #{LIBOR_MAX},
      </if>
    </trim>
  </insert>
  <sql id="sql_updatePFT_RATE" >
    update PFT_RATE
    <set >
      <if test="FROM_AMOUNT != null" >
        <choose >
          <when test="FROM_AMOUNT == emptyBigDecimalValue" >
            FROM_AMOUNT = NULL ,
          </when>
          <otherwise >
            FROM_AMOUNT = #{FROM_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="TO_AMOUNT != null" >
        <choose >
          <when test="TO_AMOUNT == emptyBigDecimalValue" >
            TO_AMOUNT = NULL ,
          </when>
          <otherwise >
            TO_AMOUNT = #{TO_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="PT_RATE != null" >
        <choose >
          <when test="PT_RATE == emptyBigDecimalValue" >
            PT_RATE = NULL ,
          </when>
          <otherwise >
            PT_RATE = #{PT_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="NEG_BASIS_PT != null" >
        <choose >
          <when test="NEG_BASIS_PT == emptyBigDecimalValue" >
            NEG_BASIS_PT = NULL ,
          </when>
          <otherwise >
            NEG_BASIS_PT = #{NEG_BASIS_PT},
          </otherwise>
        </choose>
      </if>
      <if test="POST_BASIS_PT != null" >
        <choose >
          <when test="POST_BASIS_PT == emptyBigDecimalValue" >
            POST_BASIS_PT = NULL ,
          </when>
          <otherwise >
            POST_BASIS_PT = #{POST_BASIS_PT},
          </otherwise>
        </choose>
      </if>
      <if test="MIN_AMOUNT != null" >
        <choose >
          <when test="MIN_AMOUNT == emptyBigDecimalValue" >
            MIN_AMOUNT = NULL ,
          </when>
          <otherwise >
            MIN_AMOUNT = #{MIN_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="MAX_AMOUNT != null" >
        <choose >
          <when test="MAX_AMOUNT == emptyBigDecimalValue" >
            MAX_AMOUNT = NULL ,
          </when>
          <otherwise >
            MAX_AMOUNT = #{MAX_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="CHARGES_SCHEMA != null" >
        <choose >
          <when test="CHARGES_SCHEMA == emptyBigDecimalValue" >
            CHARGES_SCHEMA = NULL ,
          </when>
          <otherwise >
            CHARGES_SCHEMA = #{CHARGES_SCHEMA},
          </otherwise>
        </choose>
      </if>
      <if test="PT_INDEX != null" >
        PT_INDEX = #{PT_INDEX},
      </if>
      <if test="LIBOR != null" >
        <choose >
          <when test="LIBOR == emptyBigDecimalValue" >
            LIBOR = NULL ,
          </when>
          <otherwise >
            LIBOR = #{LIBOR},
          </otherwise>
        </choose>
      </if>
      <if test="LIBOR_MIN != null" >
        <choose >
          <when test="LIBOR_MIN == emptyBigDecimalValue" >
            LIBOR_MIN = NULL ,
          </when>
          <otherwise >
            LIBOR_MIN = #{LIBOR_MIN},
          </otherwise>
        </choose>
      </if>
      <if test="LIBOR_MAX != null" >
        <choose >
          <when test="LIBOR_MAX == emptyBigDecimalValue" >
            LIBOR_MAX = NULL ,
          </when>
          <otherwise >
            LIBOR_MAX = #{LIBOR_MAX},
          </otherwise>
        </choose>
      </if>
    </set>
    where CIF_TYPE = #{CIF_TYPE}
      and COMP_CODE = #{COMP_CODE}
      and CURRENCY_CODE = #{CURRENCY_CODE}
      and DR_CR_IDX = #{DR_CR_IDX}
      and GL_CODE = #{GL_CODE}
      and LINE_NUMBER = #{LINE_NUMBER}
  </sql>
  <update id="updatePFT_RATE" parameterType="com.path.dbmaps.vo.PFT_RATEVO" >
    <include refid="sql_updatePFT_RATE" />
  </update>
</mapper>