<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="PMS_IPOMGT_DET" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.PMS_IPOMGT_DETVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="SCENARIO" property="SCENARIO" />
    <id column="SECURITY_CODE1" property="SECURITY_CODE1" />
    <id column="SECURITY_CODE2" property="SECURITY_CODE2" />
    <id column="TRANSACTION_NUMBER" property="TRANSACTION_NUMBER" />
    <result column="VALUE_DATE" property="VALUE_DATE" />
    <result column="AMOUNT" property="AMOUNT" />
    <result column="ALLOC_AMT" property="ALLOC_AMT" />
    <result column="GROUP_ID" property="GROUP_ID" />
    <result column="LINE_NO" property="LINE_NO" />
    <result column="SUBSCRIBER_ID" property="SUBSCRIBER_ID" />
    <result column="CIF" property="CIF" />
    <result column="PRIORITY" property="PRIORITY" />
    <result column="UNALLOC_AMT" property="UNALLOC_AMT" />
    <result column="CIF_TYPE" property="CIF_TYPE" />
    <result column="TRX_TEMPLATE" property="TRX_TEMPLATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, SCENARIO, SECURITY_CODE1, SECURITY_CODE2, TRANSACTION_NUMBER, 
    VALUE_DATE, AMOUNT, ALLOC_AMT, GROUP_ID, LINE_NO, SUBSCRIBER_ID, CIF, PRIORITY, UNALLOC_AMT, 
    CIF_TYPE, TRX_TEMPLATE
  </sql>
  <select id="selectPMS_IPOMGT_DET" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.PMS_IPOMGT_DETVOKey" >
    select 
    <include refid="Base_Column_List" />
    from PMS_IPOMGT_DET
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and SCENARIO = #{SCENARIO}
      and SECURITY_CODE1 = #{SECURITY_CODE1}
      and SECURITY_CODE2 = #{SECURITY_CODE2}
      and TRANSACTION_NUMBER = #{TRANSACTION_NUMBER}
  </select>
  <delete id="deletePMS_IPOMGT_DET" parameterType="com.path.dbmaps.vo.PMS_IPOMGT_DETVOKey" >
    delete from PMS_IPOMGT_DET
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and SCENARIO = #{SCENARIO}
      and SECURITY_CODE1 = #{SECURITY_CODE1}
      and SECURITY_CODE2 = #{SECURITY_CODE2}
      and TRANSACTION_NUMBER = #{TRANSACTION_NUMBER}
  </delete>
  <insert id="insertPMS_IPOMGT_DET" parameterType="com.path.dbmaps.vo.PMS_IPOMGT_DETVO" >
    insert into PMS_IPOMGT_DET
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="SCENARIO != null and SCENARIO != emptyBigDecimalValue" >
        SCENARIO,
      </if>
      <if test="SECURITY_CODE1 != null and SECURITY_CODE1 != emptyBigDecimalValue" >
        SECURITY_CODE1,
      </if>
      <if test="SECURITY_CODE2 != null and SECURITY_CODE2 != emptyBigDecimalValue" >
        SECURITY_CODE2,
      </if>
      <if test="TRANSACTION_NUMBER != null and TRANSACTION_NUMBER != emptyBigDecimalValue" >
        TRANSACTION_NUMBER,
      </if>
      <if test="VALUE_DATE != null" >
        VALUE_DATE,
      </if>
      <if test="AMOUNT != null and AMOUNT != emptyBigDecimalValue" >
        AMOUNT,
      </if>
      <if test="ALLOC_AMT != null and ALLOC_AMT != emptyBigDecimalValue" >
        ALLOC_AMT,
      </if>
      <if test="GROUP_ID != null" >
        GROUP_ID,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="SUBSCRIBER_ID != null and SUBSCRIBER_ID != emptyBigDecimalValue" >
        SUBSCRIBER_ID,
      </if>
      <if test="CIF != null and CIF != emptyBigDecimalValue" >
        CIF,
      </if>
      <if test="PRIORITY != null and PRIORITY != emptyBigDecimalValue" >
        PRIORITY,
      </if>
      <if test="UNALLOC_AMT != null and UNALLOC_AMT != emptyBigDecimalValue" >
        UNALLOC_AMT,
      </if>
      <if test="CIF_TYPE != null and CIF_TYPE != emptyBigDecimalValue" >
        CIF_TYPE,
      </if>
      <if test="TRX_TEMPLATE != null and TRX_TEMPLATE != emptyBigDecimalValue" >
        TRX_TEMPLATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="SCENARIO != null and SCENARIO != emptyBigDecimalValue" >
        #{SCENARIO},
      </if>
      <if test="SECURITY_CODE1 != null and SECURITY_CODE1 != emptyBigDecimalValue" >
        #{SECURITY_CODE1},
      </if>
      <if test="SECURITY_CODE2 != null and SECURITY_CODE2 != emptyBigDecimalValue" >
        #{SECURITY_CODE2},
      </if>
      <if test="TRANSACTION_NUMBER != null and TRANSACTION_NUMBER != emptyBigDecimalValue" >
        #{TRANSACTION_NUMBER},
      </if>
      <if test="VALUE_DATE != null" >
        #{VALUE_DATE},
      </if>
      <if test="AMOUNT != null and AMOUNT != emptyBigDecimalValue" >
        #{AMOUNT},
      </if>
      <if test="ALLOC_AMT != null and ALLOC_AMT != emptyBigDecimalValue" >
        #{ALLOC_AMT},
      </if>
      <if test="GROUP_ID != null" >
        #{GROUP_ID},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="SUBSCRIBER_ID != null and SUBSCRIBER_ID != emptyBigDecimalValue" >
        #{SUBSCRIBER_ID},
      </if>
      <if test="CIF != null and CIF != emptyBigDecimalValue" >
        #{CIF},
      </if>
      <if test="PRIORITY != null and PRIORITY != emptyBigDecimalValue" >
        #{PRIORITY},
      </if>
      <if test="UNALLOC_AMT != null and UNALLOC_AMT != emptyBigDecimalValue" >
        #{UNALLOC_AMT},
      </if>
      <if test="CIF_TYPE != null and CIF_TYPE != emptyBigDecimalValue" >
        #{CIF_TYPE},
      </if>
      <if test="TRX_TEMPLATE != null and TRX_TEMPLATE != emptyBigDecimalValue" >
        #{TRX_TEMPLATE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updatePMS_IPOMGT_DET" >
    update PMS_IPOMGT_DET
    <set >
      <if test="VALUE_DATE != null" >
        VALUE_DATE = #{VALUE_DATE},
      </if>
      <if test="AMOUNT != null" >
        <choose >
          <when test="AMOUNT == emptyBigDecimalValue" >
            AMOUNT = NULL ,
          </when>
          <otherwise >
            AMOUNT = #{AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="ALLOC_AMT != null" >
        <choose >
          <when test="ALLOC_AMT == emptyBigDecimalValue" >
            ALLOC_AMT = NULL ,
          </when>
          <otherwise >
            ALLOC_AMT = #{ALLOC_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="GROUP_ID != null" >
        GROUP_ID = #{GROUP_ID},
      </if>
      <if test="LINE_NO != null" >
        <choose >
          <when test="LINE_NO == emptyBigDecimalValue" >
            LINE_NO = NULL ,
          </when>
          <otherwise >
            LINE_NO = #{LINE_NO},
          </otherwise>
        </choose>
      </if>
      <if test="SUBSCRIBER_ID != null" >
        <choose >
          <when test="SUBSCRIBER_ID == emptyBigDecimalValue" >
            SUBSCRIBER_ID = NULL ,
          </when>
          <otherwise >
            SUBSCRIBER_ID = #{SUBSCRIBER_ID},
          </otherwise>
        </choose>
      </if>
      <if test="CIF != null" >
        <choose >
          <when test="CIF == emptyBigDecimalValue" >
            CIF = NULL ,
          </when>
          <otherwise >
            CIF = #{CIF},
          </otherwise>
        </choose>
      </if>
      <if test="PRIORITY != null" >
        <choose >
          <when test="PRIORITY == emptyBigDecimalValue" >
            PRIORITY = NULL ,
          </when>
          <otherwise >
            PRIORITY = #{PRIORITY},
          </otherwise>
        </choose>
      </if>
      <if test="UNALLOC_AMT != null" >
        <choose >
          <when test="UNALLOC_AMT == emptyBigDecimalValue" >
            UNALLOC_AMT = NULL ,
          </when>
          <otherwise >
            UNALLOC_AMT = #{UNALLOC_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="CIF_TYPE != null" >
        <choose >
          <when test="CIF_TYPE == emptyBigDecimalValue" >
            CIF_TYPE = NULL ,
          </when>
          <otherwise >
            CIF_TYPE = #{CIF_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="TRX_TEMPLATE != null" >
        <choose >
          <when test="TRX_TEMPLATE == emptyBigDecimalValue" >
            TRX_TEMPLATE = NULL ,
          </when>
          <otherwise >
            TRX_TEMPLATE = #{TRX_TEMPLATE},
          </otherwise>
        </choose>
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and SCENARIO = #{SCENARIO}
      and SECURITY_CODE1 = #{SECURITY_CODE1}
      and SECURITY_CODE2 = #{SECURITY_CODE2}
      and TRANSACTION_NUMBER = #{TRANSACTION_NUMBER}
  </sql>
  <update id="updatePMS_IPOMGT_DET" parameterType="com.path.dbmaps.vo.PMS_IPOMGT_DETVO" >
    <include refid="sql_updatePMS_IPOMGT_DET" />
  </update>
</mapper>