<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="PMS_IPOMGT" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.PMS_IPOMGTVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="SCENARIO" property="SCENARIO" />
    <id column="SECURITY_CODE1" property="SECURITY_CODE1" />
    <id column="SECURITY_CODE2" property="SECURITY_CODE2" />
    <result column="STATUS" property="STATUS" />
    <result column="ISSUE_DATE" property="ISSUE_DATE" />
    <result column="TRX_TEMPLATE" property="TRX_TEMPLATE" />
    <result column="CAPITAL" property="CAPITAL" />
    <result column="ALLOC_PERC_CODE" property="ALLOC_PERC_CODE" />
    <result column="MAX_HOLDING" property="MAX_HOLDING" />
    <result column="DATE_APPROVED" property="DATE_APPROVED" />
    <result column="APPROVED_BY" property="APPROVED_BY" />
    <result column="EXCEP_PERC" property="EXCEP_PERC" />
    <result column="TRX_TYPE" property="TRX_TYPE" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, SCENARIO, SECURITY_CODE1, SECURITY_CODE2, STATUS, ISSUE_DATE, 
    TRX_TEMPLATE, CAPITAL, ALLOC_PERC_CODE, MAX_HOLDING, DATE_APPROVED, APPROVED_BY, 
    EXCEP_PERC, TRX_TYPE
  </sql>
  <select id="selectPMS_IPOMGT" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.PMS_IPOMGTVOKey" >
    select 
    <include refid="Base_Column_List" />
    from PMS_IPOMGT
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and SCENARIO = #{SCENARIO}
      and SECURITY_CODE1 = #{SECURITY_CODE1}
      and SECURITY_CODE2 = #{SECURITY_CODE2}
  </select>
  <delete id="deletePMS_IPOMGT" parameterType="com.path.dbmaps.vo.PMS_IPOMGTVOKey" >
    delete from PMS_IPOMGT
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and SCENARIO = #{SCENARIO}
      and SECURITY_CODE1 = #{SECURITY_CODE1}
      and SECURITY_CODE2 = #{SECURITY_CODE2}
  </delete>
  <insert id="insertPMS_IPOMGT" parameterType="com.path.dbmaps.vo.PMS_IPOMGTVO" >
    insert into PMS_IPOMGT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="SCENARIO != null and SCENARIO != emptyBigDecimalValue" >
        SCENARIO,
      </if>
      <if test="SECURITY_CODE1 != null and SECURITY_CODE1 != emptyBigDecimalValue" >
        SECURITY_CODE1,
      </if>
      <if test="SECURITY_CODE2 != null and SECURITY_CODE2 != emptyBigDecimalValue" >
        SECURITY_CODE2,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="ISSUE_DATE != null" >
        ISSUE_DATE,
      </if>
      <if test="TRX_TEMPLATE != null and TRX_TEMPLATE != emptyBigDecimalValue" >
        TRX_TEMPLATE,
      </if>
      <if test="CAPITAL != null and CAPITAL != emptyBigDecimalValue" >
        CAPITAL,
      </if>
      <if test="ALLOC_PERC_CODE != null and ALLOC_PERC_CODE != emptyBigDecimalValue" >
        ALLOC_PERC_CODE,
      </if>
      <if test="MAX_HOLDING != null and MAX_HOLDING != emptyBigDecimalValue" >
        MAX_HOLDING,
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED,
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY,
      </if>
      <if test="EXCEP_PERC != null" >
        EXCEP_PERC,
      </if>
      <if test="TRX_TYPE != null and TRX_TYPE != emptyBigDecimalValue" >
        TRX_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="SCENARIO != null and SCENARIO != emptyBigDecimalValue" >
        #{SCENARIO},
      </if>
      <if test="SECURITY_CODE1 != null and SECURITY_CODE1 != emptyBigDecimalValue" >
        #{SECURITY_CODE1},
      </if>
      <if test="SECURITY_CODE2 != null and SECURITY_CODE2 != emptyBigDecimalValue" >
        #{SECURITY_CODE2},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="ISSUE_DATE != null" >
        #{ISSUE_DATE},
      </if>
      <if test="TRX_TEMPLATE != null and TRX_TEMPLATE != emptyBigDecimalValue" >
        #{TRX_TEMPLATE},
      </if>
      <if test="CAPITAL != null and CAPITAL != emptyBigDecimalValue" >
        #{CAPITAL},
      </if>
      <if test="ALLOC_PERC_CODE != null and ALLOC_PERC_CODE != emptyBigDecimalValue" >
        #{ALLOC_PERC_CODE},
      </if>
      <if test="MAX_HOLDING != null and MAX_HOLDING != emptyBigDecimalValue" >
        #{MAX_HOLDING},
      </if>
      <if test="DATE_APPROVED != null" >
        #{DATE_APPROVED},
      </if>
      <if test="APPROVED_BY != null" >
        #{APPROVED_BY},
      </if>
      <if test="EXCEP_PERC != null" >
        #{EXCEP_PERC},
      </if>
      <if test="TRX_TYPE != null and TRX_TYPE != emptyBigDecimalValue" >
        #{TRX_TYPE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updatePMS_IPOMGT" >
    update PMS_IPOMGT
    <set >
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="ISSUE_DATE != null" >
        ISSUE_DATE = #{ISSUE_DATE},
      </if>
      <if test="TRX_TEMPLATE != null" >
        <choose >
          <when test="TRX_TEMPLATE == emptyBigDecimalValue" >
            TRX_TEMPLATE = NULL ,
          </when>
          <otherwise >
            TRX_TEMPLATE = #{TRX_TEMPLATE},
          </otherwise>
        </choose>
      </if>
      <if test="CAPITAL != null" >
        <choose >
          <when test="CAPITAL == emptyBigDecimalValue" >
            CAPITAL = NULL ,
          </when>
          <otherwise >
            CAPITAL = #{CAPITAL},
          </otherwise>
        </choose>
      </if>
      <if test="ALLOC_PERC_CODE != null" >
        <choose >
          <when test="ALLOC_PERC_CODE == emptyBigDecimalValue" >
            ALLOC_PERC_CODE = NULL ,
          </when>
          <otherwise >
            ALLOC_PERC_CODE = #{ALLOC_PERC_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="MAX_HOLDING != null" >
        <choose >
          <when test="MAX_HOLDING == emptyBigDecimalValue" >
            MAX_HOLDING = NULL ,
          </when>
          <otherwise >
            MAX_HOLDING = #{MAX_HOLDING},
          </otherwise>
        </choose>
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED = #{DATE_APPROVED},
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY = #{APPROVED_BY},
      </if>
      <if test="EXCEP_PERC != null" >
        EXCEP_PERC = #{EXCEP_PERC},
      </if>
      <if test="TRX_TYPE != null" >
        <choose >
          <when test="TRX_TYPE == emptyBigDecimalValue" >
            TRX_TYPE = NULL ,
          </when>
          <otherwise >
            TRX_TYPE = #{TRX_TYPE},
          </otherwise>
        </choose>
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and SCENARIO = #{SCENARIO}
      and SECURITY_CODE1 = #{SECURITY_CODE1}
      and SECURITY_CODE2 = #{SECURITY_CODE2}
  </sql>
  <update id="updatePMS_IPOMGT" parameterType="com.path.dbmaps.vo.PMS_IPOMGTVO" >
    <include refid="sql_updatePMS_IPOMGT" />
  </update>
</mapper>