<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="PMSALLOC" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.PMSALLOCVO" >
    <id column="ALLOC_NO" property="ALLOC_NO" />
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <result column="TRADE_DATE" property="TRADE_DATE" />
    <result column="VALUE_DATE" property="VALUE_DATE" />
    <result column="TRX_TYPE" property="TRX_TYPE" />
    <result column="DEAL_NO" property="DEAL_NO" />
    <result column="SPA_REF" property="SPA_REF" />
    <result column="DESCRIPTION" property="DESCRIPTION" />
    <result column="BROKER_CODE" property="BROKER_CODE" />
    <result column="PORTFOLIO_CIF" property="PORTFOLIO_CIF" />
    <result column="PORTFOLIO_SEQ" property="PORTFOLIO_SEQ" />
    <result column="TRX_TEMPLATE" property="TRX_TEMPLATE" />
    <result column="CREATE_ENTITY" property="CREATE_ENTITY" />
    <result column="STATUS" property="STATUS" />
    <result column="ALLOC_CURR" property="ALLOC_CURR" />
    <result column="TRX_TEMPLATE2" property="TRX_TEMPLATE2" />
    <result column="TOTAL_COMM" property="TOTAL_COMM" />
    <result column="TOTAL_CHARGES" property="TOTAL_CHARGES" />
    <result column="PAYMNT_METHOD" property="PAYMNT_METHOD" />
    <result column="CANCELLED_ON" property="CANCELLED_ON" />
    <result column="CANCELLED_BY" property="CANCELLED_BY" />
    <result column="DATE_CREATED" property="DATE_CREATED" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="DATE_MODIFIED" property="DATE_MODIFIED" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="DATE_APPROVED" property="DATE_APPROVED" />
    <result column="APPROVED_BY" property="APPROVED_BY" />
    <result column="DATE_DELETED" property="DATE_DELETED" />
    <result column="DELETED_BY" property="DELETED_BY" />
    <result column="SERVER_DATE" property="SERVER_DATE" />
    <result column="DATE_REVERSED" property="DATE_REVERSED" />
    <result column="REVERSED_BY" property="REVERSED_BY" />
    <result column="CASH_MKUP" property="CASH_MKUP" />
    <result column="SHARE_MKUP" property="SHARE_MKUP" />
    <result column="TRADE_TRX_TYPE" property="TRADE_TRX_TYPE" />
    <result column="ALLOC_TYPE" property="ALLOC_TYPE" />
    <result column="PARTY_CIF" property="PARTY_CIF" />
    <result column="TRX_TYPE_OLD" property="TRX_TYPE_OLD" />
    <result column="SETTLEMENT_DATE" property="SETTLEMENT_DATE" />
    <result column="SETTLED_AMT" property="SETTLED_AMT" />
    <result column="SUMMARIZED_EXIT_NO" property="SUMMARIZED_EXIT_NO" />
  </resultMap>
  <sql id="Base_Column_List" >
    ALLOC_NO, BRANCH_CODE, COMP_CODE, TRADE_DATE, VALUE_DATE, TRX_TYPE, DEAL_NO, SPA_REF, 
    DESCRIPTION, BROKER_CODE, PORTFOLIO_CIF, PORTFOLIO_SEQ, TRX_TEMPLATE, CREATE_ENTITY, 
    STATUS, ALLOC_CURR, TRX_TEMPLATE2, TOTAL_COMM, TOTAL_CHARGES, PAYMNT_METHOD, CANCELLED_ON, 
    CANCELLED_BY, DATE_CREATED, CREATED_BY, DATE_MODIFIED, MODIFIED_BY, DATE_APPROVED, 
    APPROVED_BY, DATE_DELETED, DELETED_BY, SERVER_DATE, DATE_REVERSED, REVERSED_BY, CASH_MKUP, 
    SHARE_MKUP, TRADE_TRX_TYPE, ALLOC_TYPE, PARTY_CIF, TRX_TYPE_OLD, SETTLEMENT_DATE, 
    SETTLED_AMT, SUMMARIZED_EXIT_NO
  </sql>
  <select id="selectPMSALLOC" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.PMSALLOCVOKey" >
    select 
    <include refid="Base_Column_List" />
    from PMSALLOC
    where ALLOC_NO = #{ALLOC_NO}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
  </select>
  <delete id="deletePMSALLOC" parameterType="com.path.dbmaps.vo.PMSALLOCVOKey" >
    delete from PMSALLOC
    where ALLOC_NO = #{ALLOC_NO}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
  </delete>
  <insert id="insertPMSALLOC" parameterType="com.path.dbmaps.vo.PMSALLOCVO" >
    insert into PMSALLOC
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ALLOC_NO != null and ALLOC_NO != emptyBigDecimalValue" >
        ALLOC_NO,
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="TRADE_DATE != null" >
        TRADE_DATE,
      </if>
      <if test="VALUE_DATE != null" >
        VALUE_DATE,
      </if>
      <if test="TRX_TYPE != null" >
        TRX_TYPE,
      </if>
      <if test="DEAL_NO != null and DEAL_NO != emptyBigDecimalValue" >
        DEAL_NO,
      </if>
      <if test="SPA_REF != null" >
        SPA_REF,
      </if>
      <if test="DESCRIPTION != null" >
        DESCRIPTION,
      </if>
      <if test="BROKER_CODE != null and BROKER_CODE != emptyBigDecimalValue" >
        BROKER_CODE,
      </if>
      <if test="PORTFOLIO_CIF != null and PORTFOLIO_CIF != emptyBigDecimalValue" >
        PORTFOLIO_CIF,
      </if>
      <if test="PORTFOLIO_SEQ != null and PORTFOLIO_SEQ != emptyBigDecimalValue" >
        PORTFOLIO_SEQ,
      </if>
      <if test="TRX_TEMPLATE != null and TRX_TEMPLATE != emptyBigDecimalValue" >
        TRX_TEMPLATE,
      </if>
      <if test="CREATE_ENTITY != null" >
        CREATE_ENTITY,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="ALLOC_CURR != null and ALLOC_CURR != emptyBigDecimalValue" >
        ALLOC_CURR,
      </if>
      <if test="TRX_TEMPLATE2 != null and TRX_TEMPLATE2 != emptyBigDecimalValue" >
        TRX_TEMPLATE2,
      </if>
      <if test="TOTAL_COMM != null and TOTAL_COMM != emptyBigDecimalValue" >
        TOTAL_COMM,
      </if>
      <if test="TOTAL_CHARGES != null and TOTAL_CHARGES != emptyBigDecimalValue" >
        TOTAL_CHARGES,
      </if>
      <if test="PAYMNT_METHOD != null and PAYMNT_METHOD != emptyBigDecimalValue" >
        PAYMNT_METHOD,
      </if>
      <if test="CANCELLED_ON != null" >
        CANCELLED_ON,
      </if>
      <if test="CANCELLED_BY != null" >
        CANCELLED_BY,
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED,
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY,
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED,
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY,
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED,
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY,
      </if>
      <if test="SERVER_DATE != null" >
        SERVER_DATE,
      </if>
      <if test="DATE_REVERSED != null" >
        DATE_REVERSED,
      </if>
      <if test="REVERSED_BY != null" >
        REVERSED_BY,
      </if>
      <if test="CASH_MKUP != null and CASH_MKUP != emptyBigDecimalValue" >
        CASH_MKUP,
      </if>
      <if test="SHARE_MKUP != null and SHARE_MKUP != emptyBigDecimalValue" >
        SHARE_MKUP,
      </if>
      <if test="TRADE_TRX_TYPE != null and TRADE_TRX_TYPE != emptyBigDecimalValue" >
        TRADE_TRX_TYPE,
      </if>
      <if test="ALLOC_TYPE != null" >
        ALLOC_TYPE,
      </if>
      <if test="PARTY_CIF != null and PARTY_CIF != emptyBigDecimalValue" >
        PARTY_CIF,
      </if>
      <if test="TRX_TYPE_OLD != null" >
        TRX_TYPE_OLD,
      </if>
      <if test="SETTLEMENT_DATE != null" >
        SETTLEMENT_DATE,
      </if>
      <if test="SETTLED_AMT != null and SETTLED_AMT != emptyBigDecimalValue" >
        SETTLED_AMT,
      </if>
      <if test="SUMMARIZED_EXIT_NO != null and SUMMARIZED_EXIT_NO != emptyBigDecimalValue" >
        SUMMARIZED_EXIT_NO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ALLOC_NO != null and ALLOC_NO != emptyBigDecimalValue" >
        #{ALLOC_NO},
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="TRADE_DATE != null" >
        #{TRADE_DATE},
      </if>
      <if test="VALUE_DATE != null" >
        #{VALUE_DATE},
      </if>
      <if test="TRX_TYPE != null" >
        #{TRX_TYPE},
      </if>
      <if test="DEAL_NO != null and DEAL_NO != emptyBigDecimalValue" >
        #{DEAL_NO},
      </if>
      <if test="SPA_REF != null" >
        #{SPA_REF},
      </if>
      <if test="DESCRIPTION != null" >
        #{DESCRIPTION},
      </if>
      <if test="BROKER_CODE != null and BROKER_CODE != emptyBigDecimalValue" >
        #{BROKER_CODE},
      </if>
      <if test="PORTFOLIO_CIF != null and PORTFOLIO_CIF != emptyBigDecimalValue" >
        #{PORTFOLIO_CIF},
      </if>
      <if test="PORTFOLIO_SEQ != null and PORTFOLIO_SEQ != emptyBigDecimalValue" >
        #{PORTFOLIO_SEQ},
      </if>
      <if test="TRX_TEMPLATE != null and TRX_TEMPLATE != emptyBigDecimalValue" >
        #{TRX_TEMPLATE},
      </if>
      <if test="CREATE_ENTITY != null" >
        #{CREATE_ENTITY},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="ALLOC_CURR != null and ALLOC_CURR != emptyBigDecimalValue" >
        #{ALLOC_CURR},
      </if>
      <if test="TRX_TEMPLATE2 != null and TRX_TEMPLATE2 != emptyBigDecimalValue" >
        #{TRX_TEMPLATE2},
      </if>
      <if test="TOTAL_COMM != null and TOTAL_COMM != emptyBigDecimalValue" >
        #{TOTAL_COMM},
      </if>
      <if test="TOTAL_CHARGES != null and TOTAL_CHARGES != emptyBigDecimalValue" >
        #{TOTAL_CHARGES},
      </if>
      <if test="PAYMNT_METHOD != null and PAYMNT_METHOD != emptyBigDecimalValue" >
        #{PAYMNT_METHOD},
      </if>
      <if test="CANCELLED_ON != null" >
        #{CANCELLED_ON},
      </if>
      <if test="CANCELLED_BY != null" >
        #{CANCELLED_BY},
      </if>
      <if test="DATE_CREATED != null" >
        #{DATE_CREATED},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        #{DATE_MODIFIED},
      </if>
      <if test="MODIFIED_BY != null" >
        #{MODIFIED_BY},
      </if>
      <if test="DATE_APPROVED != null" >
        #{DATE_APPROVED},
      </if>
      <if test="APPROVED_BY != null" >
        #{APPROVED_BY},
      </if>
      <if test="DATE_DELETED != null" >
        #{DATE_DELETED},
      </if>
      <if test="DELETED_BY != null" >
        #{DELETED_BY},
      </if>
      <if test="SERVER_DATE != null" >
        #{SERVER_DATE},
      </if>
      <if test="DATE_REVERSED != null" >
        #{DATE_REVERSED},
      </if>
      <if test="REVERSED_BY != null" >
        #{REVERSED_BY},
      </if>
      <if test="CASH_MKUP != null and CASH_MKUP != emptyBigDecimalValue" >
        #{CASH_MKUP},
      </if>
      <if test="SHARE_MKUP != null and SHARE_MKUP != emptyBigDecimalValue" >
        #{SHARE_MKUP},
      </if>
      <if test="TRADE_TRX_TYPE != null and TRADE_TRX_TYPE != emptyBigDecimalValue" >
        #{TRADE_TRX_TYPE},
      </if>
      <if test="ALLOC_TYPE != null" >
        #{ALLOC_TYPE},
      </if>
      <if test="PARTY_CIF != null and PARTY_CIF != emptyBigDecimalValue" >
        #{PARTY_CIF},
      </if>
      <if test="TRX_TYPE_OLD != null" >
        #{TRX_TYPE_OLD},
      </if>
      <if test="SETTLEMENT_DATE != null" >
        #{SETTLEMENT_DATE},
      </if>
      <if test="SETTLED_AMT != null and SETTLED_AMT != emptyBigDecimalValue" >
        #{SETTLED_AMT},
      </if>
      <if test="SUMMARIZED_EXIT_NO != null and SUMMARIZED_EXIT_NO != emptyBigDecimalValue" >
        #{SUMMARIZED_EXIT_NO},
      </if>
    </trim>
  </insert>
  <sql id="sql_updatePMSALLOC" >
    update PMSALLOC
    <set >
      <if test="TRADE_DATE != null" >
        TRADE_DATE = #{TRADE_DATE},
      </if>
      <if test="VALUE_DATE != null" >
        VALUE_DATE = #{VALUE_DATE},
      </if>
      <if test="TRX_TYPE != null" >
        TRX_TYPE = #{TRX_TYPE},
      </if>
      <if test="DEAL_NO != null" >
        <choose >
          <when test="DEAL_NO == emptyBigDecimalValue" >
            DEAL_NO = NULL ,
          </when>
          <otherwise >
            DEAL_NO = #{DEAL_NO},
          </otherwise>
        </choose>
      </if>
      <if test="SPA_REF != null" >
        SPA_REF = #{SPA_REF},
      </if>
      <if test="DESCRIPTION != null" >
        DESCRIPTION = #{DESCRIPTION},
      </if>
      <if test="BROKER_CODE != null" >
        <choose >
          <when test="BROKER_CODE == emptyBigDecimalValue" >
            BROKER_CODE = NULL ,
          </when>
          <otherwise >
            BROKER_CODE = #{BROKER_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="PORTFOLIO_CIF != null" >
        <choose >
          <when test="PORTFOLIO_CIF == emptyBigDecimalValue" >
            PORTFOLIO_CIF = NULL ,
          </when>
          <otherwise >
            PORTFOLIO_CIF = #{PORTFOLIO_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="PORTFOLIO_SEQ != null" >
        <choose >
          <when test="PORTFOLIO_SEQ == emptyBigDecimalValue" >
            PORTFOLIO_SEQ = NULL ,
          </when>
          <otherwise >
            PORTFOLIO_SEQ = #{PORTFOLIO_SEQ},
          </otherwise>
        </choose>
      </if>
      <if test="TRX_TEMPLATE != null" >
        <choose >
          <when test="TRX_TEMPLATE == emptyBigDecimalValue" >
            TRX_TEMPLATE = NULL ,
          </when>
          <otherwise >
            TRX_TEMPLATE = #{TRX_TEMPLATE},
          </otherwise>
        </choose>
      </if>
      <if test="CREATE_ENTITY != null" >
        CREATE_ENTITY = #{CREATE_ENTITY},
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="ALLOC_CURR != null" >
        <choose >
          <when test="ALLOC_CURR == emptyBigDecimalValue" >
            ALLOC_CURR = NULL ,
          </when>
          <otherwise >
            ALLOC_CURR = #{ALLOC_CURR},
          </otherwise>
        </choose>
      </if>
      <if test="TRX_TEMPLATE2 != null" >
        <choose >
          <when test="TRX_TEMPLATE2 == emptyBigDecimalValue" >
            TRX_TEMPLATE2 = NULL ,
          </when>
          <otherwise >
            TRX_TEMPLATE2 = #{TRX_TEMPLATE2},
          </otherwise>
        </choose>
      </if>
      <if test="TOTAL_COMM != null" >
        <choose >
          <when test="TOTAL_COMM == emptyBigDecimalValue" >
            TOTAL_COMM = NULL ,
          </when>
          <otherwise >
            TOTAL_COMM = #{TOTAL_COMM},
          </otherwise>
        </choose>
      </if>
      <if test="TOTAL_CHARGES != null" >
        <choose >
          <when test="TOTAL_CHARGES == emptyBigDecimalValue" >
            TOTAL_CHARGES = NULL ,
          </when>
          <otherwise >
            TOTAL_CHARGES = #{TOTAL_CHARGES},
          </otherwise>
        </choose>
      </if>
      <if test="PAYMNT_METHOD != null" >
        <choose >
          <when test="PAYMNT_METHOD == emptyBigDecimalValue" >
            PAYMNT_METHOD = NULL ,
          </when>
          <otherwise >
            PAYMNT_METHOD = #{PAYMNT_METHOD},
          </otherwise>
        </choose>
      </if>
      <if test="CANCELLED_ON != null" >
        CANCELLED_ON = #{CANCELLED_ON},
      </if>
      <if test="CANCELLED_BY != null" >
        CANCELLED_BY = #{CANCELLED_BY},
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED = #{DATE_CREATED},
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED = #{DATE_MODIFIED},
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY = #{MODIFIED_BY},
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED = #{DATE_APPROVED},
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY = #{APPROVED_BY},
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED = #{DATE_DELETED},
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY = #{DELETED_BY},
      </if>
      <if test="SERVER_DATE != null" >
        SERVER_DATE = #{SERVER_DATE},
      </if>
      <if test="DATE_REVERSED != null" >
        DATE_REVERSED = #{DATE_REVERSED},
      </if>
      <if test="REVERSED_BY != null" >
        REVERSED_BY = #{REVERSED_BY},
      </if>
      <if test="CASH_MKUP != null" >
        <choose >
          <when test="CASH_MKUP == emptyBigDecimalValue" >
            CASH_MKUP = NULL ,
          </when>
          <otherwise >
            CASH_MKUP = #{CASH_MKUP},
          </otherwise>
        </choose>
      </if>
      <if test="SHARE_MKUP != null" >
        <choose >
          <when test="SHARE_MKUP == emptyBigDecimalValue" >
            SHARE_MKUP = NULL ,
          </when>
          <otherwise >
            SHARE_MKUP = #{SHARE_MKUP},
          </otherwise>
        </choose>
      </if>
      <if test="TRADE_TRX_TYPE != null" >
        <choose >
          <when test="TRADE_TRX_TYPE == emptyBigDecimalValue" >
            TRADE_TRX_TYPE = NULL ,
          </when>
          <otherwise >
            TRADE_TRX_TYPE = #{TRADE_TRX_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="ALLOC_TYPE != null" >
        ALLOC_TYPE = #{ALLOC_TYPE},
      </if>
      <if test="PARTY_CIF != null" >
        <choose >
          <when test="PARTY_CIF == emptyBigDecimalValue" >
            PARTY_CIF = NULL ,
          </when>
          <otherwise >
            PARTY_CIF = #{PARTY_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="TRX_TYPE_OLD != null" >
        TRX_TYPE_OLD = #{TRX_TYPE_OLD},
      </if>
      <if test="SETTLEMENT_DATE != null" >
        SETTLEMENT_DATE = #{SETTLEMENT_DATE},
      </if>
      <if test="SETTLED_AMT != null" >
        <choose >
          <when test="SETTLED_AMT == emptyBigDecimalValue" >
            SETTLED_AMT = NULL ,
          </when>
          <otherwise >
            SETTLED_AMT = #{SETTLED_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="SUMMARIZED_EXIT_NO != null" >
        <choose >
          <when test="SUMMARIZED_EXIT_NO == emptyBigDecimalValue" >
            SUMMARIZED_EXIT_NO = NULL ,
          </when>
          <otherwise >
            SUMMARIZED_EXIT_NO = #{SUMMARIZED_EXIT_NO},
          </otherwise>
        </choose>
      </if>
    </set>
    where ALLOC_NO = #{ALLOC_NO}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
  </sql>
  <update id="updatePMSALLOC" parameterType="com.path.dbmaps.vo.PMSALLOCVO" >
    <include refid="sql_updatePMSALLOC" />
  </update>
</mapper>