<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="PMSDEALTRX" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.PMSDEALTRXVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="DEAL_NO" property="DEAL_NO" />
    <id column="LINE_NBR" property="LINE_NBR" />
    <id column="REP_ID" property="REP_ID" />
    <result column="PARENT_FUND_LINE_NBR" property="PARENT_FUND_LINE_NBR" />
    <result column="STATUS" property="STATUS" />
    <result column="PARENT_FUND_CODE" property="PARENT_FUND_CODE" />
    <result column="TRADE_SERIAL_NBR" property="TRADE_SERIAL_NBR" />
    <result column="TRADE_TYPE" property="TRADE_TYPE" />
    <result column="CHILD_FUND_LINE_NBR" property="CHILD_FUND_LINE_NBR" />
    <result column="CHILD_FUND_CODE" property="CHILD_FUND_CODE" />
    <result column="AMT" property="AMT" />
    <result column="QTY" property="QTY" />
    <result column="TRX_DESC" property="TRX_DESC" />
    <result column="CONTROL_REF" property="CONTROL_REF" />
    <result column="DATE_CREATED" property="DATE_CREATED" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="APPROVED_BY" property="APPROVED_BY" />
    <result column="DATE_APPROVED" property="DATE_APPROVED" />
    <result column="REVERSED_BY" property="REVERSED_BY" />
    <result column="DATE_REVERSED" property="DATE_REVERSED" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="DATE_MODIFIED" property="DATE_MODIFIED" />
    <result column="BROKER_CODE" property="BROKER_CODE" />
    <result column="PRICE" property="PRICE" />
    <result column="SELF_LEND_RATIO" property="SELF_LEND_RATIO" />
    <result column="SELF_LEND_AMT" property="SELF_LEND_AMT" />
    <result column="OWNERSHIP_PCT" property="OWNERSHIP_PCT" />
    <result column="TOTAL_AMOUNT" property="TOTAL_AMOUNT" />
    <result column="AFFECT_CASH" property="AFFECT_CASH" />
    <result column="CREATED" property="CREATED" />
    <result column="PARTY_CIF" property="PARTY_CIF" />
    <result column="BRKR_AMT" property="BRKR_AMT" />
    <result column="TRXTEMP_CODE" property="TRXTEMP_CODE" />
    <result column="TRADE_DATE" property="TRADE_DATE" />
    <result column="VALUE_DATE" property="VALUE_DATE" />
    <result column="GRP_FLAG" property="GRP_FLAG" />
    <result column="GRP_TRX_LINE_NBR" property="GRP_TRX_LINE_NBR" />
    <result column="COPY_FROM_CHART" property="COPY_FROM_CHART" />
    <result column="TOTAL_INVEST" property="TOTAL_INVEST" />
    <result column="OLD_AMT" property="OLD_AMT" />
    <result column="TRADE_TRX_TYPE" property="TRADE_TRX_TYPE" />
    <result column="SECURITY_CODE2" property="SECURITY_CODE2" />
    <result column="SECURITY_CODE1" property="SECURITY_CODE1" />
    <result column="SEC_TEMPLATE" property="SEC_TEMPLATE" />
    <result column="TRX_TYPE" property="TRX_TYPE" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, DEAL_NO, LINE_NBR, REP_ID, PARENT_FUND_LINE_NBR, STATUS, 
    PARENT_FUND_CODE, TRADE_SERIAL_NBR, TRADE_TYPE, CHILD_FUND_LINE_NBR, CHILD_FUND_CODE, 
    AMT, QTY, TRX_DESC, CONTROL_REF, DATE_CREATED, CREATED_BY, APPROVED_BY, DATE_APPROVED, 
    REVERSED_BY, DATE_REVERSED, MODIFIED_BY, DATE_MODIFIED, BROKER_CODE, PRICE, SELF_LEND_RATIO, 
    SELF_LEND_AMT, OWNERSHIP_PCT, TOTAL_AMOUNT, AFFECT_CASH, CREATED, PARTY_CIF, BRKR_AMT, 
    TRXTEMP_CODE, TRADE_DATE, VALUE_DATE, GRP_FLAG, GRP_TRX_LINE_NBR, COPY_FROM_CHART, 
    TOTAL_INVEST, OLD_AMT, TRADE_TRX_TYPE, SECURITY_CODE2, SECURITY_CODE1, SEC_TEMPLATE, 
    TRX_TYPE
  </sql>
  <select id="selectPMSDEALTRX" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.PMSDEALTRXVOKey" >
    select 
    <include refid="Base_Column_List" />
    from PMSDEALTRX
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and DEAL_NO = #{DEAL_NO}
      and LINE_NBR = #{LINE_NBR}
      and REP_ID = #{REP_ID}
  </select>
  <delete id="deletePMSDEALTRX" parameterType="com.path.dbmaps.vo.PMSDEALTRXVOKey" >
    delete from PMSDEALTRX
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and DEAL_NO = #{DEAL_NO}
      and LINE_NBR = #{LINE_NBR}
      and REP_ID = #{REP_ID}
  </delete>
  <insert id="insertPMSDEALTRX" parameterType="com.path.dbmaps.vo.PMSDEALTRXVO" >
    insert into PMSDEALTRX
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="DEAL_NO != null and DEAL_NO != emptyBigDecimalValue" >
        DEAL_NO,
      </if>
      <if test="LINE_NBR != null and LINE_NBR != emptyBigDecimalValue" >
        LINE_NBR,
      </if>
      <if test="REP_ID != null and REP_ID != emptyBigDecimalValue" >
        REP_ID,
      </if>
      <if test="PARENT_FUND_LINE_NBR != null and PARENT_FUND_LINE_NBR != emptyBigDecimalValue" >
        PARENT_FUND_LINE_NBR,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="PARENT_FUND_CODE != null and PARENT_FUND_CODE != emptyBigDecimalValue" >
        PARENT_FUND_CODE,
      </if>
      <if test="TRADE_SERIAL_NBR != null and TRADE_SERIAL_NBR != emptyBigDecimalValue" >
        TRADE_SERIAL_NBR,
      </if>
      <if test="TRADE_TYPE != null and TRADE_TYPE != emptyBigDecimalValue" >
        TRADE_TYPE,
      </if>
      <if test="CHILD_FUND_LINE_NBR != null and CHILD_FUND_LINE_NBR != emptyBigDecimalValue" >
        CHILD_FUND_LINE_NBR,
      </if>
      <if test="CHILD_FUND_CODE != null and CHILD_FUND_CODE != emptyBigDecimalValue" >
        CHILD_FUND_CODE,
      </if>
      <if test="AMT != null and AMT != emptyBigDecimalValue" >
        AMT,
      </if>
      <if test="QTY != null and QTY != emptyBigDecimalValue" >
        QTY,
      </if>
      <if test="TRX_DESC != null" >
        TRX_DESC,
      </if>
      <if test="CONTROL_REF != null" >
        CONTROL_REF,
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY,
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED,
      </if>
      <if test="REVERSED_BY != null" >
        REVERSED_BY,
      </if>
      <if test="DATE_REVERSED != null" >
        DATE_REVERSED,
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY,
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED,
      </if>
      <if test="BROKER_CODE != null and BROKER_CODE != emptyBigDecimalValue" >
        BROKER_CODE,
      </if>
      <if test="PRICE != null and PRICE != emptyBigDecimalValue" >
        PRICE,
      </if>
      <if test="SELF_LEND_RATIO != null and SELF_LEND_RATIO != emptyBigDecimalValue" >
        SELF_LEND_RATIO,
      </if>
      <if test="SELF_LEND_AMT != null and SELF_LEND_AMT != emptyBigDecimalValue" >
        SELF_LEND_AMT,
      </if>
      <if test="OWNERSHIP_PCT != null and OWNERSHIP_PCT != emptyBigDecimalValue" >
        OWNERSHIP_PCT,
      </if>
      <if test="TOTAL_AMOUNT != null and TOTAL_AMOUNT != emptyBigDecimalValue" >
        TOTAL_AMOUNT,
      </if>
      <if test="AFFECT_CASH != null" >
        AFFECT_CASH,
      </if>
      <if test="CREATED != null" >
        CREATED,
      </if>
      <if test="PARTY_CIF != null and PARTY_CIF != emptyBigDecimalValue" >
        PARTY_CIF,
      </if>
      <if test="BRKR_AMT != null and BRKR_AMT != emptyBigDecimalValue" >
        BRKR_AMT,
      </if>
      <if test="TRXTEMP_CODE != null and TRXTEMP_CODE != emptyBigDecimalValue" >
        TRXTEMP_CODE,
      </if>
      <if test="TRADE_DATE != null" >
        TRADE_DATE,
      </if>
      <if test="VALUE_DATE != null" >
        VALUE_DATE,
      </if>
      <if test="GRP_FLAG != null and GRP_FLAG != emptyBigDecimalValue" >
        GRP_FLAG,
      </if>
      <if test="GRP_TRX_LINE_NBR != null and GRP_TRX_LINE_NBR != emptyBigDecimalValue" >
        GRP_TRX_LINE_NBR,
      </if>
      <if test="COPY_FROM_CHART != null" >
        COPY_FROM_CHART,
      </if>
      <if test="TOTAL_INVEST != null and TOTAL_INVEST != emptyBigDecimalValue" >
        TOTAL_INVEST,
      </if>
      <if test="OLD_AMT != null and OLD_AMT != emptyBigDecimalValue" >
        OLD_AMT,
      </if>
      <if test="TRADE_TRX_TYPE != null and TRADE_TRX_TYPE != emptyBigDecimalValue" >
        TRADE_TRX_TYPE,
      </if>
      <if test="SECURITY_CODE2 != null and SECURITY_CODE2 != emptyBigDecimalValue" >
        SECURITY_CODE2,
      </if>
      <if test="SECURITY_CODE1 != null and SECURITY_CODE1 != emptyBigDecimalValue" >
        SECURITY_CODE1,
      </if>
      <if test="SEC_TEMPLATE != null and SEC_TEMPLATE != emptyBigDecimalValue" >
        SEC_TEMPLATE,
      </if>
      <if test="TRX_TYPE != null" >
        TRX_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="DEAL_NO != null and DEAL_NO != emptyBigDecimalValue" >
        #{DEAL_NO},
      </if>
      <if test="LINE_NBR != null and LINE_NBR != emptyBigDecimalValue" >
        #{LINE_NBR},
      </if>
      <if test="REP_ID != null and REP_ID != emptyBigDecimalValue" >
        #{REP_ID},
      </if>
      <if test="PARENT_FUND_LINE_NBR != null and PARENT_FUND_LINE_NBR != emptyBigDecimalValue" >
        #{PARENT_FUND_LINE_NBR},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="PARENT_FUND_CODE != null and PARENT_FUND_CODE != emptyBigDecimalValue" >
        #{PARENT_FUND_CODE},
      </if>
      <if test="TRADE_SERIAL_NBR != null and TRADE_SERIAL_NBR != emptyBigDecimalValue" >
        #{TRADE_SERIAL_NBR},
      </if>
      <if test="TRADE_TYPE != null and TRADE_TYPE != emptyBigDecimalValue" >
        #{TRADE_TYPE},
      </if>
      <if test="CHILD_FUND_LINE_NBR != null and CHILD_FUND_LINE_NBR != emptyBigDecimalValue" >
        #{CHILD_FUND_LINE_NBR},
      </if>
      <if test="CHILD_FUND_CODE != null and CHILD_FUND_CODE != emptyBigDecimalValue" >
        #{CHILD_FUND_CODE},
      </if>
      <if test="AMT != null and AMT != emptyBigDecimalValue" >
        #{AMT},
      </if>
      <if test="QTY != null and QTY != emptyBigDecimalValue" >
        #{QTY},
      </if>
      <if test="TRX_DESC != null" >
        #{TRX_DESC},
      </if>
      <if test="CONTROL_REF != null" >
        #{CONTROL_REF},
      </if>
      <if test="DATE_CREATED != null" >
        #{DATE_CREATED},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="APPROVED_BY != null" >
        #{APPROVED_BY},
      </if>
      <if test="DATE_APPROVED != null" >
        #{DATE_APPROVED},
      </if>
      <if test="REVERSED_BY != null" >
        #{REVERSED_BY},
      </if>
      <if test="DATE_REVERSED != null" >
        #{DATE_REVERSED},
      </if>
      <if test="MODIFIED_BY != null" >
        #{MODIFIED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        #{DATE_MODIFIED},
      </if>
      <if test="BROKER_CODE != null and BROKER_CODE != emptyBigDecimalValue" >
        #{BROKER_CODE},
      </if>
      <if test="PRICE != null and PRICE != emptyBigDecimalValue" >
        #{PRICE},
      </if>
      <if test="SELF_LEND_RATIO != null and SELF_LEND_RATIO != emptyBigDecimalValue" >
        #{SELF_LEND_RATIO},
      </if>
      <if test="SELF_LEND_AMT != null and SELF_LEND_AMT != emptyBigDecimalValue" >
        #{SELF_LEND_AMT},
      </if>
      <if test="OWNERSHIP_PCT != null and OWNERSHIP_PCT != emptyBigDecimalValue" >
        #{OWNERSHIP_PCT},
      </if>
      <if test="TOTAL_AMOUNT != null and TOTAL_AMOUNT != emptyBigDecimalValue" >
        #{TOTAL_AMOUNT},
      </if>
      <if test="AFFECT_CASH != null" >
        #{AFFECT_CASH},
      </if>
      <if test="CREATED != null" >
        #{CREATED},
      </if>
      <if test="PARTY_CIF != null and PARTY_CIF != emptyBigDecimalValue" >
        #{PARTY_CIF},
      </if>
      <if test="BRKR_AMT != null and BRKR_AMT != emptyBigDecimalValue" >
        #{BRKR_AMT},
      </if>
      <if test="TRXTEMP_CODE != null and TRXTEMP_CODE != emptyBigDecimalValue" >
        #{TRXTEMP_CODE},
      </if>
      <if test="TRADE_DATE != null" >
        #{TRADE_DATE},
      </if>
      <if test="VALUE_DATE != null" >
        #{VALUE_DATE},
      </if>
      <if test="GRP_FLAG != null and GRP_FLAG != emptyBigDecimalValue" >
        #{GRP_FLAG},
      </if>
      <if test="GRP_TRX_LINE_NBR != null and GRP_TRX_LINE_NBR != emptyBigDecimalValue" >
        #{GRP_TRX_LINE_NBR},
      </if>
      <if test="COPY_FROM_CHART != null" >
        #{COPY_FROM_CHART},
      </if>
      <if test="TOTAL_INVEST != null and TOTAL_INVEST != emptyBigDecimalValue" >
        #{TOTAL_INVEST},
      </if>
      <if test="OLD_AMT != null and OLD_AMT != emptyBigDecimalValue" >
        #{OLD_AMT},
      </if>
      <if test="TRADE_TRX_TYPE != null and TRADE_TRX_TYPE != emptyBigDecimalValue" >
        #{TRADE_TRX_TYPE},
      </if>
      <if test="SECURITY_CODE2 != null and SECURITY_CODE2 != emptyBigDecimalValue" >
        #{SECURITY_CODE2},
      </if>
      <if test="SECURITY_CODE1 != null and SECURITY_CODE1 != emptyBigDecimalValue" >
        #{SECURITY_CODE1},
      </if>
      <if test="SEC_TEMPLATE != null and SEC_TEMPLATE != emptyBigDecimalValue" >
        #{SEC_TEMPLATE},
      </if>
      <if test="TRX_TYPE != null" >
        #{TRX_TYPE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updatePMSDEALTRX" >
    update PMSDEALTRX
    <set >
      <if test="PARENT_FUND_LINE_NBR != null" >
        <choose >
          <when test="PARENT_FUND_LINE_NBR == emptyBigDecimalValue" >
            PARENT_FUND_LINE_NBR = NULL ,
          </when>
          <otherwise >
            PARENT_FUND_LINE_NBR = #{PARENT_FUND_LINE_NBR},
          </otherwise>
        </choose>
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="PARENT_FUND_CODE != null" >
        <choose >
          <when test="PARENT_FUND_CODE == emptyBigDecimalValue" >
            PARENT_FUND_CODE = NULL ,
          </when>
          <otherwise >
            PARENT_FUND_CODE = #{PARENT_FUND_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="TRADE_SERIAL_NBR != null" >
        <choose >
          <when test="TRADE_SERIAL_NBR == emptyBigDecimalValue" >
            TRADE_SERIAL_NBR = NULL ,
          </when>
          <otherwise >
            TRADE_SERIAL_NBR = #{TRADE_SERIAL_NBR},
          </otherwise>
        </choose>
      </if>
      <if test="TRADE_TYPE != null" >
        <choose >
          <when test="TRADE_TYPE == emptyBigDecimalValue" >
            TRADE_TYPE = NULL ,
          </when>
          <otherwise >
            TRADE_TYPE = #{TRADE_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="CHILD_FUND_LINE_NBR != null" >
        <choose >
          <when test="CHILD_FUND_LINE_NBR == emptyBigDecimalValue" >
            CHILD_FUND_LINE_NBR = NULL ,
          </when>
          <otherwise >
            CHILD_FUND_LINE_NBR = #{CHILD_FUND_LINE_NBR},
          </otherwise>
        </choose>
      </if>
      <if test="CHILD_FUND_CODE != null" >
        <choose >
          <when test="CHILD_FUND_CODE == emptyBigDecimalValue" >
            CHILD_FUND_CODE = NULL ,
          </when>
          <otherwise >
            CHILD_FUND_CODE = #{CHILD_FUND_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="AMT != null" >
        <choose >
          <when test="AMT == emptyBigDecimalValue" >
            AMT = NULL ,
          </when>
          <otherwise >
            AMT = #{AMT},
          </otherwise>
        </choose>
      </if>
      <if test="QTY != null" >
        <choose >
          <when test="QTY == emptyBigDecimalValue" >
            QTY = NULL ,
          </when>
          <otherwise >
            QTY = #{QTY},
          </otherwise>
        </choose>
      </if>
      <if test="TRX_DESC != null" >
        TRX_DESC = #{TRX_DESC},
      </if>
      <if test="CONTROL_REF != null" >
        CONTROL_REF = #{CONTROL_REF},
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED = #{DATE_CREATED},
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY = #{APPROVED_BY},
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED = #{DATE_APPROVED},
      </if>
      <if test="REVERSED_BY != null" >
        REVERSED_BY = #{REVERSED_BY},
      </if>
      <if test="DATE_REVERSED != null" >
        DATE_REVERSED = #{DATE_REVERSED},
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY = #{MODIFIED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED = #{DATE_MODIFIED},
      </if>
      <if test="BROKER_CODE != null" >
        <choose >
          <when test="BROKER_CODE == emptyBigDecimalValue" >
            BROKER_CODE = NULL ,
          </when>
          <otherwise >
            BROKER_CODE = #{BROKER_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="PRICE != null" >
        <choose >
          <when test="PRICE == emptyBigDecimalValue" >
            PRICE = NULL ,
          </when>
          <otherwise >
            PRICE = #{PRICE},
          </otherwise>
        </choose>
      </if>
      <if test="SELF_LEND_RATIO != null" >
        <choose >
          <when test="SELF_LEND_RATIO == emptyBigDecimalValue" >
            SELF_LEND_RATIO = NULL ,
          </when>
          <otherwise >
            SELF_LEND_RATIO = #{SELF_LEND_RATIO},
          </otherwise>
        </choose>
      </if>
      <if test="SELF_LEND_AMT != null" >
        <choose >
          <when test="SELF_LEND_AMT == emptyBigDecimalValue" >
            SELF_LEND_AMT = NULL ,
          </when>
          <otherwise >
            SELF_LEND_AMT = #{SELF_LEND_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="OWNERSHIP_PCT != null" >
        <choose >
          <when test="OWNERSHIP_PCT == emptyBigDecimalValue" >
            OWNERSHIP_PCT = NULL ,
          </when>
          <otherwise >
            OWNERSHIP_PCT = #{OWNERSHIP_PCT},
          </otherwise>
        </choose>
      </if>
      <if test="TOTAL_AMOUNT != null" >
        <choose >
          <when test="TOTAL_AMOUNT == emptyBigDecimalValue" >
            TOTAL_AMOUNT = NULL ,
          </when>
          <otherwise >
            TOTAL_AMOUNT = #{TOTAL_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="AFFECT_CASH != null" >
        AFFECT_CASH = #{AFFECT_CASH},
      </if>
      <if test="CREATED != null" >
        CREATED = #{CREATED},
      </if>
      <if test="PARTY_CIF != null" >
        <choose >
          <when test="PARTY_CIF == emptyBigDecimalValue" >
            PARTY_CIF = NULL ,
          </when>
          <otherwise >
            PARTY_CIF = #{PARTY_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="BRKR_AMT != null" >
        <choose >
          <when test="BRKR_AMT == emptyBigDecimalValue" >
            BRKR_AMT = NULL ,
          </when>
          <otherwise >
            BRKR_AMT = #{BRKR_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="TRXTEMP_CODE != null" >
        <choose >
          <when test="TRXTEMP_CODE == emptyBigDecimalValue" >
            TRXTEMP_CODE = NULL ,
          </when>
          <otherwise >
            TRXTEMP_CODE = #{TRXTEMP_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="TRADE_DATE != null" >
        TRADE_DATE = #{TRADE_DATE},
      </if>
      <if test="VALUE_DATE != null" >
        VALUE_DATE = #{VALUE_DATE},
      </if>
      <if test="GRP_FLAG != null" >
        <choose >
          <when test="GRP_FLAG == emptyBigDecimalValue" >
            GRP_FLAG = NULL ,
          </when>
          <otherwise >
            GRP_FLAG = #{GRP_FLAG},
          </otherwise>
        </choose>
      </if>
      <if test="GRP_TRX_LINE_NBR != null" >
        <choose >
          <when test="GRP_TRX_LINE_NBR == emptyBigDecimalValue" >
            GRP_TRX_LINE_NBR = NULL ,
          </when>
          <otherwise >
            GRP_TRX_LINE_NBR = #{GRP_TRX_LINE_NBR},
          </otherwise>
        </choose>
      </if>
      <if test="COPY_FROM_CHART != null" >
        COPY_FROM_CHART = #{COPY_FROM_CHART},
      </if>
      <if test="TOTAL_INVEST != null" >
        <choose >
          <when test="TOTAL_INVEST == emptyBigDecimalValue" >
            TOTAL_INVEST = NULL ,
          </when>
          <otherwise >
            TOTAL_INVEST = #{TOTAL_INVEST},
          </otherwise>
        </choose>
      </if>
      <if test="OLD_AMT != null" >
        <choose >
          <when test="OLD_AMT == emptyBigDecimalValue" >
            OLD_AMT = NULL ,
          </when>
          <otherwise >
            OLD_AMT = #{OLD_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="TRADE_TRX_TYPE != null" >
        <choose >
          <when test="TRADE_TRX_TYPE == emptyBigDecimalValue" >
            TRADE_TRX_TYPE = NULL ,
          </when>
          <otherwise >
            TRADE_TRX_TYPE = #{TRADE_TRX_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="SECURITY_CODE2 != null" >
        <choose >
          <when test="SECURITY_CODE2 == emptyBigDecimalValue" >
            SECURITY_CODE2 = NULL ,
          </when>
          <otherwise >
            SECURITY_CODE2 = #{SECURITY_CODE2},
          </otherwise>
        </choose>
      </if>
      <if test="SECURITY_CODE1 != null" >
        <choose >
          <when test="SECURITY_CODE1 == emptyBigDecimalValue" >
            SECURITY_CODE1 = NULL ,
          </when>
          <otherwise >
            SECURITY_CODE1 = #{SECURITY_CODE1},
          </otherwise>
        </choose>
      </if>
      <if test="SEC_TEMPLATE != null" >
        <choose >
          <when test="SEC_TEMPLATE == emptyBigDecimalValue" >
            SEC_TEMPLATE = NULL ,
          </when>
          <otherwise >
            SEC_TEMPLATE = #{SEC_TEMPLATE},
          </otherwise>
        </choose>
      </if>
      <if test="TRX_TYPE != null" >
        TRX_TYPE = #{TRX_TYPE},
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and DEAL_NO = #{DEAL_NO}
      and LINE_NBR = #{LINE_NBR}
      and REP_ID = #{REP_ID}
  </sql>
  <update id="updatePMSDEALTRX" parameterType="com.path.dbmaps.vo.PMSDEALTRXVO" >
    <include refid="sql_updatePMSDEALTRX" />
  </update>
</mapper>