<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="PMSINVENTORY" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.PMSINVENTORYVO" >
    <id column="BRANCH" property="BRANCH" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NBR" property="LINE_NBR" />
    <id column="PORTFOLIO_CIF" property="PORTFOLIO_CIF" />
    <id column="PORTFOLIO_SEQ" property="PORTFOLIO_SEQ" />
    <id column="SECURITY_CODE1" property="SECURITY_CODE1" />
    <id column="SECURITY_CODE2" property="SECURITY_CODE2" />
    <id column="SHORT_POSITION" property="SHORT_POSITION" />
    <result column="SECURITY_LOT" property="SECURITY_LOT" />
    <result column="QTY" property="QTY" />
    <result column="VALUE_SECURITY" property="VALUE_SECURITY" />
    <result column="VALUE_PORTFOLIO" property="VALUE_PORTFOLIO" />
    <result column="VALUE_CV" property="VALUE_CV" />
    <result column="MARKET_PRICE" property="MARKET_PRICE" />
    <result column="MARKET_PRICE_CV" property="MARKET_PRICE_CV" />
    <result column="ACCRUALS" property="ACCRUALS" />
    <result column="ACCRUALS_CV" property="ACCRUALS_CV" />
    <result column="ACCRUALS_PORTFOLIO" property="ACCRUALS_PORTFOLIO" />
    <result column="REVALUE_SECURITY" property="REVALUE_SECURITY" />
    <result column="REVALUE_PORTFOLIO" property="REVALUE_PORTFOLIO" />
    <result column="REVALUE_CV" property="REVALUE_CV" />
    <result column="ACCRUED_DIV_FC" property="ACCRUED_DIV_FC" />
    <result column="ACCRUED_DIV_CV" property="ACCRUED_DIV_CV" />
    <result column="FUND_VALUE_SECURITY" property="FUND_VALUE_SECURITY" />
    <result column="FUND_VALUE_PORTFOLIO" property="FUND_VALUE_PORTFOLIO" />
    <result column="FUND_VALUE_CV" property="FUND_VALUE_CV" />
    <result column="ACCEPTANCE_DATE" property="ACCEPTANCE_DATE" />
    <result column="VALUE_EXPOSURE" property="VALUE_EXPOSURE" />
    <result column="REVALUE_EXPOSURE" property="REVALUE_EXPOSURE" />
    <result column="EXIT_QTY" property="EXIT_QTY" />
    <result column="EXIT_AMT" property="EXIT_AMT" />
    <result column="EXIT_AMT_CV" property="EXIT_AMT_CV" />
    <result column="EXIT_AMT_PF" property="EXIT_AMT_PF" />
    <result column="LAST_ACCRUAL_ENTRY_DATE" property="LAST_ACCRUAL_ENTRY_DATE" />
    <result column="LAST_ACCRUAL_DATE" property="LAST_ACCRUAL_DATE" />
    <result column="FAIR_VALUE" property="FAIR_VALUE" />
    <result column="FAIR_VALUE_CV" property="FAIR_VALUE_CV" />
    <result column="FAIR_VALUE_PF" property="FAIR_VALUE_PF" />
    <result column="SHARE_PREM_TOT" property="SHARE_PREM_TOT" />
    <result column="SHARE_PREM_TOT_CV" property="SHARE_PREM_TOT_CV" />
    <result column="SHARE_PREM_TOT_PF" property="SHARE_PREM_TOT_PF" />
    <result column="LAST_CAP_ENTRY_DATE" property="LAST_CAP_ENTRY_DATE" />
    <result column="REVAL_AMT" property="REVAL_AMT" />
    <result column="REVAL_AMT_CV" property="REVAL_AMT_CV" />
    <result column="REVAL_AMT_PF" property="REVAL_AMT_PF" />
    <result column="GOODWILL_AMOUNT" property="GOODWILL_AMOUNT" />
    <result column="GOODWILL_AMOUNT_CV" property="GOODWILL_AMOUNT_CV" />
    <result column="GOODWILL_AMOUNT_PF" property="GOODWILL_AMOUNT_PF" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH, COMP_CODE, LINE_NBR, PORTFOLIO_CIF, PORTFOLIO_SEQ, SECURITY_CODE1, SECURITY_CODE2, 
    SHORT_POSITION, SECURITY_LOT, QTY, VALUE_SECURITY, VALUE_PORTFOLIO, VALUE_CV, MARKET_PRICE, 
    MARKET_PRICE_CV, ACCRUALS, ACCRUALS_CV, ACCRUALS_PORTFOLIO, REVALUE_SECURITY, REVALUE_PORTFOLIO, 
    REVALUE_CV, ACCRUED_DIV_FC, ACCRUED_DIV_CV, FUND_VALUE_SECURITY, FUND_VALUE_PORTFOLIO, 
    FUND_VALUE_CV, ACCEPTANCE_DATE, VALUE_EXPOSURE, REVALUE_EXPOSURE, EXIT_QTY, EXIT_AMT, 
    EXIT_AMT_CV, EXIT_AMT_PF, LAST_ACCRUAL_ENTRY_DATE, LAST_ACCRUAL_DATE, FAIR_VALUE, 
    FAIR_VALUE_CV, FAIR_VALUE_PF, SHARE_PREM_TOT, SHARE_PREM_TOT_CV, SHARE_PREM_TOT_PF, 
    LAST_CAP_ENTRY_DATE, REVAL_AMT, REVAL_AMT_CV, REVAL_AMT_PF, GOODWILL_AMOUNT, GOODWILL_AMOUNT_CV, 
    GOODWILL_AMOUNT_PF
  </sql>
  <select id="selectPMSINVENTORY" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.PMSINVENTORYVOKey" >
    select 
    <include refid="Base_Column_List" />
    from PMSINVENTORY
    where BRANCH = #{BRANCH}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NBR = #{LINE_NBR}
      and PORTFOLIO_CIF = #{PORTFOLIO_CIF}
      and PORTFOLIO_SEQ = #{PORTFOLIO_SEQ}
      and SECURITY_CODE1 = #{SECURITY_CODE1}
      and SECURITY_CODE2 = #{SECURITY_CODE2}
      and SHORT_POSITION = #{SHORT_POSITION}
  </select>
  <delete id="deletePMSINVENTORY" parameterType="com.path.dbmaps.vo.PMSINVENTORYVOKey" >
    delete from PMSINVENTORY
    where BRANCH = #{BRANCH}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NBR = #{LINE_NBR}
      and PORTFOLIO_CIF = #{PORTFOLIO_CIF}
      and PORTFOLIO_SEQ = #{PORTFOLIO_SEQ}
      and SECURITY_CODE1 = #{SECURITY_CODE1}
      and SECURITY_CODE2 = #{SECURITY_CODE2}
      and SHORT_POSITION = #{SHORT_POSITION}
  </delete>
  <insert id="insertPMSINVENTORY" parameterType="com.path.dbmaps.vo.PMSINVENTORYVO" >
    insert into PMSINVENTORY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH != null and BRANCH != emptyBigDecimalValue" >
        BRANCH,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NBR != null and LINE_NBR != emptyBigDecimalValue" >
        LINE_NBR,
      </if>
      <if test="PORTFOLIO_CIF != null and PORTFOLIO_CIF != emptyBigDecimalValue" >
        PORTFOLIO_CIF,
      </if>
      <if test="PORTFOLIO_SEQ != null and PORTFOLIO_SEQ != emptyBigDecimalValue" >
        PORTFOLIO_SEQ,
      </if>
      <if test="SECURITY_CODE1 != null and SECURITY_CODE1 != emptyBigDecimalValue" >
        SECURITY_CODE1,
      </if>
      <if test="SECURITY_CODE2 != null and SECURITY_CODE2 != emptyBigDecimalValue" >
        SECURITY_CODE2,
      </if>
      <if test="SHORT_POSITION != null and SHORT_POSITION != emptyBigDecimalValue" >
        SHORT_POSITION,
      </if>
      <if test="SECURITY_LOT != null" >
        SECURITY_LOT,
      </if>
      <if test="QTY != null and QTY != emptyBigDecimalValue" >
        QTY,
      </if>
      <if test="VALUE_SECURITY != null and VALUE_SECURITY != emptyBigDecimalValue" >
        VALUE_SECURITY,
      </if>
      <if test="VALUE_PORTFOLIO != null and VALUE_PORTFOLIO != emptyBigDecimalValue" >
        VALUE_PORTFOLIO,
      </if>
      <if test="VALUE_CV != null and VALUE_CV != emptyBigDecimalValue" >
        VALUE_CV,
      </if>
      <if test="MARKET_PRICE != null and MARKET_PRICE != emptyBigDecimalValue" >
        MARKET_PRICE,
      </if>
      <if test="MARKET_PRICE_CV != null and MARKET_PRICE_CV != emptyBigDecimalValue" >
        MARKET_PRICE_CV,
      </if>
      <if test="ACCRUALS != null and ACCRUALS != emptyBigDecimalValue" >
        ACCRUALS,
      </if>
      <if test="ACCRUALS_CV != null and ACCRUALS_CV != emptyBigDecimalValue" >
        ACCRUALS_CV,
      </if>
      <if test="ACCRUALS_PORTFOLIO != null and ACCRUALS_PORTFOLIO != emptyBigDecimalValue" >
        ACCRUALS_PORTFOLIO,
      </if>
      <if test="REVALUE_SECURITY != null and REVALUE_SECURITY != emptyBigDecimalValue" >
        REVALUE_SECURITY,
      </if>
      <if test="REVALUE_PORTFOLIO != null and REVALUE_PORTFOLIO != emptyBigDecimalValue" >
        REVALUE_PORTFOLIO,
      </if>
      <if test="REVALUE_CV != null and REVALUE_CV != emptyBigDecimalValue" >
        REVALUE_CV,
      </if>
      <if test="ACCRUED_DIV_FC != null and ACCRUED_DIV_FC != emptyBigDecimalValue" >
        ACCRUED_DIV_FC,
      </if>
      <if test="ACCRUED_DIV_CV != null and ACCRUED_DIV_CV != emptyBigDecimalValue" >
        ACCRUED_DIV_CV,
      </if>
      <if test="FUND_VALUE_SECURITY != null and FUND_VALUE_SECURITY != emptyBigDecimalValue" >
        FUND_VALUE_SECURITY,
      </if>
      <if test="FUND_VALUE_PORTFOLIO != null and FUND_VALUE_PORTFOLIO != emptyBigDecimalValue" >
        FUND_VALUE_PORTFOLIO,
      </if>
      <if test="FUND_VALUE_CV != null and FUND_VALUE_CV != emptyBigDecimalValue" >
        FUND_VALUE_CV,
      </if>
      <if test="ACCEPTANCE_DATE != null" >
        ACCEPTANCE_DATE,
      </if>
      <if test="VALUE_EXPOSURE != null and VALUE_EXPOSURE != emptyBigDecimalValue" >
        VALUE_EXPOSURE,
      </if>
      <if test="REVALUE_EXPOSURE != null and REVALUE_EXPOSURE != emptyBigDecimalValue" >
        REVALUE_EXPOSURE,
      </if>
      <if test="EXIT_QTY != null and EXIT_QTY != emptyBigDecimalValue" >
        EXIT_QTY,
      </if>
      <if test="EXIT_AMT != null and EXIT_AMT != emptyBigDecimalValue" >
        EXIT_AMT,
      </if>
      <if test="EXIT_AMT_CV != null and EXIT_AMT_CV != emptyBigDecimalValue" >
        EXIT_AMT_CV,
      </if>
      <if test="EXIT_AMT_PF != null and EXIT_AMT_PF != emptyBigDecimalValue" >
        EXIT_AMT_PF,
      </if>
      <if test="LAST_ACCRUAL_ENTRY_DATE != null" >
        LAST_ACCRUAL_ENTRY_DATE,
      </if>
      <if test="LAST_ACCRUAL_DATE != null" >
        LAST_ACCRUAL_DATE,
      </if>
      <if test="FAIR_VALUE != null and FAIR_VALUE != emptyBigDecimalValue" >
        FAIR_VALUE,
      </if>
      <if test="FAIR_VALUE_CV != null and FAIR_VALUE_CV != emptyBigDecimalValue" >
        FAIR_VALUE_CV,
      </if>
      <if test="FAIR_VALUE_PF != null and FAIR_VALUE_PF != emptyBigDecimalValue" >
        FAIR_VALUE_PF,
      </if>
      <if test="SHARE_PREM_TOT != null and SHARE_PREM_TOT != emptyBigDecimalValue" >
        SHARE_PREM_TOT,
      </if>
      <if test="SHARE_PREM_TOT_CV != null and SHARE_PREM_TOT_CV != emptyBigDecimalValue" >
        SHARE_PREM_TOT_CV,
      </if>
      <if test="SHARE_PREM_TOT_PF != null and SHARE_PREM_TOT_PF != emptyBigDecimalValue" >
        SHARE_PREM_TOT_PF,
      </if>
      <if test="LAST_CAP_ENTRY_DATE != null" >
        LAST_CAP_ENTRY_DATE,
      </if>
      <if test="REVAL_AMT != null and REVAL_AMT != emptyBigDecimalValue" >
        REVAL_AMT,
      </if>
      <if test="REVAL_AMT_CV != null and REVAL_AMT_CV != emptyBigDecimalValue" >
        REVAL_AMT_CV,
      </if>
      <if test="REVAL_AMT_PF != null and REVAL_AMT_PF != emptyBigDecimalValue" >
        REVAL_AMT_PF,
      </if>
      <if test="GOODWILL_AMOUNT != null and GOODWILL_AMOUNT != emptyBigDecimalValue" >
        GOODWILL_AMOUNT,
      </if>
      <if test="GOODWILL_AMOUNT_CV != null and GOODWILL_AMOUNT_CV != emptyBigDecimalValue" >
        GOODWILL_AMOUNT_CV,
      </if>
      <if test="GOODWILL_AMOUNT_PF != null and GOODWILL_AMOUNT_PF != emptyBigDecimalValue" >
        GOODWILL_AMOUNT_PF,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH != null and BRANCH != emptyBigDecimalValue" >
        #{BRANCH},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NBR != null and LINE_NBR != emptyBigDecimalValue" >
        #{LINE_NBR},
      </if>
      <if test="PORTFOLIO_CIF != null and PORTFOLIO_CIF != emptyBigDecimalValue" >
        #{PORTFOLIO_CIF},
      </if>
      <if test="PORTFOLIO_SEQ != null and PORTFOLIO_SEQ != emptyBigDecimalValue" >
        #{PORTFOLIO_SEQ},
      </if>
      <if test="SECURITY_CODE1 != null and SECURITY_CODE1 != emptyBigDecimalValue" >
        #{SECURITY_CODE1},
      </if>
      <if test="SECURITY_CODE2 != null and SECURITY_CODE2 != emptyBigDecimalValue" >
        #{SECURITY_CODE2},
      </if>
      <if test="SHORT_POSITION != null and SHORT_POSITION != emptyBigDecimalValue" >
        #{SHORT_POSITION},
      </if>
      <if test="SECURITY_LOT != null" >
        #{SECURITY_LOT},
      </if>
      <if test="QTY != null and QTY != emptyBigDecimalValue" >
        #{QTY},
      </if>
      <if test="VALUE_SECURITY != null and VALUE_SECURITY != emptyBigDecimalValue" >
        #{VALUE_SECURITY},
      </if>
      <if test="VALUE_PORTFOLIO != null and VALUE_PORTFOLIO != emptyBigDecimalValue" >
        #{VALUE_PORTFOLIO},
      </if>
      <if test="VALUE_CV != null and VALUE_CV != emptyBigDecimalValue" >
        #{VALUE_CV},
      </if>
      <if test="MARKET_PRICE != null and MARKET_PRICE != emptyBigDecimalValue" >
        #{MARKET_PRICE},
      </if>
      <if test="MARKET_PRICE_CV != null and MARKET_PRICE_CV != emptyBigDecimalValue" >
        #{MARKET_PRICE_CV},
      </if>
      <if test="ACCRUALS != null and ACCRUALS != emptyBigDecimalValue" >
        #{ACCRUALS},
      </if>
      <if test="ACCRUALS_CV != null and ACCRUALS_CV != emptyBigDecimalValue" >
        #{ACCRUALS_CV},
      </if>
      <if test="ACCRUALS_PORTFOLIO != null and ACCRUALS_PORTFOLIO != emptyBigDecimalValue" >
        #{ACCRUALS_PORTFOLIO},
      </if>
      <if test="REVALUE_SECURITY != null and REVALUE_SECURITY != emptyBigDecimalValue" >
        #{REVALUE_SECURITY},
      </if>
      <if test="REVALUE_PORTFOLIO != null and REVALUE_PORTFOLIO != emptyBigDecimalValue" >
        #{REVALUE_PORTFOLIO},
      </if>
      <if test="REVALUE_CV != null and REVALUE_CV != emptyBigDecimalValue" >
        #{REVALUE_CV},
      </if>
      <if test="ACCRUED_DIV_FC != null and ACCRUED_DIV_FC != emptyBigDecimalValue" >
        #{ACCRUED_DIV_FC},
      </if>
      <if test="ACCRUED_DIV_CV != null and ACCRUED_DIV_CV != emptyBigDecimalValue" >
        #{ACCRUED_DIV_CV},
      </if>
      <if test="FUND_VALUE_SECURITY != null and FUND_VALUE_SECURITY != emptyBigDecimalValue" >
        #{FUND_VALUE_SECURITY},
      </if>
      <if test="FUND_VALUE_PORTFOLIO != null and FUND_VALUE_PORTFOLIO != emptyBigDecimalValue" >
        #{FUND_VALUE_PORTFOLIO},
      </if>
      <if test="FUND_VALUE_CV != null and FUND_VALUE_CV != emptyBigDecimalValue" >
        #{FUND_VALUE_CV},
      </if>
      <if test="ACCEPTANCE_DATE != null" >
        #{ACCEPTANCE_DATE},
      </if>
      <if test="VALUE_EXPOSURE != null and VALUE_EXPOSURE != emptyBigDecimalValue" >
        #{VALUE_EXPOSURE},
      </if>
      <if test="REVALUE_EXPOSURE != null and REVALUE_EXPOSURE != emptyBigDecimalValue" >
        #{REVALUE_EXPOSURE},
      </if>
      <if test="EXIT_QTY != null and EXIT_QTY != emptyBigDecimalValue" >
        #{EXIT_QTY},
      </if>
      <if test="EXIT_AMT != null and EXIT_AMT != emptyBigDecimalValue" >
        #{EXIT_AMT},
      </if>
      <if test="EXIT_AMT_CV != null and EXIT_AMT_CV != emptyBigDecimalValue" >
        #{EXIT_AMT_CV},
      </if>
      <if test="EXIT_AMT_PF != null and EXIT_AMT_PF != emptyBigDecimalValue" >
        #{EXIT_AMT_PF},
      </if>
      <if test="LAST_ACCRUAL_ENTRY_DATE != null" >
        #{LAST_ACCRUAL_ENTRY_DATE},
      </if>
      <if test="LAST_ACCRUAL_DATE != null" >
        #{LAST_ACCRUAL_DATE},
      </if>
      <if test="FAIR_VALUE != null and FAIR_VALUE != emptyBigDecimalValue" >
        #{FAIR_VALUE},
      </if>
      <if test="FAIR_VALUE_CV != null and FAIR_VALUE_CV != emptyBigDecimalValue" >
        #{FAIR_VALUE_CV},
      </if>
      <if test="FAIR_VALUE_PF != null and FAIR_VALUE_PF != emptyBigDecimalValue" >
        #{FAIR_VALUE_PF},
      </if>
      <if test="SHARE_PREM_TOT != null and SHARE_PREM_TOT != emptyBigDecimalValue" >
        #{SHARE_PREM_TOT},
      </if>
      <if test="SHARE_PREM_TOT_CV != null and SHARE_PREM_TOT_CV != emptyBigDecimalValue" >
        #{SHARE_PREM_TOT_CV},
      </if>
      <if test="SHARE_PREM_TOT_PF != null and SHARE_PREM_TOT_PF != emptyBigDecimalValue" >
        #{SHARE_PREM_TOT_PF},
      </if>
      <if test="LAST_CAP_ENTRY_DATE != null" >
        #{LAST_CAP_ENTRY_DATE},
      </if>
      <if test="REVAL_AMT != null and REVAL_AMT != emptyBigDecimalValue" >
        #{REVAL_AMT},
      </if>
      <if test="REVAL_AMT_CV != null and REVAL_AMT_CV != emptyBigDecimalValue" >
        #{REVAL_AMT_CV},
      </if>
      <if test="REVAL_AMT_PF != null and REVAL_AMT_PF != emptyBigDecimalValue" >
        #{REVAL_AMT_PF},
      </if>
      <if test="GOODWILL_AMOUNT != null and GOODWILL_AMOUNT != emptyBigDecimalValue" >
        #{GOODWILL_AMOUNT},
      </if>
      <if test="GOODWILL_AMOUNT_CV != null and GOODWILL_AMOUNT_CV != emptyBigDecimalValue" >
        #{GOODWILL_AMOUNT_CV},
      </if>
      <if test="GOODWILL_AMOUNT_PF != null and GOODWILL_AMOUNT_PF != emptyBigDecimalValue" >
        #{GOODWILL_AMOUNT_PF},
      </if>
    </trim>
  </insert>
  <sql id="sql_updatePMSINVENTORY" >
    update PMSINVENTORY
    <set >
      <if test="SECURITY_LOT != null" >
        SECURITY_LOT = #{SECURITY_LOT},
      </if>
      <if test="QTY != null" >
        <choose >
          <when test="QTY == emptyBigDecimalValue" >
            QTY = NULL ,
          </when>
          <otherwise >
            QTY = #{QTY},
          </otherwise>
        </choose>
      </if>
      <if test="VALUE_SECURITY != null" >
        <choose >
          <when test="VALUE_SECURITY == emptyBigDecimalValue" >
            VALUE_SECURITY = NULL ,
          </when>
          <otherwise >
            VALUE_SECURITY = #{VALUE_SECURITY},
          </otherwise>
        </choose>
      </if>
      <if test="VALUE_PORTFOLIO != null" >
        <choose >
          <when test="VALUE_PORTFOLIO == emptyBigDecimalValue" >
            VALUE_PORTFOLIO = NULL ,
          </when>
          <otherwise >
            VALUE_PORTFOLIO = #{VALUE_PORTFOLIO},
          </otherwise>
        </choose>
      </if>
      <if test="VALUE_CV != null" >
        <choose >
          <when test="VALUE_CV == emptyBigDecimalValue" >
            VALUE_CV = NULL ,
          </when>
          <otherwise >
            VALUE_CV = #{VALUE_CV},
          </otherwise>
        </choose>
      </if>
      <if test="MARKET_PRICE != null" >
        <choose >
          <when test="MARKET_PRICE == emptyBigDecimalValue" >
            MARKET_PRICE = NULL ,
          </when>
          <otherwise >
            MARKET_PRICE = #{MARKET_PRICE},
          </otherwise>
        </choose>
      </if>
      <if test="MARKET_PRICE_CV != null" >
        <choose >
          <when test="MARKET_PRICE_CV == emptyBigDecimalValue" >
            MARKET_PRICE_CV = NULL ,
          </when>
          <otherwise >
            MARKET_PRICE_CV = #{MARKET_PRICE_CV},
          </otherwise>
        </choose>
      </if>
      <if test="ACCRUALS != null" >
        <choose >
          <when test="ACCRUALS == emptyBigDecimalValue" >
            ACCRUALS = NULL ,
          </when>
          <otherwise >
            ACCRUALS = #{ACCRUALS},
          </otherwise>
        </choose>
      </if>
      <if test="ACCRUALS_CV != null" >
        <choose >
          <when test="ACCRUALS_CV == emptyBigDecimalValue" >
            ACCRUALS_CV = NULL ,
          </when>
          <otherwise >
            ACCRUALS_CV = #{ACCRUALS_CV},
          </otherwise>
        </choose>
      </if>
      <if test="ACCRUALS_PORTFOLIO != null" >
        <choose >
          <when test="ACCRUALS_PORTFOLIO == emptyBigDecimalValue" >
            ACCRUALS_PORTFOLIO = NULL ,
          </when>
          <otherwise >
            ACCRUALS_PORTFOLIO = #{ACCRUALS_PORTFOLIO},
          </otherwise>
        </choose>
      </if>
      <if test="REVALUE_SECURITY != null" >
        <choose >
          <when test="REVALUE_SECURITY == emptyBigDecimalValue" >
            REVALUE_SECURITY = NULL ,
          </when>
          <otherwise >
            REVALUE_SECURITY = #{REVALUE_SECURITY},
          </otherwise>
        </choose>
      </if>
      <if test="REVALUE_PORTFOLIO != null" >
        <choose >
          <when test="REVALUE_PORTFOLIO == emptyBigDecimalValue" >
            REVALUE_PORTFOLIO = NULL ,
          </when>
          <otherwise >
            REVALUE_PORTFOLIO = #{REVALUE_PORTFOLIO},
          </otherwise>
        </choose>
      </if>
      <if test="REVALUE_CV != null" >
        <choose >
          <when test="REVALUE_CV == emptyBigDecimalValue" >
            REVALUE_CV = NULL ,
          </when>
          <otherwise >
            REVALUE_CV = #{REVALUE_CV},
          </otherwise>
        </choose>
      </if>
      <if test="ACCRUED_DIV_FC != null" >
        <choose >
          <when test="ACCRUED_DIV_FC == emptyBigDecimalValue" >
            ACCRUED_DIV_FC = NULL ,
          </when>
          <otherwise >
            ACCRUED_DIV_FC = #{ACCRUED_DIV_FC},
          </otherwise>
        </choose>
      </if>
      <if test="ACCRUED_DIV_CV != null" >
        <choose >
          <when test="ACCRUED_DIV_CV == emptyBigDecimalValue" >
            ACCRUED_DIV_CV = NULL ,
          </when>
          <otherwise >
            ACCRUED_DIV_CV = #{ACCRUED_DIV_CV},
          </otherwise>
        </choose>
      </if>
      <if test="FUND_VALUE_SECURITY != null" >
        <choose >
          <when test="FUND_VALUE_SECURITY == emptyBigDecimalValue" >
            FUND_VALUE_SECURITY = NULL ,
          </when>
          <otherwise >
            FUND_VALUE_SECURITY = #{FUND_VALUE_SECURITY},
          </otherwise>
        </choose>
      </if>
      <if test="FUND_VALUE_PORTFOLIO != null" >
        <choose >
          <when test="FUND_VALUE_PORTFOLIO == emptyBigDecimalValue" >
            FUND_VALUE_PORTFOLIO = NULL ,
          </when>
          <otherwise >
            FUND_VALUE_PORTFOLIO = #{FUND_VALUE_PORTFOLIO},
          </otherwise>
        </choose>
      </if>
      <if test="FUND_VALUE_CV != null" >
        <choose >
          <when test="FUND_VALUE_CV == emptyBigDecimalValue" >
            FUND_VALUE_CV = NULL ,
          </when>
          <otherwise >
            FUND_VALUE_CV = #{FUND_VALUE_CV},
          </otherwise>
        </choose>
      </if>
      <if test="ACCEPTANCE_DATE != null" >
        ACCEPTANCE_DATE = #{ACCEPTANCE_DATE},
      </if>
      <if test="VALUE_EXPOSURE != null" >
        <choose >
          <when test="VALUE_EXPOSURE == emptyBigDecimalValue" >
            VALUE_EXPOSURE = NULL ,
          </when>
          <otherwise >
            VALUE_EXPOSURE = #{VALUE_EXPOSURE},
          </otherwise>
        </choose>
      </if>
      <if test="REVALUE_EXPOSURE != null" >
        <choose >
          <when test="REVALUE_EXPOSURE == emptyBigDecimalValue" >
            REVALUE_EXPOSURE = NULL ,
          </when>
          <otherwise >
            REVALUE_EXPOSURE = #{REVALUE_EXPOSURE},
          </otherwise>
        </choose>
      </if>
      <if test="EXIT_QTY != null" >
        <choose >
          <when test="EXIT_QTY == emptyBigDecimalValue" >
            EXIT_QTY = NULL ,
          </when>
          <otherwise >
            EXIT_QTY = #{EXIT_QTY},
          </otherwise>
        </choose>
      </if>
      <if test="EXIT_AMT != null" >
        <choose >
          <when test="EXIT_AMT == emptyBigDecimalValue" >
            EXIT_AMT = NULL ,
          </when>
          <otherwise >
            EXIT_AMT = #{EXIT_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="EXIT_AMT_CV != null" >
        <choose >
          <when test="EXIT_AMT_CV == emptyBigDecimalValue" >
            EXIT_AMT_CV = NULL ,
          </when>
          <otherwise >
            EXIT_AMT_CV = #{EXIT_AMT_CV},
          </otherwise>
        </choose>
      </if>
      <if test="EXIT_AMT_PF != null" >
        <choose >
          <when test="EXIT_AMT_PF == emptyBigDecimalValue" >
            EXIT_AMT_PF = NULL ,
          </when>
          <otherwise >
            EXIT_AMT_PF = #{EXIT_AMT_PF},
          </otherwise>
        </choose>
      </if>
      <if test="LAST_ACCRUAL_ENTRY_DATE != null" >
        LAST_ACCRUAL_ENTRY_DATE = #{LAST_ACCRUAL_ENTRY_DATE},
      </if>
      <if test="LAST_ACCRUAL_DATE != null" >
        LAST_ACCRUAL_DATE = #{LAST_ACCRUAL_DATE},
      </if>
      <if test="FAIR_VALUE != null" >
        <choose >
          <when test="FAIR_VALUE == emptyBigDecimalValue" >
            FAIR_VALUE = NULL ,
          </when>
          <otherwise >
            FAIR_VALUE = #{FAIR_VALUE},
          </otherwise>
        </choose>
      </if>
      <if test="FAIR_VALUE_CV != null" >
        <choose >
          <when test="FAIR_VALUE_CV == emptyBigDecimalValue" >
            FAIR_VALUE_CV = NULL ,
          </when>
          <otherwise >
            FAIR_VALUE_CV = #{FAIR_VALUE_CV},
          </otherwise>
        </choose>
      </if>
      <if test="FAIR_VALUE_PF != null" >
        <choose >
          <when test="FAIR_VALUE_PF == emptyBigDecimalValue" >
            FAIR_VALUE_PF = NULL ,
          </when>
          <otherwise >
            FAIR_VALUE_PF = #{FAIR_VALUE_PF},
          </otherwise>
        </choose>
      </if>
      <if test="SHARE_PREM_TOT != null" >
        <choose >
          <when test="SHARE_PREM_TOT == emptyBigDecimalValue" >
            SHARE_PREM_TOT = NULL ,
          </when>
          <otherwise >
            SHARE_PREM_TOT = #{SHARE_PREM_TOT},
          </otherwise>
        </choose>
      </if>
      <if test="SHARE_PREM_TOT_CV != null" >
        <choose >
          <when test="SHARE_PREM_TOT_CV == emptyBigDecimalValue" >
            SHARE_PREM_TOT_CV = NULL ,
          </when>
          <otherwise >
            SHARE_PREM_TOT_CV = #{SHARE_PREM_TOT_CV},
          </otherwise>
        </choose>
      </if>
      <if test="SHARE_PREM_TOT_PF != null" >
        <choose >
          <when test="SHARE_PREM_TOT_PF == emptyBigDecimalValue" >
            SHARE_PREM_TOT_PF = NULL ,
          </when>
          <otherwise >
            SHARE_PREM_TOT_PF = #{SHARE_PREM_TOT_PF},
          </otherwise>
        </choose>
      </if>
      <if test="LAST_CAP_ENTRY_DATE != null" >
        LAST_CAP_ENTRY_DATE = #{LAST_CAP_ENTRY_DATE},
      </if>
      <if test="REVAL_AMT != null" >
        <choose >
          <when test="REVAL_AMT == emptyBigDecimalValue" >
            REVAL_AMT = NULL ,
          </when>
          <otherwise >
            REVAL_AMT = #{REVAL_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="REVAL_AMT_CV != null" >
        <choose >
          <when test="REVAL_AMT_CV == emptyBigDecimalValue" >
            REVAL_AMT_CV = NULL ,
          </when>
          <otherwise >
            REVAL_AMT_CV = #{REVAL_AMT_CV},
          </otherwise>
        </choose>
      </if>
      <if test="REVAL_AMT_PF != null" >
        <choose >
          <when test="REVAL_AMT_PF == emptyBigDecimalValue" >
            REVAL_AMT_PF = NULL ,
          </when>
          <otherwise >
            REVAL_AMT_PF = #{REVAL_AMT_PF},
          </otherwise>
        </choose>
      </if>
      <if test="GOODWILL_AMOUNT != null" >
        <choose >
          <when test="GOODWILL_AMOUNT == emptyBigDecimalValue" >
            GOODWILL_AMOUNT = NULL ,
          </when>
          <otherwise >
            GOODWILL_AMOUNT = #{GOODWILL_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="GOODWILL_AMOUNT_CV != null" >
        <choose >
          <when test="GOODWILL_AMOUNT_CV == emptyBigDecimalValue" >
            GOODWILL_AMOUNT_CV = NULL ,
          </when>
          <otherwise >
            GOODWILL_AMOUNT_CV = #{GOODWILL_AMOUNT_CV},
          </otherwise>
        </choose>
      </if>
      <if test="GOODWILL_AMOUNT_PF != null" >
        <choose >
          <when test="GOODWILL_AMOUNT_PF == emptyBigDecimalValue" >
            GOODWILL_AMOUNT_PF = NULL ,
          </when>
          <otherwise >
            GOODWILL_AMOUNT_PF = #{GOODWILL_AMOUNT_PF},
          </otherwise>
        </choose>
      </if>
    </set>
    where BRANCH = #{BRANCH}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NBR = #{LINE_NBR}
      and PORTFOLIO_CIF = #{PORTFOLIO_CIF}
      and PORTFOLIO_SEQ = #{PORTFOLIO_SEQ}
      and SECURITY_CODE1 = #{SECURITY_CODE1}
      and SECURITY_CODE2 = #{SECURITY_CODE2}
      and SHORT_POSITION = #{SHORT_POSITION}
  </sql>
  <update id="updatePMSINVENTORY" parameterType="com.path.dbmaps.vo.PMSINVENTORYVO" >
    <include refid="sql_updatePMSINVENTORY" />
  </update>
</mapper>