<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="PMSPACPRF" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.PMSPACPRFVO" >
    <id column="BRANCH" property="BRANCH" />
    <id column="CIF" property="CIF" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NBR" property="LINE_NBR" />
    <id column="SEQ" property="SEQ" />
    <result column="ACC_BRANCH" property="ACC_BRANCH" />
    <result column="ACC_CURRENCY" property="ACC_CURRENCY" />
    <result column="ACC_GL_CODE" property="ACC_GL_CODE" />
    <result column="ACC_CIF_SUB_NO" property="ACC_CIF_SUB_NO" />
    <result column="ACC_SL_NO" property="ACC_SL_NO" />
    <result column="DEAL_TYPE" property="DEAL_TYPE" />
    <result column="DEAL_NO" property="DEAL_NO" />
    <result column="DEAL_AMT" property="DEAL_AMT" />
    <result column="DEAL_YIELD" property="DEAL_YIELD" />
    <result column="COUNTRY" property="COUNTRY" />
    <result column="NOSTRO_GL" property="NOSTRO_GL" />
    <result column="NOSTRO_CIF" property="NOSTRO_CIF" />
    <result column="NOSTRO_SL" property="NOSTRO_SL" />
    <result column="COUNTER_PARTY" property="COUNTER_PARTY" />
    <result column="PRODUCT_CLASS" property="PRODUCT_CLASS" />
    <result column="DEAL_LINE_NO" property="DEAL_LINE_NO" />
    <result column="INCLUDE_AC_MGMT_FEES" property="INCLUDE_AC_MGMT_FEES" />
    <result column="GAIN" property="GAIN" />
    <result column="LOSS" property="LOSS" />
    <result column="CAPITAL_GL" property="CAPITAL_GL" />
    <result column="CAPITAL_CIF" property="CAPITAL_CIF" />
    <result column="CAPITAL_SL" property="CAPITAL_SL" />
    <result column="FUND_CASH_GL" property="FUND_CASH_GL" />
    <result column="FUND_CASH_CIF" property="FUND_CASH_CIF" />
    <result column="FUND_CASH_SL" property="FUND_CASH_SL" />
    <result column="FUND_CAPITAL_GL" property="FUND_CAPITAL_GL" />
    <result column="FUND_CAPITAL_CIF" property="FUND_CAPITAL_CIF" />
    <result column="FUND_CAPITAL_SL" property="FUND_CAPITAL_SL" />
    <result column="MARGIN_ACC_CY" property="MARGIN_ACC_CY" />
    <result column="MARGIN_ACC_GL" property="MARGIN_ACC_GL" />
    <result column="MARGIN_ACC_CIF" property="MARGIN_ACC_CIF" />
    <result column="MARGIN_ACC_SL" property="MARGIN_ACC_SL" />
    <result column="MARGIN_AMOUNT" property="MARGIN_AMOUNT" />
    <result column="MARGIN_PERCENT" property="MARGIN_PERCENT" />
    <result column="INV_GL" property="INV_GL" />
    <result column="INV_CIF" property="INV_CIF" />
    <result column="INV_SL" property="INV_SL" />
    <result column="DEP_GL" property="DEP_GL" />
    <result column="DEP_CIF" property="DEP_CIF" />
    <result column="DEP_SL" property="DEP_SL" />
    <result column="DEP_CY" property="DEP_CY" />
    <result column="RELATION_TYPE" property="RELATION_TYPE" />
    <result column="DEP_BRANCH" property="DEP_BRANCH" />
    <result column="INV_BRANCH" property="INV_BRANCH" />
    <result column="DEFAULT_EXPIRY" property="DEFAULT_EXPIRY" />
    <result column="APPROVED_BY" property="APPROVED_BY" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="DATE_APPROVED" property="DATE_APPROVED" />
    <result column="DATE_CREATED" property="DATE_CREATED" />
    <result column="DATE_MODIFIED" property="DATE_MODIFIED" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="STATUS" property="STATUS" />
    <result column="DATE_UPDATED" property="DATE_UPDATED" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH, CIF, COMP_CODE, LINE_NBR, SEQ, ACC_BRANCH, ACC_CURRENCY, ACC_GL_CODE, ACC_CIF_SUB_NO, 
    ACC_SL_NO, DEAL_TYPE, DEAL_NO, DEAL_AMT, DEAL_YIELD, COUNTRY, NOSTRO_GL, NOSTRO_CIF, 
    NOSTRO_SL, COUNTER_PARTY, PRODUCT_CLASS, DEAL_LINE_NO, INCLUDE_AC_MGMT_FEES, GAIN, 
    LOSS, CAPITAL_GL, CAPITAL_CIF, CAPITAL_SL, FUND_CASH_GL, FUND_CASH_CIF, FUND_CASH_SL, 
    FUND_CAPITAL_GL, FUND_CAPITAL_CIF, FUND_CAPITAL_SL, MARGIN_ACC_CY, MARGIN_ACC_GL, 
    MARGIN_ACC_CIF, MARGIN_ACC_SL, MARGIN_AMOUNT, MARGIN_PERCENT, INV_GL, INV_CIF, INV_SL, 
    DEP_GL, DEP_CIF, DEP_SL, DEP_CY, RELATION_TYPE, DEP_BRANCH, INV_BRANCH, DEFAULT_EXPIRY, 
    APPROVED_BY, CREATED_BY, DATE_APPROVED, DATE_CREATED, DATE_MODIFIED, MODIFIED_BY, 
    STATUS, DATE_UPDATED
  </sql>
  <select id="selectPMSPACPRF" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.PMSPACPRFVOKey" >
    select 
    <include refid="Base_Column_List" />
    from PMSPACPRF
    where BRANCH = #{BRANCH}
      and CIF = #{CIF}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NBR = #{LINE_NBR}
      and SEQ = #{SEQ}
  </select>
  <delete id="deletePMSPACPRF" parameterType="com.path.dbmaps.vo.PMSPACPRFVOKey" >
    delete from PMSPACPRF
    where BRANCH = #{BRANCH}
      and CIF = #{CIF}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NBR = #{LINE_NBR}
      and SEQ = #{SEQ}
  </delete>
  <insert id="insertPMSPACPRF" parameterType="com.path.dbmaps.vo.PMSPACPRFVO" >
    insert into PMSPACPRF
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH != null and BRANCH != emptyBigDecimalValue" >
        BRANCH,
      </if>
      <if test="CIF != null and CIF != emptyBigDecimalValue" >
        CIF,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NBR != null and LINE_NBR != emptyBigDecimalValue" >
        LINE_NBR,
      </if>
      <if test="SEQ != null and SEQ != emptyBigDecimalValue" >
        SEQ,
      </if>
      <if test="ACC_BRANCH != null and ACC_BRANCH != emptyBigDecimalValue" >
        ACC_BRANCH,
      </if>
      <if test="ACC_CURRENCY != null and ACC_CURRENCY != emptyBigDecimalValue" >
        ACC_CURRENCY,
      </if>
      <if test="ACC_GL_CODE != null and ACC_GL_CODE != emptyBigDecimalValue" >
        ACC_GL_CODE,
      </if>
      <if test="ACC_CIF_SUB_NO != null and ACC_CIF_SUB_NO != emptyBigDecimalValue" >
        ACC_CIF_SUB_NO,
      </if>
      <if test="ACC_SL_NO != null and ACC_SL_NO != emptyBigDecimalValue" >
        ACC_SL_NO,
      </if>
      <if test="DEAL_TYPE != null" >
        DEAL_TYPE,
      </if>
      <if test="DEAL_NO != null and DEAL_NO != emptyBigDecimalValue" >
        DEAL_NO,
      </if>
      <if test="DEAL_AMT != null and DEAL_AMT != emptyBigDecimalValue" >
        DEAL_AMT,
      </if>
      <if test="DEAL_YIELD != null and DEAL_YIELD != emptyBigDecimalValue" >
        DEAL_YIELD,
      </if>
      <if test="COUNTRY != null and COUNTRY != emptyBigDecimalValue" >
        COUNTRY,
      </if>
      <if test="NOSTRO_GL != null and NOSTRO_GL != emptyBigDecimalValue" >
        NOSTRO_GL,
      </if>
      <if test="NOSTRO_CIF != null and NOSTRO_CIF != emptyBigDecimalValue" >
        NOSTRO_CIF,
      </if>
      <if test="NOSTRO_SL != null and NOSTRO_SL != emptyBigDecimalValue" >
        NOSTRO_SL,
      </if>
      <if test="COUNTER_PARTY != null and COUNTER_PARTY != emptyBigDecimalValue" >
        COUNTER_PARTY,
      </if>
      <if test="PRODUCT_CLASS != null and PRODUCT_CLASS != emptyBigDecimalValue" >
        PRODUCT_CLASS,
      </if>
      <if test="DEAL_LINE_NO != null and DEAL_LINE_NO != emptyBigDecimalValue" >
        DEAL_LINE_NO,
      </if>
      <if test="INCLUDE_AC_MGMT_FEES != null" >
        INCLUDE_AC_MGMT_FEES,
      </if>
      <if test="GAIN != null" >
        GAIN,
      </if>
      <if test="LOSS != null" >
        LOSS,
      </if>
      <if test="CAPITAL_GL != null and CAPITAL_GL != emptyBigDecimalValue" >
        CAPITAL_GL,
      </if>
      <if test="CAPITAL_CIF != null and CAPITAL_CIF != emptyBigDecimalValue" >
        CAPITAL_CIF,
      </if>
      <if test="CAPITAL_SL != null and CAPITAL_SL != emptyBigDecimalValue" >
        CAPITAL_SL,
      </if>
      <if test="FUND_CASH_GL != null and FUND_CASH_GL != emptyBigDecimalValue" >
        FUND_CASH_GL,
      </if>
      <if test="FUND_CASH_CIF != null and FUND_CASH_CIF != emptyBigDecimalValue" >
        FUND_CASH_CIF,
      </if>
      <if test="FUND_CASH_SL != null and FUND_CASH_SL != emptyBigDecimalValue" >
        FUND_CASH_SL,
      </if>
      <if test="FUND_CAPITAL_GL != null and FUND_CAPITAL_GL != emptyBigDecimalValue" >
        FUND_CAPITAL_GL,
      </if>
      <if test="FUND_CAPITAL_CIF != null and FUND_CAPITAL_CIF != emptyBigDecimalValue" >
        FUND_CAPITAL_CIF,
      </if>
      <if test="FUND_CAPITAL_SL != null and FUND_CAPITAL_SL != emptyBigDecimalValue" >
        FUND_CAPITAL_SL,
      </if>
      <if test="MARGIN_ACC_CY != null and MARGIN_ACC_CY != emptyBigDecimalValue" >
        MARGIN_ACC_CY,
      </if>
      <if test="MARGIN_ACC_GL != null and MARGIN_ACC_GL != emptyBigDecimalValue" >
        MARGIN_ACC_GL,
      </if>
      <if test="MARGIN_ACC_CIF != null and MARGIN_ACC_CIF != emptyBigDecimalValue" >
        MARGIN_ACC_CIF,
      </if>
      <if test="MARGIN_ACC_SL != null and MARGIN_ACC_SL != emptyBigDecimalValue" >
        MARGIN_ACC_SL,
      </if>
      <if test="MARGIN_AMOUNT != null and MARGIN_AMOUNT != emptyBigDecimalValue" >
        MARGIN_AMOUNT,
      </if>
      <if test="MARGIN_PERCENT != null and MARGIN_PERCENT != emptyBigDecimalValue" >
        MARGIN_PERCENT,
      </if>
      <if test="INV_GL != null and INV_GL != emptyBigDecimalValue" >
        INV_GL,
      </if>
      <if test="INV_CIF != null and INV_CIF != emptyBigDecimalValue" >
        INV_CIF,
      </if>
      <if test="INV_SL != null and INV_SL != emptyBigDecimalValue" >
        INV_SL,
      </if>
      <if test="DEP_GL != null and DEP_GL != emptyBigDecimalValue" >
        DEP_GL,
      </if>
      <if test="DEP_CIF != null and DEP_CIF != emptyBigDecimalValue" >
        DEP_CIF,
      </if>
      <if test="DEP_SL != null and DEP_SL != emptyBigDecimalValue" >
        DEP_SL,
      </if>
      <if test="DEP_CY != null and DEP_CY != emptyBigDecimalValue" >
        DEP_CY,
      </if>
      <if test="RELATION_TYPE != null" >
        RELATION_TYPE,
      </if>
      <if test="DEP_BRANCH != null and DEP_BRANCH != emptyBigDecimalValue" >
        DEP_BRANCH,
      </if>
      <if test="INV_BRANCH != null and INV_BRANCH != emptyBigDecimalValue" >
        INV_BRANCH,
      </if>
      <if test="DEFAULT_EXPIRY != null" >
        DEFAULT_EXPIRY,
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED,
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED,
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED,
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      DATE_UPDATED,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH != null and BRANCH != emptyBigDecimalValue" >
        #{BRANCH},
      </if>
      <if test="CIF != null and CIF != emptyBigDecimalValue" >
        #{CIF},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NBR != null and LINE_NBR != emptyBigDecimalValue" >
        #{LINE_NBR},
      </if>
      <if test="SEQ != null and SEQ != emptyBigDecimalValue" >
        #{SEQ},
      </if>
      <if test="ACC_BRANCH != null and ACC_BRANCH != emptyBigDecimalValue" >
        #{ACC_BRANCH},
      </if>
      <if test="ACC_CURRENCY != null and ACC_CURRENCY != emptyBigDecimalValue" >
        #{ACC_CURRENCY},
      </if>
      <if test="ACC_GL_CODE != null and ACC_GL_CODE != emptyBigDecimalValue" >
        #{ACC_GL_CODE},
      </if>
      <if test="ACC_CIF_SUB_NO != null and ACC_CIF_SUB_NO != emptyBigDecimalValue" >
        #{ACC_CIF_SUB_NO},
      </if>
      <if test="ACC_SL_NO != null and ACC_SL_NO != emptyBigDecimalValue" >
        #{ACC_SL_NO},
      </if>
      <if test="DEAL_TYPE != null" >
        #{DEAL_TYPE},
      </if>
      <if test="DEAL_NO != null and DEAL_NO != emptyBigDecimalValue" >
        #{DEAL_NO},
      </if>
      <if test="DEAL_AMT != null and DEAL_AMT != emptyBigDecimalValue" >
        #{DEAL_AMT},
      </if>
      <if test="DEAL_YIELD != null and DEAL_YIELD != emptyBigDecimalValue" >
        #{DEAL_YIELD},
      </if>
      <if test="COUNTRY != null and COUNTRY != emptyBigDecimalValue" >
        #{COUNTRY},
      </if>
      <if test="NOSTRO_GL != null and NOSTRO_GL != emptyBigDecimalValue" >
        #{NOSTRO_GL},
      </if>
      <if test="NOSTRO_CIF != null and NOSTRO_CIF != emptyBigDecimalValue" >
        #{NOSTRO_CIF},
      </if>
      <if test="NOSTRO_SL != null and NOSTRO_SL != emptyBigDecimalValue" >
        #{NOSTRO_SL},
      </if>
      <if test="COUNTER_PARTY != null and COUNTER_PARTY != emptyBigDecimalValue" >
        #{COUNTER_PARTY},
      </if>
      <if test="PRODUCT_CLASS != null and PRODUCT_CLASS != emptyBigDecimalValue" >
        #{PRODUCT_CLASS},
      </if>
      <if test="DEAL_LINE_NO != null and DEAL_LINE_NO != emptyBigDecimalValue" >
        #{DEAL_LINE_NO},
      </if>
      <if test="INCLUDE_AC_MGMT_FEES != null" >
        #{INCLUDE_AC_MGMT_FEES},
      </if>
      <if test="GAIN != null" >
        #{GAIN},
      </if>
      <if test="LOSS != null" >
        #{LOSS},
      </if>
      <if test="CAPITAL_GL != null and CAPITAL_GL != emptyBigDecimalValue" >
        #{CAPITAL_GL},
      </if>
      <if test="CAPITAL_CIF != null and CAPITAL_CIF != emptyBigDecimalValue" >
        #{CAPITAL_CIF},
      </if>
      <if test="CAPITAL_SL != null and CAPITAL_SL != emptyBigDecimalValue" >
        #{CAPITAL_SL},
      </if>
      <if test="FUND_CASH_GL != null and FUND_CASH_GL != emptyBigDecimalValue" >
        #{FUND_CASH_GL},
      </if>
      <if test="FUND_CASH_CIF != null and FUND_CASH_CIF != emptyBigDecimalValue" >
        #{FUND_CASH_CIF},
      </if>
      <if test="FUND_CASH_SL != null and FUND_CASH_SL != emptyBigDecimalValue" >
        #{FUND_CASH_SL},
      </if>
      <if test="FUND_CAPITAL_GL != null and FUND_CAPITAL_GL != emptyBigDecimalValue" >
        #{FUND_CAPITAL_GL},
      </if>
      <if test="FUND_CAPITAL_CIF != null and FUND_CAPITAL_CIF != emptyBigDecimalValue" >
        #{FUND_CAPITAL_CIF},
      </if>
      <if test="FUND_CAPITAL_SL != null and FUND_CAPITAL_SL != emptyBigDecimalValue" >
        #{FUND_CAPITAL_SL},
      </if>
      <if test="MARGIN_ACC_CY != null and MARGIN_ACC_CY != emptyBigDecimalValue" >
        #{MARGIN_ACC_CY},
      </if>
      <if test="MARGIN_ACC_GL != null and MARGIN_ACC_GL != emptyBigDecimalValue" >
        #{MARGIN_ACC_GL},
      </if>
      <if test="MARGIN_ACC_CIF != null and MARGIN_ACC_CIF != emptyBigDecimalValue" >
        #{MARGIN_ACC_CIF},
      </if>
      <if test="MARGIN_ACC_SL != null and MARGIN_ACC_SL != emptyBigDecimalValue" >
        #{MARGIN_ACC_SL},
      </if>
      <if test="MARGIN_AMOUNT != null and MARGIN_AMOUNT != emptyBigDecimalValue" >
        #{MARGIN_AMOUNT},
      </if>
      <if test="MARGIN_PERCENT != null and MARGIN_PERCENT != emptyBigDecimalValue" >
        #{MARGIN_PERCENT},
      </if>
      <if test="INV_GL != null and INV_GL != emptyBigDecimalValue" >
        #{INV_GL},
      </if>
      <if test="INV_CIF != null and INV_CIF != emptyBigDecimalValue" >
        #{INV_CIF},
      </if>
      <if test="INV_SL != null and INV_SL != emptyBigDecimalValue" >
        #{INV_SL},
      </if>
      <if test="DEP_GL != null and DEP_GL != emptyBigDecimalValue" >
        #{DEP_GL},
      </if>
      <if test="DEP_CIF != null and DEP_CIF != emptyBigDecimalValue" >
        #{DEP_CIF},
      </if>
      <if test="DEP_SL != null and DEP_SL != emptyBigDecimalValue" >
        #{DEP_SL},
      </if>
      <if test="DEP_CY != null and DEP_CY != emptyBigDecimalValue" >
        #{DEP_CY},
      </if>
      <if test="RELATION_TYPE != null" >
        #{RELATION_TYPE},
      </if>
      <if test="DEP_BRANCH != null and DEP_BRANCH != emptyBigDecimalValue" >
        #{DEP_BRANCH},
      </if>
      <if test="INV_BRANCH != null and INV_BRANCH != emptyBigDecimalValue" >
        #{INV_BRANCH},
      </if>
      <if test="DEFAULT_EXPIRY != null" >
        #{DEFAULT_EXPIRY},
      </if>
      <if test="APPROVED_BY != null" >
        #{APPROVED_BY},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="DATE_APPROVED != null" >
        #{DATE_APPROVED},
      </if>
      <if test="DATE_CREATED != null" >
        #{DATE_CREATED},
      </if>
      <if test="DATE_MODIFIED != null" >
        #{DATE_MODIFIED},
      </if>
      <if test="MODIFIED_BY != null" >
        #{MODIFIED_BY},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
    </trim>
  </insert>
  <sql id="sql_updatePMSPACPRF" >
    update PMSPACPRF
    <set >
      <if test="ACC_BRANCH != null" >
        <choose >
          <when test="ACC_BRANCH == emptyBigDecimalValue" >
            ACC_BRANCH = NULL ,
          </when>
          <otherwise >
            ACC_BRANCH = #{ACC_BRANCH},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CURRENCY != null" >
        <choose >
          <when test="ACC_CURRENCY == emptyBigDecimalValue" >
            ACC_CURRENCY = NULL ,
          </when>
          <otherwise >
            ACC_CURRENCY = #{ACC_CURRENCY},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_GL_CODE != null" >
        <choose >
          <when test="ACC_GL_CODE == emptyBigDecimalValue" >
            ACC_GL_CODE = NULL ,
          </when>
          <otherwise >
            ACC_GL_CODE = #{ACC_GL_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CIF_SUB_NO != null" >
        <choose >
          <when test="ACC_CIF_SUB_NO == emptyBigDecimalValue" >
            ACC_CIF_SUB_NO = NULL ,
          </when>
          <otherwise >
            ACC_CIF_SUB_NO = #{ACC_CIF_SUB_NO},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_SL_NO != null" >
        <choose >
          <when test="ACC_SL_NO == emptyBigDecimalValue" >
            ACC_SL_NO = NULL ,
          </when>
          <otherwise >
            ACC_SL_NO = #{ACC_SL_NO},
          </otherwise>
        </choose>
      </if>
      <if test="DEAL_TYPE != null" >
        DEAL_TYPE = #{DEAL_TYPE},
      </if>
      <if test="DEAL_NO != null" >
        <choose >
          <when test="DEAL_NO == emptyBigDecimalValue" >
            DEAL_NO = NULL ,
          </when>
          <otherwise >
            DEAL_NO = #{DEAL_NO},
          </otherwise>
        </choose>
      </if>
      <if test="DEAL_AMT != null" >
        <choose >
          <when test="DEAL_AMT == emptyBigDecimalValue" >
            DEAL_AMT = NULL ,
          </when>
          <otherwise >
            DEAL_AMT = #{DEAL_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="DEAL_YIELD != null" >
        <choose >
          <when test="DEAL_YIELD == emptyBigDecimalValue" >
            DEAL_YIELD = NULL ,
          </when>
          <otherwise >
            DEAL_YIELD = #{DEAL_YIELD},
          </otherwise>
        </choose>
      </if>
      <if test="COUNTRY != null" >
        <choose >
          <when test="COUNTRY == emptyBigDecimalValue" >
            COUNTRY = NULL ,
          </when>
          <otherwise >
            COUNTRY = #{COUNTRY},
          </otherwise>
        </choose>
      </if>
      <if test="NOSTRO_GL != null" >
        <choose >
          <when test="NOSTRO_GL == emptyBigDecimalValue" >
            NOSTRO_GL = NULL ,
          </when>
          <otherwise >
            NOSTRO_GL = #{NOSTRO_GL},
          </otherwise>
        </choose>
      </if>
      <if test="NOSTRO_CIF != null" >
        <choose >
          <when test="NOSTRO_CIF == emptyBigDecimalValue" >
            NOSTRO_CIF = NULL ,
          </when>
          <otherwise >
            NOSTRO_CIF = #{NOSTRO_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="NOSTRO_SL != null" >
        <choose >
          <when test="NOSTRO_SL == emptyBigDecimalValue" >
            NOSTRO_SL = NULL ,
          </when>
          <otherwise >
            NOSTRO_SL = #{NOSTRO_SL},
          </otherwise>
        </choose>
      </if>
      <if test="COUNTER_PARTY != null" >
        <choose >
          <when test="COUNTER_PARTY == emptyBigDecimalValue" >
            COUNTER_PARTY = NULL ,
          </when>
          <otherwise >
            COUNTER_PARTY = #{COUNTER_PARTY},
          </otherwise>
        </choose>
      </if>
      <if test="PRODUCT_CLASS != null" >
        <choose >
          <when test="PRODUCT_CLASS == emptyBigDecimalValue" >
            PRODUCT_CLASS = NULL ,
          </when>
          <otherwise >
            PRODUCT_CLASS = #{PRODUCT_CLASS},
          </otherwise>
        </choose>
      </if>
      <if test="DEAL_LINE_NO != null" >
        <choose >
          <when test="DEAL_LINE_NO == emptyBigDecimalValue" >
            DEAL_LINE_NO = NULL ,
          </when>
          <otherwise >
            DEAL_LINE_NO = #{DEAL_LINE_NO},
          </otherwise>
        </choose>
      </if>
      <if test="INCLUDE_AC_MGMT_FEES != null" >
        INCLUDE_AC_MGMT_FEES = #{INCLUDE_AC_MGMT_FEES},
      </if>
      <if test="GAIN != null" >
        GAIN = #{GAIN},
      </if>
      <if test="LOSS != null" >
        LOSS = #{LOSS},
      </if>
      <if test="CAPITAL_GL != null" >
        <choose >
          <when test="CAPITAL_GL == emptyBigDecimalValue" >
            CAPITAL_GL = NULL ,
          </when>
          <otherwise >
            CAPITAL_GL = #{CAPITAL_GL},
          </otherwise>
        </choose>
      </if>
      <if test="CAPITAL_CIF != null" >
        <choose >
          <when test="CAPITAL_CIF == emptyBigDecimalValue" >
            CAPITAL_CIF = NULL ,
          </when>
          <otherwise >
            CAPITAL_CIF = #{CAPITAL_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="CAPITAL_SL != null" >
        <choose >
          <when test="CAPITAL_SL == emptyBigDecimalValue" >
            CAPITAL_SL = NULL ,
          </when>
          <otherwise >
            CAPITAL_SL = #{CAPITAL_SL},
          </otherwise>
        </choose>
      </if>
      <if test="FUND_CASH_GL != null" >
        <choose >
          <when test="FUND_CASH_GL == emptyBigDecimalValue" >
            FUND_CASH_GL = NULL ,
          </when>
          <otherwise >
            FUND_CASH_GL = #{FUND_CASH_GL},
          </otherwise>
        </choose>
      </if>
      <if test="FUND_CASH_CIF != null" >
        <choose >
          <when test="FUND_CASH_CIF == emptyBigDecimalValue" >
            FUND_CASH_CIF = NULL ,
          </when>
          <otherwise >
            FUND_CASH_CIF = #{FUND_CASH_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="FUND_CASH_SL != null" >
        <choose >
          <when test="FUND_CASH_SL == emptyBigDecimalValue" >
            FUND_CASH_SL = NULL ,
          </when>
          <otherwise >
            FUND_CASH_SL = #{FUND_CASH_SL},
          </otherwise>
        </choose>
      </if>
      <if test="FUND_CAPITAL_GL != null" >
        <choose >
          <when test="FUND_CAPITAL_GL == emptyBigDecimalValue" >
            FUND_CAPITAL_GL = NULL ,
          </when>
          <otherwise >
            FUND_CAPITAL_GL = #{FUND_CAPITAL_GL},
          </otherwise>
        </choose>
      </if>
      <if test="FUND_CAPITAL_CIF != null" >
        <choose >
          <when test="FUND_CAPITAL_CIF == emptyBigDecimalValue" >
            FUND_CAPITAL_CIF = NULL ,
          </when>
          <otherwise >
            FUND_CAPITAL_CIF = #{FUND_CAPITAL_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="FUND_CAPITAL_SL != null" >
        <choose >
          <when test="FUND_CAPITAL_SL == emptyBigDecimalValue" >
            FUND_CAPITAL_SL = NULL ,
          </when>
          <otherwise >
            FUND_CAPITAL_SL = #{FUND_CAPITAL_SL},
          </otherwise>
        </choose>
      </if>
      <if test="MARGIN_ACC_CY != null" >
        <choose >
          <when test="MARGIN_ACC_CY == emptyBigDecimalValue" >
            MARGIN_ACC_CY = NULL ,
          </when>
          <otherwise >
            MARGIN_ACC_CY = #{MARGIN_ACC_CY},
          </otherwise>
        </choose>
      </if>
      <if test="MARGIN_ACC_GL != null" >
        <choose >
          <when test="MARGIN_ACC_GL == emptyBigDecimalValue" >
            MARGIN_ACC_GL = NULL ,
          </when>
          <otherwise >
            MARGIN_ACC_GL = #{MARGIN_ACC_GL},
          </otherwise>
        </choose>
      </if>
      <if test="MARGIN_ACC_CIF != null" >
        <choose >
          <when test="MARGIN_ACC_CIF == emptyBigDecimalValue" >
            MARGIN_ACC_CIF = NULL ,
          </when>
          <otherwise >
            MARGIN_ACC_CIF = #{MARGIN_ACC_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="MARGIN_ACC_SL != null" >
        <choose >
          <when test="MARGIN_ACC_SL == emptyBigDecimalValue" >
            MARGIN_ACC_SL = NULL ,
          </when>
          <otherwise >
            MARGIN_ACC_SL = #{MARGIN_ACC_SL},
          </otherwise>
        </choose>
      </if>
      <if test="MARGIN_AMOUNT != null" >
        <choose >
          <when test="MARGIN_AMOUNT == emptyBigDecimalValue" >
            MARGIN_AMOUNT = NULL ,
          </when>
          <otherwise >
            MARGIN_AMOUNT = #{MARGIN_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="MARGIN_PERCENT != null" >
        <choose >
          <when test="MARGIN_PERCENT == emptyBigDecimalValue" >
            MARGIN_PERCENT = NULL ,
          </when>
          <otherwise >
            MARGIN_PERCENT = #{MARGIN_PERCENT},
          </otherwise>
        </choose>
      </if>
      <if test="INV_GL != null" >
        <choose >
          <when test="INV_GL == emptyBigDecimalValue" >
            INV_GL = NULL ,
          </when>
          <otherwise >
            INV_GL = #{INV_GL},
          </otherwise>
        </choose>
      </if>
      <if test="INV_CIF != null" >
        <choose >
          <when test="INV_CIF == emptyBigDecimalValue" >
            INV_CIF = NULL ,
          </when>
          <otherwise >
            INV_CIF = #{INV_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="INV_SL != null" >
        <choose >
          <when test="INV_SL == emptyBigDecimalValue" >
            INV_SL = NULL ,
          </when>
          <otherwise >
            INV_SL = #{INV_SL},
          </otherwise>
        </choose>
      </if>
      <if test="DEP_GL != null" >
        <choose >
          <when test="DEP_GL == emptyBigDecimalValue" >
            DEP_GL = NULL ,
          </when>
          <otherwise >
            DEP_GL = #{DEP_GL},
          </otherwise>
        </choose>
      </if>
      <if test="DEP_CIF != null" >
        <choose >
          <when test="DEP_CIF == emptyBigDecimalValue" >
            DEP_CIF = NULL ,
          </when>
          <otherwise >
            DEP_CIF = #{DEP_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="DEP_SL != null" >
        <choose >
          <when test="DEP_SL == emptyBigDecimalValue" >
            DEP_SL = NULL ,
          </when>
          <otherwise >
            DEP_SL = #{DEP_SL},
          </otherwise>
        </choose>
      </if>
      <if test="DEP_CY != null" >
        <choose >
          <when test="DEP_CY == emptyBigDecimalValue" >
            DEP_CY = NULL ,
          </when>
          <otherwise >
            DEP_CY = #{DEP_CY},
          </otherwise>
        </choose>
      </if>
      <if test="RELATION_TYPE != null" >
        RELATION_TYPE = #{RELATION_TYPE},
      </if>
      <if test="DEP_BRANCH != null" >
        <choose >
          <when test="DEP_BRANCH == emptyBigDecimalValue" >
            DEP_BRANCH = NULL ,
          </when>
          <otherwise >
            DEP_BRANCH = #{DEP_BRANCH},
          </otherwise>
        </choose>
      </if>
      <if test="INV_BRANCH != null" >
        <choose >
          <when test="INV_BRANCH == emptyBigDecimalValue" >
            INV_BRANCH = NULL ,
          </when>
          <otherwise >
            INV_BRANCH = #{INV_BRANCH},
          </otherwise>
        </choose>
      </if>
      <if test="DEFAULT_EXPIRY != null" >
        DEFAULT_EXPIRY = #{DEFAULT_EXPIRY},
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY = #{APPROVED_BY},
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED = #{DATE_APPROVED},
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED = #{DATE_CREATED},
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED = #{DATE_MODIFIED},
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY = #{MODIFIED_BY},
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      DATE_UPDATED = 
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
    </set>
    where BRANCH = #{BRANCH}
      and CIF = #{CIF}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NBR = #{LINE_NBR}
      and SEQ = #{SEQ}
  </sql>
  <update id="updatePMSPACPRF" parameterType="com.path.dbmaps.vo.PMSPACPRFVO" >
    <include refid="sql_updatePMSPACPRF" />
    <if test="DATE_UPDATED != null" >
      AND DATE_UPDATED = #{DATE_UPDATED}
    </if>
  </update>
</mapper>