<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="PMSSEC_TYPE" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.PMSSEC_TYPEVO" >
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <result column="BRIEF_NAME_ENG" property="BRIEF_NAME_ENG" />
    <result column="LONG_NAME_ENG" property="LONG_NAME_ENG" />
    <result column="BRIEF_NAME_ARAB" property="BRIEF_NAME_ARAB" />
    <result column="LONG_NAME_ARAB" property="LONG_NAME_ARAB" />
    <result column="INSTRUMENT" property="INSTRUMENT" />
    <result column="NBR_OF_SECURITY" property="NBR_OF_SECURITY" />
    <result column="OPTION_DETAILS" property="OPTION_DETAILS" />
    <result column="FUTURE_DETAILS" property="FUTURE_DETAILS" />
    <result column="LIMIT" property="LIMIT" />
    <result column="OPTION_TYPE" property="OPTION_TYPE" />
    <result column="CATEGORY" property="CATEGORY" />
    <result column="UNLISTED" property="UNLISTED" />
    <result column="SUB_REP_ID" property="SUB_REP_ID" />
    <result column="RED_REP_ID" property="RED_REP_ID" />
    <result column="CERTIFICATE_REP_ID" property="CERTIFICATE_REP_ID" />
    <result column="INCLUDE_AMORT" property="INCLUDE_AMORT" />
    <result column="REAL_ESTATE" property="REAL_ESTATE" />
    <result column="AFFECT_COST_REV" property="AFFECT_COST_REV" />
    <result column="INVEST_AC" property="INVEST_AC" />
    <result column="PROF_LOSS_AC" property="PROF_LOSS_AC" />
    <result column="SHOW_CLASS_CODE" property="SHOW_CLASS_CODE" />
    <result column="PREFIX" property="PREFIX" />
    <result column="TRD_TIME_MAND" property="TRD_TIME_MAND" />
    <result column="DIVISION" property="DIVISION" />
    <result column="DEPARTMENT" property="DEPARTMENT" />
    <result column="UNIT" property="UNIT" />
    <result column="RATE_CALC_METHOD" property="RATE_CALC_METHOD" />
    <result column="MANDATORY_STOCK_CODE" property="MANDATORY_STOCK_CODE" />
    <result column="STATUS" property="STATUS" />
    <result column="APPROVED_BY" property="APPROVED_BY" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="DATE_APPROVED" property="DATE_APPROVED" />
    <result column="DATE_CREATED" property="DATE_CREATED" />
    <result column="DATE_DELETED" property="DATE_DELETED" />
    <result column="DATE_MODIFIED" property="DATE_MODIFIED" />
    <result column="DELETED_BY" property="DELETED_BY" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="DATE_UPDATED" property="DATE_UPDATED" />
    <result column="SHARE_DIVIDENDS_DECIMAL_YN" property="SHARE_DIVIDENDS_DECIMAL_YN" />
  </resultMap>
  <sql id="Base_Column_List" >
    CODE, COMP_CODE, BRIEF_NAME_ENG, LONG_NAME_ENG, BRIEF_NAME_ARAB, LONG_NAME_ARAB, 
    INSTRUMENT, NBR_OF_SECURITY, OPTION_DETAILS, FUTURE_DETAILS, LIMIT, OPTION_TYPE, 
    CATEGORY, UNLISTED, SUB_REP_ID, RED_REP_ID, CERTIFICATE_REP_ID, INCLUDE_AMORT, REAL_ESTATE, 
    AFFECT_COST_REV, INVEST_AC, PROF_LOSS_AC, SHOW_CLASS_CODE, PREFIX, TRD_TIME_MAND, 
    DIVISION, DEPARTMENT, UNIT, RATE_CALC_METHOD, MANDATORY_STOCK_CODE, STATUS, APPROVED_BY, 
    CREATED_BY, DATE_APPROVED, DATE_CREATED, DATE_DELETED, DATE_MODIFIED, DELETED_BY, 
    MODIFIED_BY, DATE_UPDATED, SHARE_DIVIDENDS_DECIMAL_YN
  </sql>
  <select id="selectPMSSEC_TYPE" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.PMSSEC_TYPEVOKey" >
    select 
    <include refid="Base_Column_List" />
    from PMSSEC_TYPE
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </select>
  <delete id="deletePMSSEC_TYPE" parameterType="com.path.dbmaps.vo.PMSSEC_TYPEVOKey" >
    delete from PMSSEC_TYPE
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </delete>
  <insert id="insertPMSSEC_TYPE" parameterType="com.path.dbmaps.vo.PMSSEC_TYPEVO" >
    insert into PMSSEC_TYPE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="BRIEF_NAME_ENG != null" >
        BRIEF_NAME_ENG,
      </if>
      <if test="LONG_NAME_ENG != null" >
        LONG_NAME_ENG,
      </if>
      <if test="BRIEF_NAME_ARAB != null" >
        BRIEF_NAME_ARAB,
      </if>
      <if test="LONG_NAME_ARAB != null" >
        LONG_NAME_ARAB,
      </if>
      <if test="INSTRUMENT != null" >
        INSTRUMENT,
      </if>
      <if test="NBR_OF_SECURITY != null and NBR_OF_SECURITY != emptyBigDecimalValue" >
        NBR_OF_SECURITY,
      </if>
      <if test="OPTION_DETAILS != null and OPTION_DETAILS != emptyBigDecimalValue" >
        OPTION_DETAILS,
      </if>
      <if test="FUTURE_DETAILS != null and FUTURE_DETAILS != emptyBigDecimalValue" >
        FUTURE_DETAILS,
      </if>
      <if test="LIMIT != null and LIMIT != emptyBigDecimalValue" >
        LIMIT,
      </if>
      <if test="OPTION_TYPE != null" >
        OPTION_TYPE,
      </if>
      <if test="CATEGORY != null" >
        CATEGORY,
      </if>
      <if test="UNLISTED != null" >
        UNLISTED,
      </if>
      <if test="SUB_REP_ID != null and SUB_REP_ID != emptyBigDecimalValue" >
        SUB_REP_ID,
      </if>
      <if test="RED_REP_ID != null and RED_REP_ID != emptyBigDecimalValue" >
        RED_REP_ID,
      </if>
      <if test="CERTIFICATE_REP_ID != null and CERTIFICATE_REP_ID != emptyBigDecimalValue" >
        CERTIFICATE_REP_ID,
      </if>
      <if test="INCLUDE_AMORT != null" >
        INCLUDE_AMORT,
      </if>
      <if test="REAL_ESTATE != null" >
        REAL_ESTATE,
      </if>
      <if test="AFFECT_COST_REV != null" >
        AFFECT_COST_REV,
      </if>
      <if test="INVEST_AC != null" >
        INVEST_AC,
      </if>
      <if test="PROF_LOSS_AC != null" >
        PROF_LOSS_AC,
      </if>
      <if test="SHOW_CLASS_CODE != null" >
        SHOW_CLASS_CODE,
      </if>
      <if test="PREFIX != null" >
        PREFIX,
      </if>
      <if test="TRD_TIME_MAND != null" >
        TRD_TIME_MAND,
      </if>
      <if test="DIVISION != null and DIVISION != emptyBigDecimalValue" >
        DIVISION,
      </if>
      <if test="DEPARTMENT != null and DEPARTMENT != emptyBigDecimalValue" >
        DEPARTMENT,
      </if>
      <if test="UNIT != null and UNIT != emptyBigDecimalValue" >
        UNIT,
      </if>
      <if test="RATE_CALC_METHOD != null" >
        RATE_CALC_METHOD,
      </if>
      <if test="MANDATORY_STOCK_CODE != null" >
        MANDATORY_STOCK_CODE,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED,
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED,
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED,
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED,
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY,
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY,
      </if>
      DATE_UPDATED,
      <if test="SHARE_DIVIDENDS_DECIMAL_YN != null" >
        SHARE_DIVIDENDS_DECIMAL_YN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        #{CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="BRIEF_NAME_ENG != null" >
        #{BRIEF_NAME_ENG},
      </if>
      <if test="LONG_NAME_ENG != null" >
        #{LONG_NAME_ENG},
      </if>
      <if test="BRIEF_NAME_ARAB != null" >
        #{BRIEF_NAME_ARAB},
      </if>
      <if test="LONG_NAME_ARAB != null" >
        #{LONG_NAME_ARAB},
      </if>
      <if test="INSTRUMENT != null" >
        #{INSTRUMENT},
      </if>
      <if test="NBR_OF_SECURITY != null and NBR_OF_SECURITY != emptyBigDecimalValue" >
        #{NBR_OF_SECURITY},
      </if>
      <if test="OPTION_DETAILS != null and OPTION_DETAILS != emptyBigDecimalValue" >
        #{OPTION_DETAILS},
      </if>
      <if test="FUTURE_DETAILS != null and FUTURE_DETAILS != emptyBigDecimalValue" >
        #{FUTURE_DETAILS},
      </if>
      <if test="LIMIT != null and LIMIT != emptyBigDecimalValue" >
        #{LIMIT},
      </if>
      <if test="OPTION_TYPE != null" >
        #{OPTION_TYPE},
      </if>
      <if test="CATEGORY != null" >
        #{CATEGORY},
      </if>
      <if test="UNLISTED != null" >
        #{UNLISTED},
      </if>
      <if test="SUB_REP_ID != null and SUB_REP_ID != emptyBigDecimalValue" >
        #{SUB_REP_ID},
      </if>
      <if test="RED_REP_ID != null and RED_REP_ID != emptyBigDecimalValue" >
        #{RED_REP_ID},
      </if>
      <if test="CERTIFICATE_REP_ID != null and CERTIFICATE_REP_ID != emptyBigDecimalValue" >
        #{CERTIFICATE_REP_ID},
      </if>
      <if test="INCLUDE_AMORT != null" >
        #{INCLUDE_AMORT},
      </if>
      <if test="REAL_ESTATE != null" >
        #{REAL_ESTATE},
      </if>
      <if test="AFFECT_COST_REV != null" >
        #{AFFECT_COST_REV},
      </if>
      <if test="INVEST_AC != null" >
        #{INVEST_AC},
      </if>
      <if test="PROF_LOSS_AC != null" >
        #{PROF_LOSS_AC},
      </if>
      <if test="SHOW_CLASS_CODE != null" >
        #{SHOW_CLASS_CODE},
      </if>
      <if test="PREFIX != null" >
        #{PREFIX},
      </if>
      <if test="TRD_TIME_MAND != null" >
        #{TRD_TIME_MAND},
      </if>
      <if test="DIVISION != null and DIVISION != emptyBigDecimalValue" >
        #{DIVISION},
      </if>
      <if test="DEPARTMENT != null and DEPARTMENT != emptyBigDecimalValue" >
        #{DEPARTMENT},
      </if>
      <if test="UNIT != null and UNIT != emptyBigDecimalValue" >
        #{UNIT},
      </if>
      <if test="RATE_CALC_METHOD != null" >
        #{RATE_CALC_METHOD},
      </if>
      <if test="MANDATORY_STOCK_CODE != null" >
        #{MANDATORY_STOCK_CODE},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="APPROVED_BY != null" >
        #{APPROVED_BY},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="DATE_APPROVED != null" >
        #{DATE_APPROVED},
      </if>
      <if test="DATE_CREATED != null" >
        #{DATE_CREATED},
      </if>
      <if test="DATE_DELETED != null" >
        #{DATE_DELETED},
      </if>
      <if test="DATE_MODIFIED != null" >
        #{DATE_MODIFIED},
      </if>
      <if test="DELETED_BY != null" >
        #{DELETED_BY},
      </if>
      <if test="MODIFIED_BY != null" >
        #{MODIFIED_BY},
      </if>
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
      <if test="SHARE_DIVIDENDS_DECIMAL_YN != null" >
        #{SHARE_DIVIDENDS_DECIMAL_YN},
      </if>
    </trim>
  </insert>
  <sql id="sql_updatePMSSEC_TYPE" >
    update PMSSEC_TYPE
    <set >
      <if test="BRIEF_NAME_ENG != null" >
        BRIEF_NAME_ENG = #{BRIEF_NAME_ENG},
      </if>
      <if test="LONG_NAME_ENG != null" >
        LONG_NAME_ENG = #{LONG_NAME_ENG},
      </if>
      <if test="BRIEF_NAME_ARAB != null" >
        BRIEF_NAME_ARAB = #{BRIEF_NAME_ARAB},
      </if>
      <if test="LONG_NAME_ARAB != null" >
        LONG_NAME_ARAB = #{LONG_NAME_ARAB},
      </if>
      <if test="INSTRUMENT != null" >
        INSTRUMENT = #{INSTRUMENT},
      </if>
      <if test="NBR_OF_SECURITY != null" >
        <choose >
          <when test="NBR_OF_SECURITY == emptyBigDecimalValue" >
            NBR_OF_SECURITY = NULL ,
          </when>
          <otherwise >
            NBR_OF_SECURITY = #{NBR_OF_SECURITY},
          </otherwise>
        </choose>
      </if>
      <if test="OPTION_DETAILS != null" >
        <choose >
          <when test="OPTION_DETAILS == emptyBigDecimalValue" >
            OPTION_DETAILS = NULL ,
          </when>
          <otherwise >
            OPTION_DETAILS = #{OPTION_DETAILS},
          </otherwise>
        </choose>
      </if>
      <if test="FUTURE_DETAILS != null" >
        <choose >
          <when test="FUTURE_DETAILS == emptyBigDecimalValue" >
            FUTURE_DETAILS = NULL ,
          </when>
          <otherwise >
            FUTURE_DETAILS = #{FUTURE_DETAILS},
          </otherwise>
        </choose>
      </if>
      <if test="LIMIT != null" >
        <choose >
          <when test="LIMIT == emptyBigDecimalValue" >
            LIMIT = NULL ,
          </when>
          <otherwise >
            LIMIT = #{LIMIT},
          </otherwise>
        </choose>
      </if>
      <if test="OPTION_TYPE != null" >
        OPTION_TYPE = #{OPTION_TYPE},
      </if>
      <if test="CATEGORY != null" >
        CATEGORY = #{CATEGORY},
      </if>
      <if test="UNLISTED != null" >
        UNLISTED = #{UNLISTED},
      </if>
      <if test="SUB_REP_ID != null" >
        <choose >
          <when test="SUB_REP_ID == emptyBigDecimalValue" >
            SUB_REP_ID = NULL ,
          </when>
          <otherwise >
            SUB_REP_ID = #{SUB_REP_ID},
          </otherwise>
        </choose>
      </if>
      <if test="RED_REP_ID != null" >
        <choose >
          <when test="RED_REP_ID == emptyBigDecimalValue" >
            RED_REP_ID = NULL ,
          </when>
          <otherwise >
            RED_REP_ID = #{RED_REP_ID},
          </otherwise>
        </choose>
      </if>
      <if test="CERTIFICATE_REP_ID != null" >
        <choose >
          <when test="CERTIFICATE_REP_ID == emptyBigDecimalValue" >
            CERTIFICATE_REP_ID = NULL ,
          </when>
          <otherwise >
            CERTIFICATE_REP_ID = #{CERTIFICATE_REP_ID},
          </otherwise>
        </choose>
      </if>
      <if test="INCLUDE_AMORT != null" >
        INCLUDE_AMORT = #{INCLUDE_AMORT},
      </if>
      <if test="REAL_ESTATE != null" >
        REAL_ESTATE = #{REAL_ESTATE},
      </if>
      <if test="AFFECT_COST_REV != null" >
        AFFECT_COST_REV = #{AFFECT_COST_REV},
      </if>
      <if test="INVEST_AC != null" >
        INVEST_AC = #{INVEST_AC},
      </if>
      <if test="PROF_LOSS_AC != null" >
        PROF_LOSS_AC = #{PROF_LOSS_AC},
      </if>
      <if test="SHOW_CLASS_CODE != null" >
        SHOW_CLASS_CODE = #{SHOW_CLASS_CODE},
      </if>
      <if test="PREFIX != null" >
        PREFIX = #{PREFIX},
      </if>
      <if test="TRD_TIME_MAND != null" >
        TRD_TIME_MAND = #{TRD_TIME_MAND},
      </if>
      <if test="DIVISION != null" >
        <choose >
          <when test="DIVISION == emptyBigDecimalValue" >
            DIVISION = NULL ,
          </when>
          <otherwise >
            DIVISION = #{DIVISION},
          </otherwise>
        </choose>
      </if>
      <if test="DEPARTMENT != null" >
        <choose >
          <when test="DEPARTMENT == emptyBigDecimalValue" >
            DEPARTMENT = NULL ,
          </when>
          <otherwise >
            DEPARTMENT = #{DEPARTMENT},
          </otherwise>
        </choose>
      </if>
      <if test="UNIT != null" >
        <choose >
          <when test="UNIT == emptyBigDecimalValue" >
            UNIT = NULL ,
          </when>
          <otherwise >
            UNIT = #{UNIT},
          </otherwise>
        </choose>
      </if>
      <if test="RATE_CALC_METHOD != null" >
        RATE_CALC_METHOD = #{RATE_CALC_METHOD},
      </if>
      <if test="MANDATORY_STOCK_CODE != null" >
        MANDATORY_STOCK_CODE = #{MANDATORY_STOCK_CODE},
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY = #{APPROVED_BY},
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED = #{DATE_APPROVED},
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED = #{DATE_CREATED},
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED = #{DATE_DELETED},
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED = #{DATE_MODIFIED},
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY = #{DELETED_BY},
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY = #{MODIFIED_BY},
      </if>
      DATE_UPDATED = 
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
      <if test="SHARE_DIVIDENDS_DECIMAL_YN != null" >
        SHARE_DIVIDENDS_DECIMAL_YN = #{SHARE_DIVIDENDS_DECIMAL_YN},
      </if>
    </set>
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </sql>
  <update id="updatePMSSEC_TYPE" parameterType="com.path.dbmaps.vo.PMSSEC_TYPEVO" >
    <include refid="sql_updatePMSSEC_TYPE" />
    <if test="DATE_UPDATED != null" >
      AND DATE_UPDATED = #{DATE_UPDATED}
    </if>
  </update>
</mapper>