<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="PWS_OPERATION" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.PWS_OPERATIONVO" >
    <id column="OPERATION_ID" property="OPERATION_ID" />
    <result column="APP_NAME" property="APP_NAME" />
    <result column="BUSINESS_AREA" property="BUSINESS_AREA" />
    <result column="BUSINESS_DOMAIN" property="BUSINESS_DOMAIN" />
    <result column="SERVICE_DOMAIN" property="SERVICE_DOMAIN" />
    <result column="VERSION" property="VERSION" />
    <result column="SERVICE_ID" property="SERVICE_ID" />
    <result column="OPERATION_NAME" property="OPERATION_NAME" />
    <result column="SERVICE_NAME" property="SERVICE_NAME" />
    <result column="MAPPED_TO" property="MAPPED_TO" />
    <result column="STATUS" property="STATUS" />
    <result column="API_NAME" property="API_NAME" />
    <result column="DB_ID" property="DB_ID" />
    <result column="DB_NAME" property="DB_NAME" />
  </resultMap>
  <sql id="Base_Column_List" >
    OPERATION_ID, APP_NAME, BUSINESS_AREA, BUSINESS_DOMAIN, SERVICE_DOMAIN, VERSION, 
    SERVICE_ID, OPERATION_NAME, SERVICE_NAME, MAPPED_TO, STATUS, API_NAME, DB_ID, DB_NAME
  </sql>
  <select id="selectPWS_OPERATION" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.PWS_OPERATIONVO" >
    select 
    <include refid="Base_Column_List" />
    from PWS_OPERATION
    where OPERATION_ID = #{OPERATION_ID}
  </select>
  <delete id="deletePWS_OPERATION" parameterType="com.path.dbmaps.vo.PWS_OPERATIONVO" >
    delete from PWS_OPERATION
    where OPERATION_ID = #{OPERATION_ID}
  </delete>
  <insert id="insertPWS_OPERATION" parameterType="com.path.dbmaps.vo.PWS_OPERATIONVO" >
    insert into PWS_OPERATION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="OPERATION_ID != null" >
        OPERATION_ID,
      </if>
      <if test="APP_NAME != null and !&quot;&quot;.equals(APP_NAME)" >
        APP_NAME,
      </if>
      <if test="BUSINESS_AREA != null and !&quot;&quot;.equals(BUSINESS_AREA)" >
        BUSINESS_AREA,
      </if>
      <if test="BUSINESS_DOMAIN != null and !&quot;&quot;.equals(BUSINESS_DOMAIN)" >
        BUSINESS_DOMAIN,
      </if>
      <if test="SERVICE_DOMAIN != null and !&quot;&quot;.equals(SERVICE_DOMAIN)" >
        SERVICE_DOMAIN,
      </if>
      <if test="VERSION != null and !&quot;&quot;.equals(VERSION)" >
        VERSION,
      </if>
      <if test="SERVICE_ID != null" >
        SERVICE_ID,
      </if>
      <if test="OPERATION_NAME != null and !&quot;&quot;.equals(OPERATION_NAME)" >
        OPERATION_NAME,
      </if>
      <if test="SERVICE_NAME != null and !&quot;&quot;.equals(SERVICE_NAME)" >
        SERVICE_NAME,
      </if>
      <if test="MAPPED_TO != null and !&quot;&quot;.equals(MAPPED_TO)" >
        MAPPED_TO,
      </if>
      <if test="STATUS != null and !&quot;&quot;.equals(STATUS)" >
        STATUS,
      </if>
      <if test="API_NAME != null and !&quot;&quot;.equals(API_NAME)" >
        API_NAME,
      </if>
      <if test="DB_ID != null and !&quot;&quot;.equals(DB_ID)" >
        DB_ID,
      </if>
      <if test="DB_NAME != null and !&quot;&quot;.equals(DB_NAME)" >
        DB_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="OPERATION_ID != null" >
        #{OPERATION_ID},
      </if>
      <if test="APP_NAME != null and !&quot;&quot;.equals(APP_NAME)" >
        #{APP_NAME},
      </if>
      <if test="BUSINESS_AREA != null and !&quot;&quot;.equals(BUSINESS_AREA)" >
        #{BUSINESS_AREA},
      </if>
      <if test="BUSINESS_DOMAIN != null and !&quot;&quot;.equals(BUSINESS_DOMAIN)" >
        #{BUSINESS_DOMAIN},
      </if>
      <if test="SERVICE_DOMAIN != null and !&quot;&quot;.equals(SERVICE_DOMAIN)" >
        #{SERVICE_DOMAIN},
      </if>
      <if test="VERSION != null and !&quot;&quot;.equals(VERSION)" >
        #{VERSION},
      </if>
      <if test="SERVICE_ID != null" >
        #{SERVICE_ID},
      </if>
      <if test="OPERATION_NAME != null and !&quot;&quot;.equals(OPERATION_NAME)" >
        #{OPERATION_NAME},
      </if>
      <if test="SERVICE_NAME != null and !&quot;&quot;.equals(SERVICE_NAME)" >
        #{SERVICE_NAME},
      </if>
      <if test="MAPPED_TO != null and !&quot;&quot;.equals(MAPPED_TO)" >
        #{MAPPED_TO},
      </if>
      <if test="STATUS != null and !&quot;&quot;.equals(STATUS)" >
        #{STATUS},
      </if>
      <if test="API_NAME != null and !&quot;&quot;.equals(API_NAME)" >
        #{API_NAME},
      </if>
      <if test="DB_ID != null and !&quot;&quot;.equals(DB_ID)" >
        #{DB_ID},
      </if>
      <if test="DB_NAME != null and !&quot;&quot;.equals(DB_NAME)" >
        #{DB_NAME},
      </if>
    </trim>
  </insert>
  <sql id="sql_updatePWS_OPERATION" >
    update PWS_OPERATION
    <set >
      <if test="APP_NAME != null" >
        <choose >
          <when test="APP_NAME.equals(&quot;&quot;)" >
            APP_NAME = NULL ,
          </when>
          <otherwise >
            APP_NAME = #{APP_NAME},
          </otherwise>
        </choose>
      </if>
      <if test="BUSINESS_AREA != null" >
        <choose >
          <when test="BUSINESS_AREA.equals(&quot;&quot;)" >
            BUSINESS_AREA = NULL ,
          </when>
          <otherwise >
            BUSINESS_AREA = #{BUSINESS_AREA},
          </otherwise>
        </choose>
      </if>
      <if test="BUSINESS_DOMAIN != null" >
        <choose >
          <when test="BUSINESS_DOMAIN.equals(&quot;&quot;)" >
            BUSINESS_DOMAIN = NULL ,
          </when>
          <otherwise >
            BUSINESS_DOMAIN = #{BUSINESS_DOMAIN},
          </otherwise>
        </choose>
      </if>
      <if test="SERVICE_DOMAIN != null" >
        <choose >
          <when test="SERVICE_DOMAIN.equals(&quot;&quot;)" >
            SERVICE_DOMAIN = NULL ,
          </when>
          <otherwise >
            SERVICE_DOMAIN = #{SERVICE_DOMAIN},
          </otherwise>
        </choose>
      </if>
      <if test="VERSION != null" >
        <choose >
          <when test="VERSION.equals(&quot;&quot;)" >
            VERSION = NULL ,
          </when>
          <otherwise >
            VERSION = #{VERSION},
          </otherwise>
        </choose>
      </if>
      <if test="SERVICE_ID != null" >
        SERVICE_ID = #{SERVICE_ID},
      </if>
      <if test="OPERATION_NAME != null" >
        <choose >
          <when test="OPERATION_NAME.equals(&quot;&quot;)" >
            OPERATION_NAME = NULL ,
          </when>
          <otherwise >
            OPERATION_NAME = #{OPERATION_NAME},
          </otherwise>
        </choose>
      </if>
      <if test="SERVICE_NAME != null" >
        <choose >
          <when test="SERVICE_NAME.equals(&quot;&quot;)" >
            SERVICE_NAME = NULL ,
          </when>
          <otherwise >
            SERVICE_NAME = #{SERVICE_NAME},
          </otherwise>
        </choose>
      </if>
      <if test="MAPPED_TO != null" >
        <choose >
          <when test="MAPPED_TO.equals(&quot;&quot;)" >
            MAPPED_TO = NULL ,
          </when>
          <otherwise >
            MAPPED_TO = #{MAPPED_TO},
          </otherwise>
        </choose>
      </if>
      <if test="STATUS != null" >
        <choose >
          <when test="STATUS.equals(&quot;&quot;)" >
            STATUS = NULL ,
          </when>
          <otherwise >
            STATUS = #{STATUS},
          </otherwise>
        </choose>
      </if>
      <if test="API_NAME != null" >
        <choose >
          <when test="API_NAME.equals(&quot;&quot;)" >
            API_NAME = NULL ,
          </when>
          <otherwise >
            API_NAME = #{API_NAME},
          </otherwise>
        </choose>
      </if>
      <if test="DB_ID != null" >
        <choose >
          <when test="DB_ID.equals(&quot;&quot;)" >
            DB_ID = NULL ,
          </when>
          <otherwise >
            DB_ID = #{DB_ID},
          </otherwise>
        </choose>
      </if>
      <if test="DB_NAME != null" >
        <choose >
          <when test="DB_NAME.equals(&quot;&quot;)" >
            DB_NAME = NULL ,
          </when>
          <otherwise >
            DB_NAME = #{DB_NAME},
          </otherwise>
        </choose>
      </if>
    </set>
    where OPERATION_ID = #{OPERATION_ID}
  </sql>
  <update id="updatePWS_OPERATION" parameterType="com.path.dbmaps.vo.PWS_OPERATIONVO" >
    <include refid="sql_updatePWS_OPERATION" />
  </update>
</mapper>