<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="PWS_OPERATION_FIELDS" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.PWS_OPERATION_FIELDSVO" >
    <id column="FIELD_ID" property="FIELD_ID" />
    <result column="OPERATION_ID" property="OPERATION_ID" />
    <result column="PARAMETER_NAME" property="PARAMETER_NAME" />
    <result column="DESCRIPTION" property="DESCRIPTION" />
    <result column="TYPE" property="TYPE" />
    <result column="MANDATORY" property="MANDATORY" />
    <result column="IN_OUT" property="IN_OUT" />
    <result column="DEFAULT_VALUE" property="DEFAULT_VALUE" />
    <result column="MAPPING_FIELD" property="MAPPING_FIELD" />
    <result column="NILLABLE" property="NILLABLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    FIELD_ID, OPERATION_ID, PARAMETER_NAME, DESCRIPTION, TYPE, MANDATORY, IN_OUT, DEFAULT_VALUE, 
    MAPPING_FIELD, NILLABLE
  </sql>
  <select id="selectPWS_OPERATION_FIELDS" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.PWS_OPERATION_FIELDSVO" >
    select 
    <include refid="Base_Column_List" />
    from PWS_OPERATION_FIELDS
    where FIELD_ID = #{FIELD_ID}
  </select>
  <delete id="deletePWS_OPERATION_FIELDS" parameterType="com.path.dbmaps.vo.PWS_OPERATION_FIELDSVO" >
    delete from PWS_OPERATION_FIELDS
    where FIELD_ID = #{FIELD_ID}
  </delete>
  <insert id="insertPWS_OPERATION_FIELDS" parameterType="com.path.dbmaps.vo.PWS_OPERATION_FIELDSVO" >
    insert into PWS_OPERATION_FIELDS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="FIELD_ID != null" >
        FIELD_ID,
      </if>
      <if test="OPERATION_ID != null" >
        OPERATION_ID,
      </if>
      <if test="PARAMETER_NAME != null and !&quot;&quot;.equals(PARAMETER_NAME)" >
        PARAMETER_NAME,
      </if>
      <if test="DESCRIPTION != null and !&quot;&quot;.equals(DESCRIPTION)" >
        DESCRIPTION,
      </if>
      <if test="TYPE != null and !&quot;&quot;.equals(TYPE)" >
        TYPE,
      </if>
      <if test="MANDATORY != null and !&quot;&quot;.equals(MANDATORY)" >
        MANDATORY,
      </if>
      <if test="IN_OUT != null and !&quot;&quot;.equals(IN_OUT)" >
        IN_OUT,
      </if>
      <if test="DEFAULT_VALUE != null and !&quot;&quot;.equals(DEFAULT_VALUE)" >
        DEFAULT_VALUE,
      </if>
      <if test="MAPPING_FIELD != null and !&quot;&quot;.equals(MAPPING_FIELD)" >
        MAPPING_FIELD,
      </if>
      <if test="NILLABLE != null and !&quot;&quot;.equals(NILLABLE)" >
        NILLABLE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="FIELD_ID != null" >
        #{FIELD_ID},
      </if>
      <if test="OPERATION_ID != null" >
        #{OPERATION_ID},
      </if>
      <if test="PARAMETER_NAME != null and !&quot;&quot;.equals(PARAMETER_NAME)" >
        #{PARAMETER_NAME},
      </if>
      <if test="DESCRIPTION != null and !&quot;&quot;.equals(DESCRIPTION)" >
        #{DESCRIPTION},
      </if>
      <if test="TYPE != null and !&quot;&quot;.equals(TYPE)" >
        #{TYPE},
      </if>
      <if test="MANDATORY != null and !&quot;&quot;.equals(MANDATORY)" >
        #{MANDATORY},
      </if>
      <if test="IN_OUT != null and !&quot;&quot;.equals(IN_OUT)" >
        #{IN_OUT},
      </if>
      <if test="DEFAULT_VALUE != null and !&quot;&quot;.equals(DEFAULT_VALUE)" >
        #{DEFAULT_VALUE},
      </if>
      <if test="MAPPING_FIELD != null and !&quot;&quot;.equals(MAPPING_FIELD)" >
        #{MAPPING_FIELD},
      </if>
      <if test="NILLABLE != null and !&quot;&quot;.equals(NILLABLE)" >
        #{NILLABLE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updatePWS_OPERATION_FIELDS" >
    update PWS_OPERATION_FIELDS
    <set >
      <if test="OPERATION_ID != null" >
        OPERATION_ID = #{OPERATION_ID},
      </if>
      <if test="PARAMETER_NAME != null" >
        <choose >
          <when test="PARAMETER_NAME.equals(&quot;&quot;)" >
            PARAMETER_NAME = NULL ,
          </when>
          <otherwise >
            PARAMETER_NAME = #{PARAMETER_NAME},
          </otherwise>
        </choose>
      </if>
      <if test="DESCRIPTION != null" >
        <choose >
          <when test="DESCRIPTION.equals(&quot;&quot;)" >
            DESCRIPTION = NULL ,
          </when>
          <otherwise >
            DESCRIPTION = #{DESCRIPTION},
          </otherwise>
        </choose>
      </if>
      <if test="TYPE != null" >
        <choose >
          <when test="TYPE.equals(&quot;&quot;)" >
            TYPE = NULL ,
          </when>
          <otherwise >
            TYPE = #{TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="MANDATORY != null" >
        <choose >
          <when test="MANDATORY.equals(&quot;&quot;)" >
            MANDATORY = NULL ,
          </when>
          <otherwise >
            MANDATORY = #{MANDATORY},
          </otherwise>
        </choose>
      </if>
      <if test="IN_OUT != null" >
        <choose >
          <when test="IN_OUT.equals(&quot;&quot;)" >
            IN_OUT = NULL ,
          </when>
          <otherwise >
            IN_OUT = #{IN_OUT},
          </otherwise>
        </choose>
      </if>
      <if test="DEFAULT_VALUE != null" >
        <choose >
          <when test="DEFAULT_VALUE.equals(&quot;&quot;)" >
            DEFAULT_VALUE = NULL ,
          </when>
          <otherwise >
            DEFAULT_VALUE = #{DEFAULT_VALUE},
          </otherwise>
        </choose>
      </if>
      <if test="MAPPING_FIELD != null" >
        <choose >
          <when test="MAPPING_FIELD.equals(&quot;&quot;)" >
            MAPPING_FIELD = NULL ,
          </when>
          <otherwise >
            MAPPING_FIELD = #{MAPPING_FIELD},
          </otherwise>
        </choose>
      </if>
      <if test="NILLABLE != null" >
        <choose >
          <when test="NILLABLE.equals(&quot;&quot;)" >
            NILLABLE = NULL ,
          </when>
          <otherwise >
            NILLABLE = #{NILLABLE},
          </otherwise>
        </choose>
      </if>
    </set>
    where FIELD_ID = #{FIELD_ID}
  </sql>
  <update id="updatePWS_OPERATION_FIELDS" parameterType="com.path.dbmaps.vo.PWS_OPERATION_FIELDSVO" >
    <include refid="sql_updatePWS_OPERATION_FIELDS" />
  </update>
</mapper>