<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="REVAL_REPORT" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.REVAL_REPORTVO" >
    <result column="COMP_CODE" property="COMP_CODE" />
    <result column="BRANCH_CODE" property="BRANCH_CODE" />
    <result column="USER_ID" property="USER_ID" />
    <result column="ERR_CODE" property="ERR_CODE" />
    <result column="ERR_MESSAGE" property="ERR_MESSAGE" />
    <result column="TEST_DTE" property="TEST_DTE" />
  </resultMap>
  <insert id="insertREVAL_REPORT" parameterType="com.path.dbmaps.vo.REVAL_REPORTVO" >
    insert into REVAL_REPORT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="USER_ID != null" >
        USER_ID,
      </if>
      <if test="ERR_CODE != null and ERR_CODE != emptyBigDecimalValue" >
        ERR_CODE,
      </if>
      <if test="ERR_MESSAGE != null" >
        ERR_MESSAGE,
      </if>
      <if test="TEST_DTE != null" >
        TEST_DTE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="USER_ID != null" >
        #{USER_ID},
      </if>
      <if test="ERR_CODE != null and ERR_CODE != emptyBigDecimalValue" >
        #{ERR_CODE},
      </if>
      <if test="ERR_MESSAGE != null" >
        #{ERR_MESSAGE},
      </if>
      <if test="TEST_DTE != null" >
        #{TEST_DTE},
      </if>
    </trim>
  </insert>
</mapper>