<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="RIFCTT" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.RIFCTTVO" >
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="TYPE_CODE" property="TYPE_CODE" />
    <result column="BRIEF_DESC_ENG" property="BRIEF_DESC_ENG" />
    <result column="LONG_DESC_ENG" property="LONG_DESC_ENG" />
    <result column="BRIEF_DESC_ARAB" property="BRIEF_DESC_ARAB" />
    <result column="LONG_DESC_ARAB" property="LONG_DESC_ARAB" />
    <result column="CLIENT" property="CLIENT" />
    <result column="BANK" property="BANK" />
    <result column="VT_IND" property="VT_IND" />
    <result column="ADDITIONAL_REFERENCE" property="ADDITIONAL_REFERENCE" />
    <result column="LEGAL_STATUS_MAND" property="LEGAL_STATUS_MAND" />
    <result column="LEGAL_STATUS" property="LEGAL_STATUS" />
    <result column="MIN_AGE" property="MIN_AGE" />
    <result column="MIN_AGE_PROCEED" property="MIN_AGE_PROCEED" />
    <result column="PASSPORT_MANDATORY" property="PASSPORT_MANDATORY" />
    <result column="JOINT_ACCOUNTS" property="JOINT_ACCOUNTS" />
    <result column="MAX_AGE" property="MAX_AGE" />
    <result column="DEFAULT_PRIORITY" property="DEFAULT_PRIORITY" />
    <result column="DEFAULT_ECO_SECTOR" property="DEFAULT_ECO_SECTOR" />
    <result column="VALIDATE_CID" property="VALIDATE_CID" />
    <result column="DEFAULT_CIVIL_CODE" property="DEFAULT_CIVIL_CODE" />
    <result column="DEFAULT_ID_TYPE" property="DEFAULT_ID_TYPE" />
    <result column="DEFAULT_SUB_ECO_SECTOR" property="DEFAULT_SUB_ECO_SECTOR" />
    <result column="DEFAULT_NATIONALITY" property="DEFAULT_NATIONALITY" />
    <result column="DEFAULT_ESTAB_PLACE" property="DEFAULT_ESTAB_PLACE" />
    <result column="DEFAULT_ROLE_CODE" property="DEFAULT_ROLE_CODE" />
    <result column="ALLOW_CHANGE_IDTYPE" property="ALLOW_CHANGE_IDTYPE" />
    <result column="STAFF" property="STAFF" />
    <result column="CHECK_LINK_MINOR_CIF" property="CHECK_LINK_MINOR_CIF" />
    <result column="SHOW_CB_SECRET_NUM" property="SHOW_CB_SECRET_NUM" />
    <result column="ALLOW_JOINT_CIF" property="ALLOW_JOINT_CIF" />
    <result column="ID_TYPE_MAND" property="ID_TYPE_MAND" />
    <result column="DEFAULT_INFO_FROM_JOINT_CIF" property="DEFAULT_INFO_FROM_JOINT_CIF" />
    <result column="COMENT" property="COMENT" />
    <result column="PROTECT_JOINT_INFO" property="PROTECT_JOINT_INFO" />
    <result column="BASLE_BS_LINE" property="BASLE_BS_LINE" />
    <result column="INTEREST_BREAK_DOWN" property="INTEREST_BREAK_DOWN" />
    <result column="DOUBTFULL" property="DOUBTFULL" />
    <result column="SIGNATURE_IS_MAND" property="SIGNATURE_IS_MAND" />
    <result column="ALLOW_ACC_NAME_CHANGE" property="ALLOW_ACC_NAME_CHANGE" />
    <result column="MAX_AGE_PROCEED" property="MAX_AGE_PROCEED" />
    <result column="CIF_TYPE_GROUP" property="CIF_TYPE_GROUP" />
    <result column="ID_NO_MAND" property="ID_NO_MAND" />
    <result column="ALLOW_KYC_NOT_COMPLETED" property="ALLOW_KYC_NOT_COMPLETED" />
    <result column="FORBID_DEBIT_ON" property="FORBID_DEBIT_ON" />
    <result column="CREATE_MEMO_INCOMPLETE_KYC" property="CREATE_MEMO_INCOMPLETE_KYC" />
    <result column="ENTITY_TYPE" property="ENTITY_TYPE" />
    <result column="FORBID_PRODUCT" property="FORBID_PRODUCT" />
    <result column="FORBID_RESTRICT_TRX" property="FORBID_RESTRICT_TRX" />
    <result column="REGISTER_NO_UNIQUE" property="REGISTER_NO_UNIQUE" />
    <result column="CIF_CATEG_DEFAULT" property="CIF_CATEG_DEFAULT" />
    <result column="RESIDENCE_COUNTRY_MAND" property="RESIDENCE_COUNTRY_MAND" />
    <result column="MAIL_STMT" property="MAIL_STMT" />
    <result column="MEMBER_DETAILS_MAND_YN" property="MEMBER_DETAILS_MAND_YN" />
    <result column="KYC_MANDATORY_YN" property="KYC_MANDATORY_YN" />
    <result column="APPLY_CORPORATE_KYC_YN" property="APPLY_CORPORATE_KYC_YN" />
    <result column="ALLOW_PROCEED_OUTSTANDING_YN" property="ALLOW_PROCEED_OUTSTANDING_YN" />
    <result column="POSTAL_CODE_MANDATORY" property="POSTAL_CODE_MANDATORY" />
    <result column="MANDATORY_ADDRESS" 	   property="MANDATORY_ADDRESS" />
    <result column="POBOX_MANDATORY" 	   property="POBOX_MANDATORY" />
    <result column="REGION_MANDATORY" 	   property="REGION_MANDATORY" />
    <result column="TEL_MANDATORY_YN" 	   property="TEL_MANDATORY_YN" />
    <result column="CAPITAL_PRCNTG_MANDATORY_YN" 	   property="CAPITAL_PRCNTG_MANDATORY_YN" />
    <result column="ALLOW_BVN_YN" property="ALLOW_BVN_YN" />
    <result column="DISABLE_MARITAL_STATUS_YN" property="DISABLE_MARITAL_STATUS_YN" />
    <result column="ECO_SEC_PROFESSION_MATRIX" property="ECO_SEC_PROFESSION_MATRIX" />
    <result column="MAX_TOTAL_CAPITAL_PERC" property="MAX_TOTAL_CAPITAL_PERC" />
    <result column="MIN_TOTAL_CAPITAL_PERC" property="MIN_TOTAL_CAPITAL_PERC" />
    
  </resultMap>
  
  <sql id="Base_Column_List" >
    COMP_CODE, TYPE_CODE, BRIEF_DESC_ENG, LONG_DESC_ENG, BRIEF_DESC_ARAB, LONG_DESC_ARAB, 
    CLIENT, BANK, VT_IND, ADDITIONAL_REFERENCE, LEGAL_STATUS_MAND, LEGAL_STATUS, MIN_AGE, 
    MIN_AGE_PROCEED, PASSPORT_MANDATORY, JOINT_ACCOUNTS, MAX_AGE, DEFAULT_PRIORITY, DEFAULT_ECO_SECTOR, 
    VALIDATE_CID, DEFAULT_CIVIL_CODE, DEFAULT_ID_TYPE, DEFAULT_SUB_ECO_SECTOR, DEFAULT_NATIONALITY, 
    DEFAULT_ESTAB_PLACE, DEFAULT_ROLE_CODE, ALLOW_CHANGE_IDTYPE, STAFF, CHECK_LINK_MINOR_CIF, 
    SHOW_CB_SECRET_NUM, ALLOW_JOINT_CIF, ID_TYPE_MAND, DEFAULT_INFO_FROM_JOINT_CIF, COMENT, 
    PROTECT_JOINT_INFO, BASLE_BS_LINE, INTEREST_BREAK_DOWN, DOUBTFULL, SIGNATURE_IS_MAND, 
    ALLOW_ACC_NAME_CHANGE, MAX_AGE_PROCEED, CIF_TYPE_GROUP, ID_NO_MAND, ALLOW_KYC_NOT_COMPLETED, 
    FORBID_DEBIT_ON, CREATE_MEMO_INCOMPLETE_KYC, ENTITY_TYPE, FORBID_PRODUCT, FORBID_RESTRICT_TRX, 
    REGISTER_NO_UNIQUE, CIF_CATEG_DEFAULT, RESIDENCE_COUNTRY_MAND, MAIL_STMT, MEMBER_DETAILS_MAND_YN,
    KYC_MANDATORY_YN,APPLY_CORPORATE_KYC_YN,ALLOW_PROCEED_OUTSTANDING_YN,POSTAL_CODE_MANDATORY,MANDATORY_ADDRESS,
    POBOX_MANDATORY,REGION_MANDATORY,TEL_MANDATORY_YN,CAPITAL_PRCNTG_MANDATORY_YN,ALLOW_BVN_YN,
    DISABLE_MARITAL_STATUS_YN, ECO_SEC_PROFESSION_MATRIX, MIN_TOTAL_CAPITAL_PERC, MAX_TOTAL_CAPITAL_PERC
  </sql>
  <select id="selectRIFCTT" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.RIFCTTVO" >
    select 
    <include refid="Base_Column_List" />
    from RIFCTT
    where COMP_CODE = #{COMP_CODE}
      and TYPE_CODE = #{TYPE_CODE}
  </select>
  <delete id="deleteRIFCTT" parameterType="com.path.dbmaps.vo.RIFCTTVO" >
    delete from RIFCTT
    where COMP_CODE = #{COMP_CODE}
      and TYPE_CODE = #{TYPE_CODE}
  </delete>
  <insert id="insertRIFCTT" parameterType="com.path.dbmaps.vo.RIFCTTVO" >
    insert into RIFCTT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="TYPE_CODE != null and TYPE_CODE != emptyBigDecimalValue" >
        TYPE_CODE,
      </if>
      <if test="BRIEF_DESC_ENG != null" >
        BRIEF_DESC_ENG,
      </if>
      <if test="LONG_DESC_ENG != null" >
        LONG_DESC_ENG,
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        BRIEF_DESC_ARAB,
      </if>
      <if test="LONG_DESC_ARAB != null" >
        LONG_DESC_ARAB,
      </if>
      <if test="CLIENT != null" >
        CLIENT,
      </if>
      <if test="BANK != null" >
        BANK,
      </if>
      <if test="VT_IND != null" >
        VT_IND,
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        ADDITIONAL_REFERENCE,
      </if>
      <if test="LEGAL_STATUS_MAND != null" >
        LEGAL_STATUS_MAND,
      </if>
      <if test="LEGAL_STATUS != null and LEGAL_STATUS != emptyBigDecimalValue" >
        LEGAL_STATUS,
      </if>
      <if test="MIN_AGE != null and MIN_AGE != emptyBigDecimalValue" >
        MIN_AGE,
      </if>
      <if test="MIN_AGE_PROCEED != null and MIN_AGE_PROCEED != emptyBigDecimalValue" >
        MIN_AGE_PROCEED,
      </if>
      <if test="PASSPORT_MANDATORY != null" >
        PASSPORT_MANDATORY,
      </if>
      <if test="JOINT_ACCOUNTS != null" >
        JOINT_ACCOUNTS,
      </if>
      <if test="MAX_AGE != null and MAX_AGE != emptyBigDecimalValue" >
        MAX_AGE,
      </if>
      <if test="DEFAULT_PRIORITY != null and DEFAULT_PRIORITY != emptyBigDecimalValue" >
        DEFAULT_PRIORITY,
      </if>
      <if test="DEFAULT_ECO_SECTOR != null and DEFAULT_ECO_SECTOR != emptyBigDecimalValue" >
        DEFAULT_ECO_SECTOR,
      </if>
      <if test="VALIDATE_CID != null" >
        VALIDATE_CID,
      </if>
      <if test="DEFAULT_CIVIL_CODE != null and DEFAULT_CIVIL_CODE != emptyBigDecimalValue" >
        DEFAULT_CIVIL_CODE,
      </if>
      <if test="DEFAULT_ID_TYPE != null and DEFAULT_ID_TYPE != emptyBigDecimalValue" >
        DEFAULT_ID_TYPE,
      </if>
      <if test="DEFAULT_SUB_ECO_SECTOR != null and DEFAULT_SUB_ECO_SECTOR != emptyBigDecimalValue" >
        DEFAULT_SUB_ECO_SECTOR,
      </if>
      <if test="DEFAULT_NATIONALITY != null and DEFAULT_NATIONALITY != emptyBigDecimalValue" >
        DEFAULT_NATIONALITY,
      </if>
      <if test="DEFAULT_ESTAB_PLACE != null and DEFAULT_ESTAB_PLACE != emptyBigDecimalValue" >
        DEFAULT_ESTAB_PLACE,
      </if>
      <if test="DEFAULT_ROLE_CODE != null and DEFAULT_ROLE_CODE != emptyBigDecimalValue" >
        DEFAULT_ROLE_CODE,
      </if>
      <if test="ALLOW_CHANGE_IDTYPE != null" >
        ALLOW_CHANGE_IDTYPE,
      </if>
      <if test="STAFF != null" >
        STAFF,
      </if>
      <if test="CHECK_LINK_MINOR_CIF != null" >
        CHECK_LINK_MINOR_CIF,
      </if>
      <if test="SHOW_CB_SECRET_NUM != null" >
        SHOW_CB_SECRET_NUM,
      </if>
      <if test="ALLOW_JOINT_CIF != null" >
        ALLOW_JOINT_CIF,
      </if>
      <if test="ID_TYPE_MAND != null" >
        ID_TYPE_MAND,
      </if>
      <if test="DEFAULT_INFO_FROM_JOINT_CIF != null" >
        DEFAULT_INFO_FROM_JOINT_CIF,
      </if>
      <if test="COMENT != null" >
        COMENT,
      </if>
      <if test="PROTECT_JOINT_INFO != null" >
        PROTECT_JOINT_INFO,
      </if>
      <if test="BASLE_BS_LINE != null and BASLE_BS_LINE != emptyBigDecimalValue" >
        BASLE_BS_LINE,
      </if>
      <if test="INTEREST_BREAK_DOWN != null" >
        INTEREST_BREAK_DOWN,
      </if>
      <if test="DOUBTFULL != null" >
        DOUBTFULL,
      </if>
      <if test="SIGNATURE_IS_MAND != null" >
        SIGNATURE_IS_MAND,
      </if>
      <if test="ALLOW_ACC_NAME_CHANGE != null" >
        ALLOW_ACC_NAME_CHANGE,
      </if>
      <if test="MAX_AGE_PROCEED != null" >
        MAX_AGE_PROCEED,
      </if>
      <if test="CIF_TYPE_GROUP != null and CIF_TYPE_GROUP != emptyBigDecimalValue" >
        CIF_TYPE_GROUP,
      </if>
      <if test="ID_NO_MAND != null" >
        ID_NO_MAND,
      </if>
      <if test="ALLOW_KYC_NOT_COMPLETED != null" >
        ALLOW_KYC_NOT_COMPLETED,
      </if>
      <if test="FORBID_DEBIT_ON != null and FORBID_DEBIT_ON != emptyBigDecimalValue" >
        FORBID_DEBIT_ON,
      </if>
      <if test="CREATE_MEMO_INCOMPLETE_KYC != null" >
        CREATE_MEMO_INCOMPLETE_KYC,
      </if>
      <if test="ENTITY_TYPE != null" >
        ENTITY_TYPE,
      </if>
      <if test="FORBID_PRODUCT != null" >
        FORBID_PRODUCT,
      </if>
      <if test="FORBID_RESTRICT_TRX != null" >
        FORBID_RESTRICT_TRX,
      </if>
      <if test="REGISTER_NO_UNIQUE != null" >
        REGISTER_NO_UNIQUE,
      </if>
      <if test="CIF_CATEG_DEFAULT != null" >
        CIF_CATEG_DEFAULT,
      </if>
      <if test="RESIDENCE_COUNTRY_MAND != null" >
        RESIDENCE_COUNTRY_MAND,
      </if>
      <if test="MAIL_STMT != null" >
        MAIL_STMT,
      </if>
      <if test="MEMBER_DETAILS_MAND_YN != null" >
        MEMBER_DETAILS_MAND_YN,
      </if>
      <if test="KYC_MANDATORY_YN != null" >
        KYC_MANDATORY_YN,
      </if>
      <if test="APPLY_CORPORATE_KYC_YN != null" >
        APPLY_CORPORATE_KYC_YN,
      </if>
      <if test="ALLOW_PROCEED_OUTSTANDING_YN != null" >
        ALLOW_PROCEED_OUTSTANDING_YN,
      </if>
      <if test="POSTAL_CODE_MANDATORY != null" >
        POSTAL_CODE_MANDATORY,
      </if>
      <if test="MANDATORY_ADDRESS != null" >
        MANDATORY_ADDRESS,
      </if>
      <if test="POBOX_MANDATORY != null" >
        POBOX_MANDATORY,
      </if>
      <if test="REGION_MANDATORY != null" >
        REGION_MANDATORY,
      </if>
      <if test="TEL_MANDATORY_YN != null" >
        TEL_MANDATORY_YN,
      </if>
      <if test="CAPITAL_PRCNTG_MANDATORY_YN != null and !&quot;&quot;.equals(CAPITAL_PRCNTG_MANDATORY_YN)" >
        CAPITAL_PRCNTG_MANDATORY_YN,
      </if>
      <if test="ALLOW_BVN_YN != null" >
        ALLOW_BVN_YN,
      </if>
      <if test="DISABLE_MARITAL_STATUS_YN != null" >
        DISABLE_MARITAL_STATUS_YN,
      </if>
      <if test="ECO_SEC_PROFESSION_MATRIX != null" >
        ECO_SEC_PROFESSION_MATRIX,
      </if>
      <if test="MIN_TOTAL_CAPITAL_PERC != null and MIN_TOTAL_CAPITAL_PERC != emptyBigDecimalValue" >
        MIN_TOTAL_CAPITAL_PERC,
      </if>
      <if test="MAX_TOTAL_CAPITAL_PERC != null and MAX_TOTAL_CAPITAL_PERC != emptyBigDecimalValue" >
        MAX_TOTAL_CAPITAL_PERC,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="TYPE_CODE != null and TYPE_CODE != emptyBigDecimalValue" >
        #{TYPE_CODE},
      </if>
      <if test="BRIEF_DESC_ENG != null" >
        #{BRIEF_DESC_ENG},
      </if>
      <if test="LONG_DESC_ENG != null" >
        #{LONG_DESC_ENG},
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        #{BRIEF_DESC_ARAB},
      </if>
      <if test="LONG_DESC_ARAB != null" >
        #{LONG_DESC_ARAB},
      </if>
      <if test="CLIENT != null" >
        #{CLIENT},
      </if>
      <if test="BANK != null" >
        #{BANK},
      </if>
      <if test="VT_IND != null" >
        #{VT_IND},
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        #{ADDITIONAL_REFERENCE},
      </if>
      <if test="LEGAL_STATUS_MAND != null" >
        #{LEGAL_STATUS_MAND},
      </if>
      <if test="LEGAL_STATUS != null and LEGAL_STATUS != emptyBigDecimalValue" >
        #{LEGAL_STATUS},
      </if>
      <if test="MIN_AGE != null and MIN_AGE != emptyBigDecimalValue" >
        #{MIN_AGE},
      </if>
      <if test="MIN_AGE_PROCEED != null and MIN_AGE_PROCEED != emptyBigDecimalValue" >
        #{MIN_AGE_PROCEED},
      </if>
      <if test="PASSPORT_MANDATORY != null" >
        #{PASSPORT_MANDATORY},
      </if>
      <if test="JOINT_ACCOUNTS != null" >
        #{JOINT_ACCOUNTS},
      </if>
      <if test="MAX_AGE != null and MAX_AGE != emptyBigDecimalValue" >
        #{MAX_AGE},
      </if>
      <if test="DEFAULT_PRIORITY != null and DEFAULT_PRIORITY != emptyBigDecimalValue" >
        #{DEFAULT_PRIORITY},
      </if>
      <if test="DEFAULT_ECO_SECTOR != null and DEFAULT_ECO_SECTOR != emptyBigDecimalValue" >
        #{DEFAULT_ECO_SECTOR},
      </if>
      <if test="VALIDATE_CID != null" >
        #{VALIDATE_CID},
      </if>
      <if test="DEFAULT_CIVIL_CODE != null and DEFAULT_CIVIL_CODE != emptyBigDecimalValue" >
        #{DEFAULT_CIVIL_CODE},
      </if>
      <if test="DEFAULT_ID_TYPE != null and DEFAULT_ID_TYPE != emptyBigDecimalValue" >
        #{DEFAULT_ID_TYPE},
      </if>
      <if test="DEFAULT_SUB_ECO_SECTOR != null and DEFAULT_SUB_ECO_SECTOR != emptyBigDecimalValue" >
        #{DEFAULT_SUB_ECO_SECTOR},
      </if>
      <if test="DEFAULT_NATIONALITY != null and DEFAULT_NATIONALITY != emptyBigDecimalValue" >
        #{DEFAULT_NATIONALITY},
      </if>
      <if test="DEFAULT_ESTAB_PLACE != null and DEFAULT_ESTAB_PLACE != emptyBigDecimalValue" >
        #{DEFAULT_ESTAB_PLACE},
      </if>
      <if test="DEFAULT_ROLE_CODE != null and DEFAULT_ROLE_CODE != emptyBigDecimalValue" >
        #{DEFAULT_ROLE_CODE},
      </if>
      <if test="ALLOW_CHANGE_IDTYPE != null" >
        #{ALLOW_CHANGE_IDTYPE},
      </if>
      <if test="STAFF != null" >
        #{STAFF},
      </if>
      <if test="CHECK_LINK_MINOR_CIF != null" >
        #{CHECK_LINK_MINOR_CIF},
      </if>
      <if test="SHOW_CB_SECRET_NUM != null" >
        #{SHOW_CB_SECRET_NUM},
      </if>
      <if test="ALLOW_JOINT_CIF != null" >
        #{ALLOW_JOINT_CIF},
      </if>
      <if test="ID_TYPE_MAND != null" >
        #{ID_TYPE_MAND},
      </if>
      <if test="DEFAULT_INFO_FROM_JOINT_CIF != null" >
        #{DEFAULT_INFO_FROM_JOINT_CIF},
      </if>
      <if test="COMENT != null" >
        #{COMENT},
      </if>
      <if test="PROTECT_JOINT_INFO != null" >
        #{PROTECT_JOINT_INFO},
      </if>
      <if test="BASLE_BS_LINE != null and BASLE_BS_LINE != emptyBigDecimalValue" >
        #{BASLE_BS_LINE},
      </if>
      <if test="INTEREST_BREAK_DOWN != null" >
        #{INTEREST_BREAK_DOWN},
      </if>
      <if test="DOUBTFULL != null" >
        #{DOUBTFULL},
      </if>
      <if test="SIGNATURE_IS_MAND != null" >
        #{SIGNATURE_IS_MAND},
      </if>
      <if test="ALLOW_ACC_NAME_CHANGE != null" >
        #{ALLOW_ACC_NAME_CHANGE},
      </if>
      <if test="MAX_AGE_PROCEED != null" >
        #{MAX_AGE_PROCEED},
      </if>
      <if test="CIF_TYPE_GROUP != null and CIF_TYPE_GROUP != emptyBigDecimalValue" >
        #{CIF_TYPE_GROUP},
      </if>
      <if test="ID_NO_MAND != null" >
        #{ID_NO_MAND},
      </if>
      <if test="ALLOW_KYC_NOT_COMPLETED != null" >
        #{ALLOW_KYC_NOT_COMPLETED},
      </if>
      <if test="FORBID_DEBIT_ON != null and FORBID_DEBIT_ON != emptyBigDecimalValue" >
        #{FORBID_DEBIT_ON},
      </if>
      <if test="CREATE_MEMO_INCOMPLETE_KYC != null" >
        #{CREATE_MEMO_INCOMPLETE_KYC},
      </if>
      <if test="ENTITY_TYPE != null" >
        #{ENTITY_TYPE},
      </if>
      <if test="FORBID_PRODUCT != null" >
        #{FORBID_PRODUCT},
      </if>
      <if test="FORBID_RESTRICT_TRX != null" >
        #{FORBID_RESTRICT_TRX},
      </if>
      <if test="REGISTER_NO_UNIQUE != null" >
        #{REGISTER_NO_UNIQUE},
      </if>
      <if test="CIF_CATEG_DEFAULT != null" >
        #{CIF_CATEG_DEFAULT},
      </if>
      <if test="RESIDENCE_COUNTRY_MAND != null" >
        #{RESIDENCE_COUNTRY_MAND},
      </if>
      <if test="MAIL_STMT != null" >
        #{MAIL_STMT},
      </if>
      <if test="MEMBER_DETAILS_MAND_YN != null" >
       #{MEMBER_DETAILS_MAND_YN},
      </if> 
      <if test="KYC_MANDATORY_YN != null" >
       #{KYC_MANDATORY_YN},
      </if>
      <if test="APPLY_CORPORATE_KYC_YN != null" >
       #{APPLY_CORPORATE_KYC_YN},
      </if>
      <if test="ALLOW_PROCEED_OUTSTANDING_YN != null" >
       #{ALLOW_PROCEED_OUTSTANDING_YN},
      </if>
      <if test="POSTAL_CODE_MANDATORY != null" >
       #{POSTAL_CODE_MANDATORY},
      </if>
      <if test="MANDATORY_ADDRESS != null" >
       #{MANDATORY_ADDRESS},
      </if>
      <if test="POBOX_MANDATORY != null" >
       #{POBOX_MANDATORY},
      </if>
      <if test="REGION_MANDATORY != null" >
       #{REGION_MANDATORY},
      </if>
      <if test="TEL_MANDATORY_YN != null" >
       #{TEL_MANDATORY_YN},
      </if>
        <if test="CAPITAL_PRCNTG_MANDATORY_YN != null and !&quot;&quot;.equals(CAPITAL_PRCNTG_MANDATORY_YN)" >
        #{CAPITAL_PRCNTG_MANDATORY_YN},
      </if>
      <if test="ALLOW_BVN_YN != null" >
        #{ALLOW_BVN_YN},
      </if>
      <if test="DISABLE_MARITAL_STATUS_YN != null" >
        #{DISABLE_MARITAL_STATUS_YN},
      </if>
      <if test="ECO_SEC_PROFESSION_MATRIX != null" >
        #{ECO_SEC_PROFESSION_MATRIX},
      </if>
      <if test="MIN_TOTAL_CAPITAL_PERC != null and MIN_TOTAL_CAPITAL_PERC != emptyBigDecimalValue" >
        #{MIN_TOTAL_CAPITAL_PERC},
      </if>
      <if test="MAX_TOTAL_CAPITAL_PERC != null and MAX_TOTAL_CAPITAL_PERC != emptyBigDecimalValue" >
        #{MAX_TOTAL_CAPITAL_PERC},
      </if>
      
    </trim>
  </insert>
  <sql id="sql_updateRIFCTT" >
    update RIFCTT
    <set >
      <if test="BRIEF_DESC_ENG != null" >
        BRIEF_DESC_ENG = #{BRIEF_DESC_ENG},
      </if>
      <if test="LONG_DESC_ENG != null" >
        LONG_DESC_ENG = #{LONG_DESC_ENG},
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        BRIEF_DESC_ARAB = #{BRIEF_DESC_ARAB},
      </if>
      <if test="LONG_DESC_ARAB != null" >
        LONG_DESC_ARAB = #{LONG_DESC_ARAB},
      </if>
      <if test="CLIENT != null" >
        CLIENT = #{CLIENT},
      </if>
      <if test="BANK != null" >
        BANK = #{BANK},
      </if>
      <if test="VT_IND != null" >
        VT_IND = #{VT_IND},
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        ADDITIONAL_REFERENCE = #{ADDITIONAL_REFERENCE},
      </if>
      <if test="LEGAL_STATUS_MAND != null" >
        LEGAL_STATUS_MAND = #{LEGAL_STATUS_MAND},
      </if>
      <if test="LEGAL_STATUS != null" >
        <choose >
          <when test="LEGAL_STATUS == emptyBigDecimalValue" >
            LEGAL_STATUS = NULL ,
          </when>
          <otherwise >
            LEGAL_STATUS = #{LEGAL_STATUS},
          </otherwise>
        </choose>
      </if>
      <if test="MIN_AGE != null" >
        <choose >
          <when test="MIN_AGE == emptyBigDecimalValue" >
            MIN_AGE = NULL ,
          </when>
          <otherwise >
            MIN_AGE = #{MIN_AGE},
          </otherwise>
        </choose>
      </if>
      <if test="MIN_AGE_PROCEED != null" >
        <choose >
          <when test="MIN_AGE_PROCEED == emptyBigDecimalValue" >
            MIN_AGE_PROCEED = NULL ,
          </when>
          <otherwise >
            MIN_AGE_PROCEED = #{MIN_AGE_PROCEED},
          </otherwise>
        </choose>
      </if>
      <if test="PASSPORT_MANDATORY != null" >
        PASSPORT_MANDATORY = #{PASSPORT_MANDATORY},
      </if>
      <if test="JOINT_ACCOUNTS != null" >
        JOINT_ACCOUNTS = #{JOINT_ACCOUNTS},
      </if>
      <if test="MAX_AGE != null" >
        <choose >
          <when test="MAX_AGE == emptyBigDecimalValue" >
            MAX_AGE = NULL ,
          </when>
          <otherwise >
            MAX_AGE = #{MAX_AGE},
          </otherwise>
        </choose>
      </if>
      <if test="DEFAULT_PRIORITY != null" >
        <choose >
          <when test="DEFAULT_PRIORITY == emptyBigDecimalValue" >
            DEFAULT_PRIORITY = NULL ,
          </when>
          <otherwise >
            DEFAULT_PRIORITY = #{DEFAULT_PRIORITY},
          </otherwise>
        </choose>
      </if>
      <if test="DEFAULT_ECO_SECTOR != null" >
        <choose >
          <when test="DEFAULT_ECO_SECTOR == emptyBigDecimalValue" >
            DEFAULT_ECO_SECTOR = NULL ,
          </when>
          <otherwise >
            DEFAULT_ECO_SECTOR = #{DEFAULT_ECO_SECTOR},
          </otherwise>
        </choose>
      </if>
      <if test="VALIDATE_CID != null" >
        VALIDATE_CID = #{VALIDATE_CID},
      </if>
      <if test="DEFAULT_CIVIL_CODE != null" >
        <choose >
          <when test="DEFAULT_CIVIL_CODE == emptyBigDecimalValue" >
            DEFAULT_CIVIL_CODE = NULL ,
          </when>
          <otherwise >
            DEFAULT_CIVIL_CODE = #{DEFAULT_CIVIL_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="DEFAULT_ID_TYPE != null" >
        <choose >
          <when test="DEFAULT_ID_TYPE == emptyBigDecimalValue" >
            DEFAULT_ID_TYPE = NULL ,
          </when>
          <otherwise >
            DEFAULT_ID_TYPE = #{DEFAULT_ID_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="DEFAULT_SUB_ECO_SECTOR != null" >
        <choose >
          <when test="DEFAULT_SUB_ECO_SECTOR == emptyBigDecimalValue" >
            DEFAULT_SUB_ECO_SECTOR = NULL ,
          </when>
          <otherwise >
            DEFAULT_SUB_ECO_SECTOR = #{DEFAULT_SUB_ECO_SECTOR},
          </otherwise>
        </choose>
      </if>
      <if test="DEFAULT_NATIONALITY != null" >
        <choose >
          <when test="DEFAULT_NATIONALITY == emptyBigDecimalValue" >
            DEFAULT_NATIONALITY = NULL ,
          </when>
          <otherwise >
            DEFAULT_NATIONALITY = #{DEFAULT_NATIONALITY},
          </otherwise>
        </choose>
      </if>
      <if test="DEFAULT_ESTAB_PLACE != null" >
        <choose >
          <when test="DEFAULT_ESTAB_PLACE == emptyBigDecimalValue" >
            DEFAULT_ESTAB_PLACE = NULL ,
          </when>
          <otherwise >
            DEFAULT_ESTAB_PLACE = #{DEFAULT_ESTAB_PLACE},
          </otherwise>
        </choose>
      </if>
      <if test="DEFAULT_ROLE_CODE != null" >
        <choose >
          <when test="DEFAULT_ROLE_CODE == emptyBigDecimalValue" >
            DEFAULT_ROLE_CODE = NULL ,
          </when>
          <otherwise >
            DEFAULT_ROLE_CODE = #{DEFAULT_ROLE_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="ALLOW_CHANGE_IDTYPE != null" >
        ALLOW_CHANGE_IDTYPE = #{ALLOW_CHANGE_IDTYPE},
      </if>
      <if test="STAFF != null" >
        STAFF = #{STAFF},
      </if>
      <if test="CHECK_LINK_MINOR_CIF != null" >
        CHECK_LINK_MINOR_CIF = #{CHECK_LINK_MINOR_CIF},
      </if>
      <if test="SHOW_CB_SECRET_NUM != null" >
        SHOW_CB_SECRET_NUM = #{SHOW_CB_SECRET_NUM},
      </if>
      <if test="ALLOW_JOINT_CIF != null" >
        ALLOW_JOINT_CIF = #{ALLOW_JOINT_CIF},
      </if>
      <if test="ID_TYPE_MAND != null" >
        ID_TYPE_MAND = #{ID_TYPE_MAND},
      </if>
      <if test="DEFAULT_INFO_FROM_JOINT_CIF != null" >
        DEFAULT_INFO_FROM_JOINT_CIF = #{DEFAULT_INFO_FROM_JOINT_CIF},
      </if>
      <if test="COMENT != null" >
        COMENT = #{COMENT},
      </if>
      <if test="PROTECT_JOINT_INFO != null" >
        PROTECT_JOINT_INFO = #{PROTECT_JOINT_INFO},
      </if>
      <if test="BASLE_BS_LINE != null" >
        <choose >
          <when test="BASLE_BS_LINE == emptyBigDecimalValue" >
            BASLE_BS_LINE = NULL ,
          </when>
          <otherwise >
            BASLE_BS_LINE = #{BASLE_BS_LINE},
          </otherwise>
        </choose>
      </if>
      <if test="INTEREST_BREAK_DOWN != null" >
        INTEREST_BREAK_DOWN = #{INTEREST_BREAK_DOWN},
      </if>
      <if test="DOUBTFULL != null" >
        DOUBTFULL = #{DOUBTFULL},
      </if>
      <if test="SIGNATURE_IS_MAND != null" >
        SIGNATURE_IS_MAND = #{SIGNATURE_IS_MAND},
      </if>
      <if test="ALLOW_ACC_NAME_CHANGE != null" >
        ALLOW_ACC_NAME_CHANGE = #{ALLOW_ACC_NAME_CHANGE},
      </if>
      <if test="MAX_AGE_PROCEED != null" >
        MAX_AGE_PROCEED = #{MAX_AGE_PROCEED},
      </if>
      <if test="CIF_TYPE_GROUP != null" >
        <choose >
          <when test="CIF_TYPE_GROUP == emptyBigDecimalValue" >
            CIF_TYPE_GROUP = NULL ,
          </when>
          <otherwise >
            CIF_TYPE_GROUP = #{CIF_TYPE_GROUP},
          </otherwise>
        </choose>
      </if>
      <if test="ID_NO_MAND != null" >
        ID_NO_MAND = #{ID_NO_MAND},
      </if>
      <if test="ALLOW_KYC_NOT_COMPLETED != null" >
        ALLOW_KYC_NOT_COMPLETED = #{ALLOW_KYC_NOT_COMPLETED},
      </if>
      <if test="FORBID_DEBIT_ON != null" >
        <choose >
          <when test="FORBID_DEBIT_ON == emptyBigDecimalValue" >
            FORBID_DEBIT_ON = NULL ,
          </when>
          <otherwise >
            FORBID_DEBIT_ON = #{FORBID_DEBIT_ON},
          </otherwise>
        </choose>
      </if>
      <if test="CREATE_MEMO_INCOMPLETE_KYC != null" >
        CREATE_MEMO_INCOMPLETE_KYC = #{CREATE_MEMO_INCOMPLETE_KYC},
      </if>
      <if test="ENTITY_TYPE != null" >
        ENTITY_TYPE = #{ENTITY_TYPE},
      </if>
      <if test="FORBID_PRODUCT != null" >
        FORBID_PRODUCT = #{FORBID_PRODUCT},
      </if>
      <if test="FORBID_RESTRICT_TRX != null" >
        FORBID_RESTRICT_TRX = #{FORBID_RESTRICT_TRX},
      </if>
      <if test="REGISTER_NO_UNIQUE != null" >
        REGISTER_NO_UNIQUE = #{REGISTER_NO_UNIQUE},
      </if>
      <if test="CIF_CATEG_DEFAULT != null" >
        CIF_CATEG_DEFAULT = #{CIF_CATEG_DEFAULT},
      </if>
      <if test="RESIDENCE_COUNTRY_MAND != null" >
        RESIDENCE_COUNTRY_MAND = #{RESIDENCE_COUNTRY_MAND},
      </if>
      <if test="MAIL_STMT != null" >
        MAIL_STMT = #{MAIL_STMT},
      </if>
      <if test="MEMBER_DETAILS_MAND_YN != null" >
        MEMBER_DETAILS_MAND_YN = #{MEMBER_DETAILS_MAND_YN},
      </if>
      <if test="KYC_MANDATORY_YN != null" >
        KYC_MANDATORY_YN = #{KYC_MANDATORY_YN},
      </if>
      <if test="APPLY_CORPORATE_KYC_YN != null" >
        APPLY_CORPORATE_KYC_YN = #{APPLY_CORPORATE_KYC_YN},
      </if>
      <if test="ALLOW_PROCEED_OUTSTANDING_YN != null" > 
        ALLOW_PROCEED_OUTSTANDING_YN = #{ALLOW_PROCEED_OUTSTANDING_YN},
      </if>
      <if test="POSTAL_CODE_MANDATORY != null" > 
        POSTAL_CODE_MANDATORY = #{POSTAL_CODE_MANDATORY},
      </if>
      <if test="MANDATORY_ADDRESS != null" > 
        MANDATORY_ADDRESS = #{MANDATORY_ADDRESS},
      </if>
      <if test="POBOX_MANDATORY != null" > 
        POBOX_MANDATORY = #{POBOX_MANDATORY},
      </if>
      <if test="REGION_MANDATORY != null" > 
        REGION_MANDATORY = #{REGION_MANDATORY},
      </if>
      <if test="TEL_MANDATORY_YN != null" > 
        TEL_MANDATORY_YN = #{TEL_MANDATORY_YN},
      </if>
      <if test="CAPITAL_PRCNTG_MANDATORY_YN != null and !&quot;&quot;.equals(CAPITAL_PRCNTG_MANDATORY_YN)" >
        CAPITAL_PRCNTG_MANDATORY_YN = #{CAPITAL_PRCNTG_MANDATORY_YN},
      </if>
      <if test="ALLOW_BVN_YN != null" >
        ALLOW_BVN_YN = #{ALLOW_BVN_YN},
      </if>
      <if test="DISABLE_MARITAL_STATUS_YN != null" >
        DISABLE_MARITAL_STATUS_YN = #{DISABLE_MARITAL_STATUS_YN},
      </if>
      <if test="ECO_SEC_PROFESSION_MATRIX != null" >
        ECO_SEC_PROFESSION_MATRIX = #{ECO_SEC_PROFESSION_MATRIX},
      </if>
      <if test="MIN_TOTAL_CAPITAL_PERC != null" >
        <choose >
          <when test="MIN_TOTAL_CAPITAL_PERC == emptyBigDecimalValue" >
            MIN_TOTAL_CAPITAL_PERC = NULL ,
          </when>
          <otherwise >
            MIN_TOTAL_CAPITAL_PERC = #{MIN_TOTAL_CAPITAL_PERC},
          </otherwise>
        </choose>
      </if>
      <if test="MAX_TOTAL_CAPITAL_PERC != null" >
        <choose >
          <when test="MAX_TOTAL_CAPITAL_PERC == emptyBigDecimalValue" >
            MAX_TOTAL_CAPITAL_PERC = NULL ,
          </when>
          <otherwise >
            MAX_TOTAL_CAPITAL_PERC = #{MAX_TOTAL_CAPITAL_PERC},
          </otherwise>
        </choose>
      </if>
      
    </set>
    where COMP_CODE = #{COMP_CODE}
      and TYPE_CODE = #{TYPE_CODE}
  </sql>
  <update id="updateRIFCTT" parameterType="com.path.dbmaps.vo.RIFCTTVO" >
    <include refid="sql_updateRIFCTT" />
  </update>
</mapper>