<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="RIFCTT_ECO_SECTOR" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.RIFCTT_ECO_SECTORVOKey" >
    <id column="CIF_TYPE_CODE" property="CIF_TYPE_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="SECTOR_CODE" property="SECTOR_CODE" />
    <id column="SUB_SECTOR_CODE" property="SUB_SECTOR_CODE" />
  </resultMap>
  <delete id="deleteRIFCTT_ECO_SECTOR" parameterType="com.path.dbmaps.vo.RIFCTT_ECO_SECTORVOKey" >
    delete from RIFCTT_ECO_SECTOR
    where CIF_TYPE_CODE = #{CIF_TYPE_CODE}
      and COMP_CODE = #{COMP_CODE}
      and SECTOR_CODE = #{SECTOR_CODE}
      and SUB_SECTOR_CODE = #{SUB_SECTOR_CODE}
  </delete>
  <insert id="insertRIFCTT_ECO_SECTOR" parameterType="com.path.dbmaps.vo.RIFCTT_ECO_SECTORVOKey" >
    insert into RIFCTT_ECO_SECTOR
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CIF_TYPE_CODE != null and CIF_TYPE_CODE != emptyBigDecimalValue" >
        CIF_TYPE_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="SECTOR_CODE != null and SECTOR_CODE != emptyBigDecimalValue" >
        SECTOR_CODE,
      </if>
      <if test="SUB_SECTOR_CODE != null and SUB_SECTOR_CODE != emptyBigDecimalValue" >
        SUB_SECTOR_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CIF_TYPE_CODE != null and CIF_TYPE_CODE != emptyBigDecimalValue" >
        #{CIF_TYPE_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="SECTOR_CODE != null and SECTOR_CODE != emptyBigDecimalValue" >
        #{SECTOR_CODE},
      </if>
      <if test="SUB_SECTOR_CODE != null and SUB_SECTOR_CODE != emptyBigDecimalValue" >
        #{SUB_SECTOR_CODE},
      </if>
    </trim>
  </insert>
</mapper>