<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="RIFOBT" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.RIFOBTVO" >
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="OBLIGOR_CODE" property="OBLIGOR_CODE" />
    <result column="BRIEF_DESC_ENG" property="BRIEF_DESC_ENG" />
    <result column="LONG_DESC_ENG" property="LONG_DESC_ENG" />
    <result column="BRIEF_DESC_ARAB" property="BRIEF_DESC_ARAB" />
    <result column="LONG_DESC_ARAB" property="LONG_DESC_ARAB" />
    <result column="LIMIT" property="LIMIT" />
    <result column="ADDITIONAL_REFERENCE" property="ADDITIONAL_REFERENCE" />
    <result column="ML_GROSS_AMOUNT" property="ML_GROSS_AMOUNT" />
    <result column="CREDIT_RATING" property="CREDIT_RATING" />
    <result column="PROFILE" property="PROFILE" />
    <result column="COMENT" property="COMENT" />
    <result column="ALLOW_TO_EXCEED_ONE_OBLIGOR_YN" property="ALLOW_TO_EXCEED_ONE_OBLIGOR_YN" />
  </resultMap>
  <sql id="Base_Column_List" >
    COMP_CODE, OBLIGOR_CODE, BRIEF_DESC_ENG, LONG_DESC_ENG, BRIEF_DESC_ARAB, LONG_DESC_ARAB, 
    LIMIT, ADDITIONAL_REFERENCE, ML_GROSS_AMOUNT, CREDIT_RATING, PROFILE, COMENT, ALLOW_TO_EXCEED_ONE_OBLIGOR_YN
  </sql>
  <select id="selectRIFOBT" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.RIFOBTVOKey" >
    select 
    <include refid="Base_Column_List" />
    from RIFOBT
    where COMP_CODE = #{COMP_CODE}
      and OBLIGOR_CODE = #{OBLIGOR_CODE}
  </select>
  <delete id="deleteRIFOBT" parameterType="com.path.dbmaps.vo.RIFOBTVOKey" >
    delete from RIFOBT
    where COMP_CODE = #{COMP_CODE}
      and OBLIGOR_CODE = #{OBLIGOR_CODE}
  </delete>
  <insert id="insertRIFOBT" parameterType="com.path.dbmaps.vo.RIFOBTVO" >
    insert into RIFOBT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="OBLIGOR_CODE != null and OBLIGOR_CODE != emptyBigDecimalValue" >
        OBLIGOR_CODE,
      </if>
      <if test="BRIEF_DESC_ENG != null" >
        BRIEF_DESC_ENG,
      </if>
      <if test="LONG_DESC_ENG != null" >
        LONG_DESC_ENG,
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        BRIEF_DESC_ARAB,
      </if>
      <if test="LONG_DESC_ARAB != null" >
        LONG_DESC_ARAB,
      </if>
      <if test="LIMIT != null and LIMIT != emptyBigDecimalValue" >
        LIMIT,
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        ADDITIONAL_REFERENCE,
      </if>
      <if test="ML_GROSS_AMOUNT != null and ML_GROSS_AMOUNT != emptyBigDecimalValue" >
        ML_GROSS_AMOUNT,
      </if>
      <if test="CREDIT_RATING != null and CREDIT_RATING != emptyBigDecimalValue" >
        CREDIT_RATING,
      </if>
      <if test="PROFILE != null and PROFILE != emptyBigDecimalValue" >
        PROFILE,
      </if>
      <if test="COMENT != null" >
        COMENT,
      </if>
      <if test="ALLOW_TO_EXCEED_ONE_OBLIGOR_YN != null" >
        ALLOW_TO_EXCEED_ONE_OBLIGOR_YN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="OBLIGOR_CODE != null and OBLIGOR_CODE != emptyBigDecimalValue" >
        #{OBLIGOR_CODE},
      </if>
      <if test="BRIEF_DESC_ENG != null" >
        #{BRIEF_DESC_ENG},
      </if>
      <if test="LONG_DESC_ENG != null" >
        #{LONG_DESC_ENG},
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        #{BRIEF_DESC_ARAB},
      </if>
      <if test="LONG_DESC_ARAB != null" >
        #{LONG_DESC_ARAB},
      </if>
      <if test="LIMIT != null and LIMIT != emptyBigDecimalValue" >
        #{LIMIT},
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        #{ADDITIONAL_REFERENCE},
      </if>
      <if test="ML_GROSS_AMOUNT != null and ML_GROSS_AMOUNT != emptyBigDecimalValue" >
        #{ML_GROSS_AMOUNT},
      </if>
      <if test="CREDIT_RATING != null and CREDIT_RATING != emptyBigDecimalValue" >
        #{CREDIT_RATING},
      </if>
      <if test="PROFILE != null and PROFILE != emptyBigDecimalValue" >
        #{PROFILE},
      </if>
      <if test="COMENT != null" >
        #{COMENT},
      </if>
      <if test="ALLOW_TO_EXCEED_ONE_OBLIGOR_YN != null" >
        #{ALLOW_TO_EXCEED_ONE_OBLIGOR_YN},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateRIFOBT" >
    update RIFOBT
    <set >
      <if test="BRIEF_DESC_ENG != null" >
        BRIEF_DESC_ENG = #{BRIEF_DESC_ENG},
      </if>
      <if test="LONG_DESC_ENG != null" >
        LONG_DESC_ENG = #{LONG_DESC_ENG},
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        BRIEF_DESC_ARAB = #{BRIEF_DESC_ARAB},
      </if>
      <if test="LONG_DESC_ARAB != null" >
        LONG_DESC_ARAB = #{LONG_DESC_ARAB},
      </if>
      <if test="LIMIT != null" >
        <choose >
          <when test="LIMIT == emptyBigDecimalValue" >
            LIMIT = NULL ,
          </when>
          <otherwise >
            LIMIT = #{LIMIT},
          </otherwise>
        </choose>
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        ADDITIONAL_REFERENCE = #{ADDITIONAL_REFERENCE},
      </if>
      <if test="ML_GROSS_AMOUNT != null" >
        <choose >
          <when test="ML_GROSS_AMOUNT == emptyBigDecimalValue" >
            ML_GROSS_AMOUNT = NULL ,
          </when>
          <otherwise >
            ML_GROSS_AMOUNT = #{ML_GROSS_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="CREDIT_RATING != null" >
        <choose >
          <when test="CREDIT_RATING == emptyBigDecimalValue" >
            CREDIT_RATING = NULL ,
          </when>
          <otherwise >
            CREDIT_RATING = #{CREDIT_RATING},
          </otherwise>
        </choose>
      </if>
      <if test="PROFILE != null" >
        <choose >
          <when test="PROFILE == emptyBigDecimalValue" >
            PROFILE = NULL ,
          </when>
          <otherwise >
            PROFILE = #{PROFILE},
          </otherwise>
        </choose>
      </if>
      <if test="COMENT != null" >
        COMENT = #{COMENT},
      </if>
      <if test="ALLOW_TO_EXCEED_ONE_OBLIGOR_YN != null" >
        ALLOW_TO_EXCEED_ONE_OBLIGOR_YN = #{ALLOW_TO_EXCEED_ONE_OBLIGOR_YN},
      </if>
    </set>
    where COMP_CODE = #{COMP_CODE}
      and OBLIGOR_CODE = #{OBLIGOR_CODE}
  </sql>
  <update id="updateRIFOBT" parameterType="com.path.dbmaps.vo.RIFOBTVO" >
    <include refid="sql_updateRIFOBT" />
  </update>
</mapper>