<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="S_ADDREF_MASK_SPECIFIC" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.S_ADDREF_MASK_SPECIFICVO" >
    <id column="ACC_TYPE" property="ACC_TYPE" />
    <id column="SEQ" property="SEQ" />
    <result column="COLUMN_NAME" property="COLUMN_NAME" />
    <result column="COLUMN_MASK" property="COLUMN_MASK" />
    <result column="COLUMN_SEPARATOR" property="COLUMN_SEPARATOR" />
    <result column="COLUMN_TYPE" property="COLUMN_TYPE" />
  </resultMap>
  <sql id="Base_Column_List" >
    ACC_TYPE, SEQ, COLUMN_NAME, COLUMN_MASK, COLUMN_SEPARATOR, COLUMN_TYPE
  </sql>
  <select id="selectS_ADDREF_MASK_SPECIFIC" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.S_ADDREF_MASK_SPECIFICVOKey" >
    select 
    <include refid="Base_Column_List" />
    from S_ADDREF_MASK_SPECIFIC
    where ACC_TYPE = #{ACC_TYPE}
      and SEQ = #{SEQ}
  </select>
  <delete id="deleteS_ADDREF_MASK_SPECIFIC" parameterType="com.path.dbmaps.vo.S_ADDREF_MASK_SPECIFICVOKey" >
    delete from S_ADDREF_MASK_SPECIFIC
    where ACC_TYPE = #{ACC_TYPE}
      and SEQ = #{SEQ}
  </delete>
  <insert id="insertS_ADDREF_MASK_SPECIFIC" parameterType="com.path.dbmaps.vo.S_ADDREF_MASK_SPECIFICVO" >
    insert into S_ADDREF_MASK_SPECIFIC
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ACC_TYPE != null" >
        ACC_TYPE,
      </if>
      <if test="SEQ != null and SEQ != emptyBigDecimalValue" >
        SEQ,
      </if>
      <if test="COLUMN_NAME != null" >
        COLUMN_NAME,
      </if>
      <if test="COLUMN_MASK != null" >
        COLUMN_MASK,
      </if>
      <if test="COLUMN_SEPARATOR != null" >
        COLUMN_SEPARATOR,
      </if>
      <if test="COLUMN_TYPE != null" >
        COLUMN_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ACC_TYPE != null" >
        #{ACC_TYPE},
      </if>
      <if test="SEQ != null and SEQ != emptyBigDecimalValue" >
        #{SEQ},
      </if>
      <if test="COLUMN_NAME != null" >
        #{COLUMN_NAME},
      </if>
      <if test="COLUMN_MASK != null" >
        #{COLUMN_MASK},
      </if>
      <if test="COLUMN_SEPARATOR != null" >
        #{COLUMN_SEPARATOR},
      </if>
      <if test="COLUMN_TYPE != null" >
        #{COLUMN_TYPE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateS_ADDREF_MASK_SPECIFIC" >
    update S_ADDREF_MASK_SPECIFIC
    <set >
      <if test="COLUMN_NAME != null" >
        COLUMN_NAME = #{COLUMN_NAME},
      </if>
      <if test="COLUMN_MASK != null" >
        COLUMN_MASK = #{COLUMN_MASK},
      </if>
      <if test="COLUMN_SEPARATOR != null" >
        COLUMN_SEPARATOR = #{COLUMN_SEPARATOR},
      </if>
      <if test="COLUMN_TYPE != null" >
        COLUMN_TYPE = #{COLUMN_TYPE},
      </if>
    </set>
    where ACC_TYPE = #{ACC_TYPE}
      and SEQ = #{SEQ}
  </sql>
  <update id="updateS_ADDREF_MASK_SPECIFIC" parameterType="com.path.dbmaps.vo.S_ADDREF_MASK_SPECIFICVO" >
    <include refid="sql_updateS_ADDREF_MASK_SPECIFIC" />
  </update>
</mapper>