<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="S_APPROLUSR" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.S_APPROLUSRVO" >
    <id column="APP_NAME" property="APP_NAME" />
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="ROLE_NAME" property="ROLE_NAME" />
    <id column="USER_ID" property="USER_ID" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="AUTHORIZED_BY" property="AUTHORIZED_BY" />
    <result column="STATUS" property="STATUS" />
    <result column="DATE_CREATED" property="DATE_CREATED" />
    <result column="DATE_AUTHORIZED" property="DATE_AUTHORIZED" />
    <result column="FROM_MODEL" property="FROM_MODEL" />
    <result column="DATE_DELETED" property="DATE_DELETED" />
    <result column="DELETED_BY" property="DELETED_BY" />
    <result column="DATE_DELETE_REJECTED" property="DATE_DELETE_REJECTED" />
    <result column="DELETE_REJECTED_BY" property="DELETE_REJECTED_BY" />
    <result column="TO_BE_DELETED" property="TO_BE_DELETED" />
  </resultMap>
  <sql id="Base_Column_List" >
    APP_NAME, BRANCH_CODE, COMP_CODE, ROLE_NAME, USER_ID, CREATED_BY, AUTHORIZED_BY, 
    STATUS, DATE_CREATED, DATE_AUTHORIZED, FROM_MODEL, DATE_DELETED, DELETED_BY, DATE_DELETE_REJECTED, 
    DELETE_REJECTED_BY, TO_BE_DELETED
  </sql>
  <select id="selectS_APPROLUSR" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.S_APPROLUSRVO" >
    select 
    <include refid="Base_Column_List" />
    from S_APPROLUSR
    where APP_NAME = #{APP_NAME}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and ROLE_NAME = #{ROLE_NAME}
      and USER_ID = #{USER_ID}
  </select>
  <delete id="deleteS_APPROLUSR" parameterType="com.path.dbmaps.vo.S_APPROLUSRVO" >
    delete from S_APPROLUSR
    where APP_NAME = #{APP_NAME}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and ROLE_NAME = #{ROLE_NAME}
      and USER_ID = #{USER_ID}
  </delete>
  <insert id="insertS_APPROLUSR" parameterType="com.path.dbmaps.vo.S_APPROLUSRVO" >
    insert into S_APPROLUSR
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="APP_NAME != null" >
        APP_NAME,
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="ROLE_NAME != null" >
        ROLE_NAME,
      </if>
      <if test="USER_ID != null" >
        USER_ID,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="AUTHORIZED_BY != null" >
        AUTHORIZED_BY,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED,
      </if>
      <if test="DATE_AUTHORIZED != null" >
        DATE_AUTHORIZED,
      </if>
      <if test="FROM_MODEL != null" >
        FROM_MODEL,
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED,
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY,
      </if>
      <if test="DATE_DELETE_REJECTED != null" >
        DATE_DELETE_REJECTED,
      </if>
      <if test="DELETE_REJECTED_BY != null" >
        DELETE_REJECTED_BY,
      </if>
      <if test="TO_BE_DELETED != null" >
        TO_BE_DELETED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="APP_NAME != null" >
        #{APP_NAME},
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="ROLE_NAME != null" >
        #{ROLE_NAME},
      </if>
      <if test="USER_ID != null" >
        #{USER_ID},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="AUTHORIZED_BY != null" >
        #{AUTHORIZED_BY},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="DATE_CREATED != null" >
        #{DATE_CREATED},
      </if>
      <if test="DATE_AUTHORIZED != null" >
        #{DATE_AUTHORIZED},
      </if>
      <if test="FROM_MODEL != null" >
        #{FROM_MODEL},
      </if>
      <if test="DATE_DELETED != null" >
        #{DATE_DELETED},
      </if>
      <if test="DELETED_BY != null" >
        #{DELETED_BY},
      </if>
      <if test="DATE_DELETE_REJECTED != null" >
        #{DATE_DELETE_REJECTED},
      </if>
      <if test="DELETE_REJECTED_BY != null" >
        #{DELETE_REJECTED_BY},
      </if>
      <if test="TO_BE_DELETED != null" >
        #{TO_BE_DELETED},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateS_APPROLUSR" >
    update S_APPROLUSR
    <set >
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="AUTHORIZED_BY != null" >
        AUTHORIZED_BY = #{AUTHORIZED_BY},
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED = #{DATE_CREATED},
      </if>
      <if test="DATE_AUTHORIZED != null" >
        DATE_AUTHORIZED = #{DATE_AUTHORIZED},
      </if>
      <if test="FROM_MODEL != null" >
        FROM_MODEL = #{FROM_MODEL},
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED = #{DATE_DELETED},
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY = #{DELETED_BY},
      </if>
      <if test="DATE_DELETE_REJECTED != null" >
        DATE_DELETE_REJECTED = #{DATE_DELETE_REJECTED},
      </if>
      <if test="DELETE_REJECTED_BY != null" >
        DELETE_REJECTED_BY = #{DELETE_REJECTED_BY},
      </if>
      <if test="TO_BE_DELETED != null" >
        TO_BE_DELETED = #{TO_BE_DELETED},
      </if>
    </set>
    where APP_NAME = #{APP_NAME}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and ROLE_NAME = #{ROLE_NAME}
      and USER_ID = #{USER_ID}
  </sql>
  <update id="updateS_APPROLUSR" parameterType="com.path.dbmaps.vo.S_APPROLUSRVO" >
    <include refid="sql_updateS_APPROLUSR" />
  </update>
</mapper>