<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="S_APPLOG" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.S_APPLOGVO" >
    <id column="APP_NAME" property="APP_NAME" />
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="USER_ID" property="USER_ID" />
    <result column="USER_STS" property="USER_STS" />
    <result column="LAST_LOG" property="LAST_LOG" />
    <result column="LAST_LOGOUT" property="LAST_LOGOUT" />
    <result column="RUN_MODE" property="RUN_MODE" />
    <result column="MSNGR_ON" property="MSNGR_ON" />
    <result column="LOGOFF_APP" property="LOGOFF_APP" />
    <result column="MACHINE_ID" property="MACHINE_ID" />
    <result column="IDLE_STATUS" property="IDLE_STATUS" />
    <result column="RUN_FROM_TODO" property="RUN_FROM_TODO" />
    <result column="SESSION_ID" property="SESSION_ID" />
    <result column="ENABLE_LANGUAGE" property="ENABLE_LANGUAGE" />
    <result column="MACHINE_ID_WEB" property="MACHINE_ID_WEB" />
    <result column="USER_STS_WEB" property="USER_STS_WEB" />
    <result column="WEB_HTTP_SESSION_ID" property="WEB_HTTP_SESSION_ID" />
    <result column="AXS_CHANGED_YN" property="AXS_CHANGED_YN" />
  </resultMap>
  <sql id="Base_Column_List" >
    APP_NAME, BRANCH_CODE, COMP_CODE, USER_ID, USER_STS, LAST_LOG, LAST_LOGOUT, RUN_MODE, 
    MSNGR_ON, LOGOFF_APP, MACHINE_ID, IDLE_STATUS, RUN_FROM_TODO, SESSION_ID, ENABLE_LANGUAGE, 
    MACHINE_ID_WEB, USER_STS_WEB, WEB_HTTP_SESSION_ID, AXS_CHANGED_YN
  </sql>
  <select id="selectS_APPLOG" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.S_APPLOGVOKey" >
    select 
    <include refid="Base_Column_List" />
    from S_APPLOG
    where APP_NAME = #{APP_NAME}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and USER_ID = #{USER_ID}
  </select>
  <delete id="deleteS_APPLOG" parameterType="com.path.dbmaps.vo.S_APPLOGVOKey" >
    delete from S_APPLOG
    where APP_NAME = #{APP_NAME}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and USER_ID = #{USER_ID}
  </delete>
  <insert id="insertS_APPLOG" parameterType="com.path.dbmaps.vo.S_APPLOGVO" >
    insert into S_APPLOG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="APP_NAME != null" >
        APP_NAME,
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="USER_ID != null" >
        USER_ID,
      </if>
      <if test="USER_STS != null" >
        USER_STS,
      </if>
      <if test="LAST_LOG != null" >
        LAST_LOG,
      </if>
      <if test="LAST_LOGOUT != null" >
        LAST_LOGOUT,
      </if>
      <if test="RUN_MODE != null and RUN_MODE != emptyBigDecimalValue" >
        RUN_MODE,
      </if>
      <if test="MSNGR_ON != null" >
        MSNGR_ON,
      </if>
      <if test="LOGOFF_APP != null" >
        LOGOFF_APP,
      </if>
      <if test="MACHINE_ID != null and !&quot;&quot;.equals(MACHINE_ID)" >
        MACHINE_ID,
      </if>
      <if test="IDLE_STATUS != null" >
        IDLE_STATUS,
      </if>
      <if test="RUN_FROM_TODO != null" >
        RUN_FROM_TODO,
      </if>
      <if test="SESSION_ID != null and SESSION_ID != emptyBigDecimalValue" >
        SESSION_ID,
      </if>
      <if test="ENABLE_LANGUAGE != null" >
        ENABLE_LANGUAGE,
      </if>
      <if test="MACHINE_ID_WEB != null and !&quot;&quot;.equals(MACHINE_ID_WEB)" >
        MACHINE_ID_WEB,
      </if>
      <if test="USER_STS_WEB != null" >
        USER_STS_WEB,
      </if>
      <if test="WEB_HTTP_SESSION_ID != null and !&quot;&quot;.equals(WEB_HTTP_SESSION_ID)" >
        WEB_HTTP_SESSION_ID,
      </if>
      <if test="AXS_CHANGED_YN != null and AXS_CHANGED_YN != emptyBigDecimalValue" >
        AXS_CHANGED_YN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="APP_NAME != null" >
        #{APP_NAME},
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="USER_ID != null" >
        #{USER_ID},
      </if>
      <if test="USER_STS != null" >
        #{USER_STS},
      </if>
      <if test="LAST_LOG != null" >
        #{LAST_LOG},
      </if>
      <if test="LAST_LOGOUT != null" >
        #{LAST_LOGOUT},
      </if>
      <if test="RUN_MODE != null and RUN_MODE != emptyBigDecimalValue" >
        #{RUN_MODE},
      </if>
      <if test="MSNGR_ON != null" >
        #{MSNGR_ON},
      </if>
      <if test="LOGOFF_APP != null" >
        #{LOGOFF_APP},
      </if>
       <if test="MACHINE_ID != null and !&quot;&quot;.equals(MACHINE_ID)" >
        #{MACHINE_ID},
      </if>
      <if test="IDLE_STATUS != null" >
        #{IDLE_STATUS},
      </if>
      <if test="RUN_FROM_TODO != null" >
        #{RUN_FROM_TODO},
      </if>
      <if test="SESSION_ID != null and SESSION_ID != emptyBigDecimalValue" >
        #{SESSION_ID},
      </if>
      <if test="ENABLE_LANGUAGE != null" >
        #{ENABLE_LANGUAGE},
      </if>
      <if test="MACHINE_ID_WEB != null and !&quot;&quot;.equals(MACHINE_ID_WEB)" >
        #{MACHINE_ID_WEB},
      </if>
      <if test="USER_STS_WEB != null" >
        #{USER_STS_WEB},
      </if>
      <if test="WEB_HTTP_SESSION_ID != null and !&quot;&quot;.equals(WEB_HTTP_SESSION_ID)" >
        #{WEB_HTTP_SESSION_ID},
      </if>
      <if test="AXS_CHANGED_YN != null and AXS_CHANGED_YN != emptyBigDecimalValue" >
        #{AXS_CHANGED_YN},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateS_APPLOG" >
    update S_APPLOG
    <set >
      <if test="USER_STS != null" >
        USER_STS = #{USER_STS},
      </if>
      <if test="LAST_LOG != null" >
        LAST_LOG = #{LAST_LOG},
      </if>
      <if test="LAST_LOGOUT != null" >
        LAST_LOGOUT = #{LAST_LOGOUT},
      </if>
      <if test="RUN_MODE != null" >
        <choose >
          <when test="RUN_MODE == emptyBigDecimalValue" >
            RUN_MODE = NULL ,
          </when>
          <otherwise >
            RUN_MODE = #{RUN_MODE},
          </otherwise>
        </choose>
      </if>
      <if test="MSNGR_ON != null" >
        MSNGR_ON = #{MSNGR_ON},
      </if>
      <if test="LOGOFF_APP != null" >
        LOGOFF_APP = #{LOGOFF_APP},
      </if>
      <if test="MACHINE_ID != null" >
        <choose >
          <when test="MACHINE_ID.equals(&quot;&quot;)" >
            MACHINE_ID = NULL ,
          </when>
          <otherwise >
            MACHINE_ID = #{MACHINE_ID},
          </otherwise>
        </choose>
      </if>
      <if test="IDLE_STATUS != null" >
        IDLE_STATUS = #{IDLE_STATUS},
      </if>
      <if test="RUN_FROM_TODO != null" >
        RUN_FROM_TODO = #{RUN_FROM_TODO},
      </if>
      <if test="SESSION_ID != null" >
        <choose >
          <when test="SESSION_ID == emptyBigDecimalValue" >
            SESSION_ID = NULL ,
          </when>
          <otherwise >
            SESSION_ID = #{SESSION_ID},
          </otherwise>
        </choose>
      </if>
      <if test="ENABLE_LANGUAGE != null" >
        ENABLE_LANGUAGE = #{ENABLE_LANGUAGE},
      </if>
      <if test="MACHINE_ID_WEB != null" >
        <choose >
          <when test="MACHINE_ID_WEB.equals(&quot;&quot;)" >
            MACHINE_ID_WEB = NULL ,
          </when>
          <otherwise >
            MACHINE_ID_WEB = #{MACHINE_ID_WEB},
          </otherwise>
        </choose>
      </if>
      <if test="USER_STS_WEB != null" >
        USER_STS_WEB = #{USER_STS_WEB},
      </if>
      <if test="WEB_HTTP_SESSION_ID != null" >
        <choose >
          <when test="WEB_HTTP_SESSION_ID.equals(&quot;&quot;)" >
            WEB_HTTP_SESSION_ID = NULL ,
          </when>
          <otherwise >
            WEB_HTTP_SESSION_ID = #{WEB_HTTP_SESSION_ID},
          </otherwise>
        </choose>
      </if>
      <if test="AXS_CHANGED_YN != null" >
        <choose >
          <when test="AXS_CHANGED_YN == emptyBigDecimalValue" >
            AXS_CHANGED_YN = NULL ,
          </when>
          <otherwise >
            AXS_CHANGED_YN = #{AXS_CHANGED_YN},
          </otherwise>
        </choose>
      </if>
    </set>
    where APP_NAME = #{APP_NAME}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and USER_ID = #{USER_ID}
  </sql>
  <update id="updateS_APPLOG" parameterType="com.path.dbmaps.vo.S_APPLOGVO" >
    <include refid="sql_updateS_APPLOG" />
  </update>
</mapper>