<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="S_LINK_CIF_AMF" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.S_LINK_CIF_AMFVO" >
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINK_CODE" property="LINK_CODE" />
    <id column="LINK_SERIAL" property="LINK_SERIAL" />
    <result column="FROM_BR" property="FROM_BR" />
    <result column="FROM_CY" property="FROM_CY" />
    <result column="FROM_GL" property="FROM_GL" />
    <result column="FROM_CIF" property="FROM_CIF" />
    <result column="FROM_SL" property="FROM_SL" />
    <result column="TO_BR" property="TO_BR" />
    <result column="TO_CY" property="TO_CY" />
    <result column="TO_GL" property="TO_GL" />
    <result column="TO_CIF" property="TO_CIF" />
    <result column="TO_SL" property="TO_SL" />
    <result column="BRIEF_DESC_ENG" property="BRIEF_DESC_ENG" />
    <result column="LONG_DESC_ENG" property="LONG_DESC_ENG" />
    <result column="BRIEF_DESC_ARAB" property="BRIEF_DESC_ARAB" />
    <result column="LONG_DESC_ARAB" property="LONG_DESC_ARAB" />
    <result column="LIMIT" property="LIMIT" />
    <result column="STATUS" property="STATUS" />
    <result column="DATE_CREATED" property="DATE_CREATED" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="DATE_APPROVED" property="DATE_APPROVED" />
    <result column="APPROVED_BY" property="APPROVED_BY" />
    <result column="DATE_SUSPENDED" property="DATE_SUSPENDED" />
    <result column="SUSPENDED_BY" property="SUSPENDED_BY" />
    <result column="DATE_REACTIVATED" property="DATE_REACTIVATED" />
    <result column="REACTIVATED_BY" property="REACTIVATED_BY" />
    <result column="DATE_CANCELED" property="DATE_CANCELED" />
    <result column="CANCELED_BY" property="CANCELED_BY" />
    <result column="DATE_DELETED" property="DATE_DELETED" />
    <result column="DELETED_BY" property="DELETED_BY" />
    <result column="DATE_MODIFIED" property="DATE_MODIFIED" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="TO_REACTIVATE_BY" property="TO_REACTIVATE_BY" />
    <result column="TO_REACTIVATE_DATE" property="TO_REACTIVATE_DATE" />
    <result column="TO_SUSPEND_BY" property="TO_SUSPEND_BY" />
    <result column="TO_SUSPEND_DATE" property="TO_SUSPEND_DATE" />
    <result column="TO_CANCEL_BY" property="TO_CANCEL_BY" />
    <result column="TO_CANCEL_DATE" property="TO_CANCEL_DATE" />
    <result column="OLD_STATUS" property="OLD_STATUS" />
    <result column="DATE_UPDATED" property="DATE_UPDATED" />
  </resultMap>
  <sql id="Base_Column_List" >
    COMP_CODE, LINK_CODE, LINK_SERIAL, FROM_BR, FROM_CY, FROM_GL, FROM_CIF, FROM_SL, 
    TO_BR, TO_CY, TO_GL, TO_CIF, TO_SL, BRIEF_DESC_ENG, LONG_DESC_ENG, BRIEF_DESC_ARAB, 
    LONG_DESC_ARAB, LIMIT, STATUS, DATE_CREATED, CREATED_BY, DATE_APPROVED, APPROVED_BY, 
    DATE_SUSPENDED, SUSPENDED_BY, DATE_REACTIVATED, REACTIVATED_BY, DATE_CANCELED, CANCELED_BY, 
    DATE_DELETED, DELETED_BY, DATE_MODIFIED, MODIFIED_BY, TO_REACTIVATE_BY, TO_REACTIVATE_DATE, 
    TO_SUSPEND_BY, TO_SUSPEND_DATE, TO_CANCEL_BY, TO_CANCEL_DATE, OLD_STATUS, DATE_UPDATED
  </sql>
  <select id="selectS_LINK_CIF_AMF" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.S_LINK_CIF_AMFVOKey" >
    select 
    <include refid="Base_Column_List" />
    from S_LINK_CIF_AMF
    where COMP_CODE = #{COMP_CODE}
      and LINK_CODE = #{LINK_CODE}
      and LINK_SERIAL = #{LINK_SERIAL}
  </select>
  <delete id="deleteS_LINK_CIF_AMF" parameterType="com.path.dbmaps.vo.S_LINK_CIF_AMFVOKey" >
    delete from S_LINK_CIF_AMF
    where COMP_CODE = #{COMP_CODE}
      and LINK_CODE = #{LINK_CODE}
      and LINK_SERIAL = #{LINK_SERIAL}
  </delete>
  <insert id="insertS_LINK_CIF_AMF" parameterType="com.path.dbmaps.vo.S_LINK_CIF_AMFVO" >
    insert into S_LINK_CIF_AMF
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINK_CODE != null and LINK_CODE != emptyBigDecimalValue" >
        LINK_CODE,
      </if>
      <if test="LINK_SERIAL != null and LINK_SERIAL != emptyBigDecimalValue" >
        LINK_SERIAL,
      </if>
      <if test="FROM_BR != null and FROM_BR != emptyBigDecimalValue" >
        FROM_BR,
      </if>
      <if test="FROM_CY != null and FROM_CY != emptyBigDecimalValue" >
        FROM_CY,
      </if>
      <if test="FROM_GL != null and FROM_GL != emptyBigDecimalValue" >
        FROM_GL,
      </if>
      <if test="FROM_CIF != null and FROM_CIF != emptyBigDecimalValue" >
        FROM_CIF,
      </if>
      <if test="FROM_SL != null and FROM_SL != emptyBigDecimalValue" >
        FROM_SL,
      </if>
      <if test="TO_BR != null and TO_BR != emptyBigDecimalValue" >
        TO_BR,
      </if>
      <if test="TO_CY != null and TO_CY != emptyBigDecimalValue" >
        TO_CY,
      </if>
      <if test="TO_GL != null and TO_GL != emptyBigDecimalValue" >
        TO_GL,
      </if>
      <if test="TO_CIF != null and TO_CIF != emptyBigDecimalValue" >
        TO_CIF,
      </if>
      <if test="TO_SL != null and TO_SL != emptyBigDecimalValue" >
        TO_SL,
      </if>
      <if test="BRIEF_DESC_ENG != null" >
        BRIEF_DESC_ENG,
      </if>
      <if test="LONG_DESC_ENG != null" >
        LONG_DESC_ENG,
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        BRIEF_DESC_ARAB,
      </if>
      <if test="LONG_DESC_ARAB != null" >
        LONG_DESC_ARAB,
      </if>
      <if test="LIMIT != null and LIMIT != emptyBigDecimalValue" >
        LIMIT,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED,
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY,
      </if>
      <if test="DATE_SUSPENDED != null" >
        DATE_SUSPENDED,
      </if>
      <if test="SUSPENDED_BY != null" >
        SUSPENDED_BY,
      </if>
      <if test="DATE_REACTIVATED != null" >
        DATE_REACTIVATED,
      </if>
      <if test="REACTIVATED_BY != null" >
        REACTIVATED_BY,
      </if>
      <if test="DATE_CANCELED != null" >
        DATE_CANCELED,
      </if>
      <if test="CANCELED_BY != null" >
        CANCELED_BY,
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED,
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY,
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED,
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY,
      </if>
      <if test="TO_REACTIVATE_BY != null" >
        TO_REACTIVATE_BY,
      </if>
      <if test="TO_REACTIVATE_DATE != null" >
        TO_REACTIVATE_DATE,
      </if>
      <if test="TO_SUSPEND_BY != null" >
        TO_SUSPEND_BY,
      </if>
      <if test="TO_SUSPEND_DATE != null" >
        TO_SUSPEND_DATE,
      </if>
      <if test="TO_CANCEL_BY != null" >
        TO_CANCEL_BY,
      </if>
      <if test="TO_CANCEL_DATE != null" >
        TO_CANCEL_DATE,
      </if>
      <if test="OLD_STATUS != null" >
        OLD_STATUS,
      </if>
      DATE_UPDATED,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINK_CODE != null and LINK_CODE != emptyBigDecimalValue" >
        #{LINK_CODE},
      </if>
      <if test="LINK_SERIAL != null and LINK_SERIAL != emptyBigDecimalValue" >
        #{LINK_SERIAL},
      </if>
      <if test="FROM_BR != null and FROM_BR != emptyBigDecimalValue" >
        #{FROM_BR},
      </if>
      <if test="FROM_CY != null and FROM_CY != emptyBigDecimalValue" >
        #{FROM_CY},
      </if>
      <if test="FROM_GL != null and FROM_GL != emptyBigDecimalValue" >
        #{FROM_GL},
      </if>
      <if test="FROM_CIF != null and FROM_CIF != emptyBigDecimalValue" >
        #{FROM_CIF},
      </if>
      <if test="FROM_SL != null and FROM_SL != emptyBigDecimalValue" >
        #{FROM_SL},
      </if>
      <if test="TO_BR != null and TO_BR != emptyBigDecimalValue" >
        #{TO_BR},
      </if>
      <if test="TO_CY != null and TO_CY != emptyBigDecimalValue" >
        #{TO_CY},
      </if>
      <if test="TO_GL != null and TO_GL != emptyBigDecimalValue" >
        #{TO_GL},
      </if>
      <if test="TO_CIF != null and TO_CIF != emptyBigDecimalValue" >
        #{TO_CIF},
      </if>
      <if test="TO_SL != null and TO_SL != emptyBigDecimalValue" >
        #{TO_SL},
      </if>
      <if test="BRIEF_DESC_ENG != null" >
        #{BRIEF_DESC_ENG},
      </if>
      <if test="LONG_DESC_ENG != null" >
        #{LONG_DESC_ENG},
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        #{BRIEF_DESC_ARAB},
      </if>
      <if test="LONG_DESC_ARAB != null" >
        #{LONG_DESC_ARAB},
      </if>
      <if test="LIMIT != null and LIMIT != emptyBigDecimalValue" >
        #{LIMIT},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="DATE_CREATED != null" >
        #{DATE_CREATED},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="DATE_APPROVED != null" >
        #{DATE_APPROVED},
      </if>
      <if test="APPROVED_BY != null" >
        #{APPROVED_BY},
      </if>
      <if test="DATE_SUSPENDED != null" >
        #{DATE_SUSPENDED},
      </if>
      <if test="SUSPENDED_BY != null" >
        #{SUSPENDED_BY},
      </if>
      <if test="DATE_REACTIVATED != null" >
        #{DATE_REACTIVATED},
      </if>
      <if test="REACTIVATED_BY != null" >
        #{REACTIVATED_BY},
      </if>
      <if test="DATE_CANCELED != null" >
        #{DATE_CANCELED},
      </if>
      <if test="CANCELED_BY != null" >
        #{CANCELED_BY},
      </if>
      <if test="DATE_DELETED != null" >
        #{DATE_DELETED},
      </if>
      <if test="DELETED_BY != null" >
        #{DELETED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        #{DATE_MODIFIED},
      </if>
      <if test="MODIFIED_BY != null" >
        #{MODIFIED_BY},
      </if>
      <if test="TO_REACTIVATE_BY != null" >
        #{TO_REACTIVATE_BY},
      </if>
      <if test="TO_REACTIVATE_DATE != null" >
        #{TO_REACTIVATE_DATE},
      </if>
      <if test="TO_SUSPEND_BY != null" >
        #{TO_SUSPEND_BY},
      </if>
      <if test="TO_SUSPEND_DATE != null" >
        #{TO_SUSPEND_DATE},
      </if>
      <if test="TO_CANCEL_BY != null" >
        #{TO_CANCEL_BY},
      </if>
      <if test="TO_CANCEL_DATE != null" >
        #{TO_CANCEL_DATE},
      </if>
      <if test="OLD_STATUS != null" >
        #{OLD_STATUS},
      </if>
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
    </trim>
  </insert>
  <sql id="sql_updateS_LINK_CIF_AMF" >
    update S_LINK_CIF_AMF
    <set >
      <if test="FROM_BR != null" >
        <choose >
          <when test="FROM_BR == emptyBigDecimalValue" >
            FROM_BR = NULL ,
          </when>
          <otherwise >
            FROM_BR = #{FROM_BR},
          </otherwise>
        </choose>
      </if>
      <if test="FROM_CY != null" >
        <choose >
          <when test="FROM_CY == emptyBigDecimalValue" >
            FROM_CY = NULL ,
          </when>
          <otherwise >
            FROM_CY = #{FROM_CY},
          </otherwise>
        </choose>
      </if>
      <if test="FROM_GL != null" >
        <choose >
          <when test="FROM_GL == emptyBigDecimalValue" >
            FROM_GL = NULL ,
          </when>
          <otherwise >
            FROM_GL = #{FROM_GL},
          </otherwise>
        </choose>
      </if>
      <if test="FROM_CIF != null" >
        <choose >
          <when test="FROM_CIF == emptyBigDecimalValue" >
            FROM_CIF = NULL ,
          </when>
          <otherwise >
            FROM_CIF = #{FROM_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="FROM_SL != null" >
        <choose >
          <when test="FROM_SL == emptyBigDecimalValue" >
            FROM_SL = NULL ,
          </when>
          <otherwise >
            FROM_SL = #{FROM_SL},
          </otherwise>
        </choose>
      </if>
      <if test="TO_BR != null" >
        <choose >
          <when test="TO_BR == emptyBigDecimalValue" >
            TO_BR = NULL ,
          </when>
          <otherwise >
            TO_BR = #{TO_BR},
          </otherwise>
        </choose>
      </if>
      <if test="TO_CY != null" >
        <choose >
          <when test="TO_CY == emptyBigDecimalValue" >
            TO_CY = NULL ,
          </when>
          <otherwise >
            TO_CY = #{TO_CY},
          </otherwise>
        </choose>
      </if>
      <if test="TO_GL != null" >
        <choose >
          <when test="TO_GL == emptyBigDecimalValue" >
            TO_GL = NULL ,
          </when>
          <otherwise >
            TO_GL = #{TO_GL},
          </otherwise>
        </choose>
      </if>
      <if test="TO_CIF != null" >
        <choose >
          <when test="TO_CIF == emptyBigDecimalValue" >
            TO_CIF = NULL ,
          </when>
          <otherwise >
            TO_CIF = #{TO_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="TO_SL != null" >
        <choose >
          <when test="TO_SL == emptyBigDecimalValue" >
            TO_SL = NULL ,
          </when>
          <otherwise >
            TO_SL = #{TO_SL},
          </otherwise>
        </choose>
      </if>
      <if test="BRIEF_DESC_ENG != null" >
        BRIEF_DESC_ENG = #{BRIEF_DESC_ENG},
      </if>
      <if test="LONG_DESC_ENG != null" >
        LONG_DESC_ENG = #{LONG_DESC_ENG},
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        BRIEF_DESC_ARAB = #{BRIEF_DESC_ARAB},
      </if>
      <if test="LONG_DESC_ARAB != null" >
        LONG_DESC_ARAB = #{LONG_DESC_ARAB},
      </if>
      <if test="LIMIT != null" >
        <choose >
          <when test="LIMIT == emptyBigDecimalValue" >
            LIMIT = NULL ,
          </when>
          <otherwise >
            LIMIT = #{LIMIT},
          </otherwise>
        </choose>
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED = #{DATE_CREATED},
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED = #{DATE_APPROVED},
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY = #{APPROVED_BY},
      </if>
      <if test="DATE_SUSPENDED != null" >
        DATE_SUSPENDED = #{DATE_SUSPENDED},
      </if>
      <if test="SUSPENDED_BY != null" >
        SUSPENDED_BY = #{SUSPENDED_BY},
      </if>
      <if test="DATE_REACTIVATED != null" >
        DATE_REACTIVATED = #{DATE_REACTIVATED},
      </if>
      <if test="REACTIVATED_BY != null" >
        REACTIVATED_BY = #{REACTIVATED_BY},
      </if>
      <if test="DATE_CANCELED != null" >
        DATE_CANCELED = #{DATE_CANCELED},
      </if>
      <if test="CANCELED_BY != null" >
        CANCELED_BY = #{CANCELED_BY},
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED = #{DATE_DELETED},
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY = #{DELETED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED = #{DATE_MODIFIED},
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY = #{MODIFIED_BY},
      </if>
      <if test="TO_REACTIVATE_BY != null" >
        TO_REACTIVATE_BY = #{TO_REACTIVATE_BY},
      </if>
      <if test="TO_REACTIVATE_DATE != null" >
        TO_REACTIVATE_DATE = #{TO_REACTIVATE_DATE},
      </if>
      <if test="TO_SUSPEND_BY != null" >
        TO_SUSPEND_BY = #{TO_SUSPEND_BY},
      </if>
      <if test="TO_SUSPEND_DATE != null" >
        TO_SUSPEND_DATE = #{TO_SUSPEND_DATE},
      </if>
      <if test="TO_CANCEL_BY != null" >
        TO_CANCEL_BY = #{TO_CANCEL_BY},
      </if>
      <if test="TO_CANCEL_DATE != null" >
        TO_CANCEL_DATE = #{TO_CANCEL_DATE},
      </if>
      <if test="OLD_STATUS != null" >
        OLD_STATUS = #{OLD_STATUS},
      </if>
      DATE_UPDATED = 
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
    </set>
    where COMP_CODE = #{COMP_CODE}
      and LINK_CODE = #{LINK_CODE}
      and LINK_SERIAL = #{LINK_SERIAL}
  </sql>
  <update id="updateS_LINK_CIF_AMF" parameterType="com.path.dbmaps.vo.S_LINK_CIF_AMFVO" >
    <include refid="sql_updateS_LINK_CIF_AMF" />
    <if test="DATE_UPDATED != null" > AND DATE_UPDATED = #{DATE_UPDATED} </if>
  </update>
</mapper>