<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SADS_RESTRICTION_DEFINITION" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.SADS_RESTRICTION_DEFINITIONVO" >
    <id column="RESTRICTION_CODE" property="RESTRICTION_CODE" />
    <result column="RESTRICTION_NAME" property="RESTRICTION_NAME" />
    <result column="STATUS" property="STATUS" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="CREATED_DATE" property="CREATED_DATE" />
    <result column="APPROVED_BY" property="APPROVED_BY" />
    <result column="APPROVED_DATE" property="APPROVED_DATE" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="MODIFIED_DATE" property="MODIFIED_DATE" />
    <result column="DATE_UPDATED" property="DATE_UPDATED" />
  </resultMap>
  <sql id="Base_Column_List" >
     RESTRICTION_CODE, RESTRICTION_NAME, STATUS, CREATED_BY, CREATED_DATE, APPROVED_BY, APPROVED_DATE, MODIFIED_BY, MODIFIED_DATE   
  </sql>
  <select id="selectSADS_RESTRICTION_DEFINITION" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.SADS_RESTRICTION_DEFINITIONVO" >
    select 
    <include refid="Base_Column_List" />
    from SADS_RESTRICTION_DEFINITION
    where RESTRICTION_CODE = #{RESTRICTION_CODE}
  </select>
</mapper>