<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="STF_TYPE_PARAM" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.STF_TYPE_PARAMVO" >
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="TYPE_CODE" property="TYPE_CODE" />
    <result column="STATUS" property="STATUS" />
    <result column="BRIEF_NAME_ENG" property="BRIEF_NAME_ENG" />
    <result column="BRIEF_NAME_ARAB" property="BRIEF_NAME_ARAB" />
    <result column="LONG_NAME_ENG" property="LONG_NAME_ENG" />
    <result column="LONG_NAME_ARAB" property="LONG_NAME_ARAB" />
    <result column="AUTO_CREATE_DRAWDOWN_YN" property="AUTO_CREATE_DRAWDOWN_YN" />
    <result column="SECURITY_ALLOC_AUTO_APRV_YN" property="SECURITY_ALLOC_AUTO_APRV_YN" />
    <result column="GOODS_MKT_PRC_AUTO_APRV_YN" property="GOODS_MKT_PRC_AUTO_APRV_YN" />
    <result column="SHIPMENT_REQ_AUTO_APRV_YN" property="SHIPMENT_REQ_AUTO_APRV_YN" />
    <result column="SHIPMENT_AUTO_APRV_YN" property="SHIPMENT_AUTO_APRV_YN" />
    <result column="WAREHOUSE_AUTO_APRV_YN" property="WAREHOUSE_AUTO_APRV_YN" />
    <result column="FIN_COMMODITY_TYPE_CODE" property="FIN_COMMODITY_TYPE_CODE" />
    <result column="CASH_DEPOSIT_TYPE_CODE" property="CASH_DEPOSIT_TYPE_CODE" />
    <result column="COVERAGE_TOLERANCE_PERCENTAGE" property="COVERAGE_TOLERANCE_PERCENTAGE" />
    <result column="CASH_TOLERANCE_PERCENTAGE" property="CASH_TOLERANCE_PERCENTAGE" />
    <result column="CASH_TOLERANCE_AMOUNT" property="CASH_TOLERANCE_AMOUNT" />
    <result column="SHR_INVOICE_REP_ID" property="SHR_INVOICE_REP_ID" />
    <result column="RELEASE_ORDER_REP_ID" property="RELEASE_ORDER_REP_ID" />
    <result column="SALE_INVOICE_REP_ID" property="SALE_INVOICE_REP_ID" />
    <result column="TOP_UP_DEPOSIT_INVOICE_REP_ID" property="TOP_UP_DEPOSIT_INVOICE_REP_ID" />
    <result column="POOL_REPORT_REP_ID" property="POOL_REPORT_REP_ID" />
    <result column="CASH_MARGIN_GL" property="CASH_MARGIN_GL" />
    <result column="CASH_DEPOSIT_GL" property="CASH_DEPOSIT_GL" />
    <result column="ACC_REC_GL" property="ACC_REC_GL" />
    <result column="ACC_PAY_GL" property="ACC_PAY_GL" />
    <result column="CASH_MARGIN_DIV" property="CASH_MARGIN_DIV" />
    <result column="CASH_DEPOSIT_DIV" property="CASH_DEPOSIT_DIV" />
    <result column="ACC_REC_DIV" property="ACC_REC_DIV" />
    <result column="ACC_PAY_DIV" property="ACC_PAY_DIV" />
    <result column="CASH_MARGIN_DEP" property="CASH_MARGIN_DEP" />
    <result column="CASH_DEPOSIT_DEP" property="CASH_DEPOSIT_DEP" />
    <result column="ACC_REC_DEP" property="ACC_REC_DEP" />
    <result column="ACC_PAY_DEP" property="ACC_PAY_DEP" />
    <result column="TEMPLATE_CODE_SHIPMENT_REQUEST" property="TEMPLATE_CODE_SHIPMENT_REQUEST" />
    <result column="TEMPLATE_CODE_PURCHASE" property="TEMPLATE_CODE_PURCHASE" />
    <result column="TEMPLATE_CODE_SALE" property="TEMPLATE_CODE_SALE" />
    <result column="TEMPLATE_CODE_STLMT_RCPT_CASH" property="TEMPLATE_CODE_STLMT_RCPT_CASH" />
    <result column="TEMPLATE_CODE_STLMT_RCPT_PART" property="TEMPLATE_CODE_STLMT_RCPT_PART" />
    <result column="TEMPLATE_CODE_STLMT_RCPT_SALE" property="TEMPLATE_CODE_STLMT_RCPT_SALE" />
    <result column="TEMPLATE_CODE_STLMT_RCPT_RCVB" property="TEMPLATE_CODE_STLMT_RCPT_RCVB" />
    <result column="TEMPLATE_CODE_STLMT_RCPT_TOPUP" property="TEMPLATE_CODE_STLMT_RCPT_TOPUP" />
    <result column="TEMPLATE_CODE_STLMT_RFD_CUST" property="TEMPLATE_CODE_STLMT_RFD_CUST" />
    <result column="TEMPLATE_CODE_WAIVE_WRITEOFF" property="TEMPLATE_CODE_WAIVE_WRITEOFF" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="CREATED_DATE" property="CREATED_DATE" />
    <result column="SERVER_CREATED_DATE" property="SERVER_CREATED_DATE" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="MODIFIED_DATE" property="MODIFIED_DATE" />
    <result column="SERVER_MODIFIED_DATE" property="SERVER_MODIFIED_DATE" />
    <result column="DELETED_BY" property="DELETED_BY" />
    <result column="DELETED_DATE" property="DELETED_DATE" />
    <result column="SERVER_DELETED_DATE" property="SERVER_DELETED_DATE" />
    <result column="APPROVED_BY" property="APPROVED_BY" />
    <result column="APPROVED_DATE" property="APPROVED_DATE" />
    <result column="SERVER_APPROVED_DATE" property="SERVER_APPROVED_DATE" />
    <result column="APPROVE_REJECTED_BY" property="APPROVE_REJECTED_BY" />
    <result column="APPROVE_REJECTED_DATE" property="APPROVE_REJECTED_DATE" />
    <result column="SERVER_APPROVE_REJECTED_DATE" property="SERVER_APPROVE_REJECTED_DATE" />
    <result column="DATE_UPDATED" property="DATE_UPDATED" />
    <result column="NOSTRO_INCOMING_DEP" property="NOSTRO_INCOMING_DEP" />
    <result column="NOSTRO_INCOMING_DIV" property="NOSTRO_INCOMING_DIV" />
    <result column="NOSTRO_INCOMING_GL" property="NOSTRO_INCOMING_GL" />
    <result column="NOSTRO_OUTGOING_DEP" property="NOSTRO_OUTGOING_DEP" />
    <result column="NOSTRO_OUTGOING_DIV" property="NOSTRO_OUTGOING_DIV" />
    <result column="NOSTRO_OUTGOING_GL" property="NOSTRO_OUTGOING_GL" />
    <result column="NOSTRO_INCOMING_CIF" property="NOSTRO_INCOMING_CIF" />
    <result column="NOSTRO_INCOMING_SL" property="NOSTRO_INCOMING_SL" />
    <result column="NOSTRO_OUTGOING_CIF" property="NOSTRO_OUTGOING_CIF" />
    <result column="NOSTRO_OUTGOING_SL" property="NOSTRO_OUTGOING_SL" />
    <result column="CASH_TOLERANCE_CY" property="CASH_TOLERANCE_CY" />
    <result column="TEMPLATE_CODE_TOPUP_DEPOSIT" property="TEMPLATE_CODE_TOPUP_DEPOSIT" />
    <result column="TEMPLATE_CODE_RELEASE_COLLATRL" property="TEMPLATE_CODE_RELEASE_COLLATRL" />
    <result column="REJECT_REASON" property="REJECT_REASON" />
  </resultMap>
  <sql id="Base_Column_List" >
    COMP_CODE, TYPE_CODE, STATUS, BRIEF_NAME_ENG, BRIEF_NAME_ARAB, LONG_NAME_ENG, LONG_NAME_ARAB, 
    AUTO_CREATE_DRAWDOWN_YN, SECURITY_ALLOC_AUTO_APRV_YN, GOODS_MKT_PRC_AUTO_APRV_YN, 
    SHIPMENT_REQ_AUTO_APRV_YN, SHIPMENT_AUTO_APRV_YN, WAREHOUSE_AUTO_APRV_YN, FIN_COMMODITY_TYPE_CODE, 
    CASH_DEPOSIT_TYPE_CODE, COVERAGE_TOLERANCE_PERCENTAGE, CASH_TOLERANCE_PERCENTAGE, 
    CASH_TOLERANCE_AMOUNT, SHR_INVOICE_REP_ID, RELEASE_ORDER_REP_ID, SALE_INVOICE_REP_ID, 
    TOP_UP_DEPOSIT_INVOICE_REP_ID, POOL_REPORT_REP_ID, CASH_MARGIN_GL, CASH_DEPOSIT_GL, 
    ACC_REC_GL, ACC_PAY_GL, CASH_MARGIN_DIV, CASH_DEPOSIT_DIV, ACC_REC_DIV, ACC_PAY_DIV, 
    CASH_MARGIN_DEP, CASH_DEPOSIT_DEP, ACC_REC_DEP, ACC_PAY_DEP, TEMPLATE_CODE_SHIPMENT_REQUEST, 
    TEMPLATE_CODE_PURCHASE, TEMPLATE_CODE_SALE, TEMPLATE_CODE_STLMT_RCPT_CASH, TEMPLATE_CODE_STLMT_RCPT_PART, 
    TEMPLATE_CODE_STLMT_RCPT_SALE, TEMPLATE_CODE_STLMT_RCPT_RCVB, TEMPLATE_CODE_STLMT_RCPT_TOPUP, 
    TEMPLATE_CODE_STLMT_RFD_CUST, TEMPLATE_CODE_WAIVE_WRITEOFF, CREATED_BY, CREATED_DATE, 
    SERVER_CREATED_DATE, MODIFIED_BY, MODIFIED_DATE, SERVER_MODIFIED_DATE, DELETED_BY, 
    DELETED_DATE, SERVER_DELETED_DATE, APPROVED_BY, APPROVED_DATE, SERVER_APPROVED_DATE, 
    APPROVE_REJECTED_BY, APPROVE_REJECTED_DATE, SERVER_APPROVE_REJECTED_DATE, DATE_UPDATED, 
    NOSTRO_INCOMING_DEP, NOSTRO_INCOMING_DIV, NOSTRO_INCOMING_GL, NOSTRO_OUTGOING_DEP, 
    NOSTRO_OUTGOING_DIV, NOSTRO_OUTGOING_GL, NOSTRO_INCOMING_CIF, NOSTRO_INCOMING_SL, 
    NOSTRO_OUTGOING_CIF, NOSTRO_OUTGOING_SL, CASH_TOLERANCE_CY, TEMPLATE_CODE_TOPUP_DEPOSIT, 
    TEMPLATE_CODE_RELEASE_COLLATRL, REJECT_REASON
  </sql>
  <select id="selectSTF_TYPE_PARAM" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.STF_TYPE_PARAMVOKey" >
    select 
    <include refid="Base_Column_List" />
    from STF_TYPE_PARAM
    where COMP_CODE = #{COMP_CODE}
      and TYPE_CODE = #{TYPE_CODE}
  </select>
  <delete id="deleteSTF_TYPE_PARAM" parameterType="com.path.dbmaps.vo.STF_TYPE_PARAMVOKey" >
    delete from STF_TYPE_PARAM
    where COMP_CODE = #{COMP_CODE}
      and TYPE_CODE = #{TYPE_CODE}
  </delete>
  <insert id="insertSTF_TYPE_PARAM" parameterType="com.path.dbmaps.vo.STF_TYPE_PARAMVO" >
    insert into STF_TYPE_PARAM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="TYPE_CODE != null and TYPE_CODE != emptyBigDecimalValue" >
        TYPE_CODE,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="BRIEF_NAME_ENG != null" >
        BRIEF_NAME_ENG,
      </if>
      <if test="BRIEF_NAME_ARAB != null" >
        BRIEF_NAME_ARAB,
      </if>
      <if test="LONG_NAME_ENG != null" >
        LONG_NAME_ENG,
      </if>
      <if test="LONG_NAME_ARAB != null" >
        LONG_NAME_ARAB,
      </if>
      <if test="AUTO_CREATE_DRAWDOWN_YN != null" >
        AUTO_CREATE_DRAWDOWN_YN,
      </if>
      <if test="SECURITY_ALLOC_AUTO_APRV_YN != null" >
        SECURITY_ALLOC_AUTO_APRV_YN,
      </if>
      <if test="GOODS_MKT_PRC_AUTO_APRV_YN != null" >
        GOODS_MKT_PRC_AUTO_APRV_YN,
      </if>
      <if test="SHIPMENT_REQ_AUTO_APRV_YN != null" >
        SHIPMENT_REQ_AUTO_APRV_YN,
      </if>
      <if test="SHIPMENT_AUTO_APRV_YN != null" >
        SHIPMENT_AUTO_APRV_YN,
      </if>
      <if test="WAREHOUSE_AUTO_APRV_YN != null" >
        WAREHOUSE_AUTO_APRV_YN,
      </if>
      <if test="FIN_COMMODITY_TYPE_CODE != null and FIN_COMMODITY_TYPE_CODE != emptyBigDecimalValue" >
        FIN_COMMODITY_TYPE_CODE,
      </if>
      <if test="CASH_DEPOSIT_TYPE_CODE != null and CASH_DEPOSIT_TYPE_CODE != emptyBigDecimalValue" >
        CASH_DEPOSIT_TYPE_CODE,
      </if>
      <if test="COVERAGE_TOLERANCE_PERCENTAGE != null and COVERAGE_TOLERANCE_PERCENTAGE != emptyBigDecimalValue" >
        COVERAGE_TOLERANCE_PERCENTAGE,
      </if>
      <if test="CASH_TOLERANCE_PERCENTAGE != null and CASH_TOLERANCE_PERCENTAGE != emptyBigDecimalValue" >
        CASH_TOLERANCE_PERCENTAGE,
      </if>
      <if test="CASH_TOLERANCE_AMOUNT != null and CASH_TOLERANCE_AMOUNT != emptyBigDecimalValue" >
        CASH_TOLERANCE_AMOUNT,
      </if>
      <if test="SHR_INVOICE_REP_ID != null and SHR_INVOICE_REP_ID != emptyBigDecimalValue" >
        SHR_INVOICE_REP_ID,
      </if>
      <if test="RELEASE_ORDER_REP_ID != null and RELEASE_ORDER_REP_ID != emptyBigDecimalValue" >
        RELEASE_ORDER_REP_ID,
      </if>
      <if test="SALE_INVOICE_REP_ID != null and SALE_INVOICE_REP_ID != emptyBigDecimalValue" >
        SALE_INVOICE_REP_ID,
      </if>
      <if test="TOP_UP_DEPOSIT_INVOICE_REP_ID != null and TOP_UP_DEPOSIT_INVOICE_REP_ID != emptyBigDecimalValue" >
        TOP_UP_DEPOSIT_INVOICE_REP_ID,
      </if>
      <if test="POOL_REPORT_REP_ID != null and POOL_REPORT_REP_ID != emptyBigDecimalValue" >
        POOL_REPORT_REP_ID,
      </if>
      <if test="CASH_MARGIN_GL != null and CASH_MARGIN_GL != emptyBigDecimalValue" >
        CASH_MARGIN_GL,
      </if>
      <if test="CASH_DEPOSIT_GL != null and CASH_DEPOSIT_GL != emptyBigDecimalValue" >
        CASH_DEPOSIT_GL,
      </if>
      <if test="ACC_REC_GL != null and ACC_REC_GL != emptyBigDecimalValue" >
        ACC_REC_GL,
      </if>
      <if test="ACC_PAY_GL != null and ACC_PAY_GL != emptyBigDecimalValue" >
        ACC_PAY_GL,
      </if>
      <if test="CASH_MARGIN_DIV != null and CASH_MARGIN_DIV != emptyBigDecimalValue" >
        CASH_MARGIN_DIV,
      </if>
      <if test="CASH_DEPOSIT_DIV != null and CASH_DEPOSIT_DIV != emptyBigDecimalValue" >
        CASH_DEPOSIT_DIV,
      </if>
      <if test="ACC_REC_DIV != null and ACC_REC_DIV != emptyBigDecimalValue" >
        ACC_REC_DIV,
      </if>
      <if test="ACC_PAY_DIV != null and ACC_PAY_DIV != emptyBigDecimalValue" >
        ACC_PAY_DIV,
      </if>
      <if test="CASH_MARGIN_DEP != null and CASH_MARGIN_DEP != emptyBigDecimalValue" >
        CASH_MARGIN_DEP,
      </if>
      <if test="CASH_DEPOSIT_DEP != null and CASH_DEPOSIT_DEP != emptyBigDecimalValue" >
        CASH_DEPOSIT_DEP,
      </if>
      <if test="ACC_REC_DEP != null and ACC_REC_DEP != emptyBigDecimalValue" >
        ACC_REC_DEP,
      </if>
      <if test="ACC_PAY_DEP != null and ACC_PAY_DEP != emptyBigDecimalValue" >
        ACC_PAY_DEP,
      </if>
      <if test="TEMPLATE_CODE_SHIPMENT_REQUEST != null and TEMPLATE_CODE_SHIPMENT_REQUEST != emptyBigDecimalValue" >
        TEMPLATE_CODE_SHIPMENT_REQUEST,
      </if>
      <if test="TEMPLATE_CODE_PURCHASE != null and TEMPLATE_CODE_PURCHASE != emptyBigDecimalValue" >
        TEMPLATE_CODE_PURCHASE,
      </if>
      <if test="TEMPLATE_CODE_SALE != null and TEMPLATE_CODE_SALE != emptyBigDecimalValue" >
        TEMPLATE_CODE_SALE,
      </if>
      <if test="TEMPLATE_CODE_STLMT_RCPT_CASH != null and TEMPLATE_CODE_STLMT_RCPT_CASH != emptyBigDecimalValue" >
        TEMPLATE_CODE_STLMT_RCPT_CASH,
      </if>
      <if test="TEMPLATE_CODE_STLMT_RCPT_PART != null and TEMPLATE_CODE_STLMT_RCPT_PART != emptyBigDecimalValue" >
        TEMPLATE_CODE_STLMT_RCPT_PART,
      </if>
      <if test="TEMPLATE_CODE_STLMT_RCPT_SALE != null and TEMPLATE_CODE_STLMT_RCPT_SALE != emptyBigDecimalValue" >
        TEMPLATE_CODE_STLMT_RCPT_SALE,
      </if>
      <if test="TEMPLATE_CODE_STLMT_RCPT_RCVB != null and TEMPLATE_CODE_STLMT_RCPT_RCVB != emptyBigDecimalValue" >
        TEMPLATE_CODE_STLMT_RCPT_RCVB,
      </if>
      <if test="TEMPLATE_CODE_STLMT_RCPT_TOPUP != null and TEMPLATE_CODE_STLMT_RCPT_TOPUP != emptyBigDecimalValue" >
        TEMPLATE_CODE_STLMT_RCPT_TOPUP,
      </if>
      <if test="TEMPLATE_CODE_STLMT_RFD_CUST != null and TEMPLATE_CODE_STLMT_RFD_CUST != emptyBigDecimalValue" >
        TEMPLATE_CODE_STLMT_RFD_CUST,
      </if>
      <if test="TEMPLATE_CODE_WAIVE_WRITEOFF != null and TEMPLATE_CODE_WAIVE_WRITEOFF != emptyBigDecimalValue" >
        TEMPLATE_CODE_WAIVE_WRITEOFF,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE,
      </if>
      <if test="SERVER_CREATED_DATE != null" >
        SERVER_CREATED_DATE,
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY,
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE,
      </if>
      <if test="SERVER_MODIFIED_DATE != null" >
        SERVER_MODIFIED_DATE,
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY,
      </if>
      <if test="DELETED_DATE != null" >
        DELETED_DATE,
      </if>
      <if test="SERVER_DELETED_DATE != null" >
        SERVER_DELETED_DATE,
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY,
      </if>
      <if test="APPROVED_DATE != null" >
        APPROVED_DATE,
      </if>
      <if test="SERVER_APPROVED_DATE != null" >
        SERVER_APPROVED_DATE,
      </if>
      <if test="APPROVE_REJECTED_BY != null" >
        APPROVE_REJECTED_BY,
      </if>
      <if test="APPROVE_REJECTED_DATE != null" >
        APPROVE_REJECTED_DATE,
      </if>
      <if test="SERVER_APPROVE_REJECTED_DATE != null" >
        SERVER_APPROVE_REJECTED_DATE,
      </if>
      DATE_UPDATED,
      <if test="NOSTRO_INCOMING_DEP != null and NOSTRO_INCOMING_DEP != emptyBigDecimalValue" >
        NOSTRO_INCOMING_DEP,
      </if>
      <if test="NOSTRO_INCOMING_DIV != null and NOSTRO_INCOMING_DIV != emptyBigDecimalValue" >
        NOSTRO_INCOMING_DIV,
      </if>
      <if test="NOSTRO_INCOMING_GL != null and NOSTRO_INCOMING_GL != emptyBigDecimalValue" >
        NOSTRO_INCOMING_GL,
      </if>
      <if test="NOSTRO_OUTGOING_DEP != null and NOSTRO_OUTGOING_DEP != emptyBigDecimalValue" >
        NOSTRO_OUTGOING_DEP,
      </if>
      <if test="NOSTRO_OUTGOING_DIV != null and NOSTRO_OUTGOING_DIV != emptyBigDecimalValue" >
        NOSTRO_OUTGOING_DIV,
      </if>
      <if test="NOSTRO_OUTGOING_GL != null and NOSTRO_OUTGOING_GL != emptyBigDecimalValue" >
        NOSTRO_OUTGOING_GL,
      </if>
      <if test="NOSTRO_INCOMING_CIF != null and NOSTRO_INCOMING_CIF != emptyBigDecimalValue" >
        NOSTRO_INCOMING_CIF,
      </if>
      <if test="NOSTRO_INCOMING_SL != null and NOSTRO_INCOMING_SL != emptyBigDecimalValue" >
        NOSTRO_INCOMING_SL,
      </if>
      <if test="NOSTRO_OUTGOING_CIF != null and NOSTRO_OUTGOING_CIF != emptyBigDecimalValue" >
        NOSTRO_OUTGOING_CIF,
      </if>
      <if test="NOSTRO_OUTGOING_SL != null and NOSTRO_OUTGOING_SL != emptyBigDecimalValue" >
        NOSTRO_OUTGOING_SL,
      </if>
      <if test="CASH_TOLERANCE_CY != null and CASH_TOLERANCE_CY != emptyBigDecimalValue" >
        CASH_TOLERANCE_CY,
      </if>
      <if test="TEMPLATE_CODE_TOPUP_DEPOSIT != null and TEMPLATE_CODE_TOPUP_DEPOSIT != emptyBigDecimalValue" >
        TEMPLATE_CODE_TOPUP_DEPOSIT,
      </if>
      <if test="TEMPLATE_CODE_RELEASE_COLLATRL != null and TEMPLATE_CODE_RELEASE_COLLATRL != emptyBigDecimalValue" >
        TEMPLATE_CODE_RELEASE_COLLATRL,
      </if>
      <if test="REJECT_REASON != null" >
        REJECT_REASON,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="TYPE_CODE != null and TYPE_CODE != emptyBigDecimalValue" >
        #{TYPE_CODE},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="BRIEF_NAME_ENG != null" >
        #{BRIEF_NAME_ENG},
      </if>
      <if test="BRIEF_NAME_ARAB != null" >
        #{BRIEF_NAME_ARAB},
      </if>
      <if test="LONG_NAME_ENG != null" >
        #{LONG_NAME_ENG},
      </if>
      <if test="LONG_NAME_ARAB != null" >
        #{LONG_NAME_ARAB},
      </if>
      <if test="AUTO_CREATE_DRAWDOWN_YN != null" >
        #{AUTO_CREATE_DRAWDOWN_YN},
      </if>
      <if test="SECURITY_ALLOC_AUTO_APRV_YN != null" >
        #{SECURITY_ALLOC_AUTO_APRV_YN},
      </if>
      <if test="GOODS_MKT_PRC_AUTO_APRV_YN != null" >
        #{GOODS_MKT_PRC_AUTO_APRV_YN},
      </if>
      <if test="SHIPMENT_REQ_AUTO_APRV_YN != null" >
        #{SHIPMENT_REQ_AUTO_APRV_YN},
      </if>
      <if test="SHIPMENT_AUTO_APRV_YN != null" >
        #{SHIPMENT_AUTO_APRV_YN},
      </if>
      <if test="WAREHOUSE_AUTO_APRV_YN != null" >
        #{WAREHOUSE_AUTO_APRV_YN},
      </if>
      <if test="FIN_COMMODITY_TYPE_CODE != null and FIN_COMMODITY_TYPE_CODE != emptyBigDecimalValue" >
        #{FIN_COMMODITY_TYPE_CODE},
      </if>
      <if test="CASH_DEPOSIT_TYPE_CODE != null and CASH_DEPOSIT_TYPE_CODE != emptyBigDecimalValue" >
        #{CASH_DEPOSIT_TYPE_CODE},
      </if>
      <if test="COVERAGE_TOLERANCE_PERCENTAGE != null and COVERAGE_TOLERANCE_PERCENTAGE != emptyBigDecimalValue" >
        #{COVERAGE_TOLERANCE_PERCENTAGE},
      </if>
      <if test="CASH_TOLERANCE_PERCENTAGE != null and CASH_TOLERANCE_PERCENTAGE != emptyBigDecimalValue" >
        #{CASH_TOLERANCE_PERCENTAGE},
      </if>
      <if test="CASH_TOLERANCE_AMOUNT != null and CASH_TOLERANCE_AMOUNT != emptyBigDecimalValue" >
        #{CASH_TOLERANCE_AMOUNT},
      </if>
      <if test="SHR_INVOICE_REP_ID != null and SHR_INVOICE_REP_ID != emptyBigDecimalValue" >
        #{SHR_INVOICE_REP_ID},
      </if>
      <if test="RELEASE_ORDER_REP_ID != null and RELEASE_ORDER_REP_ID != emptyBigDecimalValue" >
        #{RELEASE_ORDER_REP_ID},
      </if>
      <if test="SALE_INVOICE_REP_ID != null and SALE_INVOICE_REP_ID != emptyBigDecimalValue" >
        #{SALE_INVOICE_REP_ID},
      </if>
      <if test="TOP_UP_DEPOSIT_INVOICE_REP_ID != null and TOP_UP_DEPOSIT_INVOICE_REP_ID != emptyBigDecimalValue" >
        #{TOP_UP_DEPOSIT_INVOICE_REP_ID},
      </if>
      <if test="POOL_REPORT_REP_ID != null and POOL_REPORT_REP_ID != emptyBigDecimalValue" >
        #{POOL_REPORT_REP_ID},
      </if>
      <if test="CASH_MARGIN_GL != null and CASH_MARGIN_GL != emptyBigDecimalValue" >
        #{CASH_MARGIN_GL},
      </if>
      <if test="CASH_DEPOSIT_GL != null and CASH_DEPOSIT_GL != emptyBigDecimalValue" >
        #{CASH_DEPOSIT_GL},
      </if>
      <if test="ACC_REC_GL != null and ACC_REC_GL != emptyBigDecimalValue" >
        #{ACC_REC_GL},
      </if>
      <if test="ACC_PAY_GL != null and ACC_PAY_GL != emptyBigDecimalValue" >
        #{ACC_PAY_GL},
      </if>
      <if test="CASH_MARGIN_DIV != null and CASH_MARGIN_DIV != emptyBigDecimalValue" >
        #{CASH_MARGIN_DIV},
      </if>
      <if test="CASH_DEPOSIT_DIV != null and CASH_DEPOSIT_DIV != emptyBigDecimalValue" >
        #{CASH_DEPOSIT_DIV},
      </if>
      <if test="ACC_REC_DIV != null and ACC_REC_DIV != emptyBigDecimalValue" >
        #{ACC_REC_DIV},
      </if>
      <if test="ACC_PAY_DIV != null and ACC_PAY_DIV != emptyBigDecimalValue" >
        #{ACC_PAY_DIV},
      </if>
      <if test="CASH_MARGIN_DEP != null and CASH_MARGIN_DEP != emptyBigDecimalValue" >
        #{CASH_MARGIN_DEP},
      </if>
      <if test="CASH_DEPOSIT_DEP != null and CASH_DEPOSIT_DEP != emptyBigDecimalValue" >
        #{CASH_DEPOSIT_DEP},
      </if>
      <if test="ACC_REC_DEP != null and ACC_REC_DEP != emptyBigDecimalValue" >
        #{ACC_REC_DEP},
      </if>
      <if test="ACC_PAY_DEP != null and ACC_PAY_DEP != emptyBigDecimalValue" >
        #{ACC_PAY_DEP},
      </if>
      <if test="TEMPLATE_CODE_SHIPMENT_REQUEST != null and TEMPLATE_CODE_SHIPMENT_REQUEST != emptyBigDecimalValue" >
        #{TEMPLATE_CODE_SHIPMENT_REQUEST},
      </if>
      <if test="TEMPLATE_CODE_PURCHASE != null and TEMPLATE_CODE_PURCHASE != emptyBigDecimalValue" >
        #{TEMPLATE_CODE_PURCHASE},
      </if>
      <if test="TEMPLATE_CODE_SALE != null and TEMPLATE_CODE_SALE != emptyBigDecimalValue" >
        #{TEMPLATE_CODE_SALE},
      </if>
      <if test="TEMPLATE_CODE_STLMT_RCPT_CASH != null and TEMPLATE_CODE_STLMT_RCPT_CASH != emptyBigDecimalValue" >
        #{TEMPLATE_CODE_STLMT_RCPT_CASH},
      </if>
      <if test="TEMPLATE_CODE_STLMT_RCPT_PART != null and TEMPLATE_CODE_STLMT_RCPT_PART != emptyBigDecimalValue" >
        #{TEMPLATE_CODE_STLMT_RCPT_PART},
      </if>
      <if test="TEMPLATE_CODE_STLMT_RCPT_SALE != null and TEMPLATE_CODE_STLMT_RCPT_SALE != emptyBigDecimalValue" >
        #{TEMPLATE_CODE_STLMT_RCPT_SALE},
      </if>
      <if test="TEMPLATE_CODE_STLMT_RCPT_RCVB != null and TEMPLATE_CODE_STLMT_RCPT_RCVB != emptyBigDecimalValue" >
        #{TEMPLATE_CODE_STLMT_RCPT_RCVB},
      </if>
      <if test="TEMPLATE_CODE_STLMT_RCPT_TOPUP != null and TEMPLATE_CODE_STLMT_RCPT_TOPUP != emptyBigDecimalValue" >
        #{TEMPLATE_CODE_STLMT_RCPT_TOPUP},
      </if>
      <if test="TEMPLATE_CODE_STLMT_RFD_CUST != null and TEMPLATE_CODE_STLMT_RFD_CUST != emptyBigDecimalValue" >
        #{TEMPLATE_CODE_STLMT_RFD_CUST},
      </if>
      <if test="TEMPLATE_CODE_WAIVE_WRITEOFF != null and TEMPLATE_CODE_WAIVE_WRITEOFF != emptyBigDecimalValue" >
        #{TEMPLATE_CODE_WAIVE_WRITEOFF},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="CREATED_DATE != null" >
        #{CREATED_DATE},
      </if>
      <if test="SERVER_CREATED_DATE != null" >
        #{SERVER_CREATED_DATE},
      </if>
      <if test="MODIFIED_BY != null" >
        #{MODIFIED_BY},
      </if>
      <if test="MODIFIED_DATE != null" >
        #{MODIFIED_DATE},
      </if>
      <if test="SERVER_MODIFIED_DATE != null" >
        #{SERVER_MODIFIED_DATE},
      </if>
      <if test="DELETED_BY != null" >
        #{DELETED_BY},
      </if>
      <if test="DELETED_DATE != null" >
        #{DELETED_DATE},
      </if>
      <if test="SERVER_DELETED_DATE != null" >
        #{SERVER_DELETED_DATE},
      </if>
      <if test="APPROVED_BY != null" >
        #{APPROVED_BY},
      </if>
      <if test="APPROVED_DATE != null" >
        #{APPROVED_DATE},
      </if>
      <if test="SERVER_APPROVED_DATE != null" >
        #{SERVER_APPROVED_DATE},
      </if>
      <if test="APPROVE_REJECTED_BY != null" >
        #{APPROVE_REJECTED_BY},
      </if>
      <if test="APPROVE_REJECTED_DATE != null" >
        #{APPROVE_REJECTED_DATE},
      </if>
      <if test="SERVER_APPROVE_REJECTED_DATE != null" >
        #{SERVER_APPROVE_REJECTED_DATE},
      </if>
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
      <if test="NOSTRO_INCOMING_DEP != null and NOSTRO_INCOMING_DEP != emptyBigDecimalValue" >
        #{NOSTRO_INCOMING_DEP},
      </if>
      <if test="NOSTRO_INCOMING_DIV != null and NOSTRO_INCOMING_DIV != emptyBigDecimalValue" >
        #{NOSTRO_INCOMING_DIV},
      </if>
      <if test="NOSTRO_INCOMING_GL != null and NOSTRO_INCOMING_GL != emptyBigDecimalValue" >
        #{NOSTRO_INCOMING_GL},
      </if>
      <if test="NOSTRO_OUTGOING_DEP != null and NOSTRO_OUTGOING_DEP != emptyBigDecimalValue" >
        #{NOSTRO_OUTGOING_DEP},
      </if>
      <if test="NOSTRO_OUTGOING_DIV != null and NOSTRO_OUTGOING_DIV != emptyBigDecimalValue" >
        #{NOSTRO_OUTGOING_DIV},
      </if>
      <if test="NOSTRO_OUTGOING_GL != null and NOSTRO_OUTGOING_GL != emptyBigDecimalValue" >
        #{NOSTRO_OUTGOING_GL},
      </if>
      <if test="NOSTRO_INCOMING_CIF != null and NOSTRO_INCOMING_CIF != emptyBigDecimalValue" >
        #{NOSTRO_INCOMING_CIF},
      </if>
      <if test="NOSTRO_INCOMING_SL != null and NOSTRO_INCOMING_SL != emptyBigDecimalValue" >
        #{NOSTRO_INCOMING_SL},
      </if>
      <if test="NOSTRO_OUTGOING_CIF != null and NOSTRO_OUTGOING_CIF != emptyBigDecimalValue" >
        #{NOSTRO_OUTGOING_CIF},
      </if>
      <if test="NOSTRO_OUTGOING_SL != null and NOSTRO_OUTGOING_SL != emptyBigDecimalValue" >
        #{NOSTRO_OUTGOING_SL},
      </if>
      <if test="CASH_TOLERANCE_CY != null and CASH_TOLERANCE_CY != emptyBigDecimalValue" >
        #{CASH_TOLERANCE_CY},
      </if>
      <if test="TEMPLATE_CODE_TOPUP_DEPOSIT != null and TEMPLATE_CODE_TOPUP_DEPOSIT != emptyBigDecimalValue" >
        #{TEMPLATE_CODE_TOPUP_DEPOSIT},
      </if>
      <if test="TEMPLATE_CODE_RELEASE_COLLATRL != null and TEMPLATE_CODE_RELEASE_COLLATRL != emptyBigDecimalValue" >
        #{TEMPLATE_CODE_RELEASE_COLLATRL},
      </if>
      <if test="REJECT_REASON != null" >
        #{REJECT_REASON},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateSTF_TYPE_PARAM" >
    update STF_TYPE_PARAM
    <set >
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="BRIEF_NAME_ENG != null" >
        BRIEF_NAME_ENG = #{BRIEF_NAME_ENG},
      </if>
      <if test="BRIEF_NAME_ARAB != null" >
        BRIEF_NAME_ARAB = #{BRIEF_NAME_ARAB},
      </if>
      <if test="LONG_NAME_ENG != null" >
        LONG_NAME_ENG = #{LONG_NAME_ENG},
      </if>
      <if test="LONG_NAME_ARAB != null" >
        LONG_NAME_ARAB = #{LONG_NAME_ARAB},
      </if>
      <if test="AUTO_CREATE_DRAWDOWN_YN != null" >
        AUTO_CREATE_DRAWDOWN_YN = #{AUTO_CREATE_DRAWDOWN_YN},
      </if>
      <if test="SECURITY_ALLOC_AUTO_APRV_YN != null" >
        SECURITY_ALLOC_AUTO_APRV_YN = #{SECURITY_ALLOC_AUTO_APRV_YN},
      </if>
      <if test="GOODS_MKT_PRC_AUTO_APRV_YN != null" >
        GOODS_MKT_PRC_AUTO_APRV_YN = #{GOODS_MKT_PRC_AUTO_APRV_YN},
      </if>
      <if test="SHIPMENT_REQ_AUTO_APRV_YN != null" >
        SHIPMENT_REQ_AUTO_APRV_YN = #{SHIPMENT_REQ_AUTO_APRV_YN},
      </if>
      <if test="SHIPMENT_AUTO_APRV_YN != null" >
        SHIPMENT_AUTO_APRV_YN = #{SHIPMENT_AUTO_APRV_YN},
      </if>
      <if test="WAREHOUSE_AUTO_APRV_YN != null" >
        WAREHOUSE_AUTO_APRV_YN = #{WAREHOUSE_AUTO_APRV_YN},
      </if>
      <if test="FIN_COMMODITY_TYPE_CODE != null" >
        <choose >
          <when test="FIN_COMMODITY_TYPE_CODE == emptyBigDecimalValue" >
            FIN_COMMODITY_TYPE_CODE = NULL ,
          </when>
          <otherwise >
            FIN_COMMODITY_TYPE_CODE = #{FIN_COMMODITY_TYPE_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="CASH_DEPOSIT_TYPE_CODE != null" >
        <choose >
          <when test="CASH_DEPOSIT_TYPE_CODE == emptyBigDecimalValue" >
            CASH_DEPOSIT_TYPE_CODE = NULL ,
          </when>
          <otherwise >
            CASH_DEPOSIT_TYPE_CODE = #{CASH_DEPOSIT_TYPE_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="COVERAGE_TOLERANCE_PERCENTAGE != null" >
        <choose >
          <when test="COVERAGE_TOLERANCE_PERCENTAGE == emptyBigDecimalValue" >
            COVERAGE_TOLERANCE_PERCENTAGE = NULL ,
          </when>
          <otherwise >
            COVERAGE_TOLERANCE_PERCENTAGE = #{COVERAGE_TOLERANCE_PERCENTAGE},
          </otherwise>
        </choose>
      </if>
      <if test="CASH_TOLERANCE_PERCENTAGE != null" >
        <choose >
          <when test="CASH_TOLERANCE_PERCENTAGE == emptyBigDecimalValue" >
            CASH_TOLERANCE_PERCENTAGE = NULL ,
          </when>
          <otherwise >
            CASH_TOLERANCE_PERCENTAGE = #{CASH_TOLERANCE_PERCENTAGE},
          </otherwise>
        </choose>
      </if>
      <if test="CASH_TOLERANCE_AMOUNT != null" >
        <choose >
          <when test="CASH_TOLERANCE_AMOUNT == emptyBigDecimalValue" >
            CASH_TOLERANCE_AMOUNT = NULL ,
          </when>
          <otherwise >
            CASH_TOLERANCE_AMOUNT = #{CASH_TOLERANCE_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="SHR_INVOICE_REP_ID != null" >
        <choose >
          <when test="SHR_INVOICE_REP_ID == emptyBigDecimalValue" >
            SHR_INVOICE_REP_ID = NULL ,
          </when>
          <otherwise >
            SHR_INVOICE_REP_ID = #{SHR_INVOICE_REP_ID},
          </otherwise>
        </choose>
      </if>
      <if test="RELEASE_ORDER_REP_ID != null" >
        <choose >
          <when test="RELEASE_ORDER_REP_ID == emptyBigDecimalValue" >
            RELEASE_ORDER_REP_ID = NULL ,
          </when>
          <otherwise >
            RELEASE_ORDER_REP_ID = #{RELEASE_ORDER_REP_ID},
          </otherwise>
        </choose>
      </if>
      <if test="SALE_INVOICE_REP_ID != null" >
        <choose >
          <when test="SALE_INVOICE_REP_ID == emptyBigDecimalValue" >
            SALE_INVOICE_REP_ID = NULL ,
          </when>
          <otherwise >
            SALE_INVOICE_REP_ID = #{SALE_INVOICE_REP_ID},
          </otherwise>
        </choose>
      </if>
      <if test="TOP_UP_DEPOSIT_INVOICE_REP_ID != null" >
        <choose >
          <when test="TOP_UP_DEPOSIT_INVOICE_REP_ID == emptyBigDecimalValue" >
            TOP_UP_DEPOSIT_INVOICE_REP_ID = NULL ,
          </when>
          <otherwise >
            TOP_UP_DEPOSIT_INVOICE_REP_ID = #{TOP_UP_DEPOSIT_INVOICE_REP_ID},
          </otherwise>
        </choose>
      </if>
      <if test="POOL_REPORT_REP_ID != null" >
        <choose >
          <when test="POOL_REPORT_REP_ID == emptyBigDecimalValue" >
            POOL_REPORT_REP_ID = NULL ,
          </when>
          <otherwise >
            POOL_REPORT_REP_ID = #{POOL_REPORT_REP_ID},
          </otherwise>
        </choose>
      </if>
      <if test="CASH_MARGIN_GL != null" >
        <choose >
          <when test="CASH_MARGIN_GL == emptyBigDecimalValue" >
            CASH_MARGIN_GL = NULL ,
          </when>
          <otherwise >
            CASH_MARGIN_GL = #{CASH_MARGIN_GL},
          </otherwise>
        </choose>
      </if>
      <if test="CASH_DEPOSIT_GL != null" >
        <choose >
          <when test="CASH_DEPOSIT_GL == emptyBigDecimalValue" >
            CASH_DEPOSIT_GL = NULL ,
          </when>
          <otherwise >
            CASH_DEPOSIT_GL = #{CASH_DEPOSIT_GL},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_REC_GL != null" >
        <choose >
          <when test="ACC_REC_GL == emptyBigDecimalValue" >
            ACC_REC_GL = NULL ,
          </when>
          <otherwise >
            ACC_REC_GL = #{ACC_REC_GL},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_PAY_GL != null" >
        <choose >
          <when test="ACC_PAY_GL == emptyBigDecimalValue" >
            ACC_PAY_GL = NULL ,
          </when>
          <otherwise >
            ACC_PAY_GL = #{ACC_PAY_GL},
          </otherwise>
        </choose>
      </if>
      <if test="CASH_MARGIN_DIV != null" >
        <choose >
          <when test="CASH_MARGIN_DIV == emptyBigDecimalValue" >
            CASH_MARGIN_DIV = NULL ,
          </when>
          <otherwise >
            CASH_MARGIN_DIV = #{CASH_MARGIN_DIV},
          </otherwise>
        </choose>
      </if>
      <if test="CASH_DEPOSIT_DIV != null" >
        <choose >
          <when test="CASH_DEPOSIT_DIV == emptyBigDecimalValue" >
            CASH_DEPOSIT_DIV = NULL ,
          </when>
          <otherwise >
            CASH_DEPOSIT_DIV = #{CASH_DEPOSIT_DIV},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_REC_DIV != null" >
        <choose >
          <when test="ACC_REC_DIV == emptyBigDecimalValue" >
            ACC_REC_DIV = NULL ,
          </when>
          <otherwise >
            ACC_REC_DIV = #{ACC_REC_DIV},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_PAY_DIV != null" >
        <choose >
          <when test="ACC_PAY_DIV == emptyBigDecimalValue" >
            ACC_PAY_DIV = NULL ,
          </when>
          <otherwise >
            ACC_PAY_DIV = #{ACC_PAY_DIV},
          </otherwise>
        </choose>
      </if>
      <if test="CASH_MARGIN_DEP != null" >
        <choose >
          <when test="CASH_MARGIN_DEP == emptyBigDecimalValue" >
            CASH_MARGIN_DEP = NULL ,
          </when>
          <otherwise >
            CASH_MARGIN_DEP = #{CASH_MARGIN_DEP},
          </otherwise>
        </choose>
      </if>
      <if test="CASH_DEPOSIT_DEP != null" >
        <choose >
          <when test="CASH_DEPOSIT_DEP == emptyBigDecimalValue" >
            CASH_DEPOSIT_DEP = NULL ,
          </when>
          <otherwise >
            CASH_DEPOSIT_DEP = #{CASH_DEPOSIT_DEP},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_REC_DEP != null" >
        <choose >
          <when test="ACC_REC_DEP == emptyBigDecimalValue" >
            ACC_REC_DEP = NULL ,
          </when>
          <otherwise >
            ACC_REC_DEP = #{ACC_REC_DEP},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_PAY_DEP != null" >
        <choose >
          <when test="ACC_PAY_DEP == emptyBigDecimalValue" >
            ACC_PAY_DEP = NULL ,
          </when>
          <otherwise >
            ACC_PAY_DEP = #{ACC_PAY_DEP},
          </otherwise>
        </choose>
      </if>
      <if test="TEMPLATE_CODE_SHIPMENT_REQUEST != null" >
        <choose >
          <when test="TEMPLATE_CODE_SHIPMENT_REQUEST == emptyBigDecimalValue" >
            TEMPLATE_CODE_SHIPMENT_REQUEST = NULL ,
          </when>
          <otherwise >
            TEMPLATE_CODE_SHIPMENT_REQUEST = #{TEMPLATE_CODE_SHIPMENT_REQUEST},
          </otherwise>
        </choose>
      </if>
      <if test="TEMPLATE_CODE_PURCHASE != null" >
        <choose >
          <when test="TEMPLATE_CODE_PURCHASE == emptyBigDecimalValue" >
            TEMPLATE_CODE_PURCHASE = NULL ,
          </when>
          <otherwise >
            TEMPLATE_CODE_PURCHASE = #{TEMPLATE_CODE_PURCHASE},
          </otherwise>
        </choose>
      </if>
      <if test="TEMPLATE_CODE_SALE != null" >
        <choose >
          <when test="TEMPLATE_CODE_SALE == emptyBigDecimalValue" >
            TEMPLATE_CODE_SALE = NULL ,
          </when>
          <otherwise >
            TEMPLATE_CODE_SALE = #{TEMPLATE_CODE_SALE},
          </otherwise>
        </choose>
      </if>
      <if test="TEMPLATE_CODE_STLMT_RCPT_CASH != null" >
        <choose >
          <when test="TEMPLATE_CODE_STLMT_RCPT_CASH == emptyBigDecimalValue" >
            TEMPLATE_CODE_STLMT_RCPT_CASH = NULL ,
          </when>
          <otherwise >
            TEMPLATE_CODE_STLMT_RCPT_CASH = #{TEMPLATE_CODE_STLMT_RCPT_CASH},
          </otherwise>
        </choose>
      </if>
      <if test="TEMPLATE_CODE_STLMT_RCPT_PART != null" >
        <choose >
          <when test="TEMPLATE_CODE_STLMT_RCPT_PART == emptyBigDecimalValue" >
            TEMPLATE_CODE_STLMT_RCPT_PART = NULL ,
          </when>
          <otherwise >
            TEMPLATE_CODE_STLMT_RCPT_PART = #{TEMPLATE_CODE_STLMT_RCPT_PART},
          </otherwise>
        </choose>
      </if>
      <if test="TEMPLATE_CODE_STLMT_RCPT_SALE != null" >
        <choose >
          <when test="TEMPLATE_CODE_STLMT_RCPT_SALE == emptyBigDecimalValue" >
            TEMPLATE_CODE_STLMT_RCPT_SALE = NULL ,
          </when>
          <otherwise >
            TEMPLATE_CODE_STLMT_RCPT_SALE = #{TEMPLATE_CODE_STLMT_RCPT_SALE},
          </otherwise>
        </choose>
      </if>
      <if test="TEMPLATE_CODE_STLMT_RCPT_RCVB != null" >
        <choose >
          <when test="TEMPLATE_CODE_STLMT_RCPT_RCVB == emptyBigDecimalValue" >
            TEMPLATE_CODE_STLMT_RCPT_RCVB = NULL ,
          </when>
          <otherwise >
            TEMPLATE_CODE_STLMT_RCPT_RCVB = #{TEMPLATE_CODE_STLMT_RCPT_RCVB},
          </otherwise>
        </choose>
      </if>
      <if test="TEMPLATE_CODE_STLMT_RCPT_TOPUP != null" >
        <choose >
          <when test="TEMPLATE_CODE_STLMT_RCPT_TOPUP == emptyBigDecimalValue" >
            TEMPLATE_CODE_STLMT_RCPT_TOPUP = NULL ,
          </when>
          <otherwise >
            TEMPLATE_CODE_STLMT_RCPT_TOPUP = #{TEMPLATE_CODE_STLMT_RCPT_TOPUP},
          </otherwise>
        </choose>
      </if>
      <if test="TEMPLATE_CODE_STLMT_RFD_CUST != null" >
        <choose >
          <when test="TEMPLATE_CODE_STLMT_RFD_CUST == emptyBigDecimalValue" >
            TEMPLATE_CODE_STLMT_RFD_CUST = NULL ,
          </when>
          <otherwise >
            TEMPLATE_CODE_STLMT_RFD_CUST = #{TEMPLATE_CODE_STLMT_RFD_CUST},
          </otherwise>
        </choose>
      </if>
      <if test="TEMPLATE_CODE_WAIVE_WRITEOFF != null" >
        <choose >
          <when test="TEMPLATE_CODE_WAIVE_WRITEOFF == emptyBigDecimalValue" >
            TEMPLATE_CODE_WAIVE_WRITEOFF = NULL ,
          </when>
          <otherwise >
            TEMPLATE_CODE_WAIVE_WRITEOFF = #{TEMPLATE_CODE_WAIVE_WRITEOFF},
          </otherwise>
        </choose>
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE = #{CREATED_DATE},
      </if>
      <if test="SERVER_CREATED_DATE != null" >
        SERVER_CREATED_DATE = #{SERVER_CREATED_DATE},
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY = #{MODIFIED_BY},
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE = #{MODIFIED_DATE},
      </if>
      <if test="SERVER_MODIFIED_DATE != null" >
        SERVER_MODIFIED_DATE = #{SERVER_MODIFIED_DATE},
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY = #{DELETED_BY},
      </if>
      <if test="DELETED_DATE != null" >
        DELETED_DATE = #{DELETED_DATE},
      </if>
      <if test="SERVER_DELETED_DATE != null" >
        SERVER_DELETED_DATE = #{SERVER_DELETED_DATE},
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY = #{APPROVED_BY},
      </if>
      <if test="APPROVED_DATE != null" >
        APPROVED_DATE = #{APPROVED_DATE},
      </if>
      <if test="SERVER_APPROVED_DATE != null" >
        SERVER_APPROVED_DATE = #{SERVER_APPROVED_DATE},
      </if>
      <if test="APPROVE_REJECTED_BY != null" >
        APPROVE_REJECTED_BY = #{APPROVE_REJECTED_BY},
      </if>
      <if test="APPROVE_REJECTED_DATE != null" >
        APPROVE_REJECTED_DATE = #{APPROVE_REJECTED_DATE},
      </if>
      <if test="SERVER_APPROVE_REJECTED_DATE != null" >
        SERVER_APPROVE_REJECTED_DATE = #{SERVER_APPROVE_REJECTED_DATE},
      </if>
      DATE_UPDATED = 
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
      <if test="NOSTRO_INCOMING_DEP != null" >
        <choose >
          <when test="NOSTRO_INCOMING_DEP == emptyBigDecimalValue" >
            NOSTRO_INCOMING_DEP = NULL ,
          </when>
          <otherwise >
            NOSTRO_INCOMING_DEP = #{NOSTRO_INCOMING_DEP},
          </otherwise>
        </choose>
      </if>
      <if test="NOSTRO_INCOMING_DIV != null" >
        <choose >
          <when test="NOSTRO_INCOMING_DIV == emptyBigDecimalValue" >
            NOSTRO_INCOMING_DIV = NULL ,
          </when>
          <otherwise >
            NOSTRO_INCOMING_DIV = #{NOSTRO_INCOMING_DIV},
          </otherwise>
        </choose>
      </if>
      <if test="NOSTRO_INCOMING_GL != null" >
        <choose >
          <when test="NOSTRO_INCOMING_GL == emptyBigDecimalValue" >
            NOSTRO_INCOMING_GL = NULL ,
          </when>
          <otherwise >
            NOSTRO_INCOMING_GL = #{NOSTRO_INCOMING_GL},
          </otherwise>
        </choose>
      </if>
      <if test="NOSTRO_OUTGOING_DEP != null" >
        <choose >
          <when test="NOSTRO_OUTGOING_DEP == emptyBigDecimalValue" >
            NOSTRO_OUTGOING_DEP = NULL ,
          </when>
          <otherwise >
            NOSTRO_OUTGOING_DEP = #{NOSTRO_OUTGOING_DEP},
          </otherwise>
        </choose>
      </if>
      <if test="NOSTRO_OUTGOING_DIV != null" >
        <choose >
          <when test="NOSTRO_OUTGOING_DIV == emptyBigDecimalValue" >
            NOSTRO_OUTGOING_DIV = NULL ,
          </when>
          <otherwise >
            NOSTRO_OUTGOING_DIV = #{NOSTRO_OUTGOING_DIV},
          </otherwise>
        </choose>
      </if>
      <if test="NOSTRO_OUTGOING_GL != null" >
        <choose >
          <when test="NOSTRO_OUTGOING_GL == emptyBigDecimalValue" >
            NOSTRO_OUTGOING_GL = NULL ,
          </when>
          <otherwise >
            NOSTRO_OUTGOING_GL = #{NOSTRO_OUTGOING_GL},
          </otherwise>
        </choose>
      </if>
      <if test="NOSTRO_INCOMING_CIF != null" >
        <choose >
          <when test="NOSTRO_INCOMING_CIF == emptyBigDecimalValue" >
            NOSTRO_INCOMING_CIF = NULL ,
          </when>
          <otherwise >
            NOSTRO_INCOMING_CIF = #{NOSTRO_INCOMING_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="NOSTRO_INCOMING_SL != null" >
        <choose >
          <when test="NOSTRO_INCOMING_SL == emptyBigDecimalValue" >
            NOSTRO_INCOMING_SL = NULL ,
          </when>
          <otherwise >
            NOSTRO_INCOMING_SL = #{NOSTRO_INCOMING_SL},
          </otherwise>
        </choose>
      </if>
      <if test="NOSTRO_OUTGOING_CIF != null" >
        <choose >
          <when test="NOSTRO_OUTGOING_CIF == emptyBigDecimalValue" >
            NOSTRO_OUTGOING_CIF = NULL ,
          </when>
          <otherwise >
            NOSTRO_OUTGOING_CIF = #{NOSTRO_OUTGOING_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="NOSTRO_OUTGOING_SL != null" >
        <choose >
          <when test="NOSTRO_OUTGOING_SL == emptyBigDecimalValue" >
            NOSTRO_OUTGOING_SL = NULL ,
          </when>
          <otherwise >
            NOSTRO_OUTGOING_SL = #{NOSTRO_OUTGOING_SL},
          </otherwise>
        </choose>
      </if>
      <if test="CASH_TOLERANCE_CY != null" >
        <choose >
          <when test="CASH_TOLERANCE_CY == emptyBigDecimalValue" >
            CASH_TOLERANCE_CY = NULL ,
          </when>
          <otherwise >
            CASH_TOLERANCE_CY = #{CASH_TOLERANCE_CY},
          </otherwise>
        </choose>
      </if>
      <if test="TEMPLATE_CODE_TOPUP_DEPOSIT != null" >
        <choose >
          <when test="TEMPLATE_CODE_TOPUP_DEPOSIT == emptyBigDecimalValue" >
            TEMPLATE_CODE_TOPUP_DEPOSIT = NULL ,
          </when>
          <otherwise >
            TEMPLATE_CODE_TOPUP_DEPOSIT = #{TEMPLATE_CODE_TOPUP_DEPOSIT},
          </otherwise>
        </choose>
      </if>
      <if test="TEMPLATE_CODE_RELEASE_COLLATRL != null" >
        <choose >
          <when test="TEMPLATE_CODE_RELEASE_COLLATRL == emptyBigDecimalValue" >
            TEMPLATE_CODE_RELEASE_COLLATRL = NULL ,
          </when>
          <otherwise >
            TEMPLATE_CODE_RELEASE_COLLATRL = #{TEMPLATE_CODE_RELEASE_COLLATRL},
          </otherwise>
        </choose>
      </if>
      <if test="REJECT_REASON != null" >
        REJECT_REASON = #{REJECT_REASON},
      </if>
    </set>
    where COMP_CODE = #{COMP_CODE}
      and TYPE_CODE = #{TYPE_CODE}
  </sql>
  <update id="updateSTF_TYPE_PARAM" parameterType="com.path.dbmaps.vo.STF_TYPE_PARAMVO" >
    <include refid="sql_updateSTF_TYPE_PARAM" />
    <if test="DATE_UPDATED != null" >
      AND DATE_UPDATED = #{DATE_UPDATED}
    </if>
  </update>
</mapper>