<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SWIFT_LOG_IN" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.SWIFT_LOG_INVO" >
    <result column="COMP_CODE" property="COMP_CODE" />
    <result column="SEVERITY" property="SEVERITY" />
    <result column="LOG_DATE" property="LOG_DATE" />
    <result column="MSG" property="MSG" />
    <result column="FILE_NAME" property="FILE_NAME" />
  </resultMap>
  <insert id="insertSWIFT_LOG_IN" parameterType="com.path.dbmaps.vo.SWIFT_LOG_INVO" >
    insert into SWIFT_LOG_IN
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="SEVERITY != null" >
        SEVERITY,
      </if>
      <if test="LOG_DATE != null" >
        LOG_DATE,
      </if>
      <if test="MSG != null" >
        MSG,
      </if>
      <if test="FILE_NAME != null" >
        FILE_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="SEVERITY != null" >
        #{SEVERITY},
      </if>
      <if test="LOG_DATE != null" >
        #{LOG_DATE},
      </if>
      <if test="MSG != null" >
        #{MSG},
      </if>
      <if test="FILE_NAME != null" >
        #{FILE_NAME},
      </if>
    </trim>
  </insert>
</mapper>