<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SWIFT_CY_CTRL" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.SWIFT_CY_CTRLVOKey" >
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="CY_CODE" property="CY_CODE" />
    <id column="MODULE" property="MODULE" />
    <id column="MSG_CODE" property="MSG_CODE" />
    <id column="TRX_TYPE" property="TRX_TYPE" />
  </resultMap>
  <delete id="deleteSWIFT_CY_CTRL" parameterType="com.path.dbmaps.vo.SWIFT_CY_CTRLVOKey" >
    delete from SWIFT_CY_CTRL
    where COMP_CODE = #{COMP_CODE}
      and CY_CODE = #{CY_CODE}
      and MODULE = #{MODULE}
      and MSG_CODE = #{MSG_CODE}
      and TRX_TYPE = #{TRX_TYPE}
  </delete>
  <insert id="insertSWIFT_CY_CTRL" parameterType="com.path.dbmaps.vo.SWIFT_CY_CTRLVOKey" >
    insert into SWIFT_CY_CTRL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="CY_CODE != null and CY_CODE != emptyBigDecimalValue" >
        CY_CODE,
      </if>
      <if test="MODULE != null" >
        MODULE,
      </if>
      <if test="MSG_CODE != null" >
        MSG_CODE,
      </if>
      <if test="TRX_TYPE != null" >
        TRX_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="CY_CODE != null and CY_CODE != emptyBigDecimalValue" >
        #{CY_CODE},
      </if>
      <if test="MODULE != null" >
        #{MODULE},
      </if>
      <if test="MSG_CODE != null" >
        #{MSG_CODE},
      </if>
      <if test="TRX_TYPE != null" >
        #{TRX_TYPE},
      </if>
    </trim>
  </insert>
</mapper>