<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SWIFT_MANUAL_PROCESS" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.SWIFT_MANUAL_PROCESSVOKey" >
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="MSG_CODE" property="MSG_CODE" />
  </resultMap>
  <delete id="deleteSWIFT_MANUAL_PROCESS" parameterType="com.path.dbmaps.vo.SWIFT_MANUAL_PROCESSVOKey" >
    delete from SWIFT_MANUAL_PROCESS
    where COMP_CODE = #{COMP_CODE}
      and MSG_CODE = #{MSG_CODE}
  </delete>
  <insert id="insertSWIFT_MANUAL_PROCESS" parameterType="com.path.dbmaps.vo.SWIFT_MANUAL_PROCESSVOKey" >
    insert into SWIFT_MANUAL_PROCESS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="MSG_CODE != null" >
        MSG_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="MSG_CODE != null" >
        #{MSG_CODE},
      </if>
    </trim>
  </insert>
</mapper>