<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SWIFT_DWSCHED" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.SWIFT_DWSCHEDVO" >
    <id column="MODULE" property="MODULE" />
    <id column="REP_ID" property="REP_ID" />
    <id column="SCHED_ID" property="SCHED_ID" />
    <result column="NEXT_REPLICATION" property="NEXT_REPLICATION" />
    <result column="PERIOD" property="PERIOD" />
    <result column="PERIOD_TYPE" property="PERIOD_TYPE" />
    <result column="PERIOD_DAY" property="PERIOD_DAY" />
    <result column="TRANS_FROM" property="TRANS_FROM" />
    <result column="TRANS_TO" property="TRANS_TO" />
    <result column="DATE_FROM" property="DATE_FROM" />
    <result column="DATE_TO" property="DATE_TO" />
    <result column="SUSPEND_REPLICATION" property="SUSPEND_REPLICATION" />
    <result column="COMP_CODE" property="COMP_CODE" />
    <result column="BRANCH_FROM" property="BRANCH_FROM" />
    <result column="BRANCH_TO" property="BRANCH_TO" />
    <result column="CY_FROM" property="CY_FROM" />
    <result column="CY_TO" property="CY_TO" />
    <result column="GL_FROM" property="GL_FROM" />
    <result column="GL_TO" property="GL_TO" />
    <result column="CIF_FROM" property="CIF_FROM" />
    <result column="CIF_TO" property="CIF_TO" />
    <result column="SL_FROM" property="SL_FROM" />
    <result column="SL_TO" property="SL_TO" />
    <result column="RECEIVER_CIF" property="RECEIVER_CIF" />
    <result column="REQ_GEN_950" property="REQ_GEN_950" />
    <result column="ADDITIONAL_REFERENCE_TO" property="ADDITIONAL_REFERENCE_TO" />
    <result column="ADDITIONAL_REFERENCE_FROM" property="ADDITIONAL_REFERENCE_FROM" />
    <result column="SCHED_TIME" property="SCHED_TIME" />
    <result column="LAST_REPLICATION" property="LAST_REPLICATION" />
    <result column="MSG_CODE" property="MSG_CODE" />
    <result column="GENERATE_MESSAGE" property="GENERATE_MESSAGE" />
    <result column="NEXT_DATE_AFTER_HOL" property="NEXT_DATE_AFTER_HOL" />
    <result column="JAVA_PROCESS" property="JAVA_PROCESS" />
  </resultMap>
  <sql id="Base_Column_List" >
    MODULE, REP_ID, SCHED_ID, NEXT_REPLICATION, PERIOD, PERIOD_TYPE, PERIOD_DAY, TRANS_FROM, 
    TRANS_TO, DATE_FROM, DATE_TO, SUSPEND_REPLICATION, COMP_CODE, BRANCH_FROM, BRANCH_TO, 
    CY_FROM, CY_TO, GL_FROM, GL_TO, CIF_FROM, CIF_TO, SL_FROM, SL_TO, RECEIVER_CIF, REQ_GEN_950, 
    ADDITIONAL_REFERENCE_TO, ADDITIONAL_REFERENCE_FROM, SCHED_TIME, LAST_REPLICATION, 
    MSG_CODE, GENERATE_MESSAGE, NEXT_DATE_AFTER_HOL, JAVA_PROCESS
  </sql>
  <select id="selectSWIFT_DWSCHED" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.SWIFT_DWSCHEDVOKey" >
    select 
    <include refid="Base_Column_List" />
    from SWIFT_DWSCHED
    where MODULE = #{MODULE}
      and REP_ID = #{REP_ID}
      and SCHED_ID = #{SCHED_ID}
  </select>
  <delete id="deleteSWIFT_DWSCHED" parameterType="com.path.dbmaps.vo.SWIFT_DWSCHEDVOKey" >
    delete from SWIFT_DWSCHED
    where MODULE = #{MODULE}
      and REP_ID = #{REP_ID}
      and SCHED_ID = #{SCHED_ID}
  </delete>
  <insert id="insertSWIFT_DWSCHED" parameterType="com.path.dbmaps.vo.SWIFT_DWSCHEDVO" >
    insert into SWIFT_DWSCHED
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="MODULE != null" >
        MODULE,
      </if>
      <if test="REP_ID != null and REP_ID != emptyBigDecimalValue" >
        REP_ID,
      </if>
      <if test="SCHED_ID != null and SCHED_ID != emptyBigDecimalValue" >
        SCHED_ID,
      </if>
      <if test="NEXT_REPLICATION != null" >
        NEXT_REPLICATION,
      </if>
      <if test="PERIOD != null and PERIOD != emptyBigDecimalValue" >
        PERIOD,
      </if>
      <if test="PERIOD_TYPE != null" >
        PERIOD_TYPE,
      </if>
      <if test="PERIOD_DAY != null and PERIOD_DAY != emptyBigDecimalValue" >
        PERIOD_DAY,
      </if>
      <if test="TRANS_FROM != null and TRANS_FROM != emptyBigDecimalValue" >
        TRANS_FROM,
      </if>
      <if test="TRANS_TO != null and TRANS_TO != emptyBigDecimalValue" >
        TRANS_TO,
      </if>
      <if test="DATE_FROM != null" >
        DATE_FROM,
      </if>
      <if test="DATE_TO != null" >
        DATE_TO,
      </if>
      <if test="SUSPEND_REPLICATION != null and SUSPEND_REPLICATION != emptyBigDecimalValue" >
        SUSPEND_REPLICATION,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="BRANCH_FROM != null and BRANCH_FROM != emptyBigDecimalValue" >
        BRANCH_FROM,
      </if>
      <if test="BRANCH_TO != null and BRANCH_TO != emptyBigDecimalValue" >
        BRANCH_TO,
      </if>
      <if test="CY_FROM != null and CY_FROM != emptyBigDecimalValue" >
        CY_FROM,
      </if>
      <if test="CY_TO != null and CY_TO != emptyBigDecimalValue" >
        CY_TO,
      </if>
      <if test="GL_FROM != null and GL_FROM != emptyBigDecimalValue" >
        GL_FROM,
      </if>
      <if test="GL_TO != null and GL_TO != emptyBigDecimalValue" >
        GL_TO,
      </if>
      <if test="CIF_FROM != null and CIF_FROM != emptyBigDecimalValue" >
        CIF_FROM,
      </if>
      <if test="CIF_TO != null and CIF_TO != emptyBigDecimalValue" >
        CIF_TO,
      </if>
      <if test="SL_FROM != null and SL_FROM != emptyBigDecimalValue" >
        SL_FROM,
      </if>
      <if test="SL_TO != null and SL_TO != emptyBigDecimalValue" >
        SL_TO,
      </if>
      <if test="RECEIVER_CIF != null and RECEIVER_CIF != emptyBigDecimalValue" >
        RECEIVER_CIF,
      </if>
      <if test="REQ_GEN_950 != null and REQ_GEN_950 != emptyBigDecimalValue" >
        REQ_GEN_950,
      </if>
      <if test="ADDITIONAL_REFERENCE_TO != null" >
        ADDITIONAL_REFERENCE_TO,
      </if>
      <if test="ADDITIONAL_REFERENCE_FROM != null" >
        ADDITIONAL_REFERENCE_FROM,
      </if>
      <if test="SCHED_TIME != null" >
        SCHED_TIME,
      </if>
      <if test="LAST_REPLICATION != null" >
        LAST_REPLICATION,
      </if>
      <if test="MSG_CODE != null" >
        MSG_CODE,
      </if>
      <if test="GENERATE_MESSAGE != null and GENERATE_MESSAGE != emptyBigDecimalValue" >
        GENERATE_MESSAGE,
      </if>
      <if test="NEXT_DATE_AFTER_HOL != null" >
        NEXT_DATE_AFTER_HOL,
      </if>
      <if test="JAVA_PROCESS != null and JAVA_PROCESS != emptyBigDecimalValue" >
        JAVA_PROCESS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="MODULE != null" >
        #{MODULE},
      </if>
      <if test="REP_ID != null and REP_ID != emptyBigDecimalValue" >
        #{REP_ID},
      </if>
      <if test="SCHED_ID != null and SCHED_ID != emptyBigDecimalValue" >
        #{SCHED_ID},
      </if>
      <if test="NEXT_REPLICATION != null" >
        #{NEXT_REPLICATION},
      </if>
      <if test="PERIOD != null and PERIOD != emptyBigDecimalValue" >
        #{PERIOD},
      </if>
      <if test="PERIOD_TYPE != null" >
        #{PERIOD_TYPE},
      </if>
      <if test="PERIOD_DAY != null and PERIOD_DAY != emptyBigDecimalValue" >
        #{PERIOD_DAY},
      </if>
      <if test="TRANS_FROM != null and TRANS_FROM != emptyBigDecimalValue" >
        #{TRANS_FROM},
      </if>
      <if test="TRANS_TO != null and TRANS_TO != emptyBigDecimalValue" >
        #{TRANS_TO},
      </if>
      <if test="DATE_FROM != null" >
        #{DATE_FROM},
      </if>
      <if test="DATE_TO != null" >
        #{DATE_TO},
      </if>
      <if test="SUSPEND_REPLICATION != null and SUSPEND_REPLICATION != emptyBigDecimalValue" >
        #{SUSPEND_REPLICATION},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="BRANCH_FROM != null and BRANCH_FROM != emptyBigDecimalValue" >
        #{BRANCH_FROM},
      </if>
      <if test="BRANCH_TO != null and BRANCH_TO != emptyBigDecimalValue" >
        #{BRANCH_TO},
      </if>
      <if test="CY_FROM != null and CY_FROM != emptyBigDecimalValue" >
        #{CY_FROM},
      </if>
      <if test="CY_TO != null and CY_TO != emptyBigDecimalValue" >
        #{CY_TO},
      </if>
      <if test="GL_FROM != null and GL_FROM != emptyBigDecimalValue" >
        #{GL_FROM},
      </if>
      <if test="GL_TO != null and GL_TO != emptyBigDecimalValue" >
        #{GL_TO},
      </if>
      <if test="CIF_FROM != null and CIF_FROM != emptyBigDecimalValue" >
        #{CIF_FROM},
      </if>
      <if test="CIF_TO != null and CIF_TO != emptyBigDecimalValue" >
        #{CIF_TO},
      </if>
      <if test="SL_FROM != null and SL_FROM != emptyBigDecimalValue" >
        #{SL_FROM},
      </if>
      <if test="SL_TO != null and SL_TO != emptyBigDecimalValue" >
        #{SL_TO},
      </if>
      <if test="RECEIVER_CIF != null and RECEIVER_CIF != emptyBigDecimalValue" >
        #{RECEIVER_CIF},
      </if>
      <if test="REQ_GEN_950 != null and REQ_GEN_950 != emptyBigDecimalValue" >
        #{REQ_GEN_950},
      </if>
      <if test="ADDITIONAL_REFERENCE_TO != null" >
        #{ADDITIONAL_REFERENCE_TO},
      </if>
      <if test="ADDITIONAL_REFERENCE_FROM != null" >
        #{ADDITIONAL_REFERENCE_FROM},
      </if>
      <if test="SCHED_TIME != null" >
        #{SCHED_TIME},
      </if>
      <if test="LAST_REPLICATION != null" >
        #{LAST_REPLICATION},
      </if>
      <if test="MSG_CODE != null" >
        #{MSG_CODE},
      </if>
      <if test="GENERATE_MESSAGE != null and GENERATE_MESSAGE != emptyBigDecimalValue" >
        #{GENERATE_MESSAGE},
      </if>
      <if test="NEXT_DATE_AFTER_HOL != null" >
        #{NEXT_DATE_AFTER_HOL},
      </if>
      <if test="JAVA_PROCESS != null and JAVA_PROCESS != emptyBigDecimalValue" >
        #{JAVA_PROCESS},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateSWIFT_DWSCHED" >
    update SWIFT_DWSCHED
    <set >
      <if test="NEXT_REPLICATION != null" >
        NEXT_REPLICATION = #{NEXT_REPLICATION},
      </if>
      <if test="PERIOD != null" >
        <choose >
          <when test="PERIOD == emptyBigDecimalValue" >
            PERIOD = NULL ,
          </when>
          <otherwise >
            PERIOD = #{PERIOD},
          </otherwise>
        </choose>
      </if>
      <if test="PERIOD_TYPE != null" >
        PERIOD_TYPE = #{PERIOD_TYPE},
      </if>
      <if test="PERIOD_DAY != null" >
        <choose >
          <when test="PERIOD_DAY == emptyBigDecimalValue" >
            PERIOD_DAY = NULL ,
          </when>
          <otherwise >
            PERIOD_DAY = #{PERIOD_DAY},
          </otherwise>
        </choose>
      </if>
      <if test="TRANS_FROM != null" >
        <choose >
          <when test="TRANS_FROM == emptyBigDecimalValue" >
            TRANS_FROM = NULL ,
          </when>
          <otherwise >
            TRANS_FROM = #{TRANS_FROM},
          </otherwise>
        </choose>
      </if>
      <if test="TRANS_TO != null" >
        <choose >
          <when test="TRANS_TO == emptyBigDecimalValue" >
            TRANS_TO = NULL ,
          </when>
          <otherwise >
            TRANS_TO = #{TRANS_TO},
          </otherwise>
        </choose>
      </if>
      <if test="DATE_FROM != null" >
        DATE_FROM = #{DATE_FROM},
      </if>
      <if test="DATE_TO != null" >
        DATE_TO = #{DATE_TO},
      </if>
      <if test="SUSPEND_REPLICATION != null" >
        <choose >
          <when test="SUSPEND_REPLICATION == emptyBigDecimalValue" >
            SUSPEND_REPLICATION = NULL ,
          </when>
          <otherwise >
            SUSPEND_REPLICATION = #{SUSPEND_REPLICATION},
          </otherwise>
        </choose>
      </if>
      <if test="COMP_CODE != null" >
        <choose >
          <when test="COMP_CODE == emptyBigDecimalValue" >
            COMP_CODE = NULL ,
          </when>
          <otherwise >
            COMP_CODE = #{COMP_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="BRANCH_FROM != null" >
        <choose >
          <when test="BRANCH_FROM == emptyBigDecimalValue" >
            BRANCH_FROM = NULL ,
          </when>
          <otherwise >
            BRANCH_FROM = #{BRANCH_FROM},
          </otherwise>
        </choose>
      </if>
      <if test="BRANCH_TO != null" >
        <choose >
          <when test="BRANCH_TO == emptyBigDecimalValue" >
            BRANCH_TO = NULL ,
          </when>
          <otherwise >
            BRANCH_TO = #{BRANCH_TO},
          </otherwise>
        </choose>
      </if>
      <if test="CY_FROM != null" >
        <choose >
          <when test="CY_FROM == emptyBigDecimalValue" >
            CY_FROM = NULL ,
          </when>
          <otherwise >
            CY_FROM = #{CY_FROM},
          </otherwise>
        </choose>
      </if>
      <if test="CY_TO != null" >
        <choose >
          <when test="CY_TO == emptyBigDecimalValue" >
            CY_TO = NULL ,
          </when>
          <otherwise >
            CY_TO = #{CY_TO},
          </otherwise>
        </choose>
      </if>
      <if test="GL_FROM != null" >
        <choose >
          <when test="GL_FROM == emptyBigDecimalValue" >
            GL_FROM = NULL ,
          </when>
          <otherwise >
            GL_FROM = #{GL_FROM},
          </otherwise>
        </choose>
      </if>
      <if test="GL_TO != null" >
        <choose >
          <when test="GL_TO == emptyBigDecimalValue" >
            GL_TO = NULL ,
          </when>
          <otherwise >
            GL_TO = #{GL_TO},
          </otherwise>
        </choose>
      </if>
      <if test="CIF_FROM != null" >
        <choose >
          <when test="CIF_FROM == emptyBigDecimalValue" >
            CIF_FROM = NULL ,
          </when>
          <otherwise >
            CIF_FROM = #{CIF_FROM},
          </otherwise>
        </choose>
      </if>
      <if test="CIF_TO != null" >
        <choose >
          <when test="CIF_TO == emptyBigDecimalValue" >
            CIF_TO = NULL ,
          </when>
          <otherwise >
            CIF_TO = #{CIF_TO},
          </otherwise>
        </choose>
      </if>
      <if test="SL_FROM != null" >
        <choose >
          <when test="SL_FROM == emptyBigDecimalValue" >
            SL_FROM = NULL ,
          </when>
          <otherwise >
            SL_FROM = #{SL_FROM},
          </otherwise>
        </choose>
      </if>
      <if test="SL_TO != null" >
        <choose >
          <when test="SL_TO == emptyBigDecimalValue" >
            SL_TO = NULL ,
          </when>
          <otherwise >
            SL_TO = #{SL_TO},
          </otherwise>
        </choose>
      </if>
      <if test="RECEIVER_CIF != null" >
        <choose >
          <when test="RECEIVER_CIF == emptyBigDecimalValue" >
            RECEIVER_CIF = NULL ,
          </when>
          <otherwise >
            RECEIVER_CIF = #{RECEIVER_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="REQ_GEN_950 != null" >
        <choose >
          <when test="REQ_GEN_950 == emptyBigDecimalValue" >
            REQ_GEN_950 = NULL ,
          </when>
          <otherwise >
            REQ_GEN_950 = #{REQ_GEN_950},
          </otherwise>
        </choose>
      </if>
      <if test="ADDITIONAL_REFERENCE_TO != null" >
        ADDITIONAL_REFERENCE_TO = #{ADDITIONAL_REFERENCE_TO},
      </if>
      <if test="ADDITIONAL_REFERENCE_FROM != null" >
        ADDITIONAL_REFERENCE_FROM = #{ADDITIONAL_REFERENCE_FROM},
      </if>
      <if test="SCHED_TIME != null" >
        SCHED_TIME = #{SCHED_TIME},
      </if>
      <if test="LAST_REPLICATION != null" >
        LAST_REPLICATION = #{LAST_REPLICATION},
      </if>
      <if test="MSG_CODE != null" >
        MSG_CODE = #{MSG_CODE},
      </if>
      <if test="GENERATE_MESSAGE != null" >
        <choose >
          <when test="GENERATE_MESSAGE == emptyBigDecimalValue" >
            GENERATE_MESSAGE = NULL ,
          </when>
          <otherwise >
            GENERATE_MESSAGE = #{GENERATE_MESSAGE},
          </otherwise>
        </choose>
      </if>
      <if test="NEXT_DATE_AFTER_HOL != null" >
        NEXT_DATE_AFTER_HOL = #{NEXT_DATE_AFTER_HOL},
      </if>
      <if test="JAVA_PROCESS != null" >
        <choose >
          <when test="JAVA_PROCESS == emptyBigDecimalValue" >
            JAVA_PROCESS = NULL ,
          </when>
          <otherwise >
            JAVA_PROCESS = #{JAVA_PROCESS},
          </otherwise>
        </choose>
      </if>
    </set>
    where MODULE = #{MODULE}
      and REP_ID = #{REP_ID}
      and SCHED_ID = #{SCHED_ID}
  </sql>
  <update id="updateSWIFT_DWSCHED" parameterType="com.path.dbmaps.vo.SWIFT_DWSCHEDVO" >
    <include refid="sql_updateSWIFT_DWSCHED" />
  </update>
</mapper>