<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SWIFT_MSG" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.SWIFT_MSGVO" >
    <id column="MSG_CODE" property="MSG_CODE" />
    <result column="BRIEF_DESC_ENG" property="BRIEF_DESC_ENG" />
    <result column="LONG_DESC_ENG" property="LONG_DESC_ENG" />
    <result column="BRIEF_DESC_ARAB" property="BRIEF_DESC_ARAB" />
    <result column="LONG_DESC_ARAB" property="LONG_DESC_ARAB" />
    <result column="MESSAGE_ORDER" property="MESSAGE_ORDER" />
  </resultMap>
  <sql id="Base_Column_List" >
    MSG_CODE, BRIEF_DESC_ENG, LONG_DESC_ENG, BRIEF_DESC_ARAB, LONG_DESC_ARAB, MESSAGE_ORDER
  </sql>
  <select id="selectSWIFT_MSG" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.SWIFT_MSGVO" >
    select 
    <include refid="Base_Column_List" />
    from SWIFT_MSG
    where MSG_CODE = #{MSG_CODE}
  </select>
  <delete id="deleteSWIFT_MSG" parameterType="com.path.dbmaps.vo.SWIFT_MSGVO" >
    delete from SWIFT_MSG
    where MSG_CODE = #{MSG_CODE}
  </delete>
  <insert id="insertSWIFT_MSG" parameterType="com.path.dbmaps.vo.SWIFT_MSGVO" >
    insert into SWIFT_MSG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="MSG_CODE != null and !&quot;&quot;.equals(MSG_CODE)" >
        MSG_CODE,
      </if>
      <if test="BRIEF_DESC_ENG != null and !&quot;&quot;.equals(BRIEF_DESC_ENG)" >
        BRIEF_DESC_ENG,
      </if>
      <if test="LONG_DESC_ENG != null and !&quot;&quot;.equals(LONG_DESC_ENG)" >
        LONG_DESC_ENG,
      </if>
      <if test="BRIEF_DESC_ARAB != null and !&quot;&quot;.equals(BRIEF_DESC_ARAB)" >
        BRIEF_DESC_ARAB,
      </if>
      <if test="LONG_DESC_ARAB != null and !&quot;&quot;.equals(LONG_DESC_ARAB)" >
        LONG_DESC_ARAB,
      </if>
      <if test="MESSAGE_ORDER != null and MESSAGE_ORDER != emptyBigDecimalValue" >
        MESSAGE_ORDER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="MSG_CODE != null and !&quot;&quot;.equals(MSG_CODE)" >
        #{MSG_CODE},
      </if>
      <if test="BRIEF_DESC_ENG != null and !&quot;&quot;.equals(BRIEF_DESC_ENG)" >
        #{BRIEF_DESC_ENG},
      </if>
      <if test="LONG_DESC_ENG != null and !&quot;&quot;.equals(LONG_DESC_ENG)" >
        #{LONG_DESC_ENG},
      </if>
      <if test="BRIEF_DESC_ARAB != null and !&quot;&quot;.equals(BRIEF_DESC_ARAB)" >
        #{BRIEF_DESC_ARAB},
      </if>
      <if test="LONG_DESC_ARAB != null and !&quot;&quot;.equals(LONG_DESC_ARAB)" >
        #{LONG_DESC_ARAB},
      </if>
      <if test="MESSAGE_ORDER != null and MESSAGE_ORDER != emptyBigDecimalValue" >
        #{MESSAGE_ORDER},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateSWIFT_MSG" >
    update SWIFT_MSG
    <set >
      <if test="BRIEF_DESC_ENG != null" >
        <choose >
          <when test="BRIEF_DESC_ENG.equals(&quot;&quot;)" >
            BRIEF_DESC_ENG = NULL ,
          </when>
          <otherwise >
            BRIEF_DESC_ENG = #{BRIEF_DESC_ENG},
          </otherwise>
        </choose>
      </if>
      <if test="LONG_DESC_ENG != null" >
        <choose >
          <when test="LONG_DESC_ENG.equals(&quot;&quot;)" >
            LONG_DESC_ENG = NULL ,
          </when>
          <otherwise >
            LONG_DESC_ENG = #{LONG_DESC_ENG},
          </otherwise>
        </choose>
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        <choose >
          <when test="BRIEF_DESC_ARAB.equals(&quot;&quot;)" >
            BRIEF_DESC_ARAB = NULL ,
          </when>
          <otherwise >
            BRIEF_DESC_ARAB = #{BRIEF_DESC_ARAB},
          </otherwise>
        </choose>
      </if>
      <if test="LONG_DESC_ARAB != null" >
        <choose >
          <when test="LONG_DESC_ARAB.equals(&quot;&quot;)" >
            LONG_DESC_ARAB = NULL ,
          </when>
          <otherwise >
            LONG_DESC_ARAB = #{LONG_DESC_ARAB},
          </otherwise>
        </choose>
      </if>
      <if test="MESSAGE_ORDER != null" >
        <choose >
          <when test="MESSAGE_ORDER == emptyBigDecimalValue" >
            MESSAGE_ORDER = NULL ,
          </when>
          <otherwise >
            MESSAGE_ORDER = #{MESSAGE_ORDER},
          </otherwise>
        </choose>
      </if>
    </set>
    where MSG_CODE = #{MSG_CODE}
  </sql>
  <update id="updateSWIFT_MSG" parameterType="com.path.dbmaps.vo.SWIFT_MSGVO" >
    <include refid="sql_updateSWIFT_MSG" />
  </update>
</mapper>