<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SYS_PARAM_SCREEN_DISPLAY" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.SYS_PARAM_SCREEN_DISPLAYVO" >
    <id column="APP_NAME" property="APP_NAME" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="PROG_REF" property="PROG_REF" />
    <result column="IS_MANDATORY" property="IS_MANDATORY" />
    <result column="IS_VISIBLE" property="IS_VISIBLE" />
    <result column="IS_READONLY" property="IS_READONLY" />
    <result column="ARABIC_DEPENDANT" property="ARABIC_DEPENDANT" />
    <result column="MESSAGE_CODE" property="MESSAGE_CODE" />
    <result column="ZERO_NOT_ALLOWED" property="ZERO_NOT_ALLOWED" />
    <result column="TRIM_STRING" property="TRIM_STRING" />
    <result column="LABEL_KEY" property="LABEL_KEY" />
    <result column="MAX_LENGTH" property="MAX_LENGTH" />
    <result column="FLD_IDENTIFIER" property="FLD_IDENTIFIER" />
    <result column="BUS_RELATED" property="BUS_RELATED" />
    <result property="VISIBILITY_EXPR" column="VISIBILITY_EXPR" />
    <result property="READONLY_EXPR" column="READONLY_EXPR" />
    <result property="MANDATORY_EXPR" column="MANDATORY_EXPR" />
    <result column="VALUE_VALID_EXPR" property="VALUE_VALID_EXPR" />
    <result column="KEYBOARD_SHORTCUT_KEY" property="KEYBOARD_SHORTCUT_KEY" />
    <result column="DEFAULT_VALUE" property="DEFAULT_VALUE" />
    <result column="ACTIVITY_TYPE" property="ACTIVITY_TYPE" />
    <result column="ACTIVITY_ID" property="ACTIVITY_ID" />
    <result column="MIN_LENGTH" property="MIN_LENGTH" />
    <result column="SCREEN_WIDTH" property="SCREEN_WIDTH"/>
    <result column="SCREEN_HEIGHT" property="SCREEN_HEIGHT"/>
    <result column="BACKGROUND_COLOR" property="BACKGROUND_COLOR"/>
    <result column="BACKGROUND_COLOR_EXPR" property="BACKGROUND_COLOR_EXPR"/>
  </resultMap>
  <sql id="Base_Column_List" >
    APP_NAME, COMP_CODE, PROG_REF, IS_MANDATORY, 
    IS_VISIBLE, IS_READONLY, ARABIC_DEPENDANT, MESSAGE_CODE, ZERO_NOT_ALLOWED, TRIM_STRING, 
    LABEL_KEY, MAX_LENGTH, FLD_IDENTIFIER, BUS_RELATED, VISIBILITY_EXPR, READONLY_EXPR, MANDATORY_EXPR, VALUE_VALID_EXPR, KEYBOARD_SHORTCUT_KEY, DEFAULT_VALUE,
    ACTIVITY_TYPE, ACTIVITY_ID, MIN_LENGTH, SCREEN_WIDTH, SCREEN_HEIGHT, BACKGROUND_COLOR ,BACKGROUND_COLOR_EXPR
  </sql>
  <select id="selectSYS_PARAM_SCREEN_DISPLAY" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.SYS_PARAM_SCREEN_DISPLAYVOKey" >
    select 
    <include refid="Base_Column_List" />
    from SYS_PARAM_SCREEN_DISPLAY
    where APP_NAME = #{APP_NAME}
      and COMP_CODE = #{COMP_CODE}
      and PROG_REF = #{PROG_REF}
      and FLD_IDENTIFIER = #{FLD_IDENTIFIER}
  </select>
  <delete id="deleteSYS_PARAM_SCREEN_DISPLAY" parameterType="com.path.dbmaps.vo.SYS_PARAM_SCREEN_DISPLAYVOKey" >
    delete from SYS_PARAM_SCREEN_DISPLAY
    where APP_NAME = #{APP_NAME}
      and COMP_CODE = #{COMP_CODE}
      and PROG_REF = #{PROG_REF}
      and FLD_IDENTIFIER = #{FLD_IDENTIFIER}
  </delete>
  <insert id="insertSYS_PARAM_SCREEN_DISPLAY" parameterType="com.path.dbmaps.vo.SYS_PARAM_SCREEN_DISPLAYVO" >
    insert into SYS_PARAM_SCREEN_DISPLAY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="APP_NAME != null" >
        APP_NAME,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="PROG_REF != null" >
        PROG_REF,
      </if>
      <if test="FLD_IDENTIFIER != null" >
        FLD_IDENTIFIER,
      </if>
      <if test="IS_MANDATORY != null and IS_MANDATORY != emptyBigDecimalValue" >
        IS_MANDATORY,
      </if>
      <if test="IS_VISIBLE != null and IS_VISIBLE != emptyBigDecimalValue" >
        IS_VISIBLE,
      </if>
      <if test="IS_READONLY != null and IS_READONLY != emptyBigDecimalValue" >
        IS_READONLY,
      </if>
      <if test="ARABIC_DEPENDANT != null and ARABIC_DEPENDANT != emptyBigDecimalValue" >
        ARABIC_DEPENDANT,
      </if>
      <if test="MESSAGE_CODE != null and MESSAGE_CODE != emptyBigDecimalValue" >
        MESSAGE_CODE,
      </if>
      <if test="ZERO_NOT_ALLOWED != null and ZERO_NOT_ALLOWED != emptyBigDecimalValue" >
        ZERO_NOT_ALLOWED,
      </if>
      <if test="TRIM_STRING != null and TRIM_STRING != emptyBigDecimalValue" >
        TRIM_STRING,
      </if>
      <if test="LABEL_KEY != null" >
        LABEL_KEY,
      </if>
      <if test="MAX_LENGTH != null and MAX_LENGTH != emptyBigDecimalValue" >
        MAX_LENGTH,
      </if>
      <if test="BUS_RELATED != null and BUS_RELATED != emptyBigDecimalValue" >
        BUS_RELATED,
      </if>
      <if test="VISIBILITY_EXPR != null" >
        VISIBILITY_EXPR,
      </if>
      <if test="READONLY_EXPR != null" >
        READONLY_EXPR,
      </if>
      <if test="MANDATORY_EXPR != null" >
        MANDATORY_EXPR,
      </if>
      <if test="VALUE_VALID_EXPR != null" >
        VALUE_VALID_EXPR,
      </if>
      <if test="KEYBOARD_SHORTCUT_KEY != null" >
        KEYBOARD_SHORTCUT_KEY,
      </if>
      <if test="DEFAULT_VALUE != null" >
        DEFAULT_VALUE,
      </if>
      <if test="ACTIVITY_TYPE != null" >
        ACTIVITY_TYPE,
      </if>
      <if test="ACTIVITY_ID != null and ACTIVITY_ID != emptyBigDecimalValue" >
        ACTIVITY_ID,
      </if>
      <if test="MIN_LENGTH != null and MIN_LENGTH != emptyBigDecimalValue" >
        MIN_LENGTH,
      </if>
      <if test="SCREEN_WIDTH != null and SCREEN_WIDTH != emptyBigDecimalValue" >
        SCREEN_WIDTH,
      </if>
      <if test="SCREEN_HEIGHT != null and SCREEN_HEIGHT != emptyBigDecimalValue" >
        SCREEN_HEIGHT,
      </if>
      <if test="BACKGROUND_COLOR != null" >
        BACKGROUND_COLOR,
      </if>
      <if test="BACKGROUND_COLOR_EXPR != null" >
        BACKGROUND_COLOR_EXPR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="APP_NAME != null" >
        #{APP_NAME},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="PROG_REF != null" >
        #{PROG_REF},
      </if>
      <if test="FLD_IDENTIFIER != null" >
        #{FLD_IDENTIFIER},
      </if>
      <if test="IS_MANDATORY != null and IS_MANDATORY != emptyBigDecimalValue" >
        #{IS_MANDATORY},
      </if>
      <if test="IS_VISIBLE != null and IS_VISIBLE != emptyBigDecimalValue" >
        #{IS_VISIBLE},
      </if>
      <if test="IS_READONLY != null and IS_READONLY != emptyBigDecimalValue" >
        #{IS_READONLY},
      </if>
      <if test="ARABIC_DEPENDANT != null and ARABIC_DEPENDANT != emptyBigDecimalValue" >
        #{ARABIC_DEPENDANT},
      </if>
      <if test="MESSAGE_CODE != null and MESSAGE_CODE != emptyBigDecimalValue" >
        #{MESSAGE_CODE},
      </if>
      <if test="ZERO_NOT_ALLOWED != null and ZERO_NOT_ALLOWED != emptyBigDecimalValue" >
        #{ZERO_NOT_ALLOWED},
      </if>
      <if test="TRIM_STRING != null and TRIM_STRING != emptyBigDecimalValue" >
        #{TRIM_STRING},
      </if>
      <if test="LABEL_KEY != null" >
        #{LABEL_KEY},
      </if>
      <if test="MAX_LENGTH != null and MAX_LENGTH != emptyBigDecimalValue" >
        #{MAX_LENGTH},
      </if>
      <if test="BUS_RELATED != null and BUS_RELATED != emptyBigDecimalValue" >
        #{BUS_RELATED},
      </if>
      <if test="VISIBILITY_EXPR != null" >
        #{VISIBILITY_EXPR},
      </if>
      <if test="READONLY_EXPR != null" >
        #{READONLY_EXPR},
      </if>
      <if test="MANDATORY_EXPR != null" >
        #{MANDATORY_EXPR},
      </if>
      <if test="VALUE_VALID_EXPR != null" >
        #{VALUE_VALID_EXPR},
      </if>
      <if test="KEYBOARD_SHORTCUT_KEY != null" >
        #{KEYBOARD_SHORTCUT_KEY},
      </if>
      <if test="DEFAULT_VALUE != null" >
        #{DEFAULT_VALUE},
      </if>
      <if test="ACTIVITY_TYPE != null" >
        #{ACTIVITY_TYPE},
      </if>
      <if test="ACTIVITY_ID != null and ACTIVITY_ID != emptyBigDecimalValue" >
        #{ACTIVITY_ID},
      </if>
      <if test="MIN_LENGTH != null and MIN_LENGTH != emptyBigDecimalValue" >
        #{MIN_LENGTH},
      </if>
      <if test="SCREEN_WIDTH != null and SCREEN_WIDTH != emptyBigDecimalValue" >
        #{SCREEN_WIDTH},
      </if>
      <if test="SCREEN_HEIGHT != null and SCREEN_HEIGHT != emptyBigDecimalValue" >
        #{SCREEN_HEIGHT},
      </if>
      <if test="BACKGROUND_COLOR != null" >
        #{BACKGROUND_COLOR},
      </if>
      <if test="BACKGROUND_COLOR_EXPR != null" >
        #{BACKGROUND_COLOR_EXPR},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateSYS_PARAM_SCREEN_DISPLAY" >
    update SYS_PARAM_SCREEN_DISPLAY
    <set >
      <if test="IS_MANDATORY != null" >
        <choose >
          <when test="IS_MANDATORY == emptyBigDecimalValue" >
            IS_MANDATORY = NULL ,
          </when>
          <otherwise >
            IS_MANDATORY = #{IS_MANDATORY},
          </otherwise>
        </choose>
      </if>
      <if test="IS_VISIBLE != null" >
        <choose >
          <when test="IS_VISIBLE == emptyBigDecimalValue" >
            IS_VISIBLE = NULL ,
          </when>
          <otherwise >
            IS_VISIBLE = #{IS_VISIBLE},
          </otherwise>
        </choose>
      </if>
      <if test="IS_READONLY != null" >
        <choose >
          <when test="IS_READONLY == emptyBigDecimalValue" >
            IS_READONLY = NULL ,
          </when>
          <otherwise >
            IS_READONLY = #{IS_READONLY},
          </otherwise>
        </choose>
      </if>
      <if test="ARABIC_DEPENDANT != null" >
        <choose >
          <when test="ARABIC_DEPENDANT == emptyBigDecimalValue" >
            ARABIC_DEPENDANT = NULL ,
          </when>
          <otherwise >
            ARABIC_DEPENDANT = #{ARABIC_DEPENDANT},
          </otherwise>
        </choose>
      </if>
      <if test="MESSAGE_CODE != null" >
        <choose >
          <when test="MESSAGE_CODE == emptyBigDecimalValue" >
            MESSAGE_CODE = NULL ,
          </when>
          <otherwise >
            MESSAGE_CODE = #{MESSAGE_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="ZERO_NOT_ALLOWED != null" >
        <choose >
          <when test="ZERO_NOT_ALLOWED == emptyBigDecimalValue" >
            ZERO_NOT_ALLOWED = NULL ,
          </when>
          <otherwise >
            ZERO_NOT_ALLOWED = #{ZERO_NOT_ALLOWED},
          </otherwise>
        </choose>
      </if>
      <if test="TRIM_STRING != null" >
        <choose >
          <when test="TRIM_STRING == emptyBigDecimalValue" >
            TRIM_STRING = NULL ,
          </when>
          <otherwise >
            TRIM_STRING = #{TRIM_STRING},
          </otherwise>
        </choose>
      </if>
      <if test="LABEL_KEY != null" >
        LABEL_KEY = #{LABEL_KEY},
      </if>
      <if test="MAX_LENGTH != null" >
        <choose >
          <when test="MAX_LENGTH == emptyBigDecimalValue" >
            MAX_LENGTH = NULL ,
          </when>
          <otherwise >
            MAX_LENGTH = #{MAX_LENGTH},
          </otherwise>
        </choose>
      </if>
      <if test="BUS_RELATED != null" >
        <choose >
          <when test="BUS_RELATED == emptyBigDecimalValue" >
            BUS_RELATED = NULL ,
          </when>
          <otherwise >
            BUS_RELATED = #{BUS_RELATED},
          </otherwise>
        </choose>
      </if>
      <if test="VISIBILITY_EXPR != null" >
        VISIBILITY_EXPR = #{VISIBILITY_EXPR},
      </if>
      <if test="READONLY_EXPR != null" >
        READONLY_EXPR = #{READONLY_EXPR},
      </if>
      <if test="MANDATORY_EXPR != null" >
        MANDATORY_EXPR = #{MANDATORY_EXPR},
      </if>
      <if test="VALUE_VALID_EXPR != null" >
        VALUE_VALID_EXPR = #{VALUE_VALID_EXPR},
      </if>
	  <if test="KEYBOARD_SHORTCUT_KEY != null" >
        KEYBOARD_SHORTCUT_KEY = #{KEYBOARD_SHORTCUT_KEY},
      </if>
      <if test="DEFAULT_VALUE != null" >
        DEFAULT_VALUE = #{DEFAULT_VALUE},
      </if>	
      <if test="ACTIVITY_TYPE != null" >
        ACTIVITY_TYPE = #{ACTIVITY_TYPE},
      </if>	
      <if test="ACTIVITY_ID != null" >
        <choose >
          <when test="ACTIVITY_ID == emptyBigDecimalValue" >
            ACTIVITY_ID = NULL ,
          </when>
          <otherwise >
            ACTIVITY_ID = #{ACTIVITY_ID},
          </otherwise>
        </choose>
      </if>	    
      <if test="MIN_LENGTH != null" >
        <choose >
          <when test="MIN_LENGTH == emptyBigDecimalValue" >
            MIN_LENGTH = NULL ,
          </when>
          <otherwise >
            MIN_LENGTH = #{MIN_LENGTH},
          </otherwise>
        </choose>
      </if>
      <if test="SCREEN_WIDTH != null" >
        <choose >
          <when test="SCREEN_WIDTH == emptyBigDecimalValue" >
            SCREEN_WIDTH = NULL ,
          </when>
          <otherwise >
            SCREEN_WIDTH = #{SCREEN_WIDTH},
          </otherwise>
        </choose>
      </if>
      <if test="SCREEN_HEIGHT != null" >
        <choose >
          <when test="SCREEN_HEIGHT == emptyBigDecimalValue" >
            SCREEN_HEIGHT = NULL ,
          </when>
          <otherwise >
            SCREEN_HEIGHT = #{SCREEN_HEIGHT},
          </otherwise>
        </choose>
      </if>
      <if test="BACKGROUND_COLOR != null" >
        BACKGROUND_COLOR = #{BACKGROUND_COLOR},
      </if>	
      <if test="BACKGROUND_COLOR_EXPR != null" >
        BACKGROUND_COLOR_EXPR = #{BACKGROUND_COLOR_EXPR},
      </if>	
    </set>
    where APP_NAME = #{APP_NAME}
      and COMP_CODE = #{COMP_CODE}
      and PROG_REF = #{PROG_REF}
      and FLD_IDENTIFIER = #{FLD_IDENTIFIER}
  </sql>
  <update id="updateSYS_PARAM_SCREEN_DISPLAY" parameterType="com.path.dbmaps.vo.SYS_PARAM_SCREEN_DISPLAYVO" >
    <include refid="sql_updateSYS_PARAM_SCREEN_DISPLAY" />
  </update>
</mapper>