<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SYS_CONVERT_NUMBER_TO_WORDS" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.SYS_CONVERT_NUMBER_TO_WORDSVO" >
    <id column="BASE_UNIT" property="BASE_UNIT" />
    <id column="LANG_CODE" property="LANG_CODE" />
    <result column="ONE_TO_NINETEEN" property="ONE_TO_NINETEEN" />
    <result column="DUALS" property="DUALS" />
    <result column="TENS" property="TENS" />
    <result column="HUNDREDS" property="HUNDREDS" />
    <result column="HUNDRED_THOUSAND" property="HUNDRED_THOUSAND" />
    <result column="HUNDRED_THOUSAND_PLURAL" property="HUNDRED_THOUSAND_PLURAL" />
    <result column="APPENDED_DUALS" property="APPENDED_DUALS" />
    <result column="APPENDED_HUNDRED_THOUSAND" property="APPENDED_HUNDRED_THOUSAND" />
    <result column="FEMALE_EQUIVALENT" property="FEMALE_EQUIVALENT" />
  </resultMap>
  <sql id="Base_Column_List" >
    BASE_UNIT, LANG_CODE, ONE_TO_NINETEEN, DUALS, TENS, HUNDREDS, HUNDRED_THOUSAND, 
    HUNDRED_THOUSAND_PLURAL, APPENDED_DUALS, APPENDED_HUNDRED_THOUSAND, FEMALE_EQUIVALENT
  </sql>
  <select id="selectSYS_CONVERT_NUMBER_TO_WORDS" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.SYS_CONVERT_NUMBER_TO_WORDSVOKey" >
    select 
    <include refid="Base_Column_List" />
    from SYS_CONVERT_NUMBER_TO_WORDS
    where BASE_UNIT = #{BASE_UNIT}
      and LANG_CODE = #{LANG_CODE}
  </select>
  <delete id="deleteSYS_CONVERT_NUMBER_TO_WORDS" parameterType="com.path.dbmaps.vo.SYS_CONVERT_NUMBER_TO_WORDSVOKey" >
    delete from SYS_CONVERT_NUMBER_TO_WORDS
    where BASE_UNIT = #{BASE_UNIT}
      and LANG_CODE = #{LANG_CODE}
  </delete>
  <insert id="insertSYS_CONVERT_NUMBER_TO_WORDS" parameterType="com.path.dbmaps.vo.SYS_CONVERT_NUMBER_TO_WORDSVO" >
    insert into SYS_CONVERT_NUMBER_TO_WORDS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BASE_UNIT != null" >
        BASE_UNIT,
      </if>
      <if test="LANG_CODE != null" >
        LANG_CODE,
      </if>
      <if test="ONE_TO_NINETEEN != null" >
        ONE_TO_NINETEEN,
      </if>
      <if test="DUALS != null" >
        DUALS,
      </if>
      <if test="TENS != null" >
        TENS,
      </if>
      <if test="HUNDREDS != null" >
        HUNDREDS,
      </if>
      <if test="HUNDRED_THOUSAND != null" >
        HUNDRED_THOUSAND,
      </if>
      <if test="HUNDRED_THOUSAND_PLURAL != null" >
        HUNDRED_THOUSAND_PLURAL,
      </if>
      <if test="APPENDED_DUALS != null" >
        APPENDED_DUALS,
      </if>
      <if test="APPENDED_HUNDRED_THOUSAND != null" >
        APPENDED_HUNDRED_THOUSAND,
      </if>
      <if test="FEMALE_EQUIVALENT != null" >
        FEMALE_EQUIVALENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BASE_UNIT != null" >
        #{BASE_UNIT},
      </if>
      <if test="LANG_CODE != null" >
        #{LANG_CODE},
      </if>
      <if test="ONE_TO_NINETEEN != null" >
        #{ONE_TO_NINETEEN},
      </if>
      <if test="DUALS != null" >
        #{DUALS},
      </if>
      <if test="TENS != null" >
        #{TENS},
      </if>
      <if test="HUNDREDS != null" >
        #{HUNDREDS},
      </if>
      <if test="HUNDRED_THOUSAND != null" >
        #{HUNDRED_THOUSAND},
      </if>
      <if test="HUNDRED_THOUSAND_PLURAL != null" >
        #{HUNDRED_THOUSAND_PLURAL},
      </if>
      <if test="APPENDED_DUALS != null" >
        #{APPENDED_DUALS},
      </if>
      <if test="APPENDED_HUNDRED_THOUSAND != null" >
        #{APPENDED_HUNDRED_THOUSAND},
      </if>
      <if test="FEMALE_EQUIVALENT != null" >
        #{FEMALE_EQUIVALENT},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateSYS_CONVERT_NUMBER_TO_WORDS" >
    update SYS_CONVERT_NUMBER_TO_WORDS
    <set >
      <if test="ONE_TO_NINETEEN != null" >
        ONE_TO_NINETEEN = #{ONE_TO_NINETEEN},
      </if>
      <if test="DUALS != null" >
        DUALS = #{DUALS},
      </if>
      <if test="TENS != null" >
        TENS = #{TENS},
      </if>
      <if test="HUNDREDS != null" >
        HUNDREDS = #{HUNDREDS},
      </if>
      <if test="HUNDRED_THOUSAND != null" >
        HUNDRED_THOUSAND = #{HUNDRED_THOUSAND},
      </if>
      <if test="HUNDRED_THOUSAND_PLURAL != null" >
        HUNDRED_THOUSAND_PLURAL = #{HUNDRED_THOUSAND_PLURAL},
      </if>
      <if test="APPENDED_DUALS != null" >
        APPENDED_DUALS = #{APPENDED_DUALS},
      </if>
      <if test="APPENDED_HUNDRED_THOUSAND != null" >
        APPENDED_HUNDRED_THOUSAND = #{APPENDED_HUNDRED_THOUSAND},
      </if>
      <if test="FEMALE_EQUIVALENT != null" >
        FEMALE_EQUIVALENT = #{FEMALE_EQUIVALENT},
      </if>
    </set>
    where BASE_UNIT = #{BASE_UNIT}
      and LANG_CODE = #{LANG_CODE}
  </sql>
  <update id="updateSYS_CONVERT_NUMBER_TO_WORDS" parameterType="com.path.dbmaps.vo.SYS_CONVERT_NUMBER_TO_WORDSVO" >
    <include refid="sql_updateSYS_CONVERT_NUMBER_TO_WORDS" />
  </update>
</mapper>