<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TFS_EFORM_ISSUSANCE_EXPORTER" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TFS_EFORM_ISSUSANCE_EXPORTERVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="CIF_NO" property="CIF_NO" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="CODE_NO" property="CODE_NO" />
    <result column="STATUS" property="STATUS" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="DATE_CREATED" property="DATE_CREATED" />
    <result column="APPROVED_BY" property="APPROVED_BY" />
    <result column="DATE_APPROVED" property="DATE_APPROVED" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="DATE_MODIFIED" property="DATE_MODIFIED" />
    <result column="DELETED_BY" property="DELETED_BY" />
    <result column="DATE_DELETED" property="DATE_DELETED" />
    <result column="DATE_UPDATED" property="DATE_UPDATED" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, CIF_NO, COMP_CODE, CODE_NO, STATUS, CREATED_BY, DATE_CREATED, APPROVED_BY, DATE_APPROVED, 
    MODIFIED_BY, DATE_MODIFIED, DELETED_BY, DATE_DELETED, DATE_UPDATED
  </sql>
  <select id="selectTFS_EFORM_ISSUSANCE_EXPORTER" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TFS_EFORM_ISSUSANCE_EXPORTERVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TFS_EFORM_ISSUSANCE_EXPORTER
    where BRANCH_CODE = #{BRANCH_CODE}
      and CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and CODE_NO = #{CODE_NO}
  </select>
  <delete id="deleteTFS_EFORM_ISSUSANCE_EXPORTER" parameterType="com.path.dbmaps.vo.TFS_EFORM_ISSUSANCE_EXPORTERVOKey" >
    delete from TFS_EFORM_ISSUSANCE_EXPORTER
    where BRANCH_CODE = #{BRANCH_CODE}
      and CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and CODE_NO = #{CODE_NO}
  </delete>
  <insert id="insertTFS_EFORM_ISSUSANCE_EXPORTER" parameterType="com.path.dbmaps.vo.TFS_EFORM_ISSUSANCE_EXPORTERVO" >
    insert into TFS_EFORM_ISSUSANCE_EXPORTER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null" >
        BRANCH_CODE,
      </if>
      <if test="CIF_NO != null" >
        CIF_NO,
      </if>
      <if test="COMP_CODE != null" >
        COMP_CODE,
      </if>
      <if test="CODE_NO != null" >
        CODE_NO,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED,
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY,
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED,
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY,
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED,
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY,
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED,
      </if>
      DATE_UPDATED,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null" >
        #{BRANCH_CODE},
      </if>
      <if test="CIF_NO != null" >
        #{CIF_NO},
      </if>
      <if test="COMP_CODE != null" >
        #{COMP_CODE},
      </if>
      <if test="CODE_NO != null" >
        #{CODE_NO},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="DATE_CREATED != null" >
        #{DATE_CREATED},
      </if>
      <if test="APPROVED_BY != null" >
        #{APPROVED_BY},
      </if>
      <if test="DATE_APPROVED != null" >
        #{DATE_APPROVED},
      </if>
      <if test="MODIFIED_BY != null" >
        #{MODIFIED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        #{DATE_MODIFIED},
      </if>
      <if test="DELETED_BY != null" >
        #{DELETED_BY},
      </if>
      <if test="DATE_DELETED != null" >
        #{DATE_DELETED},
      </if>
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
    </trim>
  </insert>
  <sql id="sql_updateTFS_EFORM_ISSUSANCE_EXPORTER" >
    update TFS_EFORM_ISSUSANCE_EXPORTER
    <set >
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED = #{DATE_CREATED},
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY = #{APPROVED_BY},
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED = #{DATE_APPROVED},
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY = #{MODIFIED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED = #{DATE_MODIFIED},
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY = #{DELETED_BY},
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED = #{DATE_DELETED},
      </if>
      DATE_UPDATED = 
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and CODE_NO = #{CODE_NO}
  </sql>
  <update id="updateTFS_EFORM_ISSUSANCE_EXPORTER" parameterType="com.path.dbmaps.vo.TFS_EFORM_ISSUSANCE_EXPORTERVO" >
    <include refid="sql_updateTFS_EFORM_ISSUSANCE_EXPORTER" />
    <if test="DATE_UPDATED != null" >
      AND DATE_UPDATED = #{DATE_UPDATED}
    </if>
  </update>
</mapper>