<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TFS_DOM_AMT_AMEND_DET" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TFS_DOM_AMT_AMEND_DETVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="INFO_FILE_NO" property="INFO_FILE_NO" />
    <id column="REQUEST_NBR" property="REQUEST_NBR" />
    <result column="INFO_FILE_DATE" property="INFO_FILE_DATE" />
    <result column="CV_AMOUNT" property="CV_AMOUNT" />
    <result column="FC_AMOUNT" property="FC_AMOUNT" />
    <result column="DATE_CREATED" property="DATE_CREATED" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="DATE_UPDATED" property="DATE_UPDATED" />
    <result column="UPDATED_BY" property="UPDATED_BY" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, INFO_FILE_NO, REQUEST_NBR, INFO_FILE_DATE, CV_AMOUNT, FC_AMOUNT, 
    DATE_CREATED, CREATED_BY, DATE_UPDATED, UPDATED_BY
  </sql>
  <select id="selectTFS_DOM_AMT_AMEND_DET" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TFS_DOM_AMT_AMEND_DETVO" >
    select 
    <include refid="Base_Column_List" />
    from TFS_DOM_AMT_AMEND_DET
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and INFO_FILE_NO = #{INFO_FILE_NO}
      and REQUEST_NBR = #{REQUEST_NBR}
  </select>
  <delete id="deleteTFS_DOM_AMT_AMEND_DET" parameterType="com.path.dbmaps.vo.TFS_DOM_AMT_AMEND_DETVO" >
    delete from TFS_DOM_AMT_AMEND_DET
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and INFO_FILE_NO = #{INFO_FILE_NO}
      and REQUEST_NBR = #{REQUEST_NBR}
  </delete>
  <insert id="insertTFS_DOM_AMT_AMEND_DET" parameterType="com.path.dbmaps.vo.TFS_DOM_AMT_AMEND_DETVO" >
    insert into TFS_DOM_AMT_AMEND_DET
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="INFO_FILE_NO != null" >
        INFO_FILE_NO,
      </if>
      <if test="REQUEST_NBR != null and REQUEST_NBR != emptyBigDecimalValue" >
        REQUEST_NBR,
      </if>
      <if test="INFO_FILE_DATE != null" >
        INFO_FILE_DATE,
      </if>
      <if test="CV_AMOUNT != null and CV_AMOUNT != emptyBigDecimalValue" >
        CV_AMOUNT,
      </if>
      <if test="FC_AMOUNT != null and FC_AMOUNT != emptyBigDecimalValue" >
        FC_AMOUNT,
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      DATE_UPDATED,
      <if test="UPDATED_BY != null" >
        UPDATED_BY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="INFO_FILE_NO != null" >
        #{INFO_FILE_NO},
      </if>
      <if test="REQUEST_NBR != null and REQUEST_NBR != emptyBigDecimalValue" >
        #{REQUEST_NBR},
      </if>
      <if test="INFO_FILE_DATE != null" >
        #{INFO_FILE_DATE},
      </if>
      <if test="CV_AMOUNT != null and CV_AMOUNT != emptyBigDecimalValue" >
        #{CV_AMOUNT},
      </if>
      <if test="FC_AMOUNT != null and FC_AMOUNT != emptyBigDecimalValue" >
        #{FC_AMOUNT},
      </if>
      <if test="DATE_CREATED != null" >
        #{DATE_CREATED},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
      <if test="UPDATED_BY != null" >
        #{UPDATED_BY},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTFS_DOM_AMT_AMEND_DET" >
    update TFS_DOM_AMT_AMEND_DET
    <set >
      <if test="INFO_FILE_DATE != null" >
        INFO_FILE_DATE = #{INFO_FILE_DATE},
      </if>
      <if test="CV_AMOUNT != null" >
        <choose >
          <when test="CV_AMOUNT == emptyBigDecimalValue" >
            CV_AMOUNT = NULL ,
          </when>
          <otherwise >
            CV_AMOUNT = #{CV_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="FC_AMOUNT != null" >
        <choose >
          <when test="FC_AMOUNT == emptyBigDecimalValue" >
            FC_AMOUNT = NULL ,
          </when>
          <otherwise >
            FC_AMOUNT = #{FC_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED = #{DATE_CREATED},
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      DATE_UPDATED = 
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
      <if test="UPDATED_BY != null" >
        UPDATED_BY = #{UPDATED_BY},
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and INFO_FILE_NO = #{INFO_FILE_NO}
      and REQUEST_NBR = #{REQUEST_NBR}
  </sql>
  <update id="updateTFS_DOM_AMT_AMEND_DET" parameterType="com.path.dbmaps.vo.TFS_DOM_AMT_AMEND_DETVO" >
    <include refid="sql_updateTFS_DOM_AMT_AMEND_DET" />
    <if test="DATE_UPDATED != null" >
      AND DATE_UPDATED = #{DATE_UPDATED}
    </if>
  </update>
</mapper>