<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TFS_EFORM_ISSUSANCE_BR_SER" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TFS_EFORM_ISSUSANCE_BR_SERVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NO" property="LINE_NO" />
    <id column="SERIAL" property="SERIAL" />
    <result column="TAG" property="TAG" />
    <result column="SERIAL_NO" property="SERIAL_NO" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, LINE_NO, SERIAL, TAG, SERIAL_NO
  </sql>
  <select id="selectTFS_EFORM_ISSUSANCE_BR_SER" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TFS_EFORM_ISSUSANCE_BR_SERVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TFS_EFORM_ISSUSANCE_BR_SER
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and SERIAL = #{SERIAL}
  </select>
  <delete id="deleteTFS_EFORM_ISSUSANCE_BR_SER" parameterType="com.path.dbmaps.vo.TFS_EFORM_ISSUSANCE_BR_SERVOKey" >
    delete from TFS_EFORM_ISSUSANCE_BR_SER
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and SERIAL = #{SERIAL}
  </delete>
  <insert id="insertTFS_EFORM_ISSUSANCE_BR_SER" parameterType="com.path.dbmaps.vo.TFS_EFORM_ISSUSANCE_BR_SERVO" >
    insert into TFS_EFORM_ISSUSANCE_BR_SER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null" >
        COMP_CODE,
      </if>
      <if test="LINE_NO != null" >
        LINE_NO,
      </if>
      <if test="SERIAL != null" >
        SERIAL,
      </if>
      <if test="TAG != null" >
        TAG,
      </if>
      <if test="SERIAL_NO != null" >
        SERIAL_NO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NO != null" >
        #{LINE_NO},
      </if>
      <if test="SERIAL != null" >
        #{SERIAL},
      </if>
      <if test="TAG != null" >
        #{TAG},
      </if>
      <if test="SERIAL_NO != null" >
        #{SERIAL_NO},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTFS_EFORM_ISSUSANCE_BR_SER" >
    update TFS_EFORM_ISSUSANCE_BR_SER
    <set >
      <if test="TAG != null" >
        TAG = #{TAG},
      </if>
      <if test="SERIAL_NO != null" >
        SERIAL_NO = #{SERIAL_NO},
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and SERIAL = #{SERIAL}
  </sql>
  <update id="updateTFS_EFORM_ISSUSANCE_BR_SER" parameterType="com.path.dbmaps.vo.TFS_EFORM_ISSUSANCE_BR_SERVO" >
    <include refid="sql_updateTFS_EFORM_ISSUSANCE_BR_SER" />
  </update>
</mapper>