<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TFSDOC_DOCUMENTS">
	<resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TFSDOC_DOCUMENTSVO">
		<id column="BRANCH_CODE" property="BRANCH_CODE" />
		<id column="COMP_CODE" property="COMP_CODE" />
		<id column="DOCTYPE" property="DOCTYPE" />
		<id column="DOC_CODE" property="DOC_CODE" />
		<id column="TRX_NBR" property="TRX_NBR" />
		<id column="TRX_TYPE" property="TRX_TYPE" />
		<result column="DOC_YEAR" property="DOC_YEAR" />
		<result column="DOC_NBR" property="DOC_NBR" />
		<result column="DOC_CHECK" property="DOC_CHECK" />
		<result column="TEXT_FIELD" property="TEXT_FIELD" />
		<result column="DATE_FIELD" property="DATE_FIELD" />
		<result column="NUMBER_FIELD" property="NUMBER_FIELD" />
		<result column="RECEIVED_COPIES" property="RECEIVED_COPIES" />
		<result column="COPIES_TYPE" property="COPIES_TYPE" />
		<result column="CONSIGNEE_CODE" property="CONSIGNEE_CODE" />
		<result column="CONSIGNEE_DESC" property="CONSIGNEE_DESC" />
		<result column="ELECTRONIC_DOC" property="ELECTRONIC_DOC" />
		<result column="GROUP_CHECK" property="GROUP_CHECK" />
		<result column="SETTL_TYPE" property="SETTL_TYPE" />
		<result column="CHARGES" property="CHARGES" />
		<result column="OTHER_DOC" property="OTHER_DOC" />
		<result column="DISCREPANCIES" property="DISCREPANCIES" />
		<result column="DOC_DATE_RECEIPT" property="DOC_DATE_RECEIPT" />
		<result column="LINE_NO" property="LINE_NO" />
		<result column="AB_ORIGINAL_FOR" property="AB_ORIGINAL_FOR" />
		<result column="CONSIGNED_TO" property="CONSIGNED_TO" />
		<result column="CURRENCY_CODE" property="CURRENCY_CODE" />
		<result column="DO_ORIGINAL_FOR" property="DO_ORIGINAL_FOR" />
		<result column="INSURANCE_COVERING_VALUE" property="INSURANCE_COVERING_VALUE" />
		<result column="MATERIALS_FROM_OTHER_COUN" property="MATERIALS_FROM_OTHER_COUN" />
		<result column="MEMBER_CLUB_YN" property="MEMBER_CLUB_YN" />
		<result column="NBR_OF_COPY_COPIES" property="NBR_OF_COPY_COPIES" />
		<result column="NBR_OF_ORIG_COPIES" property="NBR_OF_ORIG_COPIES" />
		<result column="PERCENTAGE" property="PERCENTAGE" />
		<result column="REFERENCE" property="REFERENCE" />
		<result column="APPLY_DATE" property="APPLY_DATE" />
		<result column="APPLY_MAT_COUNTRIES_YN" property="APPLY_MAT_COUNTRIES_YN" />
		<result column="APPLY_NUMBER" property="APPLY_NUMBER" />
		<result column="APPLY_SETTELMENT_TYPE_YN" property="APPLY_SETTELMENT_TYPE_YN" />
		<result column="APPLY_TEXT" property="APPLY_TEXT" />
		<result column="CHECK_DATE_EXPIRY" property="CHECK_DATE_EXPIRY" />
		<result column="CONSIGNEE_TYPE" property="CONSIGNEE_TYPE" />
		<result column="LABEL_DATE" property="LABEL_DATE" />
		<result column="LABEL_NUMBER" property="LABEL_NUMBER" />
		<result column="LABEL_TEXT" property="LABEL_TEXT" />
		<result column="MANDATORY" property="MANDATORY" />
		<result column="SUPPORT_TYPE" property="SUPPORT_TYPE" />
		<result column="BELONG_TO_CONF_LINE_YN" property="BELONG_TO_CONF_LINE_YN" />
		<result column="EXTENSION_OTHR_CLAUSES_YN" property="EXTENSION_OTHR_CLAUSES_YN" />
		<result column="INSTIT_CARGO_CLAUSE_YN" property="INSTIT_CARGO_CLAUSE_YN" />
		<result column="INSTIT_CLASSIF_CLAUSE_YN" property="INSTIT_CLASSIF_CLAUSE_YN" />
		<result column="INSTIT_STRIKES_CLAUSE_YN" property="INSTIT_STRIKES_CLAUSE_YN" />
		<result column="INSTIT_WAR_CLAUSE_YN" property="INSTIT_WAR_CLAUSE_YN" />
		<result column="MODE_OF_TRANSPORT_YN" property="MODE_OF_TRANSPORT_YN" />
		<result column="SAILING_REG_LINER_SERV_YN" property="SAILING_REG_LINER_SERV_YN" />
		<result column="DOC_SELECTED_YN" property="DOC_SELECTED_YN" />
		<result column="APPLY_A_B_ORIGINAL_YN" property="APPLY_A_B_ORIGINAL_YN" />
		<result column="APPLY_CER_ISSU_VES_OWN_YN" property="APPLY_CER_ISSU_VES_OWN_YN" />
		<result column="APPLY_CONSIGNEE_TYPE_YN" property="APPLY_CONSIGNEE_TYPE_YN" />
		<result column="APPLY_D_O_ORIGINAL_YN" property="APPLY_D_O_ORIGINAL_YN" />
		<result column="APPLY_COUNTRIES_YN" property="APPLY_COUNTRIES_YN" />
		<result column="APPLY_INSURANCE_YN" property="APPLY_INSURANCE_YN" />
		<result column="INSTITUTE_CARGO_VAL" property="INSTITUTE_CARGO_VAL" />
		<result column="INSTITUTE_OTHER_TXT" property="INSTITUTE_OTHER_TXT" />
		<result column="TRANSPORT_MODE_VAL" property="TRANSPORT_MODE_VAL" />
		<result column="APPLY_ADD_DTL_YN" property="APPLY_ADD_DTL_YN" />
		<result column="DOC_DETAILS1" property="DOC_DETAILS1" />
		<result column="DOC_DETAILS2" property="DOC_DETAILS2" />
		<result column="DOC_DETAILS3" property="DOC_DETAILS3" />
		<result column="COUNTRY_CODE" property="COUNTRY_CODE" />
	</resultMap>
	<resultMap id="ResultMapWithBLOBs" type="com.path.dbmaps.vo.TFSDOC_DOCUMENTSVO"
		extends="BaseResultMap">
		<result column="DOC_NARRATION1" property="DOC_NARRATION1" />
		<result column="DOC_NARRATION" property="DOC_NARRATION" />
	</resultMap>
	<sql id="Base_Column_List">
		BRANCH_CODE, COMP_CODE, DOCTYPE, DOC_CODE, TRX_NBR, TRX_TYPE, DOC_YEAR, DOC_NBR,
		DOC_CHECK, TEXT_FIELD, DATE_FIELD, NUMBER_FIELD, RECEIVED_COPIES,
		COPIES_TYPE, CONSIGNEE_CODE,
		CONSIGNEE_DESC, ELECTRONIC_DOC, GROUP_CHECK, SETTL_TYPE, CHARGES, OTHER_DOC,
		DISCREPANCIES,
		DOC_DATE_RECEIPT, LINE_NO, AB_ORIGINAL_FOR, CONSIGNED_TO, CURRENCY_CODE,
		DO_ORIGINAL_FOR,
		INSURANCE_COVERING_VALUE, MATERIALS_FROM_OTHER_COUN, MEMBER_CLUB_YN, NBR_OF_COPY_COPIES,
		NBR_OF_ORIG_COPIES, PERCENTAGE, REFERENCE, APPLY_DATE,
		APPLY_MAT_COUNTRIES_YN, APPLY_NUMBER,
		APPLY_SETTELMENT_TYPE_YN, APPLY_TEXT, CHECK_DATE_EXPIRY, CONSIGNEE_TYPE, LABEL_DATE,
		LABEL_NUMBER, LABEL_TEXT, MANDATORY, SUPPORT_TYPE,
		BELONG_TO_CONF_LINE_YN, EXTENSION_OTHR_CLAUSES_YN,
		INSTIT_CARGO_CLAUSE_YN, INSTIT_CLASSIF_CLAUSE_YN,
		INSTIT_STRIKES_CLAUSE_YN, INSTIT_WAR_CLAUSE_YN,
		MODE_OF_TRANSPORT_YN, SAILING_REG_LINER_SERV_YN, DOC_SELECTED_YN, APPLY_A_B_ORIGINAL_YN,
		APPLY_CER_ISSU_VES_OWN_YN, APPLY_CONSIGNEE_TYPE_YN,
		APPLY_D_O_ORIGINAL_YN, APPLY_COUNTRIES_YN,
		APPLY_INSURANCE_YN, INSTITUTE_CARGO_VAL, INSTITUTE_OTHER_TXT, TRANSPORT_MODE_VAL,
		APPLY_ADD_DTL_YN,
		DOC_DETAILS1, DOC_DETAILS2, DOC_DETAILS3, COUNTRY_CODE
  </sql>
	<sql id="Blob_Column_List">
		DOC_NARRATION1, DOC_NARRATION
  </sql>
	<select id="selectTFSDOC_DOCUMENTS" resultMap="ResultMapWithBLOBs"
		parameterType="com.path.dbmaps.vo.TFSDOC_DOCUMENTSVO">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from TFSDOC_DOCUMENTS
		where BRANCH_CODE = #{BRANCH_CODE}
		and COMP_CODE = #{COMP_CODE}
		and DOCTYPE = #{DOCTYPE}
		and DOC_CODE = #{DOC_CODE}
		and TRX_NBR = #{TRX_NBR}
		and TRX_TYPE = #{TRX_TYPE}
	</select>
	<delete id="deleteTFSDOC_DOCUMENTS" parameterType="com.path.dbmaps.vo.TFSDOC_DOCUMENTSVO">
		delete from TFSDOC_DOCUMENTS
		where BRANCH_CODE = #{BRANCH_CODE}
		and COMP_CODE = #{COMP_CODE}
		and DOCTYPE = #{DOCTYPE}
		and DOC_CODE = #{DOC_CODE}
		and TRX_NBR = #{TRX_NBR}
		and TRX_TYPE = #{TRX_TYPE}
  </delete>
	<insert id="insertTFSDOC_DOCUMENTS" parameterType="com.path.dbmaps.vo.TFSDOC_DOCUMENTSVO">
		insert into TFSDOC_DOCUMENTS
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue">
				BRANCH_CODE,
      </if>
			<if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue">
				COMP_CODE,
      </if>
			<if test="DOCTYPE != null">
				DOCTYPE,
      </if>
			<if test="DOC_CODE != null and DOC_CODE != emptyBigDecimalValue">
				DOC_CODE,
      </if>
			<if test="TRX_NBR != null and TRX_NBR != emptyBigDecimalValue">
				TRX_NBR,
      </if>
			<if test="TRX_TYPE != null and TRX_TYPE != emptyBigDecimalValue">
				TRX_TYPE,
      </if>
			<if test="DOC_YEAR != null and DOC_YEAR != emptyBigDecimalValue">
				DOC_YEAR,
      </if>
			<if test="DOC_NBR != null and DOC_NBR != emptyBigDecimalValue">
				DOC_NBR,
      </if>
			<if test="DOC_CHECK != null">
				DOC_CHECK,
      </if>
			<if test="TEXT_FIELD != null">
				TEXT_FIELD,
      </if>
			<if test="DATE_FIELD != null">
				DATE_FIELD,
      </if>
			<if test="NUMBER_FIELD != null and NUMBER_FIELD != emptyBigDecimalValue">
				NUMBER_FIELD,
      </if>
			<if
				test="RECEIVED_COPIES != null and RECEIVED_COPIES != emptyBigDecimalValue">
				RECEIVED_COPIES,
      </if>
			<if test="COPIES_TYPE != null">
				COPIES_TYPE,
      </if>
			<if
				test="CONSIGNEE_CODE != null and CONSIGNEE_CODE != emptyBigDecimalValue">
				CONSIGNEE_CODE,
      </if>
			<if test="CONSIGNEE_DESC != null">
				CONSIGNEE_DESC,
      </if>
			<if test="ELECTRONIC_DOC != null">
				ELECTRONIC_DOC,
      </if>
			<if test="GROUP_CHECK != null">
				GROUP_CHECK,
      </if>
			<if test="SETTL_TYPE != null">
				SETTL_TYPE,
      </if>
			<if test="CHARGES != null and CHARGES != emptyBigDecimalValue">
				CHARGES,
      </if>
			<if test="OTHER_DOC != null">
				OTHER_DOC,
      </if>
			<if test="DISCREPANCIES != null">
				DISCREPANCIES,
      </if>
			<if test="DOC_DATE_RECEIPT != null">
				DOC_DATE_RECEIPT,
      </if>
			<if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue">
				LINE_NO,
      </if>
			<if test="AB_ORIGINAL_FOR != null">
				AB_ORIGINAL_FOR,
      </if>
			<if test="CONSIGNED_TO != null">
				CONSIGNED_TO,
      </if>
			<if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue">
				CURRENCY_CODE,
      </if>
			<if test="DO_ORIGINAL_FOR != null">
				DO_ORIGINAL_FOR,
      </if>
			<if
				test="INSURANCE_COVERING_VALUE != null and INSURANCE_COVERING_VALUE != emptyBigDecimalValue">
				INSURANCE_COVERING_VALUE,
      </if>
			<if test="MATERIALS_FROM_OTHER_COUN != null">
				MATERIALS_FROM_OTHER_COUN,
      </if>
			<if test="MEMBER_CLUB_YN != null">
				MEMBER_CLUB_YN,
      </if>
			<if
				test="NBR_OF_COPY_COPIES != null and NBR_OF_COPY_COPIES != emptyBigDecimalValue">
				NBR_OF_COPY_COPIES,
      </if>
			<if
				test="NBR_OF_ORIG_COPIES != null and NBR_OF_ORIG_COPIES != emptyBigDecimalValue">
				NBR_OF_ORIG_COPIES,
      </if>
			<if test="PERCENTAGE != null and PERCENTAGE != emptyBigDecimalValue">
				PERCENTAGE,
      </if>
			<if test="REFERENCE != null">
				REFERENCE,
      </if>
			<if test="APPLY_DATE != null and !&quot;&quot;.equals(APPLY_DATE)">
				APPLY_DATE,
      </if>
			<if test="APPLY_MAT_COUNTRIES_YN != null">
				APPLY_MAT_COUNTRIES_YN,
      </if>
			<if test="APPLY_NUMBER != null and !&quot;&quot;.equals(APPLY_NUMBER)">
				APPLY_NUMBER,
      </if>
			<if test="APPLY_SETTELMENT_TYPE_YN != null">
				APPLY_SETTELMENT_TYPE_YN,
      </if>
			<if test="APPLY_TEXT != null and !&quot;&quot;.equals(APPLY_TEXT)">
				APPLY_TEXT,
      </if>
			<if test="CHECK_DATE_EXPIRY != null">
				CHECK_DATE_EXPIRY,
      </if>
			<if test="CONSIGNEE_TYPE != null">
				CONSIGNEE_TYPE,
      </if>
			<if test="LABEL_DATE != null">
				LABEL_DATE,
      </if>
			<if test="LABEL_NUMBER != null">
				LABEL_NUMBER,
      </if>
			<if test="LABEL_TEXT != null">
				LABEL_TEXT,
      </if>
			<if test="MANDATORY != null and !&quot;&quot;.equals(MANDATORY)">
				MANDATORY,
      </if>
			<if test="SUPPORT_TYPE != null and !&quot;&quot;.equals(SUPPORT_TYPE)">
				SUPPORT_TYPE,
      </if>
			<if test="BELONG_TO_CONF_LINE_YN != null">
				BELONG_TO_CONF_LINE_YN,
      </if>
			<if test="EXTENSION_OTHR_CLAUSES_YN != null">
				EXTENSION_OTHR_CLAUSES_YN,
      </if>
			<if test="INSTIT_CARGO_CLAUSE_YN != null">
				INSTIT_CARGO_CLAUSE_YN,
      </if>
			<if test="INSTIT_CLASSIF_CLAUSE_YN != null">
				INSTIT_CLASSIF_CLAUSE_YN,
      </if>
			<if test="INSTIT_STRIKES_CLAUSE_YN != null">
				INSTIT_STRIKES_CLAUSE_YN,
      </if>
			<if test="INSTIT_WAR_CLAUSE_YN != null">
				INSTIT_WAR_CLAUSE_YN,
      </if>
			<if test="MODE_OF_TRANSPORT_YN != null">
				MODE_OF_TRANSPORT_YN,
      </if>
			<if test="SAILING_REG_LINER_SERV_YN != null">
				SAILING_REG_LINER_SERV_YN,
      </if>
			<if test="DOC_SELECTED_YN != null">
				DOC_SELECTED_YN,
      </if>
			<if test="APPLY_A_B_ORIGINAL_YN != null">
				APPLY_A_B_ORIGINAL_YN,
      </if>
			<if test="APPLY_CER_ISSU_VES_OWN_YN != null">
				APPLY_CER_ISSU_VES_OWN_YN,
      </if>
			<if test="APPLY_CONSIGNEE_TYPE_YN != null">
				APPLY_CONSIGNEE_TYPE_YN,
      </if>
			<if test="APPLY_D_O_ORIGINAL_YN != null">
				APPLY_D_O_ORIGINAL_YN,
      </if>
			<if test="APPLY_COUNTRIES_YN != null">
				APPLY_COUNTRIES_YN,
      </if>
			<if test="APPLY_INSURANCE_YN != null">
				APPLY_INSURANCE_YN,
      </if>
			<if test="INSTITUTE_CARGO_VAL != null">
				INSTITUTE_CARGO_VAL,
      </if>
			<if test="INSTITUTE_OTHER_TXT != null">
				INSTITUTE_OTHER_TXT,
      </if>
			<if test="TRANSPORT_MODE_VAL != null">
				TRANSPORT_MODE_VAL,
      </if>
			<if test="APPLY_ADD_DTL_YN != null">
				APPLY_ADD_DTL_YN,
      </if>
			<if test="DOC_DETAILS1 != null">
				DOC_DETAILS1,
      </if>
			<if test="DOC_DETAILS2 != null">
				DOC_DETAILS2,
      </if>
			<if test="DOC_DETAILS3 != null">
				DOC_DETAILS3,
      </if>
			<if test="DOC_NARRATION1 != null">
				DOC_NARRATION1,
      </if>
			<if test="DOC_NARRATION != null">
				DOC_NARRATION,
      </if>
      <if test="COUNTRY_CODE != null and COUNTRY_CODE != emptyBigDecimalValue">
				COUNTRY_CODE,
      </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue">
				#{BRANCH_CODE},
      </if>
			<if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue">
				#{COMP_CODE},
      </if>
			<if test="DOCTYPE != null">
				#{DOCTYPE},
      </if>
			<if test="DOC_CODE != null and DOC_CODE != emptyBigDecimalValue">
				#{DOC_CODE},
      </if>
			<if test="TRX_NBR != null and TRX_NBR != emptyBigDecimalValue">
				#{TRX_NBR},
      </if>
			<if test="TRX_TYPE != null and TRX_TYPE != emptyBigDecimalValue">
				#{TRX_TYPE},
      </if>
			<if test="DOC_YEAR != null and DOC_YEAR != emptyBigDecimalValue">
				#{DOC_YEAR},
      </if>
			<if test="DOC_NBR != null and DOC_NBR != emptyBigDecimalValue">
				#{DOC_NBR},
      </if>
			<if test="DOC_CHECK != null">
				#{DOC_CHECK},
      </if>
			<if test="TEXT_FIELD != null">
				#{TEXT_FIELD},
      </if>
			<if test="DATE_FIELD != null">
				#{DATE_FIELD},
      </if>
			<if test="NUMBER_FIELD != null and NUMBER_FIELD != emptyBigDecimalValue">
				#{NUMBER_FIELD},
      </if>
			<if
				test="RECEIVED_COPIES != null and RECEIVED_COPIES != emptyBigDecimalValue">
				#{RECEIVED_COPIES},
      </if>
			<if test="COPIES_TYPE != null">
				#{COPIES_TYPE},
      </if>
			<if
				test="CONSIGNEE_CODE != null and CONSIGNEE_CODE != emptyBigDecimalValue">
				#{CONSIGNEE_CODE},
      </if>
			<if test="CONSIGNEE_DESC != null">
				#{CONSIGNEE_DESC},
      </if>
			<if test="ELECTRONIC_DOC != null">
				#{ELECTRONIC_DOC},
      </if>
			<if test="GROUP_CHECK != null">
				#{GROUP_CHECK},
      </if>
			<if test="SETTL_TYPE != null">
				#{SETTL_TYPE},
      </if>
			<if test="CHARGES != null and CHARGES != emptyBigDecimalValue">
				#{CHARGES},
      </if>
			<if test="OTHER_DOC != null">
				#{OTHER_DOC},
      </if>
			<if test="DISCREPANCIES != null">
				#{DISCREPANCIES},
      </if>
			<if test="DOC_DATE_RECEIPT != null">
				#{DOC_DATE_RECEIPT},
      </if>
			<if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue">
				#{LINE_NO},
      </if>
			<if test="AB_ORIGINAL_FOR != null">
				#{AB_ORIGINAL_FOR},
      </if>
			<if test="CONSIGNED_TO != null">
				#{CONSIGNED_TO},
      </if>
			<if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue">
				#{CURRENCY_CODE},
      </if>
			<if test="DO_ORIGINAL_FOR != null">
				#{DO_ORIGINAL_FOR},
      </if>
			<if
				test="INSURANCE_COVERING_VALUE != null and INSURANCE_COVERING_VALUE != emptyBigDecimalValue">
				#{INSURANCE_COVERING_VALUE},
      </if>
			<if test="MATERIALS_FROM_OTHER_COUN != null">
				#{MATERIALS_FROM_OTHER_COUN},
      </if>
			<if test="MEMBER_CLUB_YN != null">
				#{MEMBER_CLUB_YN},
      </if>
			<if
				test="NBR_OF_COPY_COPIES != null and NBR_OF_COPY_COPIES != emptyBigDecimalValue">
				#{NBR_OF_COPY_COPIES},
      </if>
			<if
				test="NBR_OF_ORIG_COPIES != null and NBR_OF_ORIG_COPIES != emptyBigDecimalValue">
				#{NBR_OF_ORIG_COPIES},
      </if>
			<if test="PERCENTAGE != null and PERCENTAGE != emptyBigDecimalValue">
				#{PERCENTAGE},
      </if>
			<if test="REFERENCE != null">
				#{REFERENCE},
      </if>
			<if test="APPLY_DATE != null and !&quot;&quot;.equals(APPLY_DATE)">
				#{APPLY_DATE},
      </if>
			<if test="APPLY_MAT_COUNTRIES_YN != null">
				#{APPLY_MAT_COUNTRIES_YN},
      </if>
			<if test="APPLY_NUMBER != null and !&quot;&quot;.equals(APPLY_NUMBER)">
				#{APPLY_NUMBER},
      </if>
			<if test="APPLY_SETTELMENT_TYPE_YN != null">
				#{APPLY_SETTELMENT_TYPE_YN},
      </if>
			<if test="APPLY_TEXT != null and !&quot;&quot;.equals(APPLY_TEXT)">
				#{APPLY_TEXT},
      </if>
			<if test="CHECK_DATE_EXPIRY != null">
				#{CHECK_DATE_EXPIRY},
      </if>
			<if test="CONSIGNEE_TYPE != null">
				#{CONSIGNEE_TYPE},
      </if>
			<if test="LABEL_DATE != null">
				#{LABEL_DATE},
      </if>
			<if test="LABEL_NUMBER != null">
				#{LABEL_NUMBER},
      </if>
			<if test="LABEL_TEXT != null">
				#{LABEL_TEXT},
      </if>
			<if test="MANDATORY != null and !&quot;&quot;.equals(MANDATORY)">
				#{MANDATORY},
      </if>
			<if test="SUPPORT_TYPE != null and !&quot;&quot;.equals(SUPPORT_TYPE)">
				#{SUPPORT_TYPE},
      </if>
			<if test="BELONG_TO_CONF_LINE_YN != null">
				#{BELONG_TO_CONF_LINE_YN},
      </if>
			<if test="EXTENSION_OTHR_CLAUSES_YN != null">
				#{EXTENSION_OTHR_CLAUSES_YN},
      </if>
			<if test="INSTIT_CARGO_CLAUSE_YN != null">
				#{INSTIT_CARGO_CLAUSE_YN},
      </if>
			<if test="INSTIT_CLASSIF_CLAUSE_YN != null">
				#{INSTIT_CLASSIF_CLAUSE_YN},
      </if>
			<if test="INSTIT_STRIKES_CLAUSE_YN != null">
				#{INSTIT_STRIKES_CLAUSE_YN},
      </if>
			<if test="INSTIT_WAR_CLAUSE_YN != null">
				#{INSTIT_WAR_CLAUSE_YN},
      </if>
			<if test="MODE_OF_TRANSPORT_YN != null">
				#{MODE_OF_TRANSPORT_YN},
      </if>
			<if test="SAILING_REG_LINER_SERV_YN != null">
				#{SAILING_REG_LINER_SERV_YN},
      </if>
			<if test="DOC_SELECTED_YN != null">
				#{DOC_SELECTED_YN},
      </if>
			<if test="APPLY_A_B_ORIGINAL_YN != null">
				#{APPLY_A_B_ORIGINAL_YN},
      </if>
			<if test="APPLY_CER_ISSU_VES_OWN_YN != null">
				#{APPLY_CER_ISSU_VES_OWN_YN},
      </if>
			<if test="APPLY_CONSIGNEE_TYPE_YN != null">
				#{APPLY_CONSIGNEE_TYPE_YN},
      </if>
			<if test="APPLY_D_O_ORIGINAL_YN != null">
				#{APPLY_D_O_ORIGINAL_YN},
      </if>
			<if test="APPLY_COUNTRIES_YN != null">
				#{APPLY_COUNTRIES_YN},
      </if>
			<if test="APPLY_INSURANCE_YN != null">
				#{APPLY_INSURANCE_YN},
      </if>
			<if test="INSTITUTE_CARGO_VAL != null">
				#{INSTITUTE_CARGO_VAL},
      </if>
			<if test="INSTITUTE_OTHER_TXT != null">
				#{INSTITUTE_OTHER_TXT},
      </if>
			<if test="TRANSPORT_MODE_VAL != null">
				#{TRANSPORT_MODE_VAL},
      </if>
			<if test="APPLY_ADD_DTL_YN != null">
				#{APPLY_ADD_DTL_YN},
      </if>
			<if test="DOC_DETAILS1 != null">
				#{DOC_DETAILS1},
      </if>
			<if test="DOC_DETAILS2 != null">
				#{DOC_DETAILS2},
      </if>
			<if test="DOC_DETAILS3 != null">
				#{DOC_DETAILS3},
      </if>
			<if test="DOC_NARRATION1 != null">
				#{DOC_NARRATION1},
      </if>
			<if test="DOC_NARRATION != null">
				#{DOC_NARRATION},
      </if>
      <if test="COUNTRY_CODE != null and COUNTRY_CODE != emptyBigDecimalValue">
				#{COUNTRY_CODE},
      </if>
		</trim>
	</insert>
	<sql id="sql_updateTFSDOC_DOCUMENTS">
		update TFSDOC_DOCUMENTS
		<set>
			<if test="DOC_YEAR != null">
				<choose>
					<when test="DOC_YEAR == emptyBigDecimalValue">
						DOC_YEAR = NULL ,
          </when>
					<otherwise>
						DOC_YEAR = #{DOC_YEAR},
          </otherwise>
				</choose>
			</if>
			<if test="DOC_NBR != null">
				<choose>
					<when test="DOC_NBR == emptyBigDecimalValue">
						DOC_NBR = NULL ,
          </when>
					<otherwise>
						DOC_NBR = #{DOC_NBR},
          </otherwise>
				</choose>
			</if>
			<if test="DOC_CHECK != null">
				DOC_CHECK = #{DOC_CHECK},
      </if>
			<if test="TEXT_FIELD != null">
				TEXT_FIELD = #{TEXT_FIELD},
      </if>
			<if test="DATE_FIELD != null">
				DATE_FIELD = #{DATE_FIELD},
      </if>
			<if test="NUMBER_FIELD != null">
				<choose>
					<when test="NUMBER_FIELD == emptyBigDecimalValue">
						NUMBER_FIELD = NULL ,
          </when>
					<otherwise>
						NUMBER_FIELD = #{NUMBER_FIELD},
          </otherwise>
				</choose>
			</if>
			<if test="RECEIVED_COPIES != null">
				<choose>
					<when test="RECEIVED_COPIES == emptyBigDecimalValue">
						RECEIVED_COPIES = NULL ,
          </when>
					<otherwise>
						RECEIVED_COPIES = #{RECEIVED_COPIES},
          </otherwise>
				</choose>
			</if>
			<if test="COPIES_TYPE != null">
				COPIES_TYPE = #{COPIES_TYPE},
      </if>
			<if test="CONSIGNEE_CODE != null">
				<choose>
					<when test="CONSIGNEE_CODE == emptyBigDecimalValue">
						CONSIGNEE_CODE = NULL ,
          </when>
					<otherwise>
						CONSIGNEE_CODE = #{CONSIGNEE_CODE},
          </otherwise>
				</choose>
			</if>
			<if test="CONSIGNEE_DESC != null">
				CONSIGNEE_DESC = #{CONSIGNEE_DESC},
      </if>
			<if test="ELECTRONIC_DOC != null">
				ELECTRONIC_DOC = #{ELECTRONIC_DOC},
      </if>
			<if test="GROUP_CHECK != null">
				GROUP_CHECK = #{GROUP_CHECK},
      </if>
			<if test="SETTL_TYPE != null">
				SETTL_TYPE = #{SETTL_TYPE},
      </if>
			<if test="CHARGES != null">
				<choose>
					<when test="CHARGES == emptyBigDecimalValue">
						CHARGES = NULL ,
          </when>
					<otherwise>
						CHARGES = #{CHARGES},
          </otherwise>
				</choose>
			</if>
			<if test="OTHER_DOC != null">
				OTHER_DOC = #{OTHER_DOC},
      </if>
			<if test="DISCREPANCIES != null">
				DISCREPANCIES = #{DISCREPANCIES},
      </if>
			<if test="DOC_DATE_RECEIPT != null">
				DOC_DATE_RECEIPT = #{DOC_DATE_RECEIPT},
      </if>
			<if test="LINE_NO != null">
				<choose>
					<when test="LINE_NO == emptyBigDecimalValue">
						LINE_NO = NULL ,
          </when>
					<otherwise>
						LINE_NO = #{LINE_NO},
          </otherwise>
				</choose>
			</if>
			<if test="AB_ORIGINAL_FOR != null">
				AB_ORIGINAL_FOR = #{AB_ORIGINAL_FOR},
      </if>
			<if test="CONSIGNED_TO != null">
				CONSIGNED_TO = #{CONSIGNED_TO},
      </if>
			<if test="CURRENCY_CODE != null">
				<choose>
					<when test="CURRENCY_CODE == emptyBigDecimalValue">
						CURRENCY_CODE = NULL ,
          </when>
					<otherwise>
						CURRENCY_CODE = #{CURRENCY_CODE},
          </otherwise>
				</choose>
			</if>
			<if test="DO_ORIGINAL_FOR != null">
				DO_ORIGINAL_FOR = #{DO_ORIGINAL_FOR},
      </if>
			<if test="INSURANCE_COVERING_VALUE != null">
				<choose>
					<when test="INSURANCE_COVERING_VALUE == emptyBigDecimalValue">
						INSURANCE_COVERING_VALUE = NULL ,
          </when>
					<otherwise>
						INSURANCE_COVERING_VALUE = #{INSURANCE_COVERING_VALUE},
          </otherwise>
				</choose>
			</if>
			<if test="MATERIALS_FROM_OTHER_COUN != null">
				MATERIALS_FROM_OTHER_COUN = #{MATERIALS_FROM_OTHER_COUN},
      </if>
			<if test="MEMBER_CLUB_YN != null">
				MEMBER_CLUB_YN = #{MEMBER_CLUB_YN},
      </if>
			<if test="NBR_OF_COPY_COPIES != null">
				<choose>
					<when test="NBR_OF_COPY_COPIES == emptyBigDecimalValue">
						NBR_OF_COPY_COPIES = NULL ,
          </when>
					<otherwise>
						NBR_OF_COPY_COPIES = #{NBR_OF_COPY_COPIES},
          </otherwise>
				</choose>
			</if>
			<if test="NBR_OF_ORIG_COPIES != null">
				<choose>
					<when test="NBR_OF_ORIG_COPIES == emptyBigDecimalValue">
						NBR_OF_ORIG_COPIES = NULL ,
          </when>
					<otherwise>
						NBR_OF_ORIG_COPIES = #{NBR_OF_ORIG_COPIES},
          </otherwise>
				</choose>
			</if>
			<if test="PERCENTAGE != null">
				<choose>
					<when test="PERCENTAGE == emptyBigDecimalValue">
						PERCENTAGE = NULL ,
          </when>
					<otherwise>
						PERCENTAGE = #{PERCENTAGE},
          </otherwise>
				</choose>
			</if>
			<if test="REFERENCE != null">
				REFERENCE = #{REFERENCE},
      </if>
			<if test="APPLY_DATE != null and !&quot;&quot;.equals(APPLY_DATE)">
				APPLY_DATE = #{APPLY_DATE},
      </if>
			<if test="APPLY_MAT_COUNTRIES_YN != null">
				APPLY_MAT_COUNTRIES_YN = #{APPLY_MAT_COUNTRIES_YN},
      </if>
			<if test="APPLY_NUMBER != null and !&quot;&quot;.equals(APPLY_NUMBER)">
				APPLY_NUMBER = #{APPLY_NUMBER},
      </if>
			<if test="APPLY_SETTELMENT_TYPE_YN != null">
				APPLY_SETTELMENT_TYPE_YN = #{APPLY_SETTELMENT_TYPE_YN},
      </if>
			<if test="APPLY_TEXT != null and !&quot;&quot;.equals(APPLY_TEXT)">
				APPLY_TEXT = #{APPLY_TEXT},
      </if>
			<if test="CHECK_DATE_EXPIRY != null">
				CHECK_DATE_EXPIRY = #{CHECK_DATE_EXPIRY},
      </if>
			<if test="CONSIGNEE_TYPE != null">
				CONSIGNEE_TYPE = #{CONSIGNEE_TYPE},
      </if>
			<if test="LABEL_DATE != null">
				LABEL_DATE = #{LABEL_DATE},
      </if>
			<if test="LABEL_NUMBER != null">
				LABEL_NUMBER = #{LABEL_NUMBER},
      </if>
			<if test="LABEL_TEXT != null">
				LABEL_TEXT = #{LABEL_TEXT},
      </if>
			<if test="MANDATORY != null and !&quot;&quot;.equals(MANDATORY)">
				MANDATORY = #{MANDATORY},
      </if>
			<if test="SUPPORT_TYPE != null and !&quot;&quot;.equals(SUPPORT_TYPE)">
				SUPPORT_TYPE = #{SUPPORT_TYPE},
      </if>
			<if test="BELONG_TO_CONF_LINE_YN != null">
				BELONG_TO_CONF_LINE_YN = #{BELONG_TO_CONF_LINE_YN},
      </if>
			<if test="EXTENSION_OTHR_CLAUSES_YN != null">
				EXTENSION_OTHR_CLAUSES_YN = #{EXTENSION_OTHR_CLAUSES_YN},
      </if>
			<if test="INSTIT_CARGO_CLAUSE_YN != null">
				INSTIT_CARGO_CLAUSE_YN = #{INSTIT_CARGO_CLAUSE_YN},
      </if>
			<if test="INSTIT_CLASSIF_CLAUSE_YN != null">
				INSTIT_CLASSIF_CLAUSE_YN = #{INSTIT_CLASSIF_CLAUSE_YN},
      </if>
			<if test="INSTIT_STRIKES_CLAUSE_YN != null">
				INSTIT_STRIKES_CLAUSE_YN = #{INSTIT_STRIKES_CLAUSE_YN},
      </if>
			<if test="INSTIT_WAR_CLAUSE_YN != null">
				INSTIT_WAR_CLAUSE_YN = #{INSTIT_WAR_CLAUSE_YN},
      </if>
			<if test="MODE_OF_TRANSPORT_YN != null">
				MODE_OF_TRANSPORT_YN = #{MODE_OF_TRANSPORT_YN},
      </if>
			<if test="SAILING_REG_LINER_SERV_YN != null">
				SAILING_REG_LINER_SERV_YN = #{SAILING_REG_LINER_SERV_YN},
      </if>
			<if test="DOC_SELECTED_YN != null">
				DOC_SELECTED_YN = #{DOC_SELECTED_YN},
      </if>
			<if test="APPLY_A_B_ORIGINAL_YN != null">
				APPLY_A_B_ORIGINAL_YN = #{APPLY_A_B_ORIGINAL_YN},
      </if>
			<if test="APPLY_CER_ISSU_VES_OWN_YN != null">
				APPLY_CER_ISSU_VES_OWN_YN = #{APPLY_CER_ISSU_VES_OWN_YN},
      </if>
			<if test="APPLY_CONSIGNEE_TYPE_YN != null">
				APPLY_CONSIGNEE_TYPE_YN = #{APPLY_CONSIGNEE_TYPE_YN},
      </if>
			<if test="APPLY_D_O_ORIGINAL_YN != null">
				APPLY_D_O_ORIGINAL_YN = #{APPLY_D_O_ORIGINAL_YN},
      </if>
			<if test="APPLY_COUNTRIES_YN != null">
				APPLY_COUNTRIES_YN = #{APPLY_COUNTRIES_YN},
      </if>
			<if test="APPLY_INSURANCE_YN != null">
				APPLY_INSURANCE_YN = #{APPLY_INSURANCE_YN},
      </if>
			<if test="INSTITUTE_CARGO_VAL != null">
				INSTITUTE_CARGO_VAL = #{INSTITUTE_CARGO_VAL},
      </if>
			<if test="INSTITUTE_OTHER_TXT != null">
				INSTITUTE_OTHER_TXT = #{INSTITUTE_OTHER_TXT},
      </if>
			<if test="TRANSPORT_MODE_VAL != null">
				TRANSPORT_MODE_VAL = #{TRANSPORT_MODE_VAL},
      </if>
			<if test="APPLY_ADD_DTL_YN != null">
				APPLY_ADD_DTL_YN = #{APPLY_ADD_DTL_YN},
      </if>
			<if test="DOC_DETAILS1 != null">
				DOC_DETAILS1 = #{DOC_DETAILS1},
      </if>
			<if test="DOC_DETAILS2 != null">
				DOC_DETAILS2 = #{DOC_DETAILS2},
      </if>
			<if test="DOC_DETAILS3 != null">
				DOC_DETAILS3 = #{DOC_DETAILS3},
      </if>
			<if test="DOC_NARRATION1 != null">
				DOC_NARRATION1 = #{DOC_NARRATION1},
      </if>
			<if test="DOC_NARRATION != null">
				DOC_NARRATION = #{DOC_NARRATION},
      </if>
      <if test="COUNTRY_CODE != null">
			<choose>
				<when test="COUNTRY_CODE == emptyBigDecimalValue">
					COUNTRY_CODE = NULL,
         		</when>
				<otherwise>
					COUNTRY_CODE = #{COUNTRY_CODE},
         		</otherwise>
			</choose>
		</if>				
		</set>
		where BRANCH_CODE = #{BRANCH_CODE}
		and COMP_CODE = #{COMP_CODE}
		and DOCTYPE = #{DOCTYPE}
		and DOC_CODE = #{DOC_CODE}
		and TRX_NBR = #{TRX_NBR}
		and TRX_TYPE = #{TRX_TYPE}
	</sql>
	<update id="updateTFSDOC_DOCUMENTS" parameterType="com.path.dbmaps.vo.TFSDOC_DOCUMENTSVO">
		<include refid="sql_updateTFSDOC_DOCUMENTS" />
	</update>
</mapper>