<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TFSDOCTYPE_CHARGES" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TFSDOCTYPE_CHARGESVO" >
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="DOCTYPE" property="DOCTYPE" />
    <id column="LINE_NO" property="LINE_NO" />
    <id column="SPECIAL_IND" property="SPECIAL_IND" />
    <id column="TYPE_CODE" property="TYPE_CODE" />
    <result column="CHARGE_CODE" property="CHARGE_CODE" />
    <result column="APPLY_COND" property="APPLY_COND" />
    <result column="APPLY_MONTH_FROM" property="APPLY_MONTH_FROM" />
    <result column="APPLY_MONTH_TO" property="APPLY_MONTH_TO" />
    <result column="FLAT_AMOUNT" property="FLAT_AMOUNT" />
    <result column="CR_ACC_GL" property="CR_ACC_GL" />
    <result column="CR_ACC_CIF" property="CR_ACC_CIF" />
    <result column="CR_ACC_SL" property="CR_ACC_SL" />
    <result column="FLG_DOC" property="FLG_DOC" />
    <result column="FLG_ISSUE" property="FLG_ISSUE" />
    <result column="FLG_AMEND" property="FLG_AMEND" />
    <result column="FLG_SHIPPING" property="FLG_SHIPPING" />
    <result column="FLG_NOSTRO" property="FLG_NOSTRO" />
    <result column="FLG_ACCPTANCE" property="FLG_ACCPTANCE" />
    <result column="FLG_SETTLEMENT" property="FLG_SETTLEMENT" />
    <result column="ROUNDING" property="ROUNDING" />
    <result column="ROUNDING_POINT" property="ROUNDING_POINT" />
    <result column="COMMISSION_GL" property="COMMISSION_GL" />
    <result column="COMMISSION_CIF" property="COMMISSION_CIF" />
    <result column="COMMISSION_SL" property="COMMISSION_SL" />
    <result column="PASS_ACCRUAL" property="PASS_ACCRUAL" />
    <result column="FLG_CLOSE" property="FLG_CLOSE" />
    <result column="CR_ACC_BR" property="CR_ACC_BR" />
    <result column="DEFAULT_LOGGED_CR_BR" property="DEFAULT_LOGGED_CR_BR" />
    <result column="DIFFERENT_CY_CHARGE" property="DIFFERENT_CY_CHARGE" />
    <result column="PERCENTAGE" property="PERCENTAGE" />
    <result column="VISIBLE_IN_FMS" property="VISIBLE_IN_FMS" />
    <result column="FLG_AMEND_V" property="FLG_AMEND_V" />
    <result column="FLG_AMEND_O" property="FLG_AMEND_O" />
    <result column="FLG_AMEND_S" property="FLG_AMEND_S" />
    <result column="FLG_AMEND_L" property="FLG_AMEND_L" />
    <result column="VAT_CODE" property="VAT_CODE" />
    <result column="FREQUENTLY_CHARGE" property="FREQUENTLY_CHARGE" />
    <result column="APPLY_DAILY_PERCENT" property="APPLY_DAILY_PERCENT" />
    <result column="FLG_RET_BILL" property="FLG_RET_BILL" />
    <result column="CHARGES_BY_TIERS" property="CHARGES_BY_TIERS" />
    <result column="FLG_DOMICILIATION" property="FLG_DOMICILIATION" />
    <result column="FLG_PRESETTLEMENT" property="FLG_PRESETTLEMENT" />
    <result column="FLG_DECLARATION" property="FLG_DECLARATION" />
    <result column="PAYMENT_METHOD" property="PAYMENT_METHOD" />
    <result column="ALLOW_MODIFY_CHARGES" property="ALLOW_MODIFY_CHARGES" />
    <result column="SPECIAL_CODE" property="SPECIAL_CODE" />
    <result column="BILL_TRANSFER_YN" property="BILL_TRANSFER_YN" />
    <result column="LG_REDEMPTION_YN" property="LG_REDEMPTION_YN" />
    <result column="NON_PROV_AMT_CHARGE" 	property="NON_PROV_AMT_CHARGE" />
    <result column="PROV_AMT_CHARGE" 	property="PROV_AMT_CHARGE" />
    <result column="ADVANCE_PAYMENT_YN" 	property="ADVANCE_PAYMENT_YN" />
  </resultMap>
  <sql id="Base_Column_List" >
    COMP_CODE, DOCTYPE, LINE_NO, SPECIAL_IND, TYPE_CODE, CHARGE_CODE, APPLY_COND, APPLY_MONTH_FROM, 
    APPLY_MONTH_TO, FLAT_AMOUNT, CR_ACC_GL, CR_ACC_CIF, CR_ACC_SL, FLG_DOC, FLG_ISSUE, 
    FLG_AMEND, FLG_SHIPPING, FLG_NOSTRO, FLG_ACCPTANCE, FLG_SETTLEMENT, ROUNDING, ROUNDING_POINT, 
    COMMISSION_GL, COMMISSION_CIF, COMMISSION_SL, PASS_ACCRUAL, FLG_CLOSE, CR_ACC_BR, 
    DEFAULT_LOGGED_CR_BR, DIFFERENT_CY_CHARGE, PERCENTAGE, VISIBLE_IN_FMS, FLG_AMEND_V, 
    FLG_AMEND_O, FLG_AMEND_S, FLG_AMEND_L, VAT_CODE, FREQUENTLY_CHARGE, APPLY_DAILY_PERCENT, 
    FLG_RET_BILL, CHARGES_BY_TIERS, FLG_DOMICILIATION, FLG_PRESETTLEMENT, FLG_DECLARATION, 
    PAYMENT_METHOD, ALLOW_MODIFY_CHARGES, SPECIAL_CODE, BILL_TRANSFER_YN, LG_REDEMPTION_YN, NON_PROV_AMT_CHARGE, PROV_AMT_CHARGE,ADVANCE_PAYMENT_YN
  </sql>
  <select id="selectTFSDOCTYPE_CHARGES" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TFSDOCTYPE_CHARGESVO" >
    select 
    <include refid="Base_Column_List" />
    from TFSDOCTYPE_CHARGES
    where COMP_CODE = #{COMP_CODE}
      and DOCTYPE = #{DOCTYPE}
      and LINE_NO = #{LINE_NO}
      and SPECIAL_IND = #{SPECIAL_IND}
      and TYPE_CODE = #{TYPE_CODE}
  </select>
  <delete id="deleteTFSDOCTYPE_CHARGES" parameterType="com.path.dbmaps.vo.TFSDOCTYPE_CHARGESVO" >
    delete from TFSDOCTYPE_CHARGES
    where COMP_CODE = #{COMP_CODE}
      and DOCTYPE = #{DOCTYPE}
      and LINE_NO = #{LINE_NO}
      and SPECIAL_IND = #{SPECIAL_IND}
      and TYPE_CODE = #{TYPE_CODE}
  </delete>
  <insert id="insertTFSDOCTYPE_CHARGES" parameterType="com.path.dbmaps.vo.TFSDOCTYPE_CHARGESVO" >
    insert into TFSDOCTYPE_CHARGES
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="DOCTYPE != null" >
        DOCTYPE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="SPECIAL_IND != null" >
        SPECIAL_IND,
      </if>
      <if test="TYPE_CODE != null and TYPE_CODE != emptyBigDecimalValue" >
        TYPE_CODE,
      </if>
      <if test="CHARGE_CODE != null and CHARGE_CODE != emptyBigDecimalValue" >
        CHARGE_CODE,
      </if>
      <if test="APPLY_COND != null" >
        APPLY_COND,
      </if>
      <if test="APPLY_MONTH_FROM != null and APPLY_MONTH_FROM != emptyBigDecimalValue" >
        APPLY_MONTH_FROM,
      </if>
      <if test="APPLY_MONTH_TO != null and APPLY_MONTH_TO != emptyBigDecimalValue" >
        APPLY_MONTH_TO,
      </if>
      <if test="FLAT_AMOUNT != null and FLAT_AMOUNT != emptyBigDecimalValue" >
        FLAT_AMOUNT,
      </if>
      <if test="CR_ACC_GL != null and CR_ACC_GL != emptyBigDecimalValue" >
        CR_ACC_GL,
      </if>
      <if test="CR_ACC_CIF != null and CR_ACC_CIF != emptyBigDecimalValue" >
        CR_ACC_CIF,
      </if>
      <if test="CR_ACC_SL != null and CR_ACC_SL != emptyBigDecimalValue" >
        CR_ACC_SL,
      </if>
      <if test="FLG_DOC != null" >
        FLG_DOC,
      </if>
      <if test="FLG_ISSUE != null" >
        FLG_ISSUE,
      </if>
      <if test="FLG_AMEND != null" >
        FLG_AMEND,
      </if>
      <if test="FLG_SHIPPING != null" >
        FLG_SHIPPING,
      </if>
      <if test="FLG_NOSTRO != null" >
        FLG_NOSTRO,
      </if>
      <if test="FLG_ACCPTANCE != null" >
        FLG_ACCPTANCE,
      </if>
      <if test="FLG_SETTLEMENT != null" >
        FLG_SETTLEMENT,
      </if>
      <if test="ROUNDING != null" >
        ROUNDING,
      </if>
      <if test="ROUNDING_POINT != null and ROUNDING_POINT != emptyBigDecimalValue" >
        ROUNDING_POINT,
      </if>
      <if test="COMMISSION_GL != null and COMMISSION_GL != emptyBigDecimalValue" >
        COMMISSION_GL,
      </if>
      <if test="COMMISSION_CIF != null and COMMISSION_CIF != emptyBigDecimalValue" >
        COMMISSION_CIF,
      </if>
      <if test="COMMISSION_SL != null and COMMISSION_SL != emptyBigDecimalValue" >
        COMMISSION_SL,
      </if>
      <if test="PASS_ACCRUAL != null" >
        PASS_ACCRUAL,
      </if>
      <if test="FLG_CLOSE != null" >
        FLG_CLOSE,
      </if>
      <if test="CR_ACC_BR != null and CR_ACC_BR != emptyBigDecimalValue" >
        CR_ACC_BR,
      </if>
      <if test="DEFAULT_LOGGED_CR_BR != null" >
        DEFAULT_LOGGED_CR_BR,
      </if>
      <if test="DIFFERENT_CY_CHARGE != null" >
        DIFFERENT_CY_CHARGE,
      </if>
      <if test="PERCENTAGE != null and PERCENTAGE != emptyBigDecimalValue" >
        PERCENTAGE,
      </if>
      <if test="VISIBLE_IN_FMS != null" >
        VISIBLE_IN_FMS,
      </if>
      <if test="FLG_AMEND_V != null" >
        FLG_AMEND_V,
      </if>
      <if test="FLG_AMEND_O != null" >
        FLG_AMEND_O,
      </if>
      <if test="FLG_AMEND_S != null" >
        FLG_AMEND_S,
      </if>
      <if test="FLG_AMEND_L != null" >
        FLG_AMEND_L,
      </if>
      <if test="VAT_CODE != null and VAT_CODE != emptyBigDecimalValue" >
        VAT_CODE,
      </if>
      <if test="FREQUENTLY_CHARGE != null" >
        FREQUENTLY_CHARGE,
      </if>
      <if test="APPLY_DAILY_PERCENT != null" >
        APPLY_DAILY_PERCENT,
      </if>
      <if test="FLG_RET_BILL != null" >
        FLG_RET_BILL,
      </if>
      <if test="CHARGES_BY_TIERS != null" >
        CHARGES_BY_TIERS,
      </if>
      <if test="FLG_DOMICILIATION != null" >
        FLG_DOMICILIATION,
      </if>
      <if test="FLG_PRESETTLEMENT != null" >
        FLG_PRESETTLEMENT,
      </if>
      <if test="FLG_DECLARATION != null" >
        FLG_DECLARATION,
      </if>
      <if test="PAYMENT_METHOD != null" >
        PAYMENT_METHOD,
      </if>
      <if test="ALLOW_MODIFY_CHARGES != null" >
        ALLOW_MODIFY_CHARGES,
      </if>
      <if test="SPECIAL_CODE != null and SPECIAL_CODE != emptyBigDecimalValue" >
        SPECIAL_CODE,
      </if>
      <if test="BILL_TRANSFER_YN != null" >
        BILL_TRANSFER_YN,
      </if>
      <if test="LG_REDEMPTION_YN != null" >
        LG_REDEMPTION_YN,
      </if>
      <if test="NON_PROV_AMT_CHARGE != null and NON_PROV_AMT_CHARGE != emptyBigDecimalValue" >
        NON_PROV_AMT_CHARGE,
      </if>
      <if test="PROV_AMT_CHARGE != null and PROV_AMT_CHARGE != emptyBigDecimalValue" >
        PROV_AMT_CHARGE,
      </if>
       <if test="ADVANCE_PAYMENT_YN != null" >
        ADVANCE_PAYMENT_YN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="DOCTYPE != null" >
        #{DOCTYPE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="SPECIAL_IND != null" >
        #{SPECIAL_IND},
      </if>
      <if test="TYPE_CODE != null and TYPE_CODE != emptyBigDecimalValue" >
        #{TYPE_CODE},
      </if>
      <if test="CHARGE_CODE != null and CHARGE_CODE != emptyBigDecimalValue" >
        #{CHARGE_CODE},
      </if>
      <if test="APPLY_COND != null" >
        #{APPLY_COND},
      </if>
      <if test="APPLY_MONTH_FROM != null and APPLY_MONTH_FROM != emptyBigDecimalValue" >
        #{APPLY_MONTH_FROM},
      </if>
      <if test="APPLY_MONTH_TO != null and APPLY_MONTH_TO != emptyBigDecimalValue" >
        #{APPLY_MONTH_TO},
      </if>
      <if test="FLAT_AMOUNT != null and FLAT_AMOUNT != emptyBigDecimalValue" >
        #{FLAT_AMOUNT},
      </if>
      <if test="CR_ACC_GL != null and CR_ACC_GL != emptyBigDecimalValue" >
        #{CR_ACC_GL},
      </if>
      <if test="CR_ACC_CIF != null and CR_ACC_CIF != emptyBigDecimalValue" >
        #{CR_ACC_CIF},
      </if>
      <if test="CR_ACC_SL != null and CR_ACC_SL != emptyBigDecimalValue" >
        #{CR_ACC_SL},
      </if>
      <if test="FLG_DOC != null" >
        #{FLG_DOC},
      </if>
      <if test="FLG_ISSUE != null" >
        #{FLG_ISSUE},
      </if>
      <if test="FLG_AMEND != null" >
        #{FLG_AMEND},
      </if>
      <if test="FLG_SHIPPING != null" >
        #{FLG_SHIPPING},
      </if>
      <if test="FLG_NOSTRO != null" >
        #{FLG_NOSTRO},
      </if>
      <if test="FLG_ACCPTANCE != null" >
        #{FLG_ACCPTANCE},
      </if>
      <if test="FLG_SETTLEMENT != null" >
        #{FLG_SETTLEMENT},
      </if>
      <if test="ROUNDING != null" >
        #{ROUNDING},
      </if>
      <if test="ROUNDING_POINT != null and ROUNDING_POINT != emptyBigDecimalValue" >
        #{ROUNDING_POINT},
      </if>
      <if test="COMMISSION_GL != null and COMMISSION_GL != emptyBigDecimalValue" >
        #{COMMISSION_GL},
      </if>
      <if test="COMMISSION_CIF != null and COMMISSION_CIF != emptyBigDecimalValue" >
        #{COMMISSION_CIF},
      </if>
      <if test="COMMISSION_SL != null and COMMISSION_SL != emptyBigDecimalValue" >
        #{COMMISSION_SL},
      </if>
      <if test="PASS_ACCRUAL != null" >
        #{PASS_ACCRUAL},
      </if>
      <if test="FLG_CLOSE != null" >
        #{FLG_CLOSE},
      </if>
      <if test="CR_ACC_BR != null and CR_ACC_BR != emptyBigDecimalValue" >
        #{CR_ACC_BR},
      </if>
      <if test="DEFAULT_LOGGED_CR_BR != null" >
        #{DEFAULT_LOGGED_CR_BR},
      </if>
      <if test="DIFFERENT_CY_CHARGE != null" >
        #{DIFFERENT_CY_CHARGE},
      </if>
      <if test="PERCENTAGE != null and PERCENTAGE != emptyBigDecimalValue" >
        #{PERCENTAGE},
      </if>
      <if test="VISIBLE_IN_FMS != null" >
        #{VISIBLE_IN_FMS},
      </if>
      <if test="FLG_AMEND_V != null" >
        #{FLG_AMEND_V},
      </if>
      <if test="FLG_AMEND_O != null" >
        #{FLG_AMEND_O},
      </if>
      <if test="FLG_AMEND_S != null" >
        #{FLG_AMEND_S},
      </if>
      <if test="FLG_AMEND_L != null" >
        #{FLG_AMEND_L},
      </if>
      <if test="VAT_CODE != null and VAT_CODE != emptyBigDecimalValue" >
        #{VAT_CODE},
      </if>
      <if test="FREQUENTLY_CHARGE != null" >
        #{FREQUENTLY_CHARGE},
      </if>
      <if test="APPLY_DAILY_PERCENT != null" >
        #{APPLY_DAILY_PERCENT},
      </if>
      <if test="FLG_RET_BILL != null" >
        #{FLG_RET_BILL},
      </if>
      <if test="CHARGES_BY_TIERS != null" >
        #{CHARGES_BY_TIERS},
      </if>
      <if test="FLG_DOMICILIATION != null" >
        #{FLG_DOMICILIATION},
      </if>
      <if test="FLG_PRESETTLEMENT != null" >
        #{FLG_PRESETTLEMENT},
      </if>
      <if test="FLG_DECLARATION != null" >
        #{FLG_DECLARATION},
      </if>
      <if test="PAYMENT_METHOD != null" >
        #{PAYMENT_METHOD},
      </if>
      <if test="ALLOW_MODIFY_CHARGES != null" >
        #{ALLOW_MODIFY_CHARGES},
      </if>
      <if test="SPECIAL_CODE != null and SPECIAL_CODE != emptyBigDecimalValue" >
        #{SPECIAL_CODE},
      </if>
      <if test="BILL_TRANSFER_YN != null" >
        #{BILL_TRANSFER_YN},
      </if>
      <if test="LG_REDEMPTION_YN != null" >
        #{LG_REDEMPTION_YN},
      </if>
      <if test="NON_PROV_AMT_CHARGE != null and NON_PROV_AMT_CHARGE != emptyBigDecimalValue" >
        #{NON_PROV_AMT_CHARGE},
      </if>
      <if test="PROV_AMT_CHARGE != null and PROV_AMT_CHARGE != emptyBigDecimalValue" >
        #{PROV_AMT_CHARGE},
      </if>
       <if test="ADVANCE_PAYMENT_YN != null" >
         #{ADVANCE_PAYMENT_YN},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTFSDOCTYPE_CHARGES" >
    update TFSDOCTYPE_CHARGES
    <set >
      <if test="CHARGE_CODE != null" >
        <choose >
          <when test="CHARGE_CODE == emptyBigDecimalValue" >
            CHARGE_CODE = NULL ,
          </when>
          <otherwise >
            CHARGE_CODE = #{CHARGE_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="APPLY_COND != null" >
        APPLY_COND = #{APPLY_COND},
      </if>
      <if test="APPLY_MONTH_FROM != null" >
        <choose >
          <when test="APPLY_MONTH_FROM == emptyBigDecimalValue" >
            APPLY_MONTH_FROM = NULL ,
          </when>
          <otherwise >
            APPLY_MONTH_FROM = #{APPLY_MONTH_FROM},
          </otherwise>
        </choose>
      </if>
      <if test="APPLY_MONTH_TO != null" >
        <choose >
          <when test="APPLY_MONTH_TO == emptyBigDecimalValue" >
            APPLY_MONTH_TO = NULL ,
          </when>
          <otherwise >
            APPLY_MONTH_TO = #{APPLY_MONTH_TO},
          </otherwise>
        </choose>
      </if>
      <if test="FLAT_AMOUNT != null" >
        <choose >
          <when test="FLAT_AMOUNT == emptyBigDecimalValue" >
            FLAT_AMOUNT = NULL ,
          </when>
          <otherwise >
            FLAT_AMOUNT = #{FLAT_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="CR_ACC_GL != null" >
        <choose >
          <when test="CR_ACC_GL == emptyBigDecimalValue" >
            CR_ACC_GL = NULL ,
          </when>
          <otherwise >
            CR_ACC_GL = #{CR_ACC_GL},
          </otherwise>
        </choose>
      </if>
      <if test="CR_ACC_CIF != null" >
        <choose >
          <when test="CR_ACC_CIF == emptyBigDecimalValue" >
            CR_ACC_CIF = NULL ,
          </when>
          <otherwise >
            CR_ACC_CIF = #{CR_ACC_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="CR_ACC_SL != null" >
        <choose >
          <when test="CR_ACC_SL == emptyBigDecimalValue" >
            CR_ACC_SL = NULL ,
          </when>
          <otherwise >
            CR_ACC_SL = #{CR_ACC_SL},
          </otherwise>
        </choose>
      </if>
      <if test="FLG_DOC != null" >
        FLG_DOC = #{FLG_DOC},
      </if>
      <if test="FLG_ISSUE != null" >
        FLG_ISSUE = #{FLG_ISSUE},
      </if>
      <if test="FLG_AMEND != null" >
        FLG_AMEND = #{FLG_AMEND},
      </if>
      <if test="FLG_SHIPPING != null" >
        FLG_SHIPPING = #{FLG_SHIPPING},
      </if>
      <if test="FLG_NOSTRO != null" >
        FLG_NOSTRO = #{FLG_NOSTRO},
      </if>
      <if test="FLG_ACCPTANCE != null" >
        FLG_ACCPTANCE = #{FLG_ACCPTANCE},
      </if>
      <if test="FLG_SETTLEMENT != null" >
        FLG_SETTLEMENT = #{FLG_SETTLEMENT},
      </if>
      <if test="ROUNDING != null" >
        ROUNDING = #{ROUNDING},
      </if>
      <if test="ROUNDING_POINT != null" >
        <choose >
          <when test="ROUNDING_POINT == emptyBigDecimalValue" >
            ROUNDING_POINT = NULL ,
          </when>
          <otherwise >
            ROUNDING_POINT = #{ROUNDING_POINT},
          </otherwise>
        </choose>
      </if>
      <if test="COMMISSION_GL != null" >
        <choose >
          <when test="COMMISSION_GL == emptyBigDecimalValue" >
            COMMISSION_GL = NULL ,
          </when>
          <otherwise >
            COMMISSION_GL = #{COMMISSION_GL},
          </otherwise>
        </choose>
      </if>
      <if test="COMMISSION_CIF != null" >
        <choose >
          <when test="COMMISSION_CIF == emptyBigDecimalValue" >
            COMMISSION_CIF = NULL ,
          </when>
          <otherwise >
            COMMISSION_CIF = #{COMMISSION_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="COMMISSION_SL != null" >
        <choose >
          <when test="COMMISSION_SL == emptyBigDecimalValue" >
            COMMISSION_SL = NULL ,
          </when>
          <otherwise >
            COMMISSION_SL = #{COMMISSION_SL},
          </otherwise>
        </choose>
      </if>
      <if test="PASS_ACCRUAL != null" >
        PASS_ACCRUAL = #{PASS_ACCRUAL},
      </if>
      <if test="FLG_CLOSE != null" >
        FLG_CLOSE = #{FLG_CLOSE},
      </if>
      <if test="CR_ACC_BR != null" >
        <choose >
          <when test="CR_ACC_BR == emptyBigDecimalValue" >
            CR_ACC_BR = NULL ,
          </when>
          <otherwise >
            CR_ACC_BR = #{CR_ACC_BR},
          </otherwise>
        </choose>
      </if>
      <if test="DEFAULT_LOGGED_CR_BR != null" >
        DEFAULT_LOGGED_CR_BR = #{DEFAULT_LOGGED_CR_BR},
      </if>
      <if test="DIFFERENT_CY_CHARGE != null" >
        DIFFERENT_CY_CHARGE = #{DIFFERENT_CY_CHARGE},
      </if>
      <if test="PERCENTAGE != null" >
        <choose >
          <when test="PERCENTAGE == emptyBigDecimalValue" >
            PERCENTAGE = NULL ,
          </when>
          <otherwise >
            PERCENTAGE = #{PERCENTAGE},
          </otherwise>
        </choose>
      </if>
      <if test="VISIBLE_IN_FMS != null" >
        VISIBLE_IN_FMS = #{VISIBLE_IN_FMS},
      </if>
      <if test="FLG_AMEND_V != null" >
        FLG_AMEND_V = #{FLG_AMEND_V},
      </if>
      <if test="FLG_AMEND_O != null" >
        FLG_AMEND_O = #{FLG_AMEND_O},
      </if>
      <if test="FLG_AMEND_S != null" >
        FLG_AMEND_S = #{FLG_AMEND_S},
      </if>
      <if test="FLG_AMEND_L != null" >
        FLG_AMEND_L = #{FLG_AMEND_L},
      </if>
      <if test="VAT_CODE != null" >
        <choose >
          <when test="VAT_CODE == emptyBigDecimalValue" >
            VAT_CODE = NULL ,
          </when>
          <otherwise >
            VAT_CODE = #{VAT_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="FREQUENTLY_CHARGE != null" >
        FREQUENTLY_CHARGE = #{FREQUENTLY_CHARGE},
      </if>
      <if test="APPLY_DAILY_PERCENT != null" >
        APPLY_DAILY_PERCENT = #{APPLY_DAILY_PERCENT},
      </if>
      <if test="FLG_RET_BILL != null" >
        FLG_RET_BILL = #{FLG_RET_BILL},
      </if>
      <if test="CHARGES_BY_TIERS != null" >
        CHARGES_BY_TIERS = #{CHARGES_BY_TIERS},
      </if>
      <if test="FLG_DOMICILIATION != null" >
        FLG_DOMICILIATION = #{FLG_DOMICILIATION},
      </if>
      <if test="FLG_PRESETTLEMENT != null" >
        FLG_PRESETTLEMENT = #{FLG_PRESETTLEMENT},
      </if>
      <if test="FLG_DECLARATION != null" >
        FLG_DECLARATION = #{FLG_DECLARATION},
      </if>
      <if test="PAYMENT_METHOD != null" >
        PAYMENT_METHOD = #{PAYMENT_METHOD},
      </if>
      <if test="ALLOW_MODIFY_CHARGES != null" >
        ALLOW_MODIFY_CHARGES = #{ALLOW_MODIFY_CHARGES},
      </if>
      <if test="SPECIAL_CODE != null" >
        <choose >
          <when test="SPECIAL_CODE == emptyBigDecimalValue" >
            SPECIAL_CODE = NULL ,
          </when>
          <otherwise >
            SPECIAL_CODE = #{SPECIAL_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="BILL_TRANSFER_YN != null" >
        BILL_TRANSFER_YN = #{BILL_TRANSFER_YN},
      </if>
      <if test="LG_REDEMPTION_YN != null" >
        LG_REDEMPTION_YN = #{LG_REDEMPTION_YN},
      </if>
      <if test="NON_PROV_AMT_CHARGE != null" >
        <choose >
          <when test="NON_PROV_AMT_CHARGE == emptyBigDecimalValue" >
            NON_PROV_AMT_CHARGE = NULL ,
          </when>
          <otherwise >
            NON_PROV_AMT_CHARGE = #{NON_PROV_AMT_CHARGE},
          </otherwise>
        </choose>
      </if>
      <if test="PROV_AMT_CHARGE != null" >
        <choose >
          <when test="PROV_AMT_CHARGE == emptyBigDecimalValue" >
            PROV_AMT_CHARGE = NULL ,
          </when>
          <otherwise >
            PROV_AMT_CHARGE = #{PROV_AMT_CHARGE},
          </otherwise>
        </choose>
      </if>
      <if test="ADVANCE_PAYMENT_YN != null" >
        ADVANCE_PAYMENT_YN = #{ADVANCE_PAYMENT_YN},
      </if>
    </set>
    where COMP_CODE = #{COMP_CODE}
      and DOCTYPE = #{DOCTYPE}
      and LINE_NO = #{LINE_NO}
      and SPECIAL_IND = #{SPECIAL_IND}
      and TYPE_CODE = #{TYPE_CODE}
  </sql>
  <update id="updateTFSDOCTYPE_CHARGES" parameterType="com.path.dbmaps.vo.TFSDOCTYPE_CHARGESVO" >
    <include refid="sql_updateTFSDOCTYPE_CHARGES" />
  </update>
</mapper>