<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TMP_PASTDUE" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TMP_PASTDUEVO" >
    <result column="COMP_CODE" property="COMP_CODE" />
    <result column="BRANCH_CODE" property="BRANCH_CODE" />
    <result column="DEAL_NO" property="DEAL_NO" />
    <result column="DEAL_TYPE" property="DEAL_TYPE" />
    <result column="DEAL_CY" property="DEAL_CY" />
    <result column="SL_NO" property="SL_NO" />
    <result column="DUE_DATE" property="DUE_DATE" />
    <result column="ACC_CY" property="ACC_CY" />
    <result column="DESCRIPTION" property="DESCRIPTION" />
    <result column="ACC_GL" property="ACC_GL" />
    <result column="ACC_CIF" property="ACC_CIF" />
    <result column="ACC_SL" property="ACC_SL" />
    <result column="DEAL_AMOUNT" property="DEAL_AMOUNT" />
    <result column="PARTY_DEAL_AMOUNT" property="PARTY_DEAL_AMOUNT" />
    <result column="MATURITY_DATE" property="MATURITY_DATE" />
    <result column="CONTRIBUTOR_NO" property="CONTRIBUTOR_NO" />
    <result column="COUNTER_PARTY" property="COUNTER_PARTY" />
    <result column="CLASS" property="CLASS" />
    <result column="PROFIT_UPFRONT" property="PROFIT_UPFRONT" />
    <result column="PROFIT_AMOUNT" property="PROFIT_AMOUNT" />
    <result column="PROFIT_AMOUNT_NEW" property="PROFIT_AMOUNT_NEW" />
    <result column="PROFIT" property="PROFIT" />
    <result column="YIELD" property="YIELD" />
    <result column="EXPECTED_YIELD" property="EXPECTED_YIELD" />
    <result column="DEAL_YIELD" property="DEAL_YIELD" />
    <result column="DEAL_MINIMUM_YIELD" property="DEAL_MINIMUM_YIELD" />
    <result column="DEAL_EXPECTED_YIELD" property="DEAL_EXPECTED_YIELD" />
    <result column="DEAL_LIBOR_RATE" property="DEAL_LIBOR_RATE" />
    <result column="CHARGES_AMOUNT_PROFIT" property="CHARGES_AMOUNT_PROFIT" />
    <result column="USER_ID" property="USER_ID" />
    <result column="AMOUNT" property="AMOUNT" />
    <result column="AMOUNT_NEW" property="AMOUNT_NEW" />
    <result column="PARTY_NO" property="PARTY_NO" />
    <result column="CHARGES_AMOUNT" property="CHARGES_AMOUNT" />
    <result column="CAPITAL_AMOUNT" property="CAPITAL_AMOUNT" />
    <result column="PRINCIPAL_PAY_AMOUNT" property="PRINCIPAL_PAY_AMOUNT" />
    <result column="CHARGES_PAY_AMOUNT" property="CHARGES_PAY_AMOUNT" />
    <result column="PROFIT_PAY_AMOUNT" property="PROFIT_PAY_AMOUNT" />
    <result column="PROFIT_ON_PAY_AMOUNT" property="PROFIT_ON_PAY_AMOUNT" />
    <result column="SETTLEMENT_AMOUNT" property="SETTLEMENT_AMOUNT" />
    <result column="STATUS" property="STATUS" />
    <result column="CHARGE_AMOUNTS" property="CHARGE_AMOUNTS" />
    <result column="TOTAL_AMOUNT" property="TOTAL_AMOUNT" />
    <result column="PRODUCT_CLASS_NAME" property="PRODUCT_CLASS_NAME" />
  </resultMap>
  <insert id="insertTMP_PASTDUE" parameterType="com.path.dbmaps.vo.TMP_PASTDUEVO" >
    insert into TMP_PASTDUE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="DEAL_NO != null and DEAL_NO != emptyBigDecimalValue" >
        DEAL_NO,
      </if>
      <if test="DEAL_TYPE != null and DEAL_TYPE != emptyBigDecimalValue" >
        DEAL_TYPE,
      </if>
      <if test="DEAL_CY != null and DEAL_CY != emptyBigDecimalValue" >
        DEAL_CY,
      </if>
      <if test="SL_NO != null and SL_NO != emptyBigDecimalValue" >
        SL_NO,
      </if>
      <if test="DUE_DATE != null" >
        DUE_DATE,
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        ACC_CY,
      </if>
      <if test="DESCRIPTION != null" >
        DESCRIPTION,
      </if>
      <if test="ACC_GL != null and ACC_GL != emptyBigDecimalValue" >
        ACC_GL,
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        ACC_CIF,
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        ACC_SL,
      </if>
      <if test="DEAL_AMOUNT != null and DEAL_AMOUNT != emptyBigDecimalValue" >
        DEAL_AMOUNT,
      </if>
      <if test="PARTY_DEAL_AMOUNT != null and PARTY_DEAL_AMOUNT != emptyBigDecimalValue" >
        PARTY_DEAL_AMOUNT,
      </if>
      <if test="MATURITY_DATE != null" >
        MATURITY_DATE,
      </if>
      <if test="CONTRIBUTOR_NO != null and CONTRIBUTOR_NO != emptyBigDecimalValue" >
        CONTRIBUTOR_NO,
      </if>
      <if test="COUNTER_PARTY != null and COUNTER_PARTY != emptyBigDecimalValue" >
        COUNTER_PARTY,
      </if>
      <if test="CLASS != null and CLASS != emptyBigDecimalValue" >
        CLASS,
      </if>
      <if test="PROFIT_UPFRONT != null" >
        PROFIT_UPFRONT,
      </if>
      <if test="PROFIT_AMOUNT != null and PROFIT_AMOUNT != emptyBigDecimalValue" >
        PROFIT_AMOUNT,
      </if>
      <if test="PROFIT_AMOUNT_NEW != null and PROFIT_AMOUNT_NEW != emptyBigDecimalValue" >
        PROFIT_AMOUNT_NEW,
      </if>
      <if test="PROFIT != null and PROFIT != emptyBigDecimalValue" >
        PROFIT,
      </if>
      <if test="YIELD != null and YIELD != emptyBigDecimalValue" >
        YIELD,
      </if>
      <if test="EXPECTED_YIELD != null and EXPECTED_YIELD != emptyBigDecimalValue" >
        EXPECTED_YIELD,
      </if>
      <if test="DEAL_YIELD != null and DEAL_YIELD != emptyBigDecimalValue" >
        DEAL_YIELD,
      </if>
      <if test="DEAL_MINIMUM_YIELD != null and DEAL_MINIMUM_YIELD != emptyBigDecimalValue" >
        DEAL_MINIMUM_YIELD,
      </if>
      <if test="DEAL_EXPECTED_YIELD != null and DEAL_EXPECTED_YIELD != emptyBigDecimalValue" >
        DEAL_EXPECTED_YIELD,
      </if>
      <if test="DEAL_LIBOR_RATE != null and DEAL_LIBOR_RATE != emptyBigDecimalValue" >
        DEAL_LIBOR_RATE,
      </if>
      <if test="CHARGES_AMOUNT_PROFIT != null and CHARGES_AMOUNT_PROFIT != emptyBigDecimalValue" >
        CHARGES_AMOUNT_PROFIT,
      </if>
      <if test="USER_ID != null" >
        USER_ID,
      </if>
      <if test="AMOUNT != null and AMOUNT != emptyBigDecimalValue" >
        AMOUNT,
      </if>
      <if test="AMOUNT_NEW != null and AMOUNT_NEW != emptyBigDecimalValue" >
        AMOUNT_NEW,
      </if>
      <if test="PARTY_NO != null and PARTY_NO != emptyBigDecimalValue" >
        PARTY_NO,
      </if>
      <if test="CHARGES_AMOUNT != null and CHARGES_AMOUNT != emptyBigDecimalValue" >
        CHARGES_AMOUNT,
      </if>
      <if test="CAPITAL_AMOUNT != null and CAPITAL_AMOUNT != emptyBigDecimalValue" >
        CAPITAL_AMOUNT,
      </if>
      <if test="PRINCIPAL_PAY_AMOUNT != null and PRINCIPAL_PAY_AMOUNT != emptyBigDecimalValue" >
        PRINCIPAL_PAY_AMOUNT,
      </if>
      <if test="CHARGES_PAY_AMOUNT != null and CHARGES_PAY_AMOUNT != emptyBigDecimalValue" >
        CHARGES_PAY_AMOUNT,
      </if>
      <if test="PROFIT_PAY_AMOUNT != null and PROFIT_PAY_AMOUNT != emptyBigDecimalValue" >
        PROFIT_PAY_AMOUNT,
      </if>
      <if test="PROFIT_ON_PAY_AMOUNT != null and PROFIT_ON_PAY_AMOUNT != emptyBigDecimalValue" >
        PROFIT_ON_PAY_AMOUNT,
      </if>
      <if test="SETTLEMENT_AMOUNT != null and SETTLEMENT_AMOUNT != emptyBigDecimalValue" >
        SETTLEMENT_AMOUNT,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="CHARGE_AMOUNTS != null and CHARGE_AMOUNTS != emptyBigDecimalValue" >
        CHARGE_AMOUNTS,
      </if>
      <if test="TOTAL_AMOUNT != null and TOTAL_AMOUNT != emptyBigDecimalValue" >
        TOTAL_AMOUNT,
      </if>
      <if test="PRODUCT_CLASS_NAME != null" >
        PRODUCT_CLASS_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="DEAL_NO != null and DEAL_NO != emptyBigDecimalValue" >
        #{DEAL_NO},
      </if>
      <if test="DEAL_TYPE != null and DEAL_TYPE != emptyBigDecimalValue" >
        #{DEAL_TYPE},
      </if>
      <if test="DEAL_CY != null and DEAL_CY != emptyBigDecimalValue" >
        #{DEAL_CY},
      </if>
      <if test="SL_NO != null and SL_NO != emptyBigDecimalValue" >
        #{SL_NO},
      </if>
      <if test="DUE_DATE != null" >
        #{DUE_DATE},
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        #{ACC_CY},
      </if>
      <if test="DESCRIPTION != null" >
        #{DESCRIPTION},
      </if>
      <if test="ACC_GL != null and ACC_GL != emptyBigDecimalValue" >
        #{ACC_GL},
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        #{ACC_CIF},
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        #{ACC_SL},
      </if>
      <if test="DEAL_AMOUNT != null and DEAL_AMOUNT != emptyBigDecimalValue" >
        #{DEAL_AMOUNT},
      </if>
      <if test="PARTY_DEAL_AMOUNT != null and PARTY_DEAL_AMOUNT != emptyBigDecimalValue" >
        #{PARTY_DEAL_AMOUNT},
      </if>
      <if test="MATURITY_DATE != null" >
        #{MATURITY_DATE},
      </if>
      <if test="CONTRIBUTOR_NO != null and CONTRIBUTOR_NO != emptyBigDecimalValue" >
        #{CONTRIBUTOR_NO},
      </if>
      <if test="COUNTER_PARTY != null and COUNTER_PARTY != emptyBigDecimalValue" >
        #{COUNTER_PARTY},
      </if>
      <if test="CLASS != null and CLASS != emptyBigDecimalValue" >
        #{CLASS},
      </if>
      <if test="PROFIT_UPFRONT != null" >
        #{PROFIT_UPFRONT},
      </if>
      <if test="PROFIT_AMOUNT != null and PROFIT_AMOUNT != emptyBigDecimalValue" >
        #{PROFIT_AMOUNT},
      </if>
      <if test="PROFIT_AMOUNT_NEW != null and PROFIT_AMOUNT_NEW != emptyBigDecimalValue" >
        #{PROFIT_AMOUNT_NEW},
      </if>
      <if test="PROFIT != null and PROFIT != emptyBigDecimalValue" >
        #{PROFIT},
      </if>
      <if test="YIELD != null and YIELD != emptyBigDecimalValue" >
        #{YIELD},
      </if>
      <if test="EXPECTED_YIELD != null and EXPECTED_YIELD != emptyBigDecimalValue" >
        #{EXPECTED_YIELD},
      </if>
      <if test="DEAL_YIELD != null and DEAL_YIELD != emptyBigDecimalValue" >
        #{DEAL_YIELD},
      </if>
      <if test="DEAL_MINIMUM_YIELD != null and DEAL_MINIMUM_YIELD != emptyBigDecimalValue" >
        #{DEAL_MINIMUM_YIELD},
      </if>
      <if test="DEAL_EXPECTED_YIELD != null and DEAL_EXPECTED_YIELD != emptyBigDecimalValue" >
        #{DEAL_EXPECTED_YIELD},
      </if>
      <if test="DEAL_LIBOR_RATE != null and DEAL_LIBOR_RATE != emptyBigDecimalValue" >
        #{DEAL_LIBOR_RATE},
      </if>
      <if test="CHARGES_AMOUNT_PROFIT != null and CHARGES_AMOUNT_PROFIT != emptyBigDecimalValue" >
        #{CHARGES_AMOUNT_PROFIT},
      </if>
      <if test="USER_ID != null" >
        #{USER_ID},
      </if>
      <if test="AMOUNT != null and AMOUNT != emptyBigDecimalValue" >
        #{AMOUNT},
      </if>
      <if test="AMOUNT_NEW != null and AMOUNT_NEW != emptyBigDecimalValue" >
        #{AMOUNT_NEW},
      </if>
      <if test="PARTY_NO != null and PARTY_NO != emptyBigDecimalValue" >
        #{PARTY_NO},
      </if>
      <if test="CHARGES_AMOUNT != null and CHARGES_AMOUNT != emptyBigDecimalValue" >
        #{CHARGES_AMOUNT},
      </if>
      <if test="CAPITAL_AMOUNT != null and CAPITAL_AMOUNT != emptyBigDecimalValue" >
        #{CAPITAL_AMOUNT},
      </if>
      <if test="PRINCIPAL_PAY_AMOUNT != null and PRINCIPAL_PAY_AMOUNT != emptyBigDecimalValue" >
        #{PRINCIPAL_PAY_AMOUNT},
      </if>
      <if test="CHARGES_PAY_AMOUNT != null and CHARGES_PAY_AMOUNT != emptyBigDecimalValue" >
        #{CHARGES_PAY_AMOUNT},
      </if>
      <if test="PROFIT_PAY_AMOUNT != null and PROFIT_PAY_AMOUNT != emptyBigDecimalValue" >
        #{PROFIT_PAY_AMOUNT},
      </if>
      <if test="PROFIT_ON_PAY_AMOUNT != null and PROFIT_ON_PAY_AMOUNT != emptyBigDecimalValue" >
        #{PROFIT_ON_PAY_AMOUNT},
      </if>
      <if test="SETTLEMENT_AMOUNT != null and SETTLEMENT_AMOUNT != emptyBigDecimalValue" >
        #{SETTLEMENT_AMOUNT},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="CHARGE_AMOUNTS != null and CHARGE_AMOUNTS != emptyBigDecimalValue" >
        #{CHARGE_AMOUNTS},
      </if>
      <if test="TOTAL_AMOUNT != null and TOTAL_AMOUNT != emptyBigDecimalValue" >
        #{TOTAL_AMOUNT},
      </if>
      <if test="PRODUCT_CLASS_NAME != null" >
        #{PRODUCT_CLASS_NAME},
      </if>
    </trim>
  </insert>
</mapper>