<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TR_TYPES" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TR_TYPESVO" >
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="TR_CODE" property="TR_CODE" />
    <result column="BRIEF_DESC_ENG" property="BRIEF_DESC_ENG" />
    <result column="LONG_DESC_ENG" property="LONG_DESC_ENG" />
    <result column="BRIEF_DESC_ARAB" property="BRIEF_DESC_ARAB" />
    <result column="LONG_DESC_ARAB" property="LONG_DESC_ARAB" />
    <result column="ALLOW_DELETE_YN" property="ALLOW_DELETE_YN" />
    <result column="STATUS" property="STATUS" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="CREATED_DATE" property="CREATED_DATE" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="MODIFIED_DATE" property="MODIFIED_DATE" />
    <result column="APPROVE_BY" property="APPROVE_BY" />
    <result column="APPROVE_DATE" property="APPROVE_DATE" />
    <result column="DELETED_BY" property="DELETED_BY" />
    <result column="DELETED_DATE" property="DELETED_DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    COMP_CODE, TR_CODE, BRIEF_DESC_ENG, LONG_DESC_ENG, BRIEF_DESC_ARAB, LONG_DESC_ARAB, 
    ALLOW_DELETE_YN, STATUS, CREATED_BY, CREATED_DATE, MODIFIED_BY, MODIFIED_DATE, APPROVE_BY, 
    APPROVE_DATE, DELETED_BY, DELETED_DATE
  </sql>
  <select id="selectTR_TYPES" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TR_TYPESVO" >
    select 
    <include refid="Base_Column_List" />
    from TR_TYPES
    where COMP_CODE = #{COMP_CODE}
      and TR_CODE = #{TR_CODE}
  </select>
  <delete id="deleteTR_TYPES" parameterType="com.path.dbmaps.vo.TR_TYPESVO" >
    delete from TR_TYPES
    where COMP_CODE = #{COMP_CODE}
      and TR_CODE = #{TR_CODE}
  </delete>
  <insert id="insertTR_TYPES" parameterType="com.path.dbmaps.vo.TR_TYPESVO" >
    insert into TR_TYPES
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="TR_CODE != null and TR_CODE != emptyBigDecimalValue" >
        TR_CODE,
      </if>
      <if test="BRIEF_DESC_ENG != null" >
        BRIEF_DESC_ENG,
      </if>
      <if test="LONG_DESC_ENG != null" >
        LONG_DESC_ENG,
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        BRIEF_DESC_ARAB,
      </if>
      <if test="LONG_DESC_ARAB != null" >
        LONG_DESC_ARAB,
      </if>
      <if test="ALLOW_DELETE_YN != null" >
        ALLOW_DELETE_YN,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE,
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY,
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE,
      </if>
      <if test="APPROVE_BY != null" >
        APPROVE_BY,
      </if>
      <if test="APPROVE_DATE != null" >
        APPROVE_DATE,
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY,
      </if>
      <if test="DELETED_DATE != null" >
        DELETED_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="TR_CODE != null and TR_CODE != emptyBigDecimalValue" >
        #{TR_CODE},
      </if>
      <if test="BRIEF_DESC_ENG != null" >
        #{BRIEF_DESC_ENG},
      </if>
      <if test="LONG_DESC_ENG != null" >
        #{LONG_DESC_ENG},
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        #{BRIEF_DESC_ARAB},
      </if>
      <if test="LONG_DESC_ARAB != null" >
        #{LONG_DESC_ARAB},
      </if>
      <if test="ALLOW_DELETE_YN != null" >
        #{ALLOW_DELETE_YN},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="CREATED_DATE != null" >
        #{CREATED_DATE},
      </if>
      <if test="MODIFIED_BY != null" >
        #{MODIFIED_BY},
      </if>
      <if test="MODIFIED_DATE != null" >
        #{MODIFIED_DATE},
      </if>
      <if test="APPROVE_BY != null" >
        #{APPROVE_BY},
      </if>
      <if test="APPROVE_DATE != null" >
        #{APPROVE_DATE},
      </if>
      <if test="DELETED_BY != null" >
        #{DELETED_BY},
      </if>
      <if test="DELETED_DATE != null" >
        #{DELETED_DATE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTR_TYPES" >
    update TR_TYPES
    <set >
      <if test="BRIEF_DESC_ENG != null" >
        BRIEF_DESC_ENG = #{BRIEF_DESC_ENG},
      </if>
      <if test="LONG_DESC_ENG != null" >
        LONG_DESC_ENG = #{LONG_DESC_ENG},
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        BRIEF_DESC_ARAB = #{BRIEF_DESC_ARAB},
      </if>
      <if test="LONG_DESC_ARAB != null" >
        LONG_DESC_ARAB = #{LONG_DESC_ARAB},
      </if>
      <if test="ALLOW_DELETE_YN != null" >
        ALLOW_DELETE_YN = #{ALLOW_DELETE_YN},
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE = #{CREATED_DATE},
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY = #{MODIFIED_BY},
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE = #{MODIFIED_DATE},
      </if>
      <if test="APPROVE_BY != null" >
        APPROVE_BY = #{APPROVE_BY},
      </if>
      <if test="APPROVE_DATE != null" >
        APPROVE_DATE = #{APPROVE_DATE},
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY = #{DELETED_BY},
      </if>
      <if test="DELETED_DATE != null" >
        DELETED_DATE = #{DELETED_DATE},
      </if>
    </set>
    where COMP_CODE = #{COMP_CODE}
      and TR_CODE = #{TR_CODE}
  </sql>
  <update id="updateTR_TYPES" parameterType="com.path.dbmaps.vo.TR_TYPESVO" >
    <include refid="sql_updateTR_TYPES" />
  </update>
</mapper>