<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRACK_CHANGES_DETAILS" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRACK_CHANGES_DETAILSVO" >
    <id column="ACTION_DATE" property="ACTION_DATE" />
    <id column="APP_NAME" property="APP_NAME" />
    <id column="LINE_NUMBER" property="LINE_NUMBER" />
    <id column="PROG_REF" property="PROG_REF" />
    <id column="TRX_NBR" property="TRX_NBR" />
    <result column="FIELD_NAME" property="FIELD_NAME" />
    <result column="OLD_VALUE" property="OLD_VALUE" />
    <result column="NEW_VALUE" property="NEW_VALUE" />
    <result column="FIELD_TECH_REFERENCE" property="FIELD_TECH_REFERENCE" />
    <result column="ADDITIONAL_FIELD_TYPE" property="ADDITIONAL_FIELD_TYPE" />
    <result column="ADD_FIELD_USED_FROM" property="ADD_FIELD_USED_FROM" />
    <result column="ADD_FIELD_CODE" property="ADD_FIELD_CODE" />
    <result column="ADD_FIELD_BY_TYPE_ENTITY" property="ADD_FIELD_BY_TYPE_ENTITY" />
    <result column="ADD_FIELD_BY_TYPE_COLUMN_NBR" property="ADD_FIELD_BY_TYPE_COLUMN_NBR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ACTION_DATE, APP_NAME, LINE_NUMBER, PROG_REF, TRX_NBR, FIELD_NAME, OLD_VALUE, NEW_VALUE, 
    FIELD_TECH_REFERENCE, ADDITIONAL_FIELD_TYPE, ADD_FIELD_USED_FROM, ADD_FIELD_CODE, 
    ADD_FIELD_BY_TYPE_ENTITY, ADD_FIELD_BY_TYPE_COLUMN_NBR
  </sql>
  <select id="selectTRACK_CHANGES_DETAILS" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRACK_CHANGES_DETAILSVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRACK_CHANGES_DETAILS
    where ACTION_DATE = #{ACTION_DATE}
      and APP_NAME = #{APP_NAME}
      and LINE_NUMBER = #{LINE_NUMBER}
      and PROG_REF = #{PROG_REF}
      and TRX_NBR = #{TRX_NBR}
  </select>
  <delete id="deleteTRACK_CHANGES_DETAILS" parameterType="com.path.dbmaps.vo.TRACK_CHANGES_DETAILSVOKey" >
    delete from TRACK_CHANGES_DETAILS
    where ACTION_DATE = #{ACTION_DATE}
      and APP_NAME = #{APP_NAME}
      and LINE_NUMBER = #{LINE_NUMBER}
      and PROG_REF = #{PROG_REF}
      and TRX_NBR = #{TRX_NBR}
  </delete>
  <insert id="insertTRACK_CHANGES_DETAILS" parameterType="com.path.dbmaps.vo.TRACK_CHANGES_DETAILSVO" >
    insert into TRACK_CHANGES_DETAILS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ACTION_DATE != null" >
        ACTION_DATE,
      </if>
      <if test="APP_NAME != null" >
        APP_NAME,
      </if>
      <if test="LINE_NUMBER != null and LINE_NUMBER != emptyBigDecimalValue" >
        LINE_NUMBER,
      </if>
      <if test="PROG_REF != null" >
        PROG_REF,
      </if>
      <if test="TRX_NBR != null" >
        TRX_NBR,
      </if>
      <if test="FIELD_NAME != null" >
        FIELD_NAME,
      </if>
      <if test="OLD_VALUE != null" >
        OLD_VALUE,
      </if>
      <if test="NEW_VALUE != null" >
        NEW_VALUE,
      </if>
      <if test="FIELD_TECH_REFERENCE != null" >
        FIELD_TECH_REFERENCE,
      </if>
      <if test="ADDITIONAL_FIELD_TYPE != null" >
        ADDITIONAL_FIELD_TYPE,
      </if>
      <if test="ADD_FIELD_USED_FROM != null" >
        ADD_FIELD_USED_FROM,
      </if>
      <if test="ADD_FIELD_CODE != null" >
        ADD_FIELD_CODE,
      </if>
      <if test="ADD_FIELD_BY_TYPE_ENTITY != null" >
        ADD_FIELD_BY_TYPE_ENTITY,
      </if>
      <if test="ADD_FIELD_BY_TYPE_COLUMN_NBR != null and ADD_FIELD_BY_TYPE_COLUMN_NBR != emptyBigDecimalValue" >
        ADD_FIELD_BY_TYPE_COLUMN_NBR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ACTION_DATE != null" >
        #{ACTION_DATE},
      </if>
      <if test="APP_NAME != null" >
        #{APP_NAME},
      </if>
      <if test="LINE_NUMBER != null and LINE_NUMBER != emptyBigDecimalValue" >
        #{LINE_NUMBER},
      </if>
      <if test="PROG_REF != null" >
        #{PROG_REF},
      </if>
      <if test="TRX_NBR != null" >
        #{TRX_NBR},
      </if>
      <if test="FIELD_NAME != null" >
        #{FIELD_NAME},
      </if>
      <if test="OLD_VALUE != null" >
        #{OLD_VALUE},
      </if>
      <if test="NEW_VALUE != null" >
        #{NEW_VALUE},
      </if>
      <if test="FIELD_TECH_REFERENCE != null" >
        #{FIELD_TECH_REFERENCE},
      </if>
      <if test="ADDITIONAL_FIELD_TYPE != null" >
        #{ADDITIONAL_FIELD_TYPE},
      </if>
      <if test="ADD_FIELD_USED_FROM != null" >
        #{ADD_FIELD_USED_FROM},
      </if>
      <if test="ADD_FIELD_CODE != null" >
        #{ADD_FIELD_CODE},
      </if>
      <if test="ADD_FIELD_BY_TYPE_ENTITY != null" >
        #{ADD_FIELD_BY_TYPE_ENTITY},
      </if>
      <if test="ADD_FIELD_BY_TYPE_COLUMN_NBR != null and ADD_FIELD_BY_TYPE_COLUMN_NBR != emptyBigDecimalValue" >
        #{ADD_FIELD_BY_TYPE_COLUMN_NBR},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRACK_CHANGES_DETAILS" >
    update TRACK_CHANGES_DETAILS
    <set >
      <if test="FIELD_NAME != null" >
        FIELD_NAME = #{FIELD_NAME},
      </if>
      <if test="OLD_VALUE != null" >
        OLD_VALUE = #{OLD_VALUE},
      </if>
      <if test="NEW_VALUE != null" >
        NEW_VALUE = #{NEW_VALUE},
      </if>
      <if test="FIELD_TECH_REFERENCE != null" >
        FIELD_TECH_REFERENCE = #{FIELD_TECH_REFERENCE},
      </if>
      <if test="ADDITIONAL_FIELD_TYPE != null" >
        ADDITIONAL_FIELD_TYPE = #{ADDITIONAL_FIELD_TYPE},
      </if>
      <if test="ADD_FIELD_USED_FROM != null" >
        ADD_FIELD_USED_FROM = #{ADD_FIELD_USED_FROM},
      </if>
      <if test="ADD_FIELD_CODE != null" >
        ADD_FIELD_CODE = #{ADD_FIELD_CODE},
      </if>
      <if test="ADD_FIELD_BY_TYPE_ENTITY != null" >
        ADD_FIELD_BY_TYPE_ENTITY = #{ADD_FIELD_BY_TYPE_ENTITY},
      </if>
      <if test="ADD_FIELD_BY_TYPE_COLUMN_NBR != null" >
        <choose >
          <when test="ADD_FIELD_BY_TYPE_COLUMN_NBR == emptyBigDecimalValue" >
            ADD_FIELD_BY_TYPE_COLUMN_NBR = NULL ,
          </when>
          <otherwise >
            ADD_FIELD_BY_TYPE_COLUMN_NBR = #{ADD_FIELD_BY_TYPE_COLUMN_NBR},
          </otherwise>
        </choose>
      </if>
    </set>
    where ACTION_DATE = #{ACTION_DATE}
      and APP_NAME = #{APP_NAME}
      and LINE_NUMBER = #{LINE_NUMBER}
      and PROG_REF = #{PROG_REF}
      and TRX_NBR = #{TRX_NBR}
  </sql>
  <update id="updateTRACK_CHANGES_DETAILS" parameterType="com.path.dbmaps.vo.TRACK_CHANGES_DETAILSVO" >
    <include refid="sql_updateTRACK_CHANGES_DETAILS" />
  </update>
</mapper>