<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRS_CHARGES_REVERSAL" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRS_CHARGES_REVERSALVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="TRX_NBR" property="TRX_NBR" />
    <result column="TRX_DATE" property="TRX_DATE" />
    <result column="REVERSE_CHARGES_TYPE" property="REVERSE_CHARGES_TYPE" />
    <result column="CIF_NO" property="CIF_NO" />
    <result column="DEAL_NBR" property="DEAL_NBR" />
    <result column="STATUS" property="STATUS" />
    <result column="REVERSAL_STATUS" property="REVERSAL_STATUS" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="CREATED_DATE" property="CREATED_DATE" />
    <result column="SERVER_CREATED_DATE" property="SERVER_CREATED_DATE" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="MODIFIED_DATE" property="MODIFIED_DATE" />
    <result column="SERVER_MODIFIED_DATE" property="SERVER_MODIFIED_DATE" />
    <result column="DELETED_BY" property="DELETED_BY" />
    <result column="DELETED_DATE" property="DELETED_DATE" />
    <result column="SERVER_DELETED_DATE" property="SERVER_DELETED_DATE" />
    <result column="APPROVED_BY" property="APPROVED_BY" />
    <result column="APPROVED_DATE" property="APPROVED_DATE" />
    <result column="SERVER_APPROVED_DATE" property="SERVER_APPROVED_DATE" />
    <result column="REVERSAL_CREATED_BY" property="REVERSAL_CREATED_BY" />
    <result column="REVERSAL_CREATED_DATE" property="REVERSAL_CREATED_DATE" />
    <result column="SERVER_REVERSAL_CREATED_DATE" property="SERVER_REVERSAL_CREATED_DATE" />
    <result column="REVERSAL_DELETED_BY" property="REVERSAL_DELETED_BY" />
    <result column="REVERSAL_DELETED_DATE" property="REVERSAL_DELETED_DATE" />
    <result column="SERVER_REVERSAL_DELETED_DATE" property="SERVER_REVERSAL_DELETED_DATE" />
    <result column="REVERSED_BY" property="REVERSED_BY" />
    <result column="REVERSED_DATE" property="REVERSED_DATE" />
    <result column="SERVER_REVERSED_DATE" property="SERVER_REVERSED_DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, TRX_NBR, TRX_DATE, REVERSE_CHARGES_TYPE, CIF_NO, DEAL_NBR, 
    STATUS, REVERSAL_STATUS, CREATED_BY, CREATED_DATE, SERVER_CREATED_DATE, MODIFIED_BY, 
    MODIFIED_DATE, SERVER_MODIFIED_DATE, DELETED_BY, DELETED_DATE, SERVER_DELETED_DATE, 
    APPROVED_BY, APPROVED_DATE, SERVER_APPROVED_DATE, REVERSAL_CREATED_BY, REVERSAL_CREATED_DATE, 
    SERVER_REVERSAL_CREATED_DATE, REVERSAL_DELETED_BY, REVERSAL_DELETED_DATE, SERVER_REVERSAL_DELETED_DATE, 
    REVERSED_BY, REVERSED_DATE, SERVER_REVERSED_DATE
  </sql>
  <select id="selectTRS_CHARGES_REVERSAL" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRS_CHARGES_REVERSALVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRS_CHARGES_REVERSAL
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and TRX_NBR = #{TRX_NBR}
  </select>
  <delete id="deleteTRS_CHARGES_REVERSAL" parameterType="com.path.dbmaps.vo.TRS_CHARGES_REVERSALVOKey" >
    delete from TRS_CHARGES_REVERSAL
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and TRX_NBR = #{TRX_NBR}
  </delete>
  <insert id="insertTRS_CHARGES_REVERSAL" parameterType="com.path.dbmaps.vo.TRS_CHARGES_REVERSALVO" >
    insert into TRS_CHARGES_REVERSAL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="TRX_NBR != null and TRX_NBR != emptyBigDecimalValue" >
        TRX_NBR,
      </if>
      <if test="TRX_DATE != null" >
        TRX_DATE,
      </if>
      <if test="REVERSE_CHARGES_TYPE != null and REVERSE_CHARGES_TYPE != emptyBigDecimalValue" >
        REVERSE_CHARGES_TYPE,
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        CIF_NO,
      </if>
      <if test="DEAL_NBR != null and DEAL_NBR != emptyBigDecimalValue" >
        DEAL_NBR,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="REVERSAL_STATUS != null" >
        REVERSAL_STATUS,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE,
      </if>
      <if test="SERVER_CREATED_DATE != null" >
        SERVER_CREATED_DATE,
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY,
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE,
      </if>
      <if test="SERVER_MODIFIED_DATE != null" >
        SERVER_MODIFIED_DATE,
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY,
      </if>
      <if test="DELETED_DATE != null" >
        DELETED_DATE,
      </if>
      <if test="SERVER_DELETED_DATE != null" >
        SERVER_DELETED_DATE,
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY,
      </if>
      <if test="APPROVED_DATE != null" >
        APPROVED_DATE,
      </if>
      <if test="SERVER_APPROVED_DATE != null" >
        SERVER_APPROVED_DATE,
      </if>
      <if test="REVERSAL_CREATED_BY != null" >
        REVERSAL_CREATED_BY,
      </if>
      <if test="REVERSAL_CREATED_DATE != null" >
        REVERSAL_CREATED_DATE,
      </if>
      <if test="SERVER_REVERSAL_CREATED_DATE != null" >
        SERVER_REVERSAL_CREATED_DATE,
      </if>
      <if test="REVERSAL_DELETED_BY != null" >
        REVERSAL_DELETED_BY,
      </if>
      <if test="REVERSAL_DELETED_DATE != null" >
        REVERSAL_DELETED_DATE,
      </if>
      <if test="SERVER_REVERSAL_DELETED_DATE != null" >
        SERVER_REVERSAL_DELETED_DATE,
      </if>
      <if test="REVERSED_BY != null" >
        REVERSED_BY,
      </if>
      <if test="REVERSED_DATE != null" >
        REVERSED_DATE,
      </if>
      <if test="SERVER_REVERSED_DATE != null" >
        SERVER_REVERSED_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="TRX_NBR != null and TRX_NBR != emptyBigDecimalValue" >
        #{TRX_NBR},
      </if>
      <if test="TRX_DATE != null" >
        #{TRX_DATE},
      </if>
      <if test="REVERSE_CHARGES_TYPE != null and REVERSE_CHARGES_TYPE != emptyBigDecimalValue" >
        #{REVERSE_CHARGES_TYPE},
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        #{CIF_NO},
      </if>
      <if test="DEAL_NBR != null and DEAL_NBR != emptyBigDecimalValue" >
        #{DEAL_NBR},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="REVERSAL_STATUS != null" >
        #{REVERSAL_STATUS},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="CREATED_DATE != null" >
        #{CREATED_DATE},
      </if>
      <if test="SERVER_CREATED_DATE != null" >
        #{SERVER_CREATED_DATE},
      </if>
      <if test="MODIFIED_BY != null" >
        #{MODIFIED_BY},
      </if>
      <if test="MODIFIED_DATE != null" >
        #{MODIFIED_DATE},
      </if>
      <if test="SERVER_MODIFIED_DATE != null" >
        #{SERVER_MODIFIED_DATE},
      </if>
      <if test="DELETED_BY != null" >
        #{DELETED_BY},
      </if>
      <if test="DELETED_DATE != null" >
        #{DELETED_DATE},
      </if>
      <if test="SERVER_DELETED_DATE != null" >
        #{SERVER_DELETED_DATE},
      </if>
      <if test="APPROVED_BY != null" >
        #{APPROVED_BY},
      </if>
      <if test="APPROVED_DATE != null" >
        #{APPROVED_DATE},
      </if>
      <if test="SERVER_APPROVED_DATE != null" >
        #{SERVER_APPROVED_DATE},
      </if>
      <if test="REVERSAL_CREATED_BY != null" >
        #{REVERSAL_CREATED_BY},
      </if>
      <if test="REVERSAL_CREATED_DATE != null" >
        #{REVERSAL_CREATED_DATE},
      </if>
      <if test="SERVER_REVERSAL_CREATED_DATE != null" >
        #{SERVER_REVERSAL_CREATED_DATE},
      </if>
      <if test="REVERSAL_DELETED_BY != null" >
        #{REVERSAL_DELETED_BY},
      </if>
      <if test="REVERSAL_DELETED_DATE != null" >
        #{REVERSAL_DELETED_DATE},
      </if>
      <if test="SERVER_REVERSAL_DELETED_DATE != null" >
        #{SERVER_REVERSAL_DELETED_DATE},
      </if>
      <if test="REVERSED_BY != null" >
        #{REVERSED_BY},
      </if>
      <if test="REVERSED_DATE != null" >
        #{REVERSED_DATE},
      </if>
      <if test="SERVER_REVERSED_DATE != null" >
        #{SERVER_REVERSED_DATE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRS_CHARGES_REVERSAL" >
    update TRS_CHARGES_REVERSAL
    <set >
      <if test="TRX_DATE != null" >
        TRX_DATE = #{TRX_DATE},
      </if>
      <if test="REVERSE_CHARGES_TYPE != null" >
        <choose >
          <when test="REVERSE_CHARGES_TYPE == emptyBigDecimalValue" >
            REVERSE_CHARGES_TYPE = NULL ,
          </when>
          <otherwise >
            REVERSE_CHARGES_TYPE = #{REVERSE_CHARGES_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="CIF_NO != null" >
        <choose >
          <when test="CIF_NO == emptyBigDecimalValue" >
            CIF_NO = NULL ,
          </when>
          <otherwise >
            CIF_NO = #{CIF_NO},
          </otherwise>
        </choose>
      </if>
      <if test="DEAL_NBR != null" >
        <choose >
          <when test="DEAL_NBR == emptyBigDecimalValue" >
            DEAL_NBR = NULL ,
          </when>
          <otherwise >
            DEAL_NBR = #{DEAL_NBR},
          </otherwise>
        </choose>
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="REVERSAL_STATUS != null" >
        REVERSAL_STATUS = #{REVERSAL_STATUS},
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE = #{CREATED_DATE},
      </if>
      <if test="SERVER_CREATED_DATE != null" >
        SERVER_CREATED_DATE = #{SERVER_CREATED_DATE},
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY = #{MODIFIED_BY},
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE = #{MODIFIED_DATE},
      </if>
      <if test="SERVER_MODIFIED_DATE != null" >
        SERVER_MODIFIED_DATE = #{SERVER_MODIFIED_DATE},
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY = #{DELETED_BY},
      </if>
      <if test="DELETED_DATE != null" >
        DELETED_DATE = #{DELETED_DATE},
      </if>
      <if test="SERVER_DELETED_DATE != null" >
        SERVER_DELETED_DATE = #{SERVER_DELETED_DATE},
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY = #{APPROVED_BY},
      </if>
      <if test="APPROVED_DATE != null" >
        APPROVED_DATE = #{APPROVED_DATE},
      </if>
      <if test="SERVER_APPROVED_DATE != null" >
        SERVER_APPROVED_DATE = #{SERVER_APPROVED_DATE},
      </if>
      <if test="REVERSAL_CREATED_BY != null" >
        REVERSAL_CREATED_BY = #{REVERSAL_CREATED_BY},
      </if>
      <if test="REVERSAL_CREATED_DATE != null" >
        REVERSAL_CREATED_DATE = #{REVERSAL_CREATED_DATE},
      </if>
      <if test="SERVER_REVERSAL_CREATED_DATE != null" >
        SERVER_REVERSAL_CREATED_DATE = #{SERVER_REVERSAL_CREATED_DATE},
      </if>
      <if test="REVERSAL_DELETED_BY != null" >
        REVERSAL_DELETED_BY = #{REVERSAL_DELETED_BY},
      </if>
      <if test="REVERSAL_DELETED_DATE != null" >
        REVERSAL_DELETED_DATE = #{REVERSAL_DELETED_DATE},
      </if>
      <if test="SERVER_REVERSAL_DELETED_DATE != null" >
        SERVER_REVERSAL_DELETED_DATE = #{SERVER_REVERSAL_DELETED_DATE},
      </if>
      <if test="REVERSED_BY != null" >
        REVERSED_BY = #{REVERSED_BY},
      </if>
      <if test="REVERSED_DATE != null" >
        REVERSED_DATE = #{REVERSED_DATE},
      </if>
      <if test="SERVER_REVERSED_DATE != null" >
        SERVER_REVERSED_DATE = #{SERVER_REVERSED_DATE},
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and TRX_NBR = #{TRX_NBR}
  </sql>
  <update id="updateTRS_CHARGES_REVERSAL" parameterType="com.path.dbmaps.vo.TRS_CHARGES_REVERSALVO" >
    <include refid="sql_updateTRS_CHARGES_REVERSAL" />
  </update>
</mapper>