<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRS_DOCUMENT_MANAGEMENT" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRS_DOCUMENT_MANAGEMENTVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="DOCUMENT_CODE" property="DOCUMENT_CODE" />
    <result column="STATUS" property="STATUS" />
    <result column="DOCUMENT_TYPE" property="DOCUMENT_TYPE" />
    <result column="DOCUMENT_NO" property="DOCUMENT_NO" />
    <result column="DOCUMENT_NAME" property="DOCUMENT_NAME" />
    <result column="DOCUMENT_DATE" property="DOCUMENT_DATE" />
    <result column="CIF_NO" property="CIF_NO" />
    <result column="FACILITY_BRANCH_CODE" property="FACILITY_BRANCH_CODE" />
    <result column="FACILITY_NO" property="FACILITY_NO" />
    <result column="AVAILABLE_AMOUNT" property="AVAILABLE_AMOUNT" />
    <result column="CURRENCY_CODE" property="CURRENCY_CODE" />
    <result column="FC_AMOUNT" property="FC_AMOUNT" />
    <result column="EXCHANGE_RATE" property="EXCHANGE_RATE" />
    <result column="CV_AMOUNT" property="CV_AMOUNT" />
    <result column="TENURE" property="TENURE" />
    <result column="EXPIRY_DATE" property="EXPIRY_DATE" />
    <result column="OWNER_NAME" property="OWNER_NAME" />
    <result column="COUNTRY_OF_EXPORT" property="COUNTRY_OF_EXPORT" />
    <result column="ACC_BR" property="ACC_BR" />
    <result column="ACC_CY" property="ACC_CY" />
    <result column="ACC_GL" property="ACC_GL" />
    <result column="ACC_CIF" property="ACC_CIF" />
    <result column="ACC_SL" property="ACC_SL" />
    <result column="DATE_UPDATED" property="DATE_UPDATED" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="CREATED_DATE" property="CREATED_DATE" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="MODIFIED_DATE" property="MODIFIED_DATE" />
    <result column="APPROVED_BY" property="APPROVED_BY" />
    <result column="APPROVED_DATE" property="APPROVED_DATE" />
    <result column="DELETED_BY" property="DELETED_BY" />
    <result column="DELETED_DATE" property="DELETED_DATE" />
    <result column="REVERSED_BY" property="REVERSED_BY" />
    <result column="REVERSED_DATE" property="REVERSED_DATE" />
    <result column="VERIFIED_BY" property="VERIFIED_BY" />
    <result column="VERIFIED_DATE" property="VERIFIED_DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, DOCUMENT_CODE, STATUS, DOCUMENT_TYPE, DOCUMENT_NO, DOCUMENT_NAME, 
    DOCUMENT_DATE, CIF_NO, FACILITY_BRANCH_CODE, FACILITY_NO, AVAILABLE_AMOUNT, CURRENCY_CODE, 
    FC_AMOUNT, EXCHANGE_RATE, CV_AMOUNT, TENURE, EXPIRY_DATE, OWNER_NAME, COUNTRY_OF_EXPORT, 
    ACC_BR, ACC_CY, ACC_GL, ACC_CIF, ACC_SL, DATE_UPDATED, CREATED_BY, CREATED_DATE, 
    MODIFIED_BY, MODIFIED_DATE, APPROVED_BY, APPROVED_DATE, DELETED_BY, DELETED_DATE, 
    REVERSED_BY, REVERSED_DATE, VERIFIED_BY, VERIFIED_DATE
  </sql>
  <select id="selectTRS_DOCUMENT_MANAGEMENT" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRS_DOCUMENT_MANAGEMENTVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRS_DOCUMENT_MANAGEMENT
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and DOCUMENT_CODE = #{DOCUMENT_CODE}
  </select>
  <delete id="deleteTRS_DOCUMENT_MANAGEMENT" parameterType="com.path.dbmaps.vo.TRS_DOCUMENT_MANAGEMENTVOKey" >
    delete from TRS_DOCUMENT_MANAGEMENT
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and DOCUMENT_CODE = #{DOCUMENT_CODE}
  </delete>
  <insert id="insertTRS_DOCUMENT_MANAGEMENT" parameterType="com.path.dbmaps.vo.TRS_DOCUMENT_MANAGEMENTVO" >
    insert into TRS_DOCUMENT_MANAGEMENT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="DOCUMENT_CODE != null and DOCUMENT_CODE != emptyBigDecimalValue" >
        DOCUMENT_CODE,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="DOCUMENT_TYPE != null" >
        DOCUMENT_TYPE,
      </if>
      <if test="DOCUMENT_NO != null" >
        DOCUMENT_NO,
      </if>
      <if test="DOCUMENT_NAME != null" >
        DOCUMENT_NAME,
      </if>
      <if test="DOCUMENT_DATE != null" >
        DOCUMENT_DATE,
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        CIF_NO,
      </if>
      <if test="FACILITY_BRANCH_CODE != null and FACILITY_BRANCH_CODE != emptyBigDecimalValue" >
        FACILITY_BRANCH_CODE,
      </if>
      <if test="FACILITY_NO != null and FACILITY_NO != emptyBigDecimalValue" >
        FACILITY_NO,
      </if>
      <if test="AVAILABLE_AMOUNT != null and AVAILABLE_AMOUNT != emptyBigDecimalValue" >
        AVAILABLE_AMOUNT,
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        CURRENCY_CODE,
      </if>
      <if test="FC_AMOUNT != null and FC_AMOUNT != emptyBigDecimalValue" >
        FC_AMOUNT,
      </if>
      <if test="EXCHANGE_RATE != null and EXCHANGE_RATE != emptyBigDecimalValue" >
        EXCHANGE_RATE,
      </if>
      <if test="CV_AMOUNT != null and CV_AMOUNT != emptyBigDecimalValue" >
        CV_AMOUNT,
      </if>
      <if test="TENURE != null and TENURE != emptyBigDecimalValue" >
        TENURE,
      </if>
      <if test="EXPIRY_DATE != null" >
        EXPIRY_DATE,
      </if>
      <if test="OWNER_NAME != null" >
        OWNER_NAME,
      </if>
      <if test="COUNTRY_OF_EXPORT != null and COUNTRY_OF_EXPORT != emptyBigDecimalValue" >
        COUNTRY_OF_EXPORT,
      </if>
      <if test="ACC_BR != null and ACC_BR != emptyBigDecimalValue" >
        ACC_BR,
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        ACC_CY,
      </if>
      <if test="ACC_GL != null and ACC_GL != emptyBigDecimalValue" >
        ACC_GL,
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        ACC_CIF,
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        ACC_SL,
      </if>
      DATE_UPDATED,
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE,
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY,
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE,
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY,
      </if>
      <if test="APPROVED_DATE != null" >
        APPROVED_DATE,
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY,
      </if>
      <if test="DELETED_DATE != null" >
        DELETED_DATE,
      </if>
      <if test="REVERSED_BY != null" >
        REVERSED_BY,
      </if>
      <if test="REVERSED_DATE != null" >
        REVERSED_DATE,
      </if>
      <if test="VERIFIED_BY != null" >
        VERIFIED_BY,
      </if>
      <if test="VERIFIED_DATE != null" >
        VERIFIED_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="DOCUMENT_CODE != null and DOCUMENT_CODE != emptyBigDecimalValue" >
        #{DOCUMENT_CODE},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="DOCUMENT_TYPE != null" >
        #{DOCUMENT_TYPE},
      </if>
      <if test="DOCUMENT_NO != null" >
        #{DOCUMENT_NO},
      </if>
      <if test="DOCUMENT_NAME != null" >
        #{DOCUMENT_NAME},
      </if>
      <if test="DOCUMENT_DATE != null" >
        #{DOCUMENT_DATE},
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        #{CIF_NO},
      </if>
      <if test="FACILITY_BRANCH_CODE != null and FACILITY_BRANCH_CODE != emptyBigDecimalValue" >
        #{FACILITY_BRANCH_CODE},
      </if>
      <if test="FACILITY_NO != null and FACILITY_NO != emptyBigDecimalValue" >
        #{FACILITY_NO},
      </if>
      <if test="AVAILABLE_AMOUNT != null and AVAILABLE_AMOUNT != emptyBigDecimalValue" >
        #{AVAILABLE_AMOUNT},
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        #{CURRENCY_CODE},
      </if>
      <if test="FC_AMOUNT != null and FC_AMOUNT != emptyBigDecimalValue" >
        #{FC_AMOUNT},
      </if>
      <if test="EXCHANGE_RATE != null and EXCHANGE_RATE != emptyBigDecimalValue" >
        #{EXCHANGE_RATE},
      </if>
      <if test="CV_AMOUNT != null and CV_AMOUNT != emptyBigDecimalValue" >
        #{CV_AMOUNT},
      </if>
      <if test="TENURE != null and TENURE != emptyBigDecimalValue" >
        #{TENURE},
      </if>
      <if test="EXPIRY_DATE != null" >
        #{EXPIRY_DATE},
      </if>
      <if test="OWNER_NAME != null" >
        #{OWNER_NAME},
      </if>
      <if test="COUNTRY_OF_EXPORT != null and COUNTRY_OF_EXPORT != emptyBigDecimalValue" >
        #{COUNTRY_OF_EXPORT},
      </if>
      <if test="ACC_BR != null and ACC_BR != emptyBigDecimalValue" >
        #{ACC_BR},
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        #{ACC_CY},
      </if>
      <if test="ACC_GL != null and ACC_GL != emptyBigDecimalValue" >
        #{ACC_GL},
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        #{ACC_CIF},
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        #{ACC_SL},
      </if>
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="CREATED_DATE != null" >
        #{CREATED_DATE},
      </if>
      <if test="MODIFIED_BY != null" >
        #{MODIFIED_BY},
      </if>
      <if test="MODIFIED_DATE != null" >
        #{MODIFIED_DATE},
      </if>
      <if test="APPROVED_BY != null" >
        #{APPROVED_BY},
      </if>
      <if test="APPROVED_DATE != null" >
        #{APPROVED_DATE},
      </if>
      <if test="DELETED_BY != null" >
        #{DELETED_BY},
      </if>
      <if test="DELETED_DATE != null" >
        #{DELETED_DATE},
      </if>
      <if test="REVERSED_BY != null" >
        #{REVERSED_BY},
      </if>
      <if test="REVERSED_DATE != null" >
        #{REVERSED_DATE},
      </if>
      <if test="VERIFIED_BY != null" >
        #{VERIFIED_BY},
      </if>
      <if test="VERIFIED_DATE != null" >
        #{VERIFIED_DATE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRS_DOCUMENT_MANAGEMENT" >
    update TRS_DOCUMENT_MANAGEMENT
    <set >
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="DOCUMENT_TYPE != null" >
        DOCUMENT_TYPE = #{DOCUMENT_TYPE},
      </if>
      <if test="DOCUMENT_NO != null" >
        DOCUMENT_NO = #{DOCUMENT_NO},
      </if>
      <if test="DOCUMENT_NAME != null" >
        DOCUMENT_NAME = #{DOCUMENT_NAME},
      </if>
      <if test="DOCUMENT_DATE != null" >
        DOCUMENT_DATE = #{DOCUMENT_DATE},
      </if>
      <if test="CIF_NO != null" >
        <choose >
          <when test="CIF_NO == emptyBigDecimalValue" >
            CIF_NO = NULL ,
          </when>
          <otherwise >
            CIF_NO = #{CIF_NO},
          </otherwise>
        </choose>
      </if>
      <if test="FACILITY_BRANCH_CODE != null" >
        <choose >
          <when test="FACILITY_BRANCH_CODE == emptyBigDecimalValue" >
            FACILITY_BRANCH_CODE = NULL ,
          </when>
          <otherwise >
            FACILITY_BRANCH_CODE = #{FACILITY_BRANCH_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="FACILITY_NO != null" >
        <choose >
          <when test="FACILITY_NO == emptyBigDecimalValue" >
            FACILITY_NO = NULL ,
          </when>
          <otherwise >
            FACILITY_NO = #{FACILITY_NO},
          </otherwise>
        </choose>
      </if>
      <if test="AVAILABLE_AMOUNT != null" >
        <choose >
          <when test="AVAILABLE_AMOUNT == emptyBigDecimalValue" >
            AVAILABLE_AMOUNT = NULL ,
          </when>
          <otherwise >
            AVAILABLE_AMOUNT = #{AVAILABLE_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="CURRENCY_CODE != null" >
        <choose >
          <when test="CURRENCY_CODE == emptyBigDecimalValue" >
            CURRENCY_CODE = NULL ,
          </when>
          <otherwise >
            CURRENCY_CODE = #{CURRENCY_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="FC_AMOUNT != null" >
        <choose >
          <when test="FC_AMOUNT == emptyBigDecimalValue" >
            FC_AMOUNT = NULL ,
          </when>
          <otherwise >
            FC_AMOUNT = #{FC_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="EXCHANGE_RATE != null" >
        <choose >
          <when test="EXCHANGE_RATE == emptyBigDecimalValue" >
            EXCHANGE_RATE = NULL ,
          </when>
          <otherwise >
            EXCHANGE_RATE = #{EXCHANGE_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="CV_AMOUNT != null" >
        <choose >
          <when test="CV_AMOUNT == emptyBigDecimalValue" >
            CV_AMOUNT = NULL ,
          </when>
          <otherwise >
            CV_AMOUNT = #{CV_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="TENURE != null" >
        <choose >
          <when test="TENURE == emptyBigDecimalValue" >
            TENURE = NULL ,
          </when>
          <otherwise >
            TENURE = #{TENURE},
          </otherwise>
        </choose>
      </if>
      <if test="EXPIRY_DATE != null" >
        EXPIRY_DATE = #{EXPIRY_DATE},
      </if>
      <if test="OWNER_NAME != null" >
        OWNER_NAME = #{OWNER_NAME},
      </if>
      <if test="COUNTRY_OF_EXPORT != null" >
        <choose >
          <when test="COUNTRY_OF_EXPORT == emptyBigDecimalValue" >
            COUNTRY_OF_EXPORT = NULL ,
          </when>
          <otherwise >
            COUNTRY_OF_EXPORT = #{COUNTRY_OF_EXPORT},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_BR != null" >
        <choose >
          <when test="ACC_BR == emptyBigDecimalValue" >
            ACC_BR = NULL ,
          </when>
          <otherwise >
            ACC_BR = #{ACC_BR},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CY != null" >
        <choose >
          <when test="ACC_CY == emptyBigDecimalValue" >
            ACC_CY = NULL ,
          </when>
          <otherwise >
            ACC_CY = #{ACC_CY},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_GL != null" >
        <choose >
          <when test="ACC_GL == emptyBigDecimalValue" >
            ACC_GL = NULL ,
          </when>
          <otherwise >
            ACC_GL = #{ACC_GL},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CIF != null" >
        <choose >
          <when test="ACC_CIF == emptyBigDecimalValue" >
            ACC_CIF = NULL ,
          </when>
          <otherwise >
            ACC_CIF = #{ACC_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_SL != null" >
        <choose >
          <when test="ACC_SL == emptyBigDecimalValue" >
            ACC_SL = NULL ,
          </when>
          <otherwise >
            ACC_SL = #{ACC_SL},
          </otherwise>
        </choose>
      </if>
      DATE_UPDATED = 
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE = #{CREATED_DATE},
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY = #{MODIFIED_BY},
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE = #{MODIFIED_DATE},
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY = #{APPROVED_BY},
      </if>
      <if test="APPROVED_DATE != null" >
        APPROVED_DATE = #{APPROVED_DATE},
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY = #{DELETED_BY},
      </if>
      <if test="DELETED_DATE != null" >
        DELETED_DATE = #{DELETED_DATE},
      </if>
      <if test="REVERSED_BY != null" >
        REVERSED_BY = #{REVERSED_BY},
      </if>
      <if test="REVERSED_DATE != null" >
        REVERSED_DATE = #{REVERSED_DATE},
      </if>
      <if test="VERIFIED_BY != null" >
        VERIFIED_BY = #{VERIFIED_BY},
      </if>
      <if test="VERIFIED_DATE != null" >
        VERIFIED_DATE = #{VERIFIED_DATE},
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and DOCUMENT_CODE = #{DOCUMENT_CODE}
  </sql>
  <update id="updateTRS_DOCUMENT_MANAGEMENT" parameterType="com.path.dbmaps.vo.TRS_DOCUMENT_MANAGEMENTVO" >
    <include refid="sql_updateTRS_DOCUMENT_MANAGEMENT" />
    <if test="DATE_UPDATED != null" >
      AND DATE_UPDATED = #{DATE_UPDATED}
    </if>
  </update>
</mapper>