<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRS_PROVISION" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRS_PROVISIONVO" >
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <result column="BRANCH_CODE" property="BRANCH_CODE" />
    <result column="BRIEF_NAME_ENG" property="BRIEF_NAME_ENG" />
    <result column="LONG_NAME_ENG" property="LONG_NAME_ENG" />
    <result column="BRIEF_NAME_ARAB" property="BRIEF_NAME_ARAB" />
    <result column="LONG_NAME_ARAB" property="LONG_NAME_ARAB" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="DATE_CREATED" property="DATE_CREATED" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="DATE_MODIFIED" property="DATE_MODIFIED" />
    <result column="PROVISION_GROUP" property="PROVISION_GROUP" />
    <result column="APPLY_STOP_PAYMENT_DATE_YN" property="APPLY_STOP_PAYMENT_DATE_YN" />
    <result column="RETAIN_PROV_AFTER_RESCHEDULE" property="RETAIN_PROV_AFTER_RESCHEDULE" />
    <result column="BOOK_SUS_PROV_AFTER_RESCHEDULE" property="BOOK_SUS_PROV_AFTER_RESCHEDULE" />
    <result column="MANUAL_CLASSIFICATION_YN" property="MANUAL_CLASSIFICATION_YN" />
  </resultMap>
  <sql id="Base_Column_List" >
    CODE, COMP_CODE, BRANCH_CODE, BRIEF_NAME_ENG, LONG_NAME_ENG, BRIEF_NAME_ARAB, LONG_NAME_ARAB, 
    CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED, PROVISION_GROUP, APPLY_STOP_PAYMENT_DATE_YN, 
    RETAIN_PROV_AFTER_RESCHEDULE, BOOK_SUS_PROV_AFTER_RESCHEDULE, MANUAL_CLASSIFICATION_YN
  </sql>
  <select id="selectTRS_PROVISION" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRS_PROVISIONVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRS_PROVISION
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </select>
  <delete id="deleteTRS_PROVISION" parameterType="com.path.dbmaps.vo.TRS_PROVISIONVOKey" >
    delete from TRS_PROVISION
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </delete>
  <insert id="insertTRS_PROVISION" parameterType="com.path.dbmaps.vo.TRS_PROVISIONVO" >
    insert into TRS_PROVISION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="BRIEF_NAME_ENG != null" >
        BRIEF_NAME_ENG,
      </if>
      <if test="LONG_NAME_ENG != null" >
        LONG_NAME_ENG,
      </if>
      <if test="BRIEF_NAME_ARAB != null" >
        BRIEF_NAME_ARAB,
      </if>
      <if test="LONG_NAME_ARAB != null" >
        LONG_NAME_ARAB,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED,
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY,
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED,
      </if>
      <if test="PROVISION_GROUP != null and PROVISION_GROUP != emptyBigDecimalValue" >
        PROVISION_GROUP,
      </if>
      <if test="APPLY_STOP_PAYMENT_DATE_YN != null" >
        APPLY_STOP_PAYMENT_DATE_YN,
      </if>
      <if test="RETAIN_PROV_AFTER_RESCHEDULE != null" >
        RETAIN_PROV_AFTER_RESCHEDULE,
      </if>
      <if test="BOOK_SUS_PROV_AFTER_RESCHEDULE != null" >
        BOOK_SUS_PROV_AFTER_RESCHEDULE,
      </if>
      <if test="MANUAL_CLASSIFICATION_YN != null" >
        MANUAL_CLASSIFICATION_YN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        #{CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="BRIEF_NAME_ENG != null" >
        #{BRIEF_NAME_ENG},
      </if>
      <if test="LONG_NAME_ENG != null" >
        #{LONG_NAME_ENG},
      </if>
      <if test="BRIEF_NAME_ARAB != null" >
        #{BRIEF_NAME_ARAB},
      </if>
      <if test="LONG_NAME_ARAB != null" >
        #{LONG_NAME_ARAB},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="DATE_CREATED != null" >
        #{DATE_CREATED},
      </if>
      <if test="MODIFIED_BY != null" >
        #{MODIFIED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        #{DATE_MODIFIED},
      </if>
      <if test="PROVISION_GROUP != null and PROVISION_GROUP != emptyBigDecimalValue" >
        #{PROVISION_GROUP},
      </if>
      <if test="APPLY_STOP_PAYMENT_DATE_YN != null" >
        #{APPLY_STOP_PAYMENT_DATE_YN},
      </if>
      <if test="RETAIN_PROV_AFTER_RESCHEDULE != null" >
        #{RETAIN_PROV_AFTER_RESCHEDULE},
      </if>
      <if test="BOOK_SUS_PROV_AFTER_RESCHEDULE != null" >
        #{BOOK_SUS_PROV_AFTER_RESCHEDULE},
      </if>
      <if test="MANUAL_CLASSIFICATION_YN != null" >
        #{MANUAL_CLASSIFICATION_YN},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRS_PROVISION" >
    update TRS_PROVISION
    <set >
      <if test="BRANCH_CODE != null" >
        <choose >
          <when test="BRANCH_CODE == emptyBigDecimalValue" >
            BRANCH_CODE = NULL ,
          </when>
          <otherwise >
            BRANCH_CODE = #{BRANCH_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="BRIEF_NAME_ENG != null" >
        BRIEF_NAME_ENG = #{BRIEF_NAME_ENG},
      </if>
      <if test="LONG_NAME_ENG != null" >
        LONG_NAME_ENG = #{LONG_NAME_ENG},
      </if>
      <if test="BRIEF_NAME_ARAB != null" >
        BRIEF_NAME_ARAB = #{BRIEF_NAME_ARAB},
      </if>
      <if test="LONG_NAME_ARAB != null" >
        LONG_NAME_ARAB = #{LONG_NAME_ARAB},
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED = #{DATE_CREATED},
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY = #{MODIFIED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED = #{DATE_MODIFIED},
      </if>
      <if test="PROVISION_GROUP != null" >
        <choose >
          <when test="PROVISION_GROUP == emptyBigDecimalValue" >
            PROVISION_GROUP = NULL ,
          </when>
          <otherwise >
            PROVISION_GROUP = #{PROVISION_GROUP},
          </otherwise>
        </choose>
      </if>
      <if test="APPLY_STOP_PAYMENT_DATE_YN != null" >
        APPLY_STOP_PAYMENT_DATE_YN = #{APPLY_STOP_PAYMENT_DATE_YN},
      </if>
      <if test="RETAIN_PROV_AFTER_RESCHEDULE != null" >
        RETAIN_PROV_AFTER_RESCHEDULE = #{RETAIN_PROV_AFTER_RESCHEDULE},
      </if>
      <if test="BOOK_SUS_PROV_AFTER_RESCHEDULE != null" >
        BOOK_SUS_PROV_AFTER_RESCHEDULE = #{BOOK_SUS_PROV_AFTER_RESCHEDULE},
      </if>
      <if test="MANUAL_CLASSIFICATION_YN != null" >
        MANUAL_CLASSIFICATION_YN = #{MANUAL_CLASSIFICATION_YN},
      </if>
    </set>
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </sql>
  <update id="updateTRS_PROVISION" parameterType="com.path.dbmaps.vo.TRS_PROVISIONVO" >
    <include refid="sql_updateTRS_PROVISION" />
  </update>
</mapper>