<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRS_PROVISION_ADJUSTMENTS_DET" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRS_PROVISION_ADJUSTMENTS_DETVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NO" property="LINE_NO" />
    <id column="PRODUCT_TYPE" property="PRODUCT_TYPE" />
    <id column="TRX_NO" property="TRX_NO" />
    <result column="PROCESS_CODE" property="PROCESS_CODE" />
    <result column="DEAL_NO" property="DEAL_NO" />
    <result column="PRODUCT_CODE" property="PRODUCT_CODE" />
    <result column="AC_NO" property="AC_NO" />
    <result column="CURRENCY_CODE" property="CURRENCY_CODE" />
    <result column="GL_CODE" property="GL_CODE" />
    <result column="CIF_SUB_NO" property="CIF_SUB_NO" />
    <result column="SL_NO" property="SL_NO" />
    <result column="DEAL_CATEGORY_CODE" property="DEAL_CATEGORY_CODE" />
    <result column="SHORTFALL" property="SHORTFALL" />
    <result column="WRITE_BACK" property="WRITE_BACK" />
    <result column="ADJUSTMENT" property="ADJUSTMENT" />
    <result column="OPENING_PROVISION_ADJUSTMENT" property="OPENING_PROVISION_ADJUSTMENT" />
    <result column="DRAWDOWN_BRANCH" property="DRAWDOWN_BRANCH" />
    <result column="DRAWDOWN_NO" property="DRAWDOWN_NO" />
    <result column="OD_BRANCH_CODE" property="OD_BRANCH_CODE" />
    <result column="OD_CURRENCY_CODE" property="OD_CURRENCY_CODE" />
    <result column="OD_GL_CODE" property="OD_GL_CODE" />
    <result column="OD_CIF_SUB_NO" property="OD_CIF_SUB_NO" />
    <result column="OD_SL_NO" property="OD_SL_NO" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, LINE_NO, PRODUCT_TYPE, TRX_NO, PROCESS_CODE, DEAL_NO, PRODUCT_CODE, 
    AC_NO, CURRENCY_CODE, GL_CODE, CIF_SUB_NO, SL_NO, DEAL_CATEGORY_CODE, SHORTFALL, 
    WRITE_BACK, ADJUSTMENT, OPENING_PROVISION_ADJUSTMENT, DRAWDOWN_BRANCH, DRAWDOWN_NO, 
    OD_BRANCH_CODE, OD_CURRENCY_CODE, OD_GL_CODE, OD_CIF_SUB_NO, OD_SL_NO
  </sql>
  <select id="selectTRS_PROVISION_ADJUSTMENTS_DET" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRS_PROVISION_ADJUSTMENTS_DETVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRS_PROVISION_ADJUSTMENTS_DET
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and PRODUCT_TYPE = #{PRODUCT_TYPE}
      and TRX_NO = #{TRX_NO}
  </select>
  <delete id="deleteTRS_PROVISION_ADJUSTMENTS_DET" parameterType="com.path.dbmaps.vo.TRS_PROVISION_ADJUSTMENTS_DETVOKey" >
    delete from TRS_PROVISION_ADJUSTMENTS_DET
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and PRODUCT_TYPE = #{PRODUCT_TYPE}
      and TRX_NO = #{TRX_NO}
  </delete>
  <insert id="insertTRS_PROVISION_ADJUSTMENTS_DET" parameterType="com.path.dbmaps.vo.TRS_PROVISION_ADJUSTMENTS_DETVO" >
    insert into TRS_PROVISION_ADJUSTMENTS_DET
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="PRODUCT_TYPE != null" >
        PRODUCT_TYPE,
      </if>
      <if test="TRX_NO != null and TRX_NO != emptyBigDecimalValue" >
        TRX_NO,
      </if>
      <if test="PROCESS_CODE != null and PROCESS_CODE != emptyBigDecimalValue" >
        PROCESS_CODE,
      </if>
      <if test="DEAL_NO != null and DEAL_NO != emptyBigDecimalValue" >
        DEAL_NO,
      </if>
      <if test="PRODUCT_CODE != null and PRODUCT_CODE != emptyBigDecimalValue" >
        PRODUCT_CODE,
      </if>
      <if test="AC_NO != null" >
        AC_NO,
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        CURRENCY_CODE,
      </if>
      <if test="GL_CODE != null and GL_CODE != emptyBigDecimalValue" >
        GL_CODE,
      </if>
      <if test="CIF_SUB_NO != null and CIF_SUB_NO != emptyBigDecimalValue" >
        CIF_SUB_NO,
      </if>
      <if test="SL_NO != null and SL_NO != emptyBigDecimalValue" >
        SL_NO,
      </if>
      <if test="DEAL_CATEGORY_CODE != null and DEAL_CATEGORY_CODE != emptyBigDecimalValue" >
        DEAL_CATEGORY_CODE,
      </if>
      <if test="SHORTFALL != null and SHORTFALL != emptyBigDecimalValue" >
        SHORTFALL,
      </if>
      <if test="WRITE_BACK != null and WRITE_BACK != emptyBigDecimalValue" >
        WRITE_BACK,
      </if>
      <if test="ADJUSTMENT != null and ADJUSTMENT != emptyBigDecimalValue" >
        ADJUSTMENT,
      </if>
      <if test="OPENING_PROVISION_ADJUSTMENT != null and OPENING_PROVISION_ADJUSTMENT != emptyBigDecimalValue" >
        OPENING_PROVISION_ADJUSTMENT,
      </if>
      <if test="DRAWDOWN_BRANCH != null and DRAWDOWN_BRANCH != emptyBigDecimalValue" >
        DRAWDOWN_BRANCH,
      </if>
      <if test="DRAWDOWN_NO != null and DRAWDOWN_NO != emptyBigDecimalValue" >
        DRAWDOWN_NO,
      </if>
      <if test="OD_BRANCH_CODE != null and OD_BRANCH_CODE != emptyBigDecimalValue" >
        OD_BRANCH_CODE,
      </if>
      <if test="OD_CURRENCY_CODE != null and OD_CURRENCY_CODE != emptyBigDecimalValue" >
        OD_CURRENCY_CODE,
      </if>
      <if test="OD_GL_CODE != null and OD_GL_CODE != emptyBigDecimalValue" >
        OD_GL_CODE,
      </if>
      <if test="OD_CIF_SUB_NO != null and OD_CIF_SUB_NO != emptyBigDecimalValue" >
        OD_CIF_SUB_NO,
      </if>
      <if test="OD_SL_NO != null and OD_SL_NO != emptyBigDecimalValue" >
        OD_SL_NO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="PRODUCT_TYPE != null" >
        #{PRODUCT_TYPE},
      </if>
      <if test="TRX_NO != null and TRX_NO != emptyBigDecimalValue" >
        #{TRX_NO},
      </if>
      <if test="PROCESS_CODE != null and PROCESS_CODE != emptyBigDecimalValue" >
        #{PROCESS_CODE},
      </if>
      <if test="DEAL_NO != null and DEAL_NO != emptyBigDecimalValue" >
        #{DEAL_NO},
      </if>
      <if test="PRODUCT_CODE != null and PRODUCT_CODE != emptyBigDecimalValue" >
        #{PRODUCT_CODE},
      </if>
      <if test="AC_NO != null" >
        #{AC_NO},
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        #{CURRENCY_CODE},
      </if>
      <if test="GL_CODE != null and GL_CODE != emptyBigDecimalValue" >
        #{GL_CODE},
      </if>
      <if test="CIF_SUB_NO != null and CIF_SUB_NO != emptyBigDecimalValue" >
        #{CIF_SUB_NO},
      </if>
      <if test="SL_NO != null and SL_NO != emptyBigDecimalValue" >
        #{SL_NO},
      </if>
      <if test="DEAL_CATEGORY_CODE != null and DEAL_CATEGORY_CODE != emptyBigDecimalValue" >
        #{DEAL_CATEGORY_CODE},
      </if>
      <if test="SHORTFALL != null and SHORTFALL != emptyBigDecimalValue" >
        #{SHORTFALL},
      </if>
      <if test="WRITE_BACK != null and WRITE_BACK != emptyBigDecimalValue" >
        #{WRITE_BACK},
      </if>
      <if test="ADJUSTMENT != null and ADJUSTMENT != emptyBigDecimalValue" >
        #{ADJUSTMENT},
      </if>
      <if test="OPENING_PROVISION_ADJUSTMENT != null and OPENING_PROVISION_ADJUSTMENT != emptyBigDecimalValue" >
        #{OPENING_PROVISION_ADJUSTMENT},
      </if>
      <if test="DRAWDOWN_BRANCH != null and DRAWDOWN_BRANCH != emptyBigDecimalValue" >
        #{DRAWDOWN_BRANCH},
      </if>
      <if test="DRAWDOWN_NO != null and DRAWDOWN_NO != emptyBigDecimalValue" >
        #{DRAWDOWN_NO},
      </if>
      <if test="OD_BRANCH_CODE != null and OD_BRANCH_CODE != emptyBigDecimalValue" >
        #{OD_BRANCH_CODE},
      </if>
      <if test="OD_CURRENCY_CODE != null and OD_CURRENCY_CODE != emptyBigDecimalValue" >
        #{OD_CURRENCY_CODE},
      </if>
      <if test="OD_GL_CODE != null and OD_GL_CODE != emptyBigDecimalValue" >
        #{OD_GL_CODE},
      </if>
      <if test="OD_CIF_SUB_NO != null and OD_CIF_SUB_NO != emptyBigDecimalValue" >
        #{OD_CIF_SUB_NO},
      </if>
      <if test="OD_SL_NO != null and OD_SL_NO != emptyBigDecimalValue" >
        #{OD_SL_NO},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRS_PROVISION_ADJUSTMENTS_DET" >
    update TRS_PROVISION_ADJUSTMENTS_DET
    <set >
      <if test="PROCESS_CODE != null" >
        <choose >
          <when test="PROCESS_CODE == emptyBigDecimalValue" >
            PROCESS_CODE = NULL ,
          </when>
          <otherwise >
            PROCESS_CODE = #{PROCESS_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="DEAL_NO != null" >
        <choose >
          <when test="DEAL_NO == emptyBigDecimalValue" >
            DEAL_NO = NULL ,
          </when>
          <otherwise >
            DEAL_NO = #{DEAL_NO},
          </otherwise>
        </choose>
      </if>
      <if test="PRODUCT_CODE != null" >
        <choose >
          <when test="PRODUCT_CODE == emptyBigDecimalValue" >
            PRODUCT_CODE = NULL ,
          </when>
          <otherwise >
            PRODUCT_CODE = #{PRODUCT_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="AC_NO != null" >
        AC_NO = #{AC_NO},
      </if>
      <if test="CURRENCY_CODE != null" >
        <choose >
          <when test="CURRENCY_CODE == emptyBigDecimalValue" >
            CURRENCY_CODE = NULL ,
          </when>
          <otherwise >
            CURRENCY_CODE = #{CURRENCY_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="GL_CODE != null" >
        <choose >
          <when test="GL_CODE == emptyBigDecimalValue" >
            GL_CODE = NULL ,
          </when>
          <otherwise >
            GL_CODE = #{GL_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="CIF_SUB_NO != null" >
        <choose >
          <when test="CIF_SUB_NO == emptyBigDecimalValue" >
            CIF_SUB_NO = NULL ,
          </when>
          <otherwise >
            CIF_SUB_NO = #{CIF_SUB_NO},
          </otherwise>
        </choose>
      </if>
      <if test="SL_NO != null" >
        <choose >
          <when test="SL_NO == emptyBigDecimalValue" >
            SL_NO = NULL ,
          </when>
          <otherwise >
            SL_NO = #{SL_NO},
          </otherwise>
        </choose>
      </if>
      <if test="DEAL_CATEGORY_CODE != null" >
        <choose >
          <when test="DEAL_CATEGORY_CODE == emptyBigDecimalValue" >
            DEAL_CATEGORY_CODE = NULL ,
          </when>
          <otherwise >
            DEAL_CATEGORY_CODE = #{DEAL_CATEGORY_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="SHORTFALL != null" >
        <choose >
          <when test="SHORTFALL == emptyBigDecimalValue" >
            SHORTFALL = NULL ,
          </when>
          <otherwise >
            SHORTFALL = #{SHORTFALL},
          </otherwise>
        </choose>
      </if>
      <if test="WRITE_BACK != null" >
        <choose >
          <when test="WRITE_BACK == emptyBigDecimalValue" >
            WRITE_BACK = NULL ,
          </when>
          <otherwise >
            WRITE_BACK = #{WRITE_BACK},
          </otherwise>
        </choose>
      </if>
      <if test="ADJUSTMENT != null" >
        <choose >
          <when test="ADJUSTMENT == emptyBigDecimalValue" >
            ADJUSTMENT = NULL ,
          </when>
          <otherwise >
            ADJUSTMENT = #{ADJUSTMENT},
          </otherwise>
        </choose>
      </if>
      <if test="OPENING_PROVISION_ADJUSTMENT != null" >
        <choose >
          <when test="OPENING_PROVISION_ADJUSTMENT == emptyBigDecimalValue" >
            OPENING_PROVISION_ADJUSTMENT = NULL ,
          </when>
          <otherwise >
            OPENING_PROVISION_ADJUSTMENT = #{OPENING_PROVISION_ADJUSTMENT},
          </otherwise>
        </choose>
      </if>
      <if test="DRAWDOWN_BRANCH != null" >
        <choose >
          <when test="DRAWDOWN_BRANCH == emptyBigDecimalValue" >
            DRAWDOWN_BRANCH = NULL ,
          </when>
          <otherwise >
            DRAWDOWN_BRANCH = #{DRAWDOWN_BRANCH},
          </otherwise>
        </choose>
      </if>
      <if test="DRAWDOWN_NO != null" >
        <choose >
          <when test="DRAWDOWN_NO == emptyBigDecimalValue" >
            DRAWDOWN_NO = NULL ,
          </when>
          <otherwise >
            DRAWDOWN_NO = #{DRAWDOWN_NO},
          </otherwise>
        </choose>
      </if>
      <if test="OD_BRANCH_CODE != null" >
        <choose >
          <when test="OD_BRANCH_CODE == emptyBigDecimalValue" >
            OD_BRANCH_CODE = NULL ,
          </when>
          <otherwise >
            OD_BRANCH_CODE = #{OD_BRANCH_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="OD_CURRENCY_CODE != null" >
        <choose >
          <when test="OD_CURRENCY_CODE == emptyBigDecimalValue" >
            OD_CURRENCY_CODE = NULL ,
          </when>
          <otherwise >
            OD_CURRENCY_CODE = #{OD_CURRENCY_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="OD_GL_CODE != null" >
        <choose >
          <when test="OD_GL_CODE == emptyBigDecimalValue" >
            OD_GL_CODE = NULL ,
          </when>
          <otherwise >
            OD_GL_CODE = #{OD_GL_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="OD_CIF_SUB_NO != null" >
        <choose >
          <when test="OD_CIF_SUB_NO == emptyBigDecimalValue" >
            OD_CIF_SUB_NO = NULL ,
          </when>
          <otherwise >
            OD_CIF_SUB_NO = #{OD_CIF_SUB_NO},
          </otherwise>
        </choose>
      </if>
      <if test="OD_SL_NO != null" >
        <choose >
          <when test="OD_SL_NO == emptyBigDecimalValue" >
            OD_SL_NO = NULL ,
          </when>
          <otherwise >
            OD_SL_NO = #{OD_SL_NO},
          </otherwise>
        </choose>
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and PRODUCT_TYPE = #{PRODUCT_TYPE}
      and TRX_NO = #{TRX_NO}
  </sql>
  <update id="updateTRS_PROVISION_ADJUSTMENTS_DET" parameterType="com.path.dbmaps.vo.TRS_PROVISION_ADJUSTMENTS_DETVO" >
    <include refid="sql_updateTRS_PROVISION_ADJUSTMENTS_DET" />
  </update>
</mapper>