<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRS_DESK_MGMT" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRS_DESK_MGMTVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <result column="BRIEF_NAME_ENG" property="BRIEF_NAME_ENG" />
    <result column="LONG_NAME_ENG" property="LONG_NAME_ENG" />
    <result column="BRIEF_NAME_ARAB" property="BRIEF_NAME_ARAB" />
    <result column="LONG_NAME_ARAB" property="LONG_NAME_ARAB" />
    <result column="DESK_DETAILS" property="DESK_DETAILS" />
    <result column="DESK_TYPE" property="DESK_TYPE" />
    <result column="PARENT_DESK" property="PARENT_DESK" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="DATE_CREATED" property="DATE_CREATED" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="DATE_MODIFIED" property="DATE_MODIFIED" />
    <result column="CHK_DESK_OVERNIGHT_POS_LMT_YN" property="CHK_DESK_OVERNIGHT_POS_LMT_YN" />
    <result column="DESK_OVERNIGHT_POSTN_LIMIT_AMT" property="DESK_OVERNIGHT_POSTN_LIMIT_AMT" />
    <result column="DESK_OVERNIGHT_POSTN_LIMIT_CY" property="DESK_OVERNIGHT_POSTN_LIMIT_CY" />
    <result column="CHK_DESK_STOP_LOSS_LIMIT_YN" property="CHK_DESK_STOP_LOSS_LIMIT_YN" />
    <result column="DESK_STOP_LOSS_LMT_DAILY_AMT" property="DESK_STOP_LOSS_LMT_DAILY_AMT" />
    <result column="DESK_STOP_LOSS_LMT_MONTHLY_AMT" property="DESK_STOP_LOSS_LMT_MONTHLY_AMT" />
    <result column="DESK_STOP_LOSS_LMT_YEARLY_AMT" property="DESK_STOP_LOSS_LMT_YEARLY_AMT" />
    <result column="DESK_STOP_LOSS_LIMIT_CY" property="DESK_STOP_LOSS_LIMIT_CY" />
    <result column="STATUS" property="STATUS" />
    <result column="APPROVED_BY" property="APPROVED_BY" />
    <result column="DATE_APPROVED" property="DATE_APPROVED" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, CODE, COMP_CODE, BRIEF_NAME_ENG, LONG_NAME_ENG, BRIEF_NAME_ARAB, LONG_NAME_ARAB, 
    DESK_DETAILS, DESK_TYPE, PARENT_DESK, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED, 
    CHK_DESK_OVERNIGHT_POS_LMT_YN, DESK_OVERNIGHT_POSTN_LIMIT_AMT, DESK_OVERNIGHT_POSTN_LIMIT_CY, 
    CHK_DESK_STOP_LOSS_LIMIT_YN, DESK_STOP_LOSS_LMT_DAILY_AMT, DESK_STOP_LOSS_LMT_MONTHLY_AMT, 
    DESK_STOP_LOSS_LMT_YEARLY_AMT, DESK_STOP_LOSS_LIMIT_CY, STATUS, APPROVED_BY, DATE_APPROVED
  </sql>
  <select id="selectTRS_DESK_MGMT" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRS_DESK_MGMTVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRS_DESK_MGMT
    where BRANCH_CODE = #{BRANCH_CODE}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </select>
  <delete id="deleteTRS_DESK_MGMT" parameterType="com.path.dbmaps.vo.TRS_DESK_MGMTVOKey" >
    delete from TRS_DESK_MGMT
    where BRANCH_CODE = #{BRANCH_CODE}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </delete>
  <insert id="insertTRS_DESK_MGMT" parameterType="com.path.dbmaps.vo.TRS_DESK_MGMTVO" >
    insert into TRS_DESK_MGMT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="BRIEF_NAME_ENG != null" >
        BRIEF_NAME_ENG,
      </if>
      <if test="LONG_NAME_ENG != null" >
        LONG_NAME_ENG,
      </if>
      <if test="BRIEF_NAME_ARAB != null" >
        BRIEF_NAME_ARAB,
      </if>
      <if test="LONG_NAME_ARAB != null" >
        LONG_NAME_ARAB,
      </if>
      <if test="DESK_DETAILS != null" >
        DESK_DETAILS,
      </if>
      <if test="DESK_TYPE != null" >
        DESK_TYPE,
      </if>
      <if test="PARENT_DESK != null and PARENT_DESK != emptyBigDecimalValue" >
        PARENT_DESK,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED,
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY,
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED,
      </if>
      <if test="CHK_DESK_OVERNIGHT_POS_LMT_YN != null" >
        CHK_DESK_OVERNIGHT_POS_LMT_YN,
      </if>
      <if test="DESK_OVERNIGHT_POSTN_LIMIT_AMT != null and DESK_OVERNIGHT_POSTN_LIMIT_AMT != emptyBigDecimalValue" >
        DESK_OVERNIGHT_POSTN_LIMIT_AMT,
      </if>
      <if test="DESK_OVERNIGHT_POSTN_LIMIT_CY != null and DESK_OVERNIGHT_POSTN_LIMIT_CY != emptyBigDecimalValue" >
        DESK_OVERNIGHT_POSTN_LIMIT_CY,
      </if>
      <if test="CHK_DESK_STOP_LOSS_LIMIT_YN != null" >
        CHK_DESK_STOP_LOSS_LIMIT_YN,
      </if>
      <if test="DESK_STOP_LOSS_LMT_DAILY_AMT != null and DESK_STOP_LOSS_LMT_DAILY_AMT != emptyBigDecimalValue" >
        DESK_STOP_LOSS_LMT_DAILY_AMT,
      </if>
      <if test="DESK_STOP_LOSS_LMT_MONTHLY_AMT != null and DESK_STOP_LOSS_LMT_MONTHLY_AMT != emptyBigDecimalValue" >
        DESK_STOP_LOSS_LMT_MONTHLY_AMT,
      </if>
      <if test="DESK_STOP_LOSS_LMT_YEARLY_AMT != null and DESK_STOP_LOSS_LMT_YEARLY_AMT != emptyBigDecimalValue" >
        DESK_STOP_LOSS_LMT_YEARLY_AMT,
      </if>
      <if test="DESK_STOP_LOSS_LIMIT_CY != null and DESK_STOP_LOSS_LIMIT_CY != emptyBigDecimalValue" >
        DESK_STOP_LOSS_LIMIT_CY,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY,
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        #{CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="BRIEF_NAME_ENG != null" >
        #{BRIEF_NAME_ENG},
      </if>
      <if test="LONG_NAME_ENG != null" >
        #{LONG_NAME_ENG},
      </if>
      <if test="BRIEF_NAME_ARAB != null" >
        #{BRIEF_NAME_ARAB},
      </if>
      <if test="LONG_NAME_ARAB != null" >
        #{LONG_NAME_ARAB},
      </if>
      <if test="DESK_DETAILS != null" >
        #{DESK_DETAILS},
      </if>
      <if test="DESK_TYPE != null" >
        #{DESK_TYPE},
      </if>
      <if test="PARENT_DESK != null and PARENT_DESK != emptyBigDecimalValue" >
        #{PARENT_DESK},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="DATE_CREATED != null" >
        #{DATE_CREATED},
      </if>
      <if test="MODIFIED_BY != null" >
        #{MODIFIED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        #{DATE_MODIFIED},
      </if>
      <if test="CHK_DESK_OVERNIGHT_POS_LMT_YN != null" >
        #{CHK_DESK_OVERNIGHT_POS_LMT_YN},
      </if>
      <if test="DESK_OVERNIGHT_POSTN_LIMIT_AMT != null and DESK_OVERNIGHT_POSTN_LIMIT_AMT != emptyBigDecimalValue" >
        #{DESK_OVERNIGHT_POSTN_LIMIT_AMT},
      </if>
      <if test="DESK_OVERNIGHT_POSTN_LIMIT_CY != null and DESK_OVERNIGHT_POSTN_LIMIT_CY != emptyBigDecimalValue" >
        #{DESK_OVERNIGHT_POSTN_LIMIT_CY},
      </if>
      <if test="CHK_DESK_STOP_LOSS_LIMIT_YN != null" >
        #{CHK_DESK_STOP_LOSS_LIMIT_YN},
      </if>
      <if test="DESK_STOP_LOSS_LMT_DAILY_AMT != null and DESK_STOP_LOSS_LMT_DAILY_AMT != emptyBigDecimalValue" >
        #{DESK_STOP_LOSS_LMT_DAILY_AMT},
      </if>
      <if test="DESK_STOP_LOSS_LMT_MONTHLY_AMT != null and DESK_STOP_LOSS_LMT_MONTHLY_AMT != emptyBigDecimalValue" >
        #{DESK_STOP_LOSS_LMT_MONTHLY_AMT},
      </if>
      <if test="DESK_STOP_LOSS_LMT_YEARLY_AMT != null and DESK_STOP_LOSS_LMT_YEARLY_AMT != emptyBigDecimalValue" >
        #{DESK_STOP_LOSS_LMT_YEARLY_AMT},
      </if>
      <if test="DESK_STOP_LOSS_LIMIT_CY != null and DESK_STOP_LOSS_LIMIT_CY != emptyBigDecimalValue" >
        #{DESK_STOP_LOSS_LIMIT_CY},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="APPROVED_BY != null" >
        #{APPROVED_BY},
      </if>
      <if test="DATE_APPROVED != null" >
        #{DATE_APPROVED},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRS_DESK_MGMT" >
    update TRS_DESK_MGMT
    <set >
      <if test="BRIEF_NAME_ENG != null" >
        BRIEF_NAME_ENG = #{BRIEF_NAME_ENG},
      </if>
      <if test="LONG_NAME_ENG != null" >
        LONG_NAME_ENG = #{LONG_NAME_ENG},
      </if>
      <if test="BRIEF_NAME_ARAB != null" >
        BRIEF_NAME_ARAB = #{BRIEF_NAME_ARAB},
      </if>
      <if test="LONG_NAME_ARAB != null" >
        LONG_NAME_ARAB = #{LONG_NAME_ARAB},
      </if>
      <if test="DESK_DETAILS != null" >
        DESK_DETAILS = #{DESK_DETAILS},
      </if>
      <if test="DESK_TYPE != null" >
        DESK_TYPE = #{DESK_TYPE},
      </if>
      <if test="PARENT_DESK != null" >
        <choose >
          <when test="PARENT_DESK == emptyBigDecimalValue" >
            PARENT_DESK = NULL ,
          </when>
          <otherwise >
            PARENT_DESK = #{PARENT_DESK},
          </otherwise>
        </choose>
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED = #{DATE_CREATED},
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY = #{MODIFIED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED = #{DATE_MODIFIED},
      </if>
      <if test="CHK_DESK_OVERNIGHT_POS_LMT_YN != null" >
        CHK_DESK_OVERNIGHT_POS_LMT_YN = #{CHK_DESK_OVERNIGHT_POS_LMT_YN},
      </if>
      <if test="DESK_OVERNIGHT_POSTN_LIMIT_AMT != null" >
        <choose >
          <when test="DESK_OVERNIGHT_POSTN_LIMIT_AMT == emptyBigDecimalValue" >
            DESK_OVERNIGHT_POSTN_LIMIT_AMT = NULL ,
          </when>
          <otherwise >
            DESK_OVERNIGHT_POSTN_LIMIT_AMT = #{DESK_OVERNIGHT_POSTN_LIMIT_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="DESK_OVERNIGHT_POSTN_LIMIT_CY != null" >
        <choose >
          <when test="DESK_OVERNIGHT_POSTN_LIMIT_CY == emptyBigDecimalValue" >
            DESK_OVERNIGHT_POSTN_LIMIT_CY = NULL ,
          </when>
          <otherwise >
            DESK_OVERNIGHT_POSTN_LIMIT_CY = #{DESK_OVERNIGHT_POSTN_LIMIT_CY},
          </otherwise>
        </choose>
      </if>
      <if test="CHK_DESK_STOP_LOSS_LIMIT_YN != null" >
        CHK_DESK_STOP_LOSS_LIMIT_YN = #{CHK_DESK_STOP_LOSS_LIMIT_YN},
      </if>
      <if test="DESK_STOP_LOSS_LMT_DAILY_AMT != null" >
        <choose >
          <when test="DESK_STOP_LOSS_LMT_DAILY_AMT == emptyBigDecimalValue" >
            DESK_STOP_LOSS_LMT_DAILY_AMT = NULL ,
          </when>
          <otherwise >
            DESK_STOP_LOSS_LMT_DAILY_AMT = #{DESK_STOP_LOSS_LMT_DAILY_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="DESK_STOP_LOSS_LMT_MONTHLY_AMT != null" >
        <choose >
          <when test="DESK_STOP_LOSS_LMT_MONTHLY_AMT == emptyBigDecimalValue" >
            DESK_STOP_LOSS_LMT_MONTHLY_AMT = NULL ,
          </when>
          <otherwise >
            DESK_STOP_LOSS_LMT_MONTHLY_AMT = #{DESK_STOP_LOSS_LMT_MONTHLY_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="DESK_STOP_LOSS_LMT_YEARLY_AMT != null" >
        <choose >
          <when test="DESK_STOP_LOSS_LMT_YEARLY_AMT == emptyBigDecimalValue" >
            DESK_STOP_LOSS_LMT_YEARLY_AMT = NULL ,
          </when>
          <otherwise >
            DESK_STOP_LOSS_LMT_YEARLY_AMT = #{DESK_STOP_LOSS_LMT_YEARLY_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="DESK_STOP_LOSS_LIMIT_CY != null" >
        <choose >
          <when test="DESK_STOP_LOSS_LIMIT_CY == emptyBigDecimalValue" >
            DESK_STOP_LOSS_LIMIT_CY = NULL ,
          </when>
          <otherwise >
            DESK_STOP_LOSS_LIMIT_CY = #{DESK_STOP_LOSS_LIMIT_CY},
          </otherwise>
        </choose>
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY = #{APPROVED_BY},
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED = #{DATE_APPROVED},
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </sql>
  <update id="updateTRS_DESK_MGMT" parameterType="com.path.dbmaps.vo.TRS_DESK_MGMTVO" >
    <include refid="sql_updateTRS_DESK_MGMT" />
  </update>
</mapper>