<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRS_PROV_PRODUCTS_TRX_MST" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRS_PROV_PRODUCTS_TRX_MSTVO" >
    <id column="AC_NO" property="AC_NO" />
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="PRODUCT_TYPE_CODE" property="PRODUCT_TYPE_CODE" />
    <result column="PROV_BRANCH_CODE" property="PROV_BRANCH_CODE" />
    <result column="CIF" property="CIF" />
    <result column="AC_STATUS" property="AC_STATUS" />
    <result column="CLASSIFY_STATUS" property="CLASSIFY_STATUS" />
    <result column="CATEGORY_CODE" property="CATEGORY_CODE" />
    <result column="CATEGORY_CODE2" property="CATEGORY_CODE2" />
    <result column="CATEGORY_CODE_USER" property="CATEGORY_CODE_USER" />
    <result column="CATEGORY_ORDER" property="CATEGORY_ORDER" />
    <result column="DUE_DAYS" property="DUE_DAYS" />
    <result column="PROVISION_AMT" property="PROVISION_AMT" />
    <result column="PROV_PERCENTAGE_SYS" property="PROV_PERCENTAGE_SYS" />
    <result column="PROV_PERCENTAGE_SYS2" property="PROV_PERCENTAGE_SYS2" />
    <result column="PROV_PERCENTAGE_USER" property="PROV_PERCENTAGE_USER" />
    <result column="OUTSTANDING" property="OUTSTANDING" />
    <result column="OUTSTANDING_CV" property="OUTSTANDING_CV" />
    <result column="DUE_DATE" property="DUE_DATE" />
    <result column="LAST_PROCESS_DATE" property="LAST_PROCESS_DATE" />
    <result column="SERVER_DATE" property="SERVER_DATE" />
    <result column="PROVISION_AMENDED_YN" property="PROVISION_AMENDED_YN" />
    <result column="DEPT" property="DEPT" />
    <result column="UNIT" property="UNIT" />
    <result column="REL_OFFICER_ID" property="REL_OFFICER_ID" />
    <result column="CURRENCY_CODE" property="CURRENCY_CODE" />
    <result column="DIVISION" property="DIVISION" />
    <result column="OUTSTANDING_PRINCIPAL" property="OUTSTANDING_PRINCIPAL" />
    <result column="PRINCIPAL_DUE" property="PRINCIPAL_DUE" />
    <result column="COLLATERAL_AMOUNT" property="COLLATERAL_AMOUNT" />
    <result column="SPIIS_AMOUNT" property="SPIIS_AMOUNT" />
    <result column="IIS_AMOUNT" property="IIS_AMOUNT" />
    <result column="SP_IIS_WRITE_BACK_AMOUNT" property="SP_IIS_WRITE_BACK_AMOUNT" />
    <result column="IIS_WRITE_BACK_AMOUNT" property="IIS_WRITE_BACK_AMOUNT" />
    <result column="OWINGS_OUTSTANDING" property="OWINGS_OUTSTANDING" />
    <result column="NPF_DATE" property="NPF_DATE" />
    <result column="PRODUCT_CLASS" property="PRODUCT_CLASS" />
    <result column="WRITE_OFF_TYPE" property="WRITE_OFF_TYPE" />
    <result column="DRAWDOWN_BRANCH" property="DRAWDOWN_BRANCH" />
    <result column="DRAWDOWN_NO" property="DRAWDOWN_NO" />
    <result column="LIMIT_AMOUNT" property="LIMIT_AMOUNT" />
    <result column="LIMIT_BREACH_DATE" property="LIMIT_BREACH_DATE" />
    <result column="LIMIT_BREACH_DAYS" property="LIMIT_BREACH_DAYS" />
    <result column="DORMANENT_DAYS" property="DORMANENT_DAYS" />
    <result column="LAST_TRX_DATE" property="LAST_TRX_DATE" />
    <result column="MATURITY_DATE" property="MATURITY_DATE" />
    <result column="UNEARNED_INCOME_AMT" property="UNEARNED_INCOME_AMT" />
    <result column="FIR_AMOUNT" property="FIR_AMOUNT" />
    <result column="OD_BRANCH_CODE" property="OD_BRANCH_CODE" />
    <result column="OD_CURRENCY_CODE" property="OD_CURRENCY_CODE" />
    <result column="OD_GL_CODE" property="OD_GL_CODE" />
    <result column="OD_CIF_SUB_NO" property="OD_CIF_SUB_NO" />
    <result column="OD_SL_NO" property="OD_SL_NO" />
    <result column="OWINGS_BRANCH_CODE" property="OWINGS_BRANCH_CODE" />
    <result column="OWINGS_CURRENCY_CODE" property="OWINGS_CURRENCY_CODE" />
    <result column="OWINGS_GL_CODE" property="OWINGS_GL_CODE" />
    <result column="OWINGS_CIF_SUB_NO" property="OWINGS_CIF_SUB_NO" />
    <result column="OWINGS_SL_NO" property="OWINGS_SL_NO" />
  </resultMap>
  <sql id="Base_Column_List" >
    AC_NO, BRANCH_CODE, COMP_CODE, PRODUCT_TYPE_CODE, PROV_BRANCH_CODE, CIF, AC_STATUS, 
    CLASSIFY_STATUS, CATEGORY_CODE, CATEGORY_CODE2, CATEGORY_CODE_USER, CATEGORY_ORDER, 
    DUE_DAYS, PROVISION_AMT, PROV_PERCENTAGE_SYS, PROV_PERCENTAGE_SYS2, PROV_PERCENTAGE_USER, 
    OUTSTANDING, OUTSTANDING_CV, DUE_DATE, LAST_PROCESS_DATE, SERVER_DATE, PROVISION_AMENDED_YN, 
    DEPT, UNIT, REL_OFFICER_ID, CURRENCY_CODE, DIVISION, OUTSTANDING_PRINCIPAL, PRINCIPAL_DUE, 
    COLLATERAL_AMOUNT, SPIIS_AMOUNT, IIS_AMOUNT, SP_IIS_WRITE_BACK_AMOUNT, IIS_WRITE_BACK_AMOUNT, 
    OWINGS_OUTSTANDING, NPF_DATE, PRODUCT_CLASS, WRITE_OFF_TYPE, DRAWDOWN_BRANCH, DRAWDOWN_NO, 
    LIMIT_AMOUNT, LIMIT_BREACH_DATE, LIMIT_BREACH_DAYS, DORMANENT_DAYS, LAST_TRX_DATE, 
    MATURITY_DATE, UNEARNED_INCOME_AMT, FIR_AMOUNT, OD_BRANCH_CODE, OD_CURRENCY_CODE, 
    OD_GL_CODE, OD_CIF_SUB_NO, OD_SL_NO, OWINGS_BRANCH_CODE, OWINGS_CURRENCY_CODE, OWINGS_GL_CODE, 
    OWINGS_CIF_SUB_NO, OWINGS_SL_NO
  </sql>
  <select id="selectTRS_PROV_PRODUCTS_TRX_MST" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRS_PROV_PRODUCTS_TRX_MSTVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRS_PROV_PRODUCTS_TRX_MST
    where AC_NO = #{AC_NO}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and PRODUCT_TYPE_CODE = #{PRODUCT_TYPE_CODE}
  </select>
  <delete id="deleteTRS_PROV_PRODUCTS_TRX_MST" parameterType="com.path.dbmaps.vo.TRS_PROV_PRODUCTS_TRX_MSTVOKey" >
    delete from TRS_PROV_PRODUCTS_TRX_MST
    where AC_NO = #{AC_NO}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and PRODUCT_TYPE_CODE = #{PRODUCT_TYPE_CODE}
  </delete>
  <insert id="insertTRS_PROV_PRODUCTS_TRX_MST" parameterType="com.path.dbmaps.vo.TRS_PROV_PRODUCTS_TRX_MSTVO" >
    insert into TRS_PROV_PRODUCTS_TRX_MST
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="AC_NO != null" >
        AC_NO,
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="PRODUCT_TYPE_CODE != null and PRODUCT_TYPE_CODE != emptyBigDecimalValue" >
        PRODUCT_TYPE_CODE,
      </if>
      <if test="PROV_BRANCH_CODE != null and PROV_BRANCH_CODE != emptyBigDecimalValue" >
        PROV_BRANCH_CODE,
      </if>
      <if test="CIF != null and CIF != emptyBigDecimalValue" >
        CIF,
      </if>
      <if test="AC_STATUS != null" >
        AC_STATUS,
      </if>
      <if test="CLASSIFY_STATUS != null" >
        CLASSIFY_STATUS,
      </if>
      <if test="CATEGORY_CODE != null and CATEGORY_CODE != emptyBigDecimalValue" >
        CATEGORY_CODE,
      </if>
      <if test="CATEGORY_CODE2 != null and CATEGORY_CODE2 != emptyBigDecimalValue" >
        CATEGORY_CODE2,
      </if>
      <if test="CATEGORY_CODE_USER != null and CATEGORY_CODE_USER != emptyBigDecimalValue" >
        CATEGORY_CODE_USER,
      </if>
      <if test="CATEGORY_ORDER != null and CATEGORY_ORDER != emptyBigDecimalValue" >
        CATEGORY_ORDER,
      </if>
      <if test="DUE_DAYS != null and DUE_DAYS != emptyBigDecimalValue" >
        DUE_DAYS,
      </if>
      <if test="PROVISION_AMT != null and PROVISION_AMT != emptyBigDecimalValue" >
        PROVISION_AMT,
      </if>
      <if test="PROV_PERCENTAGE_SYS != null and PROV_PERCENTAGE_SYS != emptyBigDecimalValue" >
        PROV_PERCENTAGE_SYS,
      </if>
      <if test="PROV_PERCENTAGE_SYS2 != null and PROV_PERCENTAGE_SYS2 != emptyBigDecimalValue" >
        PROV_PERCENTAGE_SYS2,
      </if>
      <if test="PROV_PERCENTAGE_USER != null and PROV_PERCENTAGE_USER != emptyBigDecimalValue" >
        PROV_PERCENTAGE_USER,
      </if>
      <if test="OUTSTANDING != null and OUTSTANDING != emptyBigDecimalValue" >
        OUTSTANDING,
      </if>
      <if test="OUTSTANDING_CV != null and OUTSTANDING_CV != emptyBigDecimalValue" >
        OUTSTANDING_CV,
      </if>
      <if test="DUE_DATE != null" >
        DUE_DATE,
      </if>
      <if test="LAST_PROCESS_DATE != null" >
        LAST_PROCESS_DATE,
      </if>
      <if test="SERVER_DATE != null" >
        SERVER_DATE,
      </if>
      <if test="PROVISION_AMENDED_YN != null" >
        PROVISION_AMENDED_YN,
      </if>
      <if test="DEPT != null and DEPT != emptyBigDecimalValue" >
        DEPT,
      </if>
      <if test="UNIT != null and UNIT != emptyBigDecimalValue" >
        UNIT,
      </if>
      <if test="REL_OFFICER_ID != null and REL_OFFICER_ID != emptyBigDecimalValue" >
        REL_OFFICER_ID,
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        CURRENCY_CODE,
      </if>
      <if test="DIVISION != null and DIVISION != emptyBigDecimalValue" >
        DIVISION,
      </if>
      <if test="OUTSTANDING_PRINCIPAL != null and OUTSTANDING_PRINCIPAL != emptyBigDecimalValue" >
        OUTSTANDING_PRINCIPAL,
      </if>
      <if test="PRINCIPAL_DUE != null and PRINCIPAL_DUE != emptyBigDecimalValue" >
        PRINCIPAL_DUE,
      </if>
      <if test="COLLATERAL_AMOUNT != null and COLLATERAL_AMOUNT != emptyBigDecimalValue" >
        COLLATERAL_AMOUNT,
      </if>
      <if test="SPIIS_AMOUNT != null and SPIIS_AMOUNT != emptyBigDecimalValue" >
        SPIIS_AMOUNT,
      </if>
      <if test="IIS_AMOUNT != null and IIS_AMOUNT != emptyBigDecimalValue" >
        IIS_AMOUNT,
      </if>
      <if test="SP_IIS_WRITE_BACK_AMOUNT != null and SP_IIS_WRITE_BACK_AMOUNT != emptyBigDecimalValue" >
        SP_IIS_WRITE_BACK_AMOUNT,
      </if>
      <if test="IIS_WRITE_BACK_AMOUNT != null and IIS_WRITE_BACK_AMOUNT != emptyBigDecimalValue" >
        IIS_WRITE_BACK_AMOUNT,
      </if>
      <if test="OWINGS_OUTSTANDING != null and OWINGS_OUTSTANDING != emptyBigDecimalValue" >
        OWINGS_OUTSTANDING,
      </if>
      <if test="NPF_DATE != null" >
        NPF_DATE,
      </if>
      <if test="PRODUCT_CLASS != null and PRODUCT_CLASS != emptyBigDecimalValue" >
        PRODUCT_CLASS,
      </if>
      <if test="WRITE_OFF_TYPE != null and WRITE_OFF_TYPE != emptyBigDecimalValue" >
        WRITE_OFF_TYPE,
      </if>
      <if test="DRAWDOWN_BRANCH != null and DRAWDOWN_BRANCH != emptyBigDecimalValue" >
        DRAWDOWN_BRANCH,
      </if>
      <if test="DRAWDOWN_NO != null and DRAWDOWN_NO != emptyBigDecimalValue" >
        DRAWDOWN_NO,
      </if>
      <if test="LIMIT_AMOUNT != null and LIMIT_AMOUNT != emptyBigDecimalValue" >
        LIMIT_AMOUNT,
      </if>
      <if test="LIMIT_BREACH_DATE != null" >
        LIMIT_BREACH_DATE,
      </if>
      <if test="LIMIT_BREACH_DAYS != null and LIMIT_BREACH_DAYS != emptyBigDecimalValue" >
        LIMIT_BREACH_DAYS,
      </if>
      <if test="DORMANENT_DAYS != null and DORMANENT_DAYS != emptyBigDecimalValue" >
        DORMANENT_DAYS,
      </if>
      <if test="LAST_TRX_DATE != null" >
        LAST_TRX_DATE,
      </if>
      <if test="MATURITY_DATE != null" >
        MATURITY_DATE,
      </if>
      <if test="UNEARNED_INCOME_AMT != null and UNEARNED_INCOME_AMT != emptyBigDecimalValue" >
        UNEARNED_INCOME_AMT,
      </if>
      <if test="FIR_AMOUNT != null and FIR_AMOUNT != emptyBigDecimalValue" >
        FIR_AMOUNT,
      </if>
      <if test="OD_BRANCH_CODE != null and OD_BRANCH_CODE != emptyBigDecimalValue" >
        OD_BRANCH_CODE,
      </if>
      <if test="OD_CURRENCY_CODE != null and OD_CURRENCY_CODE != emptyBigDecimalValue" >
        OD_CURRENCY_CODE,
      </if>
      <if test="OD_GL_CODE != null and OD_GL_CODE != emptyBigDecimalValue" >
        OD_GL_CODE,
      </if>
      <if test="OD_CIF_SUB_NO != null and OD_CIF_SUB_NO != emptyBigDecimalValue" >
        OD_CIF_SUB_NO,
      </if>
      <if test="OD_SL_NO != null and OD_SL_NO != emptyBigDecimalValue" >
        OD_SL_NO,
      </if>
      <if test="OWINGS_BRANCH_CODE != null and OWINGS_BRANCH_CODE != emptyBigDecimalValue" >
        OWINGS_BRANCH_CODE,
      </if>
      <if test="OWINGS_CURRENCY_CODE != null and OWINGS_CURRENCY_CODE != emptyBigDecimalValue" >
        OWINGS_CURRENCY_CODE,
      </if>
      <if test="OWINGS_GL_CODE != null and OWINGS_GL_CODE != emptyBigDecimalValue" >
        OWINGS_GL_CODE,
      </if>
      <if test="OWINGS_CIF_SUB_NO != null and OWINGS_CIF_SUB_NO != emptyBigDecimalValue" >
        OWINGS_CIF_SUB_NO,
      </if>
      <if test="OWINGS_SL_NO != null and OWINGS_SL_NO != emptyBigDecimalValue" >
        OWINGS_SL_NO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="AC_NO != null" >
        #{AC_NO},
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="PRODUCT_TYPE_CODE != null and PRODUCT_TYPE_CODE != emptyBigDecimalValue" >
        #{PRODUCT_TYPE_CODE},
      </if>
      <if test="PROV_BRANCH_CODE != null and PROV_BRANCH_CODE != emptyBigDecimalValue" >
        #{PROV_BRANCH_CODE},
      </if>
      <if test="CIF != null and CIF != emptyBigDecimalValue" >
        #{CIF},
      </if>
      <if test="AC_STATUS != null" >
        #{AC_STATUS},
      </if>
      <if test="CLASSIFY_STATUS != null" >
        #{CLASSIFY_STATUS},
      </if>
      <if test="CATEGORY_CODE != null and CATEGORY_CODE != emptyBigDecimalValue" >
        #{CATEGORY_CODE},
      </if>
      <if test="CATEGORY_CODE2 != null and CATEGORY_CODE2 != emptyBigDecimalValue" >
        #{CATEGORY_CODE2},
      </if>
      <if test="CATEGORY_CODE_USER != null and CATEGORY_CODE_USER != emptyBigDecimalValue" >
        #{CATEGORY_CODE_USER},
      </if>
      <if test="CATEGORY_ORDER != null and CATEGORY_ORDER != emptyBigDecimalValue" >
        #{CATEGORY_ORDER},
      </if>
      <if test="DUE_DAYS != null and DUE_DAYS != emptyBigDecimalValue" >
        #{DUE_DAYS},
      </if>
      <if test="PROVISION_AMT != null and PROVISION_AMT != emptyBigDecimalValue" >
        #{PROVISION_AMT},
      </if>
      <if test="PROV_PERCENTAGE_SYS != null and PROV_PERCENTAGE_SYS != emptyBigDecimalValue" >
        #{PROV_PERCENTAGE_SYS},
      </if>
      <if test="PROV_PERCENTAGE_SYS2 != null and PROV_PERCENTAGE_SYS2 != emptyBigDecimalValue" >
        #{PROV_PERCENTAGE_SYS2},
      </if>
      <if test="PROV_PERCENTAGE_USER != null and PROV_PERCENTAGE_USER != emptyBigDecimalValue" >
        #{PROV_PERCENTAGE_USER},
      </if>
      <if test="OUTSTANDING != null and OUTSTANDING != emptyBigDecimalValue" >
        #{OUTSTANDING},
      </if>
      <if test="OUTSTANDING_CV != null and OUTSTANDING_CV != emptyBigDecimalValue" >
        #{OUTSTANDING_CV},
      </if>
      <if test="DUE_DATE != null" >
        #{DUE_DATE},
      </if>
      <if test="LAST_PROCESS_DATE != null" >
        #{LAST_PROCESS_DATE},
      </if>
      <if test="SERVER_DATE != null" >
        #{SERVER_DATE},
      </if>
      <if test="PROVISION_AMENDED_YN != null" >
        #{PROVISION_AMENDED_YN},
      </if>
      <if test="DEPT != null and DEPT != emptyBigDecimalValue" >
        #{DEPT},
      </if>
      <if test="UNIT != null and UNIT != emptyBigDecimalValue" >
        #{UNIT},
      </if>
      <if test="REL_OFFICER_ID != null and REL_OFFICER_ID != emptyBigDecimalValue" >
        #{REL_OFFICER_ID},
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        #{CURRENCY_CODE},
      </if>
      <if test="DIVISION != null and DIVISION != emptyBigDecimalValue" >
        #{DIVISION},
      </if>
      <if test="OUTSTANDING_PRINCIPAL != null and OUTSTANDING_PRINCIPAL != emptyBigDecimalValue" >
        #{OUTSTANDING_PRINCIPAL},
      </if>
      <if test="PRINCIPAL_DUE != null and PRINCIPAL_DUE != emptyBigDecimalValue" >
        #{PRINCIPAL_DUE},
      </if>
      <if test="COLLATERAL_AMOUNT != null and COLLATERAL_AMOUNT != emptyBigDecimalValue" >
        #{COLLATERAL_AMOUNT},
      </if>
      <if test="SPIIS_AMOUNT != null and SPIIS_AMOUNT != emptyBigDecimalValue" >
        #{SPIIS_AMOUNT},
      </if>
      <if test="IIS_AMOUNT != null and IIS_AMOUNT != emptyBigDecimalValue" >
        #{IIS_AMOUNT},
      </if>
      <if test="SP_IIS_WRITE_BACK_AMOUNT != null and SP_IIS_WRITE_BACK_AMOUNT != emptyBigDecimalValue" >
        #{SP_IIS_WRITE_BACK_AMOUNT},
      </if>
      <if test="IIS_WRITE_BACK_AMOUNT != null and IIS_WRITE_BACK_AMOUNT != emptyBigDecimalValue" >
        #{IIS_WRITE_BACK_AMOUNT},
      </if>
      <if test="OWINGS_OUTSTANDING != null and OWINGS_OUTSTANDING != emptyBigDecimalValue" >
        #{OWINGS_OUTSTANDING},
      </if>
      <if test="NPF_DATE != null" >
        #{NPF_DATE},
      </if>
      <if test="PRODUCT_CLASS != null and PRODUCT_CLASS != emptyBigDecimalValue" >
        #{PRODUCT_CLASS},
      </if>
      <if test="WRITE_OFF_TYPE != null and WRITE_OFF_TYPE != emptyBigDecimalValue" >
        #{WRITE_OFF_TYPE},
      </if>
      <if test="DRAWDOWN_BRANCH != null and DRAWDOWN_BRANCH != emptyBigDecimalValue" >
        #{DRAWDOWN_BRANCH},
      </if>
      <if test="DRAWDOWN_NO != null and DRAWDOWN_NO != emptyBigDecimalValue" >
        #{DRAWDOWN_NO},
      </if>
      <if test="LIMIT_AMOUNT != null and LIMIT_AMOUNT != emptyBigDecimalValue" >
        #{LIMIT_AMOUNT},
      </if>
      <if test="LIMIT_BREACH_DATE != null" >
        #{LIMIT_BREACH_DATE},
      </if>
      <if test="LIMIT_BREACH_DAYS != null and LIMIT_BREACH_DAYS != emptyBigDecimalValue" >
        #{LIMIT_BREACH_DAYS},
      </if>
      <if test="DORMANENT_DAYS != null and DORMANENT_DAYS != emptyBigDecimalValue" >
        #{DORMANENT_DAYS},
      </if>
      <if test="LAST_TRX_DATE != null" >
        #{LAST_TRX_DATE},
      </if>
      <if test="MATURITY_DATE != null" >
        #{MATURITY_DATE},
      </if>
      <if test="UNEARNED_INCOME_AMT != null and UNEARNED_INCOME_AMT != emptyBigDecimalValue" >
        #{UNEARNED_INCOME_AMT},
      </if>
      <if test="FIR_AMOUNT != null and FIR_AMOUNT != emptyBigDecimalValue" >
        #{FIR_AMOUNT},
      </if>
      <if test="OD_BRANCH_CODE != null and OD_BRANCH_CODE != emptyBigDecimalValue" >
        #{OD_BRANCH_CODE},
      </if>
      <if test="OD_CURRENCY_CODE != null and OD_CURRENCY_CODE != emptyBigDecimalValue" >
        #{OD_CURRENCY_CODE},
      </if>
      <if test="OD_GL_CODE != null and OD_GL_CODE != emptyBigDecimalValue" >
        #{OD_GL_CODE},
      </if>
      <if test="OD_CIF_SUB_NO != null and OD_CIF_SUB_NO != emptyBigDecimalValue" >
        #{OD_CIF_SUB_NO},
      </if>
      <if test="OD_SL_NO != null and OD_SL_NO != emptyBigDecimalValue" >
        #{OD_SL_NO},
      </if>
      <if test="OWINGS_BRANCH_CODE != null and OWINGS_BRANCH_CODE != emptyBigDecimalValue" >
        #{OWINGS_BRANCH_CODE},
      </if>
      <if test="OWINGS_CURRENCY_CODE != null and OWINGS_CURRENCY_CODE != emptyBigDecimalValue" >
        #{OWINGS_CURRENCY_CODE},
      </if>
      <if test="OWINGS_GL_CODE != null and OWINGS_GL_CODE != emptyBigDecimalValue" >
        #{OWINGS_GL_CODE},
      </if>
      <if test="OWINGS_CIF_SUB_NO != null and OWINGS_CIF_SUB_NO != emptyBigDecimalValue" >
        #{OWINGS_CIF_SUB_NO},
      </if>
      <if test="OWINGS_SL_NO != null and OWINGS_SL_NO != emptyBigDecimalValue" >
        #{OWINGS_SL_NO},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRS_PROV_PRODUCTS_TRX_MST" >
    update TRS_PROV_PRODUCTS_TRX_MST
    <set >
      <if test="PROV_BRANCH_CODE != null" >
        <choose >
          <when test="PROV_BRANCH_CODE == emptyBigDecimalValue" >
            PROV_BRANCH_CODE = NULL ,
          </when>
          <otherwise >
            PROV_BRANCH_CODE = #{PROV_BRANCH_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="CIF != null" >
        <choose >
          <when test="CIF == emptyBigDecimalValue" >
            CIF = NULL ,
          </when>
          <otherwise >
            CIF = #{CIF},
          </otherwise>
        </choose>
      </if>
      <if test="AC_STATUS != null" >
        AC_STATUS = #{AC_STATUS},
      </if>
      <if test="CLASSIFY_STATUS != null" >
        CLASSIFY_STATUS = #{CLASSIFY_STATUS},
      </if>
      <if test="CATEGORY_CODE != null" >
        <choose >
          <when test="CATEGORY_CODE == emptyBigDecimalValue" >
            CATEGORY_CODE = NULL ,
          </when>
          <otherwise >
            CATEGORY_CODE = #{CATEGORY_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="CATEGORY_CODE2 != null" >
        <choose >
          <when test="CATEGORY_CODE2 == emptyBigDecimalValue" >
            CATEGORY_CODE2 = NULL ,
          </when>
          <otherwise >
            CATEGORY_CODE2 = #{CATEGORY_CODE2},
          </otherwise>
        </choose>
      </if>
      <if test="CATEGORY_CODE_USER != null" >
        <choose >
          <when test="CATEGORY_CODE_USER == emptyBigDecimalValue" >
            CATEGORY_CODE_USER = NULL ,
          </when>
          <otherwise >
            CATEGORY_CODE_USER = #{CATEGORY_CODE_USER},
          </otherwise>
        </choose>
      </if>
      <if test="CATEGORY_ORDER != null" >
        <choose >
          <when test="CATEGORY_ORDER == emptyBigDecimalValue" >
            CATEGORY_ORDER = NULL ,
          </when>
          <otherwise >
            CATEGORY_ORDER = #{CATEGORY_ORDER},
          </otherwise>
        </choose>
      </if>
      <if test="DUE_DAYS != null" >
        <choose >
          <when test="DUE_DAYS == emptyBigDecimalValue" >
            DUE_DAYS = NULL ,
          </when>
          <otherwise >
            DUE_DAYS = #{DUE_DAYS},
          </otherwise>
        </choose>
      </if>
      <if test="PROVISION_AMT != null" >
        <choose >
          <when test="PROVISION_AMT == emptyBigDecimalValue" >
            PROVISION_AMT = NULL ,
          </when>
          <otherwise >
            PROVISION_AMT = #{PROVISION_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="PROV_PERCENTAGE_SYS != null" >
        <choose >
          <when test="PROV_PERCENTAGE_SYS == emptyBigDecimalValue" >
            PROV_PERCENTAGE_SYS = NULL ,
          </when>
          <otherwise >
            PROV_PERCENTAGE_SYS = #{PROV_PERCENTAGE_SYS},
          </otherwise>
        </choose>
      </if>
      <if test="PROV_PERCENTAGE_SYS2 != null" >
        <choose >
          <when test="PROV_PERCENTAGE_SYS2 == emptyBigDecimalValue" >
            PROV_PERCENTAGE_SYS2 = NULL ,
          </when>
          <otherwise >
            PROV_PERCENTAGE_SYS2 = #{PROV_PERCENTAGE_SYS2},
          </otherwise>
        </choose>
      </if>
      <if test="PROV_PERCENTAGE_USER != null" >
        <choose >
          <when test="PROV_PERCENTAGE_USER == emptyBigDecimalValue" >
            PROV_PERCENTAGE_USER = NULL ,
          </when>
          <otherwise >
            PROV_PERCENTAGE_USER = #{PROV_PERCENTAGE_USER},
          </otherwise>
        </choose>
      </if>
      <if test="OUTSTANDING != null" >
        <choose >
          <when test="OUTSTANDING == emptyBigDecimalValue" >
            OUTSTANDING = NULL ,
          </when>
          <otherwise >
            OUTSTANDING = #{OUTSTANDING},
          </otherwise>
        </choose>
      </if>
      <if test="OUTSTANDING_CV != null" >
        <choose >
          <when test="OUTSTANDING_CV == emptyBigDecimalValue" >
            OUTSTANDING_CV = NULL ,
          </when>
          <otherwise >
            OUTSTANDING_CV = #{OUTSTANDING_CV},
          </otherwise>
        </choose>
      </if>
      <if test="DUE_DATE != null" >
        DUE_DATE = #{DUE_DATE},
      </if>
      <if test="LAST_PROCESS_DATE != null" >
        LAST_PROCESS_DATE = #{LAST_PROCESS_DATE},
      </if>
      <if test="SERVER_DATE != null" >
        SERVER_DATE = #{SERVER_DATE},
      </if>
      <if test="PROVISION_AMENDED_YN != null" >
        PROVISION_AMENDED_YN = #{PROVISION_AMENDED_YN},
      </if>
      <if test="DEPT != null" >
        <choose >
          <when test="DEPT == emptyBigDecimalValue" >
            DEPT = NULL ,
          </when>
          <otherwise >
            DEPT = #{DEPT},
          </otherwise>
        </choose>
      </if>
      <if test="UNIT != null" >
        <choose >
          <when test="UNIT == emptyBigDecimalValue" >
            UNIT = NULL ,
          </when>
          <otherwise >
            UNIT = #{UNIT},
          </otherwise>
        </choose>
      </if>
      <if test="REL_OFFICER_ID != null" >
        <choose >
          <when test="REL_OFFICER_ID == emptyBigDecimalValue" >
            REL_OFFICER_ID = NULL ,
          </when>
          <otherwise >
            REL_OFFICER_ID = #{REL_OFFICER_ID},
          </otherwise>
        </choose>
      </if>
      <if test="CURRENCY_CODE != null" >
        <choose >
          <when test="CURRENCY_CODE == emptyBigDecimalValue" >
            CURRENCY_CODE = NULL ,
          </when>
          <otherwise >
            CURRENCY_CODE = #{CURRENCY_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="DIVISION != null" >
        <choose >
          <when test="DIVISION == emptyBigDecimalValue" >
            DIVISION = NULL ,
          </when>
          <otherwise >
            DIVISION = #{DIVISION},
          </otherwise>
        </choose>
      </if>
      <if test="OUTSTANDING_PRINCIPAL != null" >
        <choose >
          <when test="OUTSTANDING_PRINCIPAL == emptyBigDecimalValue" >
            OUTSTANDING_PRINCIPAL = NULL ,
          </when>
          <otherwise >
            OUTSTANDING_PRINCIPAL = #{OUTSTANDING_PRINCIPAL},
          </otherwise>
        </choose>
      </if>
      <if test="PRINCIPAL_DUE != null" >
        <choose >
          <when test="PRINCIPAL_DUE == emptyBigDecimalValue" >
            PRINCIPAL_DUE = NULL ,
          </when>
          <otherwise >
            PRINCIPAL_DUE = #{PRINCIPAL_DUE},
          </otherwise>
        </choose>
      </if>
      <if test="COLLATERAL_AMOUNT != null" >
        <choose >
          <when test="COLLATERAL_AMOUNT == emptyBigDecimalValue" >
            COLLATERAL_AMOUNT = NULL ,
          </when>
          <otherwise >
            COLLATERAL_AMOUNT = #{COLLATERAL_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="SPIIS_AMOUNT != null" >
        <choose >
          <when test="SPIIS_AMOUNT == emptyBigDecimalValue" >
            SPIIS_AMOUNT = NULL ,
          </when>
          <otherwise >
            SPIIS_AMOUNT = #{SPIIS_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="IIS_AMOUNT != null" >
        <choose >
          <when test="IIS_AMOUNT == emptyBigDecimalValue" >
            IIS_AMOUNT = NULL ,
          </when>
          <otherwise >
            IIS_AMOUNT = #{IIS_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="SP_IIS_WRITE_BACK_AMOUNT != null" >
        <choose >
          <when test="SP_IIS_WRITE_BACK_AMOUNT == emptyBigDecimalValue" >
            SP_IIS_WRITE_BACK_AMOUNT = NULL ,
          </when>
          <otherwise >
            SP_IIS_WRITE_BACK_AMOUNT = #{SP_IIS_WRITE_BACK_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="IIS_WRITE_BACK_AMOUNT != null" >
        <choose >
          <when test="IIS_WRITE_BACK_AMOUNT == emptyBigDecimalValue" >
            IIS_WRITE_BACK_AMOUNT = NULL ,
          </when>
          <otherwise >
            IIS_WRITE_BACK_AMOUNT = #{IIS_WRITE_BACK_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="OWINGS_OUTSTANDING != null" >
        <choose >
          <when test="OWINGS_OUTSTANDING == emptyBigDecimalValue" >
            OWINGS_OUTSTANDING = NULL ,
          </when>
          <otherwise >
            OWINGS_OUTSTANDING = #{OWINGS_OUTSTANDING},
          </otherwise>
        </choose>
      </if>
      <if test="NPF_DATE != null" >
        NPF_DATE = #{NPF_DATE},
      </if>
      <if test="PRODUCT_CLASS != null" >
        <choose >
          <when test="PRODUCT_CLASS == emptyBigDecimalValue" >
            PRODUCT_CLASS = NULL ,
          </when>
          <otherwise >
            PRODUCT_CLASS = #{PRODUCT_CLASS},
          </otherwise>
        </choose>
      </if>
      <if test="WRITE_OFF_TYPE != null" >
        <choose >
          <when test="WRITE_OFF_TYPE == emptyBigDecimalValue" >
            WRITE_OFF_TYPE = NULL ,
          </when>
          <otherwise >
            WRITE_OFF_TYPE = #{WRITE_OFF_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="DRAWDOWN_BRANCH != null" >
        <choose >
          <when test="DRAWDOWN_BRANCH == emptyBigDecimalValue" >
            DRAWDOWN_BRANCH = NULL ,
          </when>
          <otherwise >
            DRAWDOWN_BRANCH = #{DRAWDOWN_BRANCH},
          </otherwise>
        </choose>
      </if>
      <if test="DRAWDOWN_NO != null" >
        <choose >
          <when test="DRAWDOWN_NO == emptyBigDecimalValue" >
            DRAWDOWN_NO = NULL ,
          </when>
          <otherwise >
            DRAWDOWN_NO = #{DRAWDOWN_NO},
          </otherwise>
        </choose>
      </if>
      <if test="LIMIT_AMOUNT != null" >
        <choose >
          <when test="LIMIT_AMOUNT == emptyBigDecimalValue" >
            LIMIT_AMOUNT = NULL ,
          </when>
          <otherwise >
            LIMIT_AMOUNT = #{LIMIT_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="LIMIT_BREACH_DATE != null" >
        LIMIT_BREACH_DATE = #{LIMIT_BREACH_DATE},
      </if>
      <if test="LIMIT_BREACH_DAYS != null" >
        <choose >
          <when test="LIMIT_BREACH_DAYS == emptyBigDecimalValue" >
            LIMIT_BREACH_DAYS = NULL ,
          </when>
          <otherwise >
            LIMIT_BREACH_DAYS = #{LIMIT_BREACH_DAYS},
          </otherwise>
        </choose>
      </if>
      <if test="DORMANENT_DAYS != null" >
        <choose >
          <when test="DORMANENT_DAYS == emptyBigDecimalValue" >
            DORMANENT_DAYS = NULL ,
          </when>
          <otherwise >
            DORMANENT_DAYS = #{DORMANENT_DAYS},
          </otherwise>
        </choose>
      </if>
      <if test="LAST_TRX_DATE != null" >
        LAST_TRX_DATE = #{LAST_TRX_DATE},
      </if>
      <if test="MATURITY_DATE != null" >
        MATURITY_DATE = #{MATURITY_DATE},
      </if>
      <if test="UNEARNED_INCOME_AMT != null" >
        <choose >
          <when test="UNEARNED_INCOME_AMT == emptyBigDecimalValue" >
            UNEARNED_INCOME_AMT = NULL ,
          </when>
          <otherwise >
            UNEARNED_INCOME_AMT = #{UNEARNED_INCOME_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="FIR_AMOUNT != null" >
        <choose >
          <when test="FIR_AMOUNT == emptyBigDecimalValue" >
            FIR_AMOUNT = NULL ,
          </when>
          <otherwise >
            FIR_AMOUNT = #{FIR_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="OD_BRANCH_CODE != null" >
        <choose >
          <when test="OD_BRANCH_CODE == emptyBigDecimalValue" >
            OD_BRANCH_CODE = NULL ,
          </when>
          <otherwise >
            OD_BRANCH_CODE = #{OD_BRANCH_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="OD_CURRENCY_CODE != null" >
        <choose >
          <when test="OD_CURRENCY_CODE == emptyBigDecimalValue" >
            OD_CURRENCY_CODE = NULL ,
          </when>
          <otherwise >
            OD_CURRENCY_CODE = #{OD_CURRENCY_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="OD_GL_CODE != null" >
        <choose >
          <when test="OD_GL_CODE == emptyBigDecimalValue" >
            OD_GL_CODE = NULL ,
          </when>
          <otherwise >
            OD_GL_CODE = #{OD_GL_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="OD_CIF_SUB_NO != null" >
        <choose >
          <when test="OD_CIF_SUB_NO == emptyBigDecimalValue" >
            OD_CIF_SUB_NO = NULL ,
          </when>
          <otherwise >
            OD_CIF_SUB_NO = #{OD_CIF_SUB_NO},
          </otherwise>
        </choose>
      </if>
      <if test="OD_SL_NO != null" >
        <choose >
          <when test="OD_SL_NO == emptyBigDecimalValue" >
            OD_SL_NO = NULL ,
          </when>
          <otherwise >
            OD_SL_NO = #{OD_SL_NO},
          </otherwise>
        </choose>
      </if>
      <if test="OWINGS_BRANCH_CODE != null" >
        <choose >
          <when test="OWINGS_BRANCH_CODE == emptyBigDecimalValue" >
            OWINGS_BRANCH_CODE = NULL ,
          </when>
          <otherwise >
            OWINGS_BRANCH_CODE = #{OWINGS_BRANCH_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="OWINGS_CURRENCY_CODE != null" >
        <choose >
          <when test="OWINGS_CURRENCY_CODE == emptyBigDecimalValue" >
            OWINGS_CURRENCY_CODE = NULL ,
          </when>
          <otherwise >
            OWINGS_CURRENCY_CODE = #{OWINGS_CURRENCY_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="OWINGS_GL_CODE != null" >
        <choose >
          <when test="OWINGS_GL_CODE == emptyBigDecimalValue" >
            OWINGS_GL_CODE = NULL ,
          </when>
          <otherwise >
            OWINGS_GL_CODE = #{OWINGS_GL_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="OWINGS_CIF_SUB_NO != null" >
        <choose >
          <when test="OWINGS_CIF_SUB_NO == emptyBigDecimalValue" >
            OWINGS_CIF_SUB_NO = NULL ,
          </when>
          <otherwise >
            OWINGS_CIF_SUB_NO = #{OWINGS_CIF_SUB_NO},
          </otherwise>
        </choose>
      </if>
      <if test="OWINGS_SL_NO != null" >
        <choose >
          <when test="OWINGS_SL_NO == emptyBigDecimalValue" >
            OWINGS_SL_NO = NULL ,
          </when>
          <otherwise >
            OWINGS_SL_NO = #{OWINGS_SL_NO},
          </otherwise>
        </choose>
      </if>
    </set>
    where AC_NO = #{AC_NO}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and PRODUCT_TYPE_CODE = #{PRODUCT_TYPE_CODE}
  </sql>
  <update id="updateTRS_PROV_PRODUCTS_TRX_MST" parameterType="com.path.dbmaps.vo.TRS_PROV_PRODUCTS_TRX_MSTVO" >
    <include refid="sql_updateTRS_PROV_PRODUCTS_TRX_MST" />
  </update>
</mapper>