<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRS_MANUAL_CLASSIFY_OD_ACC" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRS_MANUAL_CLASSIFY_OD_ACCVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NO" property="LINE_NO" />
    <id column="TRS_NO" property="TRS_NO" />
    <result column="ACC_BRANCH_CODE" property="ACC_BRANCH_CODE" />
    <result column="ACC_CURRENCY_CODE" property="ACC_CURRENCY_CODE" />
    <result column="ACC_GL_CODE" property="ACC_GL_CODE" />
    <result column="ACC_CIF_SUB_NO" property="ACC_CIF_SUB_NO" />
    <result column="ACC_SL" property="ACC_SL" />
    <result column="BALANCE_SIGN" property="BALANCE_SIGN" />
    <result column="OUTSTANDING_AMOUNT" property="OUTSTANDING_AMOUNT" />
    <result column="OUTSTANDING_AMOUNT_CV" property="OUTSTANDING_AMOUNT_CV" />
    <result column="BLOCKED_AMOUNT" property="BLOCKED_AMOUNT" />
    <result column="BLOCKED_AMOUNT_CV" property="BLOCKED_AMOUNT_CV" />
    <result column="SELECT_YN" property="SELECT_YN" />
    <result column="CTS_TRS_NO" property="CTS_TRS_NO" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, LINE_NO, TRS_NO, ACC_BRANCH_CODE, ACC_CURRENCY_CODE, ACC_GL_CODE, 
    ACC_CIF_SUB_NO, ACC_SL, BALANCE_SIGN, OUTSTANDING_AMOUNT, OUTSTANDING_AMOUNT_CV, 
    BLOCKED_AMOUNT, BLOCKED_AMOUNT_CV, SELECT_YN, CTS_TRS_NO
  </sql>
  <select id="selectTRS_MANUAL_CLASSIFY_OD_ACC" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRS_MANUAL_CLASSIFY_OD_ACCVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRS_MANUAL_CLASSIFY_OD_ACC
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and TRS_NO = #{TRS_NO}
  </select>
  <delete id="deleteTRS_MANUAL_CLASSIFY_OD_ACC" parameterType="com.path.dbmaps.vo.TRS_MANUAL_CLASSIFY_OD_ACCVOKey" >
    delete from TRS_MANUAL_CLASSIFY_OD_ACC
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and TRS_NO = #{TRS_NO}
  </delete>
  <insert id="insertTRS_MANUAL_CLASSIFY_OD_ACC" parameterType="com.path.dbmaps.vo.TRS_MANUAL_CLASSIFY_OD_ACCVO" >
    insert into TRS_MANUAL_CLASSIFY_OD_ACC
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="TRS_NO != null and TRS_NO != emptyBigDecimalValue" >
        TRS_NO,
      </if>
      <if test="ACC_BRANCH_CODE != null and ACC_BRANCH_CODE != emptyBigDecimalValue" >
        ACC_BRANCH_CODE,
      </if>
      <if test="ACC_CURRENCY_CODE != null and ACC_CURRENCY_CODE != emptyBigDecimalValue" >
        ACC_CURRENCY_CODE,
      </if>
      <if test="ACC_GL_CODE != null and ACC_GL_CODE != emptyBigDecimalValue" >
        ACC_GL_CODE,
      </if>
      <if test="ACC_CIF_SUB_NO != null and ACC_CIF_SUB_NO != emptyBigDecimalValue" >
        ACC_CIF_SUB_NO,
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        ACC_SL,
      </if>
      <if test="BALANCE_SIGN != null" >
        BALANCE_SIGN,
      </if>
      <if test="OUTSTANDING_AMOUNT != null and OUTSTANDING_AMOUNT != emptyBigDecimalValue" >
        OUTSTANDING_AMOUNT,
      </if>
      <if test="OUTSTANDING_AMOUNT_CV != null and OUTSTANDING_AMOUNT_CV != emptyBigDecimalValue" >
        OUTSTANDING_AMOUNT_CV,
      </if>
      <if test="BLOCKED_AMOUNT != null and BLOCKED_AMOUNT != emptyBigDecimalValue" >
        BLOCKED_AMOUNT,
      </if>
      <if test="BLOCKED_AMOUNT_CV != null and BLOCKED_AMOUNT_CV != emptyBigDecimalValue" >
        BLOCKED_AMOUNT_CV,
      </if>
      <if test="SELECT_YN != null" >
        SELECT_YN,
      </if>
      <if test="CTS_TRS_NO != null and CTS_TRS_NO != emptyBigDecimalValue" >
        CTS_TRS_NO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="TRS_NO != null and TRS_NO != emptyBigDecimalValue" >
        #{TRS_NO},
      </if>
      <if test="ACC_BRANCH_CODE != null and ACC_BRANCH_CODE != emptyBigDecimalValue" >
        #{ACC_BRANCH_CODE},
      </if>
      <if test="ACC_CURRENCY_CODE != null and ACC_CURRENCY_CODE != emptyBigDecimalValue" >
        #{ACC_CURRENCY_CODE},
      </if>
      <if test="ACC_GL_CODE != null and ACC_GL_CODE != emptyBigDecimalValue" >
        #{ACC_GL_CODE},
      </if>
      <if test="ACC_CIF_SUB_NO != null and ACC_CIF_SUB_NO != emptyBigDecimalValue" >
        #{ACC_CIF_SUB_NO},
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        #{ACC_SL},
      </if>
      <if test="BALANCE_SIGN != null" >
        #{BALANCE_SIGN},
      </if>
      <if test="OUTSTANDING_AMOUNT != null and OUTSTANDING_AMOUNT != emptyBigDecimalValue" >
        #{OUTSTANDING_AMOUNT},
      </if>
      <if test="OUTSTANDING_AMOUNT_CV != null and OUTSTANDING_AMOUNT_CV != emptyBigDecimalValue" >
        #{OUTSTANDING_AMOUNT_CV},
      </if>
      <if test="BLOCKED_AMOUNT != null and BLOCKED_AMOUNT != emptyBigDecimalValue" >
        #{BLOCKED_AMOUNT},
      </if>
      <if test="BLOCKED_AMOUNT_CV != null and BLOCKED_AMOUNT_CV != emptyBigDecimalValue" >
        #{BLOCKED_AMOUNT_CV},
      </if>
      <if test="SELECT_YN != null" >
        #{SELECT_YN},
      </if>
      <if test="CTS_TRS_NO != null and CTS_TRS_NO != emptyBigDecimalValue" >
        #{CTS_TRS_NO},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRS_MANUAL_CLASSIFY_OD_ACC" >
    update TRS_MANUAL_CLASSIFY_OD_ACC
    <set >
      <if test="ACC_BRANCH_CODE != null" >
        <choose >
          <when test="ACC_BRANCH_CODE == emptyBigDecimalValue" >
            ACC_BRANCH_CODE = NULL ,
          </when>
          <otherwise >
            ACC_BRANCH_CODE = #{ACC_BRANCH_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CURRENCY_CODE != null" >
        <choose >
          <when test="ACC_CURRENCY_CODE == emptyBigDecimalValue" >
            ACC_CURRENCY_CODE = NULL ,
          </when>
          <otherwise >
            ACC_CURRENCY_CODE = #{ACC_CURRENCY_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_GL_CODE != null" >
        <choose >
          <when test="ACC_GL_CODE == emptyBigDecimalValue" >
            ACC_GL_CODE = NULL ,
          </when>
          <otherwise >
            ACC_GL_CODE = #{ACC_GL_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CIF_SUB_NO != null" >
        <choose >
          <when test="ACC_CIF_SUB_NO == emptyBigDecimalValue" >
            ACC_CIF_SUB_NO = NULL ,
          </when>
          <otherwise >
            ACC_CIF_SUB_NO = #{ACC_CIF_SUB_NO},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_SL != null" >
        <choose >
          <when test="ACC_SL == emptyBigDecimalValue" >
            ACC_SL = NULL ,
          </when>
          <otherwise >
            ACC_SL = #{ACC_SL},
          </otherwise>
        </choose>
      </if>
      <if test="BALANCE_SIGN != null" >
        BALANCE_SIGN = #{BALANCE_SIGN},
      </if>
      <if test="OUTSTANDING_AMOUNT != null" >
        <choose >
          <when test="OUTSTANDING_AMOUNT == emptyBigDecimalValue" >
            OUTSTANDING_AMOUNT = NULL ,
          </when>
          <otherwise >
            OUTSTANDING_AMOUNT = #{OUTSTANDING_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="OUTSTANDING_AMOUNT_CV != null" >
        <choose >
          <when test="OUTSTANDING_AMOUNT_CV == emptyBigDecimalValue" >
            OUTSTANDING_AMOUNT_CV = NULL ,
          </when>
          <otherwise >
            OUTSTANDING_AMOUNT_CV = #{OUTSTANDING_AMOUNT_CV},
          </otherwise>
        </choose>
      </if>
      <if test="BLOCKED_AMOUNT != null" >
        <choose >
          <when test="BLOCKED_AMOUNT == emptyBigDecimalValue" >
            BLOCKED_AMOUNT = NULL ,
          </when>
          <otherwise >
            BLOCKED_AMOUNT = #{BLOCKED_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="BLOCKED_AMOUNT_CV != null" >
        <choose >
          <when test="BLOCKED_AMOUNT_CV == emptyBigDecimalValue" >
            BLOCKED_AMOUNT_CV = NULL ,
          </when>
          <otherwise >
            BLOCKED_AMOUNT_CV = #{BLOCKED_AMOUNT_CV},
          </otherwise>
        </choose>
      </if>
      <if test="SELECT_YN != null" >
        SELECT_YN = #{SELECT_YN},
      </if>
      <if test="CTS_TRS_NO != null" >
        <choose >
          <when test="CTS_TRS_NO == emptyBigDecimalValue" >
            CTS_TRS_NO = NULL ,
          </when>
          <otherwise >
            CTS_TRS_NO = #{CTS_TRS_NO},
          </otherwise>
        </choose>
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and TRS_NO = #{TRS_NO}
  </sql>
  <update id="updateTRS_MANUAL_CLASSIFY_OD_ACC" parameterType="com.path.dbmaps.vo.TRS_MANUAL_CLASSIFY_OD_ACCVO" >
    <include refid="sql_updateTRS_MANUAL_CLASSIFY_OD_ACC" />
  </update>
</mapper>