<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRS_PROVISION_CIF_TRX" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRS_PROVISION_CIF_TRXVO" >
    <id column="CIF_NO" property="CIF_NO" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <result column="STOP_PAYMENT_DATE" property="STOP_PAYMENT_DATE" />
    <result column="STOP_PAYMENT_RESET_FLAG" property="STOP_PAYMENT_RESET_FLAG" />
    <result column="CIF_SUB_CLASS_RESET_FLAG" property="CIF_SUB_CLASS_RESET_FLAG" />
    <result column="RECLASSIFY_PROV_CLASS" property="RECLASSIFY_PROV_CLASS" />
    <result column="RECLASSIFY_CATEGORY" property="RECLASSIFY_CATEGORY" />
    <result column="FACILITY_EXPIRY_DATE" property="FACILITY_EXPIRY_DATE" />
    <result column="PROVISION_AMOUNT" property="PROVISION_AMOUNT" />
    <result column="STATUS" property="STATUS" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="DATE_CREATED" property="DATE_CREATED" />
    <result column="SERVER_CREATED_DATE" property="SERVER_CREATED_DATE" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="DATE_MODIFIED" property="DATE_MODIFIED" />
    <result column="SERVER_MODIFIED_DATE" property="SERVER_MODIFIED_DATE" />
    <result column="FACILITY_DUE_DAYS" property="FACILITY_DUE_DAYS" />
    <result column="FACILITY_BRANCH" property="FACILITY_BRANCH" />
    <result column="FACILITY_NO" property="FACILITY_NO" />
    <result column="FACILITY_PROV_CLASS" property="FACILITY_PROV_CLASS" />
    <result column="FACILITY_CATEGORY" property="FACILITY_CATEGORY" />
    <result column="RISK_TYPE" property="RISK_TYPE" />
    <result column="APPROVED_BY" property="APPROVED_BY" />
    <result column="DATE_APPROVED" property="DATE_APPROVED" />
    <result column="SERVER_APPROVED_DATE" property="SERVER_APPROVED_DATE" />
    <result column="CATEGORY_CODE" property="CATEGORY_CODE" />
    <result column="RECLASSIFY_DUE_DAYS" property="RECLASSIFY_DUE_DAYS" />
    <result column="CLASSIFICATION_METHOD" property="CLASSIFICATION_METHOD" />
    <result column="ORIGINAL_CATEGORY_CODE" property="ORIGINAL_CATEGORY_CODE" />
    <result column="STOP_PAYMENT_UPDATED_FROM" property="STOP_PAYMENT_UPDATED_FROM" />
  </resultMap>
  <sql id="Base_Column_List" >
    CIF_NO, COMP_CODE, STOP_PAYMENT_DATE, STOP_PAYMENT_RESET_FLAG, CIF_SUB_CLASS_RESET_FLAG, 
    RECLASSIFY_PROV_CLASS, RECLASSIFY_CATEGORY, FACILITY_EXPIRY_DATE, PROVISION_AMOUNT, 
    STATUS, CREATED_BY, DATE_CREATED, SERVER_CREATED_DATE, MODIFIED_BY, DATE_MODIFIED, 
    SERVER_MODIFIED_DATE, FACILITY_DUE_DAYS, FACILITY_BRANCH, FACILITY_NO, FACILITY_PROV_CLASS, 
    FACILITY_CATEGORY, RISK_TYPE, APPROVED_BY, DATE_APPROVED, SERVER_APPROVED_DATE, CATEGORY_CODE, 
    RECLASSIFY_DUE_DAYS, CLASSIFICATION_METHOD, ORIGINAL_CATEGORY_CODE, STOP_PAYMENT_UPDATED_FROM
  </sql>
  <select id="selectTRS_PROVISION_CIF_TRX" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRS_PROVISION_CIF_TRXVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRS_PROVISION_CIF_TRX
    where CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
  </select>
  <delete id="deleteTRS_PROVISION_CIF_TRX" parameterType="com.path.dbmaps.vo.TRS_PROVISION_CIF_TRXVOKey" >
    delete from TRS_PROVISION_CIF_TRX
    where CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
  </delete>
  <insert id="insertTRS_PROVISION_CIF_TRX" parameterType="com.path.dbmaps.vo.TRS_PROVISION_CIF_TRXVO" >
    insert into TRS_PROVISION_CIF_TRX
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        CIF_NO,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="STOP_PAYMENT_DATE != null" >
        STOP_PAYMENT_DATE,
      </if>
      <if test="STOP_PAYMENT_RESET_FLAG != null" >
        STOP_PAYMENT_RESET_FLAG,
      </if>
      <if test="CIF_SUB_CLASS_RESET_FLAG != null" >
        CIF_SUB_CLASS_RESET_FLAG,
      </if>
      <if test="RECLASSIFY_PROV_CLASS != null and RECLASSIFY_PROV_CLASS != emptyBigDecimalValue" >
        RECLASSIFY_PROV_CLASS,
      </if>
      <if test="RECLASSIFY_CATEGORY != null and RECLASSIFY_CATEGORY != emptyBigDecimalValue" >
        RECLASSIFY_CATEGORY,
      </if>
      <if test="FACILITY_EXPIRY_DATE != null" >
        FACILITY_EXPIRY_DATE,
      </if>
      <if test="PROVISION_AMOUNT != null and PROVISION_AMOUNT != emptyBigDecimalValue" >
        PROVISION_AMOUNT,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED,
      </if>
      <if test="SERVER_CREATED_DATE != null" >
        SERVER_CREATED_DATE,
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY,
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED,
      </if>
      <if test="SERVER_MODIFIED_DATE != null" >
        SERVER_MODIFIED_DATE,
      </if>
      <if test="FACILITY_DUE_DAYS != null and FACILITY_DUE_DAYS != emptyBigDecimalValue" >
        FACILITY_DUE_DAYS,
      </if>
      <if test="FACILITY_BRANCH != null and FACILITY_BRANCH != emptyBigDecimalValue" >
        FACILITY_BRANCH,
      </if>
      <if test="FACILITY_NO != null and FACILITY_NO != emptyBigDecimalValue" >
        FACILITY_NO,
      </if>
      <if test="FACILITY_PROV_CLASS != null and FACILITY_PROV_CLASS != emptyBigDecimalValue" >
        FACILITY_PROV_CLASS,
      </if>
      <if test="FACILITY_CATEGORY != null and FACILITY_CATEGORY != emptyBigDecimalValue" >
        FACILITY_CATEGORY,
      </if>
      <if test="RISK_TYPE != null" >
        RISK_TYPE,
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY,
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED,
      </if>
      <if test="SERVER_APPROVED_DATE != null" >
        SERVER_APPROVED_DATE,
      </if>
      <if test="CATEGORY_CODE != null and CATEGORY_CODE != emptyBigDecimalValue" >
        CATEGORY_CODE,
      </if>
      <if test="RECLASSIFY_DUE_DAYS != null and RECLASSIFY_DUE_DAYS != emptyBigDecimalValue" >
        RECLASSIFY_DUE_DAYS,
      </if>
      <if test="CLASSIFICATION_METHOD != null" >
        CLASSIFICATION_METHOD,
      </if>
      <if test="ORIGINAL_CATEGORY_CODE != null and ORIGINAL_CATEGORY_CODE != emptyBigDecimalValue" >
        ORIGINAL_CATEGORY_CODE,
      </if>
      <if test="STOP_PAYMENT_UPDATED_FROM != null" >
        STOP_PAYMENT_UPDATED_FROM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        #{CIF_NO},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="STOP_PAYMENT_DATE != null" >
        #{STOP_PAYMENT_DATE},
      </if>
      <if test="STOP_PAYMENT_RESET_FLAG != null" >
        #{STOP_PAYMENT_RESET_FLAG},
      </if>
      <if test="CIF_SUB_CLASS_RESET_FLAG != null" >
        #{CIF_SUB_CLASS_RESET_FLAG},
      </if>
      <if test="RECLASSIFY_PROV_CLASS != null and RECLASSIFY_PROV_CLASS != emptyBigDecimalValue" >
        #{RECLASSIFY_PROV_CLASS},
      </if>
      <if test="RECLASSIFY_CATEGORY != null and RECLASSIFY_CATEGORY != emptyBigDecimalValue" >
        #{RECLASSIFY_CATEGORY},
      </if>
      <if test="FACILITY_EXPIRY_DATE != null" >
        #{FACILITY_EXPIRY_DATE},
      </if>
      <if test="PROVISION_AMOUNT != null and PROVISION_AMOUNT != emptyBigDecimalValue" >
        #{PROVISION_AMOUNT},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="DATE_CREATED != null" >
        #{DATE_CREATED},
      </if>
      <if test="SERVER_CREATED_DATE != null" >
        #{SERVER_CREATED_DATE},
      </if>
      <if test="MODIFIED_BY != null" >
        #{MODIFIED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        #{DATE_MODIFIED},
      </if>
      <if test="SERVER_MODIFIED_DATE != null" >
        #{SERVER_MODIFIED_DATE},
      </if>
      <if test="FACILITY_DUE_DAYS != null and FACILITY_DUE_DAYS != emptyBigDecimalValue" >
        #{FACILITY_DUE_DAYS},
      </if>
      <if test="FACILITY_BRANCH != null and FACILITY_BRANCH != emptyBigDecimalValue" >
        #{FACILITY_BRANCH},
      </if>
      <if test="FACILITY_NO != null and FACILITY_NO != emptyBigDecimalValue" >
        #{FACILITY_NO},
      </if>
      <if test="FACILITY_PROV_CLASS != null and FACILITY_PROV_CLASS != emptyBigDecimalValue" >
        #{FACILITY_PROV_CLASS},
      </if>
      <if test="FACILITY_CATEGORY != null and FACILITY_CATEGORY != emptyBigDecimalValue" >
        #{FACILITY_CATEGORY},
      </if>
      <if test="RISK_TYPE != null" >
        #{RISK_TYPE},
      </if>
      <if test="APPROVED_BY != null" >
        #{APPROVED_BY},
      </if>
      <if test="DATE_APPROVED != null" >
        #{DATE_APPROVED},
      </if>
      <if test="SERVER_APPROVED_DATE != null" >
        #{SERVER_APPROVED_DATE},
      </if>
      <if test="CATEGORY_CODE != null and CATEGORY_CODE != emptyBigDecimalValue" >
        #{CATEGORY_CODE},
      </if>
      <if test="RECLASSIFY_DUE_DAYS != null and RECLASSIFY_DUE_DAYS != emptyBigDecimalValue" >
        #{RECLASSIFY_DUE_DAYS},
      </if>
      <if test="CLASSIFICATION_METHOD != null" >
        #{CLASSIFICATION_METHOD},
      </if>
      <if test="ORIGINAL_CATEGORY_CODE != null and ORIGINAL_CATEGORY_CODE != emptyBigDecimalValue" >
        #{ORIGINAL_CATEGORY_CODE},
      </if>
      <if test="STOP_PAYMENT_UPDATED_FROM != null" >
        #{STOP_PAYMENT_UPDATED_FROM},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRS_PROVISION_CIF_TRX" >
    update TRS_PROVISION_CIF_TRX
    <set >
      <if test="STOP_PAYMENT_DATE != null" >
        STOP_PAYMENT_DATE = #{STOP_PAYMENT_DATE},
      </if>
      <if test="STOP_PAYMENT_RESET_FLAG != null" >
        STOP_PAYMENT_RESET_FLAG = #{STOP_PAYMENT_RESET_FLAG},
      </if>
      <if test="CIF_SUB_CLASS_RESET_FLAG != null" >
        CIF_SUB_CLASS_RESET_FLAG = #{CIF_SUB_CLASS_RESET_FLAG},
      </if>
      <if test="RECLASSIFY_PROV_CLASS != null" >
        <choose >
          <when test="RECLASSIFY_PROV_CLASS == emptyBigDecimalValue" >
            RECLASSIFY_PROV_CLASS = NULL ,
          </when>
          <otherwise >
            RECLASSIFY_PROV_CLASS = #{RECLASSIFY_PROV_CLASS},
          </otherwise>
        </choose>
      </if>
      <if test="RECLASSIFY_CATEGORY != null" >
        <choose >
          <when test="RECLASSIFY_CATEGORY == emptyBigDecimalValue" >
            RECLASSIFY_CATEGORY = NULL ,
          </when>
          <otherwise >
            RECLASSIFY_CATEGORY = #{RECLASSIFY_CATEGORY},
          </otherwise>
        </choose>
      </if>
      <if test="FACILITY_EXPIRY_DATE != null" >
        FACILITY_EXPIRY_DATE = #{FACILITY_EXPIRY_DATE},
      </if>
      <if test="PROVISION_AMOUNT != null" >
        <choose >
          <when test="PROVISION_AMOUNT == emptyBigDecimalValue" >
            PROVISION_AMOUNT = NULL ,
          </when>
          <otherwise >
            PROVISION_AMOUNT = #{PROVISION_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED = #{DATE_CREATED},
      </if>
      <if test="SERVER_CREATED_DATE != null" >
        SERVER_CREATED_DATE = #{SERVER_CREATED_DATE},
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY = #{MODIFIED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED = #{DATE_MODIFIED},
      </if>
      <if test="SERVER_MODIFIED_DATE != null" >
        SERVER_MODIFIED_DATE = #{SERVER_MODIFIED_DATE},
      </if>
      <if test="FACILITY_DUE_DAYS != null" >
        <choose >
          <when test="FACILITY_DUE_DAYS == emptyBigDecimalValue" >
            FACILITY_DUE_DAYS = NULL ,
          </when>
          <otherwise >
            FACILITY_DUE_DAYS = #{FACILITY_DUE_DAYS},
          </otherwise>
        </choose>
      </if>
      <if test="FACILITY_BRANCH != null" >
        <choose >
          <when test="FACILITY_BRANCH == emptyBigDecimalValue" >
            FACILITY_BRANCH = NULL ,
          </when>
          <otherwise >
            FACILITY_BRANCH = #{FACILITY_BRANCH},
          </otherwise>
        </choose>
      </if>
      <if test="FACILITY_NO != null" >
        <choose >
          <when test="FACILITY_NO == emptyBigDecimalValue" >
            FACILITY_NO = NULL ,
          </when>
          <otherwise >
            FACILITY_NO = #{FACILITY_NO},
          </otherwise>
        </choose>
      </if>
      <if test="FACILITY_PROV_CLASS != null" >
        <choose >
          <when test="FACILITY_PROV_CLASS == emptyBigDecimalValue" >
            FACILITY_PROV_CLASS = NULL ,
          </when>
          <otherwise >
            FACILITY_PROV_CLASS = #{FACILITY_PROV_CLASS},
          </otherwise>
        </choose>
      </if>
      <if test="FACILITY_CATEGORY != null" >
        <choose >
          <when test="FACILITY_CATEGORY == emptyBigDecimalValue" >
            FACILITY_CATEGORY = NULL ,
          </when>
          <otherwise >
            FACILITY_CATEGORY = #{FACILITY_CATEGORY},
          </otherwise>
        </choose>
      </if>
      <if test="RISK_TYPE != null" >
        RISK_TYPE = #{RISK_TYPE},
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY = #{APPROVED_BY},
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED = #{DATE_APPROVED},
      </if>
      <if test="SERVER_APPROVED_DATE != null" >
        SERVER_APPROVED_DATE = #{SERVER_APPROVED_DATE},
      </if>
      <if test="CATEGORY_CODE != null" >
        <choose >
          <when test="CATEGORY_CODE == emptyBigDecimalValue" >
            CATEGORY_CODE = NULL ,
          </when>
          <otherwise >
            CATEGORY_CODE = #{CATEGORY_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="RECLASSIFY_DUE_DAYS != null" >
        <choose >
          <when test="RECLASSIFY_DUE_DAYS == emptyBigDecimalValue" >
            RECLASSIFY_DUE_DAYS = NULL ,
          </when>
          <otherwise >
            RECLASSIFY_DUE_DAYS = #{RECLASSIFY_DUE_DAYS},
          </otherwise>
        </choose>
      </if>
      <if test="CLASSIFICATION_METHOD != null" >
        CLASSIFICATION_METHOD = #{CLASSIFICATION_METHOD},
      </if>
      <if test="ORIGINAL_CATEGORY_CODE != null" >
        <choose >
          <when test="ORIGINAL_CATEGORY_CODE == emptyBigDecimalValue" >
            ORIGINAL_CATEGORY_CODE = NULL ,
          </when>
          <otherwise >
            ORIGINAL_CATEGORY_CODE = #{ORIGINAL_CATEGORY_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="STOP_PAYMENT_UPDATED_FROM != null" >
        STOP_PAYMENT_UPDATED_FROM = #{STOP_PAYMENT_UPDATED_FROM},
      </if>
    </set>
    where CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
  </sql>
  <update id="updateTRS_PROVISION_CIF_TRX" parameterType="com.path.dbmaps.vo.TRS_PROVISION_CIF_TRXVO" >
    <include refid="sql_updateTRS_PROVISION_CIF_TRX" />
  </update>
</mapper>