<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRS_FX_LINKED_DEAL" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRS_FX_LINKED_DEALVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="DEAL_NO" property="DEAL_NO" />
    <id column="LINE_NO" property="LINE_NO" />
    <id column="PDET_LINE_NO" property="PDET_LINE_NO" />
    <id column="TRX_TYPE" property="TRX_TYPE" />
    <result column="FX_TYPE" property="FX_TYPE" />
    <result column="FX_DEAL_BRANCH" property="FX_DEAL_BRANCH" />
    <result column="FX_DEAL_NO" property="FX_DEAL_NO" />
    <result column="RATE" property="RATE" />
    <result column="DEALER_ID" property="DEALER_ID" />
    <result column="UTILIZED_AMOUNT" property="UTILIZED_AMOUNT" />
    <result column="UTILIZED_AMOUNT_CV" property="UTILIZED_AMOUNT_CV" />
    <result column="CIF_NO" property="CIF_NO" />
    <result column="CROSS_MULTIDIV" property="CROSS_MULTIDIV" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, DEAL_NO, LINE_NO, PDET_LINE_NO, TRX_TYPE, FX_TYPE, FX_DEAL_BRANCH, 
    FX_DEAL_NO, RATE, DEALER_ID, UTILIZED_AMOUNT, UTILIZED_AMOUNT_CV, CIF_NO, CROSS_MULTIDIV
  </sql>
  <select id="selectTRS_FX_LINKED_DEAL" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRS_FX_LINKED_DEALVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRS_FX_LINKED_DEAL
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and DEAL_NO = #{DEAL_NO}
      and LINE_NO = #{LINE_NO}
      and PDET_LINE_NO = #{PDET_LINE_NO}
      and TRX_TYPE = #{TRX_TYPE}
  </select>
  <delete id="deleteTRS_FX_LINKED_DEAL" parameterType="com.path.dbmaps.vo.TRS_FX_LINKED_DEALVOKey" >
    delete from TRS_FX_LINKED_DEAL
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and DEAL_NO = #{DEAL_NO}
      and LINE_NO = #{LINE_NO}
      and PDET_LINE_NO = #{PDET_LINE_NO}
      and TRX_TYPE = #{TRX_TYPE}
  </delete>
  <insert id="insertTRS_FX_LINKED_DEAL" parameterType="com.path.dbmaps.vo.TRS_FX_LINKED_DEALVO" >
    insert into TRS_FX_LINKED_DEAL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="DEAL_NO != null and DEAL_NO != emptyBigDecimalValue" >
        DEAL_NO,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="PDET_LINE_NO != null and PDET_LINE_NO != emptyBigDecimalValue" >
        PDET_LINE_NO,
      </if>
      <if test="TRX_TYPE != null" >
        TRX_TYPE,
      </if>
      <if test="FX_TYPE != null" >
        FX_TYPE,
      </if>
      <if test="FX_DEAL_BRANCH != null and FX_DEAL_BRANCH != emptyBigDecimalValue" >
        FX_DEAL_BRANCH,
      </if>
      <if test="FX_DEAL_NO != null and FX_DEAL_NO != emptyBigDecimalValue" >
        FX_DEAL_NO,
      </if>
      <if test="RATE != null and RATE != emptyBigDecimalValue" >
        RATE,
      </if>
      <if test="DEALER_ID != null" >
        DEALER_ID,
      </if>
      <if test="UTILIZED_AMOUNT != null and UTILIZED_AMOUNT != emptyBigDecimalValue" >
        UTILIZED_AMOUNT,
      </if>
      <if test="UTILIZED_AMOUNT_CV != null and UTILIZED_AMOUNT_CV != emptyBigDecimalValue" >
        UTILIZED_AMOUNT_CV,
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        CIF_NO,
      </if>
      <if test="CROSS_MULTIDIV != null" >
        CROSS_MULTIDIV,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      #{COMP_CODE},
      <if test="DEAL_NO != null and DEAL_NO != emptyBigDecimalValue" >
        #{DEAL_NO},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="PDET_LINE_NO != null and PDET_LINE_NO != emptyBigDecimalValue" >
        #{PDET_LINE_NO},
      </if>
      <if test="TRX_TYPE != null" >
        #{TRX_TYPE},
      </if>
      <if test="FX_TYPE != null" >
        #{FX_TYPE},
      </if>
      <if test="FX_DEAL_BRANCH != null and FX_DEAL_BRANCH != emptyBigDecimalValue" >
        #{FX_DEAL_BRANCH},
      </if>
      <if test="FX_DEAL_NO != null and FX_DEAL_NO != emptyBigDecimalValue" >
        #{FX_DEAL_NO},
      </if>
      <if test="RATE != null and RATE != emptyBigDecimalValue" >
        #{RATE},
      </if>
      <if test="DEALER_ID != null" >
        #{DEALER_ID},
      </if>
      <if test="UTILIZED_AMOUNT != null and UTILIZED_AMOUNT != emptyBigDecimalValue" >
        #{UTILIZED_AMOUNT},
      </if>
      <if test="UTILIZED_AMOUNT_CV != null and UTILIZED_AMOUNT_CV != emptyBigDecimalValue" >
        #{UTILIZED_AMOUNT_CV},
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        #{CIF_NO},
      </if>
      <if test="CROSS_MULTIDIV != null" >
        #{CROSS_MULTIDIV},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRS_FX_LINKED_DEAL" >
    update TRS_FX_LINKED_DEAL
    <set >
      <if test="FX_TYPE != null" >
        FX_TYPE = #{FX_TYPE},
      </if>
      <if test="FX_DEAL_BRANCH != null" >
        <choose >
          <when test="FX_DEAL_BRANCH == emptyBigDecimalValue" >
            FX_DEAL_BRANCH = NULL ,
          </when>
          <otherwise >
            FX_DEAL_BRANCH = #{FX_DEAL_BRANCH},
          </otherwise>
        </choose>
      </if>
      <if test="FX_DEAL_NO != null" >
        <choose >
          <when test="FX_DEAL_NO == emptyBigDecimalValue" >
            FX_DEAL_NO = NULL ,
          </when>
          <otherwise >
            FX_DEAL_NO = #{FX_DEAL_NO},
          </otherwise>
        </choose>
      </if>
      <if test="RATE != null" >
        <choose >
          <when test="RATE == emptyBigDecimalValue" >
            RATE = NULL ,
          </when>
          <otherwise >
            RATE = #{RATE},
          </otherwise>
        </choose>
      </if>
      <if test="DEALER_ID != null" >
        DEALER_ID = #{DEALER_ID},
      </if>
      <if test="UTILIZED_AMOUNT != null" >
        <choose >
          <when test="UTILIZED_AMOUNT == emptyBigDecimalValue" >
            UTILIZED_AMOUNT = NULL ,
          </when>
          <otherwise >
            UTILIZED_AMOUNT = #{UTILIZED_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="UTILIZED_AMOUNT_CV != null" >
        <choose >
          <when test="UTILIZED_AMOUNT_CV == emptyBigDecimalValue" >
            UTILIZED_AMOUNT_CV = NULL ,
          </when>
          <otherwise >
            UTILIZED_AMOUNT_CV = #{UTILIZED_AMOUNT_CV},
          </otherwise>
        </choose>
      </if>
      <if test="CIF_NO != null" >
        <choose >
          <when test="CIF_NO == emptyBigDecimalValue" >
            CIF_NO = NULL ,
          </when>
          <otherwise >
            CIF_NO = #{CIF_NO},
          </otherwise>
        </choose>
      </if>
      <if test="CROSS_MULTIDIV != null" >
        CROSS_MULTIDIV = #{CROSS_MULTIDIV},
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and DEAL_NO = #{DEAL_NO}
      and LINE_NO = #{LINE_NO}
      and PDET_LINE_NO = #{PDET_LINE_NO}
      and TRX_TYPE = #{TRX_TYPE}
  </sql>
  <update id="updateTRS_FX_LINKED_DEAL" parameterType="com.path.dbmaps.vo.TRS_FX_LINKED_DEALVO" >
    <include refid="sql_updateTRS_FX_LINKED_DEAL" />
  </update>
</mapper>