<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRS_PROVISION_AMENDMENTS" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRS_PROVISION_AMENDMENTSVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="TRX_NO" property="TRX_NO" />
    <result column="TRX_DATE" property="TRX_DATE" />
    <result column="CIF_NO" property="CIF_NO" />
    <result column="STATUS" property="STATUS" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="DATE_CREATED" property="DATE_CREATED" />
    <result column="SERVER_DATE_CREATED" property="SERVER_DATE_CREATED" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="DATE_MODIFIED" property="DATE_MODIFIED" />
    <result column="SERVER_DATE_MODIFIED" property="SERVER_DATE_MODIFIED" />
    <result column="DELETED_BY" property="DELETED_BY" />
    <result column="DATE_DELETED" property="DATE_DELETED" />
    <result column="SERVER_DATE_DELETED" property="SERVER_DATE_DELETED" />
    <result column="APPROVED_BY" property="APPROVED_BY" />
    <result column="DATE_APPROVED" property="DATE_APPROVED" />
    <result column="SERVER_DATE_APPROVED" property="SERVER_DATE_APPROVED" />
    <result column="REVERSED_BY" property="REVERSED_BY" />
    <result column="DATE_REVERSED" property="DATE_REVERSED" />
    <result column="SERVER_DATE_REVERSED" property="SERVER_DATE_REVERSED" />
    <result column="REVERSAL_STATUS" property="REVERSAL_STATUS" />
    <result column="REVERSAL_CREATED_BY" property="REVERSAL_CREATED_BY" />
    <result column="REVERSAL_CREATED_DATE" property="REVERSAL_CREATED_DATE" />
    <result column="SERVER_REVERSAL_CREATED_DATE" property="SERVER_REVERSAL_CREATED_DATE" />
    <result column="REVERSAL_DELETED_BY" property="REVERSAL_DELETED_BY" />
    <result column="REVERSAL_DELETED_DATE" property="REVERSAL_DELETED_DATE" />
    <result column="SERVER_REVERSAL_DELETED_DATE" property="SERVER_REVERSAL_DELETED_DATE" />
    <result column="DATE_UPDATED" property="DATE_UPDATED" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, TRX_NO, TRX_DATE, CIF_NO, STATUS, CREATED_BY, DATE_CREATED, 
    SERVER_DATE_CREATED, MODIFIED_BY, DATE_MODIFIED, SERVER_DATE_MODIFIED, DELETED_BY, 
    DATE_DELETED, SERVER_DATE_DELETED, APPROVED_BY, DATE_APPROVED, SERVER_DATE_APPROVED, 
    REVERSED_BY, DATE_REVERSED, SERVER_DATE_REVERSED, REVERSAL_STATUS, REVERSAL_CREATED_BY, 
    REVERSAL_CREATED_DATE, SERVER_REVERSAL_CREATED_DATE, REVERSAL_DELETED_BY, REVERSAL_DELETED_DATE, 
    SERVER_REVERSAL_DELETED_DATE, DATE_UPDATED
  </sql>
  <select id="selectTRS_PROVISION_AMENDMENTS" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRS_PROVISION_AMENDMENTSVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRS_PROVISION_AMENDMENTS
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and TRX_NO = #{TRX_NO}
  </select>
  <delete id="deleteTRS_PROVISION_AMENDMENTS" parameterType="com.path.dbmaps.vo.TRS_PROVISION_AMENDMENTSVOKey" >
    delete from TRS_PROVISION_AMENDMENTS
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and TRX_NO = #{TRX_NO}
  </delete>
  <insert id="insertTRS_PROVISION_AMENDMENTS" parameterType="com.path.dbmaps.vo.TRS_PROVISION_AMENDMENTSVO" >
    insert into TRS_PROVISION_AMENDMENTS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="TRX_NO != null and TRX_NO != emptyBigDecimalValue" >
        TRX_NO,
      </if>
      <if test="TRX_DATE != null" >
        TRX_DATE,
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        CIF_NO,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED,
      </if>
      <if test="SERVER_DATE_CREATED != null" >
        SERVER_DATE_CREATED,
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY,
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED,
      </if>
      <if test="SERVER_DATE_MODIFIED != null" >
        SERVER_DATE_MODIFIED,
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY,
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED,
      </if>
      <if test="SERVER_DATE_DELETED != null" >
        SERVER_DATE_DELETED,
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY,
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED,
      </if>
      <if test="SERVER_DATE_APPROVED != null" >
        SERVER_DATE_APPROVED,
      </if>
      <if test="REVERSED_BY != null" >
        REVERSED_BY,
      </if>
      <if test="DATE_REVERSED != null" >
        DATE_REVERSED,
      </if>
      <if test="SERVER_DATE_REVERSED != null" >
        SERVER_DATE_REVERSED,
      </if>
      <if test="REVERSAL_STATUS != null" >
        REVERSAL_STATUS,
      </if>
      <if test="REVERSAL_CREATED_BY != null" >
        REVERSAL_CREATED_BY,
      </if>
      <if test="REVERSAL_CREATED_DATE != null" >
        REVERSAL_CREATED_DATE,
      </if>
      <if test="SERVER_REVERSAL_CREATED_DATE != null" >
        SERVER_REVERSAL_CREATED_DATE,
      </if>
      <if test="REVERSAL_DELETED_BY != null" >
        REVERSAL_DELETED_BY,
      </if>
      <if test="REVERSAL_DELETED_DATE != null" >
        REVERSAL_DELETED_DATE,
      </if>
      <if test="SERVER_REVERSAL_DELETED_DATE != null" >
        SERVER_REVERSAL_DELETED_DATE,
      </if>
      DATE_UPDATED,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="TRX_NO != null and TRX_NO != emptyBigDecimalValue" >
        #{TRX_NO},
      </if>
      <if test="TRX_DATE != null" >
        #{TRX_DATE},
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        #{CIF_NO},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="DATE_CREATED != null" >
        #{DATE_CREATED},
      </if>
      <if test="SERVER_DATE_CREATED != null" >
        #{SERVER_DATE_CREATED},
      </if>
      <if test="MODIFIED_BY != null" >
        #{MODIFIED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        #{DATE_MODIFIED},
      </if>
      <if test="SERVER_DATE_MODIFIED != null" >
        #{SERVER_DATE_MODIFIED},
      </if>
      <if test="DELETED_BY != null" >
        #{DELETED_BY},
      </if>
      <if test="DATE_DELETED != null" >
        #{DATE_DELETED},
      </if>
      <if test="SERVER_DATE_DELETED != null" >
        #{SERVER_DATE_DELETED},
      </if>
      <if test="APPROVED_BY != null" >
        #{APPROVED_BY},
      </if>
      <if test="DATE_APPROVED != null" >
        #{DATE_APPROVED},
      </if>
      <if test="SERVER_DATE_APPROVED != null" >
        #{SERVER_DATE_APPROVED},
      </if>
      <if test="REVERSED_BY != null" >
        #{REVERSED_BY},
      </if>
      <if test="DATE_REVERSED != null" >
        #{DATE_REVERSED},
      </if>
      <if test="SERVER_DATE_REVERSED != null" >
        #{SERVER_DATE_REVERSED},
      </if>
      <if test="REVERSAL_STATUS != null" >
        #{REVERSAL_STATUS},
      </if>
      <if test="REVERSAL_CREATED_BY != null" >
        #{REVERSAL_CREATED_BY},
      </if>
      <if test="REVERSAL_CREATED_DATE != null" >
        #{REVERSAL_CREATED_DATE},
      </if>
      <if test="SERVER_REVERSAL_CREATED_DATE != null" >
        #{SERVER_REVERSAL_CREATED_DATE},
      </if>
      <if test="REVERSAL_DELETED_BY != null" >
        #{REVERSAL_DELETED_BY},
      </if>
      <if test="REVERSAL_DELETED_DATE != null" >
        #{REVERSAL_DELETED_DATE},
      </if>
      <if test="SERVER_REVERSAL_DELETED_DATE != null" >
        #{SERVER_REVERSAL_DELETED_DATE},
      </if>
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
    </trim>
  </insert>
  <sql id="sql_updateTRS_PROVISION_AMENDMENTS" >
    update TRS_PROVISION_AMENDMENTS
    <set >
      <if test="TRX_DATE != null" >
        TRX_DATE = #{TRX_DATE},
      </if>
      <if test="CIF_NO != null" >
        <choose >
          <when test="CIF_NO == emptyBigDecimalValue" >
            CIF_NO = NULL ,
          </when>
          <otherwise >
            CIF_NO = #{CIF_NO},
          </otherwise>
        </choose>
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED = #{DATE_CREATED},
      </if>
      <if test="SERVER_DATE_CREATED != null" >
        SERVER_DATE_CREATED = #{SERVER_DATE_CREATED},
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY = #{MODIFIED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED = #{DATE_MODIFIED},
      </if>
      <if test="SERVER_DATE_MODIFIED != null" >
        SERVER_DATE_MODIFIED = #{SERVER_DATE_MODIFIED},
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY = #{DELETED_BY},
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED = #{DATE_DELETED},
      </if>
      <if test="SERVER_DATE_DELETED != null" >
        SERVER_DATE_DELETED = #{SERVER_DATE_DELETED},
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY = #{APPROVED_BY},
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED = #{DATE_APPROVED},
      </if>
      <if test="SERVER_DATE_APPROVED != null" >
        SERVER_DATE_APPROVED = #{SERVER_DATE_APPROVED},
      </if>
      <if test="REVERSED_BY != null" >
        REVERSED_BY = #{REVERSED_BY},
      </if>
      <if test="DATE_REVERSED != null" >
        DATE_REVERSED = #{DATE_REVERSED},
      </if>
      <if test="SERVER_DATE_REVERSED != null" >
        SERVER_DATE_REVERSED = #{SERVER_DATE_REVERSED},
      </if>
      <if test="REVERSAL_STATUS != null" >
        REVERSAL_STATUS = #{REVERSAL_STATUS},
      </if>
      <if test="REVERSAL_CREATED_BY != null" >
        REVERSAL_CREATED_BY = #{REVERSAL_CREATED_BY},
      </if>
      <if test="REVERSAL_CREATED_DATE != null" >
        REVERSAL_CREATED_DATE = #{REVERSAL_CREATED_DATE},
      </if>
      <if test="SERVER_REVERSAL_CREATED_DATE != null" >
        SERVER_REVERSAL_CREATED_DATE = #{SERVER_REVERSAL_CREATED_DATE},
      </if>
      <if test="REVERSAL_DELETED_BY != null" >
        REVERSAL_DELETED_BY = #{REVERSAL_DELETED_BY},
      </if>
      <if test="REVERSAL_DELETED_DATE != null" >
        REVERSAL_DELETED_DATE = #{REVERSAL_DELETED_DATE},
      </if>
      <if test="SERVER_REVERSAL_DELETED_DATE != null" >
        SERVER_REVERSAL_DELETED_DATE = #{SERVER_REVERSAL_DELETED_DATE},
      </if>
       DATE_UPDATED = 
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and TRX_NO = #{TRX_NO}
  </sql>
  <update id="updateTRS_PROVISION_AMENDMENTS" parameterType="com.path.dbmaps.vo.TRS_PROVISION_AMENDMENTSVO" >
    <include refid="sql_updateTRS_PROVISION_AMENDMENTS" />
    <if test="DATE_UPDATED != null">
    	 AND DATE_UPDATED = #{DATE_UPDATED}
	</if>
  </update>
</mapper>