<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRS_ASSET_MNGMNT_CHRGS_DET" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRS_ASSET_MNGMNT_CHRGS_DETVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="CHARGE_CODE" property="CHARGE_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NO" property="LINE_NO" />
    <id column="TRS_NO" property="TRS_NO" />
    <result column="CREDIT_ACC_BR" property="CREDIT_ACC_BR" />
    <result column="CREDIT_ACC_CY" property="CREDIT_ACC_CY" />
    <result column="CREDIT_ACC_GL" property="CREDIT_ACC_GL" />
    <result column="CREDIT_ACC_CIF" property="CREDIT_ACC_CIF" />
    <result column="CREDIT_ACC_SL" property="CREDIT_ACC_SL" />
    <result column="CHARGES_MULTDIV" property="CHARGES_MULTDIV" />
    <result column="EXCH_RATE" property="EXCH_RATE" />
    <result column="DEAL_CY_AMT" property="DEAL_CY_AMT" />
    <result column="CHARGE_CY_AMT" property="CHARGE_CY_AMT" />
    <result column="BASE_CY_AMT" property="BASE_CY_AMT" />
    <result column="VAT_CODE" property="VAT_CODE" />
    <result column="VAT_DEAL_CY_AMT" property="VAT_DEAL_CY_AMT" />
    <result column="VAT_CHARGE_CY_AMT" property="VAT_CHARGE_CY_AMT" />
    <result column="VAT_BASE_CY_AMT" property="VAT_BASE_CY_AMT" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, CHARGE_CODE, COMP_CODE, LINE_NO, TRS_NO, CREDIT_ACC_BR, CREDIT_ACC_CY, 
    CREDIT_ACC_GL, CREDIT_ACC_CIF, CREDIT_ACC_SL, CHARGES_MULTDIV, EXCH_RATE, DEAL_CY_AMT, 
    CHARGE_CY_AMT, BASE_CY_AMT, VAT_CODE, VAT_DEAL_CY_AMT, VAT_CHARGE_CY_AMT, VAT_BASE_CY_AMT
  </sql>
  <select id="selectTRS_ASSET_MNGMNT_CHRGS_DET" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRS_ASSET_MNGMNT_CHRGS_DETVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRS_ASSET_MNGMNT_CHRGS_DET
    where BRANCH_CODE = #{BRANCH_CODE}
      and CHARGE_CODE = #{CHARGE_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and TRS_NO = #{TRS_NO}
  </select>
  <delete id="deleteTRS_ASSET_MNGMNT_CHRGS_DET" parameterType="com.path.dbmaps.vo.TRS_ASSET_MNGMNT_CHRGS_DETVOKey" >
    delete from TRS_ASSET_MNGMNT_CHRGS_DET
    where BRANCH_CODE = #{BRANCH_CODE}
      and CHARGE_CODE = #{CHARGE_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and TRS_NO = #{TRS_NO}
  </delete>
  <insert id="insertTRS_ASSET_MNGMNT_CHRGS_DET" parameterType="com.path.dbmaps.vo.TRS_ASSET_MNGMNT_CHRGS_DETVO" >
    insert into TRS_ASSET_MNGMNT_CHRGS_DET
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null" >
        BRANCH_CODE,
      </if>
      <if test="CHARGE_CODE != null" >
        CHARGE_CODE,
      </if>
      <if test="COMP_CODE != null" >
        COMP_CODE,
      </if>
      <if test="LINE_NO != null" >
        LINE_NO,
      </if>
      <if test="TRS_NO != null" >
        TRS_NO,
      </if>
      <if test="CREDIT_ACC_BR != null" >
        CREDIT_ACC_BR,
      </if>
      <if test="CREDIT_ACC_CY != null" >
        CREDIT_ACC_CY,
      </if>
      <if test="CREDIT_ACC_GL != null" >
        CREDIT_ACC_GL,
      </if>
      <if test="CREDIT_ACC_CIF != null" >
        CREDIT_ACC_CIF,
      </if>
      <if test="CREDIT_ACC_SL != null" >
        CREDIT_ACC_SL,
      </if>
      <if test="CHARGES_MULTDIV != null and !&quot;&quot;.equals(CHARGES_MULTDIV)" >
        CHARGES_MULTDIV,
      </if>
      <if test="EXCH_RATE != null" >
        EXCH_RATE,
      </if>
      <if test="DEAL_CY_AMT != null" >
        DEAL_CY_AMT,
      </if>
      <if test="CHARGE_CY_AMT != null" >
        CHARGE_CY_AMT,
      </if>
      <if test="BASE_CY_AMT != null" >
        BASE_CY_AMT,
      </if>
      <if test="VAT_CODE != null" >
        VAT_CODE,
      </if>
      <if test="VAT_DEAL_CY_AMT != null" >
        VAT_DEAL_CY_AMT,
      </if>
      <if test="VAT_CHARGE_CY_AMT != null" >
        VAT_CHARGE_CY_AMT,
      </if>
      <if test="VAT_BASE_CY_AMT != null" >
        VAT_BASE_CY_AMT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null" >
        #{BRANCH_CODE},
      </if>
      <if test="CHARGE_CODE != null" >
        #{CHARGE_CODE},
      </if>
      <if test="COMP_CODE != null" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NO != null" >
        #{LINE_NO},
      </if>
      <if test="TRS_NO != null" >
        #{TRS_NO},
      </if>
      <if test="CREDIT_ACC_BR != null" >
        #{CREDIT_ACC_BR},
      </if>
      <if test="CREDIT_ACC_CY != null" >
        #{CREDIT_ACC_CY},
      </if>
      <if test="CREDIT_ACC_GL != null" >
        #{CREDIT_ACC_GL},
      </if>
      <if test="CREDIT_ACC_CIF != null" >
        #{CREDIT_ACC_CIF},
      </if>
      <if test="CREDIT_ACC_SL != null" >
        #{CREDIT_ACC_SL},
      </if>
      <if test="CHARGES_MULTDIV != null and !&quot;&quot;.equals(CHARGES_MULTDIV)" >
        #{CHARGES_MULTDIV},
      </if>
      <if test="EXCH_RATE != null" >
        #{EXCH_RATE},
      </if>
      <if test="DEAL_CY_AMT != null" >
        #{DEAL_CY_AMT},
      </if>
      <if test="CHARGE_CY_AMT != null" >
        #{CHARGE_CY_AMT},
      </if>
      <if test="BASE_CY_AMT != null" >
        #{BASE_CY_AMT},
      </if>
      <if test="VAT_CODE != null" >
        #{VAT_CODE},
      </if>
      <if test="VAT_DEAL_CY_AMT != null" >
        #{VAT_DEAL_CY_AMT},
      </if>
      <if test="VAT_CHARGE_CY_AMT != null" >
        #{VAT_CHARGE_CY_AMT},
      </if>
      <if test="VAT_BASE_CY_AMT != null" >
        #{VAT_BASE_CY_AMT},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRS_ASSET_MNGMNT_CHRGS_DET" >
    update TRS_ASSET_MNGMNT_CHRGS_DET
    <set >
      <if test="CREDIT_ACC_BR != null" >
        CREDIT_ACC_BR = #{CREDIT_ACC_BR},
      </if>
      <if test="CREDIT_ACC_CY != null" >
        CREDIT_ACC_CY = #{CREDIT_ACC_CY},
      </if>
      <if test="CREDIT_ACC_GL != null" >
        CREDIT_ACC_GL = #{CREDIT_ACC_GL},
      </if>
      <if test="CREDIT_ACC_CIF != null" >
        CREDIT_ACC_CIF = #{CREDIT_ACC_CIF},
      </if>
      <if test="CREDIT_ACC_SL != null" >
        CREDIT_ACC_SL = #{CREDIT_ACC_SL},
      </if>
      <if test="CHARGES_MULTDIV != null" >
        <choose >
          <when test="CHARGES_MULTDIV.equals(&quot;&quot;)" >
            CHARGES_MULTDIV = NULL ,
          </when>
          <otherwise >
            CHARGES_MULTDIV = #{CHARGES_MULTDIV},
          </otherwise>
        </choose>
      </if>
      <if test="EXCH_RATE != null" >
        EXCH_RATE = #{EXCH_RATE},
      </if>
      <if test="DEAL_CY_AMT != null" >
        DEAL_CY_AMT = #{DEAL_CY_AMT},
      </if>
      <if test="CHARGE_CY_AMT != null" >
        CHARGE_CY_AMT = #{CHARGE_CY_AMT},
      </if>
      <if test="BASE_CY_AMT != null" >
        BASE_CY_AMT = #{BASE_CY_AMT},
      </if>
      <if test="VAT_CODE != null" >
        VAT_CODE = #{VAT_CODE},
      </if>
      <if test="VAT_DEAL_CY_AMT != null" >
        VAT_DEAL_CY_AMT = #{VAT_DEAL_CY_AMT},
      </if>
      <if test="VAT_CHARGE_CY_AMT != null" >
        VAT_CHARGE_CY_AMT = #{VAT_CHARGE_CY_AMT},
      </if>
      <if test="VAT_BASE_CY_AMT != null" >
        VAT_BASE_CY_AMT = #{VAT_BASE_CY_AMT},
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and CHARGE_CODE = #{CHARGE_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and TRS_NO = #{TRS_NO}
  </sql>
  <update id="updateTRS_ASSET_MNGMNT_CHRGS_DET" parameterType="com.path.dbmaps.vo.TRS_ASSET_MNGMNT_CHRGS_DETVO" >
    <include refid="sql_updateTRS_ASSET_MNGMNT_CHRGS_DET" />
  </update>
</mapper>