<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRS_ITEMS" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRS_ITEMSVO" >
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <result column="CATEGORY_CODE" property="CATEGORY_CODE" />
    <result column="BRIEF_NAME_ENG" property="BRIEF_NAME_ENG" />
    <result column="LONG_DESC_ENG" property="LONG_DESC_ENG" />
    <result column="BRIEF_DESC_ARAB" property="BRIEF_DESC_ARAB" />
    <result column="LONG_DESC_ARAB" property="LONG_DESC_ARAB" />
    <result column="FIELD1" property="FIELD1" />
    <result column="FIELD2" property="FIELD2" />
    <result column="FIELD3" property="FIELD3" />
    <result column="FIELD4" property="FIELD4" />
    <result column="FIELD5" property="FIELD5" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="DATE_CREATED" property="DATE_CREATED" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="DATE_MODIFIED" property="DATE_MODIFIED" />
    <result column="PURCHASE_CY_CODE" property="PURCHASE_CY_CODE" />
    <result column="PURCHASE_AMOUNT" property="PURCHASE_AMOUNT" />
    <result column="TITLE1" property="TITLE1" />
    <result column="TITLE2" property="TITLE2" />
    <result column="TITLE3" property="TITLE3" />
    <result column="TITLE4" property="TITLE4" />
    <result column="TITLE5" property="TITLE5" />
    <result column="TITLE6" property="TITLE6" />
    <result column="TITLE7" property="TITLE7" />
    <result column="TITLE8" property="TITLE8" />
    <result column="TITLE9" property="TITLE9" />
    <result column="TITLE10" property="TITLE10" />
    <result column="FIELD6" property="FIELD6" />
    <result column="FIELD7" property="FIELD7" />
    <result column="FIELD8" property="FIELD8" />
    <result column="FIELD9" property="FIELD9" />
    <result column="FIELD10" property="FIELD10" />
    <result column="PROPERTY_CODE1" property="PROPERTY_CODE1" />
    <result column="PROPERTY_CODE2" property="PROPERTY_CODE2" />
    <result column="PROPERTY_CODE3" property="PROPERTY_CODE3" />
    <result column="PROPERTY_CODE4" property="PROPERTY_CODE4" />
    <result column="PROPERTY_CODE5" property="PROPERTY_CODE5" />
    <result column="PROPERTY_CODE6" property="PROPERTY_CODE6" />
    <result column="PROPERTY_CODE7" property="PROPERTY_CODE7" />
    <result column="PROPERTY_CODE8" property="PROPERTY_CODE8" />
    <result column="PROPERTY_CODE9" property="PROPERTY_CODE9" />
    <result column="PROPERTY_CODE10" property="PROPERTY_CODE10" />
    <result column="MAX_FINANCING_PERCENTAGE" property="MAX_FINANCING_PERCENTAGE" />
    <result column="SWIFT_CODE" property="SWIFT_CODE" />
    <result column="UNITCODE_MANDATORY" property="UNITCODE_MANDATORY" />
  </resultMap>
  <sql id="Base_Column_List" >
    CODE, COMP_CODE, CATEGORY_CODE, BRIEF_NAME_ENG, LONG_DESC_ENG, BRIEF_DESC_ARAB, LONG_DESC_ARAB, 
    FIELD1, FIELD2, FIELD3, FIELD4, FIELD5, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED, 
    PURCHASE_CY_CODE, PURCHASE_AMOUNT, TITLE1, TITLE2, TITLE3, TITLE4, TITLE5, TITLE6, 
    TITLE7, TITLE8, TITLE9, TITLE10, FIELD6, FIELD7, FIELD8, FIELD9, FIELD10, PROPERTY_CODE1, 
    PROPERTY_CODE2, PROPERTY_CODE3, PROPERTY_CODE4, PROPERTY_CODE5, PROPERTY_CODE6, PROPERTY_CODE7, 
    PROPERTY_CODE8, PROPERTY_CODE9, PROPERTY_CODE10, MAX_FINANCING_PERCENTAGE, SWIFT_CODE, 
    UNITCODE_MANDATORY
  </sql>
  <select id="selectTRS_ITEMS" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRS_ITEMSVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRS_ITEMS
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </select>
  <delete id="deleteTRS_ITEMS" parameterType="com.path.dbmaps.vo.TRS_ITEMSVOKey" >
    delete from TRS_ITEMS
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </delete>
  <insert id="insertTRS_ITEMS" parameterType="com.path.dbmaps.vo.TRS_ITEMSVO" >
    insert into TRS_ITEMS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="CATEGORY_CODE != null and CATEGORY_CODE != emptyBigDecimalValue" >
        CATEGORY_CODE,
      </if>
      <if test="BRIEF_NAME_ENG != null" >
        BRIEF_NAME_ENG,
      </if>
      <if test="LONG_DESC_ENG != null" >
        LONG_DESC_ENG,
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        BRIEF_DESC_ARAB,
      </if>
      <if test="LONG_DESC_ARAB != null" >
        LONG_DESC_ARAB,
      </if>
      <if test="FIELD1 != null" >
        FIELD1,
      </if>
      <if test="FIELD2 != null" >
        FIELD2,
      </if>
      <if test="FIELD3 != null" >
        FIELD3,
      </if>
      <if test="FIELD4 != null" >
        FIELD4,
      </if>
      <if test="FIELD5 != null" >
        FIELD5,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED,
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY,
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED,
      </if>
      <if test="PURCHASE_CY_CODE != null and PURCHASE_CY_CODE != emptyBigDecimalValue" >
        PURCHASE_CY_CODE,
      </if>
      <if test="PURCHASE_AMOUNT != null and PURCHASE_AMOUNT != emptyBigDecimalValue" >
        PURCHASE_AMOUNT,
      </if>
      <if test="TITLE1 != null" >
        TITLE1,
      </if>
      <if test="TITLE2 != null" >
        TITLE2,
      </if>
      <if test="TITLE3 != null" >
        TITLE3,
      </if>
      <if test="TITLE4 != null" >
        TITLE4,
      </if>
      <if test="TITLE5 != null" >
        TITLE5,
      </if>
      <if test="TITLE6 != null" >
        TITLE6,
      </if>
      <if test="TITLE7 != null" >
        TITLE7,
      </if>
      <if test="TITLE8 != null" >
        TITLE8,
      </if>
      <if test="TITLE9 != null" >
        TITLE9,
      </if>
      <if test="TITLE10 != null" >
        TITLE10,
      </if>
      <if test="FIELD6 != null" >
        FIELD6,
      </if>
      <if test="FIELD7 != null" >
        FIELD7,
      </if>
      <if test="FIELD8 != null" >
        FIELD8,
      </if>
      <if test="FIELD9 != null" >
        FIELD9,
      </if>
      <if test="FIELD10 != null" >
        FIELD10,
      </if>
      <if test="PROPERTY_CODE1 != null and PROPERTY_CODE1 != emptyBigDecimalValue" >
        PROPERTY_CODE1,
      </if>
      <if test="PROPERTY_CODE2 != null and PROPERTY_CODE2 != emptyBigDecimalValue" >
        PROPERTY_CODE2,
      </if>
      <if test="PROPERTY_CODE3 != null and PROPERTY_CODE3 != emptyBigDecimalValue" >
        PROPERTY_CODE3,
      </if>
      <if test="PROPERTY_CODE4 != null and PROPERTY_CODE4 != emptyBigDecimalValue" >
        PROPERTY_CODE4,
      </if>
      <if test="PROPERTY_CODE5 != null and PROPERTY_CODE5 != emptyBigDecimalValue" >
        PROPERTY_CODE5,
      </if>
      <if test="PROPERTY_CODE6 != null and PROPERTY_CODE6 != emptyBigDecimalValue" >
        PROPERTY_CODE6,
      </if>
      <if test="PROPERTY_CODE7 != null and PROPERTY_CODE7 != emptyBigDecimalValue" >
        PROPERTY_CODE7,
      </if>
      <if test="PROPERTY_CODE8 != null and PROPERTY_CODE8 != emptyBigDecimalValue" >
        PROPERTY_CODE8,
      </if>
      <if test="PROPERTY_CODE9 != null and PROPERTY_CODE9 != emptyBigDecimalValue" >
        PROPERTY_CODE9,
      </if>
      <if test="PROPERTY_CODE10 != null and PROPERTY_CODE10 != emptyBigDecimalValue" >
        PROPERTY_CODE10,
      </if>
      <if test="MAX_FINANCING_PERCENTAGE != null and MAX_FINANCING_PERCENTAGE != emptyBigDecimalValue" >
        MAX_FINANCING_PERCENTAGE,
      </if>
      <if test="SWIFT_CODE != null and SWIFT_CODE != emptyBigDecimalValue" >
        SWIFT_CODE,
      </if>
      <if test="UNITCODE_MANDATORY != null" >
        UNITCODE_MANDATORY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        #{CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="CATEGORY_CODE != null and CATEGORY_CODE != emptyBigDecimalValue" >
        #{CATEGORY_CODE},
      </if>
      <if test="BRIEF_NAME_ENG != null" >
        #{BRIEF_NAME_ENG},
      </if>
      <if test="LONG_DESC_ENG != null" >
        #{LONG_DESC_ENG},
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        #{BRIEF_DESC_ARAB},
      </if>
      <if test="LONG_DESC_ARAB != null" >
        #{LONG_DESC_ARAB},
      </if>
      <if test="FIELD1 != null" >
        #{FIELD1},
      </if>
      <if test="FIELD2 != null" >
        #{FIELD2},
      </if>
      <if test="FIELD3 != null" >
        #{FIELD3},
      </if>
      <if test="FIELD4 != null" >
        #{FIELD4},
      </if>
      <if test="FIELD5 != null" >
        #{FIELD5},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="DATE_CREATED != null" >
        #{DATE_CREATED},
      </if>
      <if test="MODIFIED_BY != null" >
        #{MODIFIED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        #{DATE_MODIFIED},
      </if>
      <if test="PURCHASE_CY_CODE != null and PURCHASE_CY_CODE != emptyBigDecimalValue" >
        #{PURCHASE_CY_CODE},
      </if>
      <if test="PURCHASE_AMOUNT != null and PURCHASE_AMOUNT != emptyBigDecimalValue" >
        #{PURCHASE_AMOUNT},
      </if>
      <if test="TITLE1 != null" >
        #{TITLE1},
      </if>
      <if test="TITLE2 != null" >
        #{TITLE2},
      </if>
      <if test="TITLE3 != null" >
        #{TITLE3},
      </if>
      <if test="TITLE4 != null" >
        #{TITLE4},
      </if>
      <if test="TITLE5 != null" >
        #{TITLE5},
      </if>
      <if test="TITLE6 != null" >
        #{TITLE6},
      </if>
      <if test="TITLE7 != null" >
        #{TITLE7},
      </if>
      <if test="TITLE8 != null" >
        #{TITLE8},
      </if>
      <if test="TITLE9 != null" >
        #{TITLE9},
      </if>
      <if test="TITLE10 != null" >
        #{TITLE10},
      </if>
      <if test="FIELD6 != null" >
        #{FIELD6},
      </if>
      <if test="FIELD7 != null" >
        #{FIELD7},
      </if>
      <if test="FIELD8 != null" >
        #{FIELD8},
      </if>
      <if test="FIELD9 != null" >
        #{FIELD9},
      </if>
      <if test="FIELD10 != null" >
        #{FIELD10},
      </if>
      <if test="PROPERTY_CODE1 != null and PROPERTY_CODE1 != emptyBigDecimalValue" >
        #{PROPERTY_CODE1},
      </if>
      <if test="PROPERTY_CODE2 != null and PROPERTY_CODE2 != emptyBigDecimalValue" >
        #{PROPERTY_CODE2},
      </if>
      <if test="PROPERTY_CODE3 != null and PROPERTY_CODE3 != emptyBigDecimalValue" >
        #{PROPERTY_CODE3},
      </if>
      <if test="PROPERTY_CODE4 != null and PROPERTY_CODE4 != emptyBigDecimalValue" >
        #{PROPERTY_CODE4},
      </if>
      <if test="PROPERTY_CODE5 != null and PROPERTY_CODE5 != emptyBigDecimalValue" >
        #{PROPERTY_CODE5},
      </if>
      <if test="PROPERTY_CODE6 != null and PROPERTY_CODE6 != emptyBigDecimalValue" >
        #{PROPERTY_CODE6},
      </if>
      <if test="PROPERTY_CODE7 != null and PROPERTY_CODE7 != emptyBigDecimalValue" >
        #{PROPERTY_CODE7},
      </if>
      <if test="PROPERTY_CODE8 != null and PROPERTY_CODE8 != emptyBigDecimalValue" >
        #{PROPERTY_CODE8},
      </if>
      <if test="PROPERTY_CODE9 != null and PROPERTY_CODE9 != emptyBigDecimalValue" >
        #{PROPERTY_CODE9},
      </if>
      <if test="PROPERTY_CODE10 != null and PROPERTY_CODE10 != emptyBigDecimalValue" >
        #{PROPERTY_CODE10},
      </if>
      <if test="MAX_FINANCING_PERCENTAGE != null and MAX_FINANCING_PERCENTAGE != emptyBigDecimalValue" >
        #{MAX_FINANCING_PERCENTAGE},
      </if>
      <if test="SWIFT_CODE != null and SWIFT_CODE != emptyBigDecimalValue" >
        #{SWIFT_CODE},
      </if>
      <if test="UNITCODE_MANDATORY != null" >
        #{UNITCODE_MANDATORY},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRS_ITEMS" >
    update TRS_ITEMS
    <set >
      <if test="CATEGORY_CODE != null" >
        <choose >
          <when test="CATEGORY_CODE == emptyBigDecimalValue" >
            CATEGORY_CODE = NULL ,
          </when>
          <otherwise >
            CATEGORY_CODE = #{CATEGORY_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="BRIEF_NAME_ENG != null" >
        BRIEF_NAME_ENG = #{BRIEF_NAME_ENG},
      </if>
      <if test="LONG_DESC_ENG != null" >
        LONG_DESC_ENG = #{LONG_DESC_ENG},
      </if>
      <if test="BRIEF_DESC_ARAB != null" >
        BRIEF_DESC_ARAB = #{BRIEF_DESC_ARAB},
      </if>
      <if test="LONG_DESC_ARAB != null" >
        LONG_DESC_ARAB = #{LONG_DESC_ARAB},
      </if>
      <if test="FIELD1 != null" >
        FIELD1 = #{FIELD1},
      </if>
      <if test="FIELD2 != null" >
        FIELD2 = #{FIELD2},
      </if>
      <if test="FIELD3 != null" >
        FIELD3 = #{FIELD3},
      </if>
      <if test="FIELD4 != null" >
        FIELD4 = #{FIELD4},
      </if>
      <if test="FIELD5 != null" >
        FIELD5 = #{FIELD5},
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED = #{DATE_CREATED},
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY = #{MODIFIED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED = #{DATE_MODIFIED},
      </if>
      <if test="PURCHASE_CY_CODE != null" >
        <choose >
          <when test="PURCHASE_CY_CODE == emptyBigDecimalValue" >
            PURCHASE_CY_CODE = NULL ,
          </when>
          <otherwise >
            PURCHASE_CY_CODE = #{PURCHASE_CY_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="PURCHASE_AMOUNT != null" >
        <choose >
          <when test="PURCHASE_AMOUNT == emptyBigDecimalValue" >
            PURCHASE_AMOUNT = NULL ,
          </when>
          <otherwise >
            PURCHASE_AMOUNT = #{PURCHASE_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="TITLE1 != null" >
        TITLE1 = #{TITLE1},
      </if>
      <if test="TITLE2 != null" >
        TITLE2 = #{TITLE2},
      </if>
      <if test="TITLE3 != null" >
        TITLE3 = #{TITLE3},
      </if>
      <if test="TITLE4 != null" >
        TITLE4 = #{TITLE4},
      </if>
      <if test="TITLE5 != null" >
        TITLE5 = #{TITLE5},
      </if>
      <if test="TITLE6 != null" >
        TITLE6 = #{TITLE6},
      </if>
      <if test="TITLE7 != null" >
        TITLE7 = #{TITLE7},
      </if>
      <if test="TITLE8 != null" >
        TITLE8 = #{TITLE8},
      </if>
      <if test="TITLE9 != null" >
        TITLE9 = #{TITLE9},
      </if>
      <if test="TITLE10 != null" >
        TITLE10 = #{TITLE10},
      </if>
      <if test="FIELD6 != null" >
        FIELD6 = #{FIELD6},
      </if>
      <if test="FIELD7 != null" >
        FIELD7 = #{FIELD7},
      </if>
      <if test="FIELD8 != null" >
        FIELD8 = #{FIELD8},
      </if>
      <if test="FIELD9 != null" >
        FIELD9 = #{FIELD9},
      </if>
      <if test="FIELD10 != null" >
        FIELD10 = #{FIELD10},
      </if>
      <if test="PROPERTY_CODE1 != null" >
        <choose >
          <when test="PROPERTY_CODE1 == emptyBigDecimalValue" >
            PROPERTY_CODE1 = NULL ,
          </when>
          <otherwise >
            PROPERTY_CODE1 = #{PROPERTY_CODE1},
          </otherwise>
        </choose>
      </if>
      <if test="PROPERTY_CODE2 != null" >
        <choose >
          <when test="PROPERTY_CODE2 == emptyBigDecimalValue" >
            PROPERTY_CODE2 = NULL ,
          </when>
          <otherwise >
            PROPERTY_CODE2 = #{PROPERTY_CODE2},
          </otherwise>
        </choose>
      </if>
      <if test="PROPERTY_CODE3 != null" >
        <choose >
          <when test="PROPERTY_CODE3 == emptyBigDecimalValue" >
            PROPERTY_CODE3 = NULL ,
          </when>
          <otherwise >
            PROPERTY_CODE3 = #{PROPERTY_CODE3},
          </otherwise>
        </choose>
      </if>
      <if test="PROPERTY_CODE4 != null" >
        <choose >
          <when test="PROPERTY_CODE4 == emptyBigDecimalValue" >
            PROPERTY_CODE4 = NULL ,
          </when>
          <otherwise >
            PROPERTY_CODE4 = #{PROPERTY_CODE4},
          </otherwise>
        </choose>
      </if>
      <if test="PROPERTY_CODE5 != null" >
        <choose >
          <when test="PROPERTY_CODE5 == emptyBigDecimalValue" >
            PROPERTY_CODE5 = NULL ,
          </when>
          <otherwise >
            PROPERTY_CODE5 = #{PROPERTY_CODE5},
          </otherwise>
        </choose>
      </if>
      <if test="PROPERTY_CODE6 != null" >
        <choose >
          <when test="PROPERTY_CODE6 == emptyBigDecimalValue" >
            PROPERTY_CODE6 = NULL ,
          </when>
          <otherwise >
            PROPERTY_CODE6 = #{PROPERTY_CODE6},
          </otherwise>
        </choose>
      </if>
      <if test="PROPERTY_CODE7 != null" >
        <choose >
          <when test="PROPERTY_CODE7 == emptyBigDecimalValue" >
            PROPERTY_CODE7 = NULL ,
          </when>
          <otherwise >
            PROPERTY_CODE7 = #{PROPERTY_CODE7},
          </otherwise>
        </choose>
      </if>
      <if test="PROPERTY_CODE8 != null" >
        <choose >
          <when test="PROPERTY_CODE8 == emptyBigDecimalValue" >
            PROPERTY_CODE8 = NULL ,
          </when>
          <otherwise >
            PROPERTY_CODE8 = #{PROPERTY_CODE8},
          </otherwise>
        </choose>
      </if>
      <if test="PROPERTY_CODE9 != null" >
        <choose >
          <when test="PROPERTY_CODE9 == emptyBigDecimalValue" >
            PROPERTY_CODE9 = NULL ,
          </when>
          <otherwise >
            PROPERTY_CODE9 = #{PROPERTY_CODE9},
          </otherwise>
        </choose>
      </if>
      <if test="PROPERTY_CODE10 != null" >
        <choose >
          <when test="PROPERTY_CODE10 == emptyBigDecimalValue" >
            PROPERTY_CODE10 = NULL ,
          </when>
          <otherwise >
            PROPERTY_CODE10 = #{PROPERTY_CODE10},
          </otherwise>
        </choose>
      </if>
      <if test="MAX_FINANCING_PERCENTAGE != null" >
        <choose >
          <when test="MAX_FINANCING_PERCENTAGE == emptyBigDecimalValue" >
            MAX_FINANCING_PERCENTAGE = NULL ,
          </when>
          <otherwise >
            MAX_FINANCING_PERCENTAGE = #{MAX_FINANCING_PERCENTAGE},
          </otherwise>
        </choose>
      </if>
      <if test="SWIFT_CODE != null" >
        <choose >
          <when test="SWIFT_CODE == emptyBigDecimalValue" >
            SWIFT_CODE = NULL ,
          </when>
          <otherwise >
            SWIFT_CODE = #{SWIFT_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="UNITCODE_MANDATORY != null" >
        UNITCODE_MANDATORY = #{UNITCODE_MANDATORY},
      </if>
    </set>
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </sql>
  <update id="updateTRS_ITEMS" parameterType="com.path.dbmaps.vo.TRS_ITEMSVO" >
    <include refid="sql_updateTRS_ITEMS" />
  </update>
</mapper>