<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRS_PROVISION_CIF_SUB_CODE" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRS_PROVISION_CIF_SUB_CODEVOKey" >
    <id column="CIF_NO" property="CIF_NO" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="SUB_CLASS_CODE" property="SUB_CLASS_CODE" />
  </resultMap>
  <delete id="deleteTRS_PROVISION_CIF_SUB_CODE" parameterType="com.path.dbmaps.vo.TRS_PROVISION_CIF_SUB_CODEVOKey" >
    delete from TRS_PROVISION_CIF_SUB_CODE
    where CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and SUB_CLASS_CODE = #{SUB_CLASS_CODE}
  </delete>
  <insert id="insertTRS_PROVISION_CIF_SUB_CODE" parameterType="com.path.dbmaps.vo.TRS_PROVISION_CIF_SUB_CODEVOKey" >
    insert into TRS_PROVISION_CIF_SUB_CODE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        CIF_NO,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="SUB_CLASS_CODE != null and SUB_CLASS_CODE != emptyBigDecimalValue" >
        SUB_CLASS_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        #{CIF_NO},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="SUB_CLASS_CODE != null and SUB_CLASS_CODE != emptyBigDecimalValue" >
        #{SUB_CLASS_CODE},
      </if>
    </trim>
  </insert>
</mapper>