<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRS_RPT_COLLATERAL_STATUS" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRS_RPT_COLLATERAL_STATUSVO" >
    <result column="COMP_CODE" property="COMP_CODE" />
    <result column="BRANCH_CODE" property="BRANCH_CODE" />
    <result column="CIF_NO" property="CIF_NO" />
    <result column="USER_ID" property="USER_ID" />
    <result column="ORIGIN" property="ORIGIN" />
    <result column="SERIAL_NO" property="SERIAL_NO" />
    <result column="CODE" property="CODE" />
    <result column="CURRENCY" property="CURRENCY" />
    <result column="SHORT_NAME_ENG" property="SHORT_NAME_ENG" />
    <result column="BRIEF_NAME_ENG" property="BRIEF_NAME_ENG" />
    <result column="STATUS" property="STATUS" />
    <result column="DEAL_ORIGINAL" property="DEAL_ORIGINAL" />
    <result column="FINAL_MATURITY_DATE" property="FINAL_MATURITY_DATE" />
    <result column="COLLATERAL_DESC" property="COLLATERAL_DESC" />
    <result column="COLL_VALUE" property="COLL_VALUE" />
    <result column="MIN_REQ" property="MIN_REQ" />
    <result column="TRSDEAL_CY" property="TRSDEAL_CY" />
    <result column="DEAL_AMOUNT" property="DEAL_AMOUNT" />
    <result column="COV_VALUE" property="COV_VALUE" />
    <result column="DEAL_COLL_VALUE" property="DEAL_COLL_VALUE" />
    <result column="DEAL_DISC_VALUE" property="DEAL_DISC_VALUE" />
    <result column="MINREQCOV_FLAG" property="MINREQCOV_FLAG" />
    <result column="LIMIT_SERIAL_NO" property="LIMIT_SERIAL_NO" />
    <result column="TRX_NO_CUSTOM" property="TRX_NO_CUSTOM" />
    <result column="COLL_VALUE_IN_COLL_CY" property="COLL_VALUE_IN_COLL_CY" />
    <result column="DEAL_AMOUNT_CV" property="DEAL_AMOUNT_CV" />
    <result column="SP_ID" property="SP_ID" />
    <result column="DEAL_STATUS" property="DEAL_STATUS" />
    <result column="ALLOCATED_COLLATERAL_AMOUNT" property="ALLOCATED_COLLATERAL_AMOUNT" />
    <result column="DEAL_COVERAGE" property="DEAL_COVERAGE" />
    <result column="DEAL_COVERAGE_FULL" property="DEAL_COVERAGE_FULL" />
    <result column="MIN_REQUIRED_BASE" property="MIN_REQUIRED_BASE" />
    <result column="MIN_REQUIRED_MIN" property="MIN_REQUIRED_MIN" />
    <result column="COVERAGE_STATUS" property="COVERAGE_STATUS" />
    <result column="ALLOCATED_OUTSTANDING_AMOUNT" property="ALLOCATED_OUTSTANDING_AMOUNT" />
    <result column="COLLATERAL_BRANCH" property="COLLATERAL_BRANCH" />
  </resultMap>
  <insert id="insertTRS_RPT_COLLATERAL_STATUS" parameterType="com.path.dbmaps.vo.TRS_RPT_COLLATERAL_STATUSVO" >
    insert into TRS_RPT_COLLATERAL_STATUS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        CIF_NO,
      </if>
      <if test="USER_ID != null" >
        USER_ID,
      </if>
      <if test="ORIGIN != null" >
        ORIGIN,
      </if>
      <if test="SERIAL_NO != null and SERIAL_NO != emptyBigDecimalValue" >
        SERIAL_NO,
      </if>
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        CODE,
      </if>
      <if test="CURRENCY != null and CURRENCY != emptyBigDecimalValue" >
        CURRENCY,
      </if>
      <if test="SHORT_NAME_ENG != null" >
        SHORT_NAME_ENG,
      </if>
      <if test="BRIEF_NAME_ENG != null" >
        BRIEF_NAME_ENG,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="DEAL_ORIGINAL != null and DEAL_ORIGINAL != emptyBigDecimalValue" >
        DEAL_ORIGINAL,
      </if>
      <if test="FINAL_MATURITY_DATE != null" >
        FINAL_MATURITY_DATE,
      </if>
      <if test="COLLATERAL_DESC != null" >
        COLLATERAL_DESC,
      </if>
      <if test="COLL_VALUE != null and COLL_VALUE != emptyBigDecimalValue" >
        COLL_VALUE,
      </if>
      <if test="MIN_REQ != null and MIN_REQ != emptyBigDecimalValue" >
        MIN_REQ,
      </if>
      <if test="TRSDEAL_CY != null and TRSDEAL_CY != emptyBigDecimalValue" >
        TRSDEAL_CY,
      </if>
      <if test="DEAL_AMOUNT != null and DEAL_AMOUNT != emptyBigDecimalValue" >
        DEAL_AMOUNT,
      </if>
      <if test="COV_VALUE != null and COV_VALUE != emptyBigDecimalValue" >
        COV_VALUE,
      </if>
      <if test="DEAL_COLL_VALUE != null and DEAL_COLL_VALUE != emptyBigDecimalValue" >
        DEAL_COLL_VALUE,
      </if>
      <if test="DEAL_DISC_VALUE != null and DEAL_DISC_VALUE != emptyBigDecimalValue" >
        DEAL_DISC_VALUE,
      </if>
      <if test="MINREQCOV_FLAG != null" >
        MINREQCOV_FLAG,
      </if>
      <if test="LIMIT_SERIAL_NO != null and LIMIT_SERIAL_NO != emptyBigDecimalValue" >
        LIMIT_SERIAL_NO,
      </if>
      <if test="TRX_NO_CUSTOM != null" >
        TRX_NO_CUSTOM,
      </if>
      <if test="COLL_VALUE_IN_COLL_CY != null and COLL_VALUE_IN_COLL_CY != emptyBigDecimalValue" >
        COLL_VALUE_IN_COLL_CY,
      </if>
      <if test="DEAL_AMOUNT_CV != null and DEAL_AMOUNT_CV != emptyBigDecimalValue" >
        DEAL_AMOUNT_CV,
      </if>
      <if test="SP_ID != null and SP_ID != emptyBigDecimalValue" >
        SP_ID,
      </if>
      <if test="DEAL_STATUS != null" >
        DEAL_STATUS,
      </if>
      <if test="ALLOCATED_COLLATERAL_AMOUNT != null and ALLOCATED_COLLATERAL_AMOUNT != emptyBigDecimalValue" >
        ALLOCATED_COLLATERAL_AMOUNT,
      </if>
      <if test="DEAL_COVERAGE != null and DEAL_COVERAGE != emptyBigDecimalValue" >
        DEAL_COVERAGE,
      </if>
      <if test="DEAL_COVERAGE_FULL != null" >
        DEAL_COVERAGE_FULL,
      </if>
      <if test="MIN_REQUIRED_BASE != null" >
        MIN_REQUIRED_BASE,
      </if>
      <if test="MIN_REQUIRED_MIN != null" >
        MIN_REQUIRED_MIN,
      </if>
      <if test="COVERAGE_STATUS != null" >
        COVERAGE_STATUS,
      </if>
      <if test="ALLOCATED_OUTSTANDING_AMOUNT != null and ALLOCATED_OUTSTANDING_AMOUNT != emptyBigDecimalValue" >
        ALLOCATED_OUTSTANDING_AMOUNT,
      </if>
      <if test="COLLATERAL_BRANCH != null and COLLATERAL_BRANCH != emptyBigDecimalValue" >
        COLLATERAL_BRANCH,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        #{CIF_NO},
      </if>
      <if test="USER_ID != null" >
        #{USER_ID},
      </if>
      <if test="ORIGIN != null" >
        #{ORIGIN},
      </if>
      <if test="SERIAL_NO != null and SERIAL_NO != emptyBigDecimalValue" >
        #{SERIAL_NO},
      </if>
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        #{CODE},
      </if>
      <if test="CURRENCY != null and CURRENCY != emptyBigDecimalValue" >
        #{CURRENCY},
      </if>
      <if test="SHORT_NAME_ENG != null" >
        #{SHORT_NAME_ENG},
      </if>
      <if test="BRIEF_NAME_ENG != null" >
        #{BRIEF_NAME_ENG},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="DEAL_ORIGINAL != null and DEAL_ORIGINAL != emptyBigDecimalValue" >
        #{DEAL_ORIGINAL},
      </if>
      <if test="FINAL_MATURITY_DATE != null" >
        #{FINAL_MATURITY_DATE},
      </if>
      <if test="COLLATERAL_DESC != null" >
        #{COLLATERAL_DESC},
      </if>
      <if test="COLL_VALUE != null and COLL_VALUE != emptyBigDecimalValue" >
        #{COLL_VALUE},
      </if>
      <if test="MIN_REQ != null and MIN_REQ != emptyBigDecimalValue" >
        #{MIN_REQ},
      </if>
      <if test="TRSDEAL_CY != null and TRSDEAL_CY != emptyBigDecimalValue" >
        #{TRSDEAL_CY},
      </if>
      <if test="DEAL_AMOUNT != null and DEAL_AMOUNT != emptyBigDecimalValue" >
        #{DEAL_AMOUNT},
      </if>
      <if test="COV_VALUE != null and COV_VALUE != emptyBigDecimalValue" >
        #{COV_VALUE},
      </if>
      <if test="DEAL_COLL_VALUE != null and DEAL_COLL_VALUE != emptyBigDecimalValue" >
        #{DEAL_COLL_VALUE},
      </if>
      <if test="DEAL_DISC_VALUE != null and DEAL_DISC_VALUE != emptyBigDecimalValue" >
        #{DEAL_DISC_VALUE},
      </if>
      <if test="MINREQCOV_FLAG != null" >
        #{MINREQCOV_FLAG},
      </if>
      <if test="LIMIT_SERIAL_NO != null and LIMIT_SERIAL_NO != emptyBigDecimalValue" >
        #{LIMIT_SERIAL_NO},
      </if>
      <if test="TRX_NO_CUSTOM != null" >
        #{TRX_NO_CUSTOM},
      </if>
      <if test="COLL_VALUE_IN_COLL_CY != null and COLL_VALUE_IN_COLL_CY != emptyBigDecimalValue" >
        #{COLL_VALUE_IN_COLL_CY},
      </if>
      <if test="DEAL_AMOUNT_CV != null and DEAL_AMOUNT_CV != emptyBigDecimalValue" >
        #{DEAL_AMOUNT_CV},
      </if>
      <if test="SP_ID != null and SP_ID != emptyBigDecimalValue" >
        #{SP_ID},
      </if>
      <if test="DEAL_STATUS != null" >
        #{DEAL_STATUS},
      </if>
      <if test="ALLOCATED_COLLATERAL_AMOUNT != null and ALLOCATED_COLLATERAL_AMOUNT != emptyBigDecimalValue" >
        #{ALLOCATED_COLLATERAL_AMOUNT},
      </if>
      <if test="DEAL_COVERAGE != null and DEAL_COVERAGE != emptyBigDecimalValue" >
        #{DEAL_COVERAGE},
      </if>
      <if test="DEAL_COVERAGE_FULL != null" >
        #{DEAL_COVERAGE_FULL},
      </if>
      <if test="MIN_REQUIRED_BASE != null" >
        #{MIN_REQUIRED_BASE},
      </if>
      <if test="MIN_REQUIRED_MIN != null" >
        #{MIN_REQUIRED_MIN},
      </if>
      <if test="COVERAGE_STATUS != null" >
        #{COVERAGE_STATUS},
      </if>
      <if test="ALLOCATED_OUTSTANDING_AMOUNT != null and ALLOCATED_OUTSTANDING_AMOUNT != emptyBigDecimalValue" >
        #{ALLOCATED_OUTSTANDING_AMOUNT},
      </if>
      <if test="COLLATERAL_BRANCH != null and COLLATERAL_BRANCH != emptyBigDecimalValue" >
        #{COLLATERAL_BRANCH},
      </if>
      
    </trim>
  </insert>
</mapper>