<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRS_DEAL_SWITCHING" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRS_DEAL_SWITCHINGVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="DEAL_NO" property="DEAL_NO" />
    <id column="TRSDET_LINE_NO" property="TRSDET_LINE_NO" />
    <id column="TRX_NBR" property="TRX_NBR" />
    <result column="SWITCH_DATE" property="SWITCH_DATE" />
    <result column="PARTY_TYPE" property="PARTY_TYPE" />
    <result column="PARTY_NO" property="PARTY_NO" />
    <result column="CHANGE_TEMPLATE_CODE" property="CHANGE_TEMPLATE_CODE" />
    <result column="TEMPLATE_CODE" property="TEMPLATE_CODE" />
    <result column="STATUS" property="STATUS" />
    <result column="INITIAL_PRINCIPAL" property="INITIAL_PRINCIPAL" />
    <result column="BALANCE_AMOUNT" property="BALANCE_AMOUNT" />
    <result column="BALANCE_PRINCIPAL" property="BALANCE_PRINCIPAL" />
    <result column="BALANCE_PROFIT" property="BALANCE_PROFIT" />
    <result column="BALANCE_MODARIB_PROFIT" property="BALANCE_MODARIB_PROFIT" />
    <result column="RECORD_TYPE" property="RECORD_TYPE" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, DEAL_NO, TRSDET_LINE_NO, TRX_NBR, SWITCH_DATE, PARTY_TYPE, 
    PARTY_NO, CHANGE_TEMPLATE_CODE, TEMPLATE_CODE, STATUS, INITIAL_PRINCIPAL, BALANCE_AMOUNT, 
    BALANCE_PRINCIPAL, BALANCE_PROFIT, BALANCE_MODARIB_PROFIT, RECORD_TYPE
  </sql>
  <select id="selectTRS_DEAL_SWITCHING" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRS_DEAL_SWITCHINGVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRS_DEAL_SWITCHING
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and DEAL_NO = #{DEAL_NO}
      and TRSDET_LINE_NO = #{TRSDET_LINE_NO}
      and TRX_NBR = #{TRX_NBR}
  </select>
  <delete id="deleteTRS_DEAL_SWITCHING" parameterType="com.path.dbmaps.vo.TRS_DEAL_SWITCHINGVOKey" >
    delete from TRS_DEAL_SWITCHING
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and DEAL_NO = #{DEAL_NO}
      and TRSDET_LINE_NO = #{TRSDET_LINE_NO}
      and TRX_NBR = #{TRX_NBR}
  </delete>
  <insert id="insertTRS_DEAL_SWITCHING" parameterType="com.path.dbmaps.vo.TRS_DEAL_SWITCHINGVO" >
    insert into TRS_DEAL_SWITCHING
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="DEAL_NO != null and DEAL_NO != emptyBigDecimalValue" >
        DEAL_NO,
      </if>
      <if test="TRSDET_LINE_NO != null and TRSDET_LINE_NO != emptyBigDecimalValue" >
        TRSDET_LINE_NO,
      </if>
      <if test="TRX_NBR != null and TRX_NBR != emptyBigDecimalValue" >
        TRX_NBR,
      </if>
      <if test="SWITCH_DATE != null" >
        SWITCH_DATE,
      </if>
      <if test="PARTY_TYPE != null" >
        PARTY_TYPE,
      </if>
      <if test="PARTY_NO != null and PARTY_NO != emptyBigDecimalValue" >
        PARTY_NO,
      </if>
      <if test="CHANGE_TEMPLATE_CODE != null" >
        CHANGE_TEMPLATE_CODE,
      </if>
      <if test="TEMPLATE_CODE != null and TEMPLATE_CODE != emptyBigDecimalValue" >
        TEMPLATE_CODE,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="INITIAL_PRINCIPAL != null and INITIAL_PRINCIPAL != emptyBigDecimalValue" >
        INITIAL_PRINCIPAL,
      </if>
      <if test="BALANCE_AMOUNT != null and BALANCE_AMOUNT != emptyBigDecimalValue" >
        BALANCE_AMOUNT,
      </if>
      <if test="BALANCE_PRINCIPAL != null and BALANCE_PRINCIPAL != emptyBigDecimalValue" >
        BALANCE_PRINCIPAL,
      </if>
      <if test="BALANCE_PROFIT != null and BALANCE_PROFIT != emptyBigDecimalValue" >
        BALANCE_PROFIT,
      </if>
      <if test="BALANCE_MODARIB_PROFIT != null and BALANCE_MODARIB_PROFIT != emptyBigDecimalValue" >
        BALANCE_MODARIB_PROFIT,
      </if>
      <if test="RECORD_TYPE != null" >
        RECORD_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="DEAL_NO != null and DEAL_NO != emptyBigDecimalValue" >
        #{DEAL_NO},
      </if>
      <if test="TRSDET_LINE_NO != null and TRSDET_LINE_NO != emptyBigDecimalValue" >
        #{TRSDET_LINE_NO},
      </if>
      <if test="TRX_NBR != null and TRX_NBR != emptyBigDecimalValue" >
        #{TRX_NBR},
      </if>
      <if test="SWITCH_DATE != null" >
        #{SWITCH_DATE},
      </if>
      <if test="PARTY_TYPE != null" >
        #{PARTY_TYPE},
      </if>
      <if test="PARTY_NO != null and PARTY_NO != emptyBigDecimalValue" >
        #{PARTY_NO},
      </if>
      <if test="CHANGE_TEMPLATE_CODE != null" >
        #{CHANGE_TEMPLATE_CODE},
      </if>
      <if test="TEMPLATE_CODE != null and TEMPLATE_CODE != emptyBigDecimalValue" >
        #{TEMPLATE_CODE},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="INITIAL_PRINCIPAL != null and INITIAL_PRINCIPAL != emptyBigDecimalValue" >
        #{INITIAL_PRINCIPAL},
      </if>
      <if test="BALANCE_AMOUNT != null and BALANCE_AMOUNT != emptyBigDecimalValue" >
        #{BALANCE_AMOUNT},
      </if>
      <if test="BALANCE_PRINCIPAL != null and BALANCE_PRINCIPAL != emptyBigDecimalValue" >
        #{BALANCE_PRINCIPAL},
      </if>
      <if test="BALANCE_PROFIT != null and BALANCE_PROFIT != emptyBigDecimalValue" >
        #{BALANCE_PROFIT},
      </if>
      <if test="BALANCE_MODARIB_PROFIT != null and BALANCE_MODARIB_PROFIT != emptyBigDecimalValue" >
        #{BALANCE_MODARIB_PROFIT},
      </if>
      <if test="RECORD_TYPE != null" >
        #{RECORD_TYPE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRS_DEAL_SWITCHING" >
    update TRS_DEAL_SWITCHING
    <set >
      <if test="SWITCH_DATE != null" >
        SWITCH_DATE = #{SWITCH_DATE},
      </if>
      <if test="PARTY_TYPE != null" >
        PARTY_TYPE = #{PARTY_TYPE},
      </if>
      <if test="PARTY_NO != null" >
        <choose >
          <when test="PARTY_NO == emptyBigDecimalValue" >
            PARTY_NO = NULL ,
          </when>
          <otherwise >
            PARTY_NO = #{PARTY_NO},
          </otherwise>
        </choose>
      </if>
      <if test="CHANGE_TEMPLATE_CODE != null" >
        CHANGE_TEMPLATE_CODE = #{CHANGE_TEMPLATE_CODE},
      </if>
      <if test="TEMPLATE_CODE != null" >
        <choose >
          <when test="TEMPLATE_CODE == emptyBigDecimalValue" >
            TEMPLATE_CODE = NULL ,
          </when>
          <otherwise >
            TEMPLATE_CODE = #{TEMPLATE_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="INITIAL_PRINCIPAL != null" >
        <choose >
          <when test="INITIAL_PRINCIPAL == emptyBigDecimalValue" >
            INITIAL_PRINCIPAL = NULL ,
          </when>
          <otherwise >
            INITIAL_PRINCIPAL = #{INITIAL_PRINCIPAL},
          </otherwise>
        </choose>
      </if>
      <if test="BALANCE_AMOUNT != null" >
        <choose >
          <when test="BALANCE_AMOUNT == emptyBigDecimalValue" >
            BALANCE_AMOUNT = NULL ,
          </when>
          <otherwise >
            BALANCE_AMOUNT = #{BALANCE_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="BALANCE_PRINCIPAL != null" >
        <choose >
          <when test="BALANCE_PRINCIPAL == emptyBigDecimalValue" >
            BALANCE_PRINCIPAL = NULL ,
          </when>
          <otherwise >
            BALANCE_PRINCIPAL = #{BALANCE_PRINCIPAL},
          </otherwise>
        </choose>
      </if>
      <if test="BALANCE_PROFIT != null" >
        <choose >
          <when test="BALANCE_PROFIT == emptyBigDecimalValue" >
            BALANCE_PROFIT = NULL ,
          </when>
          <otherwise >
            BALANCE_PROFIT = #{BALANCE_PROFIT},
          </otherwise>
        </choose>
      </if>
      <if test="BALANCE_MODARIB_PROFIT != null" >
        <choose >
          <when test="BALANCE_MODARIB_PROFIT == emptyBigDecimalValue" >
            BALANCE_MODARIB_PROFIT = NULL ,
          </when>
          <otherwise >
            BALANCE_MODARIB_PROFIT = #{BALANCE_MODARIB_PROFIT},
          </otherwise>
        </choose>
      </if>
      <if test="RECORD_TYPE != null" >
        RECORD_TYPE = #{RECORD_TYPE},
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and DEAL_NO = #{DEAL_NO}
      and TRSDET_LINE_NO = #{TRSDET_LINE_NO}
      and TRX_NBR = #{TRX_NBR}
  </sql>
  <update id="updateTRS_DEAL_SWITCHING" parameterType="com.path.dbmaps.vo.TRS_DEAL_SWITCHINGVO" >
    <include refid="sql_updateTRS_DEAL_SWITCHING" />
  </update>
</mapper>