<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRS_MANUAL_CLASSIFY" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRS_MANUAL_CLASSIFYVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="TRS_NO" property="TRS_NO" />
    <result column="TRS_DATE" property="TRS_DATE" />
    <result column="AS_OF_DATE" property="AS_OF_DATE" />
    <result column="CIF_NO" property="CIF_NO" />
    <result column="CURRENCY_CODE" property="CURRENCY_CODE" />
    <result column="EXCH_RATE" property="EXCH_RATE" />
    <result column="MULT_DIV" property="MULT_DIV" />
    <result column="UNIT" property="UNIT" />
    <result column="STATUS" property="STATUS" />
    <result column="TOTAL_DEAL_OUTSTNG_PRINCIPAL" property="TOTAL_DEAL_OUTSTNG_PRINCIPAL" />
    <result column="TOTAL_DEAL_OUTSTNG_PROFIT" property="TOTAL_DEAL_OUTSTNG_PROFIT" />
    <result column="TOTAL_OD_OUTSTANDING" property="TOTAL_OD_OUTSTANDING" />
    <result column="TRANSFER_AMOUNT" property="TRANSFER_AMOUNT" />
    <result column="TRANSFER_AMOUNT_CV" property="TRANSFER_AMOUNT_CV" />
    <result column="PRINCIPAL_ACC_GL" property="PRINCIPAL_ACC_GL" />
    <result column="PRINCIPAL_ACC_CIF" property="PRINCIPAL_ACC_CIF" />
    <result column="PRINCIPAL_ACC_SL" property="PRINCIPAL_ACC_SL" />
    <result column="PROFIT_ACC_GL" property="PROFIT_ACC_GL" />
    <result column="PROFIT_ACC_CIF" property="PROFIT_ACC_CIF" />
    <result column="PROFIT_ACC_SL" property="PROFIT_ACC_SL" />
    <result column="LEGAL_RATE" property="LEGAL_RATE" />
    <result column="PROVISION_APPLICABLE_YN" property="PROVISION_APPLICABLE_YN" />
    <result column="PROVISION_PERCENTAGE" property="PROVISION_PERCENTAGE" />
    <result column="PROVISION_AMOUNT" property="PROVISION_AMOUNT" />
    <result column="PROVISION_AMOUNT_OLD" property="PROVISION_AMOUNT_OLD" />
    <result column="PROVISION_TRS_DATE" property="PROVISION_TRS_DATE" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="APPROVED_BY" property="APPROVED_BY" />
    <result column="VERIFIED_BY" property="VERIFIED_BY" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="REVERSED_BY" property="REVERSED_BY" />
    <result column="DELETED_BY" property="DELETED_BY" />
    <result column="DATE_APPROVRED" property="DATE_APPROVRED" />
    <result column="DATE_VERIFIED" property="DATE_VERIFIED" />
    <result column="DATE_MODIFIED" property="DATE_MODIFIED" />
    <result column="DATE_REVERSED" property="DATE_REVERSED" />
    <result column="DATE_DELETED" property="DATE_DELETED" />
    <result column="SERVER_CREATED_DATE" property="SERVER_CREATED_DATE" />
    <result column="SERVER_VERIFIED_DATE" property="SERVER_VERIFIED_DATE" />
    <result column="SERVER_APPROVED_DATE" property="SERVER_APPROVED_DATE" />
    <result column="SERVER_MODIFIED_DATE" property="SERVER_MODIFIED_DATE" />
    <result column="SERVER_REVERSED_DATE" property="SERVER_REVERSED_DATE" />
    <result column="SERVER_DELETED_DATE" property="SERVER_DELETED_DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, TRS_NO, TRS_DATE, AS_OF_DATE, CIF_NO, CURRENCY_CODE, EXCH_RATE, 
    MULT_DIV, UNIT, STATUS, TOTAL_DEAL_OUTSTNG_PRINCIPAL, TOTAL_DEAL_OUTSTNG_PROFIT, 
    TOTAL_OD_OUTSTANDING, TRANSFER_AMOUNT, TRANSFER_AMOUNT_CV, PRINCIPAL_ACC_GL, PRINCIPAL_ACC_CIF, 
    PRINCIPAL_ACC_SL, PROFIT_ACC_GL, PROFIT_ACC_CIF, PROFIT_ACC_SL, LEGAL_RATE, PROVISION_APPLICABLE_YN, 
    PROVISION_PERCENTAGE, PROVISION_AMOUNT, PROVISION_AMOUNT_OLD, PROVISION_TRS_DATE, 
    CREATED_BY, APPROVED_BY, VERIFIED_BY, MODIFIED_BY, REVERSED_BY, DELETED_BY, DATE_APPROVRED, 
    DATE_VERIFIED, DATE_MODIFIED, DATE_REVERSED, DATE_DELETED, SERVER_CREATED_DATE, SERVER_VERIFIED_DATE, 
    SERVER_APPROVED_DATE, SERVER_MODIFIED_DATE, SERVER_REVERSED_DATE, SERVER_DELETED_DATE
  </sql>
  <select id="selectTRS_MANUAL_CLASSIFY" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRS_MANUAL_CLASSIFYVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRS_MANUAL_CLASSIFY
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and TRS_NO = #{TRS_NO}
  </select>
  <delete id="deleteTRS_MANUAL_CLASSIFY" parameterType="com.path.dbmaps.vo.TRS_MANUAL_CLASSIFYVOKey" >
    delete from TRS_MANUAL_CLASSIFY
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and TRS_NO = #{TRS_NO}
  </delete>
  <insert id="insertTRS_MANUAL_CLASSIFY" parameterType="com.path.dbmaps.vo.TRS_MANUAL_CLASSIFYVO" >
    insert into TRS_MANUAL_CLASSIFY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="TRS_NO != null and TRS_NO != emptyBigDecimalValue" >
        TRS_NO,
      </if>
      <if test="TRS_DATE != null" >
        TRS_DATE,
      </if>
      <if test="AS_OF_DATE != null" >
        AS_OF_DATE,
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        CIF_NO,
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        CURRENCY_CODE,
      </if>
      <if test="EXCH_RATE != null and EXCH_RATE != emptyBigDecimalValue" >
        EXCH_RATE,
      </if>
      <if test="MULT_DIV != null" >
        MULT_DIV,
      </if>
      <if test="UNIT != null and UNIT != emptyBigDecimalValue" >
        UNIT,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="TOTAL_DEAL_OUTSTNG_PRINCIPAL != null and TOTAL_DEAL_OUTSTNG_PRINCIPAL != emptyBigDecimalValue" >
        TOTAL_DEAL_OUTSTNG_PRINCIPAL,
      </if>
      <if test="TOTAL_DEAL_OUTSTNG_PROFIT != null and TOTAL_DEAL_OUTSTNG_PROFIT != emptyBigDecimalValue" >
        TOTAL_DEAL_OUTSTNG_PROFIT,
      </if>
      <if test="TOTAL_OD_OUTSTANDING != null and TOTAL_OD_OUTSTANDING != emptyBigDecimalValue" >
        TOTAL_OD_OUTSTANDING,
      </if>
      <if test="TRANSFER_AMOUNT != null and TRANSFER_AMOUNT != emptyBigDecimalValue" >
        TRANSFER_AMOUNT,
      </if>
      <if test="TRANSFER_AMOUNT_CV != null and TRANSFER_AMOUNT_CV != emptyBigDecimalValue" >
        TRANSFER_AMOUNT_CV,
      </if>
      <if test="PRINCIPAL_ACC_GL != null and PRINCIPAL_ACC_GL != emptyBigDecimalValue" >
        PRINCIPAL_ACC_GL,
      </if>
      <if test="PRINCIPAL_ACC_CIF != null and PRINCIPAL_ACC_CIF != emptyBigDecimalValue" >
        PRINCIPAL_ACC_CIF,
      </if>
      <if test="PRINCIPAL_ACC_SL != null and PRINCIPAL_ACC_SL != emptyBigDecimalValue" >
        PRINCIPAL_ACC_SL,
      </if>
      <if test="PROFIT_ACC_GL != null and PROFIT_ACC_GL != emptyBigDecimalValue" >
        PROFIT_ACC_GL,
      </if>
      <if test="PROFIT_ACC_CIF != null and PROFIT_ACC_CIF != emptyBigDecimalValue" >
        PROFIT_ACC_CIF,
      </if>
      <if test="PROFIT_ACC_SL != null and PROFIT_ACC_SL != emptyBigDecimalValue" >
        PROFIT_ACC_SL,
      </if>
      <if test="LEGAL_RATE != null and LEGAL_RATE != emptyBigDecimalValue" >
        LEGAL_RATE,
      </if>
      <if test="PROVISION_APPLICABLE_YN != null" >
        PROVISION_APPLICABLE_YN,
      </if>
      <if test="PROVISION_PERCENTAGE != null and PROVISION_PERCENTAGE != emptyBigDecimalValue" >
        PROVISION_PERCENTAGE,
      </if>
      <if test="PROVISION_AMOUNT != null and PROVISION_AMOUNT != emptyBigDecimalValue" >
        PROVISION_AMOUNT,
      </if>
      <if test="PROVISION_AMOUNT_OLD != null and PROVISION_AMOUNT_OLD != emptyBigDecimalValue" >
        PROVISION_AMOUNT_OLD,
      </if>
      <if test="PROVISION_TRS_DATE != null" >
        PROVISION_TRS_DATE,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY,
      </if>
      <if test="VERIFIED_BY != null" >
        VERIFIED_BY,
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY,
      </if>
      <if test="REVERSED_BY != null" >
        REVERSED_BY,
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY,
      </if>
      <if test="DATE_APPROVRED != null" >
        DATE_APPROVRED,
      </if>
      <if test="DATE_VERIFIED != null" >
        DATE_VERIFIED,
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED,
      </if>
      <if test="DATE_REVERSED != null" >
        DATE_REVERSED,
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED,
      </if>
      <if test="SERVER_CREATED_DATE != null" >
        SERVER_CREATED_DATE,
      </if>
      <if test="SERVER_VERIFIED_DATE != null" >
        SERVER_VERIFIED_DATE,
      </if>
      <if test="SERVER_APPROVED_DATE != null" >
        SERVER_APPROVED_DATE,
      </if>
      <if test="SERVER_MODIFIED_DATE != null" >
        SERVER_MODIFIED_DATE,
      </if>
      <if test="SERVER_REVERSED_DATE != null" >
        SERVER_REVERSED_DATE,
      </if>
      <if test="SERVER_DELETED_DATE != null" >
        SERVER_DELETED_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="TRS_NO != null and TRS_NO != emptyBigDecimalValue" >
        #{TRS_NO},
      </if>
      <if test="TRS_DATE != null" >
        #{TRS_DATE},
      </if>
      <if test="AS_OF_DATE != null" >
        #{AS_OF_DATE},
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        #{CIF_NO},
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        #{CURRENCY_CODE},
      </if>
      <if test="EXCH_RATE != null and EXCH_RATE != emptyBigDecimalValue" >
        #{EXCH_RATE},
      </if>
      <if test="MULT_DIV != null" >
        #{MULT_DIV},
      </if>
      <if test="UNIT != null and UNIT != emptyBigDecimalValue" >
        #{UNIT},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="TOTAL_DEAL_OUTSTNG_PRINCIPAL != null and TOTAL_DEAL_OUTSTNG_PRINCIPAL != emptyBigDecimalValue" >
        #{TOTAL_DEAL_OUTSTNG_PRINCIPAL},
      </if>
      <if test="TOTAL_DEAL_OUTSTNG_PROFIT != null and TOTAL_DEAL_OUTSTNG_PROFIT != emptyBigDecimalValue" >
        #{TOTAL_DEAL_OUTSTNG_PROFIT},
      </if>
      <if test="TOTAL_OD_OUTSTANDING != null and TOTAL_OD_OUTSTANDING != emptyBigDecimalValue" >
        #{TOTAL_OD_OUTSTANDING},
      </if>
      <if test="TRANSFER_AMOUNT != null and TRANSFER_AMOUNT != emptyBigDecimalValue" >
        #{TRANSFER_AMOUNT},
      </if>
      <if test="TRANSFER_AMOUNT_CV != null and TRANSFER_AMOUNT_CV != emptyBigDecimalValue" >
        #{TRANSFER_AMOUNT_CV},
      </if>
      <if test="PRINCIPAL_ACC_GL != null and PRINCIPAL_ACC_GL != emptyBigDecimalValue" >
        #{PRINCIPAL_ACC_GL},
      </if>
      <if test="PRINCIPAL_ACC_CIF != null and PRINCIPAL_ACC_CIF != emptyBigDecimalValue" >
        #{PRINCIPAL_ACC_CIF},
      </if>
      <if test="PRINCIPAL_ACC_SL != null and PRINCIPAL_ACC_SL != emptyBigDecimalValue" >
        #{PRINCIPAL_ACC_SL},
      </if>
      <if test="PROFIT_ACC_GL != null and PROFIT_ACC_GL != emptyBigDecimalValue" >
        #{PROFIT_ACC_GL},
      </if>
      <if test="PROFIT_ACC_CIF != null and PROFIT_ACC_CIF != emptyBigDecimalValue" >
        #{PROFIT_ACC_CIF},
      </if>
      <if test="PROFIT_ACC_SL != null and PROFIT_ACC_SL != emptyBigDecimalValue" >
        #{PROFIT_ACC_SL},
      </if>
      <if test="LEGAL_RATE != null and LEGAL_RATE != emptyBigDecimalValue" >
        #{LEGAL_RATE},
      </if>
      <if test="PROVISION_APPLICABLE_YN != null" >
        #{PROVISION_APPLICABLE_YN},
      </if>
      <if test="PROVISION_PERCENTAGE != null and PROVISION_PERCENTAGE != emptyBigDecimalValue" >
        #{PROVISION_PERCENTAGE},
      </if>
      <if test="PROVISION_AMOUNT != null and PROVISION_AMOUNT != emptyBigDecimalValue" >
        #{PROVISION_AMOUNT},
      </if>
      <if test="PROVISION_AMOUNT_OLD != null and PROVISION_AMOUNT_OLD != emptyBigDecimalValue" >
        #{PROVISION_AMOUNT_OLD},
      </if>
      <if test="PROVISION_TRS_DATE != null" >
        #{PROVISION_TRS_DATE},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="APPROVED_BY != null" >
        #{APPROVED_BY},
      </if>
      <if test="VERIFIED_BY != null" >
        #{VERIFIED_BY},
      </if>
      <if test="MODIFIED_BY != null" >
        #{MODIFIED_BY},
      </if>
      <if test="REVERSED_BY != null" >
        #{REVERSED_BY},
      </if>
      <if test="DELETED_BY != null" >
        #{DELETED_BY},
      </if>
      <if test="DATE_APPROVRED != null" >
        #{DATE_APPROVRED},
      </if>
      <if test="DATE_VERIFIED != null" >
        #{DATE_VERIFIED},
      </if>
      <if test="DATE_MODIFIED != null" >
        #{DATE_MODIFIED},
      </if>
      <if test="DATE_REVERSED != null" >
        #{DATE_REVERSED},
      </if>
      <if test="DATE_DELETED != null" >
        #{DATE_DELETED},
      </if>
      <if test="SERVER_CREATED_DATE != null" >
        #{SERVER_CREATED_DATE},
      </if>
      <if test="SERVER_VERIFIED_DATE != null" >
        #{SERVER_VERIFIED_DATE},
      </if>
      <if test="SERVER_APPROVED_DATE != null" >
        #{SERVER_APPROVED_DATE},
      </if>
      <if test="SERVER_MODIFIED_DATE != null" >
        #{SERVER_MODIFIED_DATE},
      </if>
      <if test="SERVER_REVERSED_DATE != null" >
        #{SERVER_REVERSED_DATE},
      </if>
      <if test="SERVER_DELETED_DATE != null" >
        #{SERVER_DELETED_DATE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRS_MANUAL_CLASSIFY" >
    update TRS_MANUAL_CLASSIFY
    <set >
      <if test="TRS_DATE != null" >
        TRS_DATE = #{TRS_DATE},
      </if>
      <if test="AS_OF_DATE != null" >
        AS_OF_DATE = #{AS_OF_DATE},
      </if>
      <if test="CIF_NO != null" >
        <choose >
          <when test="CIF_NO == emptyBigDecimalValue" >
            CIF_NO = NULL ,
          </when>
          <otherwise >
            CIF_NO = #{CIF_NO},
          </otherwise>
        </choose>
      </if>
      <if test="CURRENCY_CODE != null" >
        <choose >
          <when test="CURRENCY_CODE == emptyBigDecimalValue" >
            CURRENCY_CODE = NULL ,
          </when>
          <otherwise >
            CURRENCY_CODE = #{CURRENCY_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="EXCH_RATE != null" >
        <choose >
          <when test="EXCH_RATE == emptyBigDecimalValue" >
            EXCH_RATE = NULL ,
          </when>
          <otherwise >
            EXCH_RATE = #{EXCH_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="MULT_DIV != null" >
        MULT_DIV = #{MULT_DIV},
      </if>
      <if test="UNIT != null" >
        <choose >
          <when test="UNIT == emptyBigDecimalValue" >
            UNIT = NULL ,
          </when>
          <otherwise >
            UNIT = #{UNIT},
          </otherwise>
        </choose>
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="TOTAL_DEAL_OUTSTNG_PRINCIPAL != null" >
        <choose >
          <when test="TOTAL_DEAL_OUTSTNG_PRINCIPAL == emptyBigDecimalValue" >
            TOTAL_DEAL_OUTSTNG_PRINCIPAL = NULL ,
          </when>
          <otherwise >
            TOTAL_DEAL_OUTSTNG_PRINCIPAL = #{TOTAL_DEAL_OUTSTNG_PRINCIPAL},
          </otherwise>
        </choose>
      </if>
      <if test="TOTAL_DEAL_OUTSTNG_PROFIT != null" >
        <choose >
          <when test="TOTAL_DEAL_OUTSTNG_PROFIT == emptyBigDecimalValue" >
            TOTAL_DEAL_OUTSTNG_PROFIT = NULL ,
          </when>
          <otherwise >
            TOTAL_DEAL_OUTSTNG_PROFIT = #{TOTAL_DEAL_OUTSTNG_PROFIT},
          </otherwise>
        </choose>
      </if>
      <if test="TOTAL_OD_OUTSTANDING != null" >
        <choose >
          <when test="TOTAL_OD_OUTSTANDING == emptyBigDecimalValue" >
            TOTAL_OD_OUTSTANDING = NULL ,
          </when>
          <otherwise >
            TOTAL_OD_OUTSTANDING = #{TOTAL_OD_OUTSTANDING},
          </otherwise>
        </choose>
      </if>
      <if test="TRANSFER_AMOUNT != null" >
        <choose >
          <when test="TRANSFER_AMOUNT == emptyBigDecimalValue" >
            TRANSFER_AMOUNT = NULL ,
          </when>
          <otherwise >
            TRANSFER_AMOUNT = #{TRANSFER_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="TRANSFER_AMOUNT_CV != null" >
        <choose >
          <when test="TRANSFER_AMOUNT_CV == emptyBigDecimalValue" >
            TRANSFER_AMOUNT_CV = NULL ,
          </when>
          <otherwise >
            TRANSFER_AMOUNT_CV = #{TRANSFER_AMOUNT_CV},
          </otherwise>
        </choose>
      </if>
      <if test="PRINCIPAL_ACC_GL != null" >
        <choose >
          <when test="PRINCIPAL_ACC_GL == emptyBigDecimalValue" >
            PRINCIPAL_ACC_GL = NULL ,
          </when>
          <otherwise >
            PRINCIPAL_ACC_GL = #{PRINCIPAL_ACC_GL},
          </otherwise>
        </choose>
      </if>
      <if test="PRINCIPAL_ACC_CIF != null" >
        <choose >
          <when test="PRINCIPAL_ACC_CIF == emptyBigDecimalValue" >
            PRINCIPAL_ACC_CIF = NULL ,
          </when>
          <otherwise >
            PRINCIPAL_ACC_CIF = #{PRINCIPAL_ACC_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="PRINCIPAL_ACC_SL != null" >
        <choose >
          <when test="PRINCIPAL_ACC_SL == emptyBigDecimalValue" >
            PRINCIPAL_ACC_SL = NULL ,
          </when>
          <otherwise >
            PRINCIPAL_ACC_SL = #{PRINCIPAL_ACC_SL},
          </otherwise>
        </choose>
      </if>
      <if test="PROFIT_ACC_GL != null" >
        <choose >
          <when test="PROFIT_ACC_GL == emptyBigDecimalValue" >
            PROFIT_ACC_GL = NULL ,
          </when>
          <otherwise >
            PROFIT_ACC_GL = #{PROFIT_ACC_GL},
          </otherwise>
        </choose>
      </if>
      <if test="PROFIT_ACC_CIF != null" >
        <choose >
          <when test="PROFIT_ACC_CIF == emptyBigDecimalValue" >
            PROFIT_ACC_CIF = NULL ,
          </when>
          <otherwise >
            PROFIT_ACC_CIF = #{PROFIT_ACC_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="PROFIT_ACC_SL != null" >
        <choose >
          <when test="PROFIT_ACC_SL == emptyBigDecimalValue" >
            PROFIT_ACC_SL = NULL ,
          </when>
          <otherwise >
            PROFIT_ACC_SL = #{PROFIT_ACC_SL},
          </otherwise>
        </choose>
      </if>
      <if test="LEGAL_RATE != null" >
        <choose >
          <when test="LEGAL_RATE == emptyBigDecimalValue" >
            LEGAL_RATE = NULL ,
          </when>
          <otherwise >
            LEGAL_RATE = #{LEGAL_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="PROVISION_APPLICABLE_YN != null" >
        PROVISION_APPLICABLE_YN = #{PROVISION_APPLICABLE_YN},
      </if>
      <if test="PROVISION_PERCENTAGE != null" >
        <choose >
          <when test="PROVISION_PERCENTAGE == emptyBigDecimalValue" >
            PROVISION_PERCENTAGE = NULL ,
          </when>
          <otherwise >
            PROVISION_PERCENTAGE = #{PROVISION_PERCENTAGE},
          </otherwise>
        </choose>
      </if>
      <if test="PROVISION_AMOUNT != null" >
        <choose >
          <when test="PROVISION_AMOUNT == emptyBigDecimalValue" >
            PROVISION_AMOUNT = NULL ,
          </when>
          <otherwise >
            PROVISION_AMOUNT = #{PROVISION_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="PROVISION_AMOUNT_OLD != null" >
        <choose >
          <when test="PROVISION_AMOUNT_OLD == emptyBigDecimalValue" >
            PROVISION_AMOUNT_OLD = NULL ,
          </when>
          <otherwise >
            PROVISION_AMOUNT_OLD = #{PROVISION_AMOUNT_OLD},
          </otherwise>
        </choose>
      </if>
      <if test="PROVISION_TRS_DATE != null" >
        PROVISION_TRS_DATE = #{PROVISION_TRS_DATE},
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY = #{APPROVED_BY},
      </if>
      <if test="VERIFIED_BY != null" >
        VERIFIED_BY = #{VERIFIED_BY},
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY = #{MODIFIED_BY},
      </if>
      <if test="REVERSED_BY != null" >
        REVERSED_BY = #{REVERSED_BY},
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY = #{DELETED_BY},
      </if>
      <if test="DATE_APPROVRED != null" >
        DATE_APPROVRED = #{DATE_APPROVRED},
      </if>
      <if test="DATE_VERIFIED != null" >
        DATE_VERIFIED = #{DATE_VERIFIED},
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED = #{DATE_MODIFIED},
      </if>
      <if test="DATE_REVERSED != null" >
        DATE_REVERSED = #{DATE_REVERSED},
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED = #{DATE_DELETED},
      </if>
      <if test="SERVER_CREATED_DATE != null" >
        SERVER_CREATED_DATE = #{SERVER_CREATED_DATE},
      </if>
      <if test="SERVER_VERIFIED_DATE != null" >
        SERVER_VERIFIED_DATE = #{SERVER_VERIFIED_DATE},
      </if>
      <if test="SERVER_APPROVED_DATE != null" >
        SERVER_APPROVED_DATE = #{SERVER_APPROVED_DATE},
      </if>
      <if test="SERVER_MODIFIED_DATE != null" >
        SERVER_MODIFIED_DATE = #{SERVER_MODIFIED_DATE},
      </if>
      <if test="SERVER_REVERSED_DATE != null" >
        SERVER_REVERSED_DATE = #{SERVER_REVERSED_DATE},
      </if>
      <if test="SERVER_DELETED_DATE != null" >
        SERVER_DELETED_DATE = #{SERVER_DELETED_DATE},
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and TRS_NO = #{TRS_NO}
  </sql>
  <update id="updateTRS_MANUAL_CLASSIFY" parameterType="com.path.dbmaps.vo.TRS_MANUAL_CLASSIFYVO" >
    <include refid="sql_updateTRS_MANUAL_CLASSIFY" />
  </update>
</mapper>