<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRS_JV_PRINT_TMP" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRS_JV_PRINT_TMPVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NO" property="LINE_NO" />
    <id column="OP_NO" property="OP_NO" />
    <result column="CURRENCY_CODE" property="CURRENCY_CODE" />
    <result column="GL_CODE" property="GL_CODE" />
    <result column="CIF_SUB_NO" property="CIF_SUB_NO" />
    <result column="SL_NO" property="SL_NO" />
    <result column="POST_DATE" property="POST_DATE" />
    <result column="JV_TYPE" property="JV_TYPE" />
    <result column="JV_REF" property="JV_REF" />
    <result column="TRANS_DATE" property="TRANS_DATE" />
    <result column="VALUE_DATE" property="VALUE_DATE" />
    <result column="FC_AMOUNT" property="FC_AMOUNT" />
    <result column="EXCH_RATE" property="EXCH_RATE" />
    <result column="CUR_UNIT" property="CUR_UNIT" />
    <result column="CV_AMOUNT" property="CV_AMOUNT" />
    <result column="DESCRIPTION" property="DESCRIPTION" />
    <result column="TIME_CREATED" property="TIME_CREATED" />
    <result column="TERMINAL_ID" property="TERMINAL_ID" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="OP_STATUS" property="OP_STATUS" />
    <result column="OP_ORIGIN" property="OP_ORIGIN" />
    <result column="BC_FLAG" property="BC_FLAG" />
    <result column="AMT_SIGN" property="AMT_SIGN" />
    <result column="MAIN_COMP_CODE" property="MAIN_COMP_CODE" />
    <result column="AMF_BRIEF_NAME_ENG" property="AMF_BRIEF_NAME_ENG" />
    <result column="AMF_LONG_NAME_ENG" property="AMF_LONG_NAME_ENG" />
    <result column="AMF_BRIEF_NAME_ARAB" property="AMF_BRIEF_NAME_ARAB" />
    <result column="AMF_LONG_NAME_ARAB" property="AMF_LONG_NAME_ARAB" />
    <result column="AMF_ADDITIONAL_REFERENCE" property="AMF_ADDITIONAL_REFERENCE" />
    <result column="USER_ID" property="USER_ID" />
    <result column="SESSION_ID" property="SESSION_ID" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, LINE_NO, OP_NO, CURRENCY_CODE, GL_CODE, CIF_SUB_NO, SL_NO, 
    POST_DATE, JV_TYPE, JV_REF, TRANS_DATE, VALUE_DATE, FC_AMOUNT, EXCH_RATE, CUR_UNIT, 
    CV_AMOUNT, DESCRIPTION, TIME_CREATED, TERMINAL_ID, CREATED_BY, OP_STATUS, OP_ORIGIN, 
    BC_FLAG, AMT_SIGN, MAIN_COMP_CODE, AMF_BRIEF_NAME_ENG, AMF_LONG_NAME_ENG, AMF_BRIEF_NAME_ARAB, 
    AMF_LONG_NAME_ARAB, AMF_ADDITIONAL_REFERENCE, USER_ID, SESSION_ID
  </sql>
  <select id="selectTRS_JV_PRINT_TMP" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRS_JV_PRINT_TMPVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRS_JV_PRINT_TMP
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and OP_NO = #{OP_NO}
  </select>
  <delete id="deleteTRS_JV_PRINT_TMP" parameterType="com.path.dbmaps.vo.TRS_JV_PRINT_TMPVOKey" >
    delete from TRS_JV_PRINT_TMP
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and OP_NO = #{OP_NO}
  </delete>
  <insert id="insertTRS_JV_PRINT_TMP" parameterType="com.path.dbmaps.vo.TRS_JV_PRINT_TMPVO" >
    insert into TRS_JV_PRINT_TMP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="OP_NO != null and OP_NO != emptyBigDecimalValue" >
        OP_NO,
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        CURRENCY_CODE,
      </if>
      <if test="GL_CODE != null and GL_CODE != emptyBigDecimalValue" >
        GL_CODE,
      </if>
      <if test="CIF_SUB_NO != null and CIF_SUB_NO != emptyBigDecimalValue" >
        CIF_SUB_NO,
      </if>
      <if test="SL_NO != null and SL_NO != emptyBigDecimalValue" >
        SL_NO,
      </if>
      <if test="POST_DATE != null" >
        POST_DATE,
      </if>
      <if test="JV_TYPE != null and JV_TYPE != emptyBigDecimalValue" >
        JV_TYPE,
      </if>
      <if test="JV_REF != null" >
        JV_REF,
      </if>
      <if test="TRANS_DATE != null" >
        TRANS_DATE,
      </if>
      <if test="VALUE_DATE != null" >
        VALUE_DATE,
      </if>
      <if test="FC_AMOUNT != null and FC_AMOUNT != emptyBigDecimalValue" >
        FC_AMOUNT,
      </if>
      <if test="EXCH_RATE != null and EXCH_RATE != emptyBigDecimalValue" >
        EXCH_RATE,
      </if>
      <if test="CUR_UNIT != null and CUR_UNIT != emptyBigDecimalValue" >
        CUR_UNIT,
      </if>
      <if test="CV_AMOUNT != null and CV_AMOUNT != emptyBigDecimalValue" >
        CV_AMOUNT,
      </if>
      <if test="DESCRIPTION != null" >
        DESCRIPTION,
      </if>
      <if test="TIME_CREATED != null" >
        TIME_CREATED,
      </if>
      <if test="TERMINAL_ID != null" >
        TERMINAL_ID,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="OP_STATUS != null" >
        OP_STATUS,
      </if>
      <if test="OP_ORIGIN != null" >
        OP_ORIGIN,
      </if>
      <if test="BC_FLAG != null" >
        BC_FLAG,
      </if>
      <if test="AMT_SIGN != null" >
        AMT_SIGN,
      </if>
      <if test="MAIN_COMP_CODE != null and MAIN_COMP_CODE != emptyBigDecimalValue" >
        MAIN_COMP_CODE,
      </if>
      <if test="AMF_BRIEF_NAME_ENG != null" >
        AMF_BRIEF_NAME_ENG,
      </if>
      <if test="AMF_LONG_NAME_ENG != null" >
        AMF_LONG_NAME_ENG,
      </if>
      <if test="AMF_BRIEF_NAME_ARAB != null" >
        AMF_BRIEF_NAME_ARAB,
      </if>
      <if test="AMF_LONG_NAME_ARAB != null" >
        AMF_LONG_NAME_ARAB,
      </if>
      <if test="AMF_ADDITIONAL_REFERENCE != null" >
        AMF_ADDITIONAL_REFERENCE,
      </if>
      <if test="USER_ID != null" >
        USER_ID,
      </if>
      <if test="SESSION_ID != null and SESSION_ID != emptyBigDecimalValue" >
        SESSION_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="OP_NO != null and OP_NO != emptyBigDecimalValue" >
        #{OP_NO},
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        #{CURRENCY_CODE},
      </if>
      <if test="GL_CODE != null and GL_CODE != emptyBigDecimalValue" >
        #{GL_CODE},
      </if>
      <if test="CIF_SUB_NO != null and CIF_SUB_NO != emptyBigDecimalValue" >
        #{CIF_SUB_NO},
      </if>
      <if test="SL_NO != null and SL_NO != emptyBigDecimalValue" >
        #{SL_NO},
      </if>
      <if test="POST_DATE != null" >
        #{POST_DATE},
      </if>
      <if test="JV_TYPE != null and JV_TYPE != emptyBigDecimalValue" >
        #{JV_TYPE},
      </if>
      <if test="JV_REF != null" >
        #{JV_REF},
      </if>
      <if test="TRANS_DATE != null" >
        #{TRANS_DATE},
      </if>
      <if test="VALUE_DATE != null" >
        #{VALUE_DATE},
      </if>
      <if test="FC_AMOUNT != null and FC_AMOUNT != emptyBigDecimalValue" >
        #{FC_AMOUNT},
      </if>
      <if test="EXCH_RATE != null and EXCH_RATE != emptyBigDecimalValue" >
        #{EXCH_RATE},
      </if>
      <if test="CUR_UNIT != null and CUR_UNIT != emptyBigDecimalValue" >
        #{CUR_UNIT},
      </if>
      <if test="CV_AMOUNT != null and CV_AMOUNT != emptyBigDecimalValue" >
        #{CV_AMOUNT},
      </if>
      <if test="DESCRIPTION != null" >
        #{DESCRIPTION},
      </if>
      <if test="TIME_CREATED != null" >
        #{TIME_CREATED},
      </if>
      <if test="TERMINAL_ID != null" >
        #{TERMINAL_ID},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="OP_STATUS != null" >
        #{OP_STATUS},
      </if>
      <if test="OP_ORIGIN != null" >
        #{OP_ORIGIN},
      </if>
      <if test="BC_FLAG != null" >
        #{BC_FLAG},
      </if>
      <if test="AMT_SIGN != null" >
        #{AMT_SIGN},
      </if>
      <if test="MAIN_COMP_CODE != null and MAIN_COMP_CODE != emptyBigDecimalValue" >
        #{MAIN_COMP_CODE},
      </if>
      <if test="AMF_BRIEF_NAME_ENG != null" >
        #{AMF_BRIEF_NAME_ENG},
      </if>
      <if test="AMF_LONG_NAME_ENG != null" >
        #{AMF_LONG_NAME_ENG},
      </if>
      <if test="AMF_BRIEF_NAME_ARAB != null" >
        #{AMF_BRIEF_NAME_ARAB},
      </if>
      <if test="AMF_LONG_NAME_ARAB != null" >
        #{AMF_LONG_NAME_ARAB},
      </if>
      <if test="AMF_ADDITIONAL_REFERENCE != null" >
        #{AMF_ADDITIONAL_REFERENCE},
      </if>
      <if test="USER_ID != null" >
        #{USER_ID},
      </if>
      <if test="SESSION_ID != null and SESSION_ID != emptyBigDecimalValue" >
        #{SESSION_ID},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRS_JV_PRINT_TMP" >
    update TRS_JV_PRINT_TMP
    <set >
      <if test="CURRENCY_CODE != null" >
        <choose >
          <when test="CURRENCY_CODE == emptyBigDecimalValue" >
            CURRENCY_CODE = NULL ,
          </when>
          <otherwise >
            CURRENCY_CODE = #{CURRENCY_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="GL_CODE != null" >
        <choose >
          <when test="GL_CODE == emptyBigDecimalValue" >
            GL_CODE = NULL ,
          </when>
          <otherwise >
            GL_CODE = #{GL_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="CIF_SUB_NO != null" >
        <choose >
          <when test="CIF_SUB_NO == emptyBigDecimalValue" >
            CIF_SUB_NO = NULL ,
          </when>
          <otherwise >
            CIF_SUB_NO = #{CIF_SUB_NO},
          </otherwise>
        </choose>
      </if>
      <if test="SL_NO != null" >
        <choose >
          <when test="SL_NO == emptyBigDecimalValue" >
            SL_NO = NULL ,
          </when>
          <otherwise >
            SL_NO = #{SL_NO},
          </otherwise>
        </choose>
      </if>
      <if test="POST_DATE != null" >
        POST_DATE = #{POST_DATE},
      </if>
      <if test="JV_TYPE != null" >
        <choose >
          <when test="JV_TYPE == emptyBigDecimalValue" >
            JV_TYPE = NULL ,
          </when>
          <otherwise >
            JV_TYPE = #{JV_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="JV_REF != null" >
        JV_REF = #{JV_REF},
      </if>
      <if test="TRANS_DATE != null" >
        TRANS_DATE = #{TRANS_DATE},
      </if>
      <if test="VALUE_DATE != null" >
        VALUE_DATE = #{VALUE_DATE},
      </if>
      <if test="FC_AMOUNT != null" >
        <choose >
          <when test="FC_AMOUNT == emptyBigDecimalValue" >
            FC_AMOUNT = NULL ,
          </when>
          <otherwise >
            FC_AMOUNT = #{FC_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="EXCH_RATE != null" >
        <choose >
          <when test="EXCH_RATE == emptyBigDecimalValue" >
            EXCH_RATE = NULL ,
          </when>
          <otherwise >
            EXCH_RATE = #{EXCH_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="CUR_UNIT != null" >
        <choose >
          <when test="CUR_UNIT == emptyBigDecimalValue" >
            CUR_UNIT = NULL ,
          </when>
          <otherwise >
            CUR_UNIT = #{CUR_UNIT},
          </otherwise>
        </choose>
      </if>
      <if test="CV_AMOUNT != null" >
        <choose >
          <when test="CV_AMOUNT == emptyBigDecimalValue" >
            CV_AMOUNT = NULL ,
          </when>
          <otherwise >
            CV_AMOUNT = #{CV_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="DESCRIPTION != null" >
        DESCRIPTION = #{DESCRIPTION},
      </if>
      <if test="TIME_CREATED != null" >
        TIME_CREATED = #{TIME_CREATED},
      </if>
      <if test="TERMINAL_ID != null" >
        TERMINAL_ID = #{TERMINAL_ID},
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="OP_STATUS != null" >
        OP_STATUS = #{OP_STATUS},
      </if>
      <if test="OP_ORIGIN != null" >
        OP_ORIGIN = #{OP_ORIGIN},
      </if>
      <if test="BC_FLAG != null" >
        BC_FLAG = #{BC_FLAG},
      </if>
      <if test="AMT_SIGN != null" >
        AMT_SIGN = #{AMT_SIGN},
      </if>
      <if test="MAIN_COMP_CODE != null" >
        <choose >
          <when test="MAIN_COMP_CODE == emptyBigDecimalValue" >
            MAIN_COMP_CODE = NULL ,
          </when>
          <otherwise >
            MAIN_COMP_CODE = #{MAIN_COMP_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="AMF_BRIEF_NAME_ENG != null" >
        AMF_BRIEF_NAME_ENG = #{AMF_BRIEF_NAME_ENG},
      </if>
      <if test="AMF_LONG_NAME_ENG != null" >
        AMF_LONG_NAME_ENG = #{AMF_LONG_NAME_ENG},
      </if>
      <if test="AMF_BRIEF_NAME_ARAB != null" >
        AMF_BRIEF_NAME_ARAB = #{AMF_BRIEF_NAME_ARAB},
      </if>
      <if test="AMF_LONG_NAME_ARAB != null" >
        AMF_LONG_NAME_ARAB = #{AMF_LONG_NAME_ARAB},
      </if>
      <if test="AMF_ADDITIONAL_REFERENCE != null" >
        AMF_ADDITIONAL_REFERENCE = #{AMF_ADDITIONAL_REFERENCE},
      </if>
      <if test="USER_ID != null" >
        USER_ID = #{USER_ID},
      </if>
      <if test="SESSION_ID != null" >
        <choose >
          <when test="SESSION_ID == emptyBigDecimalValue" >
            SESSION_ID = NULL ,
          </when>
          <otherwise >
            SESSION_ID = #{SESSION_ID},
          </otherwise>
        </choose>
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and OP_NO = #{OP_NO}
  </sql>
  <update id="updateTRS_JV_PRINT_TMP" parameterType="com.path.dbmaps.vo.TRS_JV_PRINT_TMPVO" >
    <include refid="sql_updateTRS_JV_PRINT_TMP" />
  </update>
</mapper>