<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRS_REQUEST_CONTRIBUTOR_DET" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRS_REQUEST_CONTRIBUTOR_DETVO" >
    <id column="BRANCH" property="BRANCH" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="REQ_NO" property="REQ_NO" />
    <result column="SPECIFIC_CIF" property="SPECIFIC_CIF" />
    <result column="SPECIFIC_COUNTRY" property="SPECIFIC_COUNTRY" />
    <result column="INVESTMENT_CY" property="INVESTMENT_CY" />
    <result column="INVESTMENT_AMOUNT" property="INVESTMENT_AMOUNT" />
    <result column="VALUE_DATE" property="VALUE_DATE" />
    <result column="MATURITY_DATE" property="MATURITY_DATE" />
    <result column="VALUE_DATE_INSTRUCTION" property="VALUE_DATE_INSTRUCTION" />
    <result column="MATURITY_DATE_INSTRUCTION" property="MATURITY_DATE_INSTRUCTION" />
    <result column="YIELD_FROM" property="YIELD_FROM" />
    <result column="YIELD_TO" property="YIELD_TO" />
    <result column="REMARKS" property="REMARKS" />
    <result column="ACC_BR" property="ACC_BR" />
    <result column="ACC_CY" property="ACC_CY" />
    <result column="ACC_GL" property="ACC_GL" />
    <result column="ACC_CIF" property="ACC_CIF" />
    <result column="ACC_SL" property="ACC_SL" />
    <result column="ROLLOVER_IND" property="ROLLOVER_IND" />
    <result column="ROLLOVER_AMT_TYPE" property="ROLLOVER_AMT_TYPE" />
    <result column="ROLLOVER_AMOUNT" property="ROLLOVER_AMOUNT" />
    <result column="ROLLOVER_METHOD" property="ROLLOVER_METHOD" />
    <result column="ROLLOVER_AMT_TYPE_2" property="ROLLOVER_AMT_TYPE_2" />
    <result column="ROLLOVER_AMOUNT_2" property="ROLLOVER_AMOUNT_2" />
    <result column="BLOCK_CONTRIB_AMT_YN" property="BLOCK_CONTRIB_AMT_YN" />
    <result column="CONTRIB_BLOCKED_AMOUNT" property="CONTRIB_BLOCKED_AMOUNT" />
    <result column="REASONFORCHANGING" property="REASONFORCHANGING" />
    <result column="CONTRIBBLOCK_VIA_TRF_YN" property="CONTRIBBLOCK_VIA_TRF_YN" />
    <result column="CONTRIBBLOCK_TRF_AMT" property="CONTRIBBLOCK_TRF_AMT" />
    <result column="CONTRIBBLOCK_TRF_BLOCK_AMT" property="CONTRIBBLOCK_TRF_BLOCK_AMT" />
    <result column="CONTRIBBLOCK_TRF_REASON" property="CONTRIBBLOCK_TRF_REASON" />
    <result column="CONTRIBBLOCK_TRF_MARGIN_BR" property="CONTRIBBLOCK_TRF_MARGIN_BR" />
    <result column="CONTRIBBLOCK_TRF_MARGIN_CY" property="CONTRIBBLOCK_TRF_MARGIN_CY" />
    <result column="CONTRIBBLOCK_TRF_MARGIN_GL" property="CONTRIBBLOCK_TRF_MARGIN_GL" />
    <result column="CONTRIBBLOCK_TRF_MARGIN_CIF" property="CONTRIBBLOCK_TRF_MARGIN_CIF" />
    <result column="CONTRIBBLOCK_TRF_MARGIN_SL" property="CONTRIBBLOCK_TRF_MARGIN_SL" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH, COMP_CODE, REQ_NO, SPECIFIC_CIF, SPECIFIC_COUNTRY, INVESTMENT_CY, INVESTMENT_AMOUNT, 
    VALUE_DATE, MATURITY_DATE, VALUE_DATE_INSTRUCTION, MATURITY_DATE_INSTRUCTION, YIELD_FROM, 
    YIELD_TO, REMARKS, ACC_BR, ACC_CY, ACC_GL, ACC_CIF, ACC_SL, ROLLOVER_IND, ROLLOVER_AMT_TYPE, 
    ROLLOVER_AMOUNT, ROLLOVER_METHOD, ROLLOVER_AMT_TYPE_2, ROLLOVER_AMOUNT_2, BLOCK_CONTRIB_AMT_YN, 
    CONTRIB_BLOCKED_AMOUNT, REASONFORCHANGING, CONTRIBBLOCK_VIA_TRF_YN, CONTRIBBLOCK_TRF_AMT, 
    CONTRIBBLOCK_TRF_BLOCK_AMT, CONTRIBBLOCK_TRF_REASON, CONTRIBBLOCK_TRF_MARGIN_BR, 
    CONTRIBBLOCK_TRF_MARGIN_CY, CONTRIBBLOCK_TRF_MARGIN_GL, CONTRIBBLOCK_TRF_MARGIN_CIF, 
    CONTRIBBLOCK_TRF_MARGIN_SL
  </sql>
  <select id="selectTRS_REQUEST_CONTRIBUTOR_DET" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRS_REQUEST_CONTRIBUTOR_DETVO" >
    select 
    <include refid="Base_Column_List" />
    from TRS_REQUEST_CONTRIBUTOR_DET
    where BRANCH = #{BRANCH}
      and COMP_CODE = #{COMP_CODE}
      and REQ_NO = #{REQ_NO}
  </select>
  <delete id="deleteTRS_REQUEST_CONTRIBUTOR_DET" parameterType="com.path.dbmaps.vo.TRS_REQUEST_CONTRIBUTOR_DETVO" >
    delete from TRS_REQUEST_CONTRIBUTOR_DET
    where BRANCH = #{BRANCH}
      and COMP_CODE = #{COMP_CODE}
      and REQ_NO = #{REQ_NO}
  </delete>
  <insert id="insertTRS_REQUEST_CONTRIBUTOR_DET" parameterType="com.path.dbmaps.vo.TRS_REQUEST_CONTRIBUTOR_DETVO" >
    insert into TRS_REQUEST_CONTRIBUTOR_DET
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH != null and BRANCH != emptyBigDecimalValue" >
        BRANCH,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="REQ_NO != null and REQ_NO != emptyBigDecimalValue" >
        REQ_NO,
      </if>
      <if test="SPECIFIC_CIF != null and SPECIFIC_CIF != emptyBigDecimalValue" >
        SPECIFIC_CIF,
      </if>
      <if test="SPECIFIC_COUNTRY != null and SPECIFIC_COUNTRY != emptyBigDecimalValue" >
        SPECIFIC_COUNTRY,
      </if>
      <if test="INVESTMENT_CY != null and INVESTMENT_CY != emptyBigDecimalValue" >
        INVESTMENT_CY,
      </if>
      <if test="INVESTMENT_AMOUNT != null and INVESTMENT_AMOUNT != emptyBigDecimalValue" >
        INVESTMENT_AMOUNT,
      </if>
      <if test="VALUE_DATE != null" >
        VALUE_DATE,
      </if>
      <if test="MATURITY_DATE != null" >
        MATURITY_DATE,
      </if>
      <if test="VALUE_DATE_INSTRUCTION != null" >
        VALUE_DATE_INSTRUCTION,
      </if>
      <if test="MATURITY_DATE_INSTRUCTION != null" >
        MATURITY_DATE_INSTRUCTION,
      </if>
      <if test="YIELD_FROM != null and YIELD_FROM != emptyBigDecimalValue" >
        YIELD_FROM,
      </if>
      <if test="YIELD_TO != null and YIELD_TO != emptyBigDecimalValue" >
        YIELD_TO,
      </if>
      <if test="REMARKS != null" >
        REMARKS,
      </if>
      <if test="ACC_BR != null and ACC_BR != emptyBigDecimalValue" >
        ACC_BR,
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        ACC_CY,
      </if>
      <if test="ACC_GL != null and ACC_GL != emptyBigDecimalValue" >
        ACC_GL,
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        ACC_CIF,
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        ACC_SL,
      </if>
      <if test="ROLLOVER_IND != null" >
        ROLLOVER_IND,
      </if>
      <if test="ROLLOVER_AMT_TYPE != null" >
        ROLLOVER_AMT_TYPE,
      </if>
      <if test="ROLLOVER_AMOUNT != null and ROLLOVER_AMOUNT != emptyBigDecimalValue" >
        ROLLOVER_AMOUNT,
      </if>
      <if test="ROLLOVER_METHOD != null" >
        ROLLOVER_METHOD,
      </if>
      <if test="ROLLOVER_AMT_TYPE_2 != null" >
        ROLLOVER_AMT_TYPE_2,
      </if>
      <if test="ROLLOVER_AMOUNT_2 != null and ROLLOVER_AMOUNT_2 != emptyBigDecimalValue" >
        ROLLOVER_AMOUNT_2,
      </if>
      <if test="BLOCK_CONTRIB_AMT_YN != null" >
        BLOCK_CONTRIB_AMT_YN,
      </if>
      <if test="CONTRIB_BLOCKED_AMOUNT != null and CONTRIB_BLOCKED_AMOUNT != emptyBigDecimalValue" >
        CONTRIB_BLOCKED_AMOUNT,
      </if>
      <if test="REASONFORCHANGING != null and REASONFORCHANGING != emptyBigDecimalValue" >
        REASONFORCHANGING,
      </if>
      <if test="CONTRIBBLOCK_VIA_TRF_YN != null" >
        CONTRIBBLOCK_VIA_TRF_YN,
      </if>
      <if test="CONTRIBBLOCK_TRF_AMT != null and CONTRIBBLOCK_TRF_AMT != emptyBigDecimalValue" >
        CONTRIBBLOCK_TRF_AMT,
      </if>
      <if test="CONTRIBBLOCK_TRF_BLOCK_AMT != null and CONTRIBBLOCK_TRF_BLOCK_AMT != emptyBigDecimalValue" >
        CONTRIBBLOCK_TRF_BLOCK_AMT,
      </if>
      <if test="CONTRIBBLOCK_TRF_REASON != null" >
        CONTRIBBLOCK_TRF_REASON,
      </if>
      <if test="CONTRIBBLOCK_TRF_MARGIN_BR != null and CONTRIBBLOCK_TRF_MARGIN_BR != emptyBigDecimalValue" >
        CONTRIBBLOCK_TRF_MARGIN_BR,
      </if>
      <if test="CONTRIBBLOCK_TRF_MARGIN_CY != null and CONTRIBBLOCK_TRF_MARGIN_CY != emptyBigDecimalValue" >
        CONTRIBBLOCK_TRF_MARGIN_CY,
      </if>
      <if test="CONTRIBBLOCK_TRF_MARGIN_GL != null and CONTRIBBLOCK_TRF_MARGIN_GL != emptyBigDecimalValue" >
        CONTRIBBLOCK_TRF_MARGIN_GL,
      </if>
      <if test="CONTRIBBLOCK_TRF_MARGIN_CIF != null and CONTRIBBLOCK_TRF_MARGIN_CIF != emptyBigDecimalValue" >
        CONTRIBBLOCK_TRF_MARGIN_CIF,
      </if>
      <if test="CONTRIBBLOCK_TRF_MARGIN_SL != null and CONTRIBBLOCK_TRF_MARGIN_SL != emptyBigDecimalValue" >
        CONTRIBBLOCK_TRF_MARGIN_SL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH != null and BRANCH != emptyBigDecimalValue" >
        #{BRANCH},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="REQ_NO != null and REQ_NO != emptyBigDecimalValue" >
        #{REQ_NO},
      </if>
      <if test="SPECIFIC_CIF != null and SPECIFIC_CIF != emptyBigDecimalValue" >
        #{SPECIFIC_CIF},
      </if>
      <if test="SPECIFIC_COUNTRY != null and SPECIFIC_COUNTRY != emptyBigDecimalValue" >
        #{SPECIFIC_COUNTRY},
      </if>
      <if test="INVESTMENT_CY != null and INVESTMENT_CY != emptyBigDecimalValue" >
        #{INVESTMENT_CY},
      </if>
      <if test="INVESTMENT_AMOUNT != null and INVESTMENT_AMOUNT != emptyBigDecimalValue" >
        #{INVESTMENT_AMOUNT},
      </if>
      <if test="VALUE_DATE != null" >
        #{VALUE_DATE},
      </if>
      <if test="MATURITY_DATE != null" >
        #{MATURITY_DATE},
      </if>
      <if test="VALUE_DATE_INSTRUCTION != null" >
        #{VALUE_DATE_INSTRUCTION},
      </if>
      <if test="MATURITY_DATE_INSTRUCTION != null" >
        #{MATURITY_DATE_INSTRUCTION},
      </if>
      <if test="YIELD_FROM != null and YIELD_FROM != emptyBigDecimalValue" >
        #{YIELD_FROM},
      </if>
      <if test="YIELD_TO != null and YIELD_TO != emptyBigDecimalValue" >
        #{YIELD_TO},
      </if>
      <if test="REMARKS != null" >
        #{REMARKS},
      </if>
      <if test="ACC_BR != null and ACC_BR != emptyBigDecimalValue" >
        #{ACC_BR},
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        #{ACC_CY},
      </if>
      <if test="ACC_GL != null and ACC_GL != emptyBigDecimalValue" >
        #{ACC_GL},
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        #{ACC_CIF},
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        #{ACC_SL},
      </if>
      <if test="ROLLOVER_IND != null" >
        #{ROLLOVER_IND},
      </if>
      <if test="ROLLOVER_AMT_TYPE != null" >
        #{ROLLOVER_AMT_TYPE},
      </if>
      <if test="ROLLOVER_AMOUNT != null and ROLLOVER_AMOUNT != emptyBigDecimalValue" >
        #{ROLLOVER_AMOUNT},
      </if>
      <if test="ROLLOVER_METHOD != null" >
        #{ROLLOVER_METHOD},
      </if>
      <if test="ROLLOVER_AMT_TYPE_2 != null" >
        #{ROLLOVER_AMT_TYPE_2},
      </if>
      <if test="ROLLOVER_AMOUNT_2 != null and ROLLOVER_AMOUNT_2 != emptyBigDecimalValue" >
        #{ROLLOVER_AMOUNT_2},
      </if>
      <if test="BLOCK_CONTRIB_AMT_YN != null" >
        #{BLOCK_CONTRIB_AMT_YN},
      </if>
      <if test="CONTRIB_BLOCKED_AMOUNT != null and CONTRIB_BLOCKED_AMOUNT != emptyBigDecimalValue" >
        #{CONTRIB_BLOCKED_AMOUNT},
      </if>
      <if test="REASONFORCHANGING != null and REASONFORCHANGING != emptyBigDecimalValue" >
        #{REASONFORCHANGING},
      </if>
      <if test="CONTRIBBLOCK_VIA_TRF_YN != null" >
        #{CONTRIBBLOCK_VIA_TRF_YN},
      </if>
      <if test="CONTRIBBLOCK_TRF_AMT != null and CONTRIBBLOCK_TRF_AMT != emptyBigDecimalValue" >
        #{CONTRIBBLOCK_TRF_AMT},
      </if>
      <if test="CONTRIBBLOCK_TRF_BLOCK_AMT != null and CONTRIBBLOCK_TRF_BLOCK_AMT != emptyBigDecimalValue" >
        #{CONTRIBBLOCK_TRF_BLOCK_AMT},
      </if>
      <if test="CONTRIBBLOCK_TRF_REASON != null" >
        #{CONTRIBBLOCK_TRF_REASON},
      </if>
      <if test="CONTRIBBLOCK_TRF_MARGIN_BR != null and CONTRIBBLOCK_TRF_MARGIN_BR != emptyBigDecimalValue" >
        #{CONTRIBBLOCK_TRF_MARGIN_BR},
      </if>
      <if test="CONTRIBBLOCK_TRF_MARGIN_CY != null and CONTRIBBLOCK_TRF_MARGIN_CY != emptyBigDecimalValue" >
        #{CONTRIBBLOCK_TRF_MARGIN_CY},
      </if>
      <if test="CONTRIBBLOCK_TRF_MARGIN_GL != null and CONTRIBBLOCK_TRF_MARGIN_GL != emptyBigDecimalValue" >
        #{CONTRIBBLOCK_TRF_MARGIN_GL},
      </if>
      <if test="CONTRIBBLOCK_TRF_MARGIN_CIF != null and CONTRIBBLOCK_TRF_MARGIN_CIF != emptyBigDecimalValue" >
        #{CONTRIBBLOCK_TRF_MARGIN_CIF},
      </if>
      <if test="CONTRIBBLOCK_TRF_MARGIN_SL != null and CONTRIBBLOCK_TRF_MARGIN_SL != emptyBigDecimalValue" >
        #{CONTRIBBLOCK_TRF_MARGIN_SL},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRS_REQUEST_CONTRIBUTOR_DET" >
    update TRS_REQUEST_CONTRIBUTOR_DET
    <set >
      <if test="SPECIFIC_CIF != null" >
        <choose >
          <when test="SPECIFIC_CIF == emptyBigDecimalValue" >
            SPECIFIC_CIF = NULL ,
          </when>
          <otherwise >
            SPECIFIC_CIF = #{SPECIFIC_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="SPECIFIC_COUNTRY != null" >
        <choose >
          <when test="SPECIFIC_COUNTRY == emptyBigDecimalValue" >
            SPECIFIC_COUNTRY = NULL ,
          </when>
          <otherwise >
            SPECIFIC_COUNTRY = #{SPECIFIC_COUNTRY},
          </otherwise>
        </choose>
      </if>
      <if test="INVESTMENT_CY != null" >
        <choose >
          <when test="INVESTMENT_CY == emptyBigDecimalValue" >
            INVESTMENT_CY = NULL ,
          </when>
          <otherwise >
            INVESTMENT_CY = #{INVESTMENT_CY},
          </otherwise>
        </choose>
      </if>
      <if test="INVESTMENT_AMOUNT != null" >
        <choose >
          <when test="INVESTMENT_AMOUNT == emptyBigDecimalValue" >
            INVESTMENT_AMOUNT = NULL ,
          </when>
          <otherwise >
            INVESTMENT_AMOUNT = #{INVESTMENT_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="VALUE_DATE != null" >
        VALUE_DATE = #{VALUE_DATE},
      </if>
      <if test="MATURITY_DATE != null" >
        MATURITY_DATE = #{MATURITY_DATE},
      </if>
      <if test="VALUE_DATE_INSTRUCTION != null" >
        VALUE_DATE_INSTRUCTION = #{VALUE_DATE_INSTRUCTION},
      </if>
      <if test="MATURITY_DATE_INSTRUCTION != null" >
        MATURITY_DATE_INSTRUCTION = #{MATURITY_DATE_INSTRUCTION},
      </if>
      <if test="YIELD_FROM != null" >
        <choose >
          <when test="YIELD_FROM == emptyBigDecimalValue" >
            YIELD_FROM = NULL ,
          </when>
          <otherwise >
            YIELD_FROM = #{YIELD_FROM},
          </otherwise>
        </choose>
      </if>
      <if test="YIELD_TO != null" >
        <choose >
          <when test="YIELD_TO == emptyBigDecimalValue" >
            YIELD_TO = NULL ,
          </when>
          <otherwise >
            YIELD_TO = #{YIELD_TO},
          </otherwise>
        </choose>
      </if>
      <if test="REMARKS != null" >
        REMARKS = #{REMARKS},
      </if>
      <if test="ACC_BR != null" >
        <choose >
          <when test="ACC_BR == emptyBigDecimalValue" >
            ACC_BR = NULL ,
          </when>
          <otherwise >
            ACC_BR = #{ACC_BR},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CY != null" >
        <choose >
          <when test="ACC_CY == emptyBigDecimalValue" >
            ACC_CY = NULL ,
          </when>
          <otherwise >
            ACC_CY = #{ACC_CY},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_GL != null" >
        <choose >
          <when test="ACC_GL == emptyBigDecimalValue" >
            ACC_GL = NULL ,
          </when>
          <otherwise >
            ACC_GL = #{ACC_GL},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CIF != null" >
        <choose >
          <when test="ACC_CIF == emptyBigDecimalValue" >
            ACC_CIF = NULL ,
          </when>
          <otherwise >
            ACC_CIF = #{ACC_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_SL != null" >
        <choose >
          <when test="ACC_SL == emptyBigDecimalValue" >
            ACC_SL = NULL ,
          </when>
          <otherwise >
            ACC_SL = #{ACC_SL},
          </otherwise>
        </choose>
      </if>
      <if test="ROLLOVER_IND != null" >
        ROLLOVER_IND = #{ROLLOVER_IND},
      </if>
      <if test="ROLLOVER_AMT_TYPE != null" >
        ROLLOVER_AMT_TYPE = #{ROLLOVER_AMT_TYPE},
      </if>
      <if test="ROLLOVER_AMOUNT != null" >
        <choose >
          <when test="ROLLOVER_AMOUNT == emptyBigDecimalValue" >
            ROLLOVER_AMOUNT = NULL ,
          </when>
          <otherwise >
            ROLLOVER_AMOUNT = #{ROLLOVER_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="ROLLOVER_METHOD != null" >
        ROLLOVER_METHOD = #{ROLLOVER_METHOD},
      </if>
      <if test="ROLLOVER_AMT_TYPE_2 != null" >
        ROLLOVER_AMT_TYPE_2 = #{ROLLOVER_AMT_TYPE_2},
      </if>
      <if test="ROLLOVER_AMOUNT_2 != null" >
        <choose >
          <when test="ROLLOVER_AMOUNT_2 == emptyBigDecimalValue" >
            ROLLOVER_AMOUNT_2 = NULL ,
          </when>
          <otherwise >
            ROLLOVER_AMOUNT_2 = #{ROLLOVER_AMOUNT_2},
          </otherwise>
        </choose>
      </if>
      <if test="BLOCK_CONTRIB_AMT_YN != null" >
        BLOCK_CONTRIB_AMT_YN = #{BLOCK_CONTRIB_AMT_YN},
      </if>
      <if test="CONTRIB_BLOCKED_AMOUNT != null" >
        <choose >
          <when test="CONTRIB_BLOCKED_AMOUNT == emptyBigDecimalValue" >
            CONTRIB_BLOCKED_AMOUNT = NULL ,
          </when>
          <otherwise >
            CONTRIB_BLOCKED_AMOUNT = #{CONTRIB_BLOCKED_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="REASONFORCHANGING != null" >
        <choose >
          <when test="REASONFORCHANGING == emptyBigDecimalValue" >
            REASONFORCHANGING = NULL ,
          </when>
          <otherwise >
            REASONFORCHANGING = #{REASONFORCHANGING},
          </otherwise>
        </choose>
      </if>
      <if test="CONTRIBBLOCK_VIA_TRF_YN != null" >
        CONTRIBBLOCK_VIA_TRF_YN = #{CONTRIBBLOCK_VIA_TRF_YN},
      </if>
      <if test="CONTRIBBLOCK_TRF_AMT != null" >
        <choose >
          <when test="CONTRIBBLOCK_TRF_AMT == emptyBigDecimalValue" >
            CONTRIBBLOCK_TRF_AMT = NULL ,
          </when>
          <otherwise >
            CONTRIBBLOCK_TRF_AMT = #{CONTRIBBLOCK_TRF_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="CONTRIBBLOCK_TRF_BLOCK_AMT != null" >
        <choose >
          <when test="CONTRIBBLOCK_TRF_BLOCK_AMT == emptyBigDecimalValue" >
            CONTRIBBLOCK_TRF_BLOCK_AMT = NULL ,
          </when>
          <otherwise >
            CONTRIBBLOCK_TRF_BLOCK_AMT = #{CONTRIBBLOCK_TRF_BLOCK_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="CONTRIBBLOCK_TRF_REASON != null" >
        CONTRIBBLOCK_TRF_REASON = #{CONTRIBBLOCK_TRF_REASON},
      </if>
      <if test="CONTRIBBLOCK_TRF_MARGIN_BR != null" >
        <choose >
          <when test="CONTRIBBLOCK_TRF_MARGIN_BR == emptyBigDecimalValue" >
            CONTRIBBLOCK_TRF_MARGIN_BR = NULL ,
          </when>
          <otherwise >
            CONTRIBBLOCK_TRF_MARGIN_BR = #{CONTRIBBLOCK_TRF_MARGIN_BR},
          </otherwise>
        </choose>
      </if>
      <if test="CONTRIBBLOCK_TRF_MARGIN_CY != null" >
        <choose >
          <when test="CONTRIBBLOCK_TRF_MARGIN_CY == emptyBigDecimalValue" >
            CONTRIBBLOCK_TRF_MARGIN_CY = NULL ,
          </when>
          <otherwise >
            CONTRIBBLOCK_TRF_MARGIN_CY = #{CONTRIBBLOCK_TRF_MARGIN_CY},
          </otherwise>
        </choose>
      </if>
      <if test="CONTRIBBLOCK_TRF_MARGIN_GL != null" >
        <choose >
          <when test="CONTRIBBLOCK_TRF_MARGIN_GL == emptyBigDecimalValue" >
            CONTRIBBLOCK_TRF_MARGIN_GL = NULL ,
          </when>
          <otherwise >
            CONTRIBBLOCK_TRF_MARGIN_GL = #{CONTRIBBLOCK_TRF_MARGIN_GL},
          </otherwise>
        </choose>
      </if>
      <if test="CONTRIBBLOCK_TRF_MARGIN_CIF != null" >
        <choose >
          <when test="CONTRIBBLOCK_TRF_MARGIN_CIF == emptyBigDecimalValue" >
            CONTRIBBLOCK_TRF_MARGIN_CIF = NULL ,
          </when>
          <otherwise >
            CONTRIBBLOCK_TRF_MARGIN_CIF = #{CONTRIBBLOCK_TRF_MARGIN_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="CONTRIBBLOCK_TRF_MARGIN_SL != null" >
        <choose >
          <when test="CONTRIBBLOCK_TRF_MARGIN_SL == emptyBigDecimalValue" >
            CONTRIBBLOCK_TRF_MARGIN_SL = NULL ,
          </when>
          <otherwise >
            CONTRIBBLOCK_TRF_MARGIN_SL = #{CONTRIBBLOCK_TRF_MARGIN_SL},
          </otherwise>
        </choose>
      </if>
    </set>
    where BRANCH = #{BRANCH}
      and COMP_CODE = #{COMP_CODE}
      and REQ_NO = #{REQ_NO}
  </sql>
  <update id="updateTRS_REQUEST_CONTRIBUTOR_DET" parameterType="com.path.dbmaps.vo.TRS_REQUEST_CONTRIBUTOR_DETVO" >
    <include refid="sql_updateTRS_REQUEST_CONTRIBUTOR_DET" />
  </update>
</mapper>