<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRSADVANCE_INS_CHARGES_DET" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRSADVANCE_INS_CHARGES_DETVO" >
    <id column="ADVANCE_INSURANCE_SERIAL_NO" property="ADVANCE_INSURANCE_SERIAL_NO" />
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NBR" property="LINE_NBR" />
    <id column="TRANSACTION_TYPE" property="TRANSACTION_TYPE" />
    <result column="CHARGES_CODE" property="CHARGES_CODE" />
    <result column="CHARGES_INSFEE_AMOUNT" property="CHARGES_INSFEE_AMOUNT" />
    <result column="YEAR" property="YEAR" />
    <result column="NET_PREMIUM_YN" property="NET_PREMIUM_YN" />
    <result column="NET_PREMIUM_PERC" property="NET_PREMIUM_PERC" />
    <result column="CHARGES_REVERSED_AMOUNT" property="CHARGES_REVERSED_AMOUNT" />
    <result column="INSURANCE_COMP_CODE" property="INSURANCE_COMP_CODE" />
  </resultMap>
  <sql id="Base_Column_List" >
    ADVANCE_INSURANCE_SERIAL_NO, BRANCH_CODE, COMP_CODE, LINE_NBR, TRANSACTION_TYPE, 
    CHARGES_CODE, CHARGES_INSFEE_AMOUNT, YEAR, NET_PREMIUM_YN, NET_PREMIUM_PERC, CHARGES_REVERSED_AMOUNT, 
    INSURANCE_COMP_CODE
  </sql>
  <select id="selectTRSADVANCE_INS_CHARGES_DET" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRSADVANCE_INS_CHARGES_DETVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRSADVANCE_INS_CHARGES_DET
    where ADVANCE_INSURANCE_SERIAL_NO = #{ADVANCE_INSURANCE_SERIAL_NO}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NBR = #{LINE_NBR}
      and TRANSACTION_TYPE = #{TRANSACTION_TYPE}
  </select>
  <delete id="deleteTRSADVANCE_INS_CHARGES_DET" parameterType="com.path.dbmaps.vo.TRSADVANCE_INS_CHARGES_DETVOKey" >
    delete from TRSADVANCE_INS_CHARGES_DET
    where ADVANCE_INSURANCE_SERIAL_NO = #{ADVANCE_INSURANCE_SERIAL_NO}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NBR = #{LINE_NBR}
      and TRANSACTION_TYPE = #{TRANSACTION_TYPE}
  </delete>
  <insert id="insertTRSADVANCE_INS_CHARGES_DET" parameterType="com.path.dbmaps.vo.TRSADVANCE_INS_CHARGES_DETVO" >
    insert into TRSADVANCE_INS_CHARGES_DET
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ADVANCE_INSURANCE_SERIAL_NO != null and ADVANCE_INSURANCE_SERIAL_NO != emptyBigDecimalValue" >
        ADVANCE_INSURANCE_SERIAL_NO,
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NBR != null and LINE_NBR != emptyBigDecimalValue" >
        LINE_NBR,
      </if>
      <if test="TRANSACTION_TYPE != null" >
        TRANSACTION_TYPE,
      </if>
      <if test="CHARGES_CODE != null and CHARGES_CODE != emptyBigDecimalValue" >
        CHARGES_CODE,
      </if>
      <if test="CHARGES_INSFEE_AMOUNT != null and CHARGES_INSFEE_AMOUNT != emptyBigDecimalValue" >
        CHARGES_INSFEE_AMOUNT,
      </if>
      <if test="YEAR != null and YEAR != emptyBigDecimalValue" >
        YEAR,
      </if>
      <if test="NET_PREMIUM_YN != null" >
        NET_PREMIUM_YN,
      </if>
      <if test="NET_PREMIUM_PERC != null and NET_PREMIUM_PERC != emptyBigDecimalValue" >
        NET_PREMIUM_PERC,
      </if>
      <if test="CHARGES_REVERSED_AMOUNT != null and CHARGES_REVERSED_AMOUNT != emptyBigDecimalValue" >
        CHARGES_REVERSED_AMOUNT,
      </if>
      <if test="INSURANCE_COMP_CODE != null and INSURANCE_COMP_CODE != emptyBigDecimalValue" >
        INSURANCE_COMP_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ADVANCE_INSURANCE_SERIAL_NO != null and ADVANCE_INSURANCE_SERIAL_NO != emptyBigDecimalValue" >
        #{ADVANCE_INSURANCE_SERIAL_NO},
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NBR != null and LINE_NBR != emptyBigDecimalValue" >
        #{LINE_NBR},
      </if>
      <if test="TRANSACTION_TYPE != null" >
        #{TRANSACTION_TYPE},
      </if>
      <if test="CHARGES_CODE != null and CHARGES_CODE != emptyBigDecimalValue" >
        #{CHARGES_CODE},
      </if>
      <if test="CHARGES_INSFEE_AMOUNT != null and CHARGES_INSFEE_AMOUNT != emptyBigDecimalValue" >
        #{CHARGES_INSFEE_AMOUNT},
      </if>
      <if test="YEAR != null and YEAR != emptyBigDecimalValue" >
        #{YEAR},
      </if>
      <if test="NET_PREMIUM_YN != null" >
        #{NET_PREMIUM_YN},
      </if>
      <if test="NET_PREMIUM_PERC != null and NET_PREMIUM_PERC != emptyBigDecimalValue" >
        #{NET_PREMIUM_PERC},
      </if>
      <if test="CHARGES_REVERSED_AMOUNT != null and CHARGES_REVERSED_AMOUNT != emptyBigDecimalValue" >
        #{CHARGES_REVERSED_AMOUNT},
      </if>
      <if test="INSURANCE_COMP_CODE != null and INSURANCE_COMP_CODE != emptyBigDecimalValue" >
        #{INSURANCE_COMP_CODE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRSADVANCE_INS_CHARGES_DET" >
    update TRSADVANCE_INS_CHARGES_DET
    <set >
      <if test="CHARGES_CODE != null" >
        <choose >
          <when test="CHARGES_CODE == emptyBigDecimalValue" >
            CHARGES_CODE = NULL ,
          </when>
          <otherwise >
            CHARGES_CODE = #{CHARGES_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="CHARGES_INSFEE_AMOUNT != null" >
        <choose >
          <when test="CHARGES_INSFEE_AMOUNT == emptyBigDecimalValue" >
            CHARGES_INSFEE_AMOUNT = NULL ,
          </when>
          <otherwise >
            CHARGES_INSFEE_AMOUNT = #{CHARGES_INSFEE_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="YEAR != null" >
        <choose >
          <when test="YEAR == emptyBigDecimalValue" >
            YEAR = NULL ,
          </when>
          <otherwise >
            YEAR = #{YEAR},
          </otherwise>
        </choose>
      </if>
      <if test="NET_PREMIUM_YN != null" >
        NET_PREMIUM_YN = #{NET_PREMIUM_YN},
      </if>
      <if test="NET_PREMIUM_PERC != null" >
        <choose >
          <when test="NET_PREMIUM_PERC == emptyBigDecimalValue" >
            NET_PREMIUM_PERC = NULL ,
          </when>
          <otherwise >
            NET_PREMIUM_PERC = #{NET_PREMIUM_PERC},
          </otherwise>
        </choose>
      </if>
      <if test="CHARGES_REVERSED_AMOUNT != null" >
        <choose >
          <when test="CHARGES_REVERSED_AMOUNT == emptyBigDecimalValue" >
            CHARGES_REVERSED_AMOUNT = NULL ,
          </when>
          <otherwise >
            CHARGES_REVERSED_AMOUNT = #{CHARGES_REVERSED_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="INSURANCE_COMP_CODE != null" >
        <choose >
          <when test="INSURANCE_COMP_CODE == emptyBigDecimalValue" >
            INSURANCE_COMP_CODE = NULL ,
          </when>
          <otherwise >
            INSURANCE_COMP_CODE = #{INSURANCE_COMP_CODE},
          </otherwise>
        </choose>
      </if>
    </set>
    where ADVANCE_INSURANCE_SERIAL_NO = #{ADVANCE_INSURANCE_SERIAL_NO}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NBR = #{LINE_NBR}
      and TRANSACTION_TYPE = #{TRANSACTION_TYPE}
  </sql>
  <update id="updateTRSADVANCE_INS_CHARGES_DET" parameterType="com.path.dbmaps.vo.TRSADVANCE_INS_CHARGES_DETVO" >
    <include refid="sql_updateTRSADVANCE_INS_CHARGES_DET" />
  </update>
</mapper>