<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRSCONTRIB_SWITCH" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRSCONTRIB_SWITCHVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="SERIAL_NO" property="SERIAL_NO" />
    <result column="REDEMPTION_DATE" property="REDEMPTION_DATE" />
    <result column="LAST_BOOKING_DATE" property="LAST_BOOKING_DATE" />
    <result column="INVESTMENTONBS_FC" property="INVESTMENTONBS_FC" />
    <result column="INVESTMENTOFFBS_FC" property="INVESTMENTOFFBS_FC" />
    <result column="INVESTMENTONBS_CV" property="INVESTMENTONBS_CV" />
    <result column="INVESTMENTOFFBS_CV" property="INVESTMENTOFFBS_CV" />
    <result column="STATUS" property="STATUS" />
    <result column="INVESTMENT_ACC_GL" property="INVESTMENT_ACC_GL" />
    <result column="INVESTMENT_ACC_CIF" property="INVESTMENT_ACC_CIF" />
    <result column="INVESTMENT_ACC_SL" property="INVESTMENT_ACC_SL" />
    <result column="CLIENT_GL_2" property="CLIENT_GL_2" />
    <result column="CLIENT_CIF_2" property="CLIENT_CIF_2" />
    <result column="CLIENT_SL_2" property="CLIENT_SL_2" />
    <result column="OUTSTANDING_AMT" property="OUTSTANDING_AMT" />
    <result column="DATE_UPDATED" property="DATE_UPDATED" />
    <result column="REVERSAL_STATUS" property="REVERSAL_STATUS" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, CODE, COMP_CODE, SERIAL_NO, REDEMPTION_DATE, LAST_BOOKING_DATE, INVESTMENTONBS_FC, 
    INVESTMENTOFFBS_FC, INVESTMENTONBS_CV, INVESTMENTOFFBS_CV, STATUS, INVESTMENT_ACC_GL, 
    INVESTMENT_ACC_CIF, INVESTMENT_ACC_SL, CLIENT_GL_2, CLIENT_CIF_2, CLIENT_SL_2, OUTSTANDING_AMT, 
    DATE_UPDATED, REVERSAL_STATUS
  </sql>
  <select id="selectTRSCONTRIB_SWITCH" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRSCONTRIB_SWITCHVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRSCONTRIB_SWITCH
    where BRANCH_CODE = #{BRANCH_CODE}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and SERIAL_NO = #{SERIAL_NO}
  </select>
  <delete id="deleteTRSCONTRIB_SWITCH" parameterType="com.path.dbmaps.vo.TRSCONTRIB_SWITCHVOKey" >
    delete from TRSCONTRIB_SWITCH
    where BRANCH_CODE = #{BRANCH_CODE}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and SERIAL_NO = #{SERIAL_NO}
  </delete>
  <insert id="insertTRSCONTRIB_SWITCH" parameterType="com.path.dbmaps.vo.TRSCONTRIB_SWITCHVO" >
    insert into TRSCONTRIB_SWITCH
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="SERIAL_NO != null and SERIAL_NO != emptyBigDecimalValue" >
        SERIAL_NO,
      </if>
      <if test="REDEMPTION_DATE != null" >
        REDEMPTION_DATE,
      </if>
      <if test="LAST_BOOKING_DATE != null" >
        LAST_BOOKING_DATE,
      </if>
      <if test="INVESTMENTONBS_FC != null and INVESTMENTONBS_FC != emptyBigDecimalValue" >
        INVESTMENTONBS_FC,
      </if>
      <if test="INVESTMENTOFFBS_FC != null and INVESTMENTOFFBS_FC != emptyBigDecimalValue" >
        INVESTMENTOFFBS_FC,
      </if>
      <if test="INVESTMENTONBS_CV != null and INVESTMENTONBS_CV != emptyBigDecimalValue" >
        INVESTMENTONBS_CV,
      </if>
      <if test="INVESTMENTOFFBS_CV != null and INVESTMENTOFFBS_CV != emptyBigDecimalValue" >
        INVESTMENTOFFBS_CV,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="INVESTMENT_ACC_GL != null and INVESTMENT_ACC_GL != emptyBigDecimalValue" >
        INVESTMENT_ACC_GL,
      </if>
      <if test="INVESTMENT_ACC_CIF != null and INVESTMENT_ACC_CIF != emptyBigDecimalValue" >
        INVESTMENT_ACC_CIF,
      </if>
      <if test="INVESTMENT_ACC_SL != null and INVESTMENT_ACC_SL != emptyBigDecimalValue" >
        INVESTMENT_ACC_SL,
      </if>
      <if test="CLIENT_GL_2 != null and CLIENT_GL_2 != emptyBigDecimalValue" >
        CLIENT_GL_2,
      </if>
      <if test="CLIENT_CIF_2 != null and CLIENT_CIF_2 != emptyBigDecimalValue" >
        CLIENT_CIF_2,
      </if>
      <if test="CLIENT_SL_2 != null and CLIENT_SL_2 != emptyBigDecimalValue" >
        CLIENT_SL_2,
      </if>
      <if test="OUTSTANDING_AMT != null and OUTSTANDING_AMT != emptyBigDecimalValue" >
        OUTSTANDING_AMT,
      </if>
      DATE_UPDATED,
      <if test="REVERSAL_STATUS != null" >
        REVERSAL_STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        #{CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="SERIAL_NO != null and SERIAL_NO != emptyBigDecimalValue" >
        #{SERIAL_NO},
      </if>
      <if test="REDEMPTION_DATE != null" >
        #{REDEMPTION_DATE},
      </if>
      <if test="LAST_BOOKING_DATE != null" >
        #{LAST_BOOKING_DATE},
      </if>
      <if test="INVESTMENTONBS_FC != null and INVESTMENTONBS_FC != emptyBigDecimalValue" >
        #{INVESTMENTONBS_FC},
      </if>
      <if test="INVESTMENTOFFBS_FC != null and INVESTMENTOFFBS_FC != emptyBigDecimalValue" >
        #{INVESTMENTOFFBS_FC},
      </if>
      <if test="INVESTMENTONBS_CV != null and INVESTMENTONBS_CV != emptyBigDecimalValue" >
        #{INVESTMENTONBS_CV},
      </if>
      <if test="INVESTMENTOFFBS_CV != null and INVESTMENTOFFBS_CV != emptyBigDecimalValue" >
        #{INVESTMENTOFFBS_CV},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="INVESTMENT_ACC_GL != null and INVESTMENT_ACC_GL != emptyBigDecimalValue" >
        #{INVESTMENT_ACC_GL},
      </if>
      <if test="INVESTMENT_ACC_CIF != null and INVESTMENT_ACC_CIF != emptyBigDecimalValue" >
        #{INVESTMENT_ACC_CIF},
      </if>
      <if test="INVESTMENT_ACC_SL != null and INVESTMENT_ACC_SL != emptyBigDecimalValue" >
        #{INVESTMENT_ACC_SL},
      </if>
      <if test="CLIENT_GL_2 != null and CLIENT_GL_2 != emptyBigDecimalValue" >
        #{CLIENT_GL_2},
      </if>
      <if test="CLIENT_CIF_2 != null and CLIENT_CIF_2 != emptyBigDecimalValue" >
        #{CLIENT_CIF_2},
      </if>
      <if test="CLIENT_SL_2 != null and CLIENT_SL_2 != emptyBigDecimalValue" >
        #{CLIENT_SL_2},
      </if>
      <if test="OUTSTANDING_AMT != null and OUTSTANDING_AMT != emptyBigDecimalValue" >
        #{OUTSTANDING_AMT},
      </if>
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
      <if test="REVERSAL_STATUS != null" >
        #{REVERSAL_STATUS},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRSCONTRIB_SWITCH" >
    update TRSCONTRIB_SWITCH
    <set >
      <if test="REDEMPTION_DATE != null" >
        REDEMPTION_DATE = #{REDEMPTION_DATE},
      </if>
      <if test="LAST_BOOKING_DATE != null" >
        LAST_BOOKING_DATE = #{LAST_BOOKING_DATE},
      </if>
      <if test="INVESTMENTONBS_FC != null" >
        <choose >
          <when test="INVESTMENTONBS_FC == emptyBigDecimalValue" >
            INVESTMENTONBS_FC = NULL ,
          </when>
          <otherwise >
            INVESTMENTONBS_FC = #{INVESTMENTONBS_FC},
          </otherwise>
        </choose>
      </if>
      <if test="INVESTMENTOFFBS_FC != null" >
        <choose >
          <when test="INVESTMENTOFFBS_FC == emptyBigDecimalValue" >
            INVESTMENTOFFBS_FC = NULL ,
          </when>
          <otherwise >
            INVESTMENTOFFBS_FC = #{INVESTMENTOFFBS_FC},
          </otherwise>
        </choose>
      </if>
      <if test="INVESTMENTONBS_CV != null" >
        <choose >
          <when test="INVESTMENTONBS_CV == emptyBigDecimalValue" >
            INVESTMENTONBS_CV = NULL ,
          </when>
          <otherwise >
            INVESTMENTONBS_CV = #{INVESTMENTONBS_CV},
          </otherwise>
        </choose>
      </if>
      <if test="INVESTMENTOFFBS_CV != null" >
        <choose >
          <when test="INVESTMENTOFFBS_CV == emptyBigDecimalValue" >
            INVESTMENTOFFBS_CV = NULL ,
          </when>
          <otherwise >
            INVESTMENTOFFBS_CV = #{INVESTMENTOFFBS_CV},
          </otherwise>
        </choose>
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="INVESTMENT_ACC_GL != null" >
        <choose >
          <when test="INVESTMENT_ACC_GL == emptyBigDecimalValue" >
            INVESTMENT_ACC_GL = NULL ,
          </when>
          <otherwise >
            INVESTMENT_ACC_GL = #{INVESTMENT_ACC_GL},
          </otherwise>
        </choose>
      </if>
      <if test="INVESTMENT_ACC_CIF != null" >
        <choose >
          <when test="INVESTMENT_ACC_CIF == emptyBigDecimalValue" >
            INVESTMENT_ACC_CIF = NULL ,
          </when>
          <otherwise >
            INVESTMENT_ACC_CIF = #{INVESTMENT_ACC_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="INVESTMENT_ACC_SL != null" >
        <choose >
          <when test="INVESTMENT_ACC_SL == emptyBigDecimalValue" >
            INVESTMENT_ACC_SL = NULL ,
          </when>
          <otherwise >
            INVESTMENT_ACC_SL = #{INVESTMENT_ACC_SL},
          </otherwise>
        </choose>
      </if>
      <if test="CLIENT_GL_2 != null" >
        <choose >
          <when test="CLIENT_GL_2 == emptyBigDecimalValue" >
            CLIENT_GL_2 = NULL ,
          </when>
          <otherwise >
            CLIENT_GL_2 = #{CLIENT_GL_2},
          </otherwise>
        </choose>
      </if>
      <if test="CLIENT_CIF_2 != null" >
        <choose >
          <when test="CLIENT_CIF_2 == emptyBigDecimalValue" >
            CLIENT_CIF_2 = NULL ,
          </when>
          <otherwise >
            CLIENT_CIF_2 = #{CLIENT_CIF_2},
          </otherwise>
        </choose>
      </if>
      <if test="CLIENT_SL_2 != null" >
        <choose >
          <when test="CLIENT_SL_2 == emptyBigDecimalValue" >
            CLIENT_SL_2 = NULL ,
          </when>
          <otherwise >
            CLIENT_SL_2 = #{CLIENT_SL_2},
          </otherwise>
        </choose>
      </if>
      <if test="OUTSTANDING_AMT != null" >
        <choose >
          <when test="OUTSTANDING_AMT == emptyBigDecimalValue" >
            OUTSTANDING_AMT = NULL ,
          </when>
          <otherwise >
            OUTSTANDING_AMT = #{OUTSTANDING_AMT},
          </otherwise>
        </choose>
      </if>
      DATE_UPDATED = 
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
      <if test="REVERSAL_STATUS != null" >
        REVERSAL_STATUS = #{REVERSAL_STATUS},
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and SERIAL_NO = #{SERIAL_NO}
  </sql>
  <update id="updateTRSCONTRIB_SWITCH" parameterType="com.path.dbmaps.vo.TRSCONTRIB_SWITCHVO" >
    <include refid="sql_updateTRSCONTRIB_SWITCH" />
    <if test="DATE_UPDATED != null" >
      AND DATE_UPDATED = #{DATE_UPDATED}
    </if>
  </update>
</mapper>