<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRSCY_RATE_TOLERANCE_LEVEL" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRSCY_RATE_TOLERANCE_LEVELVO" >
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="CURRENCY_CODE" property="CURRENCY_CODE" />
    <id column="USER_ID" property="USER_ID" />
    <result column="LOW_RATE" property="LOW_RATE" />
    <result column="UPPER_RATE" property="UPPER_RATE" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="CREATED_DATE" property="CREATED_DATE" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="MODIFIED_DATE" property="MODIFIED_DATE" />
    <result column="APPROVED_BY" property="APPROVED_BY" />
    <result column="APPROVED_DATE" property="APPROVED_DATE" />
    <result column="CANCELLED_BY" property="CANCELLED_BY" />
    <result column="CANCELLED_DATE" property="CANCELLED_DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    COMP_CODE, CURRENCY_CODE, USER_ID, LOW_RATE, UPPER_RATE, CREATED_BY, CREATED_DATE, 
    MODIFIED_BY, MODIFIED_DATE, APPROVED_BY, APPROVED_DATE, CANCELLED_BY, CANCELLED_DATE
  </sql>
  <select id="selectTRSCY_RATE_TOLERANCE_LEVEL" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRSCY_RATE_TOLERANCE_LEVELVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRSCY_RATE_TOLERANCE_LEVEL
    where COMP_CODE = #{COMP_CODE}
      and CURRENCY_CODE = #{CURRENCY_CODE}
      and USER_ID = #{USER_ID}
  </select>
  <delete id="deleteTRSCY_RATE_TOLERANCE_LEVEL" parameterType="com.path.dbmaps.vo.TRSCY_RATE_TOLERANCE_LEVELVOKey" >
    delete from TRSCY_RATE_TOLERANCE_LEVEL
    where COMP_CODE = #{COMP_CODE}
      and CURRENCY_CODE = #{CURRENCY_CODE}
      and USER_ID = #{USER_ID}
  </delete>
  <insert id="insertTRSCY_RATE_TOLERANCE_LEVEL" parameterType="com.path.dbmaps.vo.TRSCY_RATE_TOLERANCE_LEVELVO" >
    insert into TRSCY_RATE_TOLERANCE_LEVEL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        CURRENCY_CODE,
      </if>
      <if test="USER_ID != null" >
        USER_ID,
      </if>
      <if test="LOW_RATE != null and LOW_RATE != emptyBigDecimalValue" >
        LOW_RATE,
      </if>
      <if test="UPPER_RATE != null and UPPER_RATE != emptyBigDecimalValue" >
        UPPER_RATE,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE,
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY,
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE,
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY,
      </if>
      <if test="APPROVED_DATE != null" >
        APPROVED_DATE,
      </if>
      <if test="CANCELLED_BY != null" >
        CANCELLED_BY,
      </if>
      <if test="CANCELLED_DATE != null" >
        CANCELLED_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{COMP_CODE},
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        #{CURRENCY_CODE},
      </if>
      <if test="USER_ID != null" >
        #{USER_ID},
      </if>
      <if test="LOW_RATE != null and LOW_RATE != emptyBigDecimalValue" >
        #{LOW_RATE},
      </if>
      <if test="UPPER_RATE != null and UPPER_RATE != emptyBigDecimalValue" >
        #{UPPER_RATE},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="CREATED_DATE != null" >
        #{CREATED_DATE},
      </if>
      <if test="MODIFIED_BY != null" >
        #{MODIFIED_BY},
      </if>
      <if test="MODIFIED_DATE != null" >
        #{MODIFIED_DATE},
      </if>
      <if test="APPROVED_BY != null" >
        #{APPROVED_BY},
      </if>
      <if test="APPROVED_DATE != null" >
        #{APPROVED_DATE},
      </if>
      <if test="CANCELLED_BY != null" >
        #{CANCELLED_BY},
      </if>
      <if test="CANCELLED_DATE != null" >
        #{CANCELLED_DATE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRSCY_RATE_TOLERANCE_LEVEL" >
    update TRSCY_RATE_TOLERANCE_LEVEL
    <set >
      <if test="LOW_RATE != null" >
        <choose >
          <when test="LOW_RATE == emptyBigDecimalValue" >
            LOW_RATE = NULL ,
          </when>
          <otherwise >
            LOW_RATE = #{LOW_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="UPPER_RATE != null" >
        <choose >
          <when test="UPPER_RATE == emptyBigDecimalValue" >
            UPPER_RATE = NULL ,
          </when>
          <otherwise >
            UPPER_RATE = #{UPPER_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE = #{CREATED_DATE},
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY = #{MODIFIED_BY},
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE = #{MODIFIED_DATE},
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY = #{APPROVED_BY},
      </if>
      <if test="APPROVED_DATE != null" >
        APPROVED_DATE = #{APPROVED_DATE},
      </if>
      <if test="CANCELLED_BY != null" >
        CANCELLED_BY = #{CANCELLED_BY},
      </if>
      <if test="CANCELLED_DATE != null" >
        CANCELLED_DATE = #{CANCELLED_DATE},
      </if>
    </set>
    where COMP_CODE = #{COMP_CODE}
      and CURRENCY_CODE = #{CURRENCY_CODE}
      and USER_ID = #{USER_ID}
  </sql>
  <update id="updateTRSCY_RATE_TOLERANCE_LEVEL" parameterType="com.path.dbmaps.vo.TRSCY_RATE_TOLERANCE_LEVELVO" >
    <include refid="sql_updateTRSCY_RATE_TOLERANCE_LEVEL" />
  </update>
</mapper>