<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRSCLASS_OTHER_ACCOUNTS" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRSCLASS_OTHER_ACCOUNTSVO" >
    <id column="CLASS" property="CLASS" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <result column="SP_IIS_BS_GL" property="SP_IIS_BS_GL" />
    <result column="SP_IIS_BS_CIF" property="SP_IIS_BS_CIF" />
    <result column="SP_IIS_BS_SL" property="SP_IIS_BS_SL" />
    <result column="SP_IIS_PL_GL" property="SP_IIS_PL_GL" />
    <result column="SP_IIS_PL_CIF" property="SP_IIS_PL_CIF" />
    <result column="SP_IIS_PL_SL" property="SP_IIS_PL_SL" />
    <result column="SP_IIS_WRITE_BACK_GL" property="SP_IIS_WRITE_BACK_GL" />
    <result column="SP_IIS_WRITE_BACK_CIF" property="SP_IIS_WRITE_BACK_CIF" />
    <result column="SP_IIS_WRITE_BACK_SL" property="SP_IIS_WRITE_BACK_SL" />
    <result column="IIS_BS_GL" property="IIS_BS_GL" />
    <result column="IIS_BS_CIF" property="IIS_BS_CIF" />
    <result column="IIS_BS_SL" property="IIS_BS_SL" />
    <result column="IIS_PL_GL" property="IIS_PL_GL" />
    <result column="IIS_PL_CIF" property="IIS_PL_CIF" />
    <result column="IIS_PL_SL" property="IIS_PL_SL" />
    <result column="IIS_WRITE_BACK_GL" property="IIS_WRITE_BACK_GL" />
    <result column="IIS_WRITE_BACK_CIF" property="IIS_WRITE_BACK_CIF" />
    <result column="IIS_WRITE_BACK_SL" property="IIS_WRITE_BACK_SL" />
    <result column="NPF_GL" property="NPF_GL" />
    <result column="NPF_CIF" property="NPF_CIF" />
    <result column="NPF_SL" property="NPF_SL" />
    <result column="BAD_DEBTS_GL" property="BAD_DEBTS_GL" />
    <result column="BAD_DEBTS_CIF" property="BAD_DEBTS_CIF" />
    <result column="BAD_DEBTS_SL" property="BAD_DEBTS_SL" />
    <result column="BAD_DEBTS_RECOVERY_GL" property="BAD_DEBTS_RECOVERY_GL" />
    <result column="BAD_DEBTS_RECOVERY_CIF" property="BAD_DEBTS_RECOVERY_CIF" />
    <result column="BAD_DEBTS_RECOVERY_SL" property="BAD_DEBTS_RECOVERY_SL" />
    <result column="PROVISION_WRITE_OFF_GL" property="PROVISION_WRITE_OFF_GL" />
    <result column="PROVISION_WRITE_OFF_CIF" property="PROVISION_WRITE_OFF_CIF" />
    <result column="PROVISION_WRITE_OFF_SL" property="PROVISION_WRITE_OFF_SL" />
    <result column="SP_IIS_WRITE_OFF_GL" property="SP_IIS_WRITE_OFF_GL" />
    <result column="SP_IIS_WRITE_OFF_CIF" property="SP_IIS_WRITE_OFF_CIF" />
    <result column="SP_IIS_WRITE_OFF_SL" property="SP_IIS_WRITE_OFF_SL" />
    <result column="IIS_WRITE_OFF_GL" property="IIS_WRITE_OFF_GL" />
    <result column="IIS_WRITE_OFF_CIF" property="IIS_WRITE_OFF_CIF" />
    <result column="IIS_WRITE_OFF_SL" property="IIS_WRITE_OFF_SL" />
  </resultMap>
  <sql id="Base_Column_List" >
    CLASS, COMP_CODE, SP_IIS_BS_GL, SP_IIS_BS_CIF, SP_IIS_BS_SL, SP_IIS_PL_GL, SP_IIS_PL_CIF, 
    SP_IIS_PL_SL, SP_IIS_WRITE_BACK_GL, SP_IIS_WRITE_BACK_CIF, SP_IIS_WRITE_BACK_SL, 
    IIS_BS_GL, IIS_BS_CIF, IIS_BS_SL, IIS_PL_GL, IIS_PL_CIF, IIS_PL_SL, IIS_WRITE_BACK_GL, 
    IIS_WRITE_BACK_CIF, IIS_WRITE_BACK_SL, NPF_GL, NPF_CIF, NPF_SL, BAD_DEBTS_GL, BAD_DEBTS_CIF, 
    BAD_DEBTS_SL, BAD_DEBTS_RECOVERY_GL, BAD_DEBTS_RECOVERY_CIF, BAD_DEBTS_RECOVERY_SL, 
    PROVISION_WRITE_OFF_GL, PROVISION_WRITE_OFF_CIF, PROVISION_WRITE_OFF_SL, SP_IIS_WRITE_OFF_GL, 
    SP_IIS_WRITE_OFF_CIF, SP_IIS_WRITE_OFF_SL, IIS_WRITE_OFF_GL, IIS_WRITE_OFF_CIF, IIS_WRITE_OFF_SL
  </sql>
  <select id="selectTRSCLASS_OTHER_ACCOUNTS" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRSCLASS_OTHER_ACCOUNTSVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRSCLASS_OTHER_ACCOUNTS
    where CLASS = #{CLASS}
      and COMP_CODE = #{COMP_CODE}
  </select>
  <delete id="deleteTRSCLASS_OTHER_ACCOUNTS" parameterType="com.path.dbmaps.vo.TRSCLASS_OTHER_ACCOUNTSVOKey" >
    delete from TRSCLASS_OTHER_ACCOUNTS
    where CLASS = #{CLASS}
      and COMP_CODE = #{COMP_CODE}
  </delete>
  <insert id="insertTRSCLASS_OTHER_ACCOUNTS" parameterType="com.path.dbmaps.vo.TRSCLASS_OTHER_ACCOUNTSVO" >
    insert into TRSCLASS_OTHER_ACCOUNTS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CLASS != null and CLASS != emptyBigDecimalValue" >
        CLASS,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="SP_IIS_BS_GL != null and SP_IIS_BS_GL != emptyBigDecimalValue" >
        SP_IIS_BS_GL,
      </if>
      <if test="SP_IIS_BS_CIF != null and SP_IIS_BS_CIF != emptyBigDecimalValue" >
        SP_IIS_BS_CIF,
      </if>
      <if test="SP_IIS_BS_SL != null and SP_IIS_BS_SL != emptyBigDecimalValue" >
        SP_IIS_BS_SL,
      </if>
      <if test="SP_IIS_PL_GL != null and SP_IIS_PL_GL != emptyBigDecimalValue" >
        SP_IIS_PL_GL,
      </if>
      <if test="SP_IIS_PL_CIF != null and SP_IIS_PL_CIF != emptyBigDecimalValue" >
        SP_IIS_PL_CIF,
      </if>
      <if test="SP_IIS_PL_SL != null and SP_IIS_PL_SL != emptyBigDecimalValue" >
        SP_IIS_PL_SL,
      </if>
      <if test="SP_IIS_WRITE_BACK_GL != null and SP_IIS_WRITE_BACK_GL != emptyBigDecimalValue" >
        SP_IIS_WRITE_BACK_GL,
      </if>
      <if test="SP_IIS_WRITE_BACK_CIF != null and SP_IIS_WRITE_BACK_CIF != emptyBigDecimalValue" >
        SP_IIS_WRITE_BACK_CIF,
      </if>
      <if test="SP_IIS_WRITE_BACK_SL != null and SP_IIS_WRITE_BACK_SL != emptyBigDecimalValue" >
        SP_IIS_WRITE_BACK_SL,
      </if>
      <if test="IIS_BS_GL != null and IIS_BS_GL != emptyBigDecimalValue" >
        IIS_BS_GL,
      </if>
      <if test="IIS_BS_CIF != null and IIS_BS_CIF != emptyBigDecimalValue" >
        IIS_BS_CIF,
      </if>
      <if test="IIS_BS_SL != null and IIS_BS_SL != emptyBigDecimalValue" >
        IIS_BS_SL,
      </if>
      <if test="IIS_PL_GL != null and IIS_PL_GL != emptyBigDecimalValue" >
        IIS_PL_GL,
      </if>
      <if test="IIS_PL_CIF != null and IIS_PL_CIF != emptyBigDecimalValue" >
        IIS_PL_CIF,
      </if>
      <if test="IIS_PL_SL != null and IIS_PL_SL != emptyBigDecimalValue" >
        IIS_PL_SL,
      </if>
      <if test="IIS_WRITE_BACK_GL != null and IIS_WRITE_BACK_GL != emptyBigDecimalValue" >
        IIS_WRITE_BACK_GL,
      </if>
      <if test="IIS_WRITE_BACK_CIF != null and IIS_WRITE_BACK_CIF != emptyBigDecimalValue" >
        IIS_WRITE_BACK_CIF,
      </if>
      <if test="IIS_WRITE_BACK_SL != null and IIS_WRITE_BACK_SL != emptyBigDecimalValue" >
        IIS_WRITE_BACK_SL,
      </if>
      <if test="NPF_GL != null and NPF_GL != emptyBigDecimalValue" >
        NPF_GL,
      </if>
      <if test="NPF_CIF != null and NPF_CIF != emptyBigDecimalValue" >
        NPF_CIF,
      </if>
      <if test="NPF_SL != null and NPF_SL != emptyBigDecimalValue" >
        NPF_SL,
      </if>
      <if test="BAD_DEBTS_GL != null and BAD_DEBTS_GL != emptyBigDecimalValue" >
        BAD_DEBTS_GL,
      </if>
      <if test="BAD_DEBTS_CIF != null and BAD_DEBTS_CIF != emptyBigDecimalValue" >
        BAD_DEBTS_CIF,
      </if>
      <if test="BAD_DEBTS_SL != null and BAD_DEBTS_SL != emptyBigDecimalValue" >
        BAD_DEBTS_SL,
      </if>
      <if test="BAD_DEBTS_RECOVERY_GL != null and BAD_DEBTS_RECOVERY_GL != emptyBigDecimalValue" >
        BAD_DEBTS_RECOVERY_GL,
      </if>
      <if test="BAD_DEBTS_RECOVERY_CIF != null and BAD_DEBTS_RECOVERY_CIF != emptyBigDecimalValue" >
        BAD_DEBTS_RECOVERY_CIF,
      </if>
      <if test="BAD_DEBTS_RECOVERY_SL != null and BAD_DEBTS_RECOVERY_SL != emptyBigDecimalValue" >
        BAD_DEBTS_RECOVERY_SL,
      </if>
      <if test="PROVISION_WRITE_OFF_GL != null and PROVISION_WRITE_OFF_GL != emptyBigDecimalValue" >
        PROVISION_WRITE_OFF_GL,
      </if>
      <if test="PROVISION_WRITE_OFF_CIF != null and PROVISION_WRITE_OFF_CIF != emptyBigDecimalValue" >
        PROVISION_WRITE_OFF_CIF,
      </if>
      <if test="PROVISION_WRITE_OFF_SL != null and PROVISION_WRITE_OFF_SL != emptyBigDecimalValue" >
        PROVISION_WRITE_OFF_SL,
      </if>
      <if test="SP_IIS_WRITE_OFF_GL != null and SP_IIS_WRITE_OFF_GL != emptyBigDecimalValue" >
        SP_IIS_WRITE_OFF_GL,
      </if>
      <if test="SP_IIS_WRITE_OFF_CIF != null and SP_IIS_WRITE_OFF_CIF != emptyBigDecimalValue" >
        SP_IIS_WRITE_OFF_CIF,
      </if>
      <if test="SP_IIS_WRITE_OFF_SL != null and SP_IIS_WRITE_OFF_SL != emptyBigDecimalValue" >
        SP_IIS_WRITE_OFF_SL,
      </if>
      <if test="IIS_WRITE_OFF_GL != null and IIS_WRITE_OFF_GL != emptyBigDecimalValue" >
        IIS_WRITE_OFF_GL,
      </if>
      <if test="IIS_WRITE_OFF_CIF != null and IIS_WRITE_OFF_CIF != emptyBigDecimalValue" >
        IIS_WRITE_OFF_CIF,
      </if>
      <if test="IIS_WRITE_OFF_SL != null and IIS_WRITE_OFF_SL != emptyBigDecimalValue" >
        IIS_WRITE_OFF_SL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CLASS != null and CLASS != emptyBigDecimalValue" >
        #{CLASS},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="SP_IIS_BS_GL != null and SP_IIS_BS_GL != emptyBigDecimalValue" >
        #{SP_IIS_BS_GL},
      </if>
      <if test="SP_IIS_BS_CIF != null and SP_IIS_BS_CIF != emptyBigDecimalValue" >
        #{SP_IIS_BS_CIF},
      </if>
      <if test="SP_IIS_BS_SL != null and SP_IIS_BS_SL != emptyBigDecimalValue" >
        #{SP_IIS_BS_SL},
      </if>
      <if test="SP_IIS_PL_GL != null and SP_IIS_PL_GL != emptyBigDecimalValue" >
        #{SP_IIS_PL_GL},
      </if>
      <if test="SP_IIS_PL_CIF != null and SP_IIS_PL_CIF != emptyBigDecimalValue" >
        #{SP_IIS_PL_CIF},
      </if>
      <if test="SP_IIS_PL_SL != null and SP_IIS_PL_SL != emptyBigDecimalValue" >
        #{SP_IIS_PL_SL},
      </if>
      <if test="SP_IIS_WRITE_BACK_GL != null and SP_IIS_WRITE_BACK_GL != emptyBigDecimalValue" >
        #{SP_IIS_WRITE_BACK_GL},
      </if>
      <if test="SP_IIS_WRITE_BACK_CIF != null and SP_IIS_WRITE_BACK_CIF != emptyBigDecimalValue" >
        #{SP_IIS_WRITE_BACK_CIF},
      </if>
      <if test="SP_IIS_WRITE_BACK_SL != null and SP_IIS_WRITE_BACK_SL != emptyBigDecimalValue" >
        #{SP_IIS_WRITE_BACK_SL},
      </if>
      <if test="IIS_BS_GL != null and IIS_BS_GL != emptyBigDecimalValue" >
        #{IIS_BS_GL},
      </if>
      <if test="IIS_BS_CIF != null and IIS_BS_CIF != emptyBigDecimalValue" >
        #{IIS_BS_CIF},
      </if>
      <if test="IIS_BS_SL != null and IIS_BS_SL != emptyBigDecimalValue" >
        #{IIS_BS_SL},
      </if>
      <if test="IIS_PL_GL != null and IIS_PL_GL != emptyBigDecimalValue" >
        #{IIS_PL_GL},
      </if>
      <if test="IIS_PL_CIF != null and IIS_PL_CIF != emptyBigDecimalValue" >
        #{IIS_PL_CIF},
      </if>
      <if test="IIS_PL_SL != null and IIS_PL_SL != emptyBigDecimalValue" >
        #{IIS_PL_SL},
      </if>
      <if test="IIS_WRITE_BACK_GL != null and IIS_WRITE_BACK_GL != emptyBigDecimalValue" >
        #{IIS_WRITE_BACK_GL},
      </if>
      <if test="IIS_WRITE_BACK_CIF != null and IIS_WRITE_BACK_CIF != emptyBigDecimalValue" >
        #{IIS_WRITE_BACK_CIF},
      </if>
      <if test="IIS_WRITE_BACK_SL != null and IIS_WRITE_BACK_SL != emptyBigDecimalValue" >
        #{IIS_WRITE_BACK_SL},
      </if>
      <if test="NPF_GL != null and NPF_GL != emptyBigDecimalValue" >
        #{NPF_GL},
      </if>
      <if test="NPF_CIF != null and NPF_CIF != emptyBigDecimalValue" >
        #{NPF_CIF},
      </if>
      <if test="NPF_SL != null and NPF_SL != emptyBigDecimalValue" >
        #{NPF_SL},
      </if>
      <if test="BAD_DEBTS_GL != null and BAD_DEBTS_GL != emptyBigDecimalValue" >
        #{BAD_DEBTS_GL},
      </if>
      <if test="BAD_DEBTS_CIF != null and BAD_DEBTS_CIF != emptyBigDecimalValue" >
        #{BAD_DEBTS_CIF},
      </if>
      <if test="BAD_DEBTS_SL != null and BAD_DEBTS_SL != emptyBigDecimalValue" >
        #{BAD_DEBTS_SL},
      </if>
      <if test="BAD_DEBTS_RECOVERY_GL != null and BAD_DEBTS_RECOVERY_GL != emptyBigDecimalValue" >
        #{BAD_DEBTS_RECOVERY_GL},
      </if>
      <if test="BAD_DEBTS_RECOVERY_CIF != null and BAD_DEBTS_RECOVERY_CIF != emptyBigDecimalValue" >
        #{BAD_DEBTS_RECOVERY_CIF},
      </if>
      <if test="BAD_DEBTS_RECOVERY_SL != null and BAD_DEBTS_RECOVERY_SL != emptyBigDecimalValue" >
        #{BAD_DEBTS_RECOVERY_SL},
      </if>
      <if test="PROVISION_WRITE_OFF_GL != null and PROVISION_WRITE_OFF_GL != emptyBigDecimalValue" >
        #{PROVISION_WRITE_OFF_GL},
      </if>
      <if test="PROVISION_WRITE_OFF_CIF != null and PROVISION_WRITE_OFF_CIF != emptyBigDecimalValue" >
        #{PROVISION_WRITE_OFF_CIF},
      </if>
      <if test="PROVISION_WRITE_OFF_SL != null and PROVISION_WRITE_OFF_SL != emptyBigDecimalValue" >
        #{PROVISION_WRITE_OFF_SL},
      </if>
      <if test="SP_IIS_WRITE_OFF_GL != null and SP_IIS_WRITE_OFF_GL != emptyBigDecimalValue" >
        #{SP_IIS_WRITE_OFF_GL},
      </if>
      <if test="SP_IIS_WRITE_OFF_CIF != null and SP_IIS_WRITE_OFF_CIF != emptyBigDecimalValue" >
        #{SP_IIS_WRITE_OFF_CIF},
      </if>
      <if test="SP_IIS_WRITE_OFF_SL != null and SP_IIS_WRITE_OFF_SL != emptyBigDecimalValue" >
        #{SP_IIS_WRITE_OFF_SL},
      </if>
      <if test="IIS_WRITE_OFF_GL != null and IIS_WRITE_OFF_GL != emptyBigDecimalValue" >
        #{IIS_WRITE_OFF_GL},
      </if>
      <if test="IIS_WRITE_OFF_CIF != null and IIS_WRITE_OFF_CIF != emptyBigDecimalValue" >
        #{IIS_WRITE_OFF_CIF},
      </if>
      <if test="IIS_WRITE_OFF_SL != null and IIS_WRITE_OFF_SL != emptyBigDecimalValue" >
        #{IIS_WRITE_OFF_SL},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRSCLASS_OTHER_ACCOUNTS" >
    update TRSCLASS_OTHER_ACCOUNTS
    <set >
      <if test="SP_IIS_BS_GL != null" >
        <choose >
          <when test="SP_IIS_BS_GL == emptyBigDecimalValue" >
            SP_IIS_BS_GL = NULL ,
          </when>
          <otherwise >
            SP_IIS_BS_GL = #{SP_IIS_BS_GL},
          </otherwise>
        </choose>
      </if>
      <if test="SP_IIS_BS_CIF != null" >
        <choose >
          <when test="SP_IIS_BS_CIF == emptyBigDecimalValue" >
            SP_IIS_BS_CIF = NULL ,
          </when>
          <otherwise >
            SP_IIS_BS_CIF = #{SP_IIS_BS_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="SP_IIS_BS_SL != null" >
        <choose >
          <when test="SP_IIS_BS_SL == emptyBigDecimalValue" >
            SP_IIS_BS_SL = NULL ,
          </when>
          <otherwise >
            SP_IIS_BS_SL = #{SP_IIS_BS_SL},
          </otherwise>
        </choose>
      </if>
      <if test="SP_IIS_PL_GL != null" >
        <choose >
          <when test="SP_IIS_PL_GL == emptyBigDecimalValue" >
            SP_IIS_PL_GL = NULL ,
          </when>
          <otherwise >
            SP_IIS_PL_GL = #{SP_IIS_PL_GL},
          </otherwise>
        </choose>
      </if>
      <if test="SP_IIS_PL_CIF != null" >
        <choose >
          <when test="SP_IIS_PL_CIF == emptyBigDecimalValue" >
            SP_IIS_PL_CIF = NULL ,
          </when>
          <otherwise >
            SP_IIS_PL_CIF = #{SP_IIS_PL_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="SP_IIS_PL_SL != null" >
        <choose >
          <when test="SP_IIS_PL_SL == emptyBigDecimalValue" >
            SP_IIS_PL_SL = NULL ,
          </when>
          <otherwise >
            SP_IIS_PL_SL = #{SP_IIS_PL_SL},
          </otherwise>
        </choose>
      </if>
      <if test="SP_IIS_WRITE_BACK_GL != null" >
        <choose >
          <when test="SP_IIS_WRITE_BACK_GL == emptyBigDecimalValue" >
            SP_IIS_WRITE_BACK_GL = NULL ,
          </when>
          <otherwise >
            SP_IIS_WRITE_BACK_GL = #{SP_IIS_WRITE_BACK_GL},
          </otherwise>
        </choose>
      </if>
      <if test="SP_IIS_WRITE_BACK_CIF != null" >
        <choose >
          <when test="SP_IIS_WRITE_BACK_CIF == emptyBigDecimalValue" >
            SP_IIS_WRITE_BACK_CIF = NULL ,
          </when>
          <otherwise >
            SP_IIS_WRITE_BACK_CIF = #{SP_IIS_WRITE_BACK_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="SP_IIS_WRITE_BACK_SL != null" >
        <choose >
          <when test="SP_IIS_WRITE_BACK_SL == emptyBigDecimalValue" >
            SP_IIS_WRITE_BACK_SL = NULL ,
          </when>
          <otherwise >
            SP_IIS_WRITE_BACK_SL = #{SP_IIS_WRITE_BACK_SL},
          </otherwise>
        </choose>
      </if>
      <if test="IIS_BS_GL != null" >
        <choose >
          <when test="IIS_BS_GL == emptyBigDecimalValue" >
            IIS_BS_GL = NULL ,
          </when>
          <otherwise >
            IIS_BS_GL = #{IIS_BS_GL},
          </otherwise>
        </choose>
      </if>
      <if test="IIS_BS_CIF != null" >
        <choose >
          <when test="IIS_BS_CIF == emptyBigDecimalValue" >
            IIS_BS_CIF = NULL ,
          </when>
          <otherwise >
            IIS_BS_CIF = #{IIS_BS_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="IIS_BS_SL != null" >
        <choose >
          <when test="IIS_BS_SL == emptyBigDecimalValue" >
            IIS_BS_SL = NULL ,
          </when>
          <otherwise >
            IIS_BS_SL = #{IIS_BS_SL},
          </otherwise>
        </choose>
      </if>
      <if test="IIS_PL_GL != null" >
        <choose >
          <when test="IIS_PL_GL == emptyBigDecimalValue" >
            IIS_PL_GL = NULL ,
          </when>
          <otherwise >
            IIS_PL_GL = #{IIS_PL_GL},
          </otherwise>
        </choose>
      </if>
      <if test="IIS_PL_CIF != null" >
        <choose >
          <when test="IIS_PL_CIF == emptyBigDecimalValue" >
            IIS_PL_CIF = NULL ,
          </when>
          <otherwise >
            IIS_PL_CIF = #{IIS_PL_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="IIS_PL_SL != null" >
        <choose >
          <when test="IIS_PL_SL == emptyBigDecimalValue" >
            IIS_PL_SL = NULL ,
          </when>
          <otherwise >
            IIS_PL_SL = #{IIS_PL_SL},
          </otherwise>
        </choose>
      </if>
      <if test="IIS_WRITE_BACK_GL != null" >
        <choose >
          <when test="IIS_WRITE_BACK_GL == emptyBigDecimalValue" >
            IIS_WRITE_BACK_GL = NULL ,
          </when>
          <otherwise >
            IIS_WRITE_BACK_GL = #{IIS_WRITE_BACK_GL},
          </otherwise>
        </choose>
      </if>
      <if test="IIS_WRITE_BACK_CIF != null" >
        <choose >
          <when test="IIS_WRITE_BACK_CIF == emptyBigDecimalValue" >
            IIS_WRITE_BACK_CIF = NULL ,
          </when>
          <otherwise >
            IIS_WRITE_BACK_CIF = #{IIS_WRITE_BACK_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="IIS_WRITE_BACK_SL != null" >
        <choose >
          <when test="IIS_WRITE_BACK_SL == emptyBigDecimalValue" >
            IIS_WRITE_BACK_SL = NULL ,
          </when>
          <otherwise >
            IIS_WRITE_BACK_SL = #{IIS_WRITE_BACK_SL},
          </otherwise>
        </choose>
      </if>
      <if test="NPF_GL != null" >
        <choose >
          <when test="NPF_GL == emptyBigDecimalValue" >
            NPF_GL = NULL ,
          </when>
          <otherwise >
            NPF_GL = #{NPF_GL},
          </otherwise>
        </choose>
      </if>
      <if test="NPF_CIF != null" >
        <choose >
          <when test="NPF_CIF == emptyBigDecimalValue" >
            NPF_CIF = NULL ,
          </when>
          <otherwise >
            NPF_CIF = #{NPF_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="NPF_SL != null" >
        <choose >
          <when test="NPF_SL == emptyBigDecimalValue" >
            NPF_SL = NULL ,
          </when>
          <otherwise >
            NPF_SL = #{NPF_SL},
          </otherwise>
        </choose>
      </if>
      <if test="BAD_DEBTS_GL != null" >
        <choose >
          <when test="BAD_DEBTS_GL == emptyBigDecimalValue" >
            BAD_DEBTS_GL = NULL ,
          </when>
          <otherwise >
            BAD_DEBTS_GL = #{BAD_DEBTS_GL},
          </otherwise>
        </choose>
      </if>
      <if test="BAD_DEBTS_CIF != null" >
        <choose >
          <when test="BAD_DEBTS_CIF == emptyBigDecimalValue" >
            BAD_DEBTS_CIF = NULL ,
          </when>
          <otherwise >
            BAD_DEBTS_CIF = #{BAD_DEBTS_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="BAD_DEBTS_SL != null" >
        <choose >
          <when test="BAD_DEBTS_SL == emptyBigDecimalValue" >
            BAD_DEBTS_SL = NULL ,
          </when>
          <otherwise >
            BAD_DEBTS_SL = #{BAD_DEBTS_SL},
          </otherwise>
        </choose>
      </if>
      <if test="BAD_DEBTS_RECOVERY_GL != null" >
        <choose >
          <when test="BAD_DEBTS_RECOVERY_GL == emptyBigDecimalValue" >
            BAD_DEBTS_RECOVERY_GL = NULL ,
          </when>
          <otherwise >
            BAD_DEBTS_RECOVERY_GL = #{BAD_DEBTS_RECOVERY_GL},
          </otherwise>
        </choose>
      </if>
      <if test="BAD_DEBTS_RECOVERY_CIF != null" >
        <choose >
          <when test="BAD_DEBTS_RECOVERY_CIF == emptyBigDecimalValue" >
            BAD_DEBTS_RECOVERY_CIF = NULL ,
          </when>
          <otherwise >
            BAD_DEBTS_RECOVERY_CIF = #{BAD_DEBTS_RECOVERY_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="BAD_DEBTS_RECOVERY_SL != null" >
        <choose >
          <when test="BAD_DEBTS_RECOVERY_SL == emptyBigDecimalValue" >
            BAD_DEBTS_RECOVERY_SL = NULL ,
          </when>
          <otherwise >
            BAD_DEBTS_RECOVERY_SL = #{BAD_DEBTS_RECOVERY_SL},
          </otherwise>
        </choose>
      </if>
      <if test="PROVISION_WRITE_OFF_GL != null" >
        <choose >
          <when test="PROVISION_WRITE_OFF_GL == emptyBigDecimalValue" >
            PROVISION_WRITE_OFF_GL = NULL ,
          </when>
          <otherwise >
            PROVISION_WRITE_OFF_GL = #{PROVISION_WRITE_OFF_GL},
          </otherwise>
        </choose>
      </if>
      <if test="PROVISION_WRITE_OFF_CIF != null" >
        <choose >
          <when test="PROVISION_WRITE_OFF_CIF == emptyBigDecimalValue" >
            PROVISION_WRITE_OFF_CIF = NULL ,
          </when>
          <otherwise >
            PROVISION_WRITE_OFF_CIF = #{PROVISION_WRITE_OFF_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="PROVISION_WRITE_OFF_SL != null" >
        <choose >
          <when test="PROVISION_WRITE_OFF_SL == emptyBigDecimalValue" >
            PROVISION_WRITE_OFF_SL = NULL ,
          </when>
          <otherwise >
            PROVISION_WRITE_OFF_SL = #{PROVISION_WRITE_OFF_SL},
          </otherwise>
        </choose>
      </if>
      <if test="SP_IIS_WRITE_OFF_GL != null" >
        <choose >
          <when test="SP_IIS_WRITE_OFF_GL == emptyBigDecimalValue" >
            SP_IIS_WRITE_OFF_GL = NULL ,
          </when>
          <otherwise >
            SP_IIS_WRITE_OFF_GL = #{SP_IIS_WRITE_OFF_GL},
          </otherwise>
        </choose>
      </if>
      <if test="SP_IIS_WRITE_OFF_CIF != null" >
        <choose >
          <when test="SP_IIS_WRITE_OFF_CIF == emptyBigDecimalValue" >
            SP_IIS_WRITE_OFF_CIF = NULL ,
          </when>
          <otherwise >
            SP_IIS_WRITE_OFF_CIF = #{SP_IIS_WRITE_OFF_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="SP_IIS_WRITE_OFF_SL != null" >
        <choose >
          <when test="SP_IIS_WRITE_OFF_SL == emptyBigDecimalValue" >
            SP_IIS_WRITE_OFF_SL = NULL ,
          </when>
          <otherwise >
            SP_IIS_WRITE_OFF_SL = #{SP_IIS_WRITE_OFF_SL},
          </otherwise>
        </choose>
      </if>
      <if test="IIS_WRITE_OFF_GL != null" >
        <choose >
          <when test="IIS_WRITE_OFF_GL == emptyBigDecimalValue" >
            IIS_WRITE_OFF_GL = NULL ,
          </when>
          <otherwise >
            IIS_WRITE_OFF_GL = #{IIS_WRITE_OFF_GL},
          </otherwise>
        </choose>
      </if>
      <if test="IIS_WRITE_OFF_CIF != null" >
        <choose >
          <when test="IIS_WRITE_OFF_CIF == emptyBigDecimalValue" >
            IIS_WRITE_OFF_CIF = NULL ,
          </when>
          <otherwise >
            IIS_WRITE_OFF_CIF = #{IIS_WRITE_OFF_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="IIS_WRITE_OFF_SL != null" >
        <choose >
          <when test="IIS_WRITE_OFF_SL == emptyBigDecimalValue" >
            IIS_WRITE_OFF_SL = NULL ,
          </when>
          <otherwise >
            IIS_WRITE_OFF_SL = #{IIS_WRITE_OFF_SL},
          </otherwise>
        </choose>
      </if>
    </set>
    where CLASS = #{CLASS}
      and COMP_CODE = #{COMP_CODE}
  </sql>
  <update id="updateTRSCLASS_OTHER_ACCOUNTS" parameterType="com.path.dbmaps.vo.TRSCLASS_OTHER_ACCOUNTSVO" >
    <include refid="sql_updateTRSCLASS_OTHER_ACCOUNTS" />
  </update>
</mapper>