<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRSCIFCOUNTRYLIMIT_EXEMPT_CIF" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRSCIFCOUNTRYLIMIT_EXEMPT_CIFVO" >
    <id column="CIF_NO" property="CIF_NO" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="COUNTRY" property="COUNTRY" />
  </resultMap>
  <delete id="deleteTRSCIFCOUNTRYLIMIT_EXEMPT_CIF" parameterType="com.path.dbmaps.vo.TRSCIFCOUNTRYLIMIT_EXEMPT_CIFVO" >
    delete from TRSCIFCOUNTRYLIMIT_EXEMPT_CIF
    where CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and COUNTRY = #{COUNTRY}
  </delete>
  <insert id="insertTRSCIFCOUNTRYLIMIT_EXEMPT_CIF" parameterType="com.path.dbmaps.vo.TRSCIFCOUNTRYLIMIT_EXEMPT_CIFVO" >
    insert into TRSCIFCOUNTRYLIMIT_EXEMPT_CIF
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        CIF_NO,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="COUNTRY != null and COUNTRY != emptyBigDecimalValue" >
        COUNTRY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        #{CIF_NO},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="COUNTRY != null and COUNTRY != emptyBigDecimalValue" >
        #{COUNTRY},
      </if>
    </trim>
  </insert>
</mapper>