<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRSCIFLIMITDET_PLAN_CRITERIA" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRSCIFLIMITDET_PLAN_CRITERIAVO" >
    <id column="BRANCH" property="BRANCH" />
    <id column="CIF" property="CIF" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LIMIT_SERIAL_NO" property="LIMIT_SERIAL_NO" />
    <id column="LINE_NO" property="LINE_NO" />
    <result column="PAYMENT_TYPE" property="PAYMENT_TYPE" />
    <result column="PAYM_PERIODICITY" property="PAYM_PERIODICITY" />
    <result column="PAYM_PERIOD_NBR" property="PAYM_PERIOD_NBR" />
    <result column="PAYM_PERIOD_POS" property="PAYM_PERIOD_POS" />
    <result column="ACC_BR" property="ACC_BR" />
    <result column="ACC_CY" property="ACC_CY" />
    <result column="ACC_GL" property="ACC_GL" />
    <result column="ACC_CIF" property="ACC_CIF" />
    <result column="ACC_SL" property="ACC_SL" />
    <result column="COVERING_ACC_BR" property="COVERING_ACC_BR" />
    <result column="COVERING_ACC_CY" property="COVERING_ACC_CY" />
    <result column="COVERING_ACC_GL" property="COVERING_ACC_GL" />
    <result column="COVERING_ACC_CIF" property="COVERING_ACC_CIF" />
    <result column="COVERING_ACC_SL" property="COVERING_ACC_SL" />
    <result column="AUTO_CREATE_SETTLEMENT_YN" property="AUTO_CREATE_SETTLEMENT_YN" />
    <result column="PAYM_DAY" property="PAYM_DAY" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH, CIF, COMP_CODE, LIMIT_SERIAL_NO, LINE_NO, PAYMENT_TYPE, PAYM_PERIODICITY, 
    PAYM_PERIOD_NBR, PAYM_PERIOD_POS, ACC_BR, ACC_CY, ACC_GL, ACC_CIF, ACC_SL, COVERING_ACC_BR, 
    COVERING_ACC_CY, COVERING_ACC_GL, COVERING_ACC_CIF, COVERING_ACC_SL, AUTO_CREATE_SETTLEMENT_YN, 
    PAYM_DAY
  </sql>
  <select id="selectTRSCIFLIMITDET_PLAN_CRITERIA" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRSCIFLIMITDET_PLAN_CRITERIAVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRSCIFLIMITDET_PLAN_CRITERIA
    where BRANCH = #{BRANCH}
      and CIF = #{CIF}
      and COMP_CODE = #{COMP_CODE}
      and LIMIT_SERIAL_NO = #{LIMIT_SERIAL_NO}
      and LINE_NO = #{LINE_NO}
  </select>
  <delete id="deleteTRSCIFLIMITDET_PLAN_CRITERIA" parameterType="com.path.dbmaps.vo.TRSCIFLIMITDET_PLAN_CRITERIAVOKey" >
    delete from TRSCIFLIMITDET_PLAN_CRITERIA
    where BRANCH = #{BRANCH}
      and CIF = #{CIF}
      and COMP_CODE = #{COMP_CODE}
      and LIMIT_SERIAL_NO = #{LIMIT_SERIAL_NO}
      and LINE_NO = #{LINE_NO}
  </delete>
  <insert id="insertTRSCIFLIMITDET_PLAN_CRITERIA" parameterType="com.path.dbmaps.vo.TRSCIFLIMITDET_PLAN_CRITERIAVO" >
    insert into TRSCIFLIMITDET_PLAN_CRITERIA
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH != null and BRANCH != emptyBigDecimalValue" >
        BRANCH,
      </if>
      <if test="CIF != null and CIF != emptyBigDecimalValue" >
        CIF,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LIMIT_SERIAL_NO != null and LIMIT_SERIAL_NO != emptyBigDecimalValue" >
        LIMIT_SERIAL_NO,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="PAYMENT_TYPE != null" >
        PAYMENT_TYPE,
      </if>
      <if test="PAYM_PERIODICITY != null" >
        PAYM_PERIODICITY,
      </if>
      <if test="PAYM_PERIOD_NBR != null and PAYM_PERIOD_NBR != emptyBigDecimalValue" >
        PAYM_PERIOD_NBR,
      </if>
      <if test="PAYM_PERIOD_POS != null" >
        PAYM_PERIOD_POS,
      </if>
      <if test="ACC_BR != null and ACC_BR != emptyBigDecimalValue" >
        ACC_BR,
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        ACC_CY,
      </if>
      <if test="ACC_GL != null and ACC_GL != emptyBigDecimalValue" >
        ACC_GL,
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        ACC_CIF,
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        ACC_SL,
      </if>
      <if test="COVERING_ACC_BR != null and COVERING_ACC_BR != emptyBigDecimalValue" >
        COVERING_ACC_BR,
      </if>
      <if test="COVERING_ACC_CY != null and COVERING_ACC_CY != emptyBigDecimalValue" >
        COVERING_ACC_CY,
      </if>
      <if test="COVERING_ACC_GL != null and COVERING_ACC_GL != emptyBigDecimalValue" >
        COVERING_ACC_GL,
      </if>
      <if test="COVERING_ACC_CIF != null and COVERING_ACC_CIF != emptyBigDecimalValue" >
        COVERING_ACC_CIF,
      </if>
      <if test="COVERING_ACC_SL != null and COVERING_ACC_SL != emptyBigDecimalValue" >
        COVERING_ACC_SL,
      </if>
      <if test="AUTO_CREATE_SETTLEMENT_YN != null" >
        AUTO_CREATE_SETTLEMENT_YN,
      </if>
      <if test="PAYM_DAY != null and PAYM_DAY != emptyBigDecimalValue" >
        PAYM_DAY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH != null and BRANCH != emptyBigDecimalValue" >
        #{BRANCH},
      </if>
      <if test="CIF != null and CIF != emptyBigDecimalValue" >
        #{CIF},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LIMIT_SERIAL_NO != null and LIMIT_SERIAL_NO != emptyBigDecimalValue" >
        #{LIMIT_SERIAL_NO},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="PAYMENT_TYPE != null" >
        #{PAYMENT_TYPE},
      </if>
      <if test="PAYM_PERIODICITY != null" >
        #{PAYM_PERIODICITY},
      </if>
      <if test="PAYM_PERIOD_NBR != null and PAYM_PERIOD_NBR != emptyBigDecimalValue" >
        #{PAYM_PERIOD_NBR},
      </if>
      <if test="PAYM_PERIOD_POS != null" >
        #{PAYM_PERIOD_POS},
      </if>
      <if test="ACC_BR != null and ACC_BR != emptyBigDecimalValue" >
        #{ACC_BR},
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        #{ACC_CY},
      </if>
      <if test="ACC_GL != null and ACC_GL != emptyBigDecimalValue" >
        #{ACC_GL},
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        #{ACC_CIF},
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        #{ACC_SL},
      </if>
      <if test="COVERING_ACC_BR != null and COVERING_ACC_BR != emptyBigDecimalValue" >
        #{COVERING_ACC_BR},
      </if>
      <if test="COVERING_ACC_CY != null and COVERING_ACC_CY != emptyBigDecimalValue" >
        #{COVERING_ACC_CY},
      </if>
      <if test="COVERING_ACC_GL != null and COVERING_ACC_GL != emptyBigDecimalValue" >
        #{COVERING_ACC_GL},
      </if>
      <if test="COVERING_ACC_CIF != null and COVERING_ACC_CIF != emptyBigDecimalValue" >
        #{COVERING_ACC_CIF},
      </if>
      <if test="COVERING_ACC_SL != null and COVERING_ACC_SL != emptyBigDecimalValue" >
        #{COVERING_ACC_SL},
      </if>
      <if test="AUTO_CREATE_SETTLEMENT_YN != null" >
        #{AUTO_CREATE_SETTLEMENT_YN},
      </if>
      <if test="PAYM_DAY != null and PAYM_DAY != emptyBigDecimalValue" >
        #{PAYM_DAY},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRSCIFLIMITDET_PLAN_CRITERIA" >
    update TRSCIFLIMITDET_PLAN_CRITERIA
    <set >
      <if test="PAYMENT_TYPE != null" >
        PAYMENT_TYPE = #{PAYMENT_TYPE},
      </if>
      <if test="PAYM_PERIODICITY != null" >
        PAYM_PERIODICITY = #{PAYM_PERIODICITY},
      </if>
      <if test="PAYM_PERIOD_NBR != null" >
        <choose >
          <when test="PAYM_PERIOD_NBR == emptyBigDecimalValue" >
            PAYM_PERIOD_NBR = NULL ,
          </when>
          <otherwise >
            PAYM_PERIOD_NBR = #{PAYM_PERIOD_NBR},
          </otherwise>
        </choose>
      </if>
      <if test="PAYM_PERIOD_POS != null" >
        PAYM_PERIOD_POS = #{PAYM_PERIOD_POS},
      </if>
      <if test="ACC_BR != null" >
        <choose >
          <when test="ACC_BR == emptyBigDecimalValue" >
            ACC_BR = NULL ,
          </when>
          <otherwise >
            ACC_BR = #{ACC_BR},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CY != null" >
        <choose >
          <when test="ACC_CY == emptyBigDecimalValue" >
            ACC_CY = NULL ,
          </when>
          <otherwise >
            ACC_CY = #{ACC_CY},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_GL != null" >
        <choose >
          <when test="ACC_GL == emptyBigDecimalValue" >
            ACC_GL = NULL ,
          </when>
          <otherwise >
            ACC_GL = #{ACC_GL},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CIF != null" >
        <choose >
          <when test="ACC_CIF == emptyBigDecimalValue" >
            ACC_CIF = NULL ,
          </when>
          <otherwise >
            ACC_CIF = #{ACC_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_SL != null" >
        <choose >
          <when test="ACC_SL == emptyBigDecimalValue" >
            ACC_SL = NULL ,
          </when>
          <otherwise >
            ACC_SL = #{ACC_SL},
          </otherwise>
        </choose>
      </if>
      <if test="COVERING_ACC_BR != null" >
        <choose >
          <when test="COVERING_ACC_BR == emptyBigDecimalValue" >
            COVERING_ACC_BR = NULL ,
          </when>
          <otherwise >
            COVERING_ACC_BR = #{COVERING_ACC_BR},
          </otherwise>
        </choose>
      </if>
      <if test="COVERING_ACC_CY != null" >
        <choose >
          <when test="COVERING_ACC_CY == emptyBigDecimalValue" >
            COVERING_ACC_CY = NULL ,
          </when>
          <otherwise >
            COVERING_ACC_CY = #{COVERING_ACC_CY},
          </otherwise>
        </choose>
      </if>
      <if test="COVERING_ACC_GL != null" >
        <choose >
          <when test="COVERING_ACC_GL == emptyBigDecimalValue" >
            COVERING_ACC_GL = NULL ,
          </when>
          <otherwise >
            COVERING_ACC_GL = #{COVERING_ACC_GL},
          </otherwise>
        </choose>
      </if>
      <if test="COVERING_ACC_CIF != null" >
        <choose >
          <when test="COVERING_ACC_CIF == emptyBigDecimalValue" >
            COVERING_ACC_CIF = NULL ,
          </when>
          <otherwise >
            COVERING_ACC_CIF = #{COVERING_ACC_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="COVERING_ACC_SL != null" >
        <choose >
          <when test="COVERING_ACC_SL == emptyBigDecimalValue" >
            COVERING_ACC_SL = NULL ,
          </when>
          <otherwise >
            COVERING_ACC_SL = #{COVERING_ACC_SL},
          </otherwise>
        </choose>
      </if>
      <if test="AUTO_CREATE_SETTLEMENT_YN != null" >
        AUTO_CREATE_SETTLEMENT_YN = #{AUTO_CREATE_SETTLEMENT_YN},
      </if>
      <if test="PAYM_DAY != null" >
        <choose >
          <when test="PAYM_DAY == emptyBigDecimalValue" >
            PAYM_DAY = NULL ,
          </when>
          <otherwise >
            PAYM_DAY = #{PAYM_DAY},
          </otherwise>
        </choose>
      </if>
    </set>
    where BRANCH = #{BRANCH}
      and CIF = #{CIF}
      and COMP_CODE = #{COMP_CODE}
      and LIMIT_SERIAL_NO = #{LIMIT_SERIAL_NO}
      and LINE_NO = #{LINE_NO}
  </sql>
  <update id="updateTRSCIFLIMITDET_PLAN_CRITERIA" parameterType="com.path.dbmaps.vo.TRSCIFLIMITDET_PLAN_CRITERIAVO" >
    <include refid="sql_updateTRSCIFLIMITDET_PLAN_CRITERIA" />
  </update>
</mapper>