<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRSCLASS_KEY_LABEL" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRSCLASS_KEY_LABELVO" >
    <id column="APP_NAME" property="APP_NAME" />
    <id column="CLASS_CODE" property="CLASS_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="FIELD_NAME" property="FIELD_NAME" />
    <id column="PROG_REF" property="PROG_REF" />
    <result column="KEY_LABEL_CODE" property="KEY_LABEL_CODE" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="CREATED_DATE" property="CREATED_DATE" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="MODIFIED_DATE" property="MODIFIED_DATE" />
    <result column="GRID_RELATED_YN" property="GRID_RELATED_YN" />
  </resultMap>
  <sql id="Base_Column_List" >
    APP_NAME, CLASS_CODE, COMP_CODE, FIELD_NAME, PROG_REF, KEY_LABEL_CODE, CREATED_BY, 
    CREATED_DATE, MODIFIED_BY, MODIFIED_DATE, GRID_RELATED_YN
  </sql>
  <select id="selectTRSCLASS_KEY_LABEL" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRSCLASS_KEY_LABELVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRSCLASS_KEY_LABEL
    where APP_NAME = #{APP_NAME}
      and CLASS_CODE = #{CLASS_CODE}
      and COMP_CODE = #{COMP_CODE}
      and FIELD_NAME = #{FIELD_NAME}
      and PROG_REF = #{PROG_REF}
  </select>
  <delete id="deleteTRSCLASS_KEY_LABEL" parameterType="com.path.dbmaps.vo.TRSCLASS_KEY_LABELVOKey" >
    delete from TRSCLASS_KEY_LABEL
    where APP_NAME = #{APP_NAME}
      and CLASS_CODE = #{CLASS_CODE}
      and COMP_CODE = #{COMP_CODE}
      and FIELD_NAME = #{FIELD_NAME}
      and PROG_REF = #{PROG_REF}
  </delete>
  <insert id="insertTRSCLASS_KEY_LABEL" parameterType="com.path.dbmaps.vo.TRSCLASS_KEY_LABELVO" >
    insert into TRSCLASS_KEY_LABEL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="APP_NAME != null" >
        APP_NAME,
      </if>
      <if test="CLASS_CODE != null and CLASS_CODE != emptyBigDecimalValue" >
        CLASS_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="FIELD_NAME != null" >
        FIELD_NAME,
      </if>
      <if test="PROG_REF != null" >
        PROG_REF,
      </if>
      <if test="KEY_LABEL_CODE != null" >
        KEY_LABEL_CODE,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE,
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY,
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE,
      </if>
      <if test="GRID_RELATED_YN != null" >
        GRID_RELATED_YN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="APP_NAME != null" >
        #{APP_NAME},
      </if>
      <if test="CLASS_CODE != null and CLASS_CODE != emptyBigDecimalValue" >
        #{CLASS_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="FIELD_NAME != null" >
        #{FIELD_NAME},
      </if>
      <if test="PROG_REF != null" >
        #{PROG_REF},
      </if>
      <if test="KEY_LABEL_CODE != null" >
        #{KEY_LABEL_CODE},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="CREATED_DATE != null" >
        #{CREATED_DATE},
      </if>
      <if test="MODIFIED_BY != null" >
        #{MODIFIED_BY},
      </if>
      <if test="MODIFIED_DATE != null" >
        #{MODIFIED_DATE},
      </if>
      <if test="GRID_RELATED_YN != null" >
        #{GRID_RELATED_YN},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRSCLASS_KEY_LABEL" >
    update TRSCLASS_KEY_LABEL
    <set >
      <if test="KEY_LABEL_CODE != null" >
        KEY_LABEL_CODE = #{KEY_LABEL_CODE},
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE = #{CREATED_DATE},
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY = #{MODIFIED_BY},
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE = #{MODIFIED_DATE},
      </if>
      <if test="GRID_RELATED_YN != null" >
        GRID_RELATED_YN = #{GRID_RELATED_YN},
      </if>
    </set>
    where APP_NAME = #{APP_NAME}
      and CLASS_CODE = #{CLASS_CODE}
      and COMP_CODE = #{COMP_CODE}
      and FIELD_NAME = #{FIELD_NAME}
      and PROG_REF = #{PROG_REF}
  </sql>
  <update id="updateTRSCLASS_KEY_LABEL" parameterType="com.path.dbmaps.vo.TRSCLASS_KEY_LABELVO" >
    <include refid="sql_updateTRSCLASS_KEY_LABEL" />
  </update>
</mapper>