<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRSCLASS_NOSTRO_ACCOUNTS" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRSCLASS_NOSTRO_ACCOUNTSVO" >
    <id column="ACCOUNT_TYPE" property="ACCOUNT_TYPE" />
    <id column="CLASS_CODE" property="CLASS_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NO" property="LINE_NO" />
    <result column="ACC_BRANCH" property="ACC_BRANCH" />
    <result column="ACC_CURRENCY" property="ACC_CURRENCY" />
    <result column="ACC_GL_CODE" property="ACC_GL_CODE" />
    <result column="ACC_CIF_SUB_NO" property="ACC_CIF_SUB_NO" />
    <result column="ACC_SL_NO" property="ACC_SL_NO" />
  </resultMap>
  <sql id="Base_Column_List" >
    ACCOUNT_TYPE, CLASS_CODE, COMP_CODE, LINE_NO, ACC_BRANCH, ACC_CURRENCY, ACC_GL_CODE, 
    ACC_CIF_SUB_NO, ACC_SL_NO
  </sql>
  <select id="selectTRSCLASS_NOSTRO_ACCOUNTS" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRSCLASS_NOSTRO_ACCOUNTSVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRSCLASS_NOSTRO_ACCOUNTS
    where ACCOUNT_TYPE = #{ACCOUNT_TYPE}
      and CLASS_CODE = #{CLASS_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
  </select>
  <delete id="deleteTRSCLASS_NOSTRO_ACCOUNTS" parameterType="com.path.dbmaps.vo.TRSCLASS_NOSTRO_ACCOUNTSVOKey" >
    delete from TRSCLASS_NOSTRO_ACCOUNTS
    where ACCOUNT_TYPE = #{ACCOUNT_TYPE}
      and CLASS_CODE = #{CLASS_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
  </delete>
  <insert id="insertTRSCLASS_NOSTRO_ACCOUNTS" parameterType="com.path.dbmaps.vo.TRSCLASS_NOSTRO_ACCOUNTSVO" >
    insert into TRSCLASS_NOSTRO_ACCOUNTS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ACCOUNT_TYPE != null" >
        ACCOUNT_TYPE,
      </if>
      <if test="CLASS_CODE != null and CLASS_CODE != emptyBigDecimalValue" >
        CLASS_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="ACC_BRANCH != null and ACC_BRANCH != emptyBigDecimalValue" >
        ACC_BRANCH,
      </if>
      <if test="ACC_CURRENCY != null and ACC_CURRENCY != emptyBigDecimalValue" >
        ACC_CURRENCY,
      </if>
      <if test="ACC_GL_CODE != null and ACC_GL_CODE != emptyBigDecimalValue" >
        ACC_GL_CODE,
      </if>
      <if test="ACC_CIF_SUB_NO != null and ACC_CIF_SUB_NO != emptyBigDecimalValue" >
        ACC_CIF_SUB_NO,
      </if>
      <if test="ACC_SL_NO != null and ACC_SL_NO != emptyBigDecimalValue" >
        ACC_SL_NO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ACCOUNT_TYPE != null" >
        #{ACCOUNT_TYPE},
      </if>
      <if test="CLASS_CODE != null and CLASS_CODE != emptyBigDecimalValue" >
        #{CLASS_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="ACC_BRANCH != null and ACC_BRANCH != emptyBigDecimalValue" >
        #{ACC_BRANCH},
      </if>
      <if test="ACC_CURRENCY != null and ACC_CURRENCY != emptyBigDecimalValue" >
        #{ACC_CURRENCY},
      </if>
      <if test="ACC_GL_CODE != null and ACC_GL_CODE != emptyBigDecimalValue" >
        #{ACC_GL_CODE},
      </if>
      <if test="ACC_CIF_SUB_NO != null and ACC_CIF_SUB_NO != emptyBigDecimalValue" >
        #{ACC_CIF_SUB_NO},
      </if>
      <if test="ACC_SL_NO != null and ACC_SL_NO != emptyBigDecimalValue" >
        #{ACC_SL_NO},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRSCLASS_NOSTRO_ACCOUNTS" >
    update TRSCLASS_NOSTRO_ACCOUNTS
    <set >
      <if test="ACC_BRANCH != null" >
        <choose >
          <when test="ACC_BRANCH == emptyBigDecimalValue" >
            ACC_BRANCH = NULL ,
          </when>
          <otherwise >
            ACC_BRANCH = #{ACC_BRANCH},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CURRENCY != null" >
        <choose >
          <when test="ACC_CURRENCY == emptyBigDecimalValue" >
            ACC_CURRENCY = NULL ,
          </when>
          <otherwise >
            ACC_CURRENCY = #{ACC_CURRENCY},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_GL_CODE != null" >
        <choose >
          <when test="ACC_GL_CODE == emptyBigDecimalValue" >
            ACC_GL_CODE = NULL ,
          </when>
          <otherwise >
            ACC_GL_CODE = #{ACC_GL_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CIF_SUB_NO != null" >
        <choose >
          <when test="ACC_CIF_SUB_NO == emptyBigDecimalValue" >
            ACC_CIF_SUB_NO = NULL ,
          </when>
          <otherwise >
            ACC_CIF_SUB_NO = #{ACC_CIF_SUB_NO},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_SL_NO != null" >
        <choose >
          <when test="ACC_SL_NO == emptyBigDecimalValue" >
            ACC_SL_NO = NULL ,
          </when>
          <otherwise >
            ACC_SL_NO = #{ACC_SL_NO},
          </otherwise>
        </choose>
      </if>
    </set>
    where ACCOUNT_TYPE = #{ACCOUNT_TYPE}
      and CLASS_CODE = #{CLASS_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
  </sql>
  <update id="updateTRSCLASS_NOSTRO_ACCOUNTS" parameterType="com.path.dbmaps.vo.TRSCLASS_NOSTRO_ACCOUNTSVO" >
    <include refid="sql_updateTRSCLASS_NOSTRO_ACCOUNTS" />
  </update>
</mapper>