<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRSCONTRIB" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRSCONTRIBVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="CONTRIBUTOR_CIF" property="CONTRIBUTOR_CIF" />
    <result column="LIMIT" property="LIMIT" />
    <result column="STATUS" property="STATUS" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="DATE_CREATED" property="DATE_CREATED" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="DATE_MODIFIED" property="DATE_MODIFIED" />
    <result column="APPROVED1_BY" property="APPROVED1_BY" />
    <result column="DATE_APPROVED1" property="DATE_APPROVED1" />
    <result column="APPROVED2_BY" property="APPROVED2_BY" />
    <result column="DATE_APPROVED2" property="DATE_APPROVED2" />
    <result column="SUSPENDED_BY" property="SUSPENDED_BY" />
    <result column="DATE_SUSPENDED" property="DATE_SUSPENDED" />
    <result column="REACTIVATED_BY" property="REACTIVATED_BY" />
    <result column="DATE_REACTIVATED" property="DATE_REACTIVATED" />
    <result column="LIMIT_EXCEED_CREATE" property="LIMIT_EXCEED_CREATE" />
    <result column="LIMIT_EXCEED_APPROVE" property="LIMIT_EXCEED_APPROVE" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, CONTRIBUTOR_CIF, LIMIT, STATUS, CREATED_BY, DATE_CREATED, 
    MODIFIED_BY, DATE_MODIFIED, APPROVED1_BY, DATE_APPROVED1, APPROVED2_BY, DATE_APPROVED2, 
    SUSPENDED_BY, DATE_SUSPENDED, REACTIVATED_BY, DATE_REACTIVATED, LIMIT_EXCEED_CREATE, 
    LIMIT_EXCEED_APPROVE
  </sql>
  <select id="selectTRSCONTRIB" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRSCONTRIBVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRSCONTRIB
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and CONTRIBUTOR_CIF = #{CONTRIBUTOR_CIF}
  </select>
  <delete id="deleteTRSCONTRIB" parameterType="com.path.dbmaps.vo.TRSCONTRIBVOKey" >
    delete from TRSCONTRIB
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and CONTRIBUTOR_CIF = #{CONTRIBUTOR_CIF}
  </delete>
  <insert id="insertTRSCONTRIB" parameterType="com.path.dbmaps.vo.TRSCONTRIBVO" >
    insert into TRSCONTRIB
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="CONTRIBUTOR_CIF != null and CONTRIBUTOR_CIF != emptyBigDecimalValue" >
        CONTRIBUTOR_CIF,
      </if>
      <if test="LIMIT != null and LIMIT != emptyBigDecimalValue" >
        LIMIT,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED,
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY,
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED,
      </if>
      <if test="APPROVED1_BY != null" >
        APPROVED1_BY,
      </if>
      <if test="DATE_APPROVED1 != null" >
        DATE_APPROVED1,
      </if>
      <if test="APPROVED2_BY != null" >
        APPROVED2_BY,
      </if>
      <if test="DATE_APPROVED2 != null" >
        DATE_APPROVED2,
      </if>
      <if test="SUSPENDED_BY != null" >
        SUSPENDED_BY,
      </if>
      <if test="DATE_SUSPENDED != null" >
        DATE_SUSPENDED,
      </if>
      <if test="REACTIVATED_BY != null" >
        REACTIVATED_BY,
      </if>
      <if test="DATE_REACTIVATED != null" >
        DATE_REACTIVATED,
      </if>
      <if test="LIMIT_EXCEED_CREATE != null" >
        LIMIT_EXCEED_CREATE,
      </if>
      <if test="LIMIT_EXCEED_APPROVE != null" >
        LIMIT_EXCEED_APPROVE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      #{COMP_CODE},
      <if test="CONTRIBUTOR_CIF != null and CONTRIBUTOR_CIF != emptyBigDecimalValue" >
        #{CONTRIBUTOR_CIF},
      </if>
      <if test="LIMIT != null and LIMIT != emptyBigDecimalValue" >
        #{LIMIT},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="DATE_CREATED != null" >
        #{DATE_CREATED},
      </if>
      <if test="MODIFIED_BY != null" >
        #{MODIFIED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        #{DATE_MODIFIED},
      </if>
      <if test="APPROVED1_BY != null" >
        #{APPROVED1_BY},
      </if>
      <if test="DATE_APPROVED1 != null" >
        #{DATE_APPROVED1},
      </if>
      <if test="APPROVED2_BY != null" >
        #{APPROVED2_BY},
      </if>
      <if test="DATE_APPROVED2 != null" >
        #{DATE_APPROVED2},
      </if>
      <if test="SUSPENDED_BY != null" >
        #{SUSPENDED_BY},
      </if>
      <if test="DATE_SUSPENDED != null" >
        #{DATE_SUSPENDED},
      </if>
      <if test="REACTIVATED_BY != null" >
        #{REACTIVATED_BY},
      </if>
      <if test="DATE_REACTIVATED != null" >
        #{DATE_REACTIVATED},
      </if>
      <if test="LIMIT_EXCEED_CREATE != null" >
        #{LIMIT_EXCEED_CREATE},
      </if>
      <if test="LIMIT_EXCEED_APPROVE != null" >
        #{LIMIT_EXCEED_APPROVE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRSCONTRIB" >
    update TRSCONTRIB
    <set >
      <if test="LIMIT != null" >
        <choose >
          <when test="LIMIT == emptyBigDecimalValue" >
            LIMIT = NULL ,
          </when>
          <otherwise >
            LIMIT = #{LIMIT},
          </otherwise>
        </choose>
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED = #{DATE_CREATED},
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY = #{MODIFIED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED = #{DATE_MODIFIED},
      </if>
      <if test="APPROVED1_BY != null" >
        APPROVED1_BY = #{APPROVED1_BY},
      </if>
      <if test="DATE_APPROVED1 != null" >
        DATE_APPROVED1 = #{DATE_APPROVED1},
      </if>
      <if test="APPROVED2_BY != null" >
        APPROVED2_BY = #{APPROVED2_BY},
      </if>
      <if test="DATE_APPROVED2 != null" >
        DATE_APPROVED2 = #{DATE_APPROVED2},
      </if>
      <if test="SUSPENDED_BY != null" >
        SUSPENDED_BY = #{SUSPENDED_BY},
      </if>
      <if test="DATE_SUSPENDED != null" >
        DATE_SUSPENDED = #{DATE_SUSPENDED},
      </if>
      <if test="REACTIVATED_BY != null" >
        REACTIVATED_BY = #{REACTIVATED_BY},
      </if>
      <if test="DATE_REACTIVATED != null" >
        DATE_REACTIVATED = #{DATE_REACTIVATED},
      </if>
      <if test="LIMIT_EXCEED_CREATE != null" >
        LIMIT_EXCEED_CREATE = #{LIMIT_EXCEED_CREATE},
      </if>
      <if test="LIMIT_EXCEED_APPROVE != null" >
        LIMIT_EXCEED_APPROVE = #{LIMIT_EXCEED_APPROVE},
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and CONTRIBUTOR_CIF = #{CONTRIBUTOR_CIF}
  </sql>
  <update id="updateTRSCONTRIB" parameterType="com.path.dbmaps.vo.TRSCONTRIBVO" >
    <include refid="sql_updateTRSCONTRIB" />
  </update>
</mapper>