<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRSCLASS_FISCAL_IMPLICATION" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRSCLASS_FISCAL_IMPLICATIONVO" >
    <id column="CLASS_CODE" property="CLASS_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <result column="TEMPLATE_TYPE_ASSET_MGMT" property="TEMPLATE_TYPE_ASSET_MGMT" />
    <result column="TEMPLATE_CODE_ASSET_RECOVERY" property="TEMPLATE_CODE_ASSET_RECOVERY" />
    <result column="TMPLT_SHOW_ASSET_RECOVERY_YN" property="TMPLT_SHOW_ASSET_RECOVERY_YN" />
    <result column="TMPLT_MODIFY_ASSET_RECOVERY_YN" property="TMPLT_MODIFY_ASSET_RECOVERY_YN" />
    <result column="TEMPLATE_CODE_ASSET_SURRENDER" property="TEMPLATE_CODE_ASSET_SURRENDER" />
    <result column="TMPLT_SHOW_ASSET_SURRENDER_YN" property="TMPLT_SHOW_ASSET_SURRENDER_YN" />
    <result column="TMPLT_MODIF_ASSET_SURRENDER_YN" property="TMPLT_MODIF_ASSET_SURRENDER_YN" />
    <result column="TEMPLATE_CODE_INSURANCE_CLAIM" property="TEMPLATE_CODE_INSURANCE_CLAIM" />
    <result column="TMPLT_SHOW_INSURANCE_CLAIM_YN" property="TMPLT_SHOW_INSURANCE_CLAIM_YN" />
    <result column="TMPLT_MODIF_INSURANCE_CLAIM_YN" property="TMPLT_MODIF_INSURANCE_CLAIM_YN" />
    <result column="TEMPLATE_CODE_ASSET_REPOSESION" property="TEMPLATE_CODE_ASSET_REPOSESION" />
    <result column="TMPLT_SHOW_ASSET_REPOSESION_YN" property="TMPLT_SHOW_ASSET_REPOSESION_YN" />
    <result column="TMPLT_MODIF_ASSET_REPOSESN_YN" property="TMPLT_MODIF_ASSET_REPOSESN_YN" />
    <result column="TEMPLATE_CODE_ASSET_REINSTMNT" property="TEMPLATE_CODE_ASSET_REINSTMNT" />
    <result column="TMPLT_SHOW_ASSET_REINSTMNT_YN" property="TMPLT_SHOW_ASSET_REINSTMNT_YN" />
    <result column="TMPLT_MODIF_ASSET_REINSTMNT_YN" property="TMPLT_MODIF_ASSET_REINSTMNT_YN" />
    <result column="TEMPLATE_CODE_ASST_RPSN_FNLZN" property="TEMPLATE_CODE_ASST_RPSN_FNLZN" />
    <result column="TMPLT_SHOW_ASST_RPSN_FNLZN_YN" property="TMPLT_SHOW_ASST_RPSN_FNLZN_YN" />
    <result column="TMPLT_MODIF_ASST_RPSN_FNLZN_YN" property="TMPLT_MODIF_ASST_RPSN_FNLZN_YN" />
    <result column="TEMPLATE_CODE_ASST_RTRN_FNLZN" property="TEMPLATE_CODE_ASST_RTRN_FNLZN" />
    <result column="TMPLT_SHOW_ASST_RTRN_FNLZN_YN" property="TMPLT_SHOW_ASST_RTRN_FNLZN_YN" />
    <result column="TMPLT_MODIF_ASST_RTRN_FNLZN_YN" property="TMPLT_MODIF_ASST_RTRN_FNLZN_YN" />
  </resultMap>
  <sql id="Base_Column_List" >
    CLASS_CODE, COMP_CODE, TEMPLATE_TYPE_ASSET_MGMT, TEMPLATE_CODE_ASSET_RECOVERY, TMPLT_SHOW_ASSET_RECOVERY_YN, 
    TMPLT_MODIFY_ASSET_RECOVERY_YN, TEMPLATE_CODE_ASSET_SURRENDER, TMPLT_SHOW_ASSET_SURRENDER_YN, 
    TMPLT_MODIF_ASSET_SURRENDER_YN, TEMPLATE_CODE_INSURANCE_CLAIM, TMPLT_SHOW_INSURANCE_CLAIM_YN, 
    TMPLT_MODIF_INSURANCE_CLAIM_YN, TEMPLATE_CODE_ASSET_REPOSESION, TMPLT_SHOW_ASSET_REPOSESION_YN, 
    TMPLT_MODIF_ASSET_REPOSESN_YN, TEMPLATE_CODE_ASSET_REINSTMNT, TMPLT_SHOW_ASSET_REINSTMNT_YN, 
    TMPLT_MODIF_ASSET_REINSTMNT_YN, TEMPLATE_CODE_ASST_RPSN_FNLZN, TMPLT_SHOW_ASST_RPSN_FNLZN_YN, 
    TMPLT_MODIF_ASST_RPSN_FNLZN_YN, TEMPLATE_CODE_ASST_RTRN_FNLZN, TMPLT_SHOW_ASST_RTRN_FNLZN_YN, 
    TMPLT_MODIF_ASST_RTRN_FNLZN_YN
  </sql>
  <select id="selectTRSCLASS_FISCAL_IMPLICATION" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRSCLASS_FISCAL_IMPLICATIONVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRSCLASS_FISCAL_IMPLICATION
    where CLASS_CODE = #{CLASS_CODE}
      and COMP_CODE = #{COMP_CODE}
  </select>
  <delete id="deleteTRSCLASS_FISCAL_IMPLICATION" parameterType="com.path.dbmaps.vo.TRSCLASS_FISCAL_IMPLICATIONVOKey" >
    delete from TRSCLASS_FISCAL_IMPLICATION
    where CLASS_CODE = #{CLASS_CODE}
      and COMP_CODE = #{COMP_CODE}
  </delete>
  <insert id="insertTRSCLASS_FISCAL_IMPLICATION" parameterType="com.path.dbmaps.vo.TRSCLASS_FISCAL_IMPLICATIONVO" >
    insert into TRSCLASS_FISCAL_IMPLICATION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CLASS_CODE != null and CLASS_CODE != emptyBigDecimalValue" >
        CLASS_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="TEMPLATE_TYPE_ASSET_MGMT != null and TEMPLATE_TYPE_ASSET_MGMT != emptyBigDecimalValue" >
        TEMPLATE_TYPE_ASSET_MGMT,
      </if>
      <if test="TEMPLATE_CODE_ASSET_RECOVERY != null and TEMPLATE_CODE_ASSET_RECOVERY != emptyBigDecimalValue" >
        TEMPLATE_CODE_ASSET_RECOVERY,
      </if>
      <if test="TMPLT_SHOW_ASSET_RECOVERY_YN != null and !&quot;&quot;.equals(TMPLT_SHOW_ASSET_RECOVERY_YN)" >
        TMPLT_SHOW_ASSET_RECOVERY_YN,
      </if>
      <if test="TMPLT_MODIFY_ASSET_RECOVERY_YN != null and !&quot;&quot;.equals(TMPLT_MODIFY_ASSET_RECOVERY_YN)" >
        TMPLT_MODIFY_ASSET_RECOVERY_YN,
      </if>
      <if test="TEMPLATE_CODE_ASSET_SURRENDER != null and TEMPLATE_CODE_ASSET_SURRENDER != emptyBigDecimalValue" >
        TEMPLATE_CODE_ASSET_SURRENDER,
      </if>
      <if test="TMPLT_SHOW_ASSET_SURRENDER_YN != null and !&quot;&quot;.equals(TMPLT_SHOW_ASSET_SURRENDER_YN)" >
        TMPLT_SHOW_ASSET_SURRENDER_YN,
      </if>
      <if test="TMPLT_MODIF_ASSET_SURRENDER_YN != null and !&quot;&quot;.equals(TMPLT_MODIF_ASSET_SURRENDER_YN)" >
        TMPLT_MODIF_ASSET_SURRENDER_YN,
      </if>
      <if test="TEMPLATE_CODE_INSURANCE_CLAIM != null and TEMPLATE_CODE_INSURANCE_CLAIM != emptyBigDecimalValue" >
        TEMPLATE_CODE_INSURANCE_CLAIM,
      </if>
      <if test="TMPLT_SHOW_INSURANCE_CLAIM_YN != null and !&quot;&quot;.equals(TMPLT_SHOW_INSURANCE_CLAIM_YN)" >
        TMPLT_SHOW_INSURANCE_CLAIM_YN,
      </if>
      <if test="TMPLT_MODIF_INSURANCE_CLAIM_YN != null and !&quot;&quot;.equals(TMPLT_MODIF_INSURANCE_CLAIM_YN)" >
        TMPLT_MODIF_INSURANCE_CLAIM_YN,
      </if>
      <if test="TEMPLATE_CODE_ASSET_REPOSESION != null and TEMPLATE_CODE_ASSET_REPOSESION != emptyBigDecimalValue" >
        TEMPLATE_CODE_ASSET_REPOSESION,
      </if>
      <if test="TMPLT_SHOW_ASSET_REPOSESION_YN != null and !&quot;&quot;.equals(TMPLT_SHOW_ASSET_REPOSESION_YN)" >
        TMPLT_SHOW_ASSET_REPOSESION_YN,
      </if>
      <if test="TMPLT_MODIF_ASSET_REPOSESN_YN != null and !&quot;&quot;.equals(TMPLT_MODIF_ASSET_REPOSESN_YN)" >
        TMPLT_MODIF_ASSET_REPOSESN_YN,
      </if>
      <if test="TEMPLATE_CODE_ASSET_REINSTMNT != null and TEMPLATE_CODE_ASSET_REINSTMNT != emptyBigDecimalValue" >
        TEMPLATE_CODE_ASSET_REINSTMNT,
      </if>
      <if test="TMPLT_SHOW_ASSET_REINSTMNT_YN != null and !&quot;&quot;.equals(TMPLT_SHOW_ASSET_REINSTMNT_YN)" >
        TMPLT_SHOW_ASSET_REINSTMNT_YN,
      </if>
      <if test="TMPLT_MODIF_ASSET_REINSTMNT_YN != null and !&quot;&quot;.equals(TMPLT_MODIF_ASSET_REINSTMNT_YN)" >
        TMPLT_MODIF_ASSET_REINSTMNT_YN,
      </if>
      <if test="TEMPLATE_CODE_ASST_RPSN_FNLZN != null and TEMPLATE_CODE_ASST_RPSN_FNLZN != emptyBigDecimalValue" >
        TEMPLATE_CODE_ASST_RPSN_FNLZN,
      </if>
      <if test="TMPLT_SHOW_ASST_RPSN_FNLZN_YN != null and !&quot;&quot;.equals(TMPLT_SHOW_ASST_RPSN_FNLZN_YN)" >
        TMPLT_SHOW_ASST_RPSN_FNLZN_YN,
      </if>
      <if test="TMPLT_MODIF_ASST_RPSN_FNLZN_YN != null and !&quot;&quot;.equals(TMPLT_MODIF_ASST_RPSN_FNLZN_YN)" >
        TMPLT_MODIF_ASST_RPSN_FNLZN_YN,
      </if>
      <if test="TEMPLATE_CODE_ASST_RTRN_FNLZN != null and TEMPLATE_CODE_ASST_RTRN_FNLZN != emptyBigDecimalValue" >
        TEMPLATE_CODE_ASST_RTRN_FNLZN,
      </if>
      <if test="TMPLT_SHOW_ASST_RTRN_FNLZN_YN != null and !&quot;&quot;.equals(TMPLT_SHOW_ASST_RTRN_FNLZN_YN)" >
        TMPLT_SHOW_ASST_RTRN_FNLZN_YN,
      </if>
      <if test="TMPLT_MODIF_ASST_RTRN_FNLZN_YN != null and !&quot;&quot;.equals(TMPLT_MODIF_ASST_RTRN_FNLZN_YN)" >
        TMPLT_MODIF_ASST_RTRN_FNLZN_YN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CLASS_CODE != null and CLASS_CODE != emptyBigDecimalValue" >
        #{CLASS_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="TEMPLATE_TYPE_ASSET_MGMT != null and TEMPLATE_TYPE_ASSET_MGMT != emptyBigDecimalValue" >
        #{TEMPLATE_TYPE_ASSET_MGMT},
      </if>
      <if test="TEMPLATE_CODE_ASSET_RECOVERY != null and TEMPLATE_CODE_ASSET_RECOVERY != emptyBigDecimalValue" >
        #{TEMPLATE_CODE_ASSET_RECOVERY},
      </if>
      <if test="TMPLT_SHOW_ASSET_RECOVERY_YN != null and !&quot;&quot;.equals(TMPLT_SHOW_ASSET_RECOVERY_YN)" >
        #{TMPLT_SHOW_ASSET_RECOVERY_YN},
      </if>
      <if test="TMPLT_MODIFY_ASSET_RECOVERY_YN != null and !&quot;&quot;.equals(TMPLT_MODIFY_ASSET_RECOVERY_YN)" >
        #{TMPLT_MODIFY_ASSET_RECOVERY_YN},
      </if>
      <if test="TEMPLATE_CODE_ASSET_SURRENDER != null and TEMPLATE_CODE_ASSET_SURRENDER != emptyBigDecimalValue" >
        #{TEMPLATE_CODE_ASSET_SURRENDER},
      </if>
      <if test="TMPLT_SHOW_ASSET_SURRENDER_YN != null and !&quot;&quot;.equals(TMPLT_SHOW_ASSET_SURRENDER_YN)" >
        #{TMPLT_SHOW_ASSET_SURRENDER_YN},
      </if>
      <if test="TMPLT_MODIF_ASSET_SURRENDER_YN != null and !&quot;&quot;.equals(TMPLT_MODIF_ASSET_SURRENDER_YN)" >
        #{TMPLT_MODIF_ASSET_SURRENDER_YN},
      </if>
      <if test="TEMPLATE_CODE_INSURANCE_CLAIM != null and TEMPLATE_CODE_INSURANCE_CLAIM != emptyBigDecimalValue" >
        #{TEMPLATE_CODE_INSURANCE_CLAIM},
      </if>
      <if test="TMPLT_SHOW_INSURANCE_CLAIM_YN != null and !&quot;&quot;.equals(TMPLT_SHOW_INSURANCE_CLAIM_YN)" >
        #{TMPLT_SHOW_INSURANCE_CLAIM_YN},
      </if>
      <if test="TMPLT_MODIF_INSURANCE_CLAIM_YN != null and !&quot;&quot;.equals(TMPLT_MODIF_INSURANCE_CLAIM_YN)" >
        #{TMPLT_MODIF_INSURANCE_CLAIM_YN},
      </if>
      <if test="TEMPLATE_CODE_ASSET_REPOSESION != null and TEMPLATE_CODE_ASSET_REPOSESION != emptyBigDecimalValue" >
        #{TEMPLATE_CODE_ASSET_REPOSESION},
      </if>
      <if test="TMPLT_SHOW_ASSET_REPOSESION_YN != null and !&quot;&quot;.equals(TMPLT_SHOW_ASSET_REPOSESION_YN)" >
        #{TMPLT_SHOW_ASSET_REPOSESION_YN},
      </if>
      <if test="TMPLT_MODIF_ASSET_REPOSESN_YN != null and !&quot;&quot;.equals(TMPLT_MODIF_ASSET_REPOSESN_YN)" >
        #{TMPLT_MODIF_ASSET_REPOSESN_YN},
      </if>
      <if test="TEMPLATE_CODE_ASSET_REINSTMNT != null and TEMPLATE_CODE_ASSET_REINSTMNT != emptyBigDecimalValue" >
        #{TEMPLATE_CODE_ASSET_REINSTMNT},
      </if>
      <if test="TMPLT_SHOW_ASSET_REINSTMNT_YN != null and !&quot;&quot;.equals(TMPLT_SHOW_ASSET_REINSTMNT_YN)" >
        #{TMPLT_SHOW_ASSET_REINSTMNT_YN},
      </if>
      <if test="TMPLT_MODIF_ASSET_REINSTMNT_YN != null and !&quot;&quot;.equals(TMPLT_MODIF_ASSET_REINSTMNT_YN)" >
        #{TMPLT_MODIF_ASSET_REINSTMNT_YN},
      </if>
      <if test="TEMPLATE_CODE_ASST_RPSN_FNLZN != null and TEMPLATE_CODE_ASST_RPSN_FNLZN != emptyBigDecimalValue" >
        #{TEMPLATE_CODE_ASST_RPSN_FNLZN},
      </if>
      <if test="TMPLT_SHOW_ASST_RPSN_FNLZN_YN != null and !&quot;&quot;.equals(TMPLT_SHOW_ASST_RPSN_FNLZN_YN)" >
        #{TMPLT_SHOW_ASST_RPSN_FNLZN_YN},
      </if>
      <if test="TMPLT_MODIF_ASST_RPSN_FNLZN_YN != null and !&quot;&quot;.equals(TMPLT_MODIF_ASST_RPSN_FNLZN_YN)" >
        #{TMPLT_MODIF_ASST_RPSN_FNLZN_YN},
      </if>
      <if test="TEMPLATE_CODE_ASST_RTRN_FNLZN != null and TEMPLATE_CODE_ASST_RTRN_FNLZN != emptyBigDecimalValue" >
        #{TEMPLATE_CODE_ASST_RTRN_FNLZN},
      </if>
      <if test="TMPLT_SHOW_ASST_RTRN_FNLZN_YN != null and !&quot;&quot;.equals(TMPLT_SHOW_ASST_RTRN_FNLZN_YN)" >
        #{TMPLT_SHOW_ASST_RTRN_FNLZN_YN},
      </if>
      <if test="TMPLT_MODIF_ASST_RTRN_FNLZN_YN != null and !&quot;&quot;.equals(TMPLT_MODIF_ASST_RTRN_FNLZN_YN)" >
        #{TMPLT_MODIF_ASST_RTRN_FNLZN_YN},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRSCLASS_FISCAL_IMPLICATION" >
    update TRSCLASS_FISCAL_IMPLICATION
    <set >
      <if test="TEMPLATE_TYPE_ASSET_MGMT != null" >
        <choose >
          <when test="TEMPLATE_TYPE_ASSET_MGMT == emptyBigDecimalValue" >
            TEMPLATE_TYPE_ASSET_MGMT = NULL ,
          </when>
          <otherwise >
            TEMPLATE_TYPE_ASSET_MGMT = #{TEMPLATE_TYPE_ASSET_MGMT},
          </otherwise>
        </choose>
      </if>
      <if test="TEMPLATE_CODE_ASSET_RECOVERY != null" >
        <choose >
          <when test="TEMPLATE_CODE_ASSET_RECOVERY == emptyBigDecimalValue" >
            TEMPLATE_CODE_ASSET_RECOVERY = NULL ,
          </when>
          <otherwise >
            TEMPLATE_CODE_ASSET_RECOVERY = #{TEMPLATE_CODE_ASSET_RECOVERY},
          </otherwise>
        </choose>
      </if>
      <if test="TMPLT_SHOW_ASSET_RECOVERY_YN != null" >
        <choose >
          <when test="TMPLT_SHOW_ASSET_RECOVERY_YN.equals(&quot;&quot;)" >
            TMPLT_SHOW_ASSET_RECOVERY_YN = NULL ,
          </when>
          <otherwise >
            TMPLT_SHOW_ASSET_RECOVERY_YN = #{TMPLT_SHOW_ASSET_RECOVERY_YN},
          </otherwise>
        </choose>
      </if>
      <if test="TMPLT_MODIFY_ASSET_RECOVERY_YN != null" >
        <choose >
          <when test="TMPLT_MODIFY_ASSET_RECOVERY_YN.equals(&quot;&quot;)" >
            TMPLT_MODIFY_ASSET_RECOVERY_YN = NULL ,
          </when>
          <otherwise >
            TMPLT_MODIFY_ASSET_RECOVERY_YN = #{TMPLT_MODIFY_ASSET_RECOVERY_YN},
          </otherwise>
        </choose>
      </if>
      <if test="TEMPLATE_CODE_ASSET_SURRENDER != null" >
        <choose >
          <when test="TEMPLATE_CODE_ASSET_SURRENDER == emptyBigDecimalValue" >
            TEMPLATE_CODE_ASSET_SURRENDER = NULL ,
          </when>
          <otherwise >
            TEMPLATE_CODE_ASSET_SURRENDER = #{TEMPLATE_CODE_ASSET_SURRENDER},
          </otherwise>
        </choose>
      </if>
      <if test="TMPLT_SHOW_ASSET_SURRENDER_YN != null" >
        <choose >
          <when test="TMPLT_SHOW_ASSET_SURRENDER_YN.equals(&quot;&quot;)" >
            TMPLT_SHOW_ASSET_SURRENDER_YN = NULL ,
          </when>
          <otherwise >
            TMPLT_SHOW_ASSET_SURRENDER_YN = #{TMPLT_SHOW_ASSET_SURRENDER_YN},
          </otherwise>
        </choose>
      </if>
      <if test="TMPLT_MODIF_ASSET_SURRENDER_YN != null" >
        <choose >
          <when test="TMPLT_MODIF_ASSET_SURRENDER_YN.equals(&quot;&quot;)" >
            TMPLT_MODIF_ASSET_SURRENDER_YN = NULL ,
          </when>
          <otherwise >
            TMPLT_MODIF_ASSET_SURRENDER_YN = #{TMPLT_MODIF_ASSET_SURRENDER_YN},
          </otherwise>
        </choose>
      </if>
      <if test="TEMPLATE_CODE_INSURANCE_CLAIM != null" >
        <choose >
          <when test="TEMPLATE_CODE_INSURANCE_CLAIM == emptyBigDecimalValue" >
            TEMPLATE_CODE_INSURANCE_CLAIM = NULL ,
          </when>
          <otherwise >
            TEMPLATE_CODE_INSURANCE_CLAIM = #{TEMPLATE_CODE_INSURANCE_CLAIM},
          </otherwise>
        </choose>
      </if>
      <if test="TMPLT_SHOW_INSURANCE_CLAIM_YN != null" >
        <choose >
          <when test="TMPLT_SHOW_INSURANCE_CLAIM_YN.equals(&quot;&quot;)" >
            TMPLT_SHOW_INSURANCE_CLAIM_YN = NULL ,
          </when>
          <otherwise >
            TMPLT_SHOW_INSURANCE_CLAIM_YN = #{TMPLT_SHOW_INSURANCE_CLAIM_YN},
          </otherwise>
        </choose>
      </if>
      <if test="TMPLT_MODIF_INSURANCE_CLAIM_YN != null" >
        <choose >
          <when test="TMPLT_MODIF_INSURANCE_CLAIM_YN.equals(&quot;&quot;)" >
            TMPLT_MODIF_INSURANCE_CLAIM_YN = NULL ,
          </when>
          <otherwise >
            TMPLT_MODIF_INSURANCE_CLAIM_YN = #{TMPLT_MODIF_INSURANCE_CLAIM_YN},
          </otherwise>
        </choose>
      </if>
      <if test="TEMPLATE_CODE_ASSET_REPOSESION != null" >
        <choose >
          <when test="TEMPLATE_CODE_ASSET_REPOSESION == emptyBigDecimalValue" >
            TEMPLATE_CODE_ASSET_REPOSESION = NULL ,
          </when>
          <otherwise >
            TEMPLATE_CODE_ASSET_REPOSESION = #{TEMPLATE_CODE_ASSET_REPOSESION},
          </otherwise>
        </choose>
      </if>
      <if test="TMPLT_SHOW_ASSET_REPOSESION_YN != null" >
        <choose >
          <when test="TMPLT_SHOW_ASSET_REPOSESION_YN.equals(&quot;&quot;)" >
            TMPLT_SHOW_ASSET_REPOSESION_YN = NULL ,
          </when>
          <otherwise >
            TMPLT_SHOW_ASSET_REPOSESION_YN = #{TMPLT_SHOW_ASSET_REPOSESION_YN},
          </otherwise>
        </choose>
      </if>
      <if test="TMPLT_MODIF_ASSET_REPOSESN_YN != null" >
        <choose >
          <when test="TMPLT_MODIF_ASSET_REPOSESN_YN.equals(&quot;&quot;)" >
            TMPLT_MODIF_ASSET_REPOSESN_YN = NULL ,
          </when>
          <otherwise >
            TMPLT_MODIF_ASSET_REPOSESN_YN = #{TMPLT_MODIF_ASSET_REPOSESN_YN},
          </otherwise>
        </choose>
      </if>
      <if test="TEMPLATE_CODE_ASSET_REINSTMNT != null" >
        <choose >
          <when test="TEMPLATE_CODE_ASSET_REINSTMNT == emptyBigDecimalValue" >
            TEMPLATE_CODE_ASSET_REINSTMNT = NULL ,
          </when>
          <otherwise >
            TEMPLATE_CODE_ASSET_REINSTMNT = #{TEMPLATE_CODE_ASSET_REINSTMNT},
          </otherwise>
        </choose>
      </if>
      <if test="TMPLT_SHOW_ASSET_REINSTMNT_YN != null" >
        <choose >
          <when test="TMPLT_SHOW_ASSET_REINSTMNT_YN.equals(&quot;&quot;)" >
            TMPLT_SHOW_ASSET_REINSTMNT_YN = NULL ,
          </when>
          <otherwise >
            TMPLT_SHOW_ASSET_REINSTMNT_YN = #{TMPLT_SHOW_ASSET_REINSTMNT_YN},
          </otherwise>
        </choose>
      </if>
      <if test="TMPLT_MODIF_ASSET_REINSTMNT_YN != null" >
        <choose >
          <when test="TMPLT_MODIF_ASSET_REINSTMNT_YN.equals(&quot;&quot;)" >
            TMPLT_MODIF_ASSET_REINSTMNT_YN = NULL ,
          </when>
          <otherwise >
            TMPLT_MODIF_ASSET_REINSTMNT_YN = #{TMPLT_MODIF_ASSET_REINSTMNT_YN},
          </otherwise>
        </choose>
      </if>
      <if test="TEMPLATE_CODE_ASST_RPSN_FNLZN != null" >
        <choose >
          <when test="TEMPLATE_CODE_ASST_RPSN_FNLZN == emptyBigDecimalValue" >
            TEMPLATE_CODE_ASST_RPSN_FNLZN = NULL ,
          </when>
          <otherwise >
            TEMPLATE_CODE_ASST_RPSN_FNLZN = #{TEMPLATE_CODE_ASST_RPSN_FNLZN},
          </otherwise>
        </choose>
      </if>
      <if test="TMPLT_SHOW_ASST_RPSN_FNLZN_YN != null" >
        <choose >
          <when test="TMPLT_SHOW_ASST_RPSN_FNLZN_YN.equals(&quot;&quot;)" >
            TMPLT_SHOW_ASST_RPSN_FNLZN_YN = NULL ,
          </when>
          <otherwise >
            TMPLT_SHOW_ASST_RPSN_FNLZN_YN = #{TMPLT_SHOW_ASST_RPSN_FNLZN_YN},
          </otherwise>
        </choose>
      </if>
      <if test="TMPLT_MODIF_ASST_RPSN_FNLZN_YN != null" >
        <choose >
          <when test="TMPLT_MODIF_ASST_RPSN_FNLZN_YN.equals(&quot;&quot;)" >
            TMPLT_MODIF_ASST_RPSN_FNLZN_YN = NULL ,
          </when>
          <otherwise >
            TMPLT_MODIF_ASST_RPSN_FNLZN_YN = #{TMPLT_MODIF_ASST_RPSN_FNLZN_YN},
          </otherwise>
        </choose>
      </if>
      <if test="TEMPLATE_CODE_ASST_RTRN_FNLZN != null" >
        <choose >
          <when test="TEMPLATE_CODE_ASST_RTRN_FNLZN == emptyBigDecimalValue" >
            TEMPLATE_CODE_ASST_RTRN_FNLZN = NULL ,
          </when>
          <otherwise >
            TEMPLATE_CODE_ASST_RTRN_FNLZN = #{TEMPLATE_CODE_ASST_RTRN_FNLZN},
          </otherwise>
        </choose>
      </if>
      <if test="TMPLT_SHOW_ASST_RTRN_FNLZN_YN != null" >
        <choose >
          <when test="TMPLT_SHOW_ASST_RTRN_FNLZN_YN.equals(&quot;&quot;)" >
            TMPLT_SHOW_ASST_RTRN_FNLZN_YN = NULL ,
          </when>
          <otherwise >
            TMPLT_SHOW_ASST_RTRN_FNLZN_YN = #{TMPLT_SHOW_ASST_RTRN_FNLZN_YN},
          </otherwise>
        </choose>
      </if>
      <if test="TMPLT_MODIF_ASST_RTRN_FNLZN_YN != null" >
        <choose >
          <when test="TMPLT_MODIF_ASST_RTRN_FNLZN_YN.equals(&quot;&quot;)" >
            TMPLT_MODIF_ASST_RTRN_FNLZN_YN = NULL ,
          </when>
          <otherwise >
            TMPLT_MODIF_ASST_RTRN_FNLZN_YN = #{TMPLT_MODIF_ASST_RTRN_FNLZN_YN},
          </otherwise>
        </choose>
      </if>
    </set>
    where CLASS_CODE = #{CLASS_CODE}
      and COMP_CODE = #{COMP_CODE}
  </sql>
  <update id="updateTRSCLASS_FISCAL_IMPLICATION" parameterType="com.path.dbmaps.vo.TRSCLASS_FISCAL_IMPLICATIONVO" >
    <include refid="sql_updateTRSCLASS_FISCAL_IMPLICATION" />
  </update>
</mapper>