<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRSCOLLATERAL_LINKCHARGES" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRSCOLLATERAL_LINKCHARGESVO" >
    <result column="COMP_CODE" property="COMP_CODE" />
    <result column="BRANCH" property="BRANCH" />
    <result column="FMSCOLLATERAL_CODE" property="FMSCOLLATERAL_CODE" />
    <result column="CHARGE_CODE" property="CHARGE_CODE" />
    <result column="LINE_NO" property="LINE_NO" />
    <result column="TRSACCOUNT_ENTRY" property="TRSACCOUNT_ENTRY" />
    <result column="REFUND_PERC" property="REFUND_PERC" />
    <result column="REFUND_AMOUNT" property="REFUND_AMOUNT" />
    <result column="AMOUNT" property="AMOUNT" />
    <result column="PERCENTAGE" property="PERCENTAGE" />
    <result column="CHARGES_REVERSED_AMOUNT" property="CHARGES_REVERSED_AMOUNT" />
  </resultMap>
  <insert id="insertTRSCOLLATERAL_LINKCHARGES" parameterType="com.path.dbmaps.vo.TRSCOLLATERAL_LINKCHARGESVO" >
    insert into TRSCOLLATERAL_LINKCHARGES
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="BRANCH != null and BRANCH != emptyBigDecimalValue" >
        BRANCH,
      </if>
      <if test="FMSCOLLATERAL_CODE != null and FMSCOLLATERAL_CODE != emptyBigDecimalValue" >
        FMSCOLLATERAL_CODE,
      </if>
      <if test="CHARGE_CODE != null and CHARGE_CODE != emptyBigDecimalValue" >
        CHARGE_CODE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="TRSACCOUNT_ENTRY != null" >
        TRSACCOUNT_ENTRY,
      </if>
      <if test="REFUND_PERC != null and REFUND_PERC != emptyBigDecimalValue" >
        REFUND_PERC,
      </if>
      <if test="REFUND_AMOUNT != null and REFUND_AMOUNT != emptyBigDecimalValue" >
        REFUND_AMOUNT,
      </if>
      <if test="AMOUNT != null and AMOUNT != emptyBigDecimalValue" >
        AMOUNT,
      </if>
      <if test="PERCENTAGE != null and PERCENTAGE != emptyBigDecimalValue" >
        PERCENTAGE,
      </if>
      <if test="CHARGES_REVERSED_AMOUNT != null and CHARGES_REVERSED_AMOUNT != emptyBigDecimalValue" >
        CHARGES_REVERSED_AMOUNT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="BRANCH != null and BRANCH != emptyBigDecimalValue" >
        #{BRANCH},
      </if>
      <if test="FMSCOLLATERAL_CODE != null and FMSCOLLATERAL_CODE != emptyBigDecimalValue" >
        #{FMSCOLLATERAL_CODE},
      </if>
      <if test="CHARGE_CODE != null and CHARGE_CODE != emptyBigDecimalValue" >
        #{CHARGE_CODE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="TRSACCOUNT_ENTRY != null" >
        #{TRSACCOUNT_ENTRY},
      </if>
      <if test="REFUND_PERC != null and REFUND_PERC != emptyBigDecimalValue" >
        #{REFUND_PERC},
      </if>
      <if test="REFUND_AMOUNT != null and REFUND_AMOUNT != emptyBigDecimalValue" >
        #{REFUND_AMOUNT},
      </if>
      <if test="AMOUNT != null and AMOUNT != emptyBigDecimalValue" >
        #{AMOUNT},
      </if>
      <if test="PERCENTAGE != null and PERCENTAGE != emptyBigDecimalValue" >
        #{PERCENTAGE},
      </if>
      <if test="CHARGES_REVERSED_AMOUNT != null and CHARGES_REVERSED_AMOUNT != emptyBigDecimalValue" >
        #{CHARGES_REVERSED_AMOUNT},
      </if>
    </trim>
  </insert>
</mapper>