<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRSDEAL_HEDGE_DETAILS" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRSDEAL_HEDGE_DETAILSVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="HEDGE_NO" property="HEDGE_NO" />
    <result column="INV_DEAL_NO" property="INV_DEAL_NO" />
    <result column="EOD_DEAL_NO" property="EOD_DEAL_NO" />
    <result column="EOD_MULTIPLE" property="EOD_MULTIPLE" />
    <result column="FX_RATE" property="FX_RATE" />
    <result column="TF_RATE" property="TF_RATE" />
    <result column="LENT_CY" property="LENT_CY" />
    <result column="BORROWED_CY" property="BORROWED_CY" />
    <result column="INITIAL_AMT" property="INITIAL_AMT" />
    <result column="VALUE_DATE" property="VALUE_DATE" />
    <result column="MATURITY_DATE" property="MATURITY_DATE" />
    <result column="FX_AMOUNT" property="FX_AMOUNT" />
    <result column="EXCH_RATE" property="EXCH_RATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, HEDGE_NO, INV_DEAL_NO, EOD_DEAL_NO, EOD_MULTIPLE, FX_RATE, 
    TF_RATE, LENT_CY, BORROWED_CY, INITIAL_AMT, VALUE_DATE, MATURITY_DATE, FX_AMOUNT, 
    EXCH_RATE
  </sql>
  <select id="selectTRSDEAL_HEDGE_DETAILS" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRSDEAL_HEDGE_DETAILSVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRSDEAL_HEDGE_DETAILS
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and HEDGE_NO = #{HEDGE_NO}
  </select>
  <delete id="deleteTRSDEAL_HEDGE_DETAILS" parameterType="com.path.dbmaps.vo.TRSDEAL_HEDGE_DETAILSVOKey" >
    delete from TRSDEAL_HEDGE_DETAILS
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and HEDGE_NO = #{HEDGE_NO}
  </delete>
  <insert id="insertTRSDEAL_HEDGE_DETAILS" parameterType="com.path.dbmaps.vo.TRSDEAL_HEDGE_DETAILSVO" >
    insert into TRSDEAL_HEDGE_DETAILS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="HEDGE_NO != null and HEDGE_NO != emptyBigDecimalValue" >
        HEDGE_NO,
      </if>
      <if test="INV_DEAL_NO != null and INV_DEAL_NO != emptyBigDecimalValue" >
        INV_DEAL_NO,
      </if>
      <if test="EOD_DEAL_NO != null and EOD_DEAL_NO != emptyBigDecimalValue" >
        EOD_DEAL_NO,
      </if>
      <if test="EOD_MULTIPLE != null and EOD_MULTIPLE != emptyBigDecimalValue" >
        EOD_MULTIPLE,
      </if>
      <if test="FX_RATE != null and FX_RATE != emptyBigDecimalValue" >
        FX_RATE,
      </if>
      <if test="TF_RATE != null and TF_RATE != emptyBigDecimalValue" >
        TF_RATE,
      </if>
      <if test="LENT_CY != null and LENT_CY != emptyBigDecimalValue" >
        LENT_CY,
      </if>
      <if test="BORROWED_CY != null and BORROWED_CY != emptyBigDecimalValue" >
        BORROWED_CY,
      </if>
      <if test="INITIAL_AMT != null and INITIAL_AMT != emptyBigDecimalValue" >
        INITIAL_AMT,
      </if>
      <if test="VALUE_DATE != null" >
        VALUE_DATE,
      </if>
      <if test="MATURITY_DATE != null" >
        MATURITY_DATE,
      </if>
      <if test="FX_AMOUNT != null and FX_AMOUNT != emptyBigDecimalValue" >
        FX_AMOUNT,
      </if>
      <if test="EXCH_RATE != null and EXCH_RATE != emptyBigDecimalValue" >
        EXCH_RATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="HEDGE_NO != null and HEDGE_NO != emptyBigDecimalValue" >
        #{HEDGE_NO},
      </if>
      <if test="INV_DEAL_NO != null and INV_DEAL_NO != emptyBigDecimalValue" >
        #{INV_DEAL_NO},
      </if>
      <if test="EOD_DEAL_NO != null and EOD_DEAL_NO != emptyBigDecimalValue" >
        #{EOD_DEAL_NO},
      </if>
      <if test="EOD_MULTIPLE != null and EOD_MULTIPLE != emptyBigDecimalValue" >
        #{EOD_MULTIPLE},
      </if>
      <if test="FX_RATE != null and FX_RATE != emptyBigDecimalValue" >
        #{FX_RATE},
      </if>
      <if test="TF_RATE != null and TF_RATE != emptyBigDecimalValue" >
        #{TF_RATE},
      </if>
      <if test="LENT_CY != null and LENT_CY != emptyBigDecimalValue" >
        #{LENT_CY},
      </if>
      <if test="BORROWED_CY != null and BORROWED_CY != emptyBigDecimalValue" >
        #{BORROWED_CY},
      </if>
      <if test="INITIAL_AMT != null and INITIAL_AMT != emptyBigDecimalValue" >
        #{INITIAL_AMT},
      </if>
      <if test="VALUE_DATE != null" >
        #{VALUE_DATE},
      </if>
      <if test="MATURITY_DATE != null" >
        #{MATURITY_DATE},
      </if>
      <if test="FX_AMOUNT != null and FX_AMOUNT != emptyBigDecimalValue" >
        #{FX_AMOUNT},
      </if>
      <if test="EXCH_RATE != null and EXCH_RATE != emptyBigDecimalValue" >
        #{EXCH_RATE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRSDEAL_HEDGE_DETAILS" >
    update TRSDEAL_HEDGE_DETAILS
    <set >
      <if test="INV_DEAL_NO != null" >
        <choose >
          <when test="INV_DEAL_NO == emptyBigDecimalValue" >
            INV_DEAL_NO = NULL ,
          </when>
          <otherwise >
            INV_DEAL_NO = #{INV_DEAL_NO},
          </otherwise>
        </choose>
      </if>
      <if test="EOD_DEAL_NO != null" >
        <choose >
          <when test="EOD_DEAL_NO == emptyBigDecimalValue" >
            EOD_DEAL_NO = NULL ,
          </when>
          <otherwise >
            EOD_DEAL_NO = #{EOD_DEAL_NO},
          </otherwise>
        </choose>
      </if>
      <if test="EOD_MULTIPLE != null" >
        <choose >
          <when test="EOD_MULTIPLE == emptyBigDecimalValue" >
            EOD_MULTIPLE = NULL ,
          </when>
          <otherwise >
            EOD_MULTIPLE = #{EOD_MULTIPLE},
          </otherwise>
        </choose>
      </if>
      <if test="FX_RATE != null" >
        <choose >
          <when test="FX_RATE == emptyBigDecimalValue" >
            FX_RATE = NULL ,
          </when>
          <otherwise >
            FX_RATE = #{FX_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="TF_RATE != null" >
        <choose >
          <when test="TF_RATE == emptyBigDecimalValue" >
            TF_RATE = NULL ,
          </when>
          <otherwise >
            TF_RATE = #{TF_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="LENT_CY != null" >
        <choose >
          <when test="LENT_CY == emptyBigDecimalValue" >
            LENT_CY = NULL ,
          </when>
          <otherwise >
            LENT_CY = #{LENT_CY},
          </otherwise>
        </choose>
      </if>
      <if test="BORROWED_CY != null" >
        <choose >
          <when test="BORROWED_CY == emptyBigDecimalValue" >
            BORROWED_CY = NULL ,
          </when>
          <otherwise >
            BORROWED_CY = #{BORROWED_CY},
          </otherwise>
        </choose>
      </if>
      <if test="INITIAL_AMT != null" >
        <choose >
          <when test="INITIAL_AMT == emptyBigDecimalValue" >
            INITIAL_AMT = NULL ,
          </when>
          <otherwise >
            INITIAL_AMT = #{INITIAL_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="VALUE_DATE != null" >
        VALUE_DATE = #{VALUE_DATE},
      </if>
      <if test="MATURITY_DATE != null" >
        MATURITY_DATE = #{MATURITY_DATE},
      </if>
      <if test="FX_AMOUNT != null" >
        <choose >
          <when test="FX_AMOUNT == emptyBigDecimalValue" >
            FX_AMOUNT = NULL ,
          </when>
          <otherwise >
            FX_AMOUNT = #{FX_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="EXCH_RATE != null" >
        <choose >
          <when test="EXCH_RATE == emptyBigDecimalValue" >
            EXCH_RATE = NULL ,
          </when>
          <otherwise >
            EXCH_RATE = #{EXCH_RATE},
          </otherwise>
        </choose>
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and HEDGE_NO = #{HEDGE_NO}
  </sql>
  <update id="updateTRSDEAL_HEDGE_DETAILS" parameterType="com.path.dbmaps.vo.TRSDEAL_HEDGE_DETAILSVO" >
    <include refid="sql_updateTRSDEAL_HEDGE_DETAILS" />
  </update>
</mapper>