<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRSDEAL_NIDC" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRSDEAL_NIDCVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="TRS_NO" property="TRS_NO" />
    <result column="DEAL_NO" property="DEAL_NO" />
    <result column="FACE_VALUE" property="FACE_VALUE" />
    <result column="NO_OF_CERTIFICATE" property="NO_OF_CERTIFICATE" />
    <result column="ISSUE_AT_TYPE" property="ISSUE_AT_TYPE" />
    <result column="COUPON_PAYMENT_TYPE" property="COUPON_PAYMENT_TYPE" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, TRS_NO, DEAL_NO, FACE_VALUE, NO_OF_CERTIFICATE, ISSUE_AT_TYPE, 
    COUPON_PAYMENT_TYPE
  </sql>
  <select id="selectTRSDEAL_NIDC" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRSDEAL_NIDCVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRSDEAL_NIDC
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and TRS_NO = #{TRS_NO}
  </select>
  <delete id="deleteTRSDEAL_NIDC" parameterType="com.path.dbmaps.vo.TRSDEAL_NIDCVOKey" >
    delete from TRSDEAL_NIDC
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and TRS_NO = #{TRS_NO}
  </delete>
  <insert id="insertTRSDEAL_NIDC" parameterType="com.path.dbmaps.vo.TRSDEAL_NIDCVO" >
    insert into TRSDEAL_NIDC
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="TRS_NO != null" >
        TRS_NO,
      </if>
      <if test="DEAL_NO != null" >
        DEAL_NO,
      </if>
      <if test="FACE_VALUE != null" >
        FACE_VALUE,
      </if>
      <if test="NO_OF_CERTIFICATE != null" >
        NO_OF_CERTIFICATE,
      </if>
      <if test="ISSUE_AT_TYPE != null" >
        ISSUE_AT_TYPE,
      </if>
      <if test="COUPON_PAYMENT_TYPE != null" >
        COUPON_PAYMENT_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null" >
        #{BRANCH_CODE},
      </if>
      #{COMP_CODE},
      <if test="TRS_NO != null" >
        #{TRS_NO},
      </if>
      <if test="DEAL_NO != null" >
        #{DEAL_NO},
      </if>
      <if test="FACE_VALUE != null" >
        #{FACE_VALUE},
      </if>
      <if test="NO_OF_CERTIFICATE != null" >
        #{NO_OF_CERTIFICATE},
      </if>
      <if test="ISSUE_AT_TYPE != null" >
        #{ISSUE_AT_TYPE},
      </if>
      <if test="COUPON_PAYMENT_TYPE != null" >
        #{COUPON_PAYMENT_TYPE},
      </if>
    </trim>
  </insert>
  <update id="updateTRSDEAL_NIDC" parameterType="com.path.dbmaps.vo.TRSDEAL_NIDCVO" >
    update TRSDEAL_NIDC
    <set >
      <if test="DEAL_NO != null" >
        DEAL_NO = #{DEAL_NO},
      </if>
      <if test="FACE_VALUE != null" >
        FACE_VALUE = #{FACE_VALUE},
      </if>
      <if test="NO_OF_CERTIFICATE != null" >
        NO_OF_CERTIFICATE = #{NO_OF_CERTIFICATE},
      </if>
      <if test="ISSUE_AT_TYPE != null" >
        ISSUE_AT_TYPE = #{ISSUE_AT_TYPE},
      </if>
      <if test="COUPON_PAYMENT_TYPE != null" >
        COUPON_PAYMENT_TYPE = #{COUPON_PAYMENT_TYPE},
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and TRS_NO = #{TRS_NO}
  </update>
</mapper>