<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRSDEAL_LIP_DETAILS_HISTORY" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRSDEAL_LIP_DETAILS_HISTORYVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="DEAL_NO" property="DEAL_NO" />
    <id column="LINE_NO" property="LINE_NO" />
    <result column="LIP_YN" property="LIP_YN" />
    <result column="AMENDED_PERIOD_NBR" property="AMENDED_PERIOD_NBR" />
    <result column="AMENDED_PERIOD_TYPE" property="AMENDED_PERIOD_TYPE" />
    <result column="START_DATE_BASED_ON" property="START_DATE_BASED_ON" />
    <result column="ZEC_YN" property="ZEC_YN" />
    <result column="AMENDMEND_REASON" property="AMENDMEND_REASON" />
    <result column="DATE_CREATED" property="DATE_CREATED" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="SERVER_CREATED_DATE" property="SERVER_CREATED_DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, DEAL_NO, LINE_NO, LIP_YN, AMENDED_PERIOD_NBR, AMENDED_PERIOD_TYPE, 
    START_DATE_BASED_ON, ZEC_YN, AMENDMEND_REASON, DATE_CREATED, CREATED_BY, SERVER_CREATED_DATE
  </sql>
  <select id="selectTRSDEAL_LIP_DETAILS_HISTORY" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRSDEAL_LIP_DETAILS_HISTORYVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRSDEAL_LIP_DETAILS_HISTORY
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and DEAL_NO = #{DEAL_NO}
      and LINE_NO = #{LINE_NO}
  </select>
  <delete id="deleteTRSDEAL_LIP_DETAILS_HISTORY" parameterType="com.path.dbmaps.vo.TRSDEAL_LIP_DETAILS_HISTORYVOKey" >
    delete from TRSDEAL_LIP_DETAILS_HISTORY
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and DEAL_NO = #{DEAL_NO}
      and LINE_NO = #{LINE_NO}
  </delete>
  <insert id="insertTRSDEAL_LIP_DETAILS_HISTORY" parameterType="com.path.dbmaps.vo.TRSDEAL_LIP_DETAILS_HISTORYVO" >
    insert into TRSDEAL_LIP_DETAILS_HISTORY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="DEAL_NO != null and DEAL_NO != emptyBigDecimalValue" >
        DEAL_NO,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="LIP_YN != null" >
        LIP_YN,
      </if>
      <if test="AMENDED_PERIOD_NBR != null and AMENDED_PERIOD_NBR != emptyBigDecimalValue" >
        AMENDED_PERIOD_NBR,
      </if>
      <if test="AMENDED_PERIOD_TYPE != null" >
        AMENDED_PERIOD_TYPE,
      </if>
      <if test="START_DATE_BASED_ON != null" >
        START_DATE_BASED_ON,
      </if>
      <if test="ZEC_YN != null" >
        ZEC_YN,
      </if>
      <if test="AMENDMEND_REASON != null" >
        AMENDMEND_REASON,
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="SERVER_CREATED_DATE != null" >
        SERVER_CREATED_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="DEAL_NO != null and DEAL_NO != emptyBigDecimalValue" >
        #{DEAL_NO},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="LIP_YN != null" >
        #{LIP_YN},
      </if>
      <if test="AMENDED_PERIOD_NBR != null and AMENDED_PERIOD_NBR != emptyBigDecimalValue" >
        #{AMENDED_PERIOD_NBR},
      </if>
      <if test="AMENDED_PERIOD_TYPE != null" >
        #{AMENDED_PERIOD_TYPE},
      </if>
      <if test="START_DATE_BASED_ON != null" >
        #{START_DATE_BASED_ON},
      </if>
      <if test="ZEC_YN != null" >
        #{ZEC_YN},
      </if>
      <if test="AMENDMEND_REASON != null" >
        #{AMENDMEND_REASON},
      </if>
      <if test="DATE_CREATED != null" >
        #{DATE_CREATED},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="SERVER_CREATED_DATE != null" >
        #{SERVER_CREATED_DATE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRSDEAL_LIP_DETAILS_HISTORY" >
    update TRSDEAL_LIP_DETAILS_HISTORY
    <set >
      <if test="LIP_YN != null" >
        LIP_YN = #{LIP_YN},
      </if>
      <if test="AMENDED_PERIOD_NBR != null" >
        <choose >
          <when test="AMENDED_PERIOD_NBR == emptyBigDecimalValue" >
            AMENDED_PERIOD_NBR = NULL ,
          </when>
          <otherwise >
            AMENDED_PERIOD_NBR = #{AMENDED_PERIOD_NBR},
          </otherwise>
        </choose>
      </if>
      <if test="AMENDED_PERIOD_TYPE != null" >
        AMENDED_PERIOD_TYPE = #{AMENDED_PERIOD_TYPE},
      </if>
      <if test="START_DATE_BASED_ON != null" >
        START_DATE_BASED_ON = #{START_DATE_BASED_ON},
      </if>
      <if test="ZEC_YN != null" >
        ZEC_YN = #{ZEC_YN},
      </if>
      <if test="AMENDMEND_REASON != null" >
        AMENDMEND_REASON = #{AMENDMEND_REASON},
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED = #{DATE_CREATED},
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="SERVER_CREATED_DATE != null" >
        SERVER_CREATED_DATE = #{SERVER_CREATED_DATE},
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and DEAL_NO = #{DEAL_NO}
      and LINE_NO = #{LINE_NO}
  </sql>
  <update id="updateTRSDEAL_LIP_DETAILS_HISTORY" parameterType="com.path.dbmaps.vo.TRSDEAL_LIP_DETAILS_HISTORYVO" >
    <include refid="sql_updateTRSDEAL_LIP_DETAILS_HISTORY" />
  </update>
</mapper>