<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRSDET_CALCULATOR" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRSDET_CALCULATORVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NO" property="LINE_NO" />
    <id column="REF_NBR" property="REF_NBR" />
    <result column="PARTY_TYPE" property="PARTY_TYPE" />
    <result column="PARTY_NO" property="PARTY_NO" />
    <result column="AMOUNT" property="AMOUNT" />
    <result column="PARTY_BRANCH" property="PARTY_BRANCH" />
    <result column="PARTY_CY" property="PARTY_CY" />
    <result column="PARTY_GL" property="PARTY_GL" />
    <result column="PARTY_CIF" property="PARTY_CIF" />
    <result column="PARTY_SL" property="PARTY_SL" />
    <result column="PARTY_ACC_REF" property="PARTY_ACC_REF" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, LINE_NO, REF_NBR, PARTY_TYPE, PARTY_NO, AMOUNT, PARTY_BRANCH, 
    PARTY_CY, PARTY_GL, PARTY_CIF, PARTY_SL, PARTY_ACC_REF
  </sql>
  <select id="selectTRSDET_CALCULATOR" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRSDET_CALCULATORVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRSDET_CALCULATOR
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and REF_NBR = #{REF_NBR}
  </select>
  <delete id="deleteTRSDET_CALCULATOR" parameterType="com.path.dbmaps.vo.TRSDET_CALCULATORVOKey" >
    delete from TRSDET_CALCULATOR
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and REF_NBR = #{REF_NBR}
  </delete>
  <insert id="insertTRSDET_CALCULATOR" parameterType="com.path.dbmaps.vo.TRSDET_CALCULATORVO" >
    insert into TRSDET_CALCULATOR
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="REF_NBR != null and REF_NBR != emptyBigDecimalValue" >
        REF_NBR,
      </if>
      <if test="PARTY_TYPE != null" >
        PARTY_TYPE,
      </if>
      <if test="PARTY_NO != null and PARTY_NO != emptyBigDecimalValue" >
        PARTY_NO,
      </if>
      <if test="AMOUNT != null and AMOUNT != emptyBigDecimalValue" >
        AMOUNT,
      </if>
      <if test="PARTY_BRANCH != null and PARTY_BRANCH != emptyBigDecimalValue" >
        PARTY_BRANCH,
      </if>
      <if test="PARTY_CY != null and PARTY_CY != emptyBigDecimalValue" >
        PARTY_CY,
      </if>
      <if test="PARTY_GL != null and PARTY_GL != emptyBigDecimalValue" >
        PARTY_GL,
      </if>
      <if test="PARTY_CIF != null and PARTY_CIF != emptyBigDecimalValue" >
        PARTY_CIF,
      </if>
      <if test="PARTY_SL != null and PARTY_SL != emptyBigDecimalValue" >
        PARTY_SL,
      </if>
      <if test="PARTY_ACC_REF != null" >
        PARTY_ACC_REF,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="REF_NBR != null and REF_NBR != emptyBigDecimalValue" >
        #{REF_NBR},
      </if>
      <if test="PARTY_TYPE != null" >
        #{PARTY_TYPE},
      </if>
      <if test="PARTY_NO != null and PARTY_NO != emptyBigDecimalValue" >
        #{PARTY_NO},
      </if>
      <if test="AMOUNT != null and AMOUNT != emptyBigDecimalValue" >
        #{AMOUNT},
      </if>
      <if test="PARTY_BRANCH != null and PARTY_BRANCH != emptyBigDecimalValue" >
        #{PARTY_BRANCH},
      </if>
      <if test="PARTY_CY != null and PARTY_CY != emptyBigDecimalValue" >
        #{PARTY_CY},
      </if>
      <if test="PARTY_GL != null and PARTY_GL != emptyBigDecimalValue" >
        #{PARTY_GL},
      </if>
      <if test="PARTY_CIF != null and PARTY_CIF != emptyBigDecimalValue" >
        #{PARTY_CIF},
      </if>
      <if test="PARTY_SL != null and PARTY_SL != emptyBigDecimalValue" >
        #{PARTY_SL},
      </if>
      <if test="PARTY_ACC_REF != null" >
        #{PARTY_ACC_REF},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRSDET_CALCULATOR" >
    update TRSDET_CALCULATOR
    <set >
      <if test="PARTY_TYPE != null" >
        PARTY_TYPE = #{PARTY_TYPE},
      </if>
      <if test="PARTY_NO != null" >
        <choose >
          <when test="PARTY_NO == emptyBigDecimalValue" >
            PARTY_NO = NULL ,
          </when>
          <otherwise >
            PARTY_NO = #{PARTY_NO},
          </otherwise>
        </choose>
      </if>
      <if test="AMOUNT != null" >
        <choose >
          <when test="AMOUNT == emptyBigDecimalValue" >
            AMOUNT = NULL ,
          </when>
          <otherwise >
            AMOUNT = #{AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="PARTY_BRANCH != null" >
        <choose >
          <when test="PARTY_BRANCH == emptyBigDecimalValue" >
            PARTY_BRANCH = NULL ,
          </when>
          <otherwise >
            PARTY_BRANCH = #{PARTY_BRANCH},
          </otherwise>
        </choose>
      </if>
      <if test="PARTY_CY != null" >
        <choose >
          <when test="PARTY_CY == emptyBigDecimalValue" >
            PARTY_CY = NULL ,
          </when>
          <otherwise >
            PARTY_CY = #{PARTY_CY},
          </otherwise>
        </choose>
      </if>
      <if test="PARTY_GL != null" >
        <choose >
          <when test="PARTY_GL == emptyBigDecimalValue" >
            PARTY_GL = NULL ,
          </when>
          <otherwise >
            PARTY_GL = #{PARTY_GL},
          </otherwise>
        </choose>
      </if>
      <if test="PARTY_CIF != null" >
        <choose >
          <when test="PARTY_CIF == emptyBigDecimalValue" >
            PARTY_CIF = NULL ,
          </when>
          <otherwise >
            PARTY_CIF = #{PARTY_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="PARTY_SL != null" >
        <choose >
          <when test="PARTY_SL == emptyBigDecimalValue" >
            PARTY_SL = NULL ,
          </when>
          <otherwise >
            PARTY_SL = #{PARTY_SL},
          </otherwise>
        </choose>
      </if>
      <if test="PARTY_ACC_REF != null" >
        PARTY_ACC_REF = #{PARTY_ACC_REF},
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and REF_NBR = #{REF_NBR}
  </sql>
  <update id="updateTRSDET_CALCULATOR" parameterType="com.path.dbmaps.vo.TRSDET_CALCULATORVO" >
    <include refid="sql_updateTRSDET_CALCULATOR" />
  </update>
</mapper>