<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRSDEAL_ADDITIONAL_FIELDS_PFX" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRSDEAL_ADDITIONAL_FIELDS_PFXVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="PROMISSORY_FX_TYPE" property="PROMISSORY_FX_TYPE" />
    <id column="SERIAL_NO" property="SERIAL_NO" />
    <result column="ADD_DATE1" property="ADD_DATE1" />
    <result column="ADD_DATE2" property="ADD_DATE2" />
    <result column="ADD_DATE3" property="ADD_DATE3" />
    <result column="ADD_DATE4" property="ADD_DATE4" />
    <result column="ADD_DATE5" property="ADD_DATE5" />
    <result column="ADD_NUMBER1" property="ADD_NUMBER1" />
    <result column="ADD_NUMBER2" property="ADD_NUMBER2" />
    <result column="ADD_NUMBER3" property="ADD_NUMBER3" />
    <result column="ADD_NUMBER4" property="ADD_NUMBER4" />
    <result column="ADD_NUMBER5" property="ADD_NUMBER5" />
    <result column="ADD_STRING1" property="ADD_STRING1" />
    <result column="ADD_STRING2" property="ADD_STRING2" />
    <result column="ADD_STRING3" property="ADD_STRING3" />
    <result column="ADD_STRING4" property="ADD_STRING4" />
    <result column="ADD_STRING5" property="ADD_STRING5" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, PROMISSORY_FX_TYPE, SERIAL_NO, ADD_DATE1, ADD_DATE2, ADD_DATE3, 
    ADD_DATE4, ADD_DATE5, ADD_NUMBER1, ADD_NUMBER2, ADD_NUMBER3, ADD_NUMBER4, ADD_NUMBER5, 
    ADD_STRING1, ADD_STRING2, ADD_STRING3, ADD_STRING4, ADD_STRING5
  </sql>
  <select id="selectTRSDEAL_ADDITIONAL_FIELDS_PFX" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRSDEAL_ADDITIONAL_FIELDS_PFXVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRSDEAL_ADDITIONAL_FIELDS_PFX
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and PROMISSORY_FX_TYPE = #{PROMISSORY_FX_TYPE}
      and SERIAL_NO = #{SERIAL_NO}
  </select>
  <delete id="deleteTRSDEAL_ADDITIONAL_FIELDS_PFX" parameterType="com.path.dbmaps.vo.TRSDEAL_ADDITIONAL_FIELDS_PFXVOKey" >
    delete from TRSDEAL_ADDITIONAL_FIELDS_PFX
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and PROMISSORY_FX_TYPE = #{PROMISSORY_FX_TYPE}
      and SERIAL_NO = #{SERIAL_NO}
  </delete>
  <insert id="insertTRSDEAL_ADDITIONAL_FIELDS_PFX" parameterType="com.path.dbmaps.vo.TRSDEAL_ADDITIONAL_FIELDS_PFXVO" >
    insert into TRSDEAL_ADDITIONAL_FIELDS_PFX
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="PROMISSORY_FX_TYPE != null" >
        PROMISSORY_FX_TYPE,
      </if>
      <if test="SERIAL_NO != null and SERIAL_NO != emptyBigDecimalValue" >
        SERIAL_NO,
      </if>
      <if test="ADD_DATE1 != null" >
        ADD_DATE1,
      </if>
      <if test="ADD_DATE2 != null" >
        ADD_DATE2,
      </if>
      <if test="ADD_DATE3 != null" >
        ADD_DATE3,
      </if>
      <if test="ADD_DATE4 != null" >
        ADD_DATE4,
      </if>
      <if test="ADD_DATE5 != null" >
        ADD_DATE5,
      </if>
      <if test="ADD_NUMBER1 != null and ADD_NUMBER1 != emptyBigDecimalValue" >
        ADD_NUMBER1,
      </if>
      <if test="ADD_NUMBER2 != null and ADD_NUMBER2 != emptyBigDecimalValue" >
        ADD_NUMBER2,
      </if>
      <if test="ADD_NUMBER3 != null and ADD_NUMBER3 != emptyBigDecimalValue" >
        ADD_NUMBER3,
      </if>
      <if test="ADD_NUMBER4 != null and ADD_NUMBER4 != emptyBigDecimalValue" >
        ADD_NUMBER4,
      </if>
      <if test="ADD_NUMBER5 != null and ADD_NUMBER5 != emptyBigDecimalValue" >
        ADD_NUMBER5,
      </if>
      <if test="ADD_STRING1 != null" >
        ADD_STRING1,
      </if>
      <if test="ADD_STRING2 != null" >
        ADD_STRING2,
      </if>
      <if test="ADD_STRING3 != null" >
        ADD_STRING3,
      </if>
      <if test="ADD_STRING4 != null" >
        ADD_STRING4,
      </if>
      <if test="ADD_STRING5 != null" >
        ADD_STRING5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="PROMISSORY_FX_TYPE != null" >
        #{PROMISSORY_FX_TYPE},
      </if>
      <if test="SERIAL_NO != null and SERIAL_NO != emptyBigDecimalValue" >
        #{SERIAL_NO},
      </if>
      <if test="ADD_DATE1 != null" >
        #{ADD_DATE1},
      </if>
      <if test="ADD_DATE2 != null" >
        #{ADD_DATE2},
      </if>
      <if test="ADD_DATE3 != null" >
        #{ADD_DATE3},
      </if>
      <if test="ADD_DATE4 != null" >
        #{ADD_DATE4},
      </if>
      <if test="ADD_DATE5 != null" >
        #{ADD_DATE5},
      </if>
      <if test="ADD_NUMBER1 != null and ADD_NUMBER1 != emptyBigDecimalValue" >
        #{ADD_NUMBER1},
      </if>
      <if test="ADD_NUMBER2 != null and ADD_NUMBER2 != emptyBigDecimalValue" >
        #{ADD_NUMBER2},
      </if>
      <if test="ADD_NUMBER3 != null and ADD_NUMBER3 != emptyBigDecimalValue" >
        #{ADD_NUMBER3},
      </if>
      <if test="ADD_NUMBER4 != null and ADD_NUMBER4 != emptyBigDecimalValue" >
        #{ADD_NUMBER4},
      </if>
      <if test="ADD_NUMBER5 != null and ADD_NUMBER5 != emptyBigDecimalValue" >
        #{ADD_NUMBER5},
      </if>
      <if test="ADD_STRING1 != null" >
        #{ADD_STRING1},
      </if>
      <if test="ADD_STRING2 != null" >
        #{ADD_STRING2},
      </if>
      <if test="ADD_STRING3 != null" >
        #{ADD_STRING3},
      </if>
      <if test="ADD_STRING4 != null" >
        #{ADD_STRING4},
      </if>
      <if test="ADD_STRING5 != null" >
        #{ADD_STRING5},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRSDEAL_ADDITIONAL_FIELDS_PFX" >
    update TRSDEAL_ADDITIONAL_FIELDS_PFX
    <set >
      <if test="ADD_DATE1 != null" >
        ADD_DATE1 = #{ADD_DATE1},
      </if>
      <if test="ADD_DATE2 != null" >
        ADD_DATE2 = #{ADD_DATE2},
      </if>
      <if test="ADD_DATE3 != null" >
        ADD_DATE3 = #{ADD_DATE3},
      </if>
      <if test="ADD_DATE4 != null" >
        ADD_DATE4 = #{ADD_DATE4},
      </if>
      <if test="ADD_DATE5 != null" >
        ADD_DATE5 = #{ADD_DATE5},
      </if>
      <if test="ADD_NUMBER1 != null" >
        <choose >
          <when test="ADD_NUMBER1 == emptyBigDecimalValue" >
            ADD_NUMBER1 = NULL ,
          </when>
          <otherwise >
            ADD_NUMBER1 = #{ADD_NUMBER1},
          </otherwise>
        </choose>
      </if>
      <if test="ADD_NUMBER2 != null" >
        <choose >
          <when test="ADD_NUMBER2 == emptyBigDecimalValue" >
            ADD_NUMBER2 = NULL ,
          </when>
          <otherwise >
            ADD_NUMBER2 = #{ADD_NUMBER2},
          </otherwise>
        </choose>
      </if>
      <if test="ADD_NUMBER3 != null" >
        <choose >
          <when test="ADD_NUMBER3 == emptyBigDecimalValue" >
            ADD_NUMBER3 = NULL ,
          </when>
          <otherwise >
            ADD_NUMBER3 = #{ADD_NUMBER3},
          </otherwise>
        </choose>
      </if>
      <if test="ADD_NUMBER4 != null" >
        <choose >
          <when test="ADD_NUMBER4 == emptyBigDecimalValue" >
            ADD_NUMBER4 = NULL ,
          </when>
          <otherwise >
            ADD_NUMBER4 = #{ADD_NUMBER4},
          </otherwise>
        </choose>
      </if>
      <if test="ADD_NUMBER5 != null" >
        <choose >
          <when test="ADD_NUMBER5 == emptyBigDecimalValue" >
            ADD_NUMBER5 = NULL ,
          </when>
          <otherwise >
            ADD_NUMBER5 = #{ADD_NUMBER5},
          </otherwise>
        </choose>
      </if>
      <if test="ADD_STRING1 != null" >
        ADD_STRING1 = #{ADD_STRING1},
      </if>
      <if test="ADD_STRING2 != null" >
        ADD_STRING2 = #{ADD_STRING2},
      </if>
      <if test="ADD_STRING3 != null" >
        ADD_STRING3 = #{ADD_STRING3},
      </if>
      <if test="ADD_STRING4 != null" >
        ADD_STRING4 = #{ADD_STRING4},
      </if>
      <if test="ADD_STRING5 != null" >
        ADD_STRING5 = #{ADD_STRING5},
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and PROMISSORY_FX_TYPE = #{PROMISSORY_FX_TYPE}
      and SERIAL_NO = #{SERIAL_NO}
  </sql>
  <update id="updateTRSDEAL_ADDITIONAL_FIELDS_PFX" parameterType="com.path.dbmaps.vo.TRSDEAL_ADDITIONAL_FIELDS_PFXVO" >
    <include refid="sql_updateTRSDEAL_ADDITIONAL_FIELDS_PFX" />
  </update>
</mapper>