<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRSDEAL_ADDITIONAL_INFO" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRSDEAL_ADDITIONAL_INFOVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="SERIAL_NO" property="SERIAL_NO" />
    <result column="PROPERTY_INSURED_AMT" property="PROPERTY_INSURED_AMT" />
    <result column="PROPERTY_PREMIUM_AMT" property="PROPERTY_PREMIUM_AMT" />
    <result column="PROPERTY_RATE" property="PROPERTY_RATE" />
    <result column="PROPERTY_MONTHLY_DEDUCTION" property="PROPERTY_MONTHLY_DEDUCTION" />
    <result column="PROPERTY_INSURANCE_DATE" property="PROPERTY_INSURANCE_DATE" />
    <result column="PROPERTY_RENEWAL_MONTH" property="PROPERTY_RENEWAL_MONTH" />
    <result column="PROPERTY_ADDRESS" property="PROPERTY_ADDRESS" />
    <result column="PROPERTY_REMAINING_TENURE" property="PROPERTY_REMAINING_TENURE" />
    <result column="LIFE_INSURED_AMT" property="LIFE_INSURED_AMT" />
    <result column="LIFE_PREMIUM_AMT" property="LIFE_PREMIUM_AMT" />
    <result column="LIFE_RATE" property="LIFE_RATE" />
    <result column="LIFE_MONTHLY_DEDUCTION" property="LIFE_MONTHLY_DEDUCTION" />
    <result column="LIFE_TENURE" property="LIFE_TENURE" />
    <result column="LIFE_MODE_PREMIUM" property="LIFE_MODE_PREMIUM" />
    <result column="LIFE_ISSUANCE_DATE" property="LIFE_ISSUANCE_DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, SERIAL_NO, PROPERTY_INSURED_AMT, PROPERTY_PREMIUM_AMT, PROPERTY_RATE, 
    PROPERTY_MONTHLY_DEDUCTION, PROPERTY_INSURANCE_DATE, PROPERTY_RENEWAL_MONTH, PROPERTY_ADDRESS, 
    PROPERTY_REMAINING_TENURE, LIFE_INSURED_AMT, LIFE_PREMIUM_AMT, LIFE_RATE, LIFE_MONTHLY_DEDUCTION, 
    LIFE_TENURE, LIFE_MODE_PREMIUM, LIFE_ISSUANCE_DATE
  </sql>
  <select id="selectTRSDEAL_ADDITIONAL_INFO" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRSDEAL_ADDITIONAL_INFOVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRSDEAL_ADDITIONAL_INFO
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and SERIAL_NO = #{SERIAL_NO}
  </select>
  <delete id="deleteTRSDEAL_ADDITIONAL_INFO" parameterType="com.path.dbmaps.vo.TRSDEAL_ADDITIONAL_INFOVOKey" >
    delete from TRSDEAL_ADDITIONAL_INFO
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and SERIAL_NO = #{SERIAL_NO}
  </delete>
  <insert id="insertTRSDEAL_ADDITIONAL_INFO" parameterType="com.path.dbmaps.vo.TRSDEAL_ADDITIONAL_INFOVO" >
    insert into TRSDEAL_ADDITIONAL_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="SERIAL_NO != null and SERIAL_NO != emptyBigDecimalValue" >
        SERIAL_NO,
      </if>
      <if test="PROPERTY_INSURED_AMT != null and PROPERTY_INSURED_AMT != emptyBigDecimalValue" >
        PROPERTY_INSURED_AMT,
      </if>
      <if test="PROPERTY_PREMIUM_AMT != null and PROPERTY_PREMIUM_AMT != emptyBigDecimalValue" >
        PROPERTY_PREMIUM_AMT,
      </if>
      <if test="PROPERTY_RATE != null and PROPERTY_RATE != emptyBigDecimalValue" >
        PROPERTY_RATE,
      </if>
      <if test="PROPERTY_MONTHLY_DEDUCTION != null and PROPERTY_MONTHLY_DEDUCTION != emptyBigDecimalValue" >
        PROPERTY_MONTHLY_DEDUCTION,
      </if>
      <if test="PROPERTY_INSURANCE_DATE != null" >
        PROPERTY_INSURANCE_DATE,
      </if>
      <if test="PROPERTY_RENEWAL_MONTH != null and PROPERTY_RENEWAL_MONTH != emptyBigDecimalValue" >
        PROPERTY_RENEWAL_MONTH,
      </if>
      <if test="PROPERTY_ADDRESS != null" >
        PROPERTY_ADDRESS,
      </if>
      <if test="PROPERTY_REMAINING_TENURE != null and PROPERTY_REMAINING_TENURE != emptyBigDecimalValue" >
        PROPERTY_REMAINING_TENURE,
      </if>
      <if test="LIFE_INSURED_AMT != null and LIFE_INSURED_AMT != emptyBigDecimalValue" >
        LIFE_INSURED_AMT,
      </if>
      <if test="LIFE_PREMIUM_AMT != null and LIFE_PREMIUM_AMT != emptyBigDecimalValue" >
        LIFE_PREMIUM_AMT,
      </if>
      <if test="LIFE_RATE != null and LIFE_RATE != emptyBigDecimalValue" >
        LIFE_RATE,
      </if>
      <if test="LIFE_MONTHLY_DEDUCTION != null and LIFE_MONTHLY_DEDUCTION != emptyBigDecimalValue" >
        LIFE_MONTHLY_DEDUCTION,
      </if>
      <if test="LIFE_TENURE != null and LIFE_TENURE != emptyBigDecimalValue" >
        LIFE_TENURE,
      </if>
      <if test="LIFE_MODE_PREMIUM != null" >
        LIFE_MODE_PREMIUM,
      </if>
      <if test="LIFE_ISSUANCE_DATE != null" >
        LIFE_ISSUANCE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="SERIAL_NO != null and SERIAL_NO != emptyBigDecimalValue" >
        #{SERIAL_NO},
      </if>
      <if test="PROPERTY_INSURED_AMT != null and PROPERTY_INSURED_AMT != emptyBigDecimalValue" >
        #{PROPERTY_INSURED_AMT},
      </if>
      <if test="PROPERTY_PREMIUM_AMT != null and PROPERTY_PREMIUM_AMT != emptyBigDecimalValue" >
        #{PROPERTY_PREMIUM_AMT},
      </if>
      <if test="PROPERTY_RATE != null and PROPERTY_RATE != emptyBigDecimalValue" >
        #{PROPERTY_RATE},
      </if>
      <if test="PROPERTY_MONTHLY_DEDUCTION != null and PROPERTY_MONTHLY_DEDUCTION != emptyBigDecimalValue" >
        #{PROPERTY_MONTHLY_DEDUCTION},
      </if>
      <if test="PROPERTY_INSURANCE_DATE != null" >
        #{PROPERTY_INSURANCE_DATE},
      </if>
      <if test="PROPERTY_RENEWAL_MONTH != null and PROPERTY_RENEWAL_MONTH != emptyBigDecimalValue" >
        #{PROPERTY_RENEWAL_MONTH},
      </if>
      <if test="PROPERTY_ADDRESS != null" >
        #{PROPERTY_ADDRESS},
      </if>
      <if test="PROPERTY_REMAINING_TENURE != null and PROPERTY_REMAINING_TENURE != emptyBigDecimalValue" >
        #{PROPERTY_REMAINING_TENURE},
      </if>
      <if test="LIFE_INSURED_AMT != null and LIFE_INSURED_AMT != emptyBigDecimalValue" >
        #{LIFE_INSURED_AMT},
      </if>
      <if test="LIFE_PREMIUM_AMT != null and LIFE_PREMIUM_AMT != emptyBigDecimalValue" >
        #{LIFE_PREMIUM_AMT},
      </if>
      <if test="LIFE_RATE != null and LIFE_RATE != emptyBigDecimalValue" >
        #{LIFE_RATE},
      </if>
      <if test="LIFE_MONTHLY_DEDUCTION != null and LIFE_MONTHLY_DEDUCTION != emptyBigDecimalValue" >
        #{LIFE_MONTHLY_DEDUCTION},
      </if>
      <if test="LIFE_TENURE != null and LIFE_TENURE != emptyBigDecimalValue" >
        #{LIFE_TENURE},
      </if>
      <if test="LIFE_MODE_PREMIUM != null" >
        #{LIFE_MODE_PREMIUM},
      </if>
      <if test="LIFE_ISSUANCE_DATE != null" >
        #{LIFE_ISSUANCE_DATE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRSDEAL_ADDITIONAL_INFO" >
    update TRSDEAL_ADDITIONAL_INFO
    <set >
      <if test="PROPERTY_INSURED_AMT != null" >
        <choose >
          <when test="PROPERTY_INSURED_AMT == emptyBigDecimalValue" >
            PROPERTY_INSURED_AMT = NULL ,
          </when>
          <otherwise >
            PROPERTY_INSURED_AMT = #{PROPERTY_INSURED_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="PROPERTY_PREMIUM_AMT != null" >
        <choose >
          <when test="PROPERTY_PREMIUM_AMT == emptyBigDecimalValue" >
            PROPERTY_PREMIUM_AMT = NULL ,
          </when>
          <otherwise >
            PROPERTY_PREMIUM_AMT = #{PROPERTY_PREMIUM_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="PROPERTY_RATE != null" >
        <choose >
          <when test="PROPERTY_RATE == emptyBigDecimalValue" >
            PROPERTY_RATE = NULL ,
          </when>
          <otherwise >
            PROPERTY_RATE = #{PROPERTY_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="PROPERTY_MONTHLY_DEDUCTION != null" >
        <choose >
          <when test="PROPERTY_MONTHLY_DEDUCTION == emptyBigDecimalValue" >
            PROPERTY_MONTHLY_DEDUCTION = NULL ,
          </when>
          <otherwise >
            PROPERTY_MONTHLY_DEDUCTION = #{PROPERTY_MONTHLY_DEDUCTION},
          </otherwise>
        </choose>
      </if>
      <if test="PROPERTY_INSURANCE_DATE != null" >
        PROPERTY_INSURANCE_DATE = #{PROPERTY_INSURANCE_DATE},
      </if>
      <if test="PROPERTY_RENEWAL_MONTH != null" >
        <choose >
          <when test="PROPERTY_RENEWAL_MONTH == emptyBigDecimalValue" >
            PROPERTY_RENEWAL_MONTH = NULL ,
          </when>
          <otherwise >
            PROPERTY_RENEWAL_MONTH = #{PROPERTY_RENEWAL_MONTH},
          </otherwise>
        </choose>
      </if>
      <if test="PROPERTY_ADDRESS != null" >
        PROPERTY_ADDRESS = #{PROPERTY_ADDRESS},
      </if>
      <if test="PROPERTY_REMAINING_TENURE != null" >
        <choose >
          <when test="PROPERTY_REMAINING_TENURE == emptyBigDecimalValue" >
            PROPERTY_REMAINING_TENURE = NULL ,
          </when>
          <otherwise >
            PROPERTY_REMAINING_TENURE = #{PROPERTY_REMAINING_TENURE},
          </otherwise>
        </choose>
      </if>
      <if test="LIFE_INSURED_AMT != null" >
        <choose >
          <when test="LIFE_INSURED_AMT == emptyBigDecimalValue" >
            LIFE_INSURED_AMT = NULL ,
          </when>
          <otherwise >
            LIFE_INSURED_AMT = #{LIFE_INSURED_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="LIFE_PREMIUM_AMT != null" >
        <choose >
          <when test="LIFE_PREMIUM_AMT == emptyBigDecimalValue" >
            LIFE_PREMIUM_AMT = NULL ,
          </when>
          <otherwise >
            LIFE_PREMIUM_AMT = #{LIFE_PREMIUM_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="LIFE_RATE != null" >
        <choose >
          <when test="LIFE_RATE == emptyBigDecimalValue" >
            LIFE_RATE = NULL ,
          </when>
          <otherwise >
            LIFE_RATE = #{LIFE_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="LIFE_MONTHLY_DEDUCTION != null" >
        <choose >
          <when test="LIFE_MONTHLY_DEDUCTION == emptyBigDecimalValue" >
            LIFE_MONTHLY_DEDUCTION = NULL ,
          </when>
          <otherwise >
            LIFE_MONTHLY_DEDUCTION = #{LIFE_MONTHLY_DEDUCTION},
          </otherwise>
        </choose>
      </if>
      <if test="LIFE_TENURE != null" >
        <choose >
          <when test="LIFE_TENURE == emptyBigDecimalValue" >
            LIFE_TENURE = NULL ,
          </when>
          <otherwise >
            LIFE_TENURE = #{LIFE_TENURE},
          </otherwise>
        </choose>
      </if>
      <if test="LIFE_MODE_PREMIUM != null" >
        LIFE_MODE_PREMIUM = #{LIFE_MODE_PREMIUM},
      </if>
      <if test="LIFE_ISSUANCE_DATE != null" >
        LIFE_ISSUANCE_DATE = #{LIFE_ISSUANCE_DATE},
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and SERIAL_NO = #{SERIAL_NO}
  </sql>
  <update id="updateTRSDEAL_ADDITIONAL_INFO" parameterType="com.path.dbmaps.vo.TRSDEAL_ADDITIONAL_INFOVO" >
    <include refid="sql_updateTRSDEAL_ADDITIONAL_INFO" />
  </update>
</mapper>