<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRSDET_ACCRUAL_DTLS_HISTORY" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRSDET_ACCRUAL_DTLS_HISTORYVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NO" property="LINE_NO" />
    <id column="PLAN_NBR" property="PLAN_NBR" />
    <id column="PLAN_SEQ" property="PLAN_SEQ" />
    <id column="SERIAL_NO" property="SERIAL_NO" />
    <result column="INVESTMENTONBS_FC" property="INVESTMENTONBS_FC" />
    <result column="INVESTMENTONBS_CV" property="INVESTMENTONBS_CV" />
    <result column="EXPECTED_YIELD" property="EXPECTED_YIELD" />
    <result column="LIBOR_RATE" property="LIBOR_RATE" />
    <result column="SUSPENSE_REVENUE_AMT" property="SUSPENSE_REVENUE_AMT" />
    <result column="SUSPENSE_REVENUE_AMT_CV" property="SUSPENSE_REVENUE_AMT_CV" />
    <result column="SUSPENSE_MODARIB_REVENUE_AMT" property="SUSPENSE_MODARIB_REVENUE_AMT" />
    <result column="SUSPENSE_MODARIB_REVENUE_CV" property="SUSPENSE_MODARIB_REVENUE_CV" />
    <result column="TOTAL_DEPRECIATION_AMT" property="TOTAL_DEPRECIATION_AMT" />
    <result column="DAILY_DEPRECIATION_AMT" property="DAILY_DEPRECIATION_AMT" />
    <result column="DAILY_ACCRUAL_AMT" property="DAILY_ACCRUAL_AMT" />
    <result column="MGMT_PCNT" property="MGMT_PCNT" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, LINE_NO, PLAN_NBR, PLAN_SEQ, SERIAL_NO, INVESTMENTONBS_FC, 
    INVESTMENTONBS_CV, EXPECTED_YIELD, LIBOR_RATE, SUSPENSE_REVENUE_AMT, SUSPENSE_REVENUE_AMT_CV, 
    SUSPENSE_MODARIB_REVENUE_AMT, SUSPENSE_MODARIB_REVENUE_CV, TOTAL_DEPRECIATION_AMT, 
    DAILY_DEPRECIATION_AMT, DAILY_ACCRUAL_AMT, MGMT_PCNT
  </sql>
  <select id="selectTRSDET_ACCRUAL_DTLS_HISTORY" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRSDET_ACCRUAL_DTLS_HISTORYVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRSDET_ACCRUAL_DTLS_HISTORY
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and PLAN_NBR = #{PLAN_NBR}
      and PLAN_SEQ = #{PLAN_SEQ}
      and SERIAL_NO = #{SERIAL_NO}
  </select>
  <delete id="deleteTRSDET_ACCRUAL_DTLS_HISTORY" parameterType="com.path.dbmaps.vo.TRSDET_ACCRUAL_DTLS_HISTORYVOKey" >
    delete from TRSDET_ACCRUAL_DTLS_HISTORY
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and PLAN_NBR = #{PLAN_NBR}
      and PLAN_SEQ = #{PLAN_SEQ}
      and SERIAL_NO = #{SERIAL_NO}
  </delete>
  <insert id="insertTRSDET_ACCRUAL_DTLS_HISTORY" parameterType="com.path.dbmaps.vo.TRSDET_ACCRUAL_DTLS_HISTORYVO" >
    insert into TRSDET_ACCRUAL_DTLS_HISTORY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="PLAN_NBR != null and PLAN_NBR != emptyBigDecimalValue" >
        PLAN_NBR,
      </if>
      <if test="PLAN_SEQ != null and PLAN_SEQ != emptyBigDecimalValue" >
        PLAN_SEQ,
      </if>
      <if test="SERIAL_NO != null and SERIAL_NO != emptyBigDecimalValue" >
        SERIAL_NO,
      </if>
      <if test="INVESTMENTONBS_FC != null and INVESTMENTONBS_FC != emptyBigDecimalValue" >
        INVESTMENTONBS_FC,
      </if>
      <if test="INVESTMENTONBS_CV != null and INVESTMENTONBS_CV != emptyBigDecimalValue" >
        INVESTMENTONBS_CV,
      </if>
      <if test="EXPECTED_YIELD != null and EXPECTED_YIELD != emptyBigDecimalValue" >
        EXPECTED_YIELD,
      </if>
      <if test="LIBOR_RATE != null and LIBOR_RATE != emptyBigDecimalValue" >
        LIBOR_RATE,
      </if>
      <if test="SUSPENSE_REVENUE_AMT != null and SUSPENSE_REVENUE_AMT != emptyBigDecimalValue" >
        SUSPENSE_REVENUE_AMT,
      </if>
      <if test="SUSPENSE_REVENUE_AMT_CV != null and SUSPENSE_REVENUE_AMT_CV != emptyBigDecimalValue" >
        SUSPENSE_REVENUE_AMT_CV,
      </if>
      <if test="SUSPENSE_MODARIB_REVENUE_AMT != null and SUSPENSE_MODARIB_REVENUE_AMT != emptyBigDecimalValue" >
        SUSPENSE_MODARIB_REVENUE_AMT,
      </if>
      <if test="SUSPENSE_MODARIB_REVENUE_CV != null and SUSPENSE_MODARIB_REVENUE_CV != emptyBigDecimalValue" >
        SUSPENSE_MODARIB_REVENUE_CV,
      </if>
      <if test="TOTAL_DEPRECIATION_AMT != null and TOTAL_DEPRECIATION_AMT != emptyBigDecimalValue" >
        TOTAL_DEPRECIATION_AMT,
      </if>
      <if test="DAILY_DEPRECIATION_AMT != null and DAILY_DEPRECIATION_AMT != emptyBigDecimalValue" >
        DAILY_DEPRECIATION_AMT,
      </if>
      <if test="DAILY_ACCRUAL_AMT != null and DAILY_ACCRUAL_AMT != emptyBigDecimalValue" >
        DAILY_ACCRUAL_AMT,
      </if>
      <if test="MGMT_PCNT != null and MGMT_PCNT != emptyBigDecimalValue" >
        MGMT_PCNT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="PLAN_NBR != null and PLAN_NBR != emptyBigDecimalValue" >
        #{PLAN_NBR},
      </if>
      <if test="PLAN_SEQ != null and PLAN_SEQ != emptyBigDecimalValue" >
        #{PLAN_SEQ},
      </if>
      <if test="SERIAL_NO != null and SERIAL_NO != emptyBigDecimalValue" >
        #{SERIAL_NO},
      </if>
      <if test="INVESTMENTONBS_FC != null and INVESTMENTONBS_FC != emptyBigDecimalValue" >
        #{INVESTMENTONBS_FC},
      </if>
      <if test="INVESTMENTONBS_CV != null and INVESTMENTONBS_CV != emptyBigDecimalValue" >
        #{INVESTMENTONBS_CV},
      </if>
      <if test="EXPECTED_YIELD != null and EXPECTED_YIELD != emptyBigDecimalValue" >
        #{EXPECTED_YIELD},
      </if>
      <if test="LIBOR_RATE != null and LIBOR_RATE != emptyBigDecimalValue" >
        #{LIBOR_RATE},
      </if>
      <if test="SUSPENSE_REVENUE_AMT != null and SUSPENSE_REVENUE_AMT != emptyBigDecimalValue" >
        #{SUSPENSE_REVENUE_AMT},
      </if>
      <if test="SUSPENSE_REVENUE_AMT_CV != null and SUSPENSE_REVENUE_AMT_CV != emptyBigDecimalValue" >
        #{SUSPENSE_REVENUE_AMT_CV},
      </if>
      <if test="SUSPENSE_MODARIB_REVENUE_AMT != null and SUSPENSE_MODARIB_REVENUE_AMT != emptyBigDecimalValue" >
        #{SUSPENSE_MODARIB_REVENUE_AMT},
      </if>
      <if test="SUSPENSE_MODARIB_REVENUE_CV != null and SUSPENSE_MODARIB_REVENUE_CV != emptyBigDecimalValue" >
        #{SUSPENSE_MODARIB_REVENUE_CV},
      </if>
      <if test="TOTAL_DEPRECIATION_AMT != null and TOTAL_DEPRECIATION_AMT != emptyBigDecimalValue" >
        #{TOTAL_DEPRECIATION_AMT},
      </if>
      <if test="DAILY_DEPRECIATION_AMT != null and DAILY_DEPRECIATION_AMT != emptyBigDecimalValue" >
        #{DAILY_DEPRECIATION_AMT},
      </if>
      <if test="DAILY_ACCRUAL_AMT != null and DAILY_ACCRUAL_AMT != emptyBigDecimalValue" >
        #{DAILY_ACCRUAL_AMT},
      </if>
      <if test="MGMT_PCNT != null and MGMT_PCNT != emptyBigDecimalValue" >
        #{MGMT_PCNT},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRSDET_ACCRUAL_DTLS_HISTORY" >
    update TRSDET_ACCRUAL_DTLS_HISTORY
    <set >
      <if test="INVESTMENTONBS_FC != null" >
        <choose >
          <when test="INVESTMENTONBS_FC == emptyBigDecimalValue" >
            INVESTMENTONBS_FC = NULL ,
          </when>
          <otherwise >
            INVESTMENTONBS_FC = #{INVESTMENTONBS_FC},
          </otherwise>
        </choose>
      </if>
      <if test="INVESTMENTONBS_CV != null" >
        <choose >
          <when test="INVESTMENTONBS_CV == emptyBigDecimalValue" >
            INVESTMENTONBS_CV = NULL ,
          </when>
          <otherwise >
            INVESTMENTONBS_CV = #{INVESTMENTONBS_CV},
          </otherwise>
        </choose>
      </if>
      <if test="EXPECTED_YIELD != null" >
        <choose >
          <when test="EXPECTED_YIELD == emptyBigDecimalValue" >
            EXPECTED_YIELD = NULL ,
          </when>
          <otherwise >
            EXPECTED_YIELD = #{EXPECTED_YIELD},
          </otherwise>
        </choose>
      </if>
      <if test="LIBOR_RATE != null" >
        <choose >
          <when test="LIBOR_RATE == emptyBigDecimalValue" >
            LIBOR_RATE = NULL ,
          </when>
          <otherwise >
            LIBOR_RATE = #{LIBOR_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="SUSPENSE_REVENUE_AMT != null" >
        <choose >
          <when test="SUSPENSE_REVENUE_AMT == emptyBigDecimalValue" >
            SUSPENSE_REVENUE_AMT = NULL ,
          </when>
          <otherwise >
            SUSPENSE_REVENUE_AMT = #{SUSPENSE_REVENUE_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="SUSPENSE_REVENUE_AMT_CV != null" >
        <choose >
          <when test="SUSPENSE_REVENUE_AMT_CV == emptyBigDecimalValue" >
            SUSPENSE_REVENUE_AMT_CV = NULL ,
          </when>
          <otherwise >
            SUSPENSE_REVENUE_AMT_CV = #{SUSPENSE_REVENUE_AMT_CV},
          </otherwise>
        </choose>
      </if>
      <if test="SUSPENSE_MODARIB_REVENUE_AMT != null" >
        <choose >
          <when test="SUSPENSE_MODARIB_REVENUE_AMT == emptyBigDecimalValue" >
            SUSPENSE_MODARIB_REVENUE_AMT = NULL ,
          </when>
          <otherwise >
            SUSPENSE_MODARIB_REVENUE_AMT = #{SUSPENSE_MODARIB_REVENUE_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="SUSPENSE_MODARIB_REVENUE_CV != null" >
        <choose >
          <when test="SUSPENSE_MODARIB_REVENUE_CV == emptyBigDecimalValue" >
            SUSPENSE_MODARIB_REVENUE_CV = NULL ,
          </when>
          <otherwise >
            SUSPENSE_MODARIB_REVENUE_CV = #{SUSPENSE_MODARIB_REVENUE_CV},
          </otherwise>
        </choose>
      </if>
      <if test="TOTAL_DEPRECIATION_AMT != null" >
        <choose >
          <when test="TOTAL_DEPRECIATION_AMT == emptyBigDecimalValue" >
            TOTAL_DEPRECIATION_AMT = NULL ,
          </when>
          <otherwise >
            TOTAL_DEPRECIATION_AMT = #{TOTAL_DEPRECIATION_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="DAILY_DEPRECIATION_AMT != null" >
        <choose >
          <when test="DAILY_DEPRECIATION_AMT == emptyBigDecimalValue" >
            DAILY_DEPRECIATION_AMT = NULL ,
          </when>
          <otherwise >
            DAILY_DEPRECIATION_AMT = #{DAILY_DEPRECIATION_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="DAILY_ACCRUAL_AMT != null" >
        <choose >
          <when test="DAILY_ACCRUAL_AMT == emptyBigDecimalValue" >
            DAILY_ACCRUAL_AMT = NULL ,
          </when>
          <otherwise >
            DAILY_ACCRUAL_AMT = #{DAILY_ACCRUAL_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="MGMT_PCNT != null" >
        <choose >
          <when test="MGMT_PCNT == emptyBigDecimalValue" >
            MGMT_PCNT = NULL ,
          </when>
          <otherwise >
            MGMT_PCNT = #{MGMT_PCNT},
          </otherwise>
        </choose>
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and PLAN_NBR = #{PLAN_NBR}
      and PLAN_SEQ = #{PLAN_SEQ}
      and SERIAL_NO = #{SERIAL_NO}
  </sql>
  <update id="updateTRSDET_ACCRUAL_DTLS_HISTORY" parameterType="com.path.dbmaps.vo.TRSDET_ACCRUAL_DTLS_HISTORYVO" >
    <include refid="sql_updateTRSDET_ACCRUAL_DTLS_HISTORY" />
  </update>
</mapper>