<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRSDEALSWITCHING_ADDRESS" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRSDEALSWITCHING_ADDRESSVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="CIF_NO" property="CIF_NO" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="DEAL_NO" property="DEAL_NO" />
    <result column="DEAL_CIF_TYPE" property="DEAL_CIF_TYPE" />
    <result column="ADDRESS_DESC" property="ADDRESS_DESC" />
    <result column="ADDRESS1_ENG" property="ADDRESS1_ENG" />
    <result column="ADDRESS2_ENG" property="ADDRESS2_ENG" />
    <result column="ADDRESS3_ENG" property="ADDRESS3_ENG" />
    <result column="ADDRESS4_ENG" property="ADDRESS4_ENG" />
    <result column="ADDRESS1_ARAB" property="ADDRESS1_ARAB" />
    <result column="ADDRESS2_ARAB" property="ADDRESS2_ARAB" />
    <result column="ADDRESS3_ARAB" property="ADDRESS3_ARAB" />
    <result column="ADDRESS4_ARAB" property="ADDRESS4_ARAB" />
    <result column="CONTACT_NAME" property="CONTACT_NAME" />
    <result column="CONTACT_NAME_ARAB" property="CONTACT_NAME_ARAB" />
    <result column="STREET_DETAILS_ENG" property="STREET_DETAILS_ENG" />
    <result column="CITY_ENG" property="CITY_ENG" />
    <result column="GOVERNERATE_ENG" property="GOVERNERATE_ENG" />
    <result column="STREET_DETAILS_ARAB" property="STREET_DETAILS_ARAB" />
    <result column="CITY_ARAB" property="CITY_ARAB" />
    <result column="GOVERNERATE_ARAB" property="GOVERNERATE_ARAB" />
    <result column="SALUTATION_ENG" property="SALUTATION_ENG" />
    <result column="SALUTATION_ARAB" property="SALUTATION_ARAB" />
    <result column="FAX" property="FAX" />
    <result column="TEL" property="TEL" />
    <result column="DEFAULT_ADD" property="DEFAULT_ADD" />
    <result column="PO_BOX" property="PO_BOX" />
    <result column="POBOX_AREA" property="POBOX_AREA" />
    <result column="COUNTRY" property="COUNTRY" />
    <result column="REGION" property="REGION" />
    <result column="MOBILE" property="MOBILE" />
    <result column="HOME_TEL" property="HOME_TEL" />
    <result column="WORK_TEL" property="WORK_TEL" />
    <result column="EMAIL" property="EMAIL" />
    <result column="OTHER_TEL" property="OTHER_TEL" />
    <result column="POSTAL_CODE" property="POSTAL_CODE" />
    <result column="OCCUP_POSITION" property="OCCUP_POSITION" />
    <result column="EMPLOYER_CIF" property="EMPLOYER_CIF" />
    <result column="EMPLOYER_NAME" property="EMPLOYER_NAME" />
    <result column="CIF_INCOME" property="CIF_INCOME" />
    <result column="NATION_CODE" property="NATION_CODE" />
    <result column="CIVIL_ID" property="CIVIL_ID" />
    <result column="SALARY_WITH_BANK" property="SALARY_WITH_BANK" />
    <result column="ECO_SECTOR" property="ECO_SECTOR" />
    <result column="SUB_ECO_SECTOR" property="SUB_ECO_SECTOR" />
    <result column="REL_OFFICER" property="REL_OFFICER" />
    <result column="POSTAL_CODE1" property="POSTAL_CODE1" />
    <result column="ADDRESS_DESCRIPTION" property="ADDRESS_DESCRIPTION" />
    <result column="CITY_CODE" property="CITY_CODE" />
    <result column="EXPIRY_DATE" property="EXPIRY_DATE" />
    <result column="FROM_DATE" property="FROM_DATE" />
    <result column="PERM_ADDRESS" property="PERM_ADDRESS" />
    <result column="SECTOR_CODE" property="SECTOR_CODE" />
    <result column="TO_DATE" property="TO_DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, CIF_NO, COMP_CODE, DEAL_NO, DEAL_CIF_TYPE, ADDRESS_DESC, ADDRESS1_ENG, 
    ADDRESS2_ENG, ADDRESS3_ENG, ADDRESS4_ENG, ADDRESS1_ARAB, ADDRESS2_ARAB, ADDRESS3_ARAB, 
    ADDRESS4_ARAB, CONTACT_NAME, CONTACT_NAME_ARAB, STREET_DETAILS_ENG, CITY_ENG, GOVERNERATE_ENG, 
    STREET_DETAILS_ARAB, CITY_ARAB, GOVERNERATE_ARAB, SALUTATION_ENG, SALUTATION_ARAB, 
    FAX, TEL, DEFAULT_ADD, PO_BOX, POBOX_AREA, COUNTRY, REGION, MOBILE, HOME_TEL, WORK_TEL, 
    EMAIL, OTHER_TEL, POSTAL_CODE, OCCUP_POSITION, EMPLOYER_CIF, EMPLOYER_NAME, CIF_INCOME, 
    NATION_CODE, CIVIL_ID, SALARY_WITH_BANK, ECO_SECTOR, SUB_ECO_SECTOR, REL_OFFICER, 
    POSTAL_CODE1, ADDRESS_DESCRIPTION, CITY_CODE, EXPIRY_DATE, FROM_DATE, PERM_ADDRESS, 
    SECTOR_CODE, TO_DATE
  </sql>
  <select id="selectTRSDEALSWITCHING_ADDRESS" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRSDEALSWITCHING_ADDRESSVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRSDEALSWITCHING_ADDRESS
    where BRANCH_CODE = #{BRANCH_CODE}
      and CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and DEAL_NO = #{DEAL_NO}
  </select>
  <delete id="deleteTRSDEALSWITCHING_ADDRESS" parameterType="com.path.dbmaps.vo.TRSDEALSWITCHING_ADDRESSVOKey" >
    delete from TRSDEALSWITCHING_ADDRESS
    where BRANCH_CODE = #{BRANCH_CODE}
      and CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and DEAL_NO = #{DEAL_NO}
  </delete>
  <insert id="insertTRSDEALSWITCHING_ADDRESS" parameterType="com.path.dbmaps.vo.TRSDEALSWITCHING_ADDRESSVO" >
    insert into TRSDEALSWITCHING_ADDRESS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        CIF_NO,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="DEAL_NO != null and DEAL_NO != emptyBigDecimalValue" >
        DEAL_NO,
      </if>
      <if test="DEAL_CIF_TYPE != null" >
        DEAL_CIF_TYPE,
      </if>
      <if test="ADDRESS_DESC != null" >
        ADDRESS_DESC,
      </if>
      <if test="ADDRESS1_ENG != null" >
        ADDRESS1_ENG,
      </if>
      <if test="ADDRESS2_ENG != null" >
        ADDRESS2_ENG,
      </if>
      <if test="ADDRESS3_ENG != null" >
        ADDRESS3_ENG,
      </if>
      <if test="ADDRESS4_ENG != null" >
        ADDRESS4_ENG,
      </if>
      <if test="ADDRESS1_ARAB != null" >
        ADDRESS1_ARAB,
      </if>
      <if test="ADDRESS2_ARAB != null" >
        ADDRESS2_ARAB,
      </if>
      <if test="ADDRESS3_ARAB != null" >
        ADDRESS3_ARAB,
      </if>
      <if test="ADDRESS4_ARAB != null" >
        ADDRESS4_ARAB,
      </if>
      <if test="CONTACT_NAME != null" >
        CONTACT_NAME,
      </if>
      <if test="CONTACT_NAME_ARAB != null" >
        CONTACT_NAME_ARAB,
      </if>
      <if test="STREET_DETAILS_ENG != null" >
        STREET_DETAILS_ENG,
      </if>
      <if test="CITY_ENG != null" >
        CITY_ENG,
      </if>
      <if test="GOVERNERATE_ENG != null" >
        GOVERNERATE_ENG,
      </if>
      <if test="STREET_DETAILS_ARAB != null" >
        STREET_DETAILS_ARAB,
      </if>
      <if test="CITY_ARAB != null" >
        CITY_ARAB,
      </if>
      <if test="GOVERNERATE_ARAB != null" >
        GOVERNERATE_ARAB,
      </if>
      <if test="SALUTATION_ENG != null" >
        SALUTATION_ENG,
      </if>
      <if test="SALUTATION_ARAB != null" >
        SALUTATION_ARAB,
      </if>
      <if test="FAX != null" >
        FAX,
      </if>
      <if test="TEL != null" >
        TEL,
      </if>
      <if test="DEFAULT_ADD != null" >
        DEFAULT_ADD,
      </if>
      <if test="PO_BOX != null" >
        PO_BOX,
      </if>
      <if test="POBOX_AREA != null and POBOX_AREA != emptyBigDecimalValue" >
        POBOX_AREA,
      </if>
      <if test="COUNTRY != null and COUNTRY != emptyBigDecimalValue" >
        COUNTRY,
      </if>
      <if test="REGION != null and REGION != emptyBigDecimalValue" >
        REGION,
      </if>
      <if test="MOBILE != null" >
        MOBILE,
      </if>
      <if test="HOME_TEL != null" >
        HOME_TEL,
      </if>
      <if test="WORK_TEL != null" >
        WORK_TEL,
      </if>
      <if test="EMAIL != null" >
        EMAIL,
      </if>
      <if test="OTHER_TEL != null" >
        OTHER_TEL,
      </if>
      <if test="POSTAL_CODE != null and POSTAL_CODE != emptyBigDecimalValue" >
        POSTAL_CODE,
      </if>
      <if test="OCCUP_POSITION != null and OCCUP_POSITION != emptyBigDecimalValue" >
        OCCUP_POSITION,
      </if>
      <if test="EMPLOYER_CIF != null and EMPLOYER_CIF != emptyBigDecimalValue" >
        EMPLOYER_CIF,
      </if>
      <if test="EMPLOYER_NAME != null" >
        EMPLOYER_NAME,
      </if>
      <if test="CIF_INCOME != null and CIF_INCOME != emptyBigDecimalValue" >
        CIF_INCOME,
      </if>
      <if test="NATION_CODE != null and NATION_CODE != emptyBigDecimalValue" >
        NATION_CODE,
      </if>
      <if test="CIVIL_ID != null" >
        CIVIL_ID,
      </if>
      <if test="SALARY_WITH_BANK != null" >
        SALARY_WITH_BANK,
      </if>
      <if test="ECO_SECTOR != null and ECO_SECTOR != emptyBigDecimalValue" >
        ECO_SECTOR,
      </if>
      <if test="SUB_ECO_SECTOR != null and SUB_ECO_SECTOR != emptyBigDecimalValue" >
        SUB_ECO_SECTOR,
      </if>
      <if test="REL_OFFICER != null" >
        REL_OFFICER,
      </if>
      <if test="POSTAL_CODE1 != null" >
        POSTAL_CODE1,
      </if>
      <if test="ADDRESS_DESCRIPTION != null and ADDRESS_DESCRIPTION != emptyBigDecimalValue" >
        ADDRESS_DESCRIPTION,
      </if>
      <if test="CITY_CODE != null and CITY_CODE != emptyBigDecimalValue" >
        CITY_CODE,
      </if>
      <if test="EXPIRY_DATE != null" >
        EXPIRY_DATE,
      </if>
      <if test="FROM_DATE != null" >
        FROM_DATE,
      </if>
      <if test="PERM_ADDRESS != null" >
        PERM_ADDRESS,
      </if>
      <if test="SECTOR_CODE != null and SECTOR_CODE != emptyBigDecimalValue" >
        SECTOR_CODE,
      </if>
      <if test="TO_DATE != null" >
        TO_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        #{CIF_NO},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="DEAL_NO != null and DEAL_NO != emptyBigDecimalValue" >
        #{DEAL_NO},
      </if>
      <if test="DEAL_CIF_TYPE != null" >
        #{DEAL_CIF_TYPE},
      </if>
      <if test="ADDRESS_DESC != null" >
        #{ADDRESS_DESC},
      </if>
      <if test="ADDRESS1_ENG != null" >
        #{ADDRESS1_ENG},
      </if>
      <if test="ADDRESS2_ENG != null" >
        #{ADDRESS2_ENG},
      </if>
      <if test="ADDRESS3_ENG != null" >
        #{ADDRESS3_ENG},
      </if>
      <if test="ADDRESS4_ENG != null" >
        #{ADDRESS4_ENG},
      </if>
      <if test="ADDRESS1_ARAB != null" >
        #{ADDRESS1_ARAB},
      </if>
      <if test="ADDRESS2_ARAB != null" >
        #{ADDRESS2_ARAB},
      </if>
      <if test="ADDRESS3_ARAB != null" >
        #{ADDRESS3_ARAB},
      </if>
      <if test="ADDRESS4_ARAB != null" >
        #{ADDRESS4_ARAB},
      </if>
      <if test="CONTACT_NAME != null" >
        #{CONTACT_NAME},
      </if>
      <if test="CONTACT_NAME_ARAB != null" >
        #{CONTACT_NAME_ARAB},
      </if>
      <if test="STREET_DETAILS_ENG != null" >
        #{STREET_DETAILS_ENG},
      </if>
      <if test="CITY_ENG != null" >
        #{CITY_ENG},
      </if>
      <if test="GOVERNERATE_ENG != null" >
        #{GOVERNERATE_ENG},
      </if>
      <if test="STREET_DETAILS_ARAB != null" >
        #{STREET_DETAILS_ARAB},
      </if>
      <if test="CITY_ARAB != null" >
        #{CITY_ARAB},
      </if>
      <if test="GOVERNERATE_ARAB != null" >
        #{GOVERNERATE_ARAB},
      </if>
      <if test="SALUTATION_ENG != null" >
        #{SALUTATION_ENG},
      </if>
      <if test="SALUTATION_ARAB != null" >
        #{SALUTATION_ARAB},
      </if>
      <if test="FAX != null" >
        #{FAX},
      </if>
      <if test="TEL != null" >
        #{TEL},
      </if>
      <if test="DEFAULT_ADD != null" >
        #{DEFAULT_ADD},
      </if>
      <if test="PO_BOX != null" >
        #{PO_BOX},
      </if>
      <if test="POBOX_AREA != null and POBOX_AREA != emptyBigDecimalValue" >
        #{POBOX_AREA},
      </if>
      <if test="COUNTRY != null and COUNTRY != emptyBigDecimalValue" >
        #{COUNTRY},
      </if>
      <if test="REGION != null and REGION != emptyBigDecimalValue" >
        #{REGION},
      </if>
      <if test="MOBILE != null" >
        #{MOBILE},
      </if>
      <if test="HOME_TEL != null" >
        #{HOME_TEL},
      </if>
      <if test="WORK_TEL != null" >
        #{WORK_TEL},
      </if>
      <if test="EMAIL != null" >
        #{EMAIL},
      </if>
      <if test="OTHER_TEL != null" >
        #{OTHER_TEL},
      </if>
      <if test="POSTAL_CODE != null and POSTAL_CODE != emptyBigDecimalValue" >
        #{POSTAL_CODE},
      </if>
      <if test="OCCUP_POSITION != null and OCCUP_POSITION != emptyBigDecimalValue" >
        #{OCCUP_POSITION},
      </if>
      <if test="EMPLOYER_CIF != null and EMPLOYER_CIF != emptyBigDecimalValue" >
        #{EMPLOYER_CIF},
      </if>
      <if test="EMPLOYER_NAME != null" >
        #{EMPLOYER_NAME},
      </if>
      <if test="CIF_INCOME != null and CIF_INCOME != emptyBigDecimalValue" >
        #{CIF_INCOME},
      </if>
      <if test="NATION_CODE != null and NATION_CODE != emptyBigDecimalValue" >
        #{NATION_CODE},
      </if>
      <if test="CIVIL_ID != null" >
        #{CIVIL_ID},
      </if>
      <if test="SALARY_WITH_BANK != null" >
        #{SALARY_WITH_BANK},
      </if>
      <if test="ECO_SECTOR != null and ECO_SECTOR != emptyBigDecimalValue" >
        #{ECO_SECTOR},
      </if>
      <if test="SUB_ECO_SECTOR != null and SUB_ECO_SECTOR != emptyBigDecimalValue" >
        #{SUB_ECO_SECTOR},
      </if>
      <if test="REL_OFFICER != null" >
        #{REL_OFFICER},
      </if>
      <if test="POSTAL_CODE1 != null" >
        #{POSTAL_CODE1},
      </if>
      <if test="ADDRESS_DESCRIPTION != null and ADDRESS_DESCRIPTION != emptyBigDecimalValue" >
        #{ADDRESS_DESCRIPTION},
      </if>
      <if test="CITY_CODE != null and CITY_CODE != emptyBigDecimalValue" >
        #{CITY_CODE},
      </if>
      <if test="EXPIRY_DATE != null" >
        #{EXPIRY_DATE},
      </if>
      <if test="FROM_DATE != null" >
        #{FROM_DATE},
      </if>
      <if test="PERM_ADDRESS != null" >
        #{PERM_ADDRESS},
      </if>
      <if test="SECTOR_CODE != null and SECTOR_CODE != emptyBigDecimalValue" >
        #{SECTOR_CODE},
      </if>
      <if test="TO_DATE != null" >
        #{TO_DATE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRSDEALSWITCHING_ADDRESS" >
    update TRSDEALSWITCHING_ADDRESS
    <set >
      <if test="DEAL_CIF_TYPE != null" >
        DEAL_CIF_TYPE = #{DEAL_CIF_TYPE},
      </if>
      <if test="ADDRESS_DESC != null" >
        ADDRESS_DESC = #{ADDRESS_DESC},
      </if>
      <if test="ADDRESS1_ENG != null" >
        ADDRESS1_ENG = #{ADDRESS1_ENG},
      </if>
      <if test="ADDRESS2_ENG != null" >
        ADDRESS2_ENG = #{ADDRESS2_ENG},
      </if>
      <if test="ADDRESS3_ENG != null" >
        ADDRESS3_ENG = #{ADDRESS3_ENG},
      </if>
      <if test="ADDRESS4_ENG != null" >
        ADDRESS4_ENG = #{ADDRESS4_ENG},
      </if>
      <if test="ADDRESS1_ARAB != null" >
        ADDRESS1_ARAB = #{ADDRESS1_ARAB},
      </if>
      <if test="ADDRESS2_ARAB != null" >
        ADDRESS2_ARAB = #{ADDRESS2_ARAB},
      </if>
      <if test="ADDRESS3_ARAB != null" >
        ADDRESS3_ARAB = #{ADDRESS3_ARAB},
      </if>
      <if test="ADDRESS4_ARAB != null" >
        ADDRESS4_ARAB = #{ADDRESS4_ARAB},
      </if>
      <if test="CONTACT_NAME != null" >
        CONTACT_NAME = #{CONTACT_NAME},
      </if>
      <if test="CONTACT_NAME_ARAB != null" >
        CONTACT_NAME_ARAB = #{CONTACT_NAME_ARAB},
      </if>
      <if test="STREET_DETAILS_ENG != null" >
        STREET_DETAILS_ENG = #{STREET_DETAILS_ENG},
      </if>
      <if test="CITY_ENG != null" >
        CITY_ENG = #{CITY_ENG},
      </if>
      <if test="GOVERNERATE_ENG != null" >
        GOVERNERATE_ENG = #{GOVERNERATE_ENG},
      </if>
      <if test="STREET_DETAILS_ARAB != null" >
        STREET_DETAILS_ARAB = #{STREET_DETAILS_ARAB},
      </if>
      <if test="CITY_ARAB != null" >
        CITY_ARAB = #{CITY_ARAB},
      </if>
      <if test="GOVERNERATE_ARAB != null" >
        GOVERNERATE_ARAB = #{GOVERNERATE_ARAB},
      </if>
      <if test="SALUTATION_ENG != null" >
        SALUTATION_ENG = #{SALUTATION_ENG},
      </if>
      <if test="SALUTATION_ARAB != null" >
        SALUTATION_ARAB = #{SALUTATION_ARAB},
      </if>
      <if test="FAX != null" >
        FAX = #{FAX},
      </if>
      <if test="TEL != null" >
        TEL = #{TEL},
      </if>
      <if test="DEFAULT_ADD != null" >
        DEFAULT_ADD = #{DEFAULT_ADD},
      </if>
      <if test="PO_BOX != null" >
        PO_BOX = #{PO_BOX},
      </if>
      <if test="POBOX_AREA != null" >
        <choose >
          <when test="POBOX_AREA == emptyBigDecimalValue" >
            POBOX_AREA = NULL ,
          </when>
          <otherwise >
            POBOX_AREA = #{POBOX_AREA},
          </otherwise>
        </choose>
      </if>
      <if test="COUNTRY != null" >
        <choose >
          <when test="COUNTRY == emptyBigDecimalValue" >
            COUNTRY = NULL ,
          </when>
          <otherwise >
            COUNTRY = #{COUNTRY},
          </otherwise>
        </choose>
      </if>
      <if test="REGION != null" >
        <choose >
          <when test="REGION == emptyBigDecimalValue" >
            REGION = NULL ,
          </when>
          <otherwise >
            REGION = #{REGION},
          </otherwise>
        </choose>
      </if>
      <if test="MOBILE != null" >
        MOBILE = #{MOBILE},
      </if>
      <if test="HOME_TEL != null" >
        HOME_TEL = #{HOME_TEL},
      </if>
      <if test="WORK_TEL != null" >
        WORK_TEL = #{WORK_TEL},
      </if>
      <if test="EMAIL != null" >
        EMAIL = #{EMAIL},
      </if>
      <if test="OTHER_TEL != null" >
        OTHER_TEL = #{OTHER_TEL},
      </if>
      <if test="POSTAL_CODE != null" >
        <choose >
          <when test="POSTAL_CODE == emptyBigDecimalValue" >
            POSTAL_CODE = NULL ,
          </when>
          <otherwise >
            POSTAL_CODE = #{POSTAL_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="OCCUP_POSITION != null" >
        <choose >
          <when test="OCCUP_POSITION == emptyBigDecimalValue" >
            OCCUP_POSITION = NULL ,
          </when>
          <otherwise >
            OCCUP_POSITION = #{OCCUP_POSITION},
          </otherwise>
        </choose>
      </if>
      <if test="EMPLOYER_CIF != null" >
        <choose >
          <when test="EMPLOYER_CIF == emptyBigDecimalValue" >
            EMPLOYER_CIF = NULL ,
          </when>
          <otherwise >
            EMPLOYER_CIF = #{EMPLOYER_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="EMPLOYER_NAME != null" >
        EMPLOYER_NAME = #{EMPLOYER_NAME},
      </if>
      <if test="CIF_INCOME != null" >
        <choose >
          <when test="CIF_INCOME == emptyBigDecimalValue" >
            CIF_INCOME = NULL ,
          </when>
          <otherwise >
            CIF_INCOME = #{CIF_INCOME},
          </otherwise>
        </choose>
      </if>
      <if test="NATION_CODE != null" >
        <choose >
          <when test="NATION_CODE == emptyBigDecimalValue" >
            NATION_CODE = NULL ,
          </when>
          <otherwise >
            NATION_CODE = #{NATION_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="CIVIL_ID != null" >
        CIVIL_ID = #{CIVIL_ID},
      </if>
      <if test="SALARY_WITH_BANK != null" >
        SALARY_WITH_BANK = #{SALARY_WITH_BANK},
      </if>
      <if test="ECO_SECTOR != null" >
        <choose >
          <when test="ECO_SECTOR == emptyBigDecimalValue" >
            ECO_SECTOR = NULL ,
          </when>
          <otherwise >
            ECO_SECTOR = #{ECO_SECTOR},
          </otherwise>
        </choose>
      </if>
      <if test="SUB_ECO_SECTOR != null" >
        <choose >
          <when test="SUB_ECO_SECTOR == emptyBigDecimalValue" >
            SUB_ECO_SECTOR = NULL ,
          </when>
          <otherwise >
            SUB_ECO_SECTOR = #{SUB_ECO_SECTOR},
          </otherwise>
        </choose>
      </if>
      <if test="REL_OFFICER != null" >
        REL_OFFICER = #{REL_OFFICER},
      </if>
      <if test="POSTAL_CODE1 != null" >
        POSTAL_CODE1 = #{POSTAL_CODE1},
      </if>
      <if test="ADDRESS_DESCRIPTION != null" >
        <choose >
          <when test="ADDRESS_DESCRIPTION == emptyBigDecimalValue" >
            ADDRESS_DESCRIPTION = NULL ,
          </when>
          <otherwise >
            ADDRESS_DESCRIPTION = #{ADDRESS_DESCRIPTION},
          </otherwise>
        </choose>
      </if>
      <if test="CITY_CODE != null" >
        <choose >
          <when test="CITY_CODE == emptyBigDecimalValue" >
            CITY_CODE = NULL ,
          </when>
          <otherwise >
            CITY_CODE = #{CITY_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="EXPIRY_DATE != null" >
        EXPIRY_DATE = #{EXPIRY_DATE},
      </if>
      <if test="FROM_DATE != null" >
        FROM_DATE = #{FROM_DATE},
      </if>
      <if test="PERM_ADDRESS != null" >
        PERM_ADDRESS = #{PERM_ADDRESS},
      </if>
      <if test="SECTOR_CODE != null" >
        <choose >
          <when test="SECTOR_CODE == emptyBigDecimalValue" >
            SECTOR_CODE = NULL ,
          </when>
          <otherwise >
            SECTOR_CODE = #{SECTOR_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="TO_DATE != null" >
        TO_DATE = #{TO_DATE},
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and CIF_NO = #{CIF_NO}
      and COMP_CODE = #{COMP_CODE}
      and DEAL_NO = #{DEAL_NO}
  </sql>
  <update id="updateTRSDEALSWITCHING_ADDRESS" parameterType="com.path.dbmaps.vo.TRSDEALSWITCHING_ADDRESSVO" >
    <include refid="sql_updateTRSDEALSWITCHING_ADDRESS" />
  </update>
</mapper>