<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRSDEAL_DEALERS_PROFIT" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRSDEAL_DEALERS_PROFITVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="FX_TRX_TYPE" property="FX_TRX_TYPE" />
    <id column="SERIAL_NO" property="SERIAL_NO" />
    <result column="SELL_RATE" property="SELL_RATE" />
    <result column="SELL_MULTDIV" property="SELL_MULTDIV" />
    <result column="SELL_UNIT" property="SELL_UNIT" />
    <result column="BOUGHT_RATE" property="BOUGHT_RATE" />
    <result column="BOUGHT_MULTDIV" property="BOUGHT_MULTDIV" />
    <result column="BOUGHT_UNIT" property="BOUGHT_UNIT" />
    <result column="CROSS_EXCH_RATE" property="CROSS_EXCH_RATE" />
    <result column="DEAL_PROFIT" property="DEAL_PROFIT" />
    <result column="USER_ID" property="USER_ID" />
    <result column="QUOTED_BY" property="QUOTED_BY" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, FX_TRX_TYPE, SERIAL_NO, SELL_RATE, SELL_MULTDIV, SELL_UNIT, 
    BOUGHT_RATE, BOUGHT_MULTDIV, BOUGHT_UNIT, CROSS_EXCH_RATE, DEAL_PROFIT, USER_ID, 
    QUOTED_BY
  </sql>
  <select id="selectTRSDEAL_DEALERS_PROFIT" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRSDEAL_DEALERS_PROFITVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRSDEAL_DEALERS_PROFIT
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and FX_TRX_TYPE = #{FX_TRX_TYPE}
      and SERIAL_NO = #{SERIAL_NO}
  </select>
  <delete id="deleteTRSDEAL_DEALERS_PROFIT" parameterType="com.path.dbmaps.vo.TRSDEAL_DEALERS_PROFITVOKey" >
    delete from TRSDEAL_DEALERS_PROFIT
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and FX_TRX_TYPE = #{FX_TRX_TYPE}
      and SERIAL_NO = #{SERIAL_NO}
  </delete>
  <insert id="insertTRSDEAL_DEALERS_PROFIT" parameterType="com.path.dbmaps.vo.TRSDEAL_DEALERS_PROFITVO" >
    insert into TRSDEAL_DEALERS_PROFIT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="FX_TRX_TYPE != null and FX_TRX_TYPE != emptyBigDecimalValue" >
        FX_TRX_TYPE,
      </if>
      <if test="SERIAL_NO != null and SERIAL_NO != emptyBigDecimalValue" >
        SERIAL_NO,
      </if>
      <if test="SELL_RATE != null and SELL_RATE != emptyBigDecimalValue" >
        SELL_RATE,
      </if>
      <if test="SELL_MULTDIV != null" >
        SELL_MULTDIV,
      </if>
      <if test="SELL_UNIT != null and SELL_UNIT != emptyBigDecimalValue" >
        SELL_UNIT,
      </if>
      <if test="BOUGHT_RATE != null and BOUGHT_RATE != emptyBigDecimalValue" >
        BOUGHT_RATE,
      </if>
      <if test="BOUGHT_MULTDIV != null" >
        BOUGHT_MULTDIV,
      </if>
      <if test="BOUGHT_UNIT != null and BOUGHT_UNIT != emptyBigDecimalValue" >
        BOUGHT_UNIT,
      </if>
      <if test="CROSS_EXCH_RATE != null and CROSS_EXCH_RATE != emptyBigDecimalValue" >
        CROSS_EXCH_RATE,
      </if>
      <if test="DEAL_PROFIT != null and DEAL_PROFIT != emptyBigDecimalValue" >
        DEAL_PROFIT,
      </if>
      <if test="USER_ID != null" >
        USER_ID,
      </if>
      <if test="QUOTED_BY != null" >
        QUOTED_BY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="FX_TRX_TYPE != null and FX_TRX_TYPE != emptyBigDecimalValue" >
        #{FX_TRX_TYPE},
      </if>
      <if test="SERIAL_NO != null and SERIAL_NO != emptyBigDecimalValue" >
        #{SERIAL_NO},
      </if>
      <if test="SELL_RATE != null and SELL_RATE != emptyBigDecimalValue" >
        #{SELL_RATE},
      </if>
      <if test="SELL_MULTDIV != null" >
        #{SELL_MULTDIV},
      </if>
      <if test="SELL_UNIT != null and SELL_UNIT != emptyBigDecimalValue" >
        #{SELL_UNIT},
      </if>
      <if test="BOUGHT_RATE != null and BOUGHT_RATE != emptyBigDecimalValue" >
        #{BOUGHT_RATE},
      </if>
      <if test="BOUGHT_MULTDIV != null" >
        #{BOUGHT_MULTDIV},
      </if>
      <if test="BOUGHT_UNIT != null and BOUGHT_UNIT != emptyBigDecimalValue" >
        #{BOUGHT_UNIT},
      </if>
      <if test="CROSS_EXCH_RATE != null and CROSS_EXCH_RATE != emptyBigDecimalValue" >
        #{CROSS_EXCH_RATE},
      </if>
      <if test="DEAL_PROFIT != null and DEAL_PROFIT != emptyBigDecimalValue" >
        #{DEAL_PROFIT},
      </if>
      <if test="USER_ID != null" >
        #{USER_ID},
      </if>
      <if test="QUOTED_BY != null" >
        #{QUOTED_BY},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRSDEAL_DEALERS_PROFIT" >
    update TRSDEAL_DEALERS_PROFIT
    <set >
      <if test="SELL_RATE != null" >
        <choose >
          <when test="SELL_RATE == emptyBigDecimalValue" >
            SELL_RATE = NULL ,
          </when>
          <otherwise >
            SELL_RATE = #{SELL_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="SELL_MULTDIV != null" >
        SELL_MULTDIV = #{SELL_MULTDIV},
      </if>
      <if test="SELL_UNIT != null" >
        <choose >
          <when test="SELL_UNIT == emptyBigDecimalValue" >
            SELL_UNIT = NULL ,
          </when>
          <otherwise >
            SELL_UNIT = #{SELL_UNIT},
          </otherwise>
        </choose>
      </if>
      <if test="BOUGHT_RATE != null" >
        <choose >
          <when test="BOUGHT_RATE == emptyBigDecimalValue" >
            BOUGHT_RATE = NULL ,
          </when>
          <otherwise >
            BOUGHT_RATE = #{BOUGHT_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="BOUGHT_MULTDIV != null" >
        BOUGHT_MULTDIV = #{BOUGHT_MULTDIV},
      </if>
      <if test="BOUGHT_UNIT != null" >
        <choose >
          <when test="BOUGHT_UNIT == emptyBigDecimalValue" >
            BOUGHT_UNIT = NULL ,
          </when>
          <otherwise >
            BOUGHT_UNIT = #{BOUGHT_UNIT},
          </otherwise>
        </choose>
      </if>
      <if test="CROSS_EXCH_RATE != null" >
        <choose >
          <when test="CROSS_EXCH_RATE == emptyBigDecimalValue" >
            CROSS_EXCH_RATE = NULL ,
          </when>
          <otherwise >
            CROSS_EXCH_RATE = #{CROSS_EXCH_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="DEAL_PROFIT != null" >
        <choose >
          <when test="DEAL_PROFIT == emptyBigDecimalValue" >
            DEAL_PROFIT = NULL ,
          </when>
          <otherwise >
            DEAL_PROFIT = #{DEAL_PROFIT},
          </otherwise>
        </choose>
      </if>
      <if test="USER_ID != null" >
        USER_ID = #{USER_ID},
      </if>
      <if test="QUOTED_BY != null" >
        QUOTED_BY = #{QUOTED_BY},
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and FX_TRX_TYPE = #{FX_TRX_TYPE}
      and SERIAL_NO = #{SERIAL_NO}
  </sql>
  <update id="updateTRSDEAL_DEALERS_PROFIT" parameterType="com.path.dbmaps.vo.TRSDEAL_DEALERS_PROFITVO" >
    <include refid="sql_updateTRSDEAL_DEALERS_PROFIT" />
  </update>
</mapper>