<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRSDEAL_SWAP_DETAILS" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRSDEAL_SWAP_DETAILSVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="DEAL_NO" property="DEAL_NO" />
    <result column="VALUE_DATE" property="VALUE_DATE" />
    <result column="DEAL_CY" property="DEAL_CY" />
    <result column="DEAL_AMOUNT" property="DEAL_AMOUNT" />
    <result column="DEAL_RATE" property="DEAL_RATE" />
    <result column="DEAL_UNIT" property="DEAL_UNIT" />
    <result column="DEAL_MULTDIV" property="DEAL_MULTDIV" />
    <result column="OTHER_CY" property="OTHER_CY" />
    <result column="OTHER_AMOUNT" property="OTHER_AMOUNT" />
    <result column="OTHER_RATE" property="OTHER_RATE" />
    <result column="OTHER_UNIT" property="OTHER_UNIT" />
    <result column="OTHER_MULTDIV" property="OTHER_MULTDIV" />
    <result column="CROSS_EXCH_RATE" property="CROSS_EXCH_RATE" />
    <result column="CROSS_EXCH_MULTDIV" property="CROSS_EXCH_MULTDIV" />
    <result column="CY_PAIR" property="CY_PAIR" />
    <result column="SWAP_CY" property="SWAP_CY" />
    <result column="SWAP_DESK" property="SWAP_DESK" />
    <result column="TENURE_TYPE" property="TENURE_TYPE" />
    <result column="TENURE_NBR" property="TENURE_NBR" />
    <result column="YIELD" property="YIELD" />
    <result column="ACCRUAL_BASIS" property="ACCRUAL_BASIS" />
    <result column="NET_PRESENT_VALUE" property="NET_PRESENT_VALUE" />
    <result column="HOLIDAY_ACTION" property="HOLIDAY_ACTION" />
    
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, DEAL_NO, VALUE_DATE, DEAL_CY, DEAL_AMOUNT, DEAL_RATE, DEAL_UNIT, 
    DEAL_MULTDIV, OTHER_CY, OTHER_AMOUNT, OTHER_RATE, OTHER_UNIT, OTHER_MULTDIV, CROSS_EXCH_RATE, 
    CROSS_EXCH_MULTDIV, CY_PAIR, SWAP_CY, SWAP_DESK, TENURE_TYPE, TENURE_NBR, YIELD,
    ACCRUAL_BASIS, NET_PRESENT_VALUE, HOLIDAY_ACTION
  </sql>
  <select id="selectTRSDEAL_SWAP_DETAILS" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRSDEAL_SWAP_DETAILSVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRSDEAL_SWAP_DETAILS
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and DEAL_NO = #{DEAL_NO}
  </select>
  <delete id="deleteTRSDEAL_SWAP_DETAILS" parameterType="com.path.dbmaps.vo.TRSDEAL_SWAP_DETAILSVOKey" >
    delete from TRSDEAL_SWAP_DETAILS
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and DEAL_NO = #{DEAL_NO}
  </delete>
  <insert id="insertTRSDEAL_SWAP_DETAILS" parameterType="com.path.dbmaps.vo.TRSDEAL_SWAP_DETAILSVO" >
    insert into TRSDEAL_SWAP_DETAILS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="DEAL_NO != null and DEAL_NO != emptyBigDecimalValue" >
        DEAL_NO,
      </if>
      <if test="VALUE_DATE != null" >
        VALUE_DATE,
      </if>
      <if test="DEAL_CY != null and DEAL_CY != emptyBigDecimalValue" >
        DEAL_CY,
      </if>
      <if test="DEAL_AMOUNT != null and DEAL_AMOUNT != emptyBigDecimalValue" >
        DEAL_AMOUNT,
      </if>
      <if test="DEAL_RATE != null and DEAL_RATE != emptyBigDecimalValue" >
        DEAL_RATE,
      </if>
      <if test="DEAL_UNIT != null and DEAL_UNIT != emptyBigDecimalValue" >
        DEAL_UNIT,
      </if>
      <if test="DEAL_MULTDIV != null" >
        DEAL_MULTDIV,
      </if>
      <if test="OTHER_CY != null and OTHER_CY != emptyBigDecimalValue" >
        OTHER_CY,
      </if>
      <if test="OTHER_AMOUNT != null and OTHER_AMOUNT != emptyBigDecimalValue" >
        OTHER_AMOUNT,
      </if>
      <if test="OTHER_RATE != null and OTHER_RATE != emptyBigDecimalValue" >
        OTHER_RATE,
      </if>
      <if test="OTHER_UNIT != null and OTHER_UNIT != emptyBigDecimalValue" >
        OTHER_UNIT,
      </if>
      <if test="OTHER_MULTDIV != null" >
        OTHER_MULTDIV,
      </if>
      <if test="CROSS_EXCH_RATE != null and CROSS_EXCH_RATE != emptyBigDecimalValue" >
        CROSS_EXCH_RATE,
      </if>
      <if test="CROSS_EXCH_MULTDIV != null" >
        CROSS_EXCH_MULTDIV,
      </if>
      <if test="CY_PAIR != null" >
        CY_PAIR,
      </if>
      <if test="SWAP_CY != null and SWAP_CY != emptyBigDecimalValue" >
        SWAP_CY,
      </if>
      <if test="SWAP_DESK != null and SWAP_DESK != emptyBigDecimalValue" >
        SWAP_DESK,
      </if>
      <if test="TENURE_TYPE != null" >
        TENURE_TYPE,
      </if>
      <if test="TENURE_NBR != null and TENURE_NBR != emptyBigDecimalValue" >
        TENURE_NBR,
      </if>
      <if test="YIELD != null and YIELD != emptyBigDecimalValue" >
        YIELD,
      </if>
       <if test="ACCRUAL_BASIS != null and ACCRUAL_BASIS != emptyBigDecimalValue" >
        ACCRUAL_BASIS,
      </if>
       <if test="NET_PRESENT_VALUE != null and NET_PRESENT_VALUE != emptyBigDecimalValue" >
        NET_PRESENT_VALUE,
      </if>
       <if test="HOLIDAY_ACTION != null and HOLIDAY_ACTION != emptyBigDecimalValue" >
        HOLIDAY_ACTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="DEAL_NO != null and DEAL_NO != emptyBigDecimalValue" >
        #{DEAL_NO},
      </if>
      <if test="VALUE_DATE != null" >
        #{VALUE_DATE},
      </if>
      <if test="DEAL_CY != null and DEAL_CY != emptyBigDecimalValue" >
        #{DEAL_CY},
      </if>
      <if test="DEAL_AMOUNT != null and DEAL_AMOUNT != emptyBigDecimalValue" >
        #{DEAL_AMOUNT},
      </if>
      <if test="DEAL_RATE != null and DEAL_RATE != emptyBigDecimalValue" >
        #{DEAL_RATE},
      </if>
      <if test="DEAL_UNIT != null and DEAL_UNIT != emptyBigDecimalValue" >
        #{DEAL_UNIT},
      </if>
      <if test="DEAL_MULTDIV != null" >
        #{DEAL_MULTDIV},
      </if>
      <if test="OTHER_CY != null and OTHER_CY != emptyBigDecimalValue" >
        #{OTHER_CY},
      </if>
      <if test="OTHER_AMOUNT != null and OTHER_AMOUNT != emptyBigDecimalValue" >
        #{OTHER_AMOUNT},
      </if>
      <if test="OTHER_RATE != null and OTHER_RATE != emptyBigDecimalValue" >
        #{OTHER_RATE},
      </if>
      <if test="OTHER_UNIT != null and OTHER_UNIT != emptyBigDecimalValue" >
        #{OTHER_UNIT},
      </if>
      <if test="OTHER_MULTDIV != null" >
        #{OTHER_MULTDIV},
      </if>
      <if test="CROSS_EXCH_RATE != null and CROSS_EXCH_RATE != emptyBigDecimalValue" >
        #{CROSS_EXCH_RATE},
      </if>
      <if test="CROSS_EXCH_MULTDIV != null" >
        #{CROSS_EXCH_MULTDIV},
      </if>
      <if test="CY_PAIR != null" >
        #{CY_PAIR},
      </if>
      <if test="SWAP_CY != null and SWAP_CY != emptyBigDecimalValue" >
        #{SWAP_CY},
      </if>
      <if test="SWAP_DESK != null and SWAP_DESK != emptyBigDecimalValue" >
        #{SWAP_DESK},
      </if>
      <if test="TENURE_TYPE != null" >
        #{TENURE_TYPE},
      </if>
      <if test="TENURE_NBR != null and TENURE_NBR != emptyBigDecimalValue" >
        #{TENURE_NBR},
      </if>
      <if test="YIELD != null and YIELD != emptyBigDecimalValue" >
        #{YIELD},
      </if>
       <if test="ACCRUAL_BASIS != null and ACCRUAL_BASIS != emptyBigDecimalValue" >
        #{ACCRUAL_BASIS},
      </if>
       <if test="NET_PRESENT_VALUE != null and NET_PRESENT_VALUE != emptyBigDecimalValue" >
        #{NET_PRESENT_VALUE},
      </if>
       <if test="HOLIDAY_ACTION != null and HOLIDAY_ACTION != emptyBigDecimalValue" >
        #{HOLIDAY_ACTION},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRSDEAL_SWAP_DETAILS" >
    update TRSDEAL_SWAP_DETAILS
    <set >
      <if test="VALUE_DATE != null" >
        VALUE_DATE = #{VALUE_DATE},
      </if>
      <if test="DEAL_CY != null" >
        <choose >
          <when test="DEAL_CY == emptyBigDecimalValue" >
            DEAL_CY = NULL ,
          </when>
          <otherwise >
            DEAL_CY = #{DEAL_CY},
          </otherwise>
        </choose>
      </if>
      <if test="DEAL_AMOUNT != null" >
        <choose >
          <when test="DEAL_AMOUNT == emptyBigDecimalValue" >
            DEAL_AMOUNT = NULL ,
          </when>
          <otherwise >
            DEAL_AMOUNT = #{DEAL_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="DEAL_RATE != null" >
        <choose >
          <when test="DEAL_RATE == emptyBigDecimalValue" >
            DEAL_RATE = NULL ,
          </when>
          <otherwise >
            DEAL_RATE = #{DEAL_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="DEAL_UNIT != null" >
        <choose >
          <when test="DEAL_UNIT == emptyBigDecimalValue" >
            DEAL_UNIT = NULL ,
          </when>
          <otherwise >
            DEAL_UNIT = #{DEAL_UNIT},
          </otherwise>
        </choose>
      </if>
      <if test="DEAL_MULTDIV != null" >
        DEAL_MULTDIV = #{DEAL_MULTDIV},
      </if>
      <if test="OTHER_CY != null" >
        <choose >
          <when test="OTHER_CY == emptyBigDecimalValue" >
            OTHER_CY = NULL ,
          </when>
          <otherwise >
            OTHER_CY = #{OTHER_CY},
          </otherwise>
        </choose>
      </if>
      <if test="OTHER_AMOUNT != null" >
        <choose >
          <when test="OTHER_AMOUNT == emptyBigDecimalValue" >
            OTHER_AMOUNT = NULL ,
          </when>
          <otherwise >
            OTHER_AMOUNT = #{OTHER_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="OTHER_RATE != null" >
        <choose >
          <when test="OTHER_RATE == emptyBigDecimalValue" >
            OTHER_RATE = NULL ,
          </when>
          <otherwise >
            OTHER_RATE = #{OTHER_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="OTHER_UNIT != null" >
        <choose >
          <when test="OTHER_UNIT == emptyBigDecimalValue" >
            OTHER_UNIT = NULL ,
          </when>
          <otherwise >
            OTHER_UNIT = #{OTHER_UNIT},
          </otherwise>
        </choose>
      </if>
      <if test="OTHER_MULTDIV != null" >
        OTHER_MULTDIV = #{OTHER_MULTDIV},
      </if>
      <if test="CROSS_EXCH_RATE != null" >
        <choose >
          <when test="CROSS_EXCH_RATE == emptyBigDecimalValue" >
            CROSS_EXCH_RATE = NULL ,
          </when>
          <otherwise >
            CROSS_EXCH_RATE = #{CROSS_EXCH_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="CROSS_EXCH_MULTDIV != null" >
        CROSS_EXCH_MULTDIV = #{CROSS_EXCH_MULTDIV},
      </if>
      <if test="CY_PAIR != null" >
        CY_PAIR = #{CY_PAIR},
      </if>
      <if test="SWAP_CY != null" >
        <choose >
          <when test="SWAP_CY == emptyBigDecimalValue" >
            SWAP_CY = NULL ,
          </when>
          <otherwise >
            SWAP_CY = #{SWAP_CY},
          </otherwise>
        </choose>
      </if>
      <if test="SWAP_DESK != null" >
        <choose >
          <when test="SWAP_DESK == emptyBigDecimalValue" >
            SWAP_DESK = NULL ,
          </when>
          <otherwise >
            SWAP_DESK = #{SWAP_DESK},
          </otherwise>
        </choose>
      </if>
      <if test="TENURE_TYPE != null" >
        TENURE_TYPE = #{TENURE_TYPE},
      </if>
      <if test="TENURE_NBR != null" >
        <choose >
          <when test="TENURE_NBR == emptyBigDecimalValue" >
            TENURE_NBR = NULL ,
          </when>
          <otherwise >
            TENURE_NBR = #{TENURE_NBR},
          </otherwise>
        </choose>
      </if>
	    <if test="YIELD != null" >
	        <choose >
	          <when test="YIELD == emptyBigDecimalValue" >
	            YIELD = NULL ,
	          </when>
	          <otherwise >
	            YIELD = #{YIELD},
	          </otherwise>
	        </choose>
	      </if>
	      <if test="ACCRUAL_BASIS != null" >
	        <choose >
	          <when test="ACCRUAL_BASIS == emptyBigDecimalValue" >
	            ACCRUAL_BASIS = NULL ,
	          </when>
	          <otherwise >
	            ACCRUAL_BASIS = #{ACCRUAL_BASIS},
	          </otherwise>
	        </choose>
	      </if>
	      <if test="NET_PRESENT_VALUE != null" >
	        <choose >
	          <when test="NET_PRESENT_VALUE == emptyBigDecimalValue" >
	            NET_PRESENT_VALUE = NULL ,
	          </when>
	          <otherwise >
	            NET_PRESENT_VALUE = #{NET_PRESENT_VALUE},
	          </otherwise>
	        </choose>
	      </if>
	      <if test="HOLIDAY_ACTION != null" >
	        <choose >
	          <when test="HOLIDAY_ACTION == emptyBigDecimalValue" >
	            HOLIDAY_ACTION = NULL ,
	          </when>
	          <otherwise >
	            HOLIDAY_ACTION = #{HOLIDAY_ACTION},
	          </otherwise>
	        </choose>
	      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and DEAL_NO = #{DEAL_NO}
  </sql>
  <update id="updateTRSDEAL_SWAP_DETAILS" parameterType="com.path.dbmaps.vo.TRSDEAL_SWAP_DETAILSVO" >
    <include refid="sql_updateTRSDEAL_SWAP_DETAILS" />
  </update>
</mapper>