<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRSDEAL_WRITE_OFF" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRSDEAL_WRITE_OFFVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="TRS_NO" property="TRS_NO" />
    <result column="TRX_DATE" property="TRX_DATE" />
    <result column="DEAL_NO" property="DEAL_NO" />
    <result column="DEAL_CY" property="DEAL_CY" />
    <result column="PRODUCT_TYPE" property="PRODUCT_TYPE" />
    <result column="PRODUCT_CODE" property="PRODUCT_CODE" />
    <result column="AC_NO" property="AC_NO" />
    <result column="CIF_NO" property="CIF_NO" />
    <result column="WRITE_OFF_TYPE" property="WRITE_OFF_TYPE" />
    <result column="STATUS" property="STATUS" />
    <result column="BALANCE_OUTSTANDING" property="BALANCE_OUTSTANDING" />
    <result column="UNEARNED_INCOME" property="UNEARNED_INCOME" />
    <result column="CURRENT_BALANCE" property="CURRENT_BALANCE" />
    <result column="PRINCIPAL" property="PRINCIPAL" />
    <result column="OWINGS_DUE" property="OWINGS_DUE" />
    <result column="SPIIS" property="SPIIS" />
    <result column="IIS" property="IIS" />
    <result column="NPF_AMOUNT" property="NPF_AMOUNT" />
    <result column="PROVISION_AMOUNT" property="PROVISION_AMOUNT" />
    <result column="REALIZE_VALUE" property="REALIZE_VALUE" />
    <result column="WRITE_OFF_AMOUNT" property="WRITE_OFF_AMOUNT" />
    <result column="WRITE_DOWN_AMOUNT" property="WRITE_DOWN_AMOUNT" />
    <result column="APPROVING_COMMITEE" property="APPROVING_COMMITEE" />
    <result column="APPROVING_DATE" property="APPROVING_DATE" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="DATE_CREATED" property="DATE_CREATED" />
    <result column="SERVER_DATE_CREATED" property="SERVER_DATE_CREATED" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="DATE_MODIFIED" property="DATE_MODIFIED" />
    <result column="SERVER_DATE_MODIFIED" property="SERVER_DATE_MODIFIED" />
    <result column="DELETED_BY" property="DELETED_BY" />
    <result column="DATE_DELETED" property="DATE_DELETED" />
    <result column="SERVER_DATE_DELETED" property="SERVER_DATE_DELETED" />
    <result column="APPROVED_BY" property="APPROVED_BY" />
    <result column="DATE_APPROVED" property="DATE_APPROVED" />
    <result column="SERVER_DATE_APPROVED" property="SERVER_DATE_APPROVED" />
    <result column="REVERSED_BY" property="REVERSED_BY" />
    <result column="DATE_REVERSED" property="DATE_REVERSED" />
    <result column="SERVER_DATE_REVERSED" property="SERVER_DATE_REVERSED" />
    <result column="PRODUCT_CLASS" property="PRODUCT_CLASS" />
    <result column="DRAWDOWN_BRANCH" property="DRAWDOWN_BRANCH" />
    <result column="DRAWDOWN_NO" property="DRAWDOWN_NO" />
    <result column="DATE_UPDATED" property="DATE_UPDATED" />
    <result column="REVERSAL_STATUS" property="REVERSAL_STATUS" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, TRS_NO, TRX_DATE, DEAL_NO, DEAL_CY, PRODUCT_TYPE, PRODUCT_CODE, 
    AC_NO, CIF_NO, WRITE_OFF_TYPE, STATUS, BALANCE_OUTSTANDING, UNEARNED_INCOME, CURRENT_BALANCE, 
    PRINCIPAL, OWINGS_DUE, SPIIS, IIS, NPF_AMOUNT, PROVISION_AMOUNT, REALIZE_VALUE, WRITE_OFF_AMOUNT, 
    WRITE_DOWN_AMOUNT, APPROVING_COMMITEE, APPROVING_DATE, CREATED_BY, DATE_CREATED, 
    SERVER_DATE_CREATED, MODIFIED_BY, DATE_MODIFIED, SERVER_DATE_MODIFIED, DELETED_BY, 
    DATE_DELETED, SERVER_DATE_DELETED, APPROVED_BY, DATE_APPROVED, SERVER_DATE_APPROVED, 
    REVERSED_BY, DATE_REVERSED, SERVER_DATE_REVERSED, PRODUCT_CLASS, DRAWDOWN_BRANCH, 
    DRAWDOWN_NO, DATE_UPDATED, REVERSAL_STATUS
  </sql>
  <select id="selectTRSDEAL_WRITE_OFF" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRSDEAL_WRITE_OFFVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRSDEAL_WRITE_OFF
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and TRS_NO = #{TRS_NO}
  </select>
  <delete id="deleteTRSDEAL_WRITE_OFF" parameterType="com.path.dbmaps.vo.TRSDEAL_WRITE_OFFVOKey" >
    delete from TRSDEAL_WRITE_OFF
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and TRS_NO = #{TRS_NO}
  </delete>
  <insert id="insertTRSDEAL_WRITE_OFF" parameterType="com.path.dbmaps.vo.TRSDEAL_WRITE_OFFVO" >
    insert into TRSDEAL_WRITE_OFF
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="TRS_NO != null and TRS_NO != emptyBigDecimalValue" >
        TRS_NO,
      </if>
      <if test="TRX_DATE != null" >
        TRX_DATE,
      </if>
      <if test="DEAL_NO != null and DEAL_NO != emptyBigDecimalValue" >
        DEAL_NO,
      </if>
      <if test="DEAL_CY != null and DEAL_CY != emptyBigDecimalValue" >
        DEAL_CY,
      </if>
      <if test="PRODUCT_TYPE != null" >
        PRODUCT_TYPE,
      </if>
      <if test="PRODUCT_CODE != null and PRODUCT_CODE != emptyBigDecimalValue" >
        PRODUCT_CODE,
      </if>
      <if test="AC_NO != null" >
        AC_NO,
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        CIF_NO,
      </if>
      <if test="WRITE_OFF_TYPE != null and WRITE_OFF_TYPE != emptyBigDecimalValue" >
        WRITE_OFF_TYPE,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="BALANCE_OUTSTANDING != null and BALANCE_OUTSTANDING != emptyBigDecimalValue" >
        BALANCE_OUTSTANDING,
      </if>
      <if test="UNEARNED_INCOME != null and UNEARNED_INCOME != emptyBigDecimalValue" >
        UNEARNED_INCOME,
      </if>
      <if test="CURRENT_BALANCE != null and CURRENT_BALANCE != emptyBigDecimalValue" >
        CURRENT_BALANCE,
      </if>
      <if test="PRINCIPAL != null and PRINCIPAL != emptyBigDecimalValue" >
        PRINCIPAL,
      </if>
      <if test="OWINGS_DUE != null and OWINGS_DUE != emptyBigDecimalValue" >
        OWINGS_DUE,
      </if>
      <if test="SPIIS != null and SPIIS != emptyBigDecimalValue" >
        SPIIS,
      </if>
      <if test="IIS != null and IIS != emptyBigDecimalValue" >
        IIS,
      </if>
      <if test="NPF_AMOUNT != null and NPF_AMOUNT != emptyBigDecimalValue" >
        NPF_AMOUNT,
      </if>
      <if test="PROVISION_AMOUNT != null and PROVISION_AMOUNT != emptyBigDecimalValue" >
        PROVISION_AMOUNT,
      </if>
      <if test="REALIZE_VALUE != null and REALIZE_VALUE != emptyBigDecimalValue" >
        REALIZE_VALUE,
      </if>
      <if test="WRITE_OFF_AMOUNT != null and WRITE_OFF_AMOUNT != emptyBigDecimalValue" >
        WRITE_OFF_AMOUNT,
      </if>
      <if test="WRITE_DOWN_AMOUNT != null and WRITE_DOWN_AMOUNT != emptyBigDecimalValue" >
        WRITE_DOWN_AMOUNT,
      </if>
      <if test="APPROVING_COMMITEE != null" >
        APPROVING_COMMITEE,
      </if>
      <if test="APPROVING_DATE != null" >
        APPROVING_DATE,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED,
      </if>
      <if test="SERVER_DATE_CREATED != null" >
        SERVER_DATE_CREATED,
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY,
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED,
      </if>
      <if test="SERVER_DATE_MODIFIED != null" >
        SERVER_DATE_MODIFIED,
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY,
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED,
      </if>
      <if test="SERVER_DATE_DELETED != null" >
        SERVER_DATE_DELETED,
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY,
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED,
      </if>
      <if test="SERVER_DATE_APPROVED != null" >
        SERVER_DATE_APPROVED,
      </if>
      <if test="REVERSED_BY != null" >
        REVERSED_BY,
      </if>
      <if test="DATE_REVERSED != null" >
        DATE_REVERSED,
      </if>
      <if test="SERVER_DATE_REVERSED != null" >
        SERVER_DATE_REVERSED,
      </if>
      <if test="PRODUCT_CLASS != null and PRODUCT_CLASS != emptyBigDecimalValue" >
        PRODUCT_CLASS,
      </if>
      <if test="DRAWDOWN_BRANCH != null and DRAWDOWN_BRANCH != emptyBigDecimalValue" >
        DRAWDOWN_BRANCH,
      </if>
      <if test="DRAWDOWN_NO != null and DRAWDOWN_NO != emptyBigDecimalValue" >
        DRAWDOWN_NO,
      </if>
      DATE_UPDATED,
      <if test="REVERSAL_STATUS != null" >
        REVERSAL_STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="TRS_NO != null and TRS_NO != emptyBigDecimalValue" >
        #{TRS_NO},
      </if>
      <if test="TRX_DATE != null" >
        #{TRX_DATE},
      </if>
      <if test="DEAL_NO != null and DEAL_NO != emptyBigDecimalValue" >
        #{DEAL_NO},
      </if>
      <if test="DEAL_CY != null and DEAL_CY != emptyBigDecimalValue" >
        #{DEAL_CY},
      </if>
      <if test="PRODUCT_TYPE != null" >
        #{PRODUCT_TYPE},
      </if>
      <if test="PRODUCT_CODE != null and PRODUCT_CODE != emptyBigDecimalValue" >
        #{PRODUCT_CODE},
      </if>
      <if test="AC_NO != null" >
        #{AC_NO},
      </if>
      <if test="CIF_NO != null and CIF_NO != emptyBigDecimalValue" >
        #{CIF_NO},
      </if>
      <if test="WRITE_OFF_TYPE != null and WRITE_OFF_TYPE != emptyBigDecimalValue" >
        #{WRITE_OFF_TYPE},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="BALANCE_OUTSTANDING != null and BALANCE_OUTSTANDING != emptyBigDecimalValue" >
        #{BALANCE_OUTSTANDING},
      </if>
      <if test="UNEARNED_INCOME != null and UNEARNED_INCOME != emptyBigDecimalValue" >
        #{UNEARNED_INCOME},
      </if>
      <if test="CURRENT_BALANCE != null and CURRENT_BALANCE != emptyBigDecimalValue" >
        #{CURRENT_BALANCE},
      </if>
      <if test="PRINCIPAL != null and PRINCIPAL != emptyBigDecimalValue" >
        #{PRINCIPAL},
      </if>
      <if test="OWINGS_DUE != null and OWINGS_DUE != emptyBigDecimalValue" >
        #{OWINGS_DUE},
      </if>
      <if test="SPIIS != null and SPIIS != emptyBigDecimalValue" >
        #{SPIIS},
      </if>
      <if test="IIS != null and IIS != emptyBigDecimalValue" >
        #{IIS},
      </if>
      <if test="NPF_AMOUNT != null and NPF_AMOUNT != emptyBigDecimalValue" >
        #{NPF_AMOUNT},
      </if>
      <if test="PROVISION_AMOUNT != null and PROVISION_AMOUNT != emptyBigDecimalValue" >
        #{PROVISION_AMOUNT},
      </if>
      <if test="REALIZE_VALUE != null and REALIZE_VALUE != emptyBigDecimalValue" >
        #{REALIZE_VALUE},
      </if>
      <if test="WRITE_OFF_AMOUNT != null and WRITE_OFF_AMOUNT != emptyBigDecimalValue" >
        #{WRITE_OFF_AMOUNT},
      </if>
      <if test="WRITE_DOWN_AMOUNT != null and WRITE_DOWN_AMOUNT != emptyBigDecimalValue" >
        #{WRITE_DOWN_AMOUNT},
      </if>
      <if test="APPROVING_COMMITEE != null" >
        #{APPROVING_COMMITEE},
      </if>
      <if test="APPROVING_DATE != null" >
        #{APPROVING_DATE},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="DATE_CREATED != null" >
        #{DATE_CREATED},
      </if>
      <if test="SERVER_DATE_CREATED != null" >
        #{SERVER_DATE_CREATED},
      </if>
      <if test="MODIFIED_BY != null" >
        #{MODIFIED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        #{DATE_MODIFIED},
      </if>
      <if test="SERVER_DATE_MODIFIED != null" >
        #{SERVER_DATE_MODIFIED},
      </if>
      <if test="DELETED_BY != null" >
        #{DELETED_BY},
      </if>
      <if test="DATE_DELETED != null" >
        #{DATE_DELETED},
      </if>
      <if test="SERVER_DATE_DELETED != null" >
        #{SERVER_DATE_DELETED},
      </if>
      <if test="APPROVED_BY != null" >
        #{APPROVED_BY},
      </if>
      <if test="DATE_APPROVED != null" >
        #{DATE_APPROVED},
      </if>
      <if test="SERVER_DATE_APPROVED != null" >
        #{SERVER_DATE_APPROVED},
      </if>
      <if test="REVERSED_BY != null" >
        #{REVERSED_BY},
      </if>
      <if test="DATE_REVERSED != null" >
        #{DATE_REVERSED},
      </if>
      <if test="SERVER_DATE_REVERSED != null" >
        #{SERVER_DATE_REVERSED},
      </if>
      <if test="PRODUCT_CLASS != null and PRODUCT_CLASS != emptyBigDecimalValue" >
        #{PRODUCT_CLASS},
      </if>
      <if test="DRAWDOWN_BRANCH != null and DRAWDOWN_BRANCH != emptyBigDecimalValue" >
        #{DRAWDOWN_BRANCH},
      </if>
      <if test="DRAWDOWN_NO != null and DRAWDOWN_NO != emptyBigDecimalValue" >
        #{DRAWDOWN_NO},
      </if>
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
      <if test="REVERSAL_STATUS != null" >
        #{REVERSAL_STATUS},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRSDEAL_WRITE_OFF" >
    update TRSDEAL_WRITE_OFF
    <set >
      <if test="TRX_DATE != null" >
        TRX_DATE = #{TRX_DATE},
      </if>
      <if test="DEAL_NO != null" >
        <choose >
          <when test="DEAL_NO == emptyBigDecimalValue" >
            DEAL_NO = NULL ,
          </when>
          <otherwise >
            DEAL_NO = #{DEAL_NO},
          </otherwise>
        </choose>
      </if>
      <if test="DEAL_CY != null" >
        <choose >
          <when test="DEAL_CY == emptyBigDecimalValue" >
            DEAL_CY = NULL ,
          </when>
          <otherwise >
            DEAL_CY = #{DEAL_CY},
          </otherwise>
        </choose>
      </if>
      <if test="PRODUCT_TYPE != null" >
        PRODUCT_TYPE = #{PRODUCT_TYPE},
      </if>
      <if test="PRODUCT_CODE != null" >
        <choose >
          <when test="PRODUCT_CODE == emptyBigDecimalValue" >
            PRODUCT_CODE = NULL ,
          </when>
          <otherwise >
            PRODUCT_CODE = #{PRODUCT_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="AC_NO != null" >
        AC_NO = #{AC_NO},
      </if>
      <if test="CIF_NO != null" >
        <choose >
          <when test="CIF_NO == emptyBigDecimalValue" >
            CIF_NO = NULL ,
          </when>
          <otherwise >
            CIF_NO = #{CIF_NO},
          </otherwise>
        </choose>
      </if>
      <if test="WRITE_OFF_TYPE != null" >
        <choose >
          <when test="WRITE_OFF_TYPE == emptyBigDecimalValue" >
            WRITE_OFF_TYPE = NULL ,
          </when>
          <otherwise >
            WRITE_OFF_TYPE = #{WRITE_OFF_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="BALANCE_OUTSTANDING != null" >
        <choose >
          <when test="BALANCE_OUTSTANDING == emptyBigDecimalValue" >
            BALANCE_OUTSTANDING = NULL ,
          </when>
          <otherwise >
            BALANCE_OUTSTANDING = #{BALANCE_OUTSTANDING},
          </otherwise>
        </choose>
      </if>
      <if test="UNEARNED_INCOME != null" >
        <choose >
          <when test="UNEARNED_INCOME == emptyBigDecimalValue" >
            UNEARNED_INCOME = NULL ,
          </when>
          <otherwise >
            UNEARNED_INCOME = #{UNEARNED_INCOME},
          </otherwise>
        </choose>
      </if>
      <if test="CURRENT_BALANCE != null" >
        <choose >
          <when test="CURRENT_BALANCE == emptyBigDecimalValue" >
            CURRENT_BALANCE = NULL ,
          </when>
          <otherwise >
            CURRENT_BALANCE = #{CURRENT_BALANCE},
          </otherwise>
        </choose>
      </if>
      <if test="PRINCIPAL != null" >
        <choose >
          <when test="PRINCIPAL == emptyBigDecimalValue" >
            PRINCIPAL = NULL ,
          </when>
          <otherwise >
            PRINCIPAL = #{PRINCIPAL},
          </otherwise>
        </choose>
      </if>
      <if test="OWINGS_DUE != null" >
        <choose >
          <when test="OWINGS_DUE == emptyBigDecimalValue" >
            OWINGS_DUE = NULL ,
          </when>
          <otherwise >
            OWINGS_DUE = #{OWINGS_DUE},
          </otherwise>
        </choose>
      </if>
      <if test="SPIIS != null" >
        <choose >
          <when test="SPIIS == emptyBigDecimalValue" >
            SPIIS = NULL ,
          </when>
          <otherwise >
            SPIIS = #{SPIIS},
          </otherwise>
        </choose>
      </if>
      <if test="IIS != null" >
        <choose >
          <when test="IIS == emptyBigDecimalValue" >
            IIS = NULL ,
          </when>
          <otherwise >
            IIS = #{IIS},
          </otherwise>
        </choose>
      </if>
      <if test="NPF_AMOUNT != null" >
        <choose >
          <when test="NPF_AMOUNT == emptyBigDecimalValue" >
            NPF_AMOUNT = NULL ,
          </when>
          <otherwise >
            NPF_AMOUNT = #{NPF_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="PROVISION_AMOUNT != null" >
        <choose >
          <when test="PROVISION_AMOUNT == emptyBigDecimalValue" >
            PROVISION_AMOUNT = NULL ,
          </when>
          <otherwise >
            PROVISION_AMOUNT = #{PROVISION_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="REALIZE_VALUE != null" >
        <choose >
          <when test="REALIZE_VALUE == emptyBigDecimalValue" >
            REALIZE_VALUE = NULL ,
          </when>
          <otherwise >
            REALIZE_VALUE = #{REALIZE_VALUE},
          </otherwise>
        </choose>
      </if>
      <if test="WRITE_OFF_AMOUNT != null" >
        <choose >
          <when test="WRITE_OFF_AMOUNT == emptyBigDecimalValue" >
            WRITE_OFF_AMOUNT = NULL ,
          </when>
          <otherwise >
            WRITE_OFF_AMOUNT = #{WRITE_OFF_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="WRITE_DOWN_AMOUNT != null" >
        <choose >
          <when test="WRITE_DOWN_AMOUNT == emptyBigDecimalValue" >
            WRITE_DOWN_AMOUNT = NULL ,
          </when>
          <otherwise >
            WRITE_DOWN_AMOUNT = #{WRITE_DOWN_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="APPROVING_COMMITEE != null" >
        APPROVING_COMMITEE = #{APPROVING_COMMITEE},
      </if>
      <if test="APPROVING_DATE != null" >
        APPROVING_DATE = #{APPROVING_DATE},
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED = #{DATE_CREATED},
      </if>
      <if test="SERVER_DATE_CREATED != null" >
        SERVER_DATE_CREATED = #{SERVER_DATE_CREATED},
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY = #{MODIFIED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED = #{DATE_MODIFIED},
      </if>
      <if test="SERVER_DATE_MODIFIED != null" >
        SERVER_DATE_MODIFIED = #{SERVER_DATE_MODIFIED},
      </if>
      <if test="DELETED_BY != null" >
        DELETED_BY = #{DELETED_BY},
      </if>
      <if test="DATE_DELETED != null" >
        DATE_DELETED = #{DATE_DELETED},
      </if>
      <if test="SERVER_DATE_DELETED != null" >
        SERVER_DATE_DELETED = #{SERVER_DATE_DELETED},
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY = #{APPROVED_BY},
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED = #{DATE_APPROVED},
      </if>
      <if test="SERVER_DATE_APPROVED != null" >
        SERVER_DATE_APPROVED = #{SERVER_DATE_APPROVED},
      </if>
      <if test="REVERSED_BY != null" >
        REVERSED_BY = #{REVERSED_BY},
      </if>
      <if test="DATE_REVERSED != null" >
        DATE_REVERSED = #{DATE_REVERSED},
      </if>
      <if test="SERVER_DATE_REVERSED != null" >
        SERVER_DATE_REVERSED = #{SERVER_DATE_REVERSED},
      </if>
      <if test="PRODUCT_CLASS != null" >
        <choose >
          <when test="PRODUCT_CLASS == emptyBigDecimalValue" >
            PRODUCT_CLASS = NULL ,
          </when>
          <otherwise >
            PRODUCT_CLASS = #{PRODUCT_CLASS},
          </otherwise>
        </choose>
      </if>
      <if test="DRAWDOWN_BRANCH != null" >
        <choose >
          <when test="DRAWDOWN_BRANCH == emptyBigDecimalValue" >
            DRAWDOWN_BRANCH = NULL ,
          </when>
          <otherwise >
            DRAWDOWN_BRANCH = #{DRAWDOWN_BRANCH},
          </otherwise>
        </choose>
      </if>
      <if test="DRAWDOWN_NO != null" >
        <choose >
          <when test="DRAWDOWN_NO == emptyBigDecimalValue" >
            DRAWDOWN_NO = NULL ,
          </when>
          <otherwise >
            DRAWDOWN_NO = #{DRAWDOWN_NO},
          </otherwise>
        </choose>
      </if>
      DATE_UPDATED = 
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
      <if test="REVERSAL_STATUS != null" >
        REVERSAL_STATUS = #{REVERSAL_STATUS},
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and TRS_NO = #{TRS_NO}
  </sql>
  <update id="updateTRSDEAL_WRITE_OFF" parameterType="com.path.dbmaps.vo.TRSDEAL_WRITE_OFFVO" >
    <include refid="sql_updateTRSDEAL_WRITE_OFF" />
    <if test="DATE_UPDATED != null" >
      AND DATE_UPDATED = #{DATE_UPDATED}
    </if>
  </update>
</mapper>