<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRSOBLIGORLIMITDET" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRSOBLIGORLIMITDETVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="CIF" property="CIF" />
    <id column="CLASS" property="CLASS" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="DETAILED_FLAG" property="DETAILED_FLAG" />
    <id column="FROM_DATE" property="FROM_DATE" />
    <id column="PERIODICITY_NBR" property="PERIODICITY_NBR" />
    <id column="PERIODICITY_TYPE" property="PERIODICITY_TYPE" />
    <result column="TO_DATE" property="TO_DATE" />
    <result column="GLOBAL_LIMIT" property="GLOBAL_LIMIT" />
    <result column="LIMIT_COMPANY" property="LIMIT_COMPANY" />
    <result column="LIMIT_CLIENTS" property="LIMIT_CLIENTS" />
    <result column="ENABLE_SWAP" property="ENABLE_SWAP" />
    <result column="RISK_RATIO" property="RISK_RATIO" />
    <result column="GLOBAL_LIMIT_UTILIZED" property="GLOBAL_LIMIT_UTILIZED" />
    <result column="DATE_UPDATED" property="DATE_UPDATED" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, CIF, CLASS, COMP_CODE, DETAILED_FLAG, FROM_DATE, PERIODICITY_NBR, PERIODICITY_TYPE, 
    TO_DATE, GLOBAL_LIMIT, LIMIT_COMPANY, LIMIT_CLIENTS, ENABLE_SWAP, RISK_RATIO, GLOBAL_LIMIT_UTILIZED, 
    DATE_UPDATED
  </sql>
  <select id="selectTRSOBLIGORLIMITDET" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRSOBLIGORLIMITDETVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRSOBLIGORLIMITDET
    where BRANCH_CODE = #{BRANCH_CODE}
      and CIF = #{CIF}
      and CLASS = #{CLASS}
      and COMP_CODE = #{COMP_CODE}
      and DETAILED_FLAG = #{DETAILED_FLAG}
      and FROM_DATE = #{FROM_DATE}
      and PERIODICITY_NBR = #{PERIODICITY_NBR}
      and PERIODICITY_TYPE = #{PERIODICITY_TYPE}
  </select>
  <delete id="deleteTRSOBLIGORLIMITDET" parameterType="com.path.dbmaps.vo.TRSOBLIGORLIMITDETVOKey" >
    delete from TRSOBLIGORLIMITDET
    where BRANCH_CODE = #{BRANCH_CODE}
      and CIF = #{CIF}
      and CLASS = #{CLASS}
      and COMP_CODE = #{COMP_CODE}
      and DETAILED_FLAG = #{DETAILED_FLAG}
      and FROM_DATE = #{FROM_DATE}
      and PERIODICITY_NBR = #{PERIODICITY_NBR}
      and PERIODICITY_TYPE = #{PERIODICITY_TYPE}
  </delete>
  <insert id="insertTRSOBLIGORLIMITDET" parameterType="com.path.dbmaps.vo.TRSOBLIGORLIMITDETVO" >
    insert into TRSOBLIGORLIMITDET
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="CIF != null and CIF != emptyBigDecimalValue" >
        CIF,
      </if>
      <if test="CLASS != null and CLASS != emptyBigDecimalValue" >
        CLASS,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="DETAILED_FLAG != null" >
        DETAILED_FLAG,
      </if>
      <if test="FROM_DATE != null" >
        FROM_DATE,
      </if>
      <if test="PERIODICITY_NBR != null and PERIODICITY_NBR != emptyBigDecimalValue" >
        PERIODICITY_NBR,
      </if>
      <if test="PERIODICITY_TYPE != null" >
        PERIODICITY_TYPE,
      </if>
      <if test="TO_DATE != null" >
        TO_DATE,
      </if>
      <if test="GLOBAL_LIMIT != null and GLOBAL_LIMIT != emptyBigDecimalValue" >
        GLOBAL_LIMIT,
      </if>
      <if test="LIMIT_COMPANY != null and LIMIT_COMPANY != emptyBigDecimalValue" >
        LIMIT_COMPANY,
      </if>
      <if test="LIMIT_CLIENTS != null and LIMIT_CLIENTS != emptyBigDecimalValue" >
        LIMIT_CLIENTS,
      </if>
      <if test="ENABLE_SWAP != null and ENABLE_SWAP != emptyBigDecimalValue" >
        ENABLE_SWAP,
      </if>
      <if test="RISK_RATIO != null and RISK_RATIO != emptyBigDecimalValue" >
        RISK_RATIO,
      </if>
      <if test="GLOBAL_LIMIT_UTILIZED != null and GLOBAL_LIMIT_UTILIZED != emptyBigDecimalValue" >
        GLOBAL_LIMIT_UTILIZED,
      </if>
      DATE_UPDATED,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="CIF != null and CIF != emptyBigDecimalValue" >
        #{CIF},
      </if>
      <if test="CLASS != null and CLASS != emptyBigDecimalValue" >
        #{CLASS},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="DETAILED_FLAG != null" >
        #{DETAILED_FLAG},
      </if>
      <if test="FROM_DATE != null" >
        #{FROM_DATE},
      </if>
      <if test="PERIODICITY_NBR != null and PERIODICITY_NBR != emptyBigDecimalValue" >
        #{PERIODICITY_NBR},
      </if>
      <if test="PERIODICITY_TYPE != null" >
        #{PERIODICITY_TYPE},
      </if>
      <if test="TO_DATE != null" >
        #{TO_DATE},
      </if>
      <if test="GLOBAL_LIMIT != null and GLOBAL_LIMIT != emptyBigDecimalValue" >
        #{GLOBAL_LIMIT},
      </if>
      <if test="LIMIT_COMPANY != null and LIMIT_COMPANY != emptyBigDecimalValue" >
        #{LIMIT_COMPANY},
      </if>
      <if test="LIMIT_CLIENTS != null and LIMIT_CLIENTS != emptyBigDecimalValue" >
        #{LIMIT_CLIENTS},
      </if>
      <if test="ENABLE_SWAP != null and ENABLE_SWAP != emptyBigDecimalValue" >
        #{ENABLE_SWAP},
      </if>
      <if test="RISK_RATIO != null and RISK_RATIO != emptyBigDecimalValue" >
        #{RISK_RATIO},
      </if>
      <if test="GLOBAL_LIMIT_UTILIZED != null and GLOBAL_LIMIT_UTILIZED != emptyBigDecimalValue" >
        #{GLOBAL_LIMIT_UTILIZED},
      </if>
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
    </trim>
  </insert>
  <sql id="sql_updateTRSOBLIGORLIMITDET" >
    update TRSOBLIGORLIMITDET
    <set >
      <if test="TO_DATE != null" >
        TO_DATE = #{TO_DATE},
      </if>
      <if test="GLOBAL_LIMIT != null" >
        <choose >
          <when test="GLOBAL_LIMIT == emptyBigDecimalValue" >
            GLOBAL_LIMIT = NULL ,
          </when>
          <otherwise >
            GLOBAL_LIMIT = #{GLOBAL_LIMIT},
          </otherwise>
        </choose>
      </if>
      <if test="LIMIT_COMPANY != null" >
        <choose >
          <when test="LIMIT_COMPANY == emptyBigDecimalValue" >
            LIMIT_COMPANY = NULL ,
          </when>
          <otherwise >
            LIMIT_COMPANY = #{LIMIT_COMPANY},
          </otherwise>
        </choose>
      </if>
      <if test="LIMIT_CLIENTS != null" >
        <choose >
          <when test="LIMIT_CLIENTS == emptyBigDecimalValue" >
            LIMIT_CLIENTS = NULL ,
          </when>
          <otherwise >
            LIMIT_CLIENTS = #{LIMIT_CLIENTS},
          </otherwise>
        </choose>
      </if>
      <if test="ENABLE_SWAP != null" >
        <choose >
          <when test="ENABLE_SWAP == emptyBigDecimalValue" >
            ENABLE_SWAP = NULL ,
          </when>
          <otherwise >
            ENABLE_SWAP = #{ENABLE_SWAP},
          </otherwise>
        </choose>
      </if>
      <if test="RISK_RATIO != null" >
        <choose >
          <when test="RISK_RATIO == emptyBigDecimalValue" >
            RISK_RATIO = NULL ,
          </when>
          <otherwise >
            RISK_RATIO = #{RISK_RATIO},
          </otherwise>
        </choose>
      </if>
      <if test="GLOBAL_LIMIT_UTILIZED != null" >
        <choose >
          <when test="GLOBAL_LIMIT_UTILIZED == emptyBigDecimalValue" >
            GLOBAL_LIMIT_UTILIZED = NULL ,
          </when>
          <otherwise >
            GLOBAL_LIMIT_UTILIZED = #{GLOBAL_LIMIT_UTILIZED},
          </otherwise>
        </choose>
      </if>
      DATE_UPDATED = 
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and CIF = #{CIF}
      and CLASS = #{CLASS}
      and COMP_CODE = #{COMP_CODE}
      and DETAILED_FLAG = #{DETAILED_FLAG}
      and FROM_DATE = #{FROM_DATE}
      and PERIODICITY_NBR = #{PERIODICITY_NBR}
      and PERIODICITY_TYPE = #{PERIODICITY_TYPE}
  </sql>
  <update id="updateTRSOBLIGORLIMITDET" parameterType="com.path.dbmaps.vo.TRSOBLIGORLIMITDETVO" >
    <include refid="sql_updateTRSOBLIGORLIMITDET" />
    <if test="DATE_UPDATED != null" >
      AND DATE_UPDATED = #{DATE_UPDATED}
    </if>
  </update>
</mapper>