<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRSOBLIGORLIMIT" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRSOBLIGORLIMITVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="CIF" property="CIF" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <result column="LIMIT" property="LIMIT" />
    <result column="STATUS" property="STATUS" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="DATE_CREATED" property="DATE_CREATED" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="DATE_MODIFIED" property="DATE_MODIFIED" />
    <result column="APPROVED1_BY" property="APPROVED1_BY" />
    <result column="DATE_APPROVED1" property="DATE_APPROVED1" />
    <result column="APPROVED2_BY" property="APPROVED2_BY" />
    <result column="DATE_APPROVED2" property="DATE_APPROVED2" />
    <result column="SUSPENDED_BY" property="SUSPENDED_BY" />
    <result column="DATE_SUSPENDED" property="DATE_SUSPENDED" />
    <result column="REACTIVATED_BY" property="REACTIVATED_BY" />
    <result column="DATE_REACTIVATED" property="DATE_REACTIVATED" />
    <result column="LIMIT_UTILIZATION" property="LIMIT_UTILIZATION" />
    <result column="LIMIT_EXCEED_CREATE" property="LIMIT_EXCEED_CREATE" />
    <result column="LIMIT_EXCEED_APPROVE" property="LIMIT_EXCEED_APPROVE" />
    <result column="LIMIT_CY" property="LIMIT_CY" />
    <result column="MDDR_LIMIT" property="MDDR_LIMIT" />
    <result column="EXPIRY_DATE" property="EXPIRY_DATE" />
    <result column="FX_LIMIT" property="FX_LIMIT" />
    <result column="MM_LIMIT" property="MM_LIMIT" />
    <result column="DATE_UPDATED" property="DATE_UPDATED" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, CIF, COMP_CODE, LIMIT, STATUS, CREATED_BY, DATE_CREATED, MODIFIED_BY, 
    DATE_MODIFIED, APPROVED1_BY, DATE_APPROVED1, APPROVED2_BY, DATE_APPROVED2, SUSPENDED_BY, 
    DATE_SUSPENDED, REACTIVATED_BY, DATE_REACTIVATED, LIMIT_UTILIZATION, LIMIT_EXCEED_CREATE, 
    LIMIT_EXCEED_APPROVE, LIMIT_CY, MDDR_LIMIT, EXPIRY_DATE, FX_LIMIT, MM_LIMIT, DATE_UPDATED
  </sql>
  <select id="selectTRSOBLIGORLIMIT" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRSOBLIGORLIMITVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRSOBLIGORLIMIT
    where BRANCH_CODE = #{BRANCH_CODE}
      and CIF = #{CIF}
      and COMP_CODE = #{COMP_CODE}
  </select>
  <delete id="deleteTRSOBLIGORLIMIT" parameterType="com.path.dbmaps.vo.TRSOBLIGORLIMITVOKey" >
    delete from TRSOBLIGORLIMIT
    where BRANCH_CODE = #{BRANCH_CODE}
      and CIF = #{CIF}
      and COMP_CODE = #{COMP_CODE}
  </delete>
  <insert id="insertTRSOBLIGORLIMIT" parameterType="com.path.dbmaps.vo.TRSOBLIGORLIMITVO" >
    insert into TRSOBLIGORLIMIT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="CIF != null and CIF != emptyBigDecimalValue" >
        CIF,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LIMIT != null and LIMIT != emptyBigDecimalValue" >
        LIMIT,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED,
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY,
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED,
      </if>
      <if test="APPROVED1_BY != null" >
        APPROVED1_BY,
      </if>
      <if test="DATE_APPROVED1 != null" >
        DATE_APPROVED1,
      </if>
      <if test="APPROVED2_BY != null" >
        APPROVED2_BY,
      </if>
      <if test="DATE_APPROVED2 != null" >
        DATE_APPROVED2,
      </if>
      <if test="SUSPENDED_BY != null" >
        SUSPENDED_BY,
      </if>
      <if test="DATE_SUSPENDED != null" >
        DATE_SUSPENDED,
      </if>
      <if test="REACTIVATED_BY != null" >
        REACTIVATED_BY,
      </if>
      <if test="DATE_REACTIVATED != null" >
        DATE_REACTIVATED,
      </if>
      <if test="LIMIT_UTILIZATION != null and LIMIT_UTILIZATION != emptyBigDecimalValue" >
        LIMIT_UTILIZATION,
      </if>
      <if test="LIMIT_EXCEED_CREATE != null" >
        LIMIT_EXCEED_CREATE,
      </if>
      <if test="LIMIT_EXCEED_APPROVE != null" >
        LIMIT_EXCEED_APPROVE,
      </if>
      <if test="LIMIT_CY != null and LIMIT_CY != emptyBigDecimalValue" >
        LIMIT_CY,
      </if>
      <if test="MDDR_LIMIT != null and MDDR_LIMIT != emptyBigDecimalValue" >
        MDDR_LIMIT,
      </if>
      <if test="EXPIRY_DATE != null" >
        EXPIRY_DATE,
      </if>
      <if test="FX_LIMIT != null and FX_LIMIT != emptyBigDecimalValue" >
        FX_LIMIT,
      </if>
      <if test="MM_LIMIT != null and MM_LIMIT != emptyBigDecimalValue" >
        MM_LIMIT,
      </if>
      DATE_UPDATED,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="CIF != null and CIF != emptyBigDecimalValue" >
        #{CIF},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LIMIT != null and LIMIT != emptyBigDecimalValue" >
        #{LIMIT},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="DATE_CREATED != null" >
        #{DATE_CREATED},
      </if>
      <if test="MODIFIED_BY != null" >
        #{MODIFIED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        #{DATE_MODIFIED},
      </if>
      <if test="APPROVED1_BY != null" >
        #{APPROVED1_BY},
      </if>
      <if test="DATE_APPROVED1 != null" >
        #{DATE_APPROVED1},
      </if>
      <if test="APPROVED2_BY != null" >
        #{APPROVED2_BY},
      </if>
      <if test="DATE_APPROVED2 != null" >
        #{DATE_APPROVED2},
      </if>
      <if test="SUSPENDED_BY != null" >
        #{SUSPENDED_BY},
      </if>
      <if test="DATE_SUSPENDED != null" >
        #{DATE_SUSPENDED},
      </if>
      <if test="REACTIVATED_BY != null" >
        #{REACTIVATED_BY},
      </if>
      <if test="DATE_REACTIVATED != null" >
        #{DATE_REACTIVATED},
      </if>
      <if test="LIMIT_UTILIZATION != null and LIMIT_UTILIZATION != emptyBigDecimalValue" >
        #{LIMIT_UTILIZATION},
      </if>
      <if test="LIMIT_EXCEED_CREATE != null" >
        #{LIMIT_EXCEED_CREATE},
      </if>
      <if test="LIMIT_EXCEED_APPROVE != null" >
        #{LIMIT_EXCEED_APPROVE},
      </if>
      <if test="LIMIT_CY != null and LIMIT_CY != emptyBigDecimalValue" >
        #{LIMIT_CY},
      </if>
      <if test="MDDR_LIMIT != null and MDDR_LIMIT != emptyBigDecimalValue" >
        #{MDDR_LIMIT},
      </if>
      <if test="EXPIRY_DATE != null" >
        #{EXPIRY_DATE},
      </if>
      <if test="FX_LIMIT != null and FX_LIMIT != emptyBigDecimalValue" >
        #{FX_LIMIT},
      </if>
      <if test="MM_LIMIT != null and MM_LIMIT != emptyBigDecimalValue" >
        #{MM_LIMIT},
      </if>
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
    </trim>
  </insert>
  <sql id="sql_updateTRSOBLIGORLIMIT" >
    update TRSOBLIGORLIMIT
    <set >
      <if test="LIMIT != null" >
        <choose >
          <when test="LIMIT == emptyBigDecimalValue" >
            LIMIT = NULL ,
          </when>
          <otherwise >
            LIMIT = #{LIMIT},
          </otherwise>
        </choose>
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED = #{DATE_CREATED},
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY = #{MODIFIED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED = #{DATE_MODIFIED},
      </if>
      <if test="APPROVED1_BY != null" >
        APPROVED1_BY = #{APPROVED1_BY},
      </if>
      <if test="DATE_APPROVED1 != null" >
        DATE_APPROVED1 = #{DATE_APPROVED1},
      </if>
      <if test="APPROVED2_BY != null" >
        APPROVED2_BY = #{APPROVED2_BY},
      </if>
      <if test="DATE_APPROVED2 != null" >
        DATE_APPROVED2 = #{DATE_APPROVED2},
      </if>
      <if test="SUSPENDED_BY != null" >
        SUSPENDED_BY = #{SUSPENDED_BY},
      </if>
      <if test="DATE_SUSPENDED != null" >
        DATE_SUSPENDED = #{DATE_SUSPENDED},
      </if>
      <if test="REACTIVATED_BY != null" >
        REACTIVATED_BY = #{REACTIVATED_BY},
      </if>
      <if test="DATE_REACTIVATED != null" >
        DATE_REACTIVATED = #{DATE_REACTIVATED},
      </if>
      <if test="LIMIT_UTILIZATION != null" >
        <choose >
          <when test="LIMIT_UTILIZATION == emptyBigDecimalValue" >
            LIMIT_UTILIZATION = NULL ,
          </when>
          <otherwise >
            LIMIT_UTILIZATION = #{LIMIT_UTILIZATION},
          </otherwise>
        </choose>
      </if>
      <if test="LIMIT_EXCEED_CREATE != null" >
        LIMIT_EXCEED_CREATE = #{LIMIT_EXCEED_CREATE},
      </if>
      <if test="LIMIT_EXCEED_APPROVE != null" >
        LIMIT_EXCEED_APPROVE = #{LIMIT_EXCEED_APPROVE},
      </if>
      <if test="LIMIT_CY != null" >
        <choose >
          <when test="LIMIT_CY == emptyBigDecimalValue" >
            LIMIT_CY = NULL ,
          </when>
          <otherwise >
            LIMIT_CY = #{LIMIT_CY},
          </otherwise>
        </choose>
      </if>
      <if test="MDDR_LIMIT != null" >
        <choose >
          <when test="MDDR_LIMIT == emptyBigDecimalValue" >
            MDDR_LIMIT = NULL ,
          </when>
          <otherwise >
            MDDR_LIMIT = #{MDDR_LIMIT},
          </otherwise>
        </choose>
      </if>
      <if test="EXPIRY_DATE != null" >
        EXPIRY_DATE = #{EXPIRY_DATE},
      </if>
      <if test="FX_LIMIT != null" >
        <choose >
          <when test="FX_LIMIT == emptyBigDecimalValue" >
            FX_LIMIT = NULL ,
          </when>
          <otherwise >
            FX_LIMIT = #{FX_LIMIT},
          </otherwise>
        </choose>
      </if>
      <if test="MM_LIMIT != null" >
        <choose >
          <when test="MM_LIMIT == emptyBigDecimalValue" >
            MM_LIMIT = NULL ,
          </when>
          <otherwise >
            MM_LIMIT = #{MM_LIMIT},
          </otherwise>
        </choose>
      </if>
      DATE_UPDATED = 
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and CIF = #{CIF}
      and COMP_CODE = #{COMP_CODE}
  </sql>
  <update id="updateTRSOBLIGORLIMIT" parameterType="com.path.dbmaps.vo.TRSOBLIGORLIMITVO" >
    <include refid="sql_updateTRSOBLIGORLIMIT" />
    <if test="DATE_UPDATED != null" >
      AND DATE_UPDATED = #{DATE_UPDATED}
    </if>
  </update>
</mapper>