<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRSPROFITDET" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRSPROFITDETVO" >
    <id column="BRANCH" property="BRANCH" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NBR" property="LINE_NBR" />
    <id column="PROFIT_NBR" property="PROFIT_NBR" />
    <result column="TRS_DEAL_SERIAL_NO" property="TRS_DEAL_SERIAL_NO" />
    <result column="TRS_DEAL_IND" property="TRS_DEAL_IND" />
    <result column="TRS_DEAL_FUND_LINE_NO" property="TRS_DEAL_FUND_LINE_NO" />
    <result column="TRS_DEAL_LINE_NO" property="TRS_DEAL_LINE_NO" />
    <result column="PROFIT_RATIO" property="PROFIT_RATIO" />
    <result column="PROFIT_AMOUNT" property="PROFIT_AMOUNT" />
    <result column="PAID_RECEIVABLE" property="PAID_RECEIVABLE" />
    <result column="COLLECTED" property="COLLECTED" />
    <result column="TEMPLATE_CODE" property="TEMPLATE_CODE" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH, COMP_CODE, LINE_NBR, PROFIT_NBR, TRS_DEAL_SERIAL_NO, TRS_DEAL_IND, TRS_DEAL_FUND_LINE_NO, 
    TRS_DEAL_LINE_NO, PROFIT_RATIO, PROFIT_AMOUNT, PAID_RECEIVABLE, COLLECTED, TEMPLATE_CODE
  </sql>
  <select id="selectTRSPROFITDET" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRSPROFITDETVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRSPROFITDET
    where BRANCH = #{BRANCH}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NBR = #{LINE_NBR}
      and PROFIT_NBR = #{PROFIT_NBR}
  </select>
  <delete id="deleteTRSPROFITDET" parameterType="com.path.dbmaps.vo.TRSPROFITDETVOKey" >
    delete from TRSPROFITDET
    where BRANCH = #{BRANCH}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NBR = #{LINE_NBR}
      and PROFIT_NBR = #{PROFIT_NBR}
  </delete>
  <insert id="insertTRSPROFITDET" parameterType="com.path.dbmaps.vo.TRSPROFITDETVO" >
    insert into TRSPROFITDET
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH != null and BRANCH != emptyBigDecimalValue" >
        BRANCH,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NBR != null and LINE_NBR != emptyBigDecimalValue" >
        LINE_NBR,
      </if>
      <if test="PROFIT_NBR != null and PROFIT_NBR != emptyBigDecimalValue" >
        PROFIT_NBR,
      </if>
      <if test="TRS_DEAL_SERIAL_NO != null and TRS_DEAL_SERIAL_NO != emptyBigDecimalValue" >
        TRS_DEAL_SERIAL_NO,
      </if>
      <if test="TRS_DEAL_IND != null" >
        TRS_DEAL_IND,
      </if>
      <if test="TRS_DEAL_FUND_LINE_NO != null and TRS_DEAL_FUND_LINE_NO != emptyBigDecimalValue" >
        TRS_DEAL_FUND_LINE_NO,
      </if>
      <if test="TRS_DEAL_LINE_NO != null and TRS_DEAL_LINE_NO != emptyBigDecimalValue" >
        TRS_DEAL_LINE_NO,
      </if>
      <if test="PROFIT_RATIO != null and PROFIT_RATIO != emptyBigDecimalValue" >
        PROFIT_RATIO,
      </if>
      <if test="PROFIT_AMOUNT != null and PROFIT_AMOUNT != emptyBigDecimalValue" >
        PROFIT_AMOUNT,
      </if>
      <if test="PAID_RECEIVABLE != null" >
        PAID_RECEIVABLE,
      </if>
      <if test="COLLECTED != null" >
        COLLECTED,
      </if>
      <if test="TEMPLATE_CODE != null and TEMPLATE_CODE != emptyBigDecimalValue" >
        TEMPLATE_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH != null and BRANCH != emptyBigDecimalValue" >
        #{BRANCH},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NBR != null and LINE_NBR != emptyBigDecimalValue" >
        #{LINE_NBR},
      </if>
      <if test="PROFIT_NBR != null and PROFIT_NBR != emptyBigDecimalValue" >
        #{PROFIT_NBR},
      </if>
      <if test="TRS_DEAL_SERIAL_NO != null and TRS_DEAL_SERIAL_NO != emptyBigDecimalValue" >
        #{TRS_DEAL_SERIAL_NO},
      </if>
      <if test="TRS_DEAL_IND != null" >
        #{TRS_DEAL_IND},
      </if>
      <if test="TRS_DEAL_FUND_LINE_NO != null and TRS_DEAL_FUND_LINE_NO != emptyBigDecimalValue" >
        #{TRS_DEAL_FUND_LINE_NO},
      </if>
      <if test="TRS_DEAL_LINE_NO != null and TRS_DEAL_LINE_NO != emptyBigDecimalValue" >
        #{TRS_DEAL_LINE_NO},
      </if>
      <if test="PROFIT_RATIO != null and PROFIT_RATIO != emptyBigDecimalValue" >
        #{PROFIT_RATIO},
      </if>
      <if test="PROFIT_AMOUNT != null and PROFIT_AMOUNT != emptyBigDecimalValue" >
        #{PROFIT_AMOUNT},
      </if>
      <if test="PAID_RECEIVABLE != null" >
        #{PAID_RECEIVABLE},
      </if>
      <if test="COLLECTED != null" >
        #{COLLECTED},
      </if>
      <if test="TEMPLATE_CODE != null and TEMPLATE_CODE != emptyBigDecimalValue" >
        #{TEMPLATE_CODE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRSPROFITDET" >
    update TRSPROFITDET
    <set >
      <if test="TRS_DEAL_SERIAL_NO != null" >
        <choose >
          <when test="TRS_DEAL_SERIAL_NO == emptyBigDecimalValue" >
            TRS_DEAL_SERIAL_NO = NULL ,
          </when>
          <otherwise >
            TRS_DEAL_SERIAL_NO = #{TRS_DEAL_SERIAL_NO},
          </otherwise>
        </choose>
      </if>
      <if test="TRS_DEAL_IND != null" >
        TRS_DEAL_IND = #{TRS_DEAL_IND},
      </if>
      <if test="TRS_DEAL_FUND_LINE_NO != null" >
        <choose >
          <when test="TRS_DEAL_FUND_LINE_NO == emptyBigDecimalValue" >
            TRS_DEAL_FUND_LINE_NO = NULL ,
          </when>
          <otherwise >
            TRS_DEAL_FUND_LINE_NO = #{TRS_DEAL_FUND_LINE_NO},
          </otherwise>
        </choose>
      </if>
      <if test="TRS_DEAL_LINE_NO != null" >
        <choose >
          <when test="TRS_DEAL_LINE_NO == emptyBigDecimalValue" >
            TRS_DEAL_LINE_NO = NULL ,
          </when>
          <otherwise >
            TRS_DEAL_LINE_NO = #{TRS_DEAL_LINE_NO},
          </otherwise>
        </choose>
      </if>
      <if test="PROFIT_RATIO != null" >
        <choose >
          <when test="PROFIT_RATIO == emptyBigDecimalValue" >
            PROFIT_RATIO = NULL ,
          </when>
          <otherwise >
            PROFIT_RATIO = #{PROFIT_RATIO},
          </otherwise>
        </choose>
      </if>
      <if test="PROFIT_AMOUNT != null" >
        <choose >
          <when test="PROFIT_AMOUNT == emptyBigDecimalValue" >
            PROFIT_AMOUNT = NULL ,
          </when>
          <otherwise >
            PROFIT_AMOUNT = #{PROFIT_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="PAID_RECEIVABLE != null" >
        PAID_RECEIVABLE = #{PAID_RECEIVABLE},
      </if>
      <if test="COLLECTED != null" >
        COLLECTED = #{COLLECTED},
      </if>
      <if test="TEMPLATE_CODE != null" >
        <choose >
          <when test="TEMPLATE_CODE == emptyBigDecimalValue" >
            TEMPLATE_CODE = NULL ,
          </when>
          <otherwise >
            TEMPLATE_CODE = #{TEMPLATE_CODE},
          </otherwise>
        </choose>
      </if>
    </set>
    where BRANCH = #{BRANCH}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NBR = #{LINE_NBR}
      and PROFIT_NBR = #{PROFIT_NBR}
  </sql>
  <update id="updateTRSPROFITDET" parameterType="com.path.dbmaps.vo.TRSPROFITDETVO" >
    <include refid="sql_updateTRSPROFITDET" />
  </update>
</mapper>