<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRSPAYPLAN_RESCHEDUL_OUTSTAND" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRSPAYPLAN_RESCHEDUL_OUTSTANDVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NBR" property="LINE_NBR" />
    <id column="PLAN_NBR" property="PLAN_NBR" />
    <id column="PLAN_SEQ" property="PLAN_SEQ" />
    <result column="TRX_NBR" property="TRX_NBR" />
    <result column="TRX_TYPE" property="TRX_TYPE" />
    <result column="LINE_NO_FROM" property="LINE_NO_FROM" />
    <result column="LINE_NO_TO" property="LINE_NO_TO" />
    <result column="VALUE_DATE" property="VALUE_DATE" />
    <result column="DEAL_AMOUNT" property="DEAL_AMOUNT" />
    <result column="SETTLED_AMOUNT" property="SETTLED_AMOUNT" />
    <result column="OUTSTANDING_PRINCIPAL" property="OUTSTANDING_PRINCIPAL" />
    <result column="SETTLED_CHARGES" property="SETTLED_CHARGES" />
    <result column="SETTLED_INSURANCE" property="SETTLED_INSURANCE" />
    <result column="OUTSTANDING_CHARGES" property="OUTSTANDING_CHARGES" />
    <result column="OUTSTANDING_INSURANCE" property="OUTSTANDING_INSURANCE" />
    <result column="TOTAL_YIELD" property="TOTAL_YIELD" />
    <result column="STATUS" property="STATUS" />
    <result column="CREATED_DATE" property="CREATED_DATE" />
    <result column="PROCESSED_DATE" property="PROCESSED_DATE" />
    <result column="CREATED_SERVER_DATE" property="CREATED_SERVER_DATE" />
    <result column="PROCESSED_SERVER_DATE" property="PROCESSED_SERVER_DATE" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="REVERSED_DATE" property="REVERSED_DATE" />
    <result column="REVERSED_BY" property="REVERSED_BY" />
    <result column="REVERSED_SERVER_DATETIME" property="REVERSED_SERVER_DATETIME" />
    <result column="PROCESSED_BY" property="PROCESSED_BY" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, LINE_NBR, PLAN_NBR, PLAN_SEQ, TRX_NBR, TRX_TYPE, LINE_NO_FROM, 
    LINE_NO_TO, VALUE_DATE, DEAL_AMOUNT, SETTLED_AMOUNT, OUTSTANDING_PRINCIPAL, SETTLED_CHARGES, 
    SETTLED_INSURANCE, OUTSTANDING_CHARGES, OUTSTANDING_INSURANCE, TOTAL_YIELD, STATUS, 
    CREATED_DATE, PROCESSED_DATE, CREATED_SERVER_DATE, PROCESSED_SERVER_DATE, CREATED_BY, 
    REVERSED_DATE, REVERSED_BY, REVERSED_SERVER_DATETIME, PROCESSED_BY
  </sql>
  <select id="selectTRSPAYPLAN_RESCHEDUL_OUTSTAND" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRSPAYPLAN_RESCHEDUL_OUTSTANDVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRSPAYPLAN_RESCHEDUL_OUTSTAND
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NBR = #{LINE_NBR}
      and PLAN_NBR = #{PLAN_NBR}
      and PLAN_SEQ = #{PLAN_SEQ}
  </select>
  <delete id="deleteTRSPAYPLAN_RESCHEDUL_OUTSTAND" parameterType="com.path.dbmaps.vo.TRSPAYPLAN_RESCHEDUL_OUTSTANDVOKey" >
    delete from TRSPAYPLAN_RESCHEDUL_OUTSTAND
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NBR = #{LINE_NBR}
      and PLAN_NBR = #{PLAN_NBR}
      and PLAN_SEQ = #{PLAN_SEQ}
  </delete>
  <insert id="insertTRSPAYPLAN_RESCHEDUL_OUTSTAND" parameterType="com.path.dbmaps.vo.TRSPAYPLAN_RESCHEDUL_OUTSTANDVO" >
    insert into TRSPAYPLAN_RESCHEDUL_OUTSTAND
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NBR != null and LINE_NBR != emptyBigDecimalValue" >
        LINE_NBR,
      </if>
      <if test="PLAN_NBR != null and PLAN_NBR != emptyBigDecimalValue" >
        PLAN_NBR,
      </if>
      <if test="PLAN_SEQ != null and PLAN_SEQ != emptyBigDecimalValue" >
        PLAN_SEQ,
      </if>
      <if test="TRX_NBR != null and TRX_NBR != emptyBigDecimalValue" >
        TRX_NBR,
      </if>
      <if test="TRX_TYPE != null" >
        TRX_TYPE,
      </if>
      <if test="LINE_NO_FROM != null and LINE_NO_FROM != emptyBigDecimalValue" >
        LINE_NO_FROM,
      </if>
      <if test="LINE_NO_TO != null and LINE_NO_TO != emptyBigDecimalValue" >
        LINE_NO_TO,
      </if>
      <if test="VALUE_DATE != null" >
        VALUE_DATE,
      </if>
      <if test="DEAL_AMOUNT != null and DEAL_AMOUNT != emptyBigDecimalValue" >
        DEAL_AMOUNT,
      </if>
      <if test="SETTLED_AMOUNT != null and SETTLED_AMOUNT != emptyBigDecimalValue" >
        SETTLED_AMOUNT,
      </if>
      <if test="OUTSTANDING_PRINCIPAL != null and OUTSTANDING_PRINCIPAL != emptyBigDecimalValue" >
        OUTSTANDING_PRINCIPAL,
      </if>
      <if test="SETTLED_CHARGES != null and SETTLED_CHARGES != emptyBigDecimalValue" >
        SETTLED_CHARGES,
      </if>
      <if test="SETTLED_INSURANCE != null and SETTLED_INSURANCE != emptyBigDecimalValue" >
        SETTLED_INSURANCE,
      </if>
      <if test="OUTSTANDING_CHARGES != null and OUTSTANDING_CHARGES != emptyBigDecimalValue" >
        OUTSTANDING_CHARGES,
      </if>
      <if test="OUTSTANDING_INSURANCE != null and OUTSTANDING_INSURANCE != emptyBigDecimalValue" >
        OUTSTANDING_INSURANCE,
      </if>
      <if test="TOTAL_YIELD != null and TOTAL_YIELD != emptyBigDecimalValue" >
        TOTAL_YIELD,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE,
      </if>
      <if test="PROCESSED_DATE != null" >
        PROCESSED_DATE,
      </if>
      <if test="CREATED_SERVER_DATE != null" >
        CREATED_SERVER_DATE,
      </if>
      <if test="PROCESSED_SERVER_DATE != null" >
        PROCESSED_SERVER_DATE,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="REVERSED_DATE != null" >
        REVERSED_DATE,
      </if>
      <if test="REVERSED_BY != null" >
        REVERSED_BY,
      </if>
      <if test="REVERSED_SERVER_DATETIME != null" >
        REVERSED_SERVER_DATETIME,
      </if>
      <if test="PROCESSED_BY != null" >
        PROCESSED_BY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NBR != null and LINE_NBR != emptyBigDecimalValue" >
        #{LINE_NBR},
      </if>
      <if test="PLAN_NBR != null and PLAN_NBR != emptyBigDecimalValue" >
        #{PLAN_NBR},
      </if>
      <if test="PLAN_SEQ != null and PLAN_SEQ != emptyBigDecimalValue" >
        #{PLAN_SEQ},
      </if>
      <if test="TRX_NBR != null and TRX_NBR != emptyBigDecimalValue" >
        #{TRX_NBR},
      </if>
      <if test="TRX_TYPE != null" >
        #{TRX_TYPE},
      </if>
      <if test="LINE_NO_FROM != null and LINE_NO_FROM != emptyBigDecimalValue" >
        #{LINE_NO_FROM},
      </if>
      <if test="LINE_NO_TO != null and LINE_NO_TO != emptyBigDecimalValue" >
        #{LINE_NO_TO},
      </if>
      <if test="VALUE_DATE != null" >
        #{VALUE_DATE},
      </if>
      <if test="DEAL_AMOUNT != null and DEAL_AMOUNT != emptyBigDecimalValue" >
        #{DEAL_AMOUNT},
      </if>
      <if test="SETTLED_AMOUNT != null and SETTLED_AMOUNT != emptyBigDecimalValue" >
        #{SETTLED_AMOUNT},
      </if>
      <if test="OUTSTANDING_PRINCIPAL != null and OUTSTANDING_PRINCIPAL != emptyBigDecimalValue" >
        #{OUTSTANDING_PRINCIPAL},
      </if>
      <if test="SETTLED_CHARGES != null and SETTLED_CHARGES != emptyBigDecimalValue" >
        #{SETTLED_CHARGES},
      </if>
      <if test="SETTLED_INSURANCE != null and SETTLED_INSURANCE != emptyBigDecimalValue" >
        #{SETTLED_INSURANCE},
      </if>
      <if test="OUTSTANDING_CHARGES != null and OUTSTANDING_CHARGES != emptyBigDecimalValue" >
        #{OUTSTANDING_CHARGES},
      </if>
      <if test="OUTSTANDING_INSURANCE != null and OUTSTANDING_INSURANCE != emptyBigDecimalValue" >
        #{OUTSTANDING_INSURANCE},
      </if>
      <if test="TOTAL_YIELD != null and TOTAL_YIELD != emptyBigDecimalValue" >
        #{TOTAL_YIELD},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="CREATED_DATE != null" >
        #{CREATED_DATE},
      </if>
      <if test="PROCESSED_DATE != null" >
        #{PROCESSED_DATE},
      </if>
      <if test="CREATED_SERVER_DATE != null" >
        #{CREATED_SERVER_DATE},
      </if>
      <if test="PROCESSED_SERVER_DATE != null" >
        #{PROCESSED_SERVER_DATE},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="REVERSED_DATE != null" >
        #{REVERSED_DATE},
      </if>
      <if test="REVERSED_BY != null" >
        #{REVERSED_BY},
      </if>
      <if test="REVERSED_SERVER_DATETIME != null" >
        #{REVERSED_SERVER_DATETIME},
      </if>
      <if test="PROCESSED_BY != null" >
        #{PROCESSED_BY},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRSPAYPLAN_RESCHEDUL_OUTSTAND" >
    update TRSPAYPLAN_RESCHEDUL_OUTSTAND
    <set >
      <if test="TRX_NBR != null" >
        <choose >
          <when test="TRX_NBR == emptyBigDecimalValue" >
            TRX_NBR = NULL ,
          </when>
          <otherwise >
            TRX_NBR = #{TRX_NBR},
          </otherwise>
        </choose>
      </if>
      <if test="TRX_TYPE != null" >
        TRX_TYPE = #{TRX_TYPE},
      </if>
      <if test="LINE_NO_FROM != null" >
        <choose >
          <when test="LINE_NO_FROM == emptyBigDecimalValue" >
            LINE_NO_FROM = NULL ,
          </when>
          <otherwise >
            LINE_NO_FROM = #{LINE_NO_FROM},
          </otherwise>
        </choose>
      </if>
      <if test="LINE_NO_TO != null" >
        <choose >
          <when test="LINE_NO_TO == emptyBigDecimalValue" >
            LINE_NO_TO = NULL ,
          </when>
          <otherwise >
            LINE_NO_TO = #{LINE_NO_TO},
          </otherwise>
        </choose>
      </if>
      <if test="VALUE_DATE != null" >
        VALUE_DATE = #{VALUE_DATE},
      </if>
      <if test="DEAL_AMOUNT != null" >
        <choose >
          <when test="DEAL_AMOUNT == emptyBigDecimalValue" >
            DEAL_AMOUNT = NULL ,
          </when>
          <otherwise >
            DEAL_AMOUNT = #{DEAL_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="SETTLED_AMOUNT != null" >
        <choose >
          <when test="SETTLED_AMOUNT == emptyBigDecimalValue" >
            SETTLED_AMOUNT = NULL ,
          </when>
          <otherwise >
            SETTLED_AMOUNT = #{SETTLED_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="OUTSTANDING_PRINCIPAL != null" >
        <choose >
          <when test="OUTSTANDING_PRINCIPAL == emptyBigDecimalValue" >
            OUTSTANDING_PRINCIPAL = NULL ,
          </when>
          <otherwise >
            OUTSTANDING_PRINCIPAL = #{OUTSTANDING_PRINCIPAL},
          </otherwise>
        </choose>
      </if>
      <if test="SETTLED_CHARGES != null" >
        <choose >
          <when test="SETTLED_CHARGES == emptyBigDecimalValue" >
            SETTLED_CHARGES = NULL ,
          </when>
          <otherwise >
            SETTLED_CHARGES = #{SETTLED_CHARGES},
          </otherwise>
        </choose>
      </if>
      <if test="SETTLED_INSURANCE != null" >
        <choose >
          <when test="SETTLED_INSURANCE == emptyBigDecimalValue" >
            SETTLED_INSURANCE = NULL ,
          </when>
          <otherwise >
            SETTLED_INSURANCE = #{SETTLED_INSURANCE},
          </otherwise>
        </choose>
      </if>
      <if test="OUTSTANDING_CHARGES != null" >
        <choose >
          <when test="OUTSTANDING_CHARGES == emptyBigDecimalValue" >
            OUTSTANDING_CHARGES = NULL ,
          </when>
          <otherwise >
            OUTSTANDING_CHARGES = #{OUTSTANDING_CHARGES},
          </otherwise>
        </choose>
      </if>
      <if test="OUTSTANDING_INSURANCE != null" >
        <choose >
          <when test="OUTSTANDING_INSURANCE == emptyBigDecimalValue" >
            OUTSTANDING_INSURANCE = NULL ,
          </when>
          <otherwise >
            OUTSTANDING_INSURANCE = #{OUTSTANDING_INSURANCE},
          </otherwise>
        </choose>
      </if>
      <if test="TOTAL_YIELD != null" >
        <choose >
          <when test="TOTAL_YIELD == emptyBigDecimalValue" >
            TOTAL_YIELD = NULL ,
          </when>
          <otherwise >
            TOTAL_YIELD = #{TOTAL_YIELD},
          </otherwise>
        </choose>
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE = #{CREATED_DATE},
      </if>
      <if test="PROCESSED_DATE != null" >
        PROCESSED_DATE = #{PROCESSED_DATE},
      </if>
      <if test="CREATED_SERVER_DATE != null" >
        CREATED_SERVER_DATE = #{CREATED_SERVER_DATE},
      </if>
      <if test="PROCESSED_SERVER_DATE != null" >
        PROCESSED_SERVER_DATE = #{PROCESSED_SERVER_DATE},
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="REVERSED_DATE != null" >
        REVERSED_DATE = #{REVERSED_DATE},
      </if>
      <if test="REVERSED_BY != null" >
        REVERSED_BY = #{REVERSED_BY},
      </if>
      <if test="REVERSED_SERVER_DATETIME != null" >
        REVERSED_SERVER_DATETIME = #{REVERSED_SERVER_DATETIME},
      </if>
      <if test="PROCESSED_BY != null" >
        PROCESSED_BY = #{PROCESSED_BY},
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NBR = #{LINE_NBR}
      and PLAN_NBR = #{PLAN_NBR}
      and PLAN_SEQ = #{PLAN_SEQ}
  </sql>
  <update id="updateTRSPAYPLAN_RESCHEDUL_OUTSTAND" parameterType="com.path.dbmaps.vo.TRSPAYPLAN_RESCHEDUL_OUTSTANDVO" >
    <include refid="sql_updateTRSPAYPLAN_RESCHEDUL_OUTSTAND" />
  </update>
</mapper>