<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRSPENALTY" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRSPENALTYVO" >
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="PENALTY_CODE" property="PENALTY_CODE" />
    <result column="BRIEF_NAME_ENG" property="BRIEF_NAME_ENG" />
    <result column="LONG_NAME_ENG" property="LONG_NAME_ENG" />
    <result column="BRIEF_NAME_ARAB" property="BRIEF_NAME_ARAB" />
    <result column="LONG_NAME_ARAB" property="LONG_NAME_ARAB" />
    <result column="PENALTY_TYPE" property="PENALTY_TYPE" />
    <result column="PENALTY_TYPE_AFTER_MATURITY" property="PENALTY_TYPE_AFTER_MATURITY" />
    <result column="MINIMUM_AMOUNT" property="MINIMUM_AMOUNT" />
    <result column="CHARGES_CODE" property="CHARGES_CODE" />
    <result column="COLLECT_PENALTY_AT" property="COLLECT_PENALTY_AT" />
    <result column="PERC_ACTL_PERIOD_AFT_MAT_YN" property="PERC_ACTL_PERIOD_AFT_MAT_YN" />
    <result column="PENALTY_CALC_BASED_ON" property="PENALTY_CALC_BASED_ON" />
    <result column="PER_INSTANCE_AMOUNT" property="PER_INSTANCE_AMOUNT" />
    <result column="PER_INSTANCE_TYPE" property="PER_INSTANCE_TYPE" />
    <result column="PER_INSTANCE_NUMBER" property="PER_INSTANCE_NUMBER" />
    <result column="CALC_PENLTY_FRM_DISB_VAL_DT_YN" property="CALC_PENLTY_FRM_DISB_VAL_DT_YN" />
  </resultMap>
  <sql id="Base_Column_List" >
    COMP_CODE, PENALTY_CODE, BRIEF_NAME_ENG, LONG_NAME_ENG, BRIEF_NAME_ARAB, LONG_NAME_ARAB, 
    PENALTY_TYPE, PENALTY_TYPE_AFTER_MATURITY, MINIMUM_AMOUNT, CHARGES_CODE, COLLECT_PENALTY_AT, 
    PERC_ACTL_PERIOD_AFT_MAT_YN, PENALTY_CALC_BASED_ON, PER_INSTANCE_AMOUNT, PER_INSTANCE_TYPE, 
    PER_INSTANCE_NUMBER, CALC_PENLTY_FRM_DISB_VAL_DT_YN
  </sql>
  <select id="selectTRSPENALTY" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRSPENALTYVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRSPENALTY
    where COMP_CODE = #{COMP_CODE}
      and PENALTY_CODE = #{PENALTY_CODE}
  </select>
  <delete id="deleteTRSPENALTY" parameterType="com.path.dbmaps.vo.TRSPENALTYVOKey" >
    delete from TRSPENALTY
    where COMP_CODE = #{COMP_CODE}
      and PENALTY_CODE = #{PENALTY_CODE}
  </delete>
  <insert id="insertTRSPENALTY" parameterType="com.path.dbmaps.vo.TRSPENALTYVO" >
    insert into TRSPENALTY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="PENALTY_CODE != null and PENALTY_CODE != emptyBigDecimalValue" >
        PENALTY_CODE,
      </if>
      <if test="BRIEF_NAME_ENG != null" >
        BRIEF_NAME_ENG,
      </if>
      <if test="LONG_NAME_ENG != null" >
        LONG_NAME_ENG,
      </if>
      <if test="BRIEF_NAME_ARAB != null" >
        BRIEF_NAME_ARAB,
      </if>
      <if test="LONG_NAME_ARAB != null" >
        LONG_NAME_ARAB,
      </if>
      <if test="PENALTY_TYPE != null" >
        PENALTY_TYPE,
      </if>
      <if test="PENALTY_TYPE_AFTER_MATURITY != null" >
        PENALTY_TYPE_AFTER_MATURITY,
      </if>
      <if test="MINIMUM_AMOUNT != null and MINIMUM_AMOUNT != emptyBigDecimalValue" >
        MINIMUM_AMOUNT,
      </if>
      <if test="CHARGES_CODE != null and CHARGES_CODE != emptyBigDecimalValue" >
        CHARGES_CODE,
      </if>
      <if test="COLLECT_PENALTY_AT != null" >
        COLLECT_PENALTY_AT,
      </if>
      <if test="PERC_ACTL_PERIOD_AFT_MAT_YN != null" >
        PERC_ACTL_PERIOD_AFT_MAT_YN,
      </if>
      <if test="PENALTY_CALC_BASED_ON != null and PENALTY_CALC_BASED_ON != emptyBigDecimalValue" >
        PENALTY_CALC_BASED_ON,
      </if>
      <if test="PER_INSTANCE_AMOUNT != null and PER_INSTANCE_AMOUNT != emptyBigDecimalValue" >
        PER_INSTANCE_AMOUNT,
      </if>
      <if test="PER_INSTANCE_TYPE != null" >
        PER_INSTANCE_TYPE,
      </if>
      <if test="PER_INSTANCE_NUMBER != null and PER_INSTANCE_NUMBER != emptyBigDecimalValue" >
        PER_INSTANCE_NUMBER,
      </if>
      <if test="CALC_PENLTY_FRM_DISB_VAL_DT_YN != null" >
        CALC_PENLTY_FRM_DISB_VAL_DT_YN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="PENALTY_CODE != null and PENALTY_CODE != emptyBigDecimalValue" >
        #{PENALTY_CODE},
      </if>
      <if test="BRIEF_NAME_ENG != null" >
        #{BRIEF_NAME_ENG},
      </if>
      <if test="LONG_NAME_ENG != null" >
        #{LONG_NAME_ENG},
      </if>
      <if test="BRIEF_NAME_ARAB != null" >
        #{BRIEF_NAME_ARAB},
      </if>
      <if test="LONG_NAME_ARAB != null" >
        #{LONG_NAME_ARAB},
      </if>
      <if test="PENALTY_TYPE != null" >
        #{PENALTY_TYPE},
      </if>
      <if test="PENALTY_TYPE_AFTER_MATURITY != null" >
        #{PENALTY_TYPE_AFTER_MATURITY},
      </if>
      <if test="MINIMUM_AMOUNT != null and MINIMUM_AMOUNT != emptyBigDecimalValue" >
        #{MINIMUM_AMOUNT},
      </if>
      <if test="CHARGES_CODE != null and CHARGES_CODE != emptyBigDecimalValue" >
        #{CHARGES_CODE},
      </if>
      <if test="COLLECT_PENALTY_AT != null" >
        #{COLLECT_PENALTY_AT},
      </if>
      <if test="PERC_ACTL_PERIOD_AFT_MAT_YN != null" >
        #{PERC_ACTL_PERIOD_AFT_MAT_YN},
      </if>
      <if test="PENALTY_CALC_BASED_ON != null and PENALTY_CALC_BASED_ON != emptyBigDecimalValue" >
        #{PENALTY_CALC_BASED_ON},
      </if>
      <if test="PER_INSTANCE_AMOUNT != null and PER_INSTANCE_AMOUNT != emptyBigDecimalValue" >
        #{PER_INSTANCE_AMOUNT},
      </if>
      <if test="PER_INSTANCE_TYPE != null" >
        #{PER_INSTANCE_TYPE},
      </if>
      <if test="PER_INSTANCE_NUMBER != null and PER_INSTANCE_NUMBER != emptyBigDecimalValue" >
        #{PER_INSTANCE_NUMBER},
      </if>
      <if test="CALC_PENLTY_FRM_DISB_VAL_DT_YN != null" >
        #{CALC_PENLTY_FRM_DISB_VAL_DT_YN},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRSPENALTY" >
    update TRSPENALTY
    <set >
      <if test="BRIEF_NAME_ENG != null" >
        BRIEF_NAME_ENG = #{BRIEF_NAME_ENG},
      </if>
      <if test="LONG_NAME_ENG != null" >
        LONG_NAME_ENG = #{LONG_NAME_ENG},
      </if>
      <if test="BRIEF_NAME_ARAB != null" >
        BRIEF_NAME_ARAB = #{BRIEF_NAME_ARAB},
      </if>
      <if test="LONG_NAME_ARAB != null" >
        LONG_NAME_ARAB = #{LONG_NAME_ARAB},
      </if>
      <if test="PENALTY_TYPE != null" >
        PENALTY_TYPE = #{PENALTY_TYPE},
      </if>
      <if test="PENALTY_TYPE_AFTER_MATURITY != null" >
        PENALTY_TYPE_AFTER_MATURITY = #{PENALTY_TYPE_AFTER_MATURITY},
      </if>
      <if test="MINIMUM_AMOUNT != null" >
        <choose >
          <when test="MINIMUM_AMOUNT == emptyBigDecimalValue" >
            MINIMUM_AMOUNT = NULL ,
          </when>
          <otherwise >
            MINIMUM_AMOUNT = #{MINIMUM_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="CHARGES_CODE != null" >
        <choose >
          <when test="CHARGES_CODE == emptyBigDecimalValue" >
            CHARGES_CODE = NULL ,
          </when>
          <otherwise >
            CHARGES_CODE = #{CHARGES_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="COLLECT_PENALTY_AT != null" >
        COLLECT_PENALTY_AT = #{COLLECT_PENALTY_AT},
      </if>
      <if test="PERC_ACTL_PERIOD_AFT_MAT_YN != null" >
        PERC_ACTL_PERIOD_AFT_MAT_YN = #{PERC_ACTL_PERIOD_AFT_MAT_YN},
      </if>
      <if test="PENALTY_CALC_BASED_ON != null" >
        <choose >
          <when test="PENALTY_CALC_BASED_ON == emptyBigDecimalValue" >
            PENALTY_CALC_BASED_ON = NULL ,
          </when>
          <otherwise >
            PENALTY_CALC_BASED_ON = #{PENALTY_CALC_BASED_ON},
          </otherwise>
        </choose>
      </if>
      <if test="PER_INSTANCE_AMOUNT != null" >
        <choose >
          <when test="PER_INSTANCE_AMOUNT == emptyBigDecimalValue" >
            PER_INSTANCE_AMOUNT = NULL ,
          </when>
          <otherwise >
            PER_INSTANCE_AMOUNT = #{PER_INSTANCE_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="PER_INSTANCE_TYPE != null" >
        PER_INSTANCE_TYPE = #{PER_INSTANCE_TYPE},
      </if>
      <if test="PER_INSTANCE_NUMBER != null" >
        <choose >
          <when test="PER_INSTANCE_NUMBER == emptyBigDecimalValue" >
            PER_INSTANCE_NUMBER = NULL ,
          </when>
          <otherwise >
            PER_INSTANCE_NUMBER = #{PER_INSTANCE_NUMBER},
          </otherwise>
        </choose>
      </if>
      <if test="CALC_PENLTY_FRM_DISB_VAL_DT_YN != null" >
        CALC_PENLTY_FRM_DISB_VAL_DT_YN = #{CALC_PENLTY_FRM_DISB_VAL_DT_YN},
      </if>
    </set>
    where COMP_CODE = #{COMP_CODE}
      and PENALTY_CODE = #{PENALTY_CODE}
  </sql>
  <update id="updateTRSPENALTY" parameterType="com.path.dbmaps.vo.TRSPENALTYVO" >
    <include refid="sql_updateTRSPENALTY" />
  </update>
</mapper>