<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRSPAYPLAN_NIDC_DET_CALC" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRSPAYPLAN_NIDC_DET_CALCVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NO" property="LINE_NO" />
    <id column="TRS_NO" property="TRS_NO" />
    <result column="CERTIFICATE_NO" property="CERTIFICATE_NO" />
    <result column="TENOR_PERIODICITY_NBR" property="TENOR_PERIODICITY_NBR" />
    <result column="TENOR_PERIODICITY_TYPE" property="TENOR_PERIODICITY_TYPE" />
    <result column="NOMINAL_AMOUNT" property="NOMINAL_AMOUNT" />
    <result column="PROFIT_RATE" property="PROFIT_RATE" />
    <result column="PRICE" property="PRICE" />
    <result column="PROCEED_AMOUNT" property="PROCEED_AMOUNT" />
    <result column="EXPENSES" property="EXPENSES" />
    <result column="NIDC_HOLDER_CIF" property="NIDC_HOLDER_CIF" />
    <result column="SETTLED_YN" property="SETTLED_YN" />
    <result column="ACCRUED_PROFIT" property="ACCRUED_PROFIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, LINE_NO, TRS_NO, CERTIFICATE_NO, TENOR_PERIODICITY_NBR, TENOR_PERIODICITY_TYPE, 
    NOMINAL_AMOUNT, PROFIT_RATE, PRICE, PROCEED_AMOUNT, EXPENSES, NIDC_HOLDER_CIF, SETTLED_YN, 
    ACCRUED_PROFIT
  </sql>
  <select id="selectTRSPAYPLAN_NIDC_DET_CALC" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRSPAYPLAN_NIDC_DET_CALCVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRSPAYPLAN_NIDC_DET_CALC
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and TRS_NO = #{TRS_NO}
  </select>
  <delete id="deleteTRSPAYPLAN_NIDC_DET_CALC" parameterType="com.path.dbmaps.vo.TRSPAYPLAN_NIDC_DET_CALCVOKey" >
    delete from TRSPAYPLAN_NIDC_DET_CALC
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and TRS_NO = #{TRS_NO}
  </delete>
  <insert id="insertTRSPAYPLAN_NIDC_DET_CALC" parameterType="com.path.dbmaps.vo.TRSPAYPLAN_NIDC_DET_CALCVO" >
    insert into TRSPAYPLAN_NIDC_DET_CALC
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="TRS_NO != null and TRS_NO != emptyBigDecimalValue" >
        TRS_NO,
      </if>
      <if test="CERTIFICATE_NO != null and CERTIFICATE_NO != emptyBigDecimalValue" >
        CERTIFICATE_NO,
      </if>
      <if test="TENOR_PERIODICITY_NBR != null and TENOR_PERIODICITY_NBR != emptyBigDecimalValue" >
        TENOR_PERIODICITY_NBR,
      </if>
      <if test="TENOR_PERIODICITY_TYPE != null" >
        TENOR_PERIODICITY_TYPE,
      </if>
      <if test="NOMINAL_AMOUNT != null and NOMINAL_AMOUNT != emptyBigDecimalValue" >
        NOMINAL_AMOUNT,
      </if>
      <if test="PROFIT_RATE != null and PROFIT_RATE != emptyBigDecimalValue" >
        PROFIT_RATE,
      </if>
      <if test="PRICE != null and PRICE != emptyBigDecimalValue" >
        PRICE,
      </if>
      <if test="PROCEED_AMOUNT != null and PROCEED_AMOUNT != emptyBigDecimalValue" >
        PROCEED_AMOUNT,
      </if>
      <if test="EXPENSES != null and EXPENSES != emptyBigDecimalValue" >
        EXPENSES,
      </if>
      <if test="NIDC_HOLDER_CIF != null and NIDC_HOLDER_CIF != emptyBigDecimalValue" >
        NIDC_HOLDER_CIF,
      </if>
      <if test="SETTLED_YN != null" >
        SETTLED_YN,
      </if>
      <if test="ACCRUED_PROFIT != null and ACCRUED_PROFIT != emptyBigDecimalValue" >
        ACCRUED_PROFIT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="TRS_NO != null and TRS_NO != emptyBigDecimalValue" >
        #{TRS_NO},
      </if>
      <if test="CERTIFICATE_NO != null and CERTIFICATE_NO != emptyBigDecimalValue" >
        #{CERTIFICATE_NO},
      </if>
      <if test="TENOR_PERIODICITY_NBR != null and TENOR_PERIODICITY_NBR != emptyBigDecimalValue" >
        #{TENOR_PERIODICITY_NBR},
      </if>
      <if test="TENOR_PERIODICITY_TYPE != null" >
        #{TENOR_PERIODICITY_TYPE},
      </if>
      <if test="NOMINAL_AMOUNT != null and NOMINAL_AMOUNT != emptyBigDecimalValue" >
        #{NOMINAL_AMOUNT},
      </if>
      <if test="PROFIT_RATE != null and PROFIT_RATE != emptyBigDecimalValue" >
        #{PROFIT_RATE},
      </if>
      <if test="PRICE != null and PRICE != emptyBigDecimalValue" >
        #{PRICE},
      </if>
      <if test="PROCEED_AMOUNT != null and PROCEED_AMOUNT != emptyBigDecimalValue" >
        #{PROCEED_AMOUNT},
      </if>
      <if test="EXPENSES != null and EXPENSES != emptyBigDecimalValue" >
        #{EXPENSES},
      </if>
      <if test="NIDC_HOLDER_CIF != null and NIDC_HOLDER_CIF != emptyBigDecimalValue" >
        #{NIDC_HOLDER_CIF},
      </if>
      <if test="SETTLED_YN != null" >
        #{SETTLED_YN},
      </if>
      <if test="ACCRUED_PROFIT != null and ACCRUED_PROFIT != emptyBigDecimalValue" >
        #{ACCRUED_PROFIT},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRSPAYPLAN_NIDC_DET_CALC" >
    update TRSPAYPLAN_NIDC_DET_CALC
    <set >
      <if test="CERTIFICATE_NO != null" >
        <choose >
          <when test="CERTIFICATE_NO == emptyBigDecimalValue" >
            CERTIFICATE_NO = NULL ,
          </when>
          <otherwise >
            CERTIFICATE_NO = #{CERTIFICATE_NO},
          </otherwise>
        </choose>
      </if>
      <if test="TENOR_PERIODICITY_NBR != null" >
        <choose >
          <when test="TENOR_PERIODICITY_NBR == emptyBigDecimalValue" >
            TENOR_PERIODICITY_NBR = NULL ,
          </when>
          <otherwise >
            TENOR_PERIODICITY_NBR = #{TENOR_PERIODICITY_NBR},
          </otherwise>
        </choose>
      </if>
      <if test="TENOR_PERIODICITY_TYPE != null" >
        TENOR_PERIODICITY_TYPE = #{TENOR_PERIODICITY_TYPE},
      </if>
      <if test="NOMINAL_AMOUNT != null" >
        <choose >
          <when test="NOMINAL_AMOUNT == emptyBigDecimalValue" >
            NOMINAL_AMOUNT = NULL ,
          </when>
          <otherwise >
            NOMINAL_AMOUNT = #{NOMINAL_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="PROFIT_RATE != null" >
        <choose >
          <when test="PROFIT_RATE == emptyBigDecimalValue" >
            PROFIT_RATE = NULL ,
          </when>
          <otherwise >
            PROFIT_RATE = #{PROFIT_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="PRICE != null" >
        <choose >
          <when test="PRICE == emptyBigDecimalValue" >
            PRICE = NULL ,
          </when>
          <otherwise >
            PRICE = #{PRICE},
          </otherwise>
        </choose>
      </if>
      <if test="PROCEED_AMOUNT != null" >
        <choose >
          <when test="PROCEED_AMOUNT == emptyBigDecimalValue" >
            PROCEED_AMOUNT = NULL ,
          </when>
          <otherwise >
            PROCEED_AMOUNT = #{PROCEED_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="EXPENSES != null" >
        <choose >
          <when test="EXPENSES == emptyBigDecimalValue" >
            EXPENSES = NULL ,
          </when>
          <otherwise >
            EXPENSES = #{EXPENSES},
          </otherwise>
        </choose>
      </if>
      <if test="NIDC_HOLDER_CIF != null" >
        <choose >
          <when test="NIDC_HOLDER_CIF == emptyBigDecimalValue" >
            NIDC_HOLDER_CIF = NULL ,
          </when>
          <otherwise >
            NIDC_HOLDER_CIF = #{NIDC_HOLDER_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="SETTLED_YN != null" >
        SETTLED_YN = #{SETTLED_YN},
      </if>
      <if test="ACCRUED_PROFIT != null" >
        <choose >
          <when test="ACCRUED_PROFIT == emptyBigDecimalValue" >
            ACCRUED_PROFIT = NULL ,
          </when>
          <otherwise >
            ACCRUED_PROFIT = #{ACCRUED_PROFIT},
          </otherwise>
        </choose>
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and TRS_NO = #{TRS_NO}
  </sql>
  <update id="updateTRSPAYPLAN_NIDC_DET_CALC" parameterType="com.path.dbmaps.vo.TRSPAYPLAN_NIDC_DET_CALCVO" >
    <include refid="sql_updateTRSPAYPLAN_NIDC_DET_CALC" />
  </update>
</mapper>