<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRSROSTER_REGISTER_DET" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRSROSTER_REGISTER_DETVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="ENTITY_TYPE" property="ENTITY_TYPE" />
    <id column="LINE_NO" property="LINE_NO" />
    <result column="ENTITY_CODE" property="ENTITY_CODE" />
    <result column="CURRENCY_TYPE" property="CURRENCY_TYPE" />
    <result column="CURRENCY_CODE" property="CURRENCY_CODE" />
    <result column="ROSTER_CODE_YIELD" property="ROSTER_CODE_YIELD" />
    <result column="ROSTER_CODE_MODARIB" property="ROSTER_CODE_MODARIB" />
    <result column="FROM_DATE" property="FROM_DATE" />
    <result column="TO_DATE" property="TO_DATE" />
    <result column="STATUS" property="STATUS" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="DATE_CREATED" property="DATE_CREATED" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="DATE_MODIFIED" property="DATE_MODIFIED" />
    <result column="APPROVED_BY" property="APPROVED_BY" />
    <result column="DATE_APPROVED" property="DATE_APPROVED" />
    <result column="SUSPENDED_BY" property="SUSPENDED_BY" />
    <result column="DATE_SUSPENDED" property="DATE_SUSPENDED" />
    <result column="REACTIVATED_BY" property="REACTIVATED_BY" />
    <result column="DATE_REACTIVATED" property="DATE_REACTIVATED" />
    <result column="PAY_PLAN_TMPLT_ID" property="PAY_PLAN_TMPLT_ID" />
    <result column="PERIOD_NBR" property="PERIOD_NBR" />
    <result column="PERIOD_TYPE" property="PERIOD_TYPE" />
    <result column="BALLOON_PERCENTAGE" property="BALLOON_PERCENTAGE" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, CODE, COMP_CODE, ENTITY_TYPE, LINE_NO, ENTITY_CODE, CURRENCY_TYPE, CURRENCY_CODE, 
    ROSTER_CODE_YIELD, ROSTER_CODE_MODARIB, FROM_DATE, TO_DATE, STATUS, CREATED_BY, DATE_CREATED, 
    MODIFIED_BY, DATE_MODIFIED, APPROVED_BY, DATE_APPROVED, SUSPENDED_BY, DATE_SUSPENDED, 
    REACTIVATED_BY, DATE_REACTIVATED, PAY_PLAN_TMPLT_ID, PERIOD_NBR, PERIOD_TYPE, BALLOON_PERCENTAGE
  </sql>
  <select id="selectTRSROSTER_REGISTER_DET" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRSROSTER_REGISTER_DETVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRSROSTER_REGISTER_DET
    where BRANCH_CODE = #{BRANCH_CODE}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and ENTITY_TYPE = #{ENTITY_TYPE}
      and LINE_NO = #{LINE_NO}
  </select>
  <delete id="deleteTRSROSTER_REGISTER_DET" parameterType="com.path.dbmaps.vo.TRSROSTER_REGISTER_DETVOKey" >
    delete from TRSROSTER_REGISTER_DET
    where BRANCH_CODE = #{BRANCH_CODE}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and ENTITY_TYPE = #{ENTITY_TYPE}
      and LINE_NO = #{LINE_NO}
  </delete>
  <insert id="insertTRSROSTER_REGISTER_DET" parameterType="com.path.dbmaps.vo.TRSROSTER_REGISTER_DETVO" >
    <selectKey resultType="java.math.BigDecimal" keyProperty="COMP_CODE" order="BEFORE" >
      SELECT MAX(COMP_CODE)+1 FROM TRSROSTER_REGISTER_DET
    </selectKey>
    insert into TRSROSTER_REGISTER_DET
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        CODE,
      </if>
      COMP_CODE,
      <if test="ENTITY_TYPE != null" >
        ENTITY_TYPE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="ENTITY_CODE != null and ENTITY_CODE != emptyBigDecimalValue" >
        ENTITY_CODE,
      </if>
      <if test="CURRENCY_TYPE != null" >
        CURRENCY_TYPE,
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        CURRENCY_CODE,
      </if>
      <if test="ROSTER_CODE_YIELD != null and ROSTER_CODE_YIELD != emptyBigDecimalValue" >
        ROSTER_CODE_YIELD,
      </if>
      <if test="ROSTER_CODE_MODARIB != null and ROSTER_CODE_MODARIB != emptyBigDecimalValue" >
        ROSTER_CODE_MODARIB,
      </if>
      <if test="FROM_DATE != null" >
        FROM_DATE,
      </if>
      <if test="TO_DATE != null" >
        TO_DATE,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED,
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY,
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED,
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY,
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED,
      </if>
      <if test="SUSPENDED_BY != null" >
        SUSPENDED_BY,
      </if>
      <if test="DATE_SUSPENDED != null" >
        DATE_SUSPENDED,
      </if>
      <if test="REACTIVATED_BY != null" >
        REACTIVATED_BY,
      </if>
      <if test="DATE_REACTIVATED != null" >
        DATE_REACTIVATED,
      </if>
      <if test="PAY_PLAN_TMPLT_ID != null and PAY_PLAN_TMPLT_ID != emptyBigDecimalValue" >
        PAY_PLAN_TMPLT_ID,
      </if>
      <if test="PERIOD_NBR != null and PERIOD_NBR != emptyBigDecimalValue" >
        PERIOD_NBR,
      </if>
      <if test="PERIOD_TYPE != null" >
        PERIOD_TYPE,
      </if>
      <if test="BALLOON_PERCENTAGE != null and BALLOON_PERCENTAGE != emptyBigDecimalValue" >
        BALLOON_PERCENTAGE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        #{CODE},
      </if>
      #{COMP_CODE},
      <if test="ENTITY_TYPE != null" >
        #{ENTITY_TYPE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="ENTITY_CODE != null and ENTITY_CODE != emptyBigDecimalValue" >
        #{ENTITY_CODE},
      </if>
      <if test="CURRENCY_TYPE != null" >
        #{CURRENCY_TYPE},
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        #{CURRENCY_CODE},
      </if>
      <if test="ROSTER_CODE_YIELD != null and ROSTER_CODE_YIELD != emptyBigDecimalValue" >
        #{ROSTER_CODE_YIELD},
      </if>
      <if test="ROSTER_CODE_MODARIB != null and ROSTER_CODE_MODARIB != emptyBigDecimalValue" >
        #{ROSTER_CODE_MODARIB},
      </if>
      <if test="FROM_DATE != null" >
        #{FROM_DATE},
      </if>
      <if test="TO_DATE != null" >
        #{TO_DATE},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="DATE_CREATED != null" >
        #{DATE_CREATED},
      </if>
      <if test="MODIFIED_BY != null" >
        #{MODIFIED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        #{DATE_MODIFIED},
      </if>
      <if test="APPROVED_BY != null" >
        #{APPROVED_BY},
      </if>
      <if test="DATE_APPROVED != null" >
        #{DATE_APPROVED},
      </if>
      <if test="SUSPENDED_BY != null" >
        #{SUSPENDED_BY},
      </if>
      <if test="DATE_SUSPENDED != null" >
        #{DATE_SUSPENDED},
      </if>
      <if test="REACTIVATED_BY != null" >
        #{REACTIVATED_BY},
      </if>
      <if test="DATE_REACTIVATED != null" >
        #{DATE_REACTIVATED},
      </if>
      <if test="PAY_PLAN_TMPLT_ID != null and PAY_PLAN_TMPLT_ID != emptyBigDecimalValue" >
        #{PAY_PLAN_TMPLT_ID},
      </if>
      <if test="PERIOD_NBR != null and PERIOD_NBR != emptyBigDecimalValue" >
        #{PERIOD_NBR},
      </if>
      <if test="PERIOD_TYPE != null" >
        #{PERIOD_TYPE},
      </if>
      <if test="BALLOON_PERCENTAGE != null and BALLOON_PERCENTAGE != emptyBigDecimalValue" >
        #{BALLOON_PERCENTAGE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRSROSTER_REGISTER_DET" >
    update TRSROSTER_REGISTER_DET
    <set >
      <if test="ENTITY_CODE != null" >
        <choose >
          <when test="ENTITY_CODE == emptyBigDecimalValue" >
            ENTITY_CODE = NULL ,
          </when>
          <otherwise >
            ENTITY_CODE = #{ENTITY_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="CURRENCY_TYPE != null" >
        CURRENCY_TYPE = #{CURRENCY_TYPE},
      </if>
      <if test="CURRENCY_CODE != null" >
        <choose >
          <when test="CURRENCY_CODE == emptyBigDecimalValue" >
            CURRENCY_CODE = NULL ,
          </when>
          <otherwise >
            CURRENCY_CODE = #{CURRENCY_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="ROSTER_CODE_YIELD != null" >
        <choose >
          <when test="ROSTER_CODE_YIELD == emptyBigDecimalValue" >
            ROSTER_CODE_YIELD = NULL ,
          </when>
          <otherwise >
            ROSTER_CODE_YIELD = #{ROSTER_CODE_YIELD},
          </otherwise>
        </choose>
      </if>
      <if test="ROSTER_CODE_MODARIB != null" >
        <choose >
          <when test="ROSTER_CODE_MODARIB == emptyBigDecimalValue" >
            ROSTER_CODE_MODARIB = NULL ,
          </when>
          <otherwise >
            ROSTER_CODE_MODARIB = #{ROSTER_CODE_MODARIB},
          </otherwise>
        </choose>
      </if>
      <if test="FROM_DATE != null" >
        FROM_DATE = #{FROM_DATE},
      </if>
      <if test="TO_DATE != null" >
        TO_DATE = #{TO_DATE},
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="DATE_CREATED != null" >
        DATE_CREATED = #{DATE_CREATED},
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY = #{MODIFIED_BY},
      </if>
      <if test="DATE_MODIFIED != null" >
        DATE_MODIFIED = #{DATE_MODIFIED},
      </if>
      <if test="APPROVED_BY != null" >
        APPROVED_BY = #{APPROVED_BY},
      </if>
      <if test="DATE_APPROVED != null" >
        DATE_APPROVED = #{DATE_APPROVED},
      </if>
      <if test="SUSPENDED_BY != null" >
        SUSPENDED_BY = #{SUSPENDED_BY},
      </if>
      <if test="DATE_SUSPENDED != null" >
        DATE_SUSPENDED = #{DATE_SUSPENDED},
      </if>
      <if test="REACTIVATED_BY != null" >
        REACTIVATED_BY = #{REACTIVATED_BY},
      </if>
      <if test="DATE_REACTIVATED != null" >
        DATE_REACTIVATED = #{DATE_REACTIVATED},
      </if>
      <if test="PAY_PLAN_TMPLT_ID != null" >
        <choose >
          <when test="PAY_PLAN_TMPLT_ID == emptyBigDecimalValue" >
            PAY_PLAN_TMPLT_ID = NULL ,
          </when>
          <otherwise >
            PAY_PLAN_TMPLT_ID = #{PAY_PLAN_TMPLT_ID},
          </otherwise>
        </choose>
      </if>
      <if test="PERIOD_NBR != null" >
        <choose >
          <when test="PERIOD_NBR == emptyBigDecimalValue" >
            PERIOD_NBR = NULL ,
          </when>
          <otherwise >
            PERIOD_NBR = #{PERIOD_NBR},
          </otherwise>
        </choose>
      </if>
      <if test="PERIOD_TYPE != null" >
        PERIOD_TYPE = #{PERIOD_TYPE},
      </if>
      <if test="BALLOON_PERCENTAGE != null" >
        <choose >
          <when test="BALLOON_PERCENTAGE == emptyBigDecimalValue" >
            BALLOON_PERCENTAGE = NULL ,
          </when>
          <otherwise >
            BALLOON_PERCENTAGE = #{BALLOON_PERCENTAGE},
          </otherwise>
        </choose>
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and ENTITY_TYPE = #{ENTITY_TYPE}
      and LINE_NO = #{LINE_NO}
  </sql>
  <update id="updateTRSROSTER_REGISTER_DET" parameterType="com.path.dbmaps.vo.TRSROSTER_REGISTER_DETVO" >
    <include refid="sql_updateTRSROSTER_REGISTER_DET" />
  </update>
</mapper>