<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRSSETLMT_WRITEOFF_PLAN" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRSSETLMT_WRITEOFF_PLANVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NO" property="LINE_NO" />
    <id column="SETTLEMENT_NO" property="SETTLEMENT_NO" />
    <result column="NO_OF_DAYS" property="NO_OF_DAYS" />
    <result column="VALUE_DATE" property="VALUE_DATE" />
    <result column="AMOUNT" property="AMOUNT" />
    <result column="PAYMENT_TYPE" property="PAYMENT_TYPE" />
    <result column="CAPITAL_AMT" property="CAPITAL_AMT" />
    <result column="PROFIT_AMT" property="PROFIT_AMT" />
    <result column="OUTSTANDIG_AMT" property="OUTSTANDIG_AMT" />
    <result column="SETTLEMENT_AMOUNT" property="SETTLEMENT_AMOUNT" />
    <result column="DEPRECIATION_AMT" property="DEPRECIATION_AMT" />
    <result column="ACCRUAL_AMT" property="ACCRUAL_AMT" />
    <result column="WRITTEN_OFF_VALUE_DATE" property="WRITTEN_OFF_VALUE_DATE" />
    <result column="WRITTEN_OFF_AMOUNT" property="WRITTEN_OFF_AMOUNT" />
    <result column="ACCRUED_ADJUSTMENT_AMT" property="ACCRUED_ADJUSTMENT_AMT" />
    <result column="ACCRUED_DEPRECIATION_AMT" property="ACCRUED_DEPRECIATION_AMT" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, LINE_NO, SETTLEMENT_NO, NO_OF_DAYS, VALUE_DATE, AMOUNT, PAYMENT_TYPE, 
    CAPITAL_AMT, PROFIT_AMT, OUTSTANDIG_AMT, SETTLEMENT_AMOUNT, DEPRECIATION_AMT, ACCRUAL_AMT, 
    WRITTEN_OFF_VALUE_DATE, WRITTEN_OFF_AMOUNT, ACCRUED_ADJUSTMENT_AMT, ACCRUED_DEPRECIATION_AMT
  </sql>
  <select id="selectTRSSETLMT_WRITEOFF_PLAN" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRSSETLMT_WRITEOFF_PLANVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRSSETLMT_WRITEOFF_PLAN
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and SETTLEMENT_NO = #{SETTLEMENT_NO}
  </select>
  <delete id="deleteTRSSETLMT_WRITEOFF_PLAN" parameterType="com.path.dbmaps.vo.TRSSETLMT_WRITEOFF_PLANVOKey" >
    delete from TRSSETLMT_WRITEOFF_PLAN
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and SETTLEMENT_NO = #{SETTLEMENT_NO}
  </delete>
  <insert id="insertTRSSETLMT_WRITEOFF_PLAN" parameterType="com.path.dbmaps.vo.TRSSETLMT_WRITEOFF_PLANVO" >
    insert into TRSSETLMT_WRITEOFF_PLAN
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="SETTLEMENT_NO != null and SETTLEMENT_NO != emptyBigDecimalValue" >
        SETTLEMENT_NO,
      </if>
      <if test="NO_OF_DAYS != null and NO_OF_DAYS != emptyBigDecimalValue" >
        NO_OF_DAYS,
      </if>
      <if test="VALUE_DATE != null" >
        VALUE_DATE,
      </if>
      <if test="AMOUNT != null and AMOUNT != emptyBigDecimalValue" >
        AMOUNT,
      </if>
      <if test="PAYMENT_TYPE != null" >
        PAYMENT_TYPE,
      </if>
      <if test="CAPITAL_AMT != null and CAPITAL_AMT != emptyBigDecimalValue" >
        CAPITAL_AMT,
      </if>
      <if test="PROFIT_AMT != null and PROFIT_AMT != emptyBigDecimalValue" >
        PROFIT_AMT,
      </if>
      <if test="OUTSTANDIG_AMT != null and OUTSTANDIG_AMT != emptyBigDecimalValue" >
        OUTSTANDIG_AMT,
      </if>
      <if test="SETTLEMENT_AMOUNT != null and SETTLEMENT_AMOUNT != emptyBigDecimalValue" >
        SETTLEMENT_AMOUNT,
      </if>
      <if test="DEPRECIATION_AMT != null and DEPRECIATION_AMT != emptyBigDecimalValue" >
        DEPRECIATION_AMT,
      </if>
      <if test="ACCRUAL_AMT != null and ACCRUAL_AMT != emptyBigDecimalValue" >
        ACCRUAL_AMT,
      </if>
      <if test="WRITTEN_OFF_VALUE_DATE != null" >
        WRITTEN_OFF_VALUE_DATE,
      </if>
      <if test="WRITTEN_OFF_AMOUNT != null and WRITTEN_OFF_AMOUNT != emptyBigDecimalValue" >
        WRITTEN_OFF_AMOUNT,
      </if>
      <if test="ACCRUED_ADJUSTMENT_AMT != null and ACCRUED_ADJUSTMENT_AMT != emptyBigDecimalValue" >
        ACCRUED_ADJUSTMENT_AMT,
      </if>
      <if test="ACCRUED_DEPRECIATION_AMT != null and ACCRUED_DEPRECIATION_AMT != emptyBigDecimalValue" >
        ACCRUED_DEPRECIATION_AMT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="SETTLEMENT_NO != null and SETTLEMENT_NO != emptyBigDecimalValue" >
        #{SETTLEMENT_NO},
      </if>
      <if test="NO_OF_DAYS != null and NO_OF_DAYS != emptyBigDecimalValue" >
        #{NO_OF_DAYS},
      </if>
      <if test="VALUE_DATE != null" >
        #{VALUE_DATE},
      </if>
      <if test="AMOUNT != null and AMOUNT != emptyBigDecimalValue" >
        #{AMOUNT},
      </if>
      <if test="PAYMENT_TYPE != null" >
        #{PAYMENT_TYPE},
      </if>
      <if test="CAPITAL_AMT != null and CAPITAL_AMT != emptyBigDecimalValue" >
        #{CAPITAL_AMT},
      </if>
      <if test="PROFIT_AMT != null and PROFIT_AMT != emptyBigDecimalValue" >
        #{PROFIT_AMT},
      </if>
      <if test="OUTSTANDIG_AMT != null and OUTSTANDIG_AMT != emptyBigDecimalValue" >
        #{OUTSTANDIG_AMT},
      </if>
      <if test="SETTLEMENT_AMOUNT != null and SETTLEMENT_AMOUNT != emptyBigDecimalValue" >
        #{SETTLEMENT_AMOUNT},
      </if>
      <if test="DEPRECIATION_AMT != null and DEPRECIATION_AMT != emptyBigDecimalValue" >
        #{DEPRECIATION_AMT},
      </if>
      <if test="ACCRUAL_AMT != null and ACCRUAL_AMT != emptyBigDecimalValue" >
        #{ACCRUAL_AMT},
      </if>
      <if test="WRITTEN_OFF_VALUE_DATE != null" >
        #{WRITTEN_OFF_VALUE_DATE},
      </if>
      <if test="WRITTEN_OFF_AMOUNT != null and WRITTEN_OFF_AMOUNT != emptyBigDecimalValue" >
        #{WRITTEN_OFF_AMOUNT},
      </if>
      <if test="ACCRUED_ADJUSTMENT_AMT != null and ACCRUED_ADJUSTMENT_AMT != emptyBigDecimalValue" >
        #{ACCRUED_ADJUSTMENT_AMT},
      </if>
      <if test="ACCRUED_DEPRECIATION_AMT != null and ACCRUED_DEPRECIATION_AMT != emptyBigDecimalValue" >
        #{ACCRUED_DEPRECIATION_AMT},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRSSETLMT_WRITEOFF_PLAN" >
    update TRSSETLMT_WRITEOFF_PLAN
    <set >
      <if test="NO_OF_DAYS != null" >
        <choose >
          <when test="NO_OF_DAYS == emptyBigDecimalValue" >
            NO_OF_DAYS = NULL ,
          </when>
          <otherwise >
            NO_OF_DAYS = #{NO_OF_DAYS},
          </otherwise>
        </choose>
      </if>
      <if test="VALUE_DATE != null" >
        VALUE_DATE = #{VALUE_DATE},
      </if>
      <if test="AMOUNT != null" >
        <choose >
          <when test="AMOUNT == emptyBigDecimalValue" >
            AMOUNT = NULL ,
          </when>
          <otherwise >
            AMOUNT = #{AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="PAYMENT_TYPE != null" >
        PAYMENT_TYPE = #{PAYMENT_TYPE},
      </if>
      <if test="CAPITAL_AMT != null" >
        <choose >
          <when test="CAPITAL_AMT == emptyBigDecimalValue" >
            CAPITAL_AMT = NULL ,
          </when>
          <otherwise >
            CAPITAL_AMT = #{CAPITAL_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="PROFIT_AMT != null" >
        <choose >
          <when test="PROFIT_AMT == emptyBigDecimalValue" >
            PROFIT_AMT = NULL ,
          </when>
          <otherwise >
            PROFIT_AMT = #{PROFIT_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="OUTSTANDIG_AMT != null" >
        <choose >
          <when test="OUTSTANDIG_AMT == emptyBigDecimalValue" >
            OUTSTANDIG_AMT = NULL ,
          </when>
          <otherwise >
            OUTSTANDIG_AMT = #{OUTSTANDIG_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="SETTLEMENT_AMOUNT != null" >
        <choose >
          <when test="SETTLEMENT_AMOUNT == emptyBigDecimalValue" >
            SETTLEMENT_AMOUNT = NULL ,
          </when>
          <otherwise >
            SETTLEMENT_AMOUNT = #{SETTLEMENT_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="DEPRECIATION_AMT != null" >
        <choose >
          <when test="DEPRECIATION_AMT == emptyBigDecimalValue" >
            DEPRECIATION_AMT = NULL ,
          </when>
          <otherwise >
            DEPRECIATION_AMT = #{DEPRECIATION_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="ACCRUAL_AMT != null" >
        <choose >
          <when test="ACCRUAL_AMT == emptyBigDecimalValue" >
            ACCRUAL_AMT = NULL ,
          </when>
          <otherwise >
            ACCRUAL_AMT = #{ACCRUAL_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="WRITTEN_OFF_VALUE_DATE != null" >
        WRITTEN_OFF_VALUE_DATE = #{WRITTEN_OFF_VALUE_DATE},
      </if>
      <if test="WRITTEN_OFF_AMOUNT != null" >
        <choose >
          <when test="WRITTEN_OFF_AMOUNT == emptyBigDecimalValue" >
            WRITTEN_OFF_AMOUNT = NULL ,
          </when>
          <otherwise >
            WRITTEN_OFF_AMOUNT = #{WRITTEN_OFF_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="ACCRUED_ADJUSTMENT_AMT != null" >
        <choose >
          <when test="ACCRUED_ADJUSTMENT_AMT == emptyBigDecimalValue" >
            ACCRUED_ADJUSTMENT_AMT = NULL ,
          </when>
          <otherwise >
            ACCRUED_ADJUSTMENT_AMT = #{ACCRUED_ADJUSTMENT_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="ACCRUED_DEPRECIATION_AMT != null" >
        <choose >
          <when test="ACCRUED_DEPRECIATION_AMT == emptyBigDecimalValue" >
            ACCRUED_DEPRECIATION_AMT = NULL ,
          </when>
          <otherwise >
            ACCRUED_DEPRECIATION_AMT = #{ACCRUED_DEPRECIATION_AMT},
          </otherwise>
        </choose>
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and SETTLEMENT_NO = #{SETTLEMENT_NO}
  </sql>
  <update id="updateTRSSETLMT_WRITEOFF_PLAN" parameterType="com.path.dbmaps.vo.TRSSETLMT_WRITEOFF_PLANVO" >
    <include refid="sql_updateTRSSETLMT_WRITEOFF_PLAN" />
  </update>
</mapper>