<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRSSETLMT_ACCOUNTS" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRSSETLMT_ACCOUNTSVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NO" property="LINE_NO" />
    <id column="SETTLEMENT_NBR" property="SETTLEMENT_NBR" />
    <result column="LAST_HOLDER_CIF" property="LAST_HOLDER_CIF" />
    <result column="PAYMENT_MODE" property="PAYMENT_MODE" />
    <result column="ACC_BR" property="ACC_BR" />
    <result column="ACC_CY" property="ACC_CY" />
    <result column="ACC_GL" property="ACC_GL" />
    <result column="ACC_CIF" property="ACC_CIF" />
    <result column="ACC_SL" property="ACC_SL" />
    <result column="AMOUNT" property="AMOUNT" />
    <result column="ROLLOVER_TENOR_PERIOD_NBR" property="ROLLOVER_TENOR_PERIOD_NBR" />
    <result column="ROLLOVER_TENOR_PERIOD_TYPE" property="ROLLOVER_TENOR_PERIOD_TYPE" />
    <result column="ROLLOVER_ADDITIONAL_AMOUNT" property="ROLLOVER_ADDITIONAL_AMOUNT" />
    <result column="ROLLOVER_ADDITIONAL_ACC_BR" property="ROLLOVER_ADDITIONAL_ACC_BR" />
    <result column="ROLLOVER_ADDITIONAL_ACC_CY" property="ROLLOVER_ADDITIONAL_ACC_CY" />
    <result column="ROLLOVER_ADDITIONAL_ACC_GL" property="ROLLOVER_ADDITIONAL_ACC_GL" />
    <result column="ROLLOVER_ADDITIONAL_ACC_CIF" property="ROLLOVER_ADDITIONAL_ACC_CIF" />
    <result column="ROLLOVER_ADDITIONAL_ACC_SL" property="ROLLOVER_ADDITIONAL_ACC_SL" />
    <result column="ROLLOVER_DEAL_NO" property="ROLLOVER_DEAL_NO" />
    <result column="SWIFT_TYPE" property="SWIFT_TYPE" />
    <result column="RECEIVER_CORR_BANK_BIC_CODE" property="RECEIVER_CORR_BANK_BIC_CODE" />
    <result column="RECEIVER_BANK" property="RECEIVER_BANK" />
    <result column="RECEIVER_BANK_NAME" property="RECEIVER_BANK_NAME" />
    <result column="RECEIVER_CORR_BANK_BR" property="RECEIVER_CORR_BANK_BR" />
    <result column="RECEIVER_CORR_BANK_ACC" property="RECEIVER_CORR_BANK_ACC" />
    <result column="RECEIVER_CORR_BANK_ADDRESS" property="RECEIVER_CORR_BANK_ADDRESS" />
    <result column="RECEIVER_CORR_BANK_ADDRESS1" property="RECEIVER_CORR_BANK_ADDRESS1" />
    <result column="RECEIVER_CORR_BANK_ADDRESS2" property="RECEIVER_CORR_BANK_ADDRESS2" />
    <result column="INTERM_BANK_BIC" property="INTERM_BANK_BIC" />
    <result column="INTERM_BANK" property="INTERM_BANK" />
    <result column="INTERM_BANK_NAME" property="INTERM_BANK_NAME" />
    <result column="INTERM_BANK_BR" property="INTERM_BANK_BR" />
    <result column="INTERM_BANK_ACC" property="INTERM_BANK_ACC" />
    <result column="INTERM_BANK_ADDRESS" property="INTERM_BANK_ADDRESS" />
    <result column="INTERM_BANK_ADDRESS_1" property="INTERM_BANK_ADDRESS_1" />
    <result column="INTERM_BANK_ADDRESS_2" property="INTERM_BANK_ADDRESS_2" />
    <result column="PARTY_BANK_BIC_CODE" property="PARTY_BANK_BIC_CODE" />
    <result column="PARTY_BANK" property="PARTY_BANK" />
    <result column="PARTY_BANK_BR" property="PARTY_BANK_BR" />
    <result column="PARTY_ACCNO" property="PARTY_ACCNO" />
    <result column="REMARKS1" property="REMARKS1" />
    <result column="REMARKS2" property="REMARKS2" />
    <result column="REMARKS3" property="REMARKS3" />
    <result column="MT103_FIELD70_1" property="MT103_FIELD70_1" />
    <result column="MT103_FIELD70_2" property="MT103_FIELD70_2" />
    <result column="MT103_FIELD70_3" property="MT103_FIELD70_3" />
    <result column="MT103_FIELD70_4" property="MT103_FIELD70_4" />
    <result column="SWIFT_CHARGE" property="SWIFT_CHARGE" />
    <result column="MT103_FIELD71F" property="MT103_FIELD71F" />
    <result column="RECEIVER_CHARGES" property="RECEIVER_CHARGES" />
    <result column="MT202_FIELD21" property="MT202_FIELD21" />
    <result column="MT103_FIELD72_1" property="MT103_FIELD72_1" />
    <result column="MT103_FIELD72_2" property="MT103_FIELD72_2" />
    <result column="MT103_FIELD72_3" property="MT103_FIELD72_3" />
    <result column="MT103_FIELD72_4" property="MT103_FIELD72_4" />
    <result column="MT103_FIELD72_5" property="MT103_FIELD72_5" />
    <result column="MT103_FIELD72_6" property="MT103_FIELD72_6" />
    <result column="MT202_FIELD72_1" property="MT202_FIELD72_1" />
    <result column="MT202_FIELD72_2" property="MT202_FIELD72_2" />
    <result column="MT202_FIELD72_3" property="MT202_FIELD72_3" />
    <result column="MT202_FIELD72_4" property="MT202_FIELD72_4" />
    <result column="MT202_FIELD72_5" property="MT202_FIELD72_5" />
    <result column="MT202_FIELD72_6" property="MT202_FIELD72_6" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, LINE_NO, SETTLEMENT_NBR, LAST_HOLDER_CIF, PAYMENT_MODE, ACC_BR, 
    ACC_CY, ACC_GL, ACC_CIF, ACC_SL, AMOUNT, ROLLOVER_TENOR_PERIOD_NBR, ROLLOVER_TENOR_PERIOD_TYPE, 
    ROLLOVER_ADDITIONAL_AMOUNT, ROLLOVER_ADDITIONAL_ACC_BR, ROLLOVER_ADDITIONAL_ACC_CY, 
    ROLLOVER_ADDITIONAL_ACC_GL, ROLLOVER_ADDITIONAL_ACC_CIF, ROLLOVER_ADDITIONAL_ACC_SL, 
    ROLLOVER_DEAL_NO, SWIFT_TYPE, RECEIVER_CORR_BANK_BIC_CODE, RECEIVER_BANK, RECEIVER_BANK_NAME, 
    RECEIVER_CORR_BANK_BR, RECEIVER_CORR_BANK_ACC, RECEIVER_CORR_BANK_ADDRESS, RECEIVER_CORR_BANK_ADDRESS1, 
    RECEIVER_CORR_BANK_ADDRESS2, INTERM_BANK_BIC, INTERM_BANK, INTERM_BANK_NAME, INTERM_BANK_BR, 
    INTERM_BANK_ACC, INTERM_BANK_ADDRESS, INTERM_BANK_ADDRESS_1, INTERM_BANK_ADDRESS_2, 
    PARTY_BANK_BIC_CODE, PARTY_BANK, PARTY_BANK_BR, PARTY_ACCNO, REMARKS1, REMARKS2, 
    REMARKS3, MT103_FIELD70_1, MT103_FIELD70_2, MT103_FIELD70_3, MT103_FIELD70_4, SWIFT_CHARGE, 
    MT103_FIELD71F, RECEIVER_CHARGES, MT202_FIELD21, MT103_FIELD72_1, MT103_FIELD72_2, 
    MT103_FIELD72_3, MT103_FIELD72_4, MT103_FIELD72_5, MT103_FIELD72_6, MT202_FIELD72_1, 
    MT202_FIELD72_2, MT202_FIELD72_3, MT202_FIELD72_4, MT202_FIELD72_5, MT202_FIELD72_6
  </sql>
  <select id="selectTRSSETLMT_ACCOUNTS" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRSSETLMT_ACCOUNTSVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRSSETLMT_ACCOUNTS
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and SETTLEMENT_NBR = #{SETTLEMENT_NBR}
  </select>
  <delete id="deleteTRSSETLMT_ACCOUNTS" parameterType="com.path.dbmaps.vo.TRSSETLMT_ACCOUNTSVOKey" >
    delete from TRSSETLMT_ACCOUNTS
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and SETTLEMENT_NBR = #{SETTLEMENT_NBR}
  </delete>
  <insert id="insertTRSSETLMT_ACCOUNTS" parameterType="com.path.dbmaps.vo.TRSSETLMT_ACCOUNTSVO" >
    insert into TRSSETLMT_ACCOUNTS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NO != null" >
        LINE_NO,
      </if>
      <if test="SETTLEMENT_NBR != null" >
        SETTLEMENT_NBR,
      </if>
      <if test="LAST_HOLDER_CIF != null" >
        LAST_HOLDER_CIF,
      </if>
      <if test="PAYMENT_MODE != null" >
        PAYMENT_MODE,
      </if>
      <if test="ACC_BR != null" >
        ACC_BR,
      </if>
      <if test="ACC_CY != null" >
        ACC_CY,
      </if>
      <if test="ACC_GL != null" >
        ACC_GL,
      </if>
      <if test="ACC_CIF != null" >
        ACC_CIF,
      </if>
      <if test="ACC_SL != null" >
        ACC_SL,
      </if>
      <if test="AMOUNT != null" >
        AMOUNT,
      </if>
      <if test="ROLLOVER_TENOR_PERIOD_NBR != null" >
        ROLLOVER_TENOR_PERIOD_NBR,
      </if>
      <if test="ROLLOVER_TENOR_PERIOD_TYPE != null" >
        ROLLOVER_TENOR_PERIOD_TYPE,
      </if>
      <if test="ROLLOVER_ADDITIONAL_AMOUNT != null" >
        ROLLOVER_ADDITIONAL_AMOUNT,
      </if>
      <if test="ROLLOVER_ADDITIONAL_ACC_BR != null" >
        ROLLOVER_ADDITIONAL_ACC_BR,
      </if>
      <if test="ROLLOVER_ADDITIONAL_ACC_CY != null" >
        ROLLOVER_ADDITIONAL_ACC_CY,
      </if>
      <if test="ROLLOVER_ADDITIONAL_ACC_GL != null" >
        ROLLOVER_ADDITIONAL_ACC_GL,
      </if>
      <if test="ROLLOVER_ADDITIONAL_ACC_CIF != null" >
        ROLLOVER_ADDITIONAL_ACC_CIF,
      </if>
      <if test="ROLLOVER_ADDITIONAL_ACC_SL != null" >
        ROLLOVER_ADDITIONAL_ACC_SL,
      </if>
      <if test="ROLLOVER_DEAL_NO != null" >
        ROLLOVER_DEAL_NO,
      </if>
      <if test="SWIFT_TYPE != null" >
        SWIFT_TYPE,
      </if>
      <if test="RECEIVER_CORR_BANK_BIC_CODE != null" >
        RECEIVER_CORR_BANK_BIC_CODE,
      </if>
      <if test="RECEIVER_BANK != null" >
        RECEIVER_BANK,
      </if>
      <if test="RECEIVER_BANK_NAME != null" >
        RECEIVER_BANK_NAME,
      </if>
      <if test="RECEIVER_CORR_BANK_BR != null" >
        RECEIVER_CORR_BANK_BR,
      </if>
      <if test="RECEIVER_CORR_BANK_ACC != null" >
        RECEIVER_CORR_BANK_ACC,
      </if>
      <if test="RECEIVER_CORR_BANK_ADDRESS != null" >
        RECEIVER_CORR_BANK_ADDRESS,
      </if>
      <if test="RECEIVER_CORR_BANK_ADDRESS1 != null" >
        RECEIVER_CORR_BANK_ADDRESS1,
      </if>
      <if test="RECEIVER_CORR_BANK_ADDRESS2 != null" >
        RECEIVER_CORR_BANK_ADDRESS2,
      </if>
      <if test="INTERM_BANK_BIC != null" >
        INTERM_BANK_BIC,
      </if>
      <if test="INTERM_BANK != null" >
        INTERM_BANK,
      </if>
      <if test="INTERM_BANK_NAME != null" >
        INTERM_BANK_NAME,
      </if>
      <if test="INTERM_BANK_BR != null" >
        INTERM_BANK_BR,
      </if>
      <if test="INTERM_BANK_ACC != null" >
        INTERM_BANK_ACC,
      </if>
      <if test="INTERM_BANK_ADDRESS != null" >
        INTERM_BANK_ADDRESS,
      </if>
      <if test="INTERM_BANK_ADDRESS_1 != null" >
        INTERM_BANK_ADDRESS_1,
      </if>
      <if test="INTERM_BANK_ADDRESS_2 != null" >
        INTERM_BANK_ADDRESS_2,
      </if>
      <if test="PARTY_BANK_BIC_CODE != null" >
        PARTY_BANK_BIC_CODE,
      </if>
      <if test="PARTY_BANK != null" >
        PARTY_BANK,
      </if>
      <if test="PARTY_BANK_BR != null" >
        PARTY_BANK_BR,
      </if>
      <if test="PARTY_ACCNO != null" >
        PARTY_ACCNO,
      </if>
      <if test="REMARKS1 != null" >
        REMARKS1,
      </if>
      <if test="REMARKS2 != null" >
        REMARKS2,
      </if>
      <if test="REMARKS3 != null" >
        REMARKS3,
      </if>
      <if test="MT103_FIELD70_1 != null" >
        MT103_FIELD70_1,
      </if>
      <if test="MT103_FIELD70_2 != null" >
        MT103_FIELD70_2,
      </if>
      <if test="MT103_FIELD70_3 != null" >
        MT103_FIELD70_3,
      </if>
      <if test="MT103_FIELD70_4 != null" >
        MT103_FIELD70_4,
      </if>
      <if test="SWIFT_CHARGE != null" >
        SWIFT_CHARGE,
      </if>
      <if test="MT103_FIELD71F != null" >
        MT103_FIELD71F,
      </if>
      <if test="RECEIVER_CHARGES != null" >
        RECEIVER_CHARGES,
      </if>
      <if test="MT202_FIELD21 != null" >
        MT202_FIELD21,
      </if>
      <if test="MT103_FIELD72_1 != null" >
        MT103_FIELD72_1,
      </if>
      <if test="MT103_FIELD72_2 != null" >
        MT103_FIELD72_2,
      </if>
      <if test="MT103_FIELD72_3 != null" >
        MT103_FIELD72_3,
      </if>
      <if test="MT103_FIELD72_4 != null" >
        MT103_FIELD72_4,
      </if>
      <if test="MT103_FIELD72_5 != null" >
        MT103_FIELD72_5,
      </if>
      <if test="MT103_FIELD72_6 != null" >
        MT103_FIELD72_6,
      </if>
      <if test="MT202_FIELD72_1 != null" >
        MT202_FIELD72_1,
      </if>
      <if test="MT202_FIELD72_2 != null" >
        MT202_FIELD72_2,
      </if>
      <if test="MT202_FIELD72_3 != null" >
        MT202_FIELD72_3,
      </if>
      <if test="MT202_FIELD72_4 != null" >
        MT202_FIELD72_4,
      </if>
      <if test="MT202_FIELD72_5 != null" >
        MT202_FIELD72_5,
      </if>
      <if test="MT202_FIELD72_6 != null" >
        MT202_FIELD72_6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null" >
        #{BRANCH_CODE},
      </if>
      #{COMP_CODE},
      <if test="LINE_NO != null" >
        #{LINE_NO},
      </if>
      <if test="SETTLEMENT_NBR != null" >
        #{SETTLEMENT_NBR},
      </if>
      <if test="LAST_HOLDER_CIF != null" >
        #{LAST_HOLDER_CIF},
      </if>
      <if test="PAYMENT_MODE != null" >
        #{PAYMENT_MODE},
      </if>
      <if test="ACC_BR != null" >
        #{ACC_BR},
      </if>
      <if test="ACC_CY != null" >
        #{ACC_CY},
      </if>
      <if test="ACC_GL != null" >
        #{ACC_GL},
      </if>
      <if test="ACC_CIF != null" >
        #{ACC_CIF},
      </if>
      <if test="ACC_SL != null" >
        #{ACC_SL},
      </if>
      <if test="AMOUNT != null" >
        #{AMOUNT},
      </if>
      <if test="ROLLOVER_TENOR_PERIOD_NBR != null" >
        #{ROLLOVER_TENOR_PERIOD_NBR},
      </if>
      <if test="ROLLOVER_TENOR_PERIOD_TYPE != null" >
        #{ROLLOVER_TENOR_PERIOD_TYPE},
      </if>
      <if test="ROLLOVER_ADDITIONAL_AMOUNT != null" >
        #{ROLLOVER_ADDITIONAL_AMOUNT},
      </if>
      <if test="ROLLOVER_ADDITIONAL_ACC_BR != null" >
        #{ROLLOVER_ADDITIONAL_ACC_BR},
      </if>
      <if test="ROLLOVER_ADDITIONAL_ACC_CY != null" >
        #{ROLLOVER_ADDITIONAL_ACC_CY},
      </if>
      <if test="ROLLOVER_ADDITIONAL_ACC_GL != null" >
        #{ROLLOVER_ADDITIONAL_ACC_GL},
      </if>
      <if test="ROLLOVER_ADDITIONAL_ACC_CIF != null" >
        #{ROLLOVER_ADDITIONAL_ACC_CIF},
      </if>
      <if test="ROLLOVER_ADDITIONAL_ACC_SL != null" >
        #{ROLLOVER_ADDITIONAL_ACC_SL},
      </if>
      <if test="ROLLOVER_DEAL_NO != null" >
        #{ROLLOVER_DEAL_NO},
      </if>
      <if test="SWIFT_TYPE != null" >
        #{SWIFT_TYPE},
      </if>
      <if test="RECEIVER_CORR_BANK_BIC_CODE != null" >
        #{RECEIVER_CORR_BANK_BIC_CODE},
      </if>
      <if test="RECEIVER_BANK != null" >
        #{RECEIVER_BANK},
      </if>
      <if test="RECEIVER_BANK_NAME != null" >
        #{RECEIVER_BANK_NAME},
      </if>
      <if test="RECEIVER_CORR_BANK_BR != null" >
        #{RECEIVER_CORR_BANK_BR},
      </if>
      <if test="RECEIVER_CORR_BANK_ACC != null" >
        #{RECEIVER_CORR_BANK_ACC},
      </if>
      <if test="RECEIVER_CORR_BANK_ADDRESS != null" >
        #{RECEIVER_CORR_BANK_ADDRESS},
      </if>
      <if test="RECEIVER_CORR_BANK_ADDRESS1 != null" >
        #{RECEIVER_CORR_BANK_ADDRESS1},
      </if>
      <if test="RECEIVER_CORR_BANK_ADDRESS2 != null" >
        #{RECEIVER_CORR_BANK_ADDRESS2},
      </if>
      <if test="INTERM_BANK_BIC != null" >
        #{INTERM_BANK_BIC},
      </if>
      <if test="INTERM_BANK != null" >
        #{INTERM_BANK},
      </if>
      <if test="INTERM_BANK_NAME != null" >
        #{INTERM_BANK_NAME},
      </if>
      <if test="INTERM_BANK_BR != null" >
        #{INTERM_BANK_BR},
      </if>
      <if test="INTERM_BANK_ACC != null" >
        #{INTERM_BANK_ACC},
      </if>
      <if test="INTERM_BANK_ADDRESS != null" >
        #{INTERM_BANK_ADDRESS},
      </if>
      <if test="INTERM_BANK_ADDRESS_1 != null" >
        #{INTERM_BANK_ADDRESS_1},
      </if>
      <if test="INTERM_BANK_ADDRESS_2 != null" >
        #{INTERM_BANK_ADDRESS_2},
      </if>
      <if test="PARTY_BANK_BIC_CODE != null" >
        #{PARTY_BANK_BIC_CODE},
      </if>
      <if test="PARTY_BANK != null" >
        #{PARTY_BANK},
      </if>
      <if test="PARTY_BANK_BR != null" >
        #{PARTY_BANK_BR},
      </if>
      <if test="PARTY_ACCNO != null" >
        #{PARTY_ACCNO},
      </if>
      <if test="REMARKS1 != null" >
        #{REMARKS1},
      </if>
      <if test="REMARKS2 != null" >
        #{REMARKS2},
      </if>
      <if test="REMARKS3 != null" >
        #{REMARKS3},
      </if>
      <if test="MT103_FIELD70_1 != null" >
        #{MT103_FIELD70_1},
      </if>
      <if test="MT103_FIELD70_2 != null" >
        #{MT103_FIELD70_2},
      </if>
      <if test="MT103_FIELD70_3 != null" >
        #{MT103_FIELD70_3},
      </if>
      <if test="MT103_FIELD70_4 != null" >
        #{MT103_FIELD70_4},
      </if>
      <if test="SWIFT_CHARGE != null" >
        #{SWIFT_CHARGE},
      </if>
      <if test="MT103_FIELD71F != null" >
        #{MT103_FIELD71F},
      </if>
      <if test="RECEIVER_CHARGES != null" >
        #{RECEIVER_CHARGES},
      </if>
      <if test="MT202_FIELD21 != null" >
        #{MT202_FIELD21},
      </if>
      <if test="MT103_FIELD72_1 != null" >
        #{MT103_FIELD72_1},
      </if>
      <if test="MT103_FIELD72_2 != null" >
        #{MT103_FIELD72_2},
      </if>
      <if test="MT103_FIELD72_3 != null" >
        #{MT103_FIELD72_3},
      </if>
      <if test="MT103_FIELD72_4 != null" >
        #{MT103_FIELD72_4},
      </if>
      <if test="MT103_FIELD72_5 != null" >
        #{MT103_FIELD72_5},
      </if>
      <if test="MT103_FIELD72_6 != null" >
        #{MT103_FIELD72_6},
      </if>
      <if test="MT202_FIELD72_1 != null" >
        #{MT202_FIELD72_1},
      </if>
      <if test="MT202_FIELD72_2 != null" >
        #{MT202_FIELD72_2},
      </if>
      <if test="MT202_FIELD72_3 != null" >
        #{MT202_FIELD72_3},
      </if>
      <if test="MT202_FIELD72_4 != null" >
        #{MT202_FIELD72_4},
      </if>
      <if test="MT202_FIELD72_5 != null" >
        #{MT202_FIELD72_5},
      </if>
      <if test="MT202_FIELD72_6 != null" >
        #{MT202_FIELD72_6},
      </if>
    </trim>
  </insert>
  <update id="updateTRSSETLMT_ACCOUNTS" parameterType="com.path.dbmaps.vo.TRSSETLMT_ACCOUNTSVO" >
    update TRSSETLMT_ACCOUNTS
    <set >
      <if test="LAST_HOLDER_CIF != null" >
        LAST_HOLDER_CIF = #{LAST_HOLDER_CIF},
      </if>
      <if test="PAYMENT_MODE != null" >
        PAYMENT_MODE = #{PAYMENT_MODE},
      </if>
      <if test="ACC_BR != null" >
        ACC_BR = #{ACC_BR},
      </if>
      <if test="ACC_CY != null" >
        ACC_CY = #{ACC_CY},
      </if>
      <if test="ACC_GL != null" >
        ACC_GL = #{ACC_GL},
      </if>
      <if test="ACC_CIF != null" >
        ACC_CIF = #{ACC_CIF},
      </if>
      <if test="ACC_SL != null" >
        ACC_SL = #{ACC_SL},
      </if>
      <if test="AMOUNT != null" >
        AMOUNT = #{AMOUNT},
      </if>
      <if test="ROLLOVER_TENOR_PERIOD_NBR != null" >
        ROLLOVER_TENOR_PERIOD_NBR = #{ROLLOVER_TENOR_PERIOD_NBR},
      </if>
      <if test="ROLLOVER_TENOR_PERIOD_TYPE != null" >
        ROLLOVER_TENOR_PERIOD_TYPE = #{ROLLOVER_TENOR_PERIOD_TYPE},
      </if>
      <if test="ROLLOVER_ADDITIONAL_AMOUNT != null" >
        ROLLOVER_ADDITIONAL_AMOUNT = #{ROLLOVER_ADDITIONAL_AMOUNT},
      </if>
      <if test="ROLLOVER_ADDITIONAL_ACC_BR != null" >
        ROLLOVER_ADDITIONAL_ACC_BR = #{ROLLOVER_ADDITIONAL_ACC_BR},
      </if>
      <if test="ROLLOVER_ADDITIONAL_ACC_CY != null" >
        ROLLOVER_ADDITIONAL_ACC_CY = #{ROLLOVER_ADDITIONAL_ACC_CY},
      </if>
      <if test="ROLLOVER_ADDITIONAL_ACC_GL != null" >
        ROLLOVER_ADDITIONAL_ACC_GL = #{ROLLOVER_ADDITIONAL_ACC_GL},
      </if>
      <if test="ROLLOVER_ADDITIONAL_ACC_CIF != null" >
        ROLLOVER_ADDITIONAL_ACC_CIF = #{ROLLOVER_ADDITIONAL_ACC_CIF},
      </if>
      <if test="ROLLOVER_ADDITIONAL_ACC_SL != null" >
        ROLLOVER_ADDITIONAL_ACC_SL = #{ROLLOVER_ADDITIONAL_ACC_SL},
      </if>
      <if test="ROLLOVER_DEAL_NO != null" >
        ROLLOVER_DEAL_NO = #{ROLLOVER_DEAL_NO},
      </if>
      <if test="SWIFT_TYPE != null" >
        SWIFT_TYPE = #{SWIFT_TYPE},
      </if>
      <if test="RECEIVER_CORR_BANK_BIC_CODE != null" >
        RECEIVER_CORR_BANK_BIC_CODE = #{RECEIVER_CORR_BANK_BIC_CODE},
      </if>
      <if test="RECEIVER_BANK != null" >
        RECEIVER_BANK = #{RECEIVER_BANK},
      </if>
      <if test="RECEIVER_BANK_NAME != null" >
        RECEIVER_BANK_NAME = #{RECEIVER_BANK_NAME},
      </if>
      <if test="RECEIVER_CORR_BANK_BR != null" >
        RECEIVER_CORR_BANK_BR = #{RECEIVER_CORR_BANK_BR},
      </if>
      <if test="RECEIVER_CORR_BANK_ACC != null" >
        RECEIVER_CORR_BANK_ACC = #{RECEIVER_CORR_BANK_ACC},
      </if>
      <if test="RECEIVER_CORR_BANK_ADDRESS != null" >
        RECEIVER_CORR_BANK_ADDRESS = #{RECEIVER_CORR_BANK_ADDRESS},
      </if>
      <if test="RECEIVER_CORR_BANK_ADDRESS1 != null" >
        RECEIVER_CORR_BANK_ADDRESS1 = #{RECEIVER_CORR_BANK_ADDRESS1},
      </if>
      <if test="RECEIVER_CORR_BANK_ADDRESS2 != null" >
        RECEIVER_CORR_BANK_ADDRESS2 = #{RECEIVER_CORR_BANK_ADDRESS2},
      </if>
      <if test="INTERM_BANK_BIC != null" >
        INTERM_BANK_BIC = #{INTERM_BANK_BIC},
      </if>
      <if test="INTERM_BANK != null" >
        INTERM_BANK = #{INTERM_BANK},
      </if>
      <if test="INTERM_BANK_NAME != null" >
        INTERM_BANK_NAME = #{INTERM_BANK_NAME},
      </if>
      <if test="INTERM_BANK_BR != null" >
        INTERM_BANK_BR = #{INTERM_BANK_BR},
      </if>
      <if test="INTERM_BANK_ACC != null" >
        INTERM_BANK_ACC = #{INTERM_BANK_ACC},
      </if>
      <if test="INTERM_BANK_ADDRESS != null" >
        INTERM_BANK_ADDRESS = #{INTERM_BANK_ADDRESS},
      </if>
      <if test="INTERM_BANK_ADDRESS_1 != null" >
        INTERM_BANK_ADDRESS_1 = #{INTERM_BANK_ADDRESS_1},
      </if>
      <if test="INTERM_BANK_ADDRESS_2 != null" >
        INTERM_BANK_ADDRESS_2 = #{INTERM_BANK_ADDRESS_2},
      </if>
      <if test="PARTY_BANK_BIC_CODE != null" >
        PARTY_BANK_BIC_CODE = #{PARTY_BANK_BIC_CODE},
      </if>
      <if test="PARTY_BANK != null" >
        PARTY_BANK = #{PARTY_BANK},
      </if>
      <if test="PARTY_BANK_BR != null" >
        PARTY_BANK_BR = #{PARTY_BANK_BR},
      </if>
      <if test="PARTY_ACCNO != null" >
        PARTY_ACCNO = #{PARTY_ACCNO},
      </if>
      <if test="REMARKS1 != null" >
        REMARKS1 = #{REMARKS1},
      </if>
      <if test="REMARKS2 != null" >
        REMARKS2 = #{REMARKS2},
      </if>
      <if test="REMARKS3 != null" >
        REMARKS3 = #{REMARKS3},
      </if>
      <if test="MT103_FIELD70_1 != null" >
        MT103_FIELD70_1 = #{MT103_FIELD70_1},
      </if>
      <if test="MT103_FIELD70_2 != null" >
        MT103_FIELD70_2 = #{MT103_FIELD70_2},
      </if>
      <if test="MT103_FIELD70_3 != null" >
        MT103_FIELD70_3 = #{MT103_FIELD70_3},
      </if>
      <if test="MT103_FIELD70_4 != null" >
        MT103_FIELD70_4 = #{MT103_FIELD70_4},
      </if>
      <if test="SWIFT_CHARGE != null" >
        SWIFT_CHARGE = #{SWIFT_CHARGE},
      </if>
      <if test="MT103_FIELD71F != null" >
        MT103_FIELD71F = #{MT103_FIELD71F},
      </if>
      <if test="RECEIVER_CHARGES != null" >
        RECEIVER_CHARGES = #{RECEIVER_CHARGES},
      </if>
      <if test="MT202_FIELD21 != null" >
        MT202_FIELD21 = #{MT202_FIELD21},
      </if>
      <if test="MT103_FIELD72_1 != null" >
        MT103_FIELD72_1 = #{MT103_FIELD72_1},
      </if>
      <if test="MT103_FIELD72_2 != null" >
        MT103_FIELD72_2 = #{MT103_FIELD72_2},
      </if>
      <if test="MT103_FIELD72_3 != null" >
        MT103_FIELD72_3 = #{MT103_FIELD72_3},
      </if>
      <if test="MT103_FIELD72_4 != null" >
        MT103_FIELD72_4 = #{MT103_FIELD72_4},
      </if>
      <if test="MT103_FIELD72_5 != null" >
        MT103_FIELD72_5 = #{MT103_FIELD72_5},
      </if>
      <if test="MT103_FIELD72_6 != null" >
        MT103_FIELD72_6 = #{MT103_FIELD72_6},
      </if>
      <if test="MT202_FIELD72_1 != null" >
        MT202_FIELD72_1 = #{MT202_FIELD72_1},
      </if>
      <if test="MT202_FIELD72_2 != null" >
        MT202_FIELD72_2 = #{MT202_FIELD72_2},
      </if>
      <if test="MT202_FIELD72_3 != null" >
        MT202_FIELD72_3 = #{MT202_FIELD72_3},
      </if>
      <if test="MT202_FIELD72_4 != null" >
        MT202_FIELD72_4 = #{MT202_FIELD72_4},
      </if>
      <if test="MT202_FIELD72_5 != null" >
        MT202_FIELD72_5 = #{MT202_FIELD72_5},
      </if>
      <if test="MT202_FIELD72_6 != null" >
        MT202_FIELD72_6 = #{MT202_FIELD72_6},
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and SETTLEMENT_NBR = #{SETTLEMENT_NBR}
  </update>
</mapper>