<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRSSETLMTBLOCKINGDET" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRSSETLMTBLOCKINGDETVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="DEAL_NO" property="DEAL_NO" />
    <id column="INSTALLMENT_DATE" property="INSTALLMENT_DATE" />
    <id column="LINE_NBR" property="LINE_NBR" />
    <id column="PLAN_NBR" property="PLAN_NBR" />
    <id column="PLAN_SEQ" property="PLAN_SEQ" />
    <id column="TRIAL_NBR" property="TRIAL_NBR" />
    <result column="ACTION_TYPE" property="ACTION_TYPE" />
    <result column="ACCOUNT_HOLDER" property="ACCOUNT_HOLDER" />
    <result column="ACCOUNT_HOLDER_TYPE" property="ACCOUNT_HOLDER_TYPE" />
    <result column="ACCOUNT_BRANCH" property="ACCOUNT_BRANCH" />
    <result column="CURRENCY_CODE" property="CURRENCY_CODE" />
    <result column="GL_CODE" property="GL_CODE" />
    <result column="CIF_SUB_NO" property="CIF_SUB_NO" />
    <result column="SL_NO" property="SL_NO" />
    <result column="PROCESS_CODE" property="PROCESS_CODE" />
    <result column="PROCESS_DATE" property="PROCESS_DATE" />
    <result column="SP_NO" property="SP_NO" />
    <result column="ACC_CY_AMOUNT" property="ACC_CY_AMOUNT" />
    <result column="ACC_CY_AMOUNT_CV" property="ACC_CY_AMOUNT_CV" />
    <result column="DEAL_CY_AMOUNT" property="DEAL_CY_AMOUNT" />
    <result column="DEAL_CY_AMOUNT_CV" property="DEAL_CY_AMOUNT_CV" />
    <result column="INSTALLMENT_AMOUNT" property="INSTALLMENT_AMOUNT" />
    <result column="TOTAL_SETTLEMENT" property="TOTAL_SETTLEMENT" />
    <result column="ACC_CY_RATE" property="ACC_CY_RATE" />
    <result column="ACC_CY_MULTDIV" property="ACC_CY_MULTDIV" />
    <result column="DEAL_CY_RATE" property="DEAL_CY_RATE" />
    <result column="DEAL_CY_MULTDIV" property="DEAL_CY_MULTDIV" />
    <result column="CROSS_RATE" property="CROSS_RATE" />
    <result column="CROSS_MULTDIV" property="CROSS_MULTDIV" />
    <result column="REMARKS" property="REMARKS" />
    <result column="REASON_CODE" property="REASON_CODE" />
    <result column="CTS_TRS_NO" property="CTS_TRS_NO" />
    <result column="COUNTER_PARTY" property="COUNTER_PARTY" />
    <result column="DEAL_CY" property="DEAL_CY" />
    <result column="SETTLEMENT_NBR" property="SETTLEMENT_NBR" />
    <result column="STATUS" property="STATUS" />
    <result column="CASH_AVAIL" property="CASH_AVAIL" />
    <result column="PLAN_LINE_NBR" property="PLAN_LINE_NBR" />
    <result column="ACC_TYPE" property="ACC_TYPE" />
    <result column="ORIGIN" property="ORIGIN" />
    <result column="RECOVER_AMT_FROM_CUSTOMER_YN" property="RECOVER_AMT_FROM_CUSTOMER_YN" />
    <result column="RECOVERY_IND" property="RECOVERY_IND" />
    <result column="RECOVERY_AC_BR" property="RECOVERY_AC_BR" />
    <result column="RECOVERY_AC_CY" property="RECOVERY_AC_CY" />
    <result column="RECOVERY_AC_GL" property="RECOVERY_AC_GL" />
    <result column="RECOVERY_AC_CIF" property="RECOVERY_AC_CIF" />
    <result column="RECOVERY_AC_SL" property="RECOVERY_AC_SL" />
    <result column="RECOVERY_RATE" property="RECOVERY_RATE" />
    <result column="RECOVERY_MULTDIV" property="RECOVERY_MULTDIV" />
    <result column="RECOVERY_AMT" property="RECOVERY_AMT" />
    <result column="ORIGIN_RELEASE" property="ORIGIN_RELEASE" />
    <result column="RELEASED_DATE" property="RELEASED_DATE" />
    <result column="RELEASED_BY" property="RELEASED_BY" />
    <result column="SERVER_RELEASED_DATE" property="SERVER_RELEASED_DATE" />
    <result column="AMF_AVAIL_BAL_CV" property="AMF_AVAIL_BAL_CV" />
    <result column="AMF_AVAIL_BAL_FC" property="AMF_AVAIL_BAL_FC" />
    <result column="AMF_BLOCKED_CV" property="AMF_BLOCKED_CV" />
    <result column="AMF_BLOCKED_FC" property="AMF_BLOCKED_FC" />
    <result column="OP_NO" property="OP_NO" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, DEAL_NO, INSTALLMENT_DATE, LINE_NBR, PLAN_NBR, PLAN_SEQ, 
    TRIAL_NBR, ACTION_TYPE, ACCOUNT_HOLDER, ACCOUNT_HOLDER_TYPE, ACCOUNT_BRANCH, CURRENCY_CODE, 
    GL_CODE, CIF_SUB_NO, SL_NO, PROCESS_CODE, PROCESS_DATE, SP_NO, ACC_CY_AMOUNT, ACC_CY_AMOUNT_CV, 
    DEAL_CY_AMOUNT, DEAL_CY_AMOUNT_CV, INSTALLMENT_AMOUNT, TOTAL_SETTLEMENT, ACC_CY_RATE, 
    ACC_CY_MULTDIV, DEAL_CY_RATE, DEAL_CY_MULTDIV, CROSS_RATE, CROSS_MULTDIV, REMARKS, 
    REASON_CODE, CTS_TRS_NO, COUNTER_PARTY, DEAL_CY, SETTLEMENT_NBR, STATUS, CASH_AVAIL, 
    PLAN_LINE_NBR, ACC_TYPE, ORIGIN, RECOVER_AMT_FROM_CUSTOMER_YN, RECOVERY_IND, RECOVERY_AC_BR, 
    RECOVERY_AC_CY, RECOVERY_AC_GL, RECOVERY_AC_CIF, RECOVERY_AC_SL, RECOVERY_RATE, RECOVERY_MULTDIV, 
    RECOVERY_AMT, ORIGIN_RELEASE, RELEASED_DATE, RELEASED_BY, SERVER_RELEASED_DATE, AMF_AVAIL_BAL_CV, 
    AMF_AVAIL_BAL_FC, AMF_BLOCKED_CV, AMF_BLOCKED_FC, OP_NO
  </sql>
  <select id="selectTRSSETLMTBLOCKINGDET" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRSSETLMTBLOCKINGDETVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRSSETLMTBLOCKINGDET
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and DEAL_NO = #{DEAL_NO}
      and INSTALLMENT_DATE = #{INSTALLMENT_DATE}
      and LINE_NBR = #{LINE_NBR}
      and PLAN_NBR = #{PLAN_NBR}
      and PLAN_SEQ = #{PLAN_SEQ}
      and TRIAL_NBR = #{TRIAL_NBR}
  </select>
  <delete id="deleteTRSSETLMTBLOCKINGDET" parameterType="com.path.dbmaps.vo.TRSSETLMTBLOCKINGDETVOKey" >
    delete from TRSSETLMTBLOCKINGDET
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and DEAL_NO = #{DEAL_NO}
      and INSTALLMENT_DATE = #{INSTALLMENT_DATE}
      and LINE_NBR = #{LINE_NBR}
      and PLAN_NBR = #{PLAN_NBR}
      and PLAN_SEQ = #{PLAN_SEQ}
      and TRIAL_NBR = #{TRIAL_NBR}
  </delete>
  <insert id="insertTRSSETLMTBLOCKINGDET" parameterType="com.path.dbmaps.vo.TRSSETLMTBLOCKINGDETVO" >
    insert into TRSSETLMTBLOCKINGDET
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="DEAL_NO != null and DEAL_NO != emptyBigDecimalValue" >
        DEAL_NO,
      </if>
      <if test="INSTALLMENT_DATE != null" >
        INSTALLMENT_DATE,
      </if>
      <if test="LINE_NBR != null and LINE_NBR != emptyBigDecimalValue" >
        LINE_NBR,
      </if>
      <if test="PLAN_NBR != null and PLAN_NBR != emptyBigDecimalValue" >
        PLAN_NBR,
      </if>
      <if test="PLAN_SEQ != null and PLAN_SEQ != emptyBigDecimalValue" >
        PLAN_SEQ,
      </if>
      <if test="TRIAL_NBR != null and TRIAL_NBR != emptyBigDecimalValue" >
        TRIAL_NBR,
      </if>
      <if test="ACTION_TYPE != null" >
        ACTION_TYPE,
      </if>
      <if test="ACCOUNT_HOLDER != null and ACCOUNT_HOLDER != emptyBigDecimalValue" >
        ACCOUNT_HOLDER,
      </if>
      <if test="ACCOUNT_HOLDER_TYPE != null" >
        ACCOUNT_HOLDER_TYPE,
      </if>
      <if test="ACCOUNT_BRANCH != null and ACCOUNT_BRANCH != emptyBigDecimalValue" >
        ACCOUNT_BRANCH,
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        CURRENCY_CODE,
      </if>
      <if test="GL_CODE != null and GL_CODE != emptyBigDecimalValue" >
        GL_CODE,
      </if>
      <if test="CIF_SUB_NO != null and CIF_SUB_NO != emptyBigDecimalValue" >
        CIF_SUB_NO,
      </if>
      <if test="SL_NO != null and SL_NO != emptyBigDecimalValue" >
        SL_NO,
      </if>
      <if test="PROCESS_CODE != null and PROCESS_CODE != emptyBigDecimalValue" >
        PROCESS_CODE,
      </if>
      <if test="PROCESS_DATE != null" >
        PROCESS_DATE,
      </if>
      <if test="SP_NO != null and SP_NO != emptyBigDecimalValue" >
        SP_NO,
      </if>
      <if test="ACC_CY_AMOUNT != null and ACC_CY_AMOUNT != emptyBigDecimalValue" >
        ACC_CY_AMOUNT,
      </if>
      <if test="ACC_CY_AMOUNT_CV != null and ACC_CY_AMOUNT_CV != emptyBigDecimalValue" >
        ACC_CY_AMOUNT_CV,
      </if>
      <if test="DEAL_CY_AMOUNT != null and DEAL_CY_AMOUNT != emptyBigDecimalValue" >
        DEAL_CY_AMOUNT,
      </if>
      <if test="DEAL_CY_AMOUNT_CV != null and DEAL_CY_AMOUNT_CV != emptyBigDecimalValue" >
        DEAL_CY_AMOUNT_CV,
      </if>
      <if test="INSTALLMENT_AMOUNT != null and INSTALLMENT_AMOUNT != emptyBigDecimalValue" >
        INSTALLMENT_AMOUNT,
      </if>
      <if test="TOTAL_SETTLEMENT != null and TOTAL_SETTLEMENT != emptyBigDecimalValue" >
        TOTAL_SETTLEMENT,
      </if>
      <if test="ACC_CY_RATE != null and ACC_CY_RATE != emptyBigDecimalValue" >
        ACC_CY_RATE,
      </if>
      <if test="ACC_CY_MULTDIV != null" >
        ACC_CY_MULTDIV,
      </if>
      <if test="DEAL_CY_RATE != null and DEAL_CY_RATE != emptyBigDecimalValue" >
        DEAL_CY_RATE,
      </if>
      <if test="DEAL_CY_MULTDIV != null" >
        DEAL_CY_MULTDIV,
      </if>
      <if test="CROSS_RATE != null and CROSS_RATE != emptyBigDecimalValue" >
        CROSS_RATE,
      </if>
      <if test="CROSS_MULTDIV != null" >
        CROSS_MULTDIV,
      </if>
      <if test="REMARKS != null" >
        REMARKS,
      </if>
      <if test="REASON_CODE != null and REASON_CODE != emptyBigDecimalValue" >
        REASON_CODE,
      </if>
      <if test="CTS_TRS_NO != null and CTS_TRS_NO != emptyBigDecimalValue" >
        CTS_TRS_NO,
      </if>
      <if test="COUNTER_PARTY != null and COUNTER_PARTY != emptyBigDecimalValue" >
        COUNTER_PARTY,
      </if>
      <if test="DEAL_CY != null and DEAL_CY != emptyBigDecimalValue" >
        DEAL_CY,
      </if>
      <if test="SETTLEMENT_NBR != null and SETTLEMENT_NBR != emptyBigDecimalValue" >
        SETTLEMENT_NBR,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="CASH_AVAIL != null" >
        CASH_AVAIL,
      </if>
      <if test="PLAN_LINE_NBR != null and PLAN_LINE_NBR != emptyBigDecimalValue" >
        PLAN_LINE_NBR,
      </if>
      <if test="ACC_TYPE != null" >
        ACC_TYPE,
      </if>
      <if test="ORIGIN != null" >
        ORIGIN,
      </if>
      <if test="RECOVER_AMT_FROM_CUSTOMER_YN != null" >
        RECOVER_AMT_FROM_CUSTOMER_YN,
      </if>
      <if test="RECOVERY_IND != null" >
        RECOVERY_IND,
      </if>
      <if test="RECOVERY_AC_BR != null and RECOVERY_AC_BR != emptyBigDecimalValue" >
        RECOVERY_AC_BR,
      </if>
      <if test="RECOVERY_AC_CY != null and RECOVERY_AC_CY != emptyBigDecimalValue" >
        RECOVERY_AC_CY,
      </if>
      <if test="RECOVERY_AC_GL != null and RECOVERY_AC_GL != emptyBigDecimalValue" >
        RECOVERY_AC_GL,
      </if>
      <if test="RECOVERY_AC_CIF != null and RECOVERY_AC_CIF != emptyBigDecimalValue" >
        RECOVERY_AC_CIF,
      </if>
      <if test="RECOVERY_AC_SL != null and RECOVERY_AC_SL != emptyBigDecimalValue" >
        RECOVERY_AC_SL,
      </if>
      <if test="RECOVERY_RATE != null and RECOVERY_RATE != emptyBigDecimalValue" >
        RECOVERY_RATE,
      </if>
      <if test="RECOVERY_MULTDIV != null" >
        RECOVERY_MULTDIV,
      </if>
      <if test="RECOVERY_AMT != null and RECOVERY_AMT != emptyBigDecimalValue" >
        RECOVERY_AMT,
      </if>
      <if test="ORIGIN_RELEASE != null" >
        ORIGIN_RELEASE,
      </if>
      <if test="RELEASED_DATE != null" >
        RELEASED_DATE,
      </if>
      <if test="RELEASED_BY != null" >
        RELEASED_BY,
      </if>
      <if test="SERVER_RELEASED_DATE != null" >
        SERVER_RELEASED_DATE,
      </if>
      <if test="AMF_AVAIL_BAL_CV != null and AMF_AVAIL_BAL_CV != emptyBigDecimalValue" >
        AMF_AVAIL_BAL_CV,
      </if>
      <if test="AMF_AVAIL_BAL_FC != null and AMF_AVAIL_BAL_FC != emptyBigDecimalValue" >
        AMF_AVAIL_BAL_FC,
      </if>
      <if test="AMF_BLOCKED_CV != null and AMF_BLOCKED_CV != emptyBigDecimalValue" >
        AMF_BLOCKED_CV,
      </if>
      <if test="AMF_BLOCKED_FC != null and AMF_BLOCKED_FC != emptyBigDecimalValue" >
        AMF_BLOCKED_FC,
      </if>
      <if test="OP_NO != null and OP_NO != emptyBigDecimalValue" >
        OP_NO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="DEAL_NO != null and DEAL_NO != emptyBigDecimalValue" >
        #{DEAL_NO},
      </if>
      <if test="INSTALLMENT_DATE != null" >
        #{INSTALLMENT_DATE},
      </if>
      <if test="LINE_NBR != null and LINE_NBR != emptyBigDecimalValue" >
        #{LINE_NBR},
      </if>
      <if test="PLAN_NBR != null and PLAN_NBR != emptyBigDecimalValue" >
        #{PLAN_NBR},
      </if>
      <if test="PLAN_SEQ != null and PLAN_SEQ != emptyBigDecimalValue" >
        #{PLAN_SEQ},
      </if>
      <if test="TRIAL_NBR != null and TRIAL_NBR != emptyBigDecimalValue" >
        #{TRIAL_NBR},
      </if>
      <if test="ACTION_TYPE != null" >
        #{ACTION_TYPE},
      </if>
      <if test="ACCOUNT_HOLDER != null and ACCOUNT_HOLDER != emptyBigDecimalValue" >
        #{ACCOUNT_HOLDER},
      </if>
      <if test="ACCOUNT_HOLDER_TYPE != null" >
        #{ACCOUNT_HOLDER_TYPE},
      </if>
      <if test="ACCOUNT_BRANCH != null and ACCOUNT_BRANCH != emptyBigDecimalValue" >
        #{ACCOUNT_BRANCH},
      </if>
      <if test="CURRENCY_CODE != null and CURRENCY_CODE != emptyBigDecimalValue" >
        #{CURRENCY_CODE},
      </if>
      <if test="GL_CODE != null and GL_CODE != emptyBigDecimalValue" >
        #{GL_CODE},
      </if>
      <if test="CIF_SUB_NO != null and CIF_SUB_NO != emptyBigDecimalValue" >
        #{CIF_SUB_NO},
      </if>
      <if test="SL_NO != null and SL_NO != emptyBigDecimalValue" >
        #{SL_NO},
      </if>
      <if test="PROCESS_CODE != null and PROCESS_CODE != emptyBigDecimalValue" >
        #{PROCESS_CODE},
      </if>
      <if test="PROCESS_DATE != null" >
        #{PROCESS_DATE},
      </if>
      <if test="SP_NO != null and SP_NO != emptyBigDecimalValue" >
        #{SP_NO},
      </if>
      <if test="ACC_CY_AMOUNT != null and ACC_CY_AMOUNT != emptyBigDecimalValue" >
        #{ACC_CY_AMOUNT},
      </if>
      <if test="ACC_CY_AMOUNT_CV != null and ACC_CY_AMOUNT_CV != emptyBigDecimalValue" >
        #{ACC_CY_AMOUNT_CV},
      </if>
      <if test="DEAL_CY_AMOUNT != null and DEAL_CY_AMOUNT != emptyBigDecimalValue" >
        #{DEAL_CY_AMOUNT},
      </if>
      <if test="DEAL_CY_AMOUNT_CV != null and DEAL_CY_AMOUNT_CV != emptyBigDecimalValue" >
        #{DEAL_CY_AMOUNT_CV},
      </if>
      <if test="INSTALLMENT_AMOUNT != null and INSTALLMENT_AMOUNT != emptyBigDecimalValue" >
        #{INSTALLMENT_AMOUNT},
      </if>
      <if test="TOTAL_SETTLEMENT != null and TOTAL_SETTLEMENT != emptyBigDecimalValue" >
        #{TOTAL_SETTLEMENT},
      </if>
      <if test="ACC_CY_RATE != null and ACC_CY_RATE != emptyBigDecimalValue" >
        #{ACC_CY_RATE},
      </if>
      <if test="ACC_CY_MULTDIV != null" >
        #{ACC_CY_MULTDIV},
      </if>
      <if test="DEAL_CY_RATE != null and DEAL_CY_RATE != emptyBigDecimalValue" >
        #{DEAL_CY_RATE},
      </if>
      <if test="DEAL_CY_MULTDIV != null" >
        #{DEAL_CY_MULTDIV},
      </if>
      <if test="CROSS_RATE != null and CROSS_RATE != emptyBigDecimalValue" >
        #{CROSS_RATE},
      </if>
      <if test="CROSS_MULTDIV != null" >
        #{CROSS_MULTDIV},
      </if>
      <if test="REMARKS != null" >
        #{REMARKS},
      </if>
      <if test="REASON_CODE != null and REASON_CODE != emptyBigDecimalValue" >
        #{REASON_CODE},
      </if>
      <if test="CTS_TRS_NO != null and CTS_TRS_NO != emptyBigDecimalValue" >
        #{CTS_TRS_NO},
      </if>
      <if test="COUNTER_PARTY != null and COUNTER_PARTY != emptyBigDecimalValue" >
        #{COUNTER_PARTY},
      </if>
      <if test="DEAL_CY != null and DEAL_CY != emptyBigDecimalValue" >
        #{DEAL_CY},
      </if>
      <if test="SETTLEMENT_NBR != null and SETTLEMENT_NBR != emptyBigDecimalValue" >
        #{SETTLEMENT_NBR},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="CASH_AVAIL != null" >
        #{CASH_AVAIL},
      </if>
      <if test="PLAN_LINE_NBR != null and PLAN_LINE_NBR != emptyBigDecimalValue" >
        #{PLAN_LINE_NBR},
      </if>
      <if test="ACC_TYPE != null" >
        #{ACC_TYPE},
      </if>
      <if test="ORIGIN != null" >
        #{ORIGIN},
      </if>
      <if test="RECOVER_AMT_FROM_CUSTOMER_YN != null" >
        #{RECOVER_AMT_FROM_CUSTOMER_YN},
      </if>
      <if test="RECOVERY_IND != null" >
        #{RECOVERY_IND},
      </if>
      <if test="RECOVERY_AC_BR != null and RECOVERY_AC_BR != emptyBigDecimalValue" >
        #{RECOVERY_AC_BR},
      </if>
      <if test="RECOVERY_AC_CY != null and RECOVERY_AC_CY != emptyBigDecimalValue" >
        #{RECOVERY_AC_CY},
      </if>
      <if test="RECOVERY_AC_GL != null and RECOVERY_AC_GL != emptyBigDecimalValue" >
        #{RECOVERY_AC_GL},
      </if>
      <if test="RECOVERY_AC_CIF != null and RECOVERY_AC_CIF != emptyBigDecimalValue" >
        #{RECOVERY_AC_CIF},
      </if>
      <if test="RECOVERY_AC_SL != null and RECOVERY_AC_SL != emptyBigDecimalValue" >
        #{RECOVERY_AC_SL},
      </if>
      <if test="RECOVERY_RATE != null and RECOVERY_RATE != emptyBigDecimalValue" >
        #{RECOVERY_RATE},
      </if>
      <if test="RECOVERY_MULTDIV != null" >
        #{RECOVERY_MULTDIV},
      </if>
      <if test="RECOVERY_AMT != null and RECOVERY_AMT != emptyBigDecimalValue" >
        #{RECOVERY_AMT},
      </if>
      <if test="ORIGIN_RELEASE != null" >
        #{ORIGIN_RELEASE},
      </if>
      <if test="RELEASED_DATE != null" >
        #{RELEASED_DATE},
      </if>
      <if test="RELEASED_BY != null" >
        #{RELEASED_BY},
      </if>
      <if test="SERVER_RELEASED_DATE != null" >
        #{SERVER_RELEASED_DATE},
      </if>
      <if test="AMF_AVAIL_BAL_CV != null and AMF_AVAIL_BAL_CV != emptyBigDecimalValue" >
        #{AMF_AVAIL_BAL_CV},
      </if>
      <if test="AMF_AVAIL_BAL_FC != null and AMF_AVAIL_BAL_FC != emptyBigDecimalValue" >
        #{AMF_AVAIL_BAL_FC},
      </if>
      <if test="AMF_BLOCKED_CV != null and AMF_BLOCKED_CV != emptyBigDecimalValue" >
        #{AMF_BLOCKED_CV},
      </if>
      <if test="AMF_BLOCKED_FC != null and AMF_BLOCKED_FC != emptyBigDecimalValue" >
        #{AMF_BLOCKED_FC},
      </if>
      <if test="OP_NO != null and OP_NO != emptyBigDecimalValue" >
        #{OP_NO},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRSSETLMTBLOCKINGDET" >
    update TRSSETLMTBLOCKINGDET
    <set >
      <if test="ACTION_TYPE != null" >
        ACTION_TYPE = #{ACTION_TYPE},
      </if>
      <if test="ACCOUNT_HOLDER != null" >
        <choose >
          <when test="ACCOUNT_HOLDER == emptyBigDecimalValue" >
            ACCOUNT_HOLDER = NULL ,
          </when>
          <otherwise >
            ACCOUNT_HOLDER = #{ACCOUNT_HOLDER},
          </otherwise>
        </choose>
      </if>
      <if test="ACCOUNT_HOLDER_TYPE != null" >
        ACCOUNT_HOLDER_TYPE = #{ACCOUNT_HOLDER_TYPE},
      </if>
      <if test="ACCOUNT_BRANCH != null" >
        <choose >
          <when test="ACCOUNT_BRANCH == emptyBigDecimalValue" >
            ACCOUNT_BRANCH = NULL ,
          </when>
          <otherwise >
            ACCOUNT_BRANCH = #{ACCOUNT_BRANCH},
          </otherwise>
        </choose>
      </if>
      <if test="CURRENCY_CODE != null" >
        <choose >
          <when test="CURRENCY_CODE == emptyBigDecimalValue" >
            CURRENCY_CODE = NULL ,
          </when>
          <otherwise >
            CURRENCY_CODE = #{CURRENCY_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="GL_CODE != null" >
        <choose >
          <when test="GL_CODE == emptyBigDecimalValue" >
            GL_CODE = NULL ,
          </when>
          <otherwise >
            GL_CODE = #{GL_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="CIF_SUB_NO != null" >
        <choose >
          <when test="CIF_SUB_NO == emptyBigDecimalValue" >
            CIF_SUB_NO = NULL ,
          </when>
          <otherwise >
            CIF_SUB_NO = #{CIF_SUB_NO},
          </otherwise>
        </choose>
      </if>
      <if test="SL_NO != null" >
        <choose >
          <when test="SL_NO == emptyBigDecimalValue" >
            SL_NO = NULL ,
          </when>
          <otherwise >
            SL_NO = #{SL_NO},
          </otherwise>
        </choose>
      </if>
      <if test="PROCESS_CODE != null" >
        <choose >
          <when test="PROCESS_CODE == emptyBigDecimalValue" >
            PROCESS_CODE = NULL ,
          </when>
          <otherwise >
            PROCESS_CODE = #{PROCESS_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="PROCESS_DATE != null" >
        PROCESS_DATE = #{PROCESS_DATE},
      </if>
      <if test="SP_NO != null" >
        <choose >
          <when test="SP_NO == emptyBigDecimalValue" >
            SP_NO = NULL ,
          </when>
          <otherwise >
            SP_NO = #{SP_NO},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CY_AMOUNT != null" >
        <choose >
          <when test="ACC_CY_AMOUNT == emptyBigDecimalValue" >
            ACC_CY_AMOUNT = NULL ,
          </when>
          <otherwise >
            ACC_CY_AMOUNT = #{ACC_CY_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CY_AMOUNT_CV != null" >
        <choose >
          <when test="ACC_CY_AMOUNT_CV == emptyBigDecimalValue" >
            ACC_CY_AMOUNT_CV = NULL ,
          </when>
          <otherwise >
            ACC_CY_AMOUNT_CV = #{ACC_CY_AMOUNT_CV},
          </otherwise>
        </choose>
      </if>
      <if test="DEAL_CY_AMOUNT != null" >
        <choose >
          <when test="DEAL_CY_AMOUNT == emptyBigDecimalValue" >
            DEAL_CY_AMOUNT = NULL ,
          </when>
          <otherwise >
            DEAL_CY_AMOUNT = #{DEAL_CY_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="DEAL_CY_AMOUNT_CV != null" >
        <choose >
          <when test="DEAL_CY_AMOUNT_CV == emptyBigDecimalValue" >
            DEAL_CY_AMOUNT_CV = NULL ,
          </when>
          <otherwise >
            DEAL_CY_AMOUNT_CV = #{DEAL_CY_AMOUNT_CV},
          </otherwise>
        </choose>
      </if>
      <if test="INSTALLMENT_AMOUNT != null" >
        <choose >
          <when test="INSTALLMENT_AMOUNT == emptyBigDecimalValue" >
            INSTALLMENT_AMOUNT = NULL ,
          </when>
          <otherwise >
            INSTALLMENT_AMOUNT = #{INSTALLMENT_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="TOTAL_SETTLEMENT != null" >
        <choose >
          <when test="TOTAL_SETTLEMENT == emptyBigDecimalValue" >
            TOTAL_SETTLEMENT = NULL ,
          </when>
          <otherwise >
            TOTAL_SETTLEMENT = #{TOTAL_SETTLEMENT},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CY_RATE != null" >
        <choose >
          <when test="ACC_CY_RATE == emptyBigDecimalValue" >
            ACC_CY_RATE = NULL ,
          </when>
          <otherwise >
            ACC_CY_RATE = #{ACC_CY_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CY_MULTDIV != null" >
        ACC_CY_MULTDIV = #{ACC_CY_MULTDIV},
      </if>
      <if test="DEAL_CY_RATE != null" >
        <choose >
          <when test="DEAL_CY_RATE == emptyBigDecimalValue" >
            DEAL_CY_RATE = NULL ,
          </when>
          <otherwise >
            DEAL_CY_RATE = #{DEAL_CY_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="DEAL_CY_MULTDIV != null" >
        DEAL_CY_MULTDIV = #{DEAL_CY_MULTDIV},
      </if>
      <if test="CROSS_RATE != null" >
        <choose >
          <when test="CROSS_RATE == emptyBigDecimalValue" >
            CROSS_RATE = NULL ,
          </when>
          <otherwise >
            CROSS_RATE = #{CROSS_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="CROSS_MULTDIV != null" >
        CROSS_MULTDIV = #{CROSS_MULTDIV},
      </if>
      <if test="REMARKS != null" >
        REMARKS = #{REMARKS},
      </if>
      <if test="REASON_CODE != null" >
        <choose >
          <when test="REASON_CODE == emptyBigDecimalValue" >
            REASON_CODE = NULL ,
          </when>
          <otherwise >
            REASON_CODE = #{REASON_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="CTS_TRS_NO != null" >
        <choose >
          <when test="CTS_TRS_NO == emptyBigDecimalValue" >
            CTS_TRS_NO = NULL ,
          </when>
          <otherwise >
            CTS_TRS_NO = #{CTS_TRS_NO},
          </otherwise>
        </choose>
      </if>
      <if test="COUNTER_PARTY != null" >
        <choose >
          <when test="COUNTER_PARTY == emptyBigDecimalValue" >
            COUNTER_PARTY = NULL ,
          </when>
          <otherwise >
            COUNTER_PARTY = #{COUNTER_PARTY},
          </otherwise>
        </choose>
      </if>
      <if test="DEAL_CY != null" >
        <choose >
          <when test="DEAL_CY == emptyBigDecimalValue" >
            DEAL_CY = NULL ,
          </when>
          <otherwise >
            DEAL_CY = #{DEAL_CY},
          </otherwise>
        </choose>
      </if>
      <if test="SETTLEMENT_NBR != null" >
        <choose >
          <when test="SETTLEMENT_NBR == emptyBigDecimalValue" >
            SETTLEMENT_NBR = NULL ,
          </when>
          <otherwise >
            SETTLEMENT_NBR = #{SETTLEMENT_NBR},
          </otherwise>
        </choose>
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="CASH_AVAIL != null" >
        CASH_AVAIL = #{CASH_AVAIL},
      </if>
      <if test="PLAN_LINE_NBR != null" >
        <choose >
          <when test="PLAN_LINE_NBR == emptyBigDecimalValue" >
            PLAN_LINE_NBR = NULL ,
          </when>
          <otherwise >
            PLAN_LINE_NBR = #{PLAN_LINE_NBR},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_TYPE != null" >
        ACC_TYPE = #{ACC_TYPE},
      </if>
      <if test="ORIGIN != null" >
        ORIGIN = #{ORIGIN},
      </if>
      <if test="RECOVER_AMT_FROM_CUSTOMER_YN != null" >
        RECOVER_AMT_FROM_CUSTOMER_YN = #{RECOVER_AMT_FROM_CUSTOMER_YN},
      </if>
      <if test="RECOVERY_IND != null" >
        RECOVERY_IND = #{RECOVERY_IND},
      </if>
      <if test="RECOVERY_AC_BR != null" >
        <choose >
          <when test="RECOVERY_AC_BR == emptyBigDecimalValue" >
            RECOVERY_AC_BR = NULL ,
          </when>
          <otherwise >
            RECOVERY_AC_BR = #{RECOVERY_AC_BR},
          </otherwise>
        </choose>
      </if>
      <if test="RECOVERY_AC_CY != null" >
        <choose >
          <when test="RECOVERY_AC_CY == emptyBigDecimalValue" >
            RECOVERY_AC_CY = NULL ,
          </when>
          <otherwise >
            RECOVERY_AC_CY = #{RECOVERY_AC_CY},
          </otherwise>
        </choose>
      </if>
      <if test="RECOVERY_AC_GL != null" >
        <choose >
          <when test="RECOVERY_AC_GL == emptyBigDecimalValue" >
            RECOVERY_AC_GL = NULL ,
          </when>
          <otherwise >
            RECOVERY_AC_GL = #{RECOVERY_AC_GL},
          </otherwise>
        </choose>
      </if>
      <if test="RECOVERY_AC_CIF != null" >
        <choose >
          <when test="RECOVERY_AC_CIF == emptyBigDecimalValue" >
            RECOVERY_AC_CIF = NULL ,
          </when>
          <otherwise >
            RECOVERY_AC_CIF = #{RECOVERY_AC_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="RECOVERY_AC_SL != null" >
        <choose >
          <when test="RECOVERY_AC_SL == emptyBigDecimalValue" >
            RECOVERY_AC_SL = NULL ,
          </when>
          <otherwise >
            RECOVERY_AC_SL = #{RECOVERY_AC_SL},
          </otherwise>
        </choose>
      </if>
      <if test="RECOVERY_RATE != null" >
        <choose >
          <when test="RECOVERY_RATE == emptyBigDecimalValue" >
            RECOVERY_RATE = NULL ,
          </when>
          <otherwise >
            RECOVERY_RATE = #{RECOVERY_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="RECOVERY_MULTDIV != null" >
        RECOVERY_MULTDIV = #{RECOVERY_MULTDIV},
      </if>
      <if test="RECOVERY_AMT != null" >
        <choose >
          <when test="RECOVERY_AMT == emptyBigDecimalValue" >
            RECOVERY_AMT = NULL ,
          </when>
          <otherwise >
            RECOVERY_AMT = #{RECOVERY_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="ORIGIN_RELEASE != null" >
        ORIGIN_RELEASE = #{ORIGIN_RELEASE},
      </if>
      <if test="RELEASED_DATE != null" >
        RELEASED_DATE = #{RELEASED_DATE},
      </if>
      <if test="RELEASED_BY != null" >
        RELEASED_BY = #{RELEASED_BY},
      </if>
      <if test="SERVER_RELEASED_DATE != null" >
        SERVER_RELEASED_DATE = #{SERVER_RELEASED_DATE},
      </if>
      <if test="AMF_AVAIL_BAL_CV != null" >
        <choose >
          <when test="AMF_AVAIL_BAL_CV == emptyBigDecimalValue" >
            AMF_AVAIL_BAL_CV = NULL ,
          </when>
          <otherwise >
            AMF_AVAIL_BAL_CV = #{AMF_AVAIL_BAL_CV},
          </otherwise>
        </choose>
      </if>
      <if test="AMF_AVAIL_BAL_FC != null" >
        <choose >
          <when test="AMF_AVAIL_BAL_FC == emptyBigDecimalValue" >
            AMF_AVAIL_BAL_FC = NULL ,
          </when>
          <otherwise >
            AMF_AVAIL_BAL_FC = #{AMF_AVAIL_BAL_FC},
          </otherwise>
        </choose>
      </if>
      <if test="AMF_BLOCKED_CV != null" >
        <choose >
          <when test="AMF_BLOCKED_CV == emptyBigDecimalValue" >
            AMF_BLOCKED_CV = NULL ,
          </when>
          <otherwise >
            AMF_BLOCKED_CV = #{AMF_BLOCKED_CV},
          </otherwise>
        </choose>
      </if>
      <if test="AMF_BLOCKED_FC != null" >
        <choose >
          <when test="AMF_BLOCKED_FC == emptyBigDecimalValue" >
            AMF_BLOCKED_FC = NULL ,
          </when>
          <otherwise >
            AMF_BLOCKED_FC = #{AMF_BLOCKED_FC},
          </otherwise>
        </choose>
      </if>
      <if test="OP_NO != null" >
        <choose >
          <when test="OP_NO == emptyBigDecimalValue" >
            OP_NO = NULL ,
          </when>
          <otherwise >
            OP_NO = #{OP_NO},
          </otherwise>
        </choose>
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and DEAL_NO = #{DEAL_NO}
      and INSTALLMENT_DATE = #{INSTALLMENT_DATE}
      and LINE_NBR = #{LINE_NBR}
      and PLAN_NBR = #{PLAN_NBR}
      and PLAN_SEQ = #{PLAN_SEQ}
      and TRIAL_NBR = #{TRIAL_NBR}
  </sql>
  <update id="updateTRSSETLMTBLOCKINGDET" parameterType="com.path.dbmaps.vo.TRSSETLMTBLOCKINGDETVO" >
    <include refid="sql_updateTRSSETLMTBLOCKINGDET" />
  </update>
</mapper>