<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRSSETLMTBLOCKING" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRSSETLMTBLOCKINGVO" >
    <id column="ACTION_TYPE" property="ACTION_TYPE" />
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="COUNTER_PARTY" property="COUNTER_PARTY" />
    <id column="DEAL_NO" property="DEAL_NO" />
    <id column="INSTALLMENT_DATE" property="INSTALLMENT_DATE" />
    <id column="PLAN_NBR" property="PLAN_NBR" />
    <id column="PLAN_SEQ" property="PLAN_SEQ" />
    <id column="PROCESS_CODE" property="PROCESS_CODE" />
    <id column="PROCESS_DATE" property="PROCESS_DATE" />
    <id column="TRIAL_NBR" property="TRIAL_NBR" />
    <result column="DEAL_CY" property="DEAL_CY" />
    <result column="TRIAL_CHARGE" property="TRIAL_CHARGE" />
    <result column="BLOCKED_AMOUNT" property="BLOCKED_AMOUNT" />
    <result column="BLOCKED_AMOUNT_CV" property="BLOCKED_AMOUNT_CV" />
    <result column="INSTALLMENT_AMOUNT" property="INSTALLMENT_AMOUNT" />
    <result column="TOTAL_SETTLEMENT" property="TOTAL_SETTLEMENT" />
    <result column="EXCH_RATE" property="EXCH_RATE" />
    <result column="EXCH_MULTDIV" property="EXCH_MULTDIV" />
    <result column="REMARKS" property="REMARKS" />
    <result column="REASON_CODE" property="REASON_CODE" />
    <result column="SETTLEMENT_NBR" property="SETTLEMENT_NBR" />
    <result column="STATUS" property="STATUS" />
    <result column="CHARGE_TEMPLATE_CODE" property="CHARGE_TEMPLATE_CODE" />
    <result column="CASH_AVAIL" property="CASH_AVAIL" />
    <result column="LINE_NBR" property="LINE_NBR" />
    <result column="ORIGIN" property="ORIGIN" />
    <result column="PENALTY_AMOUNT" property="PENALTY_AMOUNT" />
    <result column="CHARGE_CODE" property="CHARGE_CODE" />
    <result column="VAT_AMOUNT" property="VAT_AMOUNT" />
    <result column="PRINCIPAL_AMOUNT_DUE" property="PRINCIPAL_AMOUNT_DUE" />
    <result column="PROFIT_AMOUNT_DUE" property="PROFIT_AMOUNT_DUE" />
    <result column="VAT_ON_PROFIT_DUE" property="VAT_ON_PROFIT_DUE" />
    <result column="VAT_ON_CHARGE_DUE" property="VAT_ON_CHARGE_DUE" />
    <result column="CHARGE_AMOUNT_DUE" property="CHARGE_AMOUNT_DUE" />
    <result column="ADV_INSURANCE_AMOUNT_DUE" property="ADV_INSURANCE_AMOUNT_DUE" />
    <result column="VAT_ON_PENALTY_DUE" property="VAT_ON_PENALTY_DUE" />
    <result column="OWINGS_DUE" property="OWINGS_DUE" />
    <result column="APPORTIONMENT_YN" property="APPORTIONMENT_YN" />
    <result column="APPORTIONMENT_IND" property="APPORTIONMENT_IND" />
    <result column="MARGIN_AMT" property="MARGIN_AMT" />
    <result column="VAT_ON_SETTLEMNT_AMT_DUE" property="VAT_ON_SETTLEMNT_AMT_DUE" />
    <result column="STOP_SETTLEMENT_YN" property="STOP_SETTLEMENT_YN" />
  </resultMap>
  <sql id="Base_Column_List" >
    ACTION_TYPE, BRANCH_CODE, COMP_CODE, COUNTER_PARTY, DEAL_NO, INSTALLMENT_DATE, PLAN_NBR, 
    PLAN_SEQ, PROCESS_CODE, PROCESS_DATE, TRIAL_NBR, DEAL_CY, TRIAL_CHARGE, BLOCKED_AMOUNT, 
    BLOCKED_AMOUNT_CV, INSTALLMENT_AMOUNT, TOTAL_SETTLEMENT, EXCH_RATE, EXCH_MULTDIV, 
    REMARKS, REASON_CODE, SETTLEMENT_NBR, STATUS, CHARGE_TEMPLATE_CODE, CASH_AVAIL, LINE_NBR, 
    ORIGIN, PENALTY_AMOUNT, CHARGE_CODE, VAT_AMOUNT, PRINCIPAL_AMOUNT_DUE, PROFIT_AMOUNT_DUE, 
    VAT_ON_PROFIT_DUE, VAT_ON_CHARGE_DUE, CHARGE_AMOUNT_DUE, ADV_INSURANCE_AMOUNT_DUE, 
    VAT_ON_PENALTY_DUE, OWINGS_DUE, APPORTIONMENT_YN, APPORTIONMENT_IND, MARGIN_AMT, 
    VAT_ON_SETTLEMNT_AMT_DUE, STOP_SETTLEMENT_YN
  </sql>
  <select id="selectTRSSETLMTBLOCKING" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRSSETLMTBLOCKINGVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRSSETLMTBLOCKING
    where ACTION_TYPE = #{ACTION_TYPE}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and COUNTER_PARTY = #{COUNTER_PARTY}
      and DEAL_NO = #{DEAL_NO}
      and INSTALLMENT_DATE = #{INSTALLMENT_DATE}
      and PLAN_NBR = #{PLAN_NBR}
      and PLAN_SEQ = #{PLAN_SEQ}
      and PROCESS_CODE = #{PROCESS_CODE}
      and PROCESS_DATE = #{PROCESS_DATE}
      and TRIAL_NBR = #{TRIAL_NBR}
  </select>
  <delete id="deleteTRSSETLMTBLOCKING" parameterType="com.path.dbmaps.vo.TRSSETLMTBLOCKINGVOKey" >
    delete from TRSSETLMTBLOCKING
    where ACTION_TYPE = #{ACTION_TYPE}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and COUNTER_PARTY = #{COUNTER_PARTY}
      and DEAL_NO = #{DEAL_NO}
      and INSTALLMENT_DATE = #{INSTALLMENT_DATE}
      and PLAN_NBR = #{PLAN_NBR}
      and PLAN_SEQ = #{PLAN_SEQ}
      and PROCESS_CODE = #{PROCESS_CODE}
      and PROCESS_DATE = #{PROCESS_DATE}
      and TRIAL_NBR = #{TRIAL_NBR}
  </delete>
  <insert id="insertTRSSETLMTBLOCKING" parameterType="com.path.dbmaps.vo.TRSSETLMTBLOCKINGVO" >
    insert into TRSSETLMTBLOCKING
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ACTION_TYPE != null" >
        ACTION_TYPE,
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="COUNTER_PARTY != null and COUNTER_PARTY != emptyBigDecimalValue" >
        COUNTER_PARTY,
      </if>
      <if test="DEAL_NO != null and DEAL_NO != emptyBigDecimalValue" >
        DEAL_NO,
      </if>
      <if test="INSTALLMENT_DATE != null" >
        INSTALLMENT_DATE,
      </if>
      <if test="PLAN_NBR != null and PLAN_NBR != emptyBigDecimalValue" >
        PLAN_NBR,
      </if>
      <if test="PLAN_SEQ != null and PLAN_SEQ != emptyBigDecimalValue" >
        PLAN_SEQ,
      </if>
      <if test="PROCESS_CODE != null and PROCESS_CODE != emptyBigDecimalValue" >
        PROCESS_CODE,
      </if>
      <if test="PROCESS_DATE != null" >
        PROCESS_DATE,
      </if>
      <if test="TRIAL_NBR != null and TRIAL_NBR != emptyBigDecimalValue" >
        TRIAL_NBR,
      </if>
      <if test="DEAL_CY != null and DEAL_CY != emptyBigDecimalValue" >
        DEAL_CY,
      </if>
      <if test="TRIAL_CHARGE != null and TRIAL_CHARGE != emptyBigDecimalValue" >
        TRIAL_CHARGE,
      </if>
      <if test="BLOCKED_AMOUNT != null and BLOCKED_AMOUNT != emptyBigDecimalValue" >
        BLOCKED_AMOUNT,
      </if>
      <if test="BLOCKED_AMOUNT_CV != null and BLOCKED_AMOUNT_CV != emptyBigDecimalValue" >
        BLOCKED_AMOUNT_CV,
      </if>
      <if test="INSTALLMENT_AMOUNT != null and INSTALLMENT_AMOUNT != emptyBigDecimalValue" >
        INSTALLMENT_AMOUNT,
      </if>
      <if test="TOTAL_SETTLEMENT != null and TOTAL_SETTLEMENT != emptyBigDecimalValue" >
        TOTAL_SETTLEMENT,
      </if>
      <if test="EXCH_RATE != null and EXCH_RATE != emptyBigDecimalValue" >
        EXCH_RATE,
      </if>
      <if test="EXCH_MULTDIV != null" >
        EXCH_MULTDIV,
      </if>
      <if test="REMARKS != null" >
        REMARKS,
      </if>
      <if test="REASON_CODE != null and REASON_CODE != emptyBigDecimalValue" >
        REASON_CODE,
      </if>
      <if test="SETTLEMENT_NBR != null and SETTLEMENT_NBR != emptyBigDecimalValue" >
        SETTLEMENT_NBR,
      </if>
      <if test="STATUS != null" >
        STATUS,
      </if>
      <if test="CHARGE_TEMPLATE_CODE != null and CHARGE_TEMPLATE_CODE != emptyBigDecimalValue" >
        CHARGE_TEMPLATE_CODE,
      </if>
      <if test="CASH_AVAIL != null" >
        CASH_AVAIL,
      </if>
      <if test="LINE_NBR != null and LINE_NBR != emptyBigDecimalValue" >
        LINE_NBR,
      </if>
      <if test="ORIGIN != null" >
        ORIGIN,
      </if>
      <if test="PENALTY_AMOUNT != null and PENALTY_AMOUNT != emptyBigDecimalValue" >
        PENALTY_AMOUNT,
      </if>
      <if test="CHARGE_CODE != null and CHARGE_CODE != emptyBigDecimalValue" >
        CHARGE_CODE,
      </if>
      <if test="VAT_AMOUNT != null and VAT_AMOUNT != emptyBigDecimalValue" >
        VAT_AMOUNT,
      </if>
      <if test="PRINCIPAL_AMOUNT_DUE != null and PRINCIPAL_AMOUNT_DUE != emptyBigDecimalValue" >
        PRINCIPAL_AMOUNT_DUE,
      </if>
      <if test="PROFIT_AMOUNT_DUE != null and PROFIT_AMOUNT_DUE != emptyBigDecimalValue" >
        PROFIT_AMOUNT_DUE,
      </if>
      <if test="VAT_ON_PROFIT_DUE != null and VAT_ON_PROFIT_DUE != emptyBigDecimalValue" >
        VAT_ON_PROFIT_DUE,
      </if>
      <if test="VAT_ON_CHARGE_DUE != null and VAT_ON_CHARGE_DUE != emptyBigDecimalValue" >
        VAT_ON_CHARGE_DUE,
      </if>
      <if test="CHARGE_AMOUNT_DUE != null and CHARGE_AMOUNT_DUE != emptyBigDecimalValue" >
        CHARGE_AMOUNT_DUE,
      </if>
      <if test="ADV_INSURANCE_AMOUNT_DUE != null and ADV_INSURANCE_AMOUNT_DUE != emptyBigDecimalValue" >
        ADV_INSURANCE_AMOUNT_DUE,
      </if>
      <if test="VAT_ON_PENALTY_DUE != null and VAT_ON_PENALTY_DUE != emptyBigDecimalValue" >
        VAT_ON_PENALTY_DUE,
      </if>
      <if test="OWINGS_DUE != null and OWINGS_DUE != emptyBigDecimalValue" >
        OWINGS_DUE,
      </if>
      <if test="APPORTIONMENT_YN != null" >
        APPORTIONMENT_YN,
      </if>
      <if test="APPORTIONMENT_IND != null and APPORTIONMENT_IND != emptyBigDecimalValue" >
        APPORTIONMENT_IND,
      </if>
      <if test="MARGIN_AMT != null and MARGIN_AMT != emptyBigDecimalValue" >
        MARGIN_AMT,
      </if>
      <if test="VAT_ON_SETTLEMNT_AMT_DUE != null and VAT_ON_SETTLEMNT_AMT_DUE != emptyBigDecimalValue" >
        VAT_ON_SETTLEMNT_AMT_DUE,
      </if>
      <if test="STOP_SETTLEMENT_YN != null" >
        STOP_SETTLEMENT_YN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ACTION_TYPE != null" >
        #{ACTION_TYPE},
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="COUNTER_PARTY != null and COUNTER_PARTY != emptyBigDecimalValue" >
        #{COUNTER_PARTY},
      </if>
      <if test="DEAL_NO != null and DEAL_NO != emptyBigDecimalValue" >
        #{DEAL_NO},
      </if>
      <if test="INSTALLMENT_DATE != null" >
        #{INSTALLMENT_DATE},
      </if>
      <if test="PLAN_NBR != null and PLAN_NBR != emptyBigDecimalValue" >
        #{PLAN_NBR},
      </if>
      <if test="PLAN_SEQ != null and PLAN_SEQ != emptyBigDecimalValue" >
        #{PLAN_SEQ},
      </if>
      <if test="PROCESS_CODE != null and PROCESS_CODE != emptyBigDecimalValue" >
        #{PROCESS_CODE},
      </if>
      <if test="PROCESS_DATE != null" >
        #{PROCESS_DATE},
      </if>
      <if test="TRIAL_NBR != null and TRIAL_NBR != emptyBigDecimalValue" >
        #{TRIAL_NBR},
      </if>
      <if test="DEAL_CY != null and DEAL_CY != emptyBigDecimalValue" >
        #{DEAL_CY},
      </if>
      <if test="TRIAL_CHARGE != null and TRIAL_CHARGE != emptyBigDecimalValue" >
        #{TRIAL_CHARGE},
      </if>
      <if test="BLOCKED_AMOUNT != null and BLOCKED_AMOUNT != emptyBigDecimalValue" >
        #{BLOCKED_AMOUNT},
      </if>
      <if test="BLOCKED_AMOUNT_CV != null and BLOCKED_AMOUNT_CV != emptyBigDecimalValue" >
        #{BLOCKED_AMOUNT_CV},
      </if>
      <if test="INSTALLMENT_AMOUNT != null and INSTALLMENT_AMOUNT != emptyBigDecimalValue" >
        #{INSTALLMENT_AMOUNT},
      </if>
      <if test="TOTAL_SETTLEMENT != null and TOTAL_SETTLEMENT != emptyBigDecimalValue" >
        #{TOTAL_SETTLEMENT},
      </if>
      <if test="EXCH_RATE != null and EXCH_RATE != emptyBigDecimalValue" >
        #{EXCH_RATE},
      </if>
      <if test="EXCH_MULTDIV != null" >
        #{EXCH_MULTDIV},
      </if>
      <if test="REMARKS != null" >
        #{REMARKS},
      </if>
      <if test="REASON_CODE != null and REASON_CODE != emptyBigDecimalValue" >
        #{REASON_CODE},
      </if>
      <if test="SETTLEMENT_NBR != null and SETTLEMENT_NBR != emptyBigDecimalValue" >
        #{SETTLEMENT_NBR},
      </if>
      <if test="STATUS != null" >
        #{STATUS},
      </if>
      <if test="CHARGE_TEMPLATE_CODE != null and CHARGE_TEMPLATE_CODE != emptyBigDecimalValue" >
        #{CHARGE_TEMPLATE_CODE},
      </if>
      <if test="CASH_AVAIL != null" >
        #{CASH_AVAIL},
      </if>
      <if test="LINE_NBR != null and LINE_NBR != emptyBigDecimalValue" >
        #{LINE_NBR},
      </if>
      <if test="ORIGIN != null" >
        #{ORIGIN},
      </if>
      <if test="PENALTY_AMOUNT != null and PENALTY_AMOUNT != emptyBigDecimalValue" >
        #{PENALTY_AMOUNT},
      </if>
      <if test="CHARGE_CODE != null and CHARGE_CODE != emptyBigDecimalValue" >
        #{CHARGE_CODE},
      </if>
      <if test="VAT_AMOUNT != null and VAT_AMOUNT != emptyBigDecimalValue" >
        #{VAT_AMOUNT},
      </if>
      <if test="PRINCIPAL_AMOUNT_DUE != null and PRINCIPAL_AMOUNT_DUE != emptyBigDecimalValue" >
        #{PRINCIPAL_AMOUNT_DUE},
      </if>
      <if test="PROFIT_AMOUNT_DUE != null and PROFIT_AMOUNT_DUE != emptyBigDecimalValue" >
        #{PROFIT_AMOUNT_DUE},
      </if>
      <if test="VAT_ON_PROFIT_DUE != null and VAT_ON_PROFIT_DUE != emptyBigDecimalValue" >
        #{VAT_ON_PROFIT_DUE},
      </if>
      <if test="VAT_ON_CHARGE_DUE != null and VAT_ON_CHARGE_DUE != emptyBigDecimalValue" >
        #{VAT_ON_CHARGE_DUE},
      </if>
      <if test="CHARGE_AMOUNT_DUE != null and CHARGE_AMOUNT_DUE != emptyBigDecimalValue" >
        #{CHARGE_AMOUNT_DUE},
      </if>
      <if test="ADV_INSURANCE_AMOUNT_DUE != null and ADV_INSURANCE_AMOUNT_DUE != emptyBigDecimalValue" >
        #{ADV_INSURANCE_AMOUNT_DUE},
      </if>
      <if test="VAT_ON_PENALTY_DUE != null and VAT_ON_PENALTY_DUE != emptyBigDecimalValue" >
        #{VAT_ON_PENALTY_DUE},
      </if>
      <if test="OWINGS_DUE != null and OWINGS_DUE != emptyBigDecimalValue" >
        #{OWINGS_DUE},
      </if>
      <if test="APPORTIONMENT_YN != null" >
        #{APPORTIONMENT_YN},
      </if>
      <if test="APPORTIONMENT_IND != null and APPORTIONMENT_IND != emptyBigDecimalValue" >
        #{APPORTIONMENT_IND},
      </if>
      <if test="MARGIN_AMT != null and MARGIN_AMT != emptyBigDecimalValue" >
        #{MARGIN_AMT},
      </if>
      <if test="VAT_ON_SETTLEMNT_AMT_DUE != null and VAT_ON_SETTLEMNT_AMT_DUE != emptyBigDecimalValue" >
        #{VAT_ON_SETTLEMNT_AMT_DUE},
      </if>
      <if test="STOP_SETTLEMENT_YN != null" >
        #{STOP_SETTLEMENT_YN},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRSSETLMTBLOCKING" >
    update TRSSETLMTBLOCKING
    <set >
      <if test="DEAL_CY != null" >
        <choose >
          <when test="DEAL_CY == emptyBigDecimalValue" >
            DEAL_CY = NULL ,
          </when>
          <otherwise >
            DEAL_CY = #{DEAL_CY},
          </otherwise>
        </choose>
      </if>
      <if test="TRIAL_CHARGE != null" >
        <choose >
          <when test="TRIAL_CHARGE == emptyBigDecimalValue" >
            TRIAL_CHARGE = NULL ,
          </when>
          <otherwise >
            TRIAL_CHARGE = #{TRIAL_CHARGE},
          </otherwise>
        </choose>
      </if>
      <if test="BLOCKED_AMOUNT != null" >
        <choose >
          <when test="BLOCKED_AMOUNT == emptyBigDecimalValue" >
            BLOCKED_AMOUNT = NULL ,
          </when>
          <otherwise >
            BLOCKED_AMOUNT = #{BLOCKED_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="BLOCKED_AMOUNT_CV != null" >
        <choose >
          <when test="BLOCKED_AMOUNT_CV == emptyBigDecimalValue" >
            BLOCKED_AMOUNT_CV = NULL ,
          </when>
          <otherwise >
            BLOCKED_AMOUNT_CV = #{BLOCKED_AMOUNT_CV},
          </otherwise>
        </choose>
      </if>
      <if test="INSTALLMENT_AMOUNT != null" >
        <choose >
          <when test="INSTALLMENT_AMOUNT == emptyBigDecimalValue" >
            INSTALLMENT_AMOUNT = NULL ,
          </when>
          <otherwise >
            INSTALLMENT_AMOUNT = #{INSTALLMENT_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="TOTAL_SETTLEMENT != null" >
        <choose >
          <when test="TOTAL_SETTLEMENT == emptyBigDecimalValue" >
            TOTAL_SETTLEMENT = NULL ,
          </when>
          <otherwise >
            TOTAL_SETTLEMENT = #{TOTAL_SETTLEMENT},
          </otherwise>
        </choose>
      </if>
      <if test="EXCH_RATE != null" >
        <choose >
          <when test="EXCH_RATE == emptyBigDecimalValue" >
            EXCH_RATE = NULL ,
          </when>
          <otherwise >
            EXCH_RATE = #{EXCH_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="EXCH_MULTDIV != null" >
        EXCH_MULTDIV = #{EXCH_MULTDIV},
      </if>
      <if test="REMARKS != null" >
        REMARKS = #{REMARKS},
      </if>
      <if test="REASON_CODE != null" >
        <choose >
          <when test="REASON_CODE == emptyBigDecimalValue" >
            REASON_CODE = NULL ,
          </when>
          <otherwise >
            REASON_CODE = #{REASON_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="SETTLEMENT_NBR != null" >
        <choose >
          <when test="SETTLEMENT_NBR == emptyBigDecimalValue" >
            SETTLEMENT_NBR = NULL ,
          </when>
          <otherwise >
            SETTLEMENT_NBR = #{SETTLEMENT_NBR},
          </otherwise>
        </choose>
      </if>
      <if test="STATUS != null" >
        STATUS = #{STATUS},
      </if>
      <if test="CHARGE_TEMPLATE_CODE != null" >
        <choose >
          <when test="CHARGE_TEMPLATE_CODE == emptyBigDecimalValue" >
            CHARGE_TEMPLATE_CODE = NULL ,
          </when>
          <otherwise >
            CHARGE_TEMPLATE_CODE = #{CHARGE_TEMPLATE_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="CASH_AVAIL != null" >
        CASH_AVAIL = #{CASH_AVAIL},
      </if>
      <if test="LINE_NBR != null" >
        <choose >
          <when test="LINE_NBR == emptyBigDecimalValue" >
            LINE_NBR = NULL ,
          </when>
          <otherwise >
            LINE_NBR = #{LINE_NBR},
          </otherwise>
        </choose>
      </if>
      <if test="ORIGIN != null" >
        ORIGIN = #{ORIGIN},
      </if>
      <if test="PENALTY_AMOUNT != null" >
        <choose >
          <when test="PENALTY_AMOUNT == emptyBigDecimalValue" >
            PENALTY_AMOUNT = NULL ,
          </when>
          <otherwise >
            PENALTY_AMOUNT = #{PENALTY_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="CHARGE_CODE != null" >
        <choose >
          <when test="CHARGE_CODE == emptyBigDecimalValue" >
            CHARGE_CODE = NULL ,
          </when>
          <otherwise >
            CHARGE_CODE = #{CHARGE_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="VAT_AMOUNT != null" >
        <choose >
          <when test="VAT_AMOUNT == emptyBigDecimalValue" >
            VAT_AMOUNT = NULL ,
          </when>
          <otherwise >
            VAT_AMOUNT = #{VAT_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="PRINCIPAL_AMOUNT_DUE != null" >
        <choose >
          <when test="PRINCIPAL_AMOUNT_DUE == emptyBigDecimalValue" >
            PRINCIPAL_AMOUNT_DUE = NULL ,
          </when>
          <otherwise >
            PRINCIPAL_AMOUNT_DUE = #{PRINCIPAL_AMOUNT_DUE},
          </otherwise>
        </choose>
      </if>
      <if test="PROFIT_AMOUNT_DUE != null" >
        <choose >
          <when test="PROFIT_AMOUNT_DUE == emptyBigDecimalValue" >
            PROFIT_AMOUNT_DUE = NULL ,
          </when>
          <otherwise >
            PROFIT_AMOUNT_DUE = #{PROFIT_AMOUNT_DUE},
          </otherwise>
        </choose>
      </if>
      <if test="VAT_ON_PROFIT_DUE != null" >
        <choose >
          <when test="VAT_ON_PROFIT_DUE == emptyBigDecimalValue" >
            VAT_ON_PROFIT_DUE = NULL ,
          </when>
          <otherwise >
            VAT_ON_PROFIT_DUE = #{VAT_ON_PROFIT_DUE},
          </otherwise>
        </choose>
      </if>
      <if test="VAT_ON_CHARGE_DUE != null" >
        <choose >
          <when test="VAT_ON_CHARGE_DUE == emptyBigDecimalValue" >
            VAT_ON_CHARGE_DUE = NULL ,
          </when>
          <otherwise >
            VAT_ON_CHARGE_DUE = #{VAT_ON_CHARGE_DUE},
          </otherwise>
        </choose>
      </if>
      <if test="CHARGE_AMOUNT_DUE != null" >
        <choose >
          <when test="CHARGE_AMOUNT_DUE == emptyBigDecimalValue" >
            CHARGE_AMOUNT_DUE = NULL ,
          </when>
          <otherwise >
            CHARGE_AMOUNT_DUE = #{CHARGE_AMOUNT_DUE},
          </otherwise>
        </choose>
      </if>
      <if test="ADV_INSURANCE_AMOUNT_DUE != null" >
        <choose >
          <when test="ADV_INSURANCE_AMOUNT_DUE == emptyBigDecimalValue" >
            ADV_INSURANCE_AMOUNT_DUE = NULL ,
          </when>
          <otherwise >
            ADV_INSURANCE_AMOUNT_DUE = #{ADV_INSURANCE_AMOUNT_DUE},
          </otherwise>
        </choose>
      </if>
      <if test="VAT_ON_PENALTY_DUE != null" >
        <choose >
          <when test="VAT_ON_PENALTY_DUE == emptyBigDecimalValue" >
            VAT_ON_PENALTY_DUE = NULL ,
          </when>
          <otherwise >
            VAT_ON_PENALTY_DUE = #{VAT_ON_PENALTY_DUE},
          </otherwise>
        </choose>
      </if>
      <if test="OWINGS_DUE != null" >
        <choose >
          <when test="OWINGS_DUE == emptyBigDecimalValue" >
            OWINGS_DUE = NULL ,
          </when>
          <otherwise >
            OWINGS_DUE = #{OWINGS_DUE},
          </otherwise>
        </choose>
      </if>
      <if test="APPORTIONMENT_YN != null" >
        APPORTIONMENT_YN = #{APPORTIONMENT_YN},
      </if>
      <if test="APPORTIONMENT_IND != null" >
        <choose >
          <when test="APPORTIONMENT_IND == emptyBigDecimalValue" >
            APPORTIONMENT_IND = NULL ,
          </when>
          <otherwise >
            APPORTIONMENT_IND = #{APPORTIONMENT_IND},
          </otherwise>
        </choose>
      </if>
      <if test="MARGIN_AMT != null" >
        <choose >
          <when test="MARGIN_AMT == emptyBigDecimalValue" >
            MARGIN_AMT = NULL ,
          </when>
          <otherwise >
            MARGIN_AMT = #{MARGIN_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="VAT_ON_SETTLEMNT_AMT_DUE != null" >
        <choose >
          <when test="VAT_ON_SETTLEMNT_AMT_DUE == emptyBigDecimalValue" >
            VAT_ON_SETTLEMNT_AMT_DUE = NULL ,
          </when>
          <otherwise >
            VAT_ON_SETTLEMNT_AMT_DUE = #{VAT_ON_SETTLEMNT_AMT_DUE},
          </otherwise>
        </choose>
      </if>
      <if test="STOP_SETTLEMENT_YN != null" >
        STOP_SETTLEMENT_YN = #{STOP_SETTLEMENT_YN},
      </if>
    </set>
    where ACTION_TYPE = #{ACTION_TYPE}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and COUNTER_PARTY = #{COUNTER_PARTY}
      and DEAL_NO = #{DEAL_NO}
      and INSTALLMENT_DATE = #{INSTALLMENT_DATE}
      and PLAN_NBR = #{PLAN_NBR}
      and PLAN_SEQ = #{PLAN_SEQ}
      and PROCESS_CODE = #{PROCESS_CODE}
      and PROCESS_DATE = #{PROCESS_DATE}
      and TRIAL_NBR = #{TRIAL_NBR}
  </sql>
  <update id="updateTRSSETLMTBLOCKING" parameterType="com.path.dbmaps.vo.TRSSETLMTBLOCKINGVO" >
    <include refid="sql_updateTRSSETLMTBLOCKING" />
  </update>
</mapper>