<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRSSETLMT_CALC_VALUES_TEMP" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRSSETLMT_CALC_VALUES_TEMPVO" >
    <id column="KEY_ID" property="KEY_ID" />
    <id column="SL_NO" property="SL_NO" />
    <id column="TYPE" property="TYPE" />
    <result column="ADD_NUMBER1" property="ADD_NUMBER1" />
    <result column="ADD_NUMBER2" property="ADD_NUMBER2" />
    <result column="ADD_NUMBER3" property="ADD_NUMBER3" />
    <result column="ADD_NUMBER4" property="ADD_NUMBER4" />
    <result column="ADD_NUMBER5" property="ADD_NUMBER5" />
    <result column="ADD_NUMBER6" property="ADD_NUMBER6" />
    <result column="ADD_NUMBER7" property="ADD_NUMBER7" />
    <result column="ADD_NUMBER8" property="ADD_NUMBER8" />
    <result column="ADD_NUMBER9" property="ADD_NUMBER9" />
    <result column="ADD_NUMBER10" property="ADD_NUMBER10" />
    <result column="ADD_STRING1" property="ADD_STRING1" />
    <result column="ADD_STRING2" property="ADD_STRING2" />
    <result column="ADD_STRING3" property="ADD_STRING3" />
    <result column="ADD_DATE1" property="ADD_DATE1" />
    <result column="ADD_DATE2" property="ADD_DATE2" />
    <result column="ADD_DATE3" property="ADD_DATE3" />
  </resultMap>
  <sql id="Base_Column_List" >
    KEY_ID, SL_NO, TYPE, ADD_NUMBER1, ADD_NUMBER2, ADD_NUMBER3, ADD_NUMBER4, ADD_NUMBER5, 
    ADD_NUMBER6, ADD_NUMBER7, ADD_NUMBER8, ADD_NUMBER9, ADD_NUMBER10, ADD_STRING1, ADD_STRING2, 
    ADD_STRING3, ADD_DATE1, ADD_DATE2, ADD_DATE3
  </sql>
  <select id="selectTRSSETLMT_CALC_VALUES_TEMP" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRSSETLMT_CALC_VALUES_TEMPVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRSSETLMT_CALC_VALUES_TEMP
    where KEY_ID = #{KEY_ID}
      and SL_NO = #{SL_NO}
      and TYPE = #{TYPE}
  </select>
  <delete id="deleteTRSSETLMT_CALC_VALUES_TEMP" parameterType="com.path.dbmaps.vo.TRSSETLMT_CALC_VALUES_TEMPVOKey" >
    delete from TRSSETLMT_CALC_VALUES_TEMP
    where KEY_ID = #{KEY_ID}
      and SL_NO = #{SL_NO}
      and TYPE = #{TYPE}
  </delete>
  <insert id="insertTRSSETLMT_CALC_VALUES_TEMP" parameterType="com.path.dbmaps.vo.TRSSETLMT_CALC_VALUES_TEMPVO" >
    insert into TRSSETLMT_CALC_VALUES_TEMP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="KEY_ID != null" >
        KEY_ID,
      </if>
      <if test="SL_NO != null and SL_NO != emptyBigDecimalValue" >
        SL_NO,
      </if>
      <if test="TYPE != null" >
        TYPE,
      </if>
      <if test="ADD_NUMBER1 != null and ADD_NUMBER1 != emptyBigDecimalValue" >
        ADD_NUMBER1,
      </if>
      <if test="ADD_NUMBER2 != null and ADD_NUMBER2 != emptyBigDecimalValue" >
        ADD_NUMBER2,
      </if>
      <if test="ADD_NUMBER3 != null and ADD_NUMBER3 != emptyBigDecimalValue" >
        ADD_NUMBER3,
      </if>
      <if test="ADD_NUMBER4 != null and ADD_NUMBER4 != emptyBigDecimalValue" >
        ADD_NUMBER4,
      </if>
      <if test="ADD_NUMBER5 != null and ADD_NUMBER5 != emptyBigDecimalValue" >
        ADD_NUMBER5,
      </if>
      <if test="ADD_NUMBER6 != null and ADD_NUMBER6 != emptyBigDecimalValue" >
        ADD_NUMBER6,
      </if>
      <if test="ADD_NUMBER7 != null and ADD_NUMBER7 != emptyBigDecimalValue" >
        ADD_NUMBER7,
      </if>
      <if test="ADD_NUMBER8 != null and ADD_NUMBER8 != emptyBigDecimalValue" >
        ADD_NUMBER8,
      </if>
      <if test="ADD_NUMBER9 != null and ADD_NUMBER9 != emptyBigDecimalValue" >
        ADD_NUMBER9,
      </if>
      <if test="ADD_NUMBER10 != null and ADD_NUMBER10 != emptyBigDecimalValue" >
        ADD_NUMBER10,
      </if>
      <if test="ADD_STRING1 != null" >
        ADD_STRING1,
      </if>
      <if test="ADD_STRING2 != null" >
        ADD_STRING2,
      </if>
      <if test="ADD_STRING3 != null" >
        ADD_STRING3,
      </if>
      <if test="ADD_DATE1 != null" >
        ADD_DATE1,
      </if>
      <if test="ADD_DATE2 != null" >
        ADD_DATE2,
      </if>
      <if test="ADD_DATE3 != null" >
        ADD_DATE3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="KEY_ID != null" >
        #{KEY_ID},
      </if>
      <if test="SL_NO != null and SL_NO != emptyBigDecimalValue" >
        #{SL_NO},
      </if>
      <if test="TYPE != null" >
        #{TYPE},
      </if>
      <if test="ADD_NUMBER1 != null and ADD_NUMBER1 != emptyBigDecimalValue" >
        #{ADD_NUMBER1},
      </if>
      <if test="ADD_NUMBER2 != null and ADD_NUMBER2 != emptyBigDecimalValue" >
        #{ADD_NUMBER2},
      </if>
      <if test="ADD_NUMBER3 != null and ADD_NUMBER3 != emptyBigDecimalValue" >
        #{ADD_NUMBER3},
      </if>
      <if test="ADD_NUMBER4 != null and ADD_NUMBER4 != emptyBigDecimalValue" >
        #{ADD_NUMBER4},
      </if>
      <if test="ADD_NUMBER5 != null and ADD_NUMBER5 != emptyBigDecimalValue" >
        #{ADD_NUMBER5},
      </if>
      <if test="ADD_NUMBER6 != null and ADD_NUMBER6 != emptyBigDecimalValue" >
        #{ADD_NUMBER6},
      </if>
      <if test="ADD_NUMBER7 != null and ADD_NUMBER7 != emptyBigDecimalValue" >
        #{ADD_NUMBER7},
      </if>
      <if test="ADD_NUMBER8 != null and ADD_NUMBER8 != emptyBigDecimalValue" >
        #{ADD_NUMBER8},
      </if>
      <if test="ADD_NUMBER9 != null and ADD_NUMBER9 != emptyBigDecimalValue" >
        #{ADD_NUMBER9},
      </if>
      <if test="ADD_NUMBER10 != null and ADD_NUMBER10 != emptyBigDecimalValue" >
        #{ADD_NUMBER10},
      </if>
      <if test="ADD_STRING1 != null" >
        #{ADD_STRING1},
      </if>
      <if test="ADD_STRING2 != null" >
        #{ADD_STRING2},
      </if>
      <if test="ADD_STRING3 != null" >
        #{ADD_STRING3},
      </if>
      <if test="ADD_DATE1 != null" >
        #{ADD_DATE1},
      </if>
      <if test="ADD_DATE2 != null" >
        #{ADD_DATE2},
      </if>
      <if test="ADD_DATE3 != null" >
        #{ADD_DATE3},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRSSETLMT_CALC_VALUES_TEMP" >
    update TRSSETLMT_CALC_VALUES_TEMP
    <set >
      <if test="ADD_NUMBER1 != null" >
        <choose >
          <when test="ADD_NUMBER1 == emptyBigDecimalValue" >
            ADD_NUMBER1 = NULL ,
          </when>
          <otherwise >
            ADD_NUMBER1 = #{ADD_NUMBER1},
          </otherwise>
        </choose>
      </if>
      <if test="ADD_NUMBER2 != null" >
        <choose >
          <when test="ADD_NUMBER2 == emptyBigDecimalValue" >
            ADD_NUMBER2 = NULL ,
          </when>
          <otherwise >
            ADD_NUMBER2 = #{ADD_NUMBER2},
          </otherwise>
        </choose>
      </if>
      <if test="ADD_NUMBER3 != null" >
        <choose >
          <when test="ADD_NUMBER3 == emptyBigDecimalValue" >
            ADD_NUMBER3 = NULL ,
          </when>
          <otherwise >
            ADD_NUMBER3 = #{ADD_NUMBER3},
          </otherwise>
        </choose>
      </if>
      <if test="ADD_NUMBER4 != null" >
        <choose >
          <when test="ADD_NUMBER4 == emptyBigDecimalValue" >
            ADD_NUMBER4 = NULL ,
          </when>
          <otherwise >
            ADD_NUMBER4 = #{ADD_NUMBER4},
          </otherwise>
        </choose>
      </if>
      <if test="ADD_NUMBER5 != null" >
        <choose >
          <when test="ADD_NUMBER5 == emptyBigDecimalValue" >
            ADD_NUMBER5 = NULL ,
          </when>
          <otherwise >
            ADD_NUMBER5 = #{ADD_NUMBER5},
          </otherwise>
        </choose>
      </if>
      <if test="ADD_NUMBER6 != null" >
        <choose >
          <when test="ADD_NUMBER6 == emptyBigDecimalValue" >
            ADD_NUMBER6 = NULL ,
          </when>
          <otherwise >
            ADD_NUMBER6 = #{ADD_NUMBER6},
          </otherwise>
        </choose>
      </if>
      <if test="ADD_NUMBER7 != null" >
        <choose >
          <when test="ADD_NUMBER7 == emptyBigDecimalValue" >
            ADD_NUMBER7 = NULL ,
          </when>
          <otherwise >
            ADD_NUMBER7 = #{ADD_NUMBER7},
          </otherwise>
        </choose>
      </if>
      <if test="ADD_NUMBER8 != null" >
        <choose >
          <when test="ADD_NUMBER8 == emptyBigDecimalValue" >
            ADD_NUMBER8 = NULL ,
          </when>
          <otherwise >
            ADD_NUMBER8 = #{ADD_NUMBER8},
          </otherwise>
        </choose>
      </if>
      <if test="ADD_NUMBER9 != null" >
        <choose >
          <when test="ADD_NUMBER9 == emptyBigDecimalValue" >
            ADD_NUMBER9 = NULL ,
          </when>
          <otherwise >
            ADD_NUMBER9 = #{ADD_NUMBER9},
          </otherwise>
        </choose>
      </if>
      <if test="ADD_NUMBER10 != null" >
        <choose >
          <when test="ADD_NUMBER10 == emptyBigDecimalValue" >
            ADD_NUMBER10 = NULL ,
          </when>
          <otherwise >
            ADD_NUMBER10 = #{ADD_NUMBER10},
          </otherwise>
        </choose>
      </if>
      <if test="ADD_STRING1 != null" >
        ADD_STRING1 = #{ADD_STRING1},
      </if>
      <if test="ADD_STRING2 != null" >
        ADD_STRING2 = #{ADD_STRING2},
      </if>
      <if test="ADD_STRING3 != null" >
        ADD_STRING3 = #{ADD_STRING3},
      </if>
      <if test="ADD_DATE1 != null" >
        ADD_DATE1 = #{ADD_DATE1},
      </if>
      <if test="ADD_DATE2 != null" >
        ADD_DATE2 = #{ADD_DATE2},
      </if>
      <if test="ADD_DATE3 != null" >
        ADD_DATE3 = #{ADD_DATE3},
      </if>
    </set>
    where KEY_ID = #{KEY_ID}
      and SL_NO = #{SL_NO}
      and TYPE = #{TYPE}
  </sql>
  <update id="updateTRSSETLMT_CALC_VALUES_TEMP" parameterType="com.path.dbmaps.vo.TRSSETLMT_CALC_VALUES_TEMPVO" >
    <include refid="sql_updateTRSSETLMT_CALC_VALUES_TEMP" />
  </update>
</mapper>