<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRSTRDE_PDET" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRSTRDE_PDETVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_NO" property="LINE_NO" />
    <id column="REF_NO" property="REF_NO" />
    <result column="ITEM_CODE" property="ITEM_CODE" />
    <result column="PURCHASE_QTY" property="PURCHASE_QTY" />
    <result column="PURCHASE_UNITS" property="PURCHASE_UNITS" />
    <result column="PURCHASE_DESC" property="PURCHASE_DESC" />
    <result column="PURCHASE_DESC_ARAB" property="PURCHASE_DESC_ARAB" />
    <result column="PURCHASE_CY" property="PURCHASE_CY" />
    <result column="PURCHASE_RATE" property="PURCHASE_RATE" />
    <result column="PURCHASE_CY_UNIT" property="PURCHASE_CY_UNIT" />
    <result column="PURCHASE_UNIT_PRICE" property="PURCHASE_UNIT_PRICE" />
    <result column="PURCHASE_AMOUNT" property="PURCHASE_AMOUNT" />
    <result column="VARIANCE" property="VARIANCE" />
    <result column="PURCHASE_MULTDIV" property="PURCHASE_MULTDIV" />
    <result column="LINE_TYPE" property="LINE_TYPE" />
    <result column="PURCHASE_PARTY" property="PURCHASE_PARTY" />
    <result column="FIELD1" property="FIELD1" />
    <result column="FIELD2" property="FIELD2" />
    <result column="FIELD3" property="FIELD3" />
    <result column="FIELD4" property="FIELD4" />
    <result column="FIELD5" property="FIELD5" />
    <result column="FIELD6" property="FIELD6" />
    <result column="FIELD7" property="FIELD7" />
    <result column="FIELD8" property="FIELD8" />
    <result column="FIELD9" property="FIELD9" />
    <result column="FIELD10" property="FIELD10" />
    <result column="VENDOR_PMT_INS_NO" property="VENDOR_PMT_INS_NO" />
    <result column="TRADE_CY" property="TRADE_CY" />
    <result column="TRADE_UNIT_PRICE" property="TRADE_UNIT_PRICE" />
    <result column="TRADE_AMOUNT" property="TRADE_AMOUNT" />
    <result column="TRADE_CROSS_RATE" property="TRADE_CROSS_RATE" />
    <result column="TRADE_CY_MULT_DIV" property="TRADE_CY_MULT_DIV" />
    <result column="TRADE_CY_UNIT" property="TRADE_CY_UNIT" />
    <result column="DISCOUNT_AMOUNT" property="DISCOUNT_AMOUNT" />
    <result column="TRADE_DISCOUNT" property="TRADE_DISCOUNT" />
    <result column="DOWN_PAYMENT_AMT" property="DOWN_PAYMENT_AMT" />
    <result column="TRADE_DOWN_PAYMENT_AMT" property="TRADE_DOWN_PAYMENT_AMT" />
    <result column="DISBURSE_NO" property="DISBURSE_NO" />
    <result column="LOT_NUMBER" property="LOT_NUMBER" />
    <result column="VENDOR_PMT_BRANCH_CODE" property="VENDOR_PMT_BRANCH_CODE" />
    <result column="SUPPLIER_INVOICE_NO" property="SUPPLIER_INVOICE_NO" />
    <result column="TRADE_BILL_AMOUNT" property="TRADE_BILL_AMOUNT" />
    <result column="TRADE_BILL_CY" property="TRADE_BILL_CY" />
    <result column="PURCHASE_UNIT_CODE" property="PURCHASE_UNIT_CODE" />
    <result column="ADDITIONAL_DESCRIPTION" property="ADDITIONAL_DESCRIPTION" />
    <result column="BULK_TRADE_GAIN_LOSS_AMOUNT" property="BULK_TRADE_GAIN_LOSS_AMOUNT" />
    <result column="BULK_TRADE_GAIN_LOSS_AMT_FC" property="BULK_TRADE_GAIN_LOSS_AMT_FC" />
    <result column="QUOTATION" property="QUOTATION" />
    <result column="AREA_BLOCK" property="AREA_BLOCK" />
    <result column="HOUSE_BUILDING" property="HOUSE_BUILDING" />
    <result column="STREET" property="STREET" />
    <result column="AVENUE" property="AVENUE" />
    <result column="ADDRESS" property="ADDRESS" />
    <result column="CITY" property="CITY" />
    <result column="PO_BOX" property="PO_BOX" />
    <result column="COUNTRY" property="COUNTRY" />
    <result column="RESIDENTIAL_NO" property="RESIDENTIAL_NO" />
    <result column="RESIDENTIAL_SIZE" property="RESIDENTIAL_SIZE" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, LINE_NO, REF_NO, ITEM_CODE, PURCHASE_QTY, PURCHASE_UNITS, 
    PURCHASE_DESC, PURCHASE_DESC_ARAB, PURCHASE_CY, PURCHASE_RATE, PURCHASE_CY_UNIT, 
    PURCHASE_UNIT_PRICE, PURCHASE_AMOUNT, VARIANCE, PURCHASE_MULTDIV, LINE_TYPE, PURCHASE_PARTY, 
    FIELD1, FIELD2, FIELD3, FIELD4, FIELD5, FIELD6, FIELD7, FIELD8, FIELD9, FIELD10, 
    VENDOR_PMT_INS_NO, TRADE_CY, TRADE_UNIT_PRICE, TRADE_AMOUNT, TRADE_CROSS_RATE, TRADE_CY_MULT_DIV, 
    TRADE_CY_UNIT, DISCOUNT_AMOUNT, TRADE_DISCOUNT, DOWN_PAYMENT_AMT, TRADE_DOWN_PAYMENT_AMT, 
    DISBURSE_NO, LOT_NUMBER, VENDOR_PMT_BRANCH_CODE, SUPPLIER_INVOICE_NO, TRADE_BILL_AMOUNT, 
    TRADE_BILL_CY, PURCHASE_UNIT_CODE, ADDITIONAL_DESCRIPTION, BULK_TRADE_GAIN_LOSS_AMOUNT, 
    BULK_TRADE_GAIN_LOSS_AMT_FC, QUOTATION, AREA_BLOCK, HOUSE_BUILDING, STREET, AVENUE, 
    ADDRESS, CITY, PO_BOX, COUNTRY, RESIDENTIAL_NO, RESIDENTIAL_SIZE
  </sql>
  <select id="selectTRSTRDE_PDET" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRSTRDE_PDETVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRSTRDE_PDET
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and REF_NO = #{REF_NO}
  </select>
  <delete id="deleteTRSTRDE_PDET" parameterType="com.path.dbmaps.vo.TRSTRDE_PDETVOKey" >
    delete from TRSTRDE_PDET
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and REF_NO = #{REF_NO}
  </delete>
  <insert id="insertTRSTRDE_PDET" parameterType="com.path.dbmaps.vo.TRSTRDE_PDETVO" >
    insert into TRSTRDE_PDET
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="REF_NO != null and REF_NO != emptyBigDecimalValue" >
        REF_NO,
      </if>
      <if test="ITEM_CODE != null and ITEM_CODE != emptyBigDecimalValue" >
        ITEM_CODE,
      </if>
      <if test="PURCHASE_QTY != null and PURCHASE_QTY != emptyBigDecimalValue" >
        PURCHASE_QTY,
      </if>
      <if test="PURCHASE_UNITS != null and !&quot;&quot;.equals(PURCHASE_UNITS)" >
        PURCHASE_UNITS,
      </if>
      <if test="PURCHASE_DESC != null and !&quot;&quot;.equals(PURCHASE_DESC)" >
        PURCHASE_DESC,
      </if>
      <if test="PURCHASE_DESC_ARAB != null and !&quot;&quot;.equals(PURCHASE_DESC_ARAB)" >
        PURCHASE_DESC_ARAB,
      </if>
      <if test="PURCHASE_CY != null and PURCHASE_CY != emptyBigDecimalValue" >
        PURCHASE_CY,
      </if>
      <if test="PURCHASE_RATE != null and PURCHASE_RATE != emptyBigDecimalValue" >
        PURCHASE_RATE,
      </if>
      <if test="PURCHASE_CY_UNIT != null and PURCHASE_CY_UNIT != emptyBigDecimalValue" >
        PURCHASE_CY_UNIT,
      </if>
      <if test="PURCHASE_UNIT_PRICE != null and PURCHASE_UNIT_PRICE != emptyBigDecimalValue" >
        PURCHASE_UNIT_PRICE,
      </if>
      <if test="PURCHASE_AMOUNT != null and PURCHASE_AMOUNT != emptyBigDecimalValue" >
        PURCHASE_AMOUNT,
      </if>
      <if test="VARIANCE != null and VARIANCE != emptyBigDecimalValue" >
        VARIANCE,
      </if>
      <if test="PURCHASE_MULTDIV != null and !&quot;&quot;.equals(PURCHASE_MULTDIV)" >
        PURCHASE_MULTDIV,
      </if>
      <if test="LINE_TYPE != null and !&quot;&quot;.equals(LINE_TYPE)" >
        LINE_TYPE,
      </if>
      <if test="PURCHASE_PARTY != null and PURCHASE_PARTY != emptyBigDecimalValue" >
        PURCHASE_PARTY,
      </if>
      <if test="FIELD1 != null and !&quot;&quot;.equals(FIELD1)" >
        FIELD1,
      </if>
      <if test="FIELD2 != null and !&quot;&quot;.equals(FIELD2)" >
        FIELD2,
      </if>
      <if test="FIELD3 != null and !&quot;&quot;.equals(FIELD3)" >
        FIELD3,
      </if>
      <if test="FIELD4 != null and !&quot;&quot;.equals(FIELD4)" >
        FIELD4,
      </if>
      <if test="FIELD5 != null and !&quot;&quot;.equals(FIELD5)" >
        FIELD5,
      </if>
      <if test="FIELD6 != null and !&quot;&quot;.equals(FIELD6)" >
        FIELD6,
      </if>
      <if test="FIELD7 != null and !&quot;&quot;.equals(FIELD7)" >
        FIELD7,
      </if>
      <if test="FIELD8 != null and !&quot;&quot;.equals(FIELD8)" >
        FIELD8,
      </if>
      <if test="FIELD9 != null and !&quot;&quot;.equals(FIELD9)" >
        FIELD9,
      </if>
      <if test="FIELD10 != null and !&quot;&quot;.equals(FIELD10)" >
        FIELD10,
      </if>
      <if test="VENDOR_PMT_INS_NO != null and VENDOR_PMT_INS_NO != emptyBigDecimalValue" >
        VENDOR_PMT_INS_NO,
      </if>
      <if test="TRADE_CY != null and TRADE_CY != emptyBigDecimalValue" >
        TRADE_CY,
      </if>
      <if test="TRADE_UNIT_PRICE != null and TRADE_UNIT_PRICE != emptyBigDecimalValue" >
        TRADE_UNIT_PRICE,
      </if>
      <if test="TRADE_AMOUNT != null and TRADE_AMOUNT != emptyBigDecimalValue" >
        TRADE_AMOUNT,
      </if>
      <if test="TRADE_CROSS_RATE != null and TRADE_CROSS_RATE != emptyBigDecimalValue" >
        TRADE_CROSS_RATE,
      </if>
      <if test="TRADE_CY_MULT_DIV != null and !&quot;&quot;.equals(TRADE_CY_MULT_DIV)" >
        TRADE_CY_MULT_DIV,
      </if>
      <if test="TRADE_CY_UNIT != null and TRADE_CY_UNIT != emptyBigDecimalValue" >
        TRADE_CY_UNIT,
      </if>
      <if test="DISCOUNT_AMOUNT != null and DISCOUNT_AMOUNT != emptyBigDecimalValue" >
        DISCOUNT_AMOUNT,
      </if>
      <if test="TRADE_DISCOUNT != null and TRADE_DISCOUNT != emptyBigDecimalValue" >
        TRADE_DISCOUNT,
      </if>
      <if test="DOWN_PAYMENT_AMT != null and DOWN_PAYMENT_AMT != emptyBigDecimalValue" >
        DOWN_PAYMENT_AMT,
      </if>
      <if test="TRADE_DOWN_PAYMENT_AMT != null and TRADE_DOWN_PAYMENT_AMT != emptyBigDecimalValue" >
        TRADE_DOWN_PAYMENT_AMT,
      </if>
      <if test="DISBURSE_NO != null and DISBURSE_NO != emptyBigDecimalValue" >
        DISBURSE_NO,
      </if>
      <if test="LOT_NUMBER != null and !&quot;&quot;.equals(LOT_NUMBER)" >
        LOT_NUMBER,
      </if>
      <if test="VENDOR_PMT_BRANCH_CODE != null and VENDOR_PMT_BRANCH_CODE != emptyBigDecimalValue" >
        VENDOR_PMT_BRANCH_CODE,
      </if>
      <if test="SUPPLIER_INVOICE_NO != null and !&quot;&quot;.equals(SUPPLIER_INVOICE_NO)" >
        SUPPLIER_INVOICE_NO,
      </if>
      <if test="TRADE_BILL_AMOUNT != null and TRADE_BILL_AMOUNT != emptyBigDecimalValue" >
        TRADE_BILL_AMOUNT,
      </if>
      <if test="TRADE_BILL_CY != null and TRADE_BILL_CY != emptyBigDecimalValue" >
        TRADE_BILL_CY,
      </if>
      <if test="PURCHASE_UNIT_CODE != null and PURCHASE_UNIT_CODE != emptyBigDecimalValue" >
        PURCHASE_UNIT_CODE,
      </if>
      <if test="ADDITIONAL_DESCRIPTION != null and !&quot;&quot;.equals(ADDITIONAL_DESCRIPTION)" >
        ADDITIONAL_DESCRIPTION,
      </if>
      <if test="BULK_TRADE_GAIN_LOSS_AMOUNT != null and BULK_TRADE_GAIN_LOSS_AMOUNT != emptyBigDecimalValue" >
        BULK_TRADE_GAIN_LOSS_AMOUNT,
      </if>
      <if test="BULK_TRADE_GAIN_LOSS_AMT_FC != null and BULK_TRADE_GAIN_LOSS_AMT_FC != emptyBigDecimalValue" >
        BULK_TRADE_GAIN_LOSS_AMT_FC,
      </if>
      <if test="QUOTATION != null and !&quot;&quot;.equals(QUOTATION)" >
        QUOTATION,
      </if>
      <if test="AREA_BLOCK != null and !&quot;&quot;.equals(AREA_BLOCK)" >
        AREA_BLOCK,
      </if>
      <if test="HOUSE_BUILDING != null and !&quot;&quot;.equals(HOUSE_BUILDING)" >
        HOUSE_BUILDING,
      </if>
      <if test="STREET != null and !&quot;&quot;.equals(STREET)" >
        STREET,
      </if>
      <if test="AVENUE != null and !&quot;&quot;.equals(AVENUE)" >
        AVENUE,
      </if>
      <if test="ADDRESS != null and !&quot;&quot;.equals(ADDRESS)" >
        ADDRESS,
      </if>
      <if test="CITY != null and !&quot;&quot;.equals(CITY)" >
        CITY,
      </if>
      <if test="PO_BOX != null and !&quot;&quot;.equals(PO_BOX)" >
        PO_BOX,
      </if>
      <if test="COUNTRY != null and !&quot;&quot;.equals(COUNTRY)" >
        COUNTRY,
      </if>
      <if test="RESIDENTIAL_NO != null and !&quot;&quot;.equals(RESIDENTIAL_NO)" >
        RESIDENTIAL_NO,
      </if>
      <if test="RESIDENTIAL_SIZE != null and !&quot;&quot;.equals(RESIDENTIAL_SIZE)" >
        RESIDENTIAL_SIZE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="REF_NO != null and REF_NO != emptyBigDecimalValue" >
        #{REF_NO},
      </if>
      <if test="ITEM_CODE != null and ITEM_CODE != emptyBigDecimalValue" >
        #{ITEM_CODE},
      </if>
      <if test="PURCHASE_QTY != null and PURCHASE_QTY != emptyBigDecimalValue" >
        #{PURCHASE_QTY},
      </if>
      <if test="PURCHASE_UNITS != null and !&quot;&quot;.equals(PURCHASE_UNITS)" >
        #{PURCHASE_UNITS},
      </if>
      <if test="PURCHASE_DESC != null and !&quot;&quot;.equals(PURCHASE_DESC)" >
        #{PURCHASE_DESC},
      </if>
      <if test="PURCHASE_DESC_ARAB != null and !&quot;&quot;.equals(PURCHASE_DESC_ARAB)" >
        #{PURCHASE_DESC_ARAB},
      </if>
      <if test="PURCHASE_CY != null and PURCHASE_CY != emptyBigDecimalValue" >
        #{PURCHASE_CY},
      </if>
      <if test="PURCHASE_RATE != null and PURCHASE_RATE != emptyBigDecimalValue" >
        #{PURCHASE_RATE},
      </if>
      <if test="PURCHASE_CY_UNIT != null and PURCHASE_CY_UNIT != emptyBigDecimalValue" >
        #{PURCHASE_CY_UNIT},
      </if>
      <if test="PURCHASE_UNIT_PRICE != null and PURCHASE_UNIT_PRICE != emptyBigDecimalValue" >
        #{PURCHASE_UNIT_PRICE},
      </if>
      <if test="PURCHASE_AMOUNT != null and PURCHASE_AMOUNT != emptyBigDecimalValue" >
        #{PURCHASE_AMOUNT},
      </if>
      <if test="VARIANCE != null and VARIANCE != emptyBigDecimalValue" >
        #{VARIANCE},
      </if>
      <if test="PURCHASE_MULTDIV != null and !&quot;&quot;.equals(PURCHASE_MULTDIV)" >
        #{PURCHASE_MULTDIV},
      </if>
      <if test="LINE_TYPE != null and !&quot;&quot;.equals(LINE_TYPE)" >
        #{LINE_TYPE},
      </if>
      <if test="PURCHASE_PARTY != null and PURCHASE_PARTY != emptyBigDecimalValue" >
        #{PURCHASE_PARTY},
      </if>
      <if test="FIELD1 != null and !&quot;&quot;.equals(FIELD1)" >
        #{FIELD1},
      </if>
      <if test="FIELD2 != null and !&quot;&quot;.equals(FIELD2)" >
        #{FIELD2},
      </if>
      <if test="FIELD3 != null and !&quot;&quot;.equals(FIELD3)" >
        #{FIELD3},
      </if>
      <if test="FIELD4 != null and !&quot;&quot;.equals(FIELD4)" >
        #{FIELD4},
      </if>
      <if test="FIELD5 != null and !&quot;&quot;.equals(FIELD5)" >
        #{FIELD5},
      </if>
      <if test="FIELD6 != null and !&quot;&quot;.equals(FIELD6)" >
        #{FIELD6},
      </if>
      <if test="FIELD7 != null and !&quot;&quot;.equals(FIELD7)" >
        #{FIELD7},
      </if>
      <if test="FIELD8 != null and !&quot;&quot;.equals(FIELD8)" >
        #{FIELD8},
      </if>
      <if test="FIELD9 != null and !&quot;&quot;.equals(FIELD9)" >
        #{FIELD9},
      </if>
      <if test="FIELD10 != null and !&quot;&quot;.equals(FIELD10)" >
        #{FIELD10},
      </if>
      <if test="VENDOR_PMT_INS_NO != null and VENDOR_PMT_INS_NO != emptyBigDecimalValue" >
        #{VENDOR_PMT_INS_NO},
      </if>
      <if test="TRADE_CY != null and TRADE_CY != emptyBigDecimalValue" >
        #{TRADE_CY},
      </if>
      <if test="TRADE_UNIT_PRICE != null and TRADE_UNIT_PRICE != emptyBigDecimalValue" >
        #{TRADE_UNIT_PRICE},
      </if>
      <if test="TRADE_AMOUNT != null and TRADE_AMOUNT != emptyBigDecimalValue" >
        #{TRADE_AMOUNT},
      </if>
      <if test="TRADE_CROSS_RATE != null and TRADE_CROSS_RATE != emptyBigDecimalValue" >
        #{TRADE_CROSS_RATE},
      </if>
      <if test="TRADE_CY_MULT_DIV != null and !&quot;&quot;.equals(TRADE_CY_MULT_DIV)" >
        #{TRADE_CY_MULT_DIV},
      </if>
      <if test="TRADE_CY_UNIT != null and TRADE_CY_UNIT != emptyBigDecimalValue" >
        #{TRADE_CY_UNIT},
      </if>
      <if test="DISCOUNT_AMOUNT != null and DISCOUNT_AMOUNT != emptyBigDecimalValue" >
        #{DISCOUNT_AMOUNT},
      </if>
      <if test="TRADE_DISCOUNT != null and TRADE_DISCOUNT != emptyBigDecimalValue" >
        #{TRADE_DISCOUNT},
      </if>
      <if test="DOWN_PAYMENT_AMT != null and DOWN_PAYMENT_AMT != emptyBigDecimalValue" >
        #{DOWN_PAYMENT_AMT},
      </if>
      <if test="TRADE_DOWN_PAYMENT_AMT != null and TRADE_DOWN_PAYMENT_AMT != emptyBigDecimalValue" >
        #{TRADE_DOWN_PAYMENT_AMT},
      </if>
      <if test="DISBURSE_NO != null and DISBURSE_NO != emptyBigDecimalValue" >
        #{DISBURSE_NO},
      </if>
      <if test="LOT_NUMBER != null and !&quot;&quot;.equals(LOT_NUMBER)" >
        #{LOT_NUMBER},
      </if>
      <if test="VENDOR_PMT_BRANCH_CODE != null and VENDOR_PMT_BRANCH_CODE != emptyBigDecimalValue" >
        #{VENDOR_PMT_BRANCH_CODE},
      </if>
      <if test="SUPPLIER_INVOICE_NO != null and !&quot;&quot;.equals(SUPPLIER_INVOICE_NO)" >
        #{SUPPLIER_INVOICE_NO},
      </if>
      <if test="TRADE_BILL_AMOUNT != null and TRADE_BILL_AMOUNT != emptyBigDecimalValue" >
        #{TRADE_BILL_AMOUNT},
      </if>
      <if test="TRADE_BILL_CY != null and TRADE_BILL_CY != emptyBigDecimalValue" >
        #{TRADE_BILL_CY},
      </if>
      <if test="PURCHASE_UNIT_CODE != null and PURCHASE_UNIT_CODE != emptyBigDecimalValue" >
        #{PURCHASE_UNIT_CODE},
      </if>
      <if test="ADDITIONAL_DESCRIPTION != null and !&quot;&quot;.equals(ADDITIONAL_DESCRIPTION)" >
        #{ADDITIONAL_DESCRIPTION},
      </if>
      <if test="BULK_TRADE_GAIN_LOSS_AMOUNT != null and BULK_TRADE_GAIN_LOSS_AMOUNT != emptyBigDecimalValue" >
        #{BULK_TRADE_GAIN_LOSS_AMOUNT},
      </if>
      <if test="BULK_TRADE_GAIN_LOSS_AMT_FC != null and BULK_TRADE_GAIN_LOSS_AMT_FC != emptyBigDecimalValue" >
        #{BULK_TRADE_GAIN_LOSS_AMT_FC},
      </if>
      <if test="QUOTATION != null and !&quot;&quot;.equals(QUOTATION)" >
        #{QUOTATION},
      </if>
      <if test="AREA_BLOCK != null and !&quot;&quot;.equals(AREA_BLOCK)" >
        #{AREA_BLOCK},
      </if>
      <if test="HOUSE_BUILDING != null and !&quot;&quot;.equals(HOUSE_BUILDING)" >
        #{HOUSE_BUILDING},
      </if>
      <if test="STREET != null and !&quot;&quot;.equals(STREET)" >
        #{STREET},
      </if>
      <if test="AVENUE != null and !&quot;&quot;.equals(AVENUE)" >
        #{AVENUE},
      </if>
      <if test="ADDRESS != null and !&quot;&quot;.equals(ADDRESS)" >
        #{ADDRESS},
      </if>
      <if test="CITY != null and !&quot;&quot;.equals(CITY)" >
        #{CITY},
      </if>
      <if test="PO_BOX != null and !&quot;&quot;.equals(PO_BOX)" >
        #{PO_BOX},
      </if>
      <if test="COUNTRY != null and !&quot;&quot;.equals(COUNTRY)" >
        #{COUNTRY},
      </if>
      <if test="RESIDENTIAL_NO != null and !&quot;&quot;.equals(RESIDENTIAL_NO)" >
        #{RESIDENTIAL_NO},
      </if>
      <if test="RESIDENTIAL_SIZE != null and !&quot;&quot;.equals(RESIDENTIAL_SIZE)" >
        #{RESIDENTIAL_SIZE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRSTRDE_PDET" >
    update TRSTRDE_PDET
    <set >
      <if test="ITEM_CODE != null" >
        <choose >
          <when test="ITEM_CODE == emptyBigDecimalValue" >
            ITEM_CODE = NULL ,
          </when>
          <otherwise >
            ITEM_CODE = #{ITEM_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="PURCHASE_QTY != null" >
        <choose >
          <when test="PURCHASE_QTY == emptyBigDecimalValue" >
            PURCHASE_QTY = NULL ,
          </when>
          <otherwise >
            PURCHASE_QTY = #{PURCHASE_QTY},
          </otherwise>
        </choose>
      </if>
      <if test="PURCHASE_UNITS != null" >
        <choose >
          <when test="PURCHASE_UNITS.equals(&quot;&quot;)" >
            PURCHASE_UNITS = NULL ,
          </when>
          <otherwise >
            PURCHASE_UNITS = #{PURCHASE_UNITS},
          </otherwise>
        </choose>
      </if>
      <if test="PURCHASE_DESC != null" >
        <choose >
          <when test="PURCHASE_DESC.equals(&quot;&quot;)" >
            PURCHASE_DESC = NULL ,
          </when>
          <otherwise >
            PURCHASE_DESC = #{PURCHASE_DESC},
          </otherwise>
        </choose>
      </if>
      <if test="PURCHASE_DESC_ARAB != null" >
        <choose >
          <when test="PURCHASE_DESC_ARAB.equals(&quot;&quot;)" >
            PURCHASE_DESC_ARAB = NULL ,
          </when>
          <otherwise >
            PURCHASE_DESC_ARAB = #{PURCHASE_DESC_ARAB},
          </otherwise>
        </choose>
      </if>
      <if test="PURCHASE_CY != null" >
        <choose >
          <when test="PURCHASE_CY == emptyBigDecimalValue" >
            PURCHASE_CY = NULL ,
          </when>
          <otherwise >
            PURCHASE_CY = #{PURCHASE_CY},
          </otherwise>
        </choose>
      </if>
      <if test="PURCHASE_RATE != null" >
        <choose >
          <when test="PURCHASE_RATE == emptyBigDecimalValue" >
            PURCHASE_RATE = NULL ,
          </when>
          <otherwise >
            PURCHASE_RATE = #{PURCHASE_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="PURCHASE_CY_UNIT != null" >
        <choose >
          <when test="PURCHASE_CY_UNIT == emptyBigDecimalValue" >
            PURCHASE_CY_UNIT = NULL ,
          </when>
          <otherwise >
            PURCHASE_CY_UNIT = #{PURCHASE_CY_UNIT},
          </otherwise>
        </choose>
      </if>
      <if test="PURCHASE_UNIT_PRICE != null" >
        <choose >
          <when test="PURCHASE_UNIT_PRICE == emptyBigDecimalValue" >
            PURCHASE_UNIT_PRICE = NULL ,
          </when>
          <otherwise >
            PURCHASE_UNIT_PRICE = #{PURCHASE_UNIT_PRICE},
          </otherwise>
        </choose>
      </if>
      <if test="PURCHASE_AMOUNT != null" >
        <choose >
          <when test="PURCHASE_AMOUNT == emptyBigDecimalValue" >
            PURCHASE_AMOUNT = NULL ,
          </when>
          <otherwise >
            PURCHASE_AMOUNT = #{PURCHASE_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="VARIANCE != null" >
        <choose >
          <when test="VARIANCE == emptyBigDecimalValue" >
            VARIANCE = NULL ,
          </when>
          <otherwise >
            VARIANCE = #{VARIANCE},
          </otherwise>
        </choose>
      </if>
      <if test="PURCHASE_MULTDIV != null" >
        <choose >
          <when test="PURCHASE_MULTDIV.equals(&quot;&quot;)" >
            PURCHASE_MULTDIV = NULL ,
          </when>
          <otherwise >
            PURCHASE_MULTDIV = #{PURCHASE_MULTDIV},
          </otherwise>
        </choose>
      </if>
      <if test="LINE_TYPE != null" >
        <choose >
          <when test="LINE_TYPE.equals(&quot;&quot;)" >
            LINE_TYPE = NULL ,
          </when>
          <otherwise >
            LINE_TYPE = #{LINE_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="PURCHASE_PARTY != null" >
        <choose >
          <when test="PURCHASE_PARTY == emptyBigDecimalValue" >
            PURCHASE_PARTY = NULL ,
          </when>
          <otherwise >
            PURCHASE_PARTY = #{PURCHASE_PARTY},
          </otherwise>
        </choose>
      </if>
      <if test="FIELD1 != null" >
        <choose >
          <when test="FIELD1.equals(&quot;&quot;)" >
            FIELD1 = NULL ,
          </when>
          <otherwise >
            FIELD1 = #{FIELD1},
          </otherwise>
        </choose>
      </if>
      <if test="FIELD2 != null" >
        <choose >
          <when test="FIELD2.equals(&quot;&quot;)" >
            FIELD2 = NULL ,
          </when>
          <otherwise >
            FIELD2 = #{FIELD2},
          </otherwise>
        </choose>
      </if>
      <if test="FIELD3 != null" >
        <choose >
          <when test="FIELD3.equals(&quot;&quot;)" >
            FIELD3 = NULL ,
          </when>
          <otherwise >
            FIELD3 = #{FIELD3},
          </otherwise>
        </choose>
      </if>
      <if test="FIELD4 != null" >
        <choose >
          <when test="FIELD4.equals(&quot;&quot;)" >
            FIELD4 = NULL ,
          </when>
          <otherwise >
            FIELD4 = #{FIELD4},
          </otherwise>
        </choose>
      </if>
      <if test="FIELD5 != null" >
        <choose >
          <when test="FIELD5.equals(&quot;&quot;)" >
            FIELD5 = NULL ,
          </when>
          <otherwise >
            FIELD5 = #{FIELD5},
          </otherwise>
        </choose>
      </if>
      <if test="FIELD6 != null" >
        <choose >
          <when test="FIELD6.equals(&quot;&quot;)" >
            FIELD6 = NULL ,
          </when>
          <otherwise >
            FIELD6 = #{FIELD6},
          </otherwise>
        </choose>
      </if>
      <if test="FIELD7 != null" >
        <choose >
          <when test="FIELD7.equals(&quot;&quot;)" >
            FIELD7 = NULL ,
          </when>
          <otherwise >
            FIELD7 = #{FIELD7},
          </otherwise>
        </choose>
      </if>
      <if test="FIELD8 != null" >
        <choose >
          <when test="FIELD8.equals(&quot;&quot;)" >
            FIELD8 = NULL ,
          </when>
          <otherwise >
            FIELD8 = #{FIELD8},
          </otherwise>
        </choose>
      </if>
      <if test="FIELD9 != null" >
        <choose >
          <when test="FIELD9.equals(&quot;&quot;)" >
            FIELD9 = NULL ,
          </when>
          <otherwise >
            FIELD9 = #{FIELD9},
          </otherwise>
        </choose>
      </if>
      <if test="FIELD10 != null" >
        <choose >
          <when test="FIELD10.equals(&quot;&quot;)" >
            FIELD10 = NULL ,
          </when>
          <otherwise >
            FIELD10 = #{FIELD10},
          </otherwise>
        </choose>
      </if>
      <if test="VENDOR_PMT_INS_NO != null" >
        <choose >
          <when test="VENDOR_PMT_INS_NO == emptyBigDecimalValue" >
            VENDOR_PMT_INS_NO = NULL ,
          </when>
          <otherwise >
            VENDOR_PMT_INS_NO = #{VENDOR_PMT_INS_NO},
          </otherwise>
        </choose>
      </if>
      <if test="TRADE_CY != null" >
        <choose >
          <when test="TRADE_CY == emptyBigDecimalValue" >
            TRADE_CY = NULL ,
          </when>
          <otherwise >
            TRADE_CY = #{TRADE_CY},
          </otherwise>
        </choose>
      </if>
      <if test="TRADE_UNIT_PRICE != null" >
        <choose >
          <when test="TRADE_UNIT_PRICE == emptyBigDecimalValue" >
            TRADE_UNIT_PRICE = NULL ,
          </when>
          <otherwise >
            TRADE_UNIT_PRICE = #{TRADE_UNIT_PRICE},
          </otherwise>
        </choose>
      </if>
      <if test="TRADE_AMOUNT != null" >
        <choose >
          <when test="TRADE_AMOUNT == emptyBigDecimalValue" >
            TRADE_AMOUNT = NULL ,
          </when>
          <otherwise >
            TRADE_AMOUNT = #{TRADE_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="TRADE_CROSS_RATE != null" >
        <choose >
          <when test="TRADE_CROSS_RATE == emptyBigDecimalValue" >
            TRADE_CROSS_RATE = NULL ,
          </when>
          <otherwise >
            TRADE_CROSS_RATE = #{TRADE_CROSS_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="TRADE_CY_MULT_DIV != null" >
        <choose >
          <when test="TRADE_CY_MULT_DIV.equals(&quot;&quot;)" >
            TRADE_CY_MULT_DIV = NULL ,
          </when>
          <otherwise >
            TRADE_CY_MULT_DIV = #{TRADE_CY_MULT_DIV},
          </otherwise>
        </choose>
      </if>
      <if test="TRADE_CY_UNIT != null" >
        <choose >
          <when test="TRADE_CY_UNIT == emptyBigDecimalValue" >
            TRADE_CY_UNIT = NULL ,
          </when>
          <otherwise >
            TRADE_CY_UNIT = #{TRADE_CY_UNIT},
          </otherwise>
        </choose>
      </if>
      <if test="DISCOUNT_AMOUNT != null" >
        <choose >
          <when test="DISCOUNT_AMOUNT == emptyBigDecimalValue" >
            DISCOUNT_AMOUNT = NULL ,
          </when>
          <otherwise >
            DISCOUNT_AMOUNT = #{DISCOUNT_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="TRADE_DISCOUNT != null" >
        <choose >
          <when test="TRADE_DISCOUNT == emptyBigDecimalValue" >
            TRADE_DISCOUNT = NULL ,
          </when>
          <otherwise >
            TRADE_DISCOUNT = #{TRADE_DISCOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="DOWN_PAYMENT_AMT != null" >
        <choose >
          <when test="DOWN_PAYMENT_AMT == emptyBigDecimalValue" >
            DOWN_PAYMENT_AMT = NULL ,
          </when>
          <otherwise >
            DOWN_PAYMENT_AMT = #{DOWN_PAYMENT_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="TRADE_DOWN_PAYMENT_AMT != null" >
        <choose >
          <when test="TRADE_DOWN_PAYMENT_AMT == emptyBigDecimalValue" >
            TRADE_DOWN_PAYMENT_AMT = NULL ,
          </when>
          <otherwise >
            TRADE_DOWN_PAYMENT_AMT = #{TRADE_DOWN_PAYMENT_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="DISBURSE_NO != null" >
        <choose >
          <when test="DISBURSE_NO == emptyBigDecimalValue" >
            DISBURSE_NO = NULL ,
          </when>
          <otherwise >
            DISBURSE_NO = #{DISBURSE_NO},
          </otherwise>
        </choose>
      </if>
      <if test="LOT_NUMBER != null" >
        <choose >
          <when test="LOT_NUMBER.equals(&quot;&quot;)" >
            LOT_NUMBER = NULL ,
          </when>
          <otherwise >
            LOT_NUMBER = #{LOT_NUMBER},
          </otherwise>
        </choose>
      </if>
      <if test="VENDOR_PMT_BRANCH_CODE != null" >
        <choose >
          <when test="VENDOR_PMT_BRANCH_CODE == emptyBigDecimalValue" >
            VENDOR_PMT_BRANCH_CODE = NULL ,
          </when>
          <otherwise >
            VENDOR_PMT_BRANCH_CODE = #{VENDOR_PMT_BRANCH_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="SUPPLIER_INVOICE_NO != null" >
        <choose >
          <when test="SUPPLIER_INVOICE_NO.equals(&quot;&quot;)" >
            SUPPLIER_INVOICE_NO = NULL ,
          </when>
          <otherwise >
            SUPPLIER_INVOICE_NO = #{SUPPLIER_INVOICE_NO},
          </otherwise>
        </choose>
      </if>
      <if test="TRADE_BILL_AMOUNT != null" >
        <choose >
          <when test="TRADE_BILL_AMOUNT == emptyBigDecimalValue" >
            TRADE_BILL_AMOUNT = NULL ,
          </when>
          <otherwise >
            TRADE_BILL_AMOUNT = #{TRADE_BILL_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="TRADE_BILL_CY != null" >
        <choose >
          <when test="TRADE_BILL_CY == emptyBigDecimalValue" >
            TRADE_BILL_CY = NULL ,
          </when>
          <otherwise >
            TRADE_BILL_CY = #{TRADE_BILL_CY},
          </otherwise>
        </choose>
      </if>
      <if test="PURCHASE_UNIT_CODE != null" >
        <choose >
          <when test="PURCHASE_UNIT_CODE == emptyBigDecimalValue" >
            PURCHASE_UNIT_CODE = NULL ,
          </when>
          <otherwise >
            PURCHASE_UNIT_CODE = #{PURCHASE_UNIT_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="ADDITIONAL_DESCRIPTION != null" >
        <choose >
          <when test="ADDITIONAL_DESCRIPTION.equals(&quot;&quot;)" >
            ADDITIONAL_DESCRIPTION = NULL ,
          </when>
          <otherwise >
            ADDITIONAL_DESCRIPTION = #{ADDITIONAL_DESCRIPTION},
          </otherwise>
        </choose>
      </if>
      <if test="BULK_TRADE_GAIN_LOSS_AMOUNT != null" >
        <choose >
          <when test="BULK_TRADE_GAIN_LOSS_AMOUNT == emptyBigDecimalValue" >
            BULK_TRADE_GAIN_LOSS_AMOUNT = NULL ,
          </when>
          <otherwise >
            BULK_TRADE_GAIN_LOSS_AMOUNT = #{BULK_TRADE_GAIN_LOSS_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="BULK_TRADE_GAIN_LOSS_AMT_FC != null" >
        <choose >
          <when test="BULK_TRADE_GAIN_LOSS_AMT_FC == emptyBigDecimalValue" >
            BULK_TRADE_GAIN_LOSS_AMT_FC = NULL ,
          </when>
          <otherwise >
            BULK_TRADE_GAIN_LOSS_AMT_FC = #{BULK_TRADE_GAIN_LOSS_AMT_FC},
          </otherwise>
        </choose>
      </if>
      <if test="QUOTATION != null" >
        <choose >
          <when test="QUOTATION.equals(&quot;&quot;)" >
            QUOTATION = NULL ,
          </when>
          <otherwise >
            QUOTATION = #{QUOTATION},
          </otherwise>
        </choose>
      </if>
      <if test="AREA_BLOCK != null" >
        <choose >
          <when test="AREA_BLOCK.equals(&quot;&quot;)" >
            AREA_BLOCK = NULL ,
          </when>
          <otherwise >
            AREA_BLOCK = #{AREA_BLOCK},
          </otherwise>
        </choose>
      </if>
      <if test="HOUSE_BUILDING != null" >
        <choose >
          <when test="HOUSE_BUILDING.equals(&quot;&quot;)" >
            HOUSE_BUILDING = NULL ,
          </when>
          <otherwise >
            HOUSE_BUILDING = #{HOUSE_BUILDING},
          </otherwise>
        </choose>
      </if>
      <if test="STREET != null" >
        <choose >
          <when test="STREET.equals(&quot;&quot;)" >
            STREET = NULL ,
          </when>
          <otherwise >
            STREET = #{STREET},
          </otherwise>
        </choose>
      </if>
      <if test="AVENUE != null" >
        <choose >
          <when test="AVENUE.equals(&quot;&quot;)" >
            AVENUE = NULL ,
          </when>
          <otherwise >
            AVENUE = #{AVENUE},
          </otherwise>
        </choose>
      </if>
      <if test="ADDRESS != null" >
        <choose >
          <when test="ADDRESS.equals(&quot;&quot;)" >
            ADDRESS = NULL ,
          </when>
          <otherwise >
            ADDRESS = #{ADDRESS},
          </otherwise>
        </choose>
      </if>
      <if test="CITY != null" >
        <choose >
          <when test="CITY.equals(&quot;&quot;)" >
            CITY = NULL ,
          </when>
          <otherwise >
            CITY = #{CITY},
          </otherwise>
        </choose>
      </if>
      <if test="PO_BOX != null" >
        <choose >
          <when test="PO_BOX.equals(&quot;&quot;)" >
            PO_BOX = NULL ,
          </when>
          <otherwise >
            PO_BOX = #{PO_BOX},
          </otherwise>
        </choose>
      </if>
      <if test="COUNTRY != null" >
        <choose >
          <when test="COUNTRY.equals(&quot;&quot;)" >
            COUNTRY = NULL ,
          </when>
          <otherwise >
            COUNTRY = #{COUNTRY},
          </otherwise>
        </choose>
      </if>
      <if test="RESIDENTIAL_NO != null" >
        <choose >
          <when test="RESIDENTIAL_NO.equals(&quot;&quot;)" >
            RESIDENTIAL_NO = NULL ,
          </when>
          <otherwise >
            RESIDENTIAL_NO = #{RESIDENTIAL_NO},
          </otherwise>
        </choose>
      </if>
      <if test="RESIDENTIAL_SIZE != null" >
        <choose >
          <when test="RESIDENTIAL_SIZE.equals(&quot;&quot;)" >
            RESIDENTIAL_SIZE = NULL ,
          </when>
          <otherwise >
            RESIDENTIAL_SIZE = #{RESIDENTIAL_SIZE},
          </otherwise>
        </choose>
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_NO = #{LINE_NO}
      and REF_NO = #{REF_NO}
  </sql>
  <update id="updateTRSTRDE_PDET" parameterType="com.path.dbmaps.vo.TRSTRDE_PDETVO" >
    <include refid="sql_updateTRSTRDE_PDET" />
  </update>
</mapper>