<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRSUSRLIMITDET" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRSUSRLIMITDETVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="CLASS" property="CLASS" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="CURRENCY" property="CURRENCY" />
    <id column="USER_ID" property="USER_ID" />
    <result column="AUTHORIZATION_LIMIT" property="AUTHORIZATION_LIMIT" />
    <result column="INTRADAY_LIMIT" property="INTRADAY_LIMIT" />
    <result column="OPEN_LIMIT" property="OPEN_LIMIT" />
    <result column="AUTH_LIMIT_ACTUAL" property="AUTH_LIMIT_ACTUAL" />
    <result column="INTRADAY_LIMIT_ACTUAL" property="INTRADAY_LIMIT_ACTUAL" />
    <result column="OPEN_LIMIT_ACTUAL" property="OPEN_LIMIT_ACTUAL" />
    <result column="VALIDATION_BASED_ON" property="VALIDATION_BASED_ON" />
    <result column="TXN_LIMIT_AMOUNT" property="TXN_LIMIT_AMOUNT" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, CLASS, COMP_CODE, CURRENCY, USER_ID, AUTHORIZATION_LIMIT, INTRADAY_LIMIT, 
    OPEN_LIMIT, AUTH_LIMIT_ACTUAL, INTRADAY_LIMIT_ACTUAL, OPEN_LIMIT_ACTUAL, VALIDATION_BASED_ON, 
    TXN_LIMIT_AMOUNT
  </sql>
  <select id="selectTRSUSRLIMITDET" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRSUSRLIMITDETVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRSUSRLIMITDET
    where BRANCH_CODE = #{BRANCH_CODE}
      and CLASS = #{CLASS}
      and COMP_CODE = #{COMP_CODE}
      and CURRENCY = #{CURRENCY}
      and USER_ID = #{USER_ID}
  </select>
  <delete id="deleteTRSUSRLIMITDET" parameterType="com.path.dbmaps.vo.TRSUSRLIMITDETVOKey" >
    delete from TRSUSRLIMITDET
    where BRANCH_CODE = #{BRANCH_CODE}
      and CLASS = #{CLASS}
      and COMP_CODE = #{COMP_CODE}
      and CURRENCY = #{CURRENCY}
      and USER_ID = #{USER_ID}
  </delete>
  <insert id="insertTRSUSRLIMITDET" parameterType="com.path.dbmaps.vo.TRSUSRLIMITDETVO" >
    insert into TRSUSRLIMITDET
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="CLASS != null and CLASS != emptyBigDecimalValue" >
        CLASS,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="CURRENCY != null and CURRENCY != emptyBigDecimalValue" >
        CURRENCY,
      </if>
      <if test="USER_ID != null" >
        USER_ID,
      </if>
      <if test="AUTHORIZATION_LIMIT != null and AUTHORIZATION_LIMIT != emptyBigDecimalValue" >
        AUTHORIZATION_LIMIT,
      </if>
      <if test="INTRADAY_LIMIT != null and INTRADAY_LIMIT != emptyBigDecimalValue" >
        INTRADAY_LIMIT,
      </if>
      <if test="OPEN_LIMIT != null and OPEN_LIMIT != emptyBigDecimalValue" >
        OPEN_LIMIT,
      </if>
      <if test="AUTH_LIMIT_ACTUAL != null and AUTH_LIMIT_ACTUAL != emptyBigDecimalValue" >
        AUTH_LIMIT_ACTUAL,
      </if>
      <if test="INTRADAY_LIMIT_ACTUAL != null and INTRADAY_LIMIT_ACTUAL != emptyBigDecimalValue" >
        INTRADAY_LIMIT_ACTUAL,
      </if>
      <if test="OPEN_LIMIT_ACTUAL != null and OPEN_LIMIT_ACTUAL != emptyBigDecimalValue" >
        OPEN_LIMIT_ACTUAL,
      </if>
      <if test="VALIDATION_BASED_ON != null" >
        VALIDATION_BASED_ON,
      </if>
      <if test="TXN_LIMIT_AMOUNT != null and TXN_LIMIT_AMOUNT != emptyBigDecimalValue" >
        TXN_LIMIT_AMOUNT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="CLASS != null and CLASS != emptyBigDecimalValue" >
        #{CLASS},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="CURRENCY != null and CURRENCY != emptyBigDecimalValue" >
        #{CURRENCY},
      </if>
      <if test="USER_ID != null" >
        #{USER_ID},
      </if>
      <if test="AUTHORIZATION_LIMIT != null and AUTHORIZATION_LIMIT != emptyBigDecimalValue" >
        #{AUTHORIZATION_LIMIT},
      </if>
      <if test="INTRADAY_LIMIT != null and INTRADAY_LIMIT != emptyBigDecimalValue" >
        #{INTRADAY_LIMIT},
      </if>
      <if test="OPEN_LIMIT != null and OPEN_LIMIT != emptyBigDecimalValue" >
        #{OPEN_LIMIT},
      </if>
      <if test="AUTH_LIMIT_ACTUAL != null and AUTH_LIMIT_ACTUAL != emptyBigDecimalValue" >
        #{AUTH_LIMIT_ACTUAL},
      </if>
      <if test="INTRADAY_LIMIT_ACTUAL != null and INTRADAY_LIMIT_ACTUAL != emptyBigDecimalValue" >
        #{INTRADAY_LIMIT_ACTUAL},
      </if>
      <if test="OPEN_LIMIT_ACTUAL != null and OPEN_LIMIT_ACTUAL != emptyBigDecimalValue" >
        #{OPEN_LIMIT_ACTUAL},
      </if>
      <if test="VALIDATION_BASED_ON != null" >
        #{VALIDATION_BASED_ON},
      </if>
      <if test="TXN_LIMIT_AMOUNT != null and TXN_LIMIT_AMOUNT != emptyBigDecimalValue" >
        #{TXN_LIMIT_AMOUNT},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRSUSRLIMITDET" >
    update TRSUSRLIMITDET
    <set >
      <if test="AUTHORIZATION_LIMIT != null" >
        <choose >
          <when test="AUTHORIZATION_LIMIT == emptyBigDecimalValue" >
            AUTHORIZATION_LIMIT = NULL ,
          </when>
          <otherwise >
            AUTHORIZATION_LIMIT = #{AUTHORIZATION_LIMIT},
          </otherwise>
        </choose>
      </if>
      <if test="INTRADAY_LIMIT != null" >
        <choose >
          <when test="INTRADAY_LIMIT == emptyBigDecimalValue" >
            INTRADAY_LIMIT = NULL ,
          </when>
          <otherwise >
            INTRADAY_LIMIT = #{INTRADAY_LIMIT},
          </otherwise>
        </choose>
      </if>
      <if test="OPEN_LIMIT != null" >
        <choose >
          <when test="OPEN_LIMIT == emptyBigDecimalValue" >
            OPEN_LIMIT = NULL ,
          </when>
          <otherwise >
            OPEN_LIMIT = #{OPEN_LIMIT},
          </otherwise>
        </choose>
      </if>
      <if test="AUTH_LIMIT_ACTUAL != null" >
        <choose >
          <when test="AUTH_LIMIT_ACTUAL == emptyBigDecimalValue" >
            AUTH_LIMIT_ACTUAL = NULL ,
          </when>
          <otherwise >
            AUTH_LIMIT_ACTUAL = #{AUTH_LIMIT_ACTUAL},
          </otherwise>
        </choose>
      </if>
      <if test="INTRADAY_LIMIT_ACTUAL != null" >
        <choose >
          <when test="INTRADAY_LIMIT_ACTUAL == emptyBigDecimalValue" >
            INTRADAY_LIMIT_ACTUAL = NULL ,
          </when>
          <otherwise >
            INTRADAY_LIMIT_ACTUAL = #{INTRADAY_LIMIT_ACTUAL},
          </otherwise>
        </choose>
      </if>
      <if test="OPEN_LIMIT_ACTUAL != null" >
        <choose >
          <when test="OPEN_LIMIT_ACTUAL == emptyBigDecimalValue" >
            OPEN_LIMIT_ACTUAL = NULL ,
          </when>
          <otherwise >
            OPEN_LIMIT_ACTUAL = #{OPEN_LIMIT_ACTUAL},
          </otherwise>
        </choose>
      </if>
      <if test="VALIDATION_BASED_ON != null" >
        VALIDATION_BASED_ON = #{VALIDATION_BASED_ON},
      </if>
      <if test="TXN_LIMIT_AMOUNT != null" >
        <choose >
          <when test="TXN_LIMIT_AMOUNT == emptyBigDecimalValue" >
            TXN_LIMIT_AMOUNT = NULL ,
          </when>
          <otherwise >
            TXN_LIMIT_AMOUNT = #{TXN_LIMIT_AMOUNT},
          </otherwise>
        </choose>
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and CLASS = #{CLASS}
      and COMP_CODE = #{COMP_CODE}
      and CURRENCY = #{CURRENCY}
      and USER_ID = #{USER_ID}
  </sql>
  <update id="updateTRSUSRLIMITDET" parameterType="com.path.dbmaps.vo.TRSUSRLIMITDETVO" >
    <include refid="sql_updateTRSUSRLIMITDET" />
  </update>
</mapper>