<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRX_TEMPLATE_PARAM" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRX_TEMPLATE_PARAMVO" >
    <id column="APP_NAME" property="APP_NAME" />
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="CODE_PARAM" property="CODE_PARAM" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="TRS_NO" property="TRS_NO" />
    <id column="TRS_TYPE" property="TRS_TYPE" />
    <id column="USER_ID" property="USER_ID" />
    <result column="VALUE_PARAM" property="VALUE_PARAM" />
    <result column="STRING_PARAM" property="STRING_PARAM" />
    <result column="DATE_PARAM" property="DATE_PARAM" />
  </resultMap>
  <sql id="Base_Column_List" >
    APP_NAME, BRANCH_CODE, CODE_PARAM, COMP_CODE, TRS_NO, TRS_TYPE, USER_ID, VALUE_PARAM, 
    STRING_PARAM, DATE_PARAM
  </sql>
  <select id="selectTRX_TEMPLATE_PARAM" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRX_TEMPLATE_PARAMVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRX_TEMPLATE_PARAM
    where APP_NAME = #{APP_NAME}
      and BRANCH_CODE = #{BRANCH_CODE}
      and CODE_PARAM = #{CODE_PARAM}
      and COMP_CODE = #{COMP_CODE}
      and TRS_NO = #{TRS_NO}
      and TRS_TYPE = #{TRS_TYPE}
      and USER_ID = #{USER_ID}
  </select>
  <delete id="deleteTRX_TEMPLATE_PARAM" parameterType="com.path.dbmaps.vo.TRX_TEMPLATE_PARAMVOKey" >
    delete from TRX_TEMPLATE_PARAM
    where APP_NAME = #{APP_NAME}
      and BRANCH_CODE = #{BRANCH_CODE}
      and CODE_PARAM = #{CODE_PARAM}
      and COMP_CODE = #{COMP_CODE}
      and TRS_NO = #{TRS_NO}
      and TRS_TYPE = #{TRS_TYPE}
      and USER_ID = #{USER_ID}
  </delete>
  <insert id="insertTRX_TEMPLATE_PARAM" parameterType="com.path.dbmaps.vo.TRX_TEMPLATE_PARAMVO" >
    insert into TRX_TEMPLATE_PARAM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="APP_NAME != null" >
        APP_NAME,
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="CODE_PARAM != null and CODE_PARAM != emptyBigDecimalValue" >
        CODE_PARAM,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="TRS_NO != null and TRS_NO != emptyBigDecimalValue" >
        TRS_NO,
      </if>
      <if test="TRS_TYPE != null" >
        TRS_TYPE,
      </if>
      <if test="USER_ID != null" >
        USER_ID,
      </if>
      <if test="VALUE_PARAM != null and VALUE_PARAM != emptyBigDecimalValue" >
        VALUE_PARAM,
      </if>
      <if test="STRING_PARAM != null" >
        STRING_PARAM,
      </if>
      <if test="DATE_PARAM != null" >
        DATE_PARAM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="APP_NAME != null" >
        #{APP_NAME},
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="CODE_PARAM != null and CODE_PARAM != emptyBigDecimalValue" >
        #{CODE_PARAM},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="TRS_NO != null and TRS_NO != emptyBigDecimalValue" >
        #{TRS_NO},
      </if>
      <if test="TRS_TYPE != null" >
        #{TRS_TYPE},
      </if>
      <if test="USER_ID != null" >
        #{USER_ID},
      </if>
      <if test="VALUE_PARAM != null and VALUE_PARAM != emptyBigDecimalValue" >
        #{VALUE_PARAM},
      </if>
      <if test="STRING_PARAM != null" >
        #{STRING_PARAM},
      </if>
      <if test="DATE_PARAM != null" >
        #{DATE_PARAM},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRX_TEMPLATE_PARAM" >
    update TRX_TEMPLATE_PARAM
    <set >
      <if test="VALUE_PARAM != null" >
        <choose >
          <when test="VALUE_PARAM == emptyBigDecimalValue" >
            VALUE_PARAM = NULL ,
          </when>
          <otherwise >
            VALUE_PARAM = #{VALUE_PARAM},
          </otherwise>
        </choose>
      </if>
      <if test="STRING_PARAM != null" >
        STRING_PARAM = #{STRING_PARAM},
      </if>
      <if test="DATE_PARAM != null" >
        DATE_PARAM = #{DATE_PARAM},
      </if>
    </set>
    where APP_NAME = #{APP_NAME}
      and BRANCH_CODE = #{BRANCH_CODE}
      and CODE_PARAM = #{CODE_PARAM}
      and COMP_CODE = #{COMP_CODE}
      and TRS_NO = #{TRS_NO}
      and TRS_TYPE = #{TRS_TYPE}
      and USER_ID = #{USER_ID}
  </sql>
  <update id="updateTRX_TEMPLATE_PARAM" parameterType="com.path.dbmaps.vo.TRX_TEMPLATE_PARAMVO" >
    <include refid="sql_updateTRX_TEMPLATE_PARAM" />
  </update>
</mapper>