<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRX_TEMPLATEDET" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRX_TEMPLATEDETVO" >
    <id column="APP_NAME" property="APP_NAME" />
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="LINE_COUNTER" property="LINE_COUNTER" />
    <result column="LINE_NO" property="LINE_NO" />
    <result column="COMP_TYPE" property="COMP_TYPE" />
    <result column="ACC_COMP_CODE" property="ACC_COMP_CODE" />
    <result column="ACC_BR_CODE" property="ACC_BR_CODE" />
    <result column="ACC_CY" property="ACC_CY" />
    <result column="ACC_GL_CODE" property="ACC_GL_CODE" />
    <result column="ACC_CIF" property="ACC_CIF" />
    <result column="ACC_SL" property="ACC_SL" />
    <result column="CIF_TYPE" property="CIF_TYPE" />
    <result column="ACC_SIGN" property="ACC_SIGN" />
    <result column="AMT_TYPE" property="AMT_TYPE" />
    <result column="GL_TYPE" property="GL_TYPE" />
    <result column="ENTRY_TYPE" property="ENTRY_TYPE" />
    <result column="N_TYPE_1" property="n_TYPE_1" />
    <result column="N_VAL_1" property="n_VAL_1" />
    <result column="N_TYPE_2" property="n_TYPE_2" />
    <result column="N_VAL_2" property="n_VAL_2" />
    <result column="N_TYPE_3" property="n_TYPE_3" />
    <result column="N_VAL_3" property="n_VAL_3" />
    <result column="N_TYPE_4" property="n_TYPE_4" />
    <result column="N_VAL_4" property="n_VAL_4" />
    <result column="N_TYPE_5" property="n_TYPE_5" />
    <result column="N_VAL_5" property="n_VAL_5" />
    <result column="S_TYPE_1" property="s_TYPE_1" />
    <result column="S_VAL_1" property="s_VAL_1" />
    <result column="S_TYPE_2" property="s_TYPE_2" />
    <result column="S_VAL_2" property="s_VAL_2" />
    <result column="S_TYPE_3" property="s_TYPE_3" />
    <result column="S_VAL_3" property="s_VAL_3" />
    <result column="S_TYPE_4" property="s_TYPE_4" />
    <result column="S_VAL_4" property="s_VAL_4" />
    <result column="S_TYPE_5" property="s_TYPE_5" />
    <result column="S_VAL_5" property="s_VAL_5" />
    <result column="D_TYPE_1" property="d_TYPE_1" />
    <result column="D_VAL_1" property="d_VAL_1" />
    <result column="D_TYPE_2" property="d_TYPE_2" />
    <result column="D_VAL_2" property="d_VAL_2" />
    <result column="D_TYPE_3" property="d_TYPE_3" />
    <result column="D_VAL_3" property="d_VAL_3" />
    <result column="D_TYPE_4" property="d_TYPE_4" />
    <result column="D_VAL_4" property="d_VAL_4" />
    <result column="D_TYPE_5" property="d_TYPE_5" />
    <result column="D_VAL_5" property="d_VAL_5" />
    <result column="AMT_NAME" property="AMT_NAME" />
    <result column="TR_CODE" property="TR_CODE" />
    <result column="ALT_GL_TYPE" property="ALT_GL_TYPE" />
    <result column="ALT_GL_CODE" property="ALT_GL_CODE" />
    <result column="ALT_CIF_TYPE" property="ALT_CIF_TYPE" />
    <result column="ALT_CIF" property="ALT_CIF" />
    <result column="ALT_SL" property="ALT_SL" />
    <result column="BR_TYPE" property="BR_TYPE" />
    <result column="CY_TYPE" property="CY_TYPE" />
    <result column="JOIN_DUPLICATE" property="JOIN_DUPLICATE" />
    <result column="TRADE_DATE_TYPE" property="TRADE_DATE_TYPE" />
    <result column="VALUE_DATE_TYPE" property="VALUE_DATE_TYPE" />
    <result column="ADDITIONAL_REFERENCE" property="ADDITIONAL_REFERENCE" />
    <result column="BALANCE_AVAILABILITY" property="BALANCE_AVAILABILITY" />
    <result column="HIST_RATE" property="HIST_RATE" />
    <result column="BUY_SELL_RATE" property="BUY_SELL_RATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    APP_NAME, BRANCH_CODE, CODE, COMP_CODE, LINE_COUNTER, LINE_NO, COMP_TYPE, ACC_COMP_CODE, 
    ACC_BR_CODE, ACC_CY, ACC_GL_CODE, ACC_CIF, ACC_SL, CIF_TYPE, ACC_SIGN, AMT_TYPE, 
    GL_TYPE, ENTRY_TYPE, N_TYPE_1, N_VAL_1, N_TYPE_2, N_VAL_2, N_TYPE_3, N_VAL_3, N_TYPE_4, 
    N_VAL_4, N_TYPE_5, N_VAL_5, S_TYPE_1, S_VAL_1, S_TYPE_2, S_VAL_2, S_TYPE_3, S_VAL_3, 
    S_TYPE_4, S_VAL_4, S_TYPE_5, S_VAL_5, D_TYPE_1, D_VAL_1, D_TYPE_2, D_VAL_2, D_TYPE_3, 
    D_VAL_3, D_TYPE_4, D_VAL_4, D_TYPE_5, D_VAL_5, AMT_NAME, TR_CODE, ALT_GL_TYPE, ALT_GL_CODE, 
    ALT_CIF_TYPE, ALT_CIF, ALT_SL, BR_TYPE, CY_TYPE, JOIN_DUPLICATE, TRADE_DATE_TYPE, 
    VALUE_DATE_TYPE, ADDITIONAL_REFERENCE, BALANCE_AVAILABILITY, HIST_RATE, BUY_SELL_RATE
  </sql>
  <select id="selectTRX_TEMPLATEDET" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRX_TEMPLATEDETVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRX_TEMPLATEDET
    where APP_NAME = #{APP_NAME}
      and BRANCH_CODE = #{BRANCH_CODE}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_COUNTER = #{LINE_COUNTER}
  </select>
  <delete id="deleteTRX_TEMPLATEDET" parameterType="com.path.dbmaps.vo.TRX_TEMPLATEDETVOKey" >
    delete from TRX_TEMPLATEDET
    where APP_NAME = #{APP_NAME}
      and BRANCH_CODE = #{BRANCH_CODE}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_COUNTER = #{LINE_COUNTER}
  </delete>
  <insert id="insertTRX_TEMPLATEDET" parameterType="com.path.dbmaps.vo.TRX_TEMPLATEDETVO" >
    insert into TRX_TEMPLATEDET
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="APP_NAME != null" >
        APP_NAME,
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="LINE_COUNTER != null and LINE_COUNTER != emptyBigDecimalValue" >
        LINE_COUNTER,
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        LINE_NO,
      </if>
      <if test="COMP_TYPE != null" >
        COMP_TYPE,
      </if>
      <if test="ACC_COMP_CODE != null and ACC_COMP_CODE != emptyBigDecimalValue" >
        ACC_COMP_CODE,
      </if>
      <if test="ACC_BR_CODE != null and ACC_BR_CODE != emptyBigDecimalValue" >
        ACC_BR_CODE,
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        ACC_CY,
      </if>
      <if test="ACC_GL_CODE != null and ACC_GL_CODE != emptyBigDecimalValue" >
        ACC_GL_CODE,
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        ACC_CIF,
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        ACC_SL,
      </if>
      <if test="CIF_TYPE != null" >
        CIF_TYPE,
      </if>
      <if test="ACC_SIGN != null" >
        ACC_SIGN,
      </if>
      <if test="AMT_TYPE != null" >
        AMT_TYPE,
      </if>
      <if test="GL_TYPE != null" >
        GL_TYPE,
      </if>
      <if test="ENTRY_TYPE != null" >
        ENTRY_TYPE,
      </if>
      <if test="n_TYPE_1 != null and n_TYPE_1 != emptyBigDecimalValue" >
        N_TYPE_1,
      </if>
      <if test="n_VAL_1 != null and n_VAL_1 != emptyBigDecimalValue" >
        N_VAL_1,
      </if>
      <if test="n_TYPE_2 != null and n_TYPE_2 != emptyBigDecimalValue" >
        N_TYPE_2,
      </if>
      <if test="n_VAL_2 != null and n_VAL_2 != emptyBigDecimalValue" >
        N_VAL_2,
      </if>
      <if test="n_TYPE_3 != null and n_TYPE_3 != emptyBigDecimalValue" >
        N_TYPE_3,
      </if>
      <if test="n_VAL_3 != null and n_VAL_3 != emptyBigDecimalValue" >
        N_VAL_3,
      </if>
      <if test="n_TYPE_4 != null and n_TYPE_4 != emptyBigDecimalValue" >
        N_TYPE_4,
      </if>
      <if test="n_VAL_4 != null and n_VAL_4 != emptyBigDecimalValue" >
        N_VAL_4,
      </if>
      <if test="n_TYPE_5 != null and n_TYPE_5 != emptyBigDecimalValue" >
        N_TYPE_5,
      </if>
      <if test="n_VAL_5 != null and n_VAL_5 != emptyBigDecimalValue" >
        N_VAL_5,
      </if>
      <if test="s_TYPE_1 != null and s_TYPE_1 != emptyBigDecimalValue" >
        S_TYPE_1,
      </if>
      <if test="s_VAL_1 != null" >
        S_VAL_1,
      </if>
      <if test="s_TYPE_2 != null and s_TYPE_2 != emptyBigDecimalValue" >
        S_TYPE_2,
      </if>
      <if test="s_VAL_2 != null" >
        S_VAL_2,
      </if>
      <if test="s_TYPE_3 != null and s_TYPE_3 != emptyBigDecimalValue" >
        S_TYPE_3,
      </if>
      <if test="s_VAL_3 != null" >
        S_VAL_3,
      </if>
      <if test="s_TYPE_4 != null and s_TYPE_4 != emptyBigDecimalValue" >
        S_TYPE_4,
      </if>
      <if test="s_VAL_4 != null" >
        S_VAL_4,
      </if>
      <if test="s_TYPE_5 != null and s_TYPE_5 != emptyBigDecimalValue" >
        S_TYPE_5,
      </if>
      <if test="s_VAL_5 != null" >
        S_VAL_5,
      </if>
      <if test="d_TYPE_1 != null and d_TYPE_1 != emptyBigDecimalValue" >
        D_TYPE_1,
      </if>
      <if test="d_VAL_1 != null" >
        D_VAL_1,
      </if>
      <if test="d_TYPE_2 != null and d_TYPE_2 != emptyBigDecimalValue" >
        D_TYPE_2,
      </if>
      <if test="d_VAL_2 != null" >
        D_VAL_2,
      </if>
      <if test="d_TYPE_3 != null and d_TYPE_3 != emptyBigDecimalValue" >
        D_TYPE_3,
      </if>
      <if test="d_VAL_3 != null" >
        D_VAL_3,
      </if>
      <if test="d_TYPE_4 != null and d_TYPE_4 != emptyBigDecimalValue" >
        D_TYPE_4,
      </if>
      <if test="d_VAL_4 != null" >
        D_VAL_4,
      </if>
      <if test="d_TYPE_5 != null and d_TYPE_5 != emptyBigDecimalValue" >
        D_TYPE_5,
      </if>
      <if test="d_VAL_5 != null" >
        D_VAL_5,
      </if>
      <if test="AMT_NAME != null" >
        AMT_NAME,
      </if>
      <if test="TR_CODE != null and TR_CODE != emptyBigDecimalValue" >
        TR_CODE,
      </if>
      <if test="ALT_GL_TYPE != null" >
        ALT_GL_TYPE,
      </if>
      <if test="ALT_GL_CODE != null and ALT_GL_CODE != emptyBigDecimalValue" >
        ALT_GL_CODE,
      </if>
      <if test="ALT_CIF_TYPE != null" >
        ALT_CIF_TYPE,
      </if>
      <if test="ALT_CIF != null and ALT_CIF != emptyBigDecimalValue" >
        ALT_CIF,
      </if>
      <if test="ALT_SL != null and ALT_SL != emptyBigDecimalValue" >
        ALT_SL,
      </if>
      <if test="BR_TYPE != null" >
        BR_TYPE,
      </if>
      <if test="CY_TYPE != null" >
        CY_TYPE,
      </if>
      <if test="JOIN_DUPLICATE != null" >
        JOIN_DUPLICATE,
      </if>
      <if test="TRADE_DATE_TYPE != null" >
        TRADE_DATE_TYPE,
      </if>
      <if test="VALUE_DATE_TYPE != null" >
        VALUE_DATE_TYPE,
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        ADDITIONAL_REFERENCE,
      </if>
      <if test="BALANCE_AVAILABILITY != null" >
        BALANCE_AVAILABILITY,
      </if>
      <if test="HIST_RATE != null" >
        HIST_RATE,
      </if>
      <if test="BUY_SELL_RATE != null" >
        BUY_SELL_RATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="APP_NAME != null" >
        #{APP_NAME},
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        #{CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="LINE_COUNTER != null and LINE_COUNTER != emptyBigDecimalValue" >
        #{LINE_COUNTER},
      </if>
      <if test="LINE_NO != null and LINE_NO != emptyBigDecimalValue" >
        #{LINE_NO},
      </if>
      <if test="COMP_TYPE != null" >
        #{COMP_TYPE},
      </if>
      <if test="ACC_COMP_CODE != null and ACC_COMP_CODE != emptyBigDecimalValue" >
        #{ACC_COMP_CODE},
      </if>
      <if test="ACC_BR_CODE != null and ACC_BR_CODE != emptyBigDecimalValue" >
        #{ACC_BR_CODE},
      </if>
      <if test="ACC_CY != null and ACC_CY != emptyBigDecimalValue" >
        #{ACC_CY},
      </if>
      <if test="ACC_GL_CODE != null and ACC_GL_CODE != emptyBigDecimalValue" >
        #{ACC_GL_CODE},
      </if>
      <if test="ACC_CIF != null and ACC_CIF != emptyBigDecimalValue" >
        #{ACC_CIF},
      </if>
      <if test="ACC_SL != null and ACC_SL != emptyBigDecimalValue" >
        #{ACC_SL},
      </if>
      <if test="CIF_TYPE != null" >
        #{CIF_TYPE},
      </if>
      <if test="ACC_SIGN != null" >
        #{ACC_SIGN},
      </if>
      <if test="AMT_TYPE != null" >
        #{AMT_TYPE},
      </if>
      <if test="GL_TYPE != null" >
        #{GL_TYPE},
      </if>
      <if test="ENTRY_TYPE != null" >
        #{ENTRY_TYPE},
      </if>
      <if test="n_TYPE_1 != null and n_TYPE_1 != emptyBigDecimalValue" >
        #{n_TYPE_1},
      </if>
      <if test="n_VAL_1 != null and n_VAL_1 != emptyBigDecimalValue" >
        #{n_VAL_1},
      </if>
      <if test="n_TYPE_2 != null and n_TYPE_2 != emptyBigDecimalValue" >
        #{n_TYPE_2},
      </if>
      <if test="n_VAL_2 != null and n_VAL_2 != emptyBigDecimalValue" >
        #{n_VAL_2},
      </if>
      <if test="n_TYPE_3 != null and n_TYPE_3 != emptyBigDecimalValue" >
        #{n_TYPE_3},
      </if>
      <if test="n_VAL_3 != null and n_VAL_3 != emptyBigDecimalValue" >
        #{n_VAL_3},
      </if>
      <if test="n_TYPE_4 != null and n_TYPE_4 != emptyBigDecimalValue" >
        #{n_TYPE_4},
      </if>
      <if test="n_VAL_4 != null and n_VAL_4 != emptyBigDecimalValue" >
        #{n_VAL_4},
      </if>
      <if test="n_TYPE_5 != null and n_TYPE_5 != emptyBigDecimalValue" >
        #{n_TYPE_5},
      </if>
      <if test="n_VAL_5 != null and n_VAL_5 != emptyBigDecimalValue" >
        #{n_VAL_5},
      </if>
      <if test="s_TYPE_1 != null and s_TYPE_1 != emptyBigDecimalValue" >
        #{s_TYPE_1},
      </if>
      <if test="s_VAL_1 != null" >
        #{s_VAL_1},
      </if>
      <if test="s_TYPE_2 != null and s_TYPE_2 != emptyBigDecimalValue" >
        #{s_TYPE_2},
      </if>
      <if test="s_VAL_2 != null" >
        #{s_VAL_2},
      </if>
      <if test="s_TYPE_3 != null and s_TYPE_3 != emptyBigDecimalValue" >
        #{s_TYPE_3},
      </if>
      <if test="s_VAL_3 != null" >
        #{s_VAL_3},
      </if>
      <if test="s_TYPE_4 != null and s_TYPE_4 != emptyBigDecimalValue" >
        #{s_TYPE_4},
      </if>
      <if test="s_VAL_4 != null" >
        #{s_VAL_4},
      </if>
      <if test="s_TYPE_5 != null and s_TYPE_5 != emptyBigDecimalValue" >
        #{s_TYPE_5},
      </if>
      <if test="s_VAL_5 != null" >
        #{s_VAL_5},
      </if>
      <if test="d_TYPE_1 != null and d_TYPE_1 != emptyBigDecimalValue" >
        #{d_TYPE_1},
      </if>
      <if test="d_VAL_1 != null" >
        #{d_VAL_1},
      </if>
      <if test="d_TYPE_2 != null and d_TYPE_2 != emptyBigDecimalValue" >
        #{d_TYPE_2},
      </if>
      <if test="d_VAL_2 != null" >
        #{d_VAL_2},
      </if>
      <if test="d_TYPE_3 != null and d_TYPE_3 != emptyBigDecimalValue" >
        #{d_TYPE_3},
      </if>
      <if test="d_VAL_3 != null" >
        #{d_VAL_3},
      </if>
      <if test="d_TYPE_4 != null and d_TYPE_4 != emptyBigDecimalValue" >
        #{d_TYPE_4},
      </if>
      <if test="d_VAL_4 != null" >
        #{d_VAL_4},
      </if>
      <if test="d_TYPE_5 != null and d_TYPE_5 != emptyBigDecimalValue" >
        #{d_TYPE_5},
      </if>
      <if test="d_VAL_5 != null" >
        #{d_VAL_5},
      </if>
      <if test="AMT_NAME != null" >
        #{AMT_NAME},
      </if>
      <if test="TR_CODE != null and TR_CODE != emptyBigDecimalValue" >
        #{TR_CODE},
      </if>
      <if test="ALT_GL_TYPE != null" >
        #{ALT_GL_TYPE},
      </if>
      <if test="ALT_GL_CODE != null and ALT_GL_CODE != emptyBigDecimalValue" >
        #{ALT_GL_CODE},
      </if>
      <if test="ALT_CIF_TYPE != null" >
        #{ALT_CIF_TYPE},
      </if>
      <if test="ALT_CIF != null and ALT_CIF != emptyBigDecimalValue" >
        #{ALT_CIF},
      </if>
      <if test="ALT_SL != null and ALT_SL != emptyBigDecimalValue" >
        #{ALT_SL},
      </if>
      <if test="BR_TYPE != null" >
        #{BR_TYPE},
      </if>
      <if test="CY_TYPE != null" >
        #{CY_TYPE},
      </if>
      <if test="JOIN_DUPLICATE != null" >
        #{JOIN_DUPLICATE},
      </if>
      <if test="TRADE_DATE_TYPE != null" >
        #{TRADE_DATE_TYPE},
      </if>
      <if test="VALUE_DATE_TYPE != null" >
        #{VALUE_DATE_TYPE},
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        #{ADDITIONAL_REFERENCE},
      </if>
      <if test="BALANCE_AVAILABILITY != null" >
        #{BALANCE_AVAILABILITY},
      </if>
      <if test="HIST_RATE != null" >
        #{HIST_RATE},
      </if>
      <if test="BUY_SELL_RATE != null" >
        #{BUY_SELL_RATE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRX_TEMPLATEDET" >
    update TRX_TEMPLATEDET
    <set >
      <if test="LINE_NO != null" >
        <choose >
          <when test="LINE_NO == emptyBigDecimalValue" >
            LINE_NO = NULL ,
          </when>
          <otherwise >
            LINE_NO = #{LINE_NO},
          </otherwise>
        </choose>
      </if>
      <if test="COMP_TYPE != null" >
        COMP_TYPE = #{COMP_TYPE},
      </if>
      <if test="ACC_COMP_CODE != null" >
        <choose >
          <when test="ACC_COMP_CODE == emptyBigDecimalValue" >
            ACC_COMP_CODE = NULL ,
          </when>
          <otherwise >
            ACC_COMP_CODE = #{ACC_COMP_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_BR_CODE != null" >
        <choose >
          <when test="ACC_BR_CODE == emptyBigDecimalValue" >
            ACC_BR_CODE = NULL ,
          </when>
          <otherwise >
            ACC_BR_CODE = #{ACC_BR_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CY != null" >
        <choose >
          <when test="ACC_CY == emptyBigDecimalValue" >
            ACC_CY = NULL ,
          </when>
          <otherwise >
            ACC_CY = #{ACC_CY},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_GL_CODE != null" >
        <choose >
          <when test="ACC_GL_CODE == emptyBigDecimalValue" >
            ACC_GL_CODE = NULL ,
          </when>
          <otherwise >
            ACC_GL_CODE = #{ACC_GL_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_CIF != null" >
        <choose >
          <when test="ACC_CIF == emptyBigDecimalValue" >
            ACC_CIF = NULL ,
          </when>
          <otherwise >
            ACC_CIF = #{ACC_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="ACC_SL != null" >
        <choose >
          <when test="ACC_SL == emptyBigDecimalValue" >
            ACC_SL = NULL ,
          </when>
          <otherwise >
            ACC_SL = #{ACC_SL},
          </otherwise>
        </choose>
      </if>
      <if test="CIF_TYPE != null" >
        CIF_TYPE = #{CIF_TYPE},
      </if>
      <if test="ACC_SIGN != null" >
        ACC_SIGN = #{ACC_SIGN},
      </if>
      <if test="AMT_TYPE != null" >
        AMT_TYPE = #{AMT_TYPE},
      </if>
      <if test="GL_TYPE != null" >
        GL_TYPE = #{GL_TYPE},
      </if>
      <if test="ENTRY_TYPE != null" >
        ENTRY_TYPE = #{ENTRY_TYPE},
      </if>
      <if test="n_TYPE_1 != null" >
        <choose >
          <when test="n_TYPE_1 == emptyBigDecimalValue" >
            N_TYPE_1 = NULL ,
          </when>
          <otherwise >
            N_TYPE_1 = #{n_TYPE_1},
          </otherwise>
        </choose>
      </if>
      <if test="n_VAL_1 != null" >
        <choose >
          <when test="n_VAL_1 == emptyBigDecimalValue" >
            N_VAL_1 = NULL ,
          </when>
          <otherwise >
            N_VAL_1 = #{n_VAL_1},
          </otherwise>
        </choose>
      </if>
      <if test="n_TYPE_2 != null" >
        <choose >
          <when test="n_TYPE_2 == emptyBigDecimalValue" >
            N_TYPE_2 = NULL ,
          </when>
          <otherwise >
            N_TYPE_2 = #{n_TYPE_2},
          </otherwise>
        </choose>
      </if>
      <if test="n_VAL_2 != null" >
        <choose >
          <when test="n_VAL_2 == emptyBigDecimalValue" >
            N_VAL_2 = NULL ,
          </when>
          <otherwise >
            N_VAL_2 = #{n_VAL_2},
          </otherwise>
        </choose>
      </if>
      <if test="n_TYPE_3 != null" >
        <choose >
          <when test="n_TYPE_3 == emptyBigDecimalValue" >
            N_TYPE_3 = NULL ,
          </when>
          <otherwise >
            N_TYPE_3 = #{n_TYPE_3},
          </otherwise>
        </choose>
      </if>
      <if test="n_VAL_3 != null" >
        <choose >
          <when test="n_VAL_3 == emptyBigDecimalValue" >
            N_VAL_3 = NULL ,
          </when>
          <otherwise >
            N_VAL_3 = #{n_VAL_3},
          </otherwise>
        </choose>
      </if>
      <if test="n_TYPE_4 != null" >
        <choose >
          <when test="n_TYPE_4 == emptyBigDecimalValue" >
            N_TYPE_4 = NULL ,
          </when>
          <otherwise >
            N_TYPE_4 = #{n_TYPE_4},
          </otherwise>
        </choose>
      </if>
      <if test="n_VAL_4 != null" >
        <choose >
          <when test="n_VAL_4 == emptyBigDecimalValue" >
            N_VAL_4 = NULL ,
          </when>
          <otherwise >
            N_VAL_4 = #{n_VAL_4},
          </otherwise>
        </choose>
      </if>
      <if test="n_TYPE_5 != null" >
        <choose >
          <when test="n_TYPE_5 == emptyBigDecimalValue" >
            N_TYPE_5 = NULL ,
          </when>
          <otherwise >
            N_TYPE_5 = #{n_TYPE_5},
          </otherwise>
        </choose>
      </if>
      <if test="n_VAL_5 != null" >
        <choose >
          <when test="n_VAL_5 == emptyBigDecimalValue" >
            N_VAL_5 = NULL ,
          </when>
          <otherwise >
            N_VAL_5 = #{n_VAL_5},
          </otherwise>
        </choose>
      </if>
      <if test="s_TYPE_1 != null" >
        <choose >
          <when test="s_TYPE_1 == emptyBigDecimalValue" >
            S_TYPE_1 = NULL ,
          </when>
          <otherwise >
            S_TYPE_1 = #{s_TYPE_1},
          </otherwise>
        </choose>
      </if>
      <if test="s_VAL_1 != null" >
        S_VAL_1 = #{s_VAL_1},
      </if>
      <if test="s_TYPE_2 != null" >
        <choose >
          <when test="s_TYPE_2 == emptyBigDecimalValue" >
            S_TYPE_2 = NULL ,
          </when>
          <otherwise >
            S_TYPE_2 = #{s_TYPE_2},
          </otherwise>
        </choose>
      </if>
      <if test="s_VAL_2 != null" >
        S_VAL_2 = #{s_VAL_2},
      </if>
      <if test="s_TYPE_3 != null" >
        <choose >
          <when test="s_TYPE_3 == emptyBigDecimalValue" >
            S_TYPE_3 = NULL ,
          </when>
          <otherwise >
            S_TYPE_3 = #{s_TYPE_3},
          </otherwise>
        </choose>
      </if>
      <if test="s_VAL_3 != null" >
        S_VAL_3 = #{s_VAL_3},
      </if>
      <if test="s_TYPE_4 != null" >
        <choose >
          <when test="s_TYPE_4 == emptyBigDecimalValue" >
            S_TYPE_4 = NULL ,
          </when>
          <otherwise >
            S_TYPE_4 = #{s_TYPE_4},
          </otherwise>
        </choose>
      </if>
      <if test="s_VAL_4 != null" >
        S_VAL_4 = #{s_VAL_4},
      </if>
      <if test="s_TYPE_5 != null" >
        <choose >
          <when test="s_TYPE_5 == emptyBigDecimalValue" >
            S_TYPE_5 = NULL ,
          </when>
          <otherwise >
            S_TYPE_5 = #{s_TYPE_5},
          </otherwise>
        </choose>
      </if>
      <if test="s_VAL_5 != null" >
        S_VAL_5 = #{s_VAL_5},
      </if>
      <if test="d_TYPE_1 != null" >
        <choose >
          <when test="d_TYPE_1 == emptyBigDecimalValue" >
            D_TYPE_1 = NULL ,
          </when>
          <otherwise >
            D_TYPE_1 = #{d_TYPE_1},
          </otherwise>
        </choose>
      </if>
      <if test="d_VAL_1 != null" >
        D_VAL_1 = #{d_VAL_1},
      </if>
      <if test="d_TYPE_2 != null" >
        <choose >
          <when test="d_TYPE_2 == emptyBigDecimalValue" >
            D_TYPE_2 = NULL ,
          </when>
          <otherwise >
            D_TYPE_2 = #{d_TYPE_2},
          </otherwise>
        </choose>
      </if>
      <if test="d_VAL_2 != null" >
        D_VAL_2 = #{d_VAL_2},
      </if>
      <if test="d_TYPE_3 != null" >
        <choose >
          <when test="d_TYPE_3 == emptyBigDecimalValue" >
            D_TYPE_3 = NULL ,
          </when>
          <otherwise >
            D_TYPE_3 = #{d_TYPE_3},
          </otherwise>
        </choose>
      </if>
      <if test="d_VAL_3 != null" >
        D_VAL_3 = #{d_VAL_3},
      </if>
      <if test="d_TYPE_4 != null" >
        <choose >
          <when test="d_TYPE_4 == emptyBigDecimalValue" >
            D_TYPE_4 = NULL ,
          </when>
          <otherwise >
            D_TYPE_4 = #{d_TYPE_4},
          </otherwise>
        </choose>
      </if>
      <if test="d_VAL_4 != null" >
        D_VAL_4 = #{d_VAL_4},
      </if>
      <if test="d_TYPE_5 != null" >
        <choose >
          <when test="d_TYPE_5 == emptyBigDecimalValue" >
            D_TYPE_5 = NULL ,
          </when>
          <otherwise >
            D_TYPE_5 = #{d_TYPE_5},
          </otherwise>
        </choose>
      </if>
      <if test="d_VAL_5 != null" >
        D_VAL_5 = #{d_VAL_5},
      </if>
      <if test="AMT_NAME != null" >
        AMT_NAME = #{AMT_NAME},
      </if>
      <if test="TR_CODE != null" >
        <choose >
          <when test="TR_CODE == emptyBigDecimalValue" >
            TR_CODE = NULL ,
          </when>
          <otherwise >
            TR_CODE = #{TR_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="ALT_GL_TYPE != null" >
        ALT_GL_TYPE = #{ALT_GL_TYPE},
      </if>
      <if test="ALT_GL_CODE != null" >
        <choose >
          <when test="ALT_GL_CODE == emptyBigDecimalValue" >
            ALT_GL_CODE = NULL ,
          </when>
          <otherwise >
            ALT_GL_CODE = #{ALT_GL_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="ALT_CIF_TYPE != null" >
        ALT_CIF_TYPE = #{ALT_CIF_TYPE},
      </if>
      <if test="ALT_CIF != null" >
        <choose >
          <when test="ALT_CIF == emptyBigDecimalValue" >
            ALT_CIF = NULL ,
          </when>
          <otherwise >
            ALT_CIF = #{ALT_CIF},
          </otherwise>
        </choose>
      </if>
      <if test="ALT_SL != null" >
        <choose >
          <when test="ALT_SL == emptyBigDecimalValue" >
            ALT_SL = NULL ,
          </when>
          <otherwise >
            ALT_SL = #{ALT_SL},
          </otherwise>
        </choose>
      </if>
      <if test="BR_TYPE != null" >
        BR_TYPE = #{BR_TYPE},
      </if>
      <if test="CY_TYPE != null" >
        CY_TYPE = #{CY_TYPE},
      </if>
      <if test="JOIN_DUPLICATE != null" >
        JOIN_DUPLICATE = #{JOIN_DUPLICATE},
      </if>
      <if test="TRADE_DATE_TYPE != null" >
        TRADE_DATE_TYPE = #{TRADE_DATE_TYPE},
      </if>
      <if test="VALUE_DATE_TYPE != null" >
        VALUE_DATE_TYPE = #{VALUE_DATE_TYPE},
      </if>
      <if test="ADDITIONAL_REFERENCE != null" >
        ADDITIONAL_REFERENCE = #{ADDITIONAL_REFERENCE},
      </if>
      <if test="BALANCE_AVAILABILITY != null" >
        BALANCE_AVAILABILITY = #{BALANCE_AVAILABILITY},
      </if>
      <if test="HIST_RATE != null" >
        HIST_RATE = #{HIST_RATE},
      </if>
      <if test="BUY_SELL_RATE != null" >
        BUY_SELL_RATE = #{BUY_SELL_RATE},
      </if>
    </set>
    where APP_NAME = #{APP_NAME}
      and BRANCH_CODE = #{BRANCH_CODE}
      and CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
      and LINE_COUNTER = #{LINE_COUNTER}
  </sql>
  <update id="updateTRX_TEMPLATEDET" parameterType="com.path.dbmaps.vo.TRX_TEMPLATEDETVO" >
    <include refid="sql_updateTRX_TEMPLATEDET" />
  </update>
</mapper>