<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="professionSegmentListMapper">

 <sql id="professionSegmentListCommon">
			SELECT
			 CTS_PROFESSION_SEGMENT.CODE,
			 CTS_PROFESSION_SEGMENT.BRIEF_NAME_ENG,
			 CTS_PROFESSION_SEGMENT.BRIEF_NAME_ARAB,
			 CTS_PROFESSION_SEGMENT.LONG_NAME_ENG,
			 CTS_PROFESSION_SEGMENT.LONG_NAME_ARAB
	FROM  CTS_PROFESSION_SEGMENT  
WHERE	CTS_PROFESSION_SEGMENT.COMP_CODE  = #{compCode}
<if test='useCifMatrix != null and "1".equals(useCifMatrix)'>
	AND (exists (select 1 from RIFCTT_CIF_MATRIX
	where RIFCTT_CIF_MATRIX.COMP_CODE=CTS_PROFESSION_SEGMENT.COMP_CODE
	and RIFCTT_CIF_MATRIX.PROFESSION_SEGMENT_CODE = CTS_PROFESSION_SEGMENT.CODE 
	and RIFCTT_CIF_MATRIX.PROFESSION_CATEGORY_CODE = #{categoryCode,jdbcType=NUMERIC} 
	AND RIFCTT_CIF_MATRIX.TYPE_CODE= #{cifType,jdbcType=NUMERIC})
	or
 not exists (select 1 from RIFCTT_CIF_MATRIX
	where RIFCTT_CIF_MATRIX.COMP_CODE=CTS_PROFESSION_SEGMENT.COMP_CODE
		and RIFCTT_CIF_MATRIX.PROFESSION_CATEGORY_CODE = #{categoryCode,jdbcType=NUMERIC} 
		AND RIFCTT_CIF_MATRIX.TYPE_CODE= #{cifType,jdbcType=NUMERIC} ))
</if>		
 </sql>
 
 

 <resultMap id="professionSegmentList_ResMap" type="com.path.dbmaps.vo.CTS_PROFESSION_SEGMENTVO">
	<id property="CODE" column="CODE"/>
	<result property="BRIEF_NAME_ENG" column="BRIEF_NAME_ENG" />
	<result property="BRIEF_NAME_ARAB" column="BRIEF_NAME_ARAB" />
	<result property="LONG_NAME_ENG" column="LONG_NAME_ENG" />
	<result property="LONG_NAME_ARAB" column="LONG_NAME_ARAB" />
	<result property="ADDITIONAL_REFERENCE" column="ADDITIONAL_REFERENCE" />
 </resultMap>
 
 <select id="professionSegmentList" resultMap="professionSegmentList_ResMap" parameterType="com.path.vo.core.professionsegment.ProfessionSegmentSC" >
	<include refid="servicesCommon.commonGridWrpBefFlip"/>
	<include refid="professionSegmentListCommon"/>
	<include refid="servicesCommon.commonGridWrpAftFlip"/>
	<include refid="servicesCommon.commmonGridWrpFlipClose"/>
 </select>
 
 <select id="professionSegmentListCount" resultType="int" parameterType="com.path.vo.core.professionsegment.ProfessionSegmentSC" > 
	<include refid="servicesCommon.commonGridWrpBefCnt"/>
	<include refid="professionSegmentListCommon"/>
	<include refid="servicesCommon.commonGridWrpAftCnt"/>
	<include refid="servicesCommon.commonGridCountWrpClose"/>	
 </select>

  <select id="returnDependencyByProfessionSegment" parameterType="com.path.vo.core.professionsegment.ProfessionSegmentSC" resultType="com.path.dbmaps.vo.CTS_PROFESSION_SEGMENTVO">
		SELECT
			 	CODE,
			 	CASE WHEN #{preferredLanguage} = 'A' THEN BRIEF_NAME_ARAB ELSE BRIEF_NAME_ENG END BRIEF_NAME_ENG
		FROM  	CTS_PROFESSION_SEGMENT  
		WHERE	CTS_PROFESSION_SEGMENT.COMP_CODE    = #{compCode}
		 AND	CTS_PROFESSION_SEGMENT.CODE  = #{code}
		 <if test='useCifMatrix != null and "1".equals(useCifMatrix)'>
		 AND (exists (select 1 from RIFCTT_CIF_MATRIX
		where RIFCTT_CIF_MATRIX.COMP_CODE=CTS_PROFESSION_SEGMENT.COMP_CODE
		and RIFCTT_CIF_MATRIX.PROFESSION_SEGMENT_CODE = CTS_PROFESSION_SEGMENT.CODE 
		and RIFCTT_CIF_MATRIX.PROFESSION_CATEGORY_CODE = #{categoryCode,jdbcType=NUMERIC} 
		AND RIFCTT_CIF_MATRIX.TYPE_CODE= #{cifType,jdbcType=NUMERIC})
		or
	 not exists (select 1 from RIFCTT_CIF_MATRIX
		where RIFCTT_CIF_MATRIX.COMP_CODE=CTS_PROFESSION_SEGMENT.COMP_CODE
			and RIFCTT_CIF_MATRIX.PROFESSION_CATEGORY_CODE = #{categoryCode,jdbcType=NUMERIC} 
			AND RIFCTT_CIF_MATRIX.TYPE_CODE= #{cifType,jdbcType=NUMERIC} ))
			</if>
</select> 
</mapper>