<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cifReservedMapper">



<update id="updateCifReservedDetails" parameterType="com.path.dbmaps.vo.CIF_RESERVEDVO">
	
		UPDATE 	CIF_RESERVED SET 
		     
				ALLOCATED =  #{USER_ID,jdbcType=NUMERIC} ,
				USER_ID	 =  #{USER_ID,jdbcType=NUMERIC}
				
	       WHERE 	 
	
	      <if test="COMP_CODE!=null ">
		 COMP_CODE 	 	= #{COMP_CODE,jdbcType=NUMERIC}
		 </if>
	       <if test="CIF_NO!=null">
		   AND 	CIF_NO 	 	= #{CIF_NO,jdbcType=NUMERIC}
		   </if>
	
	</update>
	


</mapper>